@charset "utf-8";

/* reset */
/* .mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0} */

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:33.333334%;height:58%}
.event_wrap .evt_nav_wrap li:first-child{display:block;width:100%;height:42%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_lnk1{position:absolute;top:86%;left:13.5%;width:33.5%;height:4.8%}
.event_wrap .btn_lnk2{position:absolute;top:86%;left:47.8%;width:38.5%;height:4.8%}
.event_wrap .benefit_list{position:absolute;top:15%;right:0;left:0;bottom:22%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{width:100%;height:19%}
.event_wrap .benefit_list li:first-child{height:44%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}
.event_wrap .benefit_list li.item1{width:100%;height:100%;padding:0}

/* notice */
.event_wrap .p_evt_noti{background:#2bb427}
.event_wrap .evt_notice{padding:0 5.555555% 64px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-position:-24px 0;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.mobile .fb .event__stamp .stamp__step ul.benefit_list,
.tablet .fb .event__stamp .stamp__step ul.benefit_list{width:auto;padding:0}

/* stamp template reset */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0}
.mobile .fb .event__stamp .stamp__step__area, .tablet .fb .event__stamp .stamp__step__area{padding:8.33333vw 4.44444vw;box-sizing:border-box}

.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
