@charset "utf-8";

/* 
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
 */
@import url("./nanumbarungothic.css");

body,th,td,input,select,textarea,button{font-size:12px;font-family:"Nanum Barun Gothic",Tahoma,sans-serif;color:#565656}

/* Common */
.text_center{text-align:center !important;}
.text_left{text-align:left !important;}
.d_block{display:block;}
.d_i_block{display:inline-block;}


/* Section*/
.section{position:relative;margin-top:20px;}
.section:after{display:block;content:'';clear:both;}
.section2{position:relative;margin-top:15px;}
.section2:after{display:block;content:'';clear:both;}
.section3{position:relative;margin-top:10px;}
.section3:after{display:block;content:'';clear:both;}
.section_lft{float:left;width:49%;}
.section_rgt{float:right;width:49%;}

.tab_section{padding:5px 5px;margin-top:20px;background-color:#fff;border:1px solid #e4dfc1}
.tab_content{padding:20px 15px 15px;}
.tab_content>li{display:none;}
.tab_content>li:first-child{display:block;}


/* Btn */
.btn_box{margin-top:20px;text-align:center}
.btn_box.left{text-align:left}
.btn_box.right{text-align:right;}
.btn_box.justify{overflow:hidden;}
.btn_box.justify a{float:right;margin-left:5px;}
.btn_box.justify a:first-child{float:left;}
.btn_box.justify div{float:right;}
.btn_box.justify div:first-child{float:left;}
.btn_basic{display:inline-block;padding:0 12px;background:#7f9461;border:1px solid #7f9461;font-size:12px;line-height:25px;color:#fff;vertical-align:middle;text-decoration:none !important}
td .btn_basic, td .btn_basic:hover, .tbl_type td .btn_basic {color:#fff}
.btn_basic.v2{background:#fff; color:#999 !important; border-color:#dadada}
.btn_type {display:inline-block; width:148px; height:38px; border:1px solid #382514; background:#382514; color:#fff; line-height:38px; text-align:center; font-size:15px }
.btn_type.v2 {background:#fff; color:#5a4535}

/* Input */
.textarea_box{position:relative;}
.textarea_box.v2{padding-right:100px;}
.textarea_info_list{position:absolute;top:0;right:0;}
.textarea_info_list li{margin-top:10px;}
.textarea_info_list li:first-child{margin-top:0;}
.textarea{width:100%;min-height:100px;padding:10px;border:1px solid #dedede;resize:none;}
.select{height:24px;border:1px solid #d6d6d6;color:#666;}
.rdo{margin-right:1px;}
.rdo input{margin:-2px 3px -1px 0;}
.chk{margin-right:1px;}
.chk input{margin:-2px 3px -1px 0;}
.chk label, .rdo label {margin-right:28px}
.txt_input{height:24px;padding:0 1px;border:1px solid #dadada;line-height:22px;color:#666;vertical-align:middle;}


/* Table */
.tbl_type{width:100%;border-spacing:0;border-collapse:collapse;border:1px solid #e4dfc0;}
.tbl_type th,.tbl_type td{min-height:40px;padding:8px 15px;border-bottom:1px solid #e4dfc0;text-align:left;color:#333;}
.tbl_type.ta_center th,.tbl_type.ta_center td{text-align:center}
.tbl_type th{background-color:#f5f2df;font-size:12px}
.tbl_type tbody th {border-right:1px solid #e4dfc0}
.tbl_type td{background-color:#fff;font-size:12px;}
.tbl_type td a{text-decoration:underline;color:#666;}
.tbl_type td a:hover{color:#000;}
.tbl_type td label{margin-right:5px;}
.tbl_type.v2{border-width:4px 0 0}
.tbl_type.v2 td img{display:inline-block;width:60px;height:83px;vertical-align:top;}
.tbl_type .empty_td td{height:150px;}

.tbl_type.v3{border-width:4px 0 0}
.tbl_type.v3 th,.tbl_type.v3 td{border:1px solid #e4dfc0;border-width:0 1px 1px 0}
.tbl_type.v3 tbody tr th,.tbl_type.v3 tbody tr td:first-child,.tbl_type.v3 tfoot tr td:first-child{border-left:1px solid #e4dfc0;}
.tbl_type.v3 td img{display:inline-block;width:60px;height:83px;vertical-align:top;}

.tbl_type .tr_bg_or th,.tbl_type .tr_bg_or td{background-color:#fde9d9;}


/* Txt */
h3.title_content{font-size:24px;color:#241103;}
h4.title_content{margin-bottom:15px;font-size:18px;color:#241103;}
h4.title_content:before {display:inline-block; content:''; width:9px; height:9px; margin-right:5px; margin-top:3px; background:url(../img/ico_bu.png) no-repeat 0 0; vertical-align:top}
p.txt_paragraph{margin-bottom:10px;font-size:13px;font-weight:bold;color:#000;}
p.txt_info{margin-top:15px;color:#000;}
.title_wrap {overflow:hidden; margin-bottom:15px}
.title_wrap .title_content {float:left; margin-bottom:0}
.title_wrap .btn_box {float:right; margin-top:0}


/* List */


/* Page_nation */
.page_nation{margin-top:20px;text-align:center;font-size:0}
.page_nation a,.page_nation strong{display:inline-block;position:relative;padding:0 10px;font-size:12px;vertical-align:middle;color:#000;line-height:16px;}
.page_nation strong,.page_nation .active{color:#ff8600;}
.page_nation a.btn_first{border-left:1px solid #d6d6d6;}
.page_nation a.btn_prev{border-left:1px solid #d6d6d6;}
.page_nation a.btn_next{border-right:1px solid #d6d6d6;}
.page_nation a.btn_last{border-right:1px solid #d6d6d6;}
.page_nation ul{display:inline-block;border:1px solid #d6d6d6;border-width:0 1px;vertical-align:middle;}
.page_nation ul li{display:inline-block;vertical-align:middle;}


/* Tab */
.tab_type{overflow:hidden;position:relative;padding:5px 5px 0;border-bottom:0;background-color:#ccd5b9;}
.tab_type li{overflow:hidden;float:left;position:relative;margin-left:2px;background:#7e9460;border-bottom:0;}
.tab_type li:first-child{margin-left:0;}
.tab_type li a{display:block;padding:0 18px;text-align:center;line-height:35px;color:#fff;}
.tab_type li:hover,.tab_type li.active{background:#fff none;z-index:100}
.tab_type li:hover a,.tab_type li.active a {color:#333;}

.tab_style{display:table;table-layout:fixed;position:relative;width:100%;border-bottom:0}
.tab_style li{display:table-cell;position:relative;border-bottom:0;padding-left:5px;}
.tab_style li:first-child{padding-left:0;}
.tab_style li a{display:block;padding:0 18px;background:#7e9460;text-align:center;line-height:35px;color:#fff;}
/*.tab_style li:hover,.tab_style li.active{background:#fff none;z-index:100}
.tab_style li:hover a,.tab_style li.active a {color:#333;}*/

/* Margin_Padding */
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.pt_10{padding-top:10px;}
.mb_5{margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_30{margin-bottom:30px;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.pb_10{padding-bottom:10px;}


/* Loading */
.loading_bar{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000}
.loading_bar img{display:block;position:absolute;top:50%;left:50%;width:122px;height:122px;margin:-61px 0 0 -61px;}


/* Wrap */
#wrap{min-width:1240px;height:100%}
#wrap.wide{min-width:1860px;}

/* Header*/
#header{position:relative;min-width:1240px;height:155px;z-index:100; background:url(../img/bg_header.jpg) no-repeat 0 0}
#header .logo{position:absolute;top:30px;left:20px;}
#header .logo a{display:block;}
#header .logo img{display:inline-block;vertical-align:middle;}
#header .logo span{display:inline-block;margin-left:10px;font-size:25px;vertical-align:middle;color:#000; font-weight:400}

#header .menu_area{overflow:hidden;position:relative;height:100px;padding:30px 20px 0 20px;}
#header .top_menu_area{float:right;}
#header .top_menu_area .admin_name{margin-top:10px;color:#000; font-size:14px}
#header .top_menu_area .admin_name strong{}
#header .top_menu_area .admin_name .btn_logout{display:inline-block;padding:0 23px;margin-left:5px;background-color:#7e9460;line-height:30px;color:#fff; font-size:14px}

#header .top_menu_area .top_menu{font-size:0px;text-align:right}
#header .top_menu_area .top_menu li{display:inline-block;position:relative;padding-left:8px;margin-left:7px;}
#header .top_menu_area .top_menu li:after{display:block;content:'';position:absolute;top:50%;left:0;width:1px;height:10px;margin-top:-5px;background-color:#333;}
#header .top_menu_area .top_menu li:first-child{padding-left:0;margin-left:0;}
#header .top_menu_area .top_menu li:first-child:after{display:none;}
#header .top_menu_area .top_menu a{font-size:14px;color:#3b3430;}
#header .top_menu_area .top_menu a:hover{color:#999;}

#header .gnb{overflow:hidden;position:relative;width:100%;padding:0 20px;background-color:#382514; border-bottom:5px solid #7e9460}
#header .gnb li{float:left;position:relative;;line-height:50px;text-align:center;}
#header .gnb li:after{display:block;content:'';position:absolute;top:50%;left:0;width:1px;height:13px;margin-top:-7px;background-color:#664c31;}
#header .gnb li:first-child:after{display:none;}
#header .gnb li a{display:block;padding:0 13px;font-size:14px;font-weight:bold;color:#fff;}
#header .gnb li a:hover{background-color:#7e9460;}
#header .gnb li a:hover:after{display:none;}


/* Container*/
#container{position:relative;min-height:100%; padding:0 0 0 210px}
#container.lnb_close {padding-left:30px}
#container.lnb_close #lnb {left:-181px}

#lnb{position:absolute;top:0;left:0;width:181px;border-right:1px solid #e5deab;background-color:#fbf9e4;}
#lnb h2{background-color:#382514;border-bottom:1px solid #bfbfbf;font-size:16px;font-weight:bold;text-align:center;line-height:35px;color:#fff;}
#lnb .lnb_list{}
#lnb .lnb_list>li{position:relative; border-top:1px solid #fff;}
#lnb .lnb_list>li>a{display:block;position:relative;padding:0 5px; padding-left:10px; line-height:35px; font-size:14px; color:#513f29; background:#e5deab; letter-spacing:-1px}
#lnb .lnb_list>li>a:before {display:inline-block; content:''; width:15px; height:15px; margin-right:5px; margin-top:10px; background:url(../img/ico_arrow_r.png) no-repeat 0 0; vertical-align:top}
#lnb .lnb_list > li.close >a:after {display:inline-block; content:''; position:absolute; top:14px; right:10px; width:10px; height:5px; background:url(../img/ico_arrow_down.png) no-repeat 0 0}

#lnb .lnb_list .lnb_depth2{padding:5px 0;margin-bottom:5px}
#lnb .lnb_list .lnb_depth2 li{}
#lnb .lnb_list .lnb_depth2 li a{display:block;padding-left:30px;line-height:30px;color:#513f29}
#lnb .lnb_list>li.close .lnb_depth2 {display:none}
/*#lnb .lnb_list .lnb_depth2:before {display:inline-block; content:''; position:absolute; top:14px; right:10px; width:10px; height:5px; background:url(../img/ico_arrow_up.png) no-repeat 0 0}*/
#lnb .btn_lnb_close {display:inline-block; position:absolute; top:36px; right:-26px; width:25px; height:71px; background:url(../img/btn_lnb_close.png) no-repeat 0 0 }
#container.lnb_close .btn_lnb_close {background-image:url(../img/btn_lnb_open.png)}

#content{position:relative;padding:0 20px; padding-top:20px; background-color:#fff;}
#content .page_nav{position:absolute; top:20px; right:20px; overflow:hidden;}
#content .page_nav_list{overflow:hidden;}
#content .page_nav_list li{float:left;position:relative;}
#content .page_nav_list li:first-child{padding-left:10px;}
#content .page_nav_list li a{color:#000;}
#content .page_nav_list li span{margin:0 5px;}

/* Footer*/





/* Popup*/

#pop_wrap{overflow-y:auto; position:relative; width:100%;height:100%;margin:0 auto; border:1px solid #ddd}
#pop_header .pop_title{background-color:#382514; text-align:center; font-size:20px; font-weight:600; line-height:49px;color:#fff;}
#pop_header .pop_title strong{color:#f00;}
#pop_header ul {overflow:hidden; margin:30px 19px; border:5px solid #cbd4b9; border-bottom:0}
#pop_header ul li {float:left; width:14%}
#pop_header ul li:first-child, #pop_header ul li:last-child {width:15%}
#pop_header ul li a {display:block; padding:15px 0; background:#7e9460; border-left:1px solid #cbd4b9; text-align:center; color:#fff; font-size:14px}
#pop_header ul li.active a {background:#fff; color:#333}
#pop_header ul li:first-child a {border-left:0}
#pop_container{padding:19px; }
#pop_content {/*overflow-y:auto; max-height:500px*/}
#pop_content.pop_content2 {max-height:none}
#pop_content .group_box{overflow-y:auto;height:44px;}
#pop_content h2 {margin-top:10px; margin-bottom:10px; font-size:18px; font-weight:600; color:#382514}
#pop_content h2:first-child {margin-top:0}
#pop_content h2:before {display:inline-block; content:""; width:6px; height:6px; margin:6px 5px 0 0; background:#333; border-radius:100%; vertical-align:top}
#pop_content table {margin-bottom:20px; }
#pop_content .tbl_type th, #pop_content .tbl_type td {font-size:12px; color:#333}

#pop_content .tbl_type th.active{font-size:13px;font-weight:bold;color:#f00;}
#pop_content .tbl_type td.active{font-size:13px;font-weight:bold; color:#f00}
#pop_content .tbl_type td.active a{color:#f00}


#pop_content .tbl_type tr:last-child th, #pop_content .tbl_type tr:last-child td {border-bottom:0}
#pop_content table th {padding:13px 0 12px; text-align:center; color:#333; font-weight:400}
#pop_content table th .ess, table th .ess {margin-right:4px; color:#ec5555}
#pop_content table tfoot th,#pop_content table tfoot td{background-color:#f5f2df;padding:13px 0 12px; text-align:center; color:#333; font-weight:400;border-top:1px solid #e4dfc0;}

#pop_footer{margin-top:10px; margin-bottom:40px; text-align:center}
#pop_footer .btn_type {margin-left:6px}
#pop_footer .btn_type:first-child {margin-left:0}
#pop_footer .btn_pop_close{display:block; position:absolute; top:15px; right:15px; width:22px; height:22px; background:url(../img/pop_close.png) no-repeat 0 0; text-indent:-999em}

#pop_header .btn_box {padding:0 19px}
/* Login */

#login_wrap *{font-family:'나눔바른고딕','Nanum Barun Gothic', Helvetica, Arial, sans-serif;}
#login_wrap{position:absolute;top:139px;left:50%;width:736px; height:399px; padding:84px 144px 0 191px; margin-left:-368px; background:url(../img/bg_login.jpg) no-repeat 0 0}
#login_header{padding-bottom:20px; border-bottom:1px solid #b7a391}
#login_header img{display:block;margin:0 auto;}

#login_content{}
#login_content>dl{margin:36px 0 25px;text-align:center}
#login_content>dl dt{font-size:24px;color:#382514}
#login_content>dl dd{margin-top:10px;font-size:14px;color:#382514}

#login_content .login_info{overflow:hidden; padding-bottom:40px; border-bottom:1px solid #b7a391;}
#login_content .login_info ul{float:left;}
#login_content .login_info ul li{margin-top:10px;}
#login_content .login_info ul li:first-child{margin-top:0;}
#login_content .login_info ul li dl{width:275px;font-size:0;}
#login_content .login_info ul li dt{display:inline-block;width:65px;vertical-align:middle;}
#login_content .login_info ul li dt label{font-size:14px;font-weight:bold;color:#382514;}
#login_content .login_info ul li dd{display:inline-block;width:210px;vertical-align:middle;}
#login_content .login_info ul li dd .login_input{display:block;width:100%;height:30px;padding:0 10px;margin:0;font-size:14px;font-family:tahoma;color:#000; border:1px solid #998e81}
#login_content .login_info .btn_login{float:right;width:100px;height:70px;background-color:#382514;font-size:15px;font-weight:bold;color:#fff;text-align:center;line-height:70px;}

#login_footer{margin-top:14px;text-align:center}
#login_footer address{font-family:tahoma;font-size:10px;color:#b7a391;}

.comment {border-bottom:0}
.comment_add {overflow:hidden; padding:20px; background:#f5f2df; border:1px solid #e4dfc0}
.comment_area textarea {float:left; width:88%; height:67px; padding:10px; border:1px solid #e2e2e2}
.comment_area .comment_add .btn_basic {float:right; width:10%}
.comment_area ::-webkit-input-placeholder {color: #888; font-weight:700}
.comment_area :-moz-placeholder {color: #888; font-weight:700}
.comment_area ::-moz-placeholder {color: #888; font-weight:700}
.comment_area :-ms-input-placeholder {color: #888; font-weight:700}
.comment_area ol {margin-top:20px; border-bottom:1px solid #e4dfc0}
.comment_area ol li {padding:20px 0; border-top:1px solid #e4dfc0}
.comment_area ol li dt {overflow:hidden; margin-bottom:15px; color:#888; font-weight:700; line-height:18px}
.comment_area ol li dt span {display:inline-block; float:left; vertical-align:middle}
.comment_area ol li dt .num {width:40px}
.comment_area ol li dt .user {width:82px}
.comment_area ol li dt .date {width:70px; height:10px; margin-right:5px}
.comment_area ol li dt .date:after {display:inline-block; float:right; content:""; height:10px; margin-top:3px; border-right:1px solid #e2e2e2; vertical-align:top}
.comment_area ol li dd {padding:0 40px; font-weight:700; color:#666; line-height:18px}
.comment_area .btn_basic {margin-left:5px}

.child {background:#fbf9e4;}
.comment_area .child li {position:relative; padding-left:30px; border-color:#e4dfc0}
.child li:before {position:absolute; top:20px; left:10px; display:inline-block; content:'└'; color:#888; font-weight:bold; font-size:15px}

.product_wrap + .btn_box {padding-bottom:30px}

.promotion_guide{margin-bottom:10px;}
.promotion_guide li{margin-top:10px;}
.promotion_guide li:first-child{margin-top:0;}
.promotion_guide li dl{overflow:hidden;font-size:13px;}
.promotion_guide li dt{float:left;font-weight:bold;}
.promotion_guide li dd{float:left;margin-left:5px;}
.promotion_guide li dd span{color:red;}

.box_type{overflow:hidden;margin-top:20px;}

.box_type .leftarea{float:left;}
.box_type .rightarea{float:right;}

/* content */
.tbl_type.ta_center th.left_line {border-left: 1px solid #e4dfc0}
div.tbl_fix_scroll {clear:both;width: 100%;overflow-x: auto}
div.tbl_fix_scroll table {table-layout: fixed;}
div.tbl_fix_scroll .tbl_fix_head {padding-right:17px;background-color: #f5f2df;border-top:4px solid #e4dfc0}
div.tbl_fix_scroll .tbl_fix_head table {border: 0px;border-right:1px solid #e4dfc0}
div.tbl_fix_scroll .tbl_fix_body {display: block; max-height:650px;overflow-y:scroll;overflow-x: hidden;width:100%;}
div.tbl_fix_scroll .tbl_fix_body .tbl_type.v2 {border-width: 0;}
div.tbl_fix_scroll .tbl_type td {word-break: break-all;}
div.tbl_fix_scroll .tbl_type th, div.tbl_fix_scroll .tbl_type td {padding: 8px 5px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    div.tbl_fix_scroll .tbl_fix_body {max-height:640px;}
}


