@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti.noti1{background-color:#e0ecd1}
.event_wrap .p_evt_noti.noti2{background-color:#f5f5f5}
