@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#eee}

/* product  */
.event_wrap .product_item{display:flex;flex-wrap:wrap;margin-left:4.4444vw}
.event_wrap .product_item li{width:44.4444vw;margin-right:2.2222vw}
.event_wrap .product_item a{display:block;width:100%;height:100%}
.event_wrap .product_item .inner{position:relative}

.event_wrap .product_item .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:44.4444vw;background:#fff;overflow:hidden}
.event_wrap .product_item .item_thumbnail img{position:relative;width:100%;height:100%}
.event_wrap .product_item .item_info{padding:3.5vw 0 10.8333vw;color:#000;letter-spacing:-0.0556vw}
.event_wrap .product_item .desc{font-size:3.3333vw;font-weight:600;margin-bottom:0.2vw;color:#614f41}
.event_wrap .product_item .name{font-size:3.8889vw;line-height:5.5556vw;word-break:keep-all;margin-bottom:1.6667vw}
.event_wrap .product_item .price_area{display:flex;flex-wrap:wrap;align-items:center;font-size:5vw}
.event_wrap .product_item .price_area .discount{font-weight:600;color:#f44336;margin-right:2.5vw}
.event_wrap .product_item .price_area .price{font-weight:600}

.event_wrap .product_desc{font-size:3.3333vw;color:#999;text-align:center;line-height:4.6vw;letter-spacing:-.5px;word-break:keep-all;padding:4.1666vw 5vw 16.6666vw 5vw}
