@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#70c009}

/* button */
.event_wrap .btn_lnk1{top:41vw;left:11vw;right:11vw;bottom:16vw}
.event_wrap .btn_lnk2{top:25vw;left:11vw;right:11vw;bottom:16vw}
.event_wrap .btn_move{top:0;left:16vw;right:16vw;height:11vw}

/* product */
.event_wrap .product_list .product_img{border-radius:1.6666vw}
.event_wrap .product_list .product_title, .event_wrap .product_list .original del{color:#000}
.event_wrap .product_list .sale ins, .event_wrap .product_list .sale .won{color:#fff}
.event_wrap .product_list .percent .num, .event_wrap .product_list .percent .unit{color:#fdd549}

/* motion */
.event_wrap .object{position:absolute;top:78vw;left:2vw;width:104vw;z-index:3}
.event_wrap .motion_box_wrap{position:absolute;z-index:1;top:0;right:0;bottom:0;left:0}
.motion_box1{position:absolute;z-index:2;top:15%;left:-6vw;width:25vw;height:25vw;font-size:2.5vw}
.motion_box2{position:absolute;z-index:2;top:4%;right:2%;width:18vw;height:18vw;font-size:1.5vw}
.motion_box3{position:absolute;z-index:2;bottom:32%;right:3%;width:18vw;height:18vw;font-size:2vw}
.motion1{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.3s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion2{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.4s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion1::before,.motion2::before{content:'';position:absolute;z-index:4;width:100%;height:100%;top:0;left:0;background:#db2525;border-radius:100% 0 75% 25% / 75% 0 100% 25%;transform:rotate(-45deg);transform-origin:center}

.object1_1 {animation-name:object1_1;transform:translate(0, 2.8em) rotate(0deg)}
.object1_2 {animation-name:object1_2;transform:translate(-2em, 2em) rotate(45deg);}
.object1_3 {animation-name:object1_3;transform:translate(2em, 2em) rotate(-45deg);}
.object1_4 {animation-name:object1_4;transform:translate(-3em, 0) rotate(90deg);}
.object1_5 {animation-name:object1_5;transform:translate(3em, 0) rotate(-90deg);}
.object1_6 {animation-name:object1_6;transform:translate(-2em, -2em) rotate(135deg);}
.object1_7 {animation-name:object1_7;transform:translate(2em, -2em) rotate(-135deg);}
.object1_8 {animation-name:object1_8;transform:translate(0, -2.8em) rotate(180deg);}

.object2_1 {animation-name:object2_1;transform:translate(0, 5em) rotate(0deg);}
.object2_2 {animation-name:object2_2;transform: translate(-2.1em, 4em) rotate(30deg);}
.object2_3 {animation-name:object2_3;transform: translate(2.1em, 4em) rotate(-30deg);}
.object2_4 {animation-name:object2_4;transform: translate(-4.2em, 2.1em) rotate(60deg);}
.object2_5 {animation-name:object2_5;transform: translate(4.2em, 2.1em) rotate(-60deg);}
.object2_6 {animation-name:object2_6;transform:translate(-5em, 0) rotate(90deg);}
.object2_7 {animation-name:object2_7;transform:translate(5em, 0) rotate(-90deg);}
.object2_8 {animation-name:object2_8;transform: translate(-4.2em, -2.1em) rotate(120deg);}
.object2_9 {animation-name:object2_9;transform: translate(4.2em, -2.1em) rotate(-120deg);}
.object2_10 {animation-name:object2_10;transform: translate(-2.1em, -4em) rotate(150deg);}
.object2_11 {animation-name:object2_11;transform: translate(2.1em, -4em) rotate(-150deg);}
.object2_12 {animation-name:object2_12;transform:translate(0, -5em) rotate(180deg);}

/* object1 */
@keyframes object1_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 2.8em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(45deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, 2em) rotate(45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-45deg) scale(0);}
  70%{opacity:1;transform:translate(2em, 2em) rotate(-45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform:translate(-3em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform:translate(3em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, -2em) rotate(135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-135deg) scale(0);}
  70%{opacity:1;transform:translate(2em, -2em) rotate(-135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(0, -2.8em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}

/* object2 */
@keyframes object2_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 5em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(30deg) scale(0);}
  70%{opacity:1;transform: translate(-2.1em, 4em) rotate(30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-30deg) scale(0);}
  70%{opacity:1;transform: translate(2.1em, 4em) rotate(-30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(60deg) scale(0);}
  70%{opacity:1;transform: translate(-4.2em, 2.1em) rotate(60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-60deg) scale(0);}
  70%{opacity:1;transform: translate(4.2em, 2.1em) rotate(-60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform: translate(-5em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform: translate(5em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(120deg) scale(0);}
  70%{opacity:1;transform: translate(-4.2em, -2.1em) rotate(120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_9 {
  0%{opacity:0;transform:translate(0, 0) rotate(-120deg) scale(0);}
  70%{opacity:1;transform: translate(4.2em, -2.1em) rotate(-120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_10 {
  0%{opacity:0;transform:translate(0, 0) rotate(150deg) scale(0);}
  70%{opacity:1;transform: translate(-2.1em, -4em) rotate(150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_11 {
  0%{opacity:0;transform:translate(0, 0) rotate(-150deg) scale(0);}
  70%{opacity:1;transform: translate(2.1em, -4em) rotate(-150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_12 {
  0%{opacity:0;transform:translate(0, 0) rotate(180deg) scale(0);}
  70%{opacity:1;transform: translate(0, -5em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}
