@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

.event_wrap .p_evt_sec3{background:#70c009}

/* button */
.event_wrap .btn_lnk1{top:35%;left:0;right:0;height:492px}
.event_wrap .btn_lnk2{top:28.5%;left:0;right:0;height:492px}
.event_wrap .btn_move{top:0;left:29.5%;right:29.5%;height:45%}

/* product */
.event_wrap .product_list .product_img{border-radius:8px}
.event_wrap .product_list .product_title, .event_wrap .product_list .original del{color:#000}
.event_wrap .product_list .sale ins, .event_wrap .product_list .sale .won{color:#fff}
.event_wrap .product_list .percent .num, .event_wrap .product_list .percent .unit{color:#fdd549}

/* motion */
.event_wrap .object{position:absolute;top:144px;left:803px;z-index:3}
.event_wrap .motion_box_wrap{position:absolute;z-index:1;top:0;right:-376px;bottom:0;left:-376px}
.motion_box1{position:absolute;z-index:2;top:26%;left:43%;width:150px;height:150px;font-size:15px}
.motion_box2{position:absolute;z-index:2;top:8%;right:16%;width:150px;height:150px;font-size:8px}
.motion_box3{position:absolute;z-index:2;bottom:20%;right:10%;width:150px;height:150px;font-size:13px}
.motion1{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.3s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion2{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.4s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion1::before,.motion2::before{content:'';position:absolute;z-index:4;width:100%;height:100%;top:0;left:0;background:#db2525;border-radius:100% 0 75% 25% / 75% 0 100% 25%;transform:rotate(-45deg);transform-origin:center}

.object1_1 {animation-name:object1_1;transform:translate(0, 2.8em) rotate(0deg);}
.object1_2 {animation-name:object1_2;transform:translate(-2em, 2em) rotate(45deg)}
.object1_3 {animation-name:object1_3;transform:translate(2em, 2em) rotate(-45deg);}
.object1_4 {animation-name:object1_4;transform:translate(-3em, 0) rotate(90deg);}
.object1_5 {animation-name:object1_5;transform:translate(3em, 0) rotate(-90deg);}
.object1_6 {animation-name:object1_6;transform:translate(-2em, -2em) rotate(135deg);}
.object1_7 {animation-name:object1_7;transform:translate(2em, -2em) rotate(-135deg);}
.object1_8 {animation-name:object1_8;transform:translate(0, -2.8em) rotate(180deg);}

.object2_1 {animation-name:object2_1;transform:translate(0, 5em) rotate(0deg);}
.object2_2 {animation-name:object2_2;transform: translate(-2.1em, 4em) rotate(30deg);}
.object2_3 {animation-name:object2_3;transform: translate(2.1em, 4em) rotate(-30deg);}
.object2_4 {animation-name:object2_4;transform: translate(-4.2em, 2.1em) rotate(60deg);}
.object2_5 {animation-name:object2_5;transform: translate(4.2em, 2.1em) rotate(-60deg);}
.object2_6 {animation-name:object2_6;transform:translate(-5em, 0) rotate(90deg);}
.object2_7 {animation-name:object2_7;transform:translate(5em, 0) rotate(-90deg);}
.object2_8 {animation-name:object2_8;transform: translate(-4.2em, -2.1em) rotate(120deg);}
.object2_9 {animation-name:object2_9;transform: translate(4.2em, -2.1em) rotate(-120deg);}
.object2_10 {animation-name:object2_10;transform: translate(-2.1em, -4em) rotate(150deg);}
.object2_11 {animation-name:object2_11;transform: translate(2.1em, -4em) rotate(-150deg);}
.object2_12 {animation-name:object2_12;transform:translate(0, -5em) rotate(180deg);}

/* object1 */
@keyframes object1_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 2.8em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(45deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, 2em) rotate(45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-45deg) scale(0);}
  70%{opacity:1;transform:translate(2em, 2em) rotate(-45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform:translate(-3em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform:translate(3em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, -2em) rotate(135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-135deg) scale(0);}
  70%{opacity:1;transform:translate(2em, -2em) rotate(-135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(0, -2.8em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}

/* object2 */
@keyframes object2_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 5em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(30deg) scale(0);}
  70%{opacity:1;transform: translate(-2.1em, 4em) rotate(30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-30deg) scale(0);}
  70%{opacity:1;transform: translate(2.1em, 4em) rotate(-30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(60deg) scale(0);}
  70%{opacity:1;transform: translate(-4.2em, 2.1em) rotate(60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-60deg) scale(0);}
  70%{opacity:1;transform: translate(4.2em, 2.1em) rotate(-60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform: translate(-5em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform: translate(5em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(120deg) scale(0);}
  70%{opacity:1;transform: translate(-4.2em, -2.1em) rotate(120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_9 {
  0%{opacity:0;transform:translate(0, 0) rotate(-120deg) scale(0);}
  70%{opacity:1;transform: translate(4.2em, -2.1em) rotate(-120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_10 {
  0%{opacity:0;transform:translate(0, 0) rotate(150deg) scale(0);}
  70%{opacity:1;transform: translate(-2.1em, -4em) rotate(150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_11 {
  0%{opacity:0;transform:translate(0, 0) rotate(-150deg) scale(0);}
  70%{opacity:1;transform: translate(2.1em, -4em) rotate(-150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_12 {
  0%{opacity:0;transform:translate(0, 0) rotate(180deg) scale(0);}
  70%{opacity:1;transform: translate(0, -5em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}
