@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* 영상 */
.event_wrap .evt_mov{position:absolute;z-index:1;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%}
.event_wrap .evt_mov .obj{position:absolute;z-index:2;top:60px;left:50%;transform:translateX(-50%);}
.desktop .fb__event .promotion__content .event_wrap img.obj{margin:0;}
