@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202010/1019_fall_gourmet/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202010/1019_fall_gourmet/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202010/1019_fall_gourmet/img/p_evt_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202010/1019_fall_gourmet/img/p_evt_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.orga.co.kr/images/promo/202010/1019_fall_gourmet/img/p_evt_sec2_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec1:before,
.event_wrap .p_evt_sec1:after,
.event_wrap .p_evt_sec2:before,
.event_wrap .p_evt_sec2:after,
.event_wrap .p_evt_sec2{background-color:#863d37}
.event_wrap .p_evt_sec3:before,
.event_wrap .p_evt_sec3:after,
.event_wrap .p_evt_sec3{background-color:#f9f9f9}

.event_wrap .p_evt_sec3{padding-bottom:140px}
.event_wrap .p_evt_sec3 .evt_notice{background-color:#f9f9f9}

/* notice */
.event_wrap .evt_notice{padding:0 30px;background:#fff}
.event_wrap .notice_list li{position:relative;margin-top:10px;padding-left:11px;font-size:16px;font-weight:300;color:#333;word-break:keep-all;letter-spacing:-1px}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#333;content:''}
.event_wrap .notice_list .point{color:#b61f13;font-weight:300}

/* button */
.event_wrap .product_list{position:absolute;top:306px;right:0;left:0;bottom:265px;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:100%;height:220px;margin-top:10px}
.event_wrap .product_list li:first-child{margin-top:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}

.event_wrap .btn_more{bottom:140px;left:calc(50% - 157px);width:314px;height:80px}


/* mobile device */
.mevt_wrap .evt_wide_wrap{max-width:none;width:100%}
.mevt_wrap .evt_wide_wrap:before,
.mevt_wrap .evt_wide_wrap:after{display:none}
.mevt_wrap{width:100%;max-width:none;margin:0 auto;font-family:'notokr'}
.mevt_wrap .evt_section,.mevt_wrap .evt_notice{position:relative;max-width:720px;width:100%}

.mevt_wrap .evt_sec1,
.mevt_wrap .evt_sec3{padding-bottom:70px}

/* mobile notice */
.mevt_wrap .evt_notice{padding:0 20px}
.mevt_wrap .notice_list li{margin-top:3px;padding-left:3px;font-size:12px;letter-spacing:-.5px;line-height:1.6}
.mevt_wrap .notice_list li:before{top:8px;width:2px;height:2px}

/* mobile button */
.mevt_wrap .product_list{top:10.1%;bottom:12.8%;left:0;right:0}
.mevt_wrap .product_list li{width:100%;height:16.666%;margin-top:0}
.mevt_wrap .btn_more{top:auto;left:0;bottom:6%;width:100%;height:4%}




