@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:5%;right:5%;bottom:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:88.8888vw;height:50vw;background:url(https://i.vimeocdn.com/video/1653894655-075262bb347819e7337b94c93e4f17a089bddb9aae5377fc84ddde80cb490d56-d?mw=1100&mh=619) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* 상단모션 */
.event_wrap .motion_box{position:absolute;top:0;left:0;color:#fff}
.event_wrap .p_evt_tit .motion_box .tag{font-size:4.1666vw;font-weight:normal;letter-spacing:-0.7px;margin:0}
.event_wrap .p_evt_tit .motion_box p{font-size:4.1666vw;font-weight:normal;letter-spacing:-0.7px;margin:0}
.event_wrap .p_evt_tit .motion_box h3{font-size:11vw;font-weight:700;line-height:13.3333vw;letter-spacing:-2px;margin:-1vw 0 0 0}
.event_wrap .p_evt_tit .motion_box h3 em{color:#fc6e49}
.event_wrap .motion_box h3{font-size:6.1111vw;line-height:1.2;margin-bottom:3.8vw;letter-spacing:-1px}
.event_wrap .motion_box p{font-size:3.3333vw;line-height:1.5;margin-bottom:5vw;letter-spacing:-.6px}

.event_wrap .p_evt_sec1{margin-bottom:-1px}/* 아이폰 하단 간격 없앰 */
.event_wrap .p_evt_tit .motion_box{width:100%;top:56vw;text-align:center}
.event_wrap .p_evt_sec2 .motion_box{top:38.8vw;left:12.5vw}
.event_wrap .p_evt_sec2 .motion_box p{margin-bottom:3.5vw}
.event_wrap .p_evt_sec2 .motion_box span{position:absolute;top:-30vw;left:26%}
.event_wrap .p_evt_sec2 .motion_box span img{width:45%}
.event_wrap .p_evt_sec4 .motion_box{top:60vw;left:5.5vw}
.event_wrap .p_evt_sec5 .motion_box{top:54vw;left:24vw}
.event_wrap .p_evt_sec6 .motion_box{top:16vw;left:5.5vw;color:#333}
.event_wrap .p_evt_sec6 .motion_box p:nth-child(4){margin-top:131vw}
.event_wrap .p_evt_sec7 .motion_box{top:17vw;left:5.5vw}
.event_wrap .p_evt_sec7 .motion_box h3{font-size:8.3333vw}

.motion{opacity:0}
.motion.active{opacity:1;animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.delay01.active{animation-delay:0.1s}
.delay015.active{animation-delay:0.15s}
.delay02.active{animation-delay:0.2s}
.delay025.active{animation-delay:0.25s}
.delay03.active{animation-delay:0.3s}
.delay035.active{animation-delay:0.35s}
.delay04.active{animation-delay:0.4s}
.delay05.active{animation-delay:0.5s}
.delay06.active{animation-delay:0.6s}
.delay08.active{animation-delay:0.8s}