@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;bottom:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:1090px;height:613px;background:url(https://i.vimeocdn.com/video/1653894655-075262bb347819e7337b94c93e4f17a089bddb9aae5377fc84ddde80cb490d56-d?mw=1100&mh=619) 50%;background-size:100% auto;margin:0 auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* 상단모션 */
.event_wrap .motion_box{position:absolute;top:0;left:0;color:#fff}
.event_wrap .p_evt_tit .motion_box p{font-size:30px;line-height:40px;letter-spacing:-1px}
.event_wrap .p_evt_tit .motion_box h3{font-size:100px;font-weight:700;line-height:110px;letter-spacing:-4px;margin-top:14px}
.event_wrap .p_evt_tit .motion_box h3 span{color:#fc6e49}
.event_wrap .motion_box h3{font-size:60px;line-height:1.2;margin-bottom:25px;letter-spacing:-3px}
.event_wrap .motion_box p{font-size:22px;line-height:1.8;margin-bottom:40px;letter-spacing:-1.2px}

.event_wrap .p_evt_tit .motion_box{width:100%;top:380px;left:0;text-align:center}
.event_wrap .p_evt_sec2 .motion_box{top:115px;left:444px}
.event_wrap .p_evt_sec2 .motion_box span{position:absolute;top:6px;left:127px}
.event_wrap .p_evt_sec4 .motion_box{top:230px;left:100px}
.event_wrap .p_evt_sec4 .motion_box h3{font-size:40px;margin-bottom:47px}
.event_wrap .p_evt_sec4 .motion_box p{font-size:20px;line-height:2;margin-bottom:40px}
.event_wrap .p_evt_sec5 .motion_box{top:236px;left:570px}
.event_wrap .p_evt_sec6 .motion_box{top:188px;left:0;color:#333}
.event_wrap .p_evt_sec6 .motion_box h3{margin-bottom:50px}
.event_wrap .p_evt_sec7 .motion_box{top:320px;left:620px}
.event_wrap .p_evt_sec7 .motion_box h3{margin-bottom:40px}


/* .motion{opacity:0;transition:all 1s;transform:translate(0, 80px)}
.motion.active{opacity:1;transition:all 1s;transform:translate(0, 0)} */
.motion{opacity:0}
.motion.active{opacity:1;animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.delay01.active{animation-delay:0.1s}
.delay02.active{animation-delay:0.2s}
.delay03.active{animation-delay:0.3s}
.delay04.active{animation-delay:0.4s}
.delay05.active{animation-delay:0.5s}
.delay06.active{animation-delay:0.6s}
.delay08.active{animation-delay:0.8s}