@charset "utf-8";

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Black.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Black.woff) format('woff');
} */
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-ExtraBold.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Bold.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-SemiBold.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Medium.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Regular.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Light.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Light.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-ExtraLight.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Thin.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/css/font/Pretendard-Thin.woff) format('woff');
}

.product_detail_wrap *{font-family: 'Pretendard', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif !important;font-weight:400;}
*{font-family: 'Pretendard', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif !important;font-weight:400;}
/* 통합몰 리셋 */
img{max-width:100%;}
html,body{margin:0;padding:0;border:0}
