@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}

/* coupon */
.event_wrap .p_evt_sec2{background-color:#eddfcc}
.event_wrap .p_evt_sec2 .evt_section{background-color:#fff}

/* notice */
.event_wrap .p_evt_noti{background-color:#eddfcc;padding-bottom:114px;}
.event_wrap .p_evt_noti .evt_notice{background-color:#fff;padding:80px 40px 70px}
