@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li:first-child{width:21.7%}
.event_wrap .evt_nav_wrap li:nth-child(2){width:29.5%}
.event_wrap .evt_nav_wrap li:nth-child(3){width:18%}
.event_wrap .evt_nav_wrap li:last-child{width:30.8%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* page */
.p_evt_sec1 .btn_lnk1{position:absolute;top:270px;right:255px;width:180px;height:50px;z-index:1;font-size:0;line-height:0}
.event_wrap .p_evt_sec5{background:#7db232}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#a4cb14}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:0 40px 100px}
.event_wrap .p_evt_noti.noti2{background:#7db232}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:86px 40px 80px}
