@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .evt_notice{padding-bottom:16.6666vw}
.event_wrap .p_evt_noti.noti1{background:#fff4ff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0108_lmreal_launching/img/m_img_noti.jpg) 50% 0/100% no-repeat}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:0 5.5555vw 10vw}

/* items_list */
.event_wrap .items_list{position:absolute;top:0;left:0;right:0}
.event_wrap .items_list li{width:100%;height:55vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}
