@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{bottom: 18.5%;left: 18.5%;right: 18.5%;height: 8%;}
.event_wrap .btn_lnk2{top:0;left:0;right:0;bottom:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;flex-wrap:wrap;}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:10;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:43.1vw;z-index:20}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_benepia_promotion/img/1218/evt_nav_on.jpg) 0 0/300%;content:''}
.event_wrap .p_evt_nav li:nth-child(1){width:50%}
.event_wrap .p_evt_nav li:nth-child(2){width:50%}
.event_wrap .p_evt_nav li:nth-child(3){width:50%}
.event_wrap .p_evt_nav li:nth-child(4){width:50%}
.event_wrap .p_evt_nav li:nth-child(1).on:after{background-size:200%}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0;background-size:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%;background-size:200%}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 300%;background-size:200%}
/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;top:54.1667vw;width:100%}
.event_wrap .coupon_list li{margin-bottom:5.5555vw}

/* 쿠폰 */
.event_wrap .coupon_item{position:relative;width:43.61vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;border:1px solid #e1e1e1;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.1vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#fff}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* product */
.event_wrap .product_list{position:absolute;top:59.7222vw;left:0;display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5.555vw}
.event_wrap .product_list li{width:43.055vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{position:relative;display:block;width:100%;height:43.055vw;background:#fff}
.event_wrap .product_img img{display:block;width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 12.5vw}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin-bottom:2.083vw}            
.event_wrap .original{margin-right:2.222vw}
.event_wrap .original del{font-size:3.33333vw;color:#333;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .percent{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;background:#bd0a24;display:flex;justify-content:center;align-items:center}
.event_wrap .percent .num{font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{font-size:2.778vw;color:#fff;margin:1vw 0 0 0.2vw}

/* notice */
.event_wrap .p_evt_noti{background:#0e1823 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_benepia_promotion/img/1218/img_noti.jpg) 50% 0/100% no-repeat}
.event_wrap .evt_notice{padding:7.8888vw 5.5555vw 20.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:1.6666vw 2.5vw 1.6666vw 6.1111vw;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

/* 로띠 motion */
.event_wrap .p_evt_sec4{background:#282d36;height:64.7777vw;overflow:hidden}
