@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#282d36}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20.6944vw;z-index:50}

/* notice */
.event_wrap .p_evt_noti{background:#1c6935 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas_member/img/img_noti.jpg) 0 50%/100%}
.event_wrap .evt_notice{padding:11.1111vw 5.5555vw 13.8888vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.15);border-bottom:1px solid rgba(255,255,255,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .survey_desc{padding-top:5vw;text-align:center}
.event_wrap .survey_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#fff}
.event_wrap .survey_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;height:185.4166vw;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas_member/img/evt_sec2.jpg) 50% 0/100% no-repeat}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:87.5vw 6.9444vw 0 6.9444vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:46%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:56vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#e9e9e9 !important;padding-left:1vw;word-break:keep-all !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #c2c2c2 !important;background-color:transparent !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:0 !important;background-color:#222 !important}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:77.7777vw !important;height:13.8888vw !important;font-size:0 !important;line-height:0 !important;margin:5.2vw auto 0 !important;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas_member/img/img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%;height:130.5555vw;background:linear-gradient(180deg, #3468a7, #2ea466, #a93d60);background-size:400% 400%;background-position:0;animation:gradient 10s ease infinite both}
.event_wrap .p_evt_tit:after{position:absolute;width:100%;height:50%;top:0;left:0;right:0;background:linear-gradient(#0e2335 5%, transparent);content:''}
@keyframes gradient {
  0%, 100% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
}

.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_bg{z-index:12}
.motion_box .object_title{width:80.8333vw;top:11.1111vw;left:50%;transform:translateX(-50%)}
.motion_box .object_bg1{width:100vw;top:52vw;left:0;z-index:10}
.motion_box .object_bg2{width:33.3vw;top:83vw;left:-1vw;z-index:13}
.motion_box .object_bg3{width:36.2vw;top:89vw;right:1vw;z-index:13}
.motion_box .object_bg4{width:58.3vw;top:107.5vw;left:33vw;z-index:15}
.motion_box .object_brow1{width:7.7777vw;top:65.5vw;left:36vw;z-index:13}
.motion_box .object_brow2{width:7.7777vw;top:65.5vw;left:56vw;z-index:13}
.motion_box .object_eye1{width:5vw;top:72.5vw;left:38.2vw;z-index:13}
.motion_box .object_eye2{width:5vw;top:72.5vw;left:58.2vw;z-index:13}
.motion_box .object1{width:9.5vw;top:77.7vw;left:18vw;-webkit-animation-delay:0.1s !important;animation-delay:0.1s !important;z-index:12}
.motion_box .object2{width:22.5vw;top:83.5vw;right:13vw;-webkit-animation-delay:0.6s !important;animation-delay:0.6s !important;z-index:12}
.motion_box .object3{width:36vw;top:102vw;left:39.5vw;-webkit-animation-delay:1s !important;animation-delay:1s !important;z-index:14}
.motion_box .object4{width:100vw;bottom:0;left:0;z-index:15}
.motion_box .object_member{position:absolute;top:4.5833vw;right:3.6111vw;width:23.5vw;z-index:10}

.motion_box .motion1{-webkit-animation:wobble-hor-bottom 2.6s 1.4s infinite both;animation:wobble-hor-bottom 2.6s 1.4s infinite both}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}

.motion_box .motion2{-webkit-animation:bounce-up 2s 0s ease-in-out infinite both;animation:bounce-up 2s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(10px);
            transform:translateY(10px);
  }
}
@keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(10px);
            transform:translateY(10px);
  }
}

.motion_box .motion3{-webkit-animation:bounce-left 2s 0.4s ease-in-out infinite both;animation:bounce-left 2s 0.4s ease-in-out infinite both}
@-webkit-keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-8px);
            transform:translateX(-8px);
  }
}
@keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-8px);
            transform:translateX(-8px);
  }
}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:58vw;left:5.6vw;right:5.6vw;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:10vw;z-index:10}
.event_wrap .dday_count > span{display:block;width:19.4444vw}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .evt_lottie{position:absolute;width:150vw;height:100vw;top:-20vw;left:-10vw;right:0;z-index:-1}
.event_wrap .evt_lottie3{position:absolute;width:200vw;height:120vw;top:-10vw;right:-10vw;right:0;z-index:-1}
.event_wrap .p_evt_sec3{height:92.7777vw;overflow:hidden}
.event_wrap .p_evt_sec3 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:160vw;height:100vw;top:-10vw;left:-5vw;right:0;z-index:0}
