@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#282d36}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:112px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60;-moz-transform:translate3d(-50%,0px,0px);-ms-transform:translate3d(-50%,0px,0px);-o-transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{position:absolute;top:820px;left:50%;margin-left:0;padding-top:112px}

/* notice */
.event_wrap .p_evt_noti{background:#1c6935 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas_member/img/p_img_noti.jpg) top center}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .survey_desc{padding-top:30px;text-align:center}
.event_wrap .survey_desc span{display:block;margin:0 5px;font-size:24px;color:#fff}
.event_wrap .survey_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;width:auto !important;padding:0 !important;background:#1c6935 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas_member/img/p_btn_bg.jpg) 50% 0}
.desktop .fb__event .event__survey .survey form{width:1226px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:20%;margin-top:0 !important;padding:0 20px;word-break:keep-all}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{font-size:26px !important;line-height:34px !important;color:#e9e9e9 !important}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 46px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:20px !important;width:32px !important;height:32px !important;border:3px solid #c2c2c2 !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:0 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:27px !important;left:7px !important;width:18px !important;height:18px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#222 !important}
.desktop .fb__event .event__survey .survey__apply{width:560px !important;height:100px !important;padding:0;margin-top:50px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas_member/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%;height:980px;background:linear-gradient(180deg, #3468a7, #2ea466, #a93d60);background-size:400% 400%;background-position:0;animation:gradient 10s ease infinite both}
.event_wrap .p_evt_tit:after{position:absolute;width:100%;height:50%;top:0;left:0;right:0;background:linear-gradient(#0e2335 5%, transparent);content:''}
@keyframes gradient {
  0%, 100% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
}

.motion_box{position:absolute;min-width:1920px;height:980px;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:10}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_bg{position:relative;z-index:12}
.motion_box .object_title{top:79px;left:50%;transform:translateX(-50%)}
.motion_box .object_bg1{top:350px;left:100px;z-index:-1}
.motion_box .object_bg2{top:435px;right:20px;z-index:-1}
.motion_box .object_bg3{top:748px;left:360px;z-index:13}
.motion_box .object_bg4{top:726px;right:326px;z-index:13}
.motion_box .object_brow1{top:487px;left:840px;z-index:13}
.motion_box .object_brow2{top:487px;left:1020px;z-index:13}
.motion_box .object_eye1{top:552px;left:860px;z-index:13}
.motion_box .object_eye2{top:552px;left:1040px;z-index:13}
.motion_box .object1{top:340px;left:60px;-webkit-animation-delay:0.1s !important;animation-delay:0.1s !important}
.motion_box .object2{top:586px;left:480px;-webkit-animation-delay:0.6s !important;animation-delay:0.6s !important;z-index:12}
.motion_box .object3{top:470px;right:335px;-webkit-animation-delay:1s !important;animation-delay:1s !important}
.motion_box .object4{top:650px;right:388px;-webkit-animation-delay:1.4s;animation-delay:1.4s;z-index:12}
.motion_box .object_member{position:absolute;top:43px;right:378px;z-index:10}

.motion_box .motion1{-webkit-animation:wobble-hor-bottom 2.6s 1.4s infinite both;animation:wobble-hor-bottom 2.6s 1.4s infinite both}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}

.motion_box .motion2{-webkit-animation:bounce-up 2s 0s ease-in-out infinite both;animation:bounce-up 2s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(20px);
            transform:translateY(20px);
  }
}
@keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(20px);
            transform:translateY(20px);
  }
}

.motion_box .motion3{-webkit-animation:bounce-left 2s 0.4s ease-in-out infinite both;animation:bounce-left 2s 0.4s ease-in-out infinite both}
@-webkit-keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-14px);
            transform:translateX(-14px);
  }
}
@keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-14px);
            transform:translateX(-14px);
  }
}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:412px;left:264px;right:264px;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:80px;z-index:10}
.event_wrap .dday_count > span{display:block;width:140px}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .evt_lottie{position:absolute;width:100%;height:100%;top:0;left:15%;z-index:-1}
.event_wrap .evt_lottie3{position:absolute;width:100%;height:100%;top:0;left:-20%;z-index:-1}
.event_wrap .evt_lottie4{position:absolute;width:100%;height:100%;top:-10%;left:0;z-index:-1}
.event_wrap .p_evt_sec3{height:668px;overflow:hidden}
.event_wrap .p_evt_sec3 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:2500px;height:1000px;top:0;left:-550px;right:0;z-index:0}
