@charset "utf-8";

/* reset */
body{overflow-x:hidden}
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#f5f5f5}
.event_wrap .p_evt_sec2{background:#f9f9f9}
.event_wrap .p_evt_sec3{background:#84c447}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:3.5%;right:3.5%;height:100%}
.event_wrap .btn_move{top:0;left:3.5%;right:3.5%;height:32%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:80px;display:flex;justify-content:center}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:40px}
.event_wrap .coupon_desc span{display:block;margin:0 5px}
.event_wrap .coupon_desc span small{font-size:16px;color:#222;vertical-align:text-bottom}
.event_wrap .p_evt_sec3 .coupon_desc span,
.event_wrap .p_evt_sec3 .coupon_desc span small{color:#fff}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#84c447}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap .noti2 .notice_list li{color:#fff !important}
.event_wrap .noti2 .notice_list li:before{background-color:#fff !important}

/* product */
.event_wrap .item_box_wrap{position:relative;padding-bottom:40px}
.event_wrap .item_box{position:relative;width:1088px;overflow-x:hidden;backface-visibility:hidden;-webkit-backface-visibility:hidden;margin:0 auto;padding:30px 0 30px;background:#fff}
.event_wrap .item_box .item_list{display:flex;width:25%}
.event_wrap .item_box .item_list .inner{position:relative;font-size:0}
.event_wrap .item_box .item_list .item{position:relative;width:240px;margin:0 auto}
.event_wrap .item_box .item_list .item a{display:block;width:100%;height:100%}

.item_box_wrap .item_btn button{position:absolute;width:40px;height:40px;top:220px;font-size:18px;color:#333;background:#fff;border:1px solid #ebebeb;border-radius:6px;cursor:pointer;touch-action:none}
.item_box_wrap .item_btn .prev{left:22px}
.item_box_wrap .item_btn .next{right:22px}

.item_box_wrap .item_pagination{position:relative;text-align:center}
.item_box_wrap .item_pagination .dot{display:inline-block;width:8px;height:8px;margin:0 4px;background:#cfcfcf;border-radius:100px;transition:0.3s}
.item_box_wrap .item_pagination .dot a{display:block;width:100%;height:100%}
.item_box_wrap .item_pagination .dot2.dot_active2{background:#7ebf41}
.item_box_wrap .item_pagination .dot3.dot_active3{background:#7ebf41}
.item_box_wrap .item_pagination .dot4.dot_active4{background:#7ebf41}

.event_wrap .product_img{display:block;height:240px}
.event_wrap .product_img img{width:100%;height:100%;margin:0 !important}
.event_wrap .product_info{display:block;padding:0 0 30px;box-sizing:border-box;text-align:center}
.event_wrap .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px;margin-top:10px}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:5px}
.event_wrap .tag{position:absolute;top:0;left:0;width:60px;height:60px;line-height:20px;text-align:center;background:#ff752a;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:16px;font-weight:600;color:#fff;letter-spacing:-.3px;}
.event_wrap .percent{display:inline-block;margin-left:6px}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block;margin:10px 0 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:3px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

.event_wrap .item_desc{text-align:center;padding-bottom:100px}
.event_wrap .item_desc small{font-size:16px;color:#222;vertical-align:text-bottom}