@charset "utf-8";

.desktop .fb__event .promotion__content .lohas__wrapper img{max-width:none}

.lohas__wrapper{position:relative;max-width:1920px;margin:0 auto;font-family:"NotoSans", "Lato", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:5000;text-align:left}
.lohas__wrapper .lohas-section{position:relative;width:1168px;margin:0 auto}
.lohas__wrapper .lohas-section img{margin:0 -376px auto;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:980px;font-size:18px;color:#333;transform:translate(-50%, -50%);box-sizing:border-box}
.lohas__wrapper .hashtag{display:block;font-weight:400;font-size:18px;letter-spacing:-1px;line-height:24px}
.lohas__wrapper .point{display:block;margin:30px 0 0 -5px;font-weight:400;font-size:100px}
.lohas__wrapper .title{display:block;margin-top:62px;font-size:40px;font-weight:300;letter-spacing:-2px}
.lohas__wrapper .title .point{margin:18px 0 0 0;font-weight:700;letter-spacing:-6px;line-height:110px}
.lohas__wrapper .description{margin:0;font-size:28px;font-weight:300;color:#d3d3d3;letter-spacing:-2px;text-align:center;line-height:40px}
.lohas__wrapper .description2{margin:0;font-size:28px;font-weight:700;color:#333;letter-spacing:-2px;line-height:40px}
.lohas__wrapper .point2{display:block;font-size:40px;font-weight:300;color:#d3d3d3;letter-spacing:-2px;text-align:center;line-height:50px}
.lohas__wrapper .text{margin-top:26px;font-weight:300;font-size:18px;line-height:28px}

.lohas__wrapper .add-text{position:relative}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:6px;width:45px;height:2px;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:326px}
.lohas__wrapper .lohas-box:first-child{margin-top:10px}
.lohas__wrapper .lohas-box .text{margin-top:16px}

.lohas-section1:after{position:absolute;left:50%;bottom:0;z-index:1;width:10px;height:354px;background:#fff;transform:translate(-50%,103px);content:''}

.lohas__wrapper .lohas-footer{height:170px;margin-top:150px;background-color:#79ca20;text-align:center}
.lohas__wrapper .lohas-footer:after{position:absolute;top:0;left:50%;z-index:-1;width:1920px;height:100%;background-color:#79ca20;transform:translate(-50%,0);content:''}
.lohas__wrapper .lohas-footer .lohas-logo{display:block;margin-top:-3px;font-family:"noto";font-style:normal;font-size:18px;font-weight:700;color:#fff;line-height:31px}
.lohas__wrapper .lohas-footer .lohas-inner{width:100%;padding:0}
.lohas__wrapper .lohas-footer .text{margin-top:4px;color:#fff}

/* style line modify */
.lohas-section1 .lohas-inner{margin-top:-137px}

.lohas-section5 .lohas-inner{margin-top:-37px}
.lohas-section5 .title{margin:0}
.lohas-section5 .title .point{margin-top:14px}
.lohas-section5 .description2{margin-top:88px}
.lohas-section5 .text{margin-top:18px;padding-left:60px}
.lohas-section5 .text.add-text{margin-top:99px}

.lohas-section6 .lohas-inner{margin-top:-8px;padding-left:60px}
.lohas-section6 .text{margin-top:16px}

.lohas-section7 .lohas-inner{padding-left:60px}
.lohas-section7 .text{margin-top:13px}

.lohas-section8 .lohas-inner{margin-top:-33px;padding-left:60px}
.lohas-section8 .text{margin-top:16px}
