@charset "utf-8";

.lohas__wrapper{position:relative;width:100%;margin:0 auto;font-family:"NotoSans", "Lato", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:5000;text-align:left}
.lohas__wrapper .lohas-section{position:relative;width:100%;margin:0 auto}
.lohas__wrapper .lohas-section img{width:100%;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:78.611111vw;font-size:5vw;color:#333;transform:translate(-50%, -50%);box-sizing:border-box}
.lohas__wrapper .hashtag{display:block;font-weight:400;font-size:3.611111vw;line-height:5.555555vw}
.lohas__wrapper .point{display:block;margin:3.4722222vw 0 0 -0.694444vw;font-weight:400;font-size:13.888888vw}
.lohas__wrapper .title{display:block;margin-top:8.056vw;font-size:6.944444vw;font-weight:300;letter-spacing:-0.277777vw}
.lohas__wrapper .title .point{margin:2.5vw 0 0 -0.694444vw;font-weight:700;letter-spacing:-0.833333vw;line-height:16.66666vw}
.lohas__wrapper .description{margin:0;font-size:5.277777vw;font-weight:300;color:#d3d3d3;letter-spacing:-0.555555vw;text-align:center;line-height:6.944444vw}
.lohas__wrapper .description2{margin:0;font-size:5.277777vw;font-weight:700;color:#333;line-height:6.944444vw}
.lohas__wrapper .point2{display:block;font-size:6.944vw;font-weight:300;color:#d3d3d3;letter-spacing:-0.555555vw;text-align:center;line-height:8.333vw}
.lohas__wrapper .text{margin-top:2.5vw;font-weight:300;font-size:3.6111111vw;letter-spacing:-0.146vw;line-height:5.555555vw}

.lohas__wrapper .add-text{position:relative;margin-top:45.6944444vw;padding-left:7.22222vw}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:0;width:6.25vw;height:0.2777777vw;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:56.25vw}
.lohas__wrapper .lohas-box:first-child{margin-top:-45.555555vw}
.lohas__wrapper .lohas-box .text{margin-top:2.2222222vw}

.lohas-section1:after{position:absolute;left:50%;bottom:0;z-index:1;width:1.388888vw;height:45.8333333vw;background:#fff;transform:translate(-50%,14.4445vw);content:''}

.lohas__wrapper .lohas-footer{height:37.5vw;margin-top:27.778vw;background-color:#79ca20;text-align:center}
.lohas__wrapper .lohas-footer:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;background-color:#79ca20;transform:translate(-50%,0);content:''}
.lohas__wrapper .lohas-footer .lohas-inner{width:100%;padding:0 5.5555vw}
.lohas__wrapper .lohas-footer .lohas-logo{display:block;margin-top:1.667vw;font-family:"noto";font-style:normal;font-size:3.6111111vw;font-weight:700;color:#fff;line-height:4.305555vw}
.lohas__wrapper .lohas-footer .text{margin-top:3.05555555vw;color:#fff;word-break:keep-all}

/* style line modify */
.lohas-section1 .lohas-inner{margin-top:-16.3vw}

.lohas-section5 .lohas-inner{margin-top:-8.333vw}
.lohas-section5 .title{font-size:5.278vw}
.lohas-section5 .description2{margin-top:8.889vw}
.lohas-section5 .text{padding-left:8.056vw}
.lohas-section5 .add-text{margin-top:30.278vw;padding-left:7.22222vw}

.lohas-section6 .lohas-inner{margin-top:29.861vw}
.lohas-section7 .lohas-inner{margin-top:22.500vw}
.lohas-section8 .lohas-inner{margin-top:26.667vw}
