@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;vertical-align:top}

/* notice */
.event_wrap .evt_notice{padding:60px 70px 70px;background:#f2ead3;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 0 12px 34px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}


/* button template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1168px;margin:0 auto;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_orga_buy/img/bg_btn.png) 0 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:320px;height:73px;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_orga_buy/img/img_btn.png) 0 0 no-repeat}

.desktop .detail-wrapper__bottom{padding-top:0}
