@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap,.event_wrap .evt_section{position:relative;max-width:1168px;margin:0 auto;text-align:center}
.event_wrap .video_wrap{position:absolute;z-index:1;top:66px;left:183px;width:810px;height:810px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* mobile */
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .video_wrap{top:3.7807183%;left:10.277777%;width:79.1666667%;height:53.8752362%}
