@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 무비 */
.event_wrap .evt_section{position:relative}
.event_wrap .tit_logo{display:block;position:absolute;top:0;left:50%;transform:translateX(-50%);width:36vw;z-index:1}

.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 탭메뉴 */
.event_wrap .tab_wrap .tab_btn{position:relative;display:block;width:100%;height:11.1111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_orga_shopping/img/btn_down.jpg) 0 0/100% no-repeat}
.event_wrap .tab_wrap.on .tab_btn{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_orga_shopping/img/btn_up.jpg) 0 0/100% no-repeat}
.event_wrap .tab_wrap .tab_content{display:none}
