@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* .event_wrap .p_evt_tit{width:100%;height:700px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_orga_shopping/img/p_evt_tit.jpg) top center no-repeat;background-attachment:fixed} */
/* .event_wrap .p_evt_tit{height:700px} */

/* 무비 */
.event_wrap .tit_logo{display:block;position:absolute;top:0;left:50%;transform:translateX(-50%);z-index:1}
.event_wrap .tit_logo img{margin:0 !important}

.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
/* .event_wrap .evt_mov{position:fixed;top:0;left:50%;transform:translateX(-50%);max-width:1920px;overflow:hidden} */
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
