@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.prod_info_detail {
    width: 100%;
    max-width: 948px;
    margin: 0 auto;
}
.prod_info_detail * {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    box-sizing: border-box;
}
.prod_info_detail img {
    vertical-align: top;
}
.prod_info_detail button {
    background: none;
    cursor: pointer;
    box-shadow: none;
}
.prod_info_detail em,
.prod_info_detail i {
    font-style: normal;
}
.prod_info_detail .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip:rect(0 0 0 0);
}
.prod_info_detail .prod_info_header {
    position: relative;
    margin-bottom: 54px;
    padding: 0 5.83333%;
    text-align: center;
}
.prod_info_detail .prod_info_logo {
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
}
.prod_info_detail .logo_pulmuone {
    float: left;
    width: 75px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_pulmuone.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_foodmerce {
    float: left;
    width: 75px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_foodmerce.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_pulmuone2 {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_pulmuone2.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_pulmuone2:after {
    position: absolute;
    top: 111px;
    left: 0;
    z-index:1;
    width: 100%;
    padding-top: 48.416667%;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_m_symbol.png) 0 0 no-repeat;
    background-size: 100% auto;
    content: '';
}
.prod_info_detail .logo_chanmaru {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_chanmaru.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_saeng_gadeug {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_saenggadeug.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_fullscare {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_fullscare.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_baleunseon {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_baleunseon.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_saengmyeon {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_saengmyeon.png) no-repeat center top 70%;
    background-size: 100% auto;	
}
.prod_info_detail .logo_amio {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_amio.png) no-repeat center top 70%;
    background-size: 100% auto;	
}
.prod_info_detail .logo_fullskids {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_fullskids.png) no-repeat center center;
    background-size: 100% auto;	
}
.prod_info_detail .prod_info_header h2 {
    margin-top: 47px;
    margin-bottom: 22px;
    color: #1b1b1b;
    font-size: 27px;
    font-weight: 600;    
    letter-spacing: -1px;
}
.prod_info_detail .prod_info_header h2 span {
    display: block;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 20px;
}
.prod_info_detail .prod_info_header .prod_cont {
    margin-bottom: 30px;
    color: #323131;
    font-size: 16px;
}
.prod_info_detail br{
    display: none
}
.prod_info_detail .prod_info_header .prod_thumb {
    position: relative;
    margin-left: -21px;
    margin-right: -21px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb.tip {
	margin-top: 15px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb.tip + .prod_cont {
	margin-top: 15px;
}
.prod_info_detail .prod_info_header .prod_info_section .prod_cont_title {
	padding-bottom: 12px;
	font-size: 18px;
}
.prod_info_detail .prod_info_header .prod_info_section .prod_thumb:before,
.prod_info_detail .prod_info_header .prod_info_section .prod_cont_title:before {
	display: none;
}
.prod_info_detail .prod_thumb img {
    width: 100%;
}
.prod_info_detail .prod_info_list {
    overflow: hidden;
}
.prod_info_detail .prod_info_list li {
    float: left;
    width: 50%;
    height: 175px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
}
.prod_info_detail .prod_info_list li img {
    height: 75px;
    width: auto;
}
.prod_info_detail .prod_info_list li.line_r {
    border-right: 1px solid #000;
}
.prod_info_detail .prod_info_list li.line_b {
    border-bottom: 1px solid #000;
}
.prod_info_detail .prod_info_list li strong {
    display: block;
    margin-bottom: 5px;
    color: #323131;
    font-size: 16px;
    font-weight: 600;
}
.prod_info_detail .list_type li{
    position:relative;
    width:33.33%;
    min-height:100px;
    height:auto;
}
.prod_info_detail .list_type li img{
    height: auto;
}
.prod_info_detail .list_type li:before{
    position:absolute;
    top:0;
    left:0;
    width:1px;
    padding-top:78.155%;
    background-color:#000;
    content:'';
}
.prod_info_detail .list_type li:first-child:before{
    display:none;
}
.prod_info_detail .list_type li p{
    font-size:13px;
    line-height:15px;
}
.prod_info_detail .list_type li .notice{
    font-size:11px;
    color:#323131;
    line-height:1.2;
}
.prod_info_detail .prod_info_section {
    position: relative;
    margin-bottom: 54px;
    padding: 54px 21px 0;
    border-top: 1px solid #cbcbcb;
}
.prod_info_detail .prod_info_section h3 {
    position: relative;
    padding-left: 12px;
    color: #323131;
    font-size: 19px;
    font-weight: 600;
    line-height: 21px;
}
.prod_info_detail .prod_info_section h3:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #3bcc29;
}
.prod_info_detail .prod_info_section h3 + .prod_cont {
    margin-top: 14px;
}
.prod_info_detail .prod_info_section .prod_cont_title {
    display: block;
    position: relative;
    margin-top: 17px;
    padding-bottom: 4px;
    padding-left: 19px;
    color: #323131;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
}
.prod_info_detail .prod_info_section .prod_cont_title:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #323131;
}
.prod_info_detail .prod_info_section .prod_cont_title.red {
	color: #dc1c1c
}
.prod_info_detail .prod_info_section .prod_cont_title.red:before {
    background: #dc1c1c;
}
.prod_info_detail .prod_info_section .prod_cont_title em {
    color: #6da920;
    font-style: normal;
    font-weight: 600;
}
.prod_info_detail .prod_info_section .prod_cont_title em.t2 {
    color: #ec008c;
}
.prod_info_detail .prod_info_section .prod_thumb {
    margin-top: 30px;
}
.prod_info_detail .prod_info_section h3 + .prod_thumb {
    margin-top: 30px;
}
.prod_info_detail .prod_info_section .prod_cont_title + .prod_thumb {
    margin-top: 28px;
}
.prod_info_detail .prod_info_section .prod_cont {
    padding-left: 18px;
    color: #323131;
    font-size: 15px;
    line-height: 1.5em;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_cont_title {
    margin-top: 14px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb {
    margin-top: 36px;
}
.prod_info_detail .prod_info_section .prod_thumb + .prod_thumb {
    margin-top: 6px;
}
.prod_info_detail .prod_info_section .prod_thumb + .prod_cont {
    margin-top: 14px;
}
.prod_info_detail .prod_info_section .prod_cont em {
    font-weight: 600;
    font-style: normal;
}
.prod_info_detail .prod_info_section .prod_cont.red {
	color: #dc1c1c
}
.prod_info_detail .prod_info_section .prod_cont.point{
    margin-bottom:15px;
    color:#9b9a9a;
}
.prod_info_detail .prod_info_section .prod_cont span.t_line {
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_line_or.jpg) repeat-x left bottom;
}
.prod_info_detail .prod_info_section .prod_cont .icon_tip {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 21px;
    margin-left: -3px;
    margin-right: 3px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_tip.gif) no-repeat center;
    background-size: cover;
}
.prod_info_detail .prod_info_section .icon_star.sm {
    width: 20px;
    background-size: 20px;
}
.prod_info_detail .prod_info_section .icon_star {
    display: inline-block;
    vertical-align: top;
    width: 17.5px;
    height: 16px;
    margin-left: 3px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_star.gif) no-repeat center;
    background-size: cover;
}
.prod_info_detail .prod_info_section .icon_recomend {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 27.5px;
    margin-top: -3px;
    margin-bottom: -4px;
    margin-left: 3px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_recomend.gif) no-repeat center;
    background-size: cover;
}
.prod_info_detail .prod_info_section .prod_cont.bullet {
    position: relative;
    padding-left: 28px;
}
.prod_info_detail .prod_info_section .prod_cont.bullet i {
    position: absolute;
    top: 0px;
    left: 18px;
    font-style: normal;
}
.prod_info_detail .prod_info_section .prod_cont.bullet i[class^="icon_"] {
    position: static
}
.prod_info_detail .prod_info_section .prod_cont_table {
    margin-top: 5px;
    margin-left: 18px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table table {
    width: 100%;
}
.prod_info_detail .prod_info_section .prod_cont_table thead th {
    height: 48px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
	vertical-align: middle;
    background: #eee;
    border-left: 1px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table thead th:first-child {
    border-left: 0px;
}
.prod_info_detail .prod_info_section .prod_cont_table tbody td {
    height: 48px;
    color: #000;
    font-size: 15px;
	vertical-align: middle;
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table tbody td:first-child {
    border-left: 0px;
}
.prod_info_detail .prod_info_section .txt_source {
    margin-top: 8px;
    color: #000;
    font-size: 15px;
    font-weight: 100;
    text-align: right;
}
.prod_info_detail .prod_qna_list {
    margin-top: 23px;
    margin-left: 18px;
}
.prod_info_detail .prod_qna_list i {
    position: absolute;
    top: -6px;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 100%;
    border-radius: 50%;
}
.prod_info_detail .prod_qna_list p {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    padding: 15px 16px;
    font-size: 15px;
    line-height: 1.5em;
    text-align: left;
    border-radius: 8px;
    background: #ededed;
}
.prod_info_detail .prod_qna_list p strong {
    display: block;
    font-weight: 500;
}
.prod_info_detail .prod_qna_list dt {
    position: relative;
    padding-left: 42px;
    margin-bottom: 12px;
}
.prod_info_detail .prod_qna_list dt:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 9px;
    left: 26px;
    width: 0px;
    height: 0px;
    border-top: 14px solid #ededed;
    border-bottom: 18px solid transparent;
    border-right: 18px solid transparent;
    border-left: 24px solid  transparent;
}
.prod_info_detail .prod_qna_list dt i {
    left: 0px;
    padding-top: 5px;
    font-family: arial;
    background: #3bcc29;      
}
.prod_info_detail .prod_qna_list dd {
    position: relative;
    text-align: right;
    margin-bottom: 12px;
    padding-right: 42px;
}
.prod_info_detail .prod_qna_list dd:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 9px;
    right: 26px;
    width: 0px;
    height: 0px;
    border-top: 14px solid #ededed;
    border-bottom: 18px solid transparent;
    border-right: 24px solid transparent;
    border-left: 18px solid  transparent;
}
.prod_info_detail .prod_qna_list dd i {
    right: 0px;
    background: #dd664e;
}

.prod_info_detail .prod_cont_list {
    padding-left: 18px;
}
.prod_info_detail .prod_cont_list li {
    display: table;
}
.prod_info_detail .prod_cont_list li > * {
    display: table-cell;  
    padding-right: 6px;
    color: #323131;
    font-size: 15px;
    line-height: 1.5em;
}
.prod_info_detail .prod_cont_list li > strong {
    white-space: nowrap;
}
.prod_info_detail .prod_cont_list li strong {
    font-weight: 400
}
.prod_info_detail .prod_cont_list li .prod_cont {
    padding-left: 0px;
}
.prod_info_detail .prod_cont_list .prod_cont.bullet {
    padding-left: 10px;
}
.prod_info_detail .prod_cont_list .prod_cont.bullet i {
    left: 0px;
}

.prod_info_section .prod_info_list {
    margin-top: 5%;
}
.prod_info_section .prod_info_list li {
    min-height: 210px;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center
}

.prod_info_detail.w720 .prod_video {
	position: relative;
	padding: 30px 0 50%;
	height: 0;
	overflow: hidden;
	text-align: center;
	background: #473529;
}

.prod_info_detail.w720 .prod_video iframe {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
	max-width: 100%;
}
