@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.prod_info_detail {
    width: 100%;
    max-width: 948px;
    margin: 0 auto;
}
.prod_info_detail * {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    box-sizing: border-box;
}
.prod_info_detail img {
    vertical-align: top;
}
.prod_info_detail button {
    background: none;
    cursor: pointer;
    box-shadow: none;
}
.prod_info_detail em,
.prod_info_detail i {
    font-style: normal;
}
.prod_info_detail .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px
}
.prod_info_detail .prod_info_header {
    position: relative;
    margin-bottom: 54px;
    padding: 0 21px;
    text-align: center;
}
.prod_info_detail .prod_info_logo {
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
}
.prod_info_detail .logo_pulmuone {
    float: left;
    width: 75px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_pulmuone.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_foodmerce {
    float: left;
    width: 75px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_foodmerce.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_pulmuone2 {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_pulmuone2.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_chanmaru {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_chanmaru.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_saeng_gadeug {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_saenggadeug.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_fullscare {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_fullscare.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_baleunseon {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_baleunseon.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .logo_saengmyeon {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_saengmyeon.png) no-repeat center top 70%;
    background-size: 100% auto;	
}
.prod_info_detail .logo_amio {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_amio.png) no-repeat center top 70%;
    background-size: 100% auto;	
}
.prod_info_detail .logo_fullskids {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_fullskids.png) no-repeat center center;
    background-size: 100% auto;	
}
.prod_info_detail .logo_lohas {
    float: right;
    width: 50px;
    height: 40px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/logo_lohas.png) no-repeat center center;
    background-size: 100% auto;	
}
.prod_info_detail .prod_info_header h2 {
    margin-top: 47px;
    margin-bottom: 19px;
    color: #1b1b1b;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -1px;
}
.prod_info_detail .prod_info_header h2 span {
    display: block;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 19px;
}
.prod_info_detail .prod_info_header .prod_cont {
    margin-bottom: 27px;
    color: #323131;
    font-size: 15px;
    line-height: 1.7em;
}
.prod_info_detail br{
    display: none
}
.prod_info_detail .prod_info_header .prod_thumb {
    position: relative;
    margin-left: -21px;
    margin-right: -21px;
}
.prod_info_detail .prod_info_header .prod_thumb:before {
    content: '';
    position: absolute;
    top: 31.5%;
    left: 2%;
    right: 0px;
    height: 100%;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_header_symbol.png) no-repeat center;
    background-size: 100% auto;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb.tip {
	margin-top: 15px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb.tip + .prod_cont {
	margin-top: 15px;
}
.prod_info_detail .prod_info_header .prod_info_section .prod_cont_title {
	padding-bottom: 12px;
	font-size: 18px;
}
.prod_info_detail .prod_info_header .prod_info_section .prod_thumb:before,
.prod_info_detail .prod_info_header .prod_info_section .prod_cont_title:before {
	display: none;
}
.prod_info_detail .prod_thumb img {
    width: 100%;
}
.prod_info_detail .prod_info_list {
    overflow: hidden;
}
.prod_info_detail .prod_info_list li {
    float: left;
    width: 50%;
    height: 175px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 1.3em;
    border: 0px;
}
.prod_info_detail .prod_info_list li img {
    height: 75px;
    width: auto;
}
.prod_info_detail .prod_info_list li.line_r {
    border-right: 1px solid #000;
}
.prod_info_detail .prod_info_list li.line_b {
    border-bottom: 1px solid #000;
}
.prod_info_detail .prod_info_list li strong {
    display: block;
    margin-bottom: 5px;
    color: #323131;
    font-size: 15px;
    font-weight: 600;
}
.prod_info_detail .prod_info_section {
    position: relative;
    margin-bottom: 54px;
    padding: 54px 21px 0;
    border-top: 1px solid #cbcbcb;
}
.prod_info_detail .prod_info_section h3 {
    position: relative;
    padding-left: 12px;
    color: #323131;
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
}
.prod_info_detail .prod_info_section h3:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #3bcc29;
}
.prod_info_detail .prod_info_section h3 + .prod_cont {
    margin-top: 14px;
}
.prod_info_detail .prod_info_section .prod_cont_title {
    display: block;
    position: relative;
    margin-top: 17px;
    padding-bottom: 4px;
    padding-left: 19px;
    color: #323131;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
}
.prod_info_detail .prod_info_section .prod_cont_title:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 12px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #323131;
}
.prod_info_detail .prod_info_section .prod_cont_title.red {
	color: #dc1c1c
}
.prod_info_detail .prod_info_section .prod_cont_title.red:before {
    background: #dc1c1c;
}
.prod_info_detail .prod_info_section .prod_cont_title em {
    color: #6da920;
    font-style: normal;
    font-weight: 600;
}
.prod_info_detail .prod_info_section .prod_cont_title em.t2 {
    color: #ec008c;
}
.prod_info_detail .prod_info_section .prod_thumb {
    margin-top: 30px;
}
.prod_info_detail .prod_info_section h3 + .prod_thumb {
    margin-top: 30px;
}
.prod_info_detail .prod_info_section .prod_cont_title + .prod_thumb {
    margin-top: 28px;
}
.prod_info_detail .prod_info_section .prod_cont {
    padding-left: 18px;
    color: #323131;
    font-size: 15px;
    line-height: 1.5em;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_cont_title {
    margin-top: 14px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb {
    margin-top: 36px;
}
.prod_info_detail .prod_info_section .prod_thumb + .prod_thumb {
    margin-top: 6px;
}
.prod_info_detail .prod_info_section .prod_thumb + .prod_cont {
    margin-top: 14px;
}
.prod_info_detail .prod_info_section .prod_cont em {
    font-weight: 600;
    font-style: normal;
}
.prod_info_detail .prod_info_section .prod_cont.red {
	color: #dc1c1c
}

.prod_info_detail .prod_info_section .prod_cont span.t_line {
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_line_or.jpg) repeat-x left bottom;
}
.prod_info_detail .prod_info_section .prod_cont .icon_tip {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 21px;
    margin-left: -3px;
    margin-right: 3px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_tip.gif) no-repeat center;
    background-size: cover;
}
.prod_info_detail .prod_info_section .icon_star.sm {
    width: 20px;
    background-size: 20px;
}
.prod_info_detail .prod_info_section .icon_star {
    display: inline-block;
    vertical-align: top;
    width: 17.5px;
    height: 16px;
    margin-left: 3px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_star.gif) no-repeat center;
    background-size: cover;
}
.prod_info_detail .prod_info_section .icon_recomend {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 27.5px;
    margin-top: -3px;
    margin-bottom: -4px;
    margin-left: 3px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_recomend.gif) no-repeat center;
    background-size: cover;
}
.prod_info_detail .prod_info_section .prod_cont.bullet {
    position: relative;
    padding-left: 28px;
}
.prod_info_detail .prod_info_section .prod_cont.bullet i {
    position: absolute;
    top: 0px;
    left: 18px;
    font-style: normal;
}
.prod_info_detail .prod_info_section .prod_cont.bullet i[class^="icon_"] {
    position: static
}
.prod_info_detail .prod_info_section .prod_cont.bullet.ty02{
    padding-left: 44px;
}
.prod_info_detail .prod_info_section .prod_cont.bullet.ty02 i {
    top:3px;
}
.prod_info_detail .prod_info_section .prod_cont.bullet.ty02 i img{
    width:90%;
}
.prod_info_detail .prod_info_section .prod_cont_table {
    margin-top: 5px;
    margin-left: 18px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table table {
    width: 100%;
}
.prod_info_detail .prod_info_section .prod_cont_table thead th {
    height: 48px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
	vertical-align: middle;
    background: #eee;
    border-left: 1px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table thead th:first-child {
    border-left: 0px;
}
.prod_info_detail .prod_info_section .prod_cont_table tbody td {
    height: 48px;
    color: #000;
    font-size: 15px;
	vertical-align: middle;
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table tbody td:first-child {
    border-left: 0px;
}
.prod_info_detail .prod_info_section .txt_source {
    margin-top: 8px;
    color: #000;
    font-size: 15px;
    font-weight: 100;
    text-align: right;
}
.prod_info_detail .prod_qna_list {
    margin-top: 23px;
    margin-left: 18px;
}
.prod_info_detail .prod_qna_list i {
    position: absolute;
    top: -6px;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 100%;
    border-radius: 50%;
}
.prod_info_detail .prod_qna_list p {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    padding: 15px 16px;
    font-size: 15px;
    line-height: 1.5em;
    text-align: left;
    border-radius: 8px;
    background: #ededed;
}
.prod_info_detail .prod_qna_list p strong {
    display: block;
    font-weight: 500;
}
.prod_info_detail .prod_qna_list dt {
    position: relative;
    padding-left: 42px;
    margin-bottom: 12px;
}
.prod_info_detail .prod_qna_list dt:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 9px;
    left: 26px;
    width: 0px;
    height: 0px;
    border-top: 14px solid #ededed;
    border-bottom: 18px solid transparent;
    border-right: 18px solid transparent;
    border-left: 24px solid  transparent;
}
.prod_info_detail .prod_qna_list dt i {
    left: 0px;
    padding-top: 5px;
    font-family: arial;
    background: #3bcc29;      
}
.prod_info_detail .prod_qna_list dd {
    position: relative;
    text-align: right;
    margin-bottom: 12px;
    padding-right: 42px;
}
.prod_info_detail .prod_qna_list dd:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 9px;
    right: 26px;
    width: 0px;
    height: 0px;
    border-top: 14px solid #ededed;
    border-bottom: 18px solid transparent;
    border-right: 24px solid transparent;
    border-left: 18px solid  transparent;
}
.prod_info_detail .prod_qna_list dd i {
    right: 0px;
    background: #dd664e;
}

.prod_info_detail .prod_cont_list {
    padding-left: 18px;
}
.prod_info_detail .prod_cont_list li {
    display: table;
}
.prod_info_detail .prod_cont_list li > * {
    display: table-cell;  
    padding-right: 6px;
    color: #323131;
    font-size: 15px;
    line-height: 1.5em;
}
.prod_info_detail .prod_cont_list li > strong {
    white-space: nowrap;
}
.prod_info_detail .prod_cont_list li strong {
    font-weight: 400
}
.prod_info_detail .prod_cont_list li .prod_cont {
    padding-left: 0px;
}
.prod_info_detail .prod_cont_list .prod_cont.bullet {
    padding-left: 10px;
}
.prod_info_detail .prod_cont_list .prod_cont.bullet i {
    left: 0px;
}

.prod_info_section .prod_info_list {
    margin-top: 5%;
}
.prod_info_section .prod_info_list li {
    min-height: 210px;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center
}

.prod_info_detail.w720 .prod_video {
	position: relative;
	padding: 30px 0 50%;
	height: 0;
	overflow: hidden;
	text-align: center;
	background: #473529;
}

.prod_info_detail.w720 .prod_video iframe {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
	max-width: 100%;
}

.product_detail_wrap{max-width:948px;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.product_detail_wrap .blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0,0,0,0)}
.product_detail_wrap .inner img{width:100%;vertical-align:top}
.product_detail_wrap .detail_wrap{position:relative;text-align:center}
.product_detail_wrap .bi{padding:13px 17px 9px;height:80px;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .bi_wrap{display:inline-block;max-width:113px}
.product_detail_wrap .bi img{width:100%}

.product_detail_wrap .intro_img{display:block}

.product_detail_wrap .pmo:before{position:absolute;left:0;bottom:-100px;z-index:1;width:200px;height:162px;background:url(https://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_pattern1.png) 0 0 no-repeat;content:''}
.product_detail_wrap .pmo:after{position:absolute;right:0;bottom:-55px;z-index:1;width:164px;height:322px;background:url(https://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_pattern2.png) 0 0 no-repeat;content:''}

.product_detail_wrap .detail_subtitle{display:block;margin-top:60px;font-size:30px;font-weight:300;color:#1b1b1b}
.product_detail_wrap .detail_title{display:block;margin-top:8px;font-size:42px;font-weight:500;color:#1b1b1b}
.product_detail_wrap .detail_point_title{display:block;font-size:36px;font-weight:500;color:#1b1b1b;line-height:38px}
.product_detail_wrap .detail_text{margin-top:32px;font-size:21px;font-weight:100;color:#323131;line-height:1.7}

.product_detail_wrap .product_info_wrap{margin-top:56px;padding:0 60px}
.product_detail_wrap .product_list{overflow:hidden;position:relative;font-size:0}
.product_detail_wrap .product_list:before{position:absolute;top:0;left:50%;width:1px;height:100%;background:#000;content:''}
.product_detail_wrap .product_list li{display:inline-block;position:relative;width:50%;height:100%;padding:0 12px 36px;min-height:300px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_list li:nth-child(n+3):before{position:absolute;left:0;top:0;width:100%;height:1px;background:#000;content:''}
.product_detail_wrap .product_icon{display:block;max-height:150px;margin:0 auto}
.product_detail_wrap .product_title{display:block;font-size:28px;font-weight:500;color:#323131;line-height:1.4}
.product_detail_wrap .porduct_text{margin-top:6px;font-size:22px;font-weight:100;color:#323131;line-height:30px}

.product_detail_wrap .is_odd_type .product_list:before{display:none}
.product_detail_wrap .is_odd_type .product_list li{width:33.33334%;}
.product_detail_wrap .is_odd_type .product_list li:nth-child(n+3):before{display:none}

.product_detail_wrap .product_info_title{margin-top:108px;padding-top:108px;font-size:32px;font-weight:500;color:#323131;border-top:1px solid #cbcbcb;text-align:left}
.product_detail_wrap .product_info_title:before{display:inline-block;width:12px;height:12px;margin:-10px 10px 0 0;background:#3bcc29;vertical-align:middle;border-radius:50%;-webkit-border-radius:50%;content:''}

.product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:35px}
.product_detail_wrap .product_info_subtitle{display:block;position:relative;margin-top:48px;padding-left:59px;font-size:28px;font-weight:500;color:#323131;text-align:left;line-height:1.4}
.product_detail_wrap .product_info_subtitle:before{position:absolute;top:17px;left:43px;width:6px;height:6px;background:#323131;border-radius:50%;-webkit-border-radius:50%;content:''}

.product_detail_wrap li.product_info_subtitle{margin-top:39px}

.product_detail_wrap .product_info_text{display:block;margin-top:11px;padding:0 60px;font-size:22px;font-weight:100;color:#323131;text-align:left;line-height:1.5}
.product_detail_wrap .product_info_text .dot{display:inline-block;width:3px;height:3px;margin:-3px 8px 0 0;background:#323131;vertical-align:middle}

.product_detail_wrap .product_info_image{display:block}
.product_detail_wrap .product_notice{margin-top:112px;padding:0 13px;font-size:22px;font-weight:100;text-align:left}
.product_detail_wrap .product_info_title + .product_info_image{margin-top:60px}
.product_detail_wrap .product_info_image{margin-top:54px}

.product_detail_wrap .point{color:#6da920}
.product_detail_wrap em{color:#000;font-weight:600}

.product_detail_wrap .product_info_table{margin-top:24px}
.product_detail_wrap .product_info_table table{width:100%;border-top:2px solid #000;border-bottom:2px solid #000;font-size:22px;text-align:center;table-layout:fixed;border-collapse:collapse}
.product_detail_wrap .product_info_table th{padding:15px 0;border-top:1px solid #000;border-left:1px solid #000;background-color:#eee;color:#000;font-size:22px}
.product_detail_wrap .product_info_table td{padding:15px 0;border-top:1px solid #000;border-left:1px solid #000;color:#000}
.product_detail_wrap .product_info_table td:first-child,
.product_detail_wrap .product_info_table th:first-child{border-left:none}

.detail_wrap .table_text{font-size:26px;color:#323131;text-align:right}

@media all and (max-width:720px){
    
    .product_detail_wrap{overflow:hidden;max-width:720px;padding-bottom:64px}
    
    .product_detail_wrap .detail_wrap{padding:0 5.833334%}
    .product_detail_wrap .detail_wrap.bi{height:auto;padding:0 2.777778%}
    .product_detail_wrap .bi_wrap{display:block;max-width:75px}
    .product_detail_wrap .intro_img{margin:0 -6.605%}

    .product_detail_wrap .pmo{margin:0 -5.833334%}
    .product_detail_wrap .pmo:before{bottom:-37px;width:100px;height:81px;background-size:100% auto}
    .product_detail_wrap .pmo:after{bottom:-36px;width:82px;height:161px;background-size:100% auto}

    .product_detail_wrap br{display:none}
    .product_detail_wrap .detail_subtitle{margin-top:47px;font-size:19px}
    .product_detail_wrap .detail_title{margin-top:1px;font-size:25px}
    .product_detail_wrap .detail_point_title{font-size:23px;line-height:22px}
    .product_detail_wrap .detail_text{margin-top:20px;padding:0 9.43396226%;font-size:14px;line-height:1.5;word-break:keep-all}

    .product_detail_wrap .product_info_wrap{margin-top:28px;padding:0}
    .product_detail_wrap .product_list li{min-height:172px;padding:0 1.88679245% 5.6603773%}
    .product_detail_wrap .product_icon{max-height:none}
    .product_detail_wrap .product_icon img{width:auto;max-height:75px}
    .product_detail_wrap .product_title{font-size:14px;line-height:1.3}
    .product_detail_wrap .porduct_text{margin-top:3px;font-size:11px;line-height:1.3}

    .product_detail_wrap .product_info_title{margin-top:54px;padding-top:48px;font-size:18px}
    .product_detail_wrap .product_info_title:before{width:6px;height:6px;margin:-4px 5px 0 0}

    .product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:17px}
    .product_detail_wrap .product_info_subtitle{margin-top:17px;padding-left:15px;font-size:15px}
    .product_detail_wrap .product_info_subtitle:before{top:9px;left:9px;width:3px;height:3px}

    .product_detail_wrap .product_info_text{margin-top:4px;padding:0 16px;font-size:13px;word-break:keep-all}
    .product_detail_wrap .product_notice{margin-top:12px;font-size:13px}
    .product_detail_wrap .product_info_title + .product_info_image{margin-top:30px}
    .product_detail_wrap .product_info_image{margin-top:36px}

    .product_detail_wrap .product_info_table{margin-top:12px}
    .product_detail_wrap .product_info_table table{font-size:13px}
    .product_detail_wrap .product_info_table th{padding:5px 0;font-size:13px}
    .product_detail_wrap .product_info_table td{padding:5px 0}

    .product_detail_wrap .table_text{margin-top:12px;font-size:13px}
}