@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.product_detail_wrap{max-width:948px;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.product_detail_wrap .blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0,0,0,0)}
.product_detail_wrap .inner img{width:100%;vertical-align:top}
.product_detail_wrap .detail_wrap{position:relative;text-align:center}
.product_detail_wrap .bi{padding:13px 17px 9px;height:80px;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .bi_wrap{display:inline-block;max-width:113px}
.product_detail_wrap .bi img{width:100%}

.product_detail_wrap .intro_img{display:block}

.product_detail_wrap .pmo:before{position:absolute;left:0;bottom:-100px;z-index:1;width:200px;height:162px;background:url(https://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_pattern1.png) 0 0 no-repeat;content:''}
.product_detail_wrap .pmo:after{position:absolute;right:0;bottom:-55px;z-index:1;width:164px;height:322px;background:url(https://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_pattern2.png) 0 0 no-repeat;content:''}

.product_detail_wrap .detail_subtitle{display:block;margin-top:60px;font-size:30px;font-weight:300;color:#1b1b1b}
.product_detail_wrap .detail_title{display:block;margin-top:8px;font-size:42px;font-weight:500;color:#1b1b1b}
.product_detail_wrap .detail_point_title{display:block;font-size:36px;font-weight:500;color:#1b1b1b;line-height:38px}
.product_detail_wrap .detail_text{margin-top:32px;font-size:21px;font-weight:100;color:#323131;line-height:1.7}

.product_detail_wrap .product_info_wrap{margin-top:56px;padding:0 60px}
.product_detail_wrap .product_list{overflow:hidden;position:relative;font-size:0}
.product_detail_wrap .product_list:before{position:absolute;top:0;left:50%;width:1px;height:100%;background:#000;content:''}
.product_detail_wrap .product_list li{display:inline-block;position:relative;width:50%;height:100%;padding:0 12px 36px;min-height:300px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_list li:nth-child(n+3):before{position:absolute;left:0;top:0;width:100%;height:1px;background:#000;content:''}
.product_detail_wrap .product_icon{display:block;max-height:150px;margin:0 auto}
.product_detail_wrap .product_title{display:block;font-size:28px;font-weight:500;color:#323131;line-height:1.4}
.product_detail_wrap .porduct_text{margin-top:6px;font-size:22px;font-weight:100;color:#323131;line-height:30px}

.product_detail_wrap .is_odd_type .product_list:before{display:none}
.product_detail_wrap .is_odd_type .product_list li{width:33.33334%;}
.product_detail_wrap .is_odd_type .product_list li:nth-child(n+3):before{display:none}

.product_detail_wrap .product_info_title{margin-top:108px;padding-top:108px;font-size:32px;font-weight:500;color:#323131;border-top:1px solid #cbcbcb;text-align:left}
.product_detail_wrap .product_info_title:before{display:inline-block;width:12px;height:12px;margin:-10px 10px 0 0;background:#3bcc29;vertical-align:middle;border-radius:50%;-webkit-border-radius:50%;content:''}

.product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:35px}
.product_detail_wrap .product_info_subtitle{display:block;position:relative;margin-top:48px;padding-left:59px;font-size:28px;font-weight:500;color:#323131;text-align:left;line-height:1.4}
.product_detail_wrap .product_info_subtitle:before{position:absolute;top:17px;left:43px;width:6px;height:6px;background:#323131;border-radius:50%;-webkit-border-radius:50%;content:''}

.product_detail_wrap li.product_info_subtitle{margin-top:39px}

.product_detail_wrap .product_info_text{display:block;margin-top:11px;padding:0 60px;font-size:22px;font-weight:100;color:#323131;text-align:left;line-height:1.5}
.product_detail_wrap .product_info_text .dot{display:inline-block;width:3px;height:3px;margin:-3px 8px 0 0;background:#323131;vertical-align:middle}

.product_detail_wrap .product_info_image{display:block}
.product_detail_wrap .product_notice{margin-top:112px;padding:0 13px;font-size:22px;font-weight:100;text-align:left}
.product_detail_wrap .product_info_title + .product_info_image{margin-top:60px}
.product_detail_wrap .product_info_image{margin-top:54px}

.product_detail_wrap .point{color:#6da920}
.product_detail_wrap em{color:#000;font-weight:600}

.product_detail_wrap .product_info_table{margin-top:24px}
.product_detail_wrap .product_info_table table{width:100%;border-top:2px solid #000;border-bottom:2px solid #000;font-size:22px;text-align:center;table-layout:fixed;border-collapse:collapse}
.product_detail_wrap .product_info_table th{padding:15px 0;border-top:1px solid #000;border-left:1px solid #000;background-color:#eee;color:#000;font-size:22px}
.product_detail_wrap .product_info_table td{padding:15px 0;border-top:1px solid #000;border-left:1px solid #000;color:#000}
.product_detail_wrap .product_info_table td:first-child,
.product_detail_wrap .product_info_table th:first-child{border-left:none}

.detail_wrap .table_text{font-size:26px;color:#323131;text-align:right}

@media all and (max-width:720px){
    
    .product_detail_wrap{overflow:hidden;max-width:720px;padding-bottom:64px}
    
    .product_detail_wrap .detail_wrap{padding:0 5.833334%}
    .product_detail_wrap .detail_wrap.bi{height:auto;padding:0 2.777778%}
    .product_detail_wrap .bi_wrap{display:block;max-width:75px}
    .product_detail_wrap .intro_img{margin:0 -6.605%}

    .product_detail_wrap .pmo{margin:0 -5.833334%}
    .product_detail_wrap .pmo:before{bottom:-37px;width:100px;height:81px;background-size:100% auto}
    .product_detail_wrap .pmo:after{bottom:-36px;width:82px;height:161px;background-size:100% auto}

    .product_detail_wrap br{display:none}
    .product_detail_wrap .detail_subtitle{margin-top:47px;font-size:19px}
    .product_detail_wrap .detail_title{margin-top:1px;font-size:25px}
    .product_detail_wrap .detail_point_title{font-size:23px;line-height:22px}
    .product_detail_wrap .detail_text{margin-top:20px;padding:0 9.43396226%;font-size:14px;line-height:1.5;word-break:keep-all}

    .product_detail_wrap .product_info_wrap{margin-top:28px;padding:0}
    .product_detail_wrap .product_list li{min-height:172px;padding:0 1.88679245% 5.6603773%}
    .product_detail_wrap .product_icon{max-height:none}
    .product_detail_wrap .product_icon img{width:auto;max-height:75px}
    .product_detail_wrap .product_title{font-size:14px;line-height:1.3}
    .product_detail_wrap .porduct_text{margin-top:3px;font-size:11px;line-height:1.3}

    .product_detail_wrap .product_info_title{margin-top:54px;padding-top:48px;font-size:18px}
    .product_detail_wrap .product_info_title:before{width:6px;height:6px;margin:-4px 5px 0 0}

    .product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:17px}
    .product_detail_wrap .product_info_subtitle{margin-top:17px;padding-left:15px;font-size:15px}
    .product_detail_wrap .product_info_subtitle:before{top:9px;left:9px;width:3px;height:3px}

    .product_detail_wrap .product_info_text{margin-top:4px;padding:0 16px;font-size:13px;word-break:keep-all}
    .product_detail_wrap .product_notice{margin-top:12px;font-size:13px}
    .product_detail_wrap .product_info_title + .product_info_image{margin-top:30px}
    .product_detail_wrap .product_info_image{margin-top:36px}

    .product_detail_wrap .product_info_table{margin-top:12px}
    .product_detail_wrap .product_info_table table{font-size:13px}
    .product_detail_wrap .product_info_table th{padding:5px 0;font-size:13px}
    .product_detail_wrap .product_info_table td{padding:5px 0}

    .product_detail_wrap .table_text{margin-top:12px;font-size:13px}
}