@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:35%;left:12%;width:75%;height:7%}
.event_wrap .btn_lnk2{top:42%;left:12%;width:75%;height:7.5%}
.event_wrap .btn_lnk3{top:82%;left:12%;width:75%;height:7%}
.event_wrap .btn_lnk4{top:89%;left:12%;width:75%;height:7.5%}
.event_wrap .btn_lnk5{top:0;left:0;right:0;bottom:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:40%;left:8%;right:8%;height:42%;background:url(https://i.vimeocdn.com/video/1438435143-e2ccd16e948a88092bf37dd617ab2b17d62354881ceec3df9fad6690632280e8-d?mw=1700&mh=956) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}