@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;cursor:default}
.event_wrap .btn_lnk1{top:76%;left:0;width:50%;height:7.5%}
.event_wrap .btn_lnk2{top:83.5%;left:0;width:50%;height:7.5%}
.event_wrap .btn_lnk3{top:76%;left:52%;width:50%;height:7.5%}
.event_wrap .btn_lnk4{top:83.5%;left:52%;width:50%;height:7.5%}
.event_wrap .btn_lnk5{top:14%;left:0;right:0;bottom:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:364px;left:50%;transform:translateX(-50%);width:840px;height:472px;background:url(https://i.vimeocdn.com/video/1438435143-e2ccd16e948a88092bf37dd617ab2b17d62354881ceec3df9fad6690632280e8-d?mw=1700&mh=956) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
