@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .evt_notice{padding: 0 120px 100px;background:#f5e6d7;box-sizing:border-box}
.event_wrap .notice_list{padding: 40px 25px;background:#b5b5b5}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:7px;font-size:15px;font-weight:600;color:#333333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top: 9px;left:0;width: 2px;height: 2px;background-color:#333333;content:''}

.order_step_slide{overflow:hidden;font-size:0;height:917px}
.order_step_slide .swiper-slide{display:inline-block;position:relative;width:100%;height:100%;white-space:nowrap}
.order_step_slide .controls [class^="btn_"]{position:absolute;top:50%;display:inline-block;width:24px;height:57px;transform:translate(0,-50%)} 
.order_step_slide .controls .btn_prev{left:30px;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_green_vegetable_juice/img/btn_prev.png') no-repeat left top}
.order_step_slide .controls .btn_next{right:30px;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_green_vegetable_juice/img/btn_next.png') no-repeat right top}
.order_step_slide .controls .hide{display:none}
.order_step_slide .controls .pagination{position:absolute;left:50%;bottom:84px;height:14px;margin:0;transform:translate(-50%,0)}
.order_step_slide .controls .pagination .swiper-pagination-switch{display:inline-block;width:14px;height:14px;margin:0 16px;border:2px solid #648b00;border-radius:100%;background-color:#e1f3b3;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.order_step_slide .controls .pagination .swiper-active-switch{background-color:#648b00;}

.event_wrap .btn_order{top:24.5%;left:33%;width:34%;height:4%}
.event_wrap .btn_lnk1{top:49%;left:11.7%;width:21%;height:9%}
.event_wrap .btn_lnk2{top:91%;left:11.7%;width:21%;height:9%}
.event_wrap .btn_lnk3{top:36%;left:11.7%;width:21%;height:9%}
.event_wrap .btn_lnk4{top:83%;left:11.7%;width:21%;height:9%}
