@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

/* notice */
.event_wrap .evt_notice{padding:0 5.55556% 50px;background:#f5e6d7;box-sizing:border-box}
.event_wrap .notice_list{padding:20px 12px;background:#b5b5b5}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:5px;font-size:12px;font-weight:600;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:0;width:2px;height:2px;background-color:#333;content:''}


.order_step_slide{overflow:hidden}
.order_step_slide [class^="swiper-button-"]{top:50%;width:12px;height:29px;margin-top:0;transform:translate(-50%,0)} 
.order_step_slide .swiper-button-prev{left:2.777778%;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_green_vegetable_juice/img/btn_prev.png') 0 0 no-repeat;background-size:100% auto}
.order_step_slide .swiper-button-next{right:0;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_green_vegetable_juice/img/btn_next.png') 0 0 no-repeat;background-size:100% auto}
.order_step_slide .swiper-button-prev.swiper-button-disabled,
.order_step_slide .swiper-button-next.swiper-button-disabled {opacity:0}
.order_step_slide .swiper-pagination-bullets{position:absolute;left:50%;bottom:25px;height:7px;z-index:10;transform:translate(-50%,0)}
.order_step_slide .swiper-pagination-bullet{display:inline-block;width:7px;height:7px;margin:0 6px;border:1px solid #648b00;border-radius:100%;background-color:#e1f3b3;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top}
.order_step_slide .swiper-pagination-bullet-active{width:7px;height:7px;background-color:#648b00;opacity:1;margin-top:0}

.event_wrap .btn_order{top:72.5%;left:22%;width:56%;height:10%}
.event_wrap .btn_lnk1{top:51.5%;left:6%;width:88%;height:3.5%}
.event_wrap .btn_lnk2{top:96.5%;left:6%;width:88%;height:3.5%}
.event_wrap .btn_lnk3{top:42.4%;left:6%;width:88%;height:3.5%}
.event_wrap .btn_lnk4{top:89%;left:6%;width:88%;height:3.5%}
