@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:10;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:12.5vw;z-index:20}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/evt_nav_on.jpg) 0 0/200%;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}

/* product - 가장 HOT 제품 */
.event_wrap .product_list{position:absolute;top:48.3333vw;left:0;display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5.555vw}
.event_wrap .product_list li{width:43.055vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{position:relative;display:block;width:100%;height:43.055vw;background:#fff;overflow:hidden}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin-bottom:2.083vw}            
.event_wrap .original{margin-right:1.5vw}
.event_wrap .original del{font-size:3.33333vw;color:#222;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .percent{position:relative;display:flex;margin-left:1.6vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#8b1c2c;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#8b1c2c;font-family:'Lato'}

/* product - 가장 많이 팔린 제품 */
.event_wrap .slide_box_ver2{position:absolute;top:52.2222vw;left:0;width:100vw;overflow-x:hidden;-webkit-backface-visibility:hidden;background:#fff}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:50vw;margin-left:25vw} /* 상품2개 출력 margin-left:25vw 삭제 */
.event_wrap .slide_box_ver2 .slide_list2 .inner{position:relative}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{position:relative;width:100vw}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 .product_img{height:50vw}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 .product_img:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:50vw;background:rgba(0,0,0,.04);z-index:2}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;height:100%;margin:0 !important}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 a{display:block;width:100%;height:100%}

.event_wrap .slide_box_ver2 .slide_btn_box2 button{position:absolute;width:11.1111vw;height:11.1111vw;top:34vw;color:#fff;background:rgba(0,0,0,0.5);border:none;cursor:pointer;touch-action:none}
.event_wrap .slide_box_ver2 .slide_btn_box2 .slide_btn_prev2{left:2%;border-radius:100px}
.event_wrap .slide_box_ver2 .slide_btn_box2 .slide_btn_next2{right:2%;border-radius:100px}

.event_wrap .slide_box_ver2 .slide_btn_show2 button{display:none}
.event_wrap .slide_box_ver2 .slide_pagination2{position:relative;text-align:center;margin:5vw 0}
.event_wrap .slide_box_ver2 .slide_pagination2 .dot2{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 1.2vw;background:#ddd;border-radius:100px;transition:0.3s}
.event_wrap .slide_box_ver2 .slide_pagination2 .dot2.dot_active2{background:#525252}
.event_wrap .slide_box_ver2 .slide_pagination2 .dot2 a{display:block;width:100%;height:100%}

.event_wrap .slide_box_ver2 .product_info{justify-content:center;text-align:center;padding-bottom:0}
.event_wrap .slide_box_ver2 .original del{color:#999}
.event_wrap .slide_box_ver2 .percent .num{color:#fc6f2b}
.event_wrap .slide_box_ver2 .percent .unit{color:#fc6f2b}

/* notice */
.event_wrap .p_evt_noti{background:#04775e}
.event_wrap .evt_notice{padding:8.3333vw 5.5555vw 13.8888vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#b39b5e url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/img_noti.jpg) 50% 0/100%}
.event_wrap .noti2 .evt_notice{padding-top:0}
.event_wrap .noti2 .notice_title{border-top:2px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .noti2 .notice_list li{color:#222}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

.event_wrap .survey_desc{padding-top:5vw;text-align:center}
.event_wrap .survey_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#fff}
.event_wrap .survey_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 22.2222vw !important;background:#04775e !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:13.8888vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:58vw;left:5.6vw;right:5.6vw;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:10vw;z-index:10}
.event_wrap .dday_count > span{display:block;width:19.4444vw}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .p_evt_sec4{background:#282d36;height:92.7777vw;overflow:hidden}
.event_wrap .p_evt_sec4 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:160vw;height:100vw;top:-10vw;left:-5vw;right:0;z-index:0}
