@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:304px;right:304px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:75px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-280px 0}

/* product - 가장 HOT 제품 */
.event_wrap .product_list{position:absolute;top:310px;left:40px;display:flex;flex-wrap:wrap;gap:0 8px}
.event_wrap .product_list li{width:266px;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:266px;background:#fff;overflow:hidden}
.event_wrap .product_list .product_img img{position:relative;height:100%;margin:0 !important}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:60px}
.event_wrap .product_brand{font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-0.5px;word-break:keep-all;margin-bottom:10px}
.event_wrap .original{margin:6px 8px 0 0}
.event_wrap .original del{font-size:18px;color:#333;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:18px;font-weight:500;color:#222;margin-left:-3px}
.event_wrap .percent{position:relative;margin:0 0 0 8px;display:flex}
.event_wrap .percent .num{font-size:26px;font-weight:600;color:#8b1c2c;font-family:'Lato'}
.event_wrap .percent .unit{font-size:24px;font-weight:600;color:#8b1c2c;font-family:'Lato'}

/* product - 가장 많이 팔린 제품 */
.event_wrap .slide_box_ver2{position:absolute;top:310px;left:40px;right:40px;min-width:1168px;overflow-x:hidden;-webkit-backface-visibility:hidden;background:#fff}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:25%}
.event_wrap .slide_box_ver2 .slide_list2 .inner{position:relative}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{position:relative;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 .product_img:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:272px;background:rgba(0,0,0,.04);z-index:2}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;height:100%;margin:0 !important}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 a{display:block;width:100%;height:100%}

.event_wrap .slide_box_ver2 .slide_btn_box2 button{position:absolute;width:50px;height:50px;top:190px;color:#fff;background:rgba(0,0,0,0.5);border:none;cursor:pointer;touch-action:none}
.event_wrap .slide_box_ver2 .slide_btn_box2 .slide_btn_prev2{left:10px;border-radius:100px}
.event_wrap .slide_box_ver2 .slide_btn_box2 .slide_btn_next2{right:10px;border-radius:100px}

.event_wrap .slide_box_ver2 .slide_btn_show2 button{display:none}
.event_wrap .slide_box_ver2 .slide_pagination2{position:relative;text-align:center;margin-bottom:24px}
.event_wrap .slide_box_ver2 .slide_pagination2 .dot2{display:inline-block;width:8px;height:8px;margin:0 4px;background:#ddd;border-radius:100px;transition:0.3s}
.event_wrap .slide_box_ver2 .slide_pagination2 .dot2.dot_active2{background:#525252}
.event_wrap .slide_box_ver2 .slide_pagination2 .dot2 a{display:block;width:100%;height:100%}

.event_wrap .slide_box_ver2 .product_info{justify-content:center;text-align:center;margin-bottom:20px}
.event_wrap .slide_box_ver2 .original del{color:#999}
.event_wrap .slide_box_ver2 .percent .num{color:#fc6f2b}
.event_wrap .slide_box_ver2 .percent .unit{color:#fc6f2b}

/* notice */
.event_wrap .p_evt_noti{background:#04775e url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .evt_notice{padding:0 40px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#b39b5e url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/p_img_noti2.jpg) 50% 0}
.event_wrap .noti2 .notice_title{border-top:4px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .noti2 .notice_list li{color:#222}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

.event_wrap .survey_desc{padding:15px 0 75px;text-align:center}
.event_wrap .survey_desc span{display:block;margin:0 5px;font-size:16px;color:#fff}
.event_wrap .survey_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:80px;margin:0 auto;padding:0;background:#04775e}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:352px;height:80px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* object */
.event_wrap .p_evt_tit:after{position:absolute;top:480px;left:50%;transform:translateX(-50%);width:363px;height:401px;margin-left:780px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year_member/img/object/object1.png) 0 0 no-repeat;content:'';z-index:11}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:412px;left:264px;right:264px;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:80px;z-index:10}
.event_wrap .dday_count > span{display:block;width:140px}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .p_evt_sec4{background:#282d36;height:668px;overflow:hidden}
.event_wrap .p_evt_sec4 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:2500px;height:1000px;top:0;left:-550px;right:0;z-index:0}
