@charset "utf-8";

/* common */
.event_wrap{max-width:720px;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto}

.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec6{background:#f7f0e7}
.event_wrap .p_evt_sec8{background:#75b659}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#7ec560}

/* img slide */
.event_wrap .slide_wrap{overflow:hidden;position:absolute;top:17.44627%;left:61.666666%;right:21.3888888%;height:28%}
.event_wrap .slide_list{font-size:0;white-space:nowrap}
.event_wrap .slide_list li{display:inline-block;vertical-align:top}

/* title tab */
.event_wrap .tit_tab_wrap{position:absolute;top:80.9%;left:15%;width:70%;height:19%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap a{display:block;width:100%;height:100%}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{position:relative;float:left;width:20%;height:100%;margin:0;padding:0}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_tab.is_fixed{padding-top:22.5%}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;top:0;left:50%;z-index:1;width:100%;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}

/* product */
.event_wrap .product_list{padding:0 3.88888888%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:49.6240601%;height:auto;margin:0 0 32px 0.75187969%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:4px;font-size:13px;font-weight:400;color:#333;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:35px;height:35px;font-size:10px;color:#fff;text-align:center;line-height:35px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:5px;font-size:12px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:16px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#333}

/* btn */
.event_wrap .btn_coupon{top:45%;left:33%;width:34%;height:7%}
.event_wrap .btn_lnk1{top:23%;left:28%;width:43%;height:16%}
.event_wrap .btn_lnk2{top:74%;left:28%;width:43%;height:16%}

.event_wrap .btn_apply{top:84%;left:17%;width:66%;height:7%}

.event_wrap .btn_wrap{text-align:center}
.event_wrap .btn_more{display:block;width:66.38888%;height:48px;margin:0 auto;font-size:15px;color:#fff;line-height:48px}

/*  */
.event_wrap .p_evt_sec2 .percent,
.event_wrap .p_evt_sec2 .btn_more{background:#c6544b}
.event_wrap .p_evt_sec3 .percent,
.event_wrap .p_evt_sec3 .btn_more{background:#4b4738}
.event_wrap .p_evt_sec4 .percent,
.event_wrap .p_evt_sec4 .btn_more{background:#c88d31}
.event_wrap .p_evt_sec5 .percent,
.event_wrap .p_evt_sec5 .btn_more{background:#9055b1}
.event_wrap .p_evt_sec6 .percent,
.event_wrap .p_evt_sec6 .btn_more{background:#515a84}
.event_wrap .p_evt_sec6 .btn_wrap{padding-bottom:70px}

/* notice */
.event_wrap .evt_notice{padding:23px 5.83333333% 72px}
.event_wrap .notice_list{padding-bottom:24px;border-bottom:1px solid #fff}
.event_wrap .notice_list li{position:relative;padding-left:8px;color:#fff;font-size:12px;font-weight:300;line-height:24px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

.event_wrap .p_evt_noti .evt_notice{padding:0 8.3333333% 40px}
.event_wrap .p_evt_noti .notice_list li{color:#333}
.event_wrap .p_evt_noti .notice_list{border-bottom:0}
.event_wrap .p_evt_noti .notice_list li:before{background:#333}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;padding-top:13%;margin:0;border:none;background:none}
.layer_popup_wrap .random_wrap + .btn_area .btn_close{cursor:default}
.layer_popup_wrap .random_bg{position:absolute;top:0;right:0;left:0;bottom:0}
.layer_popup_wrap .random_area{display:inline-block;position:absolute;top:29.639889%;right:22.6666667%;left:22.6666667%;height:25.207756%}
.layer_popup_wrap .random_area:after{display:inline-block;height:100%;vertical-align:middle;content:'';}
.layer_popup_wrap .random_area img{width:25.66667%;vertical-align:middle}
.layer_popup_wrap .random_area .coupon{font-family:'Noto Sans KR',sans-serif;font-size:30px;font-weight:500;color:#009233;vertical-align:middle}
.layer_popup_wrap .random_area .coupon{display:none}
.layer_popup_wrap .random_area .unit{margin-left:2px;font-family:'Noto Sans KR',sans-serif;font-size:15px;font-weight:500;color:#009233;vertical-align:middle}

.layer_popup_wrap .random_wrap.coupon_opened + .btn_area .btn_close{cursor:pointer}
.layer_popup_wrap .coupon_opened .random_bg{display:none}
.layer_popup_wrap .coupon_opened .img_gif{display:none}
.layer_popup_wrap .coupon_opened .coupon{display:inline-block}