@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_tab_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_tab_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after,
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after,
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after,
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after,
.event_wrap .p_evt_sec6,.event_wrap .p_evt_sec6:before,.event_wrap .p_evt_sec6:after{background:#f7f0e7}
.event_wrap .p_evt_sec7:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_sec7_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec7:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/p_sec7_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec8,.event_wrap .p_evt_sec8:before,.event_wrap .p_evt_sec8:after{background:#75b659}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0125_seollal/img/evt_noti_bg.jpg) 0 0 repeat}


/* img slide */
.event_wrap .slide_wrap{overflow:hidden;position:absolute;top:149px;left:448px;width:123px;height:220px}
.event_wrap .slide_list{font-size:0;white-space:nowrap}
.event_wrap .slide_list li{display:inline-block;vertical-align:top}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:42%;left:4%;width:23%;height:19%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .tit_tab_wrap li{position:relative;width:100%;height:33.3333%;margin:0;padding:0}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{position:relative;float:left;width:20%;height:100%;margin:0;padding:0}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_tab{height:120px}
.event_wrap .p_evt_tab.is_fixed{padding-top:120px}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;top:0;left:50%;z-index:1;width:100%;height:120px;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}


/* product */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list li{display:inline-block;width:330px;height:auto;margin:0 0 66px 15px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:10px;font-size:20px;font-weight:400;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:70px;height:70px;font-size:16px;color:#fff;text-align:center;line-height:70px}
.event_wrap .percent .num{font-size:22px}
.event_wrap .original{margin-right:5px;font-size:18px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#333}

/* btn */
.event_wrap .btn_coupon{top:42%;left:40%;width:20%;height:6%}
.event_wrap .btn_lnk1{top:27%;left:40%;width:20%;height:10%}
.event_wrap .btn_lnk2{top:77%;left:40%;width:20%;height:10%}

.event_wrap .btn_apply{top:85%;left:33%;width:34%;height:6%}

.event_wrap .btn_wrap{text-align:center}
.event_wrap .btn_more{display:block;width:330px;height:66px;margin:0 auto;font-size:22px;color:#fff;line-height:66px}

/*  */
.event_wrap .p_evt_sec2 .percent,
.event_wrap .p_evt_sec2 .btn_more{background:#c6544b}
.event_wrap .p_evt_sec3 .percent,
.event_wrap .p_evt_sec3 .btn_more{background:#4b4738}
.event_wrap .p_evt_sec4 .percent,
.event_wrap .p_evt_sec4 .btn_more{background:#c88d31}
.event_wrap .p_evt_sec5 .percent,
.event_wrap .p_evt_sec5 .btn_more{background:#9055b1}
.event_wrap .p_evt_sec6 .percent,
.event_wrap .p_evt_sec6 .btn_more{background:#515a84}
.event_wrap .p_evt_sec6 .btn_wrap{padding-bottom:140px}


/* notice */
.event_wrap .evt_notice{padding:41px 0 128px}
.event_wrap .notice_list{padding-bottom:44px;border-bottom:1px solid #91c57a}
.event_wrap .notice_list li{position:relative;padding-left:16px;color:#fff;font-size:16px;font-weight:300;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:13px;left:6px;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

.event_wrap .p_evt_noti .evt_notice{padding:0 50px 40px}
.event_wrap .p_evt_noti .notice_list li{color:#333}
.event_wrap .p_evt_noti .notice_list{border-bottom:0}
.event_wrap .p_evt_noti .notice_list li:before{background:#333}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:455px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;height:57px;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;height:100%;margin:0;padding:0;border:none;background:none}
.layer_popup_wrap .random_wrap + .btn_area .btn_close{cursor:default}
.layer_popup_wrap .random_bg{position:absolute;top:0;right:0;left:0;bottom:0}
.layer_popup_wrap .random_area{display:inline-block;position:absolute;top:162px;right:103px;left:103px;height:138px}
.layer_popup_wrap .random_area:after{display:inline-block;height:100%;vertical-align:middle;content:'';}
.layer_popup_wrap .random_area img{vertical-align:middle}
.layer_popup_wrap .random_area .coupon{display:none}
.layer_popup_wrap .random_area .coupon{font-family:'Noto Sans KR',sans-serif;padding:0;font-size:60px;font-weight:500;color:#009233;vertical-align:middle}
.layer_popup_wrap .random_area .unit{margin-left:5px;font-family:'Noto Sans KR',sans-serif;font-size:40px;font-weight:500;color:#009233;vertical-align:initial}

.layer_popup_wrap .random_wrap.coupon_opened + .btn_area .btn_close{cursor:pointer}
.layer_popup_wrap .coupon_opened .random_bg{display:none}
.layer_popup_wrap .coupon_opened .img_gif{display:none}
.layer_popup_wrap .coupon_opened .coupon{display:inline-block}