@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:0;left:0;right:0}
.event_wrap .info_desc{padding:22px 10px 0 10px}
.event_wrap .info_desc span{color:#2c7e9e}

/* notice */
.event_wrap .evt_notice{padding-top:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0808_sparkling_water/img/p_img_noti.jpg) 0% 0% no-repeat}
