@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_item_list{overflow:hidden;position:absolute;top:21%;left:60px;width:894px;height:266px;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{float:left;width:25%;height:100%}
.event_wrap .prd_item_list a{display:block;width:100%;height:100%}
.event_wrap .btn_more{top:77%;left:323px;width:391px;height:78px}

/* notice */
.event_wrap .evt_notice{padding:45px 58px;background:#7f7f7f}
.event_wrap .notice_list li{position:relative;margin-top:8px;padding-left:12px;color:#fff;font-size:18px;font-weight:300;letter-spacing:-.07em;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}
