@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;margin:0;padding:0;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

.event_wrap .prd_item_list{overflow:hidden;position:absolute;top:11%;right:5%;left:5%;bottom:15%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{float:left;width:50%;height:50%}
.event_wrap .prd_item_list a{display:block;width:100%;height:100%}
.event_wrap .btn_more{top:87%;left:10%;width:80%;height:7%}

/* notice */
.event_wrap .evt_notice{padding:22px 28px;background:#7f7f7f}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:6px;color:#fff;font-size:12px;font-weight:300;letter-spacing:-.07em;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}
