@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .btn_link{position:absolute;bottom:98px;left:288px;display:block;width:444px;height:112px}

.event_wrap .video_wrap{position:absolute;top:200px;right:100px;left:100px;bottom:100px}
.event_wrap .video_wrap iframe{width:100%;height:100%}

.event_wrap .prd_list{position:absolute;top:205px;right:130px;left:130px;bottom:100px;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:756px;height:170px}
.event_wrap .prd_list li:not(:first-child){margin-top:12px}
.event_wrap .prd_list li a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{padding:0 100px 93px;background-color:#dde1e7;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .notice_title{text-align:center}
.event_wrap .notice_title:after{content:'';display:block;width:100%;height:2px;margin-top:24px;background-color:#c0c4cb}
.event_wrap .btn_notice{position:relative;display:inline-block;padding:0 24px 0 42px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0717_thin_dumpling/img/icon_notice.png) no-repeat left top;color:#2d2b2b;font-size:24px;font-weight:500;letter-spacing:-.035em;line-height:1.4;text-align:center}
.event_wrap .btn_notice:after{content:'';display:block;width:20px;height:20px;position:absolute;right:0;top:50%;transform:translate(0,-50%);background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0717_thin_dumpling/img/arrow2.png) no-repeat left bottom;background-size:20px 40px}
.event_wrap .notice_list{display:none;padding-top:50px}
.event_wrap .notice_list li{position:relative;padding-left:10px;color:#2d2b2b;font-size:20px;font-weight:400;letter-spacing:-.035em;text-align:left;line-height:1.5;word-break:keep-all} 
.event_wrap .notice_list li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:3px;height:3px;border-radius:100%;-webkit-border-radius:100%;background-color:#2d2b2b}
.event_wrap .notice_list li:not(:first-child){margin-top:4px}
.event_wrap .notice_title.on + .notice_list{display:block}
.event_wrap .notice_title.on .btn_notice:after{background-position:left top}