@charset "utf-8";

/* common */
.event_wrap{max-width:720px;margin:0 auto;font-family:'notokr'}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{position:relative;max-width:720px;margin:0 auto}


.event_wrap .btn_link{position:absolute;bottom:10.1%;left:0;right:0;display:block;height:14.23%;margin:0 19%}

.event_wrap .video_wrap{position:absolute;top:27%;bottom:16%;left:8.89%;right:8.89%}
.event_wrap .video_wrap iframe{width:100%;height:100%}

.event_wrap .prd_list{position:absolute;top:14%;right:0;left:0;bottom:4%;padding:0 8.89%;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:100%;height:18.5%}
.event_wrap .prd_list li:not(:first-child){margin-top:2.2%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{padding:0 8.89% 53px;background-color:#dde1e7;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .notice_title{text-align:center}
.event_wrap .notice_title:after{content:'';display:block;width:100%;height:1px;margin-top:12px;background-color:#c0c4cb}
.event_wrap .btn_notice{position:relative;display:inline-block;padding:0 16px 0 20px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0717_thin_dumpling/img/icon_notice.png) no-repeat left 45%;background-size:16px 16px;color:#2d2b2b;font-size:1.25em;font-weight:500;letter-spacing:-.035em;line-height:1.3;text-align:center}
.event_wrap .btn_notice:after{content:'';display:block;width:12px;height:12px;position:absolute;right:0;top:50%;transform:translate(0,-50%);background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0717_thin_dumpling/img/arrow2.png) no-repeat left bottom;background-size:12px auto}
.event_wrap .notice_list{display:none;padding-top:25px}
.event_wrap .notice_list li{position:relative;padding-left:6px;color:#2d2b2b;font-size:1em;font-weight:400;letter-spacing:-.035em;text-align:left;line-height:1.5;word-break:keep-all} 
.event_wrap .notice_list li:before{content:'';position:absolute;top:.65em;left:0;display:block;width:2px;height:2px;border-radius:100%;-webkit-border-radius:100%;background-color:#2d2b2b}
.event_wrap .notice_list li:not(:first-child){margin-top:4px}
.event_wrap .notice_title.on + .notice_list{display:block}
.event_wrap .notice_title.on .btn_notice:after{background-position:left top}