@charset "utf-8";

@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* page */
.event_wrap .evt_section{position:relative;}
.event_wrap .evt_section .item_list{position:absolute;z-index:1;width:100%;height:170vw;top:10vw;right:0;}
.event_wrap .p_evt_sec1 .item_list li:nth-child(1){height:45%}
.event_wrap .p_evt_sec1 .item_list li:nth-child(2){height:55%}
.event_wrap .p_evt_sec2 .item_list{height:160vw}
.event_wrap .p_evt_sec2 .item_list li{height:50%;}
.event_wrap .evt_section .item_list li a{display:block;height:100%;}
.event_wrap .p_evt_sec3{position:relative;}
.event_wrap .p_evt_sec3 .coupon_item{position:absolute;z-index:1;left:0;right:0;bottom:27.7778vw;}
.event_wrap .p_evt_noti{background-color:#ffe8e8}
.event_wrap .evt_notice{padding-top:0;}
