@charset "utf-8";

@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* page */
.event_wrap .evt_section{position:relative;}
.event_wrap .evt_section .item_list{position:absolute;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;width:800px;height:100%;top:0;right:0;}
.event_wrap .evt_section .item_list li{-webkit-box-flex:1;-ms-flex:1;flex:1;}
.event_wrap .evt_section .item_list li a{display:block;height:100%}
.event_wrap .p_evt_sec2 .item_list{left:10px;right:auto;height:510px;}
.event_wrap .p_evt_sec3 .coupon_item{position:absolute;z-index:1;top:45px;right:254px;}
.event_wrap .p_evt_noti {background-color:#ffe8e8}
.event_wrap .evt_notice{padding-top:0;}
