@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* items_list */
.event_wrap .items_list{position:absolute;top:35vw;left:5vw;right:5vw}
.event_wrap .items_list li{width:100%;height:90vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}
.event_wrap .p_evt_sec2 .items_list{top:0}
.event_wrap .p_evt_sec2 .items_list li:nth-child(1){height:70vw}
.event_wrap .p_evt_sec2 .items_list li:nth-child(2){height:110vw}

/* notice */
.event_wrap .copuon_list{position:absolute;top:54.8611vw;left:0;right:0}
.event_wrap .p_evt_noti{background:#4579c7}
.event_wrap .evt_notice{padding:13.8889vw 5.5555vw 16.6667vw}
