@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* items_list */
.event_wrap .items_list{position:absolute;top:13%;left:0;right:0;height:75%;display:flex}
.event_wrap .items_list li{width:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* page */
.event_wrap .copuon_list{position:absolute;top:60px;right:150px}
.event_wrap .p_evt_noti{background:#4579c7}
.event_wrap .evt_notice{padding:70px 40px 100px}
