@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


.category #goodsInfo.product_detail .detail_view{margin:0 auto;width:948px}

/* 명절 상품상세 템플릿 - 2020 */
/* PC */
.product_detail_wrap{max-width:948px;margin:64px auto 128px;font-family:'Noto Sans KR', sans-serif;color:#696969;font-weight:300;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0,0,0,0)}
.product_detail_wrap .detail_wrap{position:relative;text-align:left;margin-top:100px}
.product_detail_wrap .detail_wrap img{width:100%;vertical-align:top;line-height:1}
.product_detail_wrap .next_section{margin-top:64px !important}
.product_detail_wrap .next_content{margin-top:40px !important}
.product_detail_wrap .next_content2{margin-top:30px !important}
.product_detail_wrap .bg_gray{background-color:#f7f7f7;text-align: center}
.product_detail_wrap .pc_br{display:block}

.product_detail_wrap .bi{height:80px;margin-top:0 !important;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .bi:after{content:'';display:block;clear:both}
.product_detail_wrap .bi_wrap{display:block;float:left;width:160px;height:80px}
.product_detail_wrap .bi img{max-height:100%}
.product_detail_wrap .bi_wrap [class^="bi_"]{display:inline-block;width:160px;height:80px}
.product_detail_wrap .bi_orga{background:url(https://img.orga.co.kr/images/goods_detail/common/orga_bi.png) no-repeat center center} /* 올가 */

.product_detail_wrap .holyday_product{height:1150px;margin-top:0;background:url(https://img.orga.co.kr/images/goods_detail/holiday/bg_orga_gift_pc.jpg) no-repeat center top}
.product_detail_wrap .holyday_product .title_wrap{height:520px;background:url(https://img.orga.co.kr/images/goods_detail/holiday/orga_gift_title_pc.png) no-repeat center top 90px}
.product_detail_wrap .gift_wrap{position:relative;height:532px;margin-top:0;text-align:center}
.product_detail_wrap .gift_wrap .gift_image{width:498px;margin:0 auto}
.product_detail_wrap .gift_wrap .gift_image img{max-width:100%}
.product_detail_wrap .gift_wrap .gift_title{padding-top:370px;color:#f2e9df;font-size:29px;font-weight:500;line-height:1}
.product_detail_wrap .gift_wrap .gift_desc{margin-top:18px;color:rgba(255,255,255,.42);font-size:21px;font-weight:300;line-height:1.3}
.product_detail_wrap .holyday_product + .detail_wrap{margin-top:0}

.product_detail_wrap .product_info_title{position:relative;z-index:2;margin-left:30px;margin-bottom:32px;color:#000;font-size:26px;line-height:1;font-weight:700}
.product_detail_wrap .product_info_title:before{content:'';position:absolute;top:-14px;left:-14px;z-index:-1;display:block;width:29px;height:29px;border-radius:100%;background-color:#c7bfb7}
.product_detail_wrap .product_info_subtitle{margin:0 56px;color:#000;font-size:24px;font-weight:500}
.product_detail_wrap .product_info_text{margin:0 56px;font-size:24px;line-height:1.5;word-break:keep-all}
.product_detail_wrap .product_info_text strong{font-weight:400}
.product_detail_wrap .product_notice_text{margin:80px 56px;color:rgba(0,0,0,.74);font-size:22px;text-align:center;line-height:1.5;word-break:keep-all}
.product_detail_wrap .product_notice_text.small_text{margin-top:30px;padding-left:0;text-indent:inherit;font-size:20px;text-align:center}

.product_detail_wrap .product_info_list{margin:32px 56px 0 56px}
.product_detail_wrap .product_info_list li{position:relative;font-size:24px;line-height:1.5;letter-spacing:-.025em;word-break:keep-all;}
.product_detail_wrap .product_info_list.bullet_dot li{padding-left:12px}
.product_detail_wrap .product_info_list.bullet_dot li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:4px;height:4px;border-radius:100%;background-color:#000}
.product_detail_wrap .product_info_list.bullet_dot strong{font-weight:500}
.product_detail_wrap .product_info_list.bullet_check li{padding-left:40px}
.product_detail_wrap .product_info_list.bullet_check li:not(:first-child){margin-top:12px}
.product_detail_wrap .product_info_list.bullet_check li:before{content:'';position:absolute;top:.3em;left:0;display:block;width:24px;height:24px;background:url(https://img.orga.co.kr/images/goods_detail/holiday/icon_check.png) no-repeat left top}

.product_detail_wrap .info_area{position:relative;padding-left:120px;}
.product_detail_wrap .info_area .info_title{display:inline-block;position:absolute;top:0;left:0;width:110px;color:#000;font-weight:500;text-align:justify;text-align-last:justify;letter-spacing:-.15em}
.product_detail_wrap .info_area .info_title:after{display:inline-block;width:100%;height:0;content:''}
.product_detail_wrap .info_area .info_desc{display:inline-block;position:relative;padding-left:12px;word-break:keep-all}
.product_detail_wrap .info_area .info_desc:before{content:':';position:absolute;left:0;top:1px;color:#000;font-weight:500} 
.product_detail_wrap .info_area_block .info_title{display:block;color:#000;font-weight:500}
.product_detail_wrap .info_area_block .info_title:after{content:' :';vertical-align:-1px} 
.product_detail_wrap .info_area_block .info_desc{word-break:keep-all;line-height:1.5}
.product_detail_wrap .info_area_block .info_desc .info_subtitle{display:block;color:#000;font-weight:400}
.product_detail_wrap .info_area_auto{display:table;}
.product_detail_wrap .info_area_auto .info_title{display:table-cell;position:relative;padding:0 15px;vertical-align:top}
.product_detail_wrap .info_area_auto .info_title:before{content:'*';position:absolute;top:4px;left:0}
.product_detail_wrap .info_area_auto .info_title:after{content:'-';position:absolute;top:.08em;right:0} 
.product_detail_wrap .info_area_auto .info_desc{display:table-cell;padding-left:8px;vertical-align:top}
.product_detail_wrap .text_indent{display:block;padding-left:16px;text-indent:-16px}
.product_detail_wrap [class^="info_area"] strong{font-weight:400}

.product_detail_wrap .product_info_image{margin-top:40px}
.product_detail_wrap .product_info_image img{width:auto}
.product_detail_wrap .product_info_image.nutrition_imgae{margin-top:140px}
.product_detail_wrap .product_info_image.bg_gray{padding:72px 0}

.product_detail_wrap .product_info_title + .product_info_image {margin-top:32px}
.product_detail_wrap .product_info_subtitle + .product_info_list{margin-top:6px}
.product_detail_wrap .product_info_list + .product_info_subtitle{margin-top:36px}
.product_detail_wrap .product_info_image + .product_info_image{margin-top:12px}

.product_detail_wrap .half_wrap {margin:32px 56px 0 56px} 
.product_detail_wrap .half_wrap:after{content:'';display:block;clear:both}
.product_detail_wrap .half_wrap .product_info_list {float:left;width:50%;margin:0}
.product_detail_wrap .half_wrap .product_info_list:last-child{padding-left:45px}
.product_detail_wrap .half_wrap .product_info_list li{letter-spacing:-.05em}

/* 인증 사항 */
.product_detail_wrap .authentic_wrap{padding:0 5.9071729%;text-align:left}
.product_detail_wrap .authentic_list{margin-top:25px}
.product_detail_wrap .authentic_list li{margin-top:20px}
.product_detail_wrap .authentic_list li:first-child{margin:0}
.product_detail_wrap .authentic_area:after{display:inline-block;height:auto;vertical-align:middle;content:''}
.product_detail_wrap .authentic_area{position:relative;vertical-align:middle;white-space:nowrap}
.product_detail_wrap .authentic_mark{display:inline-block;width:110px;height:110px;vertical-align:middle}
.product_detail_wrap .authentic_mark img{display:block;width:100%;height:100%}
.product_detail_wrap .authentic_title{display:inline-block;width:74.6835443%;margin-left:2.1097046%;font-size:22px;color:#696969;line-height:1.55;vertical-align:middle;white-space:normal;word-break:keep-all}

/* table */
.product_detail_wrap .product_info_table{margin:24px 56px 0;}
.product_detail_wrap .product_info_table table{width:100%;border-top:1px solid #acacac;border-bottom:1px solid #acacac;font-size:22px;table-layout:fixed;border-collapse:collapse}
.product_detail_wrap .product_info_table th,
.product_detail_wrap .product_info_table td{border-top:1px solid #acacac;border-left:1px solid #acacac;box-sizing:border-box;-webkit-box-sizing:border-box;color:#696969;font-family:'Noto Sans KR';text-align:center;vertical-align:middle;word-break:keep-all}
.product_detail_wrap .product_info_table th{height:48px;background-color:#f7f7f7;font-size:24px;font-weight:500}
.product_detail_wrap .product_info_table td{height:48px;padding:5px 10px;font-size:24px;font-weight:300;text-align:center;word-break:keep-all}
.product_detail_wrap .product_info_table td:first-child,
.product_detail_wrap .product_info_table th:first-child{border-left:none}
.product_detail_wrap .product_info_table tbody th{padding:10px 10px;background-color:#fff;font-size:20px;font-weight:300}
.product_detail_wrap .product_info_table .bg_none{background-color:none}
.product_detail_wrap .product_info_table .text_left{text-align:left}
.product_detail_wrap .product_info_table .text_right{text-align:right}
.product_detail_wrap .product_info_table .table_text{margin-top:20px;color:#696969;font-size:24px;font-weight:300;text-align:right}
.product_detail_wrap .product_info_table .table_desc{margin-top:20px;text-align:left}
.product_detail_wrap .product_info_table .table_desc p{color:#696969;font-size:24px}
.product_detail_wrap .product_info_table .table_desc .text_indent{margin-left:10px;text-indent:-30px}


/* Mobile */
@media all and (max-width:720px){
    .product_detail_wrap{overflow:hidden;min-width:320px;max-width:720px;width:100%;margin:32px 0 64px}
    .product_detail_wrap .detail_wrap{margin-top:50px}
    .product_detail_wrap .next_section{margin-top:32px !important}
    .product_detail_wrap .next_content{margin-top:20px !important}
    .product_detail_wrap .next_content2{margin-top:15px !important}
    .product_detail_wrap .pc_br{display:none}

    .product_detail_wrap .detail_wrap.bi{height:auto;padding:0 0}
    .product_detail_wrap .bi_wrap{display:block;max-width:80px;height:40px}
    .product_detail_wrap .bi_wrap [class^="bi"]{display:inline-block;width:75px;height:40px;background-size:contain}

    .product_detail_wrap .holyday_product{height:auto;margin-top:0;background:url(https://img.orga.co.kr/images/goods_detail/holiday/bg_orga_gift_mo.jpg) no-repeat left top;background-size:100% auto}
    .product_detail_wrap .holyday_product .title_wrap{height:auto;padding-top:93.059%;background:url(https://img.orga.co.kr/images/goods_detail/holiday/orga_gift_title_mo.png) no-repeat left top 55.83%;background-size:contain}
    .product_detail_wrap .holyday_product .gift_wrap{position:relative;height:auto;padding-top:107.638%}
    .product_detail_wrap .holyday_product .gift_wrap .gift_image{position:absolute;top:0;left:50%;width:100%;padding:0 6.945%;transform:translate(-50%,0);box-sizing:border-box;-webkit-box-sizing:border-box;}
    .product_detail_wrap .holyday_product .gift_wrap .gift_image > img{width:100%}
    .product_detail_wrap .holyday_product .gift_wrap .gift_info{position:absolute;top:60.258%;bottom:0;left:0;right:0;text-align:center}
    .product_detail_wrap .holyday_product .gift_wrap .gift_title{padding-top:0;color:#f2e9df;font-size:18px;font-weight:500;line-height:1}
    .product_detail_wrap .holyday_product .gift_wrap .gift_desc{margin-top:10px;font-size:15px;line-height:1.3}
    .product_detail_wrap .holyday_product + .detail_wrap{margin-top:0}
    
    .product_detail_wrap .product_info_title{position:relative;z-index:2;margin-left:28px;margin-bottom:16px;font-size:17px;line-height:17px;font-weight:700}
    .product_detail_wrap .product_info_title:before{content:'';position:absolute;top:-8px;left:-9px;z-index:-1;display:block;width:18px;height:18px;border-radius:100%;background-color:#c7bfb7}
    .product_detail_wrap .product_info_subtitle{margin:0 36px;color:#000;font-size:15px;font-weight:500}
    .product_detail_wrap .product_info_text{margin:0 36px;font-size:15px;line-height:1.5;word-break:keep-all}
    .product_detail_wrap .product_notice_text{margin:40px 18px 0;padding-left:15px;color:rgba(0,0,0,.74);font-size:15px;text-align:left;text-indent:-20px;line-height:1.5;word-break:keep-all}
    .product_detail_wrap .product_notice_text.small_text{margin:15px 36px 0;padding:0;text-indent:inherit;font-size:12px;text-align:center;}

    .product_detail_wrap .product_info_list{margin:16px 36px 0 36px}
    .product_detail_wrap .product_info_list li{position:relative;font-size:15px;line-height:1.5;word-break:keep-all}
    .product_detail_wrap .product_info_list.bullet_dot li{padding-left:6px}
    .product_detail_wrap .product_info_list.bullet_dot li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:2px;height:2px;border-radius:100%;background-color:#000}
    .product_detail_wrap .product_info_list.bullet_check li{padding-left:19px}
    .product_detail_wrap .product_info_list.bullet_check li:not(:first-child){margin-top:6px}
    .product_detail_wrap .product_info_list.bullet_check li:before{content:'';position:absolute;top:.35em;left:0;display:block;width:12px;height:12px;background:url(https://img.orga.co.kr/images/goods_detail/holiday/icon_check.png) no-repeat left top;background-size:100%}

    .product_detail_wrap .info_area{padding-left:65px}
    .product_detail_wrap .info_area .info_title{width:60px}
    .product_detail_wrap .info_area .info_desc{padding-left:8px}
    .product_detail_wrap .info_area .info_desc:before{top:-1px}
    .product_detail_wrap .info_area_auto .info_title{padding:0 10px}
    .product_detail_wrap .info_area_auto .info_desc{padding-left:4px}
    .product_detail_wrap .text_indent{display:inline-block;padding-left:10px;text-indent:-10px}

    .product_detail_wrap .product_info_image{margin-top:20px}
    .product_detail_wrap .product_info_image img{width:100%}
    .product_detail_wrap .product_info_image.bg_gray{padding:36px 36px}

    .product_detail_wrap .product_info_title + .product_info_image{margin-top:16px}
    .product_detail_wrap .product_info_subtitle + .product_info_list{margin-top:3px}
    .product_detail_wrap .product_info_list + .product_info_subtitle{margin-top:18px}
    
    .product_detail_wrap .half_wrap {margin:16px 36px 0 36px} 
    .product_detail_wrap .half_wrap .product_info_list {float:none;width:100%;margin:0}
    .product_detail_wrap .half_wrap .product_info_list:last-child{margin-top:0;padding-left:0}

    /* 인증 사항 */
    .product_detail_wrap .authentic_wrap{padding:0 36px}
    .product_detail_wrap .authentic_list{margin-top:18px}
    .product_detail_wrap .authentic_list li{margin-top:20px}
    .product_detail_wrap .authentic_list li:first-child{margin-top:0}
    .product_detail_wrap .authentic_mark{width:75px;height:75px}
    .product_detail_wrap .authentic_title{width:70.1754385%;margin-left:3.508771%;font-size:13px;line-height:1.5}

    /* table */
    .product_detail_wrap .product_info_table{margin:12px 36px 0}
    .product_detail_wrap .product_info_table table{font-size:15px}
    .product_detail_wrap .product_info_table th{height:36px;padding:5px 0;font-size:15px}
    .product_detail_wrap .product_info_table td{height:36px;padding:5px 5px;font-size:15px}
    .product_detail_wrap .product_info_table tbody th{padding:5px 5px;font-size:15px}
    .product_detail_wrap .product_info_table .table_text{margin-top:10px;font-size:15px}
    .product_detail_wrap .product_info_table .table_desc{margin-top:10px}
    .product_detail_wrap .product_info_table .table_desc p{color:#696969;font-size:15px}
    .product_detail_wrap .product_info_table .table_desc .text_indent{text-indent:-20px}
}


/* 풀무원샵 등록 시 스타일 제어 */
.product_detail_wrap{padding:0}
.product_detail_wrap .product_info_title {margin-top:0;padding:0;border-top:0}
.product_detail_wrap .product_info_title:before {margin:0}