@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

.category #goodsInfo.product_detail .detail_view{margin:0 auto;width:948px} 
.category #goodsInfo.product_detail .detail_view .product_detail_wrap .detail_wrap img{margin-right:0 !important}
.product_detail_wrap *{word-break:keep-all}
.product_detail_wrap ul, .product_detail_wrap ol{padding-inline-start:0;}
.product_detail_wrap li{list-style:none;}

/* 상품상세 템플릿 - 2020 */
/* PC */
.product_detail_wrap{max-width:948px;width:100%;margin:68px auto 110px;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.product_detail_wrap .blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0,0,0,0)}
.product_detail_wrap .inner img{width:100%;vertical-align:top}
.product_detail_wrap .detail_wrap{position:relative;text-align:center;line-height:1.2}
.product_detail_wrap .detail_wrap.line{margin-top:100px;padding-top:100px;border-top:1px solid #cbcbcb}
.product_detail_wrap .detail_wrap > img{width:100%;margin-right:0;vertical-align:top}
.product_detail_wrap .detail_wrap .next_section{margin-top:64px !important}
.product_detail_wrap .detail_wrap .next_content{margin-top:40px !important}
.product_detail_wrap .detail_wrap .next_content2{margin-top:20px !important}
.product_detail_wrap .thin_text{font-weight:100}

.product_detail_wrap .bi{height:80px;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .bi:after{content:'';display:block;clear:both}
.product_detail_wrap .bi_wrap{display:block;float:left;width:160px;height:80px}
.product_detail_wrap .bi img{max-height:100%}
.product_detail_wrap .bi_sub_wrap{display:block;float:right;height:80px;padding-right:18px}
.product_detail_wrap .bi_wrap [class^="bi_"]{display:inline-block;width:160px;height:80px}
.product_detail_wrap .bi_sub_wrap [class^="logo_"]{display:inline-block;width:150px;height:80px}
.product_detail_wrap .bi_orga{background:url(https://img.orga.co.kr/images/goods_detail/common/orga_bi.png) no-repeat center center} /* 올가 */

.product_detail_wrap .detail_subtitle{display:block;margin-top:72px;font-size:30px;color:#1b1b1b;line-height:1.2;word-break:keep-all}
.product_detail_wrap .detail_title{display:block;float:none !important;margin-top:30px;margin-bottom:0 !important;font-size:42px;font-weight:500;color:#1b1b1b;letter-spacing:-.03em;line-height:1.2;word-break:keep-all}
.product_detail_wrap .detail_title .small_text{font-size:32px}
.product_detail_wrap .small_text2{font-size:17px;letter-spacing:-1px;}
.product_detail_wrap .detail_point_title{display:inline-block;margin-top:4px;font-size:36px;font-weight:400;color:#1b1b1b;line-height:1.2}
.product_detail_wrap .detail_text{margin-top:40px !important;margin-bottom:0 !important;font-size:21px !important;color:#323131 !important;line-height:1.6;letter-spacing:-.025em}

.product_detail_wrap .pb_info_wrap{margin-top:108px}
.product_detail_wrap .pb_info_wrap img{max-width:100%}
.product_detail_wrap .orgamom_info_wrap{margin-top:108px}
.product_detail_wrap .orgamom_info_wrap img{max-width:100%}
.product_detail_wrap .fullvita_info_wrap{margin-top:108px}
.product_detail_wrap .fullvita_info_wrap img{max-width:100%}
.product_detail_wrap .wholeseed_info_wrap{margin-top:108px}
.product_detail_wrap .wholeseed_info_wrap img{max-width:100%}

.product_detail_wrap .product_info_wrap{margin-top:60px;padding:0 60px}
.product_detail_wrap .product_list{overflow:hidden;position:relative;font-size:0}
.product_detail_wrap .product_list:before{position:absolute;top:0;left:50%;width:0.1%;height:100%;background:#1b1b1b;content:''}
.product_detail_wrap .product_list li{display:inline-block;position:relative;width:50%;height:auto;max-height:300px;padding:0 10px 36px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_list li:nth-child(n+3):before{position:absolute;left:0;top:0;width:100%;height:1px;background:#1b1b1b;content:''}
.product_detail_wrap .product_icon{display:block;max-width:300px;height:150px;max-height:150px;margin:0 auto}
.product_detail_wrap .product_title{display:block;font-size:28px;font-weight:500;color:#323131;line-height:1.4}
.product_detail_wrap .product_text{margin-top:6px;font-size:22px;color:#323131;line-height:30px;word-break:keep-all}

.product_detail_wrap .is_odd_type .product_list:before{left:33.333333%}
.product_detail_wrap .is_odd_type .product_list:after{position:absolute;top:0;left:66.666666%;width:0.1%;height:100%;background:#1b1b1b;content:''}
.product_detail_wrap .is_odd_type .product_list li{width:33.333333%}
.product_detail_wrap .is_odd_type .product_list li:nth-child(n+3):before{display:none}

.product_detail_wrap .product_info_title{position:relative;margin-top:100px;padding-top:100px;border-top:1px solid #cbcbcb;font-size:32px;font-weight:500;color:#323131;text-align:left}
.product_detail_wrap .product_info_title:before{display:inline-block;width:12px;height:12px;margin:-10px 8px 0 18px;background:#271000;vertical-align:middle;border-radius:50%;-webkit-border-radius:50%;content:''}

.product_detail_wrap .product_info_subtitle{display:block;position:relative;padding-left:20px;font-size:28px;font-weight:500;color:#323131;text-align:left;line-height:1.4}
.product_detail_wrap .product_info_subtitle:before{position:absolute;top:17px;left:0;width:5px;height:5px;background:#323131;border-radius:50%;-webkit-border-radius:50%;content:''}
.product_detail_wrap .product_info_subtitle.bullet_none:before{display:none}

.product_detail_wrap .product_info_text{display:block;padding-right:20px;font-size:22px;color:#323131;text-align:left;line-height:1.5;letter-spacing:-.03em}
.product_detail_wrap .product_info_text.bullet{position:relative;padding-left:20px}
.product_detail_wrap .product_info_text.bullet .dot,
.product_detail_wrap .product_info_text.bullet .dash{position:absolute;left:2px}
.product_detail_wrap .product_info_text .dot{top:16px;display:inline-block;width:3px;height:3px;border-radius:100%;-webkit-border-radius:100%;background:#323131;vertical-align:middle}
.product_detail_wrap .product_info_text .dash{top:16px;display:inline-block;width:6px;height:1px;margin:0;background:#323131;vertical-align:middle}
.product_detail_wrap .product_info_text.bullet_num{position:relative;padding-left:20px}
.product_detail_wrap .product_info_text.bullet_num .num{position:absolute;left:0;margin:0 0 0 -2px}
.product_detail_wrap .product_info_text.bullet_check{position:relative;padding-left:30px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_check.png) no-repeat left top 5px;}
.product_detail_wrap .product_info_text.icon_text{position:relative;padding-left:38px}
.product_detail_wrap .product_info_text.icon_text > i[class^="icon_"] {position:absolute;top:0;left:0}
.product_detail_wrap .product_info_text.indent{padding-left:20px;text-indent:-22px}
.product_detail_wrap .product_info_text.indent60{padding-left:60px;text-indent:-55px}

.product_detail_wrap .icon_tip{display:inline-block;vertical-align:top;width:52px;height:41px;margin-left:-6px;margin-right:6px;background:url(https://img.orga.co.kr/images/goods_detail/common/img_tip.gif) no-repeat center}
.product_detail_wrap .icon_star{display:inline-block;vertical-align:top;width:35px;height:32px;background:url(https://img.orga.co.kr/images/goods_detail/common/img_star.gif) no-repeat center}
.product_detail_wrap .icon_star.sm{width:20px;background-size:20px}
.product_detail_wrap .icon_recomend{display:inline-block;vertical-align:top;width:70px;height:55px;margin-top:-6px;margin-bottom:-8px;background:url(https://img.orga.co.kr/images/goods_detail/common/img_recomend.gif) no-repeat center}
.product_detail_wrap .icon_freeze{display:inline-block;vertical-align:top;width:34px;height:36px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_freeze.png) no-repeat center}
.product_detail_wrap .icon_wind{display:inline-block;vertical-align:top;width:34px;height:36px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_wind.png) no-repeat center}
.product_detail_wrap .t_line{background:url(https://img.orga.co.kr/images/goods_detail/common/img_line_mint.png) repeat-x left bottom}
.product_detail_wrap .t_line2{display:inline-block;padding:4px 12px;background-color:#e2fd66}

.product_detail_wrap .product_info_text strong{font-weight:400}
.product_detail_wrap .point{color:#6da920}
.product_detail_wrap .point2{color:#9e0b0f}
.product_detail_wrap em{color:#000;font-weight:500}
.product_detail_wrap .product_info_subtitle strong{font-weight:500}
.product_detail_wrap .product_notice_text{margin-top:120px;padding-left:30px;text-indent:-30px;color:#323131;font-size:22px;text-align:left;line-height:1.5}

.product_detail_wrap .icon_recipe{display:inline-block;margin-right:8px;vertical-align:middle}
.product_detail_wrap .icon_recipe.fryfan{width:62px;height:30px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_frypan.png) no-repeat left top;vertical-align:0}
.product_detail_wrap .icon_recipe.fryfan4{width:50px;height:20px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_frypan4.png) no-repeat left top;vertical-align:0}
.product_detail_wrap .icon_recipe.oven{width:40px;height:50px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_oven.png) no-repeat left top}
.product_detail_wrap .icon_recipe.airfryer{width:22px;height:26px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_airfryer.png) no-repeat left top;vertical-align:0}
.product_detail_wrap .icon_recipe.microwave{width:40px;height:30px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_microwave.png) no-repeat left top}
.product_detail_wrap .icon_recipe.microwave2{width:40px;height:30px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_microwave2.png) no-repeat left top}
.product_detail_wrap .icon_recipe.pot{width:42px;height:38px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_recipe_pot.png) no-repeat left top}
.product_detail_wrap .icon_temperature{display:inline-block;vertical-align:top;width:34px;height:36px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_temperature.png) no-repeat center;}

.product_detail_wrap .product_info_image{display:block}
.product_detail_wrap .product_info_image img{max-width:100%;vertical-align:top}
.product_detail_wrap .product_info_image.sub_image{margin-top:12px}

.product_detail_wrap .product_info_table{margin:24px 40px 0 60px}
.product_detail_wrap .product_info_table table{width:100%;border-top:2px solid #000;border-bottom:2px solid #000;font-size:22px;table-layout:fixed;border-collapse:collapse}
.product_detail_wrap .product_info_table th,
.product_detail_wrap .product_info_table td{border-top:1px solid #000;border-left:1px solid #000;box-sizing:border-box;-webkit-box-sizing:border-box;color:#000;font-family:'Noto Sans KR';text-align:center;vertical-align:middle}
.product_detail_wrap .product_info_table th{height:48px;background-color:#eee;font-size:22px;font-weight:700}
.product_detail_wrap .product_info_table td{height:48px;padding:10px 10px;font-size:20px;font-weight:300;text-align:center}
.product_detail_wrap .product_info_table td:first-child,
.product_detail_wrap .product_info_table th:first-child{border-left:none}
.product_detail_wrap .product_info_table tbody th{padding:10px 10px;background-color:#fff;font-size:20px;font-weight:300}
.product_detail_wrap .product_info_table .bg_none{background-color:none}
.product_detail_wrap .product_info_table .text_left{text-align:left}
.product_detail_wrap .product_info_table .text_right{text-align:right}
.product_detail_wrap .product_info_table .table_text{margin-top:20px;color:#323131;font-size:22px;text-align:right}
.product_detail_wrap .product_info_table.point_box_half{position:relative}
.product_detail_wrap .product_info_table.point_box_half.left:after{content:'';display:block;width:calc(50% + 1px);height:100%;border:3px solid #6dbb00;position:absolute;top:0;left:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_info_table.point_box_half.right:after{content:'';display:block;width:calc(50% + 1px);height:100%;border:3px solid #6dbb00;position:absolute;top:0;left:calc(50% - 1px);box-sizing:border-box;-webkit-box-sizing:border-box}

.product_detail_wrap .product_player_wrap{position:relative;margin-top:60px;padding-top:56.25%}
.product_detail_wrap .product_player_wrap > iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none}
.product_detail_wrap .product_player_wrap > object{position:absolute;top:0;left:0;width:100%;height:100%;border:none}
.product_detail_wrap .player_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none}
.product_detail_wrap .player_area iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none} /* PC버젼 */

.orga_meister_video{margin:100px 0 30px;padding:20px 12px;background-color:#6a8a22;text-align:left;}
.orga_meister_video .txt{display:inline-block;color:#fff;font-size:28px;font-weight:500;}
.orga_meister_video .txt:after{content:'>';display:inline-block;width:32px;height:32px;margin-left:6px;border-radius:100%;-webkit-border-radius:100%;color:#6a8a22;background-color:#fff;line-height:32px;text-align:center;vertical-align:0}

/* 간격 new */
.product_detail_wrap .product_info_title + *{margin-top:30px !important}
/* .product_detail_wrap .product_info_title + .product_info_text{margin-left:40px} */
.product_detail_wrap .product_info_title + .product_info_text_list{margin-left:40px}
.product_detail_wrap .product_info_title + .product_image_wrap ul{margin-top:-12px}
.product_detail_wrap .product_info_title + ul{margin-left:40px}
.product_detail_wrap .product_info_subtitle{margin-top:40px;margin-left:40px}
.product_detail_wrap .product_info_subtitle + [class^="product_info_text"]{margin-top:12px;margin-left:60px}
.product_detail_wrap .product_info_subtitle + ul,
.product_detail_wrap .product_info_subtitle + ol{margin-top:12px; margin-left:60px}
.product_detail_wrap li.product_info_subtitle .product_info_text{margin-left:0}
.product_detail_wrap .product_info_image{margin-top:40px}
.product_detail_wrap .product_info_image + .product_info_image{margin-top:12px}
.product_detail_wrap .product_info_image + .product_image_wrap{margin-top:0}
.product_detail_wrap .product_info_text{margin-left:60px}
.product_detail_wrap li.product_info_text{margin-left:0}
.product_detail_wrap .product_info_text + ul{margin-left:60px;margin-top:20px}
.product_detail_wrap .product_info_text_list{margin-top:12px;margin-left:60px}
.product_detail_wrap .line > .product_info_image:first-child{margin-top:0}

/* 이미지 템플릿 */
.product_image_wrap{margin-top:30px}
.product_image_wrap ul li{margin-top:12px}
.product_image_wrap ul img{width:100%;height:100%}

.product_image_wrap .is_resize{overflow:hidden;margin-left:-12px;font-size:0;text-align:left}
.product_image_wrap .is_resize li{display:inline-block;width:50%;padding-left:12px;vertical-align:top;-webkit-box-sizing:border-box;box-sizing:border-box}
.product_image_wrap .is_resize img{height:auto} /* 4단 이미지 height 252px */

.product_image_wrap .vertical_type img{height:630px}

.product_image_wrap .divide_type li{width:33.333333333334%}
.product_image_wrap .divide_type img{height:390px}

.product_image_wrap .complex_type li{float:left}
.product_image_wrap .complex_type img{height:360px}
.product_image_wrap .complex_type li:nth-child(3n+1){clear:left}
.product_image_wrap .complex_type li:nth-child(3n+1) img{height:732px}

.product_image_wrap .image_notice{margin-top:16px;font-size:22px;color:#323131;text-align:right}

/* 인증 사항 */
.product_detail_wrap .authentic_wrap{padding:0 5.9071729%;text-align:left;height:fit-content}
.product_detail_wrap .authentic_list{margin-top:25px}
.product_detail_wrap .authentic_list li{margin-top:20px}
.product_detail_wrap .authentic_list li:first-child{margin:0}
.product_detail_wrap .authentic_area:after{display:inline-block;height:auto;vertical-align:middle;content:''}
.product_detail_wrap .authentic_area{position:relative;vertical-align:middle;white-space:nowrap}
.product_detail_wrap .authentic_mark{display:inline-block;width:110px;height:110px;vertical-align:middle}
.product_detail_wrap .authentic_mark img{display:block;width:100%;height:100%}
.product_detail_wrap .authentic_title{display:inline-block;width:74.6835443%;margin-left:2.1097046%;font-size:22px;color:#696969;line-height:1.55;vertical-align:middle;white-space:normal;word-break:keep-all}

/* 조리방법 아이콘 */
.product_info_text .icon_cook{display:inline-block;width:44px;height:34px;margin-right:4px;vertical-align:bottom}
.product_info_text .icon_cook.cook_airfryer{background:url(https://img.orga.co.kr/images/goods_detail/common/icon_cook_airfryer.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.cook_fryfan{background:url(https://img.orga.co.kr/images/goods_detail/common/icon_cook_fryfan.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.cook_oven{background:url(https://img.orga.co.kr/images/goods_detail/common/icon_cook_oven.png) no-repeat left top;background-size:100%;}



/* Mobile */
@media all and (max-width:720px){
    .product_detail_wrap{overflow:hidden;max-width:720px;margin:30px 0 64px}
    
    .product_detail_wrap .detail_wrap{padding:0;font-size:0}
    .product_detail_wrap .detail_wrap.line{margin-top:50px;padding-top:50px}
    .product_detail_wrap .detail_wrap .next_section{margin-top:32px !important}
    .product_detail_wrap .detail_wrap .next_content{margin-top:20px !important}
    .product_detail_wrap .detail_wrap .next_content2{margin-top:10px !important}

    .product_detail_wrap .detail_wrap.bi{height:auto;padding:0 0}
    .product_detail_wrap .bi_wrap{display:block;max-width:80px;height:40px}
    .product_detail_wrap .bi_sub_wrap{display:block;float:right;height:40px;padding-right:2.5%}
    .product_detail_wrap .bi_wrap [class^="bi"]{display:inline-block;width:75px;height:40px;background-size:contain}
    .product_detail_wrap .bi_sub_wrap [class^="logo_"]{display:inline-block;width:75px;height:40px;background-size:contain}

    .product_detail_wrap br{display:none}
    .product_detail_wrap .paragraph_block,
    .product_detail_wrap .paragraph_block br{display:block}
    .product_detail_wrap .detail_subtitle{margin-top:30px;font-size:14px !important}
    .product_detail_wrap .detail_title{margin-top:10px;font-size:18px !important}
    .product_detail_wrap .detail_title .small_text{font-size:16px}
    .product_detail_wrap .small_text2{font-size:12px}
    .product_detail_wrap .detail_point_title{margin-top:2px;font-size:16px !important;}
    .product_detail_wrap .detail_text{margin-top:15px !important;padding:0 30px;font-size:12px !important;line-height:1.5;word-break:keep-all}

    /* .product_detail_wrap .pb_info_wrap{min-height:48px;margin:35px 20px 0;padding:6px 0 0 56px;background-size:48px 52px;font-size:10px;line-height:1.3} */
    .product_detail_wrap .pb_info_wrap {margin-top:30px}
    .product_detail_wrap .orgamom_info_wrap {margin-top:30px}
    .product_detail_wrap .fullvita_info_wrap {margin-top:30px}
    .product_detail_wrap .wholeseed_info_wrap {margin-top:30px}

    .product_detail_wrap .product_info_wrap{margin-top:35px;padding:0}
    .product_detail_wrap .product_list li{min-height:150px;padding:0 3% 5.6603773%}
    .product_detail_wrap .product_icon{width:auto;height:75px;max-height:75px}
    .product_detail_wrap .product_icon img{width:auto;max-height:100%}
    .product_detail_wrap .product_title{font-size:14px;line-height:1.3}
    .product_detail_wrap .product_text{margin-top:4px;font-size:12px;line-height:1.3}
    
    .product_detail_wrap .is_odd_type .product_list li{padding:0 2% 2%}

    .product_detail_wrap .product_info_title{margin-top:50px;padding:50px 10px 0;margin-left:8px;font-size:18px}
    .product_detail_wrap .product_info_title:before{position:absolute;left:0;top:60px;width:6px;height:6px;margin:0}
    .product_detail_wrap .product_info_subtitle{margin:20px 20px 0;padding-left:10px;font-size:14px}
    .product_detail_wrap .product_info_subtitle:before{top:8px;left:0;width:3px;height:3px}
    
    .product_detail_wrap .product_info_text{padding-right:20px;font-size:12px;word-break:keep-all}
    .product_detail_wrap .product_info_text.bullet{position:relative;padding-left:10px}
    .product_detail_wrap .product_info_text.bullet .dot,
    .product_detail_wrap .product_info_text.bullet .dash{position:absolute;left:0}
    .product_detail_wrap .product_info_text .dot{top:8px;display:inline-block;width:2px;height:2px;background:#323131;vertical-align:middle}
    .product_detail_wrap .product_info_text .dash{top:8px;display:inline-block;width:3px;height:1px;margin:0;background:#323131;vertical-align:middle}
    .product_detail_wrap .product_info_text.bullet_num{position:relative;padding-left:12px}
    .product_detail_wrap .product_info_text.bullet_check{position:relative;padding-left:14px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_check.png) no-repeat left top 4px;background-size:12px 11px}
    .product_detail_wrap .product_info_text.icon_text{padding-left:20px;}
    .product_detail_wrap .product_info_text.indent{padding-left:12px;text-indent:-12px}

    .product_detail_wrap .icon_tip{display:inline-block;vertical-align:top;width:26px;height:21px;margin-left:-3px;margin-right:3px;background:url(https://img.orga.co.kr/images/goods_detail/common/img_tip.gif) no-repeat center;background-size:cover}
    .product_detail_wrap .icon_star{display:inline-block;vertical-align:top;width:17.5px;height:16px;margin:0 2px;background:url(https://img.orga.co.kr/images/goods_detail/common/img_star.gif) no-repeat center;background-size:cover}
    .product_detail_wrap .icon_star.sm{width:10px;background-size:10px}
    .product_detail_wrap .icon_recomend{display:inline-block;vertical-align:top;width:35px;height:27.5px;margin-top:-3px;margin-bottom:-4px;background:url(https://img.orga.co.kr/images/goods_detail/common/img_recomend.gif) no-repeat center;background-size:cover}
    .product_detail_wrap .icon_freeze{display:inline-block;vertical-align:top;width:17px;height:18px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_freeze.png) no-repeat center;background-size:cover}
    .product_detail_wrap .icon_wind{display:inline-block;vertical-align:top;width:17px;height:18px;background:url(https://img.orga.co.kr/images/goods_detail/common/icon_wind.png) no-repeat center;background-size:cover}
    .product_detail_wrap .t_line{background:url(https://img.orga.co.kr/images/goods_detail/common/img_line_mint.png) repeat-x left bottom;background-size:100% 50%}
    .product_detail_wrap .t_line2{display:inline-block;padding:2px 6px;background-color:#e2fd66}

    .product_detail_wrap .product_notice_text{margin:60px 15px 0;padding-left:15px;text-indent:-15px;font-size:13px;word-break:keep-all}
    .product_detail_wrap .product_info_image.sub_image{margin:0 9%}

    .product_detail_wrap .icon_recipe{display:inline-block;margin-right:4px;vertical-align:middle}
    .product_detail_wrap .icon_recipe.fryfan{width:31px;height:15px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.fryfan4{width:44px;height:34px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.oven{width:20px;height:25px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.airfryer{width:11px;height:13px;background-size:100% 100%}    
    .product_detail_wrap .icon_recipe.microwave{width:20px;height:15px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.microwave2{width:20px;height:15px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.pot{width:21px;height:19px;background-size:100% 100%}

    .product_detail_wrap .product_info_table{margin:12px 20px 0 20px}
    .product_detail_wrap .product_info_table table{font-size:13px}
    .product_detail_wrap .product_info_table th{height:36px;padding:5px 0;font-size:13px}
    .product_detail_wrap .product_info_table td{height:36px;padding:5px 5px;font-size:13px}
    .product_detail_wrap .product_info_table tbody th{padding:5px 5px;font-size:13px}
    .product_detail_wrap .product_info_table .table_text{margin-top:10px;font-size:12px}
    
    .product_detail_wrap .product_player_wrap{position:relative;margin-top:30px;padding-top:0;}
    .product_detail_wrap .product_player_wrap > iframe{position:static}
    .product_detail_wrap .product_player_wrap br{display:block}
    .product_detail_wrap .player_wrap br{display:block}
    
    .product_detail_wrap .orga_meister_video{margin:50px 0 15px;padding:10px 10px;background-color:#6a8a22;text-align:left;}
    .product_detail_wrap .orga_meister_video .txt{display:inline-block;color:#fff;font-size:12px;font-weight:500;line-height:1.5;word-break:keep-all}
    .product_detail_wrap .orga_meister_video .txt:after{content:'>';display:inline-block;width:16px;height:16px;margin-left:3px;border-radius:100%;-webkit-border-radius:100%;color:#6a8a22;background-color:#fff;line-height:16px;text-align:center;vertical-align:0;}

    /* 간격 new */
    .product_detail_wrap .product_info_title + *{margin-top:15px !important}
    .product_detail_wrap .product_info_title + .product_info_text{margin-left:20px}
    .product_detail_wrap .product_info_title + .product_info_text_list{margin-left:20px}
    .product_detail_wrap .product_info_subtitle {margin-top:20px;margin-left:20px}
    .product_detail_wrap .product_info_subtitle + [class^="product_info_text"]{margin-top:6px;margin-left:30px}
    .product_detail_wrap .product_info_subtitle + ul{ margin-top:12px; margin-left:30px}
    .product_detail_wrap li.product_info_subtitle .product_info_text{margin-left:0}
    .product_detail_wrap .product_info_image{margin-top:20px}
    .product_detail_wrap .product_info_image + .product_info_image{ margin-top:12px}
    .product_detail_wrap .product_info_image + .product_image_wrap{margin-top:0}
    .product_detail_wrap .product_info_text{ margin-left:30px}
    .product_detail_wrap li.product_info_text{margin-left:0}
    .product_detail_wrap .product_info_text_list{margin-top:12px;margin-left:30px}

    /* 이미지 템플릿 */
    .product_image_wrap{margin-top:15px}
    .product_image_wrap .is_resize img{height:126px}
    
    .product_image_wrap .vertical_type img{height:315px}
    .product_image_wrap .divide_type img{height:195px}
    .product_image_wrap .complex_type img{height:180px}
    .product_image_wrap .complex_type li:nth-child(3n+1) img{height:372px}
    .product_image_wrap .image_notice{margin-top:8px;font-size:13px}

    /* 인증 사항 */
    .product_detail_wrap .authentic_wrap{padding:0}
    .product_detail_wrap .authentic_list{margin-top:18px}
    .product_detail_wrap .authentic_list li{margin-top:20px}
    .product_detail_wrap .authentic_list li:first-child{margin-top:0}
    .product_detail_wrap .authentic_mark{width:75px;height:75px}
    .product_detail_wrap .authentic_title{width:70.1754385%;margin-left:3.508771%;font-size:13px;line-height:1.5}
}



/* 공통 레이아웃 외 개별페이지 스타일 */
/* [145582] ORGA 우리밀 모짜렐라 핫도그 */
.product_info_table.half_gray{margin-top:12px}
.product_info_table.half_gray:after{content:'';display:block;clear:both}
.product_info_table.half_gray table{float:left;width:49.5%;border-top:0;border-bottom:0}
.product_info_table.half_gray table:last-child{margin-left:1%}
.product_info_table.half_gray table th{background-color:#ededed;border-color:#fff;border-width:3px;font-weight:400}
.product_info_table.half_gray table td{background-color:#f6f6f6;border-color:#fff;border-width:3px

/* [113522] 하이아미쌀로 만든 유기농 쌀가루 */
.product_info_text .icon_cook{display:inline-block;width:44px;height:34px;margin-right:4px;vertical-align:bottom}
.product_info_text .icon_cook.ic1{background:url(https://img.orga.co.kr/images/goods_detail/113522_hiami_rice_flour_fine/icon_cooking_01.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.ic2{background:url(https://img.orga.co.kr/images/goods_detail/113522_hiami_rice_flour_fine/icon_cooking_02.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.ic3{background:url(https://img.orga.co.kr/images/goods_detail/113522_hiami_rice_flour_fine/icon_cooking_03.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.ic4{background:url(https://img.orga.co.kr/images/goods_detail/113522_hiami_rice_flour_fine/icon_cooking_04.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.ic5{background:url(https://img.orga.co.kr/images/goods_detail/113522_hiami_rice_flour_fine/icon_cooking_05.png) no-repeat left top;background-size:100%;}
.product_info_text .icon_cook.ic6{background:url(https://img.orga.co.kr/images/goods_detail/113522_hiami_rice_flour_fine/icon_cooking_06.png) no-repeat left top;background-size:100%;}

/* [146382] 샤인머스켓 */
.product_detail_wrap .authentic_wrap .product_info_subtitle,
.product_detail_wrap .authentic_wrap .product_info_subtitle + .product_info_text{margin-top:0;margin-left:0}

/* [154362] 무항생제 돼지 */
.orga_lohas_fresh_meat{margin:60px 0 80px;color:#6a8a22;font-size:40px;font-weight:500;text-align:center}

/* [152263] 우리콩 진간장 */
.tn_info_wrap{margin-top:30px;padding:50px 60px;border:1px solid #000;text-align:left;line-height:1.5}
.tn_info_wrap dt{color:#323131;font-size:28px;font-weight:500}
.tn_info_wrap dd{margin-top:40px;color:#323131;font-size:22px}
.tn_info_wrap dd strong{display:inline-block;margin-top:40px;background-color:#fff7f4}

@media all and (max-width:720px){
    /* [145582] ORGA 우리밀 모짜렐라 핫도그 */
    .product_info_table.half_gray{margin-top:6px}
    .product_info_table.half_gray table th span{display:block}
    .product_info_table.half_gray table th,
    .product_info_table.half_gray table td{border-width:2px;font-size:11px;padding:5px 2px}

    /* [113522] 하이아미쌀로 만든 유기농 쌀가루 */
    .product_info_text .icon_cook{display:inline-block;width:22px;height:17px;margin-right:2px;vertical-align:bottom}

    /* [154362] 무항생제 돼지 시리즈  */
    .orga_lohas_fresh_meat{margin:30px 0 40px;font-size:16px}

    /* [152263] 우리콩 진간장 */
    .tn_info_wrap{margin-top:15px;padding:25px 30px}
    .tn_info_wrap dt{font-size:14px;font-weight:500}
    .tn_info_wrap dd{margin-top:20px;font-size:12px}
    .tn_info_wrap dd strong{margin-top:20px}
}