@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_item_list{position:absolute;left:0;bottom:0;width:100%;height:18%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .prd_item_list li{display:inline-block;width:25%;height:100%}
.event_wrap .prd_item_list a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{left:39%;bottom:22%;width:22%;height:12%}

/* mobile */
.event_wrap.mevt .prd_item_list{height:25.5%}
.event_wrap.mevt .prd_item_list li{width:50%;height:50%}
.event_wrap.mevt .btn_lnk{left:15%;bottom:17%;width:70%;height:14%}
