@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#eee}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;left:5.5%;right:5.5%;height:39.4%}
.event_wrap .btn_lnk1{top:13.4%}
.event_wrap .btn_lnk2{top:54.7%}

/* product  */
.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;min-width:100%;max-width:100%;height:47.222vw}
.event_wrap .product_img img{min-width:88.889vw;max-width:88.889vw}
.event_wrap .product_info{display:block;padding:4.1667vw 0 9.3333vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.8333vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 0.694vw}
.event_wrap .percent{position:relative;display:inline-block;line-height:9.722vw;margin-left: 1.111vw;}
.event_wrap .percent .num{display:inline-block;font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:2.778vw;color:#fff}
.event_wrap .original{display:block;margin:4.1667vw 2.222vw 0 0}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}


.event_wrap .sale{display:flex;margin-top:4.1667vw;align-items: center;}
.event_wrap .sale del{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'NotoSans'}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato';margin-left: 0.6944vw}
.event_wrap .sale .won{display:inline-block;font-size:3.88889vw;font-weight:500;color:#222}

.event_wrap .sale2{display:inline-block;}
.event_wrap .sale2 ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale2 .won{display:inline-block;font-size:3.88889vw;font-weight:500;color:#222}

.event_wrap .product_banner{position: relative; padding-bottom:9.722vw}
.event_wrap .product_banner li{vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{display:block;height:56.8vw}
.event_wrap .product_banner .product_img img{min-width:100vw;max-width:100vw;margin:0}

.event_wrap .product_banner .item2{padding-top:9.306vw}
.event_wrap .product_banner .item2 .product_img{overflow:hidden}
.event_wrap .product_banner .item2 .product_img img{float:right}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:6.5277vw;left:5vw}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:9.8611vw;right:3.2222vw}

.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#80c342;border-radius:50px}
.event_wrap .product_banner .percent .num{display: inline-block;font-size: 4.44444vw;font-weight: 600;color: #ff7828;font-family: 'Lato';}
.event_wrap .product_banner .percent .unit{display:inline-block;font-size:4.44444vw;color:#ff7828;}

/* notice */
.event_wrap .p_evt_noti{background:#eee}
.event_wrap .evt_notice{padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
