@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec2{background:#eee}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;width:524px;height:775px}
.event_wrap .btn_lnk1{top:230px;left:40px}
.event_wrap .btn_lnk2{top:230px;right:40px}

/* product */
.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:200px}
.event_wrap .product_img img{width:100%;margin:0 !important}
.event_wrap .product_info{display:block;padding-top:30px;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:15px}
.event_wrap .percent{display: inline-block; margin-left: 8px;}
.event_wrap .original{display:block;margin:5px 8px 5px 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items: center;}
.event_wrap .sale del{display:inline-block;font-size:18px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'NotoSans'}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato';margin-left:5px}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}
.event_wrap .sale2{display:inline-block}
.event_wrap .sale2 del{display:inline-block;font-size:18px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'NotoSans'}
.event_wrap .sale2 ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale2 .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

.event_wrap .product_banner{display:flex;width:calc(100% - 168px);margin:0 auto 0}
.event_wrap .product_banner li{width:50%;vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{height:528px}
.event_wrap .product_banner .product_img img{margin:0 !important}
.event_wrap .product_banner .product_info{width:100%}

.event_wrap .product_banner .item1 .product_info{position:absolute;top:350px;left:50px}
.event_wrap .product_banner .item1 .product_img{align-items:flex-start;}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:0;left:45px}

.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0px;left:0;width:80px;height:4px;background:#80c342;border-radius:50px}
.event_wrap .product_banner .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .product_banner .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#ff7828}

/* notice */
.event_wrap .p_evt_noti{background:#eee}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .evt_notice{padding:80px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
