@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_list{position:absolute;top:26%;bottom:15%;left:10%;right:10%}
.event_wrap .prd_list li{display:inline-block;width:33%;height:100%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%}

/* mobile */
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .prd_list{top:18%;bottom:10%;left:3%;right:3%}
.event_wrap.mevt .prd_list li{display:inline-block;width:49%;height:50%}
.event_wrap.mevt .prd_list li:first-child{margin:0 25%}


