@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .evt_notice{padding:0 120px 100px;background:#ebedca;box-sizing:border-box}
.event_wrap .notice_list{padding:30px 25px;background:#d4d7a5}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:18px;font-weight:400;color:#333;line-height:36px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:16px;left:0;width:3px;height:3px;background-color:#333;-webkit-border-radius:50%;border-radius:50%;content:''}

.event_wrap .prd_item_list{position:absolute;top:18%;right:9.5%;left:11.5%;bottom:27%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:244px;height:100%;margin-left:36px}
.event_wrap .prd_item_list li:first-child{margin:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{left:30%;bottom:5%;width:39%;height:20%}
