@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

/* notice */
.event_wrap .evt_notice{padding:0 5.55556% 50px;background:#ebedca;box-sizing:border-box}
.event_wrap .notice_list{padding:20px 12px;background:#d4d7a5}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:5px;font-size:12px;font-weight:600;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:0;width:2px;height:2px;background-color:#333;content:''}

.event_wrap .prd_item_list{position:absolute;top:8%;right:5%;left:5%;bottom:0;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:100%;height:33.33334%}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{top:20%;right:5%;left:5%;bottom:16%}
