@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_desc span{color:#fff}

/* page */
.event_wrap .p_evt_sec2{background-color:#6a4d35}

/* notice */
.event_wrap .p_evt_noti{background-color:#6a4d35}
.event_wrap .evt_notice{padding-top:11.1111vw}
