@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:16.6666vw;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benefits/img/evt_nav.png) 0 0/400% no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position:33.3% 0}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position:66.6% 0}
.event_wrap .evt_nav_wrap li:nth-child(4){background-position:100% 0}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;height:16.6666vw;background:rgba(241, 250, 245, 0.6);backdrop-filter:blur(10px);-webkit-backdrop-filter:blur(10px)}
.event_wrap .p_evt_nav{padding-top:16.6666vw;background:rgba(241, 250, 245, 1)}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benefits/img/evt_nav_on.png) 0 0/400% no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:33.3% 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:66.6% 0}
.event_wrap .p_evt_nav li:nth-child(4).on{background-position:100% 0}

/* motion menu */
.event_wrap .evt_menu_wrap{position:absolute;top:68.6111vw;left:5.5555vw;right:5.5555vw;display:flex;justify-content:space-between;flex-wrap:wrap}
.event_wrap .evt_menu_wrap li{position:relative;width:41.6666vw;height:19.4444vw;margin-bottom:5.5555vw}
.event_wrap .evt_menu_wrap li a{display:block;width:100%;height:100%;display:flex;align-items:center}
.event_wrap .evt_menu_wrap li img{width:24.5vw;margin-left:-2.5vw}
.event_wrap .evt_menu_wrap .menu_txt{margin-left:-3vw}
.event_wrap .evt_menu_wrap .menu_txt span{display:block;font-size:3.3333vw;color:#666;letter-spacing:-.6px;line-height:4.8vw}
.event_wrap .evt_menu_wrap .menu_txt span:nth-of-type(2){font-size:3.8888vw;color:#333;font-weight:600;letter-spacing:-.6px}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:relative;display:flex;flex-wrap:wrap;gap:2.7778vw;margin:0 5vw}
.event_wrap .coupon_list li{width:43.61vw;margin-bottom:11.5vw}
.event_wrap .coupon_list .coupon_item{width:100%}

/* 한번에 다운받기 */
.event_wrap .btn_all_coupon{position:relative;display:block;width:66.666vw;line-height:13.194vw;margin:0 auto;background:#111;font-size:4.166vw;font-weight:700;color:#fff;letter-spacing:-.3px;text-align:center;border-radius:100px}
.event_wrap .btn_all_coupon:after{position:relative;display:inline-block;width:5.5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down_white.svg) 0 50%/100% no-repeat;margin-left:2vw;content:''}
.event_wrap .btn_all_coupon.btn_go{margin-top:9vw;z-index:1}
.event_wrap .btn_all_coupon.btn_go:after{width:4.5vw;height:3.5vw;background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(255,255,255)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>') 0 50%/100% no-repeat;content:''}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;letter-spacing:-.1vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}
.event_wrap .coupon_item_info .lspacing{letter-spacing:-0.25vw}
.event_wrap .coupon_item_info .tag{position:absolute;top:-2.7777vw;right:-2.7777vw;width:13.3333vw;height:13.3333vw;background:#222;color:#fff;font-size:3vw;font-weight:bold;line-height:3.5vw;border-radius:100px;display:flex;flex-wrap:wrap;justify-content:center;flex-direction:column;align-items:center}
.event_wrap .coupon_item_info .tag span{display:block;font-size:3.3333vw}

.event_wrap .coupon_item_btn{position:relative;display:block;width:100%;line-height:9.28vw;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 50%/100% no-repeat;margin-left:1.5vw;content:''}
.event_wrap .brand_link{position:relative;display:block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border-radius:4px;background:#f4f4f4;color:#333;font-size:3.88vw;font-weight:500;letter-spacing:-1px;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .brand_link:after{position:relative;display:inline-block;width:4.5vw;height:4.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benefits/img/icon_arrow_right.svg) 0 50%/100% no-repeat;margin-top:0.07vw;content:''}

.event_wrap .coupon_item .coupon_brand{width:26vw;height:9.6vw}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat;background-size:85vw auto}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:3.33vw 0}
.event_wrap .coupon_item .coupon_brand .bi_orga{width:32.8vw;background-position:-50vw 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kitchen{background-position:-23vw 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_care{background-position:3.33vw -13.5vw}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kids{background-position:-23vw -13.5vw}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_danone{background-position:-50vw -13.5vw}
.event_wrap .coupon_item .coupon_brand .bi_eatslim{background-position:3.33vw -27vw}
.event_wrap .coupon_item .coupon_brand .bi_imreal{background-position:-22vw -28vw}
.event_wrap .coupon_item .coupon_brand .bi_babymeal{background-position:-47vw -27vw}
.event_wrap .coupon_item .coupon_brand .bi_designmeal{background-position:3.33vw -41.5vw}
.event_wrap .coupon_item .coupon_brand .bi_nutrition{background-position:-47vw -28.4vw}
.event_wrap .coupon_item .coupon_brand .bi_yourlac{background-position:-50vw -42.5vw}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_water{background-position:3vw -57vw}
.event_wrap .coupon_item .coupon_brand .bi_amio{background-position:-24vw -56.5vw}

/* notice */
.event_wrap .evt_notice{padding:13.8888vw 5.555555% 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

/* 추가혜택 스와이프 */
.event_wrap .slide_box_ver2{position:relative;width:100vw;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:53vw;margin-left:4vw} /* 상품2개 출력 margin-left:25vw 삭제 */
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{position:relative;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2:after{position:absolute;top:40%;left:95.5%;width:4.5vw;height:4vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benefits/img/icon_arrow_right2.svg) 0 50%/100% no-repeat;content:''}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;height:100%;margin:0 !important}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 a{display:block;width:100%;height:100%}

.slide_box_ver2 .slide_btn_box2 button{position:absolute;width:11.1111vw;height:11.1111vw;top:20vw;color:#fff;background:rgba(0,0,0,0.5);border:none;cursor:pointer;touch-action:none;display:none}
.slide_box_ver2 .slide_btn_box2 .slide_btn_prev2{left:0;border-radius:0 8px 8px 0}
.slide_box_ver2 .slide_btn_box2 .slide_btn_next2{right:0;border-radius:8px 0 0 8px}

.slide_box_ver2 .slide_pagination2{position:relative;text-align:center}
.slide_box_ver2 .slide_pagination2 .dot2{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 5px;background:#ddd;border-radius:100px;transition:0.3s}
.slide_box_ver2 .slide_pagination2 .dot2.dot_active2{background:#525252}
.slide_box_ver2 .slide_pagination2 .dot2 a{display:block;width:100%;height:100%}

/* title */
.event_wrap .evt_title{color:#222;font-size:7.7777vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;font-weight:300;letter-spacing:-2px;text-align:center;padding:16.6666vw 0 11vw}
.event_wrap .evt_title span{display:block}
.event_wrap .evt_title strong{position:relative;display:inline-block;color:#35b828;font-weight:900;letter-spacing:-1.5px;z-index:1}
.event_wrap .evt_title strong:after{content:'';position:absolute;bottom:2px;left:0;width:100%;height:1.6666vw;background:#d8ff5d;animation:line 4s ease-in-out 1s infinite both;z-index:-1}
.event_wrap .evt_title.title2 strong{color:#411b1c}
.event_wrap .evt_title.title2 strong:after{background:#fee500;animation:line 4s ease-in-out 1s infinite both}

/* content */
.event_wrap .p_evt_sec1 .coupon_list{flex-direction:column;align-content:center;background:#f1faf5;border:1px solid #e9eef0;border-radius:8px;padding:11.1111vw 0 5.5555vw}
.event_wrap .p_evt_sec1 .coupon_list li{margin-bottom:5.5555vw}
.event_wrap .p_evt_sec4 .coupon_list{flex-direction:column;align-content:center;background:#eef9e7;border:1px solid #e9eef0;border-radius:8px;padding:11.1111vw 0}
.event_wrap .p_evt_sec4 .coupon_list li{margin-bottom:0}

.event_wrap .sec3_con{margin:0 5.5555vw}
.event_wrap .sec3_con li{position:relative;min-height:38.8888vw;padding:7.5vw 0 0 7.5vw;border:1px solid #e9eef0;border-radius:8px;box-sizing:border-box}
.event_wrap .sec3_con li:nth-of-type(1){background:#fee500;}
.event_wrap .sec3_con li:nth-of-type(2){background:#fffbea;margin-top:2.7777vw}
.event_wrap .sec3_con h3{font-size:4.1666vw;color:#401d1d;margin-bottom:4.1666vw}
.event_wrap .sec3_con p{font-size:3.3333vw;color:#333;font-weight:500;line-height:5vw;letter-spacing:-1px;margin-bottom:1.7vw}
.event_wrap .sec3_con span{font-size:2.2222vw;color:#999}
.event_wrap .sec3_con figure{position:absolute;bottom:0px;right:1.3888vw;width:42.5vw}
.event_wrap .sec3_title{display:block;position:relative;margin:11.1111vw 0 8vw}
.event_wrap .sec3_title span{display:block;width:55.5555vw;line-height:11.1111vw;background:#411b1c;font-size:3.3333vw;font-weight:500;color:#fff;letter-spacing:-.2px;text-align:center;border-radius:100px;margin:0 auto}
.event_wrap .sec3_title:after{position:absolute;top:50%;left:5.5555vw;right:5.5555vw;height:1px;background:#411b1c;content:'';z-index:-1}
.event_wrap .p_evt_sec3 .coupon_item{position:absolute;top:7.5vw;right:2.5vw;width:38.5vw}
.event_wrap .p_evt_sec3 .coupon_item_info{padding:3vw 1vw 3vw 3vw}
.event_wrap .p_evt_sec3 .coupon_item_info .info_type{line-height:2.5vw}
.event_wrap .p_evt_sec3 .coupon_item_info .info_discount{margin-bottom:0}
.event_wrap .p_evt_sec3 .coupon_item_info .info_name{line-height:2vw}

.event_wrap .sec5_con{position:relative;min-height:44.4444vw;padding:7.5vw 0 0 5.5555vw;margin:0 5.5555vw;background:#282d36;border:1px solid #e9eef0;border-radius:8px;box-sizing:border-box}
.event_wrap .sec5_con h3{font-size:4.1666vw;color:#ff752a;margin-bottom:3.6vw}
.event_wrap .sec5_con p{font-size:3.3333vw;color:#fff;font-weight:500;line-height:5vw;letter-spacing:-1px;margin-bottom:1.7vw}
.event_wrap .sec5_con span{font-size:2.2222vw;color:#999}
.event_wrap .sec5_con figure{position:absolute;bottom:0px;right:0vw;width:42.7777vw}

.event_wrap .sec6_list{padding-bottom:11.1111vw}
.event_wrap .sec6_list li{position:relative;margin:0 5.5555vw 5.5555vw 5.5555vw;background:#f4f4f4;border:1px solid #e9eef0;border-radius:8px}
.event_wrap .sec6_list a{display:block;height:100%;min-height:38.8888vw;padding:7.5vw 0 0 5.5555vw;box-sizing:border-box}
.event_wrap .sec6_list h3{position:relative;font-size:4.1666vw;color:#222;line-height:5.8vw;margin-bottom:3.6vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .sec6_list h3:after{position:relative;display:inline-block;width:4vw;height:3vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benefits/img/icon_arrow_right.svg) 0 50%/100% no-repeat;content:''}
.event_wrap .sec6_list li:nth-child(1) h3 span{color:#74c245}
.event_wrap .sec6_list li:nth-child(2) h3 span{color:#aa8153}
.event_wrap .sec6_list li:nth-child(3) h3 span{color:#c2a645}
.event_wrap .sec6_list p{font-size:3.3333vw;color:#333;font-weight:500;line-height:5vw;letter-spacing:-1px}
.event_wrap .sec6_list figure{position:absolute;bottom:0px;right:0px;width:47.2222vw}
.event_wrap .sec6_list .tag{position:absolute;top:-2.7777vw;right:-2.7777vw;width:13.3333vw;height:13.3333vw;background:#222;color:#fff;font-size:3vw;font-weight:bold;line-height:3.5vw;border-radius:100px;display:flex;flex-wrap:wrap;justify-content:center;flex-direction:column;align-items:center;z-index:1}
.event_wrap .sec6_list .tag span{display:block;font-size:3.3333vw}

/* menu motion */
.menu_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.menu_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.menu_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.menu_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.menu_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .motion{-webkit-animation:bounce 4s 0s ease-in-out infinite both;animation:bounce 4s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;width:30vw;top:29vw;left:0;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object2{position:absolute;width:20vw;top:22.6vw;right:0;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object3{position:absolute;width:18vw;top:25vw;left:0;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object4{position:absolute;width:26vw;top:29vw;right:0;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object5{position:absolute;width:21vw;top:30vw;left:2.7vw;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object6{position:absolute;width:14vw;top:23.6vw;right:0;-webkit-animation-delay:0.4s;animation-delay:0.4s}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}

.motion_box .object_outline{display:block;position:absolute;top:16.6666vw;left:62.5vw;width:22.2222vw;height:8.3333vw}
.motion_box .object_txt{display:block;position:absolute;top:18vw;left:65vw;font-size:4.4444vw;color:#42c343;font-weight:600;letter-spacing:-1px}
.motion_box .object_txt span{display:inline-block;animation:fade 3s 0s ease-in-out infinite both}
.motion_box .object_txt .txt2{animation-delay:0.3s}
.motion_box .object_txt .txt3{animation-delay:0.6s}
.motion_box .object_txt .txt4{animation-delay:0.9s}
@keyframes fade{
  0%, 100%{
    opacity: 0.3;
  }
  15%, 85% { 
    opacity: 1;
  }
}

/* 스크롤 모션 */
.motion_scroll{opacity:0}
.motion_scroll.active{opacity:1;animation:silde-top 0.6s ease-in-out both;-webkit-animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.delay01.active{animation-delay:0s}
.delay02.active{animation-delay:0.2s}
.delay03.active{animation-delay:0.4s}
