@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:72%;left:7%;right:6%;height:22%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;bottom:0;left:0;right:0}
.event_wrap .coupon_item_info{border:1px solid #e1e1e1}

/* notice */
.event_wrap .p_evt_noti{background:#fff6ef}
