@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:72%;left:20%;right:20%;height:20%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:52px;right:288px}
.event_wrap .coupon_item_info{border:1px solid #e1e1e1}

/* notice */
.event_wrap .evt_notice{padding:0 40px 72px;background:#fff6ef}
