@charset "utf-8";
@import url('./goods_renewal2022.css'); /* 2022년 풀무원,올가 리뉴얼 */
@import url('./goods_orga.css');/* 올가 템플릿 */
@import url('./goods_holiday.css');/* 2023.9 명절상품 템플릿 */
@import url('./goods_amio.css');/* 2023.10 아미오 브랜드 */

/* reset */
.product_detail_wrap ul, .product_detail_wrap ol, .product_detail_wrap span{padding:0;} 
.product_detail_wrap li{list-style:none;} 
.product_detail_wrap p{margin:0}
.product_detail_wrap strong{font-weight:500;padding:0}
.product_detail_wrap table,table td, .product_detail_wrap table th{border:none}
.product_detail_wrap a{color:#000;}

/* PC */
.product_detail_wrap *{font-family:'Lato', 'NotoSans', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif !important;word-break:keep-all}
.product_detail_wrap{max-width:948px;width:100%;margin:0 auto 100px auto;background:#fff;font-weight:400}
.product_detail_wrap .blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0, 0, 0, 0)}
.product_detail_wrap .detail_wrap{position:relative;text-align:center;} 
.product_detail_wrap .detail_wrap > img{width:100%;vertical-align:top}
.product_detail_wrap .detail_wrap.line{margin-top:100px;padding-top:100px;border-top:1px solid #cbcbcb}
.product_detail_wrap .detail_wrap.line .product_info_wrap{margin-top:0}
.product_detail_wrap .next_section{margin-top:72px !important}
.product_detail_wrap .next_content{margin-top:40px !important}
.product_detail_wrap .thin_text{font-weight:100}
.product_detail_wrap .gray_color{color:#999 !important}
.product_detail_wrap .small_text{font-size:32px}
.product_detail_wrap .small_text2{font-size:18px;color:#999;font-weight:normal}

/* logo */
.product_detail_wrap .bi{display:flex;justify-content:space-between}
.product_detail_wrap .bi span{display:block}
.product_detail_wrap .bi_wrap{display:block;width:150px;height:80px;overflow:hidden}
.product_detail_wrap .bi_wrap > span{width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_logo.png) 0 0 no-repeat} 
.product_detail_wrap .bi_sub_wrap{display:block;width:150px;height:80px;overflow:hidden}
.product_detail_wrap .bi_sub_wrap > span{width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_logo.png) 0 0 no-repeat} 

.product_detail_wrap .bi_wrap .bi_pulmuone{background-position:0 0} 
.product_detail_wrap .bi_wrap .bi_foodmerce{background-position:-154px 0}
.product_detail_wrap .bi_wrap .bi_pulmuone_greenjuice{background-position:-294px 0px} 
.product_detail_wrap .bi_wrap .bi_pulmuone_health{background-position:0 -84px} 
.product_detail_wrap .bi_wrap .bi_pulmuone_water{background-position:-154px -84px}
.product_detail_wrap .bi_wrap .bi_pulmuone_danone{background-position:0 -155px}

.product_detail_wrap .intro_img{display:block}
.product_detail_wrap .pmo:before{position:absolute;left:0;bottom:-100px;z-index:0;width:200px;height:162px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/pmo_pattern1.png) 0 0 no-repeat;content:''}
.product_detail_wrap .pmo:after{position:absolute;right:0;bottom:-55px;z-index:0;width:164px;height:322px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/pmo_pattern2.png) 0 0 no-repeat;content:''}
.product_detail_wrap .detail_subtitle{display:block;margin-top:72px;font-size:30px;color:#1b1b1b;line-height:1.6}
.product_detail_wrap .detail_title{font-family:'PulmuoneLOHAS', 'NotoSans', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif !important;margin-top:30px;font-size:47px;font-weight:700;color:#1b1b1b;line-height:1.2;letter-spacing:-.03em}
.product_detail_wrap .detail_point_title{font-family:'PulmuoneLOHAS', 'NotoSans', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif !important;display:inline-block;margin-top:4px;font-size:40px;font-weight:700;color:#1b1b1b;line-height:1.2}
.product_detail_wrap .detail_text{margin-top:40px;font-size:21px;color:#323131;line-height:1.6}
.product_detail_wrap .product_info_wrap{margin-top:100px;padding:0 100px}
.product_detail_wrap .product_list{overflow:hidden;position:relative;font-size:0}
.product_detail_wrap .product_list:before{position:absolute;top:0;left:50%;width:0.1%;height:100%;background:#1b1b1b;content:''}
.product_detail_wrap .product_list li{display:inline-block;position:relative;width:50%;height:auto;padding:36px 8px 36px;min-height:300px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_list li:nth-child(n+3):before{position:absolute;left:0;top:0;width:100%;height:1px;background:#1b1b1b;content:''}
.product_detail_wrap .product_icon{display:block;max-width:300px;height:150px;max-height:150px;margin:0 auto}
.product_detail_wrap .product_title{display:block;font-size:28px;font-weight:500;color:#323131;line-height:1.4}
.product_detail_wrap .product_text{margin-top:6px;font-size:22px;color:#323131;line-height:1.4}
.product_detail_wrap .product_text.small_text{font-size:16px}
.product_detail_wrap .product_text+.product_text{margin-top:10px}
.product_detail_wrap .is_odd_type .product_list:before{left:33.33333%;width:0.1%}
.product_detail_wrap .is_odd_type .product_list:after{position:absolute;top:0;right:33.33333%;width:0.1%;height:100%;background:#1b1b1b;content:''}
.product_detail_wrap .is_odd_type .product_list li{width:33.33333%}
.product_detail_wrap .is_odd_type .product_list li:nth-child(n+3):before{display:none}

/* 상품상세 */
.product_detail_wrap .product_info_title{position:relative;margin-top:100px;padding-top:100px;padding-left:38px;border-top:1px solid #cbcbcb;font-size:32px;font-weight:500;color:#323131;text-align:left}
.product_detail_wrap .product_info_title:before{display:inline-block;width:12px;height:12px;margin:-8px 8px 0 -20px;background-color:#3bcc29;vertical-align:middle;border-radius:50%;-webkit-border-radius:50%;content:''}
.product_detail_wrap .product_info_subtitle{display:block;position:relative;margin-top:40px;margin-left:40px;padding-left:20px;font-size:28px;font-weight:500;color:#323131;text-align:left;line-height:1.4}
.product_detail_wrap .product_info_subtitle:before{display:inline-block;vertical-align:middle;margin:-2px 10px 0 -18px;width:6px;height:6px;background:#323131;border-radius:50%;-webkit-border-radius:50%;content:''}
.product_detail_wrap li.product_info_subtitle{margin-top:40px}
.product_detail_wrap .product_info_subtitle.bullet_none{padding-left:0}
.product_detail_wrap .product_info_subtitle.bullet_none:before{display:none}
.product_detail_wrap .product_info_text{position:relative;display:block;margin-top:10px;margin-left:60px;padding-right:40px;font-size:22px;color:#323131;text-align:left;line-height:1.5}
.product_detail_wrap .product_info_text.bullet{position:relative;padding-left:12px}
.product_detail_wrap .product_info_text.bullet .dot,
.product_detail_wrap .product_info_text.bullet .dash{position:absolute;left:0}
.product_detail_wrap .product_info_text .dot{top:16px;display:inline-block;width:3px;height:3px;border-radius:100%;-webkit-border-radius:100%;background:#323131;vertical-align:middle}
.product_detail_wrap .product_info_text .dash{top:16px;display:inline-block;width:6px;height:1px;margin:0;background:#323131;vertical-align:middle}
.product_detail_wrap .product_info_text.bullet_num{position:relative;padding-left:20px}
.product_detail_wrap .product_info_text.bullet_num .num{position:absolute;left:0}
.product_detail_wrap .product_info_text.bullet_check{padding-left:30px}
.product_detail_wrap .product_info_text.bullet_check:after{position:absolute;top:8px;left:0;width:26px;height:26px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) -80px -140px no-repeat;content:''}
.product_detail_wrap .product_info_text.bullet_check2{padding-left:30px}
.product_detail_wrap .product_info_text.bullet_check2:after{position:absolute;top:8px;left:0;width:26px;height:26px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) -40px -140px no-repeat;content:''}
.product_detail_wrap .icon_check{padding-left:30px}
.product_detail_wrap .icon_check:after{position:absolute;top:8px;left:0;width:26px;height:26px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) 0 -140px no-repeat;content:''}

/* 아이콘 */
.product_detail_wrap .product_info_text.icon_text{position:relative;padding-left:38px}
.product_detail_wrap .product_info_text.icon_text>i[class^="icon_"],
.product_detail_wrap .product_info_text.icon_text>em[class^="icon_"]{position:absolute;top:0;left:0}

/* 통합몰 대응 */
.product_detail_wrap .product_info_text.icon_text2{position:relative;padding-left:54px}
.product_detail_wrap .product_info_text.icon_text2>i[class^="icon_"],
.product_detail_wrap .product_info_text.icon_text2>em[class^="icon_"]{position:absolute;top:0;left:0}

/* 통합몰 대응 */
.product_detail_wrap .product_info_text.indent{padding-left:20px;text-indent:-22px}
.product_detail_wrap .icon_tip{display:inline-block;vertical-align:top;width:52px;height:41px;margin:0 6px 0 -6px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) -90px 0 no-repeat}
.product_detail_wrap .icon_tip2{display:inline-block;vertical-align:top;width:44px;height:44px;margin:0 10px 0 -20px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) -280px 0 no-repeat}
.product_detail_wrap .icon_star{display:inline-block;vertical-align:top;width:35px;height:32px;margin-right:8px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) -160px 0 no-repeat}
.product_detail_wrap .icon_star.sm{width:20px;background-size:240px;background-position:-96px 5px}
.product_detail_wrap .icon_star2{display:inline-block;vertical-align:top;width:44px;height:44px;margin:0 10px 0 -20px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) -220px 0 no-repeat}
.product_detail_wrap .icon_recomend{display:inline-block;vertical-align:top;width:70px;height:55px;margin:-6px 8px -8px 2px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_icon.png) 0 0 no-repeat}
.product_detail_wrap .t_line{background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img_line_or.jpg) repeat-x left bottom}
.product_detail_wrap .t_line2{display:inline-block;padding:4px 12px;background-color:#e2fd66}
.product_detail_wrap .t_line3{background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img_line_mint.png) repeat-x left bottom}
.product_detail_wrap .t_line4{background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img_line_red.png) repeat-x left bottom}
.product_detail_wrap .product_info_text strong{font-weight:500}
.product_detail_wrap .point{color:#6da920}
.product_detail_wrap .text_red{color:#dc1c1c}
.product_detail_wrap em{color:#000;font-weight:500}
.product_detail_wrap .product_info_subtitle strong{font-weight:500}
.product_detail_wrap .product_notice_text{margin-top:120px;padding:0 22px;color:#323131;font-size:22px;text-align:left;text-indent:-22px}
.product_detail_wrap .icon_recipe{display:inline-block;margin-right:10px;vertical-align:top;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/sp_recipe.png) 0 0 no-repeat}
.product_detail_wrap .airfryer{width:32px;height:42px;background-position:0 0}
.product_detail_wrap .airfryer2{width:32px;height:42px;background-position:0 -80px}
.product_detail_wrap .fryfan{width:58px;height:44px;background-position:-36px 0}
.product_detail_wrap .fryfan2{width:56px;height:35px;background-position:-103px -68px}
.product_detail_wrap .fryfan3{width:66px;height:30px;background-position:-32px -76px}
.product_detail_wrap .fryfan4{width:44px;height:34px;background-position:-38px -120px}
.product_detail_wrap .microwave{width:40px;height:35px;background-position:-98px 7px}
.product_detail_wrap .microwave2{width:32px;height:34px;background-position:-0px -121px}
.product_detail_wrap .pot{width:42px;height:40px;background-position:-98px -30px}
.product_detail_wrap .oven{width:40px;height:50px;background-position:-144px 0}
.product_detail_wrap .product_info_image{display:block}
.product_detail_wrap .product_info_image img{width:100%;vertical-align:top}
.product_detail_wrap .product_info_image.sub_image{margin-top:12px}

/* 동영상 */
.product_detail_wrap .product_player_wrap{position:relative;margin-top:60px;padding-top:56.25%}
.product_detail_wrap .player_area{position:absolute;top:0;right:0;left:0;bottom:0;background-size:100% 0;background-repeat:no-repeat}
.product_detail_wrap iframe,
.product_detail_wrap object{display:block;width:100%;height:100%}
.product_detail_wrap .player_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none}

.product_detail_wrap .movie_wrap{position:relative}
.product_detail_wrap .movie_wrap video{width:100%;object-fit:cover}

.product_detail_wrap .product_info_table{margin-top:24px;margin-left:60px}
.product_detail_wrap .product_info_table table{width:100%;border-top:2px solid #000;border-bottom:2px solid #000;font-size:22px;table-layout:fixed;border-collapse:collapse}
.product_detail_wrap .product_info_table th,
.product_detail_wrap .product_info_table td{border-top:1px solid #000;border-left:1px solid #000;box-sizing:border-box;-webkit-box-sizing:border-box;color:#000;text-align:center;vertical-align:middle}
.product_detail_wrap .product_info_table th{height:48px;background-color:#eee;font-size:22px;font-weight:700}
.product_detail_wrap .product_info_table td{height:48px;padding:10px 10px;font-size:20px;text-align:center}
.product_detail_wrap .product_info_table td:first-child,
.product_detail_wrap .product_info_table th:first-child{border-left:none}
.product_detail_wrap .product_info_table tbody th{padding:10px 10px;background-color:#fff;font-size:20px}
.product_detail_wrap .product_info_table .bg_none{background-color:none}
.product_detail_wrap .product_info_table .text_left{text-align:left}
.product_detail_wrap .product_info_table .text_right{text-align:right}
.product_detail_wrap .product_info_table .table_text{margin-top:20px;color:#323131;font-size:22px;text-align:right}
.product_detail_wrap .product_info_table.point_box_center{position:relative}
.product_detail_wrap .product_info_table.point_box_center:after{content:'';display:block;width:calc(36% + 1px);height:100%;border:3px solid #6dbb00;position:absolute;top:0;left:calc(28% + 1px);box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_info_table.point_box_half{position:relative}
.product_detail_wrap .product_info_table.point_box_half.left:after{content:'';display:block;width:calc(50% + 1px);height:100%;border:3px solid #6dbb00;position:absolute;top:0;left:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_info_table.point_box_half.right:after{content:'';display:block;width:calc(50% + 1px);height:100%;border:3px solid #6dbb00;position:absolute;top:0;left:calc(50% - 1px);box-sizing:border-box;-webkit-box-sizing:border-box}

/* 간격 */
.product_detail_wrap .product_info_title+.product_info_subtitle{margin-top:30px}
.product_detail_wrap .product_info_title+.product_info_image{margin-top:30px}
.product_detail_wrap .product_info_title+.product_image_wrap{margin-top:30px}
.product_detail_wrap .product_info_subtitle+.product_info_image{margin-top:30px}

/* .product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:40px } */
.product_detail_wrap .product_info_image+.product_info_image{margin-top:20px}
.product_detail_wrap .product_info_text+.product_info_image{margin-top:60px}
.product_detail_wrap .product_info_text+.product_info_image.sub_image{margin-top:30px}
.product_detail_wrap .product_info_image+.product_image_wrap{margin-top:0}
.product_detail_wrap .product_image_wrap+.product_info_image{margin-top:12px}
.product_detail_wrap li.product_info_subtitle .product_info_text{margin-left:0}

/* .product_detail_wrap .product_info_title + ul li{margin-left:40px } */
.product_detail_wrap .product_info_title+.product_info_text_list{margin-left:40px;} 
.product_detail_wrap .product_info_title+.product_info_text_list [class^="product_info_text"]{margin-left:0;} 
.product_detail_wrap .product_player_wrap+.bi{margin-top:60px}
.product_detail_wrap .detail_wrap .detail_text:nth-child(n+4){margin-top:20px}

/* 이미지 템플릿 */
.product_image_wrap{margin-top:40px}
.product_image_wrap ul li{margin-top:12px}
.product_image_wrap ul img{width:100%;min-height:100%}
.product_image_wrap .is_resize{overflow:hidden;margin-left:-12px;padding:0;font-size:0;text-align:left}
.product_image_wrap .is_resize li{display:inline-block;width:50%;padding-left:12px;vertical-align:top;-webkit-box-sizing:border-box;box-sizing:border-box}
.product_image_wrap .is_resize img{height:auto}

/* 252px- 4단이미지 가변적 사용 */
.product_image_wrap .vertical_type img{height:auto}

/* 630px- 2단이미지 가변적 사용 */
.product_image_wrap .divide_type li{width:33.3333334%}
.product_image_wrap .divide_type img{height:390px}
.product_image_wrap .complex_type li{float:left}
.product_image_wrap .complex_type img{height:360px}
.product_image_wrap .complex_type li:nth-child(3n+1){clear:left}
.product_image_wrap .complex_type li:nth-child(3n+1) img{height:732px}
.product_image_wrap .image_notice{margin-top:16px;font-size:22px;color:#323131;text-align:right}

/* 외부몰 - gif 대체 jpg 이미지 */
.product_detail_wrap .image_type img{display:none;}
.product_detail_wrap .image_type .gif{display:block;}

/* 인증 사항 */
.product_detail_wrap .authentic_wrap{padding:1% 10% 1% 10%;text-align:left}
.product_detail_wrap .authentic_list{margin-top:20px;} 
.product_detail_wrap .authentic_list li{margin-top:20px}
.product_detail_wrap .authentic_list li:first-child{margin:0}
.product_detail_wrap .authentic_area:after{display:inline-block;height:auto;vertical-align:middle;content:''}
.product_detail_wrap .authentic_area{position:relative;vertical-align:middle;white-space:nowrap}
.product_detail_wrap .authentic_mark{display:inline-block;width:110px;height:110px;vertical-align:middle}
.product_detail_wrap .authentic_mark img{display:block;width:100%;height:100%}
.product_detail_wrap .authentic_title{display:inline-block;width:85%;margin-left:2%;font-size:22px;color:#696969;line-height:1.55;vertical-align:middle;white-space:normal}
.product_detail_wrap .authentic_title .product_info_text{padding-right:0}

/* qna */
.product_detail_wrap .product_qna_list{margin-top:52px;margin-left:60px;text-align:left;} 
.product_detail_wrap .product_qna_list i{position:absolute;top:-12px;display:inline-block;width:50px;height:50px;line-height:50px;border-radius:50%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font-size:32px;font-weight:500;font-style:normal;text-align:center;} 
.product_detail_wrap .product_qna_list p{position:relative;z-index:1;display:inline-block;padding:30px 36px;border-radius:16px;background-color:#ededed;color:#131313;font-size:22px;vertical-align:top;text-align:left;line-height:1.5;} 
.product_detail_wrap .product_qna_list p strong{font-weight:500;} 
.product_detail_wrap .product_qna_list dt{position:relative;padding-left:84px;margin-bottom:24px;} 
.product_detail_wrap .product_qna_list dt:before{content:'';position:absolute;z-index:0;top:18px;left:52px;width:0;height:0;border-top:29px solid #ededed;border-bottom:36px solid transparent;border-right:36px solid transparent;border-left:48px solid transparent;} 
.product_detail_wrap .product_qna_list dt i{left:0;font-family:arial;background:#3bcc29;} 
.product_detail_wrap .product_qna_list dd{position:relative;text-align:right;margin-bottom:24px;padding-right:84px;} 
.product_detail_wrap .product_qna_list dd:before{content:'';position:absolute;z-index:0;top:18px;right:52px;width:0;height:0;border-top:29px solid #ededed;border-bottom:36px solid transparent;border-right:48px solid transparent;border-left:36px solid transparent;} 
.product_detail_wrap .product_qna_list dd i{right:0;background:#dd664e;} 

/* brand info */
.product_detail_wrap .brand_info_wrap{margin:100px 0;padding:0 120px 0 130px}
.product_detail_wrap .brand_info_wrap:after{content:'';display:block;clear:both}
.product_detail_wrap .brand_info_wrap dt{float:left;width:126px;height:126px;margin-right:20px}
.product_detail_wrap .brand_info_wrap dd{color:#202020;font-size:23px;line-height:1.4;text-align:left;margin-left:0}

/* Mobile */
@media all and (max-width:720px){
	.product_detail_wrap{overflow:hidden;max-width:720px;padding:0 4.44444vw 14vw;margin-bottom:0;box-sizing:border-box}
	.product_detail_wrap .detail_wrap{margin:0}
	.product_detail_wrap .detail_wrap.line{margin-top:13.5vw;padding-top:13.5vw;border-top:1px solid #cbcbcb}
	.product_detail_wrap .detail_wrap.bi{height:11vw;margin:0}
	.product_detail_wrap .bi_wrap{display:block;width:20vw;height:11.4vw}
	.product_detail_wrap .bi_wrap > span{background-size:68vw auto}
	.product_detail_wrap .bi_sub_wrap{display:block;width:20vw;height:11.4vw}
	.product_detail_wrap .bi_sub_wrap > span{background-size:68vw auto}

	.product_detail_wrap .bi_wrap .bi_foodmerce{background-position:-20vw 0}
	.product_detail_wrap .bi_wrap .bi_pulmuone_greenjuice{background-position:-40vw 0}
	.product_detail_wrap .bi_wrap .bi_pulmuone_health{background-position:0 -11.5vw}
	.product_detail_wrap .bi_wrap .bi_pulmuone_water{background-position:-21vw -11.5vw}
	.product_detail_wrap .bi_wrap .bi_pulmuone_danone{background-position:0 -22vw}	

	.product_detail_wrap .intro_img{margin:0 -6.605%}
	.product_detail_wrap .next_section{margin-top:9.5vw !important}
	.product_detail_wrap .next_content{margin-top:5.3vw !important}
	.product_detail_wrap .pmo{margin:0}
	.product_detail_wrap .pmo:before{display:none}
	.product_detail_wrap .pmo:after{bottom:-19%;width:100%;height:100%;z-index:0;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/bg_pmo_pattern.png) no-repeat left bottom;background-size:100% auto}
	.product_detail_wrap br{display:none}
	.product_detail_wrap .brnone{display:block}
	.product_detail_wrap .paragraph_block br{display:block}
	.product_detail_wrap .detail_subtitle{margin-top:9.5vw;font-size:5.278vw}
	.product_detail_wrap .detail_title{margin-top:3.8vw;font-size:7.778vw}
	.product_detail_wrap .detail_point_title{margin-top:0;font-size:6.944vw;line-height:1.5}
	.product_detail_wrap .detail_text{margin-top:4vw;padding:0 9vw;font-size:4.444vw;line-height:1.5}
	.product_detail_wrap .small_text{font-size:6.111vw}
	.product_detail_wrap .small_text2{font-size:3.889vw}
	.product_detail_wrap .product_text.small_text{font-size:3.611vw}
	.product_detail_wrap .product_text+.product_text{margin-top:1.2vw}
	.product_detail_wrap .product_info_wrap{margin-top:9vw;padding:0}
	.product_detail_wrap .product_list li{min-height:41.6667vw;padding:3vw 3vw}
	.product_detail_wrap .product_icon{width:auto;height:20vw;max-height:20vw;margin:1.5vw 0}
	.product_detail_wrap .product_icon img{width:auto;max-height:100%}
	.product_detail_wrap .product_title{font-size:4.444vw;line-height:1.3}
	.product_detail_wrap .product_text{margin-top:1vw;font-size:3.889vw;line-height:1.3}
	.product_detail_wrap .is_odd_type .product_list li{padding:0 1.5vw }
	.product_detail_wrap .product_list:before{width:1px}
	.product_detail_wrap .is_odd_type .product_list:before{width:1px}
	.product_detail_wrap .is_odd_type .product_list:after{width:1px}

	/* 상품상세 */
	.product_detail_wrap .product_info_title{margin-top:13.5vw;margin-left:2vw;padding:13.5vw 2.8vw 0;font-size:5.556vw}
	.product_detail_wrap .product_info_title:before{width:1.5vw;height:1.5vw;margin:-1vw 1vw 0 -2.6vw}
	.product_detail_wrap .product_info_subtitle{margin:5.5vw 2.7777777vw 0;padding-left:2.8vw;font-size:5vw}
	.product_detail_wrap .product_info_subtitle:before{width:1vw;height:1vw;margin:-0.6vw 1.3vw 0 -2.4vw}
	.product_detail_wrap .product_info_subtitle.bullet_none:before{display:none}
	.product_detail_wrap .product_info_text{margin-top:1.5vw;margin-left:5.4vw;padding-right:4vw;font-size:4.444vw}
	.product_detail_wrap .product_info_text.bullet{position:relative;padding-left:2.1vw}
	.product_detail_wrap .product_info_text+.product_info_image .product_detail_wrap .product_info_text.bullet .dot,
	.product_detail_wrap .product_info_text.bullet .dash{position:absolute;left:0}
	.product_detail_wrap .product_info_text .dot{top:3vw;display:inline-block;width:0.7vw;height:0.7vw;background:#323131;vertical-align:middle}
	.product_detail_wrap .product_info_text .dash{top:3.5vw;display:inline-block;width:1.2vw;height:0.3vw;margin:0;background:#323131;vertical-align:middle}
	.product_detail_wrap .product_info_text.bullet_num{position:relative;padding-left:4.5vw}

	/* 아이콘 */
	.product_detail_wrap .product_info_text.icon_text{padding-left:6.4vw;} 
	.product_detail_wrap .product_info_text.icon_text2{padding-left:8vw;} 
	.product_detail_wrap .product_info_text.indent{padding-left:4.8vw;text-indent:-5.2vw;} 
	.product_detail_wrap .product_info_text.bullet_check{padding-left:6.4vw}
	.product_detail_wrap .product_info_text.bullet_check:after{width:20px;top:0;background-size:300px;background-position:-58px -102px}
	.product_detail_wrap .product_info_text.bullet_check2{padding-left:6.4vw}
	.product_detail_wrap .product_info_text.bullet_check2:after{width:20px;top:0;background-size:300px;background-position:-29px -102px}
	.product_detail_wrap .icon_check{padding-left:6.4vw;} 
	.product_detail_wrap .icon_check:after{width:20px;top:0;background-size:300px;background-position:0 -102px}
	.product_detail_wrap .icon_tip{width:8vw;height:6vw;margin:0 1vw 0 0;background-size:55vw;background-position:-12vw 0.5vw}
	.product_detail_wrap .icon_tip2{width:7vw;height:7vw;background-size:55vw;background-position:-30vw 0}
	.product_detail_wrap .icon_star{width:5vw;height:5vw;margin-right:1.5vw;background-size:55vw;background-position:-21.5vw 1vw}
	.product_detail_wrap .icon_star.sm{width:5vw;background-size:44vw;background-position:-16.5vw 1vw}
	.product_detail_wrap .icon_star2{width:7vw;height:7vw;background-size:55vw;background-position:-30vw 0}
	.product_detail_wrap .icon_recomend{width:9vw;height:7vw;margin:0 1.7vw 0 0;background-size:50vw;} 
	.product_detail_wrap .t_line{display:inline}
	.product_detail_wrap .t_line2{display:inline;padding:0.5vw 1.5vw;background-color:#e2fd66}
	.product_detail_wrap .product_notice_text{margin:16vw 4.8vw 0 9.5vw;padding:0;font-size:4.167vw;text-indent:-5vw}
	.product_detail_wrap .product_info_image.sub_image{margin:0 9%}
	.product_detail_wrap .icon_recipe{display:inline-block;margin-right:4px;vertical-align:top}
	.product_detail_wrap .fryfan{width:33px;height:22px;background-size:100px auto;background-position:-16px 0}
	.product_detail_wrap .fryfan2{width:30px;height:18px;background-size:100px auto;background-position:-50px -34px;} 
	.product_detail_wrap .fryfan3{width:31px;height:20px;background-size:100px auto;background-position:-16px -35px;} 
	.product_detail_wrap .fryfan4{width:31px;height:20px;background-size:100px auto;background-position:-17px -59px;} 
	.product_detail_wrap .oven{width:20px;height:25px;background-size:100px auto;background-position:-72px 0}
	.product_detail_wrap .airfryer{width:16px;height:21px;background-size:100px auto;} 
	.product_detail_wrap .airfryer2{width:16px;height:21px;background-size:100px auto;background-position:0 -40px}
	.product_detail_wrap .microwave{width:20px;height:20px;background-size:100px auto;background-position:-49px 5px;} 
	.product_detail_wrap .microwave2{width:20px;height:20px;background-size:100px auto;background-position:2px -61px;} 
	.product_detail_wrap .pot{width:22px;height:22px;background-size:100px auto;background-position:-49px -13px;} 
	
	.product_detail_wrap .product_info_table{margin-top:4vw;margin-left:5.5vw}
	.product_detail_wrap .product_info_table table{font-size:4.167vw}
	.product_detail_wrap .product_info_table th{height:9.5vw;padding:1.5vw 1vw;font-size:4.167vw}
	.product_detail_wrap .product_info_table td{height:9.5vw;padding:1.5vw 1vw;font-size:4.167vw}
	.product_detail_wrap .product_info_table tbody th{padding:1.5vw 1vw;font-size:4.167vw}
	.product_detail_wrap .product_info_table .table_text{margin-top:0;font-size:3.889vw}
	.product_detail_wrap .product_player_wrap{margin-top:8vw}
	.product_detail_wrap .product_player_wrap br{display:block}
	.product_detail_wrap .player_wrap br{display:block}

	/* 간격 */
	.product_detail_wrap .product_info_title+.product_info_subtitle{margin-top:4vw}
	.product_detail_wrap .product_info_title+.product_info_image{margin-top:4vw}
	.product_detail_wrap .product_info_title+.product_image_wrap{margin-top:4vw}
	.product_detail_wrap .product_info_subtitle+.product_info_image{margin-top:4vw}

	/* .product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:5.5vw } */
	.product_detail_wrap .product_info_image+.product_info_image{margin-top:2.5vw}
	.product_detail_wrap .product_info_text+.product_info_image{margin-top:8vw}
	.product_detail_wrap .product_info_text+.product_info_image.sub_image{margin-top:4vw}
	.product_detail_wrap .product_info_text+ul{margin-top:2.5vw}
	.product_detail_wrap .product_info_title+ul li{margin-left:5.5vw}
	.product_detail_wrap .product_info_title+.product_info_text_list{margin-left:5.5vw}

	/* 이미지 템플릿 */
	.product_image_wrap{margin-top:4.5vw}
	.product_image_wrap .is_resize img{height:auto}

	/* 126px- 4단이미지 가변적 사용 */
	.product_image_wrap .vertical_type img{height:auto}

	/* 315px- 2단이미지 가변적 사용 */
	.product_image_wrap .divide_type img{height:195px}
	.product_image_wrap .complex_type img{height:32vw}
	.product_image_wrap .complex_type li:nth-child(3n+1) img{height:67.2vw}
	.product_image_wrap .image_notice{margin-top:2vw;font-size:4.167vw}

	/* 인증 사항 */
	.product_detail_wrap .authentic_wrap{padding:1vw 0 1vw 2.5vw}
	.product_detail_wrap .authentic_mark{width:17vw;height:17vw}
	.product_detail_wrap .authentic_title{width:65vw;margin-left:2.5vw;line-height:1.3;font-size:4vw}
	.product_detail_wrap .authentic_title .product_info_text{margin-left:2vw;line-height:1.4}

	/* qna */
	.product_detail_wrap .product_qna_list{margin-top:23px;margin-left:30px;margin-right:20px}
	.product_detail_wrap .product_qna_list i{position:absolute;top:-6px;width:25px;height:25px;border-radius:50%;color:#fff;font-size:5vw;font-weight:500;text-align:center;line-height:25px;} 
	.product_detail_wrap .product_qna_list p{position:relative;z-index:1;display:inline-block;vertical-align:top;max-width:80%;padding:15px 16px;font-size:4.722vw;line-height:1.5;text-align:left;border-radius:8px;background:#ededed;} 
	.product_detail_wrap .product_qna_list p strong{display:block;font-weight:500;} 
	.product_detail_wrap .product_qna_list dt{position:relative;padding-left:42px;margin-bottom:12px;} 
	.product_detail_wrap .product_qna_list dt:before{content:'';position:absolute;z-index:0;top:9px;left:26px;width:0;height:0;border-top:14px solid #ededed;border-bottom:18px solid transparent;border-right:18px solid transparent;border-left:24px solid transparent;} 
	.product_detail_wrap .product_qna_list dt i{left:0;font-family:arial;background:#3bcc29;} 
	.product_detail_wrap .product_qna_list dd{position:relative;text-align:right;margin-bottom:12px;padding-right:42px;} 
	.product_detail_wrap .product_qna_list dd:before{content:'';position:absolute;z-index:0;top:9px;right:26px;width:0;height:0;border-top:14px solid #ededed;border-bottom:18px solid transparent;border-right:24px solid transparent;border-left:18px solid transparent;} 
	.product_detail_wrap .product_qna_list dd i{right:0;background:#dd664e;} 
	.product_detail_wrap .brand_info_wrap{margin:50px 0;padding:0 20px;font-size:0}
	.product_detail_wrap .brand_info_wrap dt{float:none;display:inline-block;width:63px;height:63px;margin-right:10px;vertical-align:middle}
	.product_detail_wrap .brand_info_wrap dd{display:inline-block;width:calc(100% - 73px);color:#202020;font-size:4vw;line-height:1.4;text-align:left;vertical-align:middle} 
}
