@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .btn_lnk{position:absolute;top:85.5%;left:22%;width:56%;height:6.6%}

/* notice */
.event_wrap .p_evt_noti{background:#f3f3f3}
.event_wrap .evt_notice{padding:33px 5.555555% 43px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_text{margin-top:20px;padding-left:6px;font-size:12px;font-weight:500;color:#333;line-height:20px}
.event_wrap .notice_text:first-of-type{margin:0}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;margin-bottom:60px;padding:0 22.222222%;background:#fff}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:25%;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_new_member/img/btn_apply.jpg) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
