@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .btn_lnk{position:absolute;top:81.3%;left:35%;width:30%;height:8.5%}

/* notice */
.event_wrap .p_evt_noti{background:#f3f3f3}
.event_wrap .evt_notice{padding:32px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_text{margin-top:30px;padding-left:16px;font-size:16px;font-weight:500;color:#333;line-height:30px}
.event_wrap .notice_text:first-of-type{margin:0}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:visible;position:relative;max-width:1168px;width:100%;height:48px;margin:0 auto 100px;padding:0;background:url(../img/btn_bg.jpg) 0 0 repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:1920px;height:100%;background:#fff;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:0;width:172px;height:48px;padding:0;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_new_member/img/p_btn_apply.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

