@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:21.3888vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0816_amio_tofu_nuggets/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:13.5%;left:4%;right:4%;height:100%}
.event_wrap .items_list li{width:100%;height:16.5%}
.event_wrap .items_list li:nth-child(2){margin-bottom:31%}
.event_wrap .items_list li:nth-child(n+3){height:21.5%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:27.7777vw;left:0;right:0}
.event_wrap .info_desc{padding-top:2vw;padding-bottom:0}
.event_wrap .info_desc span{font-size:3.3333vw;font-weight:600;color:#fff}

/* page */
.event_wrap .p_evt_sec3::after{content:'';position:absolute;top:52.7777vw;left:-2vw;width:22.9166vw;height:27.1vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0816_amio_tofu_nuggets/img/object.png) 100%/100% no-repeat}

/* notice */
.event_wrap .noti1{background:#fff}
.event_wrap .noti2{background:#7bcd1d}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0816_amio_tofu_nuggets/img/m_survey_bg.jpg) 50% 0/100%}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:1vw 5vw 0 5vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:33.3%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#333 !important;font-weight:600;line-height:4vw;padding:1.6vw 3vw;word-break:keep-all !important;text-align:center}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{flex-direction:column;align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #878787 !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:2px solid #444 !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#444;width:2.63vw;height:2.63vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:66.6666vw !important;height:11.1111vw !important;font-size:0 !important;line-height:0 !important;margin:20vw auto 0 !important;border-radius:0 !important;background:#fff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0816_amio_tofu_nuggets/img/m_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
