@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0805_3rd_anniversary/img/p_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* button */
.event_wrap .btn_move{top:0;left:30%;right:30%;height:40%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* page */
.event_wrap .p_evt_sec1, .event_wrap .p_evt_sec3{background:#eee}

/* notice */
.event_wrap .p_evt_noti{background:#eee;padding:30px 0 60px}
.event_wrap .noti2{background:#c1e180}
.event_wrap .info_desc span{color:#222}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;min-width:1200px;width:auto !important;padding:0 !important;background:#c1e180 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0805_3rd_anniversary/img/p_survey_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__survey .survey form{width:1200px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:24%;margin-top:300px !important;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{display:flex !important;align-items:center;width:85%;font-size:22px !important;line-height:30px !important;min-height:60px;color:#000 !important;letter-spacing:-1px}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 40px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:16px !important;width:32px !important;height:32px !important;border:2px solid #c3c3c3 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:2px solid #444 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:24px !important;left:8px !important;width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#444 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;margin-top:65px !important;font-size:0 !important;border-radius:100px !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0805_3rd_anniversary/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
