@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500}

.event_wrap .evt_notice{padding:0 120px;background:#f2f1f6;box-sizing:border-box}
.event_wrap .notice_list{padding:29px 54px;background:#e7e6eb}
.event_wrap .notice_list li{position:relative;padding-left:9px;font-size:16px;font-weight:400;color:#333;line-height:32px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:3px;height:3px;background-color:#333333;border-radius:50%;-webkit-border-radius:50%;content:''}

.event_wrap .btn_lnk1{top:48%;left:11.7%;width:21%;height:6%}
.event_wrap .btn_lnk2{top:92.5%;left:11.7%;width:21%;height:6%}
.event_wrap .btn_lnk3{top:37%;left:11.7%;width:21%;height:6%}
.event_wrap .btn_lnk4{top:82%;left:11.7%;width:21%;height:6%}


/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{font-family:-apple-system-font,'Apple SD Gothic Neo',Helvetica,sans-serif;}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .evt_notice{padding:39px 8.3333334%;background:#e7e6eb}
.event_wrap.mevt .notice_list{padding:0}
.event_wrap.mevt .notice_list li{padding-left:8px;font-size:12px;line-height:1.9}
.event_wrap.mevt .notice_list li:before{top:9px;width:2px;height:2px}
.event_wrap.mevt .btn_lnk1{top:30%;left:18%;width:63%;height:4%}
.event_wrap.mevt .btn_lnk2{top:75%;left:18%;width:63%;height:4%}
.event_wrap.mevt .btn_lnk3{top:19%;left:18%;width:63%;height:4%}
.event_wrap.mevt .btn_lnk4{top:63%;left:18%;width:63%;height:4%}
