@charset "utf-8";

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background: #8ad563}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:90.2777vw;left:13.8889%;right:13.8889%;height:36.5%;display:flex;justify-content:center;align-content:space-between;flex-wrap:wrap;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_benepia_promotion/img/object/m_nav_bg.png) no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap li{position:relative;width:30.9%;height:49.5%}
.event_wrap .evt_nav_wrap li:nth-child(2){margin:0 3.6%}
.event_wrap .evt_nav_wrap li:nth-child(4){margin-right:3.6%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:9.5%;left:5%;right:5%;height:7.5%}

/* soldout */
.event_wrap .product_list .dimm_soldout{display:block;position:absolute;width:100%;height:61%;background:rgba(0,0,0,.8);color:#fff;font-size:4vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;pointer-events:none;cursor:not-allowed;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;z-index:2}
.event_wrap .product_list .dimm_soldout strong{font-size:6vw;margin-top:1.3889vw;text-decoration:underline;text-underline-position:under}
.event_wrap .product_list .dimm_soldout + a{cursor:default;pointer-events:none}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin-left:5.555vw}
.event_wrap .product_list li{width:43.055vw;vertical-align:top}
.event_wrap .product_list li:nth-child(odd){margin-right:2.777vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{display:block;overflow:hidden;width:43.055vw;height:43.055vw;background:#fff}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#333;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .lspacing{letter-spacing:-1.2px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#333;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#333;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#333}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .tag{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;background:#ff752a;font-size:4vw;color:#fff;display:flex;justify-content:center;align-items:center}

/* product 선착순특가 */
.event_wrap .product_list.list1 .original{flex-basis:auto;margin-right:2vw}

/* notice */
.event_wrap .p_evt_noti{background:#e8ece9}
.event_wrap .evt_notice{padding:0 5.5556vw 18.05555vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5556vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(51,51,51,.2);border-bottom:1px solid rgba(51,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:#5dd5dd !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw !important;height:25vw !important;margin-left:12.5vw !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#6acc0c}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#6acc0c !important;color:#fff !important;line-height:4.66667vw !important}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}
.nav_motion.motion5{-webkit-animation-delay:2.4s;animation-delay:2.4s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 6s 0s ease-in-out infinite both;animation:bounce-left 6s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 6s 0s ease-in-out infinite both;animation:bounce-right 6s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:4.2%;left:9%;width:82%}
.motion_box .object2{position:absolute;top:29%;left:2%;width:95%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:22.9%;left:13%;width:75%;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:13%;left:-5%;width:34%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object5{position:absolute;top:-3%;left:70%;width:50%;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object7{position:absolute;top:-8%;left:0;width:100%;}

.tit2 .motion_box .object1{top:5.2%}
.tit2 .motion_box .object2{top:32%}
.tit2 .motion_box .object3{top:25%}
.tit2 .motion_box .object4{top:13%}
.tit2 .motion_box .object5{top:-3%}
.tit2 .motion_box .object7{top:-10%}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
