@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:63vw;left:10vw;right:10vw}
.event_wrap .items_list li{width:100%;height:115vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* 사은품 소진 */
.event_wrap .soldout{position:absolute;top:58.1944vw;left:5.5556vw;right:5.5556vw;height:52.9167vw;background:rgba(000, 000, 000, 0.6);border-radius:2.7778vw;display:flex;align-items:center;justify-content:center;text-align:center;pointer-events:none}
.event_wrap .soldout::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:34vw;height:34vw;border:0.8333vw solid #fff;border-radius:100%}
.event_wrap .soldout p{font-size:4.5vw;font-weight:600;color:#fff;letter-spacing:-.5px;line-height:1.4;z-index:1}
