@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:27%;left:5%;right:5%;height:60%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list li{width:48%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti .evt_notice{background-color:#f9f9f9}

/* 사은품 소진 */
.event_wrap .soldout{position:absolute;top:356px;left:364px;width:438px;height:293px;background:rgba(000, 000, 000, 0.6);border-radius:20px;display:flex;align-items:center;justify-content:center;text-align:center;pointer-events:none}
.event_wrap .soldout::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:180px;height:180px;border:4px solid #fff;border-radius:100%}
.event_wrap .soldout p{font-size:22px;font-weight:600;color:#fff;letter-spacing:-.5px;line-height:1.4;z-index:1}
