@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .noti1 .evt_notice{position:relative;background-color:#f5f5f5;z-index:5;}
.event_wrap .noti2{background-color:#d1bfaa}

/* 상품리스트 */
.p_evt_sec2 .product_item{position:absolute;top:66vw;z-index:5;margin:0 8.3333vw}
.event_wrap .product_item li{width:100%;margin-right:0}
.event_wrap .product_item li + li{margin-top:17.7777vw}
.event_wrap .product_item .item_info{padding:5.5556vw 0;background-color:#fff}
.event_wrap .product_item .item_thumbnail{height:auto;}
.event_wrap .product_item .name{font-size:3.8889vw;line-height:5.5556vw;text-align:center;}
.event_wrap .product_item .price_area{justify-content:center;font-size:5vw}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:48.25vw;left:0;right:0}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .object_img{position:absolute;top:49vw;left:10vw;right:10vw;width:80%;z-index:10}
.motion_box .object_img.motion1_0{width:16.25vw;top:93vw;left:65vw;z-index:25;}
.motion_box .object_img.motion1_2{-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:20}
.motion_box .object_img.motion1_3{-webkit-animation:bounce-up 9s ease-in-out 0.6s infinite both;animation:bounce-up 9s ease-in-out 0.6s infinite both;z-index:10}
.motion_box .object_img.motion2_2{-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:20}
.motion_box .object_img.motion2_3{-webkit-animation:bounce-up 9s ease-in-out 3.6s infinite both;animation:bounce-up 9s ease-in-out 3.6s infinite both;z-index:10}
.motion_box .object_img.motion3_2{-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:20}
.motion_box .object_img.motion3_3{-webkit-animation:bounce-up 9s ease-in-out 6.6s infinite both;animation:bounce-up 9s ease-in-out 6.6s infinite both;z-index:10}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { 
        opacity:0 
    }
    6% {
        opacity:1;
        -webkit-transform:translateY(-2.0833vw);
                transform:translateY(-2.0833vw);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity:1;
        -webkit-transform:translateY(-2.0833vw);
                transform:translateY(-2.0833vw);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}
