@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden;}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* button */
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:200px;right:222px}

/* notice */
.event_wrap .noti1{padding-bottom:80px;background-color:#171623}
.event_wrap .noti1 .evt_notice{position:relative;background-color:#f5f5f5;z-index:5;}
.event_wrap .noti2{background-color:#d1bfaa}

/* 상품리스트 */
.p_evt_sec2 .product_item{position:absolute;top:482px}
.event_wrap .product_item li{width:590px}
.event_wrap .product_item li:nth-child(n+3){margin-top:134px}
.event_wrap .product_item .item_info{padding:40px 0;background-color:#fff}
.event_wrap .product_item .item_thumbnail{height:400px;}
.event_wrap .product_item .name{font-size:28px;line-height:40px;text-align:center;}
.event_wrap .product_item .price_area{justify-content:center;font-size:36px}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .object_img{position:absolute;top:0;left:570px;z-index:10}
.motion_box .object_img.motion1_0{top:300px;left:980px;z-index:25;}
.motion_box .object_img.motion1_2{-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:20}
.motion_box .object_img.motion1_3{-webkit-animation:bounce-up 9s ease-in-out 0.6s infinite both;animation:bounce-up 9s ease-in-out 0.6s infinite both;z-index:10}
.motion_box .object_img.motion2_2{-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:20}
.motion_box .object_img.motion2_3{-webkit-animation:bounce-up 9s ease-in-out 3.6s infinite both;animation:bounce-up 9s ease-in-out 3.6s infinite both;z-index:10}
.motion_box .object_img.motion3_2{-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:20}
.motion_box .object_img.motion3_3{-webkit-animation:bounce-up 9s ease-in-out 6.6s infinite both;animation:bounce-up 9s ease-in-out 6.6s infinite both;z-index:10}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}
