@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#ffed5d}
.event_wrap .p_evt_sec2{background:#87a6fe}

/* button */
.event_wrap .btn_lnk1{top:0;left:16%;right:16%;height:28%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:29.1666vw;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/evt_nav.png) 0 0/300% no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position:50% 0}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position:100% 0}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;height:29.1666vw;background:rgba(0, 0, 0, 0.33);backdrop-filter:blur(6px);-webkit-backdrop-filter:blur(6px)}
.event_wrap .p_evt_nav{position:absolute;top:64.4444vw;left:0;padding-top:29.1666vw}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/evt_nav_on.png) 0 0/300% no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:100% 0}

/* coupon */
.event_wrap .coupon_list ul{flex-direction:column}

/* product */
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 1.6666vw}
.event_wrap .product_list .original del{color:#333}
.event_wrap .percent_type2{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;background:#f95a9a;display:flex;justify-content:center;align-items:center}
.event_wrap .percent_type2 .num{font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent_type2 .unit{font-size:2.778vw;color:#fff;margin:1vw 0 0 0.2vw}

/* notice */
.event_wrap .p_evt_noti{background:#ffed5d}
.event_wrap .noti2{background:#9df2ff}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 16.6666vw !important;background:#9df2ff !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:11.25vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_txt{width:32.2222vw;top:18.1944vw;left:50%;transform:translateX(-50%);z-index:10}
.motion_box .motion{top:-15vw;background-size:100%;background-repeat:no-repeat;animation:sparkle 6.5s linear infinite}
.motion_box .object1{left:1vw;width:12vw;height:10vw;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object1.png);animation-delay:0s}
.motion_box .object2{left:55vw;width:14vw;height:10vw;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object2.png);animation-delay:1.4s}
.motion_box .object3{left:-8vw;width:8vw;height:10vw;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object3.png);animation-delay:5s}
.motion_box .object4{left:75vw;width:12vw;height:10vw;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object4.png);animation-delay:4.2s}
.motion_box .object5{left:10vw;width:11vw;height:10vw;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object5.png);animation-delay:2.4s}

@keyframes sparkle {
  0% {
    transform: translate(0px) translateX(-50px);
    rotate: 0deg;
    opacity: 1;
  }
  20% {
    transform: translateY(100px) translateX(50px);
    rotate: 30deg;
  }
  40% {
    transform: translateY(200px) translateX(100px);
    rotate: 0deg;
  }
  60% {
    transform: translateY(300px) translateX(250px);
    rotate: 20deg;
  }
  80% {
    transform: translateY(400px) translateX(350px);
    rotate: 0deg;
    opacity: 1;
  }
  100% {
    transform: translateY(500px) translateX(500px);
    opacity: 0;
  }
}
