@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#e1f753}

/* button */
.event_wrap .btn_lnk1{top:0;left:16%;right:16%;height:33%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0318/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:38.8888vw;left:0;right:0}

/* product */
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 1.6666vw}
.event_wrap .product_list .original del{color:#333}
.event_wrap .percent_type2{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;background:#62ad00;display:flex;justify-content:center;align-items:center}
.event_wrap .percent_type2 .num{font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent_type2 .unit{font-size:2.778vw;color:#fff;margin:1vw 0 0 0.2vw}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background:#67c893}
.event_wrap .noti2{background:#f0fdde}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object1{width:41vw;top:71vw;left:-3vw;animation-delay:0.6s !important}
.motion_box .object3{width:27.7777vw;top:35.5vw;left:57vw;animation-delay:0s !important}

.motion_box .motion{-webkit-animation:rotate 15s linear 0s infinite both, fade 7s linear 0s infinite both;animation:rotate 15s linear 0s infinite both, fade 7s linear 0s infinite both}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  15%, 70% {
    opacity: 1;
  }
}
@keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  15%, 70% {
    opacity: 1;
  }
}
