@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:29%;right:29%;height:80px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0318/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:255px;left:0;right:0}

/* product */
.event_wrap .product_list{position:absolute;top:274px;left:40px;right:40px;gap:0 8px}
.event_wrap .product_list li{width:266px}
.event_wrap .product_list .product_img{height:266px}
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 8px}
.event_wrap .product_list .original del{color:#333}
.event_wrap .percent_type2{position:absolute;top:0;left:0;width:60px;height:60px;background:#62ad00;display:flex;justify-content:center;align-items:center}
.event_wrap .percent_type2 .num{font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent_type2 .unit{font-size:14px;color:#fff;margin:6px 0 0 1px}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background:#67c893 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0318/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .noti2{background:#f0fdde url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0318/p_img_noti2.jpg) 50% 100% no-repeat}

/* motion */
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object1{top:420px;left:-244px;z-index:50}
.motion_box .object2{top:310px;left:-5px;animation-delay:1.4s !important}
.motion_box .object3{top:204px;left:630px;animation-delay:1s !important}
.motion_box .object4{top:650px;right:-300px;z-index:51;animation-delay:0.6s !important}
.motion_box .object5{top:450px;right:-375px;z-index:50}

.motion_box .motion{-webkit-animation:rotate 15s linear 0s infinite both, fade 7s linear 0s infinite both;animation:rotate 15s linear 0s infinite both, fade 7s linear 0s infinite both}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  15%, 70% {
    opacity: 1;
  }
}
@keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  15%, 70% {
    opacity: 1;
  }
}
