@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#ffed5d}

/* button */
.event_wrap .btn_lnk1{top:0;left:29%;right:29%;height:80px}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:282px;right:282px;height:188px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position:-201px 0}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position:-402px 0}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:188px;background:rgba(0, 0, 0, 0.33);backdrop-filter:blur(8px);-webkit-backdrop-filter:blur(8px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:604px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav{position:absolute;top:522px;left:50%;min-width:auto;padding-top:188px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/p_evt_nav_on.png) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:-201px 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:-402px 0}

/* product */
.event_wrap .product_list{position:absolute;top:274px;left:40px;right:40px;gap:0 8px}
.event_wrap .product_list li{width:266px}
.event_wrap .product_list .product_img{height:266px}
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 8px}
.event_wrap .product_list .original del{color:#333}
.event_wrap .percent_type2{position:absolute;top:0;left:0;width:60px;height:60px;background:#f95a9a;display:flex;justify-content:center;align-items:center}
.event_wrap .percent_type2 .num{font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent_type2 .unit{font-size:14px;color:#fff;margin:6px 0 0 1px}

/* notice */
 .event_wrap .p_evt_noti{background:#ffed5d url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/p_img_noti.jpg) 50% 100% no-repeat}
 .event_wrap .noti2{background:#9df2ff}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:80px;margin:0 auto;padding:0;background:#9df2ff}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:480px;height:80px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:5}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_txt{top:156px;left:50%;transform:translateX(-50%);z-index:20}
.motion_box .motion{background-size:100%;background-repeat:no-repeat;animation:sparkle 6.5s linear infinite}
.motion_box .object1{top:-100px;left:200px;width:110px;height:90px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object1.png);animation-delay:0s}
.motion_box .object2{top:-100px;left:650px;width:90px;height:70px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object2.png);animation-delay:2.8s}
.motion_box .object4{top:-50px;left:1100px;width:60px;height:50px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object4.png);animation-delay:5.5s}
.motion_box .object5{top:-100px;left:350px;width:60px;height:50px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object5.png);animation-delay:5s}
.motion_box .object6{top:-100px;left:1250px;width:60px;height:90px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring/img/0304/object/object6.png);animation-delay:1.4s}

@keyframes sparkle {
  0% {
    transform: translate(0px) translateX(-50px);
    rotate: 0deg;
    opacity: 1;
  }
  20% {
    transform: translateY(120px) translateX(50px);
    rotate: 30deg;
  }
  40% {
    transform: translateY(240px) translateX(150px);
    rotate: 0deg;
  }
  60% {
    transform: translateY(380px) translateX(300px);
    rotate: 20deg;
  }
  80% {
    transform: translateY(600px) translateX(450px);
    rotate: 0deg;
    opacity: 1;
  }
  100% {
    transform: translateY(700px) translateX(600px);
    opacity: 0;
  }
}
