@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* common */
.event_wrap * {box-sizing:border-box;-webkit-box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR'}

.p_evt_sec1 .btn_link{position:absolute;left:170px;bottom:142px;display:block;width:283px;height:72px}
.p_evt_sec2{padding-top:85px;background-color:#c4e0eb}
.p_evt_sec2 .evt_tit{padding:0 55px;color:#333;font-size:38px;font-weight:700;letter-spacing:-.04em;text-align:left;line-height:1}
.p_evt_sec2 .evt_process{margin-top:20px;padding:0 55px}
.p_evt_sec2 .evt_process li{color:#333;font-size:20px;font-weight:400;letter-spacing:-.06em;text-align:left;line-height:1.5}
.p_evt_sec2 .evt_process li strong{font-weight:700}
.p_evt_sec3{padding:0 45px 60px;background-color:#c4e0eb}
.p_evt_sec3 .notice_wrap{padding:42px 15px 0;border-top:2px solid #73a7bc}
.p_evt_sec3 .notice_wrap strong{display:block;margin-bottom:30px;padding-left:42px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0710_buncha_present/img/icon_notice.png) no-repeat 0 0;color:#333;font-size:28px;font-weight:700;letter-spacing:-.06em;line-height:1.1} 
.p_evt_sec3 .notice_wrap .notice_list li{position:relative;margin-left:42px;padding-left:10px;color:#333;font-size:20px;font-weight:400;letter-spacing:-.06em;text-align:left;line-height:1.5;word-break:keep-all} 
.p_evt_sec3 .notice_wrap .notice_list li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:4px;height:1px;background-color:#333}