@charset "utf-8";
	/* common */
  .event_wrap{width:100%;max-width:none;margin:0 auto}
  .event_wrap * {box-sizing:border-box;-webkit-box-sizing:border-box;}
  .event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
  .event_wrap img{width:100%;vertical-align:top}
  .event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
  .event_wrap .evt_section{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

  .m_evt_sec1 .btn_link{position:absolute;left:0;bottom:6%;display:block;width:50%;height:6.5%;margin:0 25%}
  .m_evt_sec2{padding-top:50px;background-color:#e9f5fa}
  .m_evt_sec2 .evt_tit{padding:0 5.55%;color:#333;font-size:34px;font-weight:700;letter-spacing:-.04em;text-align:left;line-height:1}
  .m_evt_sec2 .evt_process{margin-top:15px;padding:0 5.55%;}
  .m_evt_sec2 .evt_process li{color:#333;padding-left:16px;text-indent:-14px;font-size:13px;font-weight:400;letter-spacing:-.04em;text-align:left;line-height:1.5;word-break:keep-all}
  .m_evt_sec2 .evt_process li strong{font-weight:700}
  .m_evt_sec3{padding:0 5.55%;background-color:#e9f5fa}
  .m_evt_sec3 .notice_wrap{padding:15px 0 50px;border-top:1px solid #6caec8;}
  .m_evt_sec3 .notice_wrap strong{display:block;margin-bottom:16px;padding-left:20px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0710_buncha_present/img/icon_notice.png) no-repeat left center;background-size:15px 15px;color:#333;font-size:14px;font-weight:700;letter-spacing:-.05em;line-height:1.1}
  .m_evt_sec3 .notice_wrap .notice_list{margin-left:20px}
  .m_evt_sec3 .notice_wrap .notice_list li{position:relative;padding-left:5px;color:#333;font-size:12px;font-weight:400;letter-spacing:-.05em;text-align:left;line-height:1.5;word-break:keep-all} 
  .m_evt_sec3 .notice_wrap .notice_list li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:3px;height:1px;background-color:#333}
