/* only event, promotion */

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}

/* 공통 */
.event_wrap .info_desc{padding-bottom:8.1vw;text-align:center}
.event_wrap .info_desc span{display:block;font-size:3.8888vw;font-weight:200;color:#999;line-height:1}
.event_wrap .info_desc span:before{content:'·';vertical-align:top;margin-right:1vw}
.event_wrap .info_desc span + span{margin-top:0.9vw}

/* 유의사항 - 라인 화이트배경  */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:11.1111vw 5.5555vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:4.1666vw 0 1.9444vw;border-top:0.2777vw solid #333;font-size:4.7222vw;font-weight:600;color:#333;line-height:1.3}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:6.1111vw;word-break:keep-all}
.event_wrap .notice_list li:before{content:'';position:absolute;top:2.8vw;left:0;width:0.4166vw;height:0.4166vw;background:#333;border-radius:100px}

/* 유의사항 - 라인 블랙배경 : p_evt_noti에 .noti_type2 클래스 추가 */
.event_wrap .noti_type2{background:#444}
.event_wrap .noti_type2 .notice_title{border-top:0.2777vw solid #fff;color:#fff}
.event_wrap .noti_type2 .notice_list li{color:#fff}
.event_wrap .noti_type2 .notice_list li:before{background:#fff}

/* 유의사항 - 기본 화이트배경 : p_evt_noti에 .noti_type3 클래스 추가 */
.event_wrap .noti_type3 .notice_title{padding-top:0;border-top:0;color:#333}

/* 유의사항 - 기본 블랙배경 : p_evt_noti에 .noti_type4 클래스 추가  */
.event_wrap .noti_type4{background:#444}
.event_wrap .noti_type4 .notice_title{padding-top:0;border-top:0;color:#fff}
.event_wrap .noti_type4 .notice_list li{color:#fff}
.event_wrap .noti_type4 .notice_list li:before{background:#fff}

/* 쿠폰리스트  */
/* .event_wrap .coupon_list{position:absolute;top:43.0555vw;left:0;right:0} absolute 사용 */
.event_wrap .coupon_list ul{display:flex;flex-wrap:wrap;justify-content:center;gap:8.3333vw 0}
.event_wrap .coupon_list li{margin:0 2.2222vw 0 2.2222vw}

.event_wrap .coupon_item_btn{display:block;position:relative;width:100%;line-height:8.3333vw;margin-top:2.2222vw;border:0.2778vw solid #ddd;background:#fff;color:#000;font-size:3.8889vw;font-weight:600;letter-spacing:-.1vw}
.event_wrap .coupon_item_btn:after{content:'';position:relative;display:inline-block;width:3.8889vw;height:3.8889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_download.svg) 100%/100% no-repeat;margin-left:1.5vw}

.event_wrap .coupon_all_btn{display:block;position:relative;width:66.6667vw;height:11.1111vw;margin:8.33333vw auto 0;border-radius:100px;background:#000;color:#fff;font-size:3.8889vw;font-weight:600;letter-spacing:-.1vw}
.event_wrap .coupon_all_btn:after{content:'';position:relative;display:inline-block;width:3.8889vw;height:3.8889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_download.svg) 100%/100% no-repeat;filter:invert(100%);margin-left:1.5vw}

/* 쿠폰 - 기본 초록  */
.event_wrap .coupon_item{position:relative;width:43.3333vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;display:flex;flex-direction:column;min-height:27.7778vw;background:#73c40b;padding:4.1667vw 0.1vw 3vw 4.1667vw;letter-spacing:-0.1vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{content:'';position:absolute;top:0;right:0;width:16.6666vw;height:18.0555vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/mark1.svg) 1.8vw -2.6388vw/100% no-repeat}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:600;line-height:4vw;z-index:1}
.event_wrap .coupon_item_info .info_discount{font-size:8.3333vw;margin-bottom:0.7vw;margin-left:-2px;color:#fff;font-weight:800;line-height:10vw;min-height:11.3vw;z-index:1}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-weight:800}
.event_wrap .coupon_item_info .info_discount small{font-size:5.5556vw;font-weight:800}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3.3333vw;line-height:1;letter-spacing:-0.2vw}
.event_wrap .coupon_item .flag{position:absolute;top:-2.2222vw;right:-2.2222vw;background:#00a41b;border-radius:100px;padding:1.1111vw 2.5vw;font-size:2.7778vw;font-weight:600;color:#fff;z-index:2}

/* 쿠폰 - 화이트배경 : coupon_item에 .coupon_type2 클래스 추가  */
.event_wrap .coupon_type2 .coupon_item_info{background:#fff}
.event_wrap .coupon_type2 .coupon_item_info:before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/mark2.svg)}
.event_wrap .coupon_type2 .coupon_item_info .info_type{color:#232323;}
.event_wrap .coupon_type2 .coupon_item_info .info_discount{color:#73c40b}
.event_wrap .coupon_type2 .coupon_item_info .info_name{color:#727272}

/* 쿠폰 - 1개 */
.event_wrap .coupon_one{width:65vw}
.event_wrap .coupon_one .coupon_item_info{min-height:41.8056vw;padding:6.3889vw 0.5vw 3vw 6.3889vw}
.event_wrap .coupon_one .coupon_item_info:before{width:24.3055vw;height:26.1111vw;background-position:2.7777vw -3.75vw}
.event_wrap .coupon_one .coupon_item_info .info_type{font-size:5.5556vw;line-height:6vw}
.event_wrap .coupon_one .coupon_item_info .info_discount{margin-bottom:0.9vw;line-height:14.8vw;min-height:12vw}
.event_wrap .coupon_one .coupon_item_info .info_discount em{font-size:15vw}
.event_wrap .coupon_one .coupon_item_info .info_discount small{font-size:8.3333vw}
.event_wrap .coupon_one .coupon_item_info .info_name{font-size:5vw;line-height:5vw}
.event_wrap .coupon_one .flag{position:absolute;top:-3.3333vw;right:-3.3333vw;background:#00a41b;border-radius:100px;padding:1.6667vw 2.7778vw;font-size:4.4444vw;font-weight:600;color:#fff;z-index:2}

.event_wrap .coupon_one .coupon_item_btn{line-height:12.7778vw;margin-top:3.3333vw;font-size:5.5556vw}
.event_wrap .coupon_one .coupon_item_btn:after{width:5.5556vw;height:5.5556vw}


/* 상품리스트 col 2 - 기본형 */
/* position:absolute;top:270px;left:0;right:0; */
.event_wrap .product_item{display:flex;flex-wrap:wrap;margin-left:4.4444vw}
.event_wrap .product_item li{width:44.4444vw;margin-right:2.2222vw}
/* .event_wrap .product_item{display:grid;grid-template-rows:auto auto;grid-auto-flow:column;justify-content:space-between;gap:0 2.2222vw;margin:0 4.4444vw}  */
.event_wrap .product_item a{display:block;width:100%;height:100%}
.event_wrap .product_item .inner{position:relative}

.event_wrap .product_item .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:44.4444vw;background:#fff;overflow:hidden}
.event_wrap .product_item .item_thumbnail img{position:relative;width:100%;height:100%}
.event_wrap .product_item .item_info{padding:2.5vw 0 10.8333vw;color:#000;letter-spacing:-0.0556vw}
.event_wrap .product_item .name{font-size:3.8889vw;line-height:5.5556vw;word-break:keep-all;margin-bottom:1.6667vw}
.event_wrap .product_item .price_area{display:flex;flex-wrap:wrap;align-items:center;font-size:5vw}
.event_wrap .product_item .price_area .discount{font-weight:600;color:#f44336;margin-right:2.5vw}
.event_wrap .product_item .price_area .price{font-weight:600}

.event_wrap .btn_more{display:block;position:relative;width:66.6667vw;line-height:11.1111vw;margin:0 auto;border-radius:100vw;background:#000;color:#fff;font-size:3.8889vw;font-weight:600;letter-spacing:-0.0556vw;text-align:center}
.event_wrap .btn_more:after{content:'';position:relative;display:inline-block;width:4.1667vw;height:3.3vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_arrow_down.svg) 0 0/100% no-repeat;filter:invert(100%);margin-left:1.3889vw}
.event_wrap .btn_more.btn_type2{background:#fff;color:#000;border:0.2778vw solid #000}
.event_wrap .btn_more.btn_type2:after{filter:invert(0)}

/* 상품리스트 col 1 */
.event_wrap .product_item.type_col1{margin:0 8.3333vw}
.event_wrap .product_item.type_col1 li{width:100%;margin-bottom:8.3333vw}
.event_wrap .product_item.type_col1 .item_info{background:#fff;padding:4.7222vw 3vw;text-align:center}
.event_wrap .product_item.type_col1 .item_thumbnail{width:100%;height:55.5556vw}
.event_wrap .product_item.type_col1 .item_thumbnail img{height:83.3333vw}
.event_wrap .product_item.type_col1 .price_area{justify-content:center}

/* 상품리스트 col 3 */
.event_wrap .product_item.type_col3 li{width:28.8889vw}
.event_wrap .product_item.type_col3 .item_thumbnail{width:100%;height:28.8889vw}
.event_wrap .product_item.type_col3 .price_area{font-size:4.4444vw}
.event_wrap .product_item.type_col3 .price_area .discount{flex-basis:100%}

/* 상품리스트 슬라이드 (2분할) */
.event_wrap .product_item.type_slide li{width:100%}
.event_wrap .product_item.type_slide .item_info{padding-bottom:6.9444vw}
.event_wrap .product_item.type_slide .item_thumbnail{width:35.5556vw;height:35.5556vw}
.event_wrap .product_item.type_slide .price_area .discount{flex-basis:100%}

.event_wrap .slide_wrap_ver2{position:relative;margin-left:4.4444vw;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver2 .slide_list2{display:flex;flex-wrap:nowrap;width:38vw;margin:0}

.slide_wrap_ver2 .slide_btn_box2 button{position:absolute;width:40px;height:40px;top:280px;color:#fff;background:rgba(0,0,0,0.45);border:none;cursor:pointer;touch-action:none;display:none}
.slide_wrap_ver2 .slide_btn_box2 .slide_btn_prev2{left:0}
.slide_wrap_ver2 .slide_btn_box2 .slide_btn_next2{right:0}

.slide_wrap_ver2 .slide_pagination2{position:relative;display:flex;justify-content:center;margin-bottom:11.1111vw}
.slide_wrap_ver2 .slide_pagination2 .dot2{width:8.8889vw;height:1.1111vw;background:rgba(0,0,0,0.1);transition:0.3s}
.slide_wrap_ver2 .slide_pagination2 .dot2.dot_active2{background:#000;border-radius:100px}
.slide_wrap_ver2 .slide_pagination2 .dot2 a{display:block;width:100%;height:100%}

/* 슬라이드 리스트 (3분할) */
.event_wrap .type_slide.type_col3 li{width:400px}
.event_wrap .type_slide.type_col3 li .inner{position:relative;width:100%;height:100%;}
.event_wrap .type_slide.type_col3 .slide_pagination3{display:none}
.event_wrap .type_slide.type_col3 .slide_content2{height:500px;background:grey}
.desktop .fb__event .promotion__content .type_slide.type_col3 img {position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;}
.event_wrap .type_slide.type_col3 .slide_active2 img{width:100%;height:100%;}

/* 확대슬라이드 리스트 (3분할) */
.event_wrap .slide_wrap_ver3{position:relative;width:100%;overflow:hidden;margin:0 auto;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver3 .slide_list3{display:flex;flex-wrap:nowrap;align-items:center}

.event_wrap .slide_list3 .slide_content3{flex: 0 0 auto;width:30vw;height:30vw;transition:all 1.2s;}
.event_wrap .slide_list3 .slide_content3 img{width:100%;height:100%;}
.event_wrap .slide_list3 .slide_active3{width:40vw;height:40vw;z-index:2;transition:all 0s;}
.event_wrap .slide_list3 .slide_active3 img{width:100%;height:100%}

/* 상품리스트 슬라이드 (분할없음) */
.event_wrap .slide_wrap_ver1{position:relative;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver1 .slide_list1{display:flex;flex-wrap:nowrap;width:100vw;margin:0}
.event_wrap .slide_wrap_ver1 .slide_list1 li{width:100%;height:auto;margin:0}
.event_wrap .slide_wrap_ver1 .slide_list1 .item_thumbnail{height:auto}

.slide_wrap_ver1 .slide_btn_box1 button{position:absolute;width:40px;height:40px;top:50vw;color:#fff;background:rgba(0,0,0,0.45);border:none;cursor:pointer;touch-action:none}
.slide_wrap_ver1 .slide_btn_box1 .slide_btn_prev1{left:0}
.slide_wrap_ver1 .slide_btn_box1 .slide_btn_next1{right:0}

.slide_wrap_ver1 .slide_pagination1{position:relative;display:flex;justify-content:center;margin-bottom:11.1111vw}
.slide_wrap_ver1 .slide_pagination1 .dot1{width:8.8889vw;height:1.1111vw;background:rgba(0,0,0,0.1);transition:0.3s}
.slide_wrap_ver1 .slide_pagination1 .dot1.dot_active1{background:#000;border-radius:100px}
.slide_wrap_ver1 .slide_pagination1 .dot1 a{display:block;width:100%;height:100%}
