/* only event, promotion */

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}

/* 유의사항 - 라인 화이트배경  */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:13.8888vw 5.5555vw 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.3vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

/* 유의사항 - 라인 블랙배경 : p_evt_noti에 .noti_type2 클래스 추가 */
.event_wrap .noti_type2{background:#444}
.event_wrap .noti_type2 .notice_title{border-top:2px solid #fff;color:#fff}
.event_wrap .noti_type2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;}
.event_wrap .noti_type2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti_type2 .notice_list li{color:#fff}
.event_wrap .noti_type2 .notice_list li:before{background-color:#fff}

/* 유의사항 - 기본 화이트배경 : p_evt_noti에 .noti_type3 클래스 추가 */
.event_wrap .noti_type3 .notice_title{padding:1.6666vw 2.5vw 1.6666vw 6.1111vw;border-top:0;color:#333}
.event_wrap .noti_type3 .notice_title:before{left:0}
.event_wrap .noti_type3 .notice_list{padding:0}
.event_wrap .noti_type3 .notice_list{border-top:0;border-bottom:0}
.event_wrap .noti_type3 .notice_list li{color:#333}
.event_wrap .noti_type3 .notice_list li:before{background-color:#333}

/* 유의사항 - 기본 블랙배경 : p_evt_noti에 .noti_type4 클래스 추가  */
.event_wrap .noti_type4{background:#444}
.event_wrap .noti_type4 .notice_title{padding:1.6666vw 2.5vw 1.6666vw 6.1111vw;border-top:0;color:#fff}
.event_wrap .noti_type4 .notice_title:before{left:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;}
.event_wrap .noti_type4 .notice_list{padding:0}
.event_wrap .noti_type4 .notice_list{border-top:0;border-bottom:0}
.event_wrap .noti_type4 .notice_list li{color:#fff}
.event_wrap .noti_type4 .notice_list li:before{background-color:#fff}


/* 쿠폰리스트  */
/* .event_wrap .coupon_list{position:absolute;top:43.0555vw;left:0;right:0} absolute 사용 */
.event_wrap .coupon_list ul{display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .coupon_list li{margin:0 0.8333vw 4.16666vw 0.8333vw}

/* 쿠폰 - 기본 초록  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;letter-spacing:-0.1vw;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;min-height:11.6vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{margin-top:5vw;text-align:center}
.event_wrap .coupon_desc span{display:block;margin-top:0.4vw;font-size:3.3333vw;color:#333;line-height:1.3;}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}
.event_wrap .coupon_desc.type_dot span:before{content:'·';vertical-align:top;}

/* 쿠폰 - 화이트배경 : coupon_item에 .coupon_type2 클래스 추가  */
.event_wrap .coupon_type2 .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;border:1px solid #e1e1e1;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_type2 .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 101% 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_type2 .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_type2 .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_type2 .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_type2 .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_type2 .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.05vw}

/* 상품  */
.event_wrap .product_list{display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5.555vw}/* position:absolute;top:42.9166vw;left:0; */
.event_wrap .product_list li{width:43.055vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{position:relative;display:block;width:100%;height:43.055vw;background:#fff;overflow:hidden}
.event_wrap .product_list .product_img img{width:100%;height:100%}
.event_wrap .product_list .product_info{display:flex;flex-wrap:wrap;align-items:center;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_list .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_list .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#333;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:0.8vw;letter-spacing:-.8px}
.event_wrap .product_list .original{flex-basis:100%}
.event_wrap .product_list .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .product_list .sale{display:flex;align-items:center}
.event_wrap .product_list .sale ins{font-size:4.44444vw;font-weight:600;color:#333;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_list .sale .won{font-size:3.33333vw;font-weight:500;color:#333}
.event_wrap .product_list .percent{display:flex;margin-left:1.1vw}
.event_wrap .product_list .percent .num{font-size:4.44444vw;font-weight:600;color:#fd6f2c;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:4.44444vw;font-weight:600;color:#fd6f2c;font-family:'Lato'}
