/* only event, promotion */

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}

/* 유의사항 - 라인 화이트배경  */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 유의사항 - 라인 블랙배경 : p_evt_noti에 .noti_type2 클래스 추가 */
.event_wrap .noti_type2{background:#444}
.event_wrap .noti_type2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti_type2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti_type2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti_type2 .notice_list li{color:#fff}
.event_wrap .noti_type2 .notice_list li:before{background-color:#fff}

/* 유의사항 - 기본 화이트배경 : p_evt_noti에 .noti_type3 클래스 추가 */
.event_wrap .noti_type3 .notice_title{padding:3px 10px 8px 26px;border-top:0;color:#333}
.event_wrap .noti_type3 .notice_title:before{left:0}
.event_wrap .noti_type3 .notice_list{padding:0}
.event_wrap .noti_type3 .notice_list{border-top:0;border-bottom:0}
.event_wrap .noti_type3 .notice_list li{color:#333}
.event_wrap .noti_type3 .notice_list li:before{background-color:#333}

/* 유의사항 - 기본 블랙배경 : p_evt_noti에 .noti_type4 클래스 추가  */
.event_wrap .noti_type4{background:#444}
.event_wrap .noti_type4 .notice_title{padding:3px 10px 8px 26px;border-top:0;color:#fff}
.event_wrap .noti_type4 .notice_title:before{left:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti_type4 .notice_list{padding:0}
.event_wrap .noti_type4 .notice_list{border-top:0;border-bottom:0}
.event_wrap .noti_type4 .notice_list li{color:#fff}
.event_wrap .noti_type4 .notice_list li:before{background-color:#fff}


/* 쿠폰리스트  */
/* .event_wrap .coupon_list{position:absolute;top:0;left:0;right:0} */
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:nowrap}
.event_wrap .coupon_list li{margin:0 10px}

/* 쿠폰 - 기본 초록  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:1}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;min-height:76px;z-index:1}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-1px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{margin-top:20px;text-align:center}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#333;line-height:1.4}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:5px}
.event_wrap .coupon_desc.type_dot span:before{content:'·';vertical-align:top;}

/* 쿠폰 - 화이트배경 : coupon_item에 .coupon_type2 클래스 추가  */
.event_wrap .coupon_type2 .coupon_item_info{background:#fff;}
.event_wrap .coupon_type2 .coupon_item_info:before{background-position:-86px 0}
.event_wrap .coupon_type2 .coupon_item_info .info_type{color:#232323}
.event_wrap .coupon_type2 .coupon_item_info .info_discount{color:#73c40b}
.event_wrap .coupon_type2 .coupon_item_info .info_name{color:#727272}

/* 상품  */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 16px}/* position:absolute;top:270px;left:0;right:0; */
.event_wrap .product_list li{width:280px;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:280px;background:#fff;overflow:hidden}
.event_wrap .product_list .product_img img{position:relative;height:100%;margin:0 !important}
.event_wrap .product_list .product_info{display:flex;flex-wrap:wrap;align-items:center;padding-top:20px;margin-bottom:56px}
.event_wrap .product_list .product_brand{font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_list .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#333;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px}
.event_wrap .product_list .original{flex-basis:100%}
.event_wrap .product_list .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_list .sale{margin-top:4px}
.event_wrap .product_list .sale ins{font-size:24px;font-weight:600;color:#333;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_list .sale .won{font-size:18px;font-weight:500;color:#333;margin-left:-4px}
.event_wrap .product_list .percent{margin:4px 0 0 8px}
.event_wrap .product_list .percent .num{font-size:24px;font-weight:600;color:#fc6f2b;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:24px;font-weight:600;color:#fc6f2b;margin-left:-4px;font-family:'Lato'}
