/* only event, promotion */

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}

/* 공통 */
.event_wrap .info_desc{padding:0 10px 58px 10px;text-align:center}
.event_wrap .info_desc span{display:block;font-size:24px;font-weight:200;color:#999;line-height:1}
.event_wrap .info_desc span:before{content:'·';vertical-align:top;margin-right:5px}
.event_wrap .info_desc span + span{margin-top:6px}

/* 유의사항 - 라인 화이트배경  */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:40px 40px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:18px 0 12px;border-top:2px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{content:'';position:absolute;top:14px;left:0;width:2px;height:2px;background:#333;border-radius:100%;}

/* 유의사항 - 라인 블랙배경 : p_evt_noti에 .noti_type2 클래스 추가 */
.event_wrap .noti_type2{background:#444}
.event_wrap .noti_type2 .notice_title{border-top:2px solid #fff;color:#fff}
.event_wrap .noti_type2 .notice_list li{color:#fff}
.event_wrap .noti_type2 .notice_list li:before{background:#fff}

/* 유의사항 - 기본 화이트배경 : p_evt_noti에 .noti_type3 클래스 추가 */
.event_wrap .noti_type3 .notice_title{padding-top:0;border-top:0}

/* 유의사항 - 기본 블랙배경 : p_evt_noti에 .noti_type4 클래스 추가  */
.event_wrap .noti_type4{background:#444}
.event_wrap .noti_type4 .notice_title{padding-top:0;border-top:0;color:#fff}
.event_wrap .noti_type4 .notice_list li{color:#fff}
.event_wrap .noti_type4 .notice_list li:before{background:#fff}

/* 쿠폰리스트  */
/* .event_wrap .coupon_list{position:absolute;top:0;left:0;right:0} absolute 사용 */ 
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:nowrap}
.event_wrap .coupon_list li{margin:0 16px}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:60px}

.event_wrap .coupon_item_btn{display:block;position:relative;width:100%;line-height:58px;margin-top:16px;border:2px solid #ddd;background:#fff;color:#000;font-size:28px;font-weight:600;letter-spacing:-0.4px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{content:'';position:relative;display:inline-block;width:28px;height:28px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_download.svg) 0 0/100% no-repeat;margin-left:10px}

.event_wrap .coupon_all_btn{display:block;position:relative;width:480px;height:80px;margin:60px auto 0;border-radius:100px;background:#000;color:#fff;font-size:28px;font-weight:600;letter-spacing:-0.4px}
.event_wrap .coupon_all_btn:after{content:'';position:relative;display:inline-block;width:28px;height:28px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_download.svg) 0 0/100% no-repeat;filter:invert(100%);margin-left:8px}

/* 쿠폰 - 기본 초록  */
.event_wrap .coupon_item{position:relative;width:312px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;display:flex;flex-direction:column;min-height:200px;background:#73c40b;padding:30px 0 0 30px;letter-spacing:-0.6px;overflow:hidden;box-sizing:border-box}
.event_wrap .coupon_item_info:before{content:'';position:absolute;top:-19px;right:-12px;width:120px;height:130px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/mark1.svg) 0 0 no-repeat}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:28px;font-weight:600;line-height:30px;z-index:1}
.event_wrap .coupon_item_info .info_discount{font-size:60px;color:#fff;font-weight:800;line-height:70px;min-height:84px;z-index:1}
.event_wrap .coupon_item_info .info_discount em{font-size:72px;font-weight:800}
.event_wrap .coupon_item_info .info_discount small{font-size:40px;font-weight:800}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:24px;letter-spacing:-1.2px}
.event_wrap .coupon_item .flag{position:absolute;top:-16px;right:-16px;background:#00a41b;border-radius:100px;padding:8px 18px;font-size:20px;font-weight:600;color:#fff;z-index:2}

/* 쿠폰 - 화이트배경 : coupon_item에 .coupon_type2 클래스 추가  */
.event_wrap .coupon_type2 .coupon_item_info{background:#fff;}
.event_wrap .coupon_type2 .coupon_item_info:before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/mark2.svg)}
.event_wrap .coupon_type2 .coupon_item_info .info_type{color:#232323}
.event_wrap .coupon_type2 .coupon_item_info .info_discount{color:#73c40b}
.event_wrap .coupon_type2 .coupon_item_info .info_name{color:#727272}

/* 쿠폰 - 1개 */
.event_wrap .coupon_one{width:376px}
.event_wrap .coupon_one .coupon_item_info{min-height:240px;padding:40px 5px 0 40px}
.event_wrap .coupon_one .coupon_item_info:before{top:-24px;right:-17px;width:145px;height:155px}
.event_wrap .coupon_one .coupon_item_info .info_type{font-size:32px}
.event_wrap .coupon_one .coupon_item_info .info_discount{line-height:89px;min-height:88px}
.event_wrap .coupon_one .coupon_item_info .info_discount em{font-size:84px}
.event_wrap .coupon_one .coupon_item_info .info_discount small{font-size:48px}
.event_wrap .coupon_one .coupon_item_info .info_name{font-size:28px}
.event_wrap .coupon_item .flag{top:-20px;right:-20px;padding:10px 18px;font-size:24px}

.event_wrap .coupon_one .coupon_item_btn{line-height:70px;margin-top:20px;font-size:32px}
.event_wrap .coupon_one .coupon_item_btn:after{width:32px;height:32px}


/* 상품리스트 col 4 - 기본형 */
.event_wrap .product_item{display:flex;flex-wrap:wrap;gap:0 20px} /* position:absolute;top:270px;left:0;right:0; */
.event_wrap .product_item li{width:285px}
.event_wrap .product_item a{display:block;width:100%;height:100%}
.event_wrap .product_item .inner{position:relative;width:100%;height:100%}

.event_wrap .product_item .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:285px;background:#fff;overflow:hidden}
.event_wrap .product_item .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .product_item .item_info{padding:15px 0 56px;color:#000;letter-spacing:-.4px}
.event_wrap .product_item .name{font-size:20px;line-height:26px;word-break:keep-all;margin-bottom:10px}
.event_wrap .product_item .price_area{display:flex;align-items:center;font-size:24px}
.event_wrap .product_item .price_area .discount{font-weight:600;color:#f44336;margin-right:10px}
.event_wrap .product_item .price_area .price{font-weight:600}

.event_wrap .btn_more{display:block;position:relative;width:480px;line-height:80px;margin:0 auto;border-radius:100px;background:#000;color:#fff;font-size:28px;font-weight:600;letter-spacing:-0.4px;text-align:center}
.event_wrap .btn_more:after{content:'';position:relative;display:inline-block;width:20px;height:20px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_arrow_down.svg) 0 0 no-repeat;filter:invert(100%);margin-left:8px}
.event_wrap .btn_more.btn_type2{background:#fff;color:#000;border:2px solid #000}
.event_wrap .btn_more.btn_type2:after{filter:invert(0)}

/* 상품리스트 col 3 */
.event_wrap .type_col3 li{width:386px}
.event_wrap .type_col3 .item_thumbnail{height:360px}
.event_wrap .type_col3 .item_info{padding-top:20px}
.event_wrap .type_col3 .name{font-size:28px;line-height:40px}
.event_wrap .type_col3 .price_area{font-size:32px}
.event_wrap .type_col3 .price_area .discount{margin-right:20px}

/* 상품리스트 col 5 */
.event_wrap .type_col5 li{width:224px}
.event_wrap .type_col5 .item_thumbnail{height:224px}

/* 상품리스트 슬라이드 (2분할) */
.event_wrap .type_slide{gap:0}
.event_wrap .type_slide li{width:100%}
.event_wrap .type_slide li .inner{width:590px;margin:0 auto}
.event_wrap .type_slide .item_thumbnail{height:400px}
.event_wrap .type_slide .item_thumbnail img{height:590px}
.event_wrap .type_slide .item_info{background:#fff;padding:35px;margin-bottom:40px;text-align:center}
.event_wrap .type_slide .name{font-size:28px;line-height:40px}
.event_wrap .type_slide .price_area{font-size:36px;justify-content:center}
.event_wrap .type_slide .price_area .discount{margin-right:20px}

.event_wrap .slide_wrap_ver2{position:relative;width:1200px;overflow:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver2 .slide_list2{display:flex;flex-wrap:nowrap;width:50%}

.slide_wrap_ver2 .slide_btn_box2 button{position:absolute;width:40px;height:40px;top:280px;color:#fff;background:rgba(0,0,0,0.45);border:none;cursor:pointer;touch-action:none}
.slide_wrap_ver2 .slide_btn_box2 .slide_btn_prev2{left:4px}
.slide_wrap_ver2 .slide_btn_box2 .slide_btn_next2{right:4px}

.slide_wrap_ver2 .slide_pagination2{position:relative;display:flex;justify-content:center;margin-bottom:60px;}
.slide_wrap_ver2 .slide_pagination2 .dot2{width:40px;height:4px;transition:0.3s;background:rgba(0,0,0,0.1)}
.slide_wrap_ver2 .slide_pagination2 .dot2.dot_active2{background:#000;border-radius:100px}
.slide_wrap_ver2 .slide_pagination2 .dot2 a{display:block;width:100%;height:100%}

/* 확대슬라이드 리스트 (5분할) */
.event_wrap .slide_wrap_ver3{position:relative;width:1260px;overflow:hidden;margin:100px auto;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver3 .slide_list3{display:flex;flex-wrap:nowrap;align-items:center;margin:0 auto;height:300px;}
/* transition: transform 1s ease; */
.event_wrap .slide_list3 .slide_content3{flex:0 0 auto;width:240px;height:240px;transition:all 1.2s;}
.event_wrap .slide_list3 .slide_content3 img{width:100%;height:100%;margin:0 !important;}
.event_wrap .slide_list3 .slide_active3{width:300px;height:300px;z-index:2;transition:all 0s;}
.event_wrap .slide_list3 .slide_active3 img{width:100%;height:100%;}

/* 슬라이드 리스트 (5분할) */
.event_wrap .slide_wrap_ver4{position:relative;width:1920px;overflow:hidden;margin:0 auto;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver4 .slide_list4{display:flex;flex-wrap:nowrap;align-items:center;margin:0 auto}

.event_wrap .slide_list4 .slide_content4{flex: 0 0 auto;width:400px;height:480px;}
.event_wrap .slide_list4 .slide_content4 img{width:100%;height:100%;margin:0 !important}
