@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#b5df01}

/* button */
.event_wrap .btn_lnk1{top:0;left:16%;right:16%;height:33%}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;bottom:18%;left:5%;right:5%;height:16%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* product */
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 1.6666vw}
.event_wrap .product_list .original del{color:#333}
.event_wrap .product_list .percent .num{color:#2a6c00}
.event_wrap .product_list .percent .unit{color:#2a6c00}

/* notice */
.event_wrap .p_evt_noti{background:#fff54b}
.event_wrap .noti2{background:#b5df01}
.event_wrap .evt_notice{padding-top:0}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;;height:148.1944vw;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0304/survey_bg.jpg) 50% 0/100%}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-around;padding:46.5vw 5.5555vw 0 5.5555vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:47%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+2), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+2), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+2), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+2){padding-left:3vw}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:49vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#222 !important;padding:3vw 0 3vw 1vw;word-break:keep-all !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #c3c3c3 !important;background-color:transparent !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:0 !important;background-color:#222 !important}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:66.6666vw !important;height:11.1111vw !important;font-size:0 !important;line-height:0 !important;margin:8.9vw auto 0 !important;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0304/img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
