@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:29%;right:29%;height:80px}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;bottom:100px;left:250px;right:250px;height:120px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* product */
.event_wrap .product_list{position:absolute;top:274px;left:40px;right:40px;gap:0 8px}
.event_wrap .product_list li{width:266px}
.event_wrap .product_list .product_img{height:266px}
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .original del{color:#333}
.event_wrap .product_list .sale{margin:0 0 0 8px}
.event_wrap .product_list .percent .num{color:#2a6c00}
.event_wrap .product_list .percent .unit{color:#2a6c00}

/* notice */
.event_wrap .p_evt_noti{background:#fff54b url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0304/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .noti2{background:#b5df01 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0304/p_img_noti2.jpg) 50% 0 no-repeat}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;width:auto !important;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0304/p_survey_bg.jpg) 50% 0}
.desktop .fb__event .event__survey .survey form{width:920px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:30%;margin-top:370px !important;padding:0 2px;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:86%;font-size:26px !important;line-height:44px !important;color:#222 !important}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 46px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:10px !important;width:32px !important;height:32px !important;border:3px solid #c3c3c3 !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:0 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:17px !important;left:7px !important;width:18px !important;height:18px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#222 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;margin-top:65px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0304/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
