@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0318/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-586px 0}

/* notice */
.event_wrap .evt_notice{padding:18px 0 100px}
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0318/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0318/p_img_noti2.jpg) 50% 100% no-repeat}
.event_wrap .noti2 .evt_notice{padding:100px 0}

/* template */
.desktop .fb__event .event__roulette__wrap{height:700px;overflow:hidden;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0304_excite_spring_member/img/0318/roulette/p_bg_roulette.jpg) center top no-repeat}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:160px;height:160px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:73px;margin-left:-37px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object1{top:420px;left:-244px;z-index:50}
.motion_box .object2{top:310px;left:-5px;animation-delay:1.4s !important}
.motion_box .object3{top:204px;left:630px;animation-delay:1s !important}
.motion_box .object4{top:590px;right:-310px;z-index:51;animation-delay:0.6s !important}
.motion_box .object5{top:720px;right:-100px;z-index:50}

.motion_box .motion{-webkit-animation:rotate 15s linear 0s infinite both, fade 7s linear 0s infinite both;animation:rotate 15s linear 0s infinite both, fade 7s linear 0s infinite both}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  15%, 70% {
    opacity: 1;
  }
}
@keyframes fade {
  0%, 80%, 100% {
    opacity: 0;
  }
  15%, 70% {
    opacity: 1;
  }
}
