@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .frame{background-color:#877063}
.event_wrap .inner{position:relative;width:820px;height:440px;margin:0 auto}
.event_wrap .evtSwiperWrap{overflow:hidden;width:100%;height:100%;font-size:0;white-space:nowrap}
.event_wrap .evtSwiperWrap .swiper-slide{display:inline-block;width:100%;height:100%}
.event_wrap .controls [class^="btn_"]{display:inline-block;width:26px;height:52px;position:absolute;top:calc(50% - 26px)} 
.event_wrap .controls .btn_arrow{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0703_product_review/img/p_arrow.png) 0 0 no-repeat}
.event_wrap .controls .btn_prev{left:-43px}
.event_wrap .controls .btn_next{right:-43px;background-position:100% 0;}
.event_wrap .controls .disabled{opacity:.3;cursor:default}
.event_wrap .controls .pagination{position:absolute;left:50%;bottom:-34px;z-index:10;height:12px;margin:0;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
.event_wrap .controls .pagination .swiper-pagination-switch{display:inline-block;width:12px;height:12px;margin:0 4px;border:2px solid #333;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .controls .pagination .swiper-active-switch{width:32px;background-color:#333;-webkit-border-radius:15px;border-radius:15px}

/* notice */
.event_wrap .evt_notice{padding:96px 100px;background:#877063;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .notice_list li{position:relative;margin-top:6px;padding-left:9px;font-size:15px;font-weight:300;color:#fff;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#fff;content:''}