@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{position:relative;max-width:720px;margin:0 auto}
.event_wrap {max-width:720px;margin:0 auto;font-family:'Noto Sans KR',sans-serif}

.event_wrap .frame{position:relative;background-color:#877063}
.event_wrap .inner{width:88.8888888%;margin:0 auto;background:#fff}
.event_wrap .evtSwiperWrap{overflow:hidden;font-size:0;white-space:nowrap}
.event_wrap .evtSwiperWrap .swiper-slide{display:inline-block;width:100%;height:100%}
.event_wrap .controls [class^="btn_"]{display:inline-block;position:absolute;top:50%;z-index:10;width:41px;height:41px;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}
.event_wrap .controls .btn_arrow{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0703_product_review/img/arrow.png) 0 0 no-repeat;background-size:200% auto}
.event_wrap .controls .btn_prev{left:0}
.event_wrap .controls .btn_next{right:0;background-position:100% 0}

.event_wrap .controls .swiper-button-disabled{opacity:.35;cursor:auto}
.event_wrap .swiper-pagination{position:absolute;left:50%;bottom:-23px;z-index:10;height:auto;margin:0;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
.event_wrap .swiper-pagination .swiper-pagination-bullet{display:inline-block;width:8px;height:8px;margin:0 4px;border:1px solid #333;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer;opacity:1}
.event_wrap .swiper-pagination .swiper-pagination-bullet-active{width:22px;background-color:#333;-webkit-border-radius:15px;border-radius:15px}

/* notice */
.event_wrap .evt_notice{padding:48px 6.25%;background:#877063;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .notice_list li{position:relative;margin-top:6px;padding-left:9px;font-size:12px;font-weight:300;color:#fff;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#fff;content:''}