@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:50%;z-index:-1;min-width:1920px;width:100%;height:100%;background:#ffdf5c;transform:translate(-50%,0);content:''}
.event_wrap .evt_notice{padding:100px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 채널추가 모션 */
.motion_box{position:absolute;top:325px;left:545px;
    -webkit-animation: slide-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
            animation: slide-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
.motion_box img{margin:0 !important}

@-webkit-keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    50% {
      -webkit-transform: translateY(-5px) translateX(-5px);
              transform: translateY(-5px) translateX(-5px);
    }
    0% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
      }
  }
  @keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    50% {
      -webkit-transform: translateY(-5px) translateX(-5px);
              transform: translateY(-5px) translateX(-5px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
      }
  }  
  
  