@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1_1016:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_sec1_bg_l_1016.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1_1016:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_sec1_bg_r_1016.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202010/1012_fall_festival/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after,.event_wrap .p_evt_noti{background:#ededed}
.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after,.event_wrap .p_evt_sec3{background:#bc613d}

/* tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:25%;bottom:0;width:50%;height:38%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* categroy list */
.event_wrap .categroy_list{overflow:hidden;position:absolute;top:47%;right:3%;left:3%;bottom:0;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .categroy_list li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .categroy_list li a{display:block;width:100%;height:100%}
.event_wrap .p_evt_sec1_1016 .categroy_list.categroy_list{overflow:hidden;position:absolute;top:40.5%;right:3%;left:3%;bottom:13.5%;background:url(about:blank) 0 0 no-repeat;font-size:0}

/* link */
.event_wrap .btn_lnk1{top:31%;left:9%;width:38%;height:39%}
.event_wrap .btn_lnk2{top:37%;right:12%;width:40%;height:31%}

/* notice */
.event_wrap .evt_notice{padding:0 70px 80px}
.event_wrap .notice_list li{position:relative;margin-top:6px;padding-left:15px;color:#424242;font-size:16px;font-weight:300;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:-1px;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#424242;border-radius:50%;content:''}
.event_wrap .p_evt_sec1_1016 + .p_evt_noti .evt_notice{padding-top:80px}

/* prd items */
.event_wrap .product_list{padding:0 33px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:310px;height:auto;margin:0 12px 40px 0;text-align:center;vertical-align:top}
.event_wrap .product_list li:nth-child(3n){margin-right:0}
.event_wrap .product_title{overflow:hidden;height:54px;margin:20px 0 0;font-size:18px;font-weight:300;color:#fff;line-height:1.6}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_info{display:block}
.event_wrap .original{display:inline-block;margin-left:15px;font-size:20px;font-weight:300;color:rgba(255,255,255,.5)}
.event_wrap .percent{margin-right:10px;font-size:16px;color:#ffef39}
.event_wrap .percent .num{margin-right:2px;font-size:30px;font-weight:600}
.event_wrap .sale{display:inline-block;margin-top:4px;font-size:30px;color:#fff;line-height:30px}
.event_wrap .sale ins{font-weight:500;text-decoration:none}
.event_wrap .won{display:inline-block;margin-left:2px;font-size:16px;font-weight:400;color:#fff}
.event_wrap .product_list.list2{padding-bottom:116px}

