@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto}

/* tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:25%;bottom:0;width:50%;height:38%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* categroy list */
.event_wrap .categroy_list{overflow:hidden;position:absolute;top:36.5%;right:5%;left:5%;bottom:0;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .categroy_list li{display:inline-block;width:100%;height:33.33334%}
.event_wrap .categroy_list li a{display:block;width:100%;height:100%}
.event_wrap .p_evt_sec1_1016 .categroy_list{overflow:hidden;position:absolute;top:32.5%;right:5%;left:5%;bottom:11.5%;background:url(about:blank) 0 0 no-repeat;font-size:0}

/* link */
.event_wrap .btn_lnk1{top:26%;left:16%;width:40%;height:39%}
.event_wrap .btn_lnk2{top:37%;right:13%;width:40%;height:37%}

/* notice */
.event_wrap .evt_notice{padding:0 6.944444% 40px;background:#ededed}
.event_wrap .notice_list li{position:relative;padding-left:8px;color:#424242;font-size:12px;font-weight:300;line-height:1.7;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:3px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#424242;border-radius:50%;content:''}
.event_wrap .p_evt_sec1_1016 + .p_evt_noti .evt_notice {padding-top:40px}

/* prd items */
.event_wrap .p_evt_sec3{background:#bc613d}
.event_wrap .product_list{padding:0 5.555555555%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:48.75%;height:auto;margin:0 2.5% 20px 0;text-align:center;vertical-align:top}
.event_wrap .product_list li:nth-child(2n){margin-right:0}
.event_wrap .product_title{overflow:hidden;height:32px;margin:5px 0 0;font-size:13px;font-weight:400;color:#fff;line-height:15px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .original{display:inline-block;margin-left:5px;font-size:12px;font-weight:300;color:rgba(255,255,255,.5)}
.event_wrap .percent{margin-right:5px;font-size:12px;color:#ffef39}
.event_wrap .percent .num{margin-right:2px;font-size:17px;font-weight:600}
.event_wrap .sale{display:inline-block;font-size:17px;color:#fff}
.event_wrap .sale ins{font-weight:500;text-decoration:none}
.event_wrap .won{display:inline-block;margin-left:2px;font-size:12px;font-weight:400;color:#fff}
.event_wrap .product_list.list2{padding-bottom:56px}