@charset "utf-8";
/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0}

.p_evt_sec1{background:#f1faf5;padding-bottom:40px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:90px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:100}
.event_wrap .p_evt_nav{padding-top:90px;z-index:100}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:relative;display:flex;justify-content:center;flex-wrap:wrap;box-sizing:border-box}
.event_wrap .coupon_list li{height:100%;margin:0 20px 60px 20px}
.event_wrap .brand_lnk{display:block;position:relative;text-align:center;font-size:16px;color:#999;letter-spacing:-1.5px;padding:10px 10px 10px 0;box-sizing:border-box}
.event_wrap .brand_lnk:hover{color:#000}
.event_wrap .brand_lnk:after{position:absolute;top:15px;left:180px;width:10px;height:10px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_brand_coupon/img/p_icon_arrow.png) 0 0 no-repeat;content:''}
.event_wrap .brand_lnk:before{position:absolute;bottom:3px;left:78px;width:110px;height:1px;background:#ccc;content:''}

/* 한번에 다운받기 */
.event_wrap .btn_all_coupon{position:relative;width:400px;height:80px;left:50%;transform:translateX(-50%);line-height:80px;padding-right:40px;margin:0;background:#111;font-size:24px;font-weight:700;color:#fff;letter-spacing:-.3px;border-radius:100px}
.event_wrap .btn_all_coupon:before{position:absolute;top:35px;left:270px;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down_white.svg) 0 0 no-repeat;content:''}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 22px 20px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-1px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content:''}

.event_wrap .coupon_item .coupon_brand{width:150px;height:54px}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:24px 0}
.event_wrap .coupon_item .coupon_brand .bi_orga{width:200px;background-position:-276px 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kitchen{background-position:-126px 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_care{background-position:24px -80px}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kids{background-position:-126px -80px}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_danone{width:180px;background-position:-276px -80px}
.event_wrap .coupon_item .coupon_brand .bi_eatslim{background-position:24px -160px}
.event_wrap .coupon_item .coupon_brand .bi_imreal{background-position:-126px -160px}
.event_wrap .coupon_item .coupon_brand .bi_babymeal{background-position:-276px -160px}
.event_wrap .coupon_item .coupon_brand .bi_designmeal{background-position:24px -240px}
.event_wrap .coupon_item .coupon_brand .bi_nutrition{background-position:-276px -160px}
.event_wrap .coupon_item .coupon_brand .bi_yourlac{background-position:-276px -240px}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_water{background-position:24px -320px}
.event_wrap .coupon_item .coupon_brand .bi_amio{background-position:-126px -320px}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .p_evt_noti.noti2{background:#eef9e7;}
.event_wrap .evt_notice{padding:80px 0 100px;box-sizing:border-box;}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:14.5%;right:0;left:0;bottom:18%;border:0;padding:0;display:flex;justify-content:space-between}
.event_wrap .benefit_list li{width:31%;height:100%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}
