@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;letter-spacing:-1px;box-sizing:border-box}
.event_wrap input[type="number"]::-webkit-outer-spin-button,
.event_wrap input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.event_wrap .shop_pulmuone{display:inline-block;word-break:break-word}
.event_wrap .btn{text-indent:initial}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f3f3f3}
.event_wrap .p_evt_sec3:before,
.event_wrap .p_evt_sec3:after{background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/p_sec2_bg.jpg) 0 0 no-repeat}

.event_wrap .apply_wrap{padding:0 7px}
.event_wrap .title{display:block;font-size:50px;font-weight:600;color:#333;letter-spacing:-2px;line-height:60px}
.event_wrap .text{display:inline-block;margin-top:6px;font-size:20px;font-weight:400;color:#333}
.event_wrap .img_coupon{float:right;max-width:276px;margin-top:8px}
.event_wrap .img_coupon img{width:100%}
.event_wrap .input_box{display:inline-block;margin-top:37px;clear:both}

.event_wrap .input_text_wrap{height:40px;margin-top:20px;font-size:0}
.event_wrap .input_text_wrap:first-child{margin:0}
.event_wrap .input_text_wrap label{display:inline-block;position:relative;width:126px;height:100%;padding-left:12px;font-size:20px;color:#333;line-height:40px;vertical-align:middle;box-sizing:border-box}
.event_wrap .input_text_wrap label:before{position:absolute;top:18px;left:4px;width:4px;height:4px;background:#333;border-radius:100%;content:''}
.event_wrap .input_text_wrap .input_text{display:inline-block;width:344px;height:100%;padding:0 10px;font-size:20px;color:#333;border:1px solid #e6e6e6;box-sizing:border-box}
.event_wrap .input_box .notice{margin-top:5px;font-size:16px;color:#ff0000}

.event_wrap .input_check_wrap{display:block;position:relative;height:30px;margin-top:40px;font-size:0;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;width:22px;height:22px;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:100%;font-size:20px;color:#333;font-weight:300;vertical-align:middle;cursor:pointer;}
/* .event_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_check+label:before{display:inline-block;width:22px;height:22px;margin:5px 7px 0 0;background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 -26px}

/* more button */
.event_wrap .btn_wrap{text-align:center}
.event_wrap .btn_apply{display:inline-block;height:80px;margin:10px auto 0;padding:0 20px 0 86px;background:#e15441;font-size:24px;font-weight:600;color:#fff;letter-spacing:-1px;line-height:78px;border-radius:70px}
.event_wrap .btn_apply:after{display:inline-block;width:39px;height:39px;margin:-4px 0 0 25px;background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/ico_arrow.png) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''}
.event_wrap .btn_lnk{position:absolute;border:0;left:31.1111111%;bottom:12.5%;width:37.5%;height:21%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{margin-top:100px;padding-top:13px;border-top:4px solid #000;border-bottom:1px solid #cdcdcd}
.event_wrap .notice_title{display:block;position:relative;padding-left:32px;font-size:22px;font-weight:600;color:#221f1f;line-height:31px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:4px;width:24px;height:24px;margin-top:-10px;background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/ico_notice.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{margin-top:20px;padding:21px 0 23px;border-top:1px solid #cdcdcd}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:16px;color:#221f1f;line-height:31px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:5px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:720px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:44px 0 49px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}

.layer_popup_wrap .popup_tit{display:block;font-size:20px;font-weight:600;color:#333;line-height:1.5;letter-spacing:-.5px}
.layer_popup_wrap .popup_tit .point{color:#ff0000}
.layer_popup_wrap .agree_list{display:table;width:478px;font-size:0;margin:17px auto 0;table-layout:fixed}
.layer_popup_wrap .agree_list li{display:table-cell;width:33.33334%;min-height:140px;border-left:1px solid #fff;background:#f3f3f3;font-size:16px;color:#333;line-height:20px;vertical-align:top;box-sizing:border-box}
.layer_popup_wrap .agree_list li:first-child{border:0}
.layer_popup_wrap .agree_list .agree_title{display:block;height:54px;background:#666;font-size:20px;font-weight:600;color:#fff;line-height:54px} 
.layer_popup_wrap .agree_list .agree_text{display:table-cell;width:159px;height:86px;padding:0 28px;vertical-align:middle;box-sizing:border-box}
.layer_popup_wrap .lypop_notice{margin-top:35px;font-size:16px;color:#333;letter-spacing:-1px;line-height:22px}
.layer_popup_wrap .btn_area{margin-top:21px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:189px;height:57px;margin:0 3px;padding:0;background:#39ad30;font-size:20px;font-weight:600;color:#fff;letter-spacing:-1px;vertical-align:middle;line-height:56px;border-radius:26px}
.layer_popup_wrap .btn_area .btn_close{background:#666}
.layer_popup_wrap .lypop_notice + .btn_area{margin-top:19px}


.layer_popup_wrap .input_verify_wrap{height:54px;margin-top:15px;font-size:0}
.layer_popup_wrap .input_verify{display:inline-block;width:324px;height:100%;padding:0 10px;border:0;background:#f3f3f3;font-size:16px;color:#333;box-sizing:border-box}
.layer_popup_wrap .btn_verify{display:inline-block;width:154px;height:100%;background:#333;font-size:16px;color:#fff;vertical-align:middle}
.layer_popup_wrap .btn_verify.disabled{background:#adadad}

.layer_popup_wrap .ico_close{position:absolute;top:0;right:0;width:42px;height:42px;background:url(https://www.orga.co.kr/images/promo/202104/0426_coming_soon/img/ico_close.png) 1px 20px no-repeat;background-size:21px auto}
