@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_item_list{position:absolute;top:9.5%;right:4.5%;left:4.5%;bottom:5%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:50%;height:33.333334%;font-size:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
