@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

.event_wrap .prd_item_list{position:absolute;top:5.5%;right:6%;left:6%;bottom:3.5%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:100%;height:16.666%;font-size:0;}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
