@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#ffca2c}

/* button */
.event_wrap .items_list{position:absolute;top:34%;left:15%;right:15%;height:57%;display:flex}
.event_wrap .items_list li{width:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:100}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1011_amio_cafe/img/cat/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-587px 0}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:0}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;min-height:76px;z-index:0}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px;letter-spacing:-.5px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{margin-top:24px;text-align:center}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#232323}
.event_wrap .coupon_desc span:before{content:'※';margin-right:5px}

/* notice */
.event_wrap .p_evt_noti{background:#ffca2c}
.event_wrap .evt_notice{padding:80px 40px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
