@charset "utf-8";

@media all and (max-width:280px){
  .event_wrap .coupon_item{width:48% !important}
  .event_wrap .coupon_item_info{padding:3.6vw 1vw 3.6vw 3.88vw !important}
}

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:43.61%;top:36.5%;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_type.lspacing{letter-spacing:-0.2vw}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.1vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-0.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:530% auto;background-position:0 22%;content:''}

/* 버튼 */
.event_wrap .lnk_wrap{position:absolute;width:100%;top:77vw;left:0;display:flex;justify-content:center}
.event_wrap .lnk_wrap2{position:absolute;width:100%;top:77vw;left:0;display:flex;flex-direction:column;align-items:center;}
.event_wrap .lnk_wrap2 .btn_lnk1:first-child{margin-bottom:1.94vw}
.event_wrap .btn_lnk1{display:inline-block;position:relative;width:44vw;line-height:9.28vw;border-radius:4px;background:#111;color:#fff;font-size:3.88vw;font-weight:500;text-align:center;letter-spacing:-0.4vw;margin:0 1vw;box-sizing:border-box}
.event_wrap .btn_lnk1 .ico_arrow{display:inline-block;width:2vw;height:3vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202203/0302_spring_day/img/icon_arrow.png) 0 0 no-repeat;margin-left:6px;}
.event_wrap .btn_lnk2{position:absolute;top:0;left:0;width:100%;height:100%}

.event_wrap .button_list{position:absolute;top:25.8%;left:8%;right:8%;bottom:9.2%;display:flex;justify-content:center;flex-wrap:wrap;z-index:60}
.event_wrap .button_list li{width:28.6%;height:47.3%;margin:0 1.5%}
.event_wrap .button_list li:nth-child(1), 
.event_wrap .button_list li:nth-child(2){width:33%}
.event_wrap .button_list li a{display:block;width:100%;height:100%}

.event_wrap .button_list2{position:absolute;top:25.8%;left:10.5%;right:10.5%;bottom:9.2%;display:flex;justify-content:space-between;flex-wrap:wrap;z-index:60}
.event_wrap .button_list2 li{width:28.8%;height:47.3%}
.event_wrap .button_list2 li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .evt_notice{padding:45px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 카테고리 혜택 미리보기 모션 */
.category_motion{position:absolute;width:22.222vw;height:22.222vw;border-radius:100%;z-index:50;
    -webkit-animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
    animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
}
.category_motion.motion1{top:47.777vw;left:24.861vw}
.category_motion.motion2{top:47.777vw;left:52.778vw}
.category_motion.motion3{top:100.694vw;left:11.111vw}
.category_motion.motion4{top:100.694vw;left:38.889vw}

.category_motion.motion5{top:47.778vw;left:11.111vw}
.category_motion.motion6{top:47.778vw;left:38.889vw}
.category_motion.motion7{top:47.778vw;left:66.667vw}
.category_motion.motion8{top:100.694vw;left:11.111vw}
.category_motion.motion9{top:100.694vw;left:38.889vw}
.category_motion.motion10{top:100.694vw;left:66.667vw}

@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
              box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
    }
  }
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
              box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
    }
}