@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:266px;top:240px;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 22px 20px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

/* 버튼 */
.event_wrap .lnk_wrap{position:absolute;top:477px;left:50%;transform:translateX(-50%)}
.event_wrap .lnk_wrap2{position:absolute;top:477px;left:50%;width:266px;transform:translateX(-50%)}
.event_wrap .lnk_wrap2 .btn_lnk1:first-child{margin-bottom:12px}
.event_wrap .btn_lnk1{display:inline-block;position:relative;width:266px;line-height:53px;border-radius:4px;background:#111;color:#fff;font-size:20px;font-weight:500;text-align:center;letter-spacing:-1px;margin:0 5px;box-sizing:border-box}
.event_wrap .btn_lnk1:hover{background:#333;transition:all .4s}
.event_wrap .btn_lnk1 .ico_arrow{display:inline-block;width:8px;height:12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202203/0302_spring_day/img/icon_arrow.png) 0 0 no-repeat;margin-left:6px;}
.event_wrap .btn_lnk2{position:absolute;top:0;left:0;width:100%;height:100%}

.event_wrap .button_list{position:absolute;top:49.8%;left:8.8%;right:8.8%;bottom:13%;display:flex;justify-content:space-between;align-content:space-between;z-index:60}
.event_wrap .button_list li{width:17%;height:100%}
.event_wrap .button_list li a{display:block;width:100%;height:100%;cursor:default}
.event_wrap .button_list.type2{top:49%;left:0.8%;right:0.8%;bottom:13%}
.event_wrap .button_list.type2 li{width:14%}


/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .evt_notice{padding:60px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 카테고리 혜택 미리보기 모션 */
.category_motion{position:absolute;top:315px;width:160px;height:160px;border-radius:100%;z-index:50;
    -webkit-animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
    animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
}
.category_motion.motion1{left:104px}
.category_motion.motion2{left:304px}
.category_motion.motion3{left:504px}
.category_motion.motion4{left:704px}

.category_motion.motion5{left:10px}
.category_motion.motion6{left:207px}
.category_motion.motion7{left:405px}
.category_motion.motion8{left:602px}
.category_motion.motion9{left:800px}
.category_motion.motion10{left:998px}

@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
              box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
    }
  }
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
              box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.40);
    }
}