@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* 배경색 */
.event_wrap.hyunday .p_evt_sec2{background:#e6eef8}
.event_wrap.shinhan .p_evt_sec2{background:#ebefff}
.event_wrap.lotte .p_evt_sec2{background:#f0efee}
.event_wrap.bc .p_evt_sec2{background:#feeaec}
.event_wrap.samsung .p_evt_sec2{background:#e5f7fd}
.event_wrap.samsungpoint .p_evt_sec2{background:#e8f4ff}

.event_wrap.hyunday .p_evt_noti{background:#e6eef8}
.event_wrap.shinhan .p_evt_noti{background:#ebefff}
.event_wrap.lotte .p_evt_noti{background:#f0efee}
.event_wrap.bc .p_evt_noti{background:#feeaec}
.event_wrap.samsung .p_evt_noti{background:#e5f7fd}
.event_wrap.samsungpoint .p_evt_noti{background:#e8f4ff}

/* button */
.event_wrap .btn_lnk{position:relative;display:block;margin-top:8.3333vw;text-align:center}
.event_wrap .btn_lnk img{width:auto;height:11.1111vw}

.event_wrap .p_evt_tit .top_tit{position:absolute;top:13.9vw;left:0;width:100%;z-index:10}
.event_wrap .p_evt_tit .top_tit .top_logo{width:50%;height:9.5vw;margin:0 auto}
.event_wrap .p_evt_tit .top_tit h2{font-size:9.7222vw;color:#fff;font-weight:300;line-height:13.4vw;text-align:center;letter-spacing:-.2vw;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif}
.event_wrap .p_evt_tit .top_tit span{font-size:11.1111vw;vertical-align:bottom}
.event_wrap .p_evt_tit .top_tit strong{display:block;font-weight:700}

.event_wrap .p_evt_sec2 .info_tit{padding:16.3889vw 0 7.2222vw}

.event_wrap .info_inner{margin:0 5.5556vw;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif}
.event_wrap .info_tit{padding:10.2778vw 0 5vw;font-size:7.7778vw;color:#111;text-align:center;letter-spacing:-.0694vw}
.event_wrap .info_box{background:#f3f3f3;padding:3.6111vw 2vw;font-size:4.1667vw;line-height:5.5556vw;font-weight:500;color:#111;text-align:center;letter-spacing:-.3vw;border-radius:3.3333vw}
.event_wrap .info_box img{display:inline-block !important;width:auto;height:3.888vw;vertical-align:baseline}
.event_wrap .info_box .img2 img{height:6.3888vw}
.event_wrap .info_benefit{margin:8.3333vw 0 0}
.event_wrap .info_benefit li{margin-bottom:5vw;text-align:center;color:#111;letter-spacing:-.0694vw}
.event_wrap .info_benefit .icon img{width:22.2222vw;height:22.2222vw}
.event_wrap .info_benefit .tit{margin:3.8889vw 0 3.3333vw;font-size:5vw;font-weight:700}
.event_wrap .info_benefit .desc{font-size:4.1667vw;line-height:5.9722vw}
.event_wrap .info_noti{margin-bottom:16.1111vw;font-size:3.3333vw;line-height:5.2778vw;color:#999;text-align:center}
.event_wrap .info_benefit li:nth-child(n+2){padding-top:5.2778vw;border-top:1px solid #f3f3f3}

/* notice */
.event_wrap .evt_notice{padding:13.8888vw 5.555555% 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5556vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

.event_wrap .list2{border:0;border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .list2 li{font-size:14px;line-height:22px}
.event_wrap .list2 li strong{font-size:16px;line-height:24px;font-weight:700}
.event_wrap .list2 li:before{top:12px}

/* 사용방법 slide */
.event_wrap .slide_box{position:relative;width:100%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}

.event_wrap .slide_box .slide_btn_box button{position:absolute;width:11.1111vw;height:11.1111vw;top:58.3333vw;font-size:4.1vw;color:#fff;border-radius:2.2222vw 0 0 2.2222vw;background:rgba(0,0,0,.4);cursor:pointer;touch-action:none}
.event_wrap .slide_box .slide_btn_box .slide_btn_prev{left:0;border-radius:0 2.2222vw 2.2222vw 0}
.event_wrap .slide_box .slide_btn_box .slide_btn_next{right:0}

.event_wrap .slide_box .slide_pagination{position:absolute;width:100%;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 1.3889vw;background:#bbc2ca;border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#7fc242}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}

/* 모션 */
.event_wrap .mask{-webkit-animation:mask-move 1.1s 0s cubic-bezier(.5,0,.5,1) alternate both;animation:mask-move 1.1s 0s cubic-bezier(.5,0,.5,1) alternate both}
.event_wrap .motion{-webkit-animation:slide-up 0.6s 0s cubic-bezier(.5,0,.5,1) alternate both;animation:slide-up 0.6s 0s cubic-bezier(.5,0,.5,1) alternate both}
.event_wrap .top_logo{-webkit-animation-delay:0.5s;animation-delay:0.3s}
.event_wrap .txt1{-webkit-animation-delay:0.7s;animation-delay:0.5s}
.event_wrap .txt2{-webkit-animation-delay:0.9s;animation-delay:0.7s}

@-webkit-keyframes mask-move {
  0% {
    clip-path: circle(10% at 50% 50%);
  }
  100% { 
    clip-path: circle(110% at 50% 50%);
  }
}
@keyframes mask-move {
  0% {
    clip-path: circle(10% at 50% 50%);
  }
  100% { 
    clip-path: circle(110% at 50% 50%);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  100% { 
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  100% { 
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

/* 제휴 띠배너 */
.event_wrap .p_evt_sec{background:#f4f4f4;padding:16.6666vw 0}
.event_wrap .cards_title{font-size:7.7777vw;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;letter-spacing:-0.3vw;text-align:center;margin-bottom:5.5555vw}
.event_wrap .cards_list{display:flex;flex-wrap:wrap;box-sizing:border-box;margin:0 5.5555vw;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif}
.event_wrap .cards_list li{width:100%;margin-top:2.7777vw}
.event_wrap .cards_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .cards_txt{position:absolute;top:6.5vw;left:5.5vw;font-size:5.5555vw;letter-spacing:-0.5px;color:#fff;line-height:1.4}
