@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .video_wrap{position:absolute;top:0%;left:5.555555%;width:88.88888889%;height:49.1803278%;background:url(https://i.ytimg.com/vi_webp/rRiv7DcazXc/hqdefault.webp) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
