@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;vertical-align:top}

.event_wrap .video_wrap{position:absolute;top:0px;left:157px;width:854px;height:480px;background:url(https://i.ytimg.com/vi_webp/rRiv7DcazXc/hqdefault.webp) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
