@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > * {overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{position:relative;}
.event_wrap .p_evt_sec1 .item_list{position:absolute;z-index:1;top:0;left:0;width:100%;height:112vw;}
.event_wrap .p_evt_sec1 .item_list li{height:50%;}
.event_wrap .p_evt_sec1 .item_list a{display:block;height:100%;}
.event_wrap .p_evt_sec2{background:#f7f7f7}
.event_wrap .p_evt_noti{background:#f7f7f7}
.event_wrap .evt_notice{padding-top:11vw;}

/* coupon */
.event_wrap .coupon_desc{margin-top:4vw;}
.event_wrap .coupon_desc span{color:#999999;}
