@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto}
.desktop .detail-wrapper .event_wrap{text-align:left;}

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 auto;vertical-align:top}

.event_wrap .p_evt_sec1 .item_list{position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;}
.event_wrap .p_evt_sec1 .item_list li{-webkit-box-flex:1;-ms-flex:1;flex:1;}
.event_wrap .p_evt_sec1 .item_list a{display:block;height:100%;}

.event_wrap .p_evt_sec2 .coupon_item{position:absolute;z-index:1;top:73px;right:125px;}
.event_wrap .p_evt_noti{background:#f7f7f7;border-radius: 0 0 12px 12px}
.event_wrap .evt_notice{padding: 0 88px 120px;}
