@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;min-width:1200px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto !important;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:80px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_pizza_school/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:-400px}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:-800px}

/* button */
.event_wrap .btn_move{top:69.8%;left:6.5%;width:40%;height:12%}
.event_wrap .btn_lnk1{top:12%;right:6.5%;width:32%;height:80%}
.event_wrap .btn_lnk2{top:49.5%;left:0;width:32%;height:42%}
.event_wrap .btn_lnk3{top:49.5%;left:34%;width:32%;height:42%}
.event_wrap .btn_lnk4{top:49.5%;right:0;width:32%;height:42%}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding-top:0}

/* page */
.event_wrap .p_evt_sec4{padding-bottom:80px}
