@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#95d0fe}
.event_wrap .p_evt_sec2{background:#f2f2f2}
.event_wrap .p_evt_sec3{background:#e4f5ff}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk1{top:0;left:5%;right:5%;height:42%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6667vw}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0718_sambok/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}


/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) no-repeat;background-size:530% auto;background-position:0 22%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:2.777vw}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:1vw}
.event_wrap .coupon_desc span small{font-size:3.6vw;color:#222;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#95d0fe}
.event_wrap .evt_notice{padding:50px 5.555555% 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#e3f4fe}
.event_wrap .noti2 .evt_notice{padding:45px 5.555555% 70px}

/* product banner */
.event_wrap .product_banner li{vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{display:block;min-width:100vw;max-width:100vw;height:56.9vw}
.event_wrap .product_banner .product_img img{min-width:100vw;max-width:100vw;margin:0}
.event_wrap .product_banner .item1{padding-top:8.3333vw}
.event_wrap .product_banner .item1 .product_img{overflow:hidden}
.event_wrap .product_banner .item1 .product_img img{float:right}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:7.7777vw;left:11.8055vw}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:11.25vw;left:64.5833vw}
.event_wrap .product_banner .product_info{width:auto;padding:0}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#5b453b;border-radius:50px}
.event_wrap .product_banner .percent{position:absolute;top:0;left:0;width:13.3333vw;height:13.3333vw;line-height:13.3333vw;text-align:center;background:#2351ad;border-radius:100px}
.event_wrap .product_banner .percent .num{display:inline-block;font-size:5.5555vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .product_banner .percent .unit{display:inline-block;font-size:3.3333vw;color:#fff}
.event_wrap .product_banner .item1 .percent{top:-48%;left:190%}
.event_wrap .product_banner .item2 .percent{top:-93%;left:-154%}

/* product list */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin:0 5.556vw;padding-bottom:6.9444vw}
.event_wrap .product_list li{width:100%;margin-bottom:5.556vw;vertical-align:top;background:#fff}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;display:flex;align-items:center;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:44.444vw;max-width:44.444vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-1.778vw}
.event_wrap .product_info{display:block;width:44.444vw;padding:0 3.889vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 0.694vw}
.event_wrap .percent{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;line-height:9.722vw;text-align:center;background:#2351ad}
.event_wrap .percent .num{display:inline-block;font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:2.778vw;color:#fff}
.event_wrap .original{display:inline-block;margin:1.389vw 2.222vw 0 0}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:1.389vw}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.88889vw;font-weight:500;color:#222}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:101%}
.event_wrap .evt_mov video{width:100%;height:100%;display:block;vertical-align:top}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 27.7777vw 0 28.6111vw !important;background:#e3f4fe !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:9.1666vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0718_sambok/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
