@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .info_desc{padding:5.5556vw 0 11.1111vw}
.event_wrap .p_evt_sec1 .coupon_list{position:absolute;top:102.7777vw;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .p_evt_noti{background:#f5f5f5;border-bottom:1.3889vw solid #e1e1e1}
.event_wrap .p_evt_noti .info_desc{background:#fff;padding-top:8.3333vw}

/* template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;text-align:center;background:#fff !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:65vw;height:12.7778vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0122_surprised_coupon/img/m_img_btn.jpg) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
