@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .p_evt_tit{background:#f5f5f5}
.event_wrap .p_evt_tit .coupon_list{background:#fff;border:1px solid #73c40b;border-top:0}
.event_wrap .p_evt_sec1 .coupon_list{position:absolute;top:300px;right:80px}

/* notice */
.event_wrap .info_desc{padding:40px 0 78px}
.event_wrap .p_evt_noti{background:#f5f5f5;border-bottom:8px solid #e1e1e1}
.event_wrap .p_evt_noti.noti2{background:#f5f5f5}
.event_wrap .p_evt_noti.noti2::before{content:'';display:block;width:1200px;height:80px;background:#fff;border:1px solid #73c40b;border-top:0;margin:0 auto;box-sizing:border-box}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{position:relative;width:100%;height:64px;min-width:1200px;max-width:1920px;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0122_surprised_coupon/img/p_btn_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:312px;height:64px;font-size:0;padding:0;margin-left:364px;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0122_surprised_coupon/img/p_img_btn.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
