@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* font */
@font-face {font-family:'PyeongChangPeace-Bold';src:url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');font-weight:700;font-style:normal;}

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* page */
.event_wrap .p_evt_sec1{background:#f5daad}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 상품리스트 1 */
.event_wrap .product_banner{position:relative;display:flex;justify-content:space-between;margin:0 34px 0 150px;padding-bottom:28px;z-index:5}
.event_wrap .product_banner li{width:480px;height:540px}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}
.event_wrap .product_banner .product_img{display:block;width:480px}
.event_wrap .product_banner .product_img img{margin:0 !important}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:413px;left:56px}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:53px;left:80px}
.event_wrap .product_banner .product_info{display:flex;flex-wrap:wrap;padding-top:15px}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:80px;height:4px;background:#80c342;border-radius:50px}
.event_wrap .product_banner .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#333;line-height:26px;letter-spacing:-.5px;word-break:keep-all;margin-bottom:10px}
.event_wrap .product_banner .original{flex-basis:100%}
.event_wrap .product_banner .original del{font-size:18px;color:#7a7a7a;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_banner .sale{margin-top:4px}
.event_wrap .product_banner .sale ins{font-size:24px;font-weight:600;color:#614f42;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_banner .sale .won{font-size:18px;font-weight:500;color:#614f42;margin-left:-3px}
.event_wrap .product_banner .percent{margin:4px 0 0 8px}
.event_wrap .product_banner .percent .num{font-size:24px;font-weight:600;color:#169633;font-family:'Lato'}
.event_wrap .product_banner .percent .unit{font-size:24px;font-weight:600;color:#169633;margin-left:-4px;font-family:'Lato'}

/* 상품리스트 2 */
.event_wrap .product_list{position:relative;z-index:5}
.event_wrap .product_list .product_img{border-radius:8px}
.event_wrap .product_list .percent .num{color:#169633}
.event_wrap .product_list .percent .unit{color:#169633}

/* notice */
.event_wrap .evt_notice{position:relative;padding:60px 0 120px;z-index:5}
.event_wrap .p_evt_noti{background:#f5daad}
.event_wrap .noti2{background:#ebb78c url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .noti2 .evt_notice{padding-top:130px}
.event_wrap .p_evt_noti .noti_desc{text-align:center;color:#896137}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:12px 20px 33px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:480px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#6acc0c}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#6acc0c !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

/* title - animation */
.animation_wrap{position:absolute;top:115px;width:378px;height:256px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.obj{position:relative;display:inline-block;vertical-align:top !important;width:110px;height:110px;font-family:'PyeongChangPeace-Bold';font-size:111.64px;line-height:1;vertical-align:top !important;color:#83c743}
.obj1{margin-right:24px !important;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/object/obj1.png') no-repeat 100%;font-size:0}
.obj2{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/object/obj2.png') no-repeat 100%;font-size:0}
.obj3{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/object/obj3.png') no-repeat 100%;font-size:0}
.obj4{top:34px;left:-15px;width:450px;height:112px;font-size:0}
.obj4 span{position:relative;display:inline-block;height:inherit}
.obj4-1{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/object/obj4.png') no-repeat 100%}
.obj4-2{width:80px}
.obj4-3{width:26px;margin-right:5px !important;}
.obj4-4{width:87px}
.obj4-5{width:83px}
.obj5{position:absolute;top:91px;left:-23px;width:388px;height:83px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/object/obj5.png') no-repeat 100%;font-size:0} 
.obj6{position:absolute;top:-50px;left:350px;width:149px;height:142px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_pick_member/img/object/obj6.png') no-repeat 100%;font-size:0}

/* animation - default */
.animation_wrap .inner{height:100%;-webkit-animation:scale .6s cubic-bezier(1,0,0.8,1);animation:scale .6s cubic-bezier(1,0,0.8,1)}
.obj4-1{-webkit-animation:bounce 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both;animation:bounce 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both}
.obj4-2{-webkit-animation:bounce 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 1.8s ease-in-out both;animation:bounce 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 1.8s ease-in-out both}
.obj4-3{-webkit-animation:bounce 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 1.9s ease-in-out both;animation:bounce 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 1.9s ease-in-out both}
.obj4-4{-webkit-animation:bounce 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 2s ease-in-out both;animation:bounce 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 2s ease-in-out both}
.obj4-5{-webkit-animation:bounce 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 2.1s ease-in-out both;animation:bounce 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 2.1s ease-in-out both}
.obj5{-webkit-animation:mask .4s 3s ease-out both;animation:mask .4s 3s ease-out both}

/* animation - on */
.animation_wrap .inner.on{-webkit-animation:scale2 .6s cubic-bezier(1,0,0.8,1);animation:scale2 .6s cubic-bezier(1,0,0.8,1)}
.obj4-1.on{-webkit-animation:bounce2 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both;animation:bounce2 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both}
.obj4-2.on{-webkit-animation:bounce2 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 1.8s ease-in-out both;animation:bounce2 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 1.8s ease-in-out both}
.obj4-3.on{-webkit-animation:bounce2 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 1.9s ease-in-out both;animation:bounce2 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 1.9s ease-in-out both}
.obj4-4.on{-webkit-animation:bounce2 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 2s ease-in-out both;animation:bounce2 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 2s ease-in-out both}
.obj4-5.on{-webkit-animation:bounce2 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 2.1s ease-in-out both;animation:bounce2 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 2.1s ease-in-out both}
.obj5.on{-webkit-animation:mask2 .4s 3s ease-out both;animation:mask2 .4s 3s ease-out both}

/* scale */
@-webkit-keyframes scale {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}
@keyframes scale {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}
/* scale2 */
@-webkit-keyframes scale2 {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}
@keyframes scale2 {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}

/* bounce */
@-webkit-keyframes bounce {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}
@keyframes bounce {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}
/* bounce2 */
@-webkit-keyframes bounce2 {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}
@keyframes bounce2 {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}

/* change-color */
@-webkit-keyframes change-color {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
@keyframes change-color {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
/* change-color2  */
@-webkit-keyframes change-color2  {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
@keyframes change-color2  {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}

/* return-color */
@-webkit-keyframes return-color {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
@keyframes return-color {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
/* return-color2 */
@-webkit-keyframes return-color2 {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
@keyframes return-color2 {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}

/* mask */
@-webkit-keyframes mask {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
@keyframes mask {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
/* mask2 */
@-webkit-keyframes mask2 {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
@keyframes mask2 {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}

/* motion */
.event_wrap .motion_wrap{position:absolute;z-index:1;min-width:1920px;height:2000px;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden}
.event_wrap .motion img{margin:0 !important}
.event_wrap .motion{-webkit-animation:updown 3s 0s ease-in-out infinite both;animation:updown 3s 0s ease-in-out infinite both}
.event_wrap .motion.object1{position:absolute;z-index:2;top:1230px;left:-37px}
.event_wrap .motion.object2{position:absolute;z-index:2;top:690px;right:-10px;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.event_wrap .motion.object3{position:absolute;z-index:2;top:50px;left:-37px;-webkit-animation-delay:0.8s;animation-delay:0.8s}

@-webkit-keyframes updown {
  0%, 100% {
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(10px, -30px);
    transform:translate(10px, -30px);
  }
}
@keyframes updown {
  0%, 100% {
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(10px, -30px);
    transform:translate(10px, -30px);
  }
}
