@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:441px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:441px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec1_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec1_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link1:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link1_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link1:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link1_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec2_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec2_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link2:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link2_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link2:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link2_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec3_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec3_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link3:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link3_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link3:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link3_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec4_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec4_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link4:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link4_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link4:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_link4_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec5:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec5_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec5:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec5_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_link5:before{background:#f0d7da}
.event_wrap .p_evt_link5:after{background:#f0d7da}
.event_wrap .p_evt_sec6:before{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec6.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec6:after{background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/bg_sec6.jpg) 0 0 no-repeat}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:12.0588235%;left:12.0588235%;bottom:0;height:20%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}


/* evt item */
.event_wrap .p_evt_sec1 .prd_item_wrap,.event_wrap .p_evt_sec3 .prd_item_wrap,.event_wrap .p_evt_sec5 .prd_item_wrap
{background:#f0d7da}
.event_wrap .p_evt_sec2 .prd_item_wrap,.event_wrap .p_evt_sec4 .prd_item_wrap
{background:#f5e8e6}

.event_wrap .prd_item_wrap{position:relative;min-height:870px}
.event_wrap .prd_item_list{overflow:hidden;position:absolute;top:0;right:22px;left:22px;bottom:0;font-size:0;vertical-align:top}
.event_wrap .prd_item_list li{position:relative;display:inline-block;width:312px;height:auto;margin-left:18px}
.event_wrap .prd_item_list li:nth-child(3n+1){margin-left:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .prd_item_list .img_area{display:block;width:100%;height:294px}
.event_wrap .prd_item_list .item_area{padding:17px 0 25px;font-size:20px;color:#3a3939;text-align:center}
.event_wrap .prd_item_list .title{display:block}
.event_wrap .prd_item_list .price{font-size:0}
.event_wrap .prd_item_list .price span{display:inline-block;font-size:25px;color:#3a3a3a}
.event_wrap .prd_item_list .price .del{display:inline-block;font-size:25px;color:#3a3a3a}
.event_wrap .prd_item_list .price .discount{display:inline-block;margin-left:24px;font-size:28px;color:#3a3a3a}

.event_wrap .cart_area{position:absolute;right:14px;bottom:154px;z-index:10}
.event_wrap .cart_area .btn_cart{display:block;width:100%;height:100%}
.event_wrap .cart_area .ico_cart{display:block;width:46px;height:46px;background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/ico_cart.png) 0 0 no-repeat;font-size:0;color:transparent}

.event_wrap .btn.btn_link1{top:0;right:15%;left:15%;bottom:40%}
.event_wrap .btn.btn_link2{top:0;right:15%;left:15%;bottom:26%}


