@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{overflow:hidden;position:relative;max-width:720px;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box;-webkit-box-sizing:border-box}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:0;left:0;bottom:0;height:22%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* evt item */
.event_wrap .p_evt_sec1 .prd_item_wrap,.event_wrap .p_evt_sec3 .prd_item_wrap,.event_wrap .p_evt_sec5 .prd_item_wrap
{background:#f0d7da}
.event_wrap .p_evt_sec2 .prd_item_wrap,.event_wrap .p_evt_sec4 .prd_item_wrap
{background:#f5e8e6}

.event_wrap .prd_item_wrap{position:relative;}
.event_wrap .prd_item_list{overflow:hidden;padding:0 5.277778%;font-size:0;vertical-align:top}
.event_wrap .prd_item_list li{position:relative;display:inline-block;width:48.44720496%;height:auto;margin-left:2.777778%;vertical-align:top}
.event_wrap .prd_item_list li:nth-child(2n+1){margin-left:0}
.event_wrap .prd_item_list li a{display:block;width:100%;}
.event_wrap .prd_item_list .img_area{display:block;width:100%;height:auto}
.event_wrap .prd_item_list .item_area{min-height:90px;padding:5px 2px;font-size:12px;color:#3a3939;text-align:center}
.event_wrap .prd_item_list .title{display:block;word-break:break-word}
.event_wrap .prd_item_list .title br{display:none}
.event_wrap .prd_item_list .price{font-size:0}
.event_wrap .prd_item_list .price span{display:inline-block;font-size:14px;color:#3a3a3a}
.event_wrap .prd_item_list .price .del{display:inline-block;font-size:14px;color:#3a3a3a}
.event_wrap .prd_item_list .price .discount{display:inline-block;margin-left:10px;font-size:15px;color:#3a3a3a}

.event_wrap .cart_area{position:absolute;right:7px;bottom:96px;z-index:10}
.event_wrap .cart_area .btn_cart{display:block;width:100%;height:100%;border:0;background:0}
.event_wrap .cart_area .ico_cart{display:block;width:23px;height:23px;background:url(http://www.orga.co.kr/images/promo/20200423_family_month/img/ico_cart.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}

.event_wrap .btn.btn_link1{top:0;left:13%;width:74%;height:65%}
