@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:3%;width:100%;height:14%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:50%;height:50%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* btn */
.event_wrap .btn{position:absolute}
.event_wrap .btn_lnk1{top:30%;left:3%;width:44%;height:54%}
.event_wrap .btn_lnk2{top:87.5%;left:30%;width:41%;height:10%}
.event_wrap .btn_lnk3{top:24.4%;left:4.444%;width:91%;height:21%}
.event_wrap .btn_lnk4{top:48.2%;left:4.444%;width:91%;height:21%}
.event_wrap .btn_lnk5{top:71.7%;left:4.444%;width:91%;height:21%}
.event_wrap .btn_lnk6{top:79.2%;left:30%;width:41%;height:10%}
.event_wrap .btn_lnk7{top:92%;left:30%;width:41%;height:5.7%}
.event_wrap .btn_lnk8{top:62.5%;left:25%;width:50%;height:10%}
