@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:6%;width:100%;height:14%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* btn */
.event_wrap .btn{position:absolute}
.event_wrap .btn_lnk1{top:55%;left:6%;width:18%;height:24%}
.event_wrap .btn_lnk2{top:90%;left:37%;width:26%;height:12%}
.event_wrap .btn_lnk3{top:46%;left:0;width:31.7%;height:43.5%}
.event_wrap .btn_lnk4{top:46%;left:34%;width:31.7%;height:43.5%}
.event_wrap .btn_lnk5{top:46%;left:68.3%;width:31.7%;height:43.5%}
.event_wrap .btn_lnk6{top:67.5%;left:0;width:21.5%;height:10.5%}
.event_wrap .btn_lnk7{top:90%;left:37%;width:26%;height:12%}
.event_wrap .btn_lnk8{top:61.5%;left:35%;width:30%;height:9.5%}

