@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#d2ebff}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_move{top:0;left:0;right:0;height:21%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3%;height:19.4444vw}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:50}

/* 먹거리특가 tab */
.event_wrap .evt_tab_wrap{position:absolute;top:48.5555vw;left:0;width:100%;display:flex;justify-content:center}
.event_wrap .evt_tab_wrap li{position:relative;margin:0 2.0833vw}
.event_wrap .evt_tab_wrap li a{display:block;font-size:3.75vw;font-weight:500;color:#fff;padding:2vw 5vw 2vw 2.7vw;border:1px solid #fff;border-radius:4px}
.event_wrap .evt_tab_wrap li a:after{content:'';position:absolute;top:42%;right:6px;width:10px;height:6px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0704_please_summer/img/ico_down.png) 0 0/100%}


/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) no-repeat;background-size:530% auto;background-position:0 22%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:5.4vw}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:1vw}
.event_wrap .coupon_desc span small{font-size:3.6vw;color:#222;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#d2ebff}
.event_wrap .evt_notice{padding:40px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#80c342}

/* product */
.event_wrap .item_box_wrap{margin:3vw 0 8vw}
.event_wrap .item_box_wrap .item_list{display:flex;flex-wrap:wrap;width:calc(100vw - 5.556vw);margin:0 5.556vw}
.event_wrap .item_box_wrap .item_list .inner{position:relative;font-size:0}
.event_wrap .item_box_wrap .item_list .item{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .item_box_wrap .item_list .item a{display:block;width:100%;height:100%}

.item_box_wrap .item_btn{display:none}
.item_box_wrap .item_pagination{display:none}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw}
.event_wrap .product_img:after{content:"";display:block;position:absolute;top:0;left:0;height:47.222vw !important;background:rgba(0,0,0,.04);z-index:2;width:100%;height:100%}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw}
.event_wrap .product_info{display:block;padding:2.7777vw 0 6.3333vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 3.694vw}
.event_wrap .tag{position:absolute;top:0;left:0;width:9.861vw;height:9.861vw;line-height:3.056vw;text-align:center;background:#ff752a;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:2.222vw;font-weight:600;color:#fff;letter-spacing:-.3px;}
.event_wrap .percent{display:inline-block;margin-left:1.111vw}
.event_wrap .percent .num{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

/* product - 한식교자 */
.event_wrap .product_banner{position:absolute;top:107.778vw;left:0;right:0;margin-bottom:9.722vw}
.event_wrap .product_banner.type2{top:33vw}
.event_wrap .product_banner li{vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{display:block;max-width:100%;height:53.9vw}
.event_wrap .product_banner .product_img:after{display:none}
.event_wrap .product_banner .product_img img{min-width:100vw;max-width:100vw;margin:0}
.event_wrap .product_banner .product_brand{display:block;font-size:2.778vw;font-weight:700;color:#333;line-height:3.333vw;margin-top:3.4vw}
.event_wrap .product_banner .product_title{margin-top:0.5vw;line-height:4.55556vw}
.event_wrap .product_banner .view{position:relative;display:inline-block;font-size:2.7777vw;font-weight:700;color:#333;letter-spacing:-.3px;margin-top:0.6vw;padding-right:15px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0704_please_summer/img/ico_arrow.png) 88% 61%/6.5% no-repeat}
.event_wrap .product_banner .view:after{content:'';position:absolute;top:3.6vw;left:0;width:15vw;height:1px;background:#333}
.event_wrap .product_banner .item1 .product_img{overflow:hidden}
.event_wrap .product_banner .item1 .product_img img{float:right}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:11.95vw;left:5.250vw;text-align:left}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:14vw;left:67.583vw;text-align:left}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#80c342;border-radius:50px}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 28.1944vw !important;background:#80c342 !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:9.3055vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0704_please_summer/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .motion1{position:absolute;-webkit-animation:wobble-hor-bottom 2.7s 2s infinite both;animation:wobble-hor-bottom 2.7s 2s infinite both}
.motion_box .motion2{position:absolute;-webkit-animation:scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite alternate both;animation:scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite alternate both}
.motion_box .object1{position:absolute;top:0;left:0;z-index:10}
.motion_box .object2{top:57.2%;left:26%;width:28%;-webkit-animation-delay:0.1s;animation-delay:0.1s;z-index:3}
.motion_box .object3{top:71%;left:4.5%;width:33%;-webkit-animation-delay:1s;animation-delay:1s;z-index:7}
.motion_box .object6{top:59%;left:72.8%;width:3%;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object7{top:55%;left:79.5%;width:4%;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object8{top:53.5%;left:77%;width:2.5%;-webkit-animation-delay:2s;animation-delay:2s}

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-6px) rotate(-3deg);
            transform: translateX(-6px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(6px) rotate(4deg);
            transform: translateX(6px) rotate(4deg);
  }
  30% {
    -webkit-transform: translateX(-6px) rotate(-2.6deg);
            transform: translateX(-6px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
            transform: translateX(-3px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-6px) rotate(-3deg);
            transform: translateX(-6px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(6px) rotate(4deg);
            transform: translateX(6px) rotate(4deg);
  }
  30% {
    -webkit-transform: translateX(-6px) rotate(-2.6deg);
            transform: translateX(-6px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
            transform: translateX(-3px) rotate(-1.2deg);
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}