@charset "utf-8";

/* reset */
body{overflow-x:hidden}
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#d2ebff}
.event_wrap .p_evt_sec2{background:#f9f9f9}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_move{top:0;left:3.5%;right:3.5%;height:30.5%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:160px;display:flex;justify-content:center}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* 먹거리특가 tab */
.event_wrap .evt_tab_wrap{position:absolute;top:308px;left:0;width:100%;display:flex;justify-content:center}
.event_wrap .evt_tab_wrap li{position:relative;margin:0 10px}
.event_wrap .evt_tab_wrap li a{display:block;font-size:18px;font-weight:500;color:#fff;padding:6px 18px;border:2px solid #fff;border-radius:6px}
.event_wrap .evt_tab_wrap li a:hover{color:#111;background:#9eff00;border:2px solid #9eff00}


/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:40px}
.event_wrap .coupon_desc span{display:block;margin:0 5px}
.event_wrap .coupon_desc span small{font-size:16px;color:#222;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#d2ebff}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:10px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#80c342}

/* product */
.event_wrap #event_tab4{padding-bottom:40px}
.event_wrap .item_box_wrap{position:relative;padding-bottom:60px}
.event_wrap .item_box{position:relative;width:1088px;overflow-x:hidden;backface-visibility:hidden;-webkit-backface-visibility:hidden;margin:0 auto;padding:50px 0 30px;background:#fff}
.event_wrap .item_box .item_list{display:flex;width:25%}
.event_wrap .item_box .item_list .inner{position:relative;font-size:0}
.event_wrap .item_box .item_list .item{position:relative;width:100%}
.event_wrap .item_box .item_list .item img{width:100%;height:100%;margin:0 !important}
.event_wrap .item_box .item_list .item a{display:block;width:100%;height:100%}

.item_box_wrap .item_btn button{position:absolute;width:40px;height:40px;top:220px;font-size:18px;color:#333;background:#fff;border:1px solid #ebebeb;border-radius:6px;cursor:pointer;touch-action:none}
.item_box_wrap .item_btn .prev{left:22px}
.item_box_wrap .item_btn .next{right:22px}

.item_box_wrap .item_pagination{position:relative;text-align:center}
.item_box_wrap .item_pagination .dot{display:inline-block;width:6px;height:6px;margin:0 4px;background:#cfcfcf;border-radius:100px;transition:0.3s}
.item_box_wrap .item_pagination .dot a{display:block;width:100%;height:100%}
.item_box_wrap .item_pagination .dot2.dot_active2{background:#80c342}
.item_box_wrap .item_pagination .dot3.dot_active3{background:#80c342}
.item_box_wrap .item_pagination .dot4.dot_active4{background:#80c342}
.item_box_wrap .item_pagination .dot5.dot_active5{background:#80c342}

.event_wrap .product_img{display:block;margin:0 5px}
.event_wrap .product_img img{width:100%;margin:0 !important}
.event_wrap .product_info{display:block;padding:0 0 30px;box-sizing:border-box;text-align:center}
.event_wrap .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px;margin-top:10px}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:5px}
.event_wrap .tag{position:absolute;top:0;left:0;width:60px;height:60px;line-height:20px;text-align:center;background:#ff752a;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:16px;font-weight:600;color:#fff;letter-spacing:-.3px;}
.event_wrap .percent{display:inline-block;margin-left:6px}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block;margin:10px 0 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:3px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* product - 한식교자 */
.event_wrap .p_evt_sec4 .product_banner{top:252px}
.event_wrap .product_banner{position:absolute;top:690px;left:40px;right:40px;display:flex}
.event_wrap .product_banner.type2{top:240px}
.event_wrap .product_banner li{width:50%;vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{height:528px}
.event_wrap .product_banner .product_img img{margin:0 !important}
.event_wrap .product_banner .product_info{width:100%;text-align:left}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:80px;height:4px;background:#80c342;border-radius:50px}
.event_wrap .product_banner .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px;margin-top:30px}
.event_wrap .product_banner .product_title{margin-top:5px}
.event_wrap .product_banner .view{position:relative;display:block;font-size:18px;font-weight:700;color:#333;letter-spacing:-.3px;margin-top:10px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0704_please_summer/img/p_ico_arrow.png) 16.4% 55% no-repeat}
.event_wrap .product_banner .view:after{content:'';position:absolute;top:20px;left:0;width:95px;height:1px;background:#333}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:351px;left:60px}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:18px;left:50px}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;min-width:1168px;width:100%;height:54px;margin:0 auto;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0704_please_summer/img/p_btn_bg.jpg) 50% 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(278px);width:266px;height:52px;padding:0;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0704_please_summer/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box .motion1{position:absolute;-webkit-animation:wobble-hor-bottom 2.6s 2s infinite both;animation:wobble-hor-bottom 2.6s 2s infinite both}
.motion_box .motion2{position:absolute;-webkit-animation:scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite alternate both;animation:scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s infinite alternate both}
.motion_box .object1{position:absolute;top:0;left:0;margin:0 -376px auto;z-index:2}
.motion_box .object2{position:absolute;top:515px;left:1061px;z-index:1}
.motion_box .object3{top:140px;left:482px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object4{top:352px;left:1004px;-webkit-animation-delay:0.6s;animation-delay:0.6s;z-index:1}
.motion_box .object5{top:186px;left:1102px;-webkit-animation-delay:1s;animation-delay:1s;z-index:0}
.motion_box .object6{top:166px;left:809px}
.motion_box .object7{top:193px;left:857px;-webkit-animation-delay:2s;animation-delay:2s}
.motion_box .object8{top:220px;left:843px;-webkit-animation-delay:3s;animation-delay:3s}

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}