@charset "utf-8";

.desktop .fb__event .promotion__content .lohas__wrapper img{max-width:none}

.lohas__wrapper{position:relative;max-width:1920px;margin:0 auto;font-family:"Lato","NotoSans","맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:500;text-align:left}
.lohas__wrapper .lohas-section{position:relative;width:1168px;margin:0 auto}
.lohas__wrapper .lohas-section img{margin:0 -376px auto;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:100%;font-size:18px;color:#333;transform:translate(-50%, -50%);box-sizing:border-box}
.lohas__wrapper .hashtag{display:block;font-weight:400;font-size:18px;letter-spacing:-1px;line-height:24px}
.lohas__wrapper .point{display:block;margin:30px 0 0 -5px;font-weight:400;font-size:100px}
.lohas__wrapper .title{display:block;margin-top:62px;font-size:40px;font-weight:300;letter-spacing:-2px}
.lohas__wrapper .title .point{margin:18px 0 0 0;font-weight:700;letter-spacing:-6px;line-height:110px}
.lohas__wrapper .description{margin:0;font-size:28px;font-weight:300;color:#a9a9a9;letter-spacing:-2px;text-align:left;line-height:40px}
.lohas__wrapper .description2{margin:0;font-size:28px;font-weight:700;color:#333;letter-spacing:-2px;line-height:40px}
.lohas__wrapper .point2{display:block;font-size:40px;font-weight:700;color:#a9a9a9;letter-spacing:-2px;text-align:left;line-height:90px}
.lohas__wrapper .text{margin-top:16px;font-weight:300;font-size:18px;line-height:28px}

.lohas__wrapper .add-text{position:relative}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:2px;width:45px;height:2px;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:326px}
.lohas__wrapper .lohas-box:first-child{margin-top:10px}
.lohas__wrapper .lohas-box .text{margin-top:16px}

.lohas__wrapper .lohas-footer{height:170px;background-color:#79ca20;text-align:center}
.lohas__wrapper .lohas-footer:after{position:absolute;top:0;left:50%;z-index:-1;width:1920px;height:100%;background-color:#79ca20;transform:translate(-50%,0);content:''}
.lohas__wrapper .lohas-footer .lohas-logo{display:block;margin-top:-3px;font-size:18px;font-weight:700;color:#fff;line-height:31px}
.lohas__wrapper .lohas-footer .lohas-inner{width:100%;padding:0}
.lohas__wrapper .lohas-footer .text{margin-top:4px;color:#fff}

/* style line modify */
.lohas-section1 .lohas-inner,
.lohas-section5 .lohas-inner{padding-left:318px}

.lohas-section1 .lohas-inner{margin-top:-137px}
.lohas-section2 .lohas-inner{margin-top:-2px;padding-left:10px}
.lohas-section3 .lohas-inner{padding-left:10px}
.lohas-section4 .lohas-inner{margin-top:-34px;padding-left:10px}

.lohas-section5 .lohas-inner{margin-top:-23px}
.lohas-section5 .title{font-size:28px;color:#333;line-height:40px}
.lohas-section5 .title .point{margin-top:13px}
.lohas-section5 .text{margin-top:76px;padding-left:54px}  

.lohas-section6 .lohas-inner{margin-top:-24px;padding-left:321px}
.lohas-section7 .lohas-inner{margin-top:-70px;padding-left:321px}
.lohas-section8 .lohas-inner{margin-top:-222px;padding-left:321px}
