@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:18vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_launching/img/member/m_evt_nav_on.jpg);background-size:auto 100%;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}

/* page */
.event_wrap .p_evt_noti.noti1{background-color:#00463c}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding-top:0;}
.event_wrap .p_evt_noti.noti2{background-color:#f4f4f4}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding-top:50px;padding-bottom:50px;}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:101.5278vw;left:50%;transform:translateX(-50%);width:88.8889vw;height:50vw;background:url(https://i.vimeocdn.com/video/1853766284-cee3d1eea41e0d540833c80f1676cd1a55b967a5ba70bfde6141328f844c9be5-d?mw=4700&mh=2644&q=70) 50%/100%;margin:0 auto;}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
