@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;bottom:0;left:230px;right:230px;height:102px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_desc{margin-top:8px}
.event_wrap .coupon_desc span{color:#fff}
.event_wrap .coupon_desc span::before{display:none}

/* page */
.event_wrap .p_evt_sec4{background-color:#00463c}
.event_wrap .noti1 .evt_notice{padding-top:50px;padding-bottom:0}
.event_wrap .noti2 .evt_notice, .event_wrap .noti3 .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background-color:#00463c}
.event_wrap .p_evt_noti.noti2{background-color:#f07d00}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:330px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.vimeocdn.com/video/1853766284-cee3d1eea41e0d540833c80f1676cd1a55b967a5ba70bfde6141328f844c9be5-d?mw=4700&mh=2644&q=70) 50%/100%;margin:0 auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
