@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-448px;display:block;width:448px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;display:block;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0225_e_leaflet/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0225_e_leaflet/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{height:695px;background:#283426}
.event_wrap .p_evt_sec1:after{height:695px;background:#283426}

/* lnk */
.event_wrap .product_list{position:absolute;top:25%;right:2%;left:2%;bottom:26%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:25%;height:100%}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{left:29%;bottom:0;width:42%;height:15%}
.event_wrap .btn_lnk2{top:10%;right:0;width:50%;height:82%}

/* mobile */
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .evt_wide_wrap:before,.event_wrap.mevt .evt_wide_wrap:after{display:none}
.event_wrap.mevt .product_list{top:15%;right:6%;left:6%;bottom:17%}
.event_wrap.mevt .product_list li{width:50%;height:50%}
.event_wrap.mevt .btn_lnk{left:6%;width:88%;height:13%}
.event_wrap.mevt .btn_lnk2{top:32%;right:8%;width:83%;height:60%}
