@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:18.0555vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_toss/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn_lnk1{top:80vw;left:11vw;right:11vw;height:12vw}

/* items_list */
.event_wrap .items_list{position:absolute;top:39vw;left:3vw;right:3vw}
.event_wrap .items_list li{position:relative;display:flex;align-items:flex-end;width:100%;height:50.5vw;margin-bottom:6vw}
.event_wrap .items_list button{display:block;width:43.5vw;height:13.8888vw}
.event_wrap .items_list button:focus{outline:2px solid #222;}
.event_wrap .items_list a{display:block;width:50vw;height:13.8888vw}

/* notice */
.event_wrap .noti2{background:#f8f655}
