@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;bottom:11.1%;width:39%;height:9.1%;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_box{position:relative;max-width:1020px;margin:0 auto}
.event_wrap .btn_lnk1{left:9%}
.event_wrap .btn_lnk2{right:9%}

/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_box{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn{left:10.2%;width:79.5%;height:11.3%}
.event_wrap.mevt .btn_lnk1{bottom:8.6%}
.event_wrap.mevt .btn_lnk2{bottom:6.8%;height:11.6%}