@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

/* link */
.event_wrap .btn_lnk1{top:24.5%;left:9.5%;width:40%;height:63.5%}
.event_wrap .btn_lnk2{top:24.5%;right:9.5%;width:40%;height:63.5%}

/* notice */
.event_wrap .evt_notice{padding:50px 98px;background-color:#f3f3f3;box-sizing:border-box}
.event_wrap .evt_notice > .notice_title:first-child{margin-top:0}
.event_wrap .notice_list{margin-top:12px}
.event_wrap .notice_list li{position:relative;padding-left:14px;font-size:20px;color:#1c1c1c;line-height:34px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:16px;left:2px;width:3px;height:3px;background-color:#1c1c1c;border-radius:50%;-webkit-border-radius:50%;content:''}

/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{max-width:720px}
.event_wrap.mevt img{width:100%}

/* link */
.event_wrap.mevt .btn_lnk1{top:16.5%;left:5.5%;width:89%;height:36.5%}
.event_wrap.mevt .btn_lnk2{top:57.5%;left:5.5%;width:89%;height:36.5%}
.event_wrap.mevt .evt_notice{padding:25px 5.555556%}
.event_wrap.mevt .notice_list li{padding-left:7px;font-size:12px;line-height:17px}
.event_wrap.mevt .notice_list li:before{top:8px;width:2px;height:2px}