@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .evt_notice{padding-bottom:9vw}
.event_wrap .p_evt_noti{padding-bottom:15.4167vw;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0816_thanksgiving_reservation/img/m_evt_sec3.jpg') 50% 0 no-repeat;background-size:100% auto}

/* page */
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:44.4vw;left:0;right:0}
