@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{padding-bottom:210px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0816_thanksgiving_reservation/img/p_evt_sec3.jpg') 50% 0 no-repeat}

/* page */
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:320px;left:0;right:0}
