@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}


/* notice */
.event_wrap .evt_notice{padding:40px 130px;background:#f4efda}
.event_wrap .notice_list{padding:40px 0;border-top:1px solid #d2cdbb;border-bottom:1px solid #d2cdbb}
.event_wrap .notice_list li{position:relative;margin-top:14px;padding-left:11px;font-size:15px;font-weight:400;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:0;width:3px;height:3px;background-color:#333;content:''}
.event_wrap .p_evt_noti2 li{color:#fff}
.event_wrap .p_evt_noti2 li:before{background-color:#fff}
.event_wrap .notice_list .point{font-weight:600}

/* mobile device */
.mevt_wrap .evt_wide_wrap{max-width:none;width:100%}
.mevt_wrap .evt_wide_wrap:before,.mevt_wrap .evt_wide_wrap:after{display:none}
.mevt_wrap{width:100%;max-width:none;margin:0 auto}
.mevt_wrap .evt_section, .mevt_wrap .evt_notice{max-width:none;width:100%}
.mevt_wrap .product_list{top:35%;right:0;left:0}
.mevt_wrap .btn_link2{left:0;width:100%}

/* mobile notice */

.mevt_wrap .evt_notice{padding:20px 3.61111%}
.mevt_wrap .notice_list{padding:20px 0}
.mevt_wrap .notice_list li{margin-top:3px;padding-left:3px;font-size:11px;letter-spacing:-.5px;line-height:1.6}
.mevt_wrap .notice_list li:before{top:6px;width:2px;height:2px}
