@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:161.3vw;left:12.6388%;right:12.4%;height:8.9vw}
.event_wrap .btn_lnk2{top:359.4444vw;left:12.6388%;right:12.4%;height:8.9vw}
.event_wrap .btn_lnk3{top:553.3333vw;left:12.6388%;right:12.4%;height:8.9vw}
.event_wrap .btn_lnk4{top:746.9444vw;left:12.6388%;right:12.4%;height:8.9vw}
.event_wrap .btn_lnk5{top:0;left:0;right:0;height:100%}

/* 라인업 slide */
.event_wrap .item_box{position:absolute;top:0;left:12.6388%;right:12.4%;padding-bottom:6%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .item_box .item_list{display:flex}
.event_wrap .item_box .item_list li{position:relative;width:100%}
.event_wrap .item_box .item_list li img{width:100%;height:100%}

.event_wrap .item_box .item_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .item_box .item_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 3px;background:#cccbc9;border-radius:100px;transition:0.3s}
.event_wrap .item_box .item_pagination .dot.dot_active{background:#9bd318}
.event_wrap .item_box .item_pagination .dot2.dot_active2{background:#9bd318}
.event_wrap .item_box .item_pagination .dot3.dot_active3{background:#9bd318}
.event_wrap .item_box .item_pagination .dot4.dot_active4{background:#9bd318}
.event_wrap .item_box .item_pagination .dot a{display:block;width:100%;height:100%}

.item_box .item_btn button{position:absolute;width:9vw;height:9vw;top:41%;color:#fff;border:0;border-radius:100px;background:rgba(0, 0, 0, .4);cursor:pointer;touch-action:none}
.item_box .item_btn .prev{left:2px}
.item_box .item_btn .next{right:2px}

.event_wrap .slide_box{top:62.0833vw}
.event_wrap .slide_box2{top:260vw}
.event_wrap .slide_box3{top:453.8888vw}
.event_wrap .slide_box4{top:647.5vw}
