@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:914px;left:-1px;width:377px;height:45px}
.event_wrap .btn_lnk2{top:914px;left:396px;width:377px;height:45px}
.event_wrap .btn_lnk3{top:914px;left:793px;width:377px;height:45px}
.event_wrap .btn_lnk4{top:0;left:0;right:0;height:100%}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* 라인업 slide */
.event_wrap .item_box{position:absolute;top:0px;left:0;width:377px;padding-bottom:28px;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .item_box .item_list{display:flex}
.event_wrap .item_box .item_list li{position:relative;width:100%;height:377px}
.event_wrap .item_box .item_list li img{display:block;width:100%;height:100%;margin:0 !important}

.event_wrap .item_box .item_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .item_box .item_pagination .dot{display:inline-block;width:12px;height:12px;margin:0 3px;background:#cccbc9;border-radius:100px;transition:0.3s}
.event_wrap .item_box .item_pagination .dot.dot_active{background:#9bd318}
.event_wrap .item_box .item_pagination .dot2.dot_active2{background:#9bd318}
.event_wrap .item_box .item_pagination .dot3.dot_active3{background:#9bd318}
.event_wrap .item_box .item_pagination .dot a{display:block;width:100%;height:100%}

.item_box .item_btn button{position:absolute;width:36px;height:36px;top:44%;color:#fff;border:0;border-radius:100px;background:rgba(0, 0, 0, .4);cursor:pointer;touch-action:none}
.item_box .item_btn .prev{left:3px}
.item_box .item_btn .next{right:3px}

.event_wrap .slide_box{top:411px;left:-1px}
.event_wrap .slide_box2{top:411px;left:396px}
.event_wrap .slide_box3{top:411px;left:793px}