@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .p_evt_tit{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200316/img/p_evt_tit.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_sec2{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200316/img/p_evt_sec2.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_sec3{background-color:#3f9777}
.event_wrap .p_evt_sec4{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200316/img/p_evt_sec4.jpg) 50% 0 repeat-x}
.event_wrap .p_evt_sec5{background:#49a885 url(https://www.pulmuoneshop.co.kr/upload/images/event/20200316/img/p_evt_sec5.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_sec8{background-color:#49a885}

.event_wrap .evt_apply_wrap{position:absolute;top:20%;right:0;left:0;bottom:30.875%;text-align:center;}
.event_wrap .input_check_wrap{display:inline-block;position:relative;margin-left:22px;font-size:0;}
.event_wrap .input_check_wrap:first-child{margin-left:0;}
.event_wrap .input_check{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:32px;padding-right:4px;font-size:21px;color:#333;font-weight:600;line-height:27px;vertical-align:top;cursor:pointer;}
.event_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;}
.event_wrap .input_check+label:before{display:inline-block;width:28px;height:28px;margin:2px 4px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200316/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 100%}
.event_wrap .btn_apply{left:0;bottom:10%;width:100%;height:60%;cursor:pointer}

.event_wrap .evt_apply2{top:10%;bottom:42.9012345%}
.event_wrap .evt_apply2 .input_check+label{color:#fff}
.event_wrap .evt_apply2 .input_check+label:before{background-position:100% 0}
.event_wrap .evt_apply2 .input_check:checked+label:before{background-position:100% 100%}
.event_wrap .evt_apply2 .btn_apply{bottom:0}

.event_wrap .btn_more1{top:0;left:0;width:50%;height:100%}
.event_wrap .btn_more2{top:0;right:0;width:50%;height:100%}

.event_wrap .btn_lnk1{position:absolute;top:51.5%;left:7%;width:13.5%;height:2%}
.event_wrap .btn_lnk2{position:absolute;top:51.5%;left:20.5%;width:13.5%;height:2%}

/* notice */
.event_wrap .evt_notice{padding:68px 30px 60px 120px;background:#3f9777}
.event_wrap .notice_list{margin-top:25px}
.event_wrap .notice_list li{position:relative;margin-top:10px;padding-left:11px;font-size:22px;font-weight:500;color:#fff;letter-spacing:-2px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;content:''}

/* mobile device */
.mevt_wrap{width:100%;max-width:720px;margin:0 auto;}
.mevt_wrap .evt_section, .mevt_wrap .evt_notice{max-width:720px}
.mevt_wrap .evt_apply_wrap{margin-top:-10px;top:0;right:0;left:0;bottom:42.613636%}
.mevt_wrap .input_check_wrap{margin-left:0;font-size:0;}
.mevt_wrap .input_check+label{font-size:15px;line-height:36px}
.mevt_wrap .input_check+label:before{width:28px;height:28px;background-size:200% auto}
.mevt_wrap .btn_apply{bottom:0;height:58%}
.mevt_wrap .btn_more1{top:15%;width:100%;height:42%}
.mevt_wrap .btn_more2{top:auto;bottom:0;width:100%;height:40%}
.mevt_wrap .evt_apply2{top:18.5614849%;bottom:34.88372%}
.mevt_wrap .input_check+label:before{background-position:0 2px}
.mevt_wrap .evt_apply2 .input_check+label:before{background-position:100% 2px}
.mevt_wrap .evt_apply2 .input_check:checked+label:before{background-position:100% 100%}

.mevt_wrap .btn_lnk1{top:49.5%;left:16%;width:24%;height:2%}
.mevt_wrap .btn_lnk2{top:49.5%;left:40.5%;width:24%;height:2%}

/* notice */
.mevt_wrap .evt_notice{padding:0 20px}
.mevt_wrap .notice_list{margin:0;padding:25px 0;border-top:2px solid #fff;border-bottom:1px solid #79b6a0}
.mevt_wrap .notice_list{margin-top:16px}
.mevt_wrap .notice_list li{margin-top:1px;padding-left:10px;font-size:12px;color:#fff;letter-spacing:-.5px;line-height:1.6}
.mevt_wrap .notice_list li:before{left:3px;top:8px;width:2px;height:2px}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:697px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:42px;height:42px;}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:57px 47px 54px}
.layer_popup_contents .popup_tit{display:block;padding:8px 0 13px;border-top:4px solid #000;border-bottom:1px solid #c1c1c1;font-size:30px;color:#333;line-height:1.4}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;font-weight:500;color:#333;text-align:center;letter-spacing:-1px;line-height:1.4;}
.layer_popup_contents .popup_txt .point{display:block;font-size:20px;font-weight:600;color:#333}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
 
.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .u_btn{display:inline-block;width:118px;height:48px;margin:0 2px;font-size:20px;font-weight:600;color:#333;border:1px solid #dedede;background-color:#dedede;line-height:46px;vertical-align:middle;border-radius:0;-webkit-border-radius:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .btn_area .btn_agree{background:#d72f2f;color:#fff}
/* .layer_popup_wrap .input_check_wrap{display:inline-block;position:relative;margin-left:5px;font-size:0;text-align:center;}
.layer_popup_wrap .input_check{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.layer_popup_wrap .input_check+label{display:inline-block;position:relative;width:118px;height:48px;background:#d72f2f;font-size:20px;color:#fff;font-weight:600;line-height:46px;vertical-align:middle;cursor:pointer;}
.layer_popup_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */

/* img lypop */
.img_type_wrap .layer_inner_wrap{width:670px}
.img_type_wrap .img{display:block;width:100%}
.img_type_wrap .img img{width:100%}

@media all and (max-width:720px){
    .layer_popup_wrap .layer_inner_wrap{width:320px;margin:0}
    .layer_popup_wrap .btn-layerClose{top:-46px;right:0;z-index:120;width:auto}
    .layer_popup_wrap .btn-layerClose img{width:30px;height:30px;}

    .layer_popup_contents .layer_popup_content{padding:39px 15px 42px}
    .layer_popup_contents .popup_tit{padding:4px 0 2px;border-top-width:2px;font-size:23px}
    .layer_popup_contents .popup_txt{font-size:14px;word-break:keep-all;}
    .layer_popup_contents .popup_txt .point{font-size:16px;color:#333;}

    .layer_popup_wrap .btn_area a.u_btn,.layer_popup_wrap .btn_area .btn_agree{width:91px;height:37px;font-size:14px;line-height:37px}
    .layer_popup_wrap .swiper-container{overflow:hidden;z-index:100}
    .layer_popup_wrap .swiper-container img{width:100%;}
    .layer_popup_wrap .swiper-container .swiper-pagination{position:absolute;left:0px;bottom:0;width:100%;height:30px;line-height:30px}
    .layer_popup_wrap .swiper-container .swiper-pagination-bullet{width:10px;height:10px;margin:0 3px;background:#bcc4df;border-radius:5px;-webkit-transition:.3s ease-out;transition:.3s ease-out}
    .layer_popup_wrap .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{width:25px;height:10px;background:#f06621;border-radius:8px;-webkit-border-radius:8px;}
}
