@charset "utf-8";

.evt_wide_wrap,
.event_wrap .evt_section,
.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* video */
.event_wrap .video_wrap{position:absolute;top:36.732186%;right:4.166666%;left:4.166666%;bottom:17.567567%}
.event_wrap .video_wrap video{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{top:83%;left:33%;width:34%;height:6%}

.event_wrap .items_list{position:absolute;top:9%;left:4%;width:92%;height:87.7%;font-size:0}
.event_wrap .items_list li{width:100%;height:25%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:23px 5.555555% 41px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
