@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 auto;vertical-align:top}

/* video */
.event_wrap .video_wrap{position:absolute;top:266px;right:168px;bottom:148px;left:168px;}
.event_wrap .video_wrap video{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{top:84%;left:41%;width:18%;height:6%}

.event_wrap .items_list{position:absolute;top:14%;left:8.6%;width:82.8%;height:80.4%;font-size:0}
.event_wrap .items_list li{display:inline-block;width:33.333%;height:66%}
.event_wrap .items_list li:first-child{display:block;width:100%;height:34%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#e0e3ea}
.event_wrap .evt_notice{padding:50px 98px 80px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

