@charset "utf-8";

/* reset */
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* tab */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_lnk{position:absolute;top:54.7%;left:33.6%;width:32.9%;height:23%}
.desktop .fb__event .event__stamp ul.benefit_list{position:absolute;top:43%;right:10%;left:10%;bottom:27%;width:auto;height:auto;margin:0;padding:0;border:0;font-size:0}
.desktop .fb__event .event__stamp ul.benefit_list li{display:inline-block;width:33.33334%;height:50%;margin:0}
.desktop .fb__event .event__stamp ul.benefit_list li:first-child{display:block;width:100%;padding-left:50%;box-sizing:border-box}
.desktop .fb__event .event__stamp ul.benefit_list a{display:block;width:100%;height:100%}
.desktop .fb__event .event__stamp ul.benefit_list li.item1{width:100%;height:100%;padding:0}

.event_wrap .benefit_list{position:absolute;top:43%;right:10%;left:10%;bottom:27%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{display:inline-block;width:33.33334%;height:50%}
.event_wrap .benefit_list li:first-child{display:block;width:100%;padding-left:50%;box-sizing:border-box}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}
.event_wrap .benefit_list li.item1{width:100%;height:100%;padding:0}

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:50%;z-index:-1;min-width:1920px;width:100%;height:100%;background:#f2e4d4;transform:translate(-50%,0);content:''}
.event_wrap .evt_notice{padding:100px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{display:block;width:auto;margin:0;padding:12px 20px 33px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:12px 20px 33px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}


