@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/p_sec1_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec3:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/p_sec3_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/p_sec3_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{padding-bottom:98px;background:#f3f3f3}


/* info */
.event_wrap .logo{display:block;width:154px;height:26px;margin-left:3px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/img_logo.png) 0 0 no-repeat;font-size:1px;color:transparent}
.event_wrap em{font-weight:600}
.event_wrap .authority_step{margin-top:16px}
.event_wrap .authority_step > li{position:relative;min-height:163px;padding-left:179px;margin-top:2px}
.event_wrap .authority_step .title{position:absolute;top:0;left:0;width:179px;height:100%;padding:54px 0 0 22px;font-size:18px;font-weight:600;color:#333;line-height:26px;box-sizing:border-box}
.event_wrap .authority_step .point{display:block;color:#fff}
.event_wrap .authority_step .step1 .title{background-color:#80c342;border-top-left-radius:28px}
.event_wrap .authority_step .step2 .title{background-color:#009233}
.event_wrap .authority_step .desc{min-height:163px;padding:54px 48px 67px;background:#fff;font-size:18px;color:#333;box-sizing:border-box;}
.event_wrap .authority_step .step2 .desc{padding-bottom:33px;border-bottom-right-radius:28px}
.event_wrap .info_wrap{margin-top:27px}
.event_wrap .info_title{display:inline-block;padding:0 18px;background:#80c342;font-size:18px;font-weight:600;color:#fff;line-height:36px;border-radius:20px}
.event_wrap .info_text{margin-top:22px;font-size:16px;color:#333;line-height:26px}
.event_wrap .info_list{margin-top:10px}
.event_wrap .info_list li{position:relative;padding-left:31px;font-size:16px;color:#333;line-height:34px}
.event_wrap .info_list .num{display:inline-block;position:absolute;top:50%;left:0;width:26px;height:26px;margin-top:-13px;background:#c6c6c6;font-size:14px;color:#fff;line-height:26px;text-align:center;border-radius:50%}

/* counon info */
.event_wrap .coupon_list{margin-top:1px}
.event_wrap .coupon_list .coupon_item{padding:26px 0 26px;border-top:1px solid #e0e0e0;font-size:0}
.event_wrap .coupon_list .coupon_item:first-child{border:0}
.event_wrap .coupon_list .coupon_img{display:inline-block;max-width:184px;vertical-align:top}
.event_wrap .coupon_list .coupon_img img{width:100%}
.event_wrap .coupon_list .coupon_area{display:inline-block;max-width:560px;margin:0;padding:0 20px;height:auto;text-align:left;box-sizing:border-box}
.event_wrap .coupon_list .coupon_title{display:block;margin-top:3px;font-size:18px;font-weight:600;color:#333}
.event_wrap .coupon_list .coupon_info{margin-top:17px}
.event_wrap .coupon_list .coupon_info li{position:relative}
.event_wrap .coupon_list .coupon_info p{position:relative;padding-left:73px;font-size:16px;color:#333;line-height:26px}
.event_wrap .coupon_list .coupon_info .point{display:inline-block;position:absolute;top:0;left:0;width:70px;font-size:16px;font-weight:600;color:#333}
.event_wrap .coupon_list .coupon_info .point:before{display:inline-block;width:3px;height:3px;margin:-3px 3px 0 0;background:#333;vertical-align:middle;content:''}

/*  */
.event_wrap .p_evt_sec3 .info_wrap{position:absolute;top:101px;left:2px;margin:0}

/* more button */
.event_wrap .btn{position:absolute;top:62%;left:14.3%;width:260px;height:9%;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_wrap{text-align:center}
.event_wrap .btn_apply{display:inline-block;height:80px;margin:50px auto 0;padding:0 18px 0 49px;background:#e15441;font-size:24px;font-weight:600;color:#fff;line-height:78px;border-radius:70px}
.event_wrap .btn_apply:after{display:inline-block;width:39px;height:39px;margin:-5px 0 0 21px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/ico_arrow.png) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''}
.event_wrap .btn_lnk{position:absolute;border:0;left:31.1111111%;bottom:2.5%;width:37.5%;height:21%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{margin-top:100px;padding-top:13px;border-top:4px solid #000;border-bottom:1px solid #cdcdcd}
.event_wrap .notice_title{display:block;position:relative;padding-left:32px;font-size:22px;font-weight:600;color:#221f1f;line-height:31px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:4px;width:24px;height:24px;margin-top:-10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_member_authority/img/ico_notice.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{margin-top:20px;padding:21px 0 23px;border-top:1px solid #cdcdcd}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:16px;color:#221f1f;line-height:31px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:5px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}
