@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;;box-sizing:border-box}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

/* bg */
.event_wrap .p_evt_noti{background:#1e6f40}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:86%;left:6%;width:88%;height:14%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_wrap{position:relative}
.event_wrap .btn_coupon{top:52.06449075%;left:17.5%;width:65%;height:3.77506881%;padding:0}
.event_wrap .btn_buy{top:56.62603224%;left:17.5%;width:65%;height:3.77506881%}
.event_wrap .btn_download{top:54.1009463%;left:23.8888888%;width:52%;height:6.4668769%;padding:0}

/* animation */
.event_wrap .img_fade{position:absolute;top:0;left:0;width:100%;height:auto}
.event_wrap .img_fade img{display:block;width:100%;height:100%}
.event_wrap .img_bg{position:absolute;top:0;left:0;width:100%;height:auto}
.event_wrap .img_bg img{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:37px 5.555555%}
.event_wrap .notice_title{display:block;position:relative;padding-left:32px;font-size:19px;font-weight:600;color:#fff;line-height:27px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:2px;width:23px;height:23px;margin-top:-10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202106/0601_best_award/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{margin-top:10px}
.event_wrap .notice_list li{position:relative;padding-left:5px;font-size:12px;font-weight:300;color:#fff;line-height:22px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* items */
.event_wrap .btn_item1{top:16%;left:18%;width:64%;height:27%}
.event_wrap .btn_item2{top:45%;left:4%;width:43%;height:20%}
.event_wrap .btn_item3{top:45%;left:53%;width:43%;height:20%}
.event_wrap .btn_item4{top:72.5%;left:5%;width:89%;height:10.5%}
.event_wrap .btn_item5{top:83%;left:5%;width:89%;height:10.5%}

.event_wrap .p_evt_sec3 .btn_item4{top:71.5%}
.event_wrap .p_evt_sec3 .btn_item5{top:82%}
