@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:#106635 url(https://www.pulmuoneshop.co.kr/upload/images/event/202106/0601_best_award/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:#106635 url(https://www.pulmuoneshop.co.kr/upload/images/event/202106/0601_best_award/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#106634}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#1e6f40}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f4f4f4}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#ececec}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#f4f4f4}
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:#ececec}
.event_wrap .p_evt_sec6,.event_wrap .p_evt_sec6:before,.event_wrap .p_evt_sec6:after{background:#f4f4f4}
.event_wrap .p_evt_sec7,.event_wrap .p_evt_sec7:before,.event_wrap .p_evt_sec7:after{background:#106634}
.event_wrap .p_evt_sec8,.event_wrap .p_evt_sec8:before,.event_wrap .p_evt_sec8:after{background:#ececec}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:89.5%;left:0;width:100%;height:10.5%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.333333%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_wrap{position:relative}
.event_wrap .btn_coupon{top:527px;left:43px;width:206px;height:60px;padding:0}
.event_wrap .btn_buy{top:527px;left:262px;width:206px;height:60px}
.event_wrap .btn_download{top:442px;left:686px;width:206px;height:58px;padding:0}

/* animation */
.event_wrap .img_fade{position:absolute;top:0;right:0;left:0;height:568px}
.event_wrap .img_fade img{display:block;width:100%;height:100%}
.event_wrap .img_bg{position:absolute;top:264px;right:30px;width:550px;height:111px;}
.event_wrap .img_bg img{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:35px 0 34px}
.event_wrap .notice_title{display:block;position:relative;padding-left:38px;font-size:22px;font-weight:600;color:#fff;line-height:31px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:4px;width:25px;height:25px;margin-top:-12px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202106/0601_best_award/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{margin-top:10px}
.event_wrap .notice_list li{position:relative;padding-left:17px;font-size:16px;font-weight:300;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:5px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* items */
.event_wrap .btn_item1{top:21%;left:35%;width:308px;height:41%}
.event_wrap .btn_item2{top:28%;left:1%;width:308px;height:34%}
.event_wrap .btn_item3{top:28%;left:69%;width:308px;height:34%}
.event_wrap .btn_item4{top:71%;left:0;width:510px;height:18%}
.event_wrap .btn_item5{top:71%;left:50%;width:510px;height:18%}
