@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .btn{position:absolute;padding:0;border:0;background:url(about:blank) 0 0 no-repeat;}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

/* bg */
.event_wrap .p_evt_sec3{padding-bottom:57px;background:#fff}
.event_wrap .p_evt_sec4{padding-bottom:57px;background:#f4f4f4}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:62%;left:3.3%;width:93%;height:32%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:50%;height:50%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* prd items */
.event_wrap .product_list{position:absolute;top:0;left:4.3333%;width:91.3333%;height:80%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:50%;height:50%}
.event_wrap .product_list a{display:block;width:100%;height:100%}

/* btn */
.event_wrap .btn_view{left:4.3333%;bottom:8.7%;width:91.3333%;height:7%}
.event_wrap .btn_coupon{top:67%;left:25%;width:50%;height:10.5%}
.event_wrap .btn_apply1{top:50.5%;left:25%;width:50%;height:3.9%}
.event_wrap .btn_apply2{top:90.5%;left:25%;width:50%;height:3.9%}

/* notice */
.event_wrap .evt_notice{padding:0 4.444444%}
.event_wrap .notice_title{display:block;margin-top:5px;font-size:13px;font-weight:500;color:#666}
.event_wrap .notice_list{margin-top:2px}
.event_wrap .notice_list li{position:relative;padding-left:6px;color:#666;font-size:13px;font-weight:300;line-height:19px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:1px;width:2px;height:2px;background-color:#666;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:40px;border-top:2px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:13px;color:#373737;text-align:center;line-height:42px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:15px}
.layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
.layer_popup_contents{height:auto;padding:0 15px 23px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:15px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:75px;height:29px;font-size:12px;color:#fff;border:1px solid #71a715;background:#85b81f}
