@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;box-sizing:border-box}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background-color:#f4f4f4;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background-color:#f4f4f4;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202104/0406_1day_1care/img/bg_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202104/0406_1day_1care/img/bg_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#eae8e5}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{padding-bottom:93px;background:#fff}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{padding-bottom:93px;background:#f4f4f4}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:68%;left:2%;width:97%;height:16%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:25%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* prd items */
.event_wrap .product_list{position:absolute;top:0;left:0;width:100%;height:80%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:50%;height:50%}
.event_wrap .product_list a{display:block;width:100%;height:100%}

/* btn */
.event_wrap .btn_view{left:18%;bottom:8.7%;width:64%;height:7%}
.event_wrap .btn_coupon{top:68%;left:32.3%;width:35.3%;height:11.6%}
.event_wrap .btn_apply1{top:84.7%;left:6%;width:36%;height:7%}
.event_wrap .btn_apply2{top:84.7%;right:6%;width:36%;height:7%}

/* notice */
.event_wrap .evt_notice{padding:0 32px}
.event_wrap .notice_title{display:block;margin-top:13px;font-size:20px;font-weight:500;color:#666}
.event_wrap .notice_list{margin-top:8px}
.event_wrap .notice_list li{position:relative;padding-left:13px;color:#666;font-size:20px;font-weight:300;letter-spacing:-1px;line-height:34px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:1px;width:3px;height:3px;background-color:#666;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}
