@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#e8ece9;}
.event_wrap .p_evt_sec2 .evt_section {position: relative;}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top: 19.4444vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}


/* button */
.event_wrap .btn{position:absolute;top:0;left:25%;right:25%;border:0;padding:0}
.event_wrap .btn_lnk1{height:30%}
.event_wrap .btn_all_coupon{position: relative;width: 66.666vw;height: 13.194vw;left: 50%;transform: translateX(-50%);line-height: 13.194vw;padding-right: 8vw;margin: 0;background: #111;font-size: 4.166vw;font-weight: 700;color: #fff;letter-spacing: -.3px;border-radius: 100px;}
.event_wrap .btn_all_coupon:before {position: absolute;top: 4.6vw;left: 44.8vw;width: 5vw;height: 3.6vw;background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down_white.svg) 0 0 no-repeat;background-size: 100%;content: '';}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/* 쿠폰리스트 */
.event_wrap .coupon_list ul {padding:0 5vw;display:flex;flex-wrap:wrap;gap:2.7778vw}
.event_wrap .coupon_list li{display:flex;flex:1 1 47%}
.event_wrap .coupon_item {position:relative;width:100%}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 101% 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw; letter-spacing: -0.2083vw;}

.event_wrap .coupon_item_btn{position: relative;display: inline-block;width: 43.6111vw;line-height: 9.28vw;left: 50%;transform: translateX(-50%);border: 2px solid #ddd !important;border-radius: 4px;background: #fff !important;color: #333;font-size: 3.88vw !important;font-weight: 500;letter-spacing: -.35vw;margin-top: 5.5556vw;box-sizing: border-box;}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center;padding-top:11.1111vw}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#232323}
.event_wrap .coupon_desc span:before{content:'·';margin-right:1vw}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 2.777vw;margin:0 5.555vw}
.event_wrap .product_list li{flex:1 1 48%}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list.list1{position:absolute;top:44.4444vw;z-index:2}
.event_wrap .product_list.list2{position:absolute;top:2.7778vw}

.event_wrap .product_img{display:block;overflow:hidden;width:43.055vw;height:43.055vw;background:#fff;border-radius:1.6666vw}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 6vw}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#e8ece9;}
.event_wrap .evt_notice{padding:0 5.5556vw 22.2222vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5556vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:2px solid rgba(196,199,197,.2);border-bottom:2px solid rgba(196,199,197,.2);}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#f9f0db url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/evt_sec3_bg.jpg) 100% 100%/100%}
.event_wrap .noti2 .notice_title{border-top:2px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/0904/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .noti2 .notice_list{border-top:2px solid rgba(196,199,197,.2);border-bottom:2px solid rgba(196,199,197,.2)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 28.3889vw !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/evt_sec3_btn_bg.jpg) 0 100%/100% !important}
.mobile .fb .event .reply__join-btn button{ width:100%; height:9.1667vw; font-size:0; background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/evt_sec3_btn.png) 0 100%/100% no-repeat; line-height:0; border-radius:0;}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden;}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .motion1 { animation:fade 1.2s ease-in-out both; -webkit-animation:fade 1.2s ease-in-out both; }
.motion_box .text1{width: 36.9444vw; top: 22.2222vw; left: 50%; z-index: 1; margin-left: -18.4722vw;}
.motion_box .text2{width: 3.4722vw; top: 23.6111vw;right: 26.3889vw;z-index: 1; animation-delay:0.8s !important;}
.motion_box .text3{width: 54.1667vw; top: 45.1389vw;left: 50%;z-index: 1; margin-left: -27.0833vw; animation-delay:1.6s !important;}
@-webkit-keyframes fade {
  0% {
      opacity: 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
}
  100% {
      opacity: 1;
      filter: blur(0px);
      -webkit-filter: blur(0px);
  }
}

@keyframes fade {
  0% {
      opacity: 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
}
  100% {
      opacity: 1;
      filter: blur(0px);
      -webkit-filter: blur(0px);
  }
}
.motion_box .motion2 { animation:fadeObj 7s ease-in-out infinite both; -webkit-animation:fadeObj 7s ease-in-out infinite both; }
.motion_box .item{bottom: -13.8889vw;left:0;z-index:3; width: 33.3333vw;}
.motion_box .item1{top:59.7222vw;left:0;z-index:2; animation-delay:0.6s !important; width: 59.0278vw;}
.motion_box .item2{top:63.8889vw;right:0;z-index:1;animation-delay:0.9s !important; width: 56.9444vw;}
.motion_box .item2_2{top:63.8889vw;right:0;z-index:10;animation-delay:0.9s !important; width: 56.9444vw}
.motion_box .item3{top:48.6111vw;left:0;z-index:1; animation-delay:1.2s !important; width: 48.0556vw;}
.motion_box .item4{bottom:0; left:0;z-index:2; animation-delay:5.1s !important; width: 54.8611vw;}
.motion_box .item5{top: 36.1111vw;left:0;z-index:1; animation-delay:5.4s !important; width: 63.1944vw;}
.motion_box .item6{bottom: -11.1111vw; right:0;z-index:3; animation-delay:5.7s !important; width: 61.1111vw;}
.motion_box .item7{bottom: -11.1111vw; right:0;z-index:3; animation-delay:6s !important; width: 34.7222vw;}
@-webkit-keyframes fadeObj {
  0%, 30%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  70% {
    opacity: 1;
    animation: none;
  }
}

@keyframes fadeObj {
  0%, 30%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  70% {
    opacity: 1;
    animation: none;
  }
}

/* 스크롤 모션 */
.event_wrap :is(.p_evt_sec2) .motion_box{height:auto;}
.event_wrap .p_evt_sec2 .motion_box.object1{position: absolute;top: -12.8333vw; left: -1.3889vw;width: 34.1667vw; z-index: 1;}
.event_wrap .p_evt_sec2 .motion_box.object2{position: absolute;top: 17.4167vw;left: 76.3889vw;width: 25vw; z-index: 1;}
.motion{opacity:0}
.motion.active{ opacity:1; animation:silde-top 0.6s ease-in-out both; -webkit-animation:silde-top 0.6s ease-in-out both; }

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.delay01.active{animation-delay:0.2s}
