@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .evt_wide_wrap.p_evt_sec1:before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);margin-left:-454px;width:1168px;width:400px;height:250px;background:#e8ece9;border-radius:47px;z-index:10}
.event_wrap .evt_wide_wrap.p_evt_sec1:after{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);margin-left:454px;width:1168px;width:400px;height:250px;background:#e8ece9;border-radius:47px;z-index:10}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;width:100%;height:120px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:680px}
.event_wrap .evt_nav_wrap li:nth-child(2){width:260px}
.event_wrap .evt_nav_wrap li:nth-child(3){width:228px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:116px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/p_evt_nav_on.jpg) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:-680px 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:-940px 0}

/* button */
.event_wrap .btn{position:absolute;top:0;left:448px;right:448px;height:52px}
.fb__event-comment__join-btn {width:1168px;margin:auto;padding:60px 0 40px}
.fb__event-comment__join-btn button{display:block;margin:auto;padding:15px 132px;border-radius:8px;background:#80c342;color:#fff;font-size:16px;line-height:24px}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;top:265px;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content: center;flex-wrap:nowrap}
.event_wrap .coupon_list li{height:100%;margin:0 10px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:0}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;min-height:76px;z-index:0}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px;letter-spacing:-.5px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:35px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{position:absolute;top:530px;left:0;width:100%;text-align:center;color:#333}
.event_wrap .coupon_desc span{display:block;margin:0 5px}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* product */
.event_wrap .product_list{display:flex;position:absolute;left:40px;right:40px;margin:0 10px;box-sizing:border-box}
.event_wrap .product_list li{width:257px;margin:0 5px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list.list1{position:absolute;top:280px}
.event_wrap .product_list.list2{position:absolute;top:810px}

.event_wrap .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:250px;background:#fff;border-radius:12px}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:60px;justify-content:center;}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px;text-align:center;}
.event_wrap .product_brand {display: block;font-size: 16px;font-weight: 700;color: #333;line-height: 24px;margin-top: 10px}
.event_wrap .original{flex-basis:100%;text-align: center;}
.event_wrap .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{margin-top:4px}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:18px;font-weight:600;color:#222;margin-left:-3px}
.event_wrap .percent{margin:4px 0 0 8px}
.event_wrap .percent .num{font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{font-size:24px;font-weight:600;color:#ff7828;margin-left:-4px;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/p_evt_sec1_noti.jpg) top center no-repeat;}
.event_wrap .evt_notice{padding:60px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(117,114,108,.2);border-bottom:1px solid rgba(117,114,108,.2);}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#FBF3E0 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/p_evt_sec3_noti.jpg) top center}
.event_wrap .noti2 .evt_notice{padding: 0 40px 100px;}
.event_wrap .noti2 .notice_title{border-top:4px solid #333;color:#333;}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(117,114,108,.2) !important;border-bottom:1px solid rgba(117,114,108,.2) !important}
.event_wrap .noti2 .notice_list li{color:#65625d !important}
.event_wrap .noti2 .notice_list li:before{background-color:#333 !important}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:52px;margin:0 auto;padding:0;background:#FBF3E0 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/p_evt_sec3_1.jpg) 50% 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:266px;height:52px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion/img/0904/p_evt_sec3_btn.png) 0 0 no-repeat;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%)}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
/* .motion_box{position:absolute;min-width:1920px;height:822px;top:0;left:50%;transform:translateX(-50%);overflow:hidden;z-index:5} */
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .motion1{animation:fade 1.2s ease-in-out both;-webkit-animation:fade 1.2s ease-in-out both}
.motion_box .text1{top:168px;left:50%;z-index:1;margin-left:-132.5px}
.motion_box .text2{top:180px;right:410px;z-index:1;animation-delay:0.8s !important}
.motion_box .text3{top:330px;left:50%;z-index:1;margin-left:-156.5px;animation-delay:1.6s !important}
@-webkit-keyframes fade {
  0% {
      opacity: 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
}
  100% {
      opacity: 1;
      filter: blur(0px);
      -webkit-filter: blur(0px);
  }
}

@keyframes fade {
  0% {
      opacity: 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
}
  100% {
      opacity: 1;
      filter: blur(0px);
      -webkit-filter: blur(0px);
  }
}

.motion_box .motion2{ animation:fadeObj 9s ease-in-out infinite both; -webkit-animation:fadeObj 9s ease-in-out infinite both; }
.motion_box .item1{top:20px;left:-376px;z-index:1; animation-delay:0s !important}
.motion_box .item2{top:47px;left:-370px;z-index:2; animation-delay:0.3s !important}
.motion_box .item3{top:50px;right:-376px;z-index:1; animation-delay:0.6s !important}
.motion_box .item4{top:280px;right:-376px;z-index:2; animation-delay:0.9s !important}
.motion_box .item5{top:520px;right:-376px;z-index:20; animation-delay:1.2s !important}
.motion_box .item6{top:-70px;left:-150px;z-index:1; animation-delay:4.5s !important}
.motion_box .item7{top:70px;left:-376px;z-index:2; animation-delay:4.8s !important}
.motion_box .item8{top:370px;left:-376px;z-index:2; animation-delay:5.1s !important}
.motion_box .item9{top:105px;right:-340px;z-index:1; animation-delay:5.4s !important}
.motion_box .item10{top:210px;right:-376px;z-index:14;animation-delay:5.7s !important}
.motion_box .item11{top:380px;right:-376px;z-index:15;animation-delay:6s !important}

@-webkit-keyframes fadeObj {
  0%, 10%, 90%, 100% {
    opacity: 0;
  }
  40%, 50% {
      opacity: 1;
  }
}

@keyframes fadeObj {
  0%, 10%, 90%, 100% {
      opacity: 0;
  }
  40%, 50% {
      opacity: 1;
  }
}

/* 스크롤 모션 */
.event_wrap :is(.p_evt_sec2) .motion_box{height:auto;}
.event_wrap .p_evt_sec2 .motion_box.object1{position:absolute;top:350px;left:-376px;z-index:5}
.event_wrap .p_evt_sec2 .motion_box.object2{position:absolute;top:770px;right:-376px}
.motion{opacity:0}
.motion.active{ opacity:1; animation:silde-top 0.6s ease-in-out both; -webkit-animation:silde-top 0.6s ease-in-out both; }

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.delay01.active{animation-delay:0.2s}
