@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#146433}
.event_wrap .p_evt_sec6{background:#282d36}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:11%;right:11%;height:35%}
.event_wrap .btn_lnk2{top:0;left:0;right:0;bottom:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:50%}
.event_wrap .evt_nav_wrap li:nth-child(n+3){width:33%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:30.5555vw;z-index:50}

/* .event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 100%} */

/* 쿠폰리스트 */
.event_wrap .coupon_list{}
.event_wrap .coupon_list li{margin-bottom:5.5555vw}

/* 쿠폰 */
.event_wrap .coupon_item{position:relative;width:43.61vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0/200% no-repeat;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#666}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:48.8888vw;left:50%;transform:translate(-50%)}
.event_wrap .p_evt_sec2 .coupon_item_info{background:#fff}
.event_wrap .p_evt_sec2 .coupon_item_info:before{background-position:101% 0;background-size:200% auto}
.event_wrap .p_evt_sec2 .coupon_item_info .info_type{color:#232323}
.event_wrap .p_evt_sec2 .coupon_item_info .info_discount{color:#73c40b}
.event_wrap .p_evt_sec2 .coupon_item_info .info_name{color:#727272}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5.555vw}
.event_wrap .product_list li{width:43.055vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{position:relative;display:block;width:100%;height:43.055vw;background:#fff;border-radius:8px;overflow:hidden}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#fff;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .lspacing{letter-spacing:-1.2px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#adadad;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#fff;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#fff}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#fc6f2b;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#fc6f2b;font-family:'Lato'}
.event_wrap .product_list .tag{position:absolute;top:0;left:0;width:11.1111vw;line-height:11.1111vw;font-size:3.8888vw;font-weight:600;color:#fff;font-family:'Lato';background:#fc6f2b;border-radius:1.6666vw 0 1.6666vw 0;text-align:center}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .evt_notice{padding:8.3333vw 5.5555vw 13.8888vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#ebd6af url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/img_noti.jpg) 0 50%/100% no-repeat}
.event_wrap .noti2 .evt_notice{padding-top:0}

.event_wrap .noti3{background:#821d25 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/p_img_noti2.jpg) 0 50%/100%}

.event_wrap .noti3 .notice_title{border-top:2px solid #fff;color:#fff}
.event_wrap .noti3 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat}
.event_wrap .noti3 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti3 .notice_list li{color:#fff}
.event_wrap .noti3 .notice_list li:before{background-color:#fff}

.event_wrap .survey_desc{padding-top:5vw;text-align:center}
.event_wrap .survey_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#c35b63}
.event_wrap .survey_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 11.1111vw !important;background:#821d25 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/btn_bg.jpg) 50% 50%/100% !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:13.8888vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%;height:130.5555vw;background:linear-gradient(180deg, #3468a7, #2ea466, #a93d60);background-size:400% 400%;background-position:0;animation:gradient 10s ease infinite both}
.event_wrap .p_evt_tit:after{position:absolute;width:100%;height:50%;top:0;left:0;right:0;background:linear-gradient(#0e2335 5%, transparent);content:''}
@keyframes gradient {
  0%, 100% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
}

.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_bg{z-index:12}
.motion_box .object_title{width:80.8333vw;top:11.1111vw;left:50%;transform:translateX(-50%)}
.motion_box .object_bg1{width:100vw;top:52vw;left:0;z-index:0}
.motion_box .object_bg2{width:33.3vw;top:83vw;left:-1vw;z-index:13}
.motion_box .object_bg3{width:36.2vw;top:89vw;right:1vw;z-index:13}
.motion_box .object_bg4{width:58.3vw;top:107.5vw;left:33vw;z-index:15}
.motion_box .object_brow1{width:7.7777vw;top:65.5vw;left:36vw;z-index:13}
.motion_box .object_brow2{width:7.7777vw;top:65.5vw;left:56vw;z-index:13}
.motion_box .object_eye1{width:5vw;top:72.5vw;left:38.2vw;z-index:13}
.motion_box .object_eye2{width:5vw;top:72.5vw;left:58.2vw;z-index:13}
.motion_box .object1{width:9.5vw;top:77.7vw;left:18vw;-webkit-animation-delay:0.1s !important;animation-delay:0.1s !important;z-index:12}
.motion_box .object2{width:22.5vw;top:83.5vw;right:13vw;-webkit-animation-delay:0.6s !important;animation-delay:0.6s !important;z-index:12}
.motion_box .object3{width:36vw;top:102vw;left:39.5vw;-webkit-animation-delay:1s !important;animation-delay:1s !important;z-index:14}
.motion_box .object4{width:100vw;bottom:0;left:0;z-index:15}


.motion_box .motion1{-webkit-animation:wobble-hor-bottom 2.6s 1.4s infinite both;animation:wobble-hor-bottom 2.6s 1.4s infinite both}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}

.motion_box .motion2{-webkit-animation:bounce-up 2s 0s ease-in-out infinite both;animation:bounce-up 2s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(10px);
            transform:translateY(10px);
  }
}
@keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(10px);
            transform:translateY(10px);
  }
}

.motion_box .motion3{-webkit-animation:bounce-left 2s 0.4s ease-in-out infinite both;animation:bounce-left 2s 0.4s ease-in-out infinite both}
@-webkit-keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-8px);
            transform:translateX(-8px);
  }
}
@keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-8px);
            transform:translateX(-8px);
  }
}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:58vw;left:5.6vw;right:5.6vw;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:10vw;z-index:10}
.event_wrap .dday_count > span{display:block;width:19.4444vw}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .evt_lottie{position:absolute;width:150vw;height:100vw;top:-20vw;left:-10vw;right:0;z-index:-1}
.event_wrap .evt_lottie3{position:absolute;width:200vw;height:120vw;top:-10vw;right:-10vw;right:0;z-index:-1}
.event_wrap .p_evt_sec6{height:92.7777vw;overflow:hidden}
.event_wrap .p_evt_sec6 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:160vw;height:100vw;top:-10vw;left:-5vw;right:0;z-index:0}
