@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#146433}
.event_wrap .p_evt_sec6{background:#282d36}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:26%;right:26%;height:100px}
.event_wrap .btn_lnk2{top:17%;left:0;right:0;bottom:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:125px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60;-moz-transform:translate3d(-50%,0px,0px);-ms-transform:translate3d(-50%,0px,0px);-o-transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{position:absolute;top:820px;left:50%;margin-left:0;padding-top:160px}

/* .event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-272px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-544px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-816px 0} */

/* 쿠폰리스트 */
.event_wrap .coupon_list{padding-bottom:80px}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;gap:0 8px}

/* 쿠폰 */
.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:1}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;min-height:76px;z-index:1}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-1px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{margin-top:30px;text-align:center}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#333}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:109px;right:80px}
.event_wrap .p_evt_sec2 .coupon_item_info{background:#fff;}
.event_wrap .p_evt_sec2 .coupon_item_info:before{background-position:-86px 0}
.event_wrap .p_evt_sec2 .coupon_item_info .info_type{color:#232323}
.event_wrap .p_evt_sec2 .coupon_item_info .info_discount{color:#73c40b}
.event_wrap .p_evt_sec2 .coupon_item_info .info_name{color:#727272}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 16px}
.event_wrap .product_list li{width:280px;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:280px;background:#fff;border-radius:8px;overflow:hidden}
.event_wrap .product_list .product_img img{position:relative;height:100%;margin:0 !important}
.event_wrap .product_list .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:56px}
.event_wrap .product_list .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#fff;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px;letter-spacing:-1.2px}
.event_wrap .product_list .original{flex-basis:100%}
.event_wrap .product_list .original del{font-size:18px;color:#adadad;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_list .sale{margin-top:4px}
.event_wrap .product_list .sale ins{font-size:24px;font-weight:600;color:#fff;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_list .sale .won{font-size:18px;font-weight:500;color:#fff;margin-left:-4px}
.event_wrap .product_list .percent{margin:4px 0 0 8px}
.event_wrap .product_list .percent .num{font-size:24px;font-weight:600;color:#fc6f2b;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:24px;font-weight:600;color:#fc6f2b;margin-left:-4px;font-family:'Lato'}
.event_wrap .product_list .tag{position:absolute;top:0;left:0;width:64px;line-height:64px;font-size:24px;font-weight:600;color:#fff;font-family:'Lato';background:#fc6f2b;border-radius:8px 0 8px 0;text-align:center}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .evt_notice{padding:0 40px 70px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{min-height:482px;background:#ebd6af url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/p_img_noti.jpg) top center no-repeat}
.event_wrap .noti2 .evt_notice{padding:0 80px}

.event_wrap .noti3{background:#821d25 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/p_img_noti2.jpg) top center}
.event_wrap .noti3 .evt_notice{padding:80px 40px 26px}
.event_wrap .noti3 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti3 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti3 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti3 .notice_list li{color:#fff}
.event_wrap .noti3 .notice_list li:before{background-color:#fff}

.event_wrap .survey_desc{padding-top:40px;text-align:center}
.event_wrap .survey_desc span{display:block;margin:0 5px;font-size:16px;color:#c35b63}
.event_wrap .survey_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:100px;margin:0 auto;padding:0;background:#FBF3E0 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/p_btn_bg.jpg) 50% 0}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:560px;height:100px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1201_fulstmas/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%;height:980px;background:linear-gradient(180deg, #3468a7, #2ea466, #a93d60);background-size:400% 400%;background-position:0;animation:gradient 10s ease infinite both}
.event_wrap .p_evt_tit:after{position:absolute;width:100%;height:50%;top:0;left:0;right:0;background:linear-gradient(#0e2335 5%, transparent);content:''}
@keyframes gradient {
  0%, 100% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 100%;
  }
}

.motion_box{position:absolute;min-width:1920px;height:980px;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:10}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_bg{position:relative;z-index:12}
.motion_box .object_title{top:79px;left:50%;transform:translateX(-50%)}
.motion_box .object_bg1{top:350px;left:100px;z-index:-1}
.motion_box .object_bg2{top:435px;right:20px;z-index:-1}
.motion_box .object_bg3{top:748px;left:360px;z-index:13}
.motion_box .object_bg4{top:726px;right:326px;z-index:13}
.motion_box .object_brow1{top:487px;left:840px;z-index:13}
.motion_box .object_brow2{top:487px;left:1020px;z-index:13}
.motion_box .object_eye1{top:552px;left:860px;z-index:13}
.motion_box .object_eye2{top:552px;left:1040px;z-index:13}
.motion_box .object1{top:340px;left:60px;-webkit-animation-delay:0.1s !important;animation-delay:0.1s !important}
.motion_box .object2{top:586px;left:480px;-webkit-animation-delay:0.6s !important;animation-delay:0.6s !important;z-index:12;}
.motion_box .object3{top:470px;right:335px;-webkit-animation-delay:1s !important;animation-delay:1s !important}
.motion_box .object4{top:650px;right:388px;-webkit-animation-delay:1.4s;animation-delay:1.4s;z-index:12;}

.motion_box .motion1{-webkit-animation:wobble-hor-bottom 2.6s 1.4s infinite both;animation:wobble-hor-bottom 2.6s 1.4s infinite both}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}

.motion_box .motion2{-webkit-animation:bounce-up 2s 0s ease-in-out infinite both;animation:bounce-up 2s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(20px);
            transform:translateY(20px);
  }
}
@keyframes bounce-up {
  0%, 17%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  8% {
    -webkit-transform:translateY(20px);
            transform:translateY(20px);
  }
}

.motion_box .motion3{-webkit-animation:bounce-left 2s 0.4s ease-in-out infinite both;animation:bounce-left 2s 0.4s ease-in-out infinite both}
@-webkit-keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-14px);
            transform:translateX(-14px);
  }
}
@keyframes bounce-left {
  0%, 17%, 100% {
    -webkit-transform:translateX(0px);
            transform:translateX(0px);
  }
  8% {
    -webkit-transform:translateX(-14px);
            transform:translateX(-14px);
  }
}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:412px;left:264px;right:264px;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:80px;z-index:10}
.event_wrap .dday_count > span{display:block;width:140px}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .evt_lottie{position:absolute;width:100%;height:100%;top:0;left:15%;z-index:-1}
.event_wrap .evt_lottie3{position:absolute;width:100%;height:100%;top:0;left:-20%;z-index:-1}
.event_wrap .evt_lottie4{position:absolute;width:100%;height:100%;top:-10%;left:0;z-index:-1}
.event_wrap .p_evt_sec6{height:668px;overflow:hidden}
.event_wrap .p_evt_sec6 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:2500px;height:1000px;top:0;left:-550px;right:0;z-index:0}
