@charset "utf-8";

.lohas__wrapper{position:relative;width:100%;margin:0 auto;font-weight:500;}
.lohas__wrapper .lohas-section{position:relative;width:100%;margin:0 auto}
.lohas__wrapper .lohas-section img{max-width:100%;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:88.889vw;font-size:5vw;color:#333;transform:translate(-50%, -50%);box-sizing:border-box;}
.lohas__wrapper .hashtag{display:block;font-weight:400;font-size:3.611111vw;color:#333;line-height:5.555555vw}
.lohas__wrapper .point{display:block;margin:3.4722222vw 0 0 -0.694444vw;font-weight:400;font-size:13.888888vw}
.lohas__wrapper .title{display:block;margin-top:8.056vw;font-size:6.944444vw;font-weight:300;letter-spacing:-0.277777vw}
.lohas__wrapper .description{margin:0;font-size:5.277777vw;font-weight:300;color:#a9a9a9;letter-spacing:-0.555555vw;text-align:left;line-height:6.944444vw}
.lohas__wrapper .text{margin-top:2.5vw;font-weight:300;font-size:3.6111111vw;letter-spacing:-0.146vw;line-height:5.555555vw}

.lohas__wrapper .add-text{position:relative;margin-top:27.222vw;padding-left:7.22222vw}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:0;width:6.25vw;height:0.2777777vw;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:56.25vw}
.lohas__wrapper .lohas-box .text{margin-top:2.2222222vw}


.sustainable-container .movie-contents{width:980px;height:608px;}
.sustainable-container .movie-contents video{display:block;width:100%;height:100%;object-fit:cover}
