@charset "utf-8";

.sustainable-container{font-family:"Pretendard","맑은 고딕","malgun gothic","Apple SD Gothic Neo","Apple SD 산돌고딕 Neo","Microsoft NeoGothic","Droid sans",sans-serif;} /* Pretendard 지정되어 있으면 삭제 */

.sustainable-container{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;font-size:20px;font-weight:400;color:#000;}
.sustainable-container .section{position:relative;display:flex;flex-wrap:wrap;justify-content:center;overflow:hidden;}
.sustainable-container .section img{display:block;vertical-align:top;}
/* .sustainable-container .section .inner{position:absolute;top:0;left:50%;width:1168px;transform:translate(-50%, 0);box-sizing:border-box;border:1px solid red;} */
.sustainable-container .section .inner{width:1168px;}
.sustainable-container .title{margin-top:62px;font-size:56px;font-weight:800;text-align:center;}
.sustainable-container .description{margin:0;font-size:28px;color:#a9a9a9;line-height:40px;}

/* 상단 */
.sustainable-container .section1{background:#eee;}
.sustainable-container .section1 .title{font-size:60px;}
/* .sustainable-container .movie-contents{position:absolute;top:223px;left:50%;transform:translateX(-50%);width:980px;height:608px;} */
.sustainable-container .movie-contents{width:980px;height:608px;margin:0 auto;}
.sustainable-container .movie-contents video{display:block;width:100%;height:100%;object-fit:cover}

.sustainable-container .section2{background:#279C33;}

.sustainable-container .section4{background:#222;}


/* 풀무원이 지나온길 */
.history-swiper::before{content:'';position: absolute;top:100px;left:0;width:100%;height:4px;background:#fff;}
.history-swiper .swiper-slide{text-align:center;}
.history-swiper .swiper-slide ::after{content:'';position: absolute;top:80px;left:45%;width:40px;height:40px;background:#ddd;border-radius:100px;}
.history-swiper .swiper-slide .history-title{font-size:48px;margin-bottom:100px}

/* 새로운소식 */
.notice-list-swiper .swiper-slide{width:464px}
.notice-list-swiper .swiper-slide .notice-thumbnail{height:300px;}
.notice-list-swiper .swiper-slide .notice-thumbnail img{width:100%;height:100%;object-fit: cover;}
.notice-list-swiper .swiper-slide .notice-area{}
.notice-list-swiper .swiper-slide .notice-area .notice-title{font-size:32px;font-weight:600;margin:32px 0 16px}
.notice-list-swiper .swiper-slide .notice-area .notice-desc{font-size:26px;color:#9F9F9F}
