@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:23.6111vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0422_amio_day/img/m_evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}

/* 쿠폰 */
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:58.8888vw;left:15.8333vw;width:14.7222vw;height:18.4722vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0422_amio_day/img/object.png) 100%/100% no-repeat}
.event_wrap .coupon_item{position:absolute;top:64.4444vw;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#ff725f}
.event_wrap .noti2{background:#3fb82d}

/* 사은품소진 */
.event_wrap .dimm_soldout{display:block;position:absolute;top:56.2vw;left:5.5555vw;right:5.5555vw;height:53vw;border-radius:2.8vw;background:rgba(0,0,0,.6);color:#fff;pointer-events:none;cursor:not-allowed;z-index:1;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:3.3333vw;line-height:5.4166vw;font-weight:700}
.event_wrap .dimm_soldout::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:29.8611vw;height:29.8611vw;border:1.1111vw solid #fff;border-radius:100px}
