@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* 쿠폰 */
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:182px;left:50%;width:114px;height:144px;margin-left:36px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0422_amio_day/img/object.png) no-repeat}
.event_wrap .coupon_item{position:absolute;bottom:60px;right:185px}

/* notice */
.event_wrap .p_evt_noti{background:#cdf47f}
.event_wrap .evt_notice{padding-top:0;z-index:1}
.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:0;right:0;width:1168px;height:100%;margin:0 auto;background:#ff725f;border-radius:0 0 20px 20px;z-index:0}
.event_wrap .noti2::after{background:#3fb82d}

/* 사은품소진 */
.event_wrap .dimm_soldout{display:block;position:absolute;top:171px;left:581px;width:438px;height:293px;border-radius:20px;background:rgba(0,0,0,.6);color:#fff;pointer-events:none;cursor:not-allowed;z-index:1;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:22px;line-height:30px;font-weight:700}
.event_wrap .dimm_soldout::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:190px;height:190px;border:4px solid #fff;border-radius:100px}
