@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:59%;left:17%;right:17%;height:4%}

.event_wrap .items_list{position:absolute;top:25.5%;left:5%;right:5%;height:61.5%}
.event_wrap .items_list li{width:100%;height:25%;margin-bottom:2%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/img_noti.jpg) 50% 0/100%}
.event_wrap .evt_notice{padding:0 5.5555vw 13.8888vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/img_noti2.jpg) 50% 0/100%}
.event_wrap .notice_desc{text-align:center;font-size:3.6111vw;color:#999;padding:3.4722vw 0 13.8888vw}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 28.1944vw !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/btn_bg.jpg) 50% 50%/100% !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:9.1666vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%}
.event_wrap .p_evt_tit h1{position:absolute;top:14.5833vw;left:0;right:0;z-index:5}
.event_wrap .p_evt_tit img{width:100%}
.event_wrap .motion_box{overflow:hidden;position:relative;z-index:0}
.event_wrap .motion_box:after{position:absolute;width:100%;height:100%;top:0;left:0;right:0;background:rgba(0,0,0,.2);content:'';z-index:1}
.event_wrap .motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.event_wrap .p_evt_sec3:after{position:absolute;top:-6.9444vw;left:0;width:27.7777vw;height:68.6111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/object/m_object.png) 0 0/100% no-repeat;content:''}
