@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:63.3%;left:29.5%;right:29.5%;height:80px}

.event_wrap .items_list{position:absolute;top:38.5%;left:0;right:0;height:47%;display:flex;flex-wrap:wrap;justify-content:space-between;align-content:stretch}
.event_wrap .items_list li{width:49.5%;height:44%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/p_img_noti.jpg) 50% 0}
.event_wrap .evt_notice{padding:0 40px 111px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/p_img_noti2.jpg) 50% 0}
.event_wrap .notice_desc{text-align:center;color:#999;padding:22px 0 65px}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:53px;margin:0 auto;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/p_btn_bg.jpg) 50% 0;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:266px;height:53px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food_member/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{height:640px}
.event_wrap .motion_box{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);right:0;display:flex;z-index:0}
.event_wrap .motion_box:after{position:absolute;width:100%;height:100%;top:0;left:0;right:0;background:rgba(0,0,0,.2);content:'';z-index:1}
.event_wrap .motion_box img{margin:0 !important}
.event_wrap .motion_box h1{position:absolute;top:24px;left:50%;transform:translateX(-50%);z-index:2}

.event_wrap .p_evt_sec3:after{position:absolute;top:-2.3%;left:50%;transform:translateX(-50%);width:484px;height:348px;margin-left:-717px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0213_winter_food/img/object/p_object.png) 0 0 no-repeat;content:''}
