@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;display:block;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;display:block;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202011/1103_organic/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202011/1103_organic/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec:before,.event_wrap .p_evt_sec:after{background:#f5f5f5}


/* lnk */
.event_wrap .product_list{position:absolute;top:.5%;right:0;left:40%;bottom:14%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:50%;height:33.33334%}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list.list2{top:20%;right:30.5%;bottom:30%}
.event_wrap .product_list.list2 li{width:100%;height:100%}
.event_wrap .btn_more{top:35%;left:0;width:29%;height:11%}

/* mobile */
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .evt_wide_wrap:before,.event_wrap.mevt .evt_wide_wrap:after{display:none}
.event_wrap.mevt .product_list{top:20.5%;right:5%;left:5%;bottom:18%}
.event_wrap.mevt .product_list.list2{top:59%;bottom:18%}
.event_wrap.mevt .product_list.list2 li{width:100%;height:100%}
.event_wrap.mevt .btn_more{top:84.5%;left:5%;width:90%;height:5%}