@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202102/0215_orga/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202102/0215_orga/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202102/0215_orga/img/p_sec1_bg.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#eae8e5}
.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after,
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#f4f4f4}

/* product */
.event_wrap .product_list{position:absolute;top:18.5%;right:0;left:0;bottom:17%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:50%;height:50%}
.event_wrap .product_list a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_more{left:18%;bottom:6.5%;width:64%;height:5.5%}
.event_wrap .coupon_list .btn_coupon1{top:88.8%;left:6%;width:36%;height:7.6%}
.event_wrap .coupon_list .btn_coupon2{top:88.8%;right:6%;width:36%;height:7.6%}

/* notice */
.event_wrap .evt_notice{padding:71px 0 91px}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:20px;font-weight:300;color:#999;word-break:keep-all;letter-spacing:-1px;line-height:35px}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:3px;height:3px;background-color:#999;content:''}

/* mobile device */
.mevt_wrap{width:100%;max-width:none;margin:0 auto}
.mevt_wrap .evt_wide_wrap{max-width:none;width:100%}
.mevt_wrap .evt_wide_wrap:before,.mevt_wrap .evt_wide_wrap:after{display:none}
.mevt_wrap .evt_section, .mevt_wrap .evt_notice{max-width:none;width:100%}
.mevt_wrap .product_list{top:19%;right:4%;left:4%;bottom:14%}
.mevt_wrap .btn_more{left:5%;bottom:5.8%;width:90%;height:4.5%;margin:0;padding:0}
.mevt_wrap .coupon_list .btn_coupon1{top:51.8%;left:25%;width:50%;height:4.5%;padding:0}
.mevt_wrap .coupon_list .btn_coupon2{top:93.4%;left:25%;width:50%;height:4.5%;padding:0}

/* mobile notice */
.mevt_wrap .evt_notice{padding:36px 4.44444% 44px}
.mevt_wrap .notice_list li{padding-left:5px;font-size:12px;letter-spacing:-.5px;line-height:17px}
.mevt_wrap .notice_list li:before{top:9px;width:2px;height:2px}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:600px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}

@media all and (max-width:720px){
    .layer_popup_wrap .layer_inner_wrap{width:300px}
    .layer_popup_wrap .layer_popup_header{height:40px;border-top:2px solid #81b824}
    .layer_popup_wrap .layer_popup_title{font-size:13px;line-height:42px}
    .layer_popup_wrap .btn-layerClose{padding:15px}
    .layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
    .layer_popup_contents{padding:0 15px 23px}
    .layer_popup_contents .popup_txt{margin-top:11px;font-size:12px;line-height:1.4}
    .layer_popup_contents .popup_desc{margin-top:11px;font-size:12px;line-height:1.4}
    .layer_popup_contents .btn_area{margin-top:15px}
    .layer_popup_contents .btn_area .btn_confirm{width:75px;height:29px;font-size:12px}
}
