@charset "utf-8";
@font-face{font-family:'WavvePADO-Regular';src:url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');font-weight:normal;font-style:normal;}
/* 기준사이즈 2배 / var(--size20) / 음수값 calc(-1 * var(--size20)) */
:root {
  --size18:2.5vw;
  --size19:2.6vw;
  --size20:2.7777vw;
  --size22:3.0556vw;
  --size24:3.3333vw;
  --size25:3.4722vw;
  --size28:3.8888vw;
  --size30:4.1666vw;
  --size32:4.4444vw;
  --size34:4.7222vw;
  --size35:4.8611vw;
  --size36:5vw;
  --size38:5.2778vw;
  --size40:5.5555vw;
  --size44:6.1111vw;
  --size45:6.25vw;
  --size50:6.9444vw;
  --size56:7.7777vw;
  --size58:8.0556vw;
  --size60:8.3333vw;
  --size70:9.7222vw;
  --size75:10.4167vw;
  --size80:11.1111vw;
  --size85:11.8056vw;
  --size90:12.5vw;
  --size100:13.8888vw;
  --size110:15.2777vw;
  --size120:16.6666vw;
  --size124:17.2222vw;
  --size140:19.4444vw;
  --size160:22.2222vw;
  --size640:88.8888vw;
}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{position:relative;font-size:var(--size28);line-height:var(--size44);font-weight:400;color:#000;letter-spacing:-.4px;word-break:keep-all}
.event_wrap .evt_section{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0)} /* 아이폰 13이후 transition 오류 추가 */
.event_wrap .evt_section .title{font-size:var(--size44);font-weight:600;margin-bottom:var(--size34)}
.event_wrap .evt_section .con_box{padding:0 var(--size80) var(--size120) var(--size80)}

/* 상단 */
.event_wrap .p_evt_tit{display:flex;flex-direction:column;justify-content:center;align-items:center;background:#e88f26}
.event_wrap .p_evt_tit .evt_section{margin-bottom:0}
.event_wrap .p_evt_tit .top_tit_box{position:absolute;top:var(--size45);left:0;right:0;margin:0px;color:#fff;text-align:center;z-index:1;}
.event_wrap .p_evt_tit .top_tit_box > h1{font-size:var(--size90);line-height:var(--size100);font-family:'WavvePADO-Regular';font-weight:normal;margin:var(--size19) 0 var(--size20)}
.event_wrap .p_evt_tit .top_tit_box > p{font-size:var(--size32);line-height:var(--size44)}
.event_wrap .p_evt_tit .bi{position:relative;width:26.94444vw;height:var(--size85);margin:0 auto;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/bi_white.png) 100%/100% no-repeat}
.event_wrap .p_evt_tit .top_img_box{z-index:1}
.event_wrap .p_evt_tit .top_img_box .top_img{position:absolute;top:53.1944vw;left:var(--size40);width:var(--size640);height:auto}
.event_wrap .p_evt_tit .top_img_box .top_text{font-size:var(--size30);line-height:var(--size44);color:#fff;padding:42.5vw var(--size40) 9vw var(--size40)}
.event_wrap .p_evt_tit .top_img_box .top_text p:nth-child(1){margin-bottom:var(--size36)}

/* 위드파머스 */
.event_wrap .farmers_text{font-size:var(--size30);line-height:var(--size44);background:#f9f9f9;padding:var(--size100) 0 var(--size100) var(--size80);box-sizing:border-box}
.event_wrap .farmers_text .bi{width:var(--size160);height:9.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/bi.png) 100%/100% no-repeat;margin-bottom:var(--size22)}

.event_wrap .product_box{position:relative;margin:var(--size120) var(--size80)}
.event_wrap .product_box a{position:relative;display:block}
.event_wrap .product_box .product_img{margin:var(--size35) 0 var(--size35)}
.event_wrap .product_box .product_title{display:block;font-weight:600}
.event_wrap .product_box .product_price{display:block;margin-bottom:var(--size20);font-size:var(--size32);font-weight:800}
.event_wrap .product_box .product_price em{font-size:var(--size44)}
.event_wrap .product_box .product_sale{position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;width:var(--size100);height:var(--size100);background:#ff5a13;font-size:var(--size28);font-weight:600;color:#fff}
.event_wrap .product_box .product_sale em{font-size:var(--size44)}
.event_wrap .desc_list li{position:relative;padding-left:var(--size28)}
.event_wrap .desc_list li::before{content:'';position:absolute;top:var(--size18);left:0;width:var(--size18);height:1.8056vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/icon_check.png) 100%/100%}
.event_wrap .desc_list li a{display:block}

/* 내용 */
.event_wrap .p_evt_sec2 .title{position:relative;padding-left:var(--size140)}
.event_wrap .p_evt_sec2 .title::after{content:'';position:absolute;top:0;left:0;width:var(--size124);height:var(--size40);background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/bi_farmer.jpg) 100%/100% no-repeat}
.event_wrap .p_evt_sec2 .img1{margin-bottom:var(--size40)}
.event_wrap .p_evt_sec2 .con_box .title{margin-top:var(--size40)}
.event_wrap .p_evt_sec2 .img3{margin-top:calc(-1 * var(--size100))}
.event_wrap .p_evt_sec2 .con_box:nth-of-type(5) p{margin-top:var(--size56)}

.event_wrap .p_evt_sec3{padding:var(--size110) 0 0}
.event_wrap .p_evt_sec3::after{content:'';position:absolute;top:0;left:0;right:0;height:478.0555vw;background:#e88f26;z-index:-1}
.event_wrap .p_evt_sec3 .title{color:#fff}
.event_wrap .p_evt_sec3 p{padding:var(--size36) 0;color:#fff}
.event_wrap .p_evt_sec3 .img1{width:var(--size640)}
.event_wrap .p_evt_sec3 .img2{margin-top:var(--size40)}
.event_wrap .p_evt_sec3 .img3{width:var(--size640);margin-top:calc(-1 * var(--size80))}

.event_wrap .p_evt_sec4{padding:var(--size110) 0 0}
.event_wrap .p_evt_sec4::after{content:'';position:absolute;top:85.8333vw;left:0;right:0;height:271.4vw;background:#ffda2b;z-index:-1}
.event_wrap .p_evt_sec4 .title{}
.event_wrap .p_evt_sec4 p{padding:var(--size36) 0}
.event_wrap .p_evt_sec4 .img2{margin-top:var(--size40)}

.event_wrap .p_evt_sec5{padding:var(--size110) 0 0}
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:231.1111vw;left:0;right:0;height:407vw;background:#ffda2b;z-index:-1}
.event_wrap .p_evt_sec5 p{margin-top:var(--size36)}
.event_wrap .p_evt_sec5 .img1{width:var(--size640);margin-left:calc(-1 * var(--size80))}
.event_wrap .p_evt_sec5 .img2{width:var(--size640);margin-top:var(--size80)}
.event_wrap .p_evt_sec5 .img3{margin-top:var(--size40)}
.event_wrap .p_evt_sec5 .img4{margin-top:var(--size40)}
.event_wrap .p_evt_sec5 .img5{width:var(--size640);margin-top:var(--size40);margin-left:calc(-1 * var(--size80))}

.event_wrap .p_evt_sec6{padding:var(--size100) 0 0}
.event_wrap .p_evt_sec6::after{content:'';position:absolute;top:calc(-1 * var(--size58)) ;right:0;width:42.0833vw;height:34.5833vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/m_evt_sec6_object.png) 100%/100% no-repeat}
.event_wrap .p_evt_sec6 .img1{margin:calc(-1 * var(--size70)) 0 0}
.event_wrap .p_evt_sec6 .img2{margin:var(--size40) 0}
.event_wrap .p_evt_sec6 .img3{margin:var(--size70) 0 0}
.event_wrap .p_evt_sec6 .con_box:nth-of-type(1) p:nth-of-type(2){margin-top:var(--size50)}

.event_wrap .p_evt_sec7{padding-bottom:var(--size120);background:#f9f9f9;box-sizing:border-box}
.event_wrap .p_evt_sec7 .con_box{padding:var(--size120) var(--size80) var(--size20)}
.event_wrap .review_list{padding:0 var(--size80)}
.event_wrap .review_list li{display:flex;align-items:flex-start;padding-top:var(--size75)}
.event_wrap .review_list li img{width:var(--size80)}
.event_wrap .review_list li span{margin-left:var(--size25)}


/* 모션 */
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

/* 아이폰13이상 사용 */
.event_wrap .motion_up{opacity:0;transition:opacity 0.6s ease-in-out, transform 0.5s ease-in-out;transform:translateY(35px)}
.event_wrap .motion_up.active{opacity:1;transform:translateY(0)}

/* 상단 타이틀 모션만 사용 */
.event_wrap .silde_up{opacity:0}
.event_wrap .silde_up.active{opacity:1;-webkit-animation:silde-up 0.5s ease-in-out both;animation:silde-up 0.5s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 35px);
            transform: translate(0, 35px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 0.8s ease-in-out both;animation:fade-blur 0.8s ease-in-out both}
@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{transition-delay:0.05s !important;animation-delay:0.05s !important}
.delay01.active{transition-delay:0.1s !important;animation-delay:0.1s !important}
.delay015.active{transition-delay:0.15s !important;animation-delay:0.15s !important}
.delay02.active{transition-delay:0.2s !important;animation-delay:0.2s !important}
.delay025.active{transition-delay:0.25s !important;animation-delay:0.25s !important}
.delay03.active{transition-delay:0.3s !important;animation-delay:0.3s !important}
.delay035.active{transition-delay:0.35s !important;animation-delay:0.35s !important}
.delay04.active{transition-delay:0.4s !important;animation-delay:0.4s !important}
.delay05.active{transition-delay:0.5s !important;animation-delay:0.5s !important}
.delay06.active{transition-delay:0.6s !important;animation-delay:0.6s !important}
.delay07.active{transition-delay:0.7s !important;animation-delay:0.7s !important}
.delay08.active{transition-delay:0.8s !important;animation-delay:0.8s !important}
