@charset "utf-8";
@font-face{font-family:'WavvePADO-Regular';src:url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');font-weight:normal;font-style:normal;}

/* reset */
.desktop .fb__event .event__detail__wrapper .detail img, .tablet .fb__event .event__detail__wrapper .detail img{max-width:none;margin:0}

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;vertical-align:top}

/* 공통 */
.event_wrap .evt_wide_wrap{margin-bottom:120px}
.event_wrap .evt_section{font-size:20px;line-height:34px;font-weight:400;color:#000;letter-spacing:-.4px;word-break:keep-all}
.event_wrap .evt_section .title{margin-bottom:34px;font-size:32px;font-weight:600}

/* 레이아웃 세로 구성시 사용 */
.event_wrap .half_sec{display:flex;align-items:flex-start}
.event_wrap .half_sec > div:nth-of-type(1){margin-right:40px}

/* 상단 */
.event_wrap .p_evt_tit .evt_section{display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:#fff}
.event_wrap .p_evt_tit .top_tit_box{position:absolute;top:76px;left:0;right:0;z-index:1}
.event_wrap .p_evt_tit .top_tit_box > h1{font-size:96px;line-height:96px;font-family:'WavvePADO-Regular';font-weight:normal;margin:14px 0}
.event_wrap .p_evt_tit .top_tit_box > p{font-size:32px;line-height:44px}
.event_wrap .p_evt_tit .top_tit_box > .bi{position:relative;width:191px;height:83px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/bi_white.png) 100%/100% no-repeat;margin:0 auto}
.event_wrap .p_evt_tit .top_img_box{position:relative;margin-top:418px;z-index:1}
.event_wrap .p_evt_tit .top_img_box .top_text{position:absolute;bottom:32px;left:0;right:0;font-size:26px;line-height:34px;z-index:2}
.event_wrap .p_evt_tit .top_bg{position:absolute;width:100%;height:100%;top:0;left:0;z-index:0;margin-left:-360px}

/* 위드파머스 */
.event_wrap .farmers_img{margin-left:-376px}
.event_wrap .farmers_text{position:absolute;top:0;left:624px;width:920px;height:363px;background:#f9f9f9;padding:74px 0 0 80px;box-sizing:border-box}
.event_wrap .farmers_text .bi{width:159px;height:68px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/bi.png) 100%/100% no-repeat;margin-bottom:18px}

.event_wrap .product_box{position:relative;margin:440px 0 0 80px}
.event_wrap .product_box .product_img{margin:32px 0 30px}
.event_wrap .product_box .product_title{display:block;font-weight:600}
.event_wrap .product_box .product_price{display:block;margin-bottom:16px;font-size:22px;font-weight:800}
.event_wrap .product_box .product_price em{font-size:32px}
.event_wrap .product_box .product_sale{position:absolute;top:68px;left:0;display:flex;align-items:center;justify-content:center;width:70px;height:70px;background:#ff5317;font-size:20px;font-weight:600;color:#fff}
.event_wrap .product_box .product_sale em{font-size:32px}
.event_wrap .desc_list li{position:relative;padding-left:26px}
.event_wrap .desc_list li::before{content:'';position:absolute;top:10px;left:0;width:18px;height:13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/icon_check.png)}
.event_wrap .desc_list li a{display:block}

/* 내용 */
.event_wrap .p_evt_sec2 .title{position:relative;padding-left:110px}
.event_wrap .p_evt_sec2 .title::after{content:'';position:absolute;top:0;left:0;width:102px;height:30px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/bi_farmer.jpg) 100%/100% no-repeat}
.event_wrap .p_evt_sec2 p:nth-of-type(1){margin-bottom:30px}
.event_wrap .p_evt_sec2 p:nth-of-type(2){margin:35px 0 94px}
.event_wrap .p_evt_sec2 p:nth-of-type(3){margin:35px 0}
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:35px;left:50%;margin-left:320px;width:277px;height:196px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1113_withfarmers_tangerines/img/p_evt_sec2_object.png) 100%/100% no-repeat}

.event_wrap .p_evt_sec3{padding-top:100px}
.event_wrap .p_evt_sec3::after{content:'';position:absolute;top:0;left:50%;margin-left:-960px;width:1560px;height:1362px;background:#e68f28;z-index:-1}
.event_wrap .p_evt_sec3 .title{margin-bottom:10px;color:#fff}
.event_wrap .p_evt_sec3 p{margin-bottom:32px;color:#fff}
.event_wrap .p_evt_sec3 .half_sec:nth-of-type(1) div:nth-of-type(1) img:nth-of-type(2){margin-top:40px}
.event_wrap .p_evt_sec3 .half_sec:nth-of-type(2){margin-top:40px}

.event_wrap .p_evt_sec4{padding-top:100px}
.event_wrap .p_evt_sec4::after{content:'';position:absolute;top:0;left:50%;margin-left:-960px;width:1920px;height:1130px;background:#e68f28;z-index:-1}
.event_wrap .p_evt_sec4 .title{margin-bottom:10px;color:#fff}
.event_wrap .p_evt_sec4 p{margin-bottom:34px;color:#fff}
.event_wrap .p_evt_sec4 .right > img:nth-of-type(n+2){margin-top:40px}

.event_wrap .p_evt_sec5 .title{margin-bottom:10px}
.event_wrap .p_evt_sec5 p{margin-bottom:34px}
.event_wrap .p_evt_sec5 .right > img:nth-of-type(n+2){margin-top:40px}
.event_wrap .p_evt_sec5 .half_sec:nth-of-type(2) p{margin-bottom:50px}
.event_wrap .p_evt_sec5 .half_sec:nth-of-type(2) .title{margin-top:100px}

.event_wrap .p_evt_sec6{padding-top:100px}
.event_wrap .p_evt_sec6::after{content:'';position:absolute;top:0;left:50%;margin-left:-600px;width:1560px;height:865px;background:#e68f28;z-index:-1}
.event_wrap .p_evt_sec6 .title{margin-bottom:10px;color:#fff}
.event_wrap .p_evt_sec6 p{margin-bottom:32px;color:#fff}
.event_wrap .p_evt_sec6 :is(.con_box, .half_sec){padding-left:40px}
.event_wrap .p_evt_sec6 .con_box:nth-of-type(2) p{margin:24px 0 70px;color:#000}
.event_wrap .p_evt_sec6 .half_sec div:nth-of-type(1) img:nth-of-type(1){width:100%}
.event_wrap .p_evt_sec6 .half_sec div:nth-of-type(1) img:nth-of-type(2){margin-top:40px}
.event_wrap .p_evt_sec6 .half_sec div:nth-of-type(2) img:nth-of-type(2){margin:-84px 0 0 20px}

.event_wrap .p_evt_sec7{position:relative;padding:100px 0 60px;margin-bottom:0;background:#f9f9f9;box-sizing:border-box}
.event_wrap .review_list{display:flex;flex-wrap:wrap}
.event_wrap .review_list li{display:flex;align-items:center;width:50%;padding:28px 0 36px}
.event_wrap .review_list li:nth-child(-n+2){border-bottom:1px solid #eaeaea}
.event_wrap .review_list li span{flex:1;margin-left:20px}

.event_wrap .p_evt_sec8 img{margin-left: -360px !important;transform:translateZ(0)}

/* 모션 */
.p_evt_tit .top_img{position:relative;width:1200px;height:903px}
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.6s ease-in-out both;animation:silde-up 0.6s ease-in-out both}

@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 1s ease-in-out both;animation:fade-blur 1s ease-in-out both;}

@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{animation-delay:0.05s !important}
.delay01.active{animation-delay:0.1s !important}
.delay015.active{animation-delay:0.15s !important}
.delay02.active{animation-delay:0.2s !important}
.delay025.active{animation-delay:0.25s !important}
.delay03.active{animation-delay:0.3s !important}
.delay035.active{animation-delay:0.35s !important}
.delay04.active{animation-delay:0.4s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}
