@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/m_evt_nav_on.jpg);background-size:auto 100%}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:300% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 0}

/* items_list */
.event_wrap .items_list{position:absolute;top:0;left:3%;right:3%;height:100%}
.event_wrap .items_list li{width:100%;height:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:34.1667vw;left:0;right:0}
.event_wrap .coupon_desc{margin-top:1.3889vw}
.event_wrap .coupon_desc span{color:#fff}
.event_wrap .coupon_desc span::before{display:none}

/* page */
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:47.2222vw;left:70.2778vw;width:6.9444vw;height:6.3889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/object.png) 100%/100% no-repeat}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f07d00}
.event_wrap .noti2{background:#00463c}
.event_wrap .noti3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/m_img_noti.jpg) 50% 0/100%}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100vw;height:56.25vw;background:url(https://i.vimeocdn.com/video/1853766284-cee3d1eea41e0d540833c80f1676cd1a55b967a5ba70bfde6141328f844c9be5-d?mw=4700&mh=2644&q=70) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/m_survey_bg.jpg) 50% 0/100%}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:41.12vw 3vw 0 3vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:33.3%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#fff !important;line-height:4vw;padding:2.6vw 2vw;word-break:keep-all !important;text-align:center}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{flex-direction:column;align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #878787 !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:2px solid #444 !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#444;width:2.63vw;height:2.63vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:70.9722vw !important;height:11.9444vw !important;font-size:0 !important;line-height:0 !important;margin:5vw auto 0 !important;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/m_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
