@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
/* .desktop .fb__event .event{overflow:visible;min-width:1168px;max-width:1920px;margin:0 auto;}   템플릿 배경 테스트때만 사용 */
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:500px}
.event_wrap .evt_nav_wrap li:nth-child(2){width:350px}
.event_wrap .evt_nav_wrap li:nth-child(2){width:350px}
.event_wrap .evt_nav_wrap li:nth-child(4){width:410px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:111px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/0617/p_evt_nav_on.jpg) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:-376px 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:-639px 0}
.event_wrap .p_evt_nav li:nth-child(4).on{background-position:-859px 0}

/* items_list */
.event_wrap .items_list{position:absolute;top:0;left:7%;right:7%;height:50%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list li{width:49%;height:100%}
.event_wrap .items_list li:first-child{width:100%;height:80%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:205px;left:0;right:0}
.event_wrap .coupon_desc{margin-top:8px}
.event_wrap .coupon_desc span{color:#fff}
.event_wrap .coupon_desc span::before{display:none}

/* page */
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:317px;left:50%;width:50px;height:46px;margin-left:117px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/0617/object/object.png) no-repeat}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f07d00}
.event_wrap .noti2{background:#00463c}
.event_wrap .noti3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand/img/0617/p_img_noti.jpg) 50% 0}

/* notice 템플릿 reset */
.event_wrap .notice_list{width:auto !important;padding:12px 20px !important;flex-direction:column !important;align-items:flex-start !important}
.event_wrap .notice_list li{width:auto !important;height:auto !important;margin:0 !important}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:85px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{padding:0 !important;background-size:unset !important}
.desktop .fb__event .event__stamp .stamp__step__heading{font-size:34px !important;line-height:1 !important;color:#333}
.desktop .fb__event .event__stamp .stamp__step__heading em{color:#333 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:auto !important;padding:44px 0 0 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:185px !important;height:185px !important;margin:0 40px !important} /* w:120, h:120 */

/* motion */
.motion_box img{margin:0 !important}
.motion_box .motion1{-webkit-animation:wobble-hor-bottom 2.6s 2s infinite both;animation:wobble-hor-bottom 2.6s 2s infinite both}

.motion_box .object1{position:absolute;top:700px;left:-10px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object2{position:absolute;top:726px;left:940px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object3{position:absolute;bottom:0;left:-375px;z-index:1}

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-10px) rotate(-3deg);
            transform: translateX(-10px) rotate(-3deg);
  }
  20% {
    -webkit-transform: translateX(8px) rotate(5deg);
            transform: translateX(8px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-10px) rotate(-2.6deg);
            transform: translateX(-10px) rotate(-2.6deg);
  }
  40% {
    -webkit-transform: translateX(5px) rotate(2.2deg);
            transform: translateX(5px) rotate(2.2deg);
  }
  50% {
    -webkit-transform: translateX(-4px) rotate(-1.2deg);
            transform: translateX(-4px) rotate(-1.2deg);
  }
}
