@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:50%;left:0;width:100%;height:50%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav{padding-top:25vw;z-index:20}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}

.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/m_evt_nav_on.jpg) 0 0 no-repeat;background-size:auto 100%}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* notice */
.event_wrap .p_evt_noti{background-color:#f5f5f5}

/* page */
.event_wrap .p_evt_sec1{padding-bottom:11.1111vw;background-color:#e9e9e9}

/* slide */
.event_wrap .slide_box_wrap{position:relative}
.event_wrap .slide_box{position:relative;width:83vw;margin:0 auto;border-radius:0.9722vw;overflow:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex;width:100%}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:83vw;height:100%}
            
.slide_box_wrap .slide_btn_box button{position:absolute;width:8.3333vw;height:8.3333vw;top:71.1111vw;background-color:#fff;border:1px solid #c2c2c2 !important;cursor:pointer;touch-action:none;border-radius:0.7vw;z-index:10;}
.slide_box_wrap .slide_btn_box .slide_btn_prev{left:4.4444vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon_prev.jpg) #fff center center no-repeat;background-size:1.7vw auto;}
.slide_box_wrap .slide_btn_box .slide_btn_next{right:4.4444vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon_next.jpg) #fff center center no-repeat;background-size:1.7vw auto;}
.slide_box_wrap .slide_pagination{display:none}

.slide_box_wrap .slide_thumb{position:relative;display:flex;margin:0 2.7778vw 5.5556vw;box-sizing:border-box}
.slide_box_wrap .slide_thumb .thumb{position:relative;width:16.6667vw;height:22.2222vw;background:#fff;border-radius:2.0833vw;background-position:center center;background-repeat:no-repeat;background-size:100% auto}
.slide_box_wrap .slide_thumb .thumb + .thumb{margin-left:2.7778vw}
.slide_box_wrap .slide_thumb .thumb img{min-width:28vw;max-width:28vw;margin-left:-3vw !important}
.slide_box_wrap .slide_thumb .thumb:nth-child(1){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon1.jpg)}
.slide_box_wrap .slide_thumb .thumb:nth-child(2){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon2.jpg)}
.slide_box_wrap .slide_thumb .thumb:nth-child(3){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon3.jpg)}
.slide_box_wrap .slide_thumb .thumb:nth-child(4){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon4.jpg)}
.slide_box_wrap .slide_thumb .thumb:nth-child(5){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon5.jpg)}

.slide_box_wrap .slide_thumb .thumb.thumb_active:nth-child(1){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon1_on.jpg)}
.slide_box_wrap .slide_thumb .thumb.thumb_active:nth-child(2){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon2_on.jpg)}
.slide_box_wrap .slide_thumb .thumb.thumb_active:nth-child(3){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon3_on.jpg)}
.slide_box_wrap .slide_thumb .thumb.thumb_active:nth-child(4){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon4_on.jpg)}
.slide_box_wrap .slide_thumb .thumb.thumb_active:nth-child(5){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1106_kimchi_refrigerator/img/slide/icon/icon5_on.jpg)}
.slide_box_wrap .slide_thumb .thumb.thumb_active.thumb_active:after{content:'';position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px;border:2px solid #80c342;border-radius:2.0833vw;box-sizing:border-box;z-index:5;}
.slide_box_wrap .slide_thumb a{display:flex;align-content:center;flex-wrap:wrap;width:100%;height:100%}
