@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_tit_l.jpg) 0 0 repeat-y}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_tit_r.jpg) 0 0 repeat-y}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec1_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec1_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec2.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec2.jpg) 100% 0 no-repeat}
.event_wrap .p_evt_sec3:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec3.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec3.jpg) 100% 0 no-repeat}
.event_wrap .p_evt_sec4:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec4.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/bg_sec4.jpg) 100% 0 no-repeat}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#8ec31f}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:12.0588235%;left:12.0588235%;bottom:0;height:20%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:25%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* evt item */
.event_wrap .p_evt_sec1 .prd_item_wrap,.event_wrap .p_evt_sec3 .prd_item_wrap,.event_wrap .p_evt_sec5 .prd_item_wrap
{background:#f0d7da}
.event_wrap .p_evt_sec2 .prd_item_wrap,.event_wrap .p_evt_sec4 .prd_item_wrap
{background:#f5e8e6}

.event_wrap .prd_item_wrap{position:relative;min-height:870px}
.event_wrap .prd_item_list{overflow:hidden;position:absolute;top:0;right:22px;left:22px;bottom:0;z-index:1;font-size:0;vertical-align:top}
.event_wrap .prd_item_list li{position:relative;display:inline-block;width:312px;height:auto;margin-left:18px;vertical-align:top}
.event_wrap .prd_item_list li:nth-child(3n+1){margin-left:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .prd_item_list .img_area{display:block;width:100%;height:294px}
.event_wrap .prd_item_list .item_area{padding:17px 0 25px;font-size:20px;color:#3a3939;text-align:center}
.event_wrap .prd_item_list .title{display:block}
.event_wrap .prd_item_list .price{font-size:0}
.event_wrap .prd_item_list .price span{display:inline-block;font-size:25px;color:#3a3a3a}
.event_wrap .prd_item_list .price .del{display:inline-block;font-size:25px;color:#3a3a3a}
.event_wrap .prd_item_list .price .percent,
.event_wrap .prd_item_list .price .prd_num
{display:inline-block;margin:12px 0 0 10px;padding:0 12px;background:#9fcc40;font-size:20px;color:#fff;vertical-align:top;line-height:22px;border-radius:5px;-webkit-border-radius:5px}
.event_wrap .prd_item_list .price .discount{display:inline-block;margin-left:10px;font-size:28px;color:#3a3a3a}

.event_wrap .cart_area{position:absolute;right:14px;bottom:154px;z-index:10}
.event_wrap .cart_area .btn_cart{display:block;width:100%;height:100%;border:0;background:0}
.event_wrap .cart_area .ico_cart{display:block;width:46px;height:46px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/ico_cart.png) 0 0 no-repeat;font-size:0;color:transparent}

.event_wrap .btn.btn_link1{top:0;right:15%;left:15%;bottom:22%}
.event_wrap .btn.btn_apply1{left:0;bottom:14%;width:50%;height:8%}
.event_wrap .btn.btn_apply2{right:0;bottom:14%;width:50%;height:8%}

/* notice */
.event_wrap .p_evt_noti{background:#8ec31f}
.event_wrap .evt_notice{padding:56px 0 50px;background:#8ec31f}
.event_wrap .notice_title{position:absolute;top:56px;left:0;width:180px;height:145px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/p_evt_notice.png) 0 0 no-repeat}
.event_wrap .notice_list{padding-left:202px}
.event_wrap .notice_list li{position:relative;margin-top:10px;padding-left:20px;font-size:20px;color:#fff;letter-spacing:-2px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:10px;height:2px;background-color:#fff;content:''}

.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:697px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:42px;height:42px;}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:57px 47px 54px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;padding:8px 0 13px;border-top:4px solid #000;border-bottom:1px solid #c1c1c1;font-size:30px;color:#333;line-height:1.4}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;font-weight:500;color:#333;text-align:center;letter-spacing:-1px;line-height:1.4;}
.layer_popup_contents .popup_txt .point{display:block;font-size:20px;font-weight:600;color:#333}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
 
.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .u_btn.btn_cancel{margin:0 10px;border-color:#dedede;background-color:#dedede;color:#333;vertical-align:middle}
.layer_popup_wrap .btn_area .u_btn.btn_agree{width:108px;height:38px;margin:0 10px;border:0;background:#d72f2f;color:#fff;vertical-align:middle}