@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap,.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:720px;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:0;left:0;bottom:0;height:22%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:25%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* evt item */
.event_wrap .p_evt_sec1 .prd_item_wrap,.event_wrap .p_evt_sec3 .prd_item_wrap,.event_wrap .p_evt_sec5 .prd_item_wrap
{background:#f0d7da}
.event_wrap .p_evt_sec2 .prd_item_wrap,.event_wrap .p_evt_sec4 .prd_item_wrap
{background:#f5e8e6}

.event_wrap .prd_item_wrap{position:relative;}
.event_wrap .prd_item_list{overflow:hidden;padding:0 5.277778%;font-size:0;vertical-align:top}
.event_wrap .prd_item_list li{position:relative;display:inline-block;width:48.44720496%;height:auto;margin-left:2.777778%;vertical-align:top}
.event_wrap .prd_item_list li:nth-child(2n+1){margin-left:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .prd_item_list .img_area{display:block;width:100%;height:auto}
.event_wrap .prd_item_list .item_area{min-height:77px;padding:5px 2px;font-size:12px;color:#3a3939;text-align:center}
.event_wrap .prd_item_list .title{display:block;word-break:break-word}
.event_wrap .prd_item_list .title br{display:none}
.event_wrap .prd_item_list .price{font-size:0}
.event_wrap .prd_item_list .price span{display:inline-block;font-size:14px;color:#3a3a3a}
.event_wrap .prd_item_list .del{display:inline-block;font-size:14px;color:#3a3a3a}
.event_wrap .prd_item_list .discount{display:inline-block;margin-left:5px;font-size:15px;color:#3a3a3a}
.event_wrap .prd_item_list .price .del{display:inline-block;font-size:14px;color:#3a3a3a}
.event_wrap .prd_item_list .price .percent,
.event_wrap .prd_item_list .price .prd_num
{display:inline-block;margin:3px 0 0 5px;padding:0 6px;background:#9fcc40;font-size:14px;color:#fff;vertical-align:top;line-height:16px;border-radius:5px;-webkit-border-radius:5px}
.event_wrap .prd_item_list .price .discount{display:inline-block;margin-left:5px;font-size:15px;color:#3a3a3a}

.event_wrap .cart_area{position:absolute;right:7px;bottom:94px;z-index:10}
.event_wrap .cart_area .btn_cart{display:block;width:100%;height:100%;border:0;background:0}
.event_wrap .cart_area .ico_cart{display:block;width:23px;height:23px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/ico_cart.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}

.event_wrap .btn.btn_link1{top:0;right:15%;left:15%;bottom:22%}
.event_wrap .btn.btn_apply1{left:0;bottom:57%;width:100%;height:8%}
.event_wrap .btn.btn_apply2{right:0;bottom:10%;width:100%;height:8%}

/* notice */
.event_wrap .p_evt_noti{background:#8ec31f}
.event_wrap .evt_notice{padding:23px 10px 25px;background:#8ec31f}
.event_wrap .notice_title{position:absolute;top:28px;left:10px;width:65px;height:145px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200423_family_month/img/evt_notice.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .notice_list{padding-left:80px}
.event_wrap .notice_list li{position:relative;margin-top:5px;padding-left:10px;font-size:12px;color:#fff;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:0;width:5px;height:1px;background-color:#fff;content:''}