@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%;}
.event_wrap .evt_nav_wrap li:nth-child(1){flex:1;}
.event_wrap .evt_nav_wrap li:nth-child(2){width:378px}
.event_wrap .evt_nav_wrap li:nth-child(3){width:323px}
.event_wrap .evt_nav_wrap li a{position:relative;display:block;width:100%;height:100%;cursor:pointer;z-index:5;}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:50}
.event_wrap .p_evt_nav{padding-top:140px;z-index:2}

/* coupon */
.event_wrap .p_evt_sec3 .coupon_item{position:absolute;top:374px;left:0;right:0;}
.event_wrap .coupon_desc span{color:#fff;}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0607_gwang_butler/img/p_evt_sec4.jpg) 0 0 no-repeat;}

/* button */
.event_wrap .btn_lnk{position:absolute;z-index:3;top:73.5%;left:27%;right:27%;height:7%}
