@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;bottom:0;left:3%;right:3%;height:10%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:7.7%;left:3%;right:3%;height:55.5%}
.event_wrap .items_list li{width:100%;height:24%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#008d50}
.event_wrap .evt_notice{padding:8.3333vw 5.5555vw 13.8888vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0207_earth_week_leesora/img/roulette/bg_roulette.jpg);background-size:100% auto}
.mobile .fb__event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none} /* PC배경 삭제 */
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:5.1388vw;left:4.8611vw;width:90.2777vw;height:50.8333vw;background:url(https://i.ytimg.com/vi_webp/v8uYeGITqP0/maxresdefault.webp) 50%/100%;box-shadow:5px 7px 10px 0px rgba(0, 0, 0, .2)}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* 상단모션 */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .object1{position:absolute;width:55.6944vw;top:95.1388vw;left:19.3055vw}
.motion_box .object2{position:absolute;width:5.5555vw;top:100.8333vw;left:68vw}
.motion_box .object3{position:absolute;width:37.9166vw;top:75.1388vw;left:52.2222vw}
