@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:69%;left:31%;right:31%;height:65px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(2){width:140%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:144px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_benepia_promotion/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-216px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-519px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-735px 0}
.event_wrap .p_evt_nav li:nth-child(5).on:after{background-position:-951px 0}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;top:297px;left:0;right:0;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{position:absolute;top:540px;left:0;right:0;text-align:center}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#fff}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* product */
.event_wrap .product_list{position:absolute;top:280px;left:210px;display:flex;flex-wrap:wrap;gap:0 20px}
.event_wrap .product_list li{width:237px;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:237px;background:#fff;overflow:hidden}
.event_wrap .product_list .product_img img{position:relative;height:100%;margin:0 !important}
.event_wrap .product_list .product_info{display:flex;flex-wrap:wrap;justify-content:center;padding-top:20px;margin-bottom:56px;text-align:center}
.event_wrap .product_list .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#333;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px;letter-spacing:-1.2px}
.event_wrap .product_list .original{flex-basis:100%}
.event_wrap .product_list .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_list .sale{margin-top:4px}
.event_wrap .product_list .sale ins{font-size:24px;font-weight:600;color:#333;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_list .sale .won{font-size:18px;font-weight:500;color:#333;margin-left:-4px}
.event_wrap .product_list .percent{margin:4px 0 0 8px}
.event_wrap .product_list .percent .num{font-size:24px;font-weight:600;color:#fd6f2c;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:24px;font-weight:600;color:#fd6f2c;margin-left:-4px;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#7fb142 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_benepia_promotion/img/p_img_noti.jpg) 0 50%}
.event_wrap .evt_notice{padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#ebebeb}
.event_wrap .noti2 .notice_title{border-top:4px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* motion */
.event_wrap .p_evt_tit{background:linear-gradient(190deg, #ffd55d, #ffc65d, #ff777c);background-size:100% 100%}
.event_wrap .p_evt_tit h1{z-index:2}
.motion_box{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:5}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_txt{top:150px;left:50%;transform:translateX(-50%);z-index:10}
.motion_box .object_pocket1{top:579px;left:600px;z-index:20}
.motion_box .object_pocket2{top:520px;left:560px;z-index:2}
.motion_box .object_bg1{top:0;left:0;width:100%;height:100%;background:linear-gradient(180deg, #10268f, #3c428a, #67342a);background-size:100% 100%;opacity:0.8;z-index:1}
.motion_box .object_sun{top:-160px;left:320px;z-index:0}
.motion_box .object_dragon{width:346px;height:474px;top:357px;left:809px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_benepia_promotion/img/object/p_object_dragon.png);z-index:10}

.motion_box .object_money1{top:757px;left:90px;z-index:21}
.motion_box .object_money2{top:463px;left:230px;-webkit-animation-delay:1.5s !important;animation-delay:1.5s !important;z-index:21}
.motion_box .object_money3{top:623px;left:494px;-webkit-animation-delay:1.7s !important;animation-delay:1.7s !important;z-index:21}
.motion_box .object_money4{top:687px;left:790px;z-index:21}
.motion_box .object_money5{top:672px;left:1220px;-webkit-animation-delay:1.9s !important;animation-delay:1.9s !important;z-index:21}
.motion_box .object_money6{top:560px;left:1440px;-webkit-animation-delay:1.4s !important;animation-delay:1.4s !important;z-index:21}
.motion_box .object_money7{top:723px;left:1707px;-webkit-animation-delay:1.6s !important;animation-delay:1.6s !important;z-index:21}

.motion_box .object_bird1{top:39px;left:1013px}
.motion_box .object_bird2{top:71px;left:1119px;-webkit-animation-delay:1.2s !important;animation-delay:1.2s !important}

.motion_box .object_goods1{top:498px;left:609px;z-index:5}
.motion_box .object_goods2{top:383px;left:637px;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:2}
.motion_box .object_goods3{top:478px;left:747px;-webkit-animation-delay:4.9s !important;animation-delay:4.9s !important;z-index:7}
.motion_box .object_goods4{top:347px;left:776px;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:2}
.motion_box .object_goods5{top:577px;left:809px;-webkit-animation-delay:5.1s !important;animation-delay:5.1s !important;z-index:8}
.motion_box .object_goods6{top:381px;left:886px;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:3}
.motion_box .object_goods7{top:514px;left:929px;-webkit-animation-delay:5.3s !important;animation-delay:5.3s !important;z-index:6}
.motion_box .object_goods8{top:370px;left:1000px;-webkit-animation-delay:5.2s !important;animation-delay:5.2s !important;z-index:4}
.motion_box .object_goods9{top:466px;left:1050px;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:5}

.motion_box .motion1{animation:silde-up 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play 0.6s steps(4) infinite both}
@keyframes silde-up {
  0% {
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
}
@keyframes hand-play {
  0% { 
    background-position: 0; 
  }
  100% { 
    background-position: -1384px; 
  }
}

.motion_box .motion6{animation:fade_bg 4s 0s both}
@keyframes fade_bg {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7{animation:fade_sun 9s 0.2s ease-in-out both}
@keyframes fade_sun {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

.motion_box .motion3{animation:fade 7.5s 1s both}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4{animation:bounce-left 7s 2s ease-in-out both}
@keyframes bounce-left {
  0% {
    -webkit-transform: translate(480px, 200px);
            transform: translate(480px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5{animation:bounce-right 7s 1.8s ease-in-out both}
@keyframes bounce-right {
  0% {
    -webkit-transform: translate(-350px, 200px);
            transform: translate(-350px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10{animation:blow 4s 5s ease-in-out both}
@keyframes blow {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

/* 모션 infinite */
.motion_box .motion1.on{animation:silde-up2 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play2 0.6s steps(4) infinite both}
@keyframes silde-up2 {
  0% {
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
}
@keyframes hand-play2 {
  0% { 
    background-position: 0; 
  }
  100% { 
    background-position: -1384px; 
  }
}

.motion_box .motion6.on{animation:fade_bg2 4s 0s both}
@keyframes fade_bg2 {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7.on{animation:fade_sun2 9s 0.2s ease-in-out both}
@keyframes fade_sun2 {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

.motion_box .motion3.on{animation:fade2 7.5s 1s both}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4.on{animation:bounce-left2 7s 2s ease-in-out both}
@keyframes bounce-left2 {
  0% {
    -webkit-transform: translate(480px, 200px);
            transform: translate(480px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5.on{animation:bounce-right2 7s 1.8s ease-in-out both}
@keyframes bounce-right2 {
  0% {
    -webkit-transform: translate(-350px, 200px);
            transform: translate(-350px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10.on{animation:blow2 4s 5s ease-in-out both}
@keyframes blow2 {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}
