@charset "utf-8";

/* reset */
/* .mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0} */

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk{position:absolute;top:10vw;left:0;right:0;width:43.8888vw;height:13.3333vw;background:#2bb427;border-radius:100px;display:flex;align-items:center;justify-content:center;margin:0 auto}
.event_wrap .btn_lnk span{font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:700;font-size:4.4444vw;color:#fff}

/* notice */
.event_wrap .p_evt_noti{background:#2bb427}
.event_wrap .evt_notice{padding:0 5.555555% 17.7777vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.6vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

/* stamp template reset */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 !important}
.mobile .fb .event__stamp .stamp__step__area, .tablet .fb .event__stamp .stamp__step__area{padding:8.33333vw 4.44444vw;box-sizing:border-box}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* text */
.event_wrap .tit_txt{position:absolute !important;top:12.2vw;left:60vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:700;font-size:6.3888vw;color:#2bb427}
.event_wrap .tit_txt span{font-size:7.2222vw}

.event_wrap .sec1_txt{position:absolute;top:60vw;left:4.8vw;font-weight:700;font-size:3.61111vw;color:#fff;letter-spacing:-.1px}
.event_wrap .sec1_txt span{color:#093f08}
.event_wrap .sec1_txt > p{display:block;margin-bottom:8px}
.event_wrap .sec1_txt > p::before{content:'·';display:inline-block;color:#fff;margin-right:1vw}
