@charset "utf-8";

/* Smoke animation */
@keyframes smokeAni {
  0%   {transform:scale(0.5) translate(0, 0)}
  100% {opacity:0.5;transform:scale(1.5) translate(-20px, -300px)}
}
@-webkit-keyframes smokeAni {
  0%   {transform:scale(0.5) translate(0, 0)}
  100% {opacity:0.5;transform:scale(1.5) translate(-20px, -300px)}
}
@keyframes smokeAni2 {
  0%   {transform:scale(1) translate(0, 0)}
  100% {opacity:0.5;transform:scale(1.8) translate(-20px, -300px)}
}
@-webkit-keyframes smokeAni2 {
  0%   {transform:scale(1) translate(0, 0)}
  100% {opacity:0.5;transform:scale(1.8) translate(-20px, -300px)}
}

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap{overflow:hidden}
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

.event_wrap .smoke{position:absolute;top:100px;left:55%;z-index:5;width:500px;height:350px}
.event_wrap .smoke span{position:absolute;bottom:0;left:-14px;width:360px;height:300px;margin-left:-20px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202107/0701_rainy_season/img/smoke1.png) 0 0 no-repeat;opacity:0;transform:scale(0.2)}
.event_wrap .smoke2{position:absolute;top:142px;left:200px;z-index:5;width:600px;height:500px}
.event_wrap .smoke2 span{position:absolute;bottom:0;left:-14px;width:360px;height:500px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202107/0701_rainy_season/img/smoke2.png) 0 0 no-repeat;background-size:contain;opacity:0;transform:scale(0.2)}

.event_wrap .smoke .s0{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni 15s 0s infinite}
.event_wrap .smoke .s1{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni 15s 3s infinite}
.event_wrap .smoke .s2{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni 15s 10s infinite}
.event_wrap .smoke .s3{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni 15s 12s infinite}
.event_wrap .smoke .s4{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni 15s 15s infinite}
.event_wrap .smoke2 .s0{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni2 20s 0s infinite}
.event_wrap .smoke2 .s1{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni2 20s 5s infinite}
.event_wrap .smoke2 .s2{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni2 20s 10s infinite}
.event_wrap .smoke2 .s3{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni2 20s 15s infinite}
.event_wrap .smoke2 .s4{-webkit-animation:smokeAni 15s 0s infinite;animation:smokeAni2 20s 20s infinite}
