@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20.5555vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/img_noti.jpg) 0 50%/100%}
.event_wrap .evt_notice{padding:0 5.5555vw 22.2222vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_title:nth-of-type(2){border-top:0}
.event_wrap .notice_list{padding:3.4722vw 0;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.6vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;height:359.0277vw;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/survey_bg.jpg) 50% 0/100% no-repeat}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:43vw 6.9444vw 0 6.9444vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:44%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:50vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#fff !important;padding-left:1vw;word-break:keep-all !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #fff !important;background-color:transparent !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:0 !important;background-color:#222 !important}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:88.8888vw !important;height:13.8888vw !important;font-size:0 !important;line-height:0 !important;margin:143vw auto 0 !important;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%;height:100%;background:linear-gradient(190deg, #ffd55d, #ffc65d, #ff777c);background-size:100% 100%}
.event_wrap .p_evt_tit h1{z-index:2}
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_txt{width:85.4166vw;top:22.6388vw;left:50%;transform:translateX(-50%);z-index:10}
.motion_box .object_pocket1{width:78vw;top:89vw;left:10.1vw;z-index:20}
.motion_box .object_pocket2{width:85vw;top:82.5vw;left:5.8vw;z-index:2}
.motion_box .object_bg1{top:0;left:0;width:100%;height:100%;background:linear-gradient(180deg, #10268f, #3c428a, #67342a);background-size:100% 100%;opacity:0.8;z-index:1}
.motion_box .object_sun{width:130vw;top:-11vw;left:-14vw;z-index:0}
.motion_box .object_dragon{width:41.5vw;height:56.3889vw;top:59vw;left:32vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/object/p_object_dragon.png) 0 0/400%;z-index:10}

.motion_box .object_money2{width:15.8333vw;top:68vw;left:3.2vw;-webkit-animation-delay:1.5s !important;animation-delay:1.5s !important;z-index:21}
.motion_box .object_money3{width:9.4444vw;top:96.1111vw;left:-1vw;-webkit-animation-delay:1.7s !important;animation-delay:1.7s !important;z-index:21}
.motion_box .object_money4{width:18.75vw;top:101.1111vw;left:29.3056vw;z-index:21}
.motion_box .object_money5{width:11.3889vw;top:100.5556vw;left:79.7222vw;-webkit-animation-delay:1.9s !important;animation-delay:1.9s !important;z-index:21}
.motion_box .object_money6{width:16vw;top:83.1944vw;left:88.3333vw;-webkit-animation-delay:1.4s !important;animation-delay:1.4s !important;z-index:21}

.motion_box .object_bird1{width:9.7222vw;top:8.3333vw;left:50.8333vw}
.motion_box .object_bird2{width:11.5278vw;top:11.5278vw;left:61.5278vw;-webkit-animation-delay:1.2s !important;animation-delay:1.2s !important}

.motion_box .object_goods1{width:24.0278vw;top:80.4167vw;left:11.5278vw;z-index:5}
.motion_box .object_goods2{width:24.4444vw;top:65.6944vw;left:14.3056vw;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:2}
.motion_box .object_goods3{width:11.25vw;top:79.7222vw;left:24.7222vw;-webkit-animation-delay:4.9s !important;animation-delay:4.9s !important;z-index:7}
.motion_box .object_goods4{width:22.5vw;top:62.2222vw;left:28.75vw;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:2}
.motion_box .object_goods5{width:17.9167vw;top:87.2222vw;left:30.9722vw;-webkit-animation-delay:5.1s !important;animation-delay:5.1s !important;z-index:8}
.motion_box .object_goods6{width:18.0556vw;top:65.2778vw;left:42.0833vw;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:3}
.motion_box .object_goods7{width:20.2778vw;top:83.0556vw;left:45.6944vw;-webkit-animation-delay:5.3s !important;animation-delay:5.3s !important;z-index:6}
.motion_box .object_goods8{width:26.9444vw;top:63.0556vw;left:54.4444vw;-webkit-animation-delay:5.2s !important;animation-delay:5.2s !important;z-index:4}
.motion_box .object_goods9{width:23.75vw;top:77vw;left:60.4167vw;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:5}

.motion_box .motion1{animation:silde-up 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play 0.6s steps(4) infinite both}
@keyframes silde-up {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}
@keyframes hand-play {
  0% { 
    background-position: 0;
  }
  100% { 
    background-position: -166vw; 
  }
}

.motion_box .motion6{animation:fade_bg 4s 0s both}
@keyframes fade_bg {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7{animation:fade_sun 9s 0.2s ease-in-out both}
@keyframes fade_sun {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

.motion_box .motion3{animation:fade 7.5s 1s both}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4{animation:bounce-left 7s 2s ease-in-out both}
@keyframes bounce-left {
  0% {
    -webkit-transform: translate(240px, 100px);
            transform: translate(240px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5{animation:bounce-right 7s 1.8s ease-in-out both}
@keyframes bounce-right {
  0% {
    -webkit-transform: translate(-100px, 100px);
            transform: translate(-100px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10{animation:blow 4s 5s ease-in-out both}
@keyframes blow {
  0% {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

/* 모션 infinite */
.motion_box .motion1.on{animation:silde-up2 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play2 0.6s steps(4) infinite both}
@keyframes silde-up2 {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}
@keyframes hand-play2 {
  0% { 
    background-position: 0;
  }
  100% { 
    background-position: -166vw; 
  }
}

.motion_box .motion6.on{animation:fade_bg2 4s 0s both}
@keyframes fade_bg2 {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7.on{animation:fade_sun2 9s 0.2s ease-in-out both}
@keyframes fade_sun2 {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

.motion_box .motion3.on{animation:fade2 7.5s 1s both}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4.on{animation:bounce-left2 7s 2s ease-in-out both}
@keyframes bounce-left2 {
  0% {
    -webkit-transform: translate(240px, 100px);
            transform: translate(240px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5.on{animation:bounce-right2 7s 1.8s ease-in-out both}
@keyframes bounce-right2 {
  0% {
    -webkit-transform: translate(-100px, 100px);
            transform: translate(-100px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10.on{animation:blow2 4s 5s ease-in-out both}
@keyframes blow2 {
  0% {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}
