@charset "utf-8";

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:124px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/p_img_noti.jpg) 50% 0}
.event_wrap .evt_notice{padding:0 40px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_title:nth-of-type(2){border-top:0}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;width:auto !important;min-height:2002px;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/p_survey_bg.jpg) 50% 0}
.desktop .fb__event .event__survey .survey form{width:1020px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:29%;margin-top:320px !important;padding:0 20px;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox:nth-child(n+4), .desktop .fb__event .event__survey .survey__question .fb__radio:nth-child(n+4){margin-top:360px !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:78%;font-size:26px !important;line-height:34px !important;color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 46px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:20px !important;width:32px !important;height:32px !important;border:3px solid #fff !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:0 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:27px !important;left:7px !important;width:18px !important;height:18px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#222 !important}

.desktop .fb__event .event__survey .survey__apply{width:560px !important;height:100px !important;padding:0;margin-top:900px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year_member/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{background:linear-gradient(190deg, #ffd55d, #ffc65d, #ff777c);background-size:100% 100%}
.event_wrap .p_evt_tit h1{z-index:2}
.motion_box{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:5}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_txt{top:102px;left:50%;transform:translateX(-50%);z-index:10}
.motion_box .object_pocket1{top:579px;left:600px;z-index:20}
.motion_box .object_pocket2{top:520px;left:560px;z-index:2}
.motion_box .object_bg1{top:0;left:0;width:100%;height:100%;background:linear-gradient(180deg, #10268f, #3c428a, #67342a);background-size:100% 100%;opacity:0.8;z-index:1}
.motion_box .object_sun{top:-160px;left:320px;z-index:0}
.motion_box .object_dragon{width:346px;height:474px;top:357px;left:809px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0101_benepia_promotion/img/object/p_object_dragon.png);z-index:10}

.motion_box .object_money1{top:757px;left:90px;z-index:21}
.motion_box .object_money2{top:463px;left:230px;-webkit-animation-delay:1.5s !important;animation-delay:1.5s !important;z-index:21}
.motion_box .object_money3{top:623px;left:494px;-webkit-animation-delay:1.7s !important;animation-delay:1.7s !important;z-index:21}
.motion_box .object_money4{top:687px;left:790px;z-index:21}
.motion_box .object_money5{top:672px;left:1220px;-webkit-animation-delay:1.9s !important;animation-delay:1.9s !important;z-index:21}
.motion_box .object_money6{top:560px;left:1440px;-webkit-animation-delay:1.4s !important;animation-delay:1.4s !important;z-index:21}
.motion_box .object_money7{top:723px;left:1707px;-webkit-animation-delay:1.6s !important;animation-delay:1.6s !important;z-index:21}

.motion_box .object_bird1{top:15px;left:1013px}
.motion_box .object_bird2{top:30px;left:1119px;-webkit-animation-delay:1.2s !important;animation-delay:1.2s !important}

.motion_box .object_goods1{top:498px;left:609px;z-index:5}
.motion_box .object_goods2{top:383px;left:637px;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:2}
.motion_box .object_goods3{top:478px;left:747px;-webkit-animation-delay:4.9s !important;animation-delay:4.9s !important;z-index:7}
.motion_box .object_goods4{top:347px;left:776px;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:2}
.motion_box .object_goods5{top:577px;left:809px;-webkit-animation-delay:5.1s !important;animation-delay:5.1s !important;z-index:8}
.motion_box .object_goods6{top:381px;left:886px;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:3}
.motion_box .object_goods7{top:514px;left:929px;-webkit-animation-delay:5.3s !important;animation-delay:5.3s !important;z-index:6}
.motion_box .object_goods8{top:370px;left:1000px;-webkit-animation-delay:5.2s !important;animation-delay:5.2s !important;z-index:4}
.motion_box .object_goods9{top:466px;left:1050px;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:5}

.motion_box .motion1{animation:silde-up 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play 0.6s steps(4) infinite both}
@keyframes silde-up {
  0% {
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
}
@keyframes hand-play {
  0% { 
    background-position: 0; 
  }
  100% { 
    background-position: -1384px; 
  }
}

.motion_box .motion6{animation:fade_bg 4s 0s both}
@keyframes fade_bg {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7{animation:fade_sun 9s 0.2s ease-in-out both}
@keyframes fade_sun {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

.motion_box .motion3{animation:fade 7.5s 1s both}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4{animation:bounce-left 7s 2s ease-in-out both}
@keyframes bounce-left {
  0% {
    -webkit-transform: translate(480px, 200px);
            transform: translate(480px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5{animation:bounce-right 7s 1.8s ease-in-out both}
@keyframes bounce-right {
  0% {
    -webkit-transform: translate(-350px, 200px);
            transform: translate(-350px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10{animation:blow 4s 5s ease-in-out both}
@keyframes blow {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

/* 모션 infinite */
.motion_box .motion1.on{animation:silde-up2 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play2 0.6s steps(4) infinite both}
@keyframes silde-up2 {
  0% {
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
}
@keyframes hand-play2 {
  0% { 
    background-position: 0; 
  }
  100% { 
    background-position: -1384px; 
  }
}

.motion_box .motion6.on{animation:fade_bg2 4s 0s both}
@keyframes fade_bg2 {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7.on{animation:fade_sun2 9s 0.2s ease-in-out both}
@keyframes fade_sun2 {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

.motion_box .motion3.on{animation:fade2 7.5s 1s both}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4.on{animation:bounce-left2 7s 2s ease-in-out both}
@keyframes bounce-left2 {
  0% {
    -webkit-transform: translate(480px, 200px);
            transform: translate(480px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5.on{animation:bounce-right2 7s 1.8s ease-in-out both}
@keyframes bounce-right2 {
  0% {
    -webkit-transform: translate(-350px, 200px);
            transform: translate(-350px, 200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10.on{animation:blow2 4s 5s ease-in-out both}
@keyframes blow2 {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}
