@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .event_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .btn_lnk{display:block;top:14%;left:12.5%;bottom:11%;width:74.5%}
.event_wrap .prd_item_list{position:absolute;top:7%;bottom:13%;left:12.5%;right:12.5%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:50%;height:50%;}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

/* mobile */
.event_wrap.mevt .event_wrap{max-width:none}
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}

.event_wrap.mevt .btn_lnk{display:block;top:14.5%;left:5%;right:5%;bottom:11%;width:auto}
.event_wrap.mevt .prd_item_list{position:absolute;top:7.5%;bottom:14%;left:5%;right:5%;font-size:0;background:url(about:blank) 0 0 no-repeat}