@charset "utf-8";

/* common */
.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;max-width:100%;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{font-size:3.8889vw;line-height:6.1111vw;font-weight:400;color:#333;letter-spacing:-.4px;word-break:keep-all;margin-bottom:16.6667vw}
.event_wrap .evt_section .title_box{padding:16.6667vw 11.1111vw 0 11.1111vw}
.event_wrap .p_evt_sec2 .title_box{color:#000}
.event_wrap .evt_section .title{font-size:6.1111vw;font-weight:700;margin-bottom:4.7222vw}

/* 상단타이틀 */
.event_wrap .p_evt_tit{display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;height:79.3056vw;background:#41208d;color:#fff;margin-bottom:0}
.event_wrap .p_evt_tit > h1{font-size:13.0556vw;line-height:14.4444vw;font-weight:400;margin-bottom:4.1667vw}
.event_wrap .p_evt_tit > p{font-size:4.4444vw;line-height:6.1111vw}
.event_wrap .p_evt_tit .bi{position:absolute;top:2.3611vw;right:2.2222vw;width:33.6111vw;height:7.1vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0429_withfarmers_blueberries/img/bi_white.png) 100%/100% no-repeat}

/* 내용 */
.event_wrap .farmers_text{background:#f9f9f9;padding:13.6111vw 0 16.6667vw 5.5556vw;box-sizing:border-box}
.event_wrap .farmers_text .bi{width:21.3888vw;height:7.2222vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0429_withfarmers_blueberries/img/bi.png) 100%/100% no-repeat;margin-bottom:3.0556vw}

.event_wrap .product_box{margin:16.6667vw 11.1111vw}
.event_wrap .product_box .product_desc li{position:relative;padding-left:3.8889vw}
.event_wrap .product_box .product_desc li::before{content:'';position:absolute;top:2.5vw;left:0;width:2.5vw;height:1.8056vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0429_withfarmers_blueberries/img/icon_check.png) 100%/100%}
.event_wrap .product_box .product_desc li a{display:block}
.event_wrap .product_box .product_img{margin:4.8611vw 0 4.8611vw}
.event_wrap .product_box .product_title{display:block;font-weight:700}
.event_wrap .product_box .product_price{display:block;font-size:4.4444vw;font-weight:700}
.event_wrap .product_box .product_price em{font-size:6.1111vw}

.event_wrap .text_box{position:relative;width:88.8889vw;background:#41208d;color:#fff;padding:16.6667vw 10vw 16.667vw 11.1111vw;margin-bottom:-16.6667vw;box-sizing:border-box}
.event_wrap .p_evt_sec4 .text_box{margin-left:11.1111vw}

.event_wrap .p_evt_sec5{padding-bottom:16.6667vw;background:#f9f9f9;box-sizing:border-box}
.event_wrap .review_list{padding:0 11.1111vw}
.event_wrap .review_list li{display:flex;align-items:flex-start;padding-top:10.4167vw}
.event_wrap .review_list li img{width:11.1111vw}
.event_wrap .review_list li span{margin-left:3.4722vw}

.event_wrap .p_evt_sec6 .title_box{padding-top:0}
.event_wrap .img_box{margin-top:11.1111vw}
.event_wrap .img_box li{margin-top:5.5556vw}

/* 모션 */
.event_wrap .motion{opacity:0}
.event_wrap .motion.active{opacity:1;animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.delay01.active{animation-delay:0.1s !important}
.delay02.active{animation-delay:0.2s !important}
.delay03.active{animation-delay:0.3s !important}
.delay04.active{animation-delay:0.4s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}
