@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap{position:relative;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{font-size:20px;line-height:34px;font-weight:400;color:#333;letter-spacing:-.4px;word-break:keep-all;margin-bottom:100px}
.event_wrap .p_evt_sec2 .title_box{color:#000}
.event_wrap .evt_section .title{font-size:32px;font-weight:700;margin-bottom:34px}

.event_wrap .evt_section.half_sec{display:flex}
.event_wrap .evt_section.half_sec > div:nth-of-type(1){margin-right:40px}

/* 상단타이틀 */
.event_wrap .p_evt_tit{display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;height:442px;background:#41208d;color:#fff}
.event_wrap .p_evt_tit > h1{font-size:96px;line-height:96px;font-weight:400;margin-bottom:30px}
.event_wrap .p_evt_tit > p{font-size:32px;line-height:44px}
.event_wrap .p_evt_tit .bi{position:absolute;top:13px;right:18px;width:217px;height:45px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0429_withfarmers_blueberries/img/bi_white.png) 100%/100% no-repeat}

/* 내용 */
.event_wrap .farmers_img{margin-left:-376px}
.event_wrap .farmers_text{position:absolute;top:0;left:624px;width:920px;height:400px;background:#f9f9f9;padding:74px 0 0 80px;box-sizing:border-box}
.event_wrap .farmers_text .bi{width:134px;height:45px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0429_withfarmers_blueberries/img/bi.png) 100%/100% no-repeat;margin-bottom:18px}

.event_wrap .product_box{margin:492px 0 0 80px}
.event_wrap .product_box .product_desc li{position:relative;padding-left:26px}
.event_wrap .product_box .product_desc li::before{content:'';position:absolute;top:10px;left:0;width:18px;height:13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0429_withfarmers_blueberries/img/icon_check.png)}
.event_wrap .product_box .product_desc li a{display:block}
.event_wrap .product_box .product_img{margin:32px 0 30px}
.event_wrap .product_box .product_title{display:block;font-weight:700}
.event_wrap .product_box .product_price{display:block;font-size:22px;font-weight:700}
.event_wrap .product_box .product_price em{font-size:32px}

.event_wrap .text_box{position:absolute;top:0;left:0;width:504px;background:#41208d;color:#fff;padding:96px 40px;box-sizing:border-box;z-index:1}
.event_wrap .p_evt_sec3 .text_box{top:-250px}
.event_wrap .p_evt_sec4 .text_box{top:0;left:auto;right:0}

.event_wrap .p_evt_sec5{position:relative;padding-top:100px;min-height:585px;box-sizing:border-box}
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:0;left:0;width:1920px;height:100%;margin-left:-376px;background:#f9f9f9;z-index:-1}
.event_wrap .review_list{display:flex;flex-wrap:wrap}
.event_wrap .review_list li{display:flex;align-items:center;width:50%;padding:28px 0 36px}
.event_wrap .review_list li:nth-child(-n+2){border-bottom:1px solid #eaeaea}
.event_wrap .review_list li span{margin-left:20px}

.event_wrap .img_box{display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .img_box li{margin-top:40px}

/* 모션 */
.event_wrap .motion{opacity:0}
.event_wrap .motion.active{opacity:1;animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.delay01.active{animation-delay:0.1s !important}
.delay02.active{animation-delay:0.2s !important}
.delay03.active{animation-delay:0.3s !important}
.delay04.active{animation-delay:0.4s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}
