@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* items_list */
.event_wrap .items_list{margin:0 13.3333vw;padding-bottom:6vw}
.event_wrap .items_list li{width:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{width:100%;height:auto}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%}
.event_wrap .items_list .item_info{padding:3.8889vw 0 9.7222vw;font-size:3.8889vw;font-weight:400;color:#000;letter-spacing:-0.0556vw}
.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:1.3889vw 2.2222vw}
.event_wrap .items_list .item_info strong{font-weight:600}

.event_wrap .items_list .name{margin-bottom:2vw;font-size:3.8889vw;font-weight:400;text-align:center}
.event_wrap .items_list .price_area{color:#999}
.event_wrap .items_list .coupon_area{position:relative;margin-top:2.7778vw;padding-top:3vw;font-size:5vw}
.event_wrap .items_list .coupon_area::after{content:'';position:absolute;top:0;left:0;width:100%;height:0.5556vw;background-image:repeating-linear-gradient(to right, #dbdbdb, #dbdbdb 2.2222vw, transparent 2.2222vw, transparent 3.3333vw)}
.event_wrap .items_list .discount{display:inline-block;margin-right:0.6944vw;color:#f44336;font-weight:600}

.event_wrap .items_list .item_desc{display:flex;align-items:center;background:linear-gradient(to right, #7fc342, #009333);padding:2.7778vw;border-radius:3.3333vw 3.3333vw 0 0}
.event_wrap .items_list .item_desc img{width:11.1111vw;height:auto}
.event_wrap .items_list .item_desc p{font-size:3.6111vw;line-height:4.7222vw;color:#fff;margin-left:2.7778vw}

/* page */
.event_wrap .info_desc span{color:#4c7a20}
.event_wrap .p_evt_sec1{background:#f4f4f4}
.event_wrap .p_evt_sec2{background:#80c342;padding-bottom:11.1111vw}
.event_wrap .p_evt_noti{background:#f5f5f5}
