@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* items_list */
.event_wrap .items_list{display:grid;grid-template-columns:repeat(3, 1fr);gap:0 21px}
.event_wrap .items_list li{width:386px}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{width:100%;height:auto}
.event_wrap .items_list .item_thumbnail img{width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{padding:26px 0 96px;font-size:24px;font-weight:400;color:#000;letter-spacing:-.4px;box-sizing:border-box}
.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:6px 18px}
.event_wrap .items_list .item_info strong{font-weight:600}

.event_wrap .items_list .name{margin-bottom:16px;font-size:24px;font-weight:400;text-align:center}
.event_wrap .items_list .price_area{color:#999}
.event_wrap .items_list .coupon_area{position:relative;margin-top:12px;padding-top:14px;font-size:28px}
.event_wrap .items_list .coupon_area::after{content:'';position:absolute;top:0;left:0;width:100%;height:2px;background-image:repeating-linear-gradient(to right, #dbdbdb, #dbdbdb 10px, transparent 10px, transparent 12px)}
.event_wrap .items_list .discount{display:inline-block;margin-right:5px;color:#f44336;font-weight:600}

.event_wrap .items_list .item_desc{display:flex;align-items:center;padding:20px;border-radius:12px 12px 0 0}
.event_wrap .items_list li:nth-child(1) .item_desc{background:linear-gradient(to right, #75bf41, #63b83f)}
.event_wrap .items_list li:nth-child(2) .item_desc{background:linear-gradient(to right, #62b83e, #4db03c)}
.event_wrap .items_list li:nth-child(3) .item_desc{background:linear-gradient(to right, #4baf3c, #35a739)}
.event_wrap .items_list .item_desc img{width:80px;height:auto;margin:0 !important}
.event_wrap .items_list .item_desc p{font-size:20px;line-height:30px;color:#fff;margin-left:20px}

/* page */
.event_wrap .info_desc span{color:#4c7a20}
.event_wrap .p_evt_sec1{background:#f4f4f4}
.event_wrap .p_evt_sec2{background:#80c342;padding-bottom:80px}
.event_wrap .p_evt_noti{background:#f5f5f5}
