@charset "utf-8";


@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap{font-family:'Noto Sans KR',sans-serif;}
.event_wrap * {box-sizing:border-box;-webkit-box-sizing:border-box;}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px;}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;}

.p_evt_sec2 {position:relative;}
.p_evt_sec2 .product_category_list {position:absolute;top:0;left:0;width:788px;margin:0 116px;}
.p_evt_sec2 .product_category_list:after {content:'';display:block;clear:both;}
.p_evt_sec2 .product_category_list li {float:left;width:244px;height:287px;margin-left:25px;}
.p_evt_sec2 .product_category_list li:nth-child(3n+1) {margin-left:0;}
.p_evt_sec2 .product_category_list li:nth-child(3n) ~ li {margin-top:36px;}
.p_evt_sec2 .product_category_list li a {display:block;width:100%;height:100%;}

.p_evt_sec3 {height:1080px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/p_evt_sec3_bg.jpg) no-repeat left top;}
.p_evt_sec3 .inner_wrap {width:788px;margin:0 auto;background-color:#fff;}
.p_evt_sec3 .inner_wrap img {width:auto;}
.p_evt_sec3 .event_product_wrap{height:452px;text-align:center;}
.p_evt_sec3 .event_product_wrap:after {content:'';display:block;clear:both;}
.p_evt_sec3 .event_product_wrap .product_view {float:left;width:50%;}
.p_evt_sec3 .event_product_wrap .item1 {padding-left:70px;}
.p_evt_sec3 .event_product_wrap .item2 {padding-right:38px;}
.p_evt_sec3 .event_product_wrap .info_area {margin-top:20px;line-height:1;}
.p_evt_sec3 .event_product_wrap .info_area strong {display:block;margin-bottom:10px;color:#52b4ea;font-size:22px;font-weight:500;letter-spacing:-.04em;}
.p_evt_sec3 .event_product_wrap .info_area span {color:#323033;font-size:20px;font-weight:300;letter-spacing:-.04em;}

.p_evt_sec3 .cate_wrap {margin-top:20px}
.p_evt_sec3 .cate_wrap .btn_category_view {height:36px;line-height:34px;padding:0 30px 0 15px;border:1px solid #555;border-radius:18px;background:#fff url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/arrow_down.png) no-repeat right 10px center;color:#555;font-size:18px;font-weight:300;letter-spacing:-.04em;font-family:'Noto Sans KR',sans-serif;} 
.p_evt_sec3 .cate_wrap .btn_category_view.on {background-image:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/arrow_up.png)} 
.p_evt_sec3 .cate_wrap .category_info {display:none;margin-top:10px;color:#555;font-size:18px;font-weight:300;letter-spacing:-.04em;}
.p_evt_sec3 .cate_wrap .btn_category_view.on + .category_info {display:block;}

.p_evt_sec3 .notice_wrap {margin:0 105px;padding:20px 0 0 10px;border-top:2px solid #9d9d9d;}
.p_evt_sec3 .notice_wrap strong {display:block;margin-bottom:8px;color:#323033;font-size:16px;font-weight:500;}
.p_evt_sec3 .notice_list li {position:relative;padding-left:10px;color:#1f1f1f;font-size:14px;font-weight:300;line-height:1.65;}
.p_evt_sec3 .notice_list li:before {content:'';position:absolute;top:.7em;left:0;width:2px;height:2px;background-color:#b7b7b8;}

.p_evt_sec4 {position:relative;}
.p_evt_sec4 .btn_more {position:absolute; top:216px;left:160px;display:block;width:284px;height:51px;}
