@charset "utf-8";

.event_wrap{width:100%;max-width:none;margin:0 auto;font-family:'notokr'}
.event_wrap * {box-sizing:border-box;-webkit-box-sizing:border-box;}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{max-width:none;width:100%}

.m_evt_sec2 {position:relative;}
.m_evt_sec2 .product_category_list {position:absolute;top:0;left:0;width:100%;height:100%;padding:0 10% 10%;}
.m_evt_sec2 .product_category_list:after {content:'';display:block;clear:both;}
.m_evt_sec2 .product_category_list li {float:left;width:50%;height:32%;}
.m_evt_sec2 .product_category_list li:nth-child(2n) ~ li {margin-top:3.5%;}
.m_evt_sec2 .product_category_list li a {display:block;width:100%;height:100%;}

.m_evt_sec3 {background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/bg_line.jpg) repeat-y left top;background-size:100%;}
.m_evt_sec3 .inner_wrap {background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/bg_line2.jpg) repeat-y left bottom;background-size:100%;}
.m_evt_sec3:after {content:'';display:block;width:100%;height:60px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/bg_bottom.jpg) no-repeat left top;background-size:100%;}
.m_evt_sec3 .event_product_wrap{text-align:center;}
.m_evt_sec3 .event_product_wrap img {width:auto;}
.m_evt_sec3 .event_product_wrap .item1 img {max-height:153px;}
.m_evt_sec3 .event_product_wrap .item2 {margin:36px 0;}
.m_evt_sec3 .event_product_wrap .item2 img {max-height:171px;}
.m_evt_sec3 .event_product_wrap .info_area {margin-top:10px;line-height:1;}
.m_evt_sec3 .event_product_wrap .info_area strong {display:block;margin-bottom:10px;color:#52b4ea;font-size:17px;font-weight:500;letter-spacing:-.04em;}
.m_evt_sec3 .event_product_wrap .info_area span {color:#323033;font-size:16px;font-weight:300;letter-spacing:-.04em;}

.m_evt_sec3 .cate_wrap {margin-top:10px}
.m_evt_sec3 .cate_wrap .btn_category_view {display:inline-block;height:36px;line-height:34px;padding:0 25px 0 10px;border:1px solid #555;border-radius:18px;background:#fff url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/arrow_down.png) no-repeat right 10px center;color:#555;font-size:16px;font-weight:300;letter-spacing:-.04em;font-family:'Noto Sans KR',sans-serif;} 
.m_evt_sec3 .cate_wrap .btn_category_view.on {background-image:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0616_present_event/img/arrow_up.png)} 
.m_evt_sec3 .cate_wrap .category_info {display:none;margin-top:10px;color:#555;font-size:15px;font-weight:300;letter-spacing:-.04em;}
.m_evt_sec3 .cate_wrap .btn_category_view.on + .category_info {display:block;}

.m_evt_sec3 .notice_wrap {margin:0 16.1%;padding:3.3% 0 10% 2px;border-top:1px solid #9d9d9d;}
.m_evt_sec3 .notice_wrap strong {display:block;margin-bottom:8px;color:#323033;/*font-size:10px;*/font-weight:500;}
.m_evt_sec3 .notice_list li {position:relative;padding-left:5px;color:#1f1f1f;/*font-size:9px;*/font-weight:300;line-height:1.65;}
.m_evt_sec3 .notice_list li:before {content:'';position:absolute;top:.7em;left:0;width:2px;height:2px;background-color:#b7b7b8;}

.m_evt_sec4 {position:relative;}
.m_evt_sec4 .btn_more {position:absolute;top: 53.3%;left: 7%;display: block;width: 37.2%;height: 13.5%;}
