@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:3.4722vw;right:3.4722vw;height:100%;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/m_evt_nav.jpg) 0 0 no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav{position:absolute;top:130.5556vw;left:0;right:0;height:21.3889vw;z-index:50}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;height:21.3889vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;background-color:#16573a}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/m_evt_nav_on.jpg) no-repeat;background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk{position:absolute;top:0;right:0;bottom:0;left:0}

/* coupon */
.event_wrap .coupon_list{padding-top:8vw}

/* notice */
.event_wrap .p_evt_noti.noti1{background-color:#f5f4f4}
.event_wrap .p_evt_noti.noti2{background-color:#ffe68f}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding-top:0}
