@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}
nav li:nth-child(3).on:after{background-position-x:100%}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:3.4722vw;right:0;width:92.7777vw;height:21.25vw;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/m_evt_nav.jpg) 0 0/100% no-repeat}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;width:100vw;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;left:0;width:100vw;height:100%;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:100vw;top:0;left:0;}
.event_wrap .p_evt_nav{padding-top:21.25vw}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/m_evt_nav_on.jpg) 0 0 no-repeat;background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

.p_evt_tit{margin-bottom:-21.25vw;padding-bottom:21.25vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/m_evt_tit_bg.jpg) 0 100%/100% no-repeat;}

/* coupon */
.event_wrap .coupon_list{padding-top:8vw}

/* notice */
.event_wrap .p_evt_noti.noti1{background-color:#f5f4f4}
.event_wrap .p_evt_noti.noti2{background-color:#ffe68f}
