@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;max-width:1920px;min-width:1200px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;width:100%;height:84px;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/p_evt_nav.png) center top no-repeat;background-size:auto 100%}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:428px}
.event_wrap .evt_nav_wrap li:nth-child(2){flex:1}
.event_wrap .evt_nav_wrap li:nth-child(3){width:372px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .evt_nav_wrap li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/p_evt_nav_on.jpg)}
.event_wrap .evt_nav_wrap li:nth-child(2).on{background-position-x:-428px}
.event_wrap .evt_nav_wrap li:nth-child(3).on{background-position-x:100%}

.event_wrap .p_evt_nav{position:absolute;top:612px;left:50%;min-width:auto;padding-top:100px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;width:1200px;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:100px;margin-top:10px;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1200px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}

/* notice */
.event_wrap .p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/p_evt_noti1.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:0 40px 200px}
.event_wrap .p_evt_noti.noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/p_evt_noti2.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:0 40px 173px}
.event_wrap .p_evt_noti.noti3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/p_evt_noti3.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_noti.noti3 .evt_notice{padding:0 40px 137px}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk{position:absolute;top:0;right:0;bottom:0;left:0}

/* coupon */
.event_wrap .coupon_list{position:absolute;left:0;right:0;top:268px}

/* page */
.event_wrap .p_evt_tit{padding-bottom:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_green_juice_new/img/p_evt_tit_01.jpg) 50% 100% no-repeat;box-sizing:border-box}
