@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}
.event_wrap .btn_lnk{top:37%;left:8%;width:50%;height:36%}

.event_wrap.mevt img{width:100%;vertical-align:top}
.event_wrap.mevt .evt_section{max-width:none;width:100%}
.event_wrap.mevt .btn_lnk{left:4%;height:50%}