@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@-webkit-keyframes coin1{0%{transform:translateY(0);}50%{transform:translateY(-20px);}100%{transform:translateY(0)}}
@keyframes coin1{0%{transform:translateY(0);}50%{transform:translateY(-20px);}100%{transform:translateY(0)}}
@-webkit-keyframes coin2{0%{transform:translateY(0);}50%{transform:translateY(-10px);}100%{transform:translateY(0)}}
@keyframes coin2{0%{transform:translateY(0);}50%{transform:translateY(-10px);}100%{transform:translateY(0)}}
@-webkit-keyframes coin3{0%{transform:translateY(0);}50%{transform:translateY(10px);}100%{transform:translateY(0)}}
@keyframes coin3{0%{transform:translateY(0);}50%{transform:translateY(10px);}100%{transform:translateY(0)}}
@-webkit-keyframes shadow{0%{transform:translateY(0);}50%{transform:translateY(-15px);}100%{transform:translateY(0)}}
@keyframes shadow{0%{transform:translateY(0);}50%{transform:translateY(-15px);}100%{transform:translateY(0)}}

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family:'Noto Sans KR',"NanumBarunGothic","Nanum Barun Gothic",Tahoma,sans-serif;font-weight:500;}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202011/1117_goal_achieve/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202011/1117_goal_achieve/img/p_tit_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202011/1117_goal_achieve/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202011/1117_goal_achieve/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#7b826c}
.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#7b826c}
.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#666e55}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#f5f5f5}


/* coin */
.event_wrap .coin_wrap{position:relative}
.event_wrap .coin{position:absolute;top:480px;left:-54px;z-index:10;width:154px;height:189px;-webkit-animation:coin1 3s ease-in-out infinite;animation:coin1 3s ease-in-out infinite;}
.event_wrap .coin_shadow{position:absolute;top:443px;left:-160px;z-index:10;width:246px;height:275px;-webkit-animation:shadow 3s ease-in-out infinite;animation:shadow 3s ease-in-out infinite;}
.event_wrap .coin2 .coin{top:258px;left:-164px;width:72px;height:92px;-webkit-animation:coin2 5s ease-in-out infinite;animation:coin2 5s ease-in-out infinite;}
.event_wrap .coin2 .coin_shadow{top:242px;left:-224px;width:144px;height:156px;}
.event_wrap .coin3 .coin{top:500px;left:auto;right:-82px;-webkit-animation:coin3 3s ease-in-out infinite;animation:coin3 3s ease-in-out infinite;}
.event_wrap .coin3 .coin_shadow{top:530px;left:auto;right:-38px;width:192px;height:216px}

/* button */
.event_wrap .btn_apply{left:35%;bottom:22%;width:30%;height:11%}
.event_wrap .btn_apply2{left:35%;bottom:13%;width:30%;height:11%}

/* notice */
.event_wrap .evt_notice{padding:47px 12px;background:#f5f5f5}
.event_wrap .notice_list li{position:relative;margin-top:10px;padding-left:11px;font-size:16px;font-weight:400;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#333;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:560px;margin:0 10px;border:8px solid #5b6349;background:#666e55;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:47px 76px 61px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:32px;color:#fff;line-height:44px;letter-spacing:-1px}
.layer_popup_wrap .popup_txt{margin-top:18px;font-size:22px;color:#fff;letter-spacing:-1px;line-height:1.2}
.layer_popup_wrap .btn_area{margin-top:30px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:154px;height:54px;background:#fff;font-size:24px;color:#7b826c;letter-spacing:-1px;vertical-align:middle;line-height:54px;text-indent:0}
 
/* mobile device */
.mevt_wrap{width:100%;max-width:none;margin:0 auto}
.mevt_wrap .evt_wide_wrap{max-width:none;width:100%}
.mevt_wrap .evt_wide_wrap:before,.mevt_wrap .evt_wide_wrap:after{display:none}
.mevt_wrap .evt_section, .mevt_wrap .evt_notice{max-width:none;width:100%}

.mevt_wrap .btn_apply{left:18.6%;bottom:13.18%;width:62.7%;height:6.7%;padding:0}
.mevt_wrap .btn_apply2{left:18.6%;bottom:10.5%;width:62.7%;height:11.2%;padding:0}

/* mobile notice */
.mevt_wrap .evt_notice{padding:44px 5.55556%}
.mevt_wrap .notice_list li{margin-top:0;padding-left:6px;font-size:13px;letter-spacing:-.5px;line-height:1.8}
.mevt_wrap .notice_list li:before{top:10px;width:2px;height:2px}

@media all and (max-width:720px){
    .layer_popup_wrap .layer_inner_wrap{width:300px}
    .layer_popup_wrap .layer_popup_content{padding:44px 0}
    .layer_popup_wrap .layer_popup_header{height:40px;border-top:2px solid #81b824}
    .layer_popup_wrap .layer_popup_title{font-size:13px;line-height:42px}
    .layer_popup_wrap .btn-layerClose{padding:15px}
    .layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
    .layer_popup_wrap .popup_tit{font-size:23px;letter-spacing:normal;line-height:1.4}
    .layer_popup_wrap .popup_txt{margin-top:11px;font-size:13px;letter-spacing:normal;line-height:1.4}
    .layer_popup_wrap .btn_area{margin-top:18px}
    .layer_popup_wrap .btn_area a.btn_cancel{width:33.478%;height:38px;padding:0;border:0;font-size:13px;font-weight:600;line-height:38px}
}
