@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;bottom:0;left:4%;right:4%;height:170px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;top:292px;left:50%;transform:translate(-50%,0);width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:1}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:1}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{position:absolute;top:520px;left:582px;transform:translate(-50%,0);margin-top:20px}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#333;font-size:20px;letter-spacing:-1px}
.event_wrap .coupon_desc span:before{content:'·';vertical-align:top;margin-right:5px}

/* notice */
.event_wrap .p_evt_noti{background:#fec72c}
.event_wrap .evt_notice{padding:70px 40px 80px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;min-width:1168px;width:100%;height:52px;margin:0 auto;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1212_earth_week_leehyori/img/0101/p_btn_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:266px;height:75px;margin-left:354px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1212_earth_week_leehyori/img/0101/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:139px;left:50%;transform:translateX(-50%);width:992px;height:558px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* object */
.event_wrap .p_evt_sec1:after{position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:354px;height:450px;margin-left:-500px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1212_earth_week_leehyori/img/0101/object1.png) 0 0 no-repeat;content:''}
.event_wrap .p_evt_sec3:after{position:absolute;top:374px;left:50%;transform:translateX(-50%);width:372px;height:708px;margin-left:480px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1212_earth_week_leehyori/img/0101/object2.png) 0 0 no-repeat;content:'';z-index:1}
