@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:15%;left:6%;right:6%;height:44%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:5%;right:5%;height:16.6666vw;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:45.2777vw;left:0;right:0}
.event_wrap .coupon_desc{position:absolute;top:88.3333vw;left:0;right:0}
.event_wrap .coupon_desc span{color:#999}
.event_wrap .coupon_desc span:before{content: '·'}

/* notice */
.event_wrap .p_evt_noti{background:#282c36}
.event_wrap .evt_notice{position:relative;padding:0 11.1111vw 13.8888vw;z-index:1}

.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:5.5555vw;right:5.5555vw;height:100%;margin:0 auto;background:#fff;border-radius:0 0 3.3333vw 3.3333vw;z-index:0}
.event_wrap .noti2::after{background:#cfe9b9}
