@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{bottom:0;left:6%;right:6%;height:13%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top: 151.8vw;left: 5.6vw;right: 5.6vw;height: 13.5vw;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;z-index:1;top:38.2222vw;right:0;left:0;}

/* notice */
.event_wrap .p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0716_lotte_department_store/img/m_evt_sec2.jpg) center top / 100% auto  no-repeat;}
.event_wrap .noti1 .evt_notice{padding: 11.1111vw 11.1111vw 19.555vw}
.event_wrap .p_evt_noti.noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0716_lotte_department_store/img/m_evt_sec4.jpg) center top / 100% auto  no-repeat;}
.event_wrap .noti2 .evt_notice{padding: 11.1111vw 11.1111vw 31vw}
