@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;right:0;left:0;bottom:0;height:100px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* page */
.event_wrap .p_evt_sec1 .coupon_list{z-index:2;position:absolute;top:300px;right:0;left:0;}

/* notice */
.event_wrap .p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0716_lotte_department_store/img/p_evt_sec2.jpg) center top no-repeat;}
.event_wrap .noti1 .evt_notice{padding: 0 40px 111px}
.event_wrap .p_evt_noti.noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0716_lotte_department_store/img/p_evt_sec4.jpg) center top no-repeat;}
.event_wrap .noti2 .evt_notice{padding: 0 40px 230px}
