@charset "utf-8";

/* common */
.event_wrap{max-width:720px;width:100%;max-width:none;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto}

.event_wrap .p_evt_sec1{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/bg_sec1.jpg) 0 0 repeat;background-size:100% auto} 
.event_wrap .p_evt_sec2{background:#f4f4f4}
.event_wrap .p_evt_sec3{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_evt_sec3.jpg) 0 0 repeat;background-size:100% auto} 

/* tab */
.event_wrap .evt_tab_wrap{position:absolute;top:0;left:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:25%;height:100%}
.event_wrap .evt_tab_wrap a{display:block;width:100%;height:100%}

.board_detail_content .event_wrap .evt_tab_0123{display:none}
.board_detail_content .event_wrap .evt_tab{display:block}

.event_wrap .evt_0123 .evt_tab_0123{display:block}
.event_wrap .evt_0123 .evt_tab{display:none}
.event_wrap .evt_0123 .evt_tab_wrap li{width:33.3333%}
.event_wrap .evt_0123 .evt_tab_wrap li:first-child{display:none}
.event_wrap .evt_0123 + .p_evt_deal{display:none}


/* deal */
.event_wrap .btn_wrap{}
.event_wrap .btn_buy{position:absolute;right:25%;top:65.4130702%;width:50%;padding-top:11.11111%;background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/deal_btn.png) 0 0 no-repeat;pointer-events:none;cursor:not-allowed;background-size:300% auto;text-decoration:none}
.event_wrap .btn_buy:before{display:none}
.event_wrap .deal_opened .btn_buy{background-position:50% 0;pointer-events:auto;cursor:pointer}
.event_wrap .deal_soldout .btn_buy{background-position:100% 0}
.event_wrap .deal_notice{padding:10px 0 56px;font-size:16px;color:#333;text-align:center;letter-spacing:-.5px}

/* notice */
.event_wrap .evt_notice{padding:28px 4.4444% 36px}
.event_wrap .notice_list li{position:relative;padding-left:5px;font-size:13px;font-weight:300;color:#999;line-height:18px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:0;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#999;;border-radius:50%;content:''}

/* btn */
.event_wrap .btn_apply{top:91%;left:23%;width:54%;height:9%}
.event_wrap .btn_apply2{top:72.5%;left:23%;width:54%;height:5%}

/* info */
.event_wrap .evt_info{padding:18px 4.4444% 0}
.event_wrap .info_list li{font-size:13px;font-weight:300;color:#666;line-height:18px;word-break:keep-all}
.event_wrap .evt_info + .evt_notice{padding-top:25px}

/* tabmenu */
.event_wrap .tabmenu_wrap{}
.tabmenu_wrap .tab_list{font-size:0}
.tabmenu_wrap .tab_list li{position:relative;display:inline-block;width:20%;padding-top:13.88888888%;vertical-align:top;}
.tabmenu_wrap .tab_list a{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/tab_title.png) 0 0 no-repeat;background-size:500% auto}
.tabmenu_wrap .tab_list .tab1{background-position:0 0}
.tabmenu_wrap .tab_list .tab2{background-position:25% 0}
.tabmenu_wrap .tab_list .tab3{background-position:50% 0}
.tabmenu_wrap .tab_list .tab4{background-position:75% 0}
.tabmenu_wrap .tab_list .tab5{background-position:100% 0}
.tabmenu_wrap .tab_list .tab1.is_active{background-position:0 100%}
.tabmenu_wrap .tab_list .tab2.is_active{background-position:25% 100%}
.tabmenu_wrap .tab_list .tab3.is_active{background-position:50% 100%}
.tabmenu_wrap .tab_list .tab4.is_active{background-position:75% 100%}
.tabmenu_wrap .tab_list .tab5.is_active{background-position:100% 100%}

/* product */
.event_wrap .product_list{padding:0 4.4444%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:47.256097%;height:auto;margin:0 0 30px 5.4878048%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:8px;font-size:14px;font-weight:400;color:#fff;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:3px}
.event_wrap .percent{position:absolute;top:0;left:0;width:30px;height:30px;border:1px solid #87bf31;background:#87bf31;font-size:11px;color:#fff;text-align:center;line-height:30px}
.event_wrap .percent .num{font-size:13px}
.event_wrap .original{margin-right:5px;font-size:13px;color:#999}
.event_wrap .sale{display:inline-block;font-size:18px;font-weight:600;color:#87bf31}
.event_wrap .sale ins{text-decoration:none}


.event_wrap .more_btn_wrap{position:relative;padding:0 4.4444% 40px}
.event_wrap .more_btn_wrap .btn_more{top:0;left:4.4444%;width:91.112%;height:73%;padding:0}

.event_wrap .btn_lnk{top:59%;right:21%;left:21%;bottom:18%;height:auto}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;margin:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:40px;height:40px;border:none;background:none}