@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:before,
.event_wrap .p_evt_tab:after{background:#444c37}
.event_wrap .p_evt_deal:before{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_deal_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_deal:after{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_deal_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec1.jpg) 0 0 repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec1_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec1_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f4f4f4}
.event_wrap .p_evt_sec3{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_evt_sec3.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:before{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec3_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec3_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:before{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec4_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:after{background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_bg_sec4_r.jpg) 0 0 no-repeat}


/* tab */
.event_wrap .evt_tab_wrap{position:absolute;top:0;left:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:25%;height:100%}
.event_wrap .evt_tab_wrap a{display:block;width:100%;height:100%}

.event_wrap .evt_tab_0123{display:none}
.event_wrap .evt_tab{display:block}

.event_wrap .evt_0123 .evt_tab_0123{display:block}
.event_wrap .evt_0123 .evt_tab{display:none}
.event_wrap .evt_0123 .evt_tab_wrap li{width:33.3333%}
.event_wrap .evt_0123 .evt_tab_wrap li:first-child{display:none}
.event_wrap .evt_0123 + .p_evt_deal{display:none}

/* deal */
.event_wrap .btn_wrap{position:relative}
.event_wrap .btn_buy{position:absolute;left:568px;bottom:107px;width:360px;height:80px;background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/deal_btn.png) 0 0 no-repeat;pointer-events:none;cursor:not-allowed;text-decoration:none}
.event_wrap .btn_buy:before{display:none}
.event_wrap .deal_opened .btn_buy{background-position:50% 0;pointer-events:auto;cursor:pointer}
.event_wrap .deal_soldout .btn_buy{background-position:100% 0}
.event_wrap .deal_notice{padding:10px 0 56px;font-size:16px;color:#333;text-align:center;letter-spacing:-.5px}

/* notice */
.event_wrap .evt_notice{padding:52px 32px 73px}
.event_wrap .notice_list li{position:relative;padding-left:12px;font-size:20px;font-weight:300;color:#999;line-height:34px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#999;;border-radius:50%;content:''}

/* btn */
.event_wrap .btn_apply{top:91%;left:30%;width:40%;height:9%}
.event_wrap .btn_apply2{top:61.1%;left:30%;width:40%;height:9%}

/* info */
.event_wrap .evt_info{padding:32px 32px 0}
.event_wrap .info_list li{font-size:20px;font-weight:300;color:#666;line-height:34px;word-break:keep-all}
.event_wrap .evt_info + .evt_notice{padding-top:45px}

/* tabmenu */
.event_wrap .tabmenu_wrap{width:1020px}
.tabmenu_wrap .tab_list{font-size:0}
.tabmenu_wrap .tab_list li{display:inline-block;width:20%;height:60px;vertical-align:top;}
.tabmenu_wrap .tab_list a{display:block;width:100%;height:100%;background:url(https://www.orga.co.kr/images/promo/202101/0118_seollal/img/p_tab_title.png) 0 0 no-repeat}
.tabmenu_wrap .tab_list .tab1{background-position:0 0}
.tabmenu_wrap .tab_list .tab2{background-position:25% 0}
.tabmenu_wrap .tab_list .tab3{background-position:50% 0}
.tabmenu_wrap .tab_list .tab4{background-position:75% 0}
.tabmenu_wrap .tab_list .tab5{background-position:100% 0}
.tabmenu_wrap .tab_list .tab1.is_active{background-position:0 100%}
.tabmenu_wrap .tab_list .tab2.is_active{background-position:25% 100%}
.tabmenu_wrap .tab_list .tab3.is_active{background-position:50% 100%}
.tabmenu_wrap .tab_list .tab4.is_active{background-position:75% 100%}
.tabmenu_wrap .tab_list .tab5.is_active{background-position:100% 100%}

/* product */
.event_wrap .product_list{padding:0 32px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:300px;height:auto;margin:0 0 55px 28px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:14px;font-size:20px;font-weight:400;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:1px}
.event_wrap .percent{position:absolute;top:0;left:0;width:60px;height:60px;border:1px solid #87bf31;background:#87bf31;font-size:20px;color:#fff;text-align:center;line-height:60px}
.event_wrap .percent .num{font-size:26px}
.event_wrap .original{margin-right:5px;font-size:16px;color:#999}
.event_wrap .sale{display:inline-block;font-size:30px;font-weight:600;color:#87bf31}
.event_wrap .sale ins{text-decoration:none}


.event_wrap .more_btn_wrap{position:relative;padding:0 32px 80px}
.event_wrap .more_btn_wrap .btn_more{top:0;left:32px;width:94%;height:73%}

.event_wrap .btn_lnk{top:19%;right:21%;left:21%;bottom:20%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;width:60px;height:60px;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;height:100%;margin:0;padding:0;border:none;background:none}
 