@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}

.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk{top:54%;left:5%;width:29%;height:11%}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:14.3%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}


.event_wrap.mevt img{width:100%;vertical-align:top}
.event_wrap.mevt .evt_section{max-width:none;width:100%}
.event_wrap.mevt .btn_lnk{top:61%;left:24%;width:53%;height:13%}
