@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;background-color:#f6f4f2}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;background-color:#f6f4f2;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;background-color:#f6f4f2;content:''}
.event_wrap .p_evt_tit:before{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:before{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_tab_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:#f6f4f2 url(https://www.orga.co.kr/images/promo/202008/0812_chuseok_preorder/img/p_sec3_bg_r.jpg) 0 0 no-repeat}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:12.0588235%;left:12.0588235%;bottom:0;height:88%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.333334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* info */
.event_wrap .info_list{position:absolute;left:5.7%;bottom:15.8%}
.event_wrap .info_list li{position:relative;margin-top:5px;padding-left:8px;font-size:18px;font-weight:300;color:#333;letter-spacing:-1px;line-height:20px;word-break:keep-all}
.event_wrap .info_list li:first-child{margin:0}
.event_wrap .info_list li:before{position:absolute;top:9px;left:0px;width:2px;height:2px;background-color:#333;content:''}
.event_wrap .info_list.list2{bottom:9.666666%}
.event_wrap .info_list.list3{bottom:8.333333%}

/* notice */
.event_wrap .evt_notice{padding:39px 55px}
.event_wrap .notice_list{padding:29px 0;border-top:1px solid #d3d2d0;border-bottom:1px solid #d3d2d0}
.event_wrap .notice_list li{position:relative;margin-top:3px;padding-left:14px;font-size:16px;font-weight:300;color:#000;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:4px;width:2px;height:2px;background-color:#000;content:''}
.event_wrap .evt_notice.notice2{padding-bottom:134px}

