@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;margin:0;padding:0;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto}


/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:5.5555555%;left:5.5555555%;bottom:0;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.333334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* info */
.event_wrap .info_list{position:absolute;bottom:35px;width:100%;text-align:center}
.event_wrap .info_list li{position:relative;font-size:13px;font-weight:300;color:#333;letter-spacing:-1px;line-height:20px;word-break:keep-all}

/* notice */
.event_wrap .evt_notice{padding:10px 5.555555% 70px;background:#f6f4f2}
.event_wrap .notice_list{padding:26px 0;border-top:1px solid #d3d2d0;border-bottom:1px solid #d3d2d0}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:12px;font-weight:300;color:#000;line-height:21px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:8px;left:2px;width:2px;height:2px;background-color:#000;content:''}
.event_wrap .evt_notice.notice2{padding-bottom:71px}

