@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .p_evt_nav .evt_section{overflow-x:scroll;-webkit-overflow-scrolling:touch;background:#1580c4}
.event_wrap .p_evt_nav .nav_swiper{position:relative;z-index:1;width:182.2222vw;height:22.2222vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0121_dannon_yogurt/img/m_evt_nav.jpg) no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap{height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%;display:inline-block}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:22%}
.event_wrap .evt_nav_wrap li:nth-child(2){width:17%}
.event_wrap .evt_nav_wrap li:nth-child(3){width:23%}
.event_wrap .evt_nav_wrap li:nth-child(4){width:18%}
.event_wrap .evt_nav_wrap li:nth-child(5){width:20%}

.event_wrap .p_evt_nav.is_fixed{padding-top:22.2222vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:6;top:14.4444vw;left:0;width:100%;height:22.2222vw;background:#1580c4}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#1580c4;z-index:-1}

/* items_list */
.event_wrap .items_list{position:absolute;top:44vw;left:5vw;right:5vw;display:flex;flex-wrap:wrap;gap:0 5vw}
.event_wrap .items_list li{width:42vw;height:74.5vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}
