@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;background:#6785b1;box-sizing:border-box}
.event_wrap .layer_popup_wrap,
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled,
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background:#6785b1;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background:#6785b1;content:''}


/* tab */
.event_wrap .evt_tab_wrap a{overflow:hidden;position:absolute;left:2%;top:50%;width:22%;height:10%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap .evt_tab2{top:61.5%}
.event_wrap .evt_tab_wrap .evt_tab3{left:auto;right:2%}
.event_wrap .evt_tab_wrap .evt_tab4{top:61.5%;left:auto;right:2%}

.event_wrap .p_evt_tab{height:110px}
.event_wrap .p_evt_tab.is_fixed{padding-top:110px}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;top:0;left:50%;z-index:1;width:100%;height:110px;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
/* .event_wrap .p_evt_tab.is_fixed .evt_section:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background:#1f2d2d;content:''}
.event_wrap .p_evt_tab.is_fixed .evt_section:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background:#1f2d2d;content:''} */
.event_wrap .evt_tab_wrap li.on a:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0106_resolve_7days/img/p_evt_tab_on.png) 0 0 no-repeat;content:''}
.event_wrap .evt_tab_wrap .tab1.on a:after{background-position:0 0}
.event_wrap .evt_tab_wrap .tab2.on a:after{background-position:50% 0}
.event_wrap .evt_tab_wrap .tab3.on a:after{background-position:100% 0}

/* prd items */
.event_wrap .product_list{padding:0 30px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:300px;height:auto;margin:0 0 38px 30px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:9px;font-size:22px;font-weight:400;color:#fff;line-height:30px;text-align:center;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:3px;text-align:center}
.event_wrap .percent{position:absolute;top:0;left:0;width:58px;height:58px;border:1px solid #f07c62;background-color:#f07c62;font-size:16px;color:#fff;text-align:center;line-height:54px;box-sizing:border-box}
.event_wrap .percent .num{font-weight:500;font-size:22px}
.event_wrap .percent .num + span{margin-left:-2px}
.event_wrap .original{margin-right:7px;font-size:18px;color:#fff}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#fff;text-decoration:none}
.event_wrap .sale .won{margin-left:2px;font-size:24px;font-weight:600;color:#fff}

.event_wrap .items_wrap3{padding-bottom:180px}
/* btn */
.event_wrap .btn_coupon{top:27%;left:44.5%;width:26%;height:56%;padding:0}
.event_wrap .btn_coupon2{top:27%;right:3%;width:26%;height:56%;padding:0}
.event_wrap .btn_apply{top:81.5%;left:34%;width:32%;height:9.5%;padding:0}
.event_wrap .btn_more{display:block;width:300px;height:80px;margin:18px auto 0;border:1px solid #fff;background:#fff;font-size:24px;font-weight:500;color:#6785b1;text-align:center;line-height:80px;border-radius:17px;box-sizing:border-box}

/* notice */
.event_wrap .p_evt_noti{padding-bottom:180px}
.event_wrap .p_evt_noti .evt_notice{padding:42px 29px;background:#7390b9;border-radius:12px}
.p_evt_noti .notice_list li{position:relative;padding-left:10px;color:#fff;font-size:16px;font-weight:300;line-height:30px;word-break:keep-all}
.p_evt_noti .notice_list li:before{position:absolute;top:14px;left:1px;width:3px;height:3px;background-color:#fff;border-radius:50%;content:''}


/* comment */
.event_wrap .comment_wrap{padding:0 30px;font-size:0}
.event_wrap textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{display:inline-block;position:relative;background:#fff;vertical-align:top;border-top-left-radius:20px;border-bottom-left-radius:20px;}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:800px;height:100px;padding:16px;border:0;background:none;font-size:18px;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:18px;color:#333}
.event_wrap .comment_wrap .btn_enroll{display:inline-block;width:160px;height:100px;padding:0;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0106_resolve_7days/img/p_btn_enroll.jpg) 0 0 no-repeat}

.event_wrap .comment_list{margin-top:44px;padding:0 30px}
.event_wrap .comment_list li{border-bottom:1px solid #95aac9}
.event_wrap .comment_list li:first-child{border-top:1px solid #95aac9}
.event_wrap .comment_list .inner{position:relative;padding:10px 20px 14px;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:18px;color:#fff;vertical-align:middle;clear:both}
.event_wrap .comment_list .comment_writer{min-width:128px;margin-left:18px}
/* .event_wrap .comment_list .comment_date{margin-left:18px} */
.event_wrap .comment_list .comment_title{overflow:hidden;float:left;width:74%;white-space:nowrap;text-overflow: ellipsis;}
.event_wrap .comment_list .btn_close{top:17px;right:16px;width:10px;height:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0106_resolve_7days/img/btn_close.png) 0 0 no-repeat}

.event_wrap .paginate{padding:40px 0 80px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 12px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:16px;font-size:16px;color:#fff;line-height:16px}
.event_wrap .paginate .num:before{position:absolute;top:0;left:-12px;width:1px;height:16px;background:#fff;content:''}
.event_wrap .paginate .num.on{display:block;font-weight:600}
.event_wrap .paginate .sp{display:inline-block;width:4px;height:16px;margin-top:4px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0106_resolve_7days/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-right:-12px}
.event_wrap .paginate .sp_next{margin-left:-12px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:560px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:38px 0 56px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:26px;font-weight:500;color:#333;line-height:1.5;letter-spacing:-1px}
.layer_popup_wrap .btn_area{margin-top:40px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:31.730769%;height:63px;background:#333;font-size:24px;color:#fff;letter-spacing:-1px;vertical-align:middle;line-height:63px;text-indent:0;border-radius:12px;}
 