@charset "utf-8";

.evt_wide_wrap,.event_wrap,.evt_section{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .prd_list{overflow:hidden;position:absolute;top:0;left:4%;width:92%;height:97%;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:50%;height:35%}
.event_wrap .prd_list li:first-child{display:block;width:100%;height:30%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%}

