@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

.event_wrap .prd_list{overflow:hidden;position:absolute;top:0;left:22%;width:56%;height:97%;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:50%;height:35%}
.event_wrap .prd_list li:first-child{display:block;width:100%;height:30%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%}

