@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .btn{position:absolute;padding:0;border:0;background:url(about:blank) 0 0 no-repeat;}
.event_wrap .evt_wide_wrap,
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:100%;margin:0 auto;background:#8a8b49;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

.event_wrap .roulette_wrap{position:relative;padding:0 4.4444444%}
.event_wrap .roulette{width:94.72222%;height:94.72222%;margin:0 auto}
.event_wrap .roulette_point{position:absolute;top:50%;left:50%;width:68px;height:68px;transform:translate(-50%,-86%)}
.event_wrap .btn_play{display:block;position:relative;z-index:1;width:50%;height:40px;margin:12px auto 0;font-size:15px;font-weight:600;color:#fff;padding:0;border:0;background:#c64b4b;line-height:40px;border-radius:50px}

/* notice */
.event_wrap .evt_notice{padding:40px 5.5555556% 50px}
.event_wrap .notice_title{display:block;position:relative;padding-left:20px;border-top:2px solid #000;font-size:14px;font-weight:600;color:#221f1f;line-height:34px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:3px;width:15px;height:15px;margin-top:-8px;background:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:15px 0;border-top:1px solid #787945;border-bottom:1px solid #787945}
.event_wrap .notice_list li{position:relative;padding-left:8px;font-size:12px;color:#221f1f;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:40px;border-top:2px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:13px;color:#373737;text-align:center;line-height:42px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:15px}
.layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
.layer_popup_contents{height:auto;padding:0 15px 23px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:15px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:75px;height:29px;font-size:12px;color:#fff;border:1px solid #71a715;background:#85b81f}
