@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{position:relative;width:1020px;max-width:1020px;margin:0 auto;background:#8a8b49;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;box-sizing:border-box}
.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}

.event_wrap .roulette_wrap{position:relative}
.event_wrap .roulette{display:block;width:656px;height:656px;margin:0 auto;}
.event_wrap .roulette_point{position:absolute;top:50%;left:50%;width:136px;height:136px;transform:translate(-68px,-128px)}
.event_wrap .btn_play{display:block;position:relative;z-index:1;width:360px;height:80px;margin:41px auto 0;font-size:29px;font-weight:600;color:#fff;padding:0;background:#c64b4b;letter-spacing:-2px;line-height:80px;border-radius:50px}

/* notice */
.event_wrap .evt_notice{padding:80px 32px 100px}
.event_wrap .evt_notice:after{position:absolute;left:0;bottom:0;width:100%;height:47px;background:url(https://www.orga.co.kr/images/promo/202105/0503_roulette/img/p_bg_noti.png) 0 0 no-repeat;content:''}
.event_wrap .notice_title{display:block;position:relative;padding-left:37px;border-top:4px solid #000;border-bottom:1px solid #787945;font-size:22px;font-weight:600;color:#221f1f;line-height:64px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:10px;width:24px;height:24px;margin-top:-10px;background:url(https://www.orga.co.kr/images/promo/202105/0503_roulette/img/ico_notice.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:21px 16px 23px;border-bottom:1px solid #787945}
.event_wrap .notice_list li{position:relative;padding-left:15px;font-size:16px;color:#221f1f;line-height:31px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:5px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}
