@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:20}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/m_evt_nav_on.jpg) 0 0/ auto 100% no-repeat;content:''}
.event_wrap .p_evt_nav li:last-child.on:after{background-position:100% 0}

/* notice */
.event_wrap .p_evt_noti.noti1{background-color:#f7eee1}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:1.5278vw 5.5555vw 8.0556vw}
.event_wrap .p_evt_noti.noti2{background-color:#bcb8b8}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/roulette/m_bg_roulette.png') center top;}
.mobile .fb__event .event__roulette__wrap .roulette{width:88.8888vw;height:88.8888vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-3vw;width:10.1388vw;margin-left:-5.1vw}
.mobile .fb__event .roulette__action img{width:22.2222vw;height:22.2222vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding:0}
