@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/m_evt_nav_on.jpg) no-repeat;background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* button */
.event_wrap .btn_lnk1{top:170vw;left:16vw;right:16vw;height:11vw}
.event_wrap .btn_move{top:0;left:16vw;right:16vw;height:11vw}

/* product */
.event_wrap .product_item{position:absolute;top:47.9166vw;left:0;right:0}
.event_wrap .product_item .discount{width:100%}
.event_wrap .product_item del{font-size:4vw;color:#222;margin-right:1.4vw}
.event_wrap .info_desc{position:absolute;top:36.1111vw;left:0;right:0}
.event_wrap .info_desc span{color:#000;opacity:.8;letter-spacing:-.15vw}

/* notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/m_img_noti.jpg) 50% 0/100%}
.event_wrap .noti2{background:#ecdac7}
.event_wrap .noti3{background:#f5f5f5}

/* template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/m_btn_bg.jpg) 50% 50%/100% !important;text-align:center}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:65vw;height:12.7777vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/m_img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
