@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;width:100%;height:100px;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li{flex:1;position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:first-child{width:412px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .evt_nav_wrap li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/p_evt_nav_on.png);background-size:300% auto}
.event_wrap .evt_nav_wrap li:nth-child(2).on{background-position-x:200%}
.event_wrap .evt_nav_wrap li:nth-child(3).on{background-position-x:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;width:1022px;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:100px;margin-top:10px;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1022px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav{position:absolute;top:592px;left:50%;min-width:auto;padding-top:100px}

/* button */
.event_wrap .btn_lnk1{top:84%;left:30%;right:30%;height:80px}
.event_wrap .btn_move{top:0;left:30%;right:30%;height:80px}

/* product */
.event_wrap .product_item{position:absolute;top:384px;left:0;right:0}
.event_wrap .info_desc{position:absolute;top:300px;left:0;right:0}
.event_wrap .info_desc span{color:#000;opacity:.8}
.event_wrap .product_item .name{letter-spacing:-1.5px}
.event_wrap .product_item .price_area del{font-size:20px;color:#222;margin-right:8px}

/* notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .noti1 .evt_notice{padding-top:74px;min-height:504px}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/p_img_noti2.jpg) 50% 0 no-repeat}
.event_wrap .noti2 .evt_notice{padding-top:0;min-height:363px}
.event_wrap .noti3{background:#f5f5f5}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{position:relative;width:100%;min-width:1200px;max-width:1920px;height:64px;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/p_btn_bg.jpg) 50% 0}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);margin-left:304px;width:312px;height:100%;font-size:0;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/1001/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
