@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{position:relative;overflow:hidden;min-width:1200px}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;width:100%;height:100px;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li{flex:1;position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:first-child{flex:none;width:462px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;width:787px;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:100px;margin-top:10px;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:787px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav{position:absolute;top:573px;left:50%;min-width:auto;padding-top:100px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/p_evt_nav_on.png) 0 0 no-repeat}
.event_wrap .p_evt_nav li:last-child.on:after{background-position:462px 0}

/* notice */
.event_wrap .p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/p_evt_sec2.jpg) top center no-repeat}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:38px 40px 50px}
.event_wrap .p_evt_noti.noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/p_evt_sec3.jpg) top center no-repeat}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:52px 40px 195px}

/* template */
.desktop .fb__event .event__roulette__wrap{min-width:1200px;height:700px;overflow:hidden;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member/img/0919/roulette/p_bg_roulette.png) center top no-repeat}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:160px;height:160px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:73px;margin-left:-37px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}
