@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background-color:#e8e8e8}


/* notice */
.event_wrap .p_evt_noti{background-color:#e8e8e8}
.event_wrap .evt_notice{padding-top:10.1389vw;}
