@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0516_summer_health/img/p_evt_sec1.jpg') #e8e8e8 center top no-repeat;}

/* notice */
.event_wrap .evt_notice{padding:72px 40px 92px;background-color:#e8e8e8}
