@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400;letter-spacing:-1px}

/* notice */
.event_wrap .evt_notice{padding:26px 5.555555%;background:#c4b490;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn_lnk1{top:15.5%;left:6%;width:88%;height:34.5%}
.event_wrap .btn_lnk2{top:53%;left:6%;width:88%;height:34.5%}
.event_wrap .btn_lnk3{top:89.6%;left:17.4%;width:65%;height:6%}
