@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400;letter-spacing:-1px}

/* notice */
.event_wrap .evt_notice{padding:38px 102px;background:#d2c7a9;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 10px 9px 46px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-9px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:0 20px;}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn_lnk1{top:312px;left:100px;width:382px;height:654px}
.event_wrap .btn_lnk2{top:312px;left:544px;width:382px;height:654px}
.event_wrap .btn_lnk3{top:1042px;left:276px;width:467px;height:124px}
