@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:90.2777vw;left:13.8889vw;right:13.8889vw;height:27.7777vw;display:flex;justify-content:center;align-content:space-between;flex-wrap:wrap;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/object/m_nav_bg.png) no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap li{position:relative;width:30.9%;height:49.5%}
.event_wrap .evt_nav_wrap li:nth-child(2){margin:0 3.6%}
.event_wrap .evt_nav_wrap li:nth-child(4){margin-right:3.6%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#e8ece9}
.event_wrap .evt_notice{padding:16.6666vw 5.5555vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

/* 아코디언탭 */
.event_wrap .tab_wrap .tab_btn{position:relative;display:block;width:100%;height:13.6111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/btn_down.jpg) 0 0/100% no-repeat}
.event_wrap .tab_wrap.on .tab_btn{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/btn_up.jpg) 0 0/100% no-repeat}
.event_wrap .tab_wrap .tab_content{display:none}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 21.25vw !important;background:#6b2aff !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:10vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}
.nav_motion.motion5{-webkit-animation-delay:2.4s;animation-delay:2.4s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 6s 0s ease-in-out infinite both;animation:bounce-left 6s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 6s 0s ease-in-out infinite both;animation:bounce-right 6s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:6%;left:9%;width:82%}
.motion_box .object2{position:absolute;top:36%;left:2%;width:95%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:29%;left:13%;width:75%;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:15%;left:-5%;width:34%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object5{position:absolute;top:20%;left:70%;width:44%;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object7{position:absolute;top:-14%;left:0;width:100%}
.motion_box .object_member{position:absolute;top:4.5vw;right:2vw;width:23.5vw;z-index:10}

.tit2 .motion_box .object1{top:5.2%}
.tit2 .motion_box .object2{top:32%}
.tit2 .motion_box .object3{top:25%}
.tit2 .motion_box .object4{top:13%}
.tit2 .motion_box .object5{top:-3%}
.tit2 .motion_box .object7{top:-10%}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
