@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:717px;left:50%;transform:translateX(-50%);width:645px;display:flex;gap:0 22px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/object/p_nav_bg.png) no-repeat}
.event_wrap .evt_nav_wrap li{position:relative;width:200px;height:250px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li img{margin:0 !important}

/* notice */
.event_wrap .p_evt_noti{background:#e8ece9 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/p_img_noti.jpg) top center no-repeat}
.event_wrap .evt_notice{padding:70px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 아코디언탭 */
.event_wrap .tab_wrap{background:#6b2aff}
.event_wrap .tab_wrap .tab_btn{position:relative;display:block;width:100%;height:88px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/p_btn_down.jpg) bottom center no-repeat}
.event_wrap .tab_wrap.on .tab_btn{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/p_btn_up.jpg) bottom center no-repeat}
.event_wrap .tab_wrap .tab_content{display:none}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:72px;margin:0 auto;padding:0;background:#6b2aff}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:417px;height:72px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa_member/img/1101/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}
.nav_motion.motion5{-webkit-animation-delay:2.4s;animation-delay:2.4s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 7s 0s ease-in-out infinite both;animation:bounce-left 7s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 7s 0s ease-in-out infinite both;animation:bounce-right 7s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:74px;left:264px}
.motion_box .object2{position:absolute;top:375px;left:200px;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:304px;left:301px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:160px;left:155px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object5{position:absolute;top:300px;left:26px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object6{position:absolute;top:190px;left:775px;-webkit-animation-delay:0.3s;animation-delay:0.3s}
.motion_box .object7{position:absolute;top:-20px;left:145px}
.motion_box .object_member{position:absolute;top:58px;left:845px}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-100px, -140px);
            transform:translate(-100px, -140px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-100px, -140px);
            transform:translate(-100px, -140px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(80px, -150px);
            transform:translate(80px, -150px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(80px, -150px);
            transform:translate(80px, -150px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
