@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* page */
.event_wrap .p_evt_sec2{padding-bottom:11.1111vw}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

/* item_list */
.item_list{position:absolute;z-index:1;top:11vw;left:4.444vw;right:4.444vw;height:340px;display: -ms-grid;display: grid;height:103vw;-ms-grid-columns:1fr 5vw 1fr;grid-template-columns:1fr 1fr;gap:8vw 5vw}
.item_list li:first-child{-ms-grid-column:2;grid-column:2}
.item_list li a{display:block;height:100%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:11.11111vw;right:4.4444vw;width:42.7777vw;height:33.3333vw}
.event_wrap .evt_mov video{display:block;width:100%;height:100%;object-fit:cover}
