@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;max-width:1920px;min-width:1200px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:80px;right:32px}
.event_wrap .info_desc{position:absolute;top:272px;left:32px;text-align:left}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

/* item_list */
.item_list{position:absolute;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;gap:40px;top:310px;left:30px;right:30px;height:340px}
.item_list li{-webkit-box-flex:1;-ms-flex:1;flex:1}
.item_list li a{display:block;height:100%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:310px;left:32px;width:352px;height:240px}
.event_wrap .evt_mov video{display:block;width:100%;height:100%;object-fit:cover}
