@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap *{box-sizing:border-box;-webkit-box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-500px;display:block;width:500px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-500px;display:block;width:500px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:#009df1 url('//www.pulmuoneshop.co.kr/upload/images/event/202007/0701_my_vacation_summer/img/p_evt_tit_left.jpg') no-repeat right top}
.event_wrap .p_evt_tit:after{background:#009df1 url('//www.pulmuoneshop.co.kr/upload/images/event/202007/0701_my_vacation_summer/img/p_evt_tit_right.jpg') no-repeat left top}
.event_wrap .p_evt_sec1:before{background:#009df1 url('//www.pulmuoneshop.co.kr/upload/images/event/202007/0701_my_vacation_summer/img/p_evt_sec1_left.jpg') no-repeat right top}
.event_wrap .p_evt_sec1:after{background:#009df1 url('//www.pulmuoneshop.co.kr/upload/images/event/202007/0701_my_vacation_summer/img/p_evt_sec1_right.jpg') no-repeat left top}
.event_wrap .p_evt_sec2, .event_wrap .p_evt_sec2:before, .event_wrap .p_evt_sec2:after{background-color:#b8efff}
.event_wrap .p_evt_sec3, .event_wrap .p_evt_sec3:before, .event_wrap .p_evt_sec3:after{background-color:#009df1}
.event_wrap .p_evt_sec4, .event_wrap .p_evt_sec4:before, .event_wrap .p_evt_sec4:after{background-color:#004e78}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:30%;padding:0 12%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:12px;color:#fff;font-size:22px;font-weight:300;letter-spacing:-.07em;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:.7em;left:0;width:3px;height:3px;border-radius:100%;-webkit-border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* thumbnail list */
.event_wrap .product_thumb_list{padding-bottom:90px}
.event_wrap .product_thumb_list:after{content:'';display:block;clear:both}
.event_wrap .product_thumb_list .item{position:relative;float:left;width:312px;margin-left:42px;text-align:left}
.event_wrap .product_thumb_list .item:nth-child(3n+1){margin-left:0}
.event_wrap .product_thumb_list .item:nth-child(3) ~ .item{margin-top:40px}
.event_wrap .product_thumb_list .item > a{display:block;color:#333;font-size:18px;font-weight:500}
.event_wrap .product_thumb_list .item .img_area{width:312px;height:352px;background-color:rgba(0,0,255,.4)}
.event_wrap .product_thumb_list .item .img_area img{width:100%;height:100%}
.event_wrap .product_thumb_list .item .product_name{margin:16px 0 8px;color:#333;font-weight:500;font-size:18px;overflow:hidden;text-overflow:ellipsis}
.event_wrap .product_thumb_list .item .price_area{text-align:right;letter-spacing:-.03em}
.event_wrap .product_thumb_list .item .price_area:after{content:'';display:block;clear:both}
.event_wrap .product_thumb_list .item .price_area .original{color:#707070;font-size:18px;font-weight:400;text-decoration:line-through}
.event_wrap .product_thumb_list .item .price_area .percent{float:left;color:#333;font-size:16px;font-weight:500}
.event_wrap .product_thumb_list .item .price_area .percent .num{font-size:26px;font-weight:700}
.event_wrap .product_thumb_list .item .price_area .sale{margin-left:6px;color:#333;font-size:26px;font-weight:700}
.event_wrap .product_thumb_list .item .btn_area{margin-top:20px}
.event_wrap .product_thumb_list .item .btn_area img{width:100%}

/* contents */
.p_evt_sec1{height:871px}
.p_evt_sec1 .evt_section{height:100%}
.p_evt_sec1 .btn_download{position:absolute;top:534px;left:316px;width:410px;height:83px;background:transparent;border:none}
.p_evt_sec1 .notice_wrap{position:absolute;left:0;top:735px;z-index:5;width:100%;padding:35px 100px 35px 120px;background-color:#7f7f7f}

.p_evt_sec2{padding:120px 0}
.p_evt_sec2 .product_group_tit{margin-bottom:32px}
.p_evt_sec2 .product_group3 .product_thumb_list{padding-bottom:0}

.p_evt_sec3{padding-bottom:100px}
.p_evt_sec3 .btn_area{margin-top:64px;text-align:center}
.p_evt_sec3 .btn_area .btn_apply{display:inline-block;border:none;background-color:transparent;}

.my_vacation_wrap:after{content:'';display:block;clear:both}
.my_vacation_wrap li{float:left;width:502px;margin-left:12px;padding-bottom:32px}
.my_vacation_wrap li:nth-child(2n+1){margin-left:0}
.my_vacation_wrap  input[type="radio"]{position:absolute;left:-9999px;opacity:0}
.my_vacation_wrap  input[type="radio"] + label{display:block;padding-bottom:50px;color:#fff;text-align:center}
.my_vacation_wrap  input[type="radio"] + label:before{content:'';position:absolute;bottom:0;left:calc(50% - 17px);width:34px;height:34px;border:none;background:transparent url('//www.pulmuoneshop.co.kr/upload/images/event/202007/0701_my_vacation_summer/img/input_radio.png') no-repeat left top}
.my_vacation_wrap  input[type="radio"]:checked + label:before{background-position:left bottom}
.my_vacation_wrap .img_area{margin-bottom:16px}
.my_vacation_wrap .img_area img{width:100%}
.my_vacation_wrap .evt_item_info{position:relative;color:#fff;text-align:center;line-height:1.4}
.my_vacation_wrap .evt_item_info .evt_text{display:block;font-size:25px;font-weight:300;letter-spacing:-.06em}
.my_vacation_wrap .evt_item_info .evt_text em{font-size:25px;font-weight:400;font-style:normal}
.my_vacation_wrap .evt_item_info .evt_item{display:block;margin-top:4px;font-size:22px;font-weight:400}

.p_evt_sec4 .notice_wrap{width:100%;padding:40px 0}


/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:transparent}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:644px;margin:0;border-radius:40px;-webkit-border-radius:40px;background-color:rgba(34,24,21,.9);vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:42px;height:42px}
.layer_popup_wrap .layer_popup_contents{padding:54px 60px 40px;font-family:'Noto Sans KR',sans-serif}

.layer_popup_wrap .my_vacation_wrap li{display:none;padding-bottom:0}
.layer_popup_wrap .my_vacation_wrap li.is_selected{display:block}
.layer_popup_wrap .my_vacation_wrap .img_area{margin-bottom:16px}
.layer_popup_wrap .my_vacation_wrap .img_area img{width:100%}
.layer_popup_wrap .my_vacation_wrap .evt_item_info{position:relative;color:#fff;text-align:center;line-height:1.4}
.layer_popup_wrap .my_vacation_wrap .evt_item_info .evt_text{display:block;font-size:30px;font-weight:300;letter-spacing:-.06em}
.layer_popup_wrap .my_vacation_wrap .evt_item_info .evt_text em{font-size:30px;font-weight:400;font-style:normal}
.layer_popup_wrap .my_vacation_wrap .evt_item_info .evt_item{display:block;margin-top:4px;font-size:24px;font-weight:400}
.layer_popup_wrap .evt_apply_msg{color:#fff;font-size:24px;font-weight:400;text-align:center}
.layer_popup_wrap .btn_area{width:100%;margin-top:30px}
.layer_popup_wrap .btn_area button{width:100%;border:none;background-color:transparent}

