@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto;font-family:'notokr'}
.event_wrap *{box-sizing:border-box;-webkit-box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:0%;left:0%;bottom:0;height:28%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:35%;height:100%}
.event_wrap .evt_tab_wrap li:nth-child(2){width:30%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .notice_list li{position:relative;margin-top:2px;padding-left:6px;color:#fff;font-size:1em;font-weight:300;letter-spacing:-.07em;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:.7em;left:0;width:2px;height:2px;border-radius:100%;-webkit-border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* bg */
.event_wrap .m_evt_sec2{background-color:#b8efff}
.event_wrap .m_evt_sec3{background-color:#009df1}
.event_wrap .m_evt_sec4{background-color:#004e78}

/* thumbnail list */
.event_wrap .product_thumb_list{padding-bottom:40px}
.event_wrap .product_thumb_list:after{content:'';display:block;clear:both}
.event_wrap .product_thumb_list .item{position:relative;float:left;width:calc((100% - 14px) / 2);text-align:left}
.event_wrap .product_thumb_list .item:nth-child(2n){margin-left:14px}
.event_wrap .product_thumb_list .item:nth-child(2) ~ .item{margin-top:30px}
.event_wrap .product_thumb_list .item > a{display:block;color:#333;font-size:14px;font-weight:500}
.event_wrap .product_thumb_list .item .img_area{width:100%;height:100%}
.event_wrap .product_thumb_list .item .img_area img{width:100%;height:100%}
.event_wrap .product_thumb_list .item .product_name{height:36px;margin:10px 0 5px;color:#333;font-size:14px;font-weight:500;line-height:1.3;overflow:hidden;text-overflow:ellipsis;letter-spacing:-.06em}
.event_wrap .product_thumb_list .item .price_area{text-align:right;letter-spacing:-.03em}
.event_wrap .product_thumb_list .item .price_area:after{content:'';display:block;clear:both}
.event_wrap .product_thumb_list .item .price_area .original{color:#707070;font-size:13px;font-weight:400}
.event_wrap .product_thumb_list .item .price_area .percent{float:left;color:#333;font-size:12px;font-weight:500}
.event_wrap .product_thumb_list .item .price_area .percent .num{font-size:18px;font-weight:700}
.event_wrap .product_thumb_list .item .price_area .sale{margin-left:3px;color:#333;font-size:18px;font-weight:700}
.event_wrap .product_thumb_list .item .btn_area{margin-top:10px}
.event_wrap .product_thumb_list .item .btn_area img{width:100%}

/* contents */
.m_evt_sec1 .coupon_area{position:relative}
.m_evt_sec1 .btn_download{position:absolute;top:58.7%;left:0;display:block;width:52%;height:16%;margin:0 24%;background:transparent;border:none}
.m_evt_sec1 .notice_wrap{width:100%;padding:18px 5% 28px;background-color:#7f7f7f}

.m_evt_sec2{padding-bottom:36px}
.m_evt_sec2 div[class^="product_group_tit"]{margin:0 5% 16px}
.m_evt_sec2 .product_group3 .product_thumb_list{padding-bottom:0}
.m_evt_sec2 .product_thumb_list{margin:0 5%}

.m_evt_sec3{padding-bottom:50px}
.m_evt_sec3 .btn_area{margin:32px 21.53% 0;text-align:center}
.m_evt_sec3 .btn_area .btn_apply{display:block;border:none;background-color:transparent}
.m_evt_sec3 .btn_area .btn_apply img {width:100%}
.m_evt_sec3 .event_gift{margin-top:-30px}
.my_vacation_wrap li{padding-bottom:20px}
.my_vacation_wrap  input[type="radio"]{position:absolute;left:-9999px;opacity:0}
.my_vacation_wrap  input[type="radio"] + label{display:block;padding-bottom:30px;color:#fff;text-align:center}
.my_vacation_wrap  input[type="radio"] + label:before{content:'';position:absolute;bottom:0;left:calc(50% - 12px);width:24px;height:24px;border:none;background:transparent url('//www.pulmuoneshop.co.kr/upload/images/event/202007/0701_my_vacation_summer/img/input_radio.png') no-repeat left top;background-size:100% auto}
.my_vacation_wrap  input[type="radio"]:checked + label:before{background-position:left bottom}
.my_vacation_wrap .img_area{margin:0 15.14% 6px}
.my_vacation_wrap .img_area img{width:100%}
.my_vacation_wrap .evt_item_info{position:relative;color:#fff;text-align:center;line-height:1.4}
.my_vacation_wrap .evt_item_info .evt_text{display:block;font-size:15px;font-weight:300;letter-spacing:-.06em}
.my_vacation_wrap .evt_item_info .evt_text em{font-size:15px;font-weight:400;font-style:normal}
.my_vacation_wrap .evt_item_info .evt_item{display:block;margin-top:4px;font-size:12px;font-weight:400}

.m_evt_sec4{padding:18px 5% 28px}


/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:transparent}
.layer_popup_wrap:before{background-color:transparent}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:90%;margin:0;border-radius:20px;-webkit-border-radius:20px;background-color:rgba(34,24,21,.9);vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:-46px;right:0;z-index:120;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:30px;height:30px}
.layer_popup_wrap .layer_popup_contents{padding:27px 11.267% 20px;font-family:'notokr'}

.layer_popup_wrap .my_vacation_wrap li{display:none;padding-bottom:0}
.layer_popup_wrap .my_vacation_wrap li.is_selected{display:block}
.layer_popup_wrap .my_vacation_wrap .img_area{margin:0 0 6px}
.layer_popup_wrap .my_vacation_wrap .img_area img{width:100%}
.layer_popup_wrap .my_vacation_wrap .evt_item_info{position:relative;color:#fff;text-align:center;line-height:1.4}
.layer_popup_wrap .my_vacation_wrap .evt_item_info .evt_text{display:block;margin:0px -5px;font-size:15px;font-weight:300;letter-spacing:-.06em}
.layer_popup_wrap .my_vacation_wrap .evt_item_info .evt_text em{font-size:15px;font-weight:400;font-style:normal}
.layer_popup_wrap .my_vacation_wrap .evt_item_info .evt_item{display:block;margin-top:4px;font-size:12px;font-weight:400}
.layer_popup_wrap .evt_apply_msg{color:#fff;font-size:12px;font-weight:400;text-align:center}
.layer_popup_wrap .btn_area{margin:15px 6.66% 0}
.layer_popup_wrap .btn_area button{width:100%;border:none;background-color:transparent}


















.layer_popup_wrap{display:none}