@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#fffbf4}

/* button */
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:20}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202402/0215_amio_kpetfair_setec/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{width:43.61vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{margin-top:2.6666vw;text-align:center}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#333}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* notice */
.event_wrap .p_evt_noti{background:#fffbf4}
.event_wrap .evt_notice{padding:13.8888vw 5.5555vw 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5556vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(51,51,51,.2);border-bottom:1px solid rgba(51,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}
