@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
/* @import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css"); */

/* reset */
/* .desktop .fb__event .event{overflow:visible;min-width:1168px;max-width:1920px;margin:0 auto;}   템플릿 배경 테스트때만 사용 */
.desktop .fb__event .event{overflow:visible;min-width:1168px;max-width:1920px;margin:0 auto;}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto} 
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* header */
.event_wrap .p_evt_header{background-color:#000}
.event_wrap .p_evt_header ul{display:flex}
.event_wrap .p_evt_header ul li{flex:1}
.event_wrap .p_evt_header ul li a{display:block;width:100%;padding:28px 0;font-size:26px;line-height:1;letter-spacing:-0.4px;color:#979797;text-align:center;font-weight:200;box-sizing:border-box}
.event_wrap .p_evt_header ul li.on a{color:#fff;font-weight:800}

/* button */
.event_wrap .btn_lnk1{top:74%;left:0%;width:49%;height:10.3%}
.event_wrap .btn_lnk2{top:74%;right:0%;width:49%;height:10.3%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 쿠폰  */
.event_wrap .coupon_list{position:absolute;top:282px;left:0;right:0}
.event_wrap .coupon_list .info_desc span{color:#337a3b}

/* 상품  */
.event_wrap .product_item.type_col5{margin-bottom:56px}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

/* 제품 슬라이드 */
.event_wrap .slide_box{position:absolute;min-width:2000px !important;width:1080px !important;top:570px !important;left:50%;transform:translateX(-50%);right:0;-webkit-backface-visibility:hidden}
.event_wrap .slide_box::before{content: '';position:absolute;top:0;left:0;width:30%;height:100%;background:rgb(238,238,238);background:linear-gradient(90deg, rgba(238,238,238,1) 10%, rgba(238,238,238,0) 100%);z-index:5}
.event_wrap .slide_box::after{content: '';position:absolute;top:0;right:0;width:30%;height:100%;background:rgb(238,238,238);background:linear-gradient(270deg, rgba(238,238,238,1) 10%, rgba(238,238,238,0) 100%);z-index:5}




/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{padding:0 !important;background-repeat:no-repeat !important;background-size:unset !important}
.desktop .fb__event .event__stamp .stamp__step__heading{line-height:1 !important;color:#000}
.desktop .fb__event .event__stamp .stamp__step__heading em{color:#000 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:auto !important;padding:44px 0 97px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{} /* w:120, h:120 */


/* 템플릿 공통 reset */
.event_wrap span{display:block !important;position:relative !important;width:auto !important;transform:unset !important;font:inherit !important;color:inherit !important}
.event_wrap .info_desc span{font-size:24px !important;font-weight:200 !important}

/* notice 템플릿 reset */
.event_wrap .notice_list{width:auto !important;flex-direction:column !important;align-items:flex-start !important;padding:0 !important}
.event_wrap .notice_list li{width:auto !important;height:auto !important;margin:0 !important}

/* 쿠폰 템플릿 reset */
.event_wrap .coupon_list ul{width:auto !important;padding:0 !important}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:60px !important}
.event_wrap .coupon_list li{width:auto !important;height:auto !important;margin:0 16px !important}
.event_wrap .coupon_type2 .coupon_item_info .info_type{color:#232323 !important;font-size:28px !important;font-weight:600 !important;line-height:30px !important}
.event_wrap .coupon_type2 .coupon_item_info .info_discount{color:#73c40b !important}
.event_wrap .coupon_type2 .coupon_item_info .info_name{color:#727272 !important;font-size:24px !important;letter-spacing:-1.2px !important}

/* 상품 템플릿 reset */
.event_wrap .product_item{width:auto !important;padding:0 !important}
.event_wrap .product_item li{width:auto !important;height:auto !important;margin:0 !important}
.event_wrap .type_col3 li{width:386px !important}
.event_wrap .item_thumbnail{padding-top:0 !important}
.event_wrap .product_item .item_thumbnail img{position:relative !important}
.event_wrap .product_item .price_area .discount{font-weight:600 !important;color:#f44336 !important}
.event_wrap .product_item.type_col5{margin-bottom:56px !important}
