@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .btn{position:absolute;padding:0;border:0;background:url(about:blank) 0 0 no-repeat;}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400;letter-spacing:-1px}

/* bg */
.event_wrap .p_evt_sec2{background:#edf0dd}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:68%;left:0;width:100%;height:22%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* product */
.event_wrap .product_list{padding:15px 4.444444% 0;font-size:0}
.event_wrap .product_list li{display:inline-block;width:47.5609756%;height:auto;margin:0 0 48px 4.8780487%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n){margin-left:0}
.event_wrap .product_list li:first-child{display:block;width:100%;margin:0 0 28px 0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:6px;font-size:13px;color:#000;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:1px}
.event_wrap .percent{position:absolute;top:0;left:0;width:40px;height:40px;background:#488a4b;font-size:0;color:#fff;text-align:center;line-height:40px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .percent .unit{font-size:12px}
.event_wrap .original{margin-right:5px;font-size:13px;color:#999}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:18px;font-weight:500;color:#488a4b;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#fff} 

.event_wrap li:first-child .product_title{float:left}
.event_wrap li:first-child .product_info{clear:right;vertical-align:top;text-align:right}

/* button */
.event_wrap .btn_coupon{top:86%;left:25%;width:50%;height:13%;padding:0}
.event_wrap .btn_apply{top:73.4%;left:22%;width:56%;height:7.5%;padding:0}

/* sprite button */
.event_wrap .btn_wrap{margin:-20px auto 0;padding-bottom:60px;text-align:center}
.event_wrap .sp_more{display:inline-block;width:180px;height:40px;background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/sp_btn.png) 0 0 no-repeat;background-position:0 100%;background-size:100% auto;font-size:1px;color:transparent}

/* items */
.event_wrap .items_wrap{position:relative}
.event_wrap .items_list{overflow:hidden;position:absolute;top:34%;right:4.444444%;left:4.444444%;bottom:4%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .items_list li{float:left;width:50%;height:50%}
.event_wrap .items_list button{display:block;width:100%;height:100%;padding:0;border:0;background:0}

/* notice */
.event_wrap .p_evt_noti1{background:#668a57}
.event_wrap .evt_notice{padding:32px 5.555555% 41px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .p_evt_noti2{background:#f4f4f4}
.event_wrap .p_evt_noti2 .evt_notice{padding:20px 5.555555% 60px}
.event_wrap .p_evt_noti2 .notice_title{padding:0px 9px 0 20px;border-top:2px solid #000;border-bottom:1px solid #cdcdcd;font-size:14px;font-weight:600;color:#221f1f;line-height:34px}
.event_wrap .p_evt_noti2 .notice_title:before{left:3px;width:15px;height:15px;margin-top:-7px;background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .p_evt_noti2 .notice_list{padding:15px 0;border-bottom:1px solid #cdcdcd}
.event_wrap .p_evt_noti2 .notice_list li{padding-left:8px;color:#221f1f}
.event_wrap .p_evt_noti2 .notice_list li:before{left:2px;background-color:#221f1f}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:40px;border-top:2px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:13px;color:#373737;text-align:center;line-height:42px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:15px}
.layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
.layer_popup_contents{height:auto;padding:0 15px 23px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:15px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:75px;height:29px;font-size:12px;color:#fff;border:1px solid #71a715;background:#85b81f}
