@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat;text-indent: initial}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400;letter-spacing:-1px}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_noti1,.event_wrap .p_evt_noti1:before,.event_wrap .p_evt_noti1:after{background:#668a57}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#edf0dd}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#f4f4f4}
.event_wrap .p_evt_noti2,.event_wrap .p_evt_noti2:before,.event_wrap .p_evt_noti2:after{background:#f4f4f4}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:82.5%;left:0;width:100%;height:14.5%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.333333%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}


/* notice */
.event_wrap .evt_notice{padding:30px 0 33px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:4px 10px 9px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-12px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* notice */
.event_wrap .p_evt_noti2 .evt_notice{padding:20px 32px 100px}
.event_wrap .p_evt_noti2 .notice_title{display:block;position:relative;padding:14px 10px 20px 37px;border-top:4px solid #000;border-bottom:1px solid #cdcdcd;color:#221f1f}
.event_wrap .p_evt_noti2 .notice_title:before{left:9px;width:23px;height:23px;margin-top:-12px;background:url(https://www.orga.co.kr/images/promo/202106/0607_best_orga/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .p_evt_noti2 .notice_list{padding:21px 16px 23px;border-bottom:1px solid #cdcdcd}
.event_wrap .p_evt_noti2 .notice_list li{position:relative;color:#221f1f}
.event_wrap .p_evt_noti2 .notice_list li:before{left:5px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f}


/* product */
.event_wrap .product_list{padding:0 32px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:300px;height:auto;margin:40px 0 76px 28px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:left}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:60px;margin-top:14px;font-size:20px;font-weight:400;color:#000;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:1px}
.event_wrap .percent{position:absolute;top:0;left:0;width:60px;height:60px;background:#488a4b;font-size:0;color:#fff;text-align:center;line-height:60px}
.event_wrap .percent .num{font-size:26px;font-weight:500}
.event_wrap .percent .unit{font-size:20px}
.event_wrap .original{margin-right:5px;font-size:16px;color:#999}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:30px;font-weight:500;color:#488a4b;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#fff} 

/* button */
.event_wrap .btn_coupon{top:342px;left:703px;width:184px;height:80px;padding:0}

/* sprite button */
.event_wrap .btn_wrap{margin:7px auto 0;padding-bottom:120px;text-align:center}
.event_wrap .sp_more{display:inline-block;width:360px;height:80px;background:url(https://www.orga.co.kr/images/promo/202107/0706_hello_summer/img/sp_btn.png) 0 0 no-repeat;background-position:0 100%;font-size:1px;color:transparent}

/* items */
.event_wrap .items_wrap{position:relative}
.event_wrap .items_list{overflow:hidden;position:absolute;top:30%;right:16.5%;left:16.5%;bottom:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .items_list li{float:left;width:50%;height:50%}
.event_wrap .items_list button{display:block;width:100%;height:100%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}
