@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#5dbbff}
.event_wrap .p_evt_sec2{background:#f4f4f4}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0 !important}
.event_wrap .btn_lnk1{top:0;left:5.5%;right:5.5%;height:33%}
.event_wrap .btn_lnk2{top:93.5%;left:5.5%;right:5.5%;height:6.5%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:23.0555vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0703_summer_vibe/img/0717/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:wrap}
.event_wrap .coupon_list li{width:43.61%;height:100%;margin:0 1.3888vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:100%}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 101% 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;min-height:11.6vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.05vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:3.3333vw}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#232323}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* notice */
.event_wrap .p_evt_noti{background:#5dbbff}
.event_wrap .evt_notice{padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:3.4722vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.6vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#addb64}
.event_wrap .noti2 .notice_title{border-top:2px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg)}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 2.777vw;margin-left:5.555vw}
.event_wrap .product_list li{width:43.055vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{display:block;width:43.055vw;height:43.055vw;background:#fff}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#56c000;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#56c000;font-family:'Lato'}

.event_wrap .item_desc{font-size:3.33333vw;text-align:center;letter-spacing:-.2px;padding:8.3333vw 0 13.8888vw 22.2222vw}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
