@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;bottom:0;left:0;right:0}

/* notice */
.event_wrap .evt_notice{background:#ffe0d1;padding:11.1111vw 7.6388vw 27vw;z-index:0}
.event_wrap .evt_notice::after{content:'';position:absolute;top:0;left:4.1666vw;right:4.1666vw;height:89%;background:#fff;border-radius:0 0 2.7777vw 2.7777vw;z-index:-1}
.event_wrap .notice_list{z-index:1}

/* 녹즙 slide */
.event_wrap .slide_box{position:absolute;top:0px;left:0;width:100%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}

.event_wrap .slide_box .slide_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 5px;background:rgba(255, 255, 255, 0.4);border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#fff}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}
