@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:4%;right:4%;height:80%}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;bottom:0;left:0;right:0}

/* notice */
.event_wrap .evt_notice{background:#ffe0d1;padding:80px 85px 160px;z-index:0}
.event_wrap .evt_notice::after{content:'';position:absolute;top:0;left:0;right:0;width:1056px;height:460px;margin:0 auto;background:#fff;border-radius:0 0 12px 12px;z-index:-1}
.event_wrap .notice_list{z-index:1}
