@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .event_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_item_list{position:absolute;top:13.4%;bottom:5.5%;left:15.5%;right:15.5%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:45.7%;height:46.6%;margin-left:8%}
.event_wrap .prd_item_list li:nth-child(2n-1){margin-left:0}
.event_wrap .prd_item_list li:nth-child(2n) ~ li{margin-top:9%}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

/* mobile */
.event_wrap.mevt .event_wrap{max-width:none}
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .prd_item_list{position:absolute;top:12.6%;bottom:5%;left:10%;right:10%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap.mevt .prd_item_list li{display:inline-block;width:44%;height:46%;margin-left:11.5%}
.event_wrap.mevt .prd_item_list li:nth-child(2n-1){margin-left:0}
.event_wrap.mevt .prd_item_list li:nth-child(2n) ~ li{margin-top:11%}
.event_wrap.mevt .prd_item_list li a{display:block;width:100%;height:100%}