@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 auto;vertical-align:top}

.event_wrap .btn{position:absolute;top:68.8%;width:43.5%;height:25.3%}

.event_wrap .items_list{position:absolute;top:0;right:4%;left:4.2%;bottom:14%;border:0;padding:0;display:flex;justify-content:space-between}
.event_wrap .items_list li{width:32.5%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%;cursor:default}