@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#eee}
.event_wrap .p_evt_sec2{background:#8a8d4a;padding-bottom: 100px;}

/* button */
.event_wrap .item_list{position:relative; display: flex;justify-content: space-between}
.event_wrap .item_list li{position:relative;}
.event_wrap .item_list img{margin:0 auto !important;}
/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content:''}

/* notice */
.event_wrap .p_evt_noti{background:#eee}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .evt_notice{padding:80px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* special */
.event_wrap .special_list{position: relative;background-color: #615802;}
.event_wrap .special_txt{padding: 40px 40px 30px 40px;}
.event_wrap .special_txt img{display: block;margin: 0 !important; mix-blend-mode: overlay;}
.event_wrap .special_tit{color: #fff;line-height: 68px;font-weight: 500;font-size: 42px;
font-family: 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;;}
.event_wrap .special_tit em{font-size: 50px; font-weight: 400;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .special_tit::after{position: relative;display:inline-block;width: 12px;height: 16px; margin-left: 15px; background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202302/0217_orga_fruit/img/product_sub_tit_03.png) 0 0 no-repeat;content:'';vertical-align: 10%;}
.event_wrap .special_info{position: relative;margin: 0 50px;border-top: 1px dashed #c2b004; padding: 30px 20px;}
.event_wrap .special_cost{position: relative;display:flex;flex-wrap:wrap;justify-content:space-between;font-weight:500;color:#fff;}
.event_wrap .special_cost dt{padding:8px 0 0;font-size:20px;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .special_cost dd{position:relative;padding:4px 0;font-size:28px;box-sizing:border-box;display:flex;align-items:center}
.event_wrap .special_cost dd .cost{font-family:'Lato'}
.event_wrap .special_cost dd .won{font-size:20px;padding-top:3px}
.event_wrap .special_cost dd ins{text-decoration:none}
.event_wrap .special_cost .original{font-size:18px;color:#999}
.event_wrap .special_cost .original .cost{font-size:22px}
.event_wrap .special_cost .original .won{font-size:18px}
