@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:to}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* bg */
.event_wrap{background:#292222 url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/p_bg.jpg) no-repeat left top;color:#fff;text-align:center}

/* tabmenu */
.event_wrap .evt_tab_wrap{width:749px;margin:70px auto 114px}
.event_wrap .evt_tab_wrap:after{content:'';display:block;clear:both}
.event_wrap .evt_tab_wrap li{float:left;width:185px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/arrow_menu.png) no-repeat center bottom;text-align:center}
.event_wrap .evt_tab_wrap li a{display:block;padding-bottom:35px;color:#fff;font-size:20px;font-weight:300;line-height:1.5;letter-spacing:-.045em}

/* notice */
.event_wrap .notice_list{margin:0 84px;padding:35px;background-color:rgba(255,255,255,.17)}
.event_wrap .notice_list li{position:relative;padding-left:12px;color:rgba(255,255,255,.8);font-size:22px;font-weight:300;letter-spacing:-.07em;text-align:left;line-height:1.8;word-break:keep-all} 
.event_wrap .notice_list li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:3px;height:3px;border-radius:100%;background-color:rgba(255,255,255,.8)}

/* thumbnail list */
.event_wrap .product_thumb_list:after{content:'';display:block;clear:both}
.event_wrap .product_thumb_list .item{position:relative;float:left;width:271px;margin-left:20px;text-align:left}
.event_wrap .product_thumb_list .item:nth-child(3n+1){margin-left:0}
.event_wrap .product_thumb_list .item:nth-child(3) ~ .item{margin-top:60px}
.event_wrap .product_thumb_list .item > a{display:block;color:#fff;font-size:22px}
.event_wrap .product_thumb_list .item .img_area{width:271px;height:271px}
.event_wrap .product_thumb_list .item .img_area img{width:100%;height:100%; }
.event_wrap .product_thumb_list .item .product_name{height:52px;margin:20px 0 10px;font-weight:300;font-size:22px;line-height:26px;overflow:hidden;text-overflow:ellipsis}
.event_wrap .product_thumb_list .item .price_area span{display:inline-block;margin-right:10px;font-weight:300;text-decoration:line-through}
.event_wrap .product_thumb_list .item .price_area strong{font-size:30px;font-weight:500}
.event_wrap .product_thumb_list .item .cate_badge{position:absolute;top:-34px;left:0;display:block;width:63px;height:97px;padding-top:50px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/bg_category.png) no-repeat left top;color:#fff;font-size:24px;font-weight:500;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:1.1}
.event_wrap .product_thumb_list .item .cate_badge.line2{padding-top:40px}

/* Thank you Coupon  */
.p_evt_sec1{padding-bottom:110px}
.p_evt_sec1 .coupon_area{position:relative;display:block;width:423px;height:491px;margin:12px auto 45px}
.p_evt_sec1 .coupon_area .btn_download{position:absolute;top:333px;right:11px;display:inline-block;width:410px;height:83px;background-color:transparent;color:transparent}

/* 상반기 결산 최대 50% 할인 */
.p_evt_sec2{padding-bottom:104px}
.p_evt_sec2 .best_product_top12{margin-top:60px;margin-left:84px}

/* 홈쿡, 집에서도 잘 먹는 법! */
.p_evt_sec3{padding-bottom:110px}
.p_evt_sec3 .homecook_wrap{margin:40px 44px 0;border:1px solid #8ec31f}
.p_evt_sec3 .homecook_wrap .tabmenu_list:after{content:'';display:block;clear:both}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li{float:left;width:33%;height:85px;border-left:1px solid #8ec31f;border-bottom:1px solid #8ec31f;background-color:rgba(142,195,31,.3);box-sizing:border-box;-webkit-box-sizing:border-box}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li:first-child{width:34%;border-left:0}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li a{display:block;height:85px;padding-top:13px;color:rgba(255,255,255,.55);font-size:20px;font-weight:300;box-sizing:border-box;-webkit-box-sizing:border-box}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li a > span{display:block;font-size:25px}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li.is_active{position:relative;background-color:#292222}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li.is_active a{color:#fff}
.p_evt_sec3 .homecook_wrap .tabmenu_list > li.is_active:after{content:'';position:absolute;bottom:-13px;left:calc(50% - 12px);display:block;width:26px;height:13px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/arrow_tab.png) no-repeat left top}
.p_evt_sec3 .homecook_wrap .tab_content{display:none;padding:64px 34px 40px;box-sizing:border-box;-webkit-box-sizing:border-box}
.p_evt_sec3 .homecook_wrap .product_thumb_list{margin-top:48px}
.p_evt_sec3 .homecook_wrap .homecook_sub_desc{height:74px}

/* LG DIOS 광파오븐 경품 이벤트 */
.p_evt_sec4 {padding-bottom:110px}
.p_evt_sec4 h2 {margin-bottom:48px}

.p_evt_sec4 .present_slide_wrap {position:relative;width:852px;height:553px;margin:0 auto 58px}
.p_evt_sec4 .present_slide_wrap .swiper-container {overflow:hidden;height:553px}
.p_evt_sec4 .present_slide_wrap .swiper-slide{width:852px;float:left}
.p_evt_sec4 .present_slide_wrap .controls [class^="btn_"]{display:inline-block;width:52px;height:67px;position:absolute;top:calc(50% - 34px)} 
.p_evt_sec4 .present_slide_wrap .controls .btn_prev{left:-43px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/btn_prev.png) no-repeat left top}
.p_evt_sec4 .present_slide_wrap .controls .btn_next{right:-43px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/btn_next.png) no-repeat right top}
.p_evt_sec4 .present_slide_wrap .controls .disabled{/*display:none;*/opacity:.3;cursor:default}

.event_wrap .comment_wrap{position:relative;margin:50px 84px 0;padding:25px 20px;background-color:#fff;text-align:left}
.event_wrap .comment_wrap:after{content:'';position:absolute;left:calc(50% - 14px);bottom:-18px;display:block;width:28px;height:18px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/arrow_comment.png) no-repeat 0 0}
.event_wrap .comment_wrap .inner{overflow:hidden}
.event_wrap .comment_wrap .inner:after{display:block;clear:both;content:''}
.event_wrap .comment_wrap .textarea_wrap{float:left;width:calc(100% - 190px);height:50px;border-bottom:1px solid #979797;box-sizing:border-box}
.event_wrap .comment_wrap .textarea_wrap textarea,
.event_wrap .comment_wrap .textarea_wrap textarea:disabled{width:100%;height:50px;padding:10px 15px;border:0;background:none;font-size:18px;font-weight:500;font-family:'Noto Sans KR',sans-serif;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .comment_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .comment_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:18px;color:#333;font-weight:700}
.event_wrap .comment_wrap .btn_apply{overflow:hidden;width:190px;height:50px;background:#292222;color:#fff;font-size:18px; font-weight:500;font-family:'Noto Sans KR',sans-serif;line-height:50px;white-space:nowrap}

.event_wrap .input_check_wrap{position:relative;margin:26px 84px 0 0;text-align:right;}
.event_wrap .input_check{position:absolute;top:2px;left:2px;z-index:-1;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:32px;padding-right:4px;font-size:20px;color:#fff;font-weight:300;vertical-align:top;cursor:pointer;}
.event_wrap .input_check+label:before{display:inline-block;width:18px;height:19px;margin:5px 6px 0 0;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 100%}

.event_wrap .comment_list{margin:50px 84px 0;text-align:left}
.event_wrap .comment_list li{border-bottom:1px solid rgba(255,255,255,.17)}
.event_wrap .comment_list .inner{position:relative;padding:12px 0;font-size:0}
.event_wrap .comment_list span{display:inline-block;color:#9b9595;font-size:16px;font-weight:500;vertical-align:middle}
.event_wrap .comment_list .comment_title{overflow:hidden;position:relative;width:55%;padding-right:30px}
.event_wrap .comment_list .comment_title span{overflow:hidden;width:100%;font-size:18px;font-weight:300;color:#fff;letter-spacing:-.08em;line-height:1.6;text-overflow:ellipsis;white-space:nowrap}
.event_wrap .comment_list .comment_writer{width:120px}
.event_wrap .comment_list .comment_date{width:120px}
.event_wrap .comment_list .cont_area{overflow:hidden;height:0}
.event_wrap .comment_list .btn_more{position:absolute;top:0;right:0;padding:5px 10px}
.event_wrap .comment_list .btn_more .ico{width:12px;height:7px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/sp_arrow.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}
.event_wrap .comment_list .btn_del_comment {position:absolute;top:24px;right:4px;display:block;width:26px;height:26px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/btn_del.png) no-repeat 0 0;background-size:100%;}
.event_wrap .inner.is_expanded .btn_more .ico{background-position:0 100%}
.event_wrap .inner.is_expanded .cont_area{height:auto}
.event_wrap .inner .cont_area .comment_title{overflow:hidden;width:100%;padding-right:60px;font-size:18px;font-weight:300;color:#fff;line-height:1.6;box-sizing:border-box}

.event_wrap .paginate{margin:30px 0 80px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;width:30px;height:30px;margin:0 10px;font-weight:400;font-size:18px;color:#fff;line-height:30px;vertical-align:middle}
.event_wrap .paginate .num{position:relative}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-20px;width:2px;height:2px;border-radius:100%;background:#fff;content:''}
.event_wrap .paginate .on{display:block;background:#fff;color:#292222;border-radius:50%;-webkit-border-radius:50%}
.event_wrap .paginate .sp{display:inline-block;width:6px;height:10px;margin-top:-5px;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/sp_paginate.png) 0 0 no-repeat;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-left:14px}
.event_wrap .paginate .sp_next{margin-right:14px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}

/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:697px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:42px;height:42px;}

.layer_popup_wrap  .agree_content_container {padding-top:48px;text-align:left;}
.layer_popup_wrap  .agree_wrap .tit {margin-bottom:10px;color:#000;font-size:24px;font-weight:400;letter-spacing:-.05em;line-height:1;}
.layer_popup_wrap  .agree_wrap table {width:100%;table-layout:fixed;}
.layer_popup_wrap  .agree_wrap table th, 
.layer_popup_wrap  .agree_wrap table td {padding:10px 8px;border-left:1px solid #fff;font-size:24px;font-weight:300;text-align:left;vertical-align:top;letter-spacing:-.05em;word-break:keep-all;}
.layer_popup_wrap  .agree_wrap table th:first-child, 
.layer_popup_wrap  .agree_wrap table td:first-child {border-left:0;}
.layer_popup_wrap  .agree_wrap table th {background-color:#292222;color:#fff;}
.layer_popup_wrap  .agree_wrap table td {background-color:#cbcbcb;color:#000;border-top:1px solid #fff;}
.layer_popup_wrap  .agree_wrap + .agree_wrap {margin-top:64px}
.layer_popup_wrap  .agree_text_notice {margin-top:50px;padding-left:16px;text-indent:-16px;color:#000;font-size:24px;font-weight:300;letter-spacing:-.05em;word-break:keep-all;}

.layer_popup_wrap .btn_area {width:100%;margin-top:48px;}
.layer_popup_wrap .btn_area [class^="u_btn"] {display:inline-block;width:calc(50% - 4px);height:78px !important;line-height:74px !important;font-size:35px !important;font-weight:300 !important;letter-spacing:-.05em;text-align:center;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box;}
.layer_popup_wrap .btn_area .u_btn.btn_agree { border:2px solid #292222; background-color:#292222; color:#fff;}
.layer_popup_wrap .btn_area .u_btn.btn_cancel {width:calc(50% - 4px);margin:0; border:2px solid #292222;background-color:#cbcbcb;color:#292222 !important;}
.layer_popup_wrap .btn_area .u_btn + .u_btn {margin-left:8px;}
