@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:720px;margin:0 auto}
.event_wrap {max-width:720px;margin:0 auto;font-family:'Noto Sans KR',sans-serif}

/* bg */
.event_wrap{background:#292222 url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/m_bg.jpg) no-repeat left top;background-size:100%;color:#fff;text-align:center}

/* tabmenu */
.event_wrap .evt_tab_container{position:relative}
.event_wrap .evt_tab_wrap{position:absolute;top:0;left:0;width:100%}
.event_wrap .evt_tab_wrap:after{content:'';display:block;clear:both}
.event_wrap .evt_tab_wrap li{position:relative;float:left;height:100%;/*background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/arrow_menu.png) no-repeat center bottom;*/text-align:center}
.event_wrap .evt_tab_wrap li:nth-child(1){width:21%}
.event_wrap .evt_tab_wrap li:nth-child(2){width:25%}
.event_wrap .evt_tab_wrap li:nth-child(3){width:25%}
.event_wrap .evt_tab_wrap li:nth-child(4){width:29%}
.event_wrap .evt_tab_wrap li a{display:block;height:132px}

/* notice */
.event_wrap .notice_list{margin:0 16px;padding:15px;background-color:rgba(255,255,255,.17)}
.event_wrap .notice_list li{position:relative;padding-left:6px;color:rgba(255,255,255,.8);font-size:11px;font-weight:300;letter-spacing:-.07em;text-align:left;line-height:1.8;word-break:keep-all} 
.event_wrap .notice_list li:before{content:'';position:absolute;top:.7em;left:0;display:block;width:2px;height:2px;border-radius:100%;background-color:rgba(255,255,255,.8)}

/* thumbnail list */
.event_wrap .product_thumb_list:after{content:'';display:block;clear:both}
.event_wrap .product_thumb_list .item{position:relative;float:left;width:calc((100% - 10px) / 2);text-align:left}
.event_wrap .product_thumb_list .item:nth-child(2n) {margin-left:10px}
.event_wrap .product_thumb_list .item:nth-child(2) ~ .item{margin-top:50px}
.event_wrap .product_thumb_list .item > a{display:block;color:#fff;font-size:16px}
.event_wrap .product_thumb_list .item .img_area{width:100%;height:100%}
.event_wrap .product_thumb_list .item .img_area img{width:100%;height:100%}
.event_wrap .product_thumb_list .item .product_name{height:40px;margin:10px 0 5px;font-weight:300;font-size:15px;line-height:20px;;overflow:hidden;text-overflow:ellipsis;letter-spacing:-.05em}
.event_wrap .product_thumb_list .item .price_area span{display:inline-block;margin-right:10px;font-weight:300;text-decoration:line-through}
.event_wrap .product_thumb_list .item .price_area strong{font-size:22px;font-weight:500}
.event_wrap .product_thumb_list .item .cate_badge{position:absolute;top:-26px;left:0;display:block;width:48px;height:74px;padding-top:40px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/bg_category.png) no-repeat left top;background-size:100%;color:#fff;font-size:18px;font-weight:500;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:1.1}
.event_wrap .product_thumb_list .item .cate_badge.line2{padding-top:30px}

/* Thank you Coupon  */
.m_evt_sec1 .coupon_area{position:relative;display:block;width:100%}
.m_evt_sec1 .coupon_area .btn_download{position:absolute;top:60%;left:20%;display:inline-block;width:58%;height:15%;border:none;background-color:transparent;color:transparent;cursor:pointer}

/* 상반기 결산 최대 50% 할인 */
.m_evt_sec2 .best_product_top12{margin:25px 16px 0}

/* 홈쿡, 집에서도 잘 먹는 법! */
.m_evt_sec3 .homecook_wrap .tabmenu_list{margin:0 8px;border:1px solid #8ec31f}
.m_evt_sec3 .homecook_wrap .tabmenu_list:after{content:'';display:block;clear:both}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li{float:left;width:33%;border-left:1px solid #8ec31f;background-color:rgba(142,195,31,.3);box-sizing:border-box;-webkit-box-sizing:border-box}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li:first-child{border-left:0}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li:last-child{width:34%}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li a{display:block;padding:13px 0;color:rgba(255,255,255,.55);font-size:12px;font-weight:300;letter-spacing:-0.045em;box-sizing:border-box;-webkit-box-sizing:border-box}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li a > span{display:block;font-size:16px}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li.is_active{position:relative;background-color:#292222}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li.is_active a{color:#fff}
.m_evt_sec3 .homecook_wrap .tabmenu_list > li.is_active:after{content:'';position:absolute;bottom:-6px;left:calc(50% - 6px);display:block;width:13px;height:6px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/arrow_tab.png) no-repeat left top;background-size:100%}
.m_evt_sec3 .homecook_wrap .tab_content{display:none;padding:0 16px;box-sizing:border-box;-webkit-box-sizing:border-box}
.m_evt_sec3 .homecook_wrap .homecook_sub_desc{margin:0 -16px}

/* LG DIOS 광파오븐 경품 이벤트 */
.m_evt_sec4 {padding-bottom:25px}
.m_evt_sec4 .present_slide_wrap {position:relative;margin:0 16px 32px}
.m_evt_sec4 .present_slide_wrap .swiper-container {overflow:hidden}
.m_evt_sec4 .present_slide_wrap .swiper-slide{float:left}
.m_evt_sec4 .present_slide_wrap .controls [class^="btn_"]{display:inline-block;width:16px;height:34px;position:absolute;top:calc(50% - 17px);cursor: pointer} 
.m_evt_sec4 .present_slide_wrap .controls .btn_prev{left:-16px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/btn_prev_m.png) no-repeat left top;background-size:100%}
.m_evt_sec4 .present_slide_wrap .controls .btn_next{right:-16px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/btn_next_m.png) no-repeat right top;background-size:100%}
.m_evt_sec4 .present_slide_wrap .controls .disabled{display:none}
.m_evt_sec4 .present_slide_wrap .controls .swiper-button-disabled{/*display:none;*/opacity:.3;cursor:default}

.event_wrap .comment_wrap{position:relative;margin:32px 16px 0;padding:20px 15px;background-color:#fff;text-align:left}
.event_wrap .comment_wrap:after{content:'';position:absolute;left:calc(50% - 14px);bottom:-18px;display:block;width:28px;height:18px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/arrow_comment.png) no-repeat 0 0}
.event_wrap .comment_wrap .inner{overflow:hidden}
.event_wrap .comment_wrap .textarea_wrap{overflow:hidden;height:94px;border:1px solid #979797;box-sizing:border-box}
.event_wrap .comment_wrap .textarea_wrap textarea,
.event_wrap .comment_wrap .textarea_wrap textarea:disabled{width:100%;padding:10px;line-height:25px;border:0;background:none;font-size:13px;font-weight:500;font-family:'Noto Sans KR',sans-serif;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .comment_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .comment_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:13px;color:#333;font-weight:700}
.event_wrap .comment_wrap .btn_apply{display:inline-block;margin:20px 64px 0;width:calc(100% - 130px);border:none;background-color:#292222;color:#fff;font-size:16px;font-weight:500;font-family:'Noto Sans KR',sans-serif;line-height:50px;white-space:nowrap}

.event_wrap .input_check_wrap{display:block;position:relative;padding:20px 16px 0;text-align:right}
.event_wrap .input_check{position:absolute;top:2px;left:2px;z-index:-1;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:26px;font-size:12px;color:#fff;font-weight:300;line-height:26px;vertical-align:top;cursor:pointer;}
.event_wrap .input_check+label:before{display:inline-block;width:18px;height:19px;margin:4px 6px 0 0;background:url(//www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 100%}

.event_wrap .comment_list{margin:35px 16px 0;text-align:left}
.event_wrap .comment_list li{border-bottom:1px solid rgba(255,255,255,.17)}
.event_wrap .comment_list .inner{position:relative;padding:12px 0;font-size:0}
.event_wrap .comment_list span{display:inline-block;color:#9b9595;font-size:12px;font-weight:500;vertical-align:middle}
.event_wrap .comment_list .comment_title{overflow:hidden;position:relative;max-width:70%;padding-right:30px}
.event_wrap .comment_list .comment_title span{overflow:hidden;width:100%;font-size:12px;font-weight:300;color:#fff;letter-spacing:-.08em;line-height:1.6;text-overflow:ellipsis;white-space:nowrap}
.event_wrap .comment_list .comment_writer{width:120px}
.event_wrap .comment_list .comment_date{width:120px}
.event_wrap .comment_list .cont_area{overflow:hidden;height:0}
.event_wrap .comment_list .btn_more{position:absolute;top:0;right:0;padding:7px 5px;border:none;background-color:transparent;font-size:0;line-height:1;vertical-align:middle;cursor: pointer}
.event_wrap .comment_list .btn_more .ico{width:8px;height:5px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/sp_arrow_m.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}
.event_wrap .comment_list .btn_del_comment {position:absolute;top:24px;right:4px;display:block;width:23px;height:23px;border:none;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/btn_del.png) no-repeat 0 0;background-size:100%;cursor: pointer}
.event_wrap .inner.is_expanded .btn_more .ico{background-position:0 100%}
.event_wrap .inner.is_expanded .cont_area{height:auto}
.event_wrap .inner .cont_area .comment_title{overflow:hidden;width:100%;max-width:100%;padding-right:40px;font-size:12px;font-weight:300;color:#fff;line-height:1.6;box-sizing:border-box}

.event_wrap .paginate{margin:15px 0 32px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;width:22px;height:22px;margin:0 10px;font-weight:400;font-size:14px;color:#fff;line-height:22px;vertical-align:middle}
.event_wrap .paginate .num{position:relative}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-20px;width:2px;height:2px;border-radius:100%;background:#fff;content:''}
.event_wrap .paginate .on{display:block;background:#fff;color:#292222;border-radius:50%;-webkit-border-radius:50%}
.event_wrap .paginate .sp{display:inline-block;width:6px;height:10px;margin-top:-5px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0617_first_half_settlement/img/sp_paginate.png) 0 0 no-repeat;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-left:14px}
.event_wrap .paginate .sp_next{margin-right:14px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}


/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:-46px;right:0;z-index:120;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:30px;height:30px}

.layer_popup_contents{height:auto;padding:24px 15px;}
.layer_popup_contents .layer_popup_content{padding:15px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}

.layer_popup_wrap  .agree_content_container {text-align:left;}
.layer_popup_wrap  .agree_wrap .tit {margin-bottom:5px;color:#000;font-size:12px;font-weight:400;letter-spacing:-.05em;line-height:1;}
.layer_popup_wrap  .agree_wrap table {width:100%;table-layout:fixed;}
.layer_popup_wrap  .agree_wrap table th, 
.layer_popup_wrap  .agree_wrap table td {padding:5px 4px;border-left:1px solid #fff;font-size:12px;font-weight:300;text-align:left;vertical-align:top;letter-spacing:-.05em;}
.layer_popup_wrap  .agree_wrap table th:first-child, 
.layer_popup_wrap  .agree_wrap table td:first-child {border-left:0;}
.layer_popup_wrap  .agree_wrap table th {background-color:#292222;color:#fff;}
.layer_popup_wrap  .agree_wrap table td {background-color:#cbcbcb;color:#000;border-top:1px solid #fff;}
.layer_popup_wrap  .agree_wrap + .agree_wrap {margin-top:32px}
.layer_popup_wrap  .agree_text_notice {margin-top:25px;padding-left:10px;text-indent:-10px;color:#000;font-size:12px;font-weight:300;letter-spacing:-.05em;word-break:keep-all;}

.layer_popup_wrap .btn_area {width:100%;margin-top:24px;}
.layer_popup_wrap .btn_area [class^="u_btn"] {display:inline-block;width:calc(50% - 2px);height:38px !important;line-height:36px !important;font-size:17px !important;font-weight:300 !important;letter-spacing:-.05em;text-align:center;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box;}
.layer_popup_wrap .btn_area .u_btn.btn_agree {border:1px solid #292222; background-color:#292222; color:#fff;}
.layer_popup_wrap .btn_area .u_btn.btn_cancel {width:calc(50% - 2px);margin:0; border:1px solid #292222;background-color:#cbcbcb;color:#292222 !important;}
.layer_popup_wrap .btn_area .u_btn + .u_btn {margin-left:4px;}
