@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:1010px;left:110px;width:85%;height:120px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;height:210px}

/* notice */
.event_wrap .p_evt_noti{background:#6b131f url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1219_new_year_member/img/p_img_noti.jpg) center top}
.event_wrap .evt_notice{min-height:535px;padding:40px 40px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#9f8342 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1219_new_year_member/img/p_img_noti2.jpg) center top}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0 0 50px;padding:12px 20px 33px;border-top:1px solid  rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#fff;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* product */
.desktop .fb__event .event__stamp ul.product_list{position:absolute;top:355px;left:40px;padding:0;display:flex;flex-wrap:wrap;width:calc(100% + 8px);box-sizing:border-box}
.desktop .fb__event .event__stamp ul.product_list li{width:266px;height:auto;margin:0 8px 0;vertical-align:top}
.desktop .fb__event .event__stamp ul.product_list a{display:block;width:100%;height:100%}
.desktop .fb__event .event__stamp ul.product_list .inner{position:relative;font-size:0}

.desktop .fb__event .event__stamp .stamp__step ul.product_list span{position:relative;-webkit-transform:rotate(0);transform:rotate(0deg);width:auto}

.desktop .fb__event .event__stamp ul.product_list .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:300px;background:#fff}
.desktop .fb__event .event__stamp ul.product_list .product_img img{height:100%;margin:0 !important}
.desktop .fb__event .event__stamp ul.product_list .product_info{display:block;position:relative;min-height:190px;padding-top:20px;box-sizing:border-box}
.desktop .fb__event .event__stamp ul.product_list .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px}
.desktop .fb__event .event__stamp ul.product_list .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-2px;word-break:keep-all;margin-bottom:5px}
.desktop .fb__event .event__stamp ul.product_list .percent{display:block;position:absolute !important;top:-300px;left:0;width:60px !important;height:60px;line-height:60px;text-align:center;background:#04775e}
.desktop .fb__event .event__stamp ul.product_list .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;line-height:60px;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .percent .unit{display:inline-block;font-size:14px;line-height:60px;color:#fff}
.desktop .fb__event .event__stamp ul.product_list .original{display:inline-block;margin:5px 8px 0 0}
.desktop .fb__event .event__stamp ul.product_list .original del{display:inline-block;font-size:18px;font-weight:300;color:#333;letter-spacing:-.6px;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .sale{display:inline-block;margin-top:5px}
.desktop .fb__event .event__stamp ul.product_list .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:180px !important;height:180px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#05775e}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#05775e !important;color:#fff !important}

.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}