@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#fbfbfb}
.event_wrap .info_text{padding-top:15px;font-size:13px;font-weight:600;color:#333;line-height:18px;text-align:center;word-break:keep-all}

/* notice */
.event_wrap .p_evt_noti{background:#fbfbfb}
.event_wrap .evt_notice{padding:45px 6.94444%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{padding:1vw 4.44444vw 0 3.33333vw;background:#fbfbfb}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding:0}
