@charset "utf-8";

/* reset */
.desktop .fb__event .event__survey__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#fbfbfb}
.event_wrap .info_text{padding-top:21px;font-size:18px;font-weight:600;color:#333;line-height:24px;text-align:center}

/* notice */
.event_wrap .p_evt_noti{background:#fbfbfb}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#fbfbfb;content:''}
.event_wrap .evt_notice{padding:50px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:8px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;background:#fbfbfb}
.desktop .fb__event .event__survey .survey:after{position:absolute;top:0;left:50%;z-index:-1;width:1920px;height:100%;background:#fbfbfb;transform:translate(-50%,0);content:""}
.desktop .detail-wrapper__bottom{padding:0}
