@charset "utf-8";

/* .event_wrap{padding-top:14.44444vw} */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;padding:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:77%;left:6%;width:78%;height:24%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;width:100%;height:33.33334%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .tab2{top:85%;height:16%}
.event_wrap .tab2 li{height:50%}

/* video */
.event_wrap .video_wrap{position:absolute;top:37.037037%;left:5.555555%;;width:88.88888889%;height:44.444444%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* items list */
.event_wrap .items_list{position:absolute;top:21%;right:6%;left:6%;bottom:6%;font-size:0}
.event_wrap .items_list li{width:100%;height:33.33334%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .btn_coupon{top:76.6%;left:33%;width:34%;height:8.6%}

/* notice */
.event_wrap .p_evt_noti{background:#fffcee}
.event_wrap .evt_notice{padding:44px 5.555555% 65px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2 .evt_notice{background:#44b222}
.event_wrap .noti2 .notice_title{border-color:#fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background-position:-24px 0}
.event_wrap .noti2 .notice_list{border-top-color:rgba(255,255,255,.2);border-bottom-color:rgba(255,255,255,.2)}
.event_wrap .noti2 .notice_list li{color:#fff}
.event_wrap .noti2 .notice_list li:before{background-color:#fff}
