@charset "utf-8";
/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;padding:0}

.event_wrap .p_evt_sec4 .evt_section:before{position:absolute;top:-104px;left:-376px;width:695px;height:494px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202109/0907_vegetable_meal/img/evt_bg.png) 0 0 no-repeat;content:'';}
.event_wrap .p_evt_sec5 .evt_section:before{position:absolute;top:-300px;left:-376px;width:695px;height:494px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202109/0907_vegetable_meal/img/evt_bg2.png) 0 0 no-repeat;content:'';}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:43%;right:4%;width:22%;height:37%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;width:100%;height:33.33334%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .tab2{top:47%;height:25%}
.event_wrap .tab2 li{height:50%}

/* video */
.event_wrap .video_wrap{position:absolute;top:200px;left:157px;width:854px;height:480px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* items list */
.event_wrap .items_list{position:absolute;top:33%;right:6%;left:6%;bottom:0;font-size:0}
.event_wrap .items_list li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .btn_coupon{top:89%;left:40.5%;width:19%;height:11%}

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:50%;z-index:-1;min-width:1920px;width:100%;height:100%;background:#35c2eb;transform:translate(-50%,0);content:''}
.event_wrap .evt_notice{padding:40px;background:#fffcee;border-bottom-left-radius:40px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{padding-bottom:150px}
.event_wrap .noti2 .evt_notice{background:#eaffee}
