@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:89%;left:17%;right:17%;height:3.6%}
.event_wrap .btn_lnk2{top:73.5%;left:9%;right:9%;height:10.8%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

/* 롤링모션 */
.event_wrap .flow_box{position:relative;width:100%;height:12.5vw;background:#000 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_renewal_open_member/img/m_img_flow.jpg) 0 center / 260.8333vw repeat-x;animation:move 16s linear infinite}
.event_wrap .object{position:absolute;top:0;left:0;width:100%;height:100%}
@keyframes move {
  0% {
    background-position: 0 center;
  }

  100% {
    background-position: -260.8333vw center;
  }
}

/* 제품 슬라이드 */
.event_wrap .slide_box_ver2{position:absolute;width:100%;top:115vw;left:0;right:0;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:100%;margin-left:25vw}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{display:block;position:relative;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;margin:0 !important}

.slide_box_ver2 .slide_btn_box2 button{display:none}
.slide_box_ver2 .slide_btn_show2 button{display:none}
.slide_box_ver2 .slide_pagination2{display:none}

/* 배지 */
.event_wrap .badge_box{position:absolute;top:92.3vw;left:0;width:100%;display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .badge_box > div{width:25.5556vw;margin:0 auto}

.event_wrap .badge_box::after{content:'1회';position:absolute;bottom:4.2vw;left:50%;transform:translateX(-50%);width:8.8889vw;height:3.4722vw;background:#fff;border:1px solid #d7d7d7;border-radius:100px;font-size:3vw;font-weight:600;line-height:3.4722vw;text-align:center;z-index:2;}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 !important;background:#eee !important}
.mobile .fb .event__stamp .stamp__step__heading, .tablet .fb .event__stamp .stamp__step__heading{font-size:5.5556vw;font-weight:600}
.mobile .fb .event__stamp .stamp__step__heading em, .tablet .fb .event__stamp .stamp__step__heading em{color:#333 !important;margin-left:1vw !important}
.mobile .fb .event__stamp .stamp__step ul, .tablet .fb .event__stamp .stamp__step ul{padding:3.0556vw 0 11.1111vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:21.3889vw !important;height:21.3889w !important;margin:0 2.7778vw !important}
