@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* reset */
/* .desktop .fb__event .event{overflow:visible;min-width:1168px;max-width:1920px;margin:0 auto;}   템플릿 배경 테스트때만 사용 */
.desktop .fb__event .event{overflow:visible;min-width:1168px;max-width:1920px;margin:0 auto;}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto} 
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* button */
.event_wrap .btn_lnk1{top:83.3%;left:30%;right:30%;height:7.2%}
.event_wrap .btn_lnk2{top:74%;left:0%;right:0;height:10.3%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

/* notice 템플릿 reset */
.event_wrap .notice_list{width:auto !important;padding:0 !important;flex-direction:column !important;align-items:flex-start !important}
.event_wrap .notice_list li{width:auto !important;height:auto !important;margin:0 !important}

/* 롤링모션 */
.event_wrap .flow_box{position:relative;width:100%;height:80px;background:#000 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_renewal_open_member/img/p_img_flow.jpg) 0 center / 1920px repeat-x;animation:move 18s linear infinite}
.event_wrap .object{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .object img{margin:0 !important}
@keyframes move {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -1920px center;
  }
}

/* 제품 슬라이드 */
.event_wrap .slide_box_ver2{position:absolute;max-width:1920px !important;min-width:1920px !important;width:1920px !important;top:490px !important;left:50%;transform:translateX(-50%);right:0;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box_ver2::before{content: '';position:absolute;top:0;left:0;width:30%;height:100%;background:rgb(238,238,238);background:linear-gradient(90deg, rgba(238,238,238,1) 10%, rgba(238,238,238,0) 100%);z-index:5}
.event_wrap .slide_box_ver2::after{content: '';position:absolute;top:0;right:0;width:30%;height:100%;background:rgb(238,238,238);background:linear-gradient(270deg, rgba(238,238,238,1) 10%, rgba(238,238,238,0) 100%);z-index:5}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{display:block;position:relative;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;margin:0 !important}

.slide_box_ver2 .slide_btn_box2 button{display:none}
.slide_box_ver2 .slide_btn_show2 button{display:none}
.slide_box_ver2 .slide_pagination2{display:none}

/* 배지 */
.event_wrap .badge_box{position:absolute;top:660px;left:0;width:580px;display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .badge_box > div{width:180px;margin:0 auto}
.event_wrap .badge_box::after{content:'1회';position:absolute;bottom:25px;left:50%;transform:translateX(-50%);width:64px;height:25px;background:#fff;border:2px solid #d7d7d7;border-radius:100px;font-size:18px;font-weight:600;line-height:25px;text-align:center;z-index:2}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{padding:0 !important;background-repeat:no-repeat !important;background-size:unset !important}
.desktop .fb__event .event__stamp .stamp__step__heading{line-height:1 !important;color:#000}
.desktop .fb__event .event__stamp .stamp__step__heading em{color:#000 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:auto !important;padding:44px 0 97px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{} /* w:120, h:120 */
