@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#f9f4de}

/* items_list */
.event_wrap .items_list{padding-bottom:12.5vw}
.event_wrap .items_list li{width:100%;padding-bottom:1.3888vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{width:100%;height:100%}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%}
.event_wrap .items_list .item_info{width:71.6666vw;margin:0 auto;color:#222;letter-spacing:-.2px}

.event_wrap .items_list .text{font-size:3.6111vw;font-weight:400;text-align:center}
.event_wrap .items_list .name{margin:1.1111vw 0 2.7777vw;font-size:5vw;font-weight:800;text-align:center}

.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:0.8333vw 0}

.event_wrap .items_list .price_area{padding-top:2.7777vw;border-top:2px solid #222;font-size:4.1666vw;font-weight:400}
.event_wrap .items_list .sale_area{padding-bottom:2.7777vw;border-bottom:2px solid #222;font-size:4.1666vw;font-weight:600}
.event_wrap .items_list .coupon_area{padding:2.7777vw 0;font-size:5.8333vw;font-weight:800}
.event_wrap .items_list .discount{display:inline-block;margin-right:1.3888vw;color:#f31000}
.event_wrap .items_list .desc{font-size:3.0555vw;color:#999}
