@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:170px;left:0;right:0;}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_saemmul/img/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_noti .evt_notice{min-height:475px}

/* items_list */
.event_wrap .items_list{display:flex;margin-bottom:110px}
.event_wrap .items_list li{width:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:310px;overflow:hidden}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{width:314px;margin:0 auto;color:#222;letter-spacing:-.4px}

.event_wrap .items_list .text{font-size:20px;font-weight:400;text-align:center}
.event_wrap .items_list .name{margin:8px 0 20px;font-size:30px;font-weight:800;text-align:center}

.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:4px 0}

.event_wrap .items_list .price_area{padding-top:10px;border-top:2px solid #222;font-size:22px;font-weight:400}
.event_wrap .items_list .sale_area{padding-bottom:10px;border-bottom:2px solid #222;font-size:22px;font-weight:600}
.event_wrap .items_list .coupon_area{padding:20px 0;font-size:26px;font-weight:800}
.event_wrap .items_list .discount{display:inline-block;margin-right:5px;color:#f31000}
.event_wrap .items_list .desc{font-size:16px;color:#999}
