@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:50%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:24.8vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:5%;right:5%;height:64%}
.event_wrap .btn_lnk2{top:0;left:0;right:0;bottom:0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;top:48.6111vw;left:50%;transform:translateX(-50%);width:100%;box-sizing:border-box}
.event_wrap .coupon_list li{margin-bottom:5.5555vw}
.event_wrap .p_evt_sec2 .coupon_list{top:44.4444vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.6111%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:43.6111%;height:9.28vw;left:50%;transform:translateX(-50%);padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:4.1666vw}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:1vw;color:#fff}
.event_wrap .coupon_desc span small{display:inline-block;font-size:3.6vw;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#0f1926 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/img_noti.jpg) 0 100%/100% no-repeat}
.event_wrap .evt_notice{padding:6.9444vw 5.555555% 16vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#0f1926 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/img_noti2.jpg) 100% 0/100% no-repeat}

.event_wrap .noti3{background:#6b131f url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/img_noti3.jpg) 100% 0/100%}
.event_wrap .noti3 .evt_notice{padding-top:0}
.event_wrap .noti3 .notice_title{border-top:2px solid #fff;color:#fff}
.event_wrap .noti3 .notice_list{padding:9px 9px 9px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti3 .notice_list li{color:#fff}
.event_wrap .noti3 .notice_list li:before{background-color:#fff}

/* product */
.event_wrap .product_list{position:absolute;top:56vw;left:5.556vw;display:flex;flex-wrap:wrap}
.event_wrap .product_list li{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw;background:#fff}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw !important}
.event_wrap .product_info{display:block;margin-bottom:10vw;padding-top:1.389vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 0.694vw}
.event_wrap .percent{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;line-height:9.722vw;text-align:center;background:#04775e}
.event_wrap .percent .num{display:inline-block;font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:2.778vw;color:#fff}
.event_wrap .original{display:inline-block;margin:1.389vw 2.222vw 0 0}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#333;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:1.389vw}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.88889vw;font-weight:500;color:#222}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 22.2222vw !important;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/btn_bg.jpg) !important;background-size:100% auto !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:13.8888vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .motion_visual{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .motion img{margin:0 !important}
.event_wrap .motion{-webkit-animation:bounce 3s 0s ease-in-out infinite both;animation:bounce 3s 0s ease-in-out infinite both}
.event_wrap .motion.object1{position:absolute;width:17%;top:80%;left:1%;z-index:5}
.event_wrap .motion.object2{position:absolute;width:23%;top:-10%;left:70%;z-index:10;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.event_wrap .object3{position:absolute;top:0;left:0;width:50%}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(5px, -20px);
            transform:translate(5px, -20px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(5px, -20px);
            transform:translate(5px, -20px);
  }
}