@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:75px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:75px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(1){width:312px}
.event_wrap .p_evt_nav li:nth-child(2){width:272px}
.event_wrap .p_evt_nav li:nth-child(3){width:272px}
.event_wrap .p_evt_nav li:nth-child(4){width:312px}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-312px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-584px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-856px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;height:210px}
.event_wrap .btn_lnk2{top:0;left:0;right:0;bottom:0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;width:100%;top:268px;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:wrap}
.event_wrap .coupon_list li{height:100%;margin:0 20px}
.event_wrap .p_evt_sec2 .coupon_list{top:275px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:20px}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#fff}
.event_wrap .coupon_desc span small{font-size:16px;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#0f1926 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/p_img_noti.jpg) center top}
.event_wrap .evt_notice{min-height:353px;padding:40px 40px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#0f1926 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/p_img_noti2.jpg) center top}
.event_wrap .noti2 .evt_notice{min-height:426px}

.event_wrap .noti3{background:#6b131f url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/p_img_noti3.jpg) center top}
.event_wrap .noti3 .evt_notice{min-height:542px;padding-top:0}
.event_wrap .noti3 .notice_title{padding:13px 10px 18px 46px;border-top:4px solid #fff}
.event_wrap .noti3 .notice_title:before{top:50%;left:20px}
.event_wrap .noti3 .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti3 .notice_list li{padding-left:16px}

/* product */
.event_wrap .product_list{position:absolute;top:355px;left:40px;display:flex;flex-wrap:wrap;width:calc(100% + 8px);box-sizing:border-box}
.event_wrap .product_list li{width:266px;margin-right:8px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:300px;background:#fff}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:block;min-height:190px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:5px}
.event_wrap .percent{position:absolute;top:0;left:0;width:60px;height:60px;line-height:60px;text-align:center;background:#04775e}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:14px;color:#fff}
.event_wrap .original{display:inline-block;margin:5px 8px 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#333;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:5px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;margin:0 auto;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/p_btn_bg.jpg) 50% 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1201_new_year/img/1219/p_img_btn.png) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .motion_visual{position:absolute;top:86px;left:513px}
.event_wrap .motion img{margin:0 !important}
.event_wrap .motion{-webkit-animation:bounce 3s 0s ease-in-out infinite both;animation:bounce 3s 0s ease-in-out infinite both}
.event_wrap .motion.object1{position:absolute;top:454px;left:-37px}
.event_wrap .motion.object2{position:absolute;top:556px;left:1080px;z-index:10;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.event_wrap .object3{position:absolute;top:0;left:0}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(10px, -30px);
            transform:translate(10px, -30px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(10px, -30px);
            transform:translate(10px, -30px);
  }
}