@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:22%}
.event_wrap .evt_nav_wrap li:nth-child(2){width:30%}
.event_wrap .evt_nav_wrap li:nth-child(3){width:24%}
.event_wrap .evt_nav_wrap li:nth-child(4){width:24%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.1667vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0113_edward_lee/img/m_evt_nav_on.jpg);background-size:auto 100%}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:317% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 0}

/* button */
.event_wrap .btn_lnk1{top:5vw;left:4.5vw;right:4.5vw;height:80vw}

/* page */
.event_wrap .p_evt_sec5{padding-bottom:11.1111vw;background:#80c342}
.event_wrap .p_evt_noti{background:#f5f5f5}

/* items_list */
.event_wrap .items_list{position:absolute;top:52.5vw;left:8vw;right:8vw}
.event_wrap .items_list li{width:100%;height:101vw;margin-bottom:8vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100%;height:56.2vw;background:url(https://i.ytimg.com/vi/UWNeSMvINcI/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgWShUMA8=&rs=AOn4CLD3m05GS6CXsvIoDX5Q5bY4flZVCg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
