@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom, .tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:75%;left:0;right:0;height:18%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:first-child{width:90%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti:nth-of-type(4) .evt_notice{padding-bottom:0}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:#79c53e !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:26.3888vw !important;height:26.3888vw !important;margin-left:4.1666vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#009333}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#009333 !important;color:#fff !important;line-height:4.66667vw !important}
