@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:540px;left:340px;right:360px;height:70px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti:nth-of-type(4) .evt_notice{padding-bottom:20px}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:0}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step, .tablet .fb__event .event__stamp .stamp__step{position:relative;background-color:#f9f9f9;background-size:unset !important;background-repeat:no-repeat;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3, .tablet .fb__event .event__stamp .stamp__step ul.col3{width:1000px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li, .tablet .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area, .tablet .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before, .tablet .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply__desc em, .tablet .fb__event .event__stamp .stamp__apply__desc em{color:#009333}
.desktop .fb__event .event__stamp .stamp__apply--purchase, .tablet .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#009333 !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}
