@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* common */
.event_wrap{max-width:720px;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

.event_wrap .p_evt_sec1{background:#eae8e5}
.event_wrap .p_evt_sec2{background:#54734f}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;bottom:0;left:4%;width:92%;height:13%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.coupon_wrap{position:relative}
.coupon_wrap .date{position:absolute;width:100%;top:0;font-size:16px;font-weight:600;color:#54734f;line-height:1;text-align:center}
.coupon_wrap .date span{display:inline-block;margin-bottom:6px;vertical-align:text-bottom;font-size:10px}
.coupon_wrap .btn_coupon{top:75.7%;left:8.5%;width:40%;padding-top:12.5%}
.coupon_wrap .btn_buy{top:75.7%;left:51.5%;width:40%;padding-top:12.5%}

.coupon_wrap .coupon_info{position:absolute;width:100%;top:66.5%;left:0;text-align:center;display:block}
.coupon_wrap .original{margin-right:15px;font-size:14px;font-weight:600;color:#999}
.coupon_wrap .sale{display:inline-block;font-size:0}
.coupon_wrap .sale ins{font-size:20px;font-weight:600;color:#111;text-decoration:none}

/* notice */
.event_wrap .evt_notice{padding:40px 5.83333333% 82px}
.event_wrap .infor_list{margin-bottom:25px;}
.event_wrap .infor_list li{position:relative;padding-left:20px;font-size:12px;font-weight:500;color:#fff;line-height:20px;letter-spacing:-0.5px;word-break:keep-all}
.event_wrap .infor_list li:before{content:'';height:3px;position:absolute;left:0;top:13px;width:8px;background-color:#fff;display:block;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.event_wrap .infor_list li:after{content:'';height:3px;position:absolute;left:5px;top:11px;width:10px;background-color:#fff;display:block;
transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}

.event_wrap .notice_list li{position:relative;padding-left:6px;color:#999;font-size:12px;font-weight:300;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:0;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#999;border-radius:50%;content:''}

/* 응모하기 button */
.event_wrap .btn_apply{display:block;width:50%;height:7.7%;bottom:7%;left:25%;}

/* slide */
.event_wrap .evt_swipe_wrap{position:relative;width:100%;padding-left:5.5%;padding-top:10%;box-sizing:border-box}
.event_wrap .evt_swipe_wrap .swiper-container{overflow:hidden;width:100%;height:100%;white-space:nowrap}
.event_wrap .evt_swipe_wrap .swiper-slide{text-align:center}
.event_wrap .evt_swipe_wrap .swiper-slide:after{position:absolute;top:35%;left:100%;width:15px;height:2px;background-color:#54734f;content:''}
.event_wrap .evt_swipe_wrap .swiper-slide:nth-child(6):after{width:0;height:0;}
.event_wrap .evt_swipe_wrap .swiper-slide:nth-child(7):after{width:0;height:0;}
.event_wrap .evt_swipe_wrap .swiper-slide p{margin-top:20%;font-size:13px;font-weight:500;color:#111;line-height:1.1;}
.event_wrap .evt_swipe_wrap .swiper-slide:last-child p{letter-spacing:-1px}
.event_wrap .evt_swipe_wrap .swiper-slide:last-child p br{display:none;}
@media all and (max-width:360px){
    .event_wrap .evt_notice{padding-top:20px}
    .event_wrap .evt_swipe_wrap .swiper-slide:last-child p br{display:block;} /* 360이하 상품모음 마지막 글씨 개행 */
}
.event_wrap .evt_swipe_wrap .swiper-slide p span{display:inline-block;margin-bottom:2px;vertical-align:text-bottom;font-size:10px}
.event_wrap .evt_swipe_wrap .controls [class^="btn_"]{position:absolute;display:inline-block;top:50%;width:40px;height:48px;margin-top:-24px} 
.event_wrap .evt_swipe_wrap .controls .btn_prev{left:13px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat}
.event_wrap .evt_swipe_wrap .controls .btn_next{right:13px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat;transform:rotate(180deg)}
.event_wrap .evt_swipe_wrap .controls .pagination{position:absolute;left:0;bottom:70px;width:100%;height:12px;margin:0;text-align:center}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-pagination-switch{display:inline-block;width:12px;height:12px;margin:0 12px;background-color:#e1e1e1;border-radius:100%;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-active-switch{background-color:#313131}
.event_wrap .evt_swipe_wrap .swiper-pagination-fraction{bottom:32px;font-size:12px;color:#333}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#2c4328;vertical-align:middle;letter-spacing:-.05px;z-index:510;border-radius:10px}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:44px 0;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:23px;color:#fff;letter-spacing:-1px;letter-spacing:normal;line-height:1.4}
.layer_popup_wrap .popup_txt{margin-top:11px;font-size:13px;color:#fff;letter-spacing:-1px;line-height:1.4}
.layer_popup_wrap .popup_txt.point_txt{color:#ffdd44;}
.layer_popup_wrap .btn_area{margin-top:18px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:33.478%;height:38px;padding:0;border:0;background:#fff;font-size:13px;color:#112724;letter-spacing:-1px;vertical-align:middle;line-height:38px;text-indent:0;border-radius:5px}
