@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_wide_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202102/0225_excited_spring/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202102/0225_excited_spring/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#eae8e5}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#54734f}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;bottom:0;left:17.8%;width:64.3%;height:19.3%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.coupon_wrap{position:relative}
.coupon_wrap .date{position:absolute;width:100%;top:0;font-size:30px;font-weight:600;color:#54734f;line-height:1;text-align:center}
.coupon_wrap .date span{display:inline-block;margin-bottom:10px;vertical-align:text-bottom;font-size:20px}
.coupon_wrap .btn_coupon{top:311px;left:666px;width:308px;height:80px;padding:0}
.coupon_wrap .btn_buy{top:407px;left:666px;width:308px;height:80px}

.coupon_wrap .coupon_info{position:absolute;top:222px;left:666px;display:block}
.coupon_wrap .original{margin-right:15px;font-size:22px;font-weight:600;color:#999}
.coupon_wrap .sale{display:inline-block;font-size:0}
.coupon_wrap .sale ins{font-size:36px;font-weight:600;color:#111;text-decoration:none}

/* notice */
.event_wrap .evt_notice{padding:70px 0 100px}
.event_wrap .infor_list{margin-bottom:40px;}
.event_wrap .infor_list li{position:relative;padding-left:30px;font-size:20px;font-weight:500;color:#fff;line-height:35px;letter-spacing:-1px;word-break:keep-all}
.event_wrap .infor_list li:before{content:'';height:4px;position:absolute;left:0;top:17px;width:12px;background-color:#fff;display:block;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.event_wrap .infor_list li:after{content:'';height:4px;position:absolute;left:6px;top:14px;width:18px;background-color:#fff;display:block;
transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}

.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:20px;font-weight:300;color:#999;line-height:35px;letter-spacing:-1px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:16px;left:0;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#999;border-radius:50%;content:''}

/* 응모하기 button */
.event_wrap .btn_apply{display:block;width:360px;height:80px;bottom:61px;left:330px}

/* slide */
.event_wrap .evt_swipe_wrap{position:relative;width:100%;height:410px}
.event_wrap .evt_swipe_wrap .swiper-container{overflow:hidden;width:100%;height:100%;white-space:nowrap}
.event_wrap .evt_swipe_wrap .swiper-slide{float:left;width:100%;height:100%}
.event_wrap .evt_swipe_wrap .controls [class^="btn_"]{position:absolute;display:inline-block;top:50%;width:40px;height:48px;margin-top:-22px} 
.event_wrap .evt_swipe_wrap .controls .btn_prev{left:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat}
.event_wrap .evt_swipe_wrap .controls .btn_next{right:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat;transform:rotate(180deg)}
.event_wrap .evt_swipe_wrap .controls .pagination{position:absolute;left:0;bottom:70px;width:100%;height:12px;margin:0;text-align:center}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-pagination-switch{display:inline-block;width:12px;height:12px;margin:0 12px;background-color:#e1e1e1;border-radius:100%;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-active-switch{background-color:#313131}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;margin:0 10px;background:#2c4328;vertical-align:middle;letter-spacing:-.05px;z-index:510;border-radius:20px}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:47px 76px 61px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:30px;color:#fff;line-height:44px;letter-spacing:-1px}
.layer_popup_wrap .popup_txt{margin-top:18px;font-size:20px;color:#fff;letter-spacing:-1px;line-height:1.2}
.layer_popup_wrap .popup_txt.point_txt{color:#ffdd44;}
.layer_popup_wrap .btn_area{margin-top:30px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:154px;height:54px;background:#fff;font-size:24px;color:#112724;letter-spacing:-1px;vertical-align:middle;line-height:54px;text-indent:0;border-radius:5px}
