@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:70%;left:24%;right:0;height:30%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{padding-bottom:19.4444vw}

/* 동영상 */
.event_wrap .video_wrap{width:100%;height:56vw;background:url(https://i.ytimg.com/vi_webp/cHXpDgk7Dq0/maxresdefault.webp) 50%/100%}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* items_list */
.event_wrap .p_evt_sec2 .items_list{position:absolute;top:0;left:5%;right:5%;height:90%}
.event_wrap .p_evt_sec2 .items_list li{width:100%;height:37%}

.event_wrap .p_evt_sec3 .items_list{position:absolute;top:17%;left:0;right:0;height:26%}
.event_wrap .p_evt_sec3 .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}
