@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;max-width:1920px;min-width:1200px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:430px;left:610px;width:520px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:160px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:120px;left:620px;right:0}

/* notice */
.event_wrap .evt_notice{padding:100px 40px 120px}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:1160px;height:653px;margin-top:-278px;background:url(https://i.ytimg.com/vi_webp/cHXpDgk7Dq0/maxresdefault.webp) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* items_list */
.event_wrap .p_evt_sec2 .items_list{position:absolute;top:0;left:27%;right:10%;height:78%}
.event_wrap .p_evt_sec2 .items_list li{width:100%;height:42%}

.event_wrap .p_evt_sec3 .items_list{position:absolute;top:35%;left:3%;right:3%;height:50%;display:flex}
.event_wrap .p_evt_sec3 .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}
