@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk{top:72.2%;left:2.5%;width:14.7%;height:12.3%}

.event_wrap .benefit_list{position:absolute;top:43%;right:10%;left:10%;bottom:27%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{display:inline-block;width:33.33334%;height:50%}
.event_wrap .benefit_list li:first-child{display:block;width:100%;padding-left:50%;box-sizing:border-box}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#0f9150 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202201/0103_happy_new_year/img/evt_bg.jpg)}
.event_wrap .evt_notice{padding:100px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) -24px 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* template */
/* .desktop .fb__event .roulette__wrapper ul li{overflow:hidden} 가로스크롤바 제거 */
.desktop .fb__event .event__roulette__wrap{height:672px;overflow:hidden/*background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202201/0103_happy_new_year/img/p_bg_roulette.jpg) 50% 0 no-repeat*/}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:656px;height:656px;margin:12px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:57px;margin-left:-27px;top:-10px}
.desktop .detail-wrapper__bottom{padding:0}
