@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:0;left:17.5%;right:17.5%;height:5.2%}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .evt_notice{padding:13.8888vw 5.555555% 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.event_wrap .object_txt{position:absolute;width:100%;top:0;left:0;z-index:1}

.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box img{margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-backface-visibility:hidden}
.motion_box .object{position:absolute;width:100%;top:0;left:0}
.motion_box .object.motion1{-webkit-animation:fade-in 5s ease-in-out infinite both;animation:fade-in 5s ease-in-out infinite both}
.motion_box .object.motion2{-webkit-animation:fade-out 5s ease-in-out infinite both;animation:fade-out 5s ease-in-out infinite both}

@-webkit-keyframes fade-in {
  0%, 80%, 100% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
}
@keyframes fade-in {
  0%, 80%, 100% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0%, 80%, 100% {
      opacity: 1;
  }
  30% {
      opacity: 0;
  }
}
@keyframes fade-out {
  0%, 80%, 100% {
      opacity: 1;
  }
  30% {
      opacity: 0;
  }
}
