@charset "utf-8";

body,h1{margin:0;padding:0}
ul,li{margin:0;padding:0;list-style:none}
.event_wrap{width:1020px;margin:0 auto;padding-bottom:50px}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .p_img{display:block}
.event_wrap .m_img{display:none}
.event_wrap .player_wrap{position:absolute;top:20px;right:11.56862745%;left:11.56862745%;bottom:55.9%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .player_wrap .player_area{position:relative;padding-top:56.25%;background:url(https://i.vimeocdn.com/video/875938921.jpg) 0 0 no-repeat;background-size:cover}
.event_wrap .player_wrap .video{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
@media all and (max-width:720px){
    .event_wrap{width:100%;max-width:none;margin:0 auto;padding:0}
    .event_wrap .evt_section, .event_wrap .evt_notice{max-width:none;width:100%}
    .event_wrap .p_img{display:none}
    .event_wrap .m_img{display:block}

    .event_wrap .player_wrap{right:5.5555555%;left:5.5555555%;bottom:72.3%}
    
}
