@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:71%;left:4.5%;right:4.5%;height:24.5%;z-index:10}
.event_wrap .btn_lnk2{top:94.1%;left:4.5%;right:4.5%;height:2.2%}
.event_wrap .btn_lnk3{top:96.5%;left:4.5%;right:4.5%;height:2.2%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:22.6388vw;z-index:50}

/* notice */
.event_wrap .p_evt_noti{background:#f7f2d2}
.event_wrap .evt_notice{padding:30px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 댓글템플릿 */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
.reply{margin-bottom:0 !important}
.reply__write__textarea .fb__textarea__inner{background:#fff}
.reply:before {background:none !important}
.event__comments{background:#f7f2d2}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object2{width:25%;top:77%;left:7%;transform:rotateY(180deg)}
.motion_box .object4{width:34.5%;top:27.3%;left:2.7%}
.motion_box .object6{width:71%;top:39%;left:28%}

.motion_box .motion1{-webkit-animation:slide-up 7s 1s ease-in-out infinite both;animation:slide-up 7s 1s ease-in-out infinite both}
@-webkit-keyframes slide-up {
  0%, 90%, 100% {
    -webkit-transform:translate(0, 90px) rotateY(180deg);
            transform:translate(0, 90px) rotateY(180deg);
  }
  10%, 80% {
    -webkit-transform:translate(0, 0) rotateY(180deg);
            transform:translate(0, 0) rotateY(180deg);
  }
}
@keyframes slide-up {
  0%, 90%, 100% {
    -webkit-transform:translate(0, 90px) rotateY(180deg);
            transform:translate(0, 90px) rotateY(180deg);
  }
  10%, 80% {
    -webkit-transform:translate(0, 0) rotateY(180deg);
            transform:translate(0, 0) rotateY(180deg);
  }
}
