@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{height:224px;bottom:55px;left:40px;right:40px;z-index:10}
.event_wrap .btn_lnk2{height:40px;top:1705px;left:50%;right:40px}
.event_wrap .btn_lnk3{height:40px;top:1745px;left:50%;right:40px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:107px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:107px}

/* notice */
.event_wrap .p_evt_noti{background:#f7f2d2}
.event_wrap .evt_notice{padding:80px 80px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 댓글템플릿 */
.desktop .detail-wrapper__bottom{padding-top:0}
.fb__event-comment__wrapper{background:#f7f2d2;max-width:1920px;min-width:1168px;margin:0 auto}

/* motion */
.motion_box{overflow:hidden}
.box1{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%)}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object1{top:320px;left:100px}
.motion_box .object1 img{width:300px}
.motion_box .object2{top:150px;right:-30px}
.motion_box .object3{top:365px;right:0}
.motion_box .object4{top:425px;left:56px}
.motion_box .object5{top:120px;left:45px}

.motion_box .motion1{-webkit-animation:slide-up 7s 1s ease-in-out infinite both;animation:slide-up 7s 1s ease-in-out infinite both}
@-webkit-keyframes slide-up {
  0%, 90%, 100% {
    -webkit-transform:translate(0, 180px);
            transform:translate(0, 180px);
  }
  10%, 80% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-up {
  0%, 90%, 100% {
    -webkit-transform:translate(0, 180px);
            transform:translate(0, 180px);
  }
  10%, 80% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

.motion_box .motion2{-webkit-animation:bounce-up 5s 0s ease-in-out infinite both;animation:bounce-up 5s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
@keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
