@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:80%;left:5%;right:4%;height:18%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li:first-child{width:65%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:82%;left:28%;right:28%;height:8%}

/* notice */
.event_wrap .p_evt_noti{background:#c0bcba url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1220_seollal_member/img/img_noti.jpg) 100% 0/100%}
.event_wrap .evt_notice{padding:50px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .roulette_desc{font-size:3.3333vw;text-align:center;color:#fff}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:#c0bcba url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1220_seollal_member/img/img_noti.jpg) 100% 0/100%}
.mobile .fb__event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}