@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:26%;right:26%;height:40%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20.5555vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;top:43.0555vw;left:0;right:0}
.event_wrap .coupon_list ul{display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5vw}
.event_wrap .coupon_list li{margin-bottom:4.16666vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61vw;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.05vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#fff}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:sub;margin-right:1vw}

/* product */
.event_wrap .product_list{position:absolute;top:42.9166vw;left:0;display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5.555vw}
.event_wrap .product_list li{width:43.055vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{position:relative;display:block;width:100%;height:43.055vw;background:#fff;overflow:hidden}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#333;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:0.8vw;letter-spacing:-.8px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#333;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#333}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#fd6f2c;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#fd6f2c;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#5096d1 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year/img/img_noti.jpg) 0 50%/100%}
.event_wrap .evt_notice{padding:0 5.5555vw 13.8888vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#feaa51}
.event_wrap .noti2 .notice_title{border-top:2px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 18.0555vw !important;background:#f1995f url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year/img/btn_bg.jpg) 50% 50%/100% !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year/img/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .p_evt_tit{position:relative;width:100%;height:100%;background:linear-gradient(190deg, #ffd55d, #ffc65d, #ff777c);background-size:100% 100%}
.event_wrap .p_evt_tit h1{z-index:2}
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_txt{width:73.8888vw;top:20.8333vw;left:50%;transform:translateX(-50%);z-index:10}
.motion_box .object_pocket1{width:78vw;top:89vw;left:10.1vw;z-index:20}
.motion_box .object_pocket2{width:85vw;top:82.5vw;left:5.8vw;z-index:2}
.motion_box .object_bg1{top:0;left:0;width:100%;height:100%;background:linear-gradient(180deg, #10268f, #3c428a, #67342a);background-size:100% 100%;opacity:0.8;z-index:1}
.motion_box .object_sun{width:130vw;top:-11vw;left:-14vw;z-index:0}
.motion_box .object_dragon{width:41.5vw;height:56.3889vw;top:59vw;left:32vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0102_2024new_year/img/object/p_object_dragon.png) 0 0/400%;z-index:10}

.motion_box .object_money2{width:15.8333vw;top:68vw;left:3.2vw;-webkit-animation-delay:1.5s !important;animation-delay:1.5s !important;z-index:21}
.motion_box .object_money3{width:9.4444vw;top:96.1111vw;left:-1vw;-webkit-animation-delay:1.7s !important;animation-delay:1.7s !important;z-index:21}
.motion_box .object_money4{width:18.75vw;top:101.1111vw;left:29.3056vw;z-index:21}
.motion_box .object_money5{width:11.3889vw;top:100.5556vw;left:79.7222vw;-webkit-animation-delay:1.9s !important;animation-delay:1.9s !important;z-index:21}
.motion_box .object_money6{width:16vw;top:83.1944vw;left:88.3333vw;-webkit-animation-delay:1.4s !important;animation-delay:1.4s !important;z-index:21}

.motion_box .object_bird1{width:9.7222vw;top:8.3333vw;left:50.8333vw}
.motion_box .object_bird2{width:11.5278vw;top:11.5278vw;left:61.5278vw;-webkit-animation-delay:1.2s !important;animation-delay:1.2s !important}

.motion_box .object_goods1{width:24.0278vw;top:80.4167vw;left:11.5278vw;z-index:5}
.motion_box .object_goods2{width:24.4444vw;top:65.6944vw;left:14.3056vw;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:2}
.motion_box .object_goods3{width:11.25vw;top:79.7222vw;left:24.7222vw;-webkit-animation-delay:4.9s !important;animation-delay:4.9s !important;z-index:7}
.motion_box .object_goods4{width:22.5vw;top:62.2222vw;left:28.75vw;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:2}
.motion_box .object_goods5{width:17.9167vw;top:87.2222vw;left:30.9722vw;-webkit-animation-delay:5.1s !important;animation-delay:5.1s !important;z-index:8}
.motion_box .object_goods6{width:18.0556vw;top:65.2778vw;left:42.0833vw;-webkit-animation-delay:5.4s !important;animation-delay:5.4s !important;z-index:3}
.motion_box .object_goods7{width:20.2778vw;top:83.0556vw;left:45.6944vw;-webkit-animation-delay:5.3s !important;animation-delay:5.3s !important;z-index:6}
.motion_box .object_goods8{width:26.9444vw;top:63.0556vw;left:54.4444vw;-webkit-animation-delay:5.2s !important;animation-delay:5.2s !important;z-index:4}
.motion_box .object_goods9{width:23.75vw;top:77vw;left:60.4167vw;-webkit-animation-delay:5s !important;animation-delay:5s !important;z-index:5}

.motion_box .motion1{animation:silde-up 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play 0.6s steps(4) infinite both}
@keyframes silde-up {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}
@keyframes hand-play {
  0% { 
    background-position: 0;
  }
  100% { 
    background-position: -166vw; 
  }
}

.motion_box .motion6{animation:fade_bg 4s 0s both}
@keyframes fade_bg {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7{animation:fade_sun 9s 0.2s ease-in-out both}
@keyframes fade_sun {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

.motion_box .motion3{animation:fade 7.5s 1s both}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4{animation:bounce-left 7s 2s ease-in-out both}
@keyframes bounce-left {
  0% {
    -webkit-transform: translate(240px, 100px);
            transform: translate(240px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5{animation:bounce-right 7s 1.8s ease-in-out both}
@keyframes bounce-right {
  0% {
    -webkit-transform: translate(-100px, 100px);
            transform: translate(-100px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10{animation:blow 4s 5s ease-in-out both}
@keyframes blow {
  0% {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

/* 모션 infinite */
.motion_box .motion1.on{animation:silde-up2 4.2s 1.1s cubic-bezier(.5, -1, .5, 2) both, hand-play2 0.6s steps(4) infinite both}
@keyframes silde-up2 {
  0% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  25%, 75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90%, 100% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}
@keyframes hand-play2 {
  0% { 
    background-position: 0;
  }
  100% { 
    background-position: -166vw; 
  }
}

.motion_box .motion6.on{animation:fade_bg2 4s 0s both}
@keyframes fade_bg2 {
  30% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}

.motion_box .motion7.on{animation:fade_sun2 9s 0.2s ease-in-out both}
@keyframes fade_sun2 {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  20%, 95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

.motion_box .motion3.on{animation:fade2 7.5s 1s both}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15%, 35%, 55%, 75% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 1;
  }
  25%, 45%, 65%, 85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

.motion_box .motion4.on{animation:bounce-left2 7s 2s ease-in-out both}
@keyframes bounce-left2 {
  0% {
    -webkit-transform: translate(240px, 100px);
            transform: translate(240px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  } 
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion5.on{animation:bounce-right2 7s 1.8s ease-in-out both}
@keyframes bounce-right2 {
  0% {
    -webkit-transform: translate(-100px, 100px);
            transform: translate(-100px, 100px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%, 50%, 90% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 1;
  }
  35%, 75%  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

.motion_box .motion10.on{animation:blow2 4s 5s ease-in-out both}
@keyframes blow2 {
  0% {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  12% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  24% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  32% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  46% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  48% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%, 85% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}
