@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* item_list */
.item_list{position:absolute;z-index:1;top:34vw;left:8vw;right:8vw;height:125vw;display: -ms-grid;display: grid;-ms-grid-columns:1fr 5vw 1fr;grid-template-columns:1fr 1fr;gap:6vw 2vw}
.item_list li{position:relative}
.item_list li .icon_plus{position:absolute;z-index:5;width:7.5vw;height:7.3611vw;right:5vw;bottom:18vw;cursor:pointer}
.item_list li .btn_go{position:absolute;z-index:5;width:23vw;height:6vw;left:9vw;bottom:0;cursor:pointer;}

.item_list li:first-child{-ms-grid-column: 1;-ms-grid-column-span: 2;grid-column: 1 / span 2}
.item_list li:first-child .icon_plus{right:26.7vw}
.item_list li:first-child .btn_go{left:30vw}

/* coupon */
.p_evt_sec2 .coupon_list{position:absolute;top:25vw;left:0;right:0}
.p_evt_sec2 .info_desc{position:absolute;top:88vw;left:0;right:0}
.p_evt_sec2 .info_desc span{color:#fff}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1010_fall_excursion/img/m_evt_sec3.jpg) center 0 no-repeat;background-size:100% auto}
