@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* item_list */
.item_list{position:absolute;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;gap:20px;top:180px;left:173px;right:173px;height:370px}
.item_list li{position:relative;-webkit-box-flex:1;-ms-flex:1;flex:1}
.item_list li .icon_plus{position:absolute;z-index:1;width:53px;height:50px;right:28px;bottom:107px;cursor:pointer}
.item_list li .btn_go{position:absolute;z-index:1;width:115px;height:30px;left:75px;bottom:0;cursor:pointer;}

/* coupon */
.event_wrap .coupon_list{position:absolute;z-index:1;top:132px;left:0;right:0}
.event_wrap .info_desc{position:absolute;z-index:1;top:430px;left:0;right:0}
.event_wrap .info_desc span{color:#fff}

/* notice */
.event_wrap .p_evt_noti{background-color:#fff}
.event_wrap .p_evt_noti .evt_notice{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1010_fall_excursion/img/p_evt_sec3.jpg) 0 0 no-repeat}
