@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1022_healthy_living_new/img/m_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* items_list */
.event_wrap .p_evt_tit .items_list{position:absolute;top:17%;left:10%;right:10%;height:40%}
.event_wrap .p_evt_sec1 .items_list{position:absolute;top:17%;left:10%;right:10%;height:40%}
.event_wrap .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .copuon_list{position:absolute;top:30.9722vw;left:0;right:0}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background:#00464f}

/* page */
.event_wrap .p_evt_sec4::after{content:'';position:absolute;top:64.4444vw;left:80vw;width:6.9444vw;height:6.3889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1022_healthy_living_new/img/object.png) 100%/100% no-repeat}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100vw;height:56.25vw;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
