@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#f5f5f5}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#026620}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#f5f5f5}

.event_wrap .apply_wrap{position:absolute;top:802px;right:275px;left:275px}
.event_wrap .input_check_wrap{display:block;position:relative;height:30px;font-size:0;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;width:22px;height:22px;background:#111;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:100%;font-size:20px;color:#111;font-weight:300;vertical-align:middle;cursor:pointer;}
/* .event_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_check+label:before{display:inline-block;width:22px;height:22px;margin:5px 5px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 -26px}

/* more button */
.event_wrap .btn_apply{position:absolute;left:27%;bottom:53px;width:46%;height:100px;padding:0;background:url(about:blank) 0 0 no-repeat;cursor:pointer}
.event_wrap .btn_lypop{position:absolute;top:36.5%;right:3.8%;width:23%;height:66px;padding:0;background:url(about:blank) 0 0 no-repeat;cursor:pointer}

.event_wrap .p_evt_sec4 .apply_wrap{top:292px}
.event_wrap .p_evt_sec4 .input_check+label{color:#fff}
.event_wrap .p_evt_sec4 .btn_apply{bottom:121px}

/* notice */
.event_wrap .evt_notice{padding:62px 0 137px}
.event_wrap .notice_title{display:block;position:relative;padding-left:32px;font-size:22px;font-weight:600;color:#333;line-height:31px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:1px;width:24px;height:24px;margin-top:-10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0701_bloodsugar_protein/img/ico_notice.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{margin-top:6px}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:4px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:640px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:52px 72px 60px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:24px;font-weight:600;color:#333;line-height:1.5;letter-spacing:-.5px}
.layer_popup_wrap .lypop_notice{margin-top:16px;font-size:18px;color:#333;letter-spacing:-1px;line-height:30px;word-break:keep-all}
.layer_popup_wrap .btn_area{margin-top:24px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:160px;height:48px;margin:0 3px;padding:0;background:#39ad30;font-size:18px;font-weight:600;color:#fff;letter-spacing:-1px;vertical-align:top;line-height:46px;border-radius:26px}
.layer_popup_wrap .btn_area .btn_close{background:#666}

/* img lypop */
.layer_popup_wrap.img_lypop_wrap .layer_inner_wrap{width:968px;margin:0}
.layer_popup_wrap.img_lypop_wrap .layer_popup_content{padding:0}
.layer_popup_wrap.img_lypop_wrap .btn_close{position:absolute;top:0;right:0;width:70px;height:70px;padding:0;border:0;background:0;font-size:1px;color:transparent}
