@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:40px;right:40px;height:70px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:272px;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position:-272px 0}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position:-544px 0}
.event_wrap .evt_nav_wrap li:nth-child(4){background-position:-816px 0}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li img{width:30px;margin:20px 0 0 30px !important}
.event_wrap .evt_nav_wrap li:nth-child(1) img{margin-left:60px !important}
.event_wrap .evt_nav_wrap li:nth-child(3) img{margin-left:50px !important}
.event_wrap .evt_nav_wrap li:nth-child(4) img{margin-left:60px !important}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:69px;background:rgba(241, 250, 245, 0.8);backdrop-filter:blur(10px);-webkit-backdrop-filter:blur(10px);z-index:20;border-bottom:1px solid #e9eef0}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1088px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav{padding-top:70px;background:rgba(241, 250, 245, 1);border-bottom:1px solid #e9eef0}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/p_evt_nav_on.png) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:-272px 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:-544px 0}
.event_wrap .p_evt_nav li:nth-child(4).on{background-position:-816px 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:relative;display:flex;justify-content:center}
.event_wrap .coupon_list li{margin:0 20px 60px 20px}

/* 한번에 다운받기 */
.event_wrap .btn_all_coupon{position:relative;display:block;width:400px;height:80px;margin:0 auto;background:#111;font-size:24px;font-weight:700;color:#fff;letter-spacing:-.3px;border-radius:100px}
.event_wrap .btn_all_coupon:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down_white.svg) 0 0 no-repeat;margin-left:6px;content:''}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;letter-spacing:-1px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:5}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:5}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-.5px}
.event_wrap .coupon_item_info .tag{position:absolute;top:-20px;right:-20px;width:72px;height:72px;background:#222;color:#fff;font-size:16px;font-weight:bold;line-height:18px;letter-spacing:-.5px;border-radius:100px;display:flex;flex-wrap:wrap;justify-content:center;flex-direction:column;align-items:center}
.event_wrap .coupon_item_info .tag span{display:block;font-size:18px}

.event_wrap .coupon_item_btn{position:relative;display:block;width:100%;height:53px;margin-top:12px !important;padding:0;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}
.event_wrap .brand_link{position:relative;display:block;width:100%;height:53px;margin-top:12px;border-radius:4px;background:#f4f4f4;color:#333;font-size:20px;font-weight:500;letter-spacing:-1px;display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
.event_wrap .brand_link:after{position:relative;display:inline-block;width:20px;height:20px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/icon_arrow_right.svg) 0 50%/100% no-repeat;margin-top:2px;content:''}

.event_wrap .coupon_item .coupon_brand{width:150px;height:58px}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:24px 0}
.event_wrap .coupon_item .coupon_brand .bi_orga{width:200px;background-position:-276px 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kitchen{background-position:-126px 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_care{background-position:24px -80px}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kids{background-position:-126px -80px}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_danone{width:180px;background-position:-276px -80px}
.event_wrap .coupon_item .coupon_brand .bi_eatslim{background-position:24px -160px}
.event_wrap .coupon_item .coupon_brand .bi_imreal{background-position:-126px -160px}
.event_wrap .coupon_item .coupon_brand .bi_babymeal{background-position:-276px -160px}
.event_wrap .coupon_item .coupon_brand .bi_designmeal{background-position:24px -240px}
.event_wrap .coupon_item .coupon_brand .bi_nutrition{background-position:-276px -160px}
.event_wrap .coupon_item .coupon_brand .bi_yourlac{background-position:-276px -240px}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_water{background-position:24px -320px}
.event_wrap .coupon_item .coupon_brand .bi_amio{background-position:-126px -320px}

/* notice */
.event_wrap .evt_notice{padding:80px 40px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* title */
.event_wrap .evt_title{color:#222;font-size:56px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;font-weight:300;letter-spacing:-2px;text-align:center;padding:118px 0 60px}
.event_wrap .evt_title span{display:block}
.event_wrap .evt_title strong{position:relative;display:inline-block;color:#35b828;font-weight:900;letter-spacing:-1.5px;z-index:1}
.event_wrap .evt_title strong:after{content:'';position:absolute;bottom:2px;left:0;width:100%;height:12px;background:#d8ff5d;animation:line 4s ease-in-out 1s infinite both;z-index:-1}
.event_wrap .evt_title.title2 strong{color:#411b1c}
.event_wrap .evt_title.title2 strong:after{background:#fee500;animation:line 4s ease-in-out 1s infinite both}

/* content */
/* 쿠폰영역 */
.event_wrap .p_evt_sec1 .coupon_list{padding:60px 0 0}
.event_wrap .p_evt_sec1 .coupon_list:after{content:'';position:absolute;top:0;left:40px;right:40px;height:100%;background:#f1faf5;border:2px solid #e9eef0;border-radius:8px;z-index:-1}

/* 카카오톡 채널 전용 */
.event_wrap .p_evt_sec3{background:#fee300;margin-top:120px}
.event_wrap .p_evt_sec3 .evt_title strong:after{background:#fff}
.event_wrap .noti2{background:#fee300;padding-bottom:120px}
.event_wrap .sec3_con{margin:0 40px}
.event_wrap .sec3_con li{position:relative;padding:54px 60px 54px 152px;border-radius:48px;box-sizing:border-box}
.event_wrap .sec3_con li:nth-of-type(1){background:#411b1c;}
.event_wrap .sec3_con li:nth-of-type(2){background:#fffbea;border:2px solid #e9eef0;margin-top:10px}
.event_wrap .sec3_con h3{font-size:30px;color:#fff;line-height:44px;letter-spacing:-1px}
.event_wrap .sec3_con h3:after{position:absolute;top:60px;left:60px;width:72px;height:72px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/p_sec3_icon1.png) 0 0 no-repeat;content:''}
.event_wrap .sec3_con h3 span{color:#fee300}
.event_wrap .sec3_con li:nth-of-type(2) h3{color:#411b1c}
.event_wrap .sec3_con li:nth-of-type(2) h3:after{position:absolute;top:60px;left:60px;width:72px;height:72px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/p_sec3_icon2.png) 0 0 no-repeat;content:''}
.event_wrap .sec3_con li:nth-of-type(2) h3 span{color:#73c40b}
.event_wrap .sec3_con .sec3_desc{font-size:16px;color:#999}
.event_wrap .p_evt_sec3 figure{position:absolute;top:240px;right:140px}
.event_wrap .p_evt_sec3 .coupon_item{margin:20px 0}

/* 신규회원 혜택 */
.event_wrap .p_evt_sec4 .coupon_list{padding:60px 0 0}
.event_wrap .p_evt_sec4 .coupon_list:after{content:'';position:absolute;top:0;left:40px;right:40px;height:100%;background:#eef9e7;border:2px solid #e9eef0;border-radius:8px;z-index:-1}

/* 상품후기 */
.event_wrap .sec5_con{position:relative;min-height:540px;padding:54px 60px 54px 152px;margin:0 40px;background:#282d36;border:2px solid #e9eef0;border-radius:48px;box-sizing:border-box}
.event_wrap .sec5_con h3{font-size:30px;color:#fff;line-height:44px;letter-spacing:-1px}
.event_wrap .sec5_con h3:after{position:absolute;top:60px;left:60px;width:72px;height:72px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/p_sec5_icon1.png) 0 0 no-repeat;content:''}
.event_wrap .sec5_con h3 span{color:#ff752a}
.event_wrap .sec5_con .sec5_desc{position:absolute;bottom:54px;left:0;right:0;text-align:center;font-size:16px;color:#999}
.event_wrap .sec5_con figure{position:absolute;top:60px;right:0px}

/* 상품후기 스와이프 */
.event_wrap .slide_box_ver2{position:relative;width:1920px;margin-left:-570px;margin-top:55px;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:30%;height:251px}
.event_wrap .slide_box_ver2 .slide_list2 .inner{position:relative}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{position:relative;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;margin:0 !important}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 a{display:block;width:100%;height:100%}

/* 혜택 배너 */
.event_wrap .sec6_list{margin-bottom:100px}
.event_wrap .sec6_list li{position:relative;margin:0 40px 20px 40px;background:#f4f4f4;border:2px solid #e9eef0;border-radius:8px}
.event_wrap .sec6_list a{display:block;width:100%;height:100%;min-height:240px;padding:56px 0 0 100px;box-sizing:border-box}
.event_wrap .sec6_list h3{position:relative;font-size:30px;color:#222;margin-bottom:28px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .sec6_list h3:after{position:relative;display:inline-block;width:28px;height:28px;border-radius:100px;margin:0 0 -3px 8px;content:''}
.event_wrap .sec6_list li:nth-child(1) h3:after{background:#74c245 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/icon_arrow_right1.png) 50% 50% no-repeat}
.event_wrap .sec6_list li:nth-child(1) h3 span{color:#74c245}
.event_wrap .sec6_list li:nth-child(2) h3:after{background:#aa8153 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/icon_arrow_right1.png) 50% 50% no-repeat}
.event_wrap .sec6_list li:nth-child(2) h3 span{color:#aa8153}
.event_wrap .sec6_list li:nth-child(3) h3:after{background:#c2a645 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_benefits/img/icon_arrow_right1.png) 50% 50% no-repeat}
.event_wrap .sec6_list li:nth-child(3) h3 span{color:#c2a645}
.event_wrap .sec6_list p{font-size:24px;color:#333;font-weight:500;line-height:37px;letter-spacing:-2px}
.event_wrap .sec6_list figure{position:absolute;bottom:0px;right:0px}
.event_wrap .sec6_list .tag{position:absolute;top:-20px;right:-20px;width:72px;height:72px;background:#222;color:#fff;font-size:16px;font-weight:bold;line-height:18px;letter-spacing:-.5px;border-radius:100px;display:flex;flex-wrap:wrap;justify-content:center;flex-direction:column;align-items:center}
.event_wrap .sec6_list .tag span{display:block;font-size:18px}

/* menu motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}

/* motion */
/* .motion_box{overflow:hidden} */
.motion_box img{margin:0 !important}
.motion_box .motion{-webkit-animation:bounce 4s 0s ease-in-out infinite both;animation:bounce 4s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:590px;left:600px;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object2{position:absolute;top:270px;right:50px;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object3{position:absolute;top:148px;right:136px;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object4{position:absolute;top:184px;right:-50px;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object5{position:absolute;top:195px;left:40px;-webkit-animation-delay:1s;animation-delay:1s}
.motion_box .object6{position:absolute;top:150px;left:175px;-webkit-animation-delay:0.4s;animation-delay:0.4s}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -25px);
            transform:translate(0, -25px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -25px);
            transform:translate(0, -25px);
  }
}

/* 스크롤 모션 */
.motion_up{opacity:0}
.motion_up.active{opacity:1;animation:motion_up 0.6s ease-in-out both;-webkit-animation:motion_up 0.6s ease-in-out both}
@keyframes motion_up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.delay01.active{animation-delay:0s}
.delay02.active{animation-delay:0.2s}
.delay03.active{animation-delay:0.4s}
.delay04.active{animation-delay:0.6s}
.delay05.active{animation-delay:0.8s}
.delay06.active{animation-delay:1s}
.delay07.active{animation-delay:1.2s}
.delay08.active{animation-delay:1.4s}

/* 로띠 motion */
.motion_box .evt_lottie1{position:absolute;top:-80px;left:-160px;width:550px;height:550px}
.motion_box .evt_lottie2{position:absolute;top:170px;left:60px;width:400px;height:400px}
.motion_box .evt_lottie3{position:absolute;top:260px;left:-90px;width:300px;height:300px}
.motion_box .evt_lottie4{position:absolute;top:-350px;right:30px;width:600px;height:600px}
.motion_box .evt_lottie5{position:absolute;top:80px;right:120px;width:350px;height:350px}
.motion_box .evt_lottie6{position:absolute;top:300px;right:-40px;width:400px;height:400px}
