@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{left:5%;bottom:0;width:90%;height:15%}
.event_wrap .btn_more{display:block;width:58.333333%;height:45px;margin:40px auto 0;background:#333;font-size:14px;color:#fff;line-height:45px;text-align:center}

.event_wrap .p_evt_sec1,
.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec5{background:#f6f4ed}
/* product */
.event_wrap .product_list{position:relative;z-index:5;font-size:0}
.event_wrap .product_list li{display:inline-block;width:50%;padding:0 4.166666666%;vertical-align:top;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:left}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .product_info{overflow:hidden;position:relative;display:block;width:100%;padding:0 4.66666666%;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;padding-top:30px;font-size:13px;font-weight:400;color:#333;line-height:17px;word-break:break-all}
.event_wrap .percent{position:absolute;top:5px;left:4.66666666%;font-size:0;color:#333;line-height:22px}
.event_wrap .percent .num{display:inline-block;font-size:17px;font-weight:600}
.event_wrap .percent .unit{display:inline-block;font-size:12px;font-weight:600}
.event_wrap .original{display:inline-block;margin:4px 10.526315% 0 0;font-size:12px;color:#333;letter-spacing:-.5px}
.event_wrap .sale{display:inline-block;margin-top:4px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:17px;font-weight:600;color:#ee432c;letter-spacing:-.5px;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:15px;font-weight:600;color:#ee432c}
