@charset "utf-8";

/* planshop reset */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion__content .event_wrap .product_img img{margin:0}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left;background:#f6f4ed}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-376px;z-index:-1;width:376px;height:100%;background:#f6f4ed;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-376px;z-index:-1;width:376px;height:100%;background:#f6f4ed;content:''}

.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{left:15%;bottom:0;width:70%;height:10%}
.event_wrap .btn_more{display:block;width:300px;height:65px;margin:30px auto 0;background:#333;font-size:20px;color:#fff;text-align:center;line-height:65px}

/* product */
.event_wrap .product_list{position:relative;z-index:5;background:#fff;font-size:0}
.event_wrap .product_list li{display:inline-block;width:50%;padding:35px 0 55px 30px;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:250px;font-size:0;text-align:left}

.event_wrap .product_img{display:inline-block;width:54.1516245%;height:100%;vertical-align:top}
.event_wrap .product_info{overflow:hidden;position:relative;display:inline-block;width:45.8483755%;height:100%;padding-left:10px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:50px;max-height:50px;padding-top:95px;font-size:18px;font-weight:400;color:#333;line-height:24px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:62px;left:10px;font-size:0;color:#333;line-height:22px}
.event_wrap .percent .num{display:inline-block;font-size:30px;font-weight:600}
.event_wrap .percent .unit{display:inline-block;font-size:16px}
.event_wrap .original{margin:9px 16px 0 0;font-size:18px;color:#333;letter-spacing:-1px}
.event_wrap .sale{display:inline-block;margin-top:9px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:30px;font-weight:600;color:#ee432c;letter-spacing:-1px;text-decoration:none}
.event_wrap .sale .won{display:inline-block;margin-left:2px;font-size:28px;font-weight:600;color:#ee432c}
