@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#00c95f}
.event_wrap .p_evt_sec2{background:#f4f4f4}
.event_wrap .p_evt_sec3{background:#e0ffe5}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;bottom:29%}
.event_wrap .btn_lnk2{top:79%;left:35.1%;width:29.7%;height:8%}

.event_wrap .benefit_list{position:absolute;top:0;right:0;left:0;bottom:0;border:0;padding:0;display:flex;flex-direction:column;justify-content:space-between;}
.event_wrap .benefit_list li{width:100%;height:50%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:100}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202205/0502_anniversary/img/0516/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-292px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-584px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-876px 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{box-sizing:border-box;padding:60px 0;background:#e0ffe5;border-radius:8px}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:wrap}
.event_wrap .coupon_list li{height:100%;margin:0 20px 0 20px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;min-height:76px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount em.lohas{font-size:52px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;letter-spacing:-1px}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-0.5px}

.event_wrap .coupon_item_btn{position:relative;width:350px;height:80px;left:50%;transform:translateX(-50%);margin-top:40px !important;border-radius:8px;background:#111 !important;color:#fff;font-size:30px !important;font-weight:700;letter-spacing:-1px;box-sizing:border-box}

/* notice */
.event_wrap .p_evt_noti{background:#00c95f}
.event_wrap .evt_notice{padding:60px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) -24px 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#e0ffe5}
.event_wrap .noti2 .notice_title{color:#333}
.event_wrap .noti2 .notice_title:before{background-position:0 0}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* product */
.event_wrap .product_list{display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:360px;vertical-align:top;border-radius:12px}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0;text-align:center}

.event_wrap .product_img{display:block;overflow:hidden;border-radius:8px}
.event_wrap .product_img img{width:100%;margin:0 !important}
.event_wrap .product_info{display:block;min-height:210px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:70px;max-height:70px;font-size:26px;font-weight:500;color:#222;line-height:34px;letter-spacing:-1.5px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:0;right:0;width:70px;height:70px;line-height:70px;font-size:0;text-align:center;background:#ff752a;border-radius:0 8px 0}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:20px;;color:#fff}
.event_wrap .original{display:inline-block;margin:15px 16px 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:24px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:24px;color:#999}
.event_wrap .sale{display:inline-block;margin-top:15px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:36px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:500;color:#222}

/* template */
.desktop .fb__event .event__roulette__wrap{height:677px;overflow:hidden}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:656px;height:656px;margin:12px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:57px;margin-left:-27px;top:-10px}
.desktop .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .motion1{position:absolute;-webkit-animation:bounce-up 3.8s 0s ease-in-out infinite both;animation:bounce-up 4s 0s ease-in-out infinite both}
.motion_box .motion2{position:absolute;-webkit-animation:bounce-down 3.2s 0s ease-in-out infinite both;animation:bounce-down 4s 0s ease-in-out infinite both}
.motion_box .object1{top:29px;left:590px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object2{top:104px;left:560px;-webkit-animation-delay:0.5s;animation-delay:0.5s}
.motion_box .object3{top:107px;left:500px;-webkit-animation-delay:0.8s;animation-delay:0.8s}
.motion_box .object4{top:159px;left:1113px;-webkit-animation-delay:0.3s;animation-delay:0.3s}
.motion_box .object5{top:208px;left:1121px;-webkit-animation-delay:0.8s;animation-delay:0.8s}
.motion_box .object6{top:240px;left:1068px;-webkit-animation-delay:0.5s;animation-delay:0.5s}

@-webkit-keyframes bounce-up {
    0%, 100% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    40% {
        opacity:1;
        -webkit-transform:translateY(-20px);
                transform:translateY(-20px);
    }
}

@keyframes bounce-up {
    0%, 100% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    40% {
        opacity:1;
        -webkit-transform:translateY(-20px);
                transform:translateY(-20px);
    }
}

@-webkit-keyframes bounce-down {
    0%, 100% {
        opacity:1;
        -webkit-transform:translate(0, 0);
                transform:translate(0, 0);
    }
    40% {
        opacity:1;
        -webkit-transform:translate(-10px, 10px);
                transform:translate(-10px, 10px);
    }
}

@keyframes bounce-down {
    0%, 100% {
        opacity:1;
        -webkit-transform:translate(0, 0);
                transform:translate(0, 0);
    }
    40% {
        opacity:1;
        -webkit-transform:translate(-10px, 10px);
                transform:translate(-10px, 10px);
    }
}
