@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .evt_section .p_img{display:block}
.event_wrap .evt_section .m_img{display:none}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-442px;width:442px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-442px;width:442px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(http://www.orga.co.kr/images/promo/20200414_gukbap/img/p_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(http://www.orga.co.kr/images/promo/20200414_gukbap/img/p_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec:before,.event_wrap .p_evt_sec:after{background:#f4efda}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#f4efda}
.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#7c6247}
.event_wrap .p_evt_noti2:before,.event_wrap .p_evt_noti2:after{background:#7c6247}
.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#f4efda}
.event_wrap .p_evt_noti3:before,.event_wrap .p_evt_noti3:after{background:#f4efda}


/* button */
.event_wrap .product_list{position:absolute;top:31%;right:13.5%;left:13.5%;bottom:18%;font-size:0}
.event_wrap .product_list li{display:inline-block;position:relative;width:50%;height:100%}
.event_wrap .product_list .btn_link{display:block;width:100%;height:100%}
.event_wrap .product_list .btn_link2{display:block;width:100%;height:100%}
.event_wrap .btn_coupon{position:absolute;left:30%;bottom:6%;width:40%;height:10%}
.event_wrap .btn_link3{position:absolute;left:30%;bottom:17%;width:39%;height:10%}

/* notice */
.event_wrap .p_evt_noti{padding:0 124px 80px;background:#f4efda}
.event_wrap .p_evt_noti2{padding:0 124px 80px;background:#7c6247}
.event_wrap .p_evt_noti3{padding:0 124px 80px;background:#f4efda}
.event_wrap .evt_notice{padding:40px 0;border-top:1px solid #d2cdbb;border-bottom:1px solid #d2cdbb}
.event_wrap .notice_list li{position:relative;margin-top:14px;padding-left:11px;font-size:15px;font-weight:400;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#333;content:''}
.event_wrap .p_evt_noti2 li{color:#fff}
.event_wrap .p_evt_noti2 li:before{background-color:#fff}
.event_wrap .notice_list .point{font-weight:600}

.board_detail_content .event_wrap .evt_wide_wrap:before,
.board_detail_content .event_wrap .evt_wide_wrap:after{display:none}
@media all and (max-width:720px){

    .event_wrap .evt_wide_wrap{max-width:none;width:100%}
    .event_wrap .evt_wide_wrap:before,
    .event_wrap .evt_wide_wrap:after{display:none}
    .event_wrap{width:100%;max-width:none;margin:0 auto}
    .event_wrap .evt_section, .event_wrap .evt_notice{max-width:none;width:100%}
    .event_wrap .product_list{top:35%;right:0;left:0}
    .event_wrap .btn_coupon{left:0;width:100%}
    .event_wrap .btn_link3{left:0;width:100%}

    .event_wrap .p_evt_noti,
    .event_wrap .p_evt_noti2,
    .event_wrap .p_evt_noti3{padding:0}
    .event_wrap .evt_notice{padding:20px 3.61111%}
    .event_wrap .notice_list li{margin-top:3px;padding-left:3px;font-size:11px;letter-spacing:-.5px;line-height:1.6}
    .event_wrap .notice_list li:before{top:6px;width:2px;height:2px}

    .event_wrap .evt_section .m_img{display:block}
    .event_wrap .evt_section .p_img{display:none}

}
