@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .evt_section .p_img{display:block}
.event_wrap .evt_section .m_img{display:none}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-442px;width:442px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-442px;width:442px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(http://www.orga.co.kr/images/promo/20200414_gukbap/img/p_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(http://www.orga.co.kr/images/promo/20200414_gukbap/img/p_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec:before,.event_wrap .p_evt_sec:after{background:#f4efda}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#f4efda}
.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#7c6247}
.event_wrap .p_evt_noti2:before,.event_wrap .p_evt_noti2:after{background:#7c6247}
.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#f4efda}
.event_wrap .p_evt_noti3:before,.event_wrap .p_evt_noti3:after{background:#f4efda}


/* button */
.event_wrap .product_list{position:absolute;top:34%;right:13.5%;left:13.5%;bottom:7%;font-size:0}
.event_wrap .product_list li{display:inline-block;position:relative;width:50%;height:100%}
.event_wrap .product_list .btn_link{display:block;width:100%;height:79%}
.event_wrap .product_list .btn_coupon{position:absolute;left:0;bottom:0;width:100%;height:21%}

.event_wrap .btn_link2{position:absolute;left:30%;bottom:17%;width:39%;height:10%}

/* notice */
.event_wrap .p_evt_noti{padding:0 124px 80px;background:#f4efda}
.event_wrap .p_evt_noti2{padding:0 124px 80px;background:#7c6247}
.event_wrap .p_evt_noti3{padding:0 124px 80px;background:#f4efda}

.event_wrap .evt_notice{padding:40px 0;border-top:1px solid #d2cdbb;border-bottom:1px solid #d2cdbb}
.event_wrap .notice_list li{position:relative;margin-top:14px;padding-left:11px;font-size:15px;font-weight:400;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#333;content:''}
.event_wrap .p_evt_noti2 li{color:#fff}
.event_wrap .p_evt_noti2 li:before{background-color:#fff}
.event_wrap .notice_list .point{font-weight:600}

/* mobile device */
.mevt_wrap .evt_wide_wrap{max-width:none;width:100%}
.mevt_wrap .evt_wide_wrap:before,.mevt_wrap .evt_wide_wrap:after{display:none}
.mevt_wrap{width:100%;max-width:none;margin:0 auto}
.mevt_wrap .evt_section, .mevt_wrap .evt_notice{max-width:none;width:100%}
.mevt_wrap .product_list{top:35%;right:0;left:0}
.mevt_wrap .btn_link2{left:0;width:100%}

/* mobile notice */
.mevt_wrap .p_evt_noti,
.mevt_wrap .p_evt_noti2,
.mevt_wrap .p_evt_noti3{padding:0}
.mevt_wrap .evt_notice{padding:20px 3.61111%}
.mevt_wrap .notice_list li{margin-top:3px;padding-left:3px;font-size:11px;letter-spacing:-.5px;line-height:1.6}
.mevt_wrap .notice_list li:before{top:6px;width:2px;height:2px}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:600px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}

@media all and (max-width:720px){
    .layer_popup_wrap .layer_inner_wrap{width:300px}
    .layer_popup_wrap .layer_popup_header{height:40px;border-top:2px solid #81b824}
    .layer_popup_wrap .layer_popup_title{font-size:13px;line-height:42px}
    .layer_popup_wrap .btn-layerClose{padding:15px}
    .layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
    .layer_popup_contents{padding:0 15px 23px}
    .layer_popup_contents .popup_txt{margin-top:11px;font-size:12px;line-height:1.4}
    .layer_popup_contents .popup_desc{margin-top:11px;font-size:12px;line-height:1.4}
    .layer_popup_contents .btn_area{margin-top:15px}
    .layer_popup_contents .btn_area .btn_confirm{width:75px;height:29px;font-size:12px}

    .event_wrap .evt_section .m_img{display:block}
    .event_wrap .evt_section .p_img{display:none}

}
