#emailTable{max-width:800px;margin:0 auto;} 
#emailTable .td_bg{padding:0 8.5% 0 8.5%;background:url(https://www.pulmuoneshop.co.kr/upload/images/mail/20201101/img/bg.png) 0 0 repeat}
#emailTable .notice_list{padding:20px 3.91566%;background:#414141}
#emailTable .notice{font-size:14px;color:#AAAAAA;line-height:2}
#emailTable .item_info{margin-top:10px;font-size:15px;color:#606060;text-align:left;letter-spacing:-.5px;line-height:1.5}
#emailTable .item_area{display:inline-block;width:48.6445783%;font-size:0;vertical-align:top}
#emailTable .item{display:block;width:100%;margin-bottom:5.57%;text-align:left;outline:none;text-decoration:none}
#emailTable .discount{display:inline-block;font-size:15px;font-weight:bold;color:#7DCC0F}
#emailTable .discount_price{display:inline-block;margin-left:1.572755%;font-weight:bold;color:#606060;}
#emailTable .price{display:inline-block;margin-left:2.572755%;font-size:13px;color:#838383;text-decoration:line-through;}