@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:119px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:790px}
.event_wrap .evt_nav_wrap li:nth-child(2){width:250px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:119px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion_member/img/p_evt_nav_on.jpg) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(1).on{background-position:-70px 0}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:-800px 0}

/* notice */
.event_wrap .p_evt_noti{background:#c0bcba url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0904_chuseock_promotion_member/img/p_img_noti.jpg) center top}
.event_wrap .evt_notice{padding:0 40px 118px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* template */
.desktop .fb__event .event__roulette__wrap{height:710px;overflow:hidden}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:657px;height:657px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:57px;margin-left:-28px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .motion1{animation:fade 8s 0s ease-in-out infinite both;-webkit-animation:fade 8s 0s ease-in-out infinite both}
.motion_box .text1{top:242px;left:38.5%}
.motion_box .text2{top:254px;left:75.2%;margin-left:-156.5px;animation-delay:0.5s !important}
.motion_box .text3{top:402px;left:50%;margin-left:-156.5px;animation-delay:1s !important}
@-webkit-keyframes fade {
  0% {
		opacity: 0;
		filter: blur(10px);
		-webkit-filter: blur(10px);
	}
  15%, 80% {
		opacity: 1;
		filter: blur(0px);
		-webkit-filter: blur(0px);
  }
	90%, 100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
		opacity: 0;
		filter: blur(10px);
		-webkit-filter: blur(10px);
	}
  15%, 80% {
		opacity: 1;
		filter: blur(0px);
		-webkit-filter: blur(0px);
  }
	90%, 100% {
    opacity: 0;
  }
}
