@charset "utf-8";

/* common */
.event_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;padding:0;border:0}
.event_wrap .btn_lnk1{top:11%;left:10%;width:80%;height:21%}
.event_wrap .btn_lnk2{top:40%;left:10%;width:80%;height:21%}
.event_wrap .btn_lnk3{top:68%;left:10%;width:80%;height:21%}