@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* common */
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{max-width:none;margin:0 0 auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;padding:0;border:0}
.event_wrap .btn_lnk1{top:17%;left:5%;width:45%;height:27%}
.event_wrap .btn_lnk2{top:42%;left:55%;width:40%;height:27%}
.event_wrap .btn_lnk3{top:67%;left:5%;width:45%;height:29%}
