@charset "utf-8";

.desktop .fb__event .promotion__content .lohas__wrapper img{max-width:none}

.lohas__wrapper{position:relative;max-width:1920px;margin:0 auto;font-family:"NotoSans", "Lato", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:500;text-align:left}
.lohas__wrapper .lohas-section{position:relative;width:1168px;margin:0 auto}
.lohas__wrapper .lohas-section img{margin:0 -376px auto;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:532px;padding-left:46px;font-size:18px;color:#fff;transform:translate(-50%, -50%);box-sizing:border-box}
.lohas__wrapper .hashtag{display:block;font-weight:400;font-size:18px;letter-spacing:-1px;line-height:24px}
.lohas__wrapper .point{display:block;margin:30px 0 0 -5px;font-weight:400;font-size:100px}
.lohas__wrapper .title{display:block;margin-top:62px;font-size:40px;font-weight:300;letter-spacing:-2px}
.lohas__wrapper .title .point{margin:10px 0 0 -6px;font-weight:700;letter-spacing:-6px}
.lohas__wrapper .description{margin:0;font-size:28px;font-weight:300;color:#bbbcbd;letter-spacing:-2px;line-height:40px}
.lohas__wrapper .text{margin-top:26px;font-weight:300;font-size:18px;line-height:28px}

.lohas__wrapper .add-text{position:relative;margin-top:332px;padding-left:52px}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:0;width:45px;height:2px;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:326px}
.lohas__wrapper .lohas-box:first-child{margin-top:10px}
.lohas__wrapper .lohas-box .text{margin-top:16px}

/* style line modify */
.lohas-section1:after{position:absolute;left:50%;bottom:0;z-index:1;width:10px;height:354px;background:#fff;transform:translate(-50%,99px);content:''}
.lohas-section1 .lohas-inner{margin-top:-6px;padding-bottom:166px}

.lohas-section4 .lohas-inner{padding-bottom:120px}
.lohas-section5 .lohas-inner .title{margin-top:178px}

.lohas-section5 .lohas-inner,
.lohas-section6 .lohas-inner{padding-left:0;color:#333}
.lohas-section5 .description,
.lohas-section6 .description,
.lohas-section7 .description{font-weight:700;color:#333}

.lohas-section7 .lohas-inner{padding:0 15px;color:#333}
.lohas-section7 .lohas-inner .description{margin-top:274px}
.lohas-section7 .lohas-inner .text{margin-top:16px}

.lohas-section8{height:170px;background-color:#79ca20;text-align:center}
.lohas-section8:after{position:absolute;top:0;left:50%;z-index:-1;width:1920px;height:100%;background-color:#79ca20;transform:translate(-50%,0);content:''}
.lohas-section8 .lohas-logo{display:block;margin-top:13px;font-family:"noto";font-style:normal;font-size:18px;font-weight:700;color:#fff;line-height:31px}
.lohas-section8 .lohas-inner{width:100%;padding:0}
.lohas-section8 .text{margin-top:4px}
