@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_item_list{overflow:hidden;position:absolute;top:26%;right:7%;left:7%;bottom:22%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{float:left;width:25%;height:100%}
.event_wrap .prd_item_list a{display:block;width:100%;height:100%}
.event_wrap .prd_item_list.list2{top:22%;bottom:26%}
.event_wrap .btn_more{top:83%;left:34%;width:32%;height:10%}
.event_wrap .btn_more2{top:76%;left:34%;width:32%;height:10%}

/* notice */
.event_wrap .evt_notice{padding:75px 78px;background:#a77555}
.event_wrap .notice_list li{position:relative;margin-top:8px;padding-left:9px;font-size:16px;font-weight:300;color:#fff;letter-spacing:-1px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}
