@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;margin:0;padding:0;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

.event_wrap .prd_item_list{overflow:hidden;position:absolute;top:14%;right:5%;left:5%;bottom:10%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{float:left;width:50%;height:50%}
.event_wrap .prd_item_list a{display:block;width:100%;height:100%}
.event_wrap .prd_item_list.list2{top:18%;bottom:16%}
.event_wrap .btn_more{left:0;bottom:0;width:100%;height:6%}
.event_wrap .btn_more2{left:0;bottom:6.5%;width:100%;height:6%}

/* notice */
.event_wrap .evt_notice{padding:33px 5.833333%;background:#a77555}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:5px;font-size:12px;font-weight:300;color:#fff;line-height:1.6;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:0;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}
