@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* page */
.event_wrap .p_evt_sec2{background:#35b13b}
.event_wrap .evt_notice{background:#35b13b}
.event_wrap .coupon_desc span{color:#fff}
