@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:25%;left:10%;right:10%;height:70%}

.event_wrap .items_list{position:absolute;top:12%;left:5%;right:5%;height:80%;display:flex;justify-content:space-between}
.event_wrap .items_list li{width:48%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}
