@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 auto;vertical-align:top}

.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:31%;left:16%;right:16%;height:56%}

.event_wrap .items_list{position:absolute;top:15.7%;left:13%;right:13%;height:76%;display:flex;justify-content:space-between}
.event_wrap .items_list li{width:30%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}