@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .event_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .btn_lnk1{top:85.7%;left:32.4%;width:35.3%;height:7.3%}
.event_wrap .btn_lnk2{top:80.2%;left:10.8%;width:35.7%;height:7.3%}
.event_wrap .btn_lnk3{top:80.2%;left:53.6%;width:35.7%;height:7.3%}

.event_wrap .video_wrap{position:absolute;z-index:1;top:226px;left:80px;width:860px;height:484px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%}

/* mobile */
.event_wrap.mevt .event_wrap,.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn_lnk1{top:85.3%;left:17%;width:66%;height:9%}
.event_wrap.mevt .btn_lnk2{top:48.3%;left:4%;width:92%;height:4.4%}
.event_wrap.mevt .btn_lnk3{top:91.5%;left:4%;width:92%;height:4.4%}
.event_wrap.mevt .video_wrap{top:34.85714285%;left:4.4444444%;width:91.111111%;height:52.8571428%}
