@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;display:flex;width:100%;height:100%;}
.event_wrap .evt_nav_wrap li{position:relative;width:35.97222%;height:100%}
.event_wrap .p_evt_nav li:nth-child(2){width:25.5555%}
.event_wrap .p_evt_nav li:nth-child(3){width:38.47228%}
.event_wrap .evt_nav_wrap li a{z-index:1;position:relative;display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20.8333vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0401/m_evt_nav_on.jpg);background-size: auto 100%;}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:48.2222%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{left:18%;right:18%;bottom:0;height:7.4%}

/* p_evt_sec */
.event_wrap .p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0401/m_evt_sec4.jpg) center center / 100% auto no-repeat}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding-top:0;padding-bottom:16.6667vw;}
.event_wrap .p_evt_noti.noti2{background:#f8f7d9;}

.event_wrap .p_evt_tit .p_evt_obj{position:absolute;left:12.5vw;right:12.5vw;bottom:3.3333vw;width:75.416666%;animation:motion1 0.7s infinite alternate;}
.event_wrap .p_evt_sec2 .items_list{position:absolute;top:21.4%;left:5%;right:5%;height:16.5%;}
.event_wrap .p_evt_sec2 .items_list li{width:100%;height:100%;margin-bottom:3.2%}
.event_wrap .p_evt_sec2 .items_list a{display:block;width:100%;height:100%}

.event_wrap .p_evt_sec3 .coupon{position:absolute;top:44.1667vw;left:50%;margin-left:-21.805vw;}
.event_wrap .p_evt_sec3 .coupon_desc span{color:#fff;}

.event_wrap .p_evt_sec4{background-color:#f8f7d9;}
.event_wrap .p_evt_sec4 .coupon_list ul{display:block;}
.event_wrap .p_evt_sec4 .coupon_list li{margin:0 0 5.5556vw 0;}
.event_wrap .p_evt_sec4 .coupon_desc{margin-top:8.3333vw;}
.event_wrap .p_evt_sec4 .coupon_desc span{color:#999;}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:43.4722vw;left:4.8611vw;width:90.2777vw;height:50.8333vw;background:url(https://i.ytimg.com/vi/ICxFqFm6iIw/maxresdefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* motion */
@keyframes motion1 {
  0%{transform:translateY(2vw)}
  100%{transform:translateY(0)}
}
