@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:23.6111vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0415/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn_lnk1{left:17%;right:17%;top:0;height:37%}

/* notice */
.event_wrap .p_evt_sec1{background:#45b2ff}
.event_wrap .p_evt_sec2{background:#eebb32}
.event_wrap .p_evt_sec3{background:#3da625}

.event_wrap .p_evt_noti{background:#45b2ff}
.event_wrap .noti2{background:#eebb32}

/* coupon */
.event_wrap .p_evt_sec1 .coupon_list ul{flex-direction:column}
.event_wrap .coupon_desc span{color:#fff}

/* product */
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 1.6666vw}
.event_wrap .product_list :is(span,del,ins){color:#fff !important}
.event_wrap .percent_type2{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;background:#ff752a;display:flex;justify-content:center;align-items:center}
.event_wrap .percent_type2 .num{font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent_type2 .unit{font-size:2.778vw;color:#fff;margin:1vw 0 0 0.2vw}
