@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto;vertical-align:top;}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;}

/* button */
.event_wrap .btn_lnk1{top:0;left:29.5%;right:29.5%;height:80px}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:140px;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0415/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:140px;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1168px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav{position:absolute;top:503px;left:50%;min-width:auto;padding-top:140px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0415/p_evt_nav_on.png) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:-778px 0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0415/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_noti .evt_notice{min-height:492px;padding-top:60px}
.event_wrap .noti2{background:#eebb32 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0415/p_img_noti2.jpg) 50% 100% no-repeat}
.event_wrap .noti2 .evt_notice{min-height:auto}

/* coupon */
.p_evt_sec1 .coupon_list{position:absolute;bottom:0;left:0;right:0}
.p_evt_sec2 .coupon_item{position:absolute;top:83px;right:100px}

/* product */
.event_wrap .product_list{position:absolute;top:190px;left:40px;right:40px;gap:0 8px}
.event_wrap .product_list li{width:266px}
.event_wrap .product_list .product_img{height:266px}
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 8px}
.event_wrap .product_list :is(span,del,ins){color:#fff !important}
.event_wrap .percent_type2{position:absolute;top:0;left:0;width:60px;height:60px;background:#ff752a;display:flex;justify-content:center;align-items:center}
.event_wrap .percent_type2 .num{font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent_type2 .unit{font-size:14px;color:#fff;margin:6px 0 0 1px}
