@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto;vertical-align:top;}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;}
.desktop .fb__event .promotion__content .p_evt_nav img{margin:0 auto;}

.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0401/p_evt_sec4.jpg) 50% 0 no-repeat;}
.event_wrap .noti1 .evt_notice{padding:0 0 120px 0;}
.event_wrap .noti2{background-color:#f8f7d9;}
.p_evt_sec3 .coupon_item{position:absolute;z-index:1;top:84px;right:60px;}
.p_evt_sec4{background-color:#f8f7d9;}
.p_evt_sec4 .coupon_list{padding-top:73px;}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%;cursor:pointer;}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60;-moz-transform:translate3d(-50%,0px,0px);-ms-transform:translate3d(-50%,0px,0px);-o-transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:20px;}
.event_wrap .p_evt_nav{position:absolute;top:700px;left:50%;margin-left:-585px;padding-top:130px}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .p_evt_nav img{margin:0;}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0401/p_evt_nav_on.png) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* button */
.event_wrap .items_list{position:absolute;top:17.5%;left:3.5%;right:3.5%;height:17.5%;}
.event_wrap .items_list li{width:100%;height:100%;margin-top:2.4%;}
.event_wrap .items_list a{display:block;width:100%;height:100%;}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:220px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.ytimg.com/vi_webp/YQuTR4jk13Y/maxresdefault.webp) 50%/100%}
.video_wrap::before{content:'';position:absolute;z-index:5;top:59px;right:-336px;width:421px;height:400px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day/img/0401/p_evt_obj.png) 0 0 no-repeat;}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
