@charset "utf-8";

.evt_wide_wrap,.event_wrap,.evt_section{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;bottom:9.5%;left:8.45%;width:83.5%;height:16.7%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.333334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* .event_wrap .btn{position:absolute;left:9%;width:82%;height:38%;border:0}
.event_wrap .btn_lnk1{top:6%}
.event_wrap .btn_lnk2{top:55%;height:40%} */

.event_wrap .btn_lnk1,.event_wrap .btn_lnk2{pointer-events: none;}
