@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;bottom:6.955%;left:6.66667%;width:86.66666%;height:17.16%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* .event_wrap .btn{position:absolute;top:0;left:6.66667%;width:86.66666%;height:44.5%;border:0}
.event_wrap .btn_lnk2{top:45.6%} */


.event_wrap .btn_lnk1,.event_wrap .btn_lnk2{pointer-events: none;}
