@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:20;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;height:12.5vw;overflow:hidden}
.event_wrap .p_evt_nav{padding-top:23.6111vw;z-index:50}

.event_wrap .p_evt_nav.is_fixed .evt_nav_wrap{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0803/evt_nav2.jpg);background-size:100% auto}
.event_wrap .p_evt_nav.is_fixed{padding-top:12.5vw}
.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0803/evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}

/* notice */
.event_wrap .p_evt_noti{background:#266da4 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0803/img_noti.jpg) 100% 0/100%}
.event_wrap .evt_notice{padding:0 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:#285bb8 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/bg_roulette.jpg) 100% 0/100%}
.mobile .fb__event .event__roulette__wrap .roulette{width:88.8888vw;height:88.8888vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-3vw;width:10.1388vw;margin-left:-5.4vw}
.mobile .fb__event .roulette__action img{width:22.2222vw;height:22.2222vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding:0}

/* motion */
.event_wrap .flow_box1{position:relative;width:100%;height:139.1666vw;background:#000 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0801/img_flow1.webp) 0 center repeat-y;background-size:cover;animation:move-up 9s linear infinite}
.event_wrap .flow_box2{position:absolute;top:0;left:0;width:100%;height:139.1666vw;background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0801/img_flow2.webp) 0 center repeat-y;background-size:cover;animation:move-up 18s linear infinite}

@keyframes move-up {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -265.2778vw;
  }
}

.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}
.motion_box::after{position:absolute;top:0;right:0;bottom:0;left:0;background:linear-gradient(to top,#16171c 5%,transparent);content:'';z-index:40}

.motion_box .mark{width:23.1944vw;top:7.6388vw;right:4.4444vw;z-index:20}
.motion_box .txt{width:80vw;top:94.3333vw;left:10vw;z-index:50}

.motion_box .object1{width:55vw;top:35.6944vw;left:35.6667vw;z-index:49}
.motion_box .object2{width:45vw;top:51.6944vw;left:7.6667vw;z-index:48}
.motion_box .object3{width:38vw;top:42.6944vw;left:4.6667vw;z-index:47}
.motion_box .object4{width:40vw;top:20.6944vw;left:15.6667vw;z-index:46}
.motion_box .object5{width:25vw;top:23.6944vw;left:48.6667vw;z-index:45}
.motion_box .object6{width:18vw;top:54.6944vw;left:75.6667vw;z-index:44}
.motion_box .object7{width:13vw;top:73.6944vw;left:75.6667vw;z-index:43}
.motion_box .object8{width:25vw;top:14.3056vw;left:-2.3333vw;z-index:42}
.motion_box .object9{width:34vw;top:89.6944vw;left:76.6944vw;z-index:41}

.motion_box .motion1{animation:bounce 8s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0px);
            transform:translate(0, 0px);
  }
  50% {
    -webkit-transform:translate(0, -10px);
            transform:translate(0, -10px);
  }
}
.motion_box .motion2{animation:bounce 3s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -10px);
            transform:translate(0, -10px);
  }
}
.motion_box .motion3{animation:bounce 2s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
.motion_box .motion5{animation:bounce 6s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
