@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:90px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0821/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-363px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:84.3%;left:35%;right:35%;height:6.9%}

/* notice */
.event_wrap .p_evt_noti{background:#285bb8 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0821/p_img_noti.jpg) top center no-repeat}
.event_wrap .evt_notice{padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#f5f7f9}
.event_wrap .noti2 .notice_title{border-top:4px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(3,51,51,.2) !important;border-bottom:1px solid rgba(3,51,51,.2) !important}
.event_wrap .noti2 .notice_list li{color:#333 !important}
.event_wrap .noti2 .notice_list li:before{background-color:#333 !important}

.event_wrap .roulette_desc{text-align:center;color:#fff;margin-bottom:76px}

/* template */
.desktop .fb__event .event__roulette__wrap{height:700px;overflow:hidden}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:160px;height:160px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:73px;margin-left:-36px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* 상단 모션 */
.event_wrap .flow_box1{position:relative;width:100%;height:1100px;background:#16171c url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0821/p_img_flow1.webp) 0 center repeat-y;animation:move-up 9s linear infinite}
.event_wrap .flow_box2{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0803_2nd_birth_member/img/0821/p_img_flow2.webp) 0 center repeat-y;animation:move-up 18s linear infinite}

.event_wrap .p_evt_tit .motion_box{overflow:hidden}
.event_wrap .p_evt_tit .motion_box::after{position:absolute;top:0;right:0;bottom:0;left:0;background:linear-gradient(to top,black 5%,transparent);content:''}

.motion_box{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:1920px;height:1100px;z-index:10}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .mark{top:151px;left:1378px;z-index:10}
.motion_box .txt{bottom:100px;left:685px;z-index:1}
.motion_box .object1{top:258px;left:840px;z-index:9}
.motion_box .object2{top:380px;left:600px;z-index:8}
.motion_box .object3{top:298px;left:590px;z-index:7}
.motion_box .object4{top:92px;left:660px; z-index:6}
.motion_box .object5{top:142px;left:940px;z-index:5}
.motion_box .object6{top:406px;left:1175px;z-index:4}
.motion_box .object7{top:553px;left:1158px;z-index:3}
.motion_box .object8{top:100px;left:334px;z-index:2}
.motion_box .object9{top:604px;left:1236px;z-index:1}
.motion_box .object10{top:335px;left:1100px;z-index:1}

@keyframes move-up {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1910px;
  }
}

.motion_box .motion1{animation:bounce 8s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0px);
            transform:translate(0, 0px);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
.motion_box .motion2{animation:bounce 3s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
.motion_box .motion3{animation:bounce 2s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -25px);
            transform:translate(0, -25px);
  }
}
.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -30px);
            transform:translate(0, -30px);
  }
}
.motion_box .motion5{animation:bounce 6s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -30px);
            transform:translate(0, -30px);
  }
}

/* 하단모션 */
.event_wrap :is(.noti1, .p_evt_sec2) .motion_box{height:auto}
.event_wrap .noti1 .motion_box img{position:absolute;top:320px;left:0}
.event_wrap .p_evt_sec2 .motion_box img{position:absolute;top:800px;right:0}
.motion{opacity:0}
.motion.active{opacity:1;animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.delay01.active{animation-delay:0.1s}
