@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background:#679241}
.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:0;right:0;width:1000px;height:100%;margin:0 auto;background:#ebe592;border-radius:0 0 12px 12px;z-index:0}
.event_wrap .evt_notice {padding:0 124px 80px;box-sizing:border-box;z-index:1}

/* coupon */
.event_wrap .coupon{position:absolute;top:246px;left:0;width:100%;margin:0 auto;}
.event_wrap .coupon_desc span{margin:0;color:#999999}

/* button */
.event_wrap .btn_lnk1{position:relative;display:block;width:640px;height:100px;margin:0 auto;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202403/0301_benepia_promotion/img/p_evt_btn.jpg') center center no-repeat;background-size:100% auto;}

/* p_evt_sec3 */
.event_wrap .p_evt_sec3{background-color:#679241;padding:20px 0 80px 0;}
