@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .p_evt_nav{position:absolute;top:128vw;padding-top:22vw;z-index:50}
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;padding-top: 10px}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;background-color: #8dc63f}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:40.2778vw;left:0;right:0}
.event_wrap .p_evt_sec2 .info_desc span{color:#59872e}

/* notice */
.event_wrap .p_evt_noti{background-color:#e0ecd1}

/* items_list */
.event_wrap .items_list{position:absolute;top:43.4722vw;right:9.7222vw;left:9.7222vw}
.event_wrap .items_list li{width:100%}
.event_wrap .items_list li + li{margin-top:8.3333vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:56.9444vw;overflow:hidden}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{width:69.4444vw;margin:0 auto;color:#222;letter-spacing:-.0.0556vw}

.event_wrap .items_list .text{font-size:3.8889vw;font-weight:400;color:#666;text-align:center;line-height:1}
.event_wrap .items_list .name{margin:2.0833vw 0 10.5556vw;font-size:5.5556vw;font-weight:600;text-align:center;line-height:1.25;letter-spacing:-1px}

.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:1.3889vw 0}

.event_wrap .items_list .price_area{font-size:4.4444vw;font-weight:400;line-height:4.1667vw}
.event_wrap .items_list .item_info > dl.price_area :is(dt, dd){padding-top:0}

.event_wrap .items_list .sale_area{font-size:4.4444vw;font-weight:600;line-height:4.1667vw}
.event_wrap .items_list .coupon_area{padding:8.0556vw 0 12.3611vw;font-size:4.4444vw;font-weight:700;line-height:1}
.event_wrap .items_list .discount{display:inline-block;margin-right:0.6944vw;color:#f31000}
.event_wrap .items_list .desc{font-size:3.3333vw;color:#999;line-height:1;font-weight:200;text-align:center}
