@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;width:100%;height:116px;display:flex;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1018_amio_new_tofu_stick/img/p_evt_nav.png) center top no-repeat;background-size:1200px auto}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:428px}
.event_wrap .evt_nav_wrap li:nth-child(2){flex:1}
.event_wrap .evt_nav_wrap li:nth-child(3){width:372px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav{position:absolute;top:554px;left:50%;min-width:auto;padding-top:100px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;width:1200px;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:100px;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1200px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}

/* coupon */
.evt_wide_wrap.p_evt_sec2{position:relative}
.event_wrap .coupon_list{position:absolute;z-index:1;top:80px;right:80px}

/* notice */
.p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1018_amio_new_tofu_stick/img/p_evt_sec3.jpg) center top no-repeat}
.p_evt_noti.noti1 .evt_notice{padding:30px 40px 158px}

/* page */
.evt_wide_wrap.p_evt_sec3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1018_amio_new_tofu_stick/img/p_evt_sec5.jpg) #f9f9f9 center bottom no-repeat}

/* items_list */
.event_wrap .items_list{display:flex;gap:40px;padding-bottom:122px}
.event_wrap .items_list li{width:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:410px;overflow:hidden}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{width:500px;margin:0 auto;color:#222;letter-spacing:-.4px}

.event_wrap .items_list .text{font-size:28px;font-weight:400;color:#666;text-align:center;line-height:1}
.event_wrap .items_list .name{margin:15px 0 76px;font-size:40px;font-weight:600;text-align:center;line-height:1.25;letter-spacing:-1px}

.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:10px 0}

.event_wrap .items_list .price_area{font-size:32px;font-weight:400;line-height:30px}
.event_wrap .items_list .item_info > dl.price_area :is(dt, dd){padding-top:0}

.event_wrap .items_list .sale_area{font-size:32px;font-weight:600;line-height:30px}
.event_wrap .items_list .coupon_area{padding:58px 0 89px;font-size:40px;font-weight:700;line-height:1}
.event_wrap .items_list .discount{display:inline-block;margin-right:5px;color:#f31000}
.event_wrap .items_list .desc{font-size:24px;color:#999;line-height:1;font-weight:200;text-align:center}
