@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* 이벤트마감 */
.event_wrap .p_evt_sec1 .item{position:relative}
.event_wrap .p_evt_sec1 .is_soldout:after{position:absolute;top:5.3%;right:0;left:0;bottom:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1208_thanks_festival/img/1208/img_soldout.png) 0 50% no-repeat;background-size:100% auto;content:''}

/* 남은혜택인원 */
.event_wrap .p_evt_sec2 .remain_benefit{font-size:6.9444vw;font-weight:700;color:#222;letter-spacing:-1.5px;text-align:center;padding:9% 0 3%}
.event_wrap .p_evt_sec2 .remain_benefit span{display:inline-block;font-size:7.638vw;font-family:'Lato';padding-left:10px}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_pop{bottom:0;left:0;width:100%;padding-top:16.2%}
.event_wrap .btn_lnk{top:0;left:0;width:100%;height:100%}

/* pupup */
.pop_wrap{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);opacity:0;visibility:hidden;z-index:-1;transition:opacity 200ms 200ms ease, transform 300ms 250ms ease}
.pop_wrap.active{opacity:1;z-index:1998;visibility:visible;overflow:auto;-webkit-overflow-scrolling:touch;}
.pop_wrap .pop_inner{width:100%;min-height:100%;display:flex;justify-content:center;align-items:center;box-sizing:border-box}
.pop_wrap .pop_content{position:relative;width:80%;padding:18% 2%;font-size:5.2vw;line-height:1.5;text-align:center;box-shadow:3px 3px 20px 0 rgba(0,0,0,.07);border-radius:15px;background-color:#fff;box-sizing:border-box;}
.pop_wrap .pop_close{display:block;position:absolute;width:40px;height:40px;right:7%;top:7%;overflow:hidden}
.pop_wrap .pop_close:before{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;background-color:#444;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.pop_wrap .pop_close:after{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;background-color:#444;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

/* notice */
.event_wrap .evt_notice{padding:35px 5.555555% 50px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 11vw;background:#fff}
.mobile .fb .event .reply__join-btn a{display:inline-block;width:100%;height:auto;padding-top:14vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1208_thanks_festival/img/1208/img_btn2.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:14vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1208_thanks_festival/img/1208/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}

.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
