@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* 선착순마감 */
.event_wrap .p_evt_sec1 .item{position:relative}
.event_wrap .p_evt_sec1 .is_soldout:after{position:absolute;top:55px;right:27px;left:27px;bottom:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1208_thanks_festival/img/1208/p_img_soldout.png);content:''}

/* 남은혜택인원 */
.event_wrap .p_evt_sec2 .remain_benefit{font-size:50px;font-weight:700;color:#222;letter-spacing:-1.5px;text-align:center;padding:60px 0 20px}
.event_wrap .p_evt_sec2 .remain_benefit span{display:inline-block;font-size:55px;font-family:'Lato';padding-left:10px}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_pop{bottom:0;left:50%;width:50%;height:15.5%}
.event_wrap .btn_lnk{top:0;left:0;width:100%;height:100%}

/* pupup */
.pop_wrap{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);opacity:0;visibility:hidden;z-index:-1;transition:opacity 200ms 200ms ease, transform 300ms 250ms ease}
.pop_wrap.active{opacity:1;z-index:1998;visibility:visible;overflow:auto;-webkit-overflow-scrolling:touch;}
.pop_wrap .pop_inner{width:100%;min-height:100%;display:flex;justify-content:center;align-items:center;box-sizing:border-box}
.pop_wrap .pop_content{position:relative;width:400px;padding:90px 10px;font-size:25px;line-height:1.5;text-align:center;box-shadow:3px 3px 20px 0 rgba(0,0,0,.07);border-radius:15px;background-color:#fff;box-sizing:border-box;}
.pop_wrap .pop_close{display:block;position:absolute;width:40px;height:40px;right:25px;top:25px;overflow:hidden}
.pop_wrap .pop_close:before{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;background-color:#444;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.pop_wrap .pop_close:after{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;background-color:#444;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

/* notice */
.event_wrap .evt_notice{padding:76px 75px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1168px;margin:0 auto;padding:0;background:#fff;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn a{display:inline-block;width:566px;height:101px;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1208_thanks_festival/img/1208/img_btn2.png) 0 0 no-repeat;border-radius:0}
.desktop .fb__event .fb__event-comment__join-btn button{width:566px;height:101px;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1208_thanks_festival/img/1208/img_btn.png) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}
