@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* link */
.event_wrap .btn{position:absolute;left:24%;width:52%}
.event_wrap .btn_lnk1{top:93.7%;height:3%}

/* notice */
.event_wrap .p_evt_noti{background:#ffdf5b}
.event_wrap .evt_notice{padding:0 5.555555% 50px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 채널추가 모션 */
.motion_box{position:absolute;top:72.638%;left:68.75%;width:26.666%;height:14.166%;
    -webkit-animation: slide-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
            animation: slide-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
.motion_box img{margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 

@-webkit-keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    50% {
      -webkit-transform: translateY(-5px) translateX(-5px);
              transform: translateY(-5px) translateX(-5px);
    }
    0% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
      }
  }
  @keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    50% {
      -webkit-transform: translateY(-5px) translateX(-5px);
              transform: translateY(-5px) translateX(-5px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
      }
  }  
  
  