@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:60.1%;left:4.6%;width:90.8%;height:31.5%;background:url(https://i.vimeocdn.com/video/1612604596-4445b44388031eb3d27ad4d200b23ea13f97d000972b2c4c135e65440f41cc31-d?mw=1500&mh=844) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
