@charset "utf-8";

@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* page */
.p_evt_sec1{background-color:#fff9e5;}
.p_evt_noti{background-color:transparent;}
.p_evt_noti .evt_notice{background-color:#fff9e5}
.event_wrap .coupon_desc{margin-top:4.16666vw;}
.event_wrap .coupon_desc span{color:#999999;}

/* coupon */
.event_wrap .coupon_item_info .info_type{letter-spacing: -0.2vw;}
