@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#74c244;padding-bottom: 19.1667vw;}
.event_wrap .p_evt_sec2{background:#449dc2;padding-bottom: 19.1667vw;}
.event_wrap .p_evt_sec3{background:#ecf6e3}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:5%;right:6%;bottom:45%;}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:33vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202306/0601_awards/img/evt_nav_on_0601.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{box-sizing:border-box;margin:0 5.555vw;}
.event_wrap .coupon_list li{margin-bottom:8.0555vw}
.event_wrap .coupon_list li:last-child{margin-bottom:0}



/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:49.0625%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 101% 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;min-height:11.6vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:4vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.25vw}

.event_wrap .coupon_item_btn{position:relative;width:43.6111vw;line-height:9.28vw;left:50%;transform:translateX(-50%);border: 1px solid #ddd !important;border-radius: 4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-0.35vw;box-sizing:border-box;margin-top: 1.9444vw;}

.event_wrap .coupon_item .coupon_brand{width:26vw;height:9vw}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat;background-size:85vw auto}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:3.33vw 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_greenjuice{background-position:-21.67vw -40vw}

.event_wrap .coupon_desc{text-align:center;margin-top:2.4vw}
.event_wrap .coupon_desc span{display:block;font-size:3vw;margin-top:1vw;color:#fff}

.event_wrap .coupon_item_btn:after { position: relative; display: inline-block; width: 5vw;height: 3.6vw; background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat; background-size: 100%; margin-left: 1.5vw; content: '';
}

/* notice */
.event_wrap .p_evt_noti{background:#74c244}
.event_wrap .evt_notice{padding:0 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(225,225,225,.2);border-bottom:1px solid rgba(225,225,225,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .p_evt_noti.noti2{background:#449dc2}

/* product - 카테고리 */
.event_wrap .product_list{display:flex;flex-wrap:wrap;width:calc(100vw - 5.556vw);margin:0 5.556vw}
.event_wrap .product_list li{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw}
.event_wrap .product_info{display:block;min-height:33.3333vw;padding-top:1.389vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 1.9444vw}

.event_wrap .percent{position: absolute;top: 0;left: 0;width: 13.1944vw;height: 13.1944vw;line-height: 13.1944vw;text-align: center;background: #5f9f0c;border-radius: 0 0 30% 0;}
.event_wrap .percent .num{display:inline-block;font-size:4.44444vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:4.44444vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .original{display:inline-block; margin: 0.6944vw 1.1111vw 0 0;}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

/* motion */
.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box img{margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.motion_box .object_img{position:absolute;width:95%;top:46%;left:5%;z-index:10;-webkit-backface-visibility:hidden}

.motion_box .object_img.motion1_2{width:95%;top:49%;left:7%;-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:20}
.motion_box .object_img.motion1_3{width:95%;top:39%;left:4%;-webkit-animation:bounce-up 9s ease-in-out 0.7s infinite both;animation:bounce-up 9s ease-in-out 0.7s infinite both;z-index:10}

.motion_box .object_img.motion2_2{width:95%;top:47%;left:5%;-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:20}
.motion_box .object_img.motion2_3{width:95%;top:44%;left:1%;-webkit-animation:bounce-up 9s ease-in-out 3.7s infinite both;animation:bounce-up 9s ease-in-out 3.7s infinite both;z-index:10}

.motion_box .object_img.motion3_2{width:95%;top:48.5%;left:1%;-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:20}
.motion_box .object_img.motion3_3{width:95%;top:45%;left:1%;-webkit-animation:bounce-up 9s ease-in-out 6.7s infinite both;animation:bounce-up 9s ease-in-out 6.7s infinite both;z-index:10}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { 
        opacity:0 
    }
    6% {
        opacity:1;
        -webkit-transform:translateY(-15px);
                transform:translateY(-15px);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity:1;
        -webkit-transform:translateY(-15px);
                transform:translateY(-15px);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@-webkit-keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}

@keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}
