@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#ecf6e3}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;height:58%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:-3px;height:100%;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.333%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:160px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202306/0601_awards/img/p_evt_nav_on_0601.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(1).on:after{background-position:-377px 0}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-767px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-1156px 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute; top:0;right:0;box-sizing:border-box;padding-top:100px;margin:0 40px;display:flex;justify-content:center;flex-wrap:wrap;align-items: flex-end;}
.event_wrap .coupon_list li{height:100%;margin:0 20px 0 20px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:0}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;min-height:76px;z-index:0}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px;letter-spacing:-.5px}

.event_wrap .coupon_item_btn{position: relative;width: 100%;height: 53px;padding-right: 38px;margin-top: 12px !important;border: 1px solid #ddd !important;border-radius: 4px;background: #fff !important;color: #333;font-size: 20px !important;font-weight: 500;letter-spacing: -1px;box-sizing: border-box;}

.event_wrap .coupon_item_btn:before {position: absolute;top: 36%;left: 178px;width: 26px;height: 16px;background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content: '';
}

.event_wrap .coupon_item .coupon_brand{width:150px;height:50px}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:24px 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_greenjuice{background-position:-125px -240px}

.event_wrap .coupon_desc{text-align:center;margin-top:14px}
.event_wrap .coupon_desc span{display:block;margin-top:4px;color:#fff;letter-spacing:-.8px}

.event_wrap .coupon_item.type2{position:absolute; top:100px;right:193px;width:266px;}

/* notice */
.event_wrap .p_evt_noti{background:#74c244}
.event_wrap .evt_notice{padding:0px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .p_evt_noti.noti2{background:#449dc2}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin-left:40px;box-sizing:border-box;z-index:20}
.event_wrap .product_list li{width:250px;margin-right:29px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:250px;background:#fff}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:block;padding-top:20px;margin-bottom:56px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:5px}
.event_wrap .percent {position: absolute;top: 0;left: 0;width: 67px;height: 67px;line-height: 60px;text-align: center;background: #5f9f0c;border-radius: 0 0 28px 0;}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .original{display:inline-block;margin:5px 8px 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:5px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .object_img{position:absolute;top:16px;left:540px;z-index:10}

.motion_box .object_img.motion1_2{-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:20}
.motion_box .object_img.motion1_3{-webkit-animation:bounce-up 9s ease-in-out 0.7s infinite both;animation:bounce-up 9s ease-in-out 0.7s infinite both;z-index:10}

.motion_box .object_img.motion2_2{-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:10}
.motion_box .object_img.motion2_3{-webkit-animation:bounce-up 9s ease-in-out 3.7s infinite both;animation:bounce-up 9s ease-in-out 3.7s infinite both;z-index:20}

.motion_box .object_img.motion3_2{-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:20}
.motion_box .object_img.motion3_3{-webkit-animation:bounce-up 9s ease-in-out 6.7s infinite both;animation:bounce-up 9s ease-in-out 6.7s infinite both;z-index:10}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@-webkit-keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}

@keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}
