@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}


/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/p_tit_bg_r.jpg) 0 0 no-repeat}


.event_wrap .p_evt_tab,.event_wrap .p_evt_tab:before,.event_wrap .p_evt_tab:after{background:#083257}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#d1ddeb}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f9f9f9}
.event_wrap .p_evt_sec2{padding-bottom:104px}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#d1ddeb}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#f9f9f9}


/* video */
.event_wrap .video_wrap{position:absolute;top:447px;right:36px;left:36px;bottom:72px}
.event_wrap .video_wrap iframe{width:100%;height:100%}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}


.event_wrap .comment_wrap{background:#f9f9f9;font-size:0}
.event_wrap textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{display:inline-block;position:relative;background:#fff;vertical-align:top}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:780px;height:156px;padding:26px 44px;border:0;background:none;font-size:22px;color:#666;font-weight:400;letter-spacing:-1px;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:22px;color:#666;font-weight:300}
.event_wrap .comment_wrap .btn_enroll{display:inline-block;width:225px;height:156px;margin-left:15px;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/p_btn_enroll.jpg) 0 0 no-repeat;background-size:100% auto}

.event_wrap .comment_list{margin:48px 0 0;border-top:2px solid #000;background:#f9f9f9}
.event_wrap .comment_list li{border-bottom:1px solid #000}
.event_wrap .comment_list .inner{position:relative;padding:20px 32px;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:22px;color:#231f1d;vertical-align:middle}
.event_wrap .comment_list .comment_writer{min-width:146px;color:#797675}
.event_wrap .comment_list .comment_date{color:#797675}
.event_wrap .comment_list .comment_title{display:block;width:100%;margin-top:6px;font-weight:500;color:#000;line-height:2;word-break:keep-all}
.event_wrap .comment_list .btn_close{top:30px;right:32px;width:19px;height:18px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/btn_close.png) 0 0 no-repeat}

.event_wrap .paginate{padding:74px 0 94px;background:#f9f9f9;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 23px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:22px;font-weight:400;font-size:28px;color:#231f1d;line-height:22px}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-25px;width:4px;height:4px;background:#000;-webkit-border-radius:50%;;border-radius:50%;content:''}
.event_wrap .paginate .num.on{display:block;font-weight:600}
.event_wrap .paginate .sp{display:inline-block;width:9px;height:15px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin:3px -6px 0 0}
.event_wrap .paginate .sp_next{margin:3px 0 0 -6px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}

/* notice */
.event_wrap .evt_notice{padding:42px 54px;background:#efefef;box-sizing:border-box}
.event_wrap .notice_title{display:block;margin-left:-4px;font-size:24px;font-weight:600;color:#231f1d}
.event_wrap .notice_list{margin-top:8px}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:22px;font-weight:300;color:#231f1d;line-height:2;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:22px;left:0;width:3px;height:3px;background-color:#231f1d;border-radius:50%;content:''}

.event_wrap .p_evt_sec3 .evt_notice{padding:37px 0 140px;background:#d1ddeb}
.event_wrap .p_evt_sec3 .notice_title{margin-left:0}

.event_wrap .btn_lnk{left:26%;bottom:12%;width:49%;height:19%}

/* prd item */
.event_wrap .prd_item_list{position:absolute;top:9.5%;right:4.5%;left:4.5%;bottom:5%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:50%;height:33.333334%;font-size:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

/* lypop */
.layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:697px;margin:0 10px;background:#083257;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:57px 80px 54px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .inner{margin-top:20px;padding:24px 40px;border-top:4px solid #fff;border-bottom:1px solid #fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;font-size:36px;color:#fff;line-height:1.4}
.layer_popup_contents .popup_desc{font-size:18px;color:#fff}
 
.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:186px;height:52px;margin:0 5px;border:1px solid #fff;background:#fff;font-size:22px;color:#083257;vertical-align:middle;line-height:52px;border-radius:30px;-webkit-border-radius:30px;}
.layer_popup_wrap .btn_area a.btn_cancel{background:#083257;color:#fff}

