@charset "utf-8";


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

/* video */
.event_wrap .video_wrap{position:absolute;top:49.3258426%;right:6.25%;left:6.52777777%;bottom:10.898876%}
.event_wrap .video_wrap iframe{width:100%;height:100%}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .comment_wrap{padding:0 5.5555555% 42px;background:#f9f9f9;font-size:0}
.event_wrap textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{position:relative;background:#fff;vertical-align:top}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:100%;height:103px;padding:13px 19px;border:0;background:none;font-size:12px;color:#666;font-weight:400;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:12px;color:#666;font-weight:300}
.event_wrap .comment_wrap .btn_enroll{display:block;width:100%;margin-top:6px;padding-top:16.5625%;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/btn_enroll.jpg) 0 0 no-repeat;background-size:100% auto}

.event_wrap .comment_list{margin:31px 0 0;border-top:2px solid #000;background:#f9f9f9}
.event_wrap .comment_list li{border-bottom:1px solid #000}
.event_wrap .comment_list .inner{position:relative;padding:16px 2.1875%;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:12px;color:#231f1d;vertical-align:middle}
.event_wrap .comment_list .comment_writer{min-width:75px;color:#797675}
.event_wrap .comment_list .comment_date{color:#797675}
.event_wrap .comment_list .comment_title{display:block;width:100%;margin-top:5px;font-weight:500;color:#000;line-height:1.7;word-break:keep-all}
.event_wrap .comment_list .btn_close{top:20px;right:11px;width:10px;height:9px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/btn_close.png) 0 0 no-repeat;background-size:100% auto}

.event_wrap .paginate{padding:35px 0 45px;background:#f9f9f9;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 6px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:22px;font-weight:400;font-size:14px;color:#231f1d;line-height:22px}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-6px;width:2px;height:2px;background:#000;-webkit-border-radius:50%;border-radius:50%;content:''}
.event_wrap .paginate .num.on{display:block;font-weight:600}
.event_wrap .paginate .sp{display:inline-block;width:5px;height:8px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0807_summer_vacation/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle;}
.event_wrap .paginate .sp_prev{margin:2px 2px 0 0}
.event_wrap .paginate .sp_next{margin:2px 0 0 2px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}

/* notice */
.event_wrap .evt_notice{padding:20px;background:#efefef;box-sizing:border-box}
.event_wrap .notice_title{display:block;margin-left:-2px;font-size:12px;font-weight:600;color:#231f1d}
.event_wrap .notice_list{margin-top:5px}
.event_wrap .notice_list li{position:relative;margin-top:2px;padding-left:5px;font-size:11px;font-weight:300;color:#231f1d;line-height:1.7;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:8px;left:0;width:2px;height:2px;background-color:#231f1d;border-radius:50%;content:'';}

.event_wrap .notice2{padding:20px 30px;background:#d1ddeb}
.event_wrap .notice2 .notice_title{margin-left:0}

.event_wrap .btn_lnk{left:17%;bottom:11%;width:67%;height:19%}


.event_wrap .prd_item_list{position:absolute;top:5.5%;right:6%;left:6%;bottom:3.5%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:100%;height:16.666%;font-size:0;}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

/* lypop */

.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0;background:#083257;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:-46px;right:0;z-index:120;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:30px;height:30px}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:15px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;font-size:22px;color:#fff;line-height:1.4}
.layer_popup_contents .popup_txt{color:#fff}
.layer_popup_contents .popup_txt .point{display:block;font-size:16px;font-weight:600;color:#333}
.layer_popup_contents .popup_desc{margin-top:10px;font-size:12px;color:#fff}
.layer_popup_contents .popup_img{display:block;margin-top:10px}
.layer_popup_contents .popup_img img{width:100%}

.layer_popup_wrap .btn_area{margin-top:20px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:46%;height:40px;margin:0 5px;border:1px solid #fff;background:#fff;font-size:15px;color:#083257;vertical-align:middle;line-height:40px;border-radius:30px;-webkit-border-radius:30px;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .btn_area a.btn_cancel{background:#083257;color:#fff}

.layer_popup_wrap .inner{margin-top:10px;padding:10px 5px;border-top:2px solid #fff;border-bottom:1px solid #fff;box-sizing:border-box;-webkit-box-sizing:border-box}
