@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* page */
.event_wrap .info_desc{position:absolute;top:284px;left:40px}
.event_wrap .info_desc span{color:#fff}
.event_wrap .coupon_list{position:absolute;top:80px;left:850px}
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0212_snack_contest/img/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .evt_notice{min-height:385px;padding:0 40px}
