@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap, .event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .prd_item_list{position:absolute;top:13.3%;bottom:7.3%;left:6.3%;right:6.3%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:48.6%;height:46.8%;}
.event_wrap .prd_item_list li:nth-child(2n){margin-left:2.7%}
.event_wrap .prd_item_list li:nth-child(2n) ~ li{margin-top:9%}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

/* mobile */
.event_wrap.mevt .event_wrap, .event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}

.event_wrap.mevt .prd_item_list{position:absolute;top:4%;bottom:0;left:7.9%;right:7.9%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap.mevt .prd_item_list li{width:100%;height:23.7%;margin:0 !important}
.event_wrap.mevt .prd_item_list li:last-child{height:24.6%}
.event_wrap.mevt .prd_item_list li a{display:block;width:100%;height:100%}