@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:87.1%;left:5.2%;right:5.2%;height:6.9%}

/* 동영상 */
.event_wrap .evt_mov{position:absolute;top:166.2vw;left:5.5vw;width:89vw;height:158.2vw;border-radius:6px;overflow:hidden}
.event_wrap .evt_mov video{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

.event_wrap .video_wrap{position:absolute;top:160.8333vw;left:5.5vw;width:89vw;height:158.2vw;background:url(https://i.vimeocdn.com/video/1677786921-a6de3d11533dc0f286eeac39efa9c869f2d1248745f96c4f4546e65a8a5fce13-d?mw=600&mh=1067) 50%;background-size:100% auto;border-radius:6px;overflow:hidden}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* 상단모션 */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box .txt1{position:absolute;top:98.8888vw;right:5.5555vw;width:41.5277vw}
.motion_box .txt2{position:absolute;top:114.2vw;right:5.5555vw;width:41.5277vw;-webkit-animation-delay:0.4s !important;animation-delay:0.4s !important}
.motion_box .txt3{position:absolute;top:129.7222vw;right:5.5555vw;width:65.8333vw;-webkit-animation-delay:0.8s !important;animation-delay:0.8s !important}
.motion_box .txt4{position:absolute;top:146vw;right:5.5555vw;width:59vw}

.motion_box .motion1{-webkit-animation:slide-right 0.8s 0.2s ease-in-out both;animation:slide-right 0.8s 0.2s ease-in-out both}
.motion_box .motion2{-webkit-animation:slide-top 0.8s 1.4s ease-in-out both;animation:slide-top 0.8s 1.4s ease-in-out both}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform:translate(50vw, 0);
            transform:translate(50vw, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform:translate(50vw, 0);
            transform:translate(50vw, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 5vw);
            transform:translate(0, 5vw);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 5vw);
            transform:translate(0, 5vw);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}