@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:73%;left:0;right:0;height:10.3%}

/* 동영상 */
.event_wrap .evt_mov{position:absolute;top:177px;left:0;width:486px;height:864px;border-radius:8px;overflow:hidden}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

.event_wrap .video_wrap{position:absolute;top:435px;left:642px;width:486px;height:864px;background:url(https://i.vimeocdn.com/video/1677786921-a6de3d11533dc0f286eeac39efa9c869f2d1248745f96c4f4546e65a8a5fce13-d?mw=600&mh=1067) 50%;background-size:100% auto;margin:0 auto;border-radius:8px;overflow:hidden}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* 상단모션 */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box .txt1{position:absolute;top:332px;left:0;z-index:1}
.motion_box .txt2{position:absolute;top:400px;left:0;z-index:1}
.motion_box .txt3{position:absolute;top:520px;left:0;z-index:1;-webkit-animation-delay:1.5s !important;animation-delay:1.5s !important}
.motion_box .object1{position:absolute;top:55px;left:345px;z-index:0}

.motion_box .motion1{-webkit-animation:slide-left 0.7s 0.7s ease-in-out both;animation:slide-left 0.7s 0.7s ease-in-out both}
.motion_box .motion2{-webkit-animation:slide-top 0.6s 1.1s ease-in-out both;animation:slide-top 0.6s 1.1s ease-in-out both}
.motion_box .motion3{-webkit-animation:fade 1s 0s ease-in-out both;animation:fade 1s 0s ease-in-out both}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform:translate(-100px, 0);
            transform:translate(-100px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform:translate(-100px, 0);
            transform:translate(-100px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 50px);
            transform:translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 50px);
            transform:translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}