@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:720px;margin:0 auto}
.event_wrap .evt_product_list{position:absolute;top:43%;right:3%;left:3%;bottom:10%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_product_list li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_product_list a{display:block;width:100%;height:100%}
.event_wrap .evt_product_list.list2{top:20%;bottom:16%}
.event_wrap .evt_product_list.list2 li{bottom:15%;height:50%}
.event_wrap .btn.btn_link{left:5%;right:5%;bottom:3%;height:8%}