@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#6c44ff}
.event_wrap .p_evt_sec2{background:#9545ff}
.event_wrap .p_evt_sec3{background:#7ebf41}
.event_wrap .p_evt_sec4{background:#f4f4f4}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:86.3889vw;left:13.8889%;right:13.8889%;height:36.5%;display:flex;justify-content:center;align-content:space-between;flex-wrap:wrap;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_full_festa/img/1101/object/m_nav_bg.png) no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap li{position:relative;width:30.9%;height:49.5%}
.event_wrap .evt_nav_wrap li:nth-child(2){margin:0 3.6%}
.event_wrap .evt_nav_wrap li:nth-child(4){margin-right:3.6%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .evt_nav_wrap.nav2{top:90.5555vw;left:5.5555%;right:5.5555%;height:26.5%;justify-content:space-between;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_full_festa/img/1116/object/m_nav_bg.png) no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap.nav2 li{width:48.4%;height:46.4%;margin:0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:22%;left:15%;right:15%;height:76%}
.event_wrap .btn_lnk2{top:0;left:5%;right:5%;height:50%}
.event_wrap .btn_lnk3{top:90%;left:28%;right:28%;height:10%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:5.4vw}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:1vw;color:#fff}
.event_wrap .coupon_desc span small{font-size:3.6vw;vertical-align:text-bottom}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;width:calc(100vw - 5.556vw);margin:-14.027vw 5.556vw 0 5.556vw}
.event_wrap .product_list li{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw !important}
.event_wrap .product_info{display:block;padding:2.7777vw 0 8.3333vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0 0 2vw}
.event_wrap .percent{display:inline-block;margin-left:1.111vw}
.event_wrap .percent .num{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .original{display:block}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

/* product - 깜짝특가 */
.event_wrap .special_list{display:flex;flex-wrap:wrap;justify-content:center;box-sizing:border-box}
.event_wrap .special_list li{position:relative;width:69.4444vw;vertical-align:top}
.event_wrap .special_list li:nth-child(2){margin-top:11.1111vw}
.event_wrap .special_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .special_list .inner{position:relative}

.event_wrap .special_img{overflow:hidden;display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:69.4444vw;border-radius:6px;background:#fff}
.event_wrap .special_img img{width:100%}
.event_wrap .btn_view{position:absolute;top:85%;left:50%;transform:translateX(-50%);font-size:3.3333vw;font-weight:300;color:#fff;padding:1.9444vw 3.3333vw;background:rgba(0,0,0,0.45);border-radius:100px}
.event_wrap .special_info{display:block;padding:5.5555vw 0 0;box-sizing:border-box}
.event_wrap .special_title{display:block;font-size:4.1666vw;font-weight:500;color:#fff;line-height:5.5555vw;letter-spacing:-0.1vw;word-break:keep-all;text-align:center;border-top:2px solid #fff;border-bottom:1px dotted #999;padding:2.7777vw 0}

.event_wrap .special_cost{display:flex;flex-wrap:wrap;justify-content:space-between;padding:1.3889vw 4.1667vw 2.7778vw 4.1667vw;font-weight:500;color:#fff;border-bottom:2px solid #fff}
.event_wrap .special_cost dt{width:55%;padding:1.6667vw 0 0;font-size:3.0556vw;letter-spacing:-0.1vw;box-sizing:border-box}
.event_wrap .special_cost dd{width:auto;padding:0.8333vw 0;font-size:4.1667vw;box-sizing:border-box;display:flex;align-items:center}
.event_wrap .special_cost dd .cost{font-family:'Lato'}
.event_wrap .special_cost dd .won{font-size:3.0556vw}
.event_wrap .special_cost dd ins{text-decoration:none}
.event_wrap .special_cost .original{font-size:2.7778vw;color:#999}
.event_wrap .special_cost .original .cost{font-size:3.3333vw}
.event_wrap .special_cost .original .won{font-size:2.7778vw}

.event_wrap .special_totalcost{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-top:2.7778vw;font-size:5vw;font-weight:600;color:#ff7828;letter-spacing:-.2vw}
.event_wrap .special_totalcost dt{}
.event_wrap .special_totalcost dd{display:flex;align-items:center}
.event_wrap .special_totalcost dd .cost{font-family:'Lato';font-size:6.3889vw}
.event_wrap .special_totalcost dd .num{margin-left:8px;font-family:'Lato';font-size:6.3889vw;color:#ffce00}
.event_wrap .special_totalcost dd .unit{font-family:'Lato';font-size:6.3889vw;color:#ffce00}

.event_wrap .coupon_special_btn{position:relative;width:100%;height:11.1111vw;padding-right:6vw;margin-top:4.8611vw;border:2px solid #ddd;border-radius:4px;background:#fff;color:#333;font-size:3.8889vw;font-weight:500;letter-spacing:-.3vw;box-sizing:border-box}
.event_wrap .coupon_special_btn:before{position:absolute;top:33%;left:62.5%;width:7.5%;height:40%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;content:''}

/* soldout */
.event_wrap .special_list .dimm_soldout{display:block;position:absolute;width:100%;height:48.72%;border-radius:1.6666vw;background:rgba(0,0,0,.5);color:#fff;pointer-events:none;cursor:not-allowed;z-index:20;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:7vw;font-family:'Lato'}
.event_wrap .special_list .dimm_soldout + a{cursor:default;pointer-events:none}
.event_wrap .special_list .dimm_soldout ~ .coupon_special_btn{background:#ddd;color:#999;cursor:not-allowed;pointer-events:none}

/* notice */
.event_wrap .p_evt_noti{background:#6c44ff}
.event_wrap .evt_notice{padding:50px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto !important;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#9545ff}
.event_wrap .noti3{background:#7ebf41}
.event_wrap .noti4{background:#6c44ff}

.event_wrap .roulette_desc{font-size:3.3333vw;text-align:center;color:#fff}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:#9545ff}
.mobile .fb__event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}
.nav_motion.motion5{-webkit-animation-delay:2.4s;animation-delay:2.4s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 6s 0s ease-in-out infinite both;animation:bounce-left 6s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 6s 0s ease-in-out infinite both;animation:bounce-right 6s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:4.2%;left:9%;width:82%}
.motion_box .object2{position:absolute;top:29%;left:2%;width:95%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:22.9%;left:13%;width:75%;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:13%;left:-5%;width:34%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object5{position:absolute;top:-3%;left:70%;width:50%;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object7{position:absolute;top:-8%;left:0;width:100%;}

.tit2 .motion_box .object1{top:5.2%}
.tit2 .motion_box .object2{top:32%}
.tit2 .motion_box .object3{top:25%}
.tit2 .motion_box .object4{top:13%}
.tit2 .motion_box .object5{top:-3%}
.tit2 .motion_box .object7{top:-10%}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
