@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#6c44ff}
.event_wrap .p_evt_sec2{background:#9545ff}
.event_wrap .p_evt_sec3{background:#7ebf41}
.event_wrap .p_evt_sec4{background:#f4f4f4}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:640px;left:40px;width:1088px;display:flex;justify-content:space-between;flex-wrap:wrap;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_full_festa/img/1101/object/p_nav_bg.png) no-repeat}
.event_wrap .evt_nav_wrap li{position:relative;width:200px;height:250px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li img{margin:0 !important}

.event_wrap .evt_nav_wrap.nav2{left:151px;width:866px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_full_festa/img/1116/object/p_nav_bg.png) no-repeat}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:40px;left:140px;right:140px;height:200px}
.event_wrap .btn_lnk2{top:0;left:40px;right:40px;height:200px}
.event_wrap .btn_lnk3{top:572px;left:450px;right:450px;height:55px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px;letter-spacing:-1px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:40px}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#fff}
.event_wrap .coupon_desc span small{font-size:16px;vertical-align:text-bottom}

/* product - 깜짝특가 */
.event_wrap .special_list{display:flex;flex-wrap:wrap;justify-content:center;box-sizing:border-box}
.event_wrap .special_list li{position:relative;width:400px;margin:0 40px;vertical-align:top}
.event_wrap .special_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .special_list a .special_img{opacity:1;transition:all 0.4s}
.event_wrap .special_list a:hover .special_img{opacity:0.6}
.event_wrap .special_list .inner{position:relative}

.event_wrap .special_img{overflow:hidden;display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:400px;border-radius:8px;background:#fff}
.event_wrap .special_img img{width:100%}
.event_wrap .btn_view{position:absolute;top:87%;left:50%;transform:translateX(-50%);font-size:16px;font-weight:300;color:#fff;padding:6px 14px;background:rgba(0,0,0,0.45);border-radius:100px}
.event_wrap .special_info{display:block;padding:20px 0 0;box-sizing:border-box}
.event_wrap .special_title{display:block;font-size:26px;font-weight:500;color:#fff;line-height:32px;letter-spacing:-1.8px;word-break:keep-all;text-align:center;border-top:2px solid #fff;border-bottom:1px dotted #999;padding:20px 0}

.event_wrap .special_cost{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 20px 16px 20px;font-weight:500;color:#fff;border-bottom:2px solid #fff}
.event_wrap .special_cost dt{width:55%;padding:8px 0 0;font-size:20px;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .special_cost dd{width:auto;padding:4px 0;font-size:28px;box-sizing:border-box;display:flex;align-items:center}
.event_wrap .special_cost dd .cost{font-family:'Lato'}
.event_wrap .special_cost dd .won{font-size:20px;padding-top:3px}
.event_wrap .special_cost dd ins{text-decoration:none}
.event_wrap .special_cost .original{font-size:18px;color:#999}
.event_wrap .special_cost .original .cost{font-size:22px}
.event_wrap .special_cost .original .won{font-size:18px}

.event_wrap .special_totalcost{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-top:20px;font-size:32px;font-weight:600;color:#ff7828;letter-spacing:-2px}
.event_wrap .special_totalcost dt{}
.event_wrap .special_totalcost dd{display:flex;align-items:center}
.event_wrap .special_totalcost dd .cost{font-family:'Lato';font-size:40px}
.event_wrap .special_totalcost dd .num{margin-left:8px;font-family:'Lato';font-size:40px;color:#ffce00}
.event_wrap .special_totalcost dd .unit{font-family:'Lato';font-size:40px;color:#ffce00}

.event_wrap .coupon_special_btn{position:relative;width:100%;height:80px;padding-right:50px;margin-top:38px;border:2px solid #ddd;border-radius:8px;background:#fff;color:#333;font-size:28px;font-weight:500;letter-spacing:-2px;box-sizing:border-box}
.event_wrap .coupon_special_btn:before{position:absolute;top:36%;left:260px;width:36px;height:24px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;background-size:100%;content:''}

/* soldout */
.event_wrap .special_list .dimm_soldout{display:block;position:absolute;width:100%;height:400px;border-radius:8px;background:rgba(0,0,0,.5);color:#fff;pointer-events:none;cursor:not-allowed;z-index:20;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:42px;font-family:'Lato'}
.event_wrap .special_list .dimm_soldout + a{cursor:not-allowed;pointer-events:none}
.event_wrap .special_list .dimm_soldout ~ .coupon_special_btn{background:#ddd;color:#999;cursor:not-allowed;pointer-events:none}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin-left:40px;margin-top:-101px;box-sizing:border-box}
.event_wrap .product_list li{width:250px;margin-right:29px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:250px}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:block;min-height:220px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:5px}
.event_wrap .percent{display:inline-block;margin-left:8px}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .original{display:block;margin:15px 0 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:3px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* notice */
.event_wrap .p_evt_noti{background:#6c44ff}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#9545ff}
.event_wrap .noti3{background:#7ebf41}
.event_wrap .noti4{background:#6c44ff}

.event_wrap .roulette_desc{text-align:center;color:#fff}

/* template */
.desktop .fb__event .event__roulette__wrap{height:710px;overflow:hidden}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:657px;height:657px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:57px;margin-left:-28px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}
.nav_motion.motion5{-webkit-animation-delay:2.4s;animation-delay:2.4s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 7s 0s ease-in-out infinite both;animation:bounce-left 7s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 7s 0s ease-in-out infinite both;animation:bounce-right 7s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:-16px;left:264px}
.motion_box .object2{position:absolute;top:285px;left:200px;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:214px;left:301px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:85px;left:155px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object5{position:absolute;top:225px;left:26px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object6{position:absolute;top:110px;left:775px;-webkit-animation-delay:0.3s;animation-delay:0.3s}
.motion_box .object7{position:absolute;top:-90px;left:145px}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-100px, -140px);
            transform:translate(-100px, -140px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-100px, -140px);
            transform:translate(-100px, -140px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(80px, -150px);
            transform:translate(80px, -150px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(80px, -150px);
            transform:translate(80px, -150px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
