@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:48vw;left:15vw;right:15vw;height:16vw;display:flex;z-index:10}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

/* button */
.event_wrap .btn_move{top:0;left:29vw;right:26vw;height:11vw}

/* product */
.event_wrap .product_item{position:absolute;top:38.8889vw;left:0;right:0}

/* notice */
.event_wrap .noti1{background:#79c53e}
.event_wrap .noti1 .evt_notice{padding:2.7778vw 5.5555vw 11.1111vw}
.event_wrap .noti2{background:#dfdfdf}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0101_new_year_member/img/roulette/m_bg_roulette.jpg) 50% 0/100% no-repeat}
.mobile .fb__event .event__roulette__wrap .roulette{width:88.8888vw;height:88.8888vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-3vw;width:10.1389vw;margin-left:-4.6vw}
.mobile .fb__event .roulette__action{width:22.2222vw;height:22.2222vw;margin:0;transform:translate(-50%,-50%)}
.mobile .fb__event .roulette__action img{width:100%;height:100%;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:5}
.motion_box img{width:100%;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_bg{width:265vw;bottom:0;left:-84vw;z-index:5}
.motion_box .object_dragon{width:105.4167vw;top:66.3889vw;left:-17.4vw;z-index:1}
.motion_box .object_cloud1{width:15.2778vw;top:73.4722vw;left:15.6944vw;z-index:2;animation-delay:0.6s !important}
.motion_box .object_cloud2{width:13.8889vw;top:85.1389vw;left:54.4444vw;z-index:2;animation-delay:1.2s !important}
.motion_box .object_cloud3{width:8.0556vw;top:73.4722vw;left:87.5vw;z-index:2;animation-delay:1.8s !important}

.motion_box .motion1{animation:bounce 4.5s 0s ease-in-out infinite both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(5px, 25px);
            transform: translate(5px, 25px);
  }
}
