@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{position:relative;overflow:hidden;min-width:1200px}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:270px;left:280px;right:280px;height:110px;display:flex;z-index:10}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_move{top:0;left:31%;right:31%;height:48%}

/* product */
.event_wrap .product_item{position:absolute;top:240px;left:0;right:0}

/* notice */
.event_wrap .noti1{background:#79c53e}
.event_wrap .noti2{background:#dfdfdf}

/* template */
.desktop .fb__event .event__roulette__wrap{min-width:1200px;height:700px;overflow:hidden;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0101_new_year_member/img/roulette/p_bg_roulette.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action{width:160px;height:160px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__action img{width:100%;height:100%}
.desktop .fb__event .roulette__arrow{width:73px;margin-left:-36px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:869px;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:5}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_bg{bottom:0;left:0;z-index:5}
.motion_box .object_dragon{top:426px;left:422px;z-index:1}
.motion_box .object_cloud1{top:449px;left:715px;z-index:2;animation-delay:0.6s !important}
.motion_box .object_cloud2{top:535px;left:972px;z-index:2;animation-delay:1.2s !important}
.motion_box .object_cloud3{top:423px;left:1230px;z-index:2;animation-delay:1.8s !important}

.motion_box .motion1{animation:bounce 4s 0s ease-in-out infinite both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(5px, 40px);
            transform: translate(5px, 40px);
  }
}
