@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .btn{position:absolute;left:4%;width:92%;height:20.5%}
.event_wrap .btn_lnk1{top:55%}
.event_wrap .btn_lnk2{top:75.5%}

