@charset "utf-8";


/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 auto;vertical-align:top}

.event_wrap .btn_lnk{position:absolute;top:86.9%;left:36.9%;width:26.3%;height:6.6%}

/* notice */
.event_wrap .evt_notice{padding:40px 80px 60px;background:#cbb494;box-sizing:border-box;border-bottom-right-radius:30px;border-bottom-left-radius:30px}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;border-bottom:1px solid rgba(255,255,255,.2);font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:-24px 0;content:''}
.event_wrap .notice_list{padding:0 20px}
.event_wrap .notice_list:last-child{padding-bottom:15px;border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}
