@charset "utf-8";

/* [S] BOX OPEN ANI */
@-webkit-keyframes boxopenAni {  
  0%{opacity:0;width:0;} 
  5%{opacity:0}
  100%{opacity:1;width:280px;} 
}
@keyframes boxopenAni {  
  0%{opacity:0;width:0;} 
  5%{opacity:1}
  100%{opacity:1;width:280px;} 
}
/* [E] BOX OPEN ANI */
/* [S] TEXT FLIP ANI */
@-webkit-keyframes flipAni{ 
  0%{margin-top:-172px; }  
  50%{margin-top: -86px;}  
  100%{margin-top:0;} 
}
@keyframes flipAni{ 
  0%{margin-top:-172px; }  
  50%{margin-top: -86px;}  
  100%{margin-top:0;} 
}
/* [E] TEXT FLIP ANI */
/* [S] HEART ANI */
@-webkit-keyframes heartAni {  
  0%{transform:scale(1);}  
  50%{transform: scale(1.1);}  
  100% {transform:scale(1);} 
}
@keyframes heartAni {  
  0%{transform:scale(1);}  
  50%{transform: scale(1.1);}  
  100% {transform:scale(1);} 
}
/* [E] HEART ANI */
/* [S] HEART PARTICLE1 ANI */
@-webkit-keyframes particle1Ani {  
  0% {top:74px;opacity:0;transform:scale(0.2);  }
  71% {top:64px;opacity:0;transform:scale(0.4);  }
  72% {top:50px;}
  85% {top:34px;opacity:0.8;transform:scale(1);  }
  100% {top:34px;opacity:0;transform:scale(1);  }
}
@keyframes particle1Ani {  
  0% {top:74px;opacity:0;transform:scale(0.2);  }
  71% {top:64px;opacity:0;transform:scale(0.4);  }
  72% {top:50px;}
  85% {top:34px;opacity:0.8;transform:scale(1);  }
  100% {top:34px;opacity:0;transform:scale(1);  }
}
/* [E] HEART PARTICLE1 ANI */
/* [S] HEART PARTICLE2 ANI */
@-webkit-keyframes particle2Ani {
  0% {top:30px;opacity:0;transform:scale(0.2);  }
  79% {top:30px;opacity:0;transform:scale(0.2);  }
  80% {top:20px;opacity:0.7;  }
  85% {top:20px;opacity:0.7;  }
  100% {top:20px;opacity:0;transform:scale(1);  }
}
@keyframes particle2Ani {
  0% {top:30px;opacity:0;transform:scale(0.2);  }
  79% {top:30px;opacity:0;transform:scale(0.2);  }
  80% {top:20px;opacity:0.7;  }
  85% {top:20px;opacity:0.7;  }
  100% {top:20px;opacity:0;transform:scale(1);  }
}
/* [E] HEART PARTICLE2 ANI */
/* [S] HEART PARTICLE3 ANI */
@-webkit-keyframes particle3Ani {
  0% {top:5px;opacity:0;transform:scale(0.5); }
  83% {opacity:0;transform:scale(0.5); }
  84% {opacity:0.5; }
  90% {top:8px;opacity:0.5; }
  100% {top:8px;opacity:0;transform:scale(1);  }
}
@keyframes particle3Ani {
  0% {top:5px;opacity:0;transform:scale(0.5); }
  83% {opacity:0;transform:scale(0.5); }
  84% {opacity:0.5; }
  90% {top:8px;opacity:0.5; }
  100% {top:8px;opacity:0;transform:scale(1);  }
}
/* [E] HEART PARTICLE3 ANI */

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family: "Lato", "NotoSans", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.flip_wrapper{position:absolute;top:135px;left:50%;transform:translate3d(-50%, 0, 0)}
.flip_wrapper .flip{overflow:hidden;width:280px;height:86px;padding-left:90px;border-radius:45px;background-color:#ff3f3f;color:#fff;white-space:nowrap;opacity:0;-webkit-animation:0.8s boxopenAni 1s forwards ease;animation:0.8s boxopenAni 1s forwards ease}
.flip_wrapper .flip:after{position:absolute;top:50%;left:36px;width:0;height:0px;border-top:19px solid transparent;border-bottom:19px solid transparent;border-left:30px solid #fff;transform:translate3d(0, -50%, 0);content:''}
.flip_wrapper span{display:block;height:100%;font-size:78px;font-weight:600;color:#fff;line-height:86px}
.flip_wrapper span:first-child{-webkit-animation: 4s flipAni 2s reverse running cubic-bezier(0.97, 0.01, 0.55, 0.99) infinite;animation:4s flipAni 2s reverse running cubic-bezier(0.97, 0.01, 0.55, 0.99) infinite}
.flip_wrapper .txt:before{display:inline-block;width:56px;height:62px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1125_shoplive/img/logo.png) 0 0 no-repeat;content:''}
.flip_wrapper .txt2{font-size:66px}

.heart_wrapper{position:absolute;top:560px;left:721px}
.heart_wrapper.heart2{left:1071px}
.heart_wrapper .heart{position:absolute;top:74px;left:3px;width:42px;height:42px;background-image: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1125_shoplive/img/btn_heart.png);background-size:100%;-webkit-animation:heartAni 1s infinite;animation:heartAni 1s infinite;cursor:pointer}
.heart_wrapper .heart_particle{position:absolute;background-image: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1125_shoplive/img/heart.png);background-size:100%;background-repeat:no-repeat;opacity:0;}
.heart_wrapper .particle1{left:24px;width:20px;height:16px;-webkit-animation:particle1Ani 1s infinite;animation:particle1Ani 1s infinite}
.heart_wrapper .particle2{left:6px;width:16px;height:12px;-webkit-animation:particle2Ani 1.2s infinite;animation:particle2Ani 1.2s infinite}
.heart_wrapper .particle3{left:20px;width:12px;height:12px;-webkit-animation:particle3Ani 1.3s infinite;animation:particle3Ani 1.3s infinite}

