@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;font-family:"Lato", "NotoSans", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto}
.event_wrap img{display:block;width:100%;vertical-align:top}

.flip_wrapper{position:absolute;top:32.55086%;right:20.83333%;left:20.83333%;}
.flip_wrapper .flip_inner{overflow:hidden;width:0;height:53px;padding-left:28.39%;border-radius:30px;background-color:#ff3f3f;color:#fff;white-space:nowrap;opacity:0;box-sizing:border-box;-webkit-animation:0.8s boxopenAni 1s forwards cubic-bezier(0.85, 0, 0.15, 1);animation:0.8s boxopenAni 1s forwards cubic-bezier(0.85, 0, 0.15, 1)}
.flip_wrapper .flip_inner:after{position:absolute;top:50%;left:11%;width:0;height:0px;border-top:11px solid transparent;border-bottom:11px solid transparent;border-left:18px solid #fff;transform:translate3d(0, -50%, 0);content:''}
.flip_wrapper .flip{display:block;margin-left:-3.091671%;opacity:0;-webkit-animation:5s flipAni 3s infinite cubic-bezier(0.85, 0, 0.15, 1), 1s flipAni2 2s forwards;animation:5s flipAni 3s infinite cubic-bezier(0.85, 0, 0.15, 1), 1s flipAni2 2s forwards}
.flip_wrapper .flip .txt{display:block;height:100%;font-size:12.5vw;font-weight:600;color:#fff;line-height:53px}
.flip_wrapper .flip .txt1:before{display:inline-block;width:34px;height:37px;margin:8px 0 0 0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1117_shoplive/img/logo.svg) 0 0 no-repeat;background-size:100% auto;vertical-align:top;content:''}
.flip_wrapper .flip .second{font-size:10.5vw;opacity:0}
.flip_wrapper .flip .first{-webkit-animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1);animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1)}
.flip_wrapper .flip .second{-webkit-animation:5s textOpacityAni2 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1);animation:5s textOpacityAni2 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1)}
.flip_wrapper .flip .third{-webkit-animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1);animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1)}

.heart_wrapper{position:absolute;top:82.278481%;left:70%}
.heart_wrapper .heart{position:absolute;top:0;left:0.83333vw;width:7.5vw;height:7.5vw;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1117_shoplive/img/btn_heart.png);background-size:100% auto;-webkit-animation:heartAni 1s infinite;animation:heartAni 1s infinite;cursor:pointer}
.heart_wrapper .heart_particle{position:absolute;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1117_shoplive/img/heart.png);background-size:100% auto;background-repeat:no-repeat;opacity:0}
.heart_wrapper .particle1{left:5.55555vw;width:3.611111vw;height:5.555555vw;-webkit-animation:1.8s infinite particleAni1;animation:1.8s infinite particleAni1}
.heart_wrapper .particle2{left:1.11111vw;width:3.055555vw;height:2.22222vw;-webkit-animation:1.8s infinite particleAni2;animation:1.8s infinite particleAni2}
.heart_wrapper .particle3{left:4.72222vw;width:2.5vw;height:2.5vw;-webkit-animation:1.8s infinite particleAni3;animation:1.8s infinite particleAni3}

/* notice */
.event_wrap .evt_notice{padding:37px 5.555555% 57px;background:#fff;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .btn_lnk{position:absolute;top:0;left:0;width:100%;height:100%}

/* [S] BOX OPEN ANI */
@-webkit-keyframes boxopenAni {
    0% {opacity:0;width:0}
    5% {opacity:0}
  100% {opacity:1;width:100%}
}
@keyframes boxopenAni {
    0% {opacity:0;width:0}
    5% {opacity:1}
  100% {opacity:1;width:100%}
}

/* [S] TEXT FLIP ANI */
@-webkit-keyframes flipAni{
    0% {margin-top:0}
   25% {margin-top:-53px}
   50% {margin-top:-53px}
   75% {margin-top:-106px}
  75.0001% {margin-top:0}
  100% {margin-top:0}
}
@keyframes flipAni{
    0% {margin-top:0}
   25% {margin-top:-53px}
   50% {margin-top:-53px}
   75% {margin-top:-106px}
  75.0001% {margin-top:0}
  100% {margin-top:0}
}

/* [S] TEXT FLIP2 ANI */
@-webkit-keyframes flipAni2{
    0% {opacity:0}
  100% {opacity:1}
}
@keyframes flipAni2{
    0% {opacity:0}
  100% {opacity:1}
}

/* [S] textOpacityAni1 ANI */
@-webkit-keyframes textOpacityAni1 {
    0% {opacity:1}
   25% {opacity:0}
   50% {opacity:0}
   75% {opacity:1}
  100% {opacity:1}
}
@keyframes textOpacityAni1 {
  0% {opacity:1}
 25% {opacity:0}
 50% {opacity:0}
 75% {opacity:1}
100% {opacity:1}
}

/* [S] textOpacityAni2 ANI */
@-webkit-keyframes textOpacityAni2 {
    0% {opacity:0}
   25% {opacity:1}
   50% {opacity:1}
   75% {opacity:0}
  100% {opacity:0}
}
@keyframes textOpacityAni2 {
  0% {opacity:0}
 25% {opacity:1}
 50% {opacity:1}
 75% {opacity:0}
100% {opacity:0}
}


/* [S] HEART ANI */
@-webkit-keyframes heartAni {
    0% {-webkit-transform:scale(1)}
   50% {-webkit-transform:scale(1.1)}
  100% {-webkit-transform:scale(1)}
}
@keyframes heartAni {
    0% {transform:scale(1)}
   50% {transform:scale(1.1)}
  100% {transform:scale(1)}
}

/* [S] HEART PARTICLE1 ANI */
@-webkit-keyframes particleAni1 {
    0.0% {top:2.22222vw;;opacity:0;-webkit-transform:scale(0.2)}
   55.2% {top:-2.22222vw;opacity:0;-webkit-transform:scale(0.4)}
   56.0% {top:-3.88888vw}
   66.0% {top:-6.44444vw;opacity:0.8;-webkit-transform:scale(1)}
   77.0% {top:-6.44444vw;opacity:0;-webkit-transform:scale(1)}
  100.0% {top:-6.44444vw;opacity:0;-webkit-transform:scale(1)}
}
@keyframes particleAni1 {
    0.0% {top:2.22222vw;opacity:0;transform:scale(0.2)}
   55.2% {top:-2.22222vw;opacity:0;transform:scale(0.4)}
   56.0% {top:-3.88888vw}
   66.0% {top:-15px;opacity:0.8;transform:scale(1)}
   77.0% {top:-15px;opacity:0;transform:scale(1)}
  100.0% {top:-15px;opacity:0;transform:scale(1)}
}


/* [S] HEART PARTICLE2 ANI */
@-webkit-keyframes particleAni2 {
    0.0% {top:1.38888vw;opacity:0;-webkit-transform:scale(0.2)}
   63.0% {top:-5.55555vw;opacity:0;-webkit-transform:scale(0.2)}
   64.0% {top:-8.33333vw;opacity:0.7}
   75.5% {top:-8.33333vw;opacity:0.7}
   88.0% {top:-8.33333vw;opacity:0;-webkit-transform:scale(1)}
  100.0% {top:-8.33333vw;opacity:0;-webkit-transform:scale(1)}
}
@keyframes particleAni2 {
    0.0% {top:1.38888vw;opacity:0;transform:scale(0.2)}
   63.0% {top:-5.55555vw;opacity:0;transform:scale(0.2)}
   64.0% {top:-8.33333vw;opacity:0.7}
   75.5% {top:-8.33333vw;opacity:0.7}
   88.0% {top:-8.33333vw;opacity:0;transform:scale(1)}
  100.0% {top:-8.33333vw;opacity:0;transform:scale(1)}
}

/* [S] HEART PARTICLE3 ANI */
@-webkit-keyframes particleAni3 {
    0% {top:0;opacity:0;-webkit-transform:scale(0.5)}
   83% {opacity:0;-webkit-transform:scale(0.5)}
   84% {opacity:0.5}
   90% {top:-11.11111vw;opacity:0.5}
  100% {top:-11.11111vw;opacity:0;-webkit-transform:scale(1)}
}
@keyframes particleAni3 {
    0% {top:0;opacity:0;transform:scale(0.5)}
   83% {opacity:0;transform:scale(0.5)}
   84% {opacity:0.5}
   90% {top:-11.11111vw;opacity:0.5}
  100% {top:-11.11111vw;opacity:0;transform:scale(1)}
}
