@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family:"Lato", "NotoSans", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.flip_wrapper{position:absolute;top:135px;left:50%;transform:translate3d(-50%, 0, 0)}
.flip_wrapper .flip_inner{overflow:hidden;width:280px;height:86px;padding-left:90px;border-radius:45px;background-color:#ff3f3f;color:#fff;white-space:nowrap;opacity:0;-webkit-animation:0.8s boxopenAni 1s forwards cubic-bezier(0.85, 0, 0.15, 1);animation:0.8s boxopenAni 1s forwards cubic-bezier(0.85, 0, 0.15, 1)}
.flip_wrapper .flip_inner:after{position:absolute;top:50%;left:36px;width:0;height:0px;border-top:19px solid transparent;border-bottom:19px solid transparent;border-left:30px solid #fff;transform:translate3d(0, -50%, 0);content:''}
.flip_wrapper .flip{display:block;opacity:0;-webkit-animation:5s flipAni 3s infinite cubic-bezier(0.85, 0, 0.15, 1), 1s flipAni2 2s forwards;animation:5s flipAni 3s infinite cubic-bezier(0.85, 0, 0.15, 1), 1s flipAni2 2s forwards}
.flip_wrapper .flip .txt{display:block;height:100%;font-size:78px;font-weight:600;color:#fff;line-height:86px}
.flip_wrapper .flip .txt1:before{display:inline-block;width:56px;height:62px;margin:13px 0 0 0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1117_shoplive/img/logo.svg) 0 0 no-repeat;vertical-align:top;content:''}
.flip_wrapper .flip .second{font-size:66px;opacity:0}
.flip_wrapper .flip .first{-webkit-animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1);animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1)}
.flip_wrapper .flip .second{-webkit-animation:5s textOpacityAni2 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1);animation:5s textOpacityAni2 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1)}
.flip_wrapper .flip .third{-webkit-animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1);animation:5s textOpacityAni1 3s infinite forwards cubic-bezier(0.85, 0, 0.15, 1)}

.heart_wrapper{position:absolute;top:560px;left:721px}
.heart_wrapper.heart2{left:1071px}
.heart_wrapper .heart{position:absolute;top:74px;left:3px;width:42px;height:42px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1117_shoplive/img/btn_heart.png);background-size:100%;-webkit-animation:heartAni 1s infinite;animation:heartAni 1s infinite;cursor:pointer}
.heart_wrapper .heart_particle{position:absolute;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1117_shoplive/img/heart.png);background-size:100%;background-repeat:no-repeat;opacity:0}
.heart_wrapper .particle1{left:24px;width:20px;height:16px;-webkit-animation:1.8s infinite particleAni1;animation:1.8s infinite particleAni1}
.heart_wrapper .particle2{left:6px;width:16px;height:12px;-webkit-animation:1.8s infinite particleAni2;animation:1.8s infinite particleAni2}
.heart_wrapper .particle3{left:20px;width:12px;height:12px;-webkit-animation:1.8s infinite particleAni3;animation:1.8s infinite particleAni3}

/* notice */
.event_wrap .evt_notice{padding:27px 0;background:#fff;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:8px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .btn_lnk{position:absolute;top:68%;left:36%;width:28%;height:30%}

/* [S] BOX OPEN ANI */
@-webkit-keyframes boxopenAni {
    0% {opacity:0;width:0}
    5% {opacity:0}
  100% {opacity:1;width:280px}
}
@keyframes boxopenAni {
    0% {opacity:0;width:0}
    5% {opacity:1}
  100% {opacity:1;width:280px}
}

/* [S] TEXT FLIP ANI */
@-webkit-keyframes flipAni{
    0% {margin-top:0}
   25% {margin-top:-86px}
   50% {margin-top:-86px}
   75% {margin-top:-172px}
  75.0001% {margin-top:0}
  100% {margin-top:0}
}
@keyframes flipAni{
    0% {margin-top:0}
   25% {margin-top:-86px}
   50% {margin-top:-86px}
   75% {margin-top:-172px}
  75.0001% {margin-top:0}
  100% {margin-top:0}
}

/* [S] TEXT FLIP2 ANI */
@-webkit-keyframes flipAni2{
    0% {opacity:0}
  100% {opacity:1}
}
@keyframes flipAni2{
    0% {opacity:0}
  100% {opacity:1}
}

/* [S] textOpacityAni1 ANI */
@-webkit-keyframes textOpacityAni1 {
    0% {opacity:1}
   25% {opacity:0}
   50% {opacity:0}
   75% {opacity:1}
  100% {opacity:1}
}
@keyframes textOpacityAni1 {
  0% {opacity:1}
 25% {opacity:0}
 50% {opacity:0}
 75% {opacity:1}
100% {opacity:1}
}

/* [S] textOpacityAni2 ANI */
@-webkit-keyframes textOpacityAni2 {
    0% {opacity:0}
   25% {opacity:1}
   50% {opacity:1}
   75% {opacity:0}
  100% {opacity:0}
}
@keyframes textOpacityAni2 {
  0% {opacity:0}
 25% {opacity:1}
 50% {opacity:1}
 75% {opacity:0}
100% {opacity:0}
}


/* [S] HEART ANI */
@-webkit-keyframes heartAni {
    0% {-webkit-transform:scale(1)}
   50% {-webkit-transform:scale(1.1)}
  100% {-webkit-transform:scale(1)}
}
@keyframes heartAni {
    0% {transform:scale(1)}
   50% {transform:scale(1.1)}
  100% {transform:scale(1)}
}

/* [S] HEART PARTICLE1 ANI */
@-webkit-keyframes particleAni1 {
    0.0% {top:74px;opacity:0;-webkit-transform:scale(0.2)}
   55.2% {top:64px;opacity:0;-webkit-transform:scale(0.4)}
   56.0% {top:50px}
   66.0% {top:34px;opacity:0.8;-webkit-transform:scale(1)}
   77.0% {top:34px;opacity:0;-webkit-transform:scale(1)}
  100.0% {top:34px;opacity:0;-webkit-transform:scale(1)}
}
@keyframes particleAni1 {
    0.0% {top:74px;opacity:0;transform:scale(0.2)}
   55.2% {top:64px;opacity:0;transform:scale(0.4)}
   56.0% {top:50px}
   66.0% {top:34px;opacity:0.8;transform:scale(1)}
   77.0% {top:34px;opacity:0;transform:scale(1)}
  100.0% {top:34px;opacity:0;transform:scale(1)}
}


/* [S] HEART PARTICLE2 ANI */
@-webkit-keyframes particleAni2 {
    0.0% {top:30px;opacity:0;-webkit-transform:scale(0.2)}
   63.0% {top:30px;opacity:0;-webkit-transform:scale(0.2)}
   64.0% {top:20px;opacity:0.7}
   75.5% {top:20px;opacity:0.7}
   88.0% {top:20px;opacity:0;-webkit-transform:scale(1)}
  100.0% {top:20px;opacity:0;-webkit-transform:scale(1)}
}
@keyframes particleAni2 {
    0.0% {top:30px;opacity:0;transform:scale(0.2)}
   63.0% {top:30px;opacity:0;transform:scale(0.2)}
   64.0% {top:20px;opacity:0.7}
   75.5% {top:20px;opacity:0.7}
   88.0% {top:20px;opacity:0;transform:scale(1)}
  100.0% {top:20px;opacity:0;transform:scale(1)}
}

/* [S] HEART PARTICLE3 ANI */
@-webkit-keyframes particleAni3 {
    0% {top:5px;opacity:0;-webkit-transform:scale(0.5)}
   83% {opacity:0;-webkit-transform:scale(0.5)}
   84% {opacity:0.5}
   90% {top:8px;opacity:0.5}
  100% {top:8px;opacity:0;-webkit-transform:scale(1)}
}
@keyframes particleAni3 {
    0% {top:5px;opacity:0;transform:scale(0.5)}
   83% {opacity:0;transform:scale(0.5)}
   84% {opacity:0.5}
   90% {top:8px;opacity:0.5}
  100% {top:8px;opacity:0;transform:scale(1)}
}
