@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}


/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_brand_week/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_brand_week/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_brand_week/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_brand_week/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#7ea254}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#7ea254}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#7ea254}
.event_wrap .p_evt_sec3{padding-bottom:66px}

/* items */
.prd_ly_wrap{position:absolute;top:26%;left:7.5%;width:85%;height:64%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.prd_ly_wrap button{display:inline-block;width:50%;height:100%;margin:0;padding:0;background:none}

.prd_item_list{font-size:0}
.prd_item_list li{display:inline-block;width:50%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:45px 80px 52px;background:#f0f0f0;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:20px;font-weight:600;color:#333}
.event_wrap .notice_list{margin-top:8px}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:16px;font-weight:300;color:#333;line-height:28px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#333;border-radius:50%;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:none;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;-webkit-transform:none;transform:none}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:450px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_contents{padding:0;text-align:left}
.layer_popup_wrap .popup_tit{display:block;background:#f0f0f0;font-size:24px;color:#333;text-align:center;line-height:80px}
.layer_popup_wrap .popup_cont{padding-bottom:34px}
.layer_popup_wrap .prd_list{padding:46px 0 34px 70px}
.layer_popup_wrap .prd_list li{position:relative;margin-top:10px;padding-left:13px;font-size:18px;font-weight:300;color:#333;letter-spacing:-2px}
.layer_popup_wrap .prd_list li:first-child{margin:0}
.layer_popup_wrap .prd_list li:before{position:absolute;top:13px;left:0;width:3px;height:3px;background-color:#333;border-radius:50%;content:''}
.layer_popup_wrap .btn_area{margin-top:14px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn_cancel{display:inline-block;width:141px;height:47px;margin:0 5px;border:1px solid #333;background:#333;font-size:18px;color:#fff;vertical-align:middle;line-height:47px}
#lypop2.layer_popup_wrap .prd_list{padding-left:130px}
