@charset "utf-8";


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}
.event_wrap .evt_sec3{padding-bottom:33px;background:#7ea254}

/* items */
.prd_ly_wrap{position:absolute;top:17%;left:0;width:100%;height:76%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.prd_ly_wrap button{display:inline-block;width:100%;height:50%;margin:0;padding:0;border:0;background:none}

.prd_item_list{font-size:0}
.prd_item_list li{display:inline-block;width:49.3055556%;height:100%}
.prd_item_list li:nth-child(2n){width:50.6944444%}
.prd_item_list li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:44px 6.1111%;background:#f0f0f0;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:14px;font-weight:600;color:#333}
.event_wrap .notice_list{margin-top:4px}
.event_wrap .notice_list li{position:relative;padding-left:7px;font-size:12px;font-weight:300;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#333;border-radius:50%;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:none;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;-webkit-transform:none;transform:none}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:285px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_contents{padding:0;text-align:left}
.layer_popup_wrap .popup_tit{display:block;background:#f0f0f0;font-size:14px;color:#333;text-align:center;line-height:40px}
.layer_popup_wrap .popup_cont{padding-bottom:17px}
.layer_popup_wrap .prd_list{padding:23px 0 17px 30px}
.layer_popup_wrap .prd_list li{position:relative;margin-top:5px;padding-left:7px;font-size:13px;font-weight:300;color:#333;letter-spacing:-1px}
.layer_popup_wrap .prd_list li:first-child{margin:0}
.layer_popup_wrap .prd_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#333;border-radius:50%;content:''}
.layer_popup_wrap .btn_area{margin-top:14px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn_cancel{display:inline-block;width:92px;height:30px;margin:0 5px;border:1px solid #333;background:#333;font-size:12 px;color:#fff;vertical-align:middle;line-height:30px}
#lypop2.layer_popup_wrap .prd_list{padding-left:73px}