@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:0;left:5%;right:5%;height:64.5%}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_payback/img/img_noti.jpg) 50% 0/100%}
.event_wrap .evt_notice{padding:13.8888vw 5.5555vw 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.15);border-bottom:1px solid rgba(255,255,255,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 15.2777vw !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_payback/img/btn_bg.jpg) 50% 50%/100% !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:10vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_payback/img/img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:100px}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
