@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .items_list{position:absolute;top:68%;left:3.5%;right:3.5%;height:28%;display:flex}
.event_wrap .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.0277vw;z-index:20}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0404_amio_new/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;top:35.8333vw;left:0;right:0}
.event_wrap .coupon_desc{position:absolute;top:72.3333vw;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#ffe5e9}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:35.4166vw;left:5.5555vw;right:5.5555vw;height:50vw;background:url(https://i.vimeocdn.com/video/1823446606-8700528f5b9a8f8fba972b01b2084bac767ff92163dbdc14128a6e17cfbd74cc-d?mw=1100&mh=619) 50%/100%;border-radius:1.6666vw;overflow:hidden}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
