@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .items_list{position:absolute;top:68%;left:3.5%;right:3.5%;height:28%;display:flex}
.event_wrap .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:50}
.event_wrap .p_evt_nav{padding-top:140px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0404_amio_new/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-362px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-725px 0}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;top:250px;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#ffe5e9}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:240px;left:50%;transform:translateX(-50%);width:1088px;height:612px;background:url(https://i.vimeocdn.com/video/1823446606-8700528f5b9a8f8fba972b01b2084bac767ff92163dbdc14128a6e17cfbd74cc-d?mw=1100&mh=619) 50%/100%;margin:0 auto;border-radius:12px;overflow:hidden}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
