@charset "utf-8";

.evt_wide_wrap,.event_wrap,.evt_section{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .product_list{position:absolute;top:15%;right:6%;left:6%;bottom:17%;font-size:0;}
.event_wrap .product_list li{display:inline-block;width:50%;height:50%;}
.event_wrap .product_list a{display:block;width:100%;height:100%;}
