@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

.event_wrap .product_list{position:absolute;top:25%;right:8%;left:8%;bottom:26%;font-size:0;}
.event_wrap .product_list li{display:inline-block;width:25%;height:100%;}
.event_wrap .product_list a{display:block;width:100%;height:100%;}
