@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:173px;right:0;left:0}

/* notice */
.event_wrap .p_evt_noti.noti_type2{background-color:#fff}
.event_wrap .p_evt_noti .evt_notice{background-color:#213576}
.event_wrap .p_evt_noti .evt_notice{padding-top:0}
