@charset "utf-8";


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202008/0812_zero_waste/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202008/0812_zero_waste/img/p_tit_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec:before,
.event_wrap .p_evt_sec:after{background:#f5f5f5}
.event_wrap .p_evt_noti:before,
.event_wrap .p_evt_noti:after{background:#aaa}

/* button */
.event_wrap .product_list{position:absolute;top:26%;right:0;left:0;bottom:25%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:25%;height:100%}
.event_wrap .product_list a{display:block;width:100%;height:100%}

.event_wrap .btn_more{position:absolute;left:24%;bottom:9%;width:49%;height:11%}
.event_wrap .coupon_list{position:absolute;top:18%;right:0;left:40%;bottom:20%;font-size:0}
.event_wrap .coupon_list li{display:inline-block;width:50%;height:100%}
.event_wrap .coupon_list .btn_coupon{display:block;width:50%;height:100%;cursor:pointer}

/* notice */
.event_wrap .evt_notice{padding:48px 0;background:#aaa}
.event_wrap .notice_title:before{display:inline-block;width:24px;height:24px;margin:-4px 6px 0 0;background:url(https://www.orga.co.kr/images/promo/202008/0812_zero_waste/img/ico_notice.png) 0 0 no-repeat;vertical-align:middle;content:''}
.event_wrap .notice_title{display:inline-block;height:47px;padding:0 10px;border-top:3px solid #fff;border-bottom:3px solid #fff;font-size:22px;font-weight:400;color:#fff;line-height:44px}
.event_wrap .notice_list{margin-top:25px}
.event_wrap .notice_list li{position:relative;margin-top:14px;padding-left:11px;font-size:20px;font-weight:300;color:#fff;word-break:keep-all;letter-spacing:-1px}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#fff;content:''}
.event_wrap .notice_list .point{font-weight:500}

/* mobile device */
.mevt_wrap .evt_wide_wrap{max-width:none;width:100%}
.mevt_wrap .evt_wide_wrap:before,.mevt_wrap .evt_wide_wrap:after{display:none}
.mevt_wrap{width:100%;max-width:none;margin:0 auto}
.mevt_wrap .evt_section, .mevt_wrap .evt_notice{max-width:none;width:100%}
.mevt_wrap .product_list{top:19%;right:0;left:0;bottom:16%}
.mevt_wrap .product_list li{width:50%;height:50%}
.mevt_wrap .btn_more{left:0;bottom:7%;width:100%;height:7%}

.mevt_wrap .coupon_list{top:26%;right:0;left:0;bottom:7%}
.mevt_wrap .coupon_list li{width:100%;height:50%}
.mevt_wrap .coupon_list .btn_coupon{width:100%;height:50%}

/* mobile notice */
.mevt_wrap .evt_notice{padding:24px 18px}
.mevt_wrap .notice_title{height:23px;padding:0 5px;font-size:11px;border-top-width:2px;border-bottom-width:2px;line-height:23px}
.mevt_wrap .notice_title:before{width:12px;height:12px;margin:-2px 3px 0 0;background-size:100% auto}
.mevt_wrap .notice_list{margin-top:16px}
.mevt_wrap .notice_list li{margin-top:3px;padding-left:3px;font-size:11px;letter-spacing:-.5px;line-height:1.6}
.mevt_wrap .notice_list li:before{top:8px;width:2px;height:2px}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:600px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}

@media all and (max-width:720px){
    .layer_popup_wrap .layer_inner_wrap{width:300px}
    .layer_popup_wrap .layer_popup_header{height:40px;border-top:2px solid #81b824}
    .layer_popup_wrap .layer_popup_title{font-size:13px;line-height:42px}
    .layer_popup_wrap .btn-layerClose{padding:15px}
    .layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
    .layer_popup_contents{padding:0 15px 23px}
    .layer_popup_contents .popup_txt{margin-top:11px;font-size:12px;line-height:1.4}
    .layer_popup_contents .popup_desc{margin-top:11px;font-size:12px;line-height:1.4}
    .layer_popup_contents .btn_area{margin-top:15px}
    .layer_popup_contents .btn_area .btn_confirm{width:75px;height:29px;font-size:12px}
}
