@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#f1f6db}

/* product */
.event_wrap .product_list{margin:0 9.7222vw;padding-bottom:11.1111vw}
.event_wrap .product_list li{margin-bottom:5.5555vw;border-radius:1.1111vw;background:#fff}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{width:100%}
.event_wrap .product_img img{display:block;width:100%;margin:0 !important}
.event_wrap .product_info{display:block;position:relative;min-height:52.7777vw;padding-left:8.3333vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:5vw;font-weight:400;color:#111;line-height:6.2vw;letter-spacing:-1.5px;padding:7.6388vw 0 10vw}
.event_wrap .product_title:after{content:'';position:absolute;top:25vw;left:8.3333vw;width:8.3333vw;height:1.1111vw;background:#72be2d}
.event_wrap .product_desc{display:block;font-size:3.3333vw;font-weight:400;color:#999;line-height:5vw;letter-spacing:-1px}
.event_wrap .product_tag{position:absolute;top:66.6666vw;right:5.5555vw;height:11.25vw;display:flex;gap:5px}
.event_wrap .product_tag .tag_dog{width:11.1111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/item/tag_dog.png) no-repeat 100%/100%}
.event_wrap .product_tag .tag_cat{width:11.1111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/item/tag_cat.png) no-repeat 100%/100%}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
