@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{min-width:1168px}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#f1f6db}

/* product */
.event_wrap .product_list{margin:0 40px;padding-bottom:40px}
.event_wrap .product_list li{margin-bottom:20px;border-radius:8px;background:#fff}
.event_wrap .product_list .inner{position:relative;display:flex}

.event_wrap .product_img{width:580px;height:400px;background:#fff}
.event_wrap .product_img img{display:block;width:100%;margin:0 !important}
.event_wrap .product_info{display:block;position:relative;width:45%;padding-left:40px;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:36px;font-weight:400;color:#111;line-height:46px;letter-spacing:-1.5px;padding:53px 0 78px}
.event_wrap .product_title:after{content:'';position:absolute;top:182px;left:40px;width:60px;height:8px;background:#72be2d}
.event_wrap .product_desc{display:block;font-size:24px;font-weight:400;color:#999;line-height:34px;letter-spacing:-1px}
.event_wrap .product_tag{position:absolute;top:60px;right:40px;height:100px;display:flex;gap:10px}
.event_wrap .product_tag .tag_dog{width:80px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/item/tag_dog.png) no-repeat}
.event_wrap .product_tag .tag_cat{width:80px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/item/tag_cat.png) no-repeat}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
