@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#eee}

/* product  */
.event_wrap .product_banner{width:100%}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .item1 .product_info{position:absolute;top:11.1111vw;left:67.0555vw}
.event_wrap .item2 .product_info{position:absolute;top:8.3333vw;left:5.5555vw}

.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:5.5555vw}
.event_wrap .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#80c342;border-radius:50px}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:1.8vw}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center;}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222;}
.event_wrap .sale_name{font-size:3.33333vw;font-weight:700;color:#222;margin-right: 1.1vw;}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}

.event_wrap .banner_desc{font-size:3.3333vw;color:#999;text-align:center;line-height:4.6vw;word-break:keep-all;padding:3.3333vw 5.5555vw 16.6666vw 5.5555vw}
/* notice */
.event_wrap .p_evt_noti{background:#eee}
.event_wrap .evt_notice{padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
