@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .items_list{position:absolute;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap;top:8%;left:6%;right:6%;height:84%}
.event_wrap .items_list li{width:47.8%;height:48.5%}
.event_wrap .items_list li a{display:block;width:100%;height:100%}
