@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* link */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0 !important}
.event_wrap .btn_lnk1{top:22.8%;left:5%;right:5%;height:5.2%}

/* notice */
.event_wrap .p_evt_noti{background:#ebebeb}
.event_wrap .evt_notice{padding:60px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 모션 */
.event_wrap .motion{position:absolute;top:28.3%;left:76%;width:3.2%;-webkit-animation:slide-top 1.5s 0s ease-in-out infinite both;animation:slide-top 1.5s 0s ease-in-out infinite both}

@-webkit-keyframes slide-top {
  0%, 100% {
    -webkit-transform:translate(0, 5px);
            transform:translate(0, 5px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-top {
  0%, 100% {
    -webkit-transform:translate(0, 5px);
            transform:translate(0, 5px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
