@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0 !important}
.event_wrap .btn_lnk1{top:30.2%;left:3.4%;right:3.4%;height:5.8%;border-radius:20px}

/* notice */
.event_wrap .p_evt_noti{background:#ebebeb}
.event_wrap .evt_notice{padding:120px 0 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:1920px;height:100%}
.event_wrap .evt_mov .evt_lottie{display:block;width:100%;height:100%}

/* 모션 */
.event_wrap .motion{position:absolute;top:36.7%;left:71.5%;-webkit-animation:slide-top 1.5s 0s ease-in-out infinite both;animation:slide-top 1.5s 0s ease-in-out infinite both}
.event_wrap .motion img{margin:0 !important}

@-webkit-keyframes slide-top {
  0%, 100% {
    -webkit-transform:translate(0, 8px);
            transform:translate(0, 8px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-top {
  0%, 100% {
    -webkit-transform:translate(0, 8px);
            transform:translate(0, 8px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
