@charset "utf-8";

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:80%;left:0;right:0;height:20%;display:flex;z-index:60}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#79d7df}
.event_wrap .evt_notice{padding:60px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto !important;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#fff}
.event_wrap .noti2 .notice_title{border-top:2px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg)}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:#fcaac0 !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw !important;height:25vw !important;margin-left:12.5vw !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#6acc0c}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#6acc0c !important;color:#fff !important;line-height:4.66667vw !important}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .txt1{width:56%;top:51.4%;left:22%;z-index:35}
.motion_box .txt2{width:100%;bottom:0;left:0;z-index:32}
.motion_box .txt3{width:24%;top:8%;right:11.5%;z-index:32}
.motion_box .object1{width:72%;top:43.5%;left:14%;z-index:30}
.motion_box .object3{width:16%;top:50.5%;left:11.5%;z-index:31}
.motion_box .object4{width:15%;top:60%;left:75%;z-index:31}
.motion_box .object5{width:27%;top:38%;left:61%;z-index:31}
.motion_box .item1{width:25%;top:-100%;left:27%;z-index:10}
.motion_box .item2{width:25%;top:-100%;left:-3%;z-index:9}
.motion_box .item3{width:56%;top:-4%;left:-10%;z-index:7}
.motion_box .item5{width:50%;top:-12%;left:50%;z-index:5}
.motion_box .item6{width:45%;top:20%;left:68%;z-index:8}
.motion_box .item8{width:27%;top:45%;left:-8%;z-index:5}
.motion_box .curcle{border-radius:500px;background:#fff;z-index:31}
.motion_box .curcle1{width:18.5vw;height:18.5vw;top:72%;left:4%}
.motion_box .curcle2{width:12vw;height:12vw;top:75%;left:20%;-webkit-animation-delay:-2s !important;animation-delay:-2s !important}
.motion_box .curcle3{width:17vw;height:17vw;top:74%;left:28.2%}
.motion_box .curcle4{width:16vw;height:16vw;top:74.5%;left:42.2%}
.motion_box .curcle5{width:11vw;height:11vw;top:74%;left:55%}
.motion_box .curcle6{width:9vw;height:9vw;top:75%;left:63%;-webkit-animation-delay:1s !important;animation-delay:1s !important}
.motion_box .curcle7{width:29vw;height:29vw;top:70%;left:67%}
.motion_box .dimm{width:100%;height:30%;top:77%;left:0;background:#fff;z-index:31}

.motion_box .motion2{animation:curcle-scale 2.8s 0s ease-in-out infinite both}
@keyframes curcle-scale {
  0%, 100% {
    -webkit-transform: scale(0.9) translate(4px, 0);
            transform: scale(0.9) translate(4px, 0);
  }
  50% {
    -webkit-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }
}

.motion_box .motion3{transform-origin:bottom right;animation:swing1 5s 0s ease-in-out infinite both}
@keyframes swing1{
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

.motion_box .motion4{transform-origin:bottom left;animation:swing2 4.5s 1s ease-in-out infinite both}
@keyframes swing2{
  0%, 100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


.motion_box .motion10{animation:wobble 3s 0s ease-in-out infinite, rise 8s 0s linear infinite}

.motion_box .motion20{animation:wobble2 3s 0s ease-in-out infinite, rise2 16s 0s linear infinite}

.motion_box .motion30{animation:wobble2 4s 0s ease-in-out infinite, rise30 6s 0.5s linear forwards}
.motion_box .motion31{animation:wobble2 4s 0s ease-in-out infinite, rise 12s 0.5s linear infinite}

.motion_box .motion50{animation:wobble 4s 0.1s ease-in-out infinite, rise50 10s 1s linear forwards}
.motion_box .motion51{animation:wobble 4s 0.1s ease-in-out infinite, rise2 24s 1s linear infinite}

.motion_box .motion60{animation:wobble3 2s 0s ease-in-out infinite, rise60 5s 1.5s linear forwards}
.motion_box .motion61{animation:wobble3 2s 0s ease-in-out infinite, rise 9s 1.5s linear infinite}

.motion_box .motion80{animation:wobble3 2.5s 0s ease-in-out infinite, rise80 13s 1s linear forwards}
.motion_box .motion81{animation:wobble3 2.5s 0s ease-in-out infinite, rise 21s 1s linear infinite}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(35px) rotate(-3deg);
            transform: translateX(35px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateX(-15px) rotate(8deg);
            transform: translateX(-15px) rotate(8deg);
  }
}
@keyframes wobble2 {
  0%, 100% {
    -webkit-transform: translateX(20px) rotate(-7deg);
            transform: translateX(20px) rotate(-7deg);
  }
  50% {
    -webkit-transform: translateX(-5px) rotate(9deg);
            transform: translateX(-5px) rotate(9deg);
  }
}
@keyframes wobble3 {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-17px) rotate(9deg);
            transform: translateX(-17px) rotate(9deg);
  }
}

@keyframes rise {
  0% {
    top: calc(100% + 43%);
  }
  100% {
    top: -500px;
  }
}
@keyframes rise2 {
  0% {
    top: calc(100% + 40%);
  }
  100% {
    top: -300px;
  }
}

@keyframes rise30 {
  0% {
    top: -4%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise50 {
  0% {
    top: -12%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise60 {
  0% {
    top: 20%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise80 {
  0% {
    top: 45%;
  }
  100% {
    top: -600px;
  }
}
