@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

.event_wrap .p_evt_sec1, .event_wrap .p_evt_nav .evt_section{z-index:50}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#70c007 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202304/0417_family_day_member/img/p_img_noti.jpg) center top}
.event_wrap .evt_notice{min-height:560px;padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#ffb7cc}
.event_wrap .noti2 .evt_notice{min-height:auto}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0 0 50px;padding:12px 20px 33px;border-top:1px solid  rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:480px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#6acc0c}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#6acc0c !important;color:#fff !important}

.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .txt1{top:290px;left:350px;z-index:40}
.motion_box .txt2{top:597px;left:310px;z-index:41}
.motion_box .txt3{top:57px;left:990px;z-index:41}
.motion_box .object1{top:210px;left:334px;z-index:10}
.motion_box .object2{top:340px;left:755px;z-index:11}
.motion_box .object3{top:265px;left:289px;z-index:22}
.motion_box .object4{top:429px;left:712px;z-index:9}
.motion_box .object5{top:165px;left:633px;z-index:24}
.motion_box .item1{top:-60px;left:25px;z-index:1}
.motion_box .item2{top:575px;left:-280px;z-index:3}
.motion_box .item3{top:300px;left:-200px;z-index:2}
.motion_box .item4{top:126px;left:-532px;z-index:1}
.motion_box .item5{top:-94px;left:948px;z-index:2}
.motion_box .item6{top:422px;left:900px;z-index:2}
.motion_box .item7{top:386px;left:1450px;z-index:1}
.motion_box .item8{top:110px;left:1383px}

.motion_box .motion1{animation:rotate-center 40s 0s linear infinite both}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.motion_box .motion2{animation:curcle-scale 2.8s 0s ease-in-out infinite both}
@keyframes curcle-scale {
  0%, 100% {
    -webkit-transform: scale(0.9) translate(5px, 0);
            transform: scale(0.9) translate(5px, 0);
  }
  50% {
    -webkit-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }
}

.motion_box .motion3{transform-origin:bottom right;animation:swing1 5s 0s ease-in-out infinite both}
@keyframes swing1{
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

.motion_box .motion4{transform-origin:bottom left;animation:swing2 4.5s 1s ease-in-out infinite both}
@keyframes swing2{
  0%, 100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.motion_box .motion10{animation:wobble 3s 0s ease-in-out infinite, rise10 7s 0.5s linear forwards}
.motion_box .motion11{animation:wobble 3s 0s ease-in-out infinite, rise 16s 0.5s linear infinite}

.motion_box .motion20{animation:wobble2 2.5s 0s ease-in-out infinite, rise20 2.5s 1.5s linear forwards}
.motion_box .motion21{animation:wobble2 2.5s 0s ease-in-out infinite, rise 6s 1.5s linear infinite}

.motion_box .motion30{animation:wobble2 3s 0s ease-in-out infinite, rise30 6s 2s linear forwards}
.motion_box .motion31{animation:wobble2 3s 0s ease-in-out infinite, rise2 15s 2s linear infinite}

.motion_box .motion40{animation:wobble 2s 0s ease-in-out infinite, rise40 4s 2s linear forwards}
.motion_box .motion41{animation:wobble 2s 0s ease-in-out infinite, rise 10s 2s linear infinite}

.motion_box .motion50{animation:wobble2 3s 0s ease-in-out infinite, rise50 7s 2s linear forwards}
.motion_box .motion51{animation:wobble2 3s 0s ease-in-out infinite, rise 15s 2s linear infinite}

.motion_box .motion60{animation:wobble3 2s 0s ease-in-out infinite, rise60 5s 1.5s linear forwards}
.motion_box .motion61{animation:wobble3 2s 0s ease-in-out infinite, rise2 11s 1.5s linear infinite}

.motion_box .motion70{animation:wobble3 2s 0s ease-in-out infinite, rise70 10s 2s linear forwards}
.motion_box .motion71{animation:wobble3 2s 0s ease-in-out infinite, rise 24s 2s linear infinite}

.motion_box .motion80{animation:wobble 2s 0s ease-in-out infinite, rise80 3s 1.7s linear forwards}
.motion_box .motion81{animation:wobble 2s 0s ease-in-out infinite, rise 6s 1.7s linear infinite}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(35px) rotate(-3deg);
            transform: translateX(35px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateX(-15px) rotate(8deg);
            transform: translateX(-15px) rotate(8deg);
  }
}
@keyframes wobble2 {
  0%, 100% {
    -webkit-transform: translateX(20px) rotate(-7deg);
            transform: translateX(20px) rotate(-7deg);
  }
  50% {
    -webkit-transform: translateX(-5px) rotate(9deg);
            transform: translateX(-5px) rotate(9deg);
  }
}
@keyframes wobble3 {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-17px) rotate(9deg);
            transform: translateX(-17px) rotate(9deg);
  }
}

@keyframes rise {
  0% {
    top: calc(100% + 310px);
  }
  100% {
    top: -700px;
  }
}
@keyframes rise2 {
  0% {
    top: calc(100% + 550px);
  }
  100% {
    top: -700px;
  }
}

@keyframes rise10 {
  0% {
    top: -60px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise20 {
  0% {
    top: 575px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise30 {
  0% {
    top: 300px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise40 {
  0% {
    top: 126px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise50 {
  0% {
    top: -94px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise60 {
  0% {
    top: 422px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise70 {
  0% {
    top: 386px;
  }
  100% {
    top: -700px;
  }
}
@keyframes rise80 {
  0% {
    top: 110px;
  }
  100% {
    top: -700px;
  }
}
