@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_healthy_living_chuseock/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:18%;left:10%;right:10%;height:100%}
.event_wrap .items_list li{width:100%;height:39%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .btn_move{top:79%;left:16%;right:16%;height:11%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:42.2222vw;left:0;right:0}

/* page */
.event_wrap .p_evt_sec4::after{content:'';position:absolute;top:75.9722vw;left:80vw;width:6.9444vw;height:6.3889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_healthy_living_chuseock/img/object.png) 100%/100% no-repeat}

/* notice */
.event_wrap .evt_notice{padding:0 5.5555vw 13.8888vw}
.event_wrap .noti1{background:#fff}
.event_wrap .noti2{background:#00464f}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100vw;height:56.25vw;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
