@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:67px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_healthy_living_chuseock/img/p_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:14%;left:5%;right:5%;height:43%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list li{width:47%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .btn_move{top:77%;left:34%;right:34%;height:11%}

/* coupon */
.event_wrap .copuon_list{position:absolute;top:273px;left:0;right:0}

/* page */
.event_wrap .p_evt_sec4::after{content:'';position:absolute;top:452px;left:50%;width:50px;height:46px;margin-left:168px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_healthy_living_chuseock/img/object.png) no-repeat}

/* notice */
.event_wrap .evt_notice{padding:0 40px 120px}
.event_wrap .noti1{background:#fff4ec}
.event_wrap .noti2{background:#00464f}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:85px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
