@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:70px;right:70px;height:160px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:159px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202306/0605_awards_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-515px 0}

/* notice */
.event_wrap .p_evt_noti{background:#74c244 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202306/0605_awards_member/img/p_img_noti.jpg) center top}
.event_wrap .evt_notice{min-height:540px;padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#74c244}
.event_wrap .noti2 .evt_notice{min-height:auto}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0 0 50px;padding:12px 20px 33px;border-top:1px solid  rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:480px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#6acc0c}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#6acc0c !important;color:#fff !important}

.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box .object_img{position:absolute;top:16px;left:540px;z-index:1}
.motion_box .object_member{position:absolute;top:58px;left:1080px;z-index:10}

.motion_box .object_img.motion1_2{-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:2}
.motion_box .object_img.motion1_3{-webkit-animation:bounce-up 9s ease-in-out 0.7s infinite both;animation:bounce-up 9s ease-in-out 0.7s infinite both;z-index:1}
.motion_box .object_img.motion2_2{-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:1}
.motion_box .object_img.motion2_3{-webkit-animation:bounce-up 9s ease-in-out 3.7s infinite both;animation:bounce-up 9s ease-in-out 3.7s infinite both;z-index:2}
.motion_box .object_img.motion3_2{-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:2}
.motion_box .object_img.motion3_3{-webkit-animation:bounce-up 9s ease-in-out 6.7s infinite both;animation:bounce-up 9s ease-in-out 6.7s infinite both;z-index:1}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@-webkit-keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}

@keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}
