@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:16%;right:16%;height:28%}
.event_wrap .btn_lnk2{top:81%;left:16%;right:16%;height:9%}
.event_wrap .btn_lnk3{top:0;left:0;right:0;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:50%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{position:absolute;top:97.2222vw;left:0;padding-top:33.3333vw}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0502/m_evt_nav_on.png) 0 0/200% no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 100%}

.event_wrap .p_evt_nav li:first-child a.first_on{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0502/m_evt_nav_on.png) 0 0/200% no-repeat}

/* coupon */
.event_wrap .p_evt_sec1{background:#f4f4f4}
.event_wrap .coupon_list li:first-child{width:100%}
.event_wrap .coupon_desc span{color:#999}

/* product */
.event_wrap .p_evt_sec2{background:#87bc24}
.event_wrap .product_list .product_img{border-radius:8px}
.event_wrap .product_list .product_info :is(span,ins){color:#fff !important}
.event_wrap .product_list .product_info del{color:#666}
.event_wrap .product_list .percent span{color:#f8ed1e !important}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .noti2{background:#f1faf5}
.event_wrap .roulette_desc{font-size:3.6111vw;text-align:center;color:#999}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

.event_wrap .evt_mov .controls{position:absolute;top:5.5555vw;right:5.5555vw}
.event_wrap .evt_mov .controls .toggleSound{width:11.1111vw;height:8.3333vw;border:0;padding:0}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:#f1faf5}
.mobile .fb__event .event__roulette__wrap .roulette{width:88.8888vw;height:88.8888vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-3vw;width:10.1388vw;margin-left:-5.1vw}
.mobile .fb__event .roulette__action img{width:22.2222vw;height:22.2222vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding:0}
