@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_move{top:0;left:20%;right:20%;height:36%}

.event_wrap .p_evt_sec1{background:#fff8e1}
.event_wrap .p_evt_sec2{background:#edfac0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:31.9444vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0517/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* product */
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 1.6666vw}
.event_wrap .product_list .percent{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;background:#ff752a;margin:0;display:flex;justify-content:center;align-items:center}
.event_wrap .product_list .percent .num{font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:2.778vw;color:#fff;margin:1vw 0 0 0.2vw}

/* notice */
.event_wrap .evt_notice{padding:11.1111vw 5.5556vw 16.6667vw;background:#fff8e1}

/* template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 20.8333vw !important;background:#fff8e1 !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:100%;height:12.5vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0517/m_img_btn.jpg) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
