@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#fff8e1}
.event_wrap .p_evt_sec2{background:#edfac0}

/* button */
.event_wrap .btn_move{top:0;left:33%;right:33%;height:36%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:118px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0517/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* coupon */
.event_wrap .coupon_type2 .coupon_item_info{border:1px solid #e1e1e1}

/* product */
.event_wrap .product_list{margin-left:40px;gap:0 8px}
.event_wrap .product_list li{width:266px}
.event_wrap .product_list .product_img{height:266px}
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 8px}
.event_wrap .product_list .percent{position:absolute;top:0;left:0;width:60px;height:60px;background:#ff752a;margin:0;display:flex;justify-content:center;align-items:center}
.event_wrap .product_list .percent .num{font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:14px;color:#fff;margin:6px 0 0 1px}

.event_wrap .slide_box_ver3{position:relative;width:1088px;overflow:hidden;-webkit-backface-visibility:hidden;margin:0 auto}
.event_wrap .slide_list3{width:2192px;flex-wrap:nowrap;animation:flow 10s linear infinite} /* 상품 4개 이상일 경우 width값 총 가로값으로 수정 */
@keyframes flow { 
  0% { transform: translateX(0) } 
  100% { transform: translateX(-100%); }
}
.event_wrap .slide_list3:hover{animation-play-state:paused}

/* notice */
.event_wrap .p_evt_noti{background:#fff8e1}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;max-width:1920px;padding:0;background:#fff8e1}
.desktop .fb__event .fb__event-comment__join-btn button{width:390px;height:78px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0517/p_img_btn.jpg) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}
