@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:29.5%;right:29.5%;height:33%}
.event_wrap .btn_lnk2{top:81.2%;left:29.5%;right:29.5%;height:8.5%}
.event_wrap .btn_lnk3{top:0;left:0;right:0;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex;}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{position:absolute;top:700px;left:50%;min-width:auto;padding-top:120px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0502/p_evt_nav_on.png) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-292px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-584px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-875px 0}

.event_wrap .p_evt_nav li:first-child a.first_on{position:absolute;top:0;left:0;width:292px;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0502/p_evt_nav_on.png) 0 0 no-repeat}

/* coupon */
.event_wrap .p_evt_sec1{background:#f4f4f4}
.event_wrap .coupon_desc span{color:#999}

/* product */
.event_wrap .p_evt_sec2{background:#87bc24}
.event_wrap .product_list .product_img{border-radius:8px}
.event_wrap .product_list .product_info :is(span,ins){color:#fff !important}
.event_wrap .product_list .product_info del{color:#666}
.event_wrap .product_list .percent span{color:#f8ed1e !important}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .noti2{background:#f1faf5}
.event_wrap .roulette_desc{text-align:center;color:#999}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

.event_wrap .evt_mov .controls{position:absolute;top:40px;left:50%;transform:translateX(-50%);margin-left:520px}
.event_wrap .evt_mov .controls .toggleSound{width:60px;height:40px;border:0;padding:0}
.event_wrap .evt_mov .controls img{margin:0}
  
/* template */
.desktop .fb__event .event__roulette__wrap{height:700px;overflow:hidden;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary/img/0502/roulette/p_bg_roulette.jpg) center top no-repeat}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:160px;height:160px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:73px;margin-left:-37px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}
