@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}

/* page */
.event_wrap .info_desc span{color:#fff;font-weight:600}
.event_wrap .info_desc span::before{display:none}
.event_wrap .p_evt_sec1{background:#4ba424}
.event_wrap .p_evt_noti{background:#4ba424}
.event_wrap .evt_notice{padding:6.9444vw 5.5555vw 13.8888vw}
