@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* page */
.event_wrap :is(.p_evt_noti, .p_evt_sec1, .p_evt_sec2){position:relative;background:#e0d112;z-index:1}
.event_wrap :is(.p_evt_noti, .p_evt_sec1)::after{content:'';position:absolute;top:0;left:5.5555vw;right:5.5555vw;bottom:0;background:#fff;z-index:-1}
.event_wrap .p_evt_noti::after{border-radius:0 0 3.3333vw 3.3333vw}

.event_wrap .coupon_one .flag{background:#000}
.event_wrap .evt_notice{padding:11.1111vw}

.event_wrap .btn_lnk{display:inline-block;width:66.6666vw;height:11.1111vw;line-height:11.1111vw;background:#000;border-radius:100vw;margin:11.1111vw 16.6666vw 16.6666vw;font-size:3.8888vw;font-weight:600;color:#fff;text-align:center}
