@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:12.5%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#80c342}
.event_wrap .p_evt_noti.noti2{background:#f4f4f4}
.event_wrap .evt_notice{padding:20px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* product */
.event_wrap .p_evt_sec1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0825_chuseok/img/evt_bg1.jpg) 0 0 repeat}
.event_wrap .p_evt_sec2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0825_chuseok/img/evt_bg2.jpg) 0 0 repeat}
.event_wrap .p_evt_sec3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0825_chuseok/img/evt_bg3.jpg) 0 0 repeat}

.event_wrap .product_list{position:relative;margin-top:-20px;padding:0 5.555556%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:46.875%;margin:20px 0 0 5.55556%;background:#fff;vertical-align:top;border-radius:6px;box-sizing:border-box}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:center}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .product_info{overflow:hidden;display:block;width:100%;padding:12px 2% 15px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;max-height:36px;font-size:13px;font-weight:500;color:#333;line-height:18px;word-break:break-all}
.event_wrap .percent{position:absolute;top:0;left:0;width:40px;height:40px;font-size:0;background:#80c342;line-height:40px;border-top-left-radius:6px;border-bottom-right-radius:6px}
.event_wrap .percent .num{display:inline-block;font-size:17px;font-weight:600;color:#fff}
.event_wrap .percent .unit{display:inline-block;font-size:12px;;color:#fff}
.event_wrap .original{display:inline-block;margin:6px 2.77777% 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:12px;color:#999;letter-spacing:-.5px}
.event_wrap .original .won{display:inline-block;font-size:10px;font-weight:600;color:#999}
.event_wrap .sale{display:inline-block;margin-top:6px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:20px;font-weight:600;color:#111;letter-spacing:-.5px;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:13px;font-weight:600;color:#111}

.event_wrap .p_evt_sec3 .product_list:before{position:absolute;top:20px;right:0;width:38.8888888%;padding-top:26.25%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0825_chuseok/img/bg_moon.png) 0 0 no-repeat;background-size:100% auto;content:''}

.event_wrap .slide_wrap{overflow:hidden;position:absolute;top:21.42322%;right:5.55555555%;left:5.55555555%;bottom:27.640449%;;background:#80c342;border-radius:12px;}
.event_wrap .swiper-pagination-bullet{width:9px;height:9px;background:#fff;opacity:.4}
.event_wrap .swiper-pagination-bullet-active{opacity:1}
.event_wrap .swiper-container-horizontal>.swiper-pagination-bullets{bottom:10px}


/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk,
.event_wrap .btn_move{top:16%;left:5.55556%;width:88.8888%;height:52%}
.event_wrap .btn_coupon{top:83.3%;left:22%;width:56%;height:11.4%}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 22.22222%;background:#80c342}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:25%;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0825_chuseok/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
