@charset "utf-8";


/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .product_img img{margin:0}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .slide_wrap img{margin:0}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .evt_section .product_img img{margin:0}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:15%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#80c342}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#80c342;content:''}
.event_wrap .p_evt_noti.noti2,
.event_wrap .p_evt_noti.noti2:after{background:#f4f4f4}
.event_wrap .evt_notice{padding:80px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* product */
.event_wrap .product_list{position:absolute;top:231px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:262px;height:440px;margin-left:40px;background:#fff;vertical-align:top;border-radius:12px}
.event_wrap .product_list li:first-child{margin:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0;text-align:center}

.event_wrap .product_img{display:block;}
.event_wrap .product_info{display:block;height:181px;padding:16px 6px 24px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:70px;max-height:70px;font-size:24px;font-weight:500;color:#333;line-height:34px;letter-spacing:-1.5px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:0;left:0;width:64px;height:64px;font-size:0;background:#80c342;line-height:64px;border-top-left-radius:12px;border-bottom-right-radius:12px}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff}
.event_wrap .percent .unit{display:inline-block;font-size:18px;;color:#fff}
.event_wrap .original{display:inline-block;margin:15px 2px 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.5px;}
.event_wrap .original .won{display:inline-block;font-size:18px;color:#999}
.event_wrap .sale{display:inline-block;margin-top:15px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:36px;font-weight:600;color:#111;letter-spacing:-.5px;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#111}

.event_wrap .slide_wrap{overflow:hidden;position:absolute;top:410px;left:50%;width:720px;height:450px;background:#80c342;border-radius:24px;transform:translate(-50%,0)}
.event_wrap .slide_wrap img{margin:0 auto}
.event_wrap .slide_wrap .swiper-slide{width:100%;height:100%}
.event_wrap .swiper-pagination-bullet{width:12px;height:12px;background:#fff;opacity:.4}
.event_wrap .swiper-pagination-bullet-active{opacity:1}
.event_wrap .swiper-container-horizontal>.swiper-pagination-bullets{bottom:28px}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk,
.event_wrap .btn_move{top:16%;left:0;width:100%;height:52%}
.event_wrap .btn_coupon{top:85%;left:35%;width:30%;height:15%}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{position:relative;max-width:1920px;margin:0 auto;padding:0;background:#80c342;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:1920px;height:100%;background:#80c342;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0825_chuseok/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}


