@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#ffad09}

/* link */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:11.5%;left:10.5%;right:10.5%;height:71%}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:75vw;height:133.3333vw;margin-top:-11.1111vw;left:50%;transform:translateX(-50%);background:url(https://i.vimeocdn.com/video/1657705268-c65cfa71a42fec6279ba6e71a9a6b8d413a3f81bc6b5e306c8b4819ea28bff5c-d?mw=600&mh=10674) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
.event_wrap .video1{margin-bottom:8.33333vw}
.event_wrap .video2{background:url(https://i.vimeocdn.com/video/1657718451-7e3b195c551fe3549c2376c90d3b28fb9066be00fb218bc37a0f64965d3a8056-d?mw=600&mh=1067) 50%}

/* 이미지 슬라이드 */
.item_box{position:relative;width:100%;overflow:hidden}
.item_box .item_list{width:400%;height:63.8888vw;display:flex}
.item_box .item_list .item{width:100%;animation:slide 12s ease-out 0s infinite both}

@keyframes slide {
  0%, 13% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  17%, 30% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  34%, 47% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  51%, 64% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  68%, 81% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  85%, 96% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}