@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:100px;left:40px;right:40px;height:292px}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:584px;width:540px;height:960px;background:url(https://i.vimeocdn.com/video/1657705268-c65cfa71a42fec6279ba6e71a9a6b8d413a3f81bc6b5e306c8b4819ea28bff5c-d?mw=600&mh=1067) 50%;background-size:100% auto;margin:0 auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
.event_wrap .video2{top:460px;left:44px;background:url(https://i.vimeocdn.com/video/1657718451-7e3b195c551fe3549c2376c90d3b28fb9066be00fb218bc37a0f64965d3a8056-d?mw=600&mh=1067) 50%}