﻿@charset "utf-8";

/* ==========================================================================
   default
   ========================================================================== */
.container { margin: 0; padding: 0; }
.content { margin: 0; padding: 0; background: #f6f6f7; }

/* main_section */
.main_section { position: relative; background: #fff; }
.main_section:first-child { margin-top: 0; border-top: 0; }
.main_section_heading { position: relative; padding: 30px 0 15px; font-size: 22px; text-align: center;}
.main_section_heading em { display: block; margin-bottom: 2px; color: #b2b2b4; font-size: 12px; font-style: normal; }
.main_section_heading .main_section_title { display: inline-block; border-bottom: 2px solid #151515; color: #141414; font-size: 22px; line-height: 26px;}
.main_section_heading .main_section_title .ico { vertical-align: top; }
.main_section_heading .main_section_title .user_name { color: #a0ab36; }
.main_section_tab{}
.main_section_tab ul{ display: table; table-layout: fixed; position: relative; width: 100%; }
.main_section_tab ul li{ z-index: 1; display: table-cell; position: relative; text-align: center; border:1px solid #d0d0d0;border-left:0;}
.main_section_tab ul li:first-child{border-left:1px solid #d0d0d0;}
.main_section_tab ul li a{display:block;font-size:15px;font-weight:500;color:#333;line-height:43px;}
.main_section_tab ul li a.active{background-color:#b2d25b;}


.main_section .section_more{position:absolute;top:23px;right:10px;z-index:10;}
.main_section .section_more a{display:block;width:33px;height:33px;line-height:33px;font-family:helvetica;font-size:50%;color:#fff;background-color:#887564;border-radius:50%;text-align:center; -webkit-text-size-adjust:none;}



/* main_pd_card */
.main_pd_card {  }
.main_pd_card_inner { position: relative; display: table; width: 100%; background: #fff; }
.main_pd_card_inner > a { display: table; width: 100%; height: 100%; }
.main_pd_card .pd_thumb { display: table-cell; width: 50%; vertical-align: top; }
.main_pd_card .pd_image { border: 1px solid #ddd; }
.main_pd_card .pd_image img { max-width: 100%; width: 100%; vertical-align: top; }
.main_pd_card .pd_container { display: table-cell; position: relative; padding: 8px 0 0 10px; vertical-align: top;  }
.main_pd_card .pd_title { overflow: hidden; max-height: 40px; line-height: 20px; margin-bottom: 12px; color: #4e5357; font-size: 16px; letter-spacing: -1px; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  }
.main_pd_card .pd_price_info {  }
.main_pd_card .pd_price_original { display: inline-block; margin-right: 2px; color: #666; font-size: 14px; font-weight:bold;text-decoration: line-through; letter-spacing:-1px;}
.main_pd_card .pd_price_original em { position: relative; bottom: 0px; font-style: normal;}
.main_pd_card .pd_price { display: block; color: #8a9c20; font-size: 14px; }
.main_pd_card .pd_price em { display: inline-block; position: relative; bottom: -1px; font-size: 16px; font-weight:bold;font-style: normal; letter-spacing: -1px; }
.main_pd_card .pd_cart { position: absolute; bottom: 5px; right: 5px; }




/* ==========================================================================
   main_promise
   ========================================================================== */
.main_promise { z-index: 2; position: relative; border-bottom: 0; background: none; }
.main_promise img { width: 100%; vertical-align: top; }
.main_promise_button { z-index: 2; display: block; position: relative; margin-bottom: -3.75%; }
.main_promise_panel { z-index: 1; display: none; overflow: hidden; position: relative; }
.main_promise_panel.active {  }
.main_promise_list { position: relative; padding: 5.3125% 15px 15px 15px; background: #cbcec5; }
.main_promise_list ul { border-top: 1px solid #ddd; border-left: 1px solid #ddd; background: #f9f9f9; box-shadow: 0 1px 0 #a7aaa2; }
.main_promise_list ul:after { content: ''; display: table; clear: both; }
.main_promise_list ul li { float: left; width: 25%; border: 1px solid #ddd; border-top: 0; border-left: 0; }
.main_promise_list ul li a { display: block; padding-bottom: 10px; border-bottom: 3px solid #f3f3f3; color: #4e5359; font-size: 11px; letter-spacing: -1px; text-align: center; }
.main_promise_list ul li a span { display: block; white-space: nowrap; }
.main_promise_list .ico_promise { width: 71px; height: 42px; background-size: 71px 42px; }
.main_promise_list .ico_promise01 { background-image: url('../img/ico_promise01.png'); }
.main_promise_list .ico_promise02 { background-image: url('../img/ico_promise02.png'); }
.main_promise_list .ico_promise03 { background-image: url('../img/ico_promise03.png'); }
.main_promise_list .ico_promise04 { background-image: url('../img/ico_promise04.png'); }
.main_promise_list .ico_promise05 { background-image: url('../img/ico_promise05.png'); }
.main_promise_list .ico_promise06 { background-image: url('../img/ico_promise06.png'); }
.main_promise_list .ico_promise07 { background-image: url('../img/ico_promise07.png'); }
.main_promise_list .ico_promise08 { background-image: url('../img/ico_promise08.png'); }



/* ==========================================================================
   main_visual
   ========================================================================== */
.main_visual { margin-top: 0; }
.main_visual_slide { min-height: 248px; }
.main_visual_slide .swiper-slide { min-height: 248px; }
.main_visual_slide .swiper-slide a { display: block; }
.main_visual_slide .swiper-slide a img { width: 100%; vertical-align: top; }



/* ==========================================================================
   main_quick
   ========================================================================== */
.main_quick { margin-top: -1px; }
.main_quick_list { /*padding: 20px 10px;*/ background: rgb(234,231,189); background: -webkit-linear-gradient(top,  rgba(234,231,189,1) 0%,rgba(219,217,192,1) 100%); background: linear-gradient(to bottom,  rgba(234,231,189,1) 0%,rgba(219,217,192,1) 100%); }
.main_quick_list ul { /*border-top: 1px solid #ddd; border-left: 1px solid #ddd;*/ background: #fff; }
.main_quick_list ul:after { content: ''; display: table; clear: both; }
.main_quick_list ul li { float: left; width: 25%; border: 1px solid #ddd; border-top: 0; border-left: 0; }
.main_quick_list ul li a { display: block; padding-bottom: 10px; /*border-bottom: 3px solid #f4f4f4; letter-spacing: -1px; */ color: #4e5359; font-size: 13px; text-align: center; }
.main_quick_list ul li a span { display: block; white-space: nowrap; }
.main_quick_list .ico_quick { width: 67px; height: 78px; background-size: 67px 68px; margin-top: 10px; }
.main_quick_list .ico_quick01 { background-image: url('../img/ico_quick01_20170710.png'); }
.main_quick_list .ico_quick02 { background-image: url('../img/ico_quick02.png'); }
.main_quick_list .ico_quick03 { background-image: url('../img/ico_quick03_20170710.png'); }
.main_quick_list .ico_quick04 { background-image: url('../img/ico_quick04_20170710.png'); }
.main_quick_list .ico_quick05 { background-image: url('../img/ico_quick05_20170710.png'); }
.main_quick_list .ico_quick06 { background-image: url('../img/ico_quick06_20170710.png'); }
.main_quick_list .ico_quick07 { background-image: url('../img/ico_quick07.png'); }
.main_quick_list .ico_quick08 { background-image: url('../img/ico_quick08_20170710.png'); }
.main_quick_list .ico_quick09 { background-image: url('../img/ico_quick09_20170710.png'); }
.main_quick_list .ico_quick10 { background-image: url('../img/ico_quick10_20170710.png'); }
/* .main_quick_list .ico_quick11 { background-image: url('../img/ico_quick08_20170726.png'); }*/
.main_quick_list .ico_quick12 { background-image: url('../img/ico_quick12.png'); }

.main_quick_list .ico_Kiotchen01 { background-image: url('../img/ico_Kiotchen01.png'); }
.main_quick_list .ico_Kiotchen02 { background-image: url('../img/ico_Kiotchen02.png'); }
.main_quick_list .ico_Kiotchen03 { background-image: url('../img/ico_Kiotchen03.png'); }
.main_quick_list .ico_Kiotchen04 { background-image: url('../img/ico_Kiotchen04.png'); }
.main_quick_list .ico_Kiotchen05 { background-image: url('../img/ico_Kiotchen05.png'); }
.main_quick_list .ico_Kiotchen06 { background-image: url('../img/ico_Kiotchen06.png'); }
.main_quick_list .ico_Kiotchen07 { background-image: url('../img/ico_Kiotchen07.png'); }
.main_quick_list .ico_Kiotchen08 { background-image: url('../img/ico_Kiotchen08.png'); }


/* ==========================================================================
   main_trend
   ========================================================================== */
.main_trend {  }
.main_trend .main_section_heading em { color: #999; }

.main_trend_slide {  }
.main_trend_slide .swiper-container { padding-bottom: 45px;  }
.main_trend_slide .pdcard_list{padding:0 10px;}
.main_trend_slide .swiper-wrapper {}
.main_trend_slide .swiper-slide { spointer-events: auto; }
.main_trend_slide .orga_swiper_pagination{width:100%;bottom:22px !important;}


/* ==========================================================================
   main_today
   ========================================================================== */
.main_today { position: relative; padding: 0 10px 10px 10px; background:url(../img/bg_main_today.png) repeat 0 0;background-size:15px 14px }

.main_today .section_more a{background-color:#bfc7b0;}
.main_today .main_section_heading { z-index: 2; }
.main_today .main_section_heading em { color: #7b8669; }
.main_today_content { z-index: 2; position: relative; }
.main_today_content .main_pd_card { border: 1px solid #ddd; }
.main_today_content .main_pd_card .pd_thumb {position:relative; width: 50%; }
.main_today_content .main_pd_card .pd_thumb .txt_sold_out{display:none;}
.main_today_content .main_pd_card.sold_out .pd_thumb{}
.main_today_content .main_pd_card.sold_out .pd_thumb .txt_sold_out{display:block;position:absolute;top:50%;left:50%;width:50px;height:50px;padding:9px 0;border:1px solid rgba(255,255,255,0.5);transform:translate(-50%,-50%);font-family:'Adobe Gothic Std';font-size:15px;color:#fff;text-align:center;line-height:16px;z-index:10;}
.main_today_content .main_pd_card.sold_out .pd_thumb:after{display:block;content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);}
.main_today_content .main_pd_card .pd_image { border: 0; }
.main_today_content .main_pd_card .pd_container { padding-right: 8px; border-left: 1px solid #ddd; vertical-align: middle; }
.main_today_content .main_pd_card .pd_container:after,
.main_today_content .main_pd_card .pd_container:before { content: ''; position: absolute; top: 50%; right: 100%; width: 0; height: 0; border: solid transparent; pointer-events: none; }
.main_today_content .main_pd_card .pd_container:after { margin-top: -9px; border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 9px; }
.main_today_content .main_pd_card .pd_container:before { margin-top: -10px; border-color: rgba(221, 221, 221, 0); border-right-color: #ddd; border-width: 10px; }
.main_today_content .main_pd_card .pd_title { max-height: 40px; line-height: 20px; margin-bottom: 5px; font-size: 14px; text-align: center; color:#333;line-height:18px;}
.main_today_content .main_pd_card .pd_price_info { text-align: center; }
.main_today_content .main_pd_card .pd_price { display: inline-block; }
.main_today_content .main_pd_card .pd_price em {}
.pb_countdown { margin-top: 5px; text-align: center; }
.pb_countdown_title { display: inline-block; position: relative; height: 20px; line-height: 20px; margin-bottom: 5px; padding: 0 10px; border-radius: 5px; background: #b5bf3d; color: #fff; font-weight:bold;font-size: 12px; letter-spacing: -1px; }
.pb_countdown_title:after { content: ''; display: inline-block; position: absolute; top: 100%; left: 50%; width: 0; height: 0; margin-left: -3px; border-style: solid; border-width: 3px 3px 0 3px; border-color: #b5bf3d transparent transparent transparent; }
.pb_countdown_area {  }
.pb_countdown_area .count_digit { display: inline-block; overflow: hidden; width: 17px; height: 26px; line-height: 29px; margin: 0 0px; border-radius: 3px; background: #443f3a; color: #fcf1d3;font-weight:bold; font-size: 18px; text-align: center; letter-spacing: -1px;
    text-shadow: inset 1px 0 0 rgba('0, 0, 0, 0.25');
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(bottom, #585450 50%, #443f3a 50%);
    background-image: -webkit-linear-gradient(bottom, #585450 50%, #443f3a 50%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #585450), color-stop(0.5, #443f3a));
}
.pb_countdown_area .count_digit.count_txt{font-size:15px;}
.pb_countdown_area .count_num{ display: inline-block; vertical-align: middle; }

/* ==========================================================================
   main_recipe
   ========================================================================== */
.main_recipe { position: relative; padding: 0 10px 10px 10px; background:url(../img/bg_main_recipe.png) repeat 0 0;background-size:15px 14px }

.main_recipe .section_more a{background-color:#b5b290;}
.main_recipe .main_section_heading { z-index: 2; }
.main_recipe .main_section_heading em { color: #7b8669; }
.main_recipe_content { z-index: 2; position: relative; }
.main_recipe_content .recipe_box{margin-top:10px;}
.main_recipe_content .recipe_box:first-child{margin-top:0;}
.main_recipe_content .recipe_box a{display:block;}
.main_recipe_content .recipe_box img{display:block;width:100%;}

/* ==========================================================================
   main_regular
   ========================================================================== */
.main_regular { position: relative; padding: 0 10px 10px 10px; background:url(../img/bg_main_regular.png) repeat 0 0;background-size:15px 14px }

.main_regular .section_more a{background-color:#c3ac9e;}

.main_regular .main_section_heading { z-index: 2; }
.main_regular .main_section_heading em { color: #7b8669; }
.main_regular_content { z-index: 2; position: relative; }
.main_regular_content .regular_box{margin-top:10px;}
.main_regular_content .regular_box:first-child{margin-top:0;}
.main_regular_content .regular_box a{display:block;}
.main_regular_content .regular_box img{display:block;width:100%;}

/* ==========================================================================
   main_prd_tab
   ========================================================================== */
.main_prd_tab { position: relative; padding: 30px 10px 10px 10px; background:#f4f5f7}

.main_prd_tab .main_section_heading { z-index: 2; }
.main_prd_tab .main_section_heading em { color: #7b8669; }
.main_prd_tab_content { z-index: 2; position: relative; padding:15px 0 0 0;}
.main_prd_tab_content .pdcard_list{padding:0;}
.main_prd_tab_content .pdcard_list + .pdcard_list{margin-top:10px;}
.main_prd_tab_content .pdcard_list ul{margin:0;}
.main_prd_tab_content .pdcard_list ul li{width:100%;padding:0;margin-top:10px;}
.main_prd_tab_content .pdcard_list ul li:first-child{margin-top:0;}


/* ==========================================================================
   main_app_download
   ========================================================================== */
.main_app_download { position: relative; height: 76px; margin-top: 20px; padding: 0 10px; background: url('../img/bg_appdown.png') repeat 0 0; }
.main_app_download:after { content: ''; display: inline-block; width: 0; height: 100%; margin-left: -0.312em; vertical-align: middle; }
.main_app_download .appdown_heading { display: inline-block; vertical-align: middle; }
.main_app_download .appdown_title { display: inline-block; padding-left: 4px; color: #fff; font-size: 14px; letter-spacing: -1px; vertical-align: middle; }
.main_app_download .appdown_title strong { color: #a0c334; }
.main_app_download .appdown_button { display: inline-block; overflow: hidden; position: absolute; top: 22px; right: 15px; vertical-align: middle; }
.main_app_download .appdown_button a { display: inline-block; float: left; width: 40px; height: 33px; font-size: 0; line-height: 0; }
.main_app_download .appdown_button .appdown_button_and { background: url('../img/ico_appdown_and.png') no-repeat 0 0; background-size: 40px 33px; }
.main_app_download .appdown_button .appdown_button_ios { background: url('../img/ico_appdown_ios.png') no-repeat 0 0; background-size: 40px 33px; }

.pop_today{position:absolute;padding-bottom:34px;/*background-color:#fff;border:1px solid #25211e;*/top:30%;left:50%;z-index:100}
.pop_today .pop_today_content{width:100%;height:100%;}
.pop_today .pop_today_content img{display:block;width:100%;height:100%;}

.pop_today .pop_today_footer{/*position:absolute;*/bottom:0;left:0;width:100%;/*overflow:hidden;*/padding:0 10px;/*border-top:1px solid #25211e;background-color:#433b31;;*/line-height:32px;}
.pop_today .pop_today_footer label{}
.pop_today .pop_today_footer .input_check i{top:5px;}
.pop_today .pop_today_footer .input_check span{font-size: 11px;color:#fff;padding-top: 0;}
.pop_today .pop_today_footer .btn_today_close{position:absolute;/*top:70%;*/right:10px;padding-right:26px;font-size:12px;color:#fff;}
.pop_today .pop_today_footer .btn_today_close:after{display:block;content:'';position:absolute;top:50%;right:0;width:25px;height:25px;/*margin-top:-1%;*/background:url(../img/pop_close.png) no-repeat 0 0;}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}