@charset "utf-8";

.color_dark { color: #666; }
.color_green { color: #8b9a3a; }
.color_gray { color: #999; }

.srch{padding-bottom:30px;}


.srch .srch_keyword{position:relative;}
.srch .srch_keyword dl{overflow:hidden;position:relative;padding:10px 50px 10px 15px;border-bottom:1px solid #dfdfdf;background-color:#fff;}
.srch .srch_keyword dt{position:absolute;top:12px;left:15px;padding:0 7px;background-color:#9fb23a;border-radius:2px;font-size:12px;font-weight:bold;color:#fff;line-height:18px;}
.srch .srch_keyword dd{}
.srch .srch_keyword dd ul{overflow:hidden;height:20px;}
.srch .srch_keyword.active dd ul{height:auto;}
.srch .srch_keyword dd ul li{float:left;position:relative;margin-right:5px;padding-right:5px;line-height:20px;}
.srch .srch_keyword dd ul li:first-child{margin-left:50px;}
.srch .srch_keyword dd ul li:last-child{margin-right:0;padding-right:0;}
.srch .srch_keyword dd ul li:after{display:block;content:'';position:absolute;top:3px;right:0;width:1px;height:15px;background-color:#e2e2e2;}
.srch .srch_keyword dd ul li:last-child:after{display:none;}
.srch .srch_keyword dd ul li a{font-size:14px;color:#666;}
.srch .srch_keyword .btn_list_view{position:absolute;top:0;bottom:0;right:0;width:55px;}
.srch .srch_keyword .btn_list_view:after{display:block;content:'';position:absolute;top:15px;left:50%;margin:0 0 0 -2px;border-style:solid;border-width:8px 4px 0 4px;border-color:#666 transparent transparent transparent;}
.srch .srch_keyword.active .btn_list_view:after{border-width:0 4px 8px 4px;border-color: transparent transparent #666 transparent;}




.srch .tab_default{padding:10px;}
.srch .board_list .empty_data{font-size:12px;color:#999;}
.srch .re_orga_best{margin-top:15px;padding-top:15px;border-top:1px solid #dfdfdf;background-color:#fff;}
.srch .re_orga_best dt{background-color:#fff;font-size:14px;color:#333;text-align:center}
.srch .re_orga_best dd{}
.srch .re_orga_best .pdcard_list{}
.srch .panel_default .input_select{}
.srch .panel_default .select_content{display:none;overflow: hidden;overflow-y: auto;position:absolute;top:33px;left:0;width:100%;max-height: 180px;background-color:#fff;border:1px solid #ddd;border-top:0;z-index:100;-webkit-overflow-scrolling: touch; }
.srch .panel_default .select_content.active{display:block;}
.srch .panel_default .select_content dl{padding:15px;border-top:1px solid #ddd;}
.srch .panel_default .select_content dt{font-size:12px;font-weight:bold;color:#333;}
.srch .panel_default .select_content dt span{color:#872900;}
.srch .panel_default .select_content dd{position:relative;margin-top:5px;padding-left:10px;font-size:12px;color:#666;}
.srch .panel_default .select_content dd:after{display:block;content:'';position:absolute;top:4px;left:0;width:7px;height:7px;background:url(../img/ico_arrow_l.png) no-repeat 0 0;background-size:7px 7px}



.search_wrap{position:absolute;top:0;left:0;width:100%;min-height:100%;padding:56px 0 0 0;background-color:#f5f6f8;}
.search_wrap .total_search{position:fixed;top:0;left:0;width:100%;padding:12px 15px 12px 40px;background-color:#453c33;-webkit-transform: translateZ(0); transform: translateZ(0);box-shadow: inset 0 0 5px #000}
.search_wrap .total_search .input_total_search .btn_total_search:after{display:none;}
.search_wrap .total_search .input_total_search .input_cell{position:relative;}
.search_wrap .total_search .input_total_search .input_cell .btn_srch_del{overflow:hidden;position:absolute;top:50%;right:12px;width:12px;height:12px;margin-top:-6px;background:url(../img/srch_delete.png) no-repeat;background-size:12px 12px}
.search_wrap .total_search .pageback{background:url(../img/ico_pageback2.png) no-repeat 50% 50%;background-size:8px 16px;}

.search_wrap .search_barcode{padding:5px 15px;}
.search_wrap .search_barcode .btn{height:45px;border-radius: 2px;line-height:45px;font-size:14px;}

.search_wrap .search_content{display:none;overflow:hidden;background-color:#fff;}
.search_wrap .search_content.active{display:block;}
.search_wrap .search_content .list_keyword{float:left;width:50%;}
.search_wrap .search_content .list_keyword dt{border:1px solid #dedbc1;background-color:#ebe8ce;font-size:14px;font-weight:bold;color:#333;line-height:38px;text-align:center}
.search_wrap .search_content .list_keyword:last-child dt{border-left:0;}
.search_wrap .search_content .list_keyword dd{}
.search_wrap .search_content .list_keyword dd ul{}
.search_wrap .search_content .list_keyword dd ul li{position:relative;border:1px solid #f3f3f3;border-width:0 1px 1px 0;}
.search_wrap .search_content .list_keyword:last-child dd ul li{border-right:0;}
.search_wrap .search_content .list_keyword dd ul li a{display:block;padding:0 20px;font-size:12px;font-weight:bold;color:#666;line-height:38px;}
.search_wrap .search_content .list_keyword span{display:inline-block;overflow:hidden;width:20px;height:10px;margin-right:10px;border-right:1px solid #e2e2e2;background:url(../img/srch_rank_num.png) no-repeat;background-size:15px 150px;text-indent:-999em;vertical-align:middle;}
.search_wrap .search_content .list_keyword dd ul li.no_keyword{padding:40px 0;font-size:12px;font-weight:bold;color:#666;text-align:center}

.search_wrap .search_content .list_keyword .rank_num1{background-position:0 0;}
.search_wrap .search_content .list_keyword .rank_num2{background-position:0 -15px;}
.search_wrap .search_content .list_keyword .rank_num3{background-position:0 -30px;}
.search_wrap .search_content .list_keyword .rank_num4{background-position:0 -45px;}
.search_wrap .search_content .list_keyword .rank_num5{background-position:0 -60px;}
.search_wrap .search_content .list_keyword .rank_num6{background-position:0 -75px;}
.search_wrap .search_content .list_keyword .rank_num7{background-position:0 -90px;}
.search_wrap .search_content .list_keyword .rank_num8{background-position:0 -105px;}
.search_wrap .search_content .list_keyword .rank_num9{background-position:0 -120px;}
.search_wrap .search_content .list_keyword .rank_num10{background-position:0 -135px;}

.search_wrap .search_content .list_keyword .btn_keyword_del{overflow:hidden;position:absolute;top:50%;right:20px;width:10px;height:10px;padding:0;margin-top:-5px;background:url(../img/ico_file_delete.png) no-repeat 0 0;background-size:10px 10px;line-height:normal;text-indent:-99em}


.search_wrap .search_content .list_recommend{}
.search_wrap .search_content .list_recommend:last-child{border-bottom:1px solid #b2b2b1;}
.search_wrap .search_content .list_recommend dt{border:1px solid #deccb6;border-top:1px solid #fff;padding-left:20px;background-color:#ebe8ce;font-size:14px;font-weight:bold;color:#333;line-height:38px}
.search_wrap .search_content .list_recommend.re_category dt{border:1px solid #deccb6;border-top:1px solid #9f946c;background-color:#dbd1ac;}
.search_wrap .search_content .list_recommend.re_planning dt{border:1px solid #ceb9a0;border-top:1px solid #b7a085;background-color:#deccb6;}
.search_wrap .search_content .list_recommend dd{}
.search_wrap .search_content .list_recommend dd ul{}
.search_wrap .search_content .list_recommend dd ul li{}
.search_wrap .search_content .list_recommend dd ul li.no_srch{display:block;padding:0 20px;border-top:1px solid #e9e5e0;font-size:12px;font-weight:bold;color:#666;line-height:38px;}
.search_wrap .search_content .list_recommend dd ul li a{display:block;padding:0 20px;border-top:1px solid #e9e5e0;font-size:12px;font-weight:bold;color:#666;line-height:38px;}
.search_wrap .search_content .list_recommend dd ul li a span{color:#872900;}


#login{}
#login .pop_content{padding:55px 30px 0;}
#login .login_area{}
#login .login_area .login_visual{}
#login .login_area .login_visual img{display:block;width:98px;margin:0 auto;}
#login .login_area .login_form_box{margin-top:30px;}
#login .login_area .login_input .form_group{margin-bottom:10px;}
#login .login_area .login_input .form_group:last-child{margin-bottom:0;}
#login .login_area .login_chk{margin-top:10px;text-align:center}
#login .login_area .login_chk .input_check{margin-left:40px;line-height:20px;}
#login .login_area .login_chk .input_check:first-child{margin-left:0;}
#login .login_area .login_form_box .btn_wrap{margin-top:20px;}
#login .login_area .login_form_box .btn_wrap .btn{border-radius:3px}
#login .login_area .login_info{overflow:hidden;margin-top:30px;font-size:0;}
#login .login_area .login_info .btn{background-color:#e2e2e2;border-color:#e2e2e2;border-radius:3px;font-size:13px;color:#656565;}
#login .login_area .login_info .btn_id_find{float:left;width:49%;}
#login .login_area .login_info .btn_pw_find{float:right;width:49%;}
#login .login_area .login_info .btn_join{float:left;margin-top:10px;}

/* 20200324 전체검색 하단 - 택배상품 보기 */
.moreDelivery_prd{border:3px solid #dbdbdb;text-align:center;padding:10px;margin:30px 15px 0 15px;}
.moreDelivery_prd .txt{color:#333300;font-size:14px;line-height:150%;padding-bottom:5px;}
.moreDelivery_prd .txt strong{font-weight:500;}
.moreDelivery_prd .txt span.count{color:#ff0000}
.moreDelivery_prd .btn_more{display:block;width:140px;height:38px;line-height:38px;color:#fff;background:#ac1b00;font-size:16px;margin:0 auto;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}