@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .items_list{position:absolute;top:8%;left:5%;right:5%;height:52%}
.event_wrap .items_list li{width:100%;height:58%}
.event_wrap .items_list li a{display:block;width:100%;height:100%}
