@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* button */
.event_wrap .items_list{position:absolute;display:flex;justify-content:space-between;flex-wrap:wrap;top:8.5%;left:0;right:0;height:88.5%}
.event_wrap .items_list li{width:49%}
.event_wrap .items_list li a{display:block;width:100%;height:100%}
