@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}
