@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* page */
.event_wrap .p_evt_sec1 .evt_section{background-color:#f5f5f5}
.event_wrap .p_evt_sec1 .info_desc{padding-bottom:55px}

/* notice */
.event_wrap .evt_notice{padding-top:80px;background-color:#f5f5f5}
