@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 상품리스트 */
.event_wrap .product_item{position:absolute;top:93.0556vw;left:0;right:0}
.event_wrap .product_item.type_col1 .item_thumbnail{height:auto}
.event_wrap .product_item.type_col1 .item_thumbnail img{height:auto}

/* page */
.event_wrap .info_desc span{color:#4c7a20}
.event_wrap .p_evt_sec2{background:#80c342;padding-bottom:11.1111vw}
.event_wrap .p_evt_noti{background:#f5f5f5}
