@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* 상품리스트 */
.event_wrap .product_item{position:absolute;top:362px;left:0;right:0;gap:20px;padding-bottom:100px}
.event_wrap .product_item li{width:590px}
.event_wrap .product_item .item_thumbnail{height:auto}
.event_wrap .product_item .item_thumbnail img{width:100%;height:auto}
.event_wrap .type_slide .item_info{margin-bottom:0}

/* page */
.event_wrap .info_desc span{color:#4c7a20}
.event_wrap .p_evt_sec2{background:#80c342;padding-bottom:80px}
.event_wrap .p_evt_noti{background:#f5f5f5}
