@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#fdfcd2;padding-bottom:40px}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;height:100%}
.event_wrap .btn_lnk2{top:11.1%;left:28.5%;right:28.5%;height:5.3%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;min-height:76px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-.5px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

/* notice */
.event_wrap .p_evt_noti{background:#fdfcd2}
.event_wrap .evt_notice{padding:40px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#fbca1d}
.event_wrap .noti2 .evt_notice{padding-bottom:75px}
