@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* product */
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#eaff00}

.event_wrap .product_area{position:absolute;top:68.8888vw;left:16.6667vw;display:flex;}
.event_wrap .product_area a{display:block;font-weight:600;color:#fff;letter-spacing:-.5px}
.event_wrap .product_area .name{font-size:3.8889vw}
.event_wrap .product_area .price_area{display:flex;align-items:center;font-size:5vw;margin-top:1vw}
.event_wrap .product_area .discount{position:absolute;width:13.3333vw;height:13.3333vw;background:#f65333;border-radius:100px;color:#fff;font-size:5.5556vw;font-weight:600;display:flex;align-items:center;justify-content:center}
.event_wrap .product_area .discount small{font-size:3.0556vw}
.event_wrap .product_area .more{display:inline-block;padding:1vw 4.2vw;margin-top:1.5vw;font-size:3.3333vw;color:#fff;border:0.2778vw solid #fff}

.event_wrap .product_area li:nth-child(1){width:37.9167vw}
.event_wrap .product_area li:nth-child(1) .discount{top:-53vw;left:-12vw}
.event_wrap .product_area li:nth-child(2) .discount{top:-53vw;left:62vw}

.event_wrap .product_area a.go{position:absolute;width:6.9444vw;height:6.9444vw}
.event_wrap .product_area li:nth-child(1) a.go{top:-51vw;left:1vw}
.event_wrap .product_area li:nth-child(2) a.go{top:-39.5vw;left:65vw}

.event_wrap .p_evt_sec1 .info_desc{padding:0 0 13.0555vw;margin-top:-3vw}
.event_wrap .p_evt_sec1 .info_desc span{font-size:3.3333vw;color:#004d1b;font-weight:800}
.event_wrap .p_evt_sec1 .info_desc span:before{content:'*';margin-right:0}

/* page */
.event_wrap .p_evt_sec1{background:#009333}
.event_wrap .noti1,.event_wrap .noti3{background:#009333}
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:31.9444vw;left:0;right:0}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;min-height:152.9167vw;padding:0 !important;background:#009333 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/m_survey_bg.jpg) 50% 0/100% no-repeat}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 6.9444vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:48%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:5.2vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{width:100%;line-height:1.6 !important;color:#fff !important;padding:42.2vw 0 5vw;margin:0;text-align:center;word-break:keep-all !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{flex-direction:column-reverse;align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{width:4.4444vw !important;height:4.4444vw !important;margin-top:1vw;border:0.2778vw solid #fff !important;background-color:#fff !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:0.2778vw solid #fff !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#111;width:2.5vw;height:2.5vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:61.1111vw !important;height:12.2222vw !important;font-size:0 !important;line-height:0 !important;margin:13vw auto 0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/m_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
