@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:relative;z-index:2;display:flex}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;padding:14px 0;font-size:22px;line-height:1;font-weight:800;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#eaff00}

.event_wrap .p_evt_nav .evt_section{position:absolute;z-index:0}

.event_wrap .p_evt_nav.is_fixed{position:relative;padding-top:50px}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5;top:0;left:0;right:0}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;z-index:1;top:0;left:-360px;right:-360px;height:100%;background-color:#80c342}

.event_wrap .evt_tab_wrap{position:absolute;top:147px;left:764px;right:32px;height:130px;display:flex}
.event_wrap .evt_tab_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:153px;left:0;right:0}
.event_wrap .p_evt_sec3 .coupon_list{position:absolute;top:236px;left:0;right:0}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:45px}

/* product */
.event_wrap .product_item{position:absolute;top:111px;left:0;right:0}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#eaff00}

.event_wrap .product_area{position:absolute;top:439px;left:0;display:flex;flex-direction:column-reverse}
.event_wrap .product_area a{display:block;font-weight:600;color:#333;letter-spacing:-.5px}
.event_wrap .product_area .name{font-size:20px}
.event_wrap .product_area .price_area{display:flex;align-items:center;font-size:24px;margin-top:2px}
.event_wrap .product_area .discount{position:absolute;width:60px;height:60px;background:#f65333;border-radius:100px;color:#fff;font-size:26px;font-weight:600;display:flex;align-items:center;justify-content:center}
.event_wrap .product_area .discount small{font-size:14px}
.event_wrap .product_area .more{display:inline-block;padding:4px 15px;margin-top:7px;font-size:18px;color:#222;border:2px solid #000}
.event_wrap .product_area li:nth-child(1){margin-top:30px}
.event_wrap .product_area li:nth-child(1) .discount{top:4px;left:397px}
.event_wrap .product_area li:nth-child(2) .discount{top:5px;left:642px}

.event_wrap .product_area a.go{position:absolute;width:40px;height:40px}
.event_wrap .product_area li:nth-child(1) a.go{top:14px;left:356px}
.event_wrap .product_area li:nth-child(2) a.go{top:64px;left:650px}

.event_wrap .p_evt_sec1 .info_desc{position:absolute;top:522px;left:0;right:0}
.event_wrap .p_evt_sec1 .info_desc span{font-size:20px;color:#004d1b;font-weight:800}
.event_wrap .p_evt_sec1 .info_desc span:before{content:'*';margin-right:0}

/* notice */
.event_wrap .evt_notice{padding-bottom:100px}
.event_wrap .noti1{background:#009333 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .noti2{background:#fff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/p_img_noti2.jpg) 50% 0 no-repeat}
.event_wrap .noti3{background:#009333}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;min-width:1200px;width:auto !important;min-height:559px;padding:0 !important;background:#009333 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/p_survey_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__survey .survey form{width:1200px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-evenly;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{margin-top:0 !important;width:24%;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:100%;padding-top:296px !important;font-size:22px !important;font-weight:600;line-height:1.5 !important;text-align:center;color:#fff !important;letter-spacing:-1px}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:0 10% 70px !important;box-sizing:border-box}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:auto !important;bottom:0;left:50% !important;transform:translatex(-50%);width:32px !important;height:32px !important;border:2px solid #fff !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:auto !important;bottom:8px;left:50% !important;transform:translatex(-50%);width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#111 !important}

.desktop .fb__event .event__survey .survey__apply{width:400px !important;height:80px !important;padding:0;margin-top:40px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1021_pick/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
