@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:0;left:3.5%;right:3.5%;height:210px}
.event_wrap .btn_lnk2{bottom:0;left:3.5%;right:3.5%;height:350px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:139px;right:126px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:75px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(1){width:284px}
.event_wrap .p_evt_nav li:nth-child(2){width:338px}
.event_wrap .p_evt_nav li:nth-child(3){width:283px}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-284px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-622px 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;top:278px;left:0;right:0}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:nowrap}
.event_wrap .coupon_list li{margin:0 10px}

/* 쿠폰 */
.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;border:1px solid #e1e1e1;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{margin-top:30px;text-align:center}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#fff}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* product */
.event_wrap .product_list{position:absolute;top:304px;left:40px;right:40px;display:flex;flex-wrap:wrap;gap:0 8px}
.event_wrap .product_list li{width:266px;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:266px;background:#fff;overflow:hidden}
.event_wrap .product_list .product_img img{position:relative;height:100%;margin:0 !important}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:60px}
.event_wrap .product_brand{font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:10px}
.event_wrap .original{margin:6px 8px 0 0}
.event_wrap .original del{font-size:18px;color:#333;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:18px;font-weight:500;color:#222;margin-left:-3px}
.event_wrap .percent{position:absolute;top:0;left:0;width:60px;height:60px;background:#bd0a24;display:flex;justify-content:center;align-items:center}
.event_wrap .percent .num{font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{font-size:14px;color:#fff;margin:6px 0 0 1px}

/* notice */
.event_wrap .p_evt_noti{background:#0e1823 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year/img/p_img_noti.jpg) 50% 0}
.event_wrap .evt_notice{min-height:416px;padding:40px 100px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* motion */
.event_wrap .motion_visual{position:absolute;top:86px;left:513px}
.event_wrap .p_evt_sec1:after{position:absolute;top:-11%;left:50%;transform:translateX(-50%);width:160px;height:202px;margin-left:-869px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year/img/object/object1.png) 0 0 no-repeat;content:'';z-index:11}
.event_wrap .p_evt_sec2:after{position:absolute;top:488px;left:50%;transform:translateX(-50%);width:245px;height:245px;margin-left:620px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1218_new_year/img/object/object2.png) 0 0 no-repeat;content:'';z-index:1}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:412px;left:264px;right:264px;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:80px;z-index:10}
.event_wrap .dday_count > span{display:block;width:140px}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .p_evt_sec4{background:#282d36;height:668px;overflow:hidden}
.event_wrap .p_evt_sec4 h2{position:absolute;z-index:1}
.event_wrap .evt_lottie2{position:absolute;width:2500px;height:1000px;top:0;left:-550px;right:0;z-index:0}
