@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;top:79%;width:33%;height:13%;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_box{position:relative;max-width:1020px;margin:0 auto}
.event_wrap .btn_lnk1{left:14%}
.event_wrap .btn_lnk2{right:14%}
.event_wrap .box2{padding-bottom:72px;background-color:#e5dccc}
.event_wrap .box2 .btn{top:71.5%}

/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_box{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn{left:17%;width:66%;height:7%}
.event_wrap.mevt .btn_lnk1{top:38%}
.event_wrap.mevt .btn_lnk2{top:88%}
.event_wrap.mevt .box2{padding-bottom:16px}
.event_wrap.mevt .box2 .btn_lnk1{top:37%}
.event_wrap.mevt .box2 .btn_lnk2{top:86.5%}
