@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{position:relative;overflow:hidden;min-width:1200px}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:80px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1201_amio_closing/img/p_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* page */
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:460px;left:50%;width:569px;height:233px;margin-left:-240px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1201_amio_closing/img/object.png) no-repeat;z-index:1}
.event_wrap .coupon_item_btn{z-index:2}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#fbefe1}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding-top:60px}

/* items_list */
.event_wrap .items_list{position:absolute;top:363px;display:grid;grid-template-columns:repeat(2, 1fr);gap:80px 40px}
.event_wrap .items_list a{display:block;width:100%;height:100%}
.event_wrap .items_list .inner{width:580px}

.event_wrap .items_list .item_thumbnail{width:100%;height:100%}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{width:500px;margin:0 auto;padding:40px 0 47px;color:#222;letter-spacing:-.4px;box-sizing:border-box}

.event_wrap .items_list .text{font-size:28px;font-weight:400;color:#666;text-align:center;line-height:1}
.event_wrap .items_list .name{margin:8px 0 80px;font-size:40px;font-weight:600;text-align:center;line-height:1.25;letter-spacing:-1px}
.event_wrap .items_list .name small{font-size:20px;font-weight:400}

.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:10px 0}

.event_wrap .items_list .price_area{font-size:32px;font-weight:400;line-height:30px}
.event_wrap .items_list .item_info > dl.price_area :is(dt, dd){padding-top:0}

.event_wrap .items_list .sale_area{font-size:32px;font-weight:600;line-height:30px}
.event_wrap .items_list .coupon_area{padding-top:58px;font-size:40px;font-weight:700;line-height:1}
.event_wrap .items_list .discount{display:inline-block;margin-right:5px;color:#f31000}
.event_wrap .items_list .desc{margin-top:38px;font-size:24px;color:#fff;line-height:1;font-weight:200;text-align:center}

/* template */
.desktop .fb__event .event__roulette__wrap{min-width:1200px;height:710px;overflow:hidden;background-color:#fbefe1}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:160px;height:160px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:58px;margin-left:-30px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}
