@charset 'utf-8';

/* reset */
html,body {background:#fff; color:#3e3e3e; font-size:12px; min-width: 1024px; height:100%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button, select,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video
{ margin:0;padding:0;border:0; line-height:14px; font-family:'Arial','Dotum'; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
h1, h2, h3, h4, h5{font-weight:normal; color:#666;}
ol, ul {list-style: none;}
a {text-decoration:none; color:#555;}
a:hover {text-decoration:none;}
caption, hr {display:none;}
em {font-style:normal;}
img {vertical-align:top;}
label{cursor:pointer; vertical-align:middle; padding-left:5px; margin-right:10px;}
dl,dt,dd{display:inline-block}
table{border-spacing: 0; border:0;  border-collapse: collapse;}
legend{font-size:0; line-height:0; overflow:hidden; width:0; height:0; text-indent:-9999px}
input:placeholder{color:#b2b2b2}



/* Color */
.col_6b{color:#6b6bc8 !important;}
.col_8d{color:#8d65c8 !important;}
.col_62{color:#626262 !important;}

/* Text ellipsis*/
.txt_space{display:block; text-overflow:ellipsis;  white-space: nowrap; overflow:hidden;}

/* Align */
.txt_c{text-align:center;}
.txt_l{text-align:left;}
.txt_r{text-align:right !important;}

/* button area */
section .btns{margin:30px 0 0}
.btns01{margin:10px 0;}

/* Float */
.f_l{float: left}
.f_r{float: right}

/* after */
.f_l:after {clear: both; content: ""; display: block;}
.f_r:after {clear: both; content: ""; display: block;}

/* Color */
.col_red{color:#ff0000;}

/* Margin */
.mg_l10{margin-left:10px;}
.mg_l20{margin-left:20px;}
.mg_r10{margin-right:10px;}

.mg_t05{margin-top:5px;}
.mg_t10{margin-top:10px;}
.mg_t20{margin-top:20px;}
.mg_t30{margin-top:30px;}
.mg_t40{margin-top:40px;}
.mg_t50{margin-top:50px;}

/*Border*/
.border_none{border:none;}
/* Text Style */
.blind{font-size:0; line-height:0; text-indent:-99999px;}

/* button */
/*button{display:inline-block; background:#fff;  border:1px solid #acc1b1; line-height:14px; padding:4px 15px 4px; font-size:12px; cursor: pointer;}
button.sy01{background:#53805d; color:#fff; padding:7px 30px 6px; border:2px solid #53805d; margin:0 2px; font-weight:bold;}
button.sy02{background:#fff; color:#53805d; padding:7px 30px 6px; border:2px solid #53805d; margin:0 2px; font-weight:bold;}*/
button.icon{width:auto; height:auto; padding:0; line-height:14px; font-size:12px; background:#fff; border-radius:1px; vertical-align: top; border:1px solid #ccc; }
button.icon:disabled{background:#eee;}

.opt a, a.btn {display:inline-block; background:#fff; border:1px solid #acc1b1; text-decoration:none; line-height:14px; padding:4px 15px 4px; font-size:12px; cursor: pointer; color:#333;}
.opt a:hover, a.btn:hover {background:#fff; text-decoration:none; color:#333;}
.opt.type-multi{font-size:0;}
.opt.type-multi a + a {margin-left:3px;}


.bt{display:inline-block; background:#fff; border:1px solid #aac5b0; text-decoration:none; line-height:14px; padding:4px 15px 4px; font-size:12px; cursor: pointer; color:#333;}
.bt:hover {color:#333; text-decoration: none !important}
.bt.disable, .bt.disable:hover{background:#ddd; border:1px solid #ccc; color:#a5a5a5;}
.sy01, .sy01:hover{display:inline-block; font-size:12px; background:#53805d; color:#fff; border:2px solid #53805d; padding:7px 30px 6px; margin:0 2px; font-weight:bold;}
.sy02, .sy02:hover{display:inline-block; font-size:12px; background:#fff; color:#53805d; border:2px solid #53805d; padding:7px 30px 6px; margin:0 2px; font-weight:bold;}
.sy01.disable, .sy01.disable:hover{border:2px solid #ccc; background:#eee; color:#bbb;}
.sy02.disable, .sy02.disable:hover{border:2px solid #ccc; background:#fff; color:#bbb;}
.icon{display:inline-block; width:auto; height:auto; padding:0; line-height:14px; font-size:12px; background:#fff; border-radius:1px; vertical-align: top; border:1px solid #ccc; }
.icon.disable{background:#eee;}

/* input */
select{border:1px solid #ddd; font-size:12px; min-width:100px; line-height:24px; height:24px; vertical-align: middle; text-indent:5px; width:100%;}
input[type='text'], input[type='password']{border:1px solid #ddd; font-size:12px; line-height:22px; height:22px; vertical-align: middle; width:99%; text-indent:5px;}
input[type='text']:disabled{background:#efefef;}
input[type='text'].txt_r{text-align:right; padding-right:5px;}
textarea{border:1px solid #ddd; font-size:12px; line-height:20px; width:97%; padding:1.5%; height:100px;}
input[type='radio'], input[type='checkbox']{vertical-align: middle}
input[type='text'].calendar{width:auto; min-width:150px;}

/* file upload */
.filebox label {display:inline-block; min-width:45px; line-height:12px; padding:6px 5px 5px; background:#53805d; color:#fff; text-align:center; vertical-align:middle;}
.filebox input[type=file], .upload-hidden{width:0; height:0; position:absolute; left:-9999px; /* filter:alpha(opacity=0.01); opacity: 0.01 */}
.filebox input[type='text']{width:200px; padding:0 5px; height:21px; line-height:21px; vertical-align:top; border-radius:0; border-radius: 2px;}
.filebox input[type='text']:disabled{background:#fff; color:#222;}


/*.wrap{width:1024px; margin:0 auto; }*/
.wrap{width:90%; margin:0 auto; }

/* header */
header{display:block; position:relative;}
header h1{padding:10px 40px;}
header .user{position:absolute; right:0; top:10px; text-align:right; padding:5px; border-radius: 3px }
header .user span{display:inline-block; line-height:20px; margin-right:15px; color:#898989; font-weight: bold}
header .user a{display:inline-block; color:#333; line-height:14px; padding:0 10px; font-size:12px; text-decoration:underline; font-weight: bold}

/* gnb depth 01 */
header .gnb {position:relative; padding-bottom:70px;}
header .gnb ul{display:table; width:100%; z-index:9;}
header .gnb li{float:left;}
header .gnb li a{display:block; text-align:center; line-height:20px; padding:10px 0; font-size:14px;}
header .gnb li:first-child > a {background-image:none !important;}

header .gnb ul.depth01 > li{ width:12.5%; }
header .gnb ul.depth01 > li > a{color:#fff; background:#526f7a url('../img/h_depth01_line.png') 0 50% no-repeat; padding:14px 0;}
header .gnb ul.depth01 > li > a:hover, header .gnb ul.depth01 > li.on > a{background-color:#53805d;}

/* gnb depth 02 */
header .gnb ul.depth02{position:absolute; top:48px; left:0; border-bottom:1px solid #426e7e; border-top:0; background:#fffdf0; display:none; }
header .gnb ul.depth02 li{width:12.5%;}
header .gnb ul.depth02 > li:first-child > a {border-left:1px solid #426e7e;}
header .gnb ul.depth02 > li:last-child > a {border-right:1px solid #426e7e;}
header .gnb ul.depth02 li a{color:#333; padding:11px 0 6px; background:#fffdf0 url('../img/h_line.png') 0 60% no-repeat; font-size:12px;}
header .gnb ul.depth02 > li > a:hover, header .gnb ul.depth02 > li.on  > a{font-weight: bold}

/* gnb depth 03 */
header .gnb ul.depth03{position:absolute; top:38px; left:0; border-bottom:2px solid #8aacb8; padding:5px 0; background:#fff; text-align:center; display:block; }
header .gnb ul.depth03 li{width:auto !important; display:inline-block; float:none;}
header .gnb ul.depth03 li a{background:#fff; display:inline-block; padding:4px 0 1px; margin:0 10px; border-bottom:2px solid #fff;}
header .gnb ul.depth03 > li > a:hover, header .gnb ul.depth03 > li.on  > a{font-weight: bold; border-bottom:2px solid #526f7a;}

footer{width:100%; font-size:10px; color:#959595; text-align:center; padding:20px; margin-top:50px; border-top:1px solid #d7d7d7;}

/* Contents */
#contents{margin-top:60px; position:relative; min-height:500px; padding:0 20px;}
#contents .location{position:absolute; right:22px; top:-30px; color:#a8a8a8; }
#contents .location span, #contents .location a{font-size:11px; color:#666; padding:0 2px 0 4px;}
#contents .location strong{font-size:11px; color:#666; padding:0 2px 0 4px;}
#contents section{display: block; padding:10px 0 20px;}
#contents section:after{content:" "; display:block; clear:both;}
#contents section.non{padding-bottom:0;}
#contents .tit_area{padding:11px 15px; min-height:16px; position:relative; background:#526f7a;}
#contents .tit_area h2{font-size:14px; line-height:14px; color:#fff; font-weight: bold}
#contents .tit_area .opt{position:absolute; bottom:7px; right:10px;}
#contents .tit_area .opt .bt{padding:4px 15px 3px; font-weight: normal}
#contents .tit_area .opt.txt{margin-top:5px; color:#fff;}
#contents .tit_area.non{background:none; padding:11px 0;}
#contents .tit_area.non .opt{right:0; bottom:10px;}
#contents .con_area{    padding-bottom: 15px;
    display: block;
    content: "";
    overflow: hidden;
}
#contents .pop_area{padding:20px 30px;}
#contents .pop_area .tit_area{font-size:12px; line-height:16px; color:#333; font-weight: bold}
#contents .pop_area .search_area{padding-bottom:20px;}


/* Table */
table{width:100%;}
th, td{padding:8px 10px; line-height:16px; border:1px solid #d0d0d0;}
th{background:#f0f0f0; font-weight: normal; padding:10px; line-height:14px;}
table.txt_l th, table.txt_l td{text-align:left;}
table.txt_c th, table.txt_c td{text-align:center;}
table.th_c th{text-align:center;}
table td.txt_l{text-align:left;}
table td.txt_r{text-align:right;}
table td.txt_c{text-align:center;}
th.txt_top, td.txt_top{vertical-align: top;}
td a, td a:hover{color:#6b6bc8; text-decoration: underline;}
td .txt_box{display:inline-block; width:70%; vertical-align: top; line-height:24px; text-align:left;}

.imp{vertical-align:middle; display: inline-block;}
.txt_value{vertical-align:middle; display: inline-block; line-height:24px; padding-left:2px;}

/*List page Number */
.page_number{text-align:center; padding-top:20px; }
.page_number a{display:inline-block; padding:0 13px; height:15px; line-height:15px; font-size:14px; color:#888; vertical-align: top}
.page_number a.on{color:#53805d; font-weight: bold}
.page_number a.prev, .page_number a.next, .page_number a.first, .page_number a.last{display:inline-block; margin:0 10px; width:15px; height:15px; padding:0; border:0;  font-size:0; overflow:hidden; text-indent: -9999px; vertical-align: top}
.page_number a.prev{background:url('../img/icon_arrow01.png') 0 -15px no-repeat;}
.page_number a.next{background:url('../img/icon_arrow01.png') 100% -15px no-repeat;}
.page_number a.first{background:url('../img/icon_arrow02.png') 0 -15px no-repeat;}
.page_number a.last{background:url('../img/icon_arrow02.png') 100% -15px no-repeat;}
.page_number a.prev.disable{background:url('../img/icon_arrow01.png') 0 0 no-repeat;}
.page_number a.next.disable{background:url('../img/icon_arrow01.png') 100% 0 no-repeat;}
.page_number a.first.disable{background:url('../img/icon_arrow02.png') 0 0 no-repeat;}
.page_number a.last.disable{background:url('../img/icon_arrow02.png') 100% 0 no-repeat;}

.result{background:#eee; border:1px solid #ccc; padding:15px; margin-top:50px;}

/* Select list box */
.list_box{ border:1px solid #eee; width:350px;  position:relative;}
.list_box ul{height:120px;  overflow:auto;}
.list_box li a{display:block; padding:7px 10px; line-height:16px; text-decoration: none; color:#333;}
.list_box li.on a, .list_box li.on a:hover{background:#99bda1; color:#fff; font-weight:bold;}
.list_box li a:hover{background:#f3faf5;}
.list_box .btns{position:absolute; right:-70px; top:0; margin:0;}
.list_box .del{position:absolute; right:395px; top:5px; margin:0;}
.list_box .del a{padding:5px 0;}

/* list area scroll */
.list_area{height:298px; overflow-y: auto}
.cell_area{padding:2px 0; line-height:24px;}


/* POPUP */
.popup_wrap {padding:20px;}
.popup_wrap .tit_area {padding-bottom:20px;}
.popup_wrap .tit_area .tit{font-size:14px; font-weight: bold; color:#333; line-height:14px}
.popup_wrap .tit_area .txt{padding-top:10px;}

/* IMG View Box */
.img_view{display:inline-block; border:1px solid #ccc;}
.icon_view{display:inline-block; border:1px solid #ccc; width:50px; height:40px;}

@charset 'utf-8';

/*common*/
footer {float:left;}
select {min-width:50px !important;}
.txt_c {text-align:center !important;}
.txt_l {text-align:left !important;}
.mg_l_5 {margin-left:-5px;}
.mg5_5 {margin:5px 0;}
.mg00 {margin:0;}
.pdtb00 {padding:5px 0;}
.pd_l00 {padding-left:0 !important;}
.pd_b00 {padding-bottom:0 !important;}
.pd_b40 {padding-bottom:20px;}
.th_bold {font-weight:bold; background:#dcdcdc;}
.p_bold {font-weight:bold; line-height:20px}
.bgcolor01 {background:#cadc99;}
.bgcolor02 {background:#eaeeda;}
.bgcolor03 {background:#f7f7f7;}
.bgcolor04 {background:#ffdeab;}
.ftcolor01 {color:#bf0f0f !important;}
.ftcolor02 {color:#0f6ebf;}
.ftcolor03_fff label {color:#fff;}
.ud_line {text-decoration:underline;}
.input_stxt {display:inline-block; padding:5px;}
.tb_info_txt {float:left; width:100%; margin:20px 0 10px;}
.btst01 {padding:54px 15px !important;}
.bd_box {border:solid 1px #ccc; padding:10px; box-sizing:border-box;}
.bd_box textarea {float:left; margin-right:10px;}
.mg_t25 {margin-top:25px;}
.pd45 th,
.pd45 td {padding:8px 5px !important}
.pd45 td a.bt {padding:4px 5px;}
.w80 {width:80%;}
.mg_b20 {margin-bottom:20px;}
.mg_b10 {margin-bottom:10px;}
table th select {vertical-align:middle;}
.t15 {top:15px !important;}

/*title*/
.h3 {padding:25px 0 10px 0 !important;}
.h3 h3 {font-weight:bold !important;}
.tit_area.h3.non .opt {top:20px !important;}
.s_tit {background:#99aabd !important;}
.mb_tit {background:#fff !important; padding-left:0 !important; padding-right:0 !important;}
.mb_tit p {color:#444 !important;}
.mb_tit p img {vertical-align:middle;}
.mb_tit .opt {right:0 !important;}
.sub_tit {padding:11px 15px 9px 15px !important; background:#ccc !important;}
.sub_tit h3 {font-size:14px; line-height:14px; font-weight:bold;}

/*tabs*/
ul.tabs {height:36px; border-bottom:1px solid #d0d0d0; border-left:1px solid #d0d0d0; overflow:hidden;} /* mh */
ul.tabs li {float:left; border:1px solid #d0d0d0; margin-left:-1px; background:#f0f0f0; border-bottom:solid 1px #f0f0f0; overflow:hidden; position:relative; }
ul.tabs li a {display:inline-block; height:100%; padding:11px 20px 9px 20px; text-align:center;}
ul.tabs li.active {border-bottom:solid 1px #526f7a;}
ul.tabs li.active a  {background:#526f7a; color:#fff; border-bottom:solid 1px #526f7a;}
.tab_content {padding-top:20px; }

/*tabs_sub*/
ul.tabs_sub {height:36px; border-bottom:1px solid #d0d0d0; border-left:1px solid #d0d0d0; overflow:hidden;} /* mh */
ul.tabs_sub li {float:left; border:1px solid #e0e0e0; margin-left:-1px; background:#f5f5f5; border-bottom:solid 1px #f0f0f0; overflow:hidden; position:relative; }
ul.tabs_sub li a {display:inline-block; height:100%; padding:11px 133px 9px 133px; text-align:center;}
ul.tabs_sub li.active {border-bottom:solid 1px #b3b3b3;}
ul.tabs_sub li.active a  {background:#9ba6ab; color:#fff; border-bottom:solid 1px #b3b3b3;}

/* 20190710 수정 */
ul.tabs_sub_mobile {height:36px;border-bottom:1px solid #d0d0d0;border-left:1px solid #d0d0d0;overflow:hidden;} /* mh */
ul.tabs_sub_mobile li {float:left;width:25%;height: 100%;border-top: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;background:#f5f5f5;overflow:hidden;position:relative;box-sizing:border-box;text-align:center;}
ul.tabs_sub_mobile li a {display: block;height:100%;padding:11px 0px 9px 0px;text-align:center;box-sizing: border-box;}
ul.tabs_sub_mobile li.active {border: 0px;}
ul.tabs_sub_mobile li.active a  {width:100%;background:#9ba6ab;color:#fff;}
ul.tabs_sub_mobile.w_auto li {width: auto !important;}
ul.tabs_sub_mobile.w_auto li a {padding-left: 20px;padding-right: 20px;}

ul.tabs_sub_web {height:36px; border-bottom:1px solid #d0d0d0; border-left:1px solid #e0e0e0; overflow:hidden;} /* mh */
ul.tabs_sub_web li {float:left;width:33.33%;height:100%; border-top:1px solid #e0e0e0;border-right:1px solid #e0e0e0;background:#f5f5f5;border-bottom:solid 1px #f0f0f0;overflow:hidden;position:relative;box-sizing:border-box;text-align:center;}
ul.tabs_sub_web li a {display:block; height:100%; padding:11px 0px 9px 0px; text-align:center;box-sizing: border-box;}
ul.tabs_sub_web li.active {border: 0px;}
ul.tabs_sub_web li.active a  {width:100%; background:#9ba6ab; color:#fff;}
ul.tabs_sub_web.w_auto li {width: auto !important;}
ul.tabs_sub_web.w_auto li a {padding-left: 20px;padding-right: 20px;}
/* //20190710 수정 */

/*img_filebox*/
.img_filebox {width:100%; float:left; position:relative; }
.img_filebox:after{display:block; clear:both; content:'';}
.img_filebox .img_viewbox {display:inline-block; width:100px; height:60px; line-height:60px; float:left; text-align:center; background:#f8f8f8; border:solid 1px #eee; box-sizing:border-box;}
.img_filebox .img_viewbox img {vertical-align:middle;}
.img_filebox .filebox {display:block; box-sizing:border-box; padding:6px 0 0 15px; height:30px;}
.img_filebox .filebox input {width:200px !important;}
.img_filebox .filebox .btn_file {width:auto; padding:6px 15px 5px 15px;}
.img_filebox .file_lists {display:inline; float:left; box-sizing:border-box; padding:5px 0 1px 5px; }
.td_flb.filebox label {width:auto !important; padding:6px 15px 5px 15px !important;}
.ch_file_lists {float:left; margin-top:23px; float:right;}
.file_lists .img_viewbox {float:right; margin-left:10px; height:50px; line-height:50px;}
.pst_r .file_lists {position:absolute; top:0; right:0;}
.pst_r {height:57px;}
.pst_r .filebox {padding-left:0 !important;}
.fil_tb td {padding:0 !important; }
.fil_tb td table th,
.fil_tb td table td {border-top:0; border-left:0;}
.fil_tb td table td:last-child {border-right:0;}
.fil_tb td table td {padding:8px 10px !important;}
.fil_tb tr:last-child td table {margin-bottom:0 !important;}
.fil_tb tr:last-child table tr:last-child th,
.fil_tb tr:last-child table tr:last-child td {border-bottom:0;}
.img_boxin {display:inline-block; padding:5px 20px; background:#f7f7f7; border:solid 1px #eee; text-align:center;}

/*toggle table*/
.view_tr {display:none;}
.view_tr>td {padding:0;}
.view_tr td table td {text-align:left; border-left:0; border-top:0; border-right:solid 1px #d0d0d0; border-bottom:solid 1px #d0d0d0; background:#fafafa;}
.view_tr td table tr:last-child td {border-bottom:0;}
.view_tr td table td:last-child {border-right:0; }
.img_viewbox {display:inline-block; float:left; margin-right:10px;}
.img_viewbox a {display:inline-block; margin-left:5px; vertical-align:bottom; text-decoration:none}

/*popup style*/
.pop_pg .tit_area .opt,
.pop_pg01 .tit_area .opt{position:absolute; top:-3px; right:10px;}
.pop_pg .tit_area .opt .bt{padding:4px 15px 3px; font-weight: normal}
.pop_pg .tit_area .opt.txt{margin-top:5px; color:#fff;}
.pop_pg .tit_area.non{background:none;}
.pop_pg .tit_area.non .opt {right:0; top:5px;}
.pop_pg01 .tit_area .opt {right:0 !important; top:-6px !important;}
.pop_pg .con_area{padding-bottom:15px}
.pop_pg .tit_area {position:relative; padding-bottom:15px !important;}
.pop_pg01 .tit_area h1 {border-bottom:solid 1px #ccc; padding-bottom:10px}
.pop_pg01 h2 {font-size:14px; line-height:14px; padding:0 0 10px; font-weight:bold; color:#333;}
.pop_pg01 .con_area .tit_area {padding-bottom:0 !important;}
.pop_pg .pop_lnb {float:left; width:170px; margin-right:20px; box-sizing: border-box; border:solid 1px #ccc;}
.pop_pg .pop_lnb strong {display:inline-block; width:100%; padding:15px; box-sizing: border-box; background:#eee; line-height:18px; float:left; border-bottom:solid 1px #ccc;}
.pop_pg .pop_lnb ul {overflow:hidden; float:left;}
.pop_pg .pop_lnb ul li {width:100%; float:left; border-bottom:solid 1px #ccc;}
.pop_pg .pop_lnb ul li:last-child {border-bottom:0; }
.pop_pg .pop_lnb ul li a {display:inline-block; padding:7px 10px 6px 10px;}
.pop_pg .pop_lnb ul li a.active {font-weight:bold;}
.pop_pg section {float:left; width:880px; padding-top:15px;}

/*table*/
/*2개 유형*/
.tb_li2:after{display:block; clear:both; content:'';}
.tb_li2 li{float:left; width:50%;}
.tb_li2 li:last-child {margin:0px -1px;}



.tb_li3 {    width: 100%;overflow:hidden; float:left; margin-bottom:20px;}
.tb_li3:after {content:" "; display:block; clear:both;}

.tb_li3 li:first-child {margin-left:0;}
.tb_li3 li {width:33.3%; float:left; height:281px;border-right:solid 1px #ccc; border-left:solid 1px #ccc; border-bottom:solid 1px #ccc; box-sizing:border-box; margin-left:-1px;}
.tb_li3 li table {width:100%;}
.tb_li3 li table th,
.tb_li3 li table td:last-child {border-right:0;}
.tb_li3 li table th,
.tb_li3 li table td:first-child {border-left:0;}
.tb_li4 {overflow:hidden; float:left; margin-bottom:20px;}
.tb_li4 li:first-child {margin-left:0;}
.tb_li4 li {width:310px; float:left; height:281px;border-right:solid 1px #ccc; border-left:solid 1px #ccc; border-bottom:solid 1px #ccc; box-sizing:border-box; margin-left:-1px;}
.tb_li4 li:last-child {width:450px;}
.tb_li4 li:last-child table td {height:18px;}
.tb_li4 li table {width:100%;}
.tb_li4 li table th,
.tb_li4 li table td:last-child {border-right:0;}
.tb_li4 li table th,
.tb_li4 li table td:first-child {border-left:0;}
.vw_tr {display:none;}
.vw_tr td {padding:0; background:#f9fbef;}
.vw_tr td table td:nth-child(5) {width:165px;}
.vw_tr td table td {border-top:0; border-right:0; padding:8px 10px; box-sizing:border-box;}
.vw_tr td table td:first-child {border-left:0;}
.vw_tr td table tr:last-child td {border-bottom:0;}
.lt_tr.active {background:#eaeeda;}
.lt_tr {cursor:pointer;}
.bd0 {margin-left:5px; vertical-align:top; padding:57px 15px !important;}
.pdtb05 a {padding:4px 8px;}
.pdtb05 td {padding:8px 5px;}
.spl_box {border:solid 1px #ccc; padding:20px; float:left; width:174px; text-align:center; margin:20px 0; font-size:15px;}
.spl_box em {display:inline-block; width:100%; float:left; font-size:12px; margin-bottom:5px;}
.spl_box.spl_ic {border:0; width:30px; padding:20px 5px; font-weight:bold;}
.ul_listbox {overflow:hidden; height:150px; overflow-y:auto; padding:3px 0 0 3px;}
.ul_listbox li {width:100%; float:left; height:20px; padding:3px 0 2px; position:relative;}
.ul_listbox li a {text-decoration:none; display:inline-block; width:20px; height:20px; position:absolute; top:0; right:0; color:#444;}


/* Review */
.review_info{padding:0; border:0;}
.review_info th, .review_info td{border:0; border-right:1px solid #d0d0d0; border-top:1px solid #d0d0d0;}
.review_info th{background:#f3faf5;}
.review_info table tr:first-child th, .review_info table tr:first-child td{border-top:0;}
.img_view_list{display:inline-block; margin-right:15px;}
.img_view_list .bt{margin-top:5px;}
.img_view_list .img_view{width:55px; height:55px;}

td .img_view{width:60px; height:60px; overflow:hidden; vertical-align: top}
td .img_view img{width:100%; height:100%;}

/* Table */
tr.on td{background:#99bda1;}
.t_arrow{cursor: pointer;}

/* table bottom btns*/
.tb_btns{position:relative;}
.tb_btns .btns_l{position:absolute; left:0; top:12px; display:inline-block;}
.tb_btns .btns_r{position:absolute; right:0; top:12px; display:inline-block;}


/* Text Style */
.txt_sy01{font-size:11px; color:#888;}
.txt_sy02{font-size:11px;}

/* Checkbox */
input[type='checkbox']{width:14px; height:14px; border:1px solid #ccc; background:#fff;}
td input[type='text']{vertical-align: middle}


#contents .recipe_category, #contents .analysis_tree{padding:20px 0 0 0; margin:0; overflow:hidden;}
.recipe_category .category_list, .analysis_tree .analysis_list{width:38%; float:left; }
.recipe_category .category_list .con_area, .analysis_tree .analysis_list .con_area{border:1px solid #d0d0d0; border-top:0; padding:10px 15px; height:420px; overflow-y: auto}
.recipe_category .category_info, .analysis_tree .category_info{width:59%; float:right;}
.recipe_category .category_info a.category_a{ font-weight: bold; color:#363636; }
.recipe_category .category_list li a{display:block; padding:7px 5px; }
.recipe_category .category_list .depth00 >li >.tit{border-top:1px dotted #ddd; padding:9px 5px; font-weight: bold}
.recipe_category .category_list .depth00 >li:first-child >.tit {border-top:0;}
.recipe_category .category_list .depth00 >li >.tit:before{content: 'ㆍ'; padding-right:5px;}
.recipe_category .category_list .depth00 >li.on >.tit{color:#526f7a;};
.recipe_category .category_list .depth01 >li >.tit{border-top:1px dotted #ddd; padding:9px 5px; font-weight: bold}
.recipe_category .category_list .depth01 >li:first-child >.tit {border-top:0;}
.recipe_category .category_list .depth01 >li >.tit:before{content: '＋'; padding-right:5px;}
.recipe_category .category_list .depth01 >li.on >.tit:before{content: '－'; padding-right:5px;}
.recipe_category .category_list .depth01 >li.on >.tit{color:#526f7a;};
.recipe_category .category_list .depth01 >li.on .depth02{display: block}
.recipe_category .category_list .depth02{display:none; padding-bottom:10px;}
.recipe_category .category_list .depth02 >li a{padding-left:20px;}
.recipe_category .category_list .depth02 >li > a:before{content: '└'; padding-right:5px; color:#aaa;}
.recipe_category .category_list .depth02 >li.add {padding-left:20px;}
.recipe_category .category_list .depth02 >li.add a{padding:2px 0;  width:80px; text-align:center; line-height:12px; color:#53805d;}
.recipe_category .category_list .depth02 >li.add a:before {content: '＋'; padding-right:5px; color:#53805d;}

.box_list{border:1px solid #d0d0d0; height:50px; overflow-y:auto; padding:10px;}
.box_list li{padding:5px 0;}
.box_list .btn_delete{ margin-left:5px;}

.cell_boxs{margin:5px 0 0 20px;}
.cell_box{overflow:hidden; display:inline-block; vertical-align: middle}
.cell_box dt, .cell_box dd{float:left; height:30px; padding:5px 10px 0; line-height:25px;}
.cell_box dt{background:#eee; border:1px solid #ddd;}
.cell_box dd{border:1px solid #ddd;; border-left:0; line-height:24px;}

.btn_delete{display:inline-block; vertical-align:middle;  border:1px solid #ccc; width:14px; line-height:9px; text-decoration:none; padding:2px 0; text-align:center; font-size:14px; color:#888;}
.btn_delete:hover{text-decoration: none}
.note-tit h3{font-size:13px; font-weight: bold; color:#333;}
.con_area h3{padding:10px 0; font-size:13px; font-weight: bold; color:#333;}
.note-tit h3:before,
.con_area h3:before{content: '◈'; font-size:11px; padding-right:5px; color:#888; vertical-align: top}


/*ktw*/
.layer_popup{ display:none; position:fixed; top:0; right:0; bottom:0; left:0; width:300px;  max-height: 300px;border:1px solid #666; background-color:#fff; box-sizing:border-box;margin:auto; z-index:50;}
.layer_popup .con_area{ max-height:210px; overflow:auto;}
.layer_popup .tit_area{padding:11px 15px; min-height:16px; position:relative; background:#526f7a; text-align:center; }
.layer_popup .tit_area h2{font-size:14px; line-height:14px; color:#fff; font-weight: bold}
.layer_popup .btns{border-top:1px solid #666; padding:10px 0px;}

.input_list:after{display:block; clear:both; content:'';}
.input_list li{float:left;}

/*정산관리 스크롤 추가 css*/
.con_area.scroll{overflow:auto; max-height: 400px;}
.wd1300{width:1300px;}
.wd1600{width:1600px;}
.wd2000{width:2000px;}
.wd2200{width:2200px;}
.wd2400{width:2400px;}


/*모바일 진열 관리*/
.mt0{margin-top:0px !important;}
.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.wd200{width:200px !important;}
.wd400{width:400px !important;}
.wd1700{width:1700px !important;}

.radio__wrap{margin-left:10px; vertical-align:middle;}
.table1 + .table1{margin-top:20px;}
.inline-block{display:inline-block;}
.mg_t0{margin-top:0px !important;} /*추가*/
.vt_m{vertical-align:middle;}

.js-content{display:none;}
.js-content.js-on{display:block;}
.clear{overflow:hidden; height:0; text-indent: -9999px; clear:both;}

.scroll-width{width:100%; overflow-x:auto;}
.scroll-width + .scroll-width{margin-top:10px;}

.popup_view_wrap {width:400px;}
.mg_b20 {margin-bottom:20px;}

/* 김재균 상품미리보기 관련 CSS 추가 */
.mg_s40 {margin:0 40px;}
.wd465 {width:465px !important;}
.ml10 {margin-left:10px !important;}
.mt35 {margin-top:35px !important;}

.ov_h {overflow:hidden;}
.fl_l {float:left !important;}
.fl_r {float:right !important;}

.prod_info_img {margin:50px 0 65px 0; text-align:center;}
.prod_info_img table th {width:130px; padding:11px 0 11px 10px; font-family:'notokr', Dotum, sans-serif; font-size:14px; font-weight:500; color:#898989; text-align:left; vertical-align:middle;}

.tbl_cont .tit {padding:0 0 7px 10px; font-size:16px; color:#363636; font-weight:400;}
.tbl_cont .tit.other {font-family:'Nanum Barun Gothic', sans-serif; padding:0 0 9px 20px; font-size:14px; color:#363636; font-weight:bold;}
.tbl_cont .tit.other .info_sub_tit {font-size:14px; font-weight:normal;}
.tbl_cont .tit.other .info_sub_tit .cnt {color:#f96c2b; font-weight:bold;}
.tbl_cont .info_sub_tit{font-family:'Nanum Barun Gothic', sans-serif; font-size:12px; color:#363636; margin-left:5px;}
.tbl_div {}
.tbl_div table {width:100%; font-family:'Nanum Barun Gothic', sans-serif; font-size:14px; text-align:left; line-height:1.3; table-layout:fixed;}
.tbl_div table th {padding:12px 20px; background-color:#f0f0f0; font-size:14px; color:#363636; font-weight:normal; text-align:left; border-bottom:1px solid #dfdfdf;}
.tbl_div table td {padding:12px 20px; font-size:14px; color:#555; border-bottom:1px solid #dfdfdf;}
.tbl_div table td.other {padding:20px 0;}
.tbl_div table td.wait {font-size:14px; font-weight:bold; color:#777;}
.tbl_div table td.complete {font-size:14px; font-weight:bold; color:#f96c2b;}
.tbl_div table td .btn_comment_detail {display:block; width:600px; font-size:14px; color:#555; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.tbl_div table td .btn_comment_detail img {padding-left:5px; margin-top:-1px;}
.tbl_div .tbl_ty01 {border-top:1px solid #919191;}
.tbl_div .tbl_ty02 th {text-align:center; border-bottom:1px solid #a1a1a1;}
.tbl_div .tbl_ty02 td {text-align:center;}
.tbl_div .tbl_ty03 th {font-family:'notokr', Malgun Gothic, sans-serif; font-size:22px; font-weight:400; color:#363636; vertical-align:middle; border:0;}
.tbl_div .tbl_ty03 td {padding:27px 0; border:0;}
.tbl_div .tbl_ty03 tr + tr th {border-top:1px solid #d7d7d7;}
.tbl_div .tbl_ty03 tr + tr td {border-top:1px solid #d7d7d7;}
.tbl_div .tbl_ty04{width:100%; border-collapse:separate; border-top:2px solid #b7b7b7;}
.tbl_div .tbl_ty04 tr{border-bottom:1px solid #dfdfdf;}
.tbl_div .tbl_ty04 th {padding:12px 10px; font-size:13px; font-weight:600; color:#555; background-color:#fff; border:none; border-bottom:1px solid #dfdfdf; vertical-align:middle;}
.tbl_div .tbl_ty04 td {padding:12px 10px; font-size:12px; border:none; border-bottom:1px solid #dfdfdf;}
.tbl_div .tbl_ty04 td + th{position:relative; padding-left:30px; margin-left:20px;}
.tbl_div .tbl_ty04 td + th:after{position:absolute; left:0; bottom:-1px;display:block; width:20px; height:0;border-bottom:1px solid #fff;content:'';}
.tbl_div .tbl_ty04 td .osd_txt {margin-top:2px;}
.payment_type .tbl_ty04{border-top:none;}
.tbl_div .tbl_ty06{width:100%; border-collapse:separate; border-top:2px solid #b7b7b7; background-color:#f5f5f5; font-family:'Nanum Barun Gothic', sans-serif;}
.tbl_div .tbl_ty06.type-another{border-top:0px solid #dfdfdf;}
.tbl_div .tbl_ty06 + .tbl_ty06{border-top:none;}
.tbl_div .tbl_ty06 tr{border-bottom:1px solid #dfdfdf;}
.tbl_div .tbl_ty06 th {padding:5px 10px; font-size:13px; font-weight:700; color:#555; background-color:#f5f5f5;  vertical-align:middle;}
.tbl_div .tbl_ty06 td {padding:5px 10px; font-size:12px;}
.tbl_div .tbl_ty06 td + th{position:relative; padding-left:30px; margin-left:20px;}
.tbl_div .tbl_ty06 td + th:after{position:absolute; left:0; bottom:-1px;display:block; width:20px; height:0;border-bottom:1px solid #f5f5f5;content:'';}
.tbl_div .tbl_ty06 tr.type-last td + th:after{display:none;}
.tbl_div .tbl_ty07{width:100%; font-family:'Nanum Barun Gothic', sans-serif;}
.tbl_div .tbl_ty07 tr{border-bottom:1px solid #dddddd;}
.tbl_div .tbl_ty07 tr:first-child{border-bottom:1px solid #a1a1a1;}
.tbl_div .tbl_ty07 th {height:35px; padding:5px 10px; font-size:13px; font-weight:500; color:#555; text-align:center; background-color:#f4f4f4;  vertical-align:middle; box-sizing:border-box;}
.tbl_div .tbl_ty07 td {height:60px; padding:5px 10px; font-size:12px; text-align:center; border-bottom:1px solid #dddddd; vertical-align:middle; box-sizing:border-box;}
.tbl_div .tbl_ty07 td + th{position:relative; padding-left:30px; margin-left:20px;}
.tbl_div .tbl_ty07 td + th:after{position:absolute; left:0; bottom:-1px;display:block; width:20px; height:0;border-bottom:1px solid #f5f5f5;content:'';}
.tbl_div .tbl_ty07 .tbl_subject{padding:0 40px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.tbl_div .tbl_ty07 .tbl_subject a{color:inherit;}
.tbl_div .tbl_ty07 .tbl_content{padding:20px 10px;}
.tbl_div .tbl_ty07.type-another th,
.tbl_div .tbl_ty07.type-another td{height:35px;}
.tbl_div .tbl_ty07 tr.type-last td + th:after{display:none;}
.tbl_div .tbl_ty09 th {height:35px; padding:0; text-align:center; vertical-align:middle; border-bottom:1px solid #b7b7b7;}
.tbl_div .tbl_ty09 td {padding:10px; text-align:center; vertical-align:top;}
.tbl_div .tbl_ty10 {border-top:2px solid #cd976f; font-family:'Nanum Barun Gothic', sans-serif;}
.tbl_div .tbl_ty10 th {height:35px; padding:0; background-color:#f9f4ef; border-bottom:1px solid #b7b7b7;  font-size:13px; font-weight:700; color:#6e4a36; text-align:center; vertical-align:middle; }
.tbl_div .tbl_ty10 td {height:60px; vertical-align:middle; text-align:center; color:#555; font-size:12px;}
.tbl_div .tbl_ty10 .order_point{color:#b30400;}
.tbl_div .tbl_ty10 .order_none{padding:50px 0px; box-sizing:border-box;}
.tbl_div.other01 {padding:0 30px; background:#f0f0f0;}


.tbl_div .tbl_ty05 {width:100%; border-collapse:separate;}
.tbl_div .tbl_ty05 tr {border-bottom:1px solid #dfdfdf;}
.tbl_div .tbl_ty05 th {font-family:'Nanum Barun Gothic', sans-serif; padding:12px 20px; font-size:13px; height:20px; font-weight:600; color:#555; background:#fff; vertical-align:middle; border:none; border-bottom:1px solid #dfdfdf;}
.tbl_div .tbl_ty05 td {font-family:'Nanum Barun Gothic', sans-serif; padding:12px 10px; font-size:12px; color:#555; vertical-align:middle; border:none; border-bottom:1px solid #dfdfdf;}
.tbl_div .tbl_ty05 th.last {border-bottom:1px solid #7c7c7c;}
.tbl_div .tbl_ty05 td.last {border-bottom:1px solid #7c7c7c;}
.tbl_div .tbl_ty05 td + th {position:relative; padding:12px 10px 15px 30px;}
.tbl_div .tbl_ty05 td + th:before {content:''; position:absolute; left:-5px; bottom:-1px; display:block; width:10px; height:0; border-bottom:1px solid #fff;}
.tbl_div .tbl_ty05 td.empty {font-family:'notokr', sans-serif; font-weight:400; font-size:14px; color:#767676; padding:50px 0; text-align:center;}
.tbl_div .tbl_ty05 th.disabled{color:#bbb !important;}
.tbl_div .tbl_ty05 td.disabled{color:#bbb !important;}


.tbl_div .tbl_ty05 thead th {border-bottom:1px solid #868686;}
.tbl_div .tbl_ty05 tfoot th {font-weight:600;}
.tbl_div .tbl_ty05 tfoot td {font-size:16px; font-weight:600; color:#f96c2b;}
.tbl_div .tbl_ty05 tfoot .detail {border-bottom:none;}
.tbl_div .tbl_ty05 tfoot .detail th {font-size:11px; font-weight:normal; color:#7c7c7c; border-bottom:none;}
.tbl_div .tbl_ty05 tfoot .detail td {font-size:11px; font-weight:normal; color:#7c7c7c; border-bottom:none;}
.tbl_div .tbl_ty05 tfoot .detail.step01 th {padding:12px 0 12px 10px;}
.tbl_div .tbl_ty05 tfoot .detail.step01 td {padding:12px 10px 12px 0;}
.tbl_div .tbl_ty05 tfoot .detail.step02 {color:#bbb !important;}
.tbl_div .tbl_ty05 tfoot .detail.step02 th {padding:0 0 0 10px; color:inherit !important;}
.tbl_div .tbl_ty05 tfoot .detail.step02 td {padding:0 10px 0 0; color:inherit !important;}
.tbl_div .tbl_ty05 tfoot .detail.step02 th p, .tbl_div .tbl_ty05 tfoot .detail.step02 td p {padding-bottom:12px; border-bottom:1px solid #f5f5f5;}
.tbl_div .tbl_ty05 td .td_link {font-size:12px; color:#6e4a36; text-decoration:underline;}
.tbl_div .tbl_ty05 .blink {position:relative; padding-left:30px; margin-left:20px;}
.tbl_div .tbl_ty05 .blink:after{position:absolute; left:0; bottom:-1px;display:block; width:20px; height:0;border-bottom:1px solid #fff;content:'';}


.tbl_div.payment {}
.tbl_div.payment table th {background:#fafafa; font-weight:normal;height:20px;}
.tbl_div.payment table td {background:#fafafa;}
.tbl_div.payment table tfoot th {font-weight:600;}
.fl_l .tbl_div.payment table th {background:#fff;}
.fl_l .tbl_div.payment table td {background:#fff;}

.tbl_div + .pagination {margin-top:20px;}
.tbl_div + .list02 {margin-top:20px;}

/* 20190710 추가 */
.tooltip_text p {width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.tooltip_balloon {position: absolute; background: #fffdf0; color: #333; width: 200px; padding: 10px;  display: none; border: 1px solid #ddd; word-break: break-all; box-shadow: 1px 1px 15px rgba(0,0,0,0.3);border-radius: 5px;}
/* /20190710 추가 */