@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:88%;left:15%;right:15%;height:10%}

/* button template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;background:#ffe2ec !important;padding:0 !important;text-align:center}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:66.6666vw;height:13.3333vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0909_earth_diet_miraen_apply/img/m_img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
