@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
/* .desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden} */

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:83%;left:32.5%;right:32.5%;height:14.5%}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;min-width:1168px;max-width:1168px;padding:0;background:#ffe8ef}
.desktop .fb__event .fb__event-comment__join-btn button{width:400px;height:80px;font-size:0;padding:0;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0909_earth_diet_miraen_apply/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
