@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.p_evt_sec2 .product_view {position:relative;width:100%;}
.p_evt_sec2 .product_view .btn_product_view {position:absolute;display:block;width:293px;height:83px;}
.p_evt_sec2 .product_view:first-child .btn_product_view {top:547px;left:530px}
.p_evt_sec2 .product_view:last-child .btn_product_view {top:453px;left:167px}

.p_evt_sec3 {padding:60px 95px;background-color:#c2d3ab;box-sizing:border-box;-webkit-box-sizing:border-box}
.p_evt_sec3 .notice_wrap strong {display:block;margin-bottom:8px;color:#1f1f1f;font-size:19px;font-weight:500}
.p_evt_sec3 .notice_list li {position:relative;padding-left:12px;color:#1f1f1f;font-size:19px;font-weight:300;line-height:1.8}
.p_evt_sec3 .notice_list li:before {content:'';position:absolute;top:.8em;left:0;width:3px;height:3px;border-radius:100%;-webkit-border-radius:100%;background-color:#1f1f1f}