@charset "utf-8";

.event_wrap{width:100%;max-width:none;margin:0 auto;font-family:'notokr'}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{max-width:none;width:100%}

.m_evt_sec2 .product_view {position:relative;width:100%;}
.m_evt_sec2 .product_view .btn_product_view {position:absolute;display:block;width:calc(100% - 45%);left: 22.3%}
.m_evt_sec2 .product_view:first-child .btn_product_view {height:10%;bottom:10.6%}
.m_evt_sec2 .product_view:last-child .btn_product_view {height:11.4%;bottom:11.4%}

.m_evt_sec3 {padding:8.89% 9.445%;background-color:#c2d3ab;box-sizing:border-box;-webkit-box-sizing:border-box}
.m_evt_sec3 .notice_wrap strong {display:block;margin-bottom:6px;font-size:1em;font-weight:500}
.m_evt_sec3 .notice_list li {position:relative;padding-left:8px;color:#1f1f1f;font-size:1em;font-weight:300;line-height:1.8;word-break:keep-all}
.m_evt_sec3 .notice_list li:before {content:'';position:absolute;top:.8em;left:2px;width:2px;height:2px;border-radius:100%;-webkit-border-radius:100%;background-color:#1f1f1f}