@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec{background:#f4f4f4;padding:100px 0}
.event_wrap .cards_box{margin:0 40px}
.event_wrap .cards_title{font-size:56px;letter-spacing:-1px;text-align:center;margin-bottom:20px}
.event_wrap .cards_list{display:flex;justify-content:space-between;flex-wrap:wrap;box-sizing:border-box;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif}
.event_wrap .cards_list li{margin-top:20px}
.event_wrap .cards_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .cards_list img{margin:0}
.event_wrap .cards_txt{position:absolute;top:54px;left:40px;font-size:30px;letter-spacing:-1px;color:#fff;line-height:1.4}