@charset "utf-8";

/* .event_wrap{padding-top:14.44444vw} */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}


@keyframes elem1{
  0%{
    opacity:.3;
    transform:rotate(10deg) translate3d(0,0,0);
  }
  50%{
    opacity:1;
    transform:rotate(30deg) translate3d(50px,50px,0);
  }
  100%{
    opacity:.5;
    transform:rotate(45deg) translate3d(100px, 100px,0);
  }
}

@keyframes elem2{
  0%{
    opacity:.3;
    transform:rotate(10deg) translate3d(0,0,0);
  }
  50%{
    opacity:1;
    transform:rotate(15deg) translate3d(50px,50px,0);
  }
  100%{
    opacity:.5;
    transform:rotate(10deg) translate3d(100px, 100px,0);
  }
}

@keyframes elem3{
  0%{
    opacity:1;
    transform:skew(10deg) translate3d(0,0,0);
  }
  100%{
    opacity:0;
    transform:rotate(45deg) translate3d(50px,100px,100px);
  }
}

/* @keyframes elem4{
  0%{
    transform:skew(10deg) translate3d(0,0,0);
  }
  50%{
    transform:skew(50deg) translate3d(200px,400px,0);
  }
  100%{
    opacity:0;
    transform:skew(-10deg) translate3d(0,0,0);
  }
} */

@keyframes elem4{
  0%{
    transform:matrix(1.00,0.00,0.00,1.00,0,0);
  }

  50%{
    opacity:.5;
    transform:matrix(0.82,0.11,-0.28,0.96,50,50);
  }

  100%{
    opacity:0;
    /* transform:matrix(0.94,0.52,-0.41,0.86,100,150); */
    transform:matrix(-0.67,-0.07,-0.28,0.96,100,100);

  }
}

@keyframes elem5{
  0%{
    transform:matrix(1.00,0.00,0.00,1.00,0,0);
  }

  75%{
    opacity:.5;
    /* transform:matrix(0.82,0.11,-0.28,0.96,50,50); */
    transform:matrix(1.08,-0.05,-0.33,0.95,-25,150);
  }

  100%{
    opacity:0;
    transform:matrix(1.02,-0.46,0.78,0.63,-30,200);
  }
}
@keyframes elem7{
  0%{
    transform:matrix(1.00,0.00,0.00,1.00,0,0);
  }
  100%{
    opacity:0.3;
    transform:matrix(-0.16,0.99,-0.99,-0.16,150,300);
  }
}

@keyframes s_elem1{
  0%{
    transform:rotate(0) translate3d(0,0,0);
  }
  50%{
    transform:rotate(5deg) translate3d(10px,10px,10px);
  }
  100%{
    transform:rotate(0) translate3d(15px,15px,15px);
  }
}

@keyframes s_elem2{
  0%{
    transform:skew(0) scale(1.25) translate(0,-10px);
  }
  100%{
    transform:rotate(10deg) scale(1) translate(-20px,0px)
  }
}

@keyframes s_elem3{
  0%{
    transform:rotate(0) translate3d(0,0,0);
  }
  100%{
    transform:rotate(0) scale(.85) translate3d(10px,10px,10px);
  }
}
/* .event_wrap .cloud_ani{position:absolute;top:95px;left:10px;z-index:1;animation:cloud_ani 2s linear infinite alternate} */
/* .event_wrap .ex{position:absolute;top:95px;left:1020px;width:25px;height:28px;z-index:1;animation:ex 1s linear infinite } */
.event_wrap .ani{position:absolute;z-index:1;animation-duration:1s;animation-iteration-count:infinite;animation-timing-function:linear;animation-fill-mode:none;animation-play-state:running;}
.event_wrap .elem1{top:0;left:10%;animation-name:elem1;width:16px;height:14px;background:url(../img/animate/elem1.png);background-size:100% auto}
.event_wrap .elem2{top:0;left:10%;animation-name:elem2;width:20px;height:26px;background:url(../img/animate/elem2.png);background-size:100% auto}
.event_wrap .elem3{top:0;left:10%;animation-name:elem3;animation-duration:2s;animation-timing-function:cubic-bezier(0.26, 0.75, 1, 1);width:14px;height:16px;background:url(../img/animate/elem3.png);background-size:100% auto}
.event_wrap .elem4{top:0;left:10%;animation-name:elem4;width:15px;height:14px;background:url(../img/animate/elem4.png);background-size:100% auto}
.event_wrap .elem5{top:0;left:10%;animation-name:elem2;width:14px;height:14px;background:url(../img/animate/elem5.png);background-size:100% auto} 
.event_wrap .elem6{top:0;left:10%;animation-name:elem5;width:20px;height:25px;background:url(../img/animate/elem6.png);background-size:100% auto}
.event_wrap .elem7{top:0;left:10%;animation-name:elem7;animation-duration:2s;width:17px;height:14px;background:url(../img/animate/elem7.png);background-size:100% auto}

.event_wrap .s_elem1{top:0;left:10%;animation-name:s_elem1;animation-direction:alternate;width:42px;height:45px;background:url(../img/animate/s_elem1.png);background-size:100% auto}
.event_wrap .s_elem2{top:0;left:25.833333%;animation-name:s_elem2;animation-direction:alternate;width:28px;height:25px;background:url(../img/animate/s_elem2.png);background-size:100% auto}
.event_wrap .s_elem3{top:208px;left:82.5%;animation-name:s_elem1;animation-direction:alternate;width:25px;height:22px;background:url(../img/animate/s_elem3.png);background-size:100% auto}
.event_wrap .s_elem4{top:0;left:10%;animation-name:s_elem3;animation-direction:alternate;width:23px;height:26px;background:url(../img/animate/s_elem4.png);background-size:100% auto}
.event_wrap .s_elem5{top:15px;left:86.1111111%;animation-name:s_elem3;animation-direction:alternate;width:34px;height:38px;background:url(../img/animate/s_elem5.png);background-size:100% auto}
.event_wrap .s_elem6{top:145px;left:0.555555%;animation-name:s_elem1;animation-direction:alternate;width:41px;height:39px;background:url(../img/animate/s_elem6.png);background-size:100% auto}
