@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:20%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:50%;height:50%}
.event_wrap .evt_tab_wrap li:first-child{width:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;left:25%;width:50%;padding-top:11.5%;border:0}
.event_wrap .btn_apply{top:195.5vw;padding:11.5% 0 0}
.event_wrap .btn_lnk1{top:58%;left:34%;width:30%}
.event_wrap .btn_lnk2{top:53.55%}
.event_wrap .btn_lnk3{top:92%}
.event_wrap .btn_lnk4{top:81.3%}
.event_wrap .btn_lypop{top:82%;left:auto;right:6%;width:11%;height:5.5%}

/* notice */
.event_wrap .evt_notice{padding:20px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}


/* button template */
.mobile .fb .event .event__actions__wrapper{position:relative;padding:0 25.6944444vw}
.mobile .fb .event .event__actions__wrapper .event__btn__participation{height:auto;padding-top:11.111111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_grand_open/img/p_img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}

.mobile .fb .event .reply__join-btn{position:relative;padding:0 25.6944444vw}
.mobile .fb .event .reply__join-btn button{height:auto;padding-top:11.111111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_grand_open/img/p_img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:88.8888888vw;vertical-align:middle;z-index:510}
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;margin:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:13vw;height:13vw;border:none;background:none}
.layer_popup_wrap .items_list{position:absolute;top:36%;left:6%;width:88%;height:57%;font-size:0}
.layer_popup_wrap .items_list li{display:inline-block;width:33.333334%;height:50%}
.layer_popup_wrap .items_list a{display:block;width:100%;height:100%}

/* comment area del */
.event_wrap .p_evt_sec6{margin-top:50px}
.event_wrap .p_evt_sec7{margin-top:50px}
.event_wrap .p_evt_sec8{margin-top:50px}

/* banner */
.event_wrap .btn_lnk5{top:0;left:0;width:100%;height:100%;padding:0}

.event_wrap .btn_lnk6{top:4%;left:0;width:100%;height:28%;padding:0}
.event_wrap .btn_lnk7{top:33.7%;left:4%;width:92%;height:29.5%;padding:0}
.event_wrap .btn_lnk8{top:64.7%;left:4%;width:92%;height:29.5%;padding:0}
.event_wrap .btn_lnk9{top:15.7%;left:4%;width:92%;height:74.5%;padding:0}
