@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .detail-wrapper img{max-width:none}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{margin:0 -376px auto;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:144px;font-size:0}
/* .event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:25%;height:100%} */
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.3333%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_apply{top:820px;left:35%;width:30%;padding-top:6.73%}
.event_wrap .btn_lnk1{top:104px;left:35%;width:30%;padding-top:10%}
.event_wrap .btn_lnk2,.event_wrap .btn_lnk3,.event_wrap .btn_lnk4{top:470px;left:0;width:30%;padding-top:6.73%}
.event_wrap .btn_lypop{top:597px;right:1.4%;width:4%;height:5.5%}

/* notice */
.event_wrap .evt_notice{padding:40px 0 120px;background:#fff;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button template */
.desktop .fb__event .event .event__actions__wrapper{position:relative;padding:0;background:#fff}
.desktop .fb__event .event .event__actions__wrapper:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:1920px;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .event .event__actions__wrapper .event__btn__participation{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_grand_open/img/p_img_btn.png) 0 0 no-repeat}

.desktop .fb__event .fb__event-comment__join-btn{position:relative;padding:0;background:#fff}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:1920px;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_grand_open/img/p_img_btn.png) 0 0 no-repeat}

/* lypop */
#lypop1 .img img{width:100%;margin:0 auto}
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:432px;vertical-align:middle;z-index:510}
.layer_popup_wrap .img{display:block;width:100%}
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;margin:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:60px;height:60px;border:none;background:none}
.layer_popup_wrap .items_list{position:absolute;top:36%;left:6%;width:88%;height:57%;font-size:0}
.layer_popup_wrap .items_list li{display:inline-block;width:33.333334%;height:50%}
.layer_popup_wrap .items_list a{display:block;width:100%;height:100%}

/* comment area del */
.event_wrap .p_evt_sec4{padding-bottom:100px}
/* banner */
.event_wrap .btn_lnk5{top:2%;left:0;width:100%;height:97%}

.event_wrap .btn_lnk6{top:4%;left:0;width:100%;height:28%}
.event_wrap .btn_lnk7{top:37%;left:0;width:100%;height:26.5%}
.event_wrap .btn_lnk8{top:65%;left:0;width:100%;height:27%}

.event_wrap .btn_lnk9{top:20%;left:0;width:48%;height:61%}
