@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{margin:0 -376px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0}

/* .event_wrap .evt_wide_wrap:after{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;content:''} */

.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:144px;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* 좌우 화면밖으로 움직임 */


/* 

1)  축소/오퍼->원래사이즈->좌우 

*/

@keyframes elem1{
  0%{
    opacity:.3;
    transform:rotate(10deg) translate3d(0,0,0);
  }
  50%{
    opacity:1;
    transform:rotate(30deg) translate3d(100px,100px,0);
  }
  100%{
    opacity:.5;
    transform:rotate(45deg) translate3d(200px, 200px,0);
  }
}

@keyframes elem2{
  0%{
    opacity:.3;
    transform:rotate(10deg) translate3d(0,0,0);
  }
  50%{
    opacity:1;
    transform:rotate(15deg) translate3d(50px,50px,0);
  }
  100%{
    opacity:.5;
    transform:rotate(10deg) translate3d(100px, 100px,0);
  }
}

@keyframes elem3{
  0%{
    opacity:1;
    transform:skew(10deg) translate3d(0,0,0);
  }
  100%{
    opacity:0;
    transform:rotate(45deg) translate3d(50px,100px,100px);
  }
}
/* @keyframes elem4{
  0%{
    transform:skew(10deg) translate3d(0,0,0);
  }
  50%{
    transform:skew(50deg) translate3d(200px,400px,0);
  }
  100%{
    opacity:0;
    transform:skew(-10deg) translate3d(0,0,0);
  }
} */

@keyframes elem4{
  0%{
    transform:matrix(1.00,0.00,0.00,1.00,0,0);
  }

  50%{
    opacity:.5;
    transform:matrix(0.82,0.11,-0.28,0.96,50,50);
  }

  100%{
    opacity:0;
    /* transform:matrix(0.94,0.52,-0.41,0.86,100,150); */
    transform:matrix(-0.67,-0.07,-0.28,0.96,100,100);

  }
}
@keyframes elem5{
  0%{
    transform:matrix(1.00,0.00,0.00,1.00,0,0);
  }

  75%{
    opacity:.5;
    /* transform:matrix(0.82,0.11,-0.28,0.96,50,50); */
    transform:matrix(1.08,-0.05,-0.33,0.95,-25,150);
  }

  100%{
    opacity:0;
    transform:matrix(1.02,-0.46,0.78,0.63,-30,200);
  }
}
@keyframes elem7{
  0%{
    transform:matrix(1.00,0.00,0.00,1.00,0,0);
  }
  100%{
    opacity:0.3;
    transform:matrix(-0.16,0.99,-0.99,-0.16,150,300);
  }
}


@keyframes s_elem1{
  0%{
    transform:rotate(0) translate3d(0,0,0);
  }
  50%{
    transform:rotate(5deg) translate3d(10px,10px,10px);
  }
  100%{
    transform:rotate(0) translate3d(15px,15px,15px);
  }
}

@keyframes s_elem2{
  0%{
    transform:skew(0) scale(1.25) translate(0,-10px);
  }
  100%{
    transform:rotate(10deg) scale(1) translate(-20px,0px)
  }
}

@keyframes s_elem3{
0%{
  transform:rotate(0) translate3d(0,0,0);
}
100%{
  transform:rotate(0) scale(.85) translate3d(10px,10px,10px);
}
}
/* .event_wrap .cloud_ani{position:absolute;top:95px;left:10px;z-index:1;animation:cloud_ani 2s linear infinite alternate} */
/* .event_wrap .ex{position:absolute;top:95px;left:1020px;width:25px;height:28px;z-index:1;animation:ex 1s linear infinite } */
.event_wrap .ani{position:absolute;z-index:1;animation-duration:1.5s;animation-iteration-count:infinite;animation-timing-function:linear;animation-fill-mode:none;animation-play-state:running;}
.event_wrap .elem1{top:68px;left:1012px;animation-name:elem1;width:25px;height:28px;background:url(../img/animate/elem1.png)}
.event_wrap .elem2{top:211px;left:1117px;animation-name:elem2;width:39px;height:45px;background:url(../img/animate/elem2.png)}
.event_wrap .elem3{top:417px;left:1125px;animation-name:elem3;animation-duration:2s;animation-timing-function:cubic-bezier(0.26, 0.75, 1, 1);width:28px;height:32px;background:url(../img/animate/elem3.png)}
.event_wrap .elem4{top:49px;left:1489px;animation-name:elem4;width:30px;height:28px;background:url(../img/animate/elem4.png)}
.event_wrap .elem5{top:24px;left:1664px;animation-name:elem2;width:28px;height:27px;background:url(../img/animate/elem5.png)} 
.event_wrap .elem6{top:324px;left:1534px;animation-name:elem5;width:40px;height:50px;background:url(../img/animate/elem6.png)}
.event_wrap .elem7{top:387px;left:1636px;animation-name:elem7;animation-duration:2s;width:33px;height:28px;background:url(../img/animate/elem7.png)}

.event_wrap .s_elem1{top:286px;left:22px;animation-name:s_elem1;animation-direction:alternate;width:83px;height:89px;background:url(../img/animate/s_elem1.png)}
.event_wrap .s_elem2{top:0;left:214px;animation-name:s_elem2;animation-direction:alternate;width:55px;height:50px;background:url(../img/animate/s_elem2.png)}
.event_wrap .s_elem3{top:0;left:880px;animation-name:s_elem1;animation-direction:alternate;width:100px;height:110px;background:url(../img/animate/s_elem3.png)}
.event_wrap .s_elem4{top:0;left:1593px;animation-name:s_elem3;animation-direction:alternate;width:56px;height:51px;background:url(../img/animate/s_elem4.png)}
.event_wrap .s_elem5{top:175px;left:1766px;animation-name:s_elem3;animation-direction:alternate;width:67px;height:75px;background:url(../img/animate/s_elem5.png)}
.event_wrap .s_elem6{top:709px;left:1830px;animation-name:s_elem1;animation-direction:alternate;width:81px;height:78px;background:url(../img/animate/s_elem6.png)}

/* .event_wrap .ex2{position:absolute;top:214px;left:1120px;z-index:1;animation-name:ex2;animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);} */

/* notice */
.event_wrap .evt_notice{padding:40px 0 120px;background:#fff;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}


