@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .video_wrap{position:absolute;top:22.596964%;right:9.70588235%;left:10.2941176%;bottom:0}
.event_wrap .video_wrap iframe{width:100%;height:100%}

.event_wrap .prd_list{position:absolute;top:31.903945%;right:6.96078431%;left:6.6666667%;bottom:17.495711%;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:33.333334%;height:100%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{padding:40px 44px;background:#d7d1d1;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:22px;color:#000;letter-spacing:-2px}
.event_wrap .notice_list{margin-top:7px}
.event_wrap .notice_list li{position:relative;margin-top:10px;padding-left:14px;font-size:22px;font-weight:500;color:#000;letter-spacing:-2px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:0;width:3px;height:3px;background-color:#000;content:''}