@charset "utf-8";

/* common */
.event_wrap{max-width:720px;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{position:relative;max-width:720px;margin:0 auto}

.event_wrap .video_wrap{position:absolute;top:22.8758169%;right:6.25%;left:6.25%;bottom:0}
.event_wrap .video_wrap iframe{width:100%;height:100%}

.event_wrap .prd_list{position:absolute;top:7.903945%;right:6.96078431%;left:6.6666667%;bottom:3.495711%;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:100%;height:33.333334%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{padding:22px 15px;background:#d7d1d1;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:13px;color:#000;letter-spacing:-2px}
.event_wrap .notice_list{margin-top:4px}
.event_wrap .notice_list li{position:relative;margin-top:6px;padding-left:7px;font-size:12px;font-weight:500;color:#000;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:0;width:2px;height:2px;background-color:#000;content:''}
