@charset "utf-8";


/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 auto;vertical-align:top}
.event_wrap .evt_section .product_img img{margin:0}

.event_wrap .items_list{position:absolute;top:22%;left:17%;width:66%;height:72%;font-size:0}
.event_wrap .items_list li{display:inline-block;width:50%;height:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:50px 40px 100px;background:#7bcb12;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{position:relative;max-width:1168px;width:100%;margin:0 auto;padding:0;background:#3b0658;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202110/1007_5mix_salad/img/p_btn_apply.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
