@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav{padding-top:80px}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:80px}

/* notice */
.event_wrap .p_evt_noti{margin-top:80px;background-color:#f5f5f5}

/* goods_list */
.event_wrap .goods_list_wrap{position:absolute;top:320px;left:0;right:0;z-index:10;text-align:center;}
.event_wrap .goods_list{font-size:0}
.event_wrap .goods_list li{display:inline-block;width:320px;height:430px;margin:0 10px}
.event_wrap .goods_list li:nth-child(n+4){margin-top:83px}
.event_wrap .goods_list li a{display:block;width:100%;height:100%}
