@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

@-webkit-keyframes move {0% {width: 0;} 100% {visibility: visible; }}
@keyframes move {0% {width: 0;} 100% {visibility: visible; }}

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/bg_tit_l.jpg) 0 0 repeat-y}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/bg_tit_r.jpg) 0 0 repeat-y}

.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{min-height:1776px;background:#fac560}
.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f5ebda}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#f5ebda}
.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after,.event_wrap .p_evt_sec4{background:#fbf6ec}
.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:#fac560}
.event_wrap .p_evt_sec5 .evt_notice{background:#fac560}

.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:19%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .graph_wrap{}
.event_wrap .graph_wrap .graph_title{font-size:24px;font-weight:400;color:#fff;text-align:center;line-height:42px}
.event_wrap .graph_wrap .percent,
.event_wrap .graph_wrap .state{display:inline-block;margin-top:-10px;font-size:40px;font-weight:700;color:#fff;line-height:42px;vertical-align:middle}
.event_wrap .graph_wrap .graph_area{display:block;height:38px;width:788px;margin:20px auto 0;padding:0 10px;background:#fff;border-radius:100px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.event_wrap .graph_wrap .inner{padding:0 10px}
.event_wrap .graph_wrap .bar{display:inline-block;height:20px;margin:9px 0;background:#df3d45;border-radius:50px;-webkit-animation:4s move ;animation: 4s move}
.event_wrap .graph_wrap .btn_wrap{position:relative;margin-top:40px}
.event_wrap .graph_wrap .btn_wrap .btn_confirm{position:absolute;top:0;left:250px;width:50%;height:100%}

.event_wrap .notice_list{margin:100px 0 82px;padding:30px 0;border-top:4px solid #8d6e33;border-bottom:1px solid #8d6e33}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:11px;font-size:17px;color:#8d6e33;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-weight:bold}
.event_wrap .notice_list li em .point{color:#df3d45}
.event_wrap .notice_list li .point{font-weight:bold;color:#df3d45}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#8d6e33;content:''}

.event_wrap .pulsbox_wrap{position:relative}
.event_wrap .ico_finish{display:none}
.event_wrap .finish .ico_finish{display:block;position:absolute;top:20.9%;left:19.6%;width:623px;height:623px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/p_pulsbox_finish.png) 0 0 no-repeat;font-size:0;color:transparent}

.event_wrap .goods_link_wrap{position:absolute;top:38%;right:11%;left:11%;bottom:0;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .goods_link_wrap li{display:inline-block;width:33.3333%;height:100%}
.event_wrap .goods_link_wrap a{display:block;width:100%;height:100%}

.event_wrap .prd_item_wrap{position:relative}
.event_wrap .ico_soldout{display:none}
.event_wrap .item_soldout .ico_soldout{display:block;position:absolute;left:0;top:0;right:0;bottom:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/p_prd_soldout.png) 0 0 no-repeat;font-size:0;color:transparent}
/* .prd_item_wrap.item_soldout .ico_soldout{position:absolute;left:119px;bottom:199px;width:424px;height:297px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/p_prd_soldout.png) 0 0 no-repeat;font-size:0;color:transparent} */
.event_wrap .btn_coupon{position:absolute;right:17%;bottom:258px;width:29%;height:45px}
.event_wrap .btn_buy{position:absolute;right:17%;bottom:208px;width:29%;height:45px}

.event_wrap .evt_prd_wrap{max-width:788px;margin:0 auto 60px}
.event_wrap .evt_prd_wrap .item_list{overflow:hidden}
.event_wrap .item_list li{float:left;width:182px;margin:0 0 70px 20px}
.event_wrap .item_list li:nth-child(4n+1){margin:0}
.event_wrap .item_list a{display:block;width:100%;height:100%}
.event_wrap .item_list .btn_cart{display:block;width:100%;height:32px;margin-top:12px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/btn_cart.png) 0 0 no-repeat;}
.event_wrap .item_list .btn_cart:hover{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/btn_cart_on.png) 0 0 no-repeat}

.event_wrap .evt_enroll_wrap{position:absolute;top:31%;right:11.5%;left:11.5%;bottom:27%;font-size:0}
.event_wrap .input_radio_wrap{display:inline-block;position:relative;width:33.333%;height:100%;font-size:0;}
.event_wrap .input_radio_wrap:first-child{margin-left:0;}
.event_wrap .input_radio{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.event_wrap .input_radio+label{display:inline-block;position:relative;width:100%;padding-top:238px;font-size:0;color:transparent;text-align:center;cursor:pointer;}
/* .event_wrap .input_radio:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_radio+label:before{display:inline-block;width:28px;height:28px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/sp_radio.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_radio:checked+label:before{background-position:0 102%}


.event_wrap .btn_apply{left:35%;bottom:0;width:30%;height:9%}
.event_wrap .list{margin:55px 116px 120px;padding:0;border:0}
.event_wrap .list li{color:#222}
.event_wrap .list li:before{background-color:#222}

/* [S]2019.05 common */
.event_wrap .review_wrap{max-width:788px;margin:0 auto}

.event_wrap .review_list > strong {
display: block;
padding-bottom: 16px;
border-bottom: 1px solid #000;
}
.event_wrap .review_list li {
position: relative;
padding: 17px 0 25px;
color: #000;
font-size: 17px;    
border-bottom: 1px solid #a9a9a9;
}
.event_wrap .review_list li span.name {
display: inline-block;
vertical-align: top;
}
.event_wrap .review_list li span.date {
display: inline-block;
vertical-align: top;
margin-left: 15px;
color: #a1a1a1;
}
.event_wrap .review_list li .accordion_wrap {
margin-top: 10px;
}
.event_wrap .review_list li .accordion_wrap .accordion_title {
display: block;
}
.event_wrap .review_list li .accordion_wrap .accordion_content {
display: none;
margin-top: 20px;
}
.event_wrap .review_list li .accordion_wrap .accordion_content .review_img {
margin-top: 20px;
}
.event_wrap .review_list li .accordion_wrap .accordion_content .review_img img {
width: 120px;
height: 100px;
cursor: pointer;
}
.event_wrap .review_list .has_file {
display: inline-block;
vertical-align: top;
width: 19px;
height: 16px;
margin-top: 5px;
margin-left: 10px;
background: url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/ico_file.png) no-repeat 0 0;
}
.event_wrap .review_list .accordion_title em {
display: inline-block;
vertical-align: top;
margin-left: 10px;
color: #e7686e;
cursor: pointer;
}
.event_wrap .review_list li p {
line-height: 25px;
}
.event_wrap .review_list li button {
position: absolute;
top: 20px;
right: 10px;
background: none;
}
.event_wrap .review_list li .accordion_wrap.show .accordion_content {
display: block;
}
/* [E]2019.05 common */

/* pagination */
.event_wrap .paginate{margin:22px 0 100px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;width:30px;height:30px;margin:0 10px;font-weight:400;font-size:18px;color:#457016;line-height:30px;vertical-align:middle}
.event_wrap .paginate .num{position:relative}
.event_wrap .paginate .on{display:block;color:#e7686e}
.event_wrap .paginate .sp{display:inline-block;width:6px;height:10px;margin-top:-5px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/sp_paginate.png) 0 0 no-repeat;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-left:14px}
.event_wrap .paginate .sp_next{margin-right:14px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}


.layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:697px;margin:0 10px;background:#ff8484;vertical-align:middle;letter-spacing:-.05px;z-index:510}

.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:42px;height:42px;}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:57px 80px 54px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;font-size:36px;color:#fff;line-height:1.4}
.layer_popup_contents .popup_txt{display:block;margin:0;font-size:24px;color:#fff;text-align:center;line-height:1.4;}
.layer_popup_contents .popup_desc{margin-top:10px;font-size:18px;color:#fff}
 
.layer_popup_wrap .tbl_wrap{margin-top:0}
.layer_popup_wrap table{width:100%}
.layer_popup_wrap table th{padding:5px 0;color:#fff;font-size:17px;text-align:left;vertical-align:middle}
.layer_popup_wrap table td{padding:5px 0;}
.layer_popup_wrap table input[type="text"]{width:100%;padding:8px 10px;border:1px solid #fff;box-sizing:border-box}
.layer_popup_wrap table .input_wrap{text-align:left}
.layer_popup_wrap table .input_wrap input{margin:5px 0}
.layer_popup_wrap table .input_wrap .inp_txt{max-width:114px;margin-right:10px}
.layer_popup_wrap .notice{margin-top:20px;font-size:18px;color:#fff;text-align:center}

.ly_evt_type .layer_popup_contents .layer_popup_content{padding:40px 80px}
.ly_evt_type .layer_inner_wrap{background:#ff8484 url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/bg_lypop.png) 0 0 no-repeat}
.ly_evt_type .notice{margin:0;text-align:left}
.ly_evt_type .popup_txt{margin-top:22px}
.ly_evt_type .layer_popup_contents .popup_desc{font-size:16px;font-weight:400}
.ly_evt_type .ly_info_wrap{margin-top:30px}
/* .ly_evt_type .ly_info_wrap{overflow:hidden;overflow-y:auto;max-height:290px;margin-top:10px} */

.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:186px;height:52px;margin:0 5px;border:1px solid #fff;background:#fff;font-size:22px;color:#ff8484;vertical-align:middle;line-height:52px;border-radius:30px;-webkit-border-radius:30px;}
.layer_popup_wrap .btn_area a.btn_cancel{background:#ff8484;color:#fff}

.layer_popup_wrap .inner{margin-top:20px;padding:38px 40px;border-top:4px solid #fff;border-bottom:1px solid #fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .inner li{position:relative;font-size:20px;color:#fff;text-align:left}
.layer_popup_wrap .inner li strong{position:absolute;top:0;left:0;width:110px;font-weight:700}
.layer_popup_wrap .inner li p{padding-left:110px;font-weight:500}

.ly_evt_type2{background:#fbf6ec}
.ly_evt_type2 .layer_inner_wrap{background:#fbf6ec}
.ly_evt_type2 .popup_tit{color:#333}
.ly_evt_type2 .popup_txt{display:block;margin:5px 0 10px;font-size:17px;color:#333}
.ly_evt_type2 table th{color:#333}
.ly_evt_type2 table th .require{display:block;font-size:15px;font-weight:500;color:#ff8484}
.ly_evt_type2 table input[type="text"]{border:1px solid #333}

.ly_evt_type2 .inp_textarea{width:100%;height:190px;padding:7px 13px;border:1px solid #333;box-sizing:border-box;-webkit-box-sizing:border-box;resize:none}
.ly_evt_type2 .file_wrap{font-size:0}
.ly_evt_type2 .file_wrap label{display:inline-block;width:70px;height:32px;margin-left:2px;background-color:#908d88;font-size:18px;color:#fff;vertical-align:middle;line-height:32px;cursor:pointer}
.ly_evt_type2 .file_wrap input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.ly_evt_type2 .file_wrap .file_upload{display:inline-block;width:64%;padding:5px 10px;font-size:18px;vertical-align:middle;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.ly_evt_type2 .file_wrap .btn_delete{display:inline-block;width:70px;height:32px;margin-left:2px;border:1px solid #333;background:#fff;font-size:18px;color:#333;vertical-align:middle;line-height:32px;box-sizing:border-box;-webkit-box-sizing:border-box}
.ly_evt_type2 .btn_area .btn_save{background:#ff8484;color:#fff}
.ly_evt_type2 .btn_area a.btn_cancel{border:1px solid #ff8484;background:#fff;color:#ff8484}