@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/bg_tit_l.jpg) 0 0 repeat-y}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/bg_tit_r.jpg) 0 0 repeat-y}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#fac560}
.event_wrap .p_evt_sec5 .evt_notice{background:#fac560}
.event_wrap .notice_list{margin:100px 0 82px;padding:30px 0;border-top:4px solid #8d6e33;border-bottom:1px solid #8d6e33}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:11px;font-size:17px;color:#8d6e33;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-weight:bold}
.event_wrap .notice_list li em .point{color:#df3d45}
.event_wrap .notice_list li .point{font-weight:bold;color:#df3d45}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#8d6e33;content:''}