@charset "utf-8";

/* @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css'); */

@-webkit-keyframes move {0% {width: 0;} 100% {visibility: visible; }}
@keyframes move {0% {width: 0;} 100% {visibility: visible; }}

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:19%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .graph_wrap{padding:0 2.2222%;background:#fac560}
.event_wrap .graph_wrap .graph_title{font-size:14px;font-weight:400;color:#fff;text-align:center;line-height:32px}
.event_wrap .graph_wrap .percent,
.event_wrap .graph_wrap .state{display:inline-block;margin-top:-5px;font-size:25px;font-weight:700;color:#fff;line-height:32px;vertical-align:middle}
.event_wrap .graph_wrap .graph_area{display:block;height:32px;width:100%;margin:9px auto 0;padding:0 2.222%;background:#fff;border-radius:100px;box-sizing:border-box;-webkit-box-sizing:border-box;}
.event_wrap .graph_wrap .inner{padding:0 10px}
.event_wrap .graph_wrap .bar{display:inline-block;height:20px;margin:6px 0;background:#df3d45;border-radius:50px;-webkit-animation:4s move;animation: 4s move}
.event_wrap .graph_wrap .btn_wrap{position:relative}
.event_wrap .graph_wrap .btn_wrap .btn_confirm{position:absolute;top:16%;left:0;width:100%;height:36%}

.event_wrap .evt_notice{padding:0 2.2222%;background:#fac560}
.event_wrap .notice_list{margin-bottom:67px;padding:23px 0;border-top:2px solid #8d6e33;border-bottom:2px solid #8d6e33}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:11px;font-size:12px;color:#8d6e33;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-style:normal;font-weight:bold}
.event_wrap .notice_list li em .point{color:#df3d45}
.event_wrap .notice_list li .point{font-weight:bold;color:#df3d45}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:3px;width:2px;height:2px;background-color:#8d6e33;content:''}


.event_wrap .pulsbox_wrap{position:relative}
.event_wrap .ico_finish{display:none}
.event_wrap .finish .ico_finish{display:block;position:absolute;top:27.516339869%;right:7.77778%;left:8.055555555%;bottom:32.8758169%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/pulsbox_finish.png) 0 0 no-repeat;font-size:0;color:transparent;background-size:100% auto}

.event_wrap .goods_link_wrap{position:absolute;top:10%;right:11%;left:11%;bottom:0;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .goods_link_wrap li{display:inline-block;width:100%;height:33.33%}
.event_wrap .goods_link_wrap a{display:block;width:100%;height:100%}

.event_wrap .prd_item_wrap{position:relative}
.event_wrap .ico_soldout{display:none}
.event_wrap .item_soldout .ico_soldout{display:block;position:absolute;left:0;top:0;right:0;bottom:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/prd_soldout.png) 0 0 no-repeat;font-size:0;color:transparent;background-size:100% auto}

/* .prd_item_wrap.item_soldout .ico_soldout{position:absolute;top:0;right:0;left:0;bottom:64.221824%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/prd_soldout.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent} */
.event_wrap .btn_coupon{position:absolute;left:0;bottom:22%;width:100%;height:4%}
.event_wrap .btn_buy{position:absolute;left:0;bottom:18%;width:100%;height:4%}

.event_wrap .evt_prd_wrap{padding:0 4.444% 53px;background:#f5ebda;box-sizing:border-box;}
.event_wrap .evt_prd_wrap .item_list{overflow:hidden;font-size:0}
.event_wrap .item_list li{display:inline-block;width:48.4756%;margin:0 0 24px 2.7778%}
.event_wrap .item_list li:nth-child(2n+1){margin-left:0}
.event_wrap .item_list a{display:block;width:100%;height:100%}
.event_wrap .item_list .btn_cart{display:block;width:100%;padding-top:18.1%;margin-top:6px;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/btn_cart.png) 0 0 no-repeat;background-size:100% auto}

.event_wrap .btn_apply{left:0;bottom:0;width:100%;height:6%}
.event_wrap .evt_notice.list{padding:44px 4.4444% 0;background:#fbf6ec}
.event_wrap .list{margin:0 auto;padding:15px;border:0}
.event_wrap .list li{color:#222}
.event_wrap .list li:before{background-color:#222}

.event_wrap .evt_enroll_wrap{position:absolute;top:31%;right:4%;left:4%;bottom:33%;font-size:0}
.event_wrap .input_radio_wrap{display:inline-block;position:relative;width:33.333%;height:100%;font-size:0;}
.event_wrap .input_radio_wrap:first-child{margin-left:0;}
.event_wrap .input_radio{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.event_wrap .input_radio+label{display:inline-block;position:relative;width:100%;padding-top:175%;font-size:0;color:transparent;text-align:center;cursor:pointer;}
/* .event_wrap .input_radio:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_radio+label:before{display:inline-block;width:14px;height:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/sp_radio.png) 0 0 no-repeat;background-size:100% auto;vertical-align:top;content:''}
.event_wrap .input_radio:checked+label:before{background-position:0 100%}

/* [S]2019.05 common */

/* Review */
.event_wrap .review_wrap {padding:46px 4.4444%;background:#fbf6ec}
.event_wrap .review_form {
position:relative;
height: 90px;
margin-bottom: 45px;
padding-right: 108px;
border: 2px solid #a1a1a1;
border-radius: 2px;
}
.event_wrap .review_form textarea {
width: 100%;
height: 86px;
padding: 10px;
font-size: 17px;
border: 0px;
outline: 0px;
resize: none
}
.event_wrap .review_form input {
position: absolute;
top: 0px;
right: 0px;
width: 108px;
height: 86px;
text-indent: -999px;
background: url('https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/btn_review.gif') no-repeat 0 0;
box-shadow: none;
border: 0px;
cursor: pointer;
}
.event_wrap .review_list > strong {
display: block;
padding-bottom: 16px;
border-bottom: 1px solid #000;
}
.event_wrap .review_list > strong img {
    width: 72px;
}
.event_wrap .review_list li {
position: relative;
padding: 15px 0 18px;
color: #000;
font-size: 14px;
border-bottom: 1px solid #a9a9a9;
}
.event_wrap .review_list li span.name {
display: inline-block;
vertical-align: top;
}
.event_wrap .review_list li span.date {
display: inline-block;
vertical-align: top;
margin-left: 15px;
color: #a1a1a1;
}
.event_wrap .review_list li .accordion_wrap {
margin-top: 5px;
}
.event_wrap .review_list li .accordion_wrap .accordion_title {
display: block;
}
.event_wrap .review_list li .accordion_wrap .accordion_content {
display: none;
margin-top: 10px;
}
.event_wrap .review_list li .accordion_wrap .accordion_content .review_img {
margin-top: 10px;
}
.event_wrap .review_list li .accordion_wrap .accordion_content .review_img img {
width: 120px;
height: 100px;
cursor: pointer;
}
.event_wrap .review_list .has_file {
display: inline-block;
vertical-align: top;
width: 19px;
height: 16px;
margin-top: 2px;
margin-left: 5px;
background: url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/ico_file.png) no-repeat 0 0;
}
.event_wrap .review_list .accordion_title em {
display: inline-block;
vertical-align: top;
margin-left: 5px;
color: #e7686e;
cursor: pointer;
}
.event_wrap .review_list li button {
position: absolute;
top: 17px;
right: 4px;
background: none;
margin: 0px;
padding: 0px;
border: 0;
}
.event_wrap .review_list li button img {
width: 17px;
}
.event_wrap .review_list li .accordion_wrap.show .accordion_content {
display: block;
}

/* [E]2019.05 common */
  

/* pagination */
.event_wrap .paginate{margin-top:10px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;width:26px;height:26px;margin:0 10px;font-weight:400;font-size:16px;color:#457016;line-height:24px;vertical-align:middle}
.event_wrap .paginate .num{position:relative}
.event_wrap .paginate .on{display:block;color:#e7686e}
.event_wrap .paginate .sp{display:inline-block;width:6px;height:10px;margin-top:-2px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202005/0508_36th_anniversary/img/sp_paginate.png) 0 0 no-repeat;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-left:14px}
.event_wrap .paginate .sp_next{margin-right:14px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}
/* //pagination */


.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0;background:#ff8484;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:-46px;right:0;z-index:120;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:30px;height:30px}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:15px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;font-size:22px;color:#fff;line-height:1.4}
.layer_popup_contents .popup_txt{color:#fff}
.layer_popup_contents .popup_txt .point{display:block;font-size:16px;font-weight:600;color:#333}
.layer_popup_contents .popup_desc{margin-top:10px;font-size:12px;color:#fff}
.layer_popup_contents .popup_img{display:block;margin-top:10px}
.layer_popup_contents .popup_img img{width:100%}

/* .ly_evt_type .ly_info_wrap{overflow:hidden;overflow-y:auto;max-height:132px} */

.layer_popup_wrap .tbl_wrap{margin-top:10px}
.layer_popup_wrap table{width:100%}
.layer_popup_wrap table th{padding:5px 0;color:#fff;font-size:13px;text-align:left;vertical-align:middle}
.layer_popup_wrap table td{padding:5px 0;}
.layer_popup_wrap table input[type="text"]{width:100%;padding:6px 5px;border:1px solid #fff;box-sizing:border-box}
.layer_popup_wrap table .input_wrap{text-align:left}
.layer_popup_wrap table .input_wrap input{margin:5px 0}
.layer_popup_wrap table .input_wrap .inp_txt{max-width:98px;margin-right:5px}
.layer_popup_wrap table .input_wrap .img_btn{display:inline-block;max-width:98px;margin-top:5px}
.layer_popup_wrap table .input_wrap .img_btn img{width:100%}
.layer_popup_wrap .notice{margin-top:10px;font-size:12px;color:#fff;text-align:center}

.ly_evt_type .layer_inner_wrap{background:#ff8484}
.ly_evt_type .notice{margin:0;font-size:12px;text-align:left}
.ly_evt_type .ly_info_wrap{margin-top:20px}

.layer_popup_wrap .btn_area{margin-top:10px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:46%;height:40px;margin:0 5px;border:1px solid #fff;background:#fff;font-size:15px;color:#ff8484;vertical-align:middle;line-height:40px;border-radius:30px;-webkit-border-radius:30px;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .btn_area a.btn_cancel{background:#ff8484;color:#fff}

.layer_popup_wrap .inner{margin-top:20px;padding:19px 20px;border-top:4px solid #fff;border-bottom:1px solid #fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .inner li{position:relative;font-size:13px;color:#fff;text-align:left}
.layer_popup_wrap .inner li strong{position:absolute;top:0;left:0;width:80px;font-weight:700}
.layer_popup_wrap .inner li p{padding-left:80px;font-weight:400}

.ly_evt_type2{background:#fbf6ec}
.ly_evt_type2 .layer_inner_wrap{background:#fbf6ec}
.ly_evt_type2 .popup_tit{color:#333}
.ly_evt_type2 .popup_txt{display:block;margin:5px 0 10px;font-size:12px;color:#333}
.ly_evt_type2 table th{color:#333}
.ly_evt_type2 table th .require{display:block;font-size:11px;font-weight:500;color:#ff8484}
.ly_evt_type2 table input[type="text"]{border:1px solid #333}


.ly_evt_type2 .inp_textarea{width:100%;height:190px;padding:7px 13px;border:1px solid #333;box-sizing:border-box;-webkit-box-sizing:border-box;resize:none}
.ly_evt_type2 .file_wrap{font-size:0}
.ly_evt_type2 .file_wrap label{display:inline-block;width:42px;height:32px;margin-left:2px;background-color:#908d88;font-size:12px;color:#fff;vertical-align:middle;line-height:32px;cursor:pointer}
.ly_evt_type2 .file_wrap input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.ly_evt_type2 .file_wrap .file_upload{display:inline-block;width:56.5%;height:32px;font-size:12px;vertical-align:middle;background-color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;box-sizing:border-box;-webkit-box-sizing:border-box}
.ly_evt_type2 .file_wrap .btn_delete{display:inline-block;width:42px;height:32px;margin-left:2px;border:1px solid #333;background:#fff;font-size:12px;color:#333;vertical-align:middle;line-height:32px;box-sizing:border-box;-webkit-box-sizing:border-box}
.ly_evt_type2 .btn_area .btn_save{background:#ff8484;color:#fff}
.ly_evt_type2 .btn_area a.btn_cancel{border:1px solid #ff8484;background:#fff;color:#ff8484}