@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}
.event_wrap .evt_notice{padding:0 2.2222%;background:#fac560}
.event_wrap .notice_list{margin-bottom:67px;padding:23px 0;border-top:2px solid #8d6e33;border-bottom:2px solid #8d6e33}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:11px;font-size:12px;color:#8d6e33;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-style:normal;font-weight:bold}
.event_wrap .notice_list li em .point{color:#df3d45}
.event_wrap .notice_list li .point{font-weight:bold;color:#df3d45}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:3px;width:2px;height:2px;background-color:#8d6e33;content:''}
