@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.p_evt_sec1{background:#fffaea}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-584px 0}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:relative;display:flex;justify-content:center;flex-wrap:wrap;box-sizing:border-box}
.event_wrap .coupon_list li{height:100%;margin:0 20px 0 20px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-0.5px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

.event_wrap .coupon_item .coupon_brand{width:150px;height:50px}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat}
.event_wrap .coupon_item .coupon_brand .bi_orga{width:200px;background-position:-276px 0}

.event_wrap .coupon_desc{text-align:center;margin-top:20px}
.event_wrap .coupon_desc span{display:block;font-size:16px;margin-top:6px;letter-spacing:-0.2px}

/* notice */
.event_wrap .p_evt_noti{background:#fffaea}
.event_wrap .evt_notice{padding:100px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#898b49}
.event_wrap .noti2 .evt_notice{padding-top:0}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background-position:-24px 0}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap .noti2 .notice_list li{color:#fff !important}
.event_wrap .noti2 .notice_list li:before{background-color:#fff !important}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;min-width:1168px;width:100%;height:80px;margin:0 auto;padding:0;background:#898b49 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/p_btn_bg.jpg) 50% 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(134px);width:350px;height:80px;padding:0;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* animation */
.motion_box{position:absolute;top:0;right:0;left:0;width:1920px;height:600px;overflow:hidden}
.motion_box .object_txt{position:absolute;top:160px;left:419px;z-index:0}
.motion_box .motion1{position:absolute;top:160px;left:42px;width:130px;height:132px;background-image:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/object/object_txt2.png);background-repeat:no-repeat;animation:motion1 0.8s 0s ease-in-out both}
.motion_box .motion2{position:absolute;top:160px;left:42px;width:130px;height:132px;background-image:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/object/object_txt2.png);background-repeat:no-repeat;animation:motion2 0.8s 0s ease-in-out both}
.motion_box .object1{width:120px;animation-delay:0.1s}
.motion_box .object2{left:173px;background-position:-130px 0;animation-delay:0.8s}
.motion_box .object2_2{left:173px;background-position:-130px 0;animation-delay:1.5s}
.motion_box .object3{left:310px;background-position:-267px 0;animation-delay:2.2s}
.motion_box .object4{left:443px;background-position:-400px 0;animation-delay:2.9s}
.motion_box .object5{width:520px;left:42px;background-image:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/object/object_txt3.png);background-position:0 0;animation-delay:3.9s}
.motion_box .object6{width:400px;left:173px;background-position:-130px 0;animation-delay:4.9s}
.motion_box .object7{width:520px;left:42px;background-position:0 0;animation-delay:5.9s}

.motion_box .motion1.on{animation:motion1_2 0.8s 0s ease-in-out both} /* infinite */
.motion_box .motion1.on.object1{animation-delay:0.1s}
.motion_box .motion1.on.object2{animation-delay:0.8s}
.motion_box .motion1.on.object2_2{animation-delay:1.5s}
.motion_box .motion1.on.object3{animation-delay:2.2s}
.motion_box .motion1.on.object4{animation-delay:2.9s}
.motion_box .motion2.on{animation:motion2_2 0.8s 0s ease-in-out both}
.motion_box .motion2.on.object5{animation-delay:3.9s}
.motion_box .motion2.on.object6{animation-delay:4.9s}
.motion_box .motion2.on.object7{animation-delay:5.9s}

.motion_box .rotate{position:absolute;background-repeat:no-repeat;animation:rotate 5s 0s linear both infinite}
.motion_box .object8{top:234px;left:1042px;width:49px;height:46px;background-image:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/object/flower1.png)}
.motion_box .object9{top:420px;left:556px;width:57px;height:51px;background-image:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_earth_saving/img/object/flower2.png);animation-delay:1s}

@keyframes motion1 {
	0%, 100% {
        opacity: 0;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	50% {
        opacity: 1;
		transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
	}
}
@keyframes motion1_2 {
	0%, 100% {
        opacity: 0;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	50% {
        opacity: 1;
		transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
	}
}

@keyframes motion2 {
	0%, 100% {
        opacity: 0;
	}
	50% {
        opacity: 1;
	}
}
@keyframes motion2_2 {
	0%, 100% {
        opacity: 0;
	}
	50% {
        opacity: 1;
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
        		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
