<!DOCTYPE html>
<html lang="ko" class="windows desktop portrait">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/pc.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="fb">
    <main class="fb__event">
      <div class="promotion">
        <div class="promotion__content">
          <div class="event">
            <!-- 작업영역 -->
            <div class="templete_wrap">
              <div class="event_wrap">
                <link rel="stylesheet" type="text/css" href="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/css/p_evt.css" />
                <div class="evt_wide_wrap p_evt_tit">
                  <div class="evt_section">
                    <h1><img src="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/p_evt_tit.jpg" alt="반려동물의 건강과 행복을 위한 바른먹거리 아미오" /></h1>
                    <!-- 모션영상 -->
                    <div class="evt_mov">
                      <video autoplay="" muted="" playsinline="" loop="">
                        <source src="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/movie/p_visual.mp4" type="video/mp4" />
                      </video>
                    </div>
                    <!-- //모션영상 -->
                  </div>
                </div>
                <div class="evt_wide_wrap p_evt_sec1">
                  <div class="evt_section">
                    <h2><img src="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/p_evt_sec1.jpg" alt="반려동물의 건강과 행복을 위한 바른먹거리. 풀무원 아미오 풀무원이기에 까다롭지만, 반려동물 첨가물 원칙을 지킵니다." /></h2>
                  </div>
                </div>
                <div class="evt_wide_wrap p_evt_sec2">
                  <div class="evt_section">
                    <h2><img src="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/p_evt_sec2.jpg" alt="" /></h2>
                    <ul class="blind">
                      <li>자연담은 식단 - 자연이 주는 영양을 담은 가장 맛있는 레시피(자연담은 식단은 동물복지 농장에서 자란 생닭을 사용합니다)</li>
                      <li>건강담은 식단 - 수의사가 제안하는 기능별 건강케어(풀무원 아미오 제품은 수의내과 전문의가 레시피를 설계합니다.)</li>
                    </ul>
                  </div>
                </div>
                <div class="evt_wide_wrap p_evt_sec3">
                  <div class="evt_section">
                    <h2><img src="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/p_evt_sec3.jpg" alt="아미오 대표상품 소개" /></h2>
                    <!-- 상품영역 -->
                    <ul class="product_list" id="eventList">
                      <li v-for="(item, index) in goodsList" :key="index">
                        <div class="inner" role="text">
                          <figure class="product_img">
                            <img :src="`https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/item/p_item${index+1}.jpg`" />
                          </figure>
                          <span class="product_info">
                            <span class="product_title" v-html="item.title"></span>
                            <span class="product_desc" v-html="item.desc"></span>
                          </span>
                          <span class="product_tag">
                            <span class="tag_dog" v-if="item.isDog"><span class="blind">dog</span></span>
                            <span class="tag_cat" v-if="item.isCat"><span class="blind">cat</span></span>
                          </span>
                        </div>
                      </li>
                    </ul>
                    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                    <script>
                      window.addEventListener('load', function () {
                        vueInit();
                      });
                      setTimeout(function () {
                        vueInit();
                      }, 500);

                      function vueInit() {
                        new Vue({
                          el: '#eventList',
                          data: {
                            goodsList: [
                              { title: '건강담은 식단<br><strong>관절케어</strong>', desc: '국내산 홍게(글루코사민), 깊은 바닷속<br>해조칼슘을 넣은 관절케어에 도움이 되는<br>건강한 식단', isDog: true, isCat: true },
                              { title: '자연담은 간식<br><strong>두부 너겟</strong>', desc: '내가 먹는 음식 그대로!<br>풀무원 두부 18.7%<br>고소하고 맛있는 비건 간식', isDog: true, isCat: false },
                              { title: '자연담은 영양식<br><strong>황태와 초록입홍합</strong>', desc: '전자레인지 전용 포장지로 간편하게<br>국내산 황태와 채소, 초록입 홍합으로 만든<br>영양만점 영양식', isDog: true, isCat: false },
                              { title: '자연담은 영양식<br><strong>캣 연어와 참치</strong>', desc: '전자레인지 전용 포장지로 간편하게<br>알레스카 생연어, 북태평양 참치, 크릴로 만든<br>영양만점 영양식', isDog: false, isCat: true },
                              { title: '건강담은 식단<br><strong>관절케어</strong>', desc: '국내산 홍게(글루코사민), 깊은 바닷속<br>해조칼슘을 넣은 관절케어에 도움이 되는<br>건강한 식단', isDog: true, isCat: false },
                            ],
                          },
                        });
                      }
                    </script>
                    <!-- //상품영역 -->

                    <!-- 상품영역 -->
                    <style>
                      .event_wrap .product_list2 {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: 40px;
                        box-sizing: border-box;
                        z-index: 20;
                      }
                      .event_wrap .product_list2 li {
                        width: 250px;
                        margin-right: 29px;
                        vertical-align: top;
                      }
                      .event_wrap .product_list2 a {
                        display: block;
                        width: 100%;
                        height: 100%;
                      }
                      .event_wrap .product_list2 .inner {
                        position: relative;
                        font-size: 0;
                      }

                      .event_wrap .product_img2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        width: 100%;
                        height: 250px;
                        background: #fff;
                      }
                      .event_wrap .product_img2 img {
                        height: 100%;
                        margin: 0 !important;
                      }
                      .event_wrap .product_info2 {
                        display: block;
                        padding-top: 20px;
                        margin-bottom: 56px;
                        box-sizing: border-box;
                      }
                      .event_wrap .product_title2 {
                        display: block;
                        font-size: 20px;
                        font-weight: 400;
                        color: #222;
                        line-height: 26px;
                        letter-spacing: -1px;
                        word-break: keep-all;
                        margin-bottom: 5px;
                      }
                      .event_wrap .percent {
                        display: inline-block;
                        margin-left: 8px;
                      }
                      .event_wrap .percent .num {
                        display: inline-block;
                        font-size: 24px;
                        font-weight: 600;
                        color: #ff7828;
                        font-family: 'Lato';
                      }
                      .event_wrap .percent .unit {
                        display: inline-block;
                        font-size: 24px;
                        font-weight: 600;
                        color: #ff7828;
                        font-family: 'Lato';
                      }
                      .event_wrap .original {
                        display: block;
                        margin: 15px 0 0 0;
                      }
                      .event_wrap .original del {
                        display: inline-block;
                        font-size: 18px;
                        color: #999;
                        letter-spacing: -0.6px;
                        font-family: 'Lato';
                      }
                      .event_wrap .sale {
                        display: inline-block;
                        margin-top: 3px;
                      }
                      .event_wrap .sale ins {
                        display: inline-block;
                        font-size: 24px;
                        font-weight: 600;
                        color: #222;
                        letter-spacing: -0.6px;
                        text-decoration: none;
                        font-family: 'Lato';
                      }
                      .event_wrap .sale .won {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                        color: #222;
                      }
                    </style>

                    <ul class="product_list2" id="goodsData">
                      <li v-for="(item, index) in itemList" :key="index">
                        <a :href="`https://shop.pulmuone.co.kr/shop/goodsView?goods=${item.code}`">
                          <div class="inner" role="text">
                            <figure class="product_img2">
                              <img :src="item.imgUrl" alt="" />
                            </figure>
                            <span class="product_info2">
                              <span class="product_title2" v-html="item.title"></span>
                              <span class="original">
                                <span class="blind">정상가</span>
                                <del>{{ item.original | numberFormat }}</del>
                              </span>
                              <span class="sale">
                                <span class="blind">행사가</span>
                                <ins>{{ item.sale | numberFormat }}</ins>
                                <span class="won">원</span>
                              </span>
                              <span class="percent">
                                <span class="blind">할인율</span>
                                <span class="num"> {{ ((item.original - item.sale) / item.original * 100) | numberFormat }} </span>
                                <span class="unit">%</span>
                              </span>
                            </span>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                    <script>
                      window.addEventListener('load', function () {
                        vueInit2();
                      });
                      setTimeout(function () {
                        vueInit2();
                      }, 500);

                      function vueInit2() {
                        var app = new Vue({
                          el: '#goodsData',
                          filters: {
                            numberFormat: (value, numFix) => {
                              value = parseFloat(value);
                              if (!value) return '0';
                              return value.toFixed(numFix).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ',');
                            },
                          },
                          data() {
                            return {
                              itemList: [
                                { code: '35157', title: '당도선별 옥산사과 1.4kg 내외', original: 14900, sale: 10900, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2023/01/02/640_DF8F83CA1E5F4C438E09.jpg' },
                                { code: '4368', title: '실속식재료 두콩달', original: 12480, sale: 8980, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2021/10/07/640_83E410F09FE84C459E9F.png' },
                                { code: '2213', title: '모짜렐라핫도그 80gx4개입', original: 8480, sale: 6980, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2023/03/07/640_54750791F0F147C4A518.jpg' },
                                { code: '2670', title: '국산 발아 들깨로 만든 들기름', original: 40600, sale: 24360, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2023/05/12/640_F487A648ECBA4E0E84F5.jpg' },
                                { code: '1870', title: '노엣지 꽉찬토핑피자<br>파이브치즈 376g', original: 9980, sale: 5980, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2022/09/20/640_101F94632E8540C798A3.jpg' },
                                { code: '4368', title: '실속식재료 두콩달', original: 12480, sale: 8980, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2021/10/07/640_83E410F09FE84C459E9F.png' },
                                { code: '2213', title: '모짜렐라핫도그 80gx4개입', original: 8480, sale: 6980, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2023/03/07/640_54750791F0F147C4A518.jpg' },
                                { code: '2670', title: '국산 발아 들깨로 만든 들기름', original: 40600, sale: 24360, imgUrl: 'https://shop-pulmuone.edge.naverncp.com/BOS/il/2023/05/12/640_F487A648ECBA4E0E84F5.jpg' },
                              ],
                            };
                          },
                        });
                      }
                    </script>
                    <!-- //상품영역 -->
                  </div>
                </div>
                <div class="evt_wide_wrap p_evt_sec4">
                  <div class="evt_section">
                    <h2><img src="https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202307/0701_amio_brand/img/p_evt_sec4.jpg" alt="아미오 고객 리얼 후기" /></h2>
                  </div>
                </div>
              </div>
            </div>
            <!-- //작업영역 -->
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
