@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* header */
.event_wrap .p_evt_header{background-color:#000}
.event_wrap .p_evt_header ul{display:flex}
.event_wrap .p_evt_header ul li{flex:1}
.event_wrap .p_evt_header ul li a{display:block;width:100%;padding:3.8889vw 0;font-size:3.6111vw;line-height:4.4444vw;letter-spacing:-0.1vw;font-weight:200;text-align:center;color:#979797;box-sizing:border-box}
.event_wrap .p_evt_header ul li.on a{color:#fff;font-weight:800}

/* nav */
.event_wrap .p_evt_nav .evt_section{background-color:#ececec}
.event_wrap .evt_nav_wrap{display:flex;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{width:50%}
.event_wrap .evt_nav_wrap li:nth-child(n+3){width:33.3333%;border-top:1px solid #dbdbdb;box-sizing:border-box}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;padding:3.75vw 0;font-size:3.6111vw;line-height:1;font-weight:600;color:#a7a7a7;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#000}

.event_wrap .p_evt_nav.is_fixed{padding-top:22.2222vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5;top:14.44444vw;left:0;right:0}

/* title */
.event_wrap .title{padding-top:13.8889vw;color:#333;box-sizing:border-box}
.event_wrap .title > h2{font-size:8.8889vw;line-height:1;font-weight:800;text-align:center;letter-spacing:-0.05vw}
.event_wrap .title > p{padding-top:2.7778vw;font-size:3.6111vw;line-height:1;font-weight:400;text-align:center;letter-spacing:-0.05vw;box-sizing:border-box}

/* coupon */
.event_wrap .coupon_list{margin-top:6.9444vw}
.event_wrap .coupon_list li:last-child{margin-bottom:0;}

/* page */
.event_wrap .p_evt_sec1 .coupon_list li{margin-bottom:0}
.event_wrap .p_evt_sec2{background-color:#f6f6f6}

.event_wrap .p_evt_sec3{padding-bottom:13.8889vw;background-color:#f5f5f5;box-sizing:border-box}
.event_wrap .p_evt_sec3 .sub_title{position:absolute;z-index:2;top:43.3333vw;left:6.9444vw;font-size:5.8333vw;line-height:1;font-weight:800;letter-spacing:-0.1vw}
.event_wrap .p_evt_sec3 .title{padding-bottom:10.2778vw;background-color:#fff;box-sizing:border-box}
.event_wrap .p_evt_sec3 .item_list{position:absolute;top:62.2222vw;left:33.3333vw}
.event_wrap .p_evt_sec3 .item_list li{font-size:3.6111vw;line-height:5vw}
.event_wrap .p_evt_sec3 .item_list li:not(:first-child){margin-top:8.8777vw}
.event_wrap .p_evt_sec3 .item_list li span{display:block;font-weight:800}

.event_wrap .p_evt_sec4{background-color:#fceabc}
.event_wrap .p_evt_sec4 .title{padding-bottom:8.3333vw}
.event_wrap .p_evt_sec4 .sub_title{margin-bottom:3.0556vw;font-size:6.1111vw;line-height:1;font-weight:800;text-align:center;color:#333;letter-spacing:-0.1vw}
.event_wrap .p_evt_sec4 .sub_title span{display:block;font-size:3.6111vw;line-height:1;font-weight:600;color:inherit;margin-bottom:2.0833vw}

.event_wrap .p_evt_sec5{padding-bottom:13.8889vw;background-color:#73c40b}
.event_wrap .p_evt_sec5 .title{color:#fff}
.event_wrap .p_evt_sec5 .info_list{position:absolute;z-index:1;top:36vw;left:50%;right:auto;transform:translateX(-50%);width:60.8333vw}
.event_wrap .p_evt_sec5 .info_list li{padding-top:20.8333vw;font-size:4.7222vw;line-height:1;font-weight:800;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .p_evt_sec5 .info_list li:not(:first-child){margin-top:6.9444vw}

/* notice */
.event_wrap .evt_notice{padding:13.8889vw 5.5555vw}
.event_wrap .noti2{background-color:#f6f6f6}
.event_wrap .noti3{background-color:#fceabc}

/* button */
.event_wrap .btn_lnk1{position:relative;display:block;width:auto;height:14.4444vw;margin:6.9444vw 13.8889vw 0;padding:5vw 0;font-size:4.7222vw;line-height:1;font-weight:800;color:#fff;text-align:center;background-color:#000;box-sizing:border-box}
