@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind>*{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* 배경색 */
.event_wrap.hyunday .p_evt_sec2{background:#e6eef8}
.event_wrap.shinhan .p_evt_sec2{background:#ebefff}
.event_wrap.lotte .p_evt_sec2{background:#f0efee}
.event_wrap.bc .p_evt_sec2{background:#feeaec}
.event_wrap.samsung .p_evt_sec2{background:#e5f7fd}
.event_wrap.samsungpoint .p_evt_sec2{background:#e8f4ff}

.event_wrap.hyunday .p_evt_noti{background:#e6eef8}
.event_wrap.shinhan .p_evt_noti{background:#ebefff}
.event_wrap.lotte .p_evt_noti{background:#f0efee}
.event_wrap.bc .p_evt_noti{background:#feeaec}
.event_wrap.samsung .p_evt_noti{background:#e5f7fd}
.event_wrap.samsungpoint .p_evt_noti{background:#e8f4ff}

/* button */
.event_wrap .btn_lnk{position:relative;display:block;margin-top:60px;text-align:center}
.event_wrap .btn_lnk img{margin:0 auto !important}

/* 내용 */
.event_wrap .p_evt_tit .top_tit{position:absolute;top:100px;left:0;width:100%;z-index:10}
.event_wrap .p_evt_tit .top_tit .top_logo{height:70px;margin:0 auto}
.event_wrap .p_evt_tit .top_tit .top_logo img{margin:0 auto !important}
.event_wrap .p_evt_tit .top_tit h2{font-size:70px;color:#fff;font-weight:200;line-height:94px;text-align:center;letter-spacing:-1.8px}
.event_wrap .p_evt_tit .top_tit strong{display:block;font-weight:600}

.event_wrap .p_evt_sec2 .info_tit{padding:100px 0 54px}

.event_wrap .info_inner{margin:0 40px}
.event_wrap .info_tit{padding:60px 0 34px;font-size:60px;color:#111;font-weight:600;text-align:center;letter-spacing:-.5px}
.event_wrap .info_box{background:#f3f3f3;padding:24px;font-size:32px;line-height:42px;font-weight:600;color:#111;text-align:center;letter-spacing:-.5px}
.event_wrap .info_box img{display:inline-block !important;margin:0 5px -2px !important;vertical-align:baseline}
.event_wrap .info_benefit{margin-bottom:38px;display:flex;justify-content:center;flex-wrap:wrap}
.event_wrap .info_benefit li{margin-top:60px;text-align:center;color:#111;letter-spacing:-.5px}
.event_wrap .info_benefit .icon img{margin:0 auto !important}
.event_wrap .info_benefit .tit{margin:28px 0 10px;font-size:40px;font-weight:600}
.event_wrap .info_benefit .desc{font-size:32px;line-height:42px}
.event_wrap .info_noti{margin-bottom:80px;font-size:26px;line-height:32px;font-weight:200;color:#999;text-align:center}

.event_wrap .type2 li{width:49%}
.event_wrap .type2 li:nth-child(n+2){border-left:1px solid #f3f3f3}
.event_wrap .type3 li{width:33%}
.event_wrap .type3 li:nth-child(2){border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3}

/* notice */
.event_wrap .evt_notice{padding:50px 40px 80px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:18px 0 12px;border-top:2px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{content:'';position:absolute;top:14px;left:0;width:2px;height:2px;background:#333;border-radius:100%;}

.event_wrap .p_evt_noti.noti2{background:#f5f5f5}
.event_wrap .p_evt_noti.noti2 li{font-size:20px;line-height:34px;letter-spacing:-.5px}
.event_wrap .p_evt_noti.noti2 li strong{font-size:24px;line-height:38px}
.event_wrap .p_evt_noti.noti2 li:before{top:17px}

/* 사용방법 slide */
.event_wrap .slide_box{position:relative;width:720px;overflow-x:hidden;-webkit-backface-visibility:hidden;margin:0 auto}
.event_wrap .slide_box .slide_list{display:flex;width:720px}
.event_wrap .slide_box .slide_list li{position:relative}
.event_wrap .slide_box .slide_list li img{margin:0 !important}

.event_wrap .slide_box .slide_btn_box button{position:absolute;width:40px;height:40px;top:440px;font-size:20px;color:#333;border:1px solid #ebebeb !important;border-radius:8px;border:0;background:#fff;cursor:pointer;touch-action:none}
.event_wrap .slide_box .slide_btn_box .slide_btn_prev{left:50px}
.event_wrap .slide_box .slide_btn_box .slide_btn_next{right:50px}

.event_wrap .slide_box .slide_pagination{position:absolute;width:100%;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:16px;height:16px;margin:0 10px;background:#bbc2ca;border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#7fc242}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}

/* 모션 */
.event_wrap .mask{-webkit-animation:mask-move 1.1s 0s cubic-bezier(.5,0,.5,1) alternate both;animation:mask-move 1.1s 0s cubic-bezier(.5,0,.5,1) alternate both}
.event_wrap .motion{-webkit-animation:slide-up 0.6s 0s cubic-bezier(.5,0,.5,1) alternate both;animation:slide-up 0.6s 0s cubic-bezier(.5,0,.5,1) alternate both}
.event_wrap .top_logo{-webkit-animation-delay:0.5s;animation-delay:0.3s}
.event_wrap .txt1{-webkit-animation-delay:0.7s;animation-delay:0.5s}
.event_wrap .txt2{-webkit-animation-delay:0.9s;animation-delay:0.7s}

@-webkit-keyframes mask-move {
  0% {
    clip-path: circle(10% at 50% 50%);
  }
  100% { 
    clip-path: circle(110% at 50% 50%);
  }
}
@keyframes mask-move {
  0% {
    clip-path: circle(10% at 50% 50%);
  }
  100% { 
    clip-path: circle(110% at 50% 50%);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 60px);
            transform:translate(0, 60px);
  }
  100% { 
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 60px);
            transform:translate(0, 60px);
  }
  100% { 
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

/* 제휴 띠배너 */
.event_wrap .p_evt_sec{background:#f4f4f4;padding:100px 0}
.event_wrap .cards_box{margin:0 40px}
.event_wrap .cards_title{font-size:56px;letter-spacing:-1px;text-align:center;margin-bottom:20px}
.event_wrap .cards_list{display:flex;justify-content:space-between;flex-wrap:wrap;box-sizing:border-box}
.event_wrap .cards_list li{margin-top:20px}
.event_wrap .cards_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .cards_list img{margin:0}
.event_wrap .cards_txt{position:absolute;top:54px;left:40px;font-size:30px;letter-spacing:-1px;color:#fff;line-height:1.4}
