@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:80px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0801_3rd_anniversary_member/img/p_evt_nav_on.jpg);content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* button */
.event_wrap .btn_move{top:0;left:30%;right:30%;height:40%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* page */
.event_wrap .p_evt_sec1, .event_wrap .p_evt_sec3{background:#eee}

/* notice 템플릿 reset */
.event_wrap .notice_list{width:auto !important;padding:0 !important;flex-direction:column !important;align-items:flex-start !important}
.event_wrap .notice_list li{width:auto !important;height:auto !important;margin:0 !important}

/* notice */
.event_wrap .noti1{background-color:#eee;}
.event_wrap .noti1 .evt_notice{padding: 0 40px 55px}
.event_wrap .noti_type3{background-color:#c1e180}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:1000px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#6acc0c}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#6acc0c !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}
