@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;height:100%}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;font-size:26px;line-height:60px;font-weight:600;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#fff000}

.event_wrap .p_evt_nav{background:#009333;padding-top:60px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;transform:translateX(-50%);z-index:5}

.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;height:60px;z-index:5}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:1920px;height:100%;background:#009333;z-index:-1}

/* button */
.event_wrap .btn_move{top:0;left:30%;right:30%;height:38%}

/* product */
.event_wrap .p_evt_sec2{background:#14a747}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#fff04e !important}

/* coupon */
.event_wrap .p_evt_sec1{background:#f9f9f9}
.event_wrap .info_desc{padding:0 0 46px}
.event_wrap .info_desc span{font-size:20px;font-weight:400;color:#333}
.event_wrap .info_desc span::before{display:none}
.event_wrap .coupon_item_btn{z-index:3}

/* notice */
.event_wrap .p_evt_noti{background:#f9f9f9}
.event_wrap .evt_notice{padding:50px 40px 100px}

/* object */
.event_wrap .p_evt_sec1:after{content:'';position:absolute;top:630px;left:50%;transform:translateX(-50%);width:600px;height:572px;margin-left:650px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0217_double_benefit/img/object2.png) 50% 0 no-repeat;z-index:1}
.event_wrap .p_evt_sec4:after{content:'';position:absolute;top:520px;left:50%;transform:translateX(-50%);width:537px;height:467px;margin-left:650px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0217_double_benefit/img/object3.png) 50% 0 no-repeat;z-index:1}

/* stemp product 추가 - html2 있을때 틀어짐 */
.event_wrap .product_item{width:100% !important;align-items:flex-start !important;padding:0 !important}
.event_wrap .product_item li{width: 285px !important;height:auto !important;margin:0 !important}
.event_wrap .product_item .item_thumbnail{padding:0 !important}
.event_wrap .product_item .item_thumbnail img{position:relative !important}
.event_wrap .product_item .price_area > span{position:relative !important;display:block !important;width:auto !important;transform:rotate(0deg) !important;font-size:24px !important;color:#fff !important}
.event_wrap .product_item .price_area .won{font-weight:400 !important}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:0}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step, .tablet .fb__event .event__stamp .stamp__step{position:relative;background-color:#79c53e;background-size:unset !important;background-repeat:no-repeat;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3, .tablet .fb__event .event__stamp .stamp__step ul.col3{width:1000px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li, .tablet .fb__event .event__stamp .stamp__step ul.col3 li{width:191px !important;height:190px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area, .tablet .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before, .tablet .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply__desc em, .tablet .fb__event .event__stamp .stamp__apply__desc em{color:#009333}
.desktop .fb__event .event__stamp .stamp__apply--purchase, .tablet .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#009333 !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

.desktop .fb__event .event__stamp .stamp__step::after{content:'';position:absolute;top:-60px;left:50%;transform:translateX(-50%);width:255px;height:249px;margin-left:280px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0217_double_benefit/img/object.png) no-repeat;z-index:2} /* 스탬프 템플릿 오브젝트 추가 */
