@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* link */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:5.7%;left:11%;right:11%;height:9%}

/* notice */
.event_wrap .p_evt_noti{background:#efe6ad}
.event_wrap .evt_notice{padding:30px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 라인업 slide */
.event_wrap .item_box{position:absolute;top:0px;left:10.8333%;right:10.8333%;padding-bottom:6%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .item_box .item_list{display:flex}
.event_wrap .item_box .item_list li{position:relative;width:100%}
.event_wrap .item_box .item_list li img{width:100%;height:100%}

.event_wrap .item_box .item_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .item_box .item_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 3px;background:#cccbc9;border-radius:100px;transition:0.3s}
.event_wrap .item_box .item_pagination .dot.dot_active{background:#9bd318}
.event_wrap .item_box .item_pagination .dot2.dot_active2{background:#9bd318}
.event_wrap .item_box .item_pagination .dot3.dot_active3{background:#9bd318}
.event_wrap .item_box .item_pagination .dot4.dot_active4{background:#9bd318}
.event_wrap .item_box .item_pagination .dot5.dot_active5{background:#9bd318}
.event_wrap .item_box .item_pagination .dot a{display:block;width:100%;height:100%}

.item_box .item_btn button{position:absolute;width:10vw;height:10vw;top:32vw;color:#fff;border:0;cursor:pointer;touch-action:none}
.item_box .item_btn .prev{left:0}
.item_box .item_btn .next{right:0}

.event_wrap .slide_box{top:133.6vw}
.event_wrap .slide_box2{top:258.6vw}
.event_wrap .slide_box3{top:383.6vw}
.event_wrap .slide_box4{top:508.6vw}
.event_wrap .slide_box5{top:633.6vw}

/* 댓글템플릿 */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom {padding-top:0}
.reply{margin-bottom:0 !important}
.reply__write__textarea .fb__textarea__inner{background:#fff}
.reply:before {background:none !important}
.event__comments{background:#efe6ad}

/* 모션 */
.p_evt_tit h1{position:relative;z-index:10}
.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box img{margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .object{position:absolute;width:100%;top:0;left:0;-webkit-backface-visibility:hidden}
.motion_box .object.motion1{-webkit-animation:fade-in 6s ease-in-out infinite both;animation:fade-in 6s ease-in-out infinite both}
.motion_box .object.motion2{-webkit-animation:fade-out 6s ease-in-out infinite both;animation:fade-out 6s ease-in-out infinite both}

@-webkit-keyframes fade-in {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}
@keyframes fade-in {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}
@keyframes fade-out {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}
