@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:100px;left:0;right:0;height:292px}

/* notice */
.event_wrap .p_evt_noti{background:#efe6ad}
.event_wrap .evt_notice{padding:80px 80px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 라인업 slide */
.event_wrap .item_box{position:absolute;top:0px;left:0;width:377px;padding-bottom:28px;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .item_box .item_list{display:flex}
.event_wrap .item_box .item_list li{position:relative;width:100%;height:377px}
.event_wrap .item_box .item_list li img{display:block;width:100%;height:100%;margin:0 !important}

.event_wrap .item_box .item_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .item_box .item_pagination .dot{display:inline-block;width:12px;height:12px;margin:0 3px;background:#cccbc9;border-radius:100px;transition:0.3s}
.event_wrap .item_box .item_pagination .dot.dot_active{background:#9bd318}
.event_wrap .item_box .item_pagination .dot2.dot_active2{background:#9bd318}
.event_wrap .item_box .item_pagination .dot3.dot_active3{background:#9bd318}
.event_wrap .item_box .item_pagination .dot4.dot_active4{background:#9bd318}
.event_wrap .item_box .item_pagination .dot5.dot_active5{background:#9bd318}
.event_wrap .item_box .item_pagination .dot a{display:block;width:100%;height:100%}

.item_box .item_btn button{position:absolute;width:40px;height:40px;top:40%;color:#fff;border:0;cursor:pointer;touch-action:none}
.item_box .item_btn .prev{left:0}
.item_box .item_btn .next{right:0}

.event_wrap .slide_box{top:80px;left:198px}
.event_wrap .slide_box2{top:80px;left:594px}
.event_wrap .slide_box3{top:675px}
.event_wrap .slide_box4{top:675px;left:395px}
.event_wrap .slide_box5{top:675px;left:791px}

/* 댓글템플릿 */
.desktop .detail-wrapper__bottom {padding-top:0}
.fb__event-comment__wrapper{background:#efe6ad;max-width:1920px;min-width:1168px;margin:0 auto}
