@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:32.555vw;left:0;right:0;}

/* notice */
.event_wrap .noti1 .evt_notice{padding:0 11.1111vw 20.1667vw}
.event_wrap .noti2 .evt_notice{padding:0 11.1111vw 23.1667vw}
.event_wrap .m_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1007_design_meal/img/m_evt_sec2.jpg) 50% 0 no-repeat;background-size:100% auto}
.event_wrap .m_evt_noti.noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1007_design_meal/img/m_evt_sec4.jpg) 50% 0 no-repeat;background-size:100% auto}
