@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap{overflow:hidden;max-width:1020px;margin:0 auto}
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{margin:0 -74px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

.event_wrap .prd_list{overflow:hidden;position:absolute;top:0;left:18%;width:64%;height:97%;font-size:0}
.event_wrap .prd_list li{display:inline-block;width:50%;height:35%}
.event_wrap .prd_list li:first-child{display:block;width:100%;height:30%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%}

