@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:46.25vw;left:0;right:0}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f2f1f0}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_imreal_package/img/m_img_noti.jpg) 50% 0/100%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:8.3333vw;width:83.3333vw;height:148.8888vw}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 모션 */
.event_wrap .p_evt_tit .motion_box{position:absolute;top:0;left:0;right:0;display:flex;flex-wrap:wrap;flex-direction:column;align-items:center}
.event_wrap .p_evt_tit .motion_box .object1{width:38.8888vw;height:10vw;margin-top:11.6666vw}
.event_wrap .p_evt_tit .motion_box .object2{width:83.3333vw;height:6.6667vw;margin-top:6.9444vw}
.event_wrap .p_evt_tit .motion_box .object3{width:75.1389vw;height:7.2222vw;margin-top:2vw}
.event_wrap .p_evt_tit .motion_box .object4{width:38.0556vw;height:7.2222vw;margin-top:2.6vw}
.event_wrap .p_evt_tit .motion_box .object5{width:62.5vw;height:10.8333vw;margin-top:6.9444vw}
.event_wrap .p_evt_tit .motion_box .object6{width:83.4722vw;height:15.9722vw;margin-top:6.9444vw}

.event_wrap .p_evt_sec1 .motion_box{position:absolute;top:156.9444vw;left:0;right:0;text-align:center}
.event_wrap .p_evt_sec1 .motion_box p{margin-bottom:4.8vw;font-size:4.16666vw;font-weight:200;color:#fff;line-height:1.5;letter-spacing:-.2vw}
.event_wrap .p_evt_sec1 .motion_box p > strong{font-weight:600}

.event_wrap .p_evt_sec1 .object_box .object5{position:absolute;top:-15vw;left:0;width:15.9722vw;height:31.1111vw}
.event_wrap .p_evt_sec1 .object_box .object6{position:absolute;top:20.8333vw;right:0;width:16.9444vw;height:45.2778vw}

.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.5s ease-in-out both;animation:silde-up 0.5s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 0.8s ease-in-out both;animation:fade-blur 0.8s ease-in-out both}
@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{animation-delay:0.05s !important}
.delay01.active{animation-delay:0.1s !important}
.delay015.active{animation-delay:0.15s !important}
.delay02.active{animation-delay:0.2s !important}
.delay025.active{animation-delay:0.25s !important}
.delay03.active{animation-delay:0.3s !important}
.delay035.active{animation-delay:0.35s !important}
.delay04.active{animation-delay:0.4s !important}
.delay045.active{animation-delay:0.45s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;padding:0 !important;background:#f2f1f0}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 13vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:33.3%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#8fb34b !important; font-size:5vw !important;font-weight:600;line-height:8vw !important;padding:1vw 1vw;word-break:keep-all !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #6f726e !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:2px solid #444 !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#444;width:2.63vw;height:2.63vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:73.1944vw !important;height:10.5555vw !important;font-size:0 !important;line-height:0 !important;margin:4.1666vw auto 0 !important;border-radius:0 !important;background:#f2f1f0 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_imreal_package/img/m_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
