@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:200px;left:0;right:0}

/* notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_imreal_package/img/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .noti1 .evt_notice{min-height:361px;padding:0 40px}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_imreal_package/img/p_img_noti2.jpg) 50% 0 no-repeat}
.event_wrap .noti2 .evt_notice{min-height:411px;padding:0 40px}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);width:1120px;height:626px}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 모션 */
.event_wrap .p_evt_tit .motion_box{position:absolute;top:0;left:0;right:0;text-align:center}
.event_wrap .p_evt_tit .motion_box img{margin:0 auto !important}
.event_wrap .p_evt_tit .motion_box .object1{margin-top:105px}
.event_wrap .p_evt_tit .motion_box .object2{margin-top:36px}
.event_wrap .p_evt_tit .motion_box .object3{margin-top:20px}
.event_wrap .p_evt_tit .motion_box .object4{margin-top:40px}

.event_wrap .p_evt_sec1 .motion_box{position:absolute;top:680px;left:0;right:0;text-align:center;overflow:hidden}
.event_wrap .p_evt_sec1 .motion_box p{margin-bottom:40px;font-size:30px;font-weight:200;color:#fff;line-height:1.3;letter-spacing:-.4px}
.event_wrap .p_evt_sec1 .motion_box p > strong{font-weight:600}

.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.6s ease-in-out both;animation:silde-up 0.6s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 1s ease-in-out both;animation:fade-blur 1s ease-in-out both;}
@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{animation-delay:0.05s !important}
.delay01.active{animation-delay:0.1s !important}
.delay015.active{animation-delay:0.15s !important}
.delay02.active{animation-delay:0.2s !important}
.delay025.active{animation-delay:0.25s !important}
.delay03.active{animation-delay:0.3s !important}
.delay035.active{animation-delay:0.35s !important}
.delay04.active{animation-delay:0.4s !important}
.delay045.active{animation-delay:0.45s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;min-width:1200px;width:auto !important;padding:0 !important;background:#fff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_imreal_package/img/p_survey_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__survey .survey form{width:527px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:auto;margin-top:10px !important;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{display:flex !important;align-items:center;width:85%;font-size:36px !important;font-weight:600;min-height:54px;color:#8fb34b !important;letter-spacing:-1px}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 40px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:16px !important;width:32px !important;height:32px !important;border:2px solid #6f726e !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:2px solid #444 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:24px !important;left:8px !important;width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#444 !important}

.desktop .fb__event .event__survey .survey__apply{width:527px !important;height:76px !important;padding:0;margin-top:25px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1014_imreal_package/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
