@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0} 
/* .desktop .detail-wrapper__bottom{padding-top:0} */
.desktop .fb__event .event__stamp .stamp__step__area{padding-bottom:50px} /* 빌보드배너 클릭시 */
.desktop .detail-wrapper{padding-top:0 !important}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk{position:absolute;top:179px;left:86px;width:364px;height:70px;background:#2bb427;border-radius:100px;display:flex;align-items:center;justify-content:center}
.event_wrap .btn_lnk:after{content:'>';display:inline-block;font-weight:700;font-size:40px;color:#fff;margin-left:30px}
.event_wrap .btn_lnk span{font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:700;font-size:31px;color:#fff}

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:50%;z-index:-1;min-width:1920px;width:100%;height:100%;background:#f6f6f6;transform:translate(-50%,0);content:''}
.event_wrap .evt_notice{padding:100px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:12px 20px 33px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stamp template reset */
.desktop .fb__event .event__stamp .stamp__step__area{padding-bottom:0}

/* text */
.event_wrap .tit_txt{position:absolute;top:94px;left:330px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:700;font-size:36px;color:#2bb427}
.event_wrap .tit_txt span{font-size:40px}

.event_wrap .sec1_txt{position:absolute;top:170px;left:306px;font-weight:700;font-size:18px;color:#fff;letter-spacing:-.3px}
.event_wrap .sec1_txt span{color:#093f08}
.event_wrap .sec1_txt > p{margin-bottom:8px}
.event_wrap .sec1_txt > p::before{content:'·';display:inline-block;color:#fff;margin-right:5px}
