@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* coupon */
.event_wrap .p_evt_sec3{background:#ffda36}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/m_img_noti.jpg) 50% 0/100%}
.event_wrap .noti2{background:#ffda36}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:36.1111vw;left:4.8611vw;width:90.2777vw;height:50.8333vw;background:url(https://i.ytimg.com/vi/dFSgcllxQyM/maxresdefault.jpg) 50%/100%;border-radius:3.3333vw;overflow:hidden;box-shadow:7px 11px 18px 0px rgba(0, 0, 0, .2)}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/m_survey_bg.jpg) 50% 0/100%}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:43.75vw 6vw 0 6vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:33.3%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{color:#000 !important;line-height:4vw;padding:2.6vw 2vw;word-break:keep-all !important;text-align:center}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{flex-direction:column;align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #444 !important;background-color:transparent !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:2px solid #444 !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#444;width:2.63vw;height:2.63vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:70.9722vw !important;height:11.9444vw !important;font-size:0 !important;line-height:0 !important;margin:8.9vw auto 0 !important;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/m_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
