@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:100px;right:100px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:140px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-322px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-630px 0}

/* coupon */
.event_wrap .p_evt_sec3{background:#ffda36}
.event_wrap .coupon_item_info .info_type{letter-spacing:-1px}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/p_img_noti.jpg) 50% 0}
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti2{background:#ffda36}
.event_wrap .noti2 .evt_notice{padding-top:90px}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:223px;left:50%;transform:translateX(-50%);width:1080px;height:608px;background:url(https://i.ytimg.com/vi/dFSgcllxQyM/maxresdefault.jpg) 50%/100%;border-radius:12px;overflow:hidden;box-shadow:7px 11px 18px 0px rgba(0, 0, 0, .2)}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;width:auto !important;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/p_survey_bg.jpg) 50% 0}
.desktop .fb__event .event__survey .survey form{width:897px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:31%;margin-top:280px !important;padding:0 20px;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:86%;font-size:32px !important;line-height:44px !important;color:#000 !important;letter-spacing:-1px;}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 46px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:10px !important;width:32px !important;height:32px !important;border:2px solid #444 !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:2px solid #444 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:18px !important;left:8px !important;width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#444 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;margin-top:65px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0510_earth_week/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
