@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

.event_wrap .evt_notice{position:relative;padding:31px 5.5555556% 0;background:#d8cce4}
.event_wrap .notice_list{padding:15px 5.3125%;background:#fff;border-radius:26px;-webkit-border-radius:26px;}
.event_wrap .notice_item{position:relative;padding:28px 0 28px 63px;border-top:1px solid #ccc}
.event_wrap .notice_item:first-child{border-top:0}
.event_wrap .event_title{position:absolute;top:28px;left:0;font-size:13px;font-weight:bold;color:#333}
.event_wrap .event_text{font-size:13px;color:#333;word-break:keep-all}
.event_wrap .event_text.point{font-weight:bold;color:#8ec31f}
.event_wrap .sub_notice_list{margin-top:10px}
.event_wrap .sub_notice_list + .event_text{margin-top:25px}
.event_wrap .btn_join{position:absolute;left:0;bottom:0;width:100%;height:77%;border:0;background:url(about:blank) 0 0 no-repeat}