@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;position:absolute;top:0;left:0;width:100%;height:100%;background:#008264}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:4.4444vw;line-height:1.2;font-weight:600;color:#fff;text-align:center}
.event_wrap .evt_nav_wrap li.on a{color:#b9fb5e}

.event_wrap .p_evt_nav{padding-top:16.6667vw}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;height:16.6667vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}

/* items_list */
.event_wrap .items_list{position:absolute;top:40vw;left:15vw;right:15vw}
.event_wrap .items_list li{width:100%;height:120vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .info_desc span{color:#fff}
.event_wrap .copuon_list{position:absolute;top:48.6111vw;left:0;right:0}
.event_wrap .p_evt_noti{background:#f5f5f5}
