@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;height:100%}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;font-size:28px;line-height:80px;font-weight:600;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#b9fb5e}

.event_wrap .p_evt_nav{background:#008264;padding-top:80px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;transform:translateX(-50%);z-index:5}

.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;height:80px;z-index:5}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:1920px;height:100%;background:#008264;z-index:-1}

/* items_list */
.event_wrap .items_list{position:absolute;top:21.5%;left:5%;right:5%;height:63%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list li{width:46.5%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* page */
.event_wrap .info_desc span{color:#fff}
.event_wrap .copuon_list{position:absolute;top:300px;left:0;right:0}
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:540px;left:50%;width:50px;height:46px;margin-left:142px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0214_healthy_living_spring/img/object.png) no-repeat}
