@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}

.event_wrap .btn_coupon{top:59.5%;left:32%;width:36%;height:12.5%}

/* notice */
.event_wrap .evt_notice{padding:11px 32px 83px;background:url(https://www.orga.co.kr/images/promo/202102/0219_leaflet/img/bg_sec.jpg) 0 0 repeat}
.event_wrap .notice_title{display:block;font-size:20px;font-weight:400;color:#666;line-height:34px}
.event_wrap .notice_list{margin-top:4px}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:20px;font-weight:300;color:#666;word-break:keep-all;letter-spacing:-1px;line-height:35px}
.event_wrap .notice_list li:before{position:absolute;top:17px;left:0;width:3px;height:3px;background-color:#666;content:''}

/* mobile device */
.event_wrap.mevt{width:100%;max-width:none;margin:0 auto}
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{max-width:none;width:100%}
.event_wrap.mevt .btn_coupon{top:61%;left:23%;width:54%}
.event_wrap.mevt .evt_notice{padding:5px 4.444444% 40px}
.event_wrap.mevt .notice_title{font-size:12px;line-height:19px}
.event_wrap.mevt .notice_list{margin-top:1px}
.event_wrap.mevt .notice_list li{padding-left:6px;font-size:12px;line-height:19px}
.event_wrap.mevt .notice_list li:before{top:10px;width:2px;height:2px}