@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%;}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{position:absolute;top:108.3555vw;left:0;padding-top:22.2222vw;}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member/img/0517/m_evt_nav_on.png) 0 0 no-repeat;background-size:auto 100%;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-33.3333vw 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-66.6666vw 0}

.event_wrap .p_evt_nav li:first-child a.first_on{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member/img/0517/m_evt_nav_on.png) 0 0 no-repeat;background-size:auto 100%;}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

.event_wrap .evt_mov .controls{position:absolute;top:5.5555vw;right:5.5555vw}
.event_wrap .evt_mov .controls .toggleSound{width:11.1111vw;height:8.3333vw;border:0;padding:0}

/* button */
.event_wrap .btn_lnk1{top:256vw;left:16.5vw;right:16.5vw;height:12.5vw}
.event_wrap .btn_lnk2{top:95vw;left:16.5vw;right:16.5vw;height:12.5vw}

/* page */
.event_wrap .info_text{padding-top:5vw;box-sizing:border-box}
.event_wrap .info_text li{display:block;font-size:3.6111vw;line-height:5vw;color:#666;font-weight:300;text-align:center}
.event_wrap .info_text li span {position:relative}
.event_wrap .info_text li span.bold{font-weight:700}
.event_wrap .info_text span:before {content:'*';vertical-align:sub;margin-right:0.6944vw}

.event_wrap .p_evt_sec1, .event_wrap .p_evt_noti.noti1{background:#f5ffe2}
.event_wrap .p_evt_sec2, .event_wrap .p_evt_noti.noti2{background:#ddf0f8}
.event_wrap .p_evt_noti.noti3{background:#ece9de}
.event_wrap .notice_list .bold{font-weight:700;}

/* template */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{padding:0 16.6667vw !important;background:#f5ffe2 !important;}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:66.6667vw;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member_entry/img/0517/p_evt_btn.jpg) 0 0 no-repeat;background-size:100%;}
