@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:146px;right:146px;height:100%;display:flex;}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3333%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{position:absolute;top:700px;left:50%;min-width:auto;padding-top:120px}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member/img/0517/p_evt_nav_on.png) 0 0 no-repeat;}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-292px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-584px 0}

.event_wrap .p_evt_nav li:first-child a.first_on{position:absolute;top:0;left:0;width:292px;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member/img/0517/p_evt_nav_on.png) 0 0 no-repeat}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%;}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

.event_wrap .evt_mov .controls{position:absolute;top:40px;left:50%;transform:translateX(-50%);margin-left:520px}
.event_wrap .evt_mov .controls .toggleSound{width:60px;height:40px;border:0;padding:0}
.event_wrap .evt_mov .controls img{margin:0 !important}

/* button */
.event_wrap .btn_lnk1{top:1334px;left:29.5%;right:29.5%;height:80px}
.event_wrap .btn_lnk2{top:685px;left:29.5%;right:29.5%;height:80px}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#f5ffe2}
.event_wrap .p_evt_noti.noti2{background:#def1f8}
.event_wrap .p_evt_noti.noti3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member/img/0517/p_evt_sec4.jpg) 0 0 no-repeat;}
.event_wrap .roulette_desc{text-align:center;color:#999}
.event_wrap .notice_list .bold{font-weight:700;}

/* page */
.event_wrap .p_evt_sec1{background:#f5ffe2;}
.event_wrap .p_evt_sec2{background-color:#def1f8;}
.event_wrap .info_text{padding-top:30px;box-sizing:border-box;}
.event_wrap .info_text li{display: block;font-size:18px;line-height:24px;color:#666;font-weight:300;text-align:center;}
.event_wrap .info_text li span {position:relative;}
.event_wrap .info_text span:before {content: '*';vertical-align: sub;margin-right: 5px}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;max-width:1920px;padding:0;background:#f5ffe2;}
.desktop .fb__event .fb__event-comment__join-btn button{width:480px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member/img/0517/p_evt_btn.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
