@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

/* button */
.event_wrap .apply_wrap{position:absolute;top:4.4%;right:6.8055555%;left:6.8055555%;bottom:2.5%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .apply_wrap .btn_apply{width:100%;height:10.5%;margin-bottom:4.7%;border:0;background:none}

/* notice */
.event_wrap .evt_notice{padding:47px 6.944445%;background:#455455}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:13px;color:#c8cece;letter-spacing:-.5px;line-height:22px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:8px;left:0;width:2px;height:2px;background-color:#c8cece;border-radius:50%;content:''}

/* product */
.event_wrap .product_wrap{position:absolute;top:21.4%;right:6.8%;left:6.8%;bottom:17%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .product_wrap li{display:inline-block;width:50%;height:50%}
.event_wrap .product_wrap a{display:block;width:100%;height:100%}

/* more */
.event_wrap .btn_more{top:85%;left:0%;width:100%;height:7%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#384849;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:45px 10px 37px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;width:56.8441064%;margin:0 auto;font-size:30px;font-weight:500;color:#fff;border-top:2px solid #fff;border-bottom:1px solid #747f80;line-height:1.6}
.layer_popup_wrap .popup_txt{width:56.8441064%;margin:14px auto 0;font-size:15px;color:#fff;line-height:1.5}
.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{display:inline-block;position:relative;width:43.726235%;height:33px;background:#fff;font-size:16px;color:#384849;vertical-align:middle;line-height:33px;text-indent:0}