@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family:'Noto Sans KR','NanumBarunGothic','Nanum Barun Gothic',Tahoma,sans-serif;font-weight:500;}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after,
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#384849}
.event_wrap .p_evt_sec4:before{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_sec4_bg_l.gif) 0 0 no-repeat}
.event_wrap .p_evt_sec4:after{background:#384849}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#455455}
.event_wrap .p_evt_sec5:before{background:#e6e3da}
.event_wrap .p_evt_sec5:after{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_sec5_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec6:before{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_sec6_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec6:after{background:#f7f5ed}
.event_wrap .p_evt_sec7:before{background:#e6e3da}
.event_wrap .p_evt_sec7:after{background:url(https://www.orga.co.kr/images/promo/202012/1204_holiday_orga/img/p_sec7_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec4 .dummy{position:absolute;left:0;bottom:0;width:1020px;height:132px;background:url(../img/dummy.gif) 0 0 no-repeat}
/* button */
.event_wrap .apply_wrap{position:absolute;top:0;right:0;left:0;bottom:12%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .apply_wrap .btn_apply{display:inline-block;width:33.33333%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:71px 0 74px 5px;background:#455455}
.event_wrap .notice_list li{position:relative;padding-left:11px;font-size:16px;font-weight:400;color:#c8cece;letter-spacing:-.5px;line-height:32px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:3px;height:3px;background-color:#c8cece;border-radius:50%;content:''}

/* product */
.event_wrap .product_wrap{position:absolute;top:25.7%;right:0;left:0;bottom:19.7%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .product_wrap li{display:inline-block;width:100%;height:25%}
.event_wrap .product_wrap a{display:block;width:100%;height:100%}

/* more */
.event_wrap .btn_more{top:84%;left:35%;width:30%;height:6%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:560px;margin:0 10px;background:#384849;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:92px 10px 76px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;width:56.8441064%;height:80px;margin:0 auto;font-size:44px;font-weight:500;color:#fff;border-top:2px solid #fff;border-bottom:1px solid #747f80;letter-spacing:-2px;line-height:80px}
.layer_popup_wrap .popup_txt{margin-top:30px;font-size:26px;font-weight:300;color:#fff;letter-spacing:-1px;line-height:37px}
.layer_popup_wrap .btn_area{margin-top:64px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{display:inline-block;position:relative;width:230px;height:66px;background:#fff;font-size:28px;color:#384849;letter-spacing:-1px;vertical-align:middle;line-height:66px;text-indent:0}
 
