@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* common */
.event_wrap{max-width:720px;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

.event_wrap .p_evt_sec1{background:#f3ece5}
.event_wrap .p_evt_sec2{background:#419a66}
.event_wrap .p_evt_sec3{background:#ed756f}
.event_wrap .p_evt_sec4{background:#f3ece5}
.event_wrap .p_evt_sec5{background:#f3ece5}
.event_wrap .p_evt_sec6{background:#f3ece5}
.event_wrap .p_evt_sec6{padding-bottom:45px}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:72%;left:4%;width:92%;height:26%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.coupon_wrap{position:relative}
.coupon_wrap .date{position:absolute;right:11.944444%;left:11.944444%;padding-top:8.7%;font-size:18px;font-weight:600;color:#333;line-height:30px;text-align:center}
.coupon_wrap .btn_coupon{top:66.3405088%;left:23.6111111%;width:52.777777%;padding-top:12.5%}
.coupon_wrap .btn_buy{top:75.733855%;left:23.6111111%;width:52.777777%;padding-top:12.5%}

/* notice */
.event_wrap .evt_notice{padding:44px 5.83333333% 82px}
.event_wrap .notice_list li{position:relative;padding-left:6px;color:#333;font-size:12px;font-weight:300;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:0;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}
.event_wrap .p_evt_sec3 .notice_list li{color:#fff}
.event_wrap .p_evt_sec3 .notice_list li:before{background-color:#fff}

/* product */
.event_wrap .product_list{padding:0 3.88888888%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:49.6240601%;height:auto;margin:0 0 32px 0.75187969%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:4px;font-size:13px;font-weight:400;color:#333;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:35px;height:35px;background:#ed756f;font-size:10px;color:#fff;text-align:center;line-height:35px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:5px;font-size:12px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:16px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#333}

/* 1+1 goods */
.event_wrap .evt_items_wrap{position:relative;padding-bottom:50px}
.event_wrap .evt_items_wrap .items_list{position:absolute;top:0;right:4.4444444%;left:4.4444444%;bottom:0;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_items_wrap .items_list li{display:inline-block;width:49.3902439%;height:auto;margin:0 0 10.45% 1.2195%}
.event_wrap .evt_items_wrap .items_list li:nth-child(2n+1){margin-left:0}
.event_wrap .evt_items_wrap .items_list li.item_soldout{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/p_evt_soldout.png) -1px -1px no-repeat;background-size:101% auto}
.event_wrap .evt_items_wrap .items_list a{display:block;width:100%;padding-top:130%}
.event_wrap .evt_items_wrap .items_list li.item_soldout a{pointer-events:none}

/* slide */
.event_wrap .evt_swipe_wrap{position:relative;width:100%;padding:0 5.5555555%;box-sizing:border-box}
.event_wrap .evt_swipe_wrap .swiper-container{overflow:hidden;width:100%;height:100%;white-space:nowrap}
.event_wrap .evt_swipe_wrap .swiper-slide{float:left;width:100%;height:100%}
.event_wrap .evt_swipe_wrap .controls [class^="btn_"]{position:absolute;display:inline-block;top:50%;width:40px;height:48px;margin-top:-24px} 
.event_wrap .evt_swipe_wrap .controls .btn_prev{left:13px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat}
.event_wrap .evt_swipe_wrap .controls .btn_next{right:13px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat;transform:rotate(180deg)}
.event_wrap .evt_swipe_wrap .controls .pagination{position:absolute;left:0;bottom:70px;width:100%;height:12px;margin:0;text-align:center}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-pagination-switch{display:inline-block;width:12px;height:12px;margin:0 12px;background-color:#e1e1e1;border-radius:100%;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-active-switch{background-color:#313131}
.event_wrap .evt_swipe_wrap .swiper-pagination-fraction{bottom:32px;font-size:12px;color:#333}

/* more button */
.event_wrap .btn_more{display:block;width:52.77777%;height:45px;margin:18px auto 0;background:#000;font-size:13px;color:#fff;text-align:center;line-height:45px}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;padding-top:13%;margin:0;border:none;background:none}


