@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_wide_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1{background:#f3ece5}
.event_wrap .p_evt_sec1:before{background:#f3ece5 url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:#f3ece5 url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#419a66}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#ed756f}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#f3ece5}
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:#f3ece5}
.event_wrap .p_evt_sec6,.event_wrap .p_evt_sec6:before,.event_wrap .p_evt_sec6:after{background:#f3ece5}
.event_wrap .p_evt_sec6{padding-bottom:100px}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:61%;left:15%;width:69%;height:28%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.coupon_wrap{position:relative}
.coupon_wrap .date{position:absolute;top:65px;left:102px;font-size:30px;font-weight:600;color:#333;line-height:38px}
.coupon_wrap .btn_coupon{top:278px;left:154px;width:300px;height:70px;padding:0}
.coupon_wrap .btn_buy{top:350px;left:154px;width:300px;height:70px}

/* notice */
.event_wrap .evt_notice{padding:42px 0 143px}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:16px;font-weight:300;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}
.event_wrap .p_evt_sec3 .notice_list li{color:#fff}
.event_wrap .p_evt_sec3 .notice_list li:before{background-color:#fff}

/* 1+1 goods */
.evt_items_wrap{position:relative}
.evt_items_wrap .items_list{position:absolute;top:0;right:146px;left:146px;bottom:0;margin-bottom:68px;font-size:0;background:url(about:blank) 0 0 no-repeat}
.evt_items_wrap .items_list li{display:inline-block;width:324px;height:407px;margin:0 0 82px 80px}
.evt_items_wrap .items_list li:nth-child(2n+1){margin-left:0}
.evt_items_wrap .items_list li.item_soldout{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/p_evt_soldout.png) -1px -1px no-repeat}
.evt_items_wrap .items_list a{display:block;width:100%;height:100%}
.evt_items_wrap .items_list li.item_soldout a{pointer-events:none}

/* slide */
.event_wrap .evt_swipe_wrap{position:relative;width:100%;height:410px}
.event_wrap .evt_swipe_wrap .swiper-container{overflow:hidden;width:100%;height:100%;white-space:nowrap}
.event_wrap .evt_swipe_wrap .swiper-slide{float:left;width:100%;height:100%}
.event_wrap .evt_swipe_wrap .controls [class^="btn_"]{position:absolute;display:inline-block;top:50%;width:40px;height:48px;margin-top:-22px} 
.event_wrap .evt_swipe_wrap .controls .btn_prev{left:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat}
.event_wrap .evt_swipe_wrap .controls .btn_next{right:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202102/0215_give_more/img/slide/ico_arr.png) 50% 50% no-repeat;transform:rotate(180deg)}
.event_wrap .evt_swipe_wrap .controls .pagination{position:absolute;left:0;bottom:70px;width:100%;height:12px;margin:0;text-align:center}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-pagination-switch{display:inline-block;width:12px;height:12px;margin:0 12px;background-color:#e1e1e1;border-radius:100%;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .evt_swipe_wrap .controls .pagination .swiper-active-switch{background-color:#313131}

/* more button */
.event_wrap .btn_more{display:block;width:302px;height:74px;margin:30px auto 0;background:#000;font-size:20px;color:#fff;text-align:center;line-height:74px}

/* product */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list li{display:inline-block;width:330px;height:auto;margin:0 0 66px 15px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:10px;font-size:20px;font-weight:400;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:70px;height:70px;background:#ed756f;font-size:16px;color:#fff;text-align:center;line-height:70px}
.event_wrap .percent .num{font-size:22px}
.event_wrap .original{margin-right:5px;font-size:18px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#333} 

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:528px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;height:72px;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;height:100%;margin:0;padding:0;border:none;background:none}
