@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:76%;left:16%;right:16%;height:18.5%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:286px;left:0;right:0}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:40px}
.event_wrap .info_desc{padding-bottom:40px}
.event_wrap .info_desc span{color:#8d8f7d}

/* notice */
.event_wrap .noti1{background:#f7f7f7 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_chuseock/img/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .noti2{background:#f7f7f7 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_chuseock/img/p_img_noti2.jpg) 50% 0 no-repeat}

/* 영상 */
.event_wrap .movie_box{position:absolute;width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);z-index:-1;overflow:hidden}
.event_wrap .movie_box .movie{display:block;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover;opacity:0;transition:opacity 1.4s ease-in-out}
.event_wrap .movie_box .movie video{width:100%;height:auto;margin-top:-120px}
.event_wrap .movie_box .movie.active{opacity:1}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;min-width:1200px;max-width:1920px;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_chuseock/img/p_btn_bg.jpg) 50% 0}
.desktop .fb__event .fb__event-comment__join-btn button{width:480px;height:80px;font-size:0;padding:0;border-radius:100px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_chuseock/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
