@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
.event_wrap .evt_mov .obj{position:absolute;z-index:2;top:11vw;left:50%;transform:translateX(-50%);width:78vw;}
