@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

.event_wrap .comment_wrap{padding:44px 6.3888888% 23px;background:#f6f5f0}
.event_wrap textarea{font-family:-apple-system-font,'Apple SD Gothic Neo',Helvetica,sans-serif;appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{position:relative;border:2px solid #000}
.event_wrap .textarea_wrap:after{position:absolute;top:95.6%;left:50%;z-index:10;width:10px;height:10px;margin-left:-5px;border:solid #000;border-width:0 2px 2px 0;background:#f6f5f0;-webkit-transform:rotate(45deg);transform:rotate(45deg);content:''}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:100%;height:102px;padding:15px;border:0;background:none;font-size:13px;font-weight:500;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:13px;color:#333}
.event_wrap .comment_wrap .btn_enroll{display:block;width:100%;padding-top:14.808917%;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_zero_waste/img/btn_enroll.jpg) 0 0 no-repeat;background-size:100% auto}

.event_wrap .input_check_wrap{display:block;position:relative;padding:11px 0 13px;background:#f6f5f0;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;z-index:-1;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:26px;font-size:12px;color:#333;font-weight:700;line-height:26px;vertical-align:top;cursor:pointer;}
.event_wrap .input_check+label:before{display:inline-block;width:17px;height:17px;margin:4px 6px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_zero_waste/img/sp_chk.png) 0 0 no-repeat;background-size:100% auto;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 100%}

.event_wrap .comment_list{padding:0 6.3888888% 18px;background:#f6f5f0}
.event_wrap .comment_list li{border-bottom:1px solid #666}
.event_wrap .comment_list .inner{position:relative;padding:12px 0;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:12px;color:#a1a1a1;vertical-align:middle}
.event_wrap .comment_list .comment_writer{min-width:73px}
.event_wrap .comment_list .comment_title{display:block;max-width:90%;margin-top:6px;font-weight:700;color:#000;word-break:keep-all}
.event_wrap .comment_list .btn_close{top:30px;right:0;width:23px;height:23px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_zero_waste/img/btn_close.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .inner.is_expanded .btn_more .ico{background-position:0 100%}
.event_wrap .inner.is_expanded .comment_title{text-overflow:clip;white-space:normal}

.event_wrap .paginate{background:#f6f5f0;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 8px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:22px;font-weight:400;font-size:14px;color:#000;line-height:22px}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-10px;width:2px;height:2px;background:#000;content:''}
.event_wrap .paginate .num.on{display:block;background:#000;color:#fff;border-radius:50%;-webkit-border-radius:50%}
.event_wrap .paginate .sp{display:inline-block;width:22px;height:22px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0803_zero_waste/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-right:-10px}
.event_wrap .paginate .sp_next{margin-left:-10px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}

/* notice */
.event_wrap .evt_notice{padding:34px 6.3888888% 51px;background:#f6f5f0;-webkit-box-sizing:border-box;box-sizing:border-box}
/* .event_wrap .notice_list{padding:16px 3.184713%;background:#e5e5e5} */
.event_wrap .notice_list li{position:relative;padding-left:5px;font-size:12px;font-weight:500;color:#333;line-height:1.7;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#333;content:''}
.event_wrap .notice_list li em{font-style:normal;font-weight:700;color:#3d3d3d}


/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:24px 15px;text-align:left}
.layer_popup_wrap .layer_popup_contents .layer_popup_content{padding:15px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{font-size:12px;color:#242424}

.layer_popup_wrap .popup_table{color:#242424;border:0}
.layer_popup_wrap .popup_table table th{height:26px;padding:0 6px;font-weight:500;color:#fff;background:#242424;line-height:26px}
.layer_popup_wrap .popup_table table td{padding:7px 2px 7px 4px;border:1px solid #fff;border-right:0;background:#cbcbcb}
.layer_popup_wrap .popup_table table td:first-child{border-left:0}
.layer_popup_wrap .popup_table table tr:first-child td{border-top:1px solid #fff}
.layer_popup_wrap .popup_notice{margin-top:25px;font-size:12px;color:#242424}
.layer_popup_wrap .btn_area{margin:15px -4px 0;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .u_btn{display:inline-block;width:47.042821%;height:38px;margin:0 2px;font-size:15px;color:#242424;border:1px solid #292222;background-color:#cbcbcb;line-height:38px;vertical-align:middle;-webkit-box-sizing:border-box;box-sizing:border-box}
.layer_popup_wrap .btn_area .btn_agree{background:#242424;color:#fff}