@charset "utf-8";

body,h1{margin:0;padding:0}
ul,li{margin:0;padding:0;list-style:none}
.event_wrap{width:1020px;margin:0 auto;padding-bottom:50px}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_go{right:6%;bottom:15%;width:43%;height:17%}

.event_wrap .evt_section .p_img{display:block}
.event_wrap .evt_section .m_img{display:none}

@media all and (max-width:720px){
    .event_wrap{width:100%;max-width:none;margin:0 auto}
    .event_wrap .evt_section, .event_wrap .evt_notice{max-width:none;width:100%}

    .event_wrap .evt_section .p_img{display:none}
    .event_wrap .evt_section .m_img{display:block}
    .event_wrap .btn_go{right:0;bottom:2%;width:100%;height:16%}
}
