@charset "utf-8";

.event_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn_coupon{position:absolute;top:83.5%;left:24.6%;width:50%;height:7.2%;padding:0;border:0}

/* notice */
.event_wrap .evt_notice{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1207_esg_prize/img/noti_bg.jpg) 0 0 repeat-y;padding:44px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-position:-24px 0;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#ffff;border-radius:100%;content:''}
