@charset "utf-8";
/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 
.event_wrap{overflow:hidden}

/* common */
.event_wrap .evt_section,
.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{max-width:none;margin:0 0 auto;vertical-align:top}

/* button */
.event_wrap .btn_coupon{position:absolute;top:83.5%;left:39.6%;width:21%;height:6.6%;padding:0;border:0}

/* notice */
.event_wrap .evt_notice{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1207_esg_prize/img/p_noti_bg.jpg) 0 0 repeat-y;padding:60px 70px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:15px 73px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:47px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:-24px 0;content:''}
.event_wrap .notice_list{padding:13px 46px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}
