@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk{position:absolute;top:0;left:0;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .evt_notice{padding:80px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* top animation */
.event_wrap .motion_box{position:absolute;width:100%;height:100%;top:0;left:0}
.event_wrap .motion_box img{margin:0 !important}
.event_wrap .motion_box div{margin-left:-60px}
.event_wrap .motion_box .txt1{margin-top:76px}
.event_wrap .motion_box .txt2{margin-top:26px}
.event_wrap .motion_box span{display:inline-block;animation:slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both}
.event_wrap .motion_box .delay-0{animation-delay:0.7s !important}
.event_wrap .motion_box .delay-1{animation-delay:1.1s !important}
.event_wrap .motion_box .delay-2{animation-delay:1.4s !important}
.event_wrap .motion_box .delay-3{animation-delay:1.7s !important}
.event_wrap .motion_box .object{position:absolute;top:0;right:0;animation:text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}

@keyframes slide-left {
    0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    }
}
@keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}