@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}

/* button */
.event_wrap .btn_coupon{top:58%;left:58%;width:17%;height:11.5%;padding:0}

/* notice */
.event_wrap .evt_notice{padding:0 145px 94px;background:url(https://www.orga.co.kr/images/promo/202105/0528_leaflet/img/p_bg_sec.jpg) 0 0 repeat}
.event_wrap .notice_title{display:block;position:relative;padding-left:34px;border-top:4px solid #2a2a28;border-bottom:1px solid #2a2a28;font-size:22px;font-weight:600;color:#2a2a28;line-height:58px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:7px;width:24px;height:24px;margin-top:-11px;background:url(https://www.orga.co.kr/images/promo/202105/0528_leaflet/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:26px 0 28px;border-bottom:1px solid #2a2a28}
.event_wrap .notice_list li{position:relative;padding-left:18px;font-size:16px;color:#2a2a28;letter-spacing:-1px;line-height:31px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:8px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}

/* mobile device */
.event_wrap.mevt{width:100%;max-width:none;margin:0 auto}
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{max-width:none;width:100%}
.event_wrap.mevt .btn_coupon{top:59%;left:24%;width:51%;height:9%}

.event_wrap.mevt .evt_notice{padding:0 5.555555% 54px;background-image:url(https://www.orga.co.kr/images/promo/202105/0528_leaflet/img/bg_sec.jpg);background-size:100% auto}
.event_wrap.mevt .notice_title{padding-left:18px;border-top-width:2px;font-size:14px;line-height:38px}
.event_wrap.mevt .notice_title:before{left:2px;width:14px;height:14px;margin-top:-7px;}
.event_wrap.mevt .notice_list{padding:19px 0}
.event_wrap.mevt .notice_list li{padding-left:6px;font-size:12px;line-height:20px}
.event_wrap.mevt .notice_list li:before{top:9px;left:2px;width:2px;height:2px}


