@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#00c95f}
.event_wrap .p_evt_sec2{background:#f4f4f4}
.event_wrap .p_evt_sec3{background:#e0ffe5}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;bottom:0}
.event_wrap .btn_lnk2{top:85%;left:25%;right:25%;height:6.5%}

.event_wrap .benefit_list{position:absolute;top:0;right:0;left:0;bottom:0;border:0;padding:0;display:flex;flex-direction:column;justify-content:space-between}
.event_wrap .benefit_list li{width:100%;height:50%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .nav_swiper{position:relative;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none;}
.event_wrap .nav_swiper::-webkit-scrollbar{display:none}
.event_wrap .evt_nav_wrap{position:relative;display:flex;}
.event_wrap .evt_nav_wrap li{height:16.6666vw;flex-shrink:0;display:flex;align-items:center;}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:65%;color:#000;border:1px solid #000;border-radius:100px;padding:0 20px;margin:0 5px;display:flex;align-items:center;justify-content:center;font-size:14px}
.event_wrap .p_evt_nav li.on a{color:yellow;background:#000}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;background:skyblue}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

/* 쿠폰리스트 */
.event_wrap .coupon_list{box-sizing:border-box;padding:8.3333vw 0;margin:0 5.555vw;background:#e0ffe5;border-radius:6px}
.event_wrap .coupon_list li{margin-bottom:5.5555vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:49.0625%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;min-height:11.6vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount em.lohas{font-size:8.3333vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;letter-spacing:-1px}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:4vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.25vw}

.event_wrap .coupon_item_btn{position:relative;width:55.5555vw;line-height:13.888vw;left:50%;transform:translateX(-50%);border-radius:4px;background:#111 !important;color:#fff;font-size:5.5555vw !important;font-weight:700;letter-spacing:-0.35vw;box-sizing:border-box}


/* notice */
.event_wrap .p_evt_noti{background:#00c95f}
.event_wrap .evt_notice{padding:33px 5.555555% 43px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) -24px 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#e0ffe5;}
.event_wrap .noti2 .notice_title{color:#333}
.event_wrap .noti2 .notice_title:before{background-position:0 0}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* product */
.event_wrap .product_list{position:relative;padding:0 5.5555% 10% 5.5555%;display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:46.875%;vertical-align:top;border-radius:6px;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:center}

.event_wrap .product_img{display:block;width:100%;overflow:hidden;border-radius:4px}
.event_wrap .product_info{overflow:hidden;display:block;width:100%;padding:12px 2% 25px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;max-height:36px;font-size:15px;font-weight:500;color:#333;line-height:18px;letter-spacing:-.3px;word-break:break-all}
.event_wrap .percent{position:absolute;top:0;right:0;width:40px;height:40px;line-height:40px;font-size:0;text-align:center;background:#ff752a;border-radius:0 4px 0}
.event_wrap .percent .num{display:inline-block;font-size:16px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:12px;;color:#fff}
.event_wrap .original{display:inline-block;margin:6px 2.77777% 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:14px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:14px;font-weight:600;color:#999}
.event_wrap .sale{display:inline-block;margin-top:6px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:20px;font-weight:600;color:#111;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:14px;font-weight:600;color:#111}

/* template */
.mobile .fb__event .event .event__roulette__wrap{min-height:auto;padding-top:100%;background:#e0ffe5}
.mobile .fb__event .event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb__event .event .event__roulette__wrap .roulette__background{display:none} /* PC배경 삭제 */
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}

