@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}
.event_wrap .evt_notice{max-width:833px}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before,.event_wrap .p_evt_tit:after{background:#fdfadc}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#f9f3c4}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f5eeb4}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#e5dd9c}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:30%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* tabmenu */
.event_wrap .tabmenu_wrap{position:relative}
.event_wrap .tab_list{position:absolute;top:20px;right:93px;left:93px;z-index:100;width:100%;max-width:833px;margin:0 auto;font-size:0;text-align:center}
.event_wrap .tab_list li{display:inline-block;width:25%;height:74px;margin-left:-1px}
.event_wrap .tab_list a{border:1px solid #789300;background-image:url(about:blank)}
.event_wrap .tab_list .tab{display:block;position:relative;width:100%;height:100%;font-size:19px;font-weight:300;color:#fff;line-height:72px;box-sizing:border-box;-webkit-box-sizing:border-box}
.event_wrap .tab_list .is_active{background:#789300;font-weight:500;color:#fff;opacity:1}
.event_wrap .tab_list .is_active:before{position:absolute;left:50%;bottom:-10px;width:20px;height:20px;margin-left:-10px;background:#789300;transform:rotate(45deg);content:''}

.event_wrap .tabpanel{background:#fff}
.event_wrap .tabpanel .item{position:relative}
.event_wrap .tabpanel .item:before{position:absolute;top:0;left:-120px;z-index:10;width:120px;height:100%;content:''}
.event_wrap .tabpanel .item:after{position:absolute;top:0;right:-120px;z-index:10;width:120px;height:100%;content:''}
.event_wrap .tabpanel .item1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img1_l.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img1_r.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img2_l.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img2_r.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item3:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img3_l.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item3:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img3_r.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item4:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img4_l.jpg) 0 0 no-repeat}
.event_wrap .tabpanel .item4:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/p_prd_img4_r.jpg) 0 0 no-repeat}
.event_wrap .prd_item_link{position:absolute;right:93px;left:93px;bottom:50px;height:350px;font-size:0}
.event_wrap .prd_item_link li{display:inline-block;width:33.3333%;height:100%}
.event_wrap .prd_item_link li a{display:block;width:100%;height:100%}

/* evt link */
.event_wrap .btn_lnk1{left:9%;bottom:3%;width:82%;height:16%}
.event_wrap .btn_lnk2{left:12%;bottom:21%;width:24%;height:4%}

/* notice */
.event_wrap .evt_notice{padding:28px 35px 35px;background:#5a4c43;box-sizing:border-box}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:11px;font-size:17px;font-weight:300;color:#e4e3e2;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:4px;height:4px;background-color:#e4e3e2;border-radius:50%;content:''}