@charset "utf-8";


/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;right:10%;left:10%;bottom:0;height:38%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* evt swiper */
.event_wrap .brandweek_swiper_wrap{overflow:hidden;position:relative;padding-bottom:55px;background:#fdfadc}
.event_wrap .brandweek_swiper_wrap .evt-swiper-list{font-size:0;white-space:nowrap}
.event_wrap .brandweek_swiper_wrap .evt-swiper-item{overflow:hidden;display:inline-block;width:100%;height:auto}
.event_wrap .brandweek_swiper_wrap .evt-swiper-item .inner{position:relative}
.event_wrap .brandweek_swiper_wrap .swiper-btn{width:19px;height:69px;margin-top:0;border:none;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}
.event_wrap .brandweek_swiper_wrap .swiper-button-prev{left:0;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/arrow_left.png') 0 0 no-repeat;background-size:100% auto}
.event_wrap .brandweek_swiper_wrap .swiper-button-next{right:0;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202006/0605_brandweek/img/arrow_right.png') 0 0 no-repeat;background-size:100% auto}
.event_wrap .brandweek_swiper_wrap .swiper-button-prev.swiper-button-disabled,
.event_wrap .brandweek_swiper_wrap .swiper-button-next.swiper-button-disabled{opacity:0}
.event_wrap .brandweek_swiper_wrap .swiper-pagination{bottom:-10px}
.event_wrap .brandweek_swiper_wrap > .swiper-pagination-bullets .swiper-pagination-bullet{width:4px;height:4px;margin:0 9px;border:2px solid #000;background:#fdfadc;vertical-align:middle;-webkit-border-radius:50%;border-radius:50%;opacity:1}
.event_wrap .brandweek_swiper_wrap > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{width:8px;height:8px;background:#fdfadc}
.event_wrap .brandweek_swiper_wrap .prd_item_link{position:absolute;left:9%;bottom:4%;z-index:10;width:38%;height:45%}
.event_wrap .brandweek_swiper_wrap .prd_item_link li{display:block;width:100%;height:33.3333%}
.event_wrap .brandweek_swiper_wrap .prd_item_link li a{display:block;width:100%;height:100%}

/* evt link */
.event_wrap .btn_lnk1{left:9%;bottom:7%;width:82%;height:10%}
.event_wrap .btn_lnk2{left:6%;bottom:23.5%;width:51%;height:5%}

@font-face {
  font-family: 'pmolohasmedium';
  font-style: normal;
  font-weight: normal;
  src: url(https://www.pulmuoneshop.co.kr/front/mInclude/fonts/PulmuoneLOHASMedium.eot);
  src: url(https://www.pulmuoneshop.co.kr/front/mInclude/fonts/PulmuoneLOHASMedium.eot?#iefix) format('embedded-opentype'),
   url(https://www.pulmuoneshop.co.kr/front/mInclude/fonts/PulmuoneLOHASMedium.woff2) format('woff2'), 
       url(https://www.pulmuoneshop.co.kr/front/mInclude/fonts/PulmuoneLOHASMedium.woff) format('woff');
}

/* notice */
.event_wrap .evt_notice{padding:0 4.166666%;background:#f9f3c4;box-sizing:border-box}
.event_wrap .evt_notice .notice_list{padding:28px 11px;background:#5a4c43}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:5px;font-family:pmolohasmedium;font-size:14px;color:#e4e3e2;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:0;width:2px;height:2px;background-color:#e4e3e2;border-radius:50%;content:''}
.event_wrap .notice2{background:#f5eeb4}



