@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto;font-family:'notokr'}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:30%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon button */
.event_wrap .btn_coupon{top:65%;right:18%;width:64%;height:17%}

/* notice */
.event_wrap .evt_notice{padding:15px 20px;background:#7f7f7f}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:6px;color:#fff;font-size:12px;font-weight:300;letter-spacing:-.07em;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:0px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}
.event_wrap .p_evt_noti2 .evt_notice{background:#777676}

/* prd items */
.event_wrap .p_evt_sec2{padding:67px 0 37px;background:#f7f3f0}
.event_wrap .evt_banner{padding-bottom:37px}
.event_wrap .product_list{margin-top:33px;padding:0 4.8611111%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:47.6923076%;height:auto;padding:0 4.3076923% 30px 0;vertical-align:top}
.event_wrap .product_list li:nth-child(2n){padding-right:0}
.event_wrap .product_title{overflow:hidden;min-height:54px;margin:12px 0 2px;font-size:14px;font-weight:600;color:#333;word-break:keep-all}
.event_wrap .product_info{display:block;text-align:right}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .percent{float:left;font-size:10px;color:#7fc241}
.event_wrap .percent .num{font-size:18px;font-weight:600}
.event_wrap .original{font-size:13px;color:#707070}
.event_wrap .sale{display:inline-block;margin-left:5px;font-size:18px;font-weight:600;color:#333}
.event_wrap .sale ins{text-decoration:none}
.event_wrap .btn_area{display:block;margin-top:14px;width:100%;padding-top:25.806451%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/btn_lnk.png) 0 0 no-repeat;background-size:100% auto}

/* enroll */
.event_wrap .evt_entry_wrap{position:absolute;top:0;right:6.3763608%;left:5%;bottom:29.9342105%;font-size:0;text-align:center}
.event_wrap .input_radio_wrap{display:inline-block;position:relative;width:25%;height:54.3080939%;font-size:0}
.event_wrap .input_radio{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.event_wrap .input_radio+label{display:inline-block;position:relative;width:66px;height:66px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/day.png) 0 0 no-repeat;background-size:700% auto;font-size:0;color:transparent;text-align:center;cursor:pointer;}
.event_wrap .input_radio+label:before{display:inline-block;position:absolute;left:50%;bottom:-24px;width:14px;height:14px;margin-left:-7px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/sp_chk.png) 0 0 no-repeat;background-size:100% auto;vertical-align:top;content:''}
.event_wrap .input_radio:checked+label:before{background-position:0 100%}

/* mon */
.event_wrap .input_radio.mon:focus+label,
.event_wrap .input_radio.mon+label:hover,
.event_wrap .input_radio.mon:checked+label{background-position:0 -66px}

/* tue */
.event_wrap .input_radio.tue+label{background-position:-66px 0}
.event_wrap .input_radio.tue:focus+label,
.event_wrap .input_radio.tue+label:hover,
.event_wrap .input_radio.tue:checked+label{background-position:-66px -66px}

/* wed */
.event_wrap .input_radio.wed+label{background-position:-132px 0}
.event_wrap .input_radio.wed:focus+label,
.event_wrap .input_radio.wed+label:hover,
.event_wrap .input_radio.wed:checked+label{background-position:-132px -66px}

/* thur */
.event_wrap .input_radio.thur+label{background-position:-198px 0}
.event_wrap .input_radio.thur:focus+label,
.event_wrap .input_radio.thur+label:hover,
.event_wrap .input_radio.thur:checked+label{background-position:-198px -66px}

/* fri */
.event_wrap .input_radio.fri+label{background-position:-264px 0}
.event_wrap .input_radio.fri:focus+label,
.event_wrap .input_radio.fri+label:hover,
.event_wrap .input_radio.fri:checked+label{background-position:-264px -66px}

/* sat */
.event_wrap .input_radio.sat+label{background-position:-330px 0}
.event_wrap .input_radio.sat:focus+label,
.event_wrap .input_radio.sat+label:hover,
.event_wrap .input_radio.sat:checked+label{background-position:-330px -66px}

/* sun */
.event_wrap .input_radio.sun+label{background-position:-396px 0}
.event_wrap .input_radio.sun:focus+label,
.event_wrap .input_radio.sun+label:hover,
.event_wrap .input_radio.sun:checked+label{background-position:-396px -66px}

/* enroll button */

.event_wrap .btn_apply{top:78.065789%;left:18.6625194%;width:63.76360808%;padding-top:12.9082426%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/btn_enroll.png) 0 0 no-repeat;background-size:100% auto}

.event_wrap .day_result_wrap{position:absolute;top:31.60377358%;right:4.7222222%;left:4.7222222%;bottom:17.9245283%;font-size:0;text-align:center}
.event_wrap .day_result:after{position:absolute;top:20%;right:0;width:1px;height:79.439252%;background:#d8d8d8;content:''}
.event_wrap .day_result:nth-child(4):after,.event_wrap .day_result:last-child:after{display:none}
.event_wrap .day_result{display:inline-block;position:relative;width:25%;height:50%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/day_result.png) 0 0 no-repeat;background-size:700% auto;;font-size:0;color:transparent;text-align:center}
.event_wrap .day_result:first-child:before,
.event_wrap .day_result:nth-child(2):before,
.event_wrap .day_result:nth-child(3):before
{position:absolute;top:0;left:50%;width:33px;height:22px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/ico_crown.png) 0 0 no-repeat;background-size:100% auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);content:''}
.event_wrap .day_result.mon{background-position:0 0}
.event_wrap .day_result.tue{background-position:16.666666% 0}
.event_wrap .day_result.wed{background-position:33.3333333% 0}
.event_wrap .day_result.thur{background-position:50% 0}
.event_wrap .day_result.fri{background-position:66.6666666% 0}
.event_wrap .day_result.sat{background-position:83.333332% 0}
.event_wrap .day_result.sun{background-position:100% 0}

.event_wrap .result_wrap{position:absolute;left:50%;width:100%;padding-top:103.067484%;font-size:0;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
.event_wrap .result_wrap .ico{display:inline-block;width:13px;height:13px;margin-top:3px;font-size:0;color:transparent;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0819_happy_mothers_day/img/ico_like.png) 0 0 no-repeat;background-size:100% auto;vertical-align:top}
.event_wrap .result_wrap .count{display:inline-block;margin-left:3px;font-size:15px;color:#585a5a;line-height:17px}
.event_wrap .result_wrap .person{display:inline-block;font-size:14px;color:#585a5a;line-height:17px}