@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap img{vertical-align:top}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;-webkit-box-sizing:border-box;box-sizing:border-box}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:31%;bottom:32%;width:50%;height:15%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* item list */
.event_wrap .items_list{position:absolute;top:10%;left:10%;width:80%;height:86%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .items_list li{display:inline-block;width:50%;height:33.3333%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* prd list */
.event_wrap .product_area{position:relative}
.event_wrap .product_list{position:absolute;top:19%;left:12%;width:76%;height:41%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:33.3333%;height:100%}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{top:69%;left:30%;width:41%;height:18%}


.event_wrap .p_evt_sec7{height:754px;background:#fff8f2}
.event_wrap .order_step_slide{position:absolute;top:180px;left:63px;width:895px;overflow:hidden;padding-bottom:21px}
.event_wrap .order_step_slide .swiper-slide{width:895px;height:551px;float:left}
.event_wrap .order_step_slide .controls [class^="btn_"]{display:inline-block;width:24px;height:57px;position:absolute;top:198px} 
.event_wrap .order_step_slide .controls .btn_prev{left:30px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0907_health_juice/img/btn_prev.png) no-repeat left top}
.event_wrap .order_step_slide .controls .btn_next{right:30px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0907_health_juice/img/btn_next.png) no-repeat right top}
.event_wrap .order_step_slide .controls .hide{display:none}
.event_wrap .order_step_slide .controls .pagination{position:absolute;left:0;bottom:0;width:100%;height:16px;margin:0;text-align:center}
.event_wrap .order_step_slide .controls .pagination .swiper-pagination-switch{display:inline-block;width:16px;height:16px;margin:0 9px;border:2px solid #706e6c;background-color:#706e6c;border-radius:100%;background-color:#fff8f2;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .order_step_slide .controls .pagination .swiper-active-switch{border:2px solid #212120;background-color:#212120;}
.event_wrap .btn_order{display:inline-block;width:338px;height:80px;background-color:#3b3b3b;box-shadow:1px 1px 18px rgba(23,23,23,.3);-webkit-box-shadow:1px 1px 18px rgba(23,23,23,.3);color:#fff;font-size:26px;text-align:center;line-height:80px}

/* notice */
.event_wrap .evt_notice{background:#fff8f2}
.event_wrap .evt_notice .inner{max-width:770px;margin:0 auto;padding:90px 0 112px}
.event_wrap .notice_list{padding:26px 0;border-top:3px solid #000003;border-bottom:1px solid #b2adaa}
.event_wrap .notice_list li{position:relative;padding-left:9px;font-size:16px;color:#3b3b3b;line-height:1.9;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:3px;height:3px;background-color:#3b3b3b;content:''}
