@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:13%;bottom:32%;width:74%;height:14%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* item list */
.event_wrap .items_wrap{position:relative}
.event_wrap .items_list{position:absolute;top:0;left:10%;width:80%;height:98%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .items_list li{display:inline-block;width:100%;height:33.3333%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* prd list */
.event_wrap .product_area{position:relative}
.event_wrap .product_list{position:absolute;top:19%;left:6%;width:88%;height:36%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .product_list li{display:inline-block;width:33.3333%;height:100%}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{top:69%;left:23%;width:54%;height:18%}

.event_wrap .order_step_slide{position:absolute;top:25.81395348837209%;left:0;overflow:hidden;z-index:100;width:100%}
.event_wrap .order_step_slide [class^="swiper-button-"]{width:32px;height:32px;top:50%;margin-top:0;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)} 
.event_wrap .order_step_slide .swiper-button-prev{left:28px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0907_health_juice/img/btn_prev.png) no-repeat left 8px center;background-size:13px 32px}
.event_wrap .order_step_slide .swiper-button-next{right:28px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0907_health_juice/img/btn_next.png) no-repeat right 8px center;background-size:13px 32px}
.event_wrap .order_step_slide .swiper-button-prev.swiper-button-disabled,
.event_wrap .order_step_slide .swiper-button-next.swiper-button-disabled {opacity:0}
.event_wrap .order_step_slide .swiper-pagination-bullets{position:static;height:8px;margin-top:24px;z-index:10}
.event_wrap .order_step_slide .swiper-pagination-bullet{display:inline-block;width:8px;height:8px;margin:0 6px;border:1px solid #706e6c;border-radius:100%;background-color:#fff8f2;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top}
.event_wrap .order_step_slide .swiper-pagination-bullet-active{width:8px;height:8px;border:2px solid #212120;background-color:#212120;opacity:1;margin-top:0}

/* notice */
.event_wrap .evt_notice{background:#fff8f2}
.event_wrap .evt_notice .inner{max-width:770px;margin:0 auto;padding:44px 5.55555% 64px}
.event_wrap .notice_list{padding:23px 0;border-top:2px solid #000003;border-bottom:1px solid #b2adaa}
.event_wrap .notice_list li{position:relative;padding-left:5px;font-size:12px;color:#3b3b3b;line-height:1.8;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:0px;width:2px;height:2px;background-color:#3b3b3b;content:''}
