@charset "utf-8";


/* Smoke animation */
@keyframes smokeAni {
  0%   { transform: scale(0.5) translate(0, 0) }
  100% { opacity: 0.5 ; transform: scale(1.5) translate(-20px, -300px) }
}
@-webkit-keyframes smokeAni {
  0%   { transform: scale(0.5) translate(0, 0) }
  100% { opacity: 0.5 ; transform: scale(1.5) translate(-20px, -300px) }
}
@keyframes smokeAni2 {
  0%   { transform: scale(1) translate(0, 0) }
  100% { opacity: 0.5 ; transform: scale(1.8) translate(-20px, -300px) }
}
@-webkit-keyframes smokeAni2 {
  0%   { transform: scale(1) translate(0, 0) }
  100% { opacity: 0.5 ; transform: scale(1.8) translate(-20px, -300px) }
}

.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}
.event_wrap .smoke {position:absolute;top:10%;z-index:10;width: 180px; height: 230px;left: 40%;}
.event_wrap .smoke.smoke2{left:0;z-index:20;height:66%;top:142px;width:60%}
.event_wrap .smoke.smoke3{right:40px;width:360px;height:250px;top:200px;}
.event_wrap .smoke span {display: block;position: absolute;bottom: 0; left: 50%; margin-left:-20px;left: -14px; opacity: 0;transform: scale(0.2);background:url(https://www.orga.co.kr/images/promo/202006/0626_rainy_season/img/smoke1.png) 0 0 no-repeat;width:360px;height:300px;background-size:100% auto}
.event_wrap .smoke.smoke2 span{height:500px;background:url(https://www.orga.co.kr/images/promo/202006/0626_rainy_season/img/smoke2.png) 0 0 no-repeat;background-size:100% auto}

.event_wrap .smoke .s0 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni 15s 0s infinite }
.event_wrap .smoke .s1 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni 15s 3s infinite }
.event_wrap .smoke .s2 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni 15s 10s infinite }
.event_wrap .smoke .s3 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni 15s 12s infinite }
.event_wrap .smoke .s4 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni 15s 15s infinite }
.event_wrap .smoke.smoke2 .s0 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni2 20s 0s infinite }
.event_wrap .smoke.smoke2 .s1 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni2 20s 5s infinite }
.event_wrap .smoke.smoke2 .s2 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni2 20s 10s infinite }
.event_wrap .smoke.smoke2 .s3 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni2 20s 15s infinite }
.event_wrap .smoke.smoke2 .s4 { -webkit-animation: smokeAni 15s 0s infinite;animation: smokeAni2 20s 20s infinite }