@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{width:120px;height:190px;top:20px;right:40px}

/* notice */
.event_wrap .p_evt_noti{background:#ece9de}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 댓글템플릿 */
.desktop .detail-wrapper__bottom{padding-top:0}
.fb__event-comment__wrapper{position:relative;background:#ece9de url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0502_40anniversary_comment/img/0502/p_comment_bg.jpg) 50% 0 no-repeat;max-width:1920px;min-width:1168px;padding-bottom:60px;margin:0 auto}
.fb__event-comment__wrapper::after{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:1088px;height:100%;border-radius:12px;background:#fff;z-index:0}
.fb__event-comment__wrapper .fb__event-comment{position:relative;z-index:1}
