@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{position:relative;float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* .event_wrap .p_evt_tab{padding-top:18.3333333%} */
.event_wrap .p_evt_tab.is_fixed{padding-top:18.3333333%}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;top:0;left:50%;z-index:1;width:100%;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
.event_wrap .evt_tab_wrap li.on a:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/evt_tab_on.png) 0 0 no-repeat;background-size:300% auto;content:''}
.event_wrap .evt_tab_wrap .tab1.on a:after{background-position:0 0}
.event_wrap .evt_tab_wrap .tab2.on a:after{background-position:50% 0}
.event_wrap .evt_tab_wrap .tab3.on a:after{background-position:100% 0}

/* prd items */
.event_wrap .p_evt_sec2{background:#1f2d2d}
.event_wrap .p_evt_sec3{background:#384848}
.event_wrap .product_list{position:relative;padding:0 5.555555%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:46.875%;height:auto;margin:0 0 0 6.25%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:40px;margin-top:8px;font-size:14px;font-weight:400;color:#fff;line-height:20px}
.event_wrap .product_info{display:block;margin-top:3px}
.event_wrap .percent{position:absolute;top:0;left:0;width:40px;height:40px;border:1px solid #87bf31;background:#87bf31;font-size:12px;color:#fff;text-align:center;line-height:40px;-webkit-border-radius:100%;border-radius:100%}
.event_wrap .percent .num{font-size:17px}
.event_wrap .percent .num + span{margin-left:-2px}
.event_wrap .original{margin-right:4px;font-size:12px;color:#999}
.event_wrap .sale{display:inline-block;font-size:16px;font-weight:600;color:#fff}
.event_wrap .sale ins{text-decoration:none}

.event_wrap .p_evt_sec2 .product_list:after{position:absolute;right:0;bottom:0;width:189px;height:292px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/item_bg.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .p_evt_sec2 .product_list{padding-bottom:50px}
.event_wrap .p_evt_sec2 .percent{top:22%}
.event_wrap .p_evt_sec3 .percent{border-color:#009233;background-color:#009233}
.event_wrap .p_evt_sec3 .product_list{padding-bottom:25px}
.event_wrap .p_evt_sec3 .product_list li{margin-bottom:25px}
.event_wrap .p_evt_sec4 .product_list{margin-bottom:25px}
.event_wrap .p_evt_sec4 .product_list li{margin-bottom:25px}
.event_wrap .p_evt_sec4 .percent{width:30px;height:30px;font-size:11px;line-height:30px;-webkit-border-radius:0;border-radius:0}
.event_wrap .p_evt_sec4 .percent .num{font-size:13px}
.event_wrap .p_evt_sec4 .product_title{color:#111}
.event_wrap .p_evt_sec4 .sale{color:#87bf31}

/* btn */
.event_wrap .btn_coupon{top:83%;left:30%;width:40%;height:11%;padding:0}

/* notice */
.p_evt_noti .evt_notice{padding:0 4.444444% 50px}
.p_evt_noti .sub_notice_title{display:block;padding-top:10px;font-size:12px;color:#999}
.p_evt_noti .notice_list{margin-top:10px}
.p_evt_noti .notice_list li{position:relative;padding-left:7px;color:#999;font-size:12px;line-height:19px;word-break:keep-all}
.p_evt_noti .notice_list li:before{position:absolute;top:7px;left:1px;width:2px;height:2px;background-color:#999;border-radius:50%;content:''}

.event_wrap .notice2,.event_wrap .notice2:before,.event_wrap .notice2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec5_bg.jpg) 0 0 repeat}
.event_wrap .notice2,
.event_wrap .notice2 .sub_notice_title,
.event_wrap .notice2 .notice_list li{color:#9fb4ac}
.event_wrap .notice2 .sub_notice_title{border-top:1px solid #9fb4ac}
.event_wrap .notice2 .notice_list li:before{background-color:#9fb4ac}

/* comment */
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec5_bg.jpg) 0 0 repeat}
.event_wrap .comment_wrap{margin:25px 4.444444% 0;font-size:0}
.event_wrap textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{position:relative;background:#fff;vertical-align:top}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:100%;height:100px;padding:15px;border:0;background:none;font-size:13px;color:#111;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:13px;color:#111}
.event_wrap .comment_wrap .btn_enroll{display:block;width:100%;padding-top:15.2439024%;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/btn_enroll.jpg) 0 0 no-repeat;background-size:100% auto}

.event_wrap .comment_list{margin:25px 4.44444% 0;border-top:2px solid #285745}
.event_wrap .comment_list li{border-bottom:1px solid #285745}
.event_wrap .comment_list .inner{position:relative;padding:20px 6.19195% 20px 3.095975%;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:13px;color:#231f1d;vertical-align:middle}
.event_wrap .comment_list .comment_writer{min-width:75px;color:#a3c8b6}
.event_wrap .comment_list .comment_date{color:#a3c8b6}
.event_wrap .comment_list .comment_title{display:block;width:100%;margin-top:5px;font-weight:500;color:#fff;line-height:1.7;word-break:keep-all}
.event_wrap .comment_list .btn_close{top:20px;right:11px;width:11px;height:11px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/btn_close.png) 0 0 no-repeat;background-size:100% auto}

.event_wrap .paginate{padding:20px 0 25px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 6px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:22px;font-weight:400;font-size:15px;color:#406959;line-height:30px}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-6px;width:2px;height:2px;background:#fff;-webkit-border-radius:50%;border-radius:50%;content:''}
.event_wrap .paginate .num.on{display:block;color:#fff}
.event_wrap .paginate .sp{display:inline-block;width:5px;height:8px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle;}
.event_wrap .paginate .sp_prev{margin:-2px 2px 0 0}
.event_wrap .paginate .sp_next{margin:-2px 0 0 2px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}
