@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled,
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background:#fff;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background:#fff;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_tab_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_tab_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_noti:before{background: url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_noti_bg_l.jpg) 0 100% no-repeat}
.event_wrap .p_evt_sec2{background:#1f2d2d}
.event_wrap .p_evt_sec2:before{background:#1f2d2d url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:#1f2d2d url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec2_bg_r.jpg) 0 100% no-repeat}
.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec3:before{background:#384848}
.event_wrap .p_evt_sec3:after{background:#384848 url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec3_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec5_bg.jpg) 0 0 repeat}
.event_wrap .notice2,.event_wrap .notice2:before,.event_wrap .notice2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_sec5_bg.jpg) 0 0 repeat}


/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{position:relative;float:left;width:33.333334%;height:100%;margin:0;padding:0}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_tab{height:110px}
.event_wrap .p_evt_tab.is_fixed{padding-top:110px}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;top:0;left:50%;z-index:1;width:100%;height:110px;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
/* .event_wrap .p_evt_tab.is_fixed .evt_section:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background:#1f2d2d;content:''}
.event_wrap .p_evt_tab.is_fixed .evt_section:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background:#1f2d2d;content:''} */
.event_wrap .evt_tab_wrap li.on a:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_evt_tab_on.png) 0 0 no-repeat;content:''}
.event_wrap .evt_tab_wrap .tab1.on a:after{background-position:0 0}
.event_wrap .evt_tab_wrap .tab2.on a:after{background-position:50% 0}
.event_wrap .evt_tab_wrap .tab3.on a:after{background-position:100% 0}

/* prd items */
.event_wrap .product_list{padding:0 30px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:300px;height:auto;margin:0 0 0 30px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:60px;margin-top:21px;font-size:20px;font-weight:400;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:3px}
.event_wrap .percent{position:absolute;top:0;left:0;width:80px;height:80px;border:1px solid #87bf31;background-color:#87bf31;font-size:24px;color:#fff;text-align:center;line-height:80px;-webkit-border-radius:100%;border-radius:100%}
.event_wrap .percent .num{font-weight:500;font-size:33px}
.event_wrap .percent .num + span{margin-left:-2px}
.event_wrap .original{margin-right:7px;font-size:16px;color:#999}
.event_wrap .sale{display:inline-block;font-size:30px;font-weight:600;color:#fff}
.event_wrap .sale ins{text-decoration:none}

.event_wrap .p_evt_sec2 .product_list{padding-bottom:100px}
.event_wrap .p_evt_sec2 .percent{top:118px}
.event_wrap .p_evt_sec3 .percent{border-color:#009233;background-color:#009233}
.event_wrap .p_evt_sec3 .product_list{padding-bottom:50px}
.event_wrap .p_evt_sec3 .product_list li{margin-bottom:50px}
.event_wrap .p_evt_sec4 .product_list{margin-bottom:50px}
.event_wrap .p_evt_sec4 .product_list li{margin-bottom:50px}
.event_wrap .p_evt_sec4 .percent{width:60px;height:60px;font-size:20px;line-height:60px;-webkit-border-radius:0;border-radius:0}
.event_wrap .p_evt_sec4 .percent .num{font-size:26px}
.event_wrap .p_evt_sec4 .product_title{color:#111}
.event_wrap .p_evt_sec4 .sale{color:#87bf31}

/* btn */
.event_wrap .btn_coupon{top:53%;left:37%;width:26%;height:39%;padding:0}

/* notice */
/* .p_evt_noti .inner{padding:70px 0}
.p_evt_noti .inner .notice_title{display:block;width:100%;height:54px;padding-left:30px;background:#333;font-size:20px;font-weight:600;color:#fff;line-height:54px} */
.p_evt_noti .evt_notice{padding:13px 20px 93px}
.p_evt_noti .sub_notice_title{display:block;font-size:20px;font-weight:500;color:#999}
.p_evt_noti .notice_list{margin-top:10px}
.p_evt_noti .notice_list li{position:relative;padding-left:14px;color:#999;font-size:20px;font-weight:300;line-height:35px;word-break:keep-all}
.p_evt_noti .notice_list li:before{position:absolute;top:17px;left:1px;width:3px;height:3px;background-color:#999;border-radius:50%;content:''}


.event_wrap .notice2 .evt_notice{border-top:1px solid #9fb4ac}
.event_wrap .notice2,
.event_wrap .notice2 .sub_notice_title,
.event_wrap .notice2 .notice_list li{color:#9fb4ac}
.event_wrap .notice2 .notice_list li:before{background-color:#9fb4ac}

/* comment */
.event_wrap .comment_wrap{margin-top:50px;font-size:0}
.event_wrap textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{display:inline-block;position:relative;background:#fff;vertical-align:top}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:760px;height:150px;padding:30px;border:0;background:none;font-size:22px;color:#111;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:22px;color:#111}
.event_wrap .comment_wrap .btn_enroll{display:inline-block;width:240px;height:150px;margin-left:20px;border:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/p_btn_enroll.jpg) 0 0 no-repeat}

.event_wrap .comment_list{margin:48px 0 0;border-top:2px solid #285745}
.event_wrap .comment_list li{border-bottom:1px solid #285745}
.event_wrap .comment_list .inner{position:relative;padding:30px 100px 30px 30px;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:22px;color:#231f1d;vertical-align:middle}
.event_wrap .comment_list .comment_writer{min-width:146px;color:#a3c8b6}
.event_wrap .comment_list .comment_date{color:#a3c8b6}
.event_wrap .comment_list .comment_title{display:block;width:100%;margin-top:6px;color:#fff;line-height:2;word-break:keep-all}
.event_wrap .comment_list .btn_close{top:30px;right:32px;width:22px;height:22px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/btn_close.png) 0 0 no-repeat}

.event_wrap .paginate{padding:74px 0 94px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 23px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:22px;font-size:28px;color:#406959;line-height:22px}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-25px;width:4px;height:4px;background:#406959;-webkit-border-radius:50%;;border-radius:50%;content:''}
.event_wrap .paginate .num.on{display:block;color:#fff}
.event_wrap .paginate .sp{display:inline-block;width:10px;height:15px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1218_thanks_sale/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin:3px -6px 0 0}
.event_wrap .paginate .sp_next{margin:3px 0 0 -6px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}
