@charset "utf-8";


/* ==========================================================================
   icon
   ========================================================================== */
.ico { display: inline-block; overflow: hidden; position: relative; background-repeat: no-repeat; background-position: 0 0; background-attachment: scroll; font-size: 0; line-height: 0; vertical-align: middle; }
.ico_burger { width: 31px; height: 31px; background-image: url('../img/ico_burger.png'); background-size: 31px 31px; }
.ico_user_cart { width: 31px; height: 31px; background-image: url('../img/ico_user_cart.png'); background-size: 31px 31px; }
.ico_user_order { width: 31px; height: 31px; background-image: url('../img/ico_user_order.png'); background-size: 31px 31px; }
.ico_search { width: 15px; height: 17px; background-image: url('../img/ico_search.png'); background-size: 15px 17px; }
.ico_search02 { width: 15px; height: 16px; background-image: url('../img/ico_search02.png'); background-size: 15px 16px; }
.ico_spring { width: 36px; height: 36px; background-image: url('../img/ico_spring.png'); background-size: 36px 36px; }
.ico_summer { width: 36px; height: 36px; background-image: url('../img/ico_summer.png'); background-size: 36px 36px; }
.ico_fall { width: 36px; height: 36px; background-image: url('../img/ico_fall.png'); background-size: 36px 36px; }
.ico_winter { width: 36px; height: 36px; background-image: url('../img/ico_winter.png'); background-size: 36px 36px; }
.ico_lock { width: 36px; height: 36px; background-image: url('../img/ico_lock.png'); background-size: 36px 36px; }
.ico_company { width: 36px; height: 36px; background-image: url('../img/ico_company.png'); background-size: 36px 36px; }
.ico_person { width: 36px; height: 36px; background-image: url('../img/ico_person.png'); background-size: 36px 36px; }
.ico_coupon { width: 36px; height: 36px; background-image: url('../img/ico_coupon.png'); background-size: 36px 36px; }
.ico_point { width: 36px; height: 36px; background-image: url('../img/ico_point.png'); background-size: 36px 36px; }
.ico_truck { width: 36px; height: 36px; background-image: url('../img/ico_truck.png'); background-size: 36px 36px; }
.ico_food { width: 26px; height: 26px; background-image: url('../img/ico_food.png'); background-size: 26px 26px;  }
.ico_life { width: 26px; height: 26px; background-image: url('../img/ico_life.png'); background-size: 26px 26px; }
.ico_orgapb { width: 26px; height: 26px; background-image: url('../img/ico_orgapb2.png'); background-size: 26px 26px; }
.ico_pulmuone { width: 26px; height: 26px; background-image: url('../img/ico_pulmuone.png'); background-size: 26px 26px; }
.ico_drawer_close { width: 25px; height: 27px; background-image: url('../img/ico_drawer_close.png'); background-size: 25px 27px; }
.ico_e { width: 24px; height: 24px; background-image: url('../img/ico_e.png'); background-size: 24px 24px; }
.ico_cart { width: 37px; height: 37px; background-image: url('../img/ico_cart.png'); background-size: 37px 37px; }
.ico_chevron_right { width: 5px; height: 13px; background-image: url('../img/ico_chevron_right.png'); background-size: 5px 10px; }
.ico_chevron_right_white { width: 5px; height: 13px; background-image: url('../img/ico_chevron_right_white.png'); background-size: 5px 10px; }
.ico_watch { width: 10px; height: 12px; background-image: url('../img/ico_watch.png'); background-size: 10px 10px; }
.ico_orgaapp { width: 54px; height: 54px; background-image: url('../img/ico_orgaapp.png'); background-size: 54px 54px; }
.ico_required { width: 2px; height: 9px; background: #ad1901; }
.ico_file { width: 9px; height: 12px; background-image: url('../img/ico_file.png'); background-size: 9px 11px; }
.ico_file_delete { width: 10px; height: 10px; background-image: url('../img/ico_file_delete.png'); background-size: 10px 10px; }
.ico_exclamation { width: 9px; height: 33px; background-image: url('../img/ico_exclamation.png'); background-size: 9px 33px; }
.ico_chevron { width: 10px; height: 5px; background: url('../img/ico_chevron.png') no-repeat 0 0; background-size: 10px 5px; }
.ico_chevron_top { width: 10px; height: 5px; background: url('../img/ico_chevron_top.png') no-repeat 0 0; background-size: 10px 5px; }
.ico_more { width: 10px; height: 6px; background: url('../img/ico_more.png') no-repeat 0 0; background-size: 10px 5px; }
.ico_sns_blog { width: 28px; height: 28px; background: url('../img/ico_sns_blog.png') no-repeat 0 0; background-size: 28px 28px; }
.ico_sns_facebook { width: 28px; height: 28px; background: url('../img/ico_sns_facebook.png') no-repeat 0 0; background-size: 28px 28px; }
.ico_sns_kakaotalk { width: 28px; height: 28px; background: url('../img/ico_sns_kakaotalk.png') no-repeat 0 0; background-size: 28px 28px; }
.ico_sns_share { width: 28px; height: 28px; background: url('../img/ico_sns_share.png') no-repeat 0 0; background-size: 28px 28px; }
.ico_messege_kakaotalk { width: 56px; height: 28px; background: url('../img/ico_messege_kakaotalk.png') no-repeat 0 0; background-size: 56px 28px; }

body.app_view_open{overflow:hidden;}

/* ==========================================================================
   button
   ========================================================================== */
.btn {display: inline-block;overflow: visible;position: relative;width: auto;height: 34px;line-height: 34px;margin: 0;padding: 0 10px;border: 1px solid #ddd;border-radius: 0;background: #fff;color: #666;font-size: 13px;font-weight: normal;letter-spacing: -1px;text-align: center;vertical-align: middle;text-decoration: none;white-space: nowrap;box-sizing: border-box;}
.btn .btn_text { display: inline-block; color: inherit; font: inherit; }
/* 2017-09-06 박순욱 추가 */
.btn1 {display: inline-block;overflow: visible;position: relative;width: 100%;height: 34px;line-height: 34px;margin: 0;padding: 0 10px;border: 1px solid #ddd;border-radius: 0;background: #fff;color: #666;font-size: 13px;font-weight: normal;letter-spacing: -1px;text-align: center;vertical-align: middle;text-decoration: none;white-space: nowrap;box-sizing: border-box;}


/* type */
.btn_default { width: auto; height: 34px; line-height: 34px; padding: 0 10px; border: 1px solid #ddd; border-radius: 0; background: #fff; color: #666; font-size: 15px; }

/* btn color */
.btn_white { border-color: #ddd; background: #fff; color: #666; }
.btn_white02 { border-color: #dfdfdf; background: none; background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 50%, rgba(248,248,248,1) 100%); background-image: linear-gradient(to top, rgba(255,255,255,1) 50%, rgba(248,248,248,1) 100%); box-shadow: inset 0 1px 0 #fff; color: #000; }
.btn_green { border-color: #96a83a; background: #9fb33a; color: #fff; }
.btn_green02 { border-color: #394407; background: #4b590a; color: #fff; }
.btn_brown { border-color: #1a1512; background: #513f29; color: #fff; }
.btn_gray { border-color: #5e5e5e; background: #666; color: #fff; }

/* btn size */
.btn_xsmall {  }
.btn_small { height: 24px; line-height: 24px; font-size: 13px; }
.btn_large { height: 40px; line-height: 40px; font-size: 13px; }
.btn_xlarge {  }
.btn_block { display: block; width: 100%; }

/* icon + text */
.btn .ico { margin-right: 4px; }
.btn .btn_text + .ico { margin-left: 4px; margin-right: 0; }

/* only icon button */
.btn_ico { overflow: hidden; margin: 0; padding: 0; min-width: 0; max-width: none; width: auto; height: auto; border: 0; border-radius: 0; background: none; }
.btn_ico .ico { margin: 0; }
.btn_ico .btn_text { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

/* exception */
.btn_list_style { overflow: hidden; width: 34px; height: 34px; border: 1px solid #ddd; background: #fff url('../img/ico_type_thumb.png') no-repeat 50% 50%; background-size: 14px 14px; }
.btn_list_style.type_list { background-image: url('../img/ico_type_list.png'); }
.btn_calendar { overflow: hidden; width: 34px; height: 34px; border: 1px solid #ddd; background: #fff url('../img/ico_calendar.png') no-repeat 50% 50%; background-size: 18px 18px; }



/* ==========================================================================
   label
   ========================================================================== */
.label { display: inline-block; overflow: visible; position: relative; min-width: 47px; max-width: none; width: auto; min-height: 0; max-height: none; height: 15px; line-height: 16px; margin: 0; padding: 0 7px; border: 0; border-radius: 14px; background: #9fb23a; color: #fff; font: inherit; font-size: 13px; font-weight: normal; letter-spacing: -1px; text-align: center; text-decoration: none; vertical-align: middle; box-sizing: border-box; }
.label .label_text { display: inline-block; color: inherit; font: inherit; vertical-align: middle; }

/* type */
.label_transparent { min-width: 0; width: auto; height: auto; line-height: normal; padding: 0; border-radius: 0; background: none; color: #666; }

/* color */
.label_color01 { background: #9fb23a; }
.label_color02 { background: #3a83b2; }
.label_color03 { background: #4e5357; }
.label_color04 { background: #3c7099; }

/* icon + text */
.label .ico { margin-right: 4px; }
.label .label_text + .ico { margin-left: 4px; margin-right: 0; }



/* ==========================================================================
   tag
   ========================================================================== */
.tag { display: inline-block; height: 17px; line-height: 18px; margin: 0; padding: 0 6px; border-radius: 4px; background: #ddd; font-size: 12px; letter-spacing: -1px; vertical-align: middle; }
.tag_text { display: inline-block; color: inherit; font: inherit; vertical-align: middle; }

/* type */
.tag_pd { overflow: hidden; display: inline-block; margin: 0; padding: 0; min-width: 0; max-width: none; width: 34px; height: 15px; line-height: 15px; border: 0; border-radius: 2px; background: #ddd; color: #fff; font-size: 10px; letter-spacing: -1px; text-align: center; vertical-align: middle; }
.tag_pd .image { overflow: hidden; display: inline-block; height: 100%; vertical-align: top ;}
.tag_pd .image img { width: 100%; vertical-align: top; }
.tag_sale { display: inline-block; width: 34px; height: 34px; margin: 0; padding: 5px 0 0 0; line-height: normal; border-radius: 0; background: #E10505 ; color: #fff; text-align: left; }
.tag_sale .tag_text { display: block; font-size: 7px; line-height: 1; }
.tag_sale .tag_text i { display: block; position: relative; top: 0; margin-bottom: 1px; font-weight: normal; font-style: normal; text-align: center;}
.tag_sale .tag_text strong { display: block; font-size: 8px; font-weight: normal; font-style: normal; text-align: center; }
.tag_sale .tag_text strong em { padding-right: 1px; font-size: 20px; font-weight: normal; font-style: normal; }

/* color */
.tag_color01 { background: #9eaa8d; }
.tag_color02 { background: #b49065; }
.tag_color03 { background: #e0d095; }
.tag_color04 { background: #bdc949; }
.tag_color05 { background: #f5bcae; }
.tag_color06 { background: #9a9e5a; }
.tag_color07 { background: #be1e2d; }
.tag_color08 { background: #e7ac1f; }
.tag_color09 { background: #bcc851; }
.tag_color10 { background: #4d83ba; }
.tag_color11 { background: #382514; }
.tag_color12 { background: #b0bc44; }

/* image tag */
.tag_image { overflow: hidden; margin: 0; padding: 0; min-width: 0; max-width: none; width: auto; height: auto; line-height: 0; border: 0; border-radius: 0; }
.tag_image .image { overflow: hidden; display: inline-block; height: 100%; vertical-align: top ;}
.tag_image .image img { width: 100%; vertical-align: top; }
.tag_image .tag_text { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

/* tag_img */
.tag_pd[class*=tag_img]{display:inline-block;overflow:hidden;width:34px;height:15px;background:transparent
   url(../img/spr_tag.png) no-repeat 0 0;background-size:250px auto;text-indent:-999em}
.tag_pd.tag_img_01{background-position:-50px 0;border-radius:0}
.tag_pd.tag_img_02{background-position:-50px -25px;border-radius:0}
.tag_pd.tag_img_03{background-position:-50px -50px;border-radius:0}
.tag_pd.tag_img_04{background-position:-50px -75px;border-radius:0}
.tag_pd.tag_img_05{background-position:0 0;}
/*.tag_pd.tag_img_06{background-position:0 -25px;}*/
.tag_pd.tag_img_06{background-position:-200px 0;}
/*.tag_pd.tag_img_07{background-position:0 -50px;}*/
.tag_pd.tag_img_07{background-position:-200px -50px}
/*.tag_pd.tag_img_08{background-position:0 -75px;}*/
.tag_pd.tag_img_08{background-position:-200px -25px}
.tag_pd.tag_img_09{background-position:-100px 0;}
.tag_pd.tag_img_10{background-position:-100px -25px;}
.tag_pd.tag_img_11{background-position:-100px -50px;}
.tag_pd.tag_img_12{background-position:-100px -75px;}
.tag_pd.tag_img_13{background-position:-150px 0;}
.tag_pd.tag_img_14{background-position:-150px -25px;}
.tag_pd.tag_img_15{background-position:-150px -50px;}
.tag_pd.tag_img_16{background-position:-150px -75px;}
.tag_pd.tag_img_17{background-position:-150px -100px;}
.tag_pd.tag_img_18{background-position:-150px -125px;}
.tag_pd.tag_img_19{background-position:-200px 0;}
.tag_pd.tag_img_20{background-position:-200px -25px;}
.tag_pd.tag_img_21{background-position:-200px -50px;}

.tag_pd.tag_img_22{background-position:-50px -100px;border-radius:0}/* 20170717_추가 택배 */
/*.tag_pd.tag_img_23{background-position:0 -100px;border-radius:0}*//* 20170717_추가 매장배송*/
.tag_pd.tag_img_23{background-position:-50px -125px;border-radius:0}/* 20170828_추가 당일배송(매장배송을 당일배송으로) */
.tag_pd.tag_img_24{background-position:0 -125px;border-radius:0}/* 20170828_추가 새벽배송*/


/* tag_mark */
.tag_pd[class*=tag_mark]{display:inline-block;overflow:hidden;width:34px;height:34px;background:transparent url(../img/spr_tag.png) no-repeat 0 0;background-size:250px auto;text-indent:-999em;border-radius:0}/* 202007 인증 유형 추가 */
.tag_pd.tag_mark_01{background-position:0 -150px}
.tag_pd.tag_mark_02{background-position:-50px -150px}
.tag_pd.tag_mark_03{background-position:-100px -150px}
.tag_pd.tag_mark_04{background-position:-150px -150px}
.tag_pd.tag_mark_05{background-position:-200px -150px}
.tag_pd.tag_mark_06{background-position:0 -190px}
.tag_pd.tag_mark_07{background-position:-50px -190px}
.tag_pd.tag_mark_08{background-position:-100px -190px}
.tag_pd.tag_mark_09{background-position:-150px -190px}
.tag_pd.tag_mark_10{background-position:-200px -190px}

.tag_pd.tag_mark_11{background-position:0 -230px}
.tag_pd.tag_mark_12{background-position:-50px -230px}
.tag_pd.tag_mark_13{background-position:-100px -230px}

.tag_pd.tag_mark_14{background-position:-150px -230px}
.tag_pd.tag_mark_15{background-position:-200px -230px}
.tag_pd.tag_mark_16{background-position:0 -270px}

/* [S] 202007 인증 유형 추가 */
.tag_pd.tag_mark_18{background-position:-50px -270px}
.tag_pd.tag_mark_19{background-position:-100px -270px}
.tag_pd.tag_mark_20{background-position:-150px -270px}
.tag_pd.tag_mark_21{background-position:0 -310px}
.tag_pd.tag_mark_22{background-position:-50px -310px}
.tag_pd.tag_mark_23{background-position:-100px -310px}
.tag_pd.tag_mark_24{background-position:-150px -310px}
.tag_pd.tag_mark_25{background-position:-200px -270px}
.tag_pd.tag_mark_26{background-position:-200px -310px}
.tag_pd.tag_mark_27{background-position: 0 -350px}
/* [E] 202007 인증 유형 추가 */

/* ==========================================================================
   input
   ========================================================================== */

/* input_text
----------------------------------- */
.input_text { display: inline-block; position: relative; width: 120px; height: 34px; padding: 0 0 0 0; border: 0; border-radius: 0; background: #fff; color: #666; font-size: 14px; text-align: left; vertical-align: middle; }
.input_text input { width: 100%; height: 100%; margin: 0; padding: 1px 10px 0 10px; border: 1px solid #ddd; border-radius: 0; background: none; color: inherit; font: inherit; letter-spacing: -1px; text-align: inherit; vertical-align: top; -webkit-appearance: none; resize: none; }
.input_text input:focus {  }
.input_text input::-webkit-input-placeholder { color: #999; }
.input_text.disabled input { border: 1px solid #ddd; background: #eee; color: rgba(110,113,121,0.5); -webkit-text-fill-color: rgba(110,113,121,0.5); text-shadow: 1px 1px #fff; opacity: 1; cursor: not-allowed; }
.input_text.readonly input { cursor: text; }
.input_text.required input {  }
.input_text.required:before { content: ''; display: table-cell; position: absolute; top: 1px; bottom: 1px; left: 1px; width: 2px; height: auto; background: #ad1901; color: red; font-size: 15px; font-weight: bold; vertical-align: middle; }
.input_text.counter {  }
.input_text.counter input { padding-right: 60px; }
.input_text.counter .count { position: absolute; top: 12px; right: 10px; width: 50px; color: #999; font-size: 10px; letter-spacing: -1px; text-align: right; }


/* input-textarea
----------------------------------- */
.input_textarea { display: inline-block; position: relative; width: 100%; height: 60px; line-height: 20px; margin: 0; padding: 0; border: 1px solid #ddd; background: #fff; color: #666; font-size: 14px; text-align: left;  vertical-align: middle; resize: none; }
.input_textarea textarea { width: 100%; height: 100%; margin: 0; padding: 10px; border: 0; border-radius: 0; background: none; color: inherit; font: inherit; letter-spacing: -1px; vertical-align: top; -webkit-appearance: none; resize: none; }
.input_textarea textarea:focus {  }
.input_textarea textarea::-webkit-input-placeholder { color: #999; }
.input_textarea.disabled { border: 1px solid #ddd; }
.input_textarea.disabled textarea { background: #eee; color: rgba(110,113,121,0.5); -webkit-text-fill-color: rgba(110,113,121,0.5); text-shadow: 1px 1px #fff; opacity: 1; cursor: not-allowed; }
.input_textarea.readonly textarea { cursor: text; }
.input_textarea.required textarea {  }
.input_textarea.required:before { content: ''; display: table-cell; position: absolute; top: 0; bottom: 0; left: 0; width: 2px; height: auto; background: #ad1901; color: red; font-size: 15px; font-weight: bold; vertical-align: middle; }
.input_textarea.counter { height: 100px; padding-bottom: 20px; }
.input_textarea.counter textarea {  }
.input_textarea.counter .count { display: block; padding-right: 10px; color: #999; font-size: 10px; letter-spacing: -1px; text-align: right; }


/* input_select
----------------------------------- */
.input_select { display: inline-block; position: relative; height: 34px; background: #fff; color: #666; font-size: 14px; text-align: left; vertical-align: middle; }
.input_select:after { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-right: 8px; background: none; }
.input_select select { z-index: 2; position: relative; width: 100%; height: 100%; margin: 0; padding: 1px 20px 0 10px; border: 1px solid #ddd; border-radius: 0; background: none; color: inherit; font: inherit; letter-spacing: -1px; vertical-align: top; -webkit-appearance: none; }
.input_select .select_value { z-index: 2; display: inline-block; overflow: hidden; position: relative; width: 100%; height: 100%; margin: 0; padding: 0 20px 0 10px; line-height: 34px; border: 1px solid #ddd; background: none; letter-spacing: -1px; vertical-align: top; cursor: pointer; white-space: nowrap; text-overflow: ellipsis; }
.input_select .select_title {  }
.input_select .select_layer { z-index: 2; position: absolute; top: 100%; left: 0; width: 100%; border: 1px solid #ddd; }
.input_select.disabled .select_value,
.input_select.disabled select { border: 1px solid #ddd; background: #eee; color: rgba(110,113,121,0.5); text-shadow: 1px 1px #fff; opacity: 1; cursor: not-allowed; }
.input_select.disabled:after { z-index: 3; opacity: 0.5; }
.input_select.required select {  }
.input_select.required:before { z-index: 3; content: ''; display: table-cell; position: absolute; top: 1px; bottom: 1px; left: 1px; width: 2px; height: auto; background: #ad1901; color: red; font-size: 15px; font-weight: bold; vertical-align: middle; }
.input_select.multiple { min-height: 34px; height: auto; }
.input_select.multiple select[multiple],
.input_select.multiple select[size] { min-height: 34px; height: auto; overflow-y: scroll; }

.panel_default.sel_link {position:relative;border-bottom:0}
.panel_default.sel_link.affix{top:45px;z-index:100}
.panel_default.sel_link .select_content{display:none;position:absolute;top:43px;left:15px;right:15px;border:1px solid #ddd;background-color:#fff;z-index:15;}
.panel_default.sel_link .select_content.active{display:block;}
.panel_default.sel_link .select_content ul{}
.panel_default.sel_link .select_content ul li{}
.panel_default.sel_link .select_content ul li a{display:block;padding:0 10px;font-size:14px;color:#666;line-height:30px;}
.panel_default.sel_link .select_content ul li a:hover{background-color:#1e90ff;color:#fff;}

.input_select .tab_sort{overflow:hidden;}
.input_select .tab_sort:after{display:none;}
.input_select .tab_sort li{float:left;font-size:12px;margin-left:10px;line-height:34px;}
.input_select .tab_sort{}




/* input_number
----------------------------------- */
.input_number { display: inline-table; overflow: hidden; position: relative; width: 120px; height: 34px; padding: 0 34px; border: 1px solid #ddd; border-radius: 0; background: #fff; color: #666; font-size: 14px; text-align: left; vertical-align: middle; }
.input_number input { width: 100%; height: 100%; margin: 0; padding: 0; border: 0; border-radius: 0; background: none; color: red; font: inherit; letter-spacing: -1px; text-align: center; vertical-align: top; -webkit-appearance: none; resize: none; }
.input_number input[disabled] { color: #666; -webkit-text-fill-color: #666; opacity: 1; }
.input_number .ctrl { position: absolute; top: 0; width: 30px; height: 34px; margin: 0; padding: 0; border: 0; background: #fff; color: #999; }
.input_number .ctrl.minus { left: 0; border-right: 1px solid #ddd; }
.input_number .ctrl.plus { right: 0; border-left: 1px solid #ddd; }


/* input_check & input_radio
----------------------------------- */
/* .input_check */
.input_check { display: inline-block; position: relative; min-height: 20px;  padding-left: 20px; color: #666; font-size: 14px; letter-spacing: -1px; vertical-align: middle; }
.input_check input[type='checkbox'] { display: inline-block; position: absolute; top: 0; left: 0; vertical-align: middle; opacity: 0; }
.input_check i { display: inline-block; position: absolute; top: 0; left: 0; width: 20px; height: 20px; background: url('../img/ico_check.png') no-repeat 0 0; background-size: 20px 40px; vertical-align: middle; }
.input_check .label_text { display: inline-block; margin-left: 4px; vertical-align: middle; }
.input_check input[type='checkbox']:checked + i { background-position: 0 -20px; }
.input_check input[type='checkbox']:disabled + i { opacity: 0.5; }

/* input_radio */
.input_radio { display: inline-block; position: relative; min-height: 17px; padding-left: 17px; color: #666; font-size: 14px; letter-spacing: -1px; vertical-align: middle; }
.input_radio input[type='radio'] { display: inline-block; position: absolute; top: 0; left: 0; vertical-align: middle; opacity: 0; }
.input_radio i { display: inline-block; position: absolute; top: 0; left: 0; width: 17px; height: 17px; background: url('../img/ico_radio.png') no-repeat 0 0; background-size: 20px 40px; vertical-align: middle; }
.input_radio .label_text { display: inline-block; margin-left: 4px; vertical-align: middle; }
.input_radio input[type='radio']:checked + i { background-position: 0 -20px; }
.input_radio input[type='radio']:disabled + i { opacity: 0.5; }

/* input_check_group */
.input_check_group { display: inline-block; margin: -3px 0 -3px -6px; }
.input_check_group .input_check,
.input_check_group .input_radio { margin: 3px 6px 3px 6px; }


/* custum
----------------------------------- */
/* input_file */
.input_file { display: inline-block; overflow: hidden; position: relative; vertical-align: middle; cursor: pointer; }
.input_file input[type="file"] { z-index: 2; position: absolute; top: 0; left: 0; height: 300px; margin: 0; padding: 0; font-size: 1000px !important; cursor: inherit; opacity: 0; }
.input_file .btn { z-index: 1; }
.input_file_list {  }
.input_file_list ul {  }
.input_file_list li { overflow: hidden; position: relative; line-height: 34px; margin: 5px 0; padding: 0 35px 0 15px; border: 1px solid #ddd; background: none; color: #666666; font-size: 12px; white-space: nowrap; text-overflow: ellipsis; }
.input_file_list .file_name {  }
.input_file_list .btn_file_delete { position: absolute; top: 0; right: 0; width: 34px; height: 34px; }

/* input_search */
.input_search {  }
.input_search input { border-right: 0; }
.input_search .btn_search { position: relative; width: 35px; border-left: 0; padding: 0 10px; background: #fff url('../img/ico_search02.png') no-repeat 50% 50%; background-size: 15px 16px; }
.input_search .btn_search:before { content: ''; display: inline-block; overflow: hidden; position: absolute; top: 6px; bottom: 6px; left: 0; width: 1px; background: #ddd; }
.input_search .btn_search .btn_text { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

/* input_calendar */
.input_calendar {  }
.input_calendar input { border-right: 0; }
.input_calendar .btn_calendar { border-left: 0; }

/* input_text_label */
.input_text_label {  }
.input_text_label input { border-right: 0; }
.input_text_label .inner_label { display: inline-block; height: 34px; line-height: 34px; padding: 0 10px 0 0; border: 1px solid #ddd; border-left: 0; color: #666; font-size: 14px; vertical-align: middle; }


/* group
----------------------------------- */
/* size  */
.col_0 { width: 1%; }
.col_1 { width: 8.33%; }
.col_2 { width: 16.66%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33%; }
.col_5 { width: 41.66%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33%; }
.col_8 { width: 66.66%; }
.col_9 { width: 75%; }
.col_10 { width: 83.33%; }
.col_11 { width: 91.66%; }
.col_12 { width: 100%; }
.col_block { width: 100%; }

/* input_group */
.input_group { display: table; width: 100%; }
.input_group:after { display: none; }
.input_group .input_col { display: table-cell; float: none; margin: 0; text-align: center; }
.input_group .input_group_main { display: table; width: 100%; vertical-align: top; }
.input_group .input_group_main .input_text,
.input_group .input_group_main .input_select,
.input_group .input_group_main .input_textarea { width: 100%; }
.input_group .input_group_aside { display: table-cell; width: 1%; padding: 0; white-space: nowrap; vertical-align: top; }
.input_group_inline { display: inline-table; width: auto; }
.input_group_inline .input_group_main { width: auto; }
.input_group_inline .input_group_aside { width: auto; }

/* button_group */
.button_group { display: inline-block; }

/* input_col */
.input_col { display: inline-table; }
.input_col .input_select { width: 100%; }
.input_col .input_text { width: 100%; }

/* input_addon */
.input_addon { display: inline-table; padding: 0; color: #666; font-size: 14px; vertical-align: middle; }
.input_addon i { display: inline-block; font-style: normal; }

/* addon */
.addon_blank { width: 0 !important; }
.addon_blank i { width: 5px; }
.addon_hyphen { text-align: center; }
.addon_hyphen i { width: 10px; }
.addon_label { padding: 0 4px; text-align: left; vertical-align: bottom; }

/* form_group */
.form_group { display: block; margin-bottom: 5px; vertical-align: top; }
.form_group:after { content: ''; display: table; clear: both; }
.form_group:last-child { margin-bottom: 0; }
.form_group .input_col { float: left; }
.form_group .input_col + .input_col { margin-left: 5px; }
.form_group .input_addon { float: left; }
.form_group .input_addon + .input_addon { margin-left: 5px; }
.form_group .input_group { display: inline-table; width: auto; }
.form_group .input_group .input_group_main { width: auto; }
.form_group .input_group .input_group_aside { width: auto; }
.form_group_1_1 { display: table; width: 100%; }
.form_group_1_1:after { display: none; }
.form_group_1_1 .input_col { display: table-cell; float: none; margin: 0; text-align: center; }
.form_group_1_1 .input_addon { display: table-cell; float: none; width: 1%; white-space: nowrap; }
.form_group_1_1 .form_group_main { display: table; width: 100%; vertical-align: middle; }
.form_group_1_1 .form_group_main .input_text,
.form_group_1_1 .form_group_main .input_select,
.form_group_1_1 .form_group_main .input_textarea { width: 100%; }
.form_group_1_1 .form_group_aside { display: table-cell; width: 1%; padding-left: 0; padding-right: 5px; white-space: nowrap; vertical-align: middle; }
.form_group_1_1 .form_group_main + .form_group_aside { padding-right: 0; padding-left: 5px; }
.form_group_1_1 .input_group { display: table; width: 100%; }
.form_group_1_1 .input_group .input_group_main { width: 100%; }
.form_group_1_1 .input_group .input_group_aside { width: 1%; }

.form_group_2_2 { display: table; width: 100%; }
.form_group_2_2:after { display: none; }
.form_group_2_2 .input_col { display: table-cell; float: none; margin: 0; text-align: center; }
.form_group_2_2 .input_addon { display: table-cell; float: none; width: 1%; white-space: nowrap; }
.form_group_2_2 .form_group_main { display: table; width: 100%; vertical-align: middle; }
.form_group_2_2 .form_group_main .input_text,
.form_group_2_2 .form_group_main .input_select,
.form_group_2_2 .form_group_main .input_textarea { width: 100%; }
.form_group_2_2 .form_group_aside { display: table-cell; width: 1%; padding-left: 0; padding-right: 5px; white-space: nowrap; vertical-align: middle; }
.form_group_2_2 .form_group_main + .form_group_aside { padding-right: 0; padding-left: 5px; }
.form_group_2_2 .input_group { display: table; width: 100%; }
.form_group_2_2 .input_group .input_group_main { width: 100%; }
.form_group_2_2 .input_group .input_group_aside { width: 1%; }
.form_group_inline { display: inline-block; }

/* form_description */
.form_description { display: block; margin: 5px 0 5px 0; color: #999; font-size: 13px; vertical-align: top; }
.form_description ul {  }
.form_description ul li {  }

/* 2017-09-06 박순욱 추가 */
.form_description1 { display: block; margin: 5px 15px;line-height: 20px; color: #999; font-size: 13px; vertical-align: top; }
.form_description1 ul {  }
.form_description1 ul li {  }



/* ==========================================================================
   pageheader
   ========================================================================== */
.pageheader { position: relative; top:0; left:0; z-index:500; padding-top: 5px; height:50px}
.pageheader_inner {overflow:hidden; position: relative; top:0; left:0; z-index:500; width:100%; height: 45px; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; background: #fff; text-align: center; }
.pageheader .pagetitle { display: block; overflow: hidden; position: relative; background: #fff; line-height: 45px; color: #000; font-size: 20px; letter-spacing: -1px; text-align: center; white-space: nowrap; text-overflow: ellipsis; }
.pageheader .pagetitle .count { color: #872900; font-style: normal; }
.pageheader .pageback { position: absolute; top: 0; left: 0; width: 40px; height: 100%; background: url('../img/ico_pageback.png') no-repeat 50% 50%; background-size: 8px 16px; font-size: 0; line-height: 0; }

.pageheader .btn_app_cart {position: absolute; top: 50%; right: 15px; width: 31px; height: 31px; background: url('../img/ico_user_cart.png') no-repeat 50% 50%; background-size: 31px 31px; font-size: 0; line-height: 0; transform:translateY(-50%);}
/* .app .pageheader .btn_app_cart{display:block;} */


/* ==========================================================================
   breadcrumb
   ========================================================================== */
.breadcrumb {  }
.breadcrumb > a,
.breadcrumb > span { color: #666; font-size: 12px; }
.breadcrumb > a:after,
.breadcrumb > span:after { content: '>'; display: inline-block; margin-left: 2px; }
.breadcrumb > a:last-child:after,
.breadcrumb > span:last-child:after { display: none; }
.breadcrumb > a.active,
.breadcrumb > span.active { font-weight: bold; text-decoration: underline; }



/* ==========================================================================
   title
   ========================================================================== */
.subheading { overflow: hidden; position: relative; height: 45px; line-height: 46px; background: #8a6e5a; text-align: center; white-space: nowrap; text-overflow: ellipsis; }
.subheading_title { color: #fff; font-size: 14px; letter-spacing: -1px;  }
.subheading:before { content: ''; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border: 1px dashed rgba(255,255,255,0.16); border-radius: 5px; box-shadow: inset 2px 2px 15px rgba(255, 255, 255, .11), inset -2px -2px 15px rgba(0, 0, 0, .08); }
.subheading_type02 { background: #453c33; }
.subheading_type03 {background:url(../img/bg_title_03.jpg) repeat-x 0 0; background-size:320px 45px}



/* ==========================================================================
   section
   ========================================================================== */
.section { position: relative; padding: 15px; /* border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; */ background: #fff; }
.section_step { padding: 0 0 15px 0; background: #fff; }
.section_step + .section_step { padding-top: 15px; border-top: 1px solid #dfdfdf; }
.section_step:last-child { padding-bottom: 0; }
.section_type02 { background: #f0f1f3; }

/* section_heading */
.section_heading { overflow: hidden; margin-bottom: 5px; position: relative; }
.section_heading_title { display: block; margin-bottom: 5px; color: #000; font-size: 16px; letter-spacing: -1px; }
.section_heading_description { display: block; width: 100%; color: #666; font-size: 14px; letter-spacing: -1px; }
.section_heading_aside { position: absolute; top: 2px; right: 0; color: #666; font-size: 10px; letter-spacing: -1px; }



/* ==========================================================================
   panel
   ========================================================================== */
.panel_default { display: table; width: 100%; padding: 10px 15px; border-bottom: 1px solid #dfdfdf; background: #f0f1f3; /* border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; background: #f0f1f3; */ }
.panel_default:after { content: ''; display: table; clear: both; }
.panel_left { float: left; }
.panel_right { float: right; }
.panel_type02 { background: #fff; }

/* pd_count */
.pd_count { margin-top: 3px; color: #999; font-size: 12px; letter-spacing: -1px; }
.pd_count .count { color: #000; font-style: normal; }

/* panel_button */
.panel_button { clear: both; padding: 15px; background: #fff; text-align: center; }
.panel_button:after { content: ''; display: table; clear: both; }
.panel_button.center { text-align: center; }
.panel_button_left { float: left; }
.panel_button_right { float: right; }
.panel_button.fixed { display: table; table-layout: fixed; width: 100%; }
.panel_button.fixed:after { display: none; }
.panel_button.fixed .panel_button_col { display: table-cell; white-space: nowrap; }
.panel_button.fixed .panel_button_col .btn { display: block; width: auto; margin: 0 2px 0 3px; }
.panel_button.fixed .panel_button_col:first-child .btn { margin-left: 0; margin-right: 2px; }
.panel_button.fixed .panel_button_col:last-child .btn { margin-right: 0; margin-left: 3px; }



/* ==========================================================================
   box
   ========================================================================== */
.box_default { display: table; width: 100%; margin: 0; padding: 10px 15px; border: 1px solid #dfdfdf; }

/* type */
.box_type02 { padding: 15px; border: 1px solid #dfdfdf; background: #fafafa; }


/* ==========================================================================
   empty_data
   ========================================================================== */
.empty_data { padding: 10px 0; text-align: center; }
.empty_data .empty_data_title { display: block; margin: 10px 0 0 0; color: #666; font-size: 14px; }
.empty_data .empty_data_txt { display: block; margin: 5px 0 0 0; color: #666; font-size: 12px; }
.empty_data .empty_data_description { margin-top: 2px; color: #999; font-size: 12px; }



/* ==========================================================================
   list
   ========================================================================== */
.list_default {  }
.list_default ul {  }
.list_default ul li { position: relative; line-height: 20px; margin: 5px 0; padding-left: 13px; color: #666; font-size: 13px; letter-spacing: -1px; }
.list_default ul li:before { content: ''; display: inline-block; position: absolute; top: 2px; left: 0; width: 8px; height: 8px; background: url('../img/bul_list.png') no-repeat 0 0; background-size: 8px 8px; vertical-align: middle; }
.list_default ul li .number { display: table-cell; width: 22px; padding-right: 4px; white-space: nowrap; font-style: normal; text-align: right; }
.list_default ul li .define { display: table-cell; padding-right: 4px; white-space: nowrap; font-weight: bold; }
.list_default ul li .describe { display: table-cell; padding-right: 3px; }

/* list_type02 */
.list_type02 {  }
.list_type02 ul { padding: 10px 5px; }
.list_type02 ul li { margin: 0px 10px 5px 10px; padding-left: 6px; color: #999; font-size: 13px; line-height: 20px; }
.list_type02 ul li:before { top: 5px; background-image: url('../img/bul_list02.png'); background-size: 2px 3px; }

/* cart_note
----------------------------------- */
.list_type02 { margin: 15px 0 0 0; background: #fff; }
.list_type02 .cart_note_title { line-height: 31px; font-size: 13px;}
.list_type02 .cart_note_title:before { content: ''; display: inline-block; position: relative; top: -2px; width: 14px; height: 14px; margin-right: 4px; background: url('../img/ico_cart_note.png') no-repeat 0 0; background-size: 14px 14px; vertical-align: middle; }


/* list_type03 */
.list_type03 {  }
.list_type03 ul {  }
.list_type03 ul li { margin: 5px 0; padding-left: 0; color: #666; font-size: 12px; }
.list_type03 ul li:before { display: none; }

/* numbering */
.list_number {  }
.list_number ul {  }
.list_number ul li { padding-left: 0; }
.list_number ul li:before { display: none; }



/* ==========================================================================
   tab
   ========================================================================== */
.tab_default {  }
.tab_default ul { display: table; table-layout: fixed; position: relative; width: 100%; }
.tab_default ul li { z-index: 1; display: table-cell; position: relative; text-align: center; }
.tab_default ul li a { display: block; overflow: hidden; position: relative; height: 44px; /* line-height: 44px; */ padding: 0 5px; border: 1px solid #dfdfdf; background: #fff; color: #999; font-size: 14px; letter-spacing: -1px; white-space: nowrap; text-overflow: ellipsis; }
.tab_default ul li a:before { content: ''; display: inline-block; height: 100%; margin-right: -0.312em; vertical-align: middle; }
.tab_default ul li span { display: inline-block; padding-bottom: 0; border-bottom: 1px solid #fff; vertical-align: middle; }
.tab_default ul li .count { margin-left: 2px; font-style: normal; }
.tab_default ul li + li a { margin-left: -1px; }
.tab_default ul li.active { z-index: 2; }
.tab_default ul li.active a { border: 1px solid #96a837; background: #9fb23a; color: #fff; box-shadow: inset 0 1px 0 #a9ba4e; }
.tab_default ul li.active span { /* text-decoration: underline; */ }

/* tab_type02 */
.tab_type02 { /*margin: 0 -1px*/; }
.tab_type02 ul {  }
.tab_type02 ul li { vertical-align: top;  }
.tab_type02 ul li:after,
.tab_type02 ul li:before { content: ''; display: none; position: absolute; top: 100%; left: 50%; width: 0; height: 0; margin-top: -1px; border: solid transparent; pointer-events: none; }
.tab_type02 ul li:after { margin-left: -5px; border-width: 5px; border-color: rgba(159, 178, 58, 0); border-top-color: #9fb23a; }
.tab_type02 ul li:before { margin-left: -6px; border-width: 6px; border-color: rgba(150, 168, 55, 0); border-top-color: #96a837; }
.tab_type02 ul li a { display: block; height: 38px; line-height: normal; }
.tab_type02 ul li span { border-bottom: 0; vertical-align: middle; }
.tab_type02 ul li.active {  }
.tab_type02 ul li.active:after,
.tab_type02 ul li.active:before { display: block; }



/* ==========================================================================
   star rating
   ========================================================================== */
.start_rating{}
.st_check{text-align:left}
.st_check p:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.st_check .star_rating,.st_check .star_rating span{display:inline-block;overflow:hidden;height:10px;background:transparent url(../img/img_star.png) no-repeat 0 -75px;background-size:165px 100px;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.st_check .star_rating{width:58px;vertical-align:middle}
.st_check .star_rating span{background-position:0 -60px;font-size:0;line-height:0;text-indent:-999em;vertical-align:top}

.st_check.big .star_rating,.st_check.big .star_rating span{height:23px;background-position:0 -30px;}
.st_check.big .star_rating{width:150px;vertical-align:middle}
.st_check.big .star_rating span{background-position:0 0}

.st_check.mdl .star_rating,.st_check.mdl .star_rating span{height:16px;background-position:-60px -75px;}
.st_check.mdl .star_rating{width:100px;vertical-align:middle}
.st_check.mdl .star_rating span{background-position:-60px -55px}


.star_radio { display: inline-block; position: relative; width:25px;height:23px;}
.star_radio input[type='radio'] { display: inline-block; position: absolute; top: 0; left: 0; vertical-align: middle; opacity: 0; }
.star_radio i { display: block;width: 25px; height: 23px; background: url('../img/img_star.png') no-repeat 0 -30px; background-size:165px 100px;}
.star_radio input[type='radio']:checked + i { background-position: 0 0; }


/* ==========================================================================
   pagination
   ========================================================================== */
.pagination { display: block; position: relative; padding: 10px; border-top: 1px solid #ddd; border-bottom: #ddd; text-align: center; }
.pagination ul { display: inline-block; vertical-align: top; }
.pagination ul:after { content: ''; display: table; clear: both; }
.pagination ul li { z-index: 1; float: left; position: relative; margin-left: -1px; }
.pagination ul li a { display: block; position: relative; width: 34px; height: 34px; line-height: 34px; border: 1px solid #ddd; background: #fff; color: #999; font-size: 14px; text-align: center; }
.pagination ul li.prev a { font-size: 0; line-height: 0; }
.pagination ul li.prev a:after { content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../img/ico_pagination_prev.png') no-repeat 50% 50%; background-size: 8px 16px; }
.pagination ul li.next a { font-size: 0; line-height: 0; }
.pagination ul li.next a:after { content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url('../img/ico_pagination_next.png') no-repeat 50% 50%; background-size: 8px 16px; }
.pagination ul li.active { z-index: 2; }
.pagination ul li.active a { border-color: #96a837; background: #9fb23a; color: #fff; }
.pagination ul li.disabled,
.pagination ul li.disabled a { pointer-events: none; cursor: not-allowed; }
.pagination ul li.prev.disabled a:after,
.pagination ul li.next.disabled a:after { opacity: 0.3; }

/* pager */
.board_pager { padding: 0 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; }
.board_pager ul {  }
.board_pager ul li { display: table; table-layout: fixed; width: 100%; height: 30px; }
.board_pager ul li + li { border-top: 1px solid #efefef; }
.board_pager ul li a { display: table; table-layout: fixed; width: 100%; height: 100%; }
.board_pager_ctrl { display: table-cell; position: relative; width: 60px; line-height: 31px; padding: 0 0 0 20px; color: #000; font-size: 13px; letter-spacing: -1px; vertical-align: middle; }
.board_pager_ctrl:after { content: ''; display: inline-block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 1px; height: 10px; margin-top: -6px; background: #b7b7b9; }
.board_pager_ctrl.ctrl_prev { background: url('../img/ico_pager_prev.png') no-repeat 0 50%; background-size: 10px 5px; }
.board_pager_ctrl.ctrl_next { background: url('../img/ico_pager_next.png') no-repeat 0 50%; background-size: 10px 5px; }
.board_pager_title { display: table-cell; overflow: hidden; line-height: 31px; padding: 0 0 0 10px; color: #9a9a9a; font-size: 13px; letter-spacing: -1px; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; }



/* ==========================================================================
   table
   ========================================================================== */
.table_default { position: relative; }
.table_default table,
.table_default caption,
.table_default tbody,
.table_default thead,
.table_default tfoot,
.table_default tr,
.table_default th,
.table_default td { margin: 0; padding: 0; }
.table_default caption { overflow: hidden; position: absolute; width: 0; height: 0; margin: 0; padding: 0; border: 0; clip: rect(0 0 0 0); }
.table_default table { position: relative; width: 100%; border-collapse: collapse; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.table_default th,
.table_default td { padding: 7px 7px; height: 28px; color: #666; font-size: 13px; font-weight: normal; text-align: left; white-space: nowrap; word-wrap: break-word; }
.table_default th { background-color: #f6f6f6; text-align: center; }
.table_default td { background-color: #fff; white-space: normal; }

/* set border */
.table_default th { border-top: 1px solid #dfdfdf; }
.table_default td { border-top: 1px solid #dfdfdf; }
.table_default thead tr th { border-bottom: 1px solid #dfdfdf; }
.table_default thead tr:first-child th { border-top: 0; border-bottom: 1px solid #dfdfdf; }
.table_default thead tr:first-child td { border-top: 0; }
.table_default tbody tr th { border-right: 1px solid #dfdfdf; }
.table_default tbody tr:first-child th { border-top: 0; }
.table_default tbody tr:first-child td { border-top: 0; /#text-align: center;*/}

/* type */
.table_type02 {  }
.table_type02 th { border-left: 1px solid #ddd; color: #000; }
.table_type02 td { border-left: 1px solid #ddd; }
.table_type02 thead tr th:first-child { border-left: 0; }
.table_type02 tbody tr th:first-child { border-left: 0; }
.table_type02 tbody tr td:first-child { border-left: 0; }

/* table-bordered */
.table_bordered { }
.table_bordered table { border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; }
.table_bordered th { border-left: 1px solid #ddd; }
.table_bordered td { border-left: 1px solid #ddd; }
.table_bordered thead tr th:first-child { border-left: 0; }
.table_bordered tbody tr th:first-child { border-left: 0; }
.table_bordered tbody tr td:first-child { border-left: 0; }
.table_bordered tr th.existing_border { border-left: 1px solid #ddd !important; }
.table_bordered tr td.existing_border { border-left: 1px solid #ddd !important; }

/* table-centered */
.table_centered {  }
.table_centered th,
.table_centered td { text-align: center; }

/* table_responsive */
.table_responsive { overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }
.table_responsive table { min-width: 300px; }



/* ==========================================================================
   board
   ========================================================================== */
.board_list { position: relative; padding: 0 15px; background: #fff; /* padding: 0 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; */ }
.board_list ul {  }
.board_list ul li { border-bottom: 1px solid #ddd; }
.board_list ul li:last-child { border-bottom: 0; }
.board_list .board_item { display: table; position: relative; width: 100%; }
.board_list .board_item_inner { display: table; position: relative; width: 100%; padding: 10px 0 10px 0; }
.board_list .board_aside { display: table-cell; width: 40px; text-align: center; vertical-align: top; word-break: break-all; }
.board_list .board_badge { display: inline-block; overflow: hidden; width: 30px; height: 17px; line-height: 19px; border-radius: 2px; background: #8b9a3a; color: #fff; font-size: 12px; text-align: center; letter-spacing: -1px; vertical-align: middle; }
.board_list .board_number { display: inline-block; color: #9dc24f; font-size: 14px; letter-spacing: -1px; }
.board_list .board_container { display: table-cell; padding-left: 5px; vertical-align: middle; }
.board_list .board_title { color: #333; font-size: 15px; font-weight: normal; letter-spacing: -1px; }
.board_list .board_description { margin-top: 5px; line-height: 20px; color: #303030; font-size: 13px; letter-spacing: -1px; }
.board_list .board_field { color: #222222; font-weight: normal; }
.board_list .board_read { color: #a9a9a9; font-size: 13px; letter-spacing: -1px; }
.board_list .board_date { color: #a9a9a9; font-size: 13px; letter-spacing: -1px; }
.board_list .board_info { margin-top: 2px; color: #999; font-size: 12px; }
.board_list .board_info .info_item { display: inline-block; }
.board_list .board_info .info_item:before { content: ''; display: inline-block; width: 1px; height: 8px; margin: 0 4px; background: #b7b7b9; }
.board_list .board_info .info_item:first-child { margin-left: 0; }
.board_list .board_info .info_item:first-child:before { display: none; }
.board_list .empty_data { padding: 30px 0; }

/* board_accordion */
.board_accordion {  }
.board_accordion .board_item_inner { cursor: pointer; }
.board_accordion .board_aside { vertical-align: middle; }
.board_accordion .board_container { position: relative; padding-right: 30px; }
.board_accordion .board_container:after { content: ''; display: inline-block; overflow: hidden; position: absolute; top: 50%; right: 10px; width: 10px; height: 5px; margin-top: -3px; background: url('../img/ico_chevron.png') no-repeat 0 0; background-size: 10px 5px; }
.board_accordion .board_field { color: #999; font-size: 13px; }
.board_accordion .board_title { color: #666; font-size: 14px; line-height: normal; }
.board_accordion .board_panel { display: none; }
.board_accordion .board_panel_inner { padding: 15px; border-top: 1px solid #eee; background: #f7f7f7; color: #666; font-size: 14px; word-break: break-word; }
.board_accordion .active .board_panel { display: block; }
.board_accordion .active .board_container:after { background-image: url('../img/ico_chevron_top.png'); }

/* board_detail */
.board_detail { position: relative; padding: 0 15px; background: #fff; /* padding: 0 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; */ }
.board_detail_header { padding: 10px 0; border-bottom: 1px solid #ddd; }
.board_detail_field { color: #000; font-size: 15px; letter-spacing: -1px; word-break: break-word; }
.board_detail_title { color: #000; font-size: 15px; letter-spacing: -1px; word-break: break-word; }
.board_detail_info { margin-top: 0; }
.board_detail_info .info_item {  }
.board_detail_info .info_item:before { content: ''; display: inline-block; width: 1px; height: 8px; margin: 0 4px; background: #b7b7b9; }
.board_detail_info .info_item:first-child { margin-left: 0; }
.board_detail_info .info_item:first-child:before { display: none; }
.board_detail_date { display: inline-block; color: #8d8d8d; font-size: 12px; letter-spacing: -1px; }
.board_detail_read { display: inline-block; color: #8d8d8d; font-size: 12px; letter-spacing: -1px; }
.board_detail_container { padding: 15px 0; }
.board_detail_content { color: #303030; font-size: 15px; line-height: 1.5; word-break: break-word; }
.board_detail_content img {display: block;max-width: 100%;/* margin: 5px 0; */vertical-align: top;}
.board_detail .board_pager { padding-left: 0; padding-right: 0; }
.board_detail .panel_button { padding-left: 0; padding-right: 0; }



/* ==========================================================================
   comment
   ========================================================================== */




/* ==========================================================================
   card
   ========================================================================== */

/* pdcard_list
----------------------------------- */
.pdcard_list { position: relative; padding: 15px; background: #fff; /* padding: 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; */ }
.pdcard_list ul { margin: -10px 0 0 -10px; }
.pdcard_list ul:after { content: ''; display: table; clear: both; }
.pdcard_list ul li { float: left; width: 50%; padding: 10px 0 0 10px; }
.pdcard_list ul li.empty_data { float: none; width: 100%; padding: 30px 0; }
.pdcard_list .pdcard_item {  }


.list_no_srch{background-color:#fff}
.list_no_srch span{display:block;margin-top:10px;color:#666;font-size:14px;font-weight:bold;}
.list_no_srch .empty_data{float: none; width: 100%; padding: 30px 0;}

/* pdcard
----------------------------------- */
.pdcard { position: relative; border: 1px solid #ddd; }
.pdcard:after { content: ''; display: table; clear: both; }
.pdcard > a { display: block; }
.pdcard_container { position: relative; }
.pdcard_content { position: relative; height: 150px; padding: 10px 10px 30px 10px; }
.pdcard_image { overflow: hidden; position:relative; height: 0; padding-bottom: 100%;}
.pdcard_image img {vertical-align: top;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}

.pdcard_image.w_100 img {width: 100%}
.pdcard_image.h_100 img {height: 100%}


.pdcard_tag { overflow: hidden; /*max-height: 38px; */margin-right: -10px; margin-bottom: 4px; }
.pdcard_tag .tag { float: left; margin-right: 2px; margin-bottom: 2px; }
.pdcard_textarea {  }
.pdcard_field { overflow: hidden; margin-bottom: 2px; color: #333; font-size: 13px; letter-spacing: -1px; text-overflow: ellipsis; white-space: nowrap; }
.pdcard_title { overflow: hidden; line-height: 18px; max-height: 36px; color: #333; font-size: 15px; letter-spacing: -1px; text-overflow: ellipsis; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.pdcard_date { color: #333; font-size: 13px; letter-spacing: -1px; }
.pdcard_price {display: block;overflow: hidden;position: absolute;bottom: 0;left: 0;width: 100%;height: 30px;line-height: 30px;padding: 0 10px;background: #eee;vertical-align: middle;text-align: right;white-space: nowrap;text-overflow: ellipsis;}
.pdcard_price .price_original { display: inline-block; margin-right: 2px; color: #4e5357; font-size: 9px; text-decoration: line-through; }
.pdcard_price .price_original em { position: relative; bottom: -1px; font-size: 11px; font-style: normal; letter-spacing: -1px; }
.pdcard_price .price_sale { display: inline-block; color: #8a9c20; font-size: 10px; }
.pdcard_price .price_sale em { display: inline-block; position: relative; bottom: -1px; font-size: 15px; font-style: normal; letter-spacing: -1px; }

.txt_discontinued{font-size:11px;color:#ac1a02;margin-top:5px}

.pdcard_cart{position:absolute;bottom:35px;right:5px;}
.pdcard_cart .btn_cart{display:block;overflow:hidden;width:42px;height:26px;border:0;background:#9dc24f url(../img/ico_cart2.png) no-repeat 12px 6px;background-size:18px 14px;text-indent:-999em}


/* pdcard_aside */
.pdcard_aside { position: relative; border-bottom: 1px solid #ddd; }
.pdcard_aside .pdcard_tag { position: absolute; top: -1px; margin: 0; }
.pdcard_aside .pdcard_tag.left { left: -1px; }
.pdcard_aside .pdcard_tag.right { right: -1px; }
.pdcard_aside .pdcard_tag .tag { display: block; float: none; margin: 0; }
.pdcard_aside .pdcard_tag .tag .image {display:block; width: 34px; }

/* list type : list  */
.type_list {  }
.type_list ul { margin: -10px 0 0 0; }
.type_list ul li { float: none; width: auto; padding: 10px 0 0 0; }
.type_list .pdcard_item {  }
.type_list .pdcard_container { z-index: 1; min-height: 140px; margin-left: 140px; }
.type_list .pdcard_content { height: 140px; padding: 10px; border-left: 1px solid #ddd; }
.type_list .pdcard_aside { z-index: 2; float: left; max-width: 141px; max-height: 140px; border: 0; border-right: 1px solid #ddd; }
.type_list .pdcard_image img{position:relative;top:0;left:0;transform:translate(0,0);}
.type_list .pdcard_price { overflow:visible; bottom:15px; height: auto; line-height: normal;  padding: 0 10px; background: none; text-align:left}


.type_list .pdcard_cart{bottom:-5px;right:10px;}
/*.type_list .pdcard_cart .input_text{width:100%;height:26px;text-align:center}
.type_list .pdcard_cart .input_text input{text-align:center}*/
.type_list .pdcard_cart .btn_cart{display:block;overflow:hidden;width:42px;height:26px;border:0;background:#9dc24f url(../img/ico_cart2.png) no-repeat 12px 6px;background-size:18px 14px;text-indent:-999em}



/* pdcard_type02
----------------------------------- */
.pdcard_type02 {  }
.pdcard_type02 .pdcard_content { height: 100px; padding: 10px; text-align: center; }
.pdcard_type02 .pdcard_field { color: #999; font-size: 12px; }
.pdcard_type02 .pdcard_date { margin-top: 5px; color: #98999e; font-size: 12px; }


/* pdcard_type03
----------------------------------- */
.pdcard_type03 { border: 0; }
.pdcard_type03 .pdcard_item {  }
.pdcard_type03 .pdcard_container { min-height: 100px; margin-left: 100px; }
.pdcard_type03 .pdcard_content { height: auto; padding: 0 0 0 15px; }
.pdcard_type03 .pdcard_aside { float: left; width: 100px; height: 100px; border: 1px solid #ddd; }
.pdcard_type03 .pdcard_image { min-height: 0; }
.pdcard_type03 .pdcard_info { }
.pdcard_type03 .pdcard_info table { position: relative; width: 100%; border-collapse: collapse; }
.pdcard_type03 .pdcard_info th,
.pdcard_type03 .pdcard_info td { padding: 2px 0; height: auto; color: #333; font-size: 12px; font-weight: normal; text-align: left; word-wrap: break-word; vertical-align: top; }
.pdcard_type03 .pdcard_info th { width: 1%; padding-right: 15px; white-space: nowrap; }
.pdcard_type03 .pdcard_info td { font-weight: bold; }
.pdcard_type03 .pdcard_info td strong { color: #ac1a02; }
.pdcard_type03 .pdcard_info td span { text-decoration: line-through; }
.pdcard_type03 .pdcard_info td .fake_input{border:0;}
.pdcard_type03 .pdcard_info td strong .fake_input{color: #ac1a02;}
.pdcard_type03 .pdcard_action { clear: both; padding-top: 5px; }
.pdcard_type03 .pdcard_action_aside { float: left; position: relative; width: 100px; }
.pdcard_type03 .pdcard_action_aside .panel_button { padding: 0; background: none; }
.pdcard_type03 .pdcard_action_aside .panel_button .btn { padding: 0; font-size: 12px; }
.pdcard_type03 .pdcard_action_main { position: relative; margin-left: 100px; padding-left: 15px; }
.pdcard_type03 .pdcard_action_main .input_number { max-width: 94px; }

.pdcard_type03 .pdcard_action_main .btn_num_change {font-size:12px;}



.pdcard_type03 .pdcard_gifts{position:relative;margin:10px 0;padding-bottom:15px;border-bottom:1px solid #ddd;min-height:50px;padding-left:85px;}
.pdcard_type03 .pdcard_gifts:before{display:block;content:'';position:absolute;top:50%;left:5px;width:10px;height:10px;margin-top:-5px;border:1px solid #ddd;border-width:0 0 1px 1px;}
.pdcard_type03 .pdcard_gifts:after{display:inline-block;content:'';height:100%;min-height:50px;vertical-align:middle;}
.pdcard_type03 .pdcard_gifts .img_box{position:absolute;top:0;left:25px;width:50px;height:50px;}
.pdcard_type03 .pdcard_gifts .img_box img{display:block;width:100%;}
.pdcard_type03 .pdcard_gifts p{display:inline-block;width:98%;font-size:11px;font-weight:bold;color:#656666;vertical-align:middle;}
.pdcard_type03 .pdcard_gifts p span{display:block;width:40px;margin-bottom:1px;background-color:#d10067;border-radius:3px;font-size:11px;font-weight:bold;color:#fff;line-height:17px;text-align:center;}





/* ==========================================================================
   detail
   ========================================================================== */





/* ==========================================================================
   layer popup
   ========================================================================== */
body.layer_open {  }
body.layer_open:after { z-index: 900; content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,1); }
body.layer_open #container,
body.layer_open #footer { overflow: hidden; position: fixed;top:0;left:0; z-index:800;width:100%;height:100%;}
.pop_layer { z-index: 1001; display: none; position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; height: auto; padding-top: 45px; background:#fff}
.pop_layer h1 {z-index: 800; position: fixed; top: 0; left: 0; width: 100%; height:45px; line-height:45px; background:#453c33; text-align:center; color:#fff; font-size:18px;-webkit-transform: translateZ(0); transform: translateZ(0);}
.pop_layer .pop_content {overflow:hidden; position: relative; padding:15px; font-size:14px}
.pop_layer .btn_close {z-index: 800; display:block; position:fixed; top:15px; right:15px; width:15px; height:15px; background:url(../img/btn_pop_close.png) no-repeat 0 0; background-size:15px 15px; text-indent:-999em}
.pop_layer.open {display:block}

/* 개인정보 수집 동의 추가 */
.PersonalInfor {padding: 15px 0 0 0; text-align: center;}
.PersonalInfor span {display: block;  position: relative; font-size: 15px; font-weight: bold; color: #666;}
.PersonalInfor tr {}
.PersonalInfor td {padding: 6px 0 0 0;}
.PersonalInfor .PersonalInfor_txt {width:95%; height:80px; border:1px solid #e2e2e2; font-size:12px; color:#666; padding: 7px 7px; }
.PersonalInfor .Personalbox {width:30%; text-align:right; padding-left: 5px;}
.PersonalInfor .Personalbox:last-child {width:70%; text-align:left;}
/* 개인정보 수집 동의 끝 */


/* ==========================================================================
   swiper
   ========================================================================== */
/* orga_swiper_pagination */
.orga_swiper_pagination { z-index: 2; position: absolute; bottom: 5px !important; left: 0; text-align: center; }
.orga_swiper_pagination .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 2px !important; border: 2px solid #bfbab3; border-radius: 8px; background: transparent; opacity: 1; transition: width 0.2s ease-in-out; }
.orga_swiper_pagination .swiper-pagination-bullet-active { width: 20px; border: 0; border-color: #8b9e21; background: #8b9e21; transition: width 0.2s ease-in-out; }




/* ==========================================================================
   shopfind
   ========================================================================== */
.shopfind .ico_tel { width: 18px; height: 20px; background: url('../img/ico_tel.png') no-repeat 0 0; background-size: 18px 18px; }
.shopfind .btn_tel { height: 24px; line-height: 24px; padding-left: 25px; font-size: 13px; border-color: #96a83a; border-radius: 24px; background: #9fb33a; color: #fff; }
.shopfind .btn_tel .ico_tel { position: absolute; top: 2px; left: 2px; }
.shopfind_list_wrapper {  background: #fff; }
.shopfind_list_hading { padding: 15px; color: #333; font-size: 14px; letter-spacing: -1px; text-align: center; }
.shopfind_list { position: relative; padding: 0 15px; background: #fff; }
.shopfind_list ul {  }
.shopfind_list ul li { padding: 10px 0; border-top: 1px solid #ddd; }
.shopfind_list .shopfind_item { display: table; position: relative; width: 100%; }
.shopfind_list .shopfind_container { display: table-cell; padding-right: 10px; vertical-align: middle; vertical-align: middle; }
.shopfind_list .shopfind_container > a { display: block; }
.shopfind_list .shopfind_aside { display: table-cell; width: 1%; white-space: nowrap; vertical-align: middle; }
.shopfind_list .shopfind_title { display: inline-block; line-height: 20px; margin-right: 5px; font-size: 14px; letter-spacing: -1px; }
.shopfind_list .shopfind_field { display: inline-block; margin-right: 5px; color: #999; }
.shopfind_list .shopfind_field:after { content: ''; display: inline-block; position: relative; width: 1px; height: 10px; margin-left: 8px; background: #ddd; }
.shopfind_list .shopfind_name { display: inline-block; color: #666; }
.shopfind_list .shopfind_addr { color: #666; font-size: 13px; letter-spacing: -1px; }
.shopfind_list .empty_data { padding: 20px 0; }
.shopfind_list .empty_data .empty_data_title { font-size: 12px; }
.shopfind_detail { position: relative; padding: 15px; background: #fff; }
.shopfind_detail .shopfind_detail_header { position: relative; min-height: 35px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
.shopfind_detail .shopfind_detail_header .shopfind_title { padding: 3px 120px 0 0;  color: #000; font-size: 18px; font-weight: bold; letter-spacing: -1px; }
.shopfind_detail .shopfind_detail_header .shopfind_tel { position: absolute; top: 0; right: 0; }
.shopfind_detail .shopfind_photo { oveflow: hidden; margin-top: 10px; border: 1px solid #dfdfdf; }
.shopfind_detail .shopfind_photo img { width: 100%; vertical-align: top; }
.shopfind_detail .shopfind_info { margin-top: 10px; }
.shopfind_detail .shopfind_info .table_default table { border-color: #efefef; }
.shopfind_detail .shopfind_info .table_default th,
.shopfind_detail .shopfind_info .table_default td { border-color: #efefef; font-size: 13px; }
.shopfind_detail .shopfind_info .table_default th { border-right: 0; background: none; color: #000; vertical-align: top; }
.shopfind_detail .shopfind_info .table_default td { white-space: normal; }
.shopfind_detail .shopfind_info .table_default td strong { color: #333; font-weight: normal; }
.shopfind_detail .shopfind_service { margin-top: 10px; }
.shopfind_detail .shopfind_service .ico_shopfind_truck { width: 19px; height: 16px; background: url('../img/ico_shopfind_truck.png') no-repeat 0 0; background-size: 19px 15px; }
.shopfind_detail .shopfind_service .ico_shopfind_shop { width: 20px; height: 16px; background: url('../img/ico_shopfind_shop.png') no-repeat 0 0; background-size: 19px 15px; }
.shopfind_detail .shopfind_service ul { display: table; table-layout: fixed; position: relative; width: 100%; }
.shopfind_detail .shopfind_service ul li { z-index: 1; display: table-cell; position: relative; text-align: center; }
.shopfind_detail .shopfind_service ul li .service_text { margin-left: 5px; }
.shopfind_detail .shopfind_service ul li > span { display: block; overflow: hidden; position: relative; height: 35px; line-height: 35px; padding: 0 5px; border: 1px solid #dfdfdf; background: #fff; color: #cac5be; font-size: 13px; letter-spacing: -1px; white-space: nowrap; text-overflow: ellipsis; }
.shopfind_detail .shopfind_service ul li + li > span { margin-left: -1px; }
.shopfind_detail .shopfind_service ul li.active { z-index: 2; }
.shopfind_detail .shopfind_service ul li.active > span { border: 1px solid #4b3c34; background: #604d44; color: #fff; }
.shopfind_detail .shopfind_service ul li.active .ico_shopfind_truck { background-image: url('../img/ico_shopfind_truck02.png'); }
.shopfind_detail .shopfind_service ul li.active .ico_shopfind_shop { background-image: url('../img/ico_shopfind_shop02.png'); }
.shopfind_detail .shopfind_location { margin-top: 10px; }
.shopfind_detail .shopfind_location .shopfind_map { position: relative; padding-bottom: 61%; border: 1px solid #dfdfdf; background: #eee; }
.shopfind_detail .shopfind_location .shopfind_map_inner { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.shopfind_detail .shopfind_location .shopfind_map_box { position: relative; width: 100%; height: 100%; }
.shopfind_detail .shopfind_location .shopfind_map_box > img { width: 100%; vertical-align: top; }


#my_banking_adm .my_banking {padding:0;background:#fff}
#my_banking_adm .panel_default{margin:-15px 0 0;background-color:#fff;}
#my_banking_adm .my_banking ul li {padding:15px 0; border-bottom:1px solid #dfdfdf}
#my_banking_adm .my_banking .input_radio {display:block}
#my_banking_adm .my_banking .input_radio i {top:50%; margin-top:-9px}
#my_banking_adm .my_banking .input_radio .label_text {display:block; position:relative; margin-left:10px; padding-right:100px}
#my_banking_adm .my_banking .input_radio .label_text .btn_edit {position:absolute; bottom:50%; right:0; margin-bottom:-15px; font-size:0}
#my_banking_adm .my_banking .input_radio .label_text dt {font-size:15px; font-weight:bold; color:#333}
#my_banking_adm .my_banking .input_radio .label_text dt strong {color:#9fb23a}
#my_banking_adm .my_banking .input_radio .label_text dd {margin-top:10px}
#my_banking_adm .my_banking .input_radio .label_text dd em {display:block; margin-top:5px; color:#666; font-weight:bold; font-size:14px}
#my_banking_adm .my_banking .input_radio .label_text dd span {font-size:12px; color:#666}
#my_banking_adm .my_banking .input_radio .label_text dd span:first-child {margin-right:10px}
#my_banking_adm .my_banking .btn_block {margin-top:15px}
#my_banking_adm .my_banking ul li.empty_data {border:0}
#my_banking_adm .my_banking .empty_data > p {margin-top:5px; font-size:12px; color:#999}
#my_banking_adm .my_banking .input_radio .label_text dd p {color:#999}
#my_banking_adm .my_banking .input_radio .label_text dd p span {color:#666; font-weight:bold}
#my_banking_adm .my_banking ul li.empty_data {border:0}






.loading{display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:2000;}
/*.loading .dim{position:absolute;top:0;left:0;width:100%;min-height:100%;background:url(../img/bg_dim.png) repeat 0 0;}*/
.loading img{display:block;position:absolute;top:50%;left:50%;width:60px;height:60px;margin:-30px 0 0 -30px;z-index:10}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}


