@charset "utf-8";




/* ==========================================================================
   top_banner
   ========================================================================== */
.top_banner{display:none;position:relative;border-bottom:1px solid #8b9a3a;}
.top_banner.active{display:block;}
.top_banner .btn_top_close{display:block;overflow:hidden;position:absolute;top:15px;right:15px;width:18px;height:19px;background:url(../img/top_banner_close.png) no-repeat 0 0 ;background-size:18px 19px;text-indent:-999em}


/* ==========================================================================
   hader
   ========================================================================== */
.header { z-index: 600; position: relative; height: 95px; background-color: #453c33; }
.header_inner { height: 53px; text-align: center; }
.header .brand { position: relative; top: 0; padding-top: 13px; }
.header .brand a { display: inline-block; width: 65px; height: 29px; background: url('../img/brand.png') no-repeat 0 0; background-size: 65px 30px; font-size: 0; line-height: 0; vertical-align: top; }
.header .header_left { position: absolute; top: 10px; left: 15px; }
.header .header_right { position: absolute; top: 10px; right: 15px; }
.header .header_right .btn { margin-left: 5px; }
.header .header_right .btn:first-child { margin-left: 0; }
.header .btn_user_cart { overflow: visible; position: relative; }
.header .btn_user_cart .badge { overflow: hidden; position: absolute; top: -1px; right: 0; min-width: 15px; height: 15px; line-height: 17px; margin-right: -8px; padding: 0 2px; border-radius: 15px; background-color: #9dc141; color: #fff; font-size: 11px; }

/* total_search */
.total_search { padding: 0 15px; }
.input_total_search { display: table; width: 100%; border: 1px solid #1d1b19; background: #26211c; }
.input_total_search .input_cell { display: table-cell; position: relative; width: 100%; padding: 0 7px; vertical-align: middle; }
.input_total_search .input_cell:after { content: ''; display: inline-block; position: absolute; top: 5px; right: 0; width: 1px; height: 20px; background: #594936; }
.input_total_search .input_cell input { width: 100%; height: 100%; padding: 1px 0 0 0; border: 0; background: transparent; color: #ccc3ab; font-size: 14px; opacity: 0.5; }
.input_total_search .input_cell input::-webkit-input-placeholder { color: #ccc3ab; opacity: 0.5; }
.input_total_search .btn_total_search { display: table-cell; position: relative; height: 30px; padding: 0 12px; }
.input_total_search .btn_total_search:after { content: ''; display: block; position: absolute; bottom: 1px; right: 1px; width: 0; height: 0; border-style: solid; border-width: 0 0 6px 6px; border-color: transparent transparent #a6855e transparent; }



/* ==========================================================================
   gnb
   ========================================================================== */
.gnb { z-index: 500; position: relative; top: 0; left: 0; width: 100%; height: 44px; }
.gnb_inner { z-index: 500; position: relative; top: 0; left: 0; right: 0; width: auto; height: 44px; box-shadow: inset 0 -1px 0 #cfcfcf; background: #fff; text-align: center; -webkit-transform: translateZ(0); transform: translateZ(0); }
.gnb_inner:before { z-index: 2; content: ''; display: block; position: absolute; top: 0; left: 0; width: 20px; height: 41px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
}
.gnb_inner:after { z-index: 2; content: ''; display: block; position: absolute; top: 0; right: 0; width: 20px; height: 41px;
    background: -webkit-linear-gradient(right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
}
.gnb_inner.affix { position: fixed; }
.gnb .swiper-container { width: auto; padding: 0 15px; box-shadow: inset 0 -1px 0 #cfcfcf; background: #fff; vertical-align: top; }
.gnb .swiper-wrapper {  }
.gnb ul { box-shadow: inset 0 -1px 0 #cfcfcf; background: #fff; }
.gnb ul li { float: left; width: auto; }
.gnb ul li a { display: inline-block; position: relative; height: 44px; line-height: 44px; padding: 0 12px; color: #909090; font-size: 15px; letter-spacing: -1px; -webkit-text-size-adjust:none; }
.gnb ul li:before { content: ''; display: inline-block; overflow: hidden; width: 1px; height: 12px; background: #dfdfdf; }
.gnb ul li:last-child:after { content: ''; display: inline-block; overflow: hidden; width: 1px; height: 12px; background: #dfdfdf; }
.gnb ul li.active a { color: #000; }
.gnb ul li.active a:after { content: ''; display: block; overflow: hidden; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background: #9dc141; }

/* centered */
.gnb .swiper-container.centered .swiper-wrapper { display: table; width: auto; }



/* ==========================================================================
   drawer
   ========================================================================== */
.drawer { z-index: 1100; overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-right: 65px; }
.drawer_close { z-index: 2; position: absolute; top: 0; right: 0; width: 65px; height: 55px; text-align: center; }
.drawer_close:before { content: ''; display: block; overflow: hidden; position: absolute; bottom: 0; left: 10px; right: 10px; width: auto; height: 0; border-top: 1px solid #2c2928; border-bottom: 1px solid #3e3a39; }
.drawer_aside { z-index: 1; position: absolute; top: 55px; right: 0; bottom: 0; width: 65px; height: auto; padding: 15px 0; color: #fff; }
.drawer_wrapper { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-right: 65px; }
.drawer_scrollable { position: relative; width: 100%; height: 100%; padding: 0 5px; background: #453c33; border-right: 1px solid #585048; box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2); }
.drawer_inner { height: 100%; background: #f4f3f1; }
.drawer_header { width: 100%; height: 55px; background: #453c33; }
.drawer_container { padding-bottom: 25px; background: #f4f3f1; }
.drawer_content {  }

/* drawer_open & transition */
.drawer { width: 0; padding-right: 0; background: rgba(49, 45, 44, 0); transition: width 0s ease 0.3s, background 0.3s ease; }
.drawer_close { transform: translate3d(100%, 0, 0); transition: transform 0.3s ease; }
.drawer_wrapper { transform: translate3d(-100%, 0, 0); transition: transform 0.3s ease; }
.drawer_aside { transform: translate3d(100%, 0, 0); transition: transform 0.3s ease; }
.drawer_open,
.drawer_open body { overflow: hidden; }
.drawer_open .drawer { width: 100%; padding-right: 65px; background: rgba(49, 45, 44, 1); transition: background 0.3s ease; }
.drawer_open .drawer_close { transform: translate3d(0, 0, 0); transition: transform 0.2s ease 0.15s; }
.drawer_open .drawer_wrapper { transform: translate3d(0, 0, 0); transition: transform 0.3s ease; }
.drawer_open .drawer_aside { transform: translate3d(0, 0, 0); transition: transform 0.2s ease 0.15s; }


/* drawer_aside
-------------------------------------- */
.drawer_userinfo { position: relative; margin-bottom: 15px; text-align: center; }
.drawer_userinfo .user_season { display: block; }
.drawer_userinfo .user_grade_icon { display: block; overflow: hidden; width: 36px; height: 36px; margin: 0 auto; }
.drawer_userinfo .user_grade_icon img { width: 100%; vertical-align: top; }
.drawer_userinfo .user_grade { display: inline-block; color: #b8f22d; font-size: 12px; border-bottom: 1px solid #a6c11a; }
.drawer_userinfo .user_name { display: inline-block; margin: 4px 0 10px 0; color: #fff; font-size: 12px; word-break: break-all; }
.drawer_userinfo .user_name strong { font-weight: normal; letter-spacing: -1px; }
.drawer_userinfo .user_login { display: block; text-align: center; }
.drawer_userinfo .user_login .btn_user_logout { display: inline-block; width: 50px; height: 20px; line-height: 20px; border: 1px solid #24201e; background: #413c39; color: #b5a79e; font-size: 12px; }
.drawer_userinfo .user_login .btn_user_login { display: block; }
.drawer_userinfo .user_login .btn_user_login .icon { display: block; position: relative; margin-bottom: 5px; }
.drawer_userinfo .user_login .btn_user_login .title { display: block; color: #a8957f; font-size: 12px; letter-spacing: -1px; }

.drawer_userinfo .company_login { display: block; text-align: center; }
.drawer_userinfo .company_login .btn_user_logout { display: inline-block; width: 50px; height: 20px; line-height: 20px; border: 1px solid #24201e; background: #413c39; color: #b5a79e; font-size: 12px; }
.drawer_userinfo .company_login .btn_user_login { display: block; margin-top: 10px; }
.drawer_userinfo .company_login .btn_user_login .icon { display: block; position: relative; margin-bottom: 5px; }
.drawer_userinfo .company_login .btn_user_login .title { display: block; color: #a8957f; font-size: 12px; letter-spacing: -1px; }

.drawer_user_menu { position: relative; padding-top: 15px; }
.drawer_user_menu:before { content: ''; display: block; overflow: hidden; position: absolute; top: 0; left: 10px; right: 10px; width: auto; height: 0; border-top: 1px solid #2c2928; border-bottom: 1px solid #3e3a39; }
.drawer_user_menu li { margin-bottom: 10px; text-align: center; }
.drawer_user_menu li a { display: block; }
.drawer_user_menu li .icon { display: block; position: relative; margin-bottom: 5px; }
.drawer_user_menu li .icon .badge { z-index: 2; display: block; position: relative; width: 100%; height: 16px; margin-bottom: -6px; text-align: center; }
.drawer_user_menu li .icon .badge em { display: inline-block; min-width: 16px; height: 16px; line-height: 14px; padding: 0 5px; border: 2px solid #312d2c; border-radius: 16px; background: #9dc141; color: #fff; font-size: 11px; font-style: normal; vertical-align: top; }
.drawer_user_menu li .title { display: block; color: #a8957f; font-size: 12px; letter-spacing: -1px; }
.drawer_user_menu li .point_count { color: #96c33a; font-weight: normal; letter-spacing: -1px; }


/* drawer_header
-------------------------------------- */
.drawer_header .drawer_brand { text-align: center; }
.drawer_header .drawer_brand a { display: inline-block; position: relative; width: 58px; height: 25px; margin-top: 15px; background: url('../img/drawer_brand.png') no-repeat 0 0; background-size: 58px; height: 25px; font-size: 0; line-height: 0; vertical-align: top; }


/* drawer_tab
-------------------------------------- */
.drawer_tab { z-index: 2; position: relative; }
.drawer_tab ul {  }
.drawer_tab ul:after { content: ''; display: table; clear: both; }
.drawer_tab ul li { float: left; position: relative; width: 50%; height: 38px; line-height: 38px; border-bottom: 1px solid #798e0b; text-align: center; }
.drawer_tab ul li a { display: block; width: 100%; height: 100%; background: #fff; color: #929292; font-size: 15px; letter-spacing: -1px; }
.drawer_tab ul li.active { border-bottom: 1px solid #5f7007; }
.drawer_tab ul li.active a { background: #798e0b; color: #fff; }
.drawer_tab ul li.active:after,
.drawer_tab ul li.active:before { content: ''; position: absolute; top: 100%; left: 50%; width: 0; height: 0; border: solid transparent; pointer-events: none; }
.drawer_tab ul li.active:after { margin-left: -3px; border-width: 3px; border-color: rgba(121, 142, 11, 0); border-top-color: #798e0b; }
.drawer_tab ul li.active:before { margin-left: -4px; border-width: 4px; border-color: rgba(95, 112, 7, 0); border-top-color: #5f7007; }
.drawer_tab_panel { overflow: hidden; height: 0; pointer-events: none; }
.drawer_tab_panel.active { overflow: visible; height: auto; pointer-events: auto; }


/* drawer_categoy_list
-------------------------------------- */
.drawer_categoy_list {  }
.drawer_categoy_list > ul { border-bottom: 1px solid #fff; background: #ddd; }
.drawer_categoy_list > ul > li { border-top: 1px solid #fff; border-bottom: 1px solid #ddd; }
.drawer_categoy_list > ul > li:first-child { border-top: 0; }
.drawer_categoy_list > ul > li > a { display: block; position: relative; height: 40px; line-height: 41px; padding-left: 10px; padding-right: 10px; background: #fff; color: #555; font-size: 16px; font-weight:bold; letter-spacing: -1px; }
.drawer_categoy_list > ul > li > a .ico { top: -1px; margin-right: 4px; }
.drawer_categoy_list > ul > li > a:after{display:block;content:'';position:absolute;top:50%;right:10px;background:url(../img/bul_arr.png) no-repeat 0 0;background-size:17px 9px;width:17px;height:9px;margin-top:-5px;}
.drawer_categoy_list > ul > li.active > a:after{width:17px;height:9px;background:url(../img/bul_arr2.png) no-repeat;background-size:17px 9px;margin-top:-5px;}
.drawer_categoy_list ul li a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* list_second */
.drawer_categoy_list .list_second { display: none; overflow: hidden; height: auto; background: #edecea; box-shadow: inset 0 7px 14px -13px rgba(0,0,0,0.4); }
.drawer_categoy_list .list_second > ul { box-shadow: inset 0 -5px 14px -13px rgba(0,0,0,0.4); }
.drawer_categoy_list .list_second > ul > li { position: relative; border-top: 1px solid #fff; border-bottom: 1px solid #ddd; }
.drawer_categoy_list .list_second > ul > li:first-child { border-top: 1px solid #cbc7c3; }
.drawer_categoy_list .list_second > ul > li:last-child { border-bottom: 0; }
.drawer_categoy_list .list_second > ul > li > a { display: block; position: relative; height: 38px; line-height: 39px; padding-left: 47px; padding-right: 70px; color: #555; font-size: 12px;background-color:#efefef;}
.drawer_categoy_list .list_second > ul > li > a:before { content: ''; display: none; position: absolute; top: 50%; left: 20px; width: 0; height: 0; margin-top: -2px; border-style: solid; border-width: 4px 3px 0 3px; border-color: #6c6c69 transparent transparent transparent; }
.drawer_categoy_list .list_second > ul > li > .link { display: inline-block; position: absolute; top: 0; right: 0; height: 38px; padding:0 10px 0 5px; line-height: 20px; }
.drawer_categoy_list .list_second > ul > li > .link:after { content: ''; display: inline-block; width: 0; height: 100%; margin-left: -0.312em; vertical-align: middle; }
.drawer_categoy_list .list_second > ul > li > .link span { display: inline-block; height: 20px; line-height: 21px; padding: 0 6px; border-radius: 20px; background: #443c31; color: #c4b5ab; font-size: 10px; /* text-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */ vertical-align: middle; }
.drawer_categoy_list .list_second > ul > li.has_sub  > a:before { display: none; }
.drawer_categoy_list .list_second > ul > li > a[class*=list_second]:after{display:block;content:'';position:absolute;top:50%;left:16px;width:21px;height:19px;background-size:20px 19px;margin-top:-10px}
.drawer_categoy_list .list_second > ul > li > a.list_second_01{color:#d7073a;}
.drawer_categoy_list .list_second > ul > li > a.list_second_02{color:#79b078;}
.drawer_categoy_list .list_second > ul > li > a.list_second_03{color:#c1b27d;}
.drawer_categoy_list .list_second > ul > li > a.list_second_04{color:#e1ad22;}
.drawer_categoy_list .list_second > ul > li > a.list_second_05{color:#0097dc;}
.drawer_categoy_list .list_second > ul > li > a.list_second_06{color:#8b4f4f;}
.drawer_categoy_list .list_second > ul > li > a.list_second_07{color:#9fa84c;}
.drawer_categoy_list .list_second > ul > li > a.list_second_08{color:#4b590a;}

.drawer_categoy_list .list_second > ul > li > a.list_second_09{color:#a86b7a;}
.drawer_categoy_list .list_second > ul > li > a.list_second_10{color:#bb976f;}
.drawer_categoy_list .list_second > ul > li > a.list_second_11{color:#f26d7d;}




.drawer_categoy_list .list_second > ul > li > a.list_second_01:after{background-image:url(../img/ico_list_second.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_02:after{background-image:url(../img/ico_list_second2.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_03:after{background-image:url(../img/ico_list_second3.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_04:after{background-image:url(../img/ico_list_second4.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_05:after{background-image:url(../img/ico_list_second5.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_06:after{background-image:url(../img/ico_list_second6.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_07:after{background-image:url(../img/ico_list_second7.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_08:after{background-image:url(../img/ico_list_second8.png)}

.drawer_categoy_list .list_second > ul > li > a.list_second_09:after{background-image:url(../img/ico_list_second9.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_10:after{background-image:url(../img/ico_list_second10.png)}
.drawer_categoy_list .list_second > ul > li > a.list_second_11:after{background-image:url(../img/ico_list_second11.png)}



/* list_third */
.drawer_categoy_list .list_third { display: none; overflow: hidden; height: auto; background: #e3e3e3; box-shadow: inset 0 7px 14px -13px rgba(0,0,0,0.4); }
.drawer_categoy_list .list_third > ul { box-shadow: inset 0 -5px 14px -13px rgba(0,0,0,0.4); }
.drawer_categoy_list .list_third > ul > li { border-top: 1px solid #e9e7e5; border-bottom: 1px solid #dcdad7; }
.drawer_categoy_list .list_third > ul > li:first-child { border-top: 1px solid #cbc7c3; }
.drawer_categoy_list .list_third > ul > li:last-child { /* border-bottom: 0; */ }
.drawer_categoy_list .list_third > ul > li > a { display: block; position: relative; height: 38px; line-height: 39px; padding-left: 33px; padding-right: 10px; color: #555; font-size: 12px; letter-spacing: -1px; }
.drawer_categoy_list .list_third > ul > li > a:before { content: ''; display: inline-block; position: absolute; top: 50%; left: 21px; width: 7px; height: 7px; margin-top: -5px; background-image: url('../img/ico_arrow_l.png'); background-size: 7px 7px; }

/* active */
.drawer_categoy_list .list_second > ul > li.active { border-bottom:0; }
.drawer_categoy_list .list_second > ul > li.active + li {  }
.drawer_categoy_list .list_second > ul > li.active > a:before { border-width: 0 3px 4px 3px; border-color: transparent transparent #94b540 transparent; }
.drawer_categoy_list .list_second > ul > li.active > .link span { background: #798f09; color: #fff; }


/* drawer_themeshoping_list
-------------------------------------- */
.drawer_themeshoping_list { padding: 8px 5px 5px 5px; }
.drawer_themeshoping_list ul { background: #fff; border-right: 1px solid #e5e5e5; }
.drawer_themeshoping_list ul:after { content: ''; display: table; clear: both; }
.drawer_themeshoping_list ul li { float: left; width: 25%; text-align: center; border: 1px solid #e5e5e5; border-right: 0; margin-bottom: -1px; }
.drawer_themeshoping_list ul li a { display: block; width: 100%; height: 100%; padding-bottom: 10px; color: #505050; font-size: 13px; letter-spacing: -1px; }
.drawer_themeshoping_list ul li a span { display: block; white-space: nowrap; }
.ico_themeshoping { width: 57px; height: 46px; background-size: 57px 46px; }
.ico_themeshoping01 { background-image: url('../img/ico_themeshoping01.png'); }
.ico_themeshoping02 { background-image: url('../img/ico_themeshoping02.png'); }
.ico_themeshoping03 { background-image: url('../img/ico_themeshoping03.png'); }
.ico_themeshoping04 { background-image: url('../img/ico_themeshoping04.png'); }
.ico_themeshoping05 { background-image: url('../img/ico_themeshoping05.png'); }
.ico_themeshoping06 { background-image: url('../img/ico_themeshoping06.png'); }
.ico_themeshoping07 { background-image: url('../img/ico_themeshoping07.png'); }
.ico_themeshoping08 { background-image: url('../img/ico_themeshoping08.png'); }
.ico_themeshoping09 { background-image: url('../img/ico_themeshoping09.png'); }
.ico_themeshoping10 { background-image: url('../img/ico_themeshoping10.png'); }
.ico_themeshoping11 { background-image: url('../img/ico_themeshoping11.png'); }
.ico_themeshoping12 { background-image: url('../img/ico_themeshoping12.png'); }
.ico_themeshoping13 { background-image: url('../img/ico_themeshoping13.png'); }
.drawer_themeshoping_banner { padding: 0 5px; text-align: center; }
.drawer_themeshoping_banner a { margin-bottom: 10px; }
.drawer_themeshoping_banner a img { max-width: 100%; }



/* ==========================================================================
   container
   ========================================================================== */
.container { z-index: 400; }
.content { /*overflow: hidden*/; min-height: 300px; background: #f6f6f7; }



/* ==========================================================================
   footer
   ========================================================================== */
.footer { overflow: hidden; padding-bottom: 15px; background: #393837; }
.footer .footer_menu { border-bottom: 1px solid #242323; background: rgba(13, 12, 12, 0.24); text-align: center; }
.footer .footer_menu ul { display: inline-block; margin: 0 -15px; vertical-align: top; }
.footer .footer_menu ul:after { content: ''; display: table; clear: both; }
.footer .footer_menu ul li { float: left; }
.footer .footer_menu ul li a { display: inline-block; position: relative; height: 34px; line-height: 36px; padding: 0 10px; color: rgba(255, 255, 255, 0.4); font-size: 13px; letter-spacing: -1px; }
.footer .footer_menu ul li a:after { content: ''; display: block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 1px; height: 6px; margin-top: -3px; background: #3d3c3b; }
.footer .footer_menu ul li:first-child a:before { content: ''; display: block; overflow: hidden; position: absolute; top: 50%; left: 0; width: 1px; height: 6px; margin-top: -3px; background: #3d3c3b; }
.footer .info_menu { margin-top: 15px; text-align: center; }
.footer .info_menu ul { display: inline-block; vertical-align: top; }
.footer .info_menu ul:after { content: ''; display: table; clear: both; }
.footer .info_menu ul li  { float: left; margin: 0 1px; }
.footer .info_menu ul li a { display: inline-block; height: 24px; line-height: 25px; padding: 0 9px; background: #31302f; color: rgba(255, 255, 255, 0.3); font-size: 11px; vertical-align: top; }
.footer .company_info { line-height: 1.5; margin-top: 13px; color: rgba(255, 255, 255, 0.2); text-align: center; }
.footer .company_info .company_name { margin-bottom: 5px; font-size: 12px; }
.footer .company_info .company_address { font-size: 11px; font-style: normal; letter-spacing: -1px; }
.footer .company_info .company_address a { color: inherit; }
.footer .copyright { margin-top: 10px; color: #5c5854; font-size: 10px; letter-spacing: -1px; text-align: center; }
.gototop { z-index: 600; overflow: hidden; position: absolute; bottom: 30px; right: 15px; width: 40px; height: 40px; line-height: 40px; border: 2px solid #ddd; border-radius: 5px; background: rgba(255,255,255,0.8); color: #4e5357; font-size: 12px; text-align: center; opacity: 0; -webkit-transform: translateZ(0); transform: translateZ(0); transition: opacity 0.3s ease; }
.gototop.affix { opacity: 1; transition: opacity 0.3s ease; }

.cart_view { z-index: 600; overflow: hidden; position: absolute; bottom: 80px; right: 15px; width: 40px; height: 40px; border: 2px solid #ddd; border-radius: 5px; background: rgba(255,255,255,0.8) url(../img/cart_view.png) no-repeat 50% 50%; background-size:25px 17px; opacity: 0; -webkit-transform: translateZ(0); transform: translateZ(0); transition: opacity 0.3s ease; text-indent:-999em}
.cart_view.affix { opacity: 1; transition: opacity 0.3s ease; }

#footer_pop{}

.footer_pop_txt{color:#666;font-size:12px;}
.footer_pop_txt h3{margin-top:15px;margin-bottom:15px;font-size:16px}
.footer_pop_txt h3:first-child{margin-top:0;}
.footer_pop_txt h4{margin:10px 0 5px 0;font-size:14px}
.footer_pop_txt h3 + h4{margin-top:0;}
.footer_pop_txt p{font-size:12px;line-height:16px}
/*.footer_pop_txt span{display:block;margin-top:15px;font-weight:bold;color:#9f9f9f;}*/

.footer_pop_txt li{font-size:12px;line-height:16px}


.footer_pop_txt .access_terms{margin:5px 0 5px 15px;}
.footer_pop_txt .access_terms.v2{margin:0 0 10px 15px;}
.footer_pop_txt .access_terms.v2, .footer_pop_txt .access_terms.v2 li{list-style:none;}
.footer_pop_txt .access_terms, .footer_pop_txt .access_terms li{list-style:decimal}

.footer_pop_txt ol{margin:10px 0 10px 15px;}
.footer_pop_txt ol li {padding-left:5px;}
.footer_pop_txt ol li span{margin-right:5px;margin-left:-65px;padding-left:50px;}
.footer_pop_txt .access_terms.v2 li span{margin-left:-70px;padding-left:50px;}
.footer_pop_txt .access_terms.v2.title li span{margin-left:-75px;padding-left:57px;}

.footer_pop_txt .access_terms.v2.title span{font-weight:bold;}
.footer_pop_txt .col_tble {margin:15px 0;background-color:white}
.footer_pop_txt .col_tble td, .col_tble th{padding:5px 0 5px 10px; border:1px solid #e2e2e2;font-size:12px;}
.footer_pop_txt .col_tble th{background-color:#f3f3f3;}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}