﻿@charset "utf-8";

/* ==========================================================================
   base
   ========================================================================== */
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-y: scroll !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

html,
button,
input,
select,
textarea {
    color: #333;
}

body {
    line-height: normal;
    background: #fff;
    font-family: "NanumBarunGothic", "Apple SD Gothic Neo", helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
}

a:hover {
}

a:active {
}

p {
    margin : 0;
}
em {
    font-style:normal;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend,
caption {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

input,
textarea {
    //outline: none;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}




/* ==========================================================================
   helper
   ========================================================================== */

/* enables the "momentum" style scrolling */
.scrollable {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

/* Prevent callout */
.nocallout {
    -webkit-touch-callout: none;
}

/*
 * Hide only visually, but have it available for screenreaders
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    overflow: visible;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
}

/* floats */
.pull_left { float: left; }
.pull_right { float: right; }

/* fixed */
.affix { position: fixed !important; }

/* Typo & Color */
.font_bold { font-weight: bold !important; }
.font_light { font-weight: normal !important; }
.text_left { text-align: left !important; }
.text_right { text-align: right !important; }
.text_center { text-align: center !important; }
.text_justify { text-align: justify !important; }
.text_nowrap { white-space: nowrap !important; }
.underline { text-decoration: underline !important; }
.site_link { color: #115bab; }

/* color */
.color_dark { color: #666 !important; }
.color_dark02 { color: #333 !important; }
.color_green { color: #8b9a3a !important; }
.color_gray { color: #999 !important; }
.color_orange { color: #ff5a00 !important; }

/* space */
.space { margin: 10px 0 !important; }
.space_top { margin-top: 10px !important; }
.space_bottom { margin-bottom: 10px !important; }
.space02 { margin: 15px 0 !important; }
.space02_top { margin-top: 15px !important; }
.space02_bottom { margin-bottom: 15px !important; }
.space03 { margin: 20px 0 !important; }
.space03_top { margin-top: 20px !important; }
.space03_bottom { margin-bottom: 20px !important; }


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

/* ==========================================================================
   promotion_navi: 1. 기획전 네비게이션 2개
   ========================================================================== */
.promotion_navi_list2{border-width:1px 0;}
.promotion_navi_list2:after{display:block;content:'';clear:both}
.promotion_navi_list2 ul{width:100%;}
.promotion_navi_list2 li{float:left;position:relative;width:50%;height:100%;/*border-right:1px solid #e2e2e2;*/}
/*.promotion_navi_list li:first-child{border-left:1px solid #e2e2e2;}*/
.promotion_navi_list2 li a{display:block;width:100%;height:100%;}
.promotion_navi_list2 li a img{display:block;max-width: 100%; height: auto;}
.promotion_navi_list2 li img{display:block;max-width: 100%; height: auto;}


/* ==========================================================================
   promotion_navi: 1. 기획전 네비게이션 3개
   ========================================================================== */
.promotion_navi_list3{border-width:1px 0;}
.promotion_navi_list3:after{display:block;content:'';clear:both}
.promotion_navi_list3 ul{width:100%;}
.promotion_navi_list3 li{float:left;position:relative;width:33.33%;height:100%;/*border-right:1px solid #e2e2e2;*/}
/*.promotion_navi_list li:first-child{border-left:1px solid #e2e2e2;}*/
.promotion_navi_list3 li a{display:block;width:100%;height:100%;}
.promotion_navi_list3 li a img{display:block;max-width: 100%; height: auto;}
.promotion_navi_list3 li img{display:block;max-width: 100%; height: auto;}


/* ==========================================================================
   promotion_navi: 1. 기획전 네비게이션 4개
   ========================================================================== */
.Orgamon_navi_list4{border-width:1px 0;}
.Orgamon_navi_list4:after{display:block;content:'';clear:both}
.Orgamon_navi_list4 ul{width:100%;}
.Orgamon_navi_list4 li{float:left;position:relative;width:25%;height:100%;/*border-right:1px solid #e2e2e2;*/}
/*.promotion_navi_list li:first-child{border-left:1px solid #e2e2e2;}*/
.Orgamon_navi_list4 li a{display:block;width:100%;height:100%;}
.Orgamon_navi_list4 li a img{display:block;max-width: 100%; height: auto;}
.Orgamon_navi_list4 li img{display:block;max-width: 100%; height: auto;}


/* ==========================================================================
   promotion_navi: 1. 기획전 네비게이션 5개
   ========================================================================== */
.promotion_navi_list5{border-width:1px 0;}
.promotion_navi_list5:after{display:block;content:'';clear:both}
.promotion_navi_list5 ul{width:100%;}
.promotion_navi_list5 li{float:left;position:relative;width:20%;height:100%;/*border-right:1px solid #e2e2e2;*/}
/*.promotion_navi_list li:first-child{border-left:1px solid #e2e2e2;}*/
.promotion_navi_list5 li a{display:block;width:100%;height:100%;}
.promotion_navi_list5 li a img{display:block;max-width: 100%; height: auto;}
.promotion_navi_list5 li img{display:block;max-width: 100%; height: auto;}




.detailed_adr {padding-top:10px;}



.pop_content {overflow:hidden; position: relative; padding:15px; font-size:14px}



.Fulvita {width:100%; padding: 0; text-align: center; margin: 0 auto 0 auto;}
.Fulvita img {display: block;margin: 0 auto; width:100%;}
.Fulvita .join {}
.Fulvita .join ul {overflow: auto;}
.Fulvita .join li {float:left;position:relative;width:33.33%;height:100%;}
.Fulvita .join .grade {width: 33.33%;padding: 0 0 0 0;font-size: 40px; color: #496eb0; font-weight: bold;}
.Fulvita .join .sum {width: 33.33%;padding: 3% 0 0 0; font-size: 30px; color: #f06eaa; font-weight: bold;}


/* 로하스이벤트 2017-03-23 박순욱추가 */
.Fulvita .LohasStemp {height: 485px; background: url(//img.orga.co.kr/images/mobile/20170323_LohasStemp_M06.jpg) no-repeat center;}
.Fulvita .LohasStemp .Stemp_Area {width:628px; height:485px;margin-left: 1%;}
.Fulvita .LohasStemp .Stemp_Area .Stemp {width:105px; height:97px;float: left; position: relative;}
.Fulvita .LohasStemp .Stemp_Area .Stemp .mark{width:93%;}
.Fulvita .attend_schedule {overflow: hidden;}
.Fulvita .attend_schedule .attend_schedule_date {overflow: hidden;background: #fff; padding: 10px 0 5px 1%;background: url(//img.orga.co.kr/images/mobile/20170323_LohasStemp_Mbg.jpg) repeat center;}
.Fulvita .attend_schedule .attend_schedule_date li {display: block;float: left;width: 16.66%;text-align: center;padding: 0 5px 5px 0;}
.Fulvita .attend_schedule .attend_schedule_date li div {position: relative; height: 90px; text-align: center; font-size: 20px; color: #b8b8b8; font-weight: bold; line-height: 90px;border: 1px solid #dedede;background-color: #fff;}


/* 메세지보내기 2017-04-17 박순욱추가 */
.Fulvita .mag_text {    width: 75%;
    position: relative;
    top: -470px;
    left: 0;
    margin: 0 auto;}

/* 모바일 대배너 전체보기 2017-11-08 박순욱추가 */
.pop_ly_lst.on {display: block;}
.pop_ly_lst {display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,100); z-index: 600;}
.blind {overflow: hidden; position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; line-height: 0; margin: -1px;}
.pop_ly_lst,.pop_ly_lst_on body{overflow: hidden;}
.pop_ly_lst ul {overflow-x: hidden; overflow-y: auto; height: 100%; -webkit-overflow-scrolling: touch;}
.pop_ly_lst li:first-child {height: unset; margin-top: 0; margin-bottom: -5px;}
.pop_ly_lst li {height: unset;margin-top: 1px; margin-bottom: -4px;}
.pop_ly_lst .wrap_btn_close {position: fixed; left: 0; right: 0; top: 0; height: 0; z-index: 601;}
.pop_ly_lst .center_range {position: relative;}
.pop_ly_lst .center_range, .swipe_pop .pop_ly_lst ul {max-width: 100%; margin: 0 auto;}
.pop_ly_lst .btn_close_pop {position: absolute; top: 1rem; right: 1.5rem; width: 31px; height: 31px; background-position: 0 -38px; overflow: hidden; display: inline-block; background-repeat: no-repeat; background-image: url(/websrc/orga/mobile/img/sp_bt_x.png); -webkit-background-size: 82px auto; background-size: 82px auto; border-width: 0; background-color: unset;}
/* 모바일 대배너 전체보기 끝 */