﻿@charset "utf-8";


.category .panel_default + .panel_default{background-color:#fff;border-bottom:0;padding-bottom:0;}
.category .panel_default .input_col .btn{font-size:14px;}
.category .orga_promise{padding:15px;background:url(../img/bg_category_promise.png) no-repeat 50% 50%;background-size:100% 100%;}
.category .orga_promise dl{}
.category .orga_promise dt{width:124px;}
.category .orga_promise dt img{display:block;width:100%;}
.category .orga_promise dd{margin-top:15px;}
.category .orga_promise dd ul{overflow:hidden;background-color:#fff;border:1px solid #ddd;border-width:1px 1px 0 0;}
.category .orga_promise dd ul li{float:left;width:25%;height:65px;padding:0 0 0;border:1px solid #ddd;border-width:0 0 1px 1px;font-size:10px;color:#666;text-align:center}
.category .orga_promise dd ul li a{display:block;width:100%;height:100%;padding-top:9px;}
.category .orga_promise dd ul li i{display:block;height:27px;margin:0 auto 6px;background:url(../img/ico_cetegory_promise.png) no-repeat 0 0;background-size:400px 28px;}
.category .orga_promise dd ul li .ico_promise01{width:21px;background-position:0 0;}
.category .orga_promise dd ul li .ico_promise02{width:30px;background-position:-50px 0;}
.category .orga_promise dd ul li .ico_promise03{width:22px;background-position:-100px 0;}
.category .orga_promise dd ul li .ico_promise04{width:16px;background-position:-150px 0;}
.category .orga_promise dd ul li .ico_promise05{width:23px;background-position:-200px 0;}
.category .orga_promise dd ul li .ico_promise06{width:23px;background-position:-250px 0;}
.category .orga_promise dd ul li .ico_promise07{width:21px;background-position:-300px 0;}
.category .orga_promise dd ul li .ico_promise08{width:32px;background-position:-350px 0;}


/*.category .pdcard_list.type_list .pdcard_cart{position:relative;padding-right:46px;margin-top:9px;}
.category .pdcard_list.type_list .pdcard_cart .input_text{width:100%;height:26px;text-align:center}
.category .pdcard_list.type_list .pdcard_cart .input_text input{text-align:center}
.category .pdcard_list.type_list .pdcard_cart .btn_cart{display:block;overflow:hidden;position:absolute;top:0;right:0;width:42px;height:26px;border:0;background:#9dc24f url(../img/ico_cart2.png) no-repeat 12px 6px;background-size:18px 14px;text-indent:-999em}*/


.category_detail{}
.category_detail .detail_top{overflow:hidden;padding:6px 15px;background-color:#f5f6f8;border:1px solid #ddd;border-width:1px 0;}
.category_detail .detail_top .breadcrumb{float:left;line-height:28px;}
.category_detail .detail_top .list_sns{float:right;}
.category_detail .detail_top .list_sns li{float:left;margin-left:3px;}
.category_detail .detail_top .list_sns li:first-child{margin-left:0;}
/*  2017-01-03박순욱추가 */
.category_detail .messege_top{overflow:hidden;background-color:#fef7f0; padding: 2%;}
.category_detail .messege_top .page1{background-image: url('../img/messege_bg01.gif');}
.category_detail .messege_top .page1_text{display: inline-block; width:100%; padding: 70px 10px 10px 10px; line-height: 14px; color: #666; font-size: 13px; letter-spacing: -1px; vertical-align: top;}
/*선물메세지보내기배경 통상.category_detail .messege_top .page2{background-image: url('../img/messege_bg02.gif');background-position:center;}*/
.category_detail .messege_top .page2{background-image: url('../img/messege_bg2018sulnal.jpg');background-position:center;}
.category_detail .messege_top .page2_text{display: inline-block; width:100%; padding: 190px 10px 10px 10px; line-height: 14px; color: #666; font-size: 13px; letter-spacing: -1px; vertical-align: top;}
.category_detail .messege_top .page3{background-image: url('../img/messege_bg03.gif');background-position:center;}
.category_detail .messege_top .page3_text{display: inline-block; width:100%; padding: 200px 10px 10px 10px; line-height: 14px; color: #666; font-size: 13px; letter-spacing: -1px; vertical-align: top;}
.category_detail .messege_top .messege_but{text-align:center;}
.category_detail .messege_top .messege_but a{}
.category_detail .messege_top .messege_but img{padding:15px 0;margin:0;}
.category_detail .messege_top .kakao_messege {display: inline-block; position: relative; width: 100%; height: 60px; line-height: 20px; margin: 0; padding: 0; border: 1px solid #ddd; background: #fff; color: #666; font-size: 14px; text-align: left;  vertical-align: middle; resize: none;}



.category_detail .board_detail{}
.category_detail .board_detail .board_detail_field{font-size:12px;}
.category_detail .board_detail .board_detail_title{padding-bottom:15px;border-bottom:1px solid #ddd;}
.category_detail .board_detail .board_detail_title span{display:block;}
.category_detail .board_detail .board_detail_brand{position:relative;min-height:16px;margin:10px 0 0;text-align:right}
.category_detail .board_detail .board_detail_brand .tag{position:absolute;top:50%;left:0;transform:translate(0,-50%);}
.category_detail .board_detail .board_detail_brand .tag:nth-child(1){left:0;}
.category_detail .board_detail .board_detail_brand .tag:nth-child(2){left:37px;}
.category_detail .board_detail .board_detail_brand .tag:nth-child(3){left:74px;}
.category_detail .board_detail .board_detail_brand .btn_brown{height:30px;line-height:30px;text-align:center}




.category_detail .board_detail .board_detail_container{padding-bottom:0;border-bottom:1px solid #dfdfdf;}

.category_detail .board_detail .detail_img_view{position:relative;padding-bottom:30px;border-bottom:1px solid #ddd;}
.category_detail .board_detail .detail_img_view .pdcard_tag_left{position:absolute;top:-1px;left:-1px;z-index:800 }

.category_detail .board_detail .detail_img_view .swiper-wrapper{}
.category_detail .board_detail .detail_img_view .swiper-wrapper img{width:100% !important;margin:0;border:1px solid #dfdfdf;}
/*.category_detail .board_detail .detail_img_view .swiper-slide:last-child:after{display:block;content:'';position:absolute;top:50%;left:50%;width:31px;height:31px;margin:-16px 0 0 -16px;background:url(../img/ico_play.png) no-repeat}*/

.category_detail .board_detail .detail_img_view .orga_swiper_pagination{width:100%;}

.category_detail .board_detail .detail_info{}
.category_detail .board_detail .detail_info dl{overflow:hidden;position:relative;min-height:31px;padding-left:110px;border-bottom:1px solid #efefef;line-height:30px}
.category_detail .board_detail .detail_info dt{position:absolute;top:0;left:10px;font-size:12px;font-weight:bold;color:#000;}
.category_detail .board_detail .detail_info dd{font-size:12px;color:#666;}
.category_detail .board_detail .detail_info .option_money{}
.category_detail .board_detail .detail_info .option_money dd{}
.category_detail .board_detail .detail_info .option_money dd>em{font-size:10px;font-style:normal;text-decoration:line-through;vertical-align:1px}
.category_detail .board_detail .detail_info .option_money dd strong{margin-left:5px;font-size:13px;font-weight:bold;color:#000;}
.category_detail .board_detail .detail_info .option_money dd strong em{font-size:10px;font-style:normal;vertical-align:2px;}
.category_detail .board_detail .detail_info .option_money dd span{margin-left:5px;font-size:13px;color:#ff0000;}

.category_detail .board_detail .detail_info .option_point dd span{color:#999;}

.category_detail .board_detail .detail_info .option_delivery_num dd strong{color:#8b9e21;}

.category_detail .board_detail .detail_info .option_coupon{padding-top:10px;padding-bottom:10px;background-color:#eaede2;}
.category_detail .board_detail .detail_info .option_coupon dt{top:3px;}
.category_detail .board_detail .detail_info .option_coupon dd{}
.category_detail .board_detail .detail_info .option_coupon dd ul{}
.category_detail .board_detail .detail_info .option_coupon dd ul li{overflow:hidden;padding-right:15px;margin-top:5px;line-height:20px;}
.category_detail .board_detail .detail_info .option_coupon dd ul li:first-child{margin-top:0;}
.category_detail .board_detail .detail_info .option_coupon dd ul li span{float:left;}
.category_detail .board_detail .detail_info .option_coupon dd ul li a{float:right;padding:0 10px;border-radius:9px;background-color:#a1ad2a;font-size:10px;font-weight:bold;color:#fff;}

.category_detail .board_detail .detail_info .option_card{padding-top:5px;padding-bottom:5px;background-color:#eaede2;}
.category_detail .board_detail .detail_info .option_card dt{top:4px;}
.category_detail .board_detail .detail_info .option_card dd{padding-right:15px;}
.category_detail .board_detail .detail_info .option_card dd a{display:block;margin-top:0px;border:1px solid #d6ddc4;background-color:#fcfcfc;font-size:12px;font-weight:bold;color:#000;text-align:center;line-height:24px;}

.category_detail .board_detail .detail_option_banner{}
.category_detail .board_detail .detail_option_banner a{display:block;}
.category_detail .board_detail .detail_option_banner img{display:block;width:100%;margin:0;}


.category_detail .product_info{padding:20px 0 0;background-color:#f5f6f8}

.category_detail .product_view{padding:15px;background-color:#fff;border-bottom:1px solid #dfdfdf;}
.category_detail .product_view .product_original{display:block;background-color:#4b590a;border:1px solid #394407;line-height:37px;font-size:14px;color:#fff;text-align:center}
.category_detail .product_view .product_original a{display:block;}
.category_detail .product_view .product_img{margin-top:15px;}
.category_detail .product_view .product_img img{display:block;width:100%;}

.category_detail .product_view .organic_mark{margin-top:10px;padding:5px;background-color:#ece7dc;border:1px solid #ded9cd;}
.category_detail .product_view .organic_mark>dl{}
.category_detail .product_view .organic_mark>dl>dt{position:relative;padding-left:24px;font-size:14px;font-weight:bold;color:#6b4216;}
.category_detail .product_view .organic_mark>dl>dt:after{display:block;content:'';position:absolute;top:3px;left:3px;width:16px;height:16px;background:url(../img/ico_c_arr.png) no-repeat 0 0;background-size:16px 16px;}
.category_detail .product_view .organic_mark>dl>dt span{font-weight:normal;color:#857c69;}

.category_detail .product_view .organic_mark>dl>dd{margin-top:8px;}
.category_detail .product_view .organic_mark ul{border:1px solid #dfdfdf;border-top:0;}
.category_detail .product_view .organic_mark ul li{display:table;width:100%;padding:10px;background-color:#fff;border-top:1px solid #dfdfdf;}
.category_detail .product_view .organic_mark ul li div{display:table-cell;width:1%;vertical-align:middle;}
.category_detail .product_view .organic_mark ul li img{display:block;width:70px;}
.category_detail .product_view .organic_mark ul li dl{display:table;width:100%;padding-left:15px;vertical-align:middle;}
.category_detail .product_view .organic_mark ul li dt{font-size:12px;font-weight:bold;color:#333;}
.category_detail .product_view .organic_mark ul li dd{font-size:12px;color:#666;}

.category_detail .product_view .why_orga{margin-top:10px;}
.category_detail .product_view .why_orga img{display:block;width:100%;}

/* 2016-10-12 박순욱 수정 */
/*.category_detail .product_view .delivery_guide{padding:5px;margin-top:10px;background-color:#fafafa;border:1px solid #dfdfdf;}*/
.category_detail .product_view .delivery_guide{margin-top:10px;}
.category_detail .product_view .delivery_guide table{width:100% !important;border-collapse:collapse;border-spacing:0}
.category_detail .product_view .delivery_guide dt{position:relative;padding-left:24px;font-size:14px;font-weight:bold;color:#6b4216;}
.category_detail .product_view .delivery_guide dt:after{display:block;content:'';position:absolute;top:3px;left:3px;width:16px;height:16px;background:url(../img/ico_guide.png) no-repeat;background-size:16px 16px}
.category_detail .product_view .delivery_guide dd{margin-top:8px;padding:15px 10px;background-color:#fff;border:1px solid #e7e7e7;}
.category_detail .product_view .delivery_guide dd p{font-size:12px;font-weight:bold;color:#666;}
.category_detail .product_view .delivery_guide dd ul{margin-top:10px;}
.category_detail .product_view .delivery_guide dd ul li{position:relative;margin-top:3px;padding-left:15px;font-size:12px;color:#999;}
.category_detail .product_view .delivery_guide dd ul li:first-child{margin-top:0;}
.category_detail .product_view .delivery_guide dd ul li:after{display:block;content:'';position:absolute;top:3px;left:0;width:12px;height:12px;background:url(../img/bul_list.png) no-repeat 0 0;background-size:12px 12px}

.category_detail .product_view .delivery_guide img{/* float:left; */max-width:100%;margin-right:10px;}
.category_detail .product_view .delivery_guide .Mobile_detile{width:30%;vertical-align: middle;}
.category_detail .product_view .delivery_guide .detail_title {float:left;width:100%;margin-bottom: 10px;vertical-align: middle;}
.category_detail .product_view .delivery_guide .detail_title_text {float:left;font-size:18px;font-weight:bold;color:#33353d;margin-bottom: 10px;}
.category_detail .product_view .delivery_guide .detail_text {font-size:15px;color:#33353d;margin-top:10px;margin-bottom:50px;}
.category_detail .product_view .delivery_guide .detail_img {float:left;width:100%;}



.category_detail .product_view .product_notice{margin-top:20px;border-top:1px solid #dfdfdf;}
.category_detail .product_view .product_notice dl{padding-top:20px;}
.category_detail .product_view .product_notice dt{position:relative;margin-top:20px;padding-left:28px;border:1px solid #493a33;background-color:#604d44;font-size:12px;font-weight:bold;color:#fff;line-height:30px;}
.category_detail .product_view .product_notice dt:first-child{margin-top:0;}
.category_detail .product_view .product_notice dt:after{display:block;content:'';position:absolute;top:6px;left:5px;width:16px;height:16px;background:url(../img/ico_c_arr.png) no-repeat 0 0;background-size:16px 16px;}
.category_detail .product_view .product_notice dd{}
.category_detail .product_view .product_notice dd>ul{}
.category_detail .product_view .product_notice dd>ul>li{padding-left:13px;margin-top:15px;font-size:12px;color:#999;text-indent:-13px}
.category_detail .product_view .product_notice .table_type{width:100%;border-spacing:0;border-collapse:collapse;border-top:1px solid #dfdfdf;text-align:left;table-layout:fixed;}
.category_detail .product_view .product_notice .table_type + .table_type{margin-top:10px;}
.category_detail .product_view .product_notice .table_type caption{display:none;}
.category_detail .product_view .product_notice .table_type th,.category_detail .product_view .product_notice .table_type td{padding:10px;border:1px solid #dfdfdf;border-width:0 0 1px 1px;}
.category_detail .product_view .product_notice .table_type th:first-child,.category_detail .product_view .product_notice .table_type td:first-child{border-left:0;}
.category_detail .product_view .product_notice .table_type.v2{margin-top:10px;}
.category_detail .product_view .product_notice .table_type.v2 th,.category_detail .product_view .product_notice .table_type.v2 td{padding:10px 0;text-align:center}
.category_detail .product_view .product_notice .table_type th{background-color:#f6f6f6;font-size:12px;font-weight:bold;color:#333;}
.category_detail .product_view .product_notice .table_type th p{color:#666;font-weight:normal;}
.category_detail .product_view .product_notice .table_type td{background-color:#fff;font-size:12px;color:#666;}
.category_detail .product_view .product_notice .table_type td span{color:#999;}
.category_detail .product_view .product_notice .table_type td ul{}
.category_detail .product_view .product_notice .table_type td ul li{margin:10px 0 0;color:#666;}
.category_detail .product_view .product_notice .table_type td ul li:first-child{margin-top:0;}


.category_detail .list_product{}
.category_detail .list_product .subheading{margin-top:20px; }
.category_detail .list_product .subheading:first-child{margin-top:0;}
.category_detail .list_product .list_product_slide{position:relative;}
.category_detail .list_product .list_product_slide .orga_swiper_pagination{width:100%;}
.category_detail .list_product .pdcard_list{padding:10px 5px 27px 5px;border-bottom:1px solid #dfdfdf;}

.category_detail .list_product .pdcard_list .pdcard_textarea{height: 76px; padding: 10px; text-align: center; }
.category_detail .list_product .pdcard_list .pdcard_textarea .pdcard_field{ overflow: hidden; line-height: 18px; max-height: 36px; color: #333; font-size: 15px; letter-spacing: -1px; text-overflow: ellipsis; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space:normal;font-weight:bold;}
.category_detail .list_product .pdcard_list .pdcard_textarea .pdcard_title{ margin-top: 5px; color: #98999e; font-size: 12px; }





.category_detail .product_comment{}
.category_detail .product_comment .top_comment{position:relative;padding:20px 15px;background-color:#fff;border-bottom:1px solid #dfdfdf;}
.category_detail .product_comment .top_comment strong{font-size:14px;font-weight:bold;color:#333;line-height:14px;}
.category_detail .product_comment .top_comment p{margin-top:5px;font-size:12px;line-height: 17px;color:#666;}
.category_detail .product_comment .top_comment p span{border-bottom:1px solid #ef7615;font-weight:bold;color:#ef7615;}
.category_detail .product_comment .top_comment p em{display:block;font-size:10px;font-style:normal;font-weight:bold;color:#666;}
.category_detail .product_comment .top_comment .btn_write{display:inline-block;padding: 5px 15px;margin-top:10px;border-radius:10px;background-color:#a1ad2a;font-size: 13px;font-weight:bold;color:#fff;line-height:15px;}
.category_detail .product_comment .top_comment img{display:block;position:absolute;top: 60%;right: 15px;width:60px;margin-top:-42px;}

.category_detail .product_comment .client_sf{padding:15px;border-top:1px solid #a8b19c;background-color:#b3bca7;}

.category_detail .product_comment .client_sf .total_st{overflow:hidden;text-align:center}
.category_detail .product_comment .client_sf .total_st dl{float:left;width:33%;height:55px;padding-top:11px;background-color:#42321f;}
.category_detail .product_comment .client_sf .total_st dl dt{font-size:12px;font-weight:bold;color:#ffd600;}
.category_detail .product_comment .client_sf .total_st dl dd{font-size:10px;color:#aba59d;}
.category_detail .product_comment .client_sf .total_st .st_area{float:left;width:67%;height:55px;background-color:#faf9f2;}
.category_detail .product_comment .client_sf .total_st .st_area:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.category_detail .product_comment .client_sf .total_st .st_area .st_check{display:inline-block;vertical-align:middle;}
.category_detail .product_comment .client_sf .list_st{overflow:hidden;border:1px solid #dad9d0;background-color:#eeede6;}
.category_detail .product_comment .client_sf .list_st li{float:left;width:33%;text-align:center;border-right:1px solid #dfded8;border-left:1px solid #fff;}
.category_detail .product_comment .client_sf .list_st li:nth-child(2){width:34%;}
.category_detail .product_comment .client_sf .list_st li:last-child{border-right:0;}
.category_detail .product_comment .client_sf .list_st li dl{padding:8px 0;}
.category_detail .product_comment .client_sf .list_st li dt{display:block;vertical-align:middle;font-size:10px;font-weight:bold;color:000;}
.category_detail .product_comment .client_sf .list_st li dd{margin-top:0px;display:inline-block;vertical-align:middle;}
.category_detail .product_comment .client_sf .list_st li dd .st_check{}






.category_detail .product_comment .list_commtent{}
.category_detail .product_comment .list_commtent .panel_default{background-color:#fff;border-bottom:0;}
.category_detail .product_comment .list_commtent .input_select{}
.category_detail .product_comment .list_commtent .input_select:after{display:none;}



.category_detail .product_comment .comment_view{padding:0 15px 15px;background-color:#fff}
.category_detail .product_comment .comment_view>li{margin-top:5px;padding:0 15px 10px;border:1px solid #dfdfdf;}
.category_detail .product_comment .comment_view>li.active{border:2px solid #b3bca7;}
.category_detail .product_comment .comment_view>li:first-child{margin-top:0;}


.category_detail .product_comment .comment_view .st_total_info{padding:10px 0;border-bottom:1px solid #dfdfdf;}
.category_detail .product_comment .comment_view .st_total_info dt{display:inline-block;padding:0 7px;border-radius:8px;background-color:#3f301e;line-height:15px;font-size:10px;color:#fff;vertical-align:middle;}
.category_detail .product_comment .comment_view .st_total_info dd{display:inline-block;position:relative;padding-right:10px;margin-right:10px;font-size:10px;color:#666;vertical-align:middle;}
.category_detail .product_comment .comment_view .st_total_info dd:after{display:block;content:'';position:absolute;top:50%;right:0;width:1px;height:10px;margin-top:-5px;background-color:#dfdfdf;}
.category_detail .product_comment .comment_view .st_total_info dd:last-child:after{display:none;}
.category_detail .product_comment .comment_view .st_total_info dd .st_check p:after{height:18px;}
.category_detail .product_comment .comment_view .st_detail_info{padding:10px 0;border-bottom:1px solid #dfdfdf;}
.category_detail .product_comment .comment_view .st_detail_info dt{display:inline-block;min-width:34px;padding:0 7px;border-radius:8px;background-color:#7f6f5b;line-height:15px;font-size:10px;color:#fff;vertical-align:middle;text-align:center}
.category_detail .product_comment .comment_view .st_detail_info dd{display:inline-block;vertical-align:middle;}
.category_detail .product_comment .comment_view .st_detail_info dd .st_check p:after{height:18px;}
.category_detail .product_comment .comment_view .comment_box{overflow:hidden;height:18px;margin:12px 0;font-size:11px;color:#666;}
.category_detail .product_comment .comment_view .active .comment_box{height:auto;}
.category_detail .product_comment .comment_view .btn_comment_view{display:block;overflow:hidden;width:15px;height:15px;background:url(../img/btn_comment.png) no-repeat;background-size:15px 15px;text-indent:-999em}
.category_detail .product_comment .comment_view .active .btn_comment_view{background:url(../img/btn_comment2.png) no-repeat;background-size:15px 15px}

.category_detail .product_service .product_notice{padding:20px 15px;background-color:#fff;}
.category_detail .product_service .product_notice>dl{}
.category_detail .product_service .product_notice>dl>dt{position:relative;margin-top:20px;margin-bottom:5px;padding-left:28px;border:1px solid #493a33;background-color:#604d44;font-size:14px;font-weight:bold;color:#fff;line-height:30px;}
.category_detail .product_service .product_notice>dl>dt:first-child{margin-top:0;}
.category_detail .product_service .product_notice>dl>dt:after{display:block;content:'';position:absolute;top:7px;left:5px;width:16px;height:16px;background:url(../img/ico_c_arr.png) no-repeat 0 0;background-size:16px 16px;}
.category_detail .product_service .product_notice>dl>dd{}
.category_detail .product_service .product_notice>dl>dd>p{margin-bottom:5px;font-size:12px;font-weight:bold;color:#666;}
.category_detail .product_service .product_notice>dl>dd ul{}
.category_detail .product_service .product_notice>dl>dd ul>li{margin:2px 0 0 0;color:#666;}
.category_detail .product_service .product_notice>dl>dd ul>li:first-child{margin-top:0;}
.category_detail .product_service .product_notice>dl>dd ul>li span{color:#999;}
.category_detail .product_service .product_notice>dl>dd ul>li strong{display:inline-block;width:40px;}
.category_detail .product_service .product_notice>dl>dd ul>li ul{margin-top:2px;}
.category_detail .product_service .product_notice>dl>dd ul>li ul li{color:#999;}
.category_detail .product_service .product_notice>dl>dd ul>li ul li:before{display:none;}
.category_detail .product_service .product_notice .table_default{margin-top:10px;}
.category_detail .product_service .product_notice .table_default tr td:first-child{border-right:1px solid #dfdfdf;text-align:center;font-weight:bold;color:#333;}
.category_detail .product_service .product_notice .table_default ol{}
.category_detail .product_service .product_notice .table_default ol li{padding-left:13px;text-indent:-13px}
.category_detail .product_service .product_notice .receipt_guide{margin-top:10px;}
.category_detail .product_service .product_notice .receipt_guide dt{font-size:12px;font-weight:bold;color:#333;}
.category_detail .product_service .product_notice .receipt_guide dd{margin-top:5px;}
.category_detail .product_service .product_notice .receipt_guide dd>ol{}
.category_detail .product_service .product_notice .receipt_guide dd>ol>li{margin-top:5px;font-size:12px;color:#666;}
.category_detail .product_service .product_notice .receipt_guide dd>ol>li:first-child{margin-top:0;}
.category_detail .product_service .product_notice .receipt_guide dd>ol>li ul{margin-top:5px;padding-left:15px;}
.category_detail .product_service .product_notice .receipt_guide dd>ol>li ul li{color:#999;}
.category_detail .product_service .product_notice .receipt_guide dd>ol>li ul li strong{width:45px;color:#666;}
.category_detail .product_service .product_notice .order_step{margin-top:10px;}
.category_detail .product_service .product_notice .order_step li{position:relative;height:60px;padding:0 10px 0 75px;border:1px solid #dfdfdf;border-top:0;}
.category_detail .product_service .product_notice .order_step li:first-child{border-top:1px solid #dfdfdf;}
.category_detail .product_service .product_notice .order_step li:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.category_detail .product_service .product_notice .order_step li dl{display:inline-block;vertical-align:middle;}
.category_detail .product_service .product_notice .order_step li dt{font-size:14px;font-weight:bold;color:#33353d;}
.category_detail .product_service .product_notice .order_step li dd{font-size:12px;font-weight:bold;color:#666;}
.category_detail .product_service .product_notice .order_step li dd span{display:block;font-weight:normal;color:#999;}
.category_detail .product_service .product_notice .order_step li>span{display:block;position:absolute;top:-1px;left:-1px;width:61px;height:61px;font-size:18px;font-weight:bold;color:#fff;text-align:center;line-height:61px;}
.category_detail .product_service .product_notice .order_step li>span:before{display:block;content:'';position:absolute;top:100%;left:50%;width:0;height:0;margin:-1px 0 0 -6px;border:solid transparent;border-width:6px;z-index:100}

.category_detail .product_service .product_notice .order_step li>span.step1{background-color:#c69c6d;border:1px solid #b18a5e;}
.category_detail .product_service .product_notice .order_step li>span.step1:before{border-top-color:#c69c6d;}
.category_detail .product_service .product_notice .order_step li>span.step2{background-color:#845b32;border:1px solid #6c4621;}
.category_detail .product_service .product_notice .order_step li>span.step2:before{border-top-color:#845b32}
.category_detail .product_service .product_notice .order_step li>span.step3{background-color:#604d44;border:1px solid #4e3f38;}
.category_detail .product_service .product_notice .order_step li>span.step3:before{display:none;}




.category_detail .detail_bottom{position:fixed;bottom:0;left:0;width:100%;z-index:1000}
.category_detail .detail_bottom.open{top:95px;}

/*.category_detail .detail_bottom .btn_detail_default{display:block;position:absolute;bottom:0;left:0;width:100%;font-size:14px;font-weight:bold;color:#fff;line-height:45px;background-color:#ad1a01;z-index:111;text-align:center}
.category_detail .detail_bottom.open .btn_detail_default{display:none;}*/

.category_detail .detail_bottom .btn_detail_default{display:table;table-layout:fixed;overflow:hidden;position:absolute;bottom:0;left:0;width:100%;z-index:111;}
.category_detail .detail_bottom.open .btn_detail_default{display:none;}
.category_detail .detail_bottom .btn_detail_default li{display:table-cell;font-size:16px;font-weight:bold;color:#fff;line-height:50px;text-align:center}
.category_detail .detail_bottom .btn_detail_default li a{display:block;height:100%;}
.category_detail .detail_bottom .btn_detail_default li a span{border-bottom:1px solid #fff;}
.category_detail .detail_bottom .btn_detail_default li a.btn_buy_weekend{background-color:#d0a674;}
.category_detail .detail_bottom .btn_detail_default li a.btn_buy{background-color:#ae1901;}


.category_detail .detail_bottom .btn_detail{display:table;table-layout:fixed;overflow:hidden;position:absolute;bottom:0;left:0;width:100%;z-index:100;}
.category_detail .detail_bottom .btn_detail li{display:table-cell;font-size:16px;font-weight:bold;color:#fff;line-height:50px;text-align:center}
.category_detail .detail_bottom .btn_detail li a{display:block;height:100%;}
.category_detail .detail_bottom .btn_detail li.btn_favorites{background-color:#a2a2a2;}
.category_detail .detail_bottom .btn_detail li.btn_cart{background-color:#604e44;}
.category_detail .detail_bottom .btn_detail li.btn_buy{background-color:#ad1a01;}

.category_detail .detail_bottom .btn_detail li.btn_cart2{background-color:#9fb33a;}
/*.category_detail .detail_bottom.open .btn_detail li{display:table-cell;}*/


.category_detail .detail_bottom .order_option_wrap{display:none;position:absolute;top:0;bottom:50px;left:0;right:0;z-index:50;}
.category_detail .detail_bottom.open .order_option_wrap{display:block;}

.category_detail .detail_bottom .order_option{display:none;position:absolute;bottom:0;left:0;width:100%;max-height:100%;background-color:#f1f1f1;}
.category_detail .detail_bottom .order_option.open{display:block;}
.category_detail .detail_bottom .order_option.weekend.open{display:none;}

.category_detail .detail_bottom .order_option.open_weekend{display:block !important;}
.category_detail .detail_bottom .order_option .btn_option{position:absolute;top:-2px;left:0;width:100%;height:2px;background-color:#9dc141;}
.category_detail .detail_bottom .order_option .btn_option:after{display:block;content:'';position:absolute;top:-11px;left:50%;width:26px;height:13px;margin-left:-13px;background:url(../img/ico_option.png) no-repeat 0 0;background-size:26px 13px;}


.category_detail .detail_bottom .order_option_wrap .total_money{overflow:hidden;padding:0 15px;background-color:#fff;border-top:1px solid #dfdfdf;line-height:40px;}
.category_detail .detail_bottom .order_option_wrap .total_money dt{float:left;font-size:14px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .order_option_wrap .total_money dd{float:right;font-size:12px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .order_option_wrap .total_money dd span{font-size:18px;color:#ad1a01;vertical-align:middle;}

.category_detail .detail_bottom .order_option_wrap .repeat_money{overflow:hidden;padding:0 15px;background-color:#f6f2ed;border-top:1px solid #dfdfdf;line-height:40px;}
.category_detail .detail_bottom .order_option_wrap .repeat_money dt{float:left;font-size:14px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .order_option_wrap .repeat_money dd{float:right;font-size:12px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .order_option_wrap .repeat_money dd span{font-size:18px;color:#ad1a01;vertical-align:middle;}
.category_detail .detail_bottom .order_option_wrap .repeat_money dd em{margin:0 3px;font-size:16px;font-style:normal;font-weight:normal;vertical-align:middle;}
.category_detail .detail_bottom .order_option_wrap .repeat_money dd span:last-child{color:#8daf45}
.category_detail .detail_bottom .order_option_wrap .undeliverable_days{overflow:hidden;padding:0 15px;margin:-5px 0 5px;line-height:20px;}
.category_detail .detail_bottom .order_option_wrap .undeliverable_days dt{float:left;font-size:12px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .order_option_wrap .undeliverable_days dd{float:right;font-size:12px;font-weight:400;color:#ad1a01;}
.category_detail .detail_bottom .order_option_wrap .undeliverable_days dd span{margin:0 2px;}

.category_detail .detail_bottom .option_info .store_info{}
.category_detail .detail_bottom .option_info .store_info ul{overflow:hidden;border-bottom:1px solid #dfdfdf;}
.category_detail .detail_bottom .option_info .store_info ul.store_detail{/*float:left;*/width:100%;padding:20px;text-align:center;font-size: 14px;font-weight: bold;color: #000;}
.category_detail .detail_bottom .option_info .store_info ul.store_detail span{display: inline-block;margin-left: 20px;padding: 3px 15px 0;background-color: #443c33;border-radius: 15px;2017-08-28font-weight: bold; line-height: 25px;font-size: 15px;color: #9dc24f;}
.category_detail .detail_bottom .option_info .store_info ul li{float:left;width:50%;padding:10px;border-left:1px solid #dfdfdf;text-align:center}
.category_detail .detail_bottom .option_info .store_info ul li:first-child{border-left:0;}
.category_detail .detail_bottom .option_info .store_info ul li dt{font-size:14px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .option_info .store_info ul li dd{display:inline-block;margin-top:5px;padding:0 15px;background-color:#443c33;border-radius:15px;font-size:12px;font-weight:bold;color:#aea59a;line-height:25px;}
.category_detail .detail_bottom .option_info .store_info ul li dd span{font-size:15px;color:#9dc24f;}
.category_detail .detail_bottom .option_info .option_sel{padding:10px 15px;border-bottom:1px solid #dfdfdf;}
.category_detail .detail_bottom .option_info .option_sel .input_select{width:100%;margin-top:5px;}
.category_detail .detail_bottom .option_info .option_sel .input_select:first-child{margin-top:0;}

/* 2017-08-28 RMR 배송시간 추가 박순욱 */
.Deliverytable_default table{width: 98%;margin: 10px auto;border-collapse: collapse;font-size: 14px;background-color: #fff;}
.Deliverytable_default table thead tr{border: 1px solid #e2e2e2;padding: 10px 0;background-color: #604d44;color: #fff;}
.Deliverytable_default table thead th{border: 1px solid #e2e2e2;padding: 10px 0;background-color: #604d44;color: #fff;}
.Deliverytable_default table tbody th{border: 1px solid #e2e2e2;padding:10px 0;font-size:12px;color:#666;line-height:18px;font-weight: unset;}
.Deliverytable_default table tbody th.close{border: 1px solid #e2e2e2;padding:10px 0;font-size:12px;color:#bdbdbd;line-height:18px;font-weight: unset;background-color: #e2e2e2;}
.Deliverytable_default table tbody td{border: 1px solid #e2e2e2;padding:10px 0;font-size:12px;color:#666;line-height:18px;text-align: center;}
.Deliverytable_default table tbody td.close{border: 1px solid #e2e2e2;padding:10px 0;font-size:12px;color:#bdbdbd;line-height:18px;text-align: center;background-color: #e2e2e2;}


.category_detail .detail_bottom .option_info dl[class^="info"]{position:relative;padding:10px 5px 10px 135px;border-bottom:1px solid #dfdfdf;border-top:1px solid #fff;}
.category_detail .detail_bottom .option_info dl[class^="info"]:first-child{border-top:0;}
.category_detail .detail_bottom .option_info dl[class^="info"]:last-child{border-bottom:0;}
.category_detail .detail_bottom .option_info dl[class^="info"] dt{position:absolute;top:50%;left:15px;width:130px;font-size:12px;font-weight:bold;color:#000;transform: translate(0,-50%);}
.category_detail .detail_bottom .option_info dl[class^="info"] dd{}
.category_detail .detail_bottom .option_info dl[class^="info"] dd .input_select{width:100%;}
.category_detail .detail_bottom .option_info dl[class^="info"] dd .input_number{width:100%;}
.category_detail .detail_bottom .option_info .info_option .input_select{margin-top:5px;}
.category_detail .detail_bottom .option_info .info_option .input_select:first-child{margin-top:0;}


.category_detail .detail_bottom .option_info .option_list{padding:10px 15px;}
.category_detail .detail_bottom .option_info .option_list ul{}
.category_detail .detail_bottom .option_info .option_list ul li{position:relative;margin-top:5px;padding:15px;border:1px solid #dfdfdf;background-color:#fff;}
.category_detail .detail_bottom .option_info .option_list ul li:first-child{margin-top:0;}
.category_detail .detail_bottom .option_info .option_list ul li .list_title{font-size:14px;font-weight:bold;color:#000;}
.category_detail .detail_bottom .option_info .option_list ul li .list_txt{display:block;font-size:12px;color:#999;}
.category_detail .detail_bottom .option_info .option_list ul li .list_info{overflow:hidden;margin-top:15px;}
.category_detail .detail_bottom .option_info .option_list ul li .input_number{float:left;}
.category_detail .detail_bottom .option_info .option_list ul li .list_money{float:right;}
.category_detail .detail_bottom .option_info .option_list ul li .list_money dt{font-size:12px;color:#999;}
.category_detail .detail_bottom .option_info .option_list ul li .list_money dd{font-size:12px;font-weight:bold;color:#4e5357;text-align:right}
.category_detail .detail_bottom .option_info .option_list ul li .list_money dd span{font-size:16px;color:#9dc24f;vertical-align:middle;}
.category_detail .detail_bottom .option_info .option_list ul li .btn_list_del{display:block;overflow:hidden;position:absolute;top:15px;right:15px;width:18px;height:18px;background:url(../img/ico_layer_close.png) no-repeat 0 0;background-size:18px 18px;text-indent:-999em}


.category_detail .detail_bottom .option_info .option_num{padding:10px 0 0;text-align:center}
.category_detail .detail_bottom .option_info .count_num{display:inline-block;overflow:hidden;padding:0 7px;border-radius:2px;background-color:#382514;vertical-align:middle;line-height:24px;}
.category_detail .detail_bottom .option_info .count_num li{position:relative;float:left;margin-left:10px;padding-left:11px;}
.category_detail .detail_bottom .option_info .count_num li:after{display:block;content:'';position:absolute;top:6px;left:0;width:1px;height:11px;background-color:#fff;}
.category_detail .detail_bottom .option_info .count_num li:first-child{margin-left:0;padding-left:0;}
.category_detail .detail_bottom .option_info .count_num li:first-child:after{display:none;}
.category_detail .detail_bottom .option_info .count_num li dt{float:left;font-size:12px;color:#fff;}
.category_detail .detail_bottom .option_info .count_num li dd{float:left;margin-left:5px;font-size:12px;color:#fff;}
.category_detail .detail_bottom .option_info .count_num dd span{display:inline-block;margin:1px 0 -1px;font-size:16px;font-weight:bold;color:#BDC949;vertical-align:middle;}


.category_detail .detail_bottom .option_info .option_sale dl{}
.category_detail .detail_bottom .option_info .option_sale dl dt{font-size:14px;color:#33353d;vertical-align:middle;}
.category_detail .detail_bottom .option_info .option_sale dl dd{margin-top:10px;font-size:14px;color:#666;vertical-align:middle;}
.category_detail .detail_bottom .option_info .option_sale{padding:10px 15px;background-color:#fbf9e4;}
.category_detail .detail_bottom .option_info .option_sale .btn_sale{overflow:hidden;}
.category_detail .detail_bottom .option_info .option_sale .btn_sale li{float:left;margin-right:5px;}
.category_detail .detail_bottom .option_info .option_sale .btn_sale li:first-child{margin-left:0;}
.category_detail .detail_bottom .option_info .option_sale .list_sale{margin-top:10px;}
.category_detail .detail_bottom .option_info .option_sale .list_sale li{position:relative;padding-left:11px;font-size:12px;color:#666;line-height:20px;}
.category_detail .detail_bottom .option_info .option_sale .list_sale li strong{color:#8a993a;}
.category_detail .detail_bottom .option_info .option_sale .list_sale li:after{display:block;content:'';position:absolute;top:6px;left:0;border-style:solid;border-width:3px 0px 3px 3px;border-color:transparent transparent transparent #4e5357;}


.category_detail .detail_bottom .option_info .option_sale .btn_option_sale{display:inline-block;padding:0 5px;background:url(../img/bg_white.png) repeat-x 0 100%;border:1px solid #e3e3e3;border-radius:2px;border-color:#e3e3e3 #dfdfdf #d4d4d4 #dbdbdb;font-size:11px;color:#33353d;line-height:23px}
.category_detail .detail_bottom .option_info .option_sale .btn_option_sale2{display:inline-block;padding:0 5px;background:#8b9a3a;border-radius:2px;font-size:11px;font-weight:bold;color:#fff;line-height:25px}

.stop_selling{position:fixed;bottom:0;left:0;width:100%;z-index:1000}
.stop_selling>p{border:1px solid #d2cca2;border-width:1px 0;background-color:#ebe6c0;font-size:16px;font-weight:bold;color:#241103;line-height:50px;text-align:center}




.dim_layer{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1100}
.dim_layer.active{display:block;}
.dim_layer.open{display:block;}
.dim_layer .dim{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);}
.dim_layer .dim_layer_content{position:absolute;top:50%;left:15px;right:15px;border:1px solid #604e44;background-color:#fff;transform: translate(0,-50%);}
.dim_layer .dim_layer_content .btn_dim_close{display:block;position:absolute;top:15px;right:15px;width:15px;height:15px;background:url(../img/ico_layer_close.png) no-repeat 0 0;background-size:15px 15px;}
.cart_layer{padding:50px 15px 15px;}
.cart_layer .cart_txt{text-align:center}
.cart_layer .cart_txt img{display:inline-block;width:60px;vertical-align:middle;}
.cart_layer .cart_txt p{display:inline-block;margin-left:12px;vertical-align:middle;text-align:left;font-size:12px;color:#000;}
.cart_layer .cart_txt p strong{border-bottom:1px solid #000;font-size:15px;font-weight:bold;}
.cart_layer .cart_txt p span{font-size:15px;}
.cart_layer .panel_button{padding:0;margin-top:40px;}
.cart_layer .panel_button .btn{height:40px;line-height:normal;}
.cart_layer .panel_button .btn:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.cart_layer .panel_button span{font-weight:bold;vertical-align:middle;}


.pop_layer .list_card_guide{text-align:center}
.pop_layer .list_card_guide dt{font-size:12px;font-weight:bold;color:#000;}
.pop_layer .list_card_guide dd{margin-top:15px;}
.pop_layer .list_card_guide dd img{display:block;width:100%;}
.pop_layer .list_card_guide dd .table_default{width:100%;border:1px solid #dfdfdf;border-width:1px 0;border-collapse:collapse;border-spacing:0}
.pop_layer .list_card_guide dd .table_default th{font-weight:bold;}
.pop_layer .list_card_guide dd .table_default td{text-align:center}
.pop_layer .list_card_guide dd .table_default td:first-child{font-weight:bold;color:#333;}
.pop_layer .list_card_guide dd ul{padding:15px;background-color:#f9f9f9;border-bottom:1px solid #dfdfdf;}
.pop_layer .list_card_guide dd ul li{position:relative;padding-left:5px;font-size:12px;color:#666;text-align:left;line-height:18px;}
.pop_layer .list_card_guide dd ul li:after{display:block;content:'';position:absolute;top:50%;left:0;width:2px;height:2px;margin-top:-1px;background-color:#666;}
.pop_layer .list_card_guide dd ul li span{color:#999;}


.pop_layer .wholesale_title{padding-bottom:15px;border-bottom:1px solid #dfdfdf;margin:0 -15px;text-align:center}
.pop_layer .wholesale_title dt{font-size:15px;font-weight:bold;color:#000;}
.pop_layer .wholesale_title dt span{display:block;font-size:10px;font-weight:normal;color:#999;}
.pop_layer .wholesale_title dd{font-size:12px;color:#666;}
.pop_layer .wholesale_input{margin-top:11px;}
.pop_layer .wholesale_input .input_calendar{margin-bottom:5px;}
.pop_layer .wholesale_footer{ z-index: 800; position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 15px; border-top: 1px solid #dfdfdf; background: #fff; }

#product_img_view{width:150%;}
.pop_layer .product_img_view{}
.pop_layer .product_img_view img{display:block;max-width: 100%;}
.pop_layer .product_img_view table{table-layout:fixed;}

#product_detail{width:150%;}
.pop_layer .detail_view{}
.pop_layer .detail_view img{display:block;max-width: 100%;}
.pop_layer .detail_view table{table-layout:fixed;}



#comment_write .pop_content{padding-bottom:128px}
.pop_layer .comment_title{padding-bottom:15px;border-bottom:1px solid #dfdfdf;margin:0 -15px;text-align:center}
.pop_layer .comment_title dt{font-size:15px;font-weight:bold;color:#000;}
.pop_layer .comment_title dt span{display:block;font-size:10px;font-weight:normal;color:#999;}
.pop_layer .comment_title dd{font-size:12px;color:#666;}
.pop_layer .comment_en{position:relative;padding:10px 10px 10px 80px;margin:0 -15px;border-bottom:1px solid #dfdfdf;}
.pop_layer .comment_en>dt{position:absolute;top:10px;left:15px;font-size:16px;font-weight:bold;color:#000;}
.pop_layer .comment_en>dd{}
.pop_layer .comment_en>dd ul{}
.pop_layer .comment_en>dd ul li{margin-top:15px;}
.pop_layer .comment_en>dd ul li:first-child{margin-top:0;}
.pop_layer .comment_en>dd ul li dl{}
.pop_layer .comment_en>dd ul li dt{display:inline-block;width:40px;font-size:14px;font-weight:bold;color:#000;vertical-align:middle;}
.pop_layer .comment_en>dd ul li dd{display:inline-block;vertical-align:middle;}
.pop_layer .comment_en>dd .input_textarea{height:100px;}

.pop_layer .comment_footer{ z-index: 800; position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 15px; border-top: 1px solid #dfdfdf; background: #fff; }

.pop_layer .comment_footer ul{margin-top:10px;text-align:center}
.pop_layer .comment_footer ul li{font-size:12px;color:#999;}




.pop_layer .list_filter{}
.pop_layer .list_filter>li{margin-top:5px;}
.pop_layer .list_filter>li:first-child{margin-top:0;}
.pop_layer .list_filter>li .panel_default{padding:0;border:0;background:none;}
.pop_layer .list_filter>li .select_content{display:none;padding:5px 15px 15px;border:1px solid #ddd;border-top:0;}
.pop_layer .list_filter>li .input_select.active + .select_content{display:block;}
.pop_layer .list_filter>li .select_content ul{overflow:hidden;}
.pop_layer .list_filter>li .select_content ul li{float:left;width:50%;margin-top:10px;}
.pop_layer .category_srch_footer{ z-index: 800; position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 15px; border-top: 1px solid #dfdfdf; background: #fff; }



.pop_layer .list_benefits{}
.pop_layer .list_benefits>li{margin-top:5px;}
.pop_layer .list_benefits>li:first-child{margin-top:0;}
.pop_layer .list_benefits>li .panel_default{padding:0;border:0;background:none;}
.pop_layer .list_benefits>li .select_content{display:none;padding:15px 15px 15px;border:1px solid #ddd;border-top:0;}
.pop_layer .list_benefits>li .input_select.active + .select_content{display:block;}
.pop_layer .list_benefits>li .select_content ul{}
.pop_layer .list_benefits>li .select_content ul li{}
.pop_layer .list_benefits>li .select_content .list_txt li dl{margin-top:11px;padding-bottom:14px;border-bottom:1px solid #dfdfdf;}
.pop_layer .list_benefits>li .select_content .list_txt li:first-child dl:first-child{margin-top:0;}
.pop_layer .list_benefits>li .select_content .list_txt li dt{font-size:12px;font-weight:bold;color:#000;}
.pop_layer .list_benefits>li .select_content .list_txt li dd{margin-top:8px;font-size:10px;color:#666;line-height:12px;}
.pop_layer .list_benefits>li .select_content .list_txt li dd span{display:block}
.pop_layer .list_benefits>li .select_content .list_img{overflow:hidden;margin:-15px;}
.pop_layer .list_benefits>li .select_content .list_img li{float:left;width:33%;padding:18px 0;border-bottom:1px solid #dfdfdf;text-align:center}
.pop_layer .list_benefits>li .select_content .list_img li:nth-child(3n+1){width:34%;}
.pop_layer .list_benefits>li .select_content .list_img li:nth-child(3n+2){border:1px solid #dfdfdf;border-width:0 1px 1px;}
.pop_layer .list_benefits>li .select_content .list_img li img{display:block;width:25px;margin:0 auto 5px;}
.pop_layer .list_benefits>li .select_content .list_img li p{font-size:12px;font-weight:bold;color:#666;line-height:12px;}



.code_layer{padding:50px 15px 15px;}
.code_layer .code_txt{text-align:center}
.code_layer .code_txt img{display:block;width:80%;margin:0 auto 10px;}
.code_layer .code_txt p{margin-left:12px;vertical-align:middle;text-align:left;font-size:14px;color:#000;}


.layer_pop{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}
.layer_pop .dim{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);}
.layer_pop .sns_share{position:absolute;top:100px;left:0;width:100%;padding:0 15px;}
.layer_pop .sns_share dl{padding:10px 15px 14px;border:1px solid #604e44;background-color:#fff;text-align:center}
.layer_pop .sns_share dt{font-size:19px;font-weight:bold;color:#000;}
.layer_pop .sns_share dd{margin-top:13px;padding-top:15px;border-top:1px solid #dfdfdf;}
.layer_pop .sns_share dd ul{overflow:hidden;display:inline-block;vertical-align:top;}
.layer_pop .sns_share dd li{float:left;margin-left:5px;}
.layer_pop .sns_share dd li:first-child{margin-left:0;}
.layer_pop .sns_share dd li a{display:block;width:40px;height:40px;background:url(../img/ico_sns.png) no-repeat;background-size:250px 40px}
.layer_pop .sns_share dd li a.sns_kakao{background-position:0 0;}
.layer_pop .sns_share dd li a.sns_facebook{background-position:-45px 0;}
.layer_pop .sns_share dd li a.sns_twitter{background-position:-90px 0;}
.layer_pop .sns_share dd li a.sns_pinterest{background-position:-135px 0;}
.layer_pop .sns_share dd li a.sns_blog{background-position:-180px 0;}
.layer_pop .sns_share.type2 dd li a{background:url(../img/ico_sns2.png) no-repeat;background-size:220px 40px}
.layer_pop .sns_share.type2 dd li a.sns_facebook{background-position:0 0;}
.layer_pop .sns_share.type2 dd li a.sns_blog{background-position:-45px 0;}
.layer_pop .sns_share.type2 dd li a.sns_kakao{background-position:-90px 0;}
.layer_pop .sns_share.type2 dd li a.sns_shares{background-position:-135px 0;}
.layer_pop .sns_share .btn_more{margin-top:15px;}
.layer_pop .layer_pop_content .btn_layer_close{display:block;overflow:hidden;position:absolute;top:15px;right:30px;width:15px;height:15px;background:url(../img/ico_layer_close.png) no-repeat 0 0;background-size:15px 15px;text-indent:-999em}




/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}