@charset "utf-8";


/* @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("./nanumbarungothic.css"); */

/* reset:Start */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input:focus,button:focus,textarea:focus{outline:none;}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff;-webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button{font-size:12px;font-family:"Nanum Barun Gothic",Tahoma,sans-serif;color:#565656}
/*body,th,td,input,select,textarea,button{font-family:'나눔고딕',Nanum Gothic}*/
a{color:#565656;text-decoration:none}
a:active,a:hover{text-decoration:none;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
.clear{clear:both}
figure{line-height:0}
table caption{display:none !important;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
/* reset:End */

/* Containder[S] */

/* img[S] */
.error .section h1 img {width:98px;}
/* img[E] */

.error .section {margin:0;padding:25px 0;text-align:center;letter-spacing:-1px;}
.error .section h1 {margin-bottom:19px;}
.error .section > strong {font-size:19px;color:#333;}
.error .section .error_message {font-size:15px;color:#333333;margin-top:3px;}
.error .section .error_desc {margin:24px 0 21px 0; padding: 24px 13px; width:100%;border:1px solid #e2e2e2;border-width: 1px 0 1px 0; font-size:12px;line-height:16px;color:#666;background-color:#fafafa;}
.error .section .error_desc span {font-size:12px;}
.error .section .error_desc span strong {color:#333;}
.error .section dl dt {font-size:14px;color:#33353d;}
.error .section dl dt strong {font-size:18px;}
.error .section dl dd {margin-top:10px;font-size:12px;color:#666;line-height:16px;}
.error .section dl dd strong {color:#33353d;}

.error .section .error_button a {display:inline-block;margin-top:17px;height:40px;padding:0 15px;background-color: black;margin-left:5px;background:#8b9a3a;border-radius:3px;color:#fff;line-height:40px;font-size:16px;}
.error .section .error_button a:first-child{margin-left:0;background:#a2a2a2;}
/* Containder[E] */