@charset "utf-8";

.planning .top_bnr{margin-top:5px;}
.planning .top_bnr li{}
.planning .top_bnr li a{display:block;}
.planning .top_bnr li img{display:block;width:100%;}

.planning .tab_default{}
.planning .tab_default li{}
.planning .tab_default li a{height:55px;}
.planning .tab_default li .ico{display:block;height:17px;margin:0 auto 6px;background:url(../img/ico_tab_planning.png) no-repeat 0 0;background-size:100px 20px}
.planning .tab_default li .all{width:17px;background-position:0 0;}
.planning .tab_default li .special{width:17px;background-position:-25px 0;}
.planning .tab_default li .food{width:22px;background-position:-50px 0;}
.planning .tab_default li .life{width:20px;background-position:-75px 0;}

.planning .board_detail{}
.planning .board_detail .board_detail_header{position:relative;}
.planning .board_detail_field{font-size:12px;color:#999;}
.planning .board_detail_date .label{min-width:auto;margin-right:5px;border-radius:2px}
.planning .board_detail_share{position:absolute;top:50%;right:15px;margin-top:-18px;}
.planning .board_detail_share a{display:block;}
.planning .board_detail_share a .ico_sns_share2{width:36px;height:36px;background:url(../img/ico_sns_share2.png) no-repeat 0 0;background-size:36px 36px}
.planning .board_detail_content{}
.planning .board_detail_content img{display:block;width:100%;}


.top_visual {margin-top:5px}
.top_visual a{display:block;}
.top_visual img {display:block; width:100%}
.top_visual .panel_default{border-bottom:0}
.top_visual .panel_default .form_group_main{position:relative;}
.top_visual .panel_default .select_content{display:none;position:absolute;top:33px;left:0;width:100%;z-index:100}
.top_visual .panel_default .active + .select_content{display:block;}
.top_visual .panel_default .select_content ul{overflow:hidden;background-color:#fff;border:1px solid #dfdfdf;border-width:0 0 1px 1px;}
.top_visual .panel_default .select_content ul li{float:left;width:33%;height:60px;border:1px solid #dfdfdf;border-width:1px 1px 0 0;text-align:center}
.top_visual .panel_default .select_content ul li:nth-child(3n+2){width:34%;}
.top_visual .panel_default .select_content ul li a{display:block;height:100%;padding-top:8px;font-size:12px;font-weight:bold;color:#999;}
.top_visual .panel_default .select_content ul li span{display:block;height:22px;margin:0 auto 5px;background:url(../img/img_best_tab.png) no-repeat;background-size:30px 300px;}
.top_visual .panel_default .select_content ul li em{font-style: normal;}
.top_visual .panel_default .select_content ul li .best_category{width:17px;background-position:0 0;}
.top_visual .panel_default .select_content ul li .best_category2{width:18px;background-position:0 -25px;}
.top_visual .panel_default .select_content ul li .best_category3{width:22px;background-position:0 -50px;}
.top_visual .panel_default .select_content ul li .best_category4{width:22px;background-position:0 -75px;}
.top_visual .panel_default .select_content ul li .best_category5{width:20px;background-position:0 -100px;}
.top_visual .panel_default .select_content ul li .best_category6{width:27px;background-position:0 -125px;}
.top_visual .panel_default .select_content ul li .best_category7{width:17px;background-position:0 -150px;}
.top_visual .panel_default .select_content ul li .best_category8{width:22px;background-position:0 -175px;}
.top_visual .panel_default .select_content ul li .best_category9{width:20px;background-position:0 -200px;}
.top_visual .panel_default .select_content ul li .best_category10{width:20px;background-position:0 -225px;}
.top_visual .panel_default .select_content ul li .best_category11{width:29px;background-position:0 -250px;}
.top_visual .panel_default .select_content ul li .best_category12{width:18px;background-position:0 -275px;}





.best .pdcard_list{}
.best .pdcard_list .best_rank{display:block;margin-bottom:10px;font-size:12px;font-weight:bold;text-align:center;color:#cd844c}
.best .pdcard_list .best_rank .ico_crown{width:18px;height:14px;background:url(../img/ico_crown.png) no-repeat;background-size:18px 14px;vertical-align:-2px;}
.best .pdcard_list .best_rank span{display:inline-block;padding-left:5px;margin-left:5px;border-left:1px solid #e5e5e5;line-height:14px;}
.best .pdcard_list.type_list .best_rank{text-align:left}
.best .pdcard_list.type_list li{margin-top:15px;}
.best .pdcard_list.type_list li:first-child{margin-top:0;}

/*.best .pdcard_list.type_list .pdcard_cart{position:relative;padding-right:46px;margin-top:9px;}
.best .pdcard_list.type_list .pdcard_cart .input_text{width:100%;height:26px;text-align:center}
.best .pdcard_list.type_list .pdcard_cart .input_text input{text-align:center}
.best .pdcard_list.type_list .pdcard_cart .btn_cart{display:block;overflow:hidden;position:absolute;top:0;right:0;width:42px;height:26px;border:0;background:#9dc24f url(../img/ico_cart2.png) no-repeat 12px 6px;background-size:18px 14px;text-indent:-999em}*/

.orga_cf .list_orga_cf{padding:0 15px 15px;background-color:#f2ede9;}
.orga_cf .list_orga_cf li{overflow:hidden;padding:15px;margin-top:10px;background-color:#f4f4f4;border:1px solid #ddd;border-radius:15px}
.orga_cf .list_orga_cf li:first-child{margin-top:0;}
.orga_cf .list_orga_cf li:last-child{background-color:#fff;}
.orga_cf .list_orga_cf li img{display:block;width:100%;}
.orga_cf .list_orga_cf li .panel_button{padding:0;background-color:#f4f4f4;}

.orga_mom .top_visual{position:relative;}
.orga_mom .top_visual a.btn_mom_theme{overflow:hidden;position:absolute;bottom:10px;left:50%;width:170px;height:34px;background:url(../img/orgamom_btn.png) no-repeat 0 0;background-size:170px 34px;text-indent:-999em;transform:translateX(-50%);}
.orga_mom .orgamom_heading{position:relative;height:45px;margin:20px 0 0;line-height:46px;background:#f1b2ad;text-align:center;white-space:nowrap;text-overflow:ellipsis;z-index:100}
.orga_mom .orgamom_heading_title{color:#fff;font-size:17px;letter-spacing:-1px; }
.orga_mom .orgamom_heading:before{content:'';position:absolute;top:2px;left:0px;right:0px;bottom:2px;border:1px dashed #f8d9d6;border-radius:5px;box-shadow: inset 2px 2px 15px rgba(255, 255, 255, .11), inset -2px -2px 15px rgba(0, 0, 0, .08);}
.orga_mom .orgamom_heading:after{content:'';position:absolute;bottom:-8px;left:50%;width:21px;height:11px;margin-left:-10px;background:url(../img/ico_title_arr.png) no-repeat;background-size:50px 50px}

.orga_mom .orgamom_heading.v2{background-color:#9abe40;}
.orga_mom .orgamom_heading.v2:before{border-color:#bed681;}
.orga_mom .orgamom_heading.v2:after{background-position:0 -15px;}
.orga_mom .orgamom_heading.v3{background-color:#40beb4;}
.orga_mom .orgamom_heading.v3:before{border-color:#81d6cf;}
.orga_mom .orgamom_heading.v3:after{background-position:0 -30px;}
.orga_mom .orgamom_heading.v4{background-color:#c05a41;}
.orga_mom .orgamom_heading.v4:before{border-color:#d69281;}
.orga_mom .orgamom_heading.v4:after{background-position:-25px 0;}
.orga_mom .orgamom_heading.v5{background-color:#c07d40;}
.orga_mom .orgamom_heading.v5:before{border-color:#d6aa81;}
.orga_mom .orgamom_heading.v5:after{background-position:-25px -15px;}

.sale{}
.sale .panel_default .form_group_main{position:relative;}
.sale .select_content{display:none;;position:absolute;top:33px;left:0;width:100%;background-color:#fff;z-index:10}
.sale  .active +.select_content{display:block;}
.sale .select_content ul{overflow:hidden;border:1px solid #dfdfdf;border-bottom:0;}
.sale .select_content ul li{float:left;width:33%;padding:8px 0;border-bottom:1px solid #dfdfdf;text-align:center}
.sale .select_content ul li:nth-child(3n+2){width:34%;border:1px solid #dfdfdf;border-width:0 1px 1px;}
.sale .select_content ul li strong{display:block;margin-bottom:5px;font-size:10px;color:#666;}
.sale .select_content ul li strong i{display:block;background:url(../img/ico_sale.png) no-repeat 0 0;height:23px;margin:0 auto 4px;background-size:80px 50px;}
.sale .select_content ul li strong .ico_sale01{width:16px;background-position:0px 0px;}
.sale .select_content ul li strong .ico_sale02{width:23px;background-position:-25px 0px;}
.sale .select_content ul li strong .ico_sale03{width:23px;background-position:-50px 0px;}
.sale .select_content ul li strong .ico_sale04{width:16px;background-position:0px -25px;}
.sale .select_content ul li strong .ico_sale05{width:23px;background-position:-25px -25px;}
.sale .select_content ul li strong .ico_sale06{width:24px;background-position:-50px -25px;}
.sale .select_content .btn_area{padding:10px;border:1px solid #dfdfdf;border-top:0;}







.layer_pop{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}
.layer_pop .dim{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);}
.layer_pop .sns_share{position:absolute;top:100px;left:0;width:100%;padding:0 15px;}
.layer_pop .sns_share dl{padding:10px 15px 14px;border:1px solid #604e44;background-color:#fff;text-align:center}
.layer_pop .sns_share dt{font-size:19px;font-weight:bold;color:#000;}
.layer_pop .sns_share dd{margin-top:13px;padding-top:15px;border-top:1px solid #dfdfdf;}
.layer_pop .sns_share dd ul{overflow:hidden;display:inline-block;vertical-align:top;}
.layer_pop .sns_share dd li{float:left;margin-left:5px;}
.layer_pop .sns_share dd li:first-child{margin-left:0;}
.layer_pop .sns_share dd li a{display:block;width:40px;height:40px;background:url(../img/ico_sns.png) no-repeat;background-size:250px 40px}
.layer_pop .sns_share dd li a.sns_kakao{background-position:0 0;}
.layer_pop .sns_share dd li a.sns_facebook{background-position:-45px 0;}
.layer_pop .sns_share dd li a.sns_twitter{background-position:-90px 0;}
.layer_pop .sns_share dd li a.sns_pinterest{background-position:-135px 0;}
.layer_pop .sns_share dd li a.sns_blog{background-position:-180px 0;}
.layer_pop .sns_share .btn_more{margin-top:15px;}
.layer_pop .layer_pop_content .btn_layer_close{display:block;overflow:hidden;position:absolute;top:15px;right:30px;width:15px;height:15px;background:url(../img/ico_layer_close.png) no-repeat 0 0;background-size:15px 15px;text-indent:-999em}

.layer_pop .sns_share.type2 dd li a{background:url(../img/ico_sns3.png) no-repeat;background-size:260px 38px}
.layer_pop .sns_share.type2 dd li a.sns_kakaotalk{background-position:0 0;}
.layer_pop .sns_share.type2 dd li a.sns_facebook{background-position:-44px 0;}
.layer_pop .sns_share.type2 dd li a.sns_blog{background-position:-88px 0;}
.layer_pop .sns_share.type2 dd li a.sns_kakao{background-position:-132px 0;}
.layer_pop .sns_share.type2 dd li a.sns_shares{background-position:-132px 0;}



/* whyorga_bottom */
.whyorga_bottom { position: relative; }
.whyorga_bottom .whyorga_bottom_bg { width: 100%; vertical-align: top; }
.whyorga_bottom .whyorga_bottom_box { position: absolute; bottom: 10.64%;; left: 5%; right: 5%; }
.whyorga_bottom .whyorga_bottom_box ul { overflow: hidden; width: 100%; }
.whyorga_bottom .whyorga_bottom_box li { float: left; width: 25%; vertical-align: bottom; }
.whyorga_bottom .whyorga_bottom_box li img { width: 100%; vertical-align: top; }








/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}