﻿@charset "utf-8";

/* ==========================================================================
   default
   ========================================================================== */
.container { margin: 0; padding: 0; }
.content { margin: 0; padding: 0; background: #f6f6f7; }

/* main_section */
.main_section { position: relative; /*border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;*/ background: #fff; }
.main_section:first-child { margin-top: 0; border-top: 0; }
.main_section_heading { position: relative; padding: 15px 0; font-size: 22px; text-align: center; letter-spacing: -1px; }
.main_section_heading em { display: block; margin-bottom: 2px; color: #b2b2b4; font-size: 10px; font-style: normal; }
.main_section_heading .main_section_title { display: inline-block; border-bottom: 2px solid #151515; color: #141414; font-size: 22px; line-height: 26px; letter-spacing: -2px; }
.main_section_heading .main_section_title .ico { vertical-align: top; }
.main_section_heading .main_section_title .user_name { color: #a0ab36; }
.main_section_more { display: block; position: relative; padding-top: 5px; border-top: 1px solid #ddd; background: #f6f6f7; }
.main_section_more .btn_main_section_more { display: block; position: relative; width: 100%; height: 40px; line-height: 40px; margin: 0; border-top: 1px solid #ddd; background: #fff; color: #4e5357; font-size: 15px; letter-spacing: -1px; text-align: center; }
.main_section_more .btn_main_section_more .ico { margin-left: 2px; }

/* orga_swiper_pagination */
.orga_swiper_pagination { z-index: 2; position: absolute; bottom: 5px !important; left: 0; text-align: center; }
.orga_swiper_pagination .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 2px !important; border: 2px solid #bfbab3; border-radius: 8px; background: transparent; opacity: 1; transition: width 0.2s ease-in-out; }
.orga_swiper_pagination .swiper-pagination-bullet-active { width: 20px; border: 0; border-color: #8b9e21; background: #8b9e21; transition: width 0.2s ease-in-out; }

/* main_pd_card */
.main_pd_card {  }
.main_pd_card_inner { position: relative; display: table; width: 100%; background: #fff; }
.main_pd_card_inner > a { display: table; width: 100%; height: 100%; }
.main_pd_card .pd_thumb { display: table-cell; width: 50%; vertical-align: top; }
.main_pd_card .pd_image { border: 1px solid #ddd; }
.main_pd_card .pd_image img { max-width: 100%; width: 100%; vertical-align: top; }
.main_pd_card .pd_container { display: table-cell; position: relative; padding: 8px 0 0 10px; vertical-align: top;  }
.main_pd_card .pd_title { overflow: hidden; max-height: 40px; line-height: 20px; margin-bottom: 12px; color: #4e5357; font-size: 16px; letter-spacing: -1px; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  }
.main_pd_card .pd_price_info {  }
.main_pd_card .pd_price_original { display: inline-block; margin-right: 2px; color: #4e5357; font-size: 12px; text-decoration: line-through; }
.main_pd_card .pd_price_original em { position: relative; bottom: -1px; font-size: 14px; font-style: normal; letter-spacing: -2px; }
.main_pd_card .pd_price { display: block; color: #8a9c20; font-size: 12px; }
.main_pd_card .pd_price em { display: inline-block; position: relative; bottom: -1px; font-size: 18px; font-style: normal; letter-spacing: -1px; }
.main_pd_card .pd_cart { position: absolute; bottom: 5px; right: 5px; }




/* ==========================================================================
   main_promise : 1. 올가의 8가지 약속
   ==========================================================================
.main_promise { z-index: 2; position: relative; border-bottom: 0; background: none; }
.main_promise img { width: 100%; vertical-align: top; }
.main_promise_button { z-index: 2; display: block; position: relative; margin-bottom: -3.75%; }
.main_promise_panel { z-index: 1; display: none; overflow: hidden; position: relative; }
.main_promise_panel.active {  }
.main_promise_list { position: relative; padding: 5.3125% 15px 15px 15px; background: #cbcec5; }
.main_promise_list ul { border-top: 1px solid #ddd; border-left: 1px solid #ddd; background: #f9f9f9; box-shadow: 0 1px 0 #a7aaa2; }
.main_promise_list ul:after { content: ''; display: table; clear: both; }
.main_promise_list ul li { float: left; width: 25%; border: 1px solid #ddd; border-top: 0; border-left: 0; }
.main_promise_list ul li a { display: block; padding-bottom: 10px; border-bottom: 3px solid #f3f3f3; color: #4e5359; font-size: 11px; letter-spacing: -1px; text-align: center; }
.main_promise_list ul li a span { display: block; white-space: nowrap; }
.main_promise_list .ico_promise { width: 71px; height: 42px; background-size: 71px 42px; }
.main_promise_list .ico_promise01 { background-image: url('../img/ico_promise01.png'); }
.main_promise_list .ico_promise02 { background-image: url('../img/ico_promise02.png'); }
.main_promise_list .ico_promise03 { background-image: url('../img/ico_promise03.png'); }
.main_promise_list .ico_promise04 { background-image: url('../img/ico_promise04.png'); }
.main_promise_list .ico_promise05 { background-image: url('../img/ico_promise05.png'); }
.main_promise_list .ico_promise06 { background-image: url('../img/ico_promise06.png'); }
.main_promise_list .ico_promise07 { background-image: url('../img/ico_promise07.png'); }
.main_promise_list .ico_promise08 { background-image: url('../img/ico_promise08.png'); } */


/* =============================================================================
   main_promise : 1. 리뉴얼 이벤트 - 메뉴가 3개일 경우 - 2016-07-27 박순욱수정
   ============================================================================= */
.main_promise { z-index: 2; position: relative; border-bottom: 0; background: none; }
.main_promise img { width: 100%; vertical-align: top; }
.main_promise_button { z-index: 2; display: block; position: relative; margin-bottom: -3.75%; }
.main_promise_panel { z-index: 1; display: none; overflow: hidden; position: relative; }
.main_promise_panel.active {  }
.main_promise_list { position: relative; padding: 5.3125% 15px 15px 15px; background: #cbcec5; }
.main_promise_list ul { border-top: 1px solid #ddd; border-left: 1px solid #ddd; background: #f9f9f9; box-shadow: 0 1px 0 #a7aaa2; }
.main_promise_list ul:after { content: ''; display: table; clear: both; }
.main_promise_list ul li { float: left; width: 25%; border: 1px solid #ddd; border-top: 0; border-left: 0; }
.main_promise_list ul li a { display: block; padding-bottom: 10px; border-bottom: 3px solid #f3f3f3; color: #4e5359; font-size: 11px; letter-spacing: -1px; text-align: center; }
.main_promise_list ul li a span { display: block; white-space: nowrap; }
.main_promise_list .ico_promise { width: 71px; height: 42px; background-size: 71px 42px; }
.main_promise_list .ico_promise01 { background-image: url('../img/ico_promise01.png'); }
.main_promise_list .ico_promise02 { background-image: url('../img/ico_promise02.png'); }
.main_promise_list .ico_promise03 { background-image: url('../img/ico_promise03.png'); }
.main_promise_list .ico_promise04 { background-image: url('../img/ico_promise04.png'); }
.main_promise_list .ico_promise05 { background-image: url('../img/ico_promise05.png'); }
.main_promise_list .ico_promise06 { background-image: url('../img/ico_promise06.png'); }
.main_promise_list .ico_promise07 { background-image: url('../img/ico_promise07.png'); }
.main_promise_list .ico_promise08 { background-image: url('../img/ico_promise08.png'); }




/* ==========================================================================
   main_visual : 2. 메인 상단 기획전 배너
   ========================================================================== */
.main_visual { margin-top: 0; }
.main_visual_slide { min-height: 248px; }
.main_visual_slide .swiper-slide { min-height: 248px; }
.main_visual_slide .swiper-slide a { display: block; }
.main_visual_slide .swiper-slide a img { width: 100%; vertical-align: top; }
.main_visual_slide .swiper-wrapper{height:auto} /* 20200422 추가 */



/* ==========================================================================
   main_quick : 3. 퀵 메뉴
   ========================================================================== */
.main_quick { margin-top: -1px; }
.main_quick_list { /*padding: 15px;*/ background: rgb(234,231,189); background: -webkit-linear-gradient(top,  rgba(234,231,189,1) 0%,rgba(219,217,192,1) 100%); background: linear-gradient(to bottom,  rgba(234,231,189,1) 0%,rgba(219,217,192,1) 100%); }
.main_quick_list ul {/* border-top: 1px solid #ddd; border-left: 1px solid #ddd;  */background: #fff; }
.main_quick_list ul:after { content: ''; display: table; clear: both; }
.main_quick_list ul li { float: left; width: 20%; border: 1px solid #ddd; border-top: 0; border-left: 0; }
.main_quick_list ul li a { display: block; padding-bottom: 10px; /*border-bottom: 3px solid #f4f4f4; letter-spacing: -1px;*/ color: #4e5359; font-size: 13px; text-align: center; }
.main_quick_list ul li a span { display: block; white-space: nowrap; }
.main_quick_list .ico_quick { width: 67px; height: 78px; background-size: 67px 68px; margin-top: 10px; }
.main_quick_list .ico_quick01 { background-image: url('../img/ico_quick01_20170710.png'); }
.main_quick_list .ico_quick02 { background-image: url('../img/ico_quick02.png'); }
.main_quick_list .ico_quick03 { background-image: url('../img/ico_quick03_20170710.png'); }
.main_quick_list .ico_quick04 { background-image: url('../img/ico_quick04_20170710.png'); }
.main_quick_list .ico_quick05 { background-image: url('../img/ico_quick05_20170710.png'); }
.main_quick_list .ico_quick06 { background-image: url('../img/ico_quick06_20170710.png'); }
.main_quick_list .ico_quick07 { background-image: url('../img/ico_quick07.png'); }
.main_quick_list .ico_quick08 { background-image: url('../img/ico_quick08_20170710.png'); }
.main_quick_list .ico_quick09 { background-image: url('../img/ico_quick09_20170710.png'); }
.main_quick_list .ico_quick10 { background-image: url('../img/ico_quick10_20170710.png'); }
.main_quick_list .ico_quick11 { background-image: url('../img/ico_quick08_20170726.png'); }



/* ==========================================================================
   main_best : 4. 베스트 상품
   ========================================================================== */
.main_best {  }
.main_best_slide {  }
.main_best_slide .swiper-container { padding-bottom: 25px;  }
.main_best_slide .swiper-wrapper {}
.main_best_slide .swiper-slide { spointer-events: auto; }
.main_best_list { position: relative; padding: 0 15px; }
.main_best_list ul { padding-top: 1px; }
.main_best_list ul:after { content: ''; display: table; clear: both; }
.main_best_list ul li { float: left; position: relative; width: 50%; border: 1px solid #ddd;  margin: -1px -1px 0 0; }
.main_best_list ul li .main_best_thumb { position: relative; width: 100%; height: 0; padding-bottom: 100%; cursor: pointer; -webkit-tap-highlight-color: transparent; }
.main_best_list ul li .main_best_thumb:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.6); }
.main_best_list ul li .main_best_thumb img { width: 100%; vertical-align: top; }
.main_best_list ul li .main_best_panel { z-index: 2; position: absolute; top: 0; left: 0; width: 100%; height: 0; margin: 0; background: #fff; opacity: 0; }
.main_best_list ul li .main_best_panel:after,
.main_best_list ul li .main_best_panel:before { content: ''; position: absolute; top: auto; right: auto; bottom: auto; left: auto; width: 0; height: 0; border: solid transparent; pointer-events: none; }
.main_best_list ul li .main_best_panel:after { border-width: 10px; border-color: rgba(255, 255, 255, 0); }
.main_best_list ul li .main_best_panel:before { border-width: 11px; border-color: rgba(221, 221, 221, 0); }
.main_best_list ul li[data-direction='top'] .main_best_panel:after,
.main_best_list ul li[data-direction='top'] .main_best_panel:before { top: 100%; left: 50%; }
.main_best_list ul li[data-direction='top'] .main_best_panel:after { margin-left: -10px; border-top-color: #fff; }
.main_best_list ul li[data-direction='top'] .main_best_panel:before { margin-left: -11px; border-top-color: #ddd; }
.main_best_list ul li[data-direction='right'] .main_best_panel:after,
.main_best_list ul li[data-direction='right'] .main_best_panel:before { right: 100%; top: 50%; }
.main_best_list ul li[data-direction='right'] .main_best_panel:after { margin-top: -10px; border-right-color: #fff; }
.main_best_list ul li[data-direction='right'] .main_best_panel:before { margin-top: -11px; border-right-color: #ddd; }
.main_best_list ul li[data-direction='bottom'] .main_best_panel:after,
.main_best_list ul li[data-direction='bottom'] .main_best_panel:before { bottom: 100%; left: 50%; }
.main_best_list ul li[data-direction='bottom'] .main_best_panel:after { margin-left: -10px; border-bottom-color: #fff; }
.main_best_list ul li[data-direction='bottom'] .main_best_panel:before { margin-left: -11px; border-bottom-color: #ddd; }
.main_best_list ul li[data-direction='left'] .main_best_panel:after,
.main_best_list ul li[data-direction='left'] .main_best_panel:before { left: 100%; top: 50%; }
.main_best_list ul li[data-direction='left'] .main_best_panel:after { margin-top: -10px; border-left-color: #fff; }
.main_best_list ul li[data-direction='left'] .main_best_panel:before { margin-top: -11px; border-left-color: #ddd; }
.main_best_list ul li[data-direction='top'] .main_best_panel { top: auto; right: auto; bottom: 100%; left: 0;  margin-bottom: 1px; }
.main_best_list ul li[data-direction='right'] .main_best_panel { top: 0; right: auto; bottom: auto; left: 100%; margin-left: 1px; }
.main_best_list ul li[data-direction='bottom'] .main_best_panel { top: 100%; right: auto; bottom: auto; left: 0; margin-top: 1px; }
.main_best_list ul li[data-direction='left'] .main_best_panel { top: 0; right: 100%; bottom: auto; left: auto; margin-right: 1px; }
.main_best_list ul li .main_best_panel .main_pd_card { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 0; }
.main_best_list ul li .main_best_panel .main_pd_card_inner { height: 100%; }
.main_best_list ul li .main_best_panel .main_pd_card .pd_container { padding: 10px; }
.main_best_list ul li .main_best_panel .main_pd_card .pd_cart { right: 10px; bottom: 10px; }
.main_best_list ul li[data-direction='top'] .main_best_panel .main_pd_card_inner { transform: translate3d(0, 100%, 0); }
.main_best_list ul li[data-direction='right'] .main_best_panel .main_pd_card_inner { transform: translate3d(-100%, 0, 0); }
.main_best_list ul li[data-direction='bottom'] .main_best_panel .main_pd_card_inner { transform: translate3d(0, -100%, 0); }
.main_best_list ul li[data-direction='left'] .main_best_panel .main_pd_card_inner { transform: translate3d(100%, 0, 0); }

/* active & transition */
.main_best_list ul li.active .main_best_thumb:after { background: rgba(255, 255, 255, 0); }
.main_best_list ul li.active .main_best_panel { overflow: visible; height: 100%; opacity: 1; }
.main_best_list ul li.active .main_best_panel .main_pd_card { width: 100%; height: 100%; }
.main_best_list ul li.active[data-direction='top'] .main_best_panel .main_pd_card_inner { transform: translate3d(0, 0, 0); }
.main_best_list ul li.active[data-direction='right'] .main_best_panel .main_pd_card_inner { transform: translate3d(0, 0, 0); }
.main_best_list ul li.active[data-direction='bottom'] .main_best_panel .main_pd_card_inner { transform: translate3d(0, 0, 0); }
.main_best_list ul li.active[data-direction='left'] .main_best_panel .main_pd_card_inner { transform: translate3d(0, 0, 0); }

.main_best_list ul li .main_best_thumb:after { transition: background 0.2s ease; }
.main_best_list ul li .main_best_panel { transition: height 0s ease 0.2s, opacity 0.2s ease; }
.main_best_list ul li .main_best_panel .main_pd_card { transition: height 0s ease 0.2s; }
.main_best_list ul li[data-direction] .main_best_panel .main_pd_card_inner { transition: transform 0.2s ease, height 0s ease 0.2s; }

.main_best_list ul li.active .main_best_thumb:after { transition: background 0.2s ease; }
.main_best_list ul li.active .main_best_panel { transition: opacity 0.2s ease; }
.main_best_list ul li.active[data-direction] .main_best_panel .main_pd_card { transition: height 0s ease 0s; }
.main_best_list ul li.active[data-direction] .main_best_panel .main_pd_card_inner { transition: transform 0.2s ease; }



/* ==========================================================================
   main_today : 5. 오늘만 이 가격
   ========================================================================== */
.main_today { position: relative; padding: 0 15px 15px 15px; background: #e5ebda; }
.main_today:before { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; background: none; border-radius: 5px; }
.main_today .main_section_heading { z-index: 2; }
.main_today .main_section_heading em { color: #7b8669; }
.main_today_content { z-index: 2; position: relative; }
.main_today_content .main_pd_card { border: 1px solid #ddd; }
.main_today_content .main_pd_card .pd_thumb { width: 50%; }
.main_today_content .main_pd_card .pd_image { border: 0; }
.main_today_content .main_pd_card .pd_container { padding-right: 8px; border-left: 1px solid #ddd; vertical-align: middle; }
.main_today_content .main_pd_card .pd_container:after,
.main_today_content .main_pd_card .pd_container:before { content: ''; position: absolute; top: 50%; right: 100%; width: 0; height: 0; border: solid transparent; pointer-events: none; }
.main_today_content .main_pd_card .pd_container:after { margin-top: -9px; border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 9px; }
.main_today_content .main_pd_card .pd_container:before { margin-top: -10px; border-color: rgba(221, 221, 221, 0); border-right-color: #ddd; border-width: 10px; }
.main_today_content .main_pd_card .pd_title { max-height: 40px; line-height: 20px; margin-bottom: 5px; font-size: 16px; text-align: center; }
.main_today_content .main_pd_card .pd_price_info { text-align: center; }
.main_today_content .main_pd_card .pd_price { display: inline-block; }
.main_today_content .main_pd_card .pd_price em {}
.pb_countdown { margin-top: 5px; text-align: center; }
.pb_countdown_title { display: inline-block; position: relative; height: 15px; line-height: 15px; margin-bottom: 5px; padding: 0 5px; border-radius: 5px; background: #a0ab36; color: #fff; font-size: 9px; letter-spacing: -1px; }
.pb_countdown_title:after { content: ''; display: inline-block; position: absolute; top: 100%; left: 50%; width: 0; height: 0; margin-left: -3px; border-style: solid; border-width: 4px 3px 0 3px; border-color: #a0ab36 transparent transparent transparent; }
.pb_countdown_area {  }
.pb_countdown_area .count_digit { display: inline-block; overflow: hidden; width: 17px; height: 26px; line-height: 29px; margin: 0 -1px; border-radius: 3px; background: #443f3a; color: #fcf1d3; font-size: 22px; text-align: center; letter-spacing: -1px;
    text-shadow: inset 1px 0 0 rgba('0, 0, 0, 0.25');
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(bottom, #585450 50%, #443f3a 50%);
    background-image: -webkit-linear-gradient(bottom, #585450 50%, #443f3a 50%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #585450), color-stop(0.5, #443f3a));
}
.pb_countdown_area .count_hours,
.pb_countdown_area .count_minutes,
.pb_countdown_area .count_seconds { display: inline-block; vertical-align: middle; }
.pb_countdown_area .count_div { display: inline-block; margin: 0 -2px; color: #000; vertical-align: middle; }



/* ==========================================================================
   main_special : 6. 기획전 배너
   ========================================================================== */
.main_section.main_special { margin-top: 20px; border-top: 1px solid #ddd; }
.main_special_slide {  }
.main_special_slide .swiper-container { padding: 0 0 30px 0; }
.main_special_slide .swiper-slide a { display: block; padding: 0 15px; }
.main_special_slide .swiper-slide a img { width: 100%; vertical-align: top; }
.main_special_slide .main_special_image {  }
.main_special_slide .main_special_content { margin-top: 15px; text-align: center; word-break: break-word; }
.main_special_slide .main_special_title {color: #4e5357; font-size: 15px; letter-spacing: -1px; }
.main_special_slide .main_special_date { margin-bottom: 5px; color: #98999e; font-size: 12px; letter-spacing: -1px; }
/*.main_special_slide .main_special_title { margin-bottom: 5px; color: #98999e; font-size: 12px; letter-spacing: -1px; }*/
.main_special_slide .main_special_description { line-height: 18px; color: #4e5357; font-size: 15px; letter-spacing: -1px; ;display:none;}



/* ==========================================================================
   main_latest : 7. 신상품 , 8. 제철상품
   ========================================================================== */
.main_latest { padding: 10px 15px; background: #f1f1f2; box-shadow: 0 1px 0 #fff; }
.main_latest:before { content: ''; overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background: #fff; }

/* main_latest_section */
.main_latest_section { padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #fff; border-bottom: 1px solid #cdcdcd; }
.main_latest_section:first-child { border-top: 0; }
.main_latest_section:last-child { border-bottom: 0; }
.main_latest_list { margin: -10px 0 0 -10px; }
.main_latest_list:after { content: ''; display: table; clear: both; }
.main_latest_item { float: left; position: relative; width: 50%; padding: 10px 0 0 10px; }
.main_latest_item.type_left { float: left; }
.main_latest_item.type_right { float: right; }
.main_latest_item_inner { position: relative; }
.main_latest_item_inner:before { z-index: 1; content: ''; display: block; width: 100%; height: 0; padding-bottom: 100%; }
.main_latest_item_inner:after { z-index: 1; content: ''; display: block; width: 100%; height: 125px; }
.main_latest_item_box { z-index: 2; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 1px solid #ddd; background: #fff; }
/* .main_latest_item.type_title .main_latest_item_inner:before { z-index: 1; content: ''; display: block; position: relative; width: 100%; height: 0; padding-bottom: 100%; border-bottom: 1px solid transparent; }
.main_latest_item.type_title .main_latest_item_inner:after { z-index: 1; content: ''; display: block; position: relative; width: 100%; height: 142px; }
.main_latest_item_box { z-index: 2; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 1px solid #ddd; background: #fff; }
.main_latest_item .pdcard { background: #fff; }
.main_latest_item .pdcard .pdcard_aside { position: relative; width: 100%; height: 0; padding-bottom: 100%; }
.main_latest_item .pdcard .pdcard_image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-height: 0; } */

/* main_latest_heading */
.main_latest_heading { padding-left: 15px; border: 3px solid; background: none; }
.main_latest_icon { display: inline-block; position: absolute; top: -2px; left: 10px; width: 57px; height: 55px; line-height: 55px; background: gray; color: #fff; font-size: 16px; font-style: normal; letter-spacing: -1px; text-align: center; }
.main_latest_title { display: block; padding: 82px 0 0 0; color: #000; font-size: 22px; letter-spacing: -2px; }
.main_latest_title:after { content: ''; display: block; overflow: hidden; width: 27px; height: 5px; margin: 20px 0; border-radius: 5px; background: #000; }
.main_latest_description { color: #4e5357; font-size: 13px; letter-spacing: -1px; }

/* type */
.type_new { border-color: #c0c58e; }
.type_new .main_latest_icon { background: #bdc949; }
.type_new .main_latest_title:after { background: #bdc949; }
.type_season { border-color: #cbd4b9; }
.type_season .main_latest_icon { background: #afbd9c; }
.type_season .main_latest_title:after { background: #cbd4b9; }
/* .type_new { border-color: #c0c58e; background: url('../img/main_latest_new.png') no-repeat 0 100%; background-size: cover; }
.type_new .main_latest_icon { background: #bdc949; }
.type_new .main_latest_title:after { background: #bdc949; }
.type_season { border-color: #dbb9b7; background: url('../img/main_latest_season.png') no-repeat 0 100%; background-size: cover; }
.type_season .main_latest_icon { background: #dbb9b7; }
.type_season .main_latest_title:after { background: #dbb9b7; } */

/* product card */
.main_latest_item_box .pd_image { overflow: hidden; position: relative; top: 0; left: 0; width: 100%; height: 0; padding-bottom: 100%; }
.main_latest_item_box .pd_image img { width: 100%; vertical-align: top; }
.main_latest_item_box .pd_container { overflow: hidden; height: 125px; }
.main_latest_item_box .pd_content { overflow: hidden; height: 95px; border-top: 1px solid #ddd; color: #4e5357; padding: 8px 8px 0 8px; }
.main_latest_item_box .pd_footer {overflow: hidden;height: 30px;line-height: 30px;padding: 0 8px;background: #f8f8f8;text-align: right;}
.main_latest_item_box .pd_subtitle { overflow: hidden; line-height: 18px; font-size: 12px;letter-spacing: -1px;; text-overflow: ellipsis; white-space: nowrap; }
.main_latest_item_box .pd_title { overflow: hidden; height: 36px; line-height: 18px; color: #4e5357; font-size: 14px; letter-spacing: -1px; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.main_latest_item_box .pd_price { display: inline-block; color: #8a9c20; font-size: 12px; }
.main_latest_item_box .pd_price em { display: inline-block;position: relative;bottom: -1px;font-size: 18px;font-style: normal;letter-spacing: -1px;}
.main_latest_item_box .pd_price_original { display: inline-block; margin-right: 4px; color: #4e5357; font-size: 12px; text-decoration: line-through; }
.main_latest_item_box .pd_price_original em { position: relative; bottom: -1px; font-size: 14px; font-style: normal;letter-spacing: -1px; }

.main_latest_item_box .pdcard_tag { position: absolute; top: -1px; margin: 0; }
.main_latest_item_box .pdcard_tag.left { left: -1px; }
.main_latest_item_box .pdcard_tag.right { right: -1px; }
.main_latest_item_box .pdcard_tag .tag { display: block; float: none; margin: 0; }
.main_latest_item_box .pdcard_tag .tag .image {display:block; width: 34px; }
.main_latest_item_box .pd_content .pdcard_tag{position:relative;top:0;}
.main_latest_item_box .pd_content .pdcard_tag { overflow: hidden; margin-right: -10px; margin-bottom: 4px; }
.main_latest_item_box .pd_content .pdcard_tag .tag { float: left; margin-right: 2px; margin-bottom: 2px; }





/* ==========================================================================
   main_event : 9. 이벤트
   ========================================================================== */
.main_section.main_event { margin-top: 20px; border-top: 1px solid #ddd; }
.main_event {  }
.main_event_slide {  }
.main_event_slide .swiper-container { padding: 0 0 35px 0; }
.main_event_slide .swiper-slide a { display: block; padding: 0 15px; }
.main_event_slide .swiper-slide a img { width: 100%; vertical-align: top; }
.main_event_slide .main_event_image {  }
.main_event_slide .main_event_content { margin-top: 15px; text-align: center; word-break: break-word; }
.main_event_slide .main_event_date { margin-bottom: 5px; color: #98999e; font-size: 12px; letter-spacing: -1px; }
.main_event_slide .main_event_description { line-height: 18px; color: #4e5357; font-size: 15px; letter-spacing: -1px; }



/* ==========================================================================
   main_recipe : 10. 레시피
   ========================================================================== */
.main_section.main_recipe {border-top: 1px solid #ddd; }
.main_recipe { position: relative; padding: 0 15px 15px 15px; background: #e7e4be; }
.main_recipe:before { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; background: none; border-radius: 5px; }
.main_recipe .main_section_heading { z-index: 2; }
.main_recipe .main_section_heading em { color: #777559; }
.main_recipe_content { z-index: 2; position: relative; }
.main_recipe_bg { z-index: 1; border: 1px solid #ccc1b2; }
.main_recipe_bg > img { width: 100%; vertical-align: top; }
.main_recipe_bg .swiper-slide img { width: 100%; vertical-align: top; }
.main_recipe_slide { z-index: 2; position: absolute; bottom: 0; left: 0; right: 0; padding: 10px;  }
.main_recipe_slide_inner { width: 100%; height: 100%; padding: 15px 0 0 0; border: 1px solid #ddd; background: #fff; }
.main_recipe_slide .swiper-container { width: 100%; height: 100%; padding-bottom: 25px; }
.main_recipe_slide .swiper-slide { padding: 0 15px; }
.main_recipe_slide .orga_swiper_pagination { bottom: 5px; }
.main_recipe_slide .main_pd_card .pd_thumb { width: 41.66666666666667%; }



/* ==========================================================================
   main_orga_banner : 11. 올가맘 배너
   ========================================================================== */
.main_orga_banner { margin-top: 20px; }
.main_orga_banner a { display: block; }
.main_orga_banner a img { width: 100%; vertical-align: top; }



/* ==========================================================================
   main_app_download : 12. 앱 다운로드 배너
   ========================================================================== */
.main_app_download { position: relative; height: 76px; margin-top: 20px; padding: 0 10px; background: url('../img/bg_appdown.png') repeat 0 0; }
.main_app_download:after { content: ''; display: inline-block; width: 0; height: 100%; margin-left: -0.312em; vertical-align: middle; }
.main_app_download .appdown_heading { display: inline-block; vertical-align: middle; }
.main_app_download .appdown_title { display: inline-block; padding-left: 4px; color: #fff; font-size: 14px; letter-spacing: -1px; vertical-align: middle; }
.main_app_download .appdown_title strong { color: #a0c334; }
.main_app_download .appdown_button { display: inline-block; overflow: hidden; position: absolute; top: 22px; right: 15px; vertical-align: middle; }
.main_app_download .appdown_button a { display: inline-block; float: left; width: 40px; height: 33px; font-size: 0; line-height: 0; }
.main_app_download .appdown_button .appdown_button_and { background: url('../img/ico_appdown_and.png') no-repeat 0 0; background-size: 40px 33px; }
.main_app_download .appdown_button .appdown_button_ios { background: url('../img/ico_appdown_ios.png') no-repeat 0 0; background-size: 40px 33px; }



.pop_today{position:absolute;padding-bottom:34px;/*background-color:#fff;border:1px solid #25211e;*/top:50%;left:50%;z-index:100}
.pop_today .pop_today_content{width:100%;height:100%;}
.pop_today .pop_today_content img{display:block;width:100%;height:100%;}


.pop_today .pop_today_footer{/*position:absolute;*/bottom:0;left:0;width:100%;/*overflow:hidden;*/padding:0 10px;/*border-top:1px solid #25211e;background-color:#433b31;;*/line-height:32px;}
.pop_today .pop_today_footer label{}
.pop_today .pop_today_footer .input_check i{top:5px;}
.pop_today .pop_today_footer .input_check span{font-size: 11px;color:#fff;padding-top: 0;}
.pop_today .pop_today_footer .btn_today_close{position:absolute;/*top:85%;*/right:10px;padding-right:26px;font-size:12px;color:#fff;}
.pop_today .pop_today_footer .btn_today_close:after{display:block;content:'';position:absolute;top:50%;right:0;width:16px;height:16px;margin-top:-9px;background:url(../img/pop_close.png) no-repeat 0 0;}

/* ==========================================================================
   시크릿배너 추가 2017-04-26 박순욱
   ========================================================================== */
   
.pop_today .pop_secret_footer{position:absolute;bottom:0;left:0;width:100%;text-align: right; padding:0 10px 50px 0;/*overflow:hidden;border-top:1px solid #25211e;background-color:#433b31;line-height:32px;*/}
.pop_today .pop_secret_footer .btn_today_close{position:absolute;/*top:1px;right:10px;padding-right:20px;font-size:12px;color:#fff;*/}
.pop_today .pop_secret_footer .btn_today_close:after{display:block;content:'';position:absolute;top:50%;right:0;width:16px;height:16px;margin-top:-9px;background:url(../img/pop_close.png) no-repeat 0 0;}


.pop_app_view{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1100}
.pop_app_view.open{display:block;}
.pop_app_view .dim{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);}
.pop_app_view .pop_app_content{position:fixed;top:50%;left:30px;right:30px;transform:translateY(-50%);}
.pop_app_view .app_view_info{position:relative;height:77px;padding-left:85px;}
.pop_app_view .app_view_info:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.pop_app_view .app_view_info img{display:block;position:absolute;top:0;left:0;width:77px;height:77px;}
.pop_app_view .app_view_info .app_benefits{display:inline-block;width:98%;margin-bottom:-4px;vertical-align:top;}
.pop_app_view .app_view_info .app_review{overflow:hidden;}
.pop_app_view .app_view_info .app_review strong{display:block;float:left;height:12px;font-size:12px;font-weight:400;color:#fff;line-height:12px;}
.pop_app_view .app_view_info .app_review .review_star{float:left;position:relative;width:70px;height:12px;margin:-1px 0 0 7px;background:url(../img/app_star.png) no-repeat 0 -15px;background-size:69px 30px}
.pop_app_view .app_view_info .app_review .review_star .star_bar{display:block;position:absolute;top:0;left:0;height:12px;background:url(../img/app_star.png) no-repeat 0 0;background-size:69px 30px}
.pop_app_view .app_view_info .app_benefits p{margin-top:6px;font-size:18px;font-weight:bold;color:#fff;line-height:22px;}
.pop_app_view .btn_wrap{margin-top:10px;}
.pop_app_view .txt_m_view{margin-top:15px;font-size:11px;color:#fff;text-align:center}
.pop_app_view .txt_m_view a{text-decoration:underline;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
