@charset "utf-8";

.my_orga em {font-style:normal}
.my_orga strong {font-weight:bold}
.my_orga .order_status{font-size:14px;}
.my_orga .pageheader + .order_status{padding:10px 15px;}
.list_bar li {margin-top:5px; padding-left:15px}
.list_bar li:first-child {margin-top:0}
.list_bar li > span {margin-left:-8px; margin-right:5px}
.my_orga .top_btn_wrap {padding:15px; border:1px solid #dfdfdf; background:#fff}
.my_orga .top_btn_wrap .input_select {margin-top:5px}
.my_orga .pd_count .count {font-weight:bold}
.my_orga .guide_text {padding:15px; background:#fff; border-bottom:1px solid #dfdfdf; font-size:12px; color:#666 }
.my_orga .pagination + .return_guide {margin-top:0}
.my_orga .empty_data > p {margin-top:5px; font-size:12px; color:#999}
.my_orga .my_bottom {margin-top:20px; padding:15px; background:#fff; border-top:1px solid #dfdfdf }
/* 서브메인 */
.my_orga .my_grade {padding:15px; border:1px solid #dfdfdf; border-top:0; background:#fff; font-size:14px; color:#666}
.my_orga .my_grade > div {position:relative; padding-left:115px;min-height:94px;}
.my_orga .my_grade > div > span {display:inline-block; position:absolute; top:0; left:0; width:115px; text-align:center}
.my_orga .my_grade > div > span img {display:block; width:80px; margin: 0 auto 3px auto;}
.my_orga .my_grade > div > span a {margin-right:-8px;text-decoration:underline; font-size:12px; font-weight:bold; color:#666; letter-spacing:-1px}
.my_orga .my_grade > div > span a:after {display:inline-block; content:''; width:3px; height:5px; margin-left:5px; background:url(../img/spr_btn.png) no-repeat -8px 0; background-size:150px 150px; vertical-align:middle}
.my_orga .my_grade > div > div {}
.my_orga .my_grade > div > div p {padding:5px 0 10px 0; border-bottom:1px solid #dfdfdf}
.my_orga .my_grade > div > div ul {font-size:12px}
.my_orga .my_grade > div > div ul li {margin-top:5px; font-weight:bold}
.my_orga .my_grade > div > div ul li:before {display:inline-block; content:''; width:2px; height:3px; margin-right:3px; background:url(../img/spr_btn.png) no-repeat 0 0; background-size:150px 150px; vertical-align:middle}
.my_orga .my_grade > div > div ul li strong {color:#8ca754}
.my_orga .my_grade > ul {overflow:hidden; margin-top:15px; border:1px solid #ddd; border-left:0; font-weight:bold}
.my_orga .my_grade > ul li {float:left; width:33%}
.my_orga .my_grade > ul li:nth-child(3n+1) {width:34%}
.my_orga .my_grade > ul li a {display:block; height:33px; line-height:33px; text-align:center; border-left:1px solid #ddd; font-size:12px}
.my_orga .my_grade > ul li:first-child a, .my_orga .my_grade > ul li:nth-child(2) a, .my_orga .my_grade > ul li:nth-child(3) a {border-bottom:1px solid #ddd}
.my_orga .my_grade > ul li a:before {display:inline-block; content:''; width:20px; height:18px; margin-right:5px; background:url(../img/spr_mypg_menu.png) no-repeat 0 0; background-size:81px 50px; vertical-align:middle}
.my_orga .my_grade > ul li:nth-child(2) a:before {background-position:-30px 0}
.my_orga .my_grade > ul li:nth-child(3) a:before {background-position:-61px 0}
.my_orga .my_grade > ul li:nth-child(4) a:before {background-position:0 -32px}
.my_orga .my_grade > ul li:nth-child(5) a:before {background-position:-30px -32px}
.my_orga .my_grade > ul li:nth-child(6) a:before {background-position:-61px -32px}
.my_orga .myinfo {padding:15px; margin-top:20px; border:1px solid #dfdfdf; background:#fff}
.my_orga .myinfo h2 {font-size:16px}
.my_orga .myinfo > ul {display:table; width:100%; margin-top:10px; border-bottom:2px solid #dfdfdf }
.my_orga .myinfo > ul > li {display:table-cell; padding:10px; border-top:2px solid #92a046; border-left:1px solid #ccc; border-bottom:1px solid #ccc}
.my_orga .myinfo.type2 > ul {overflow:hidden; display:block;}
.my_orga .myinfo.type2 > ul > li {display:block; float:left; width:50%}
.my_orga .myinfo > ul > li:last-child {border-right:1px solid #ccc}
.my_orga .myinfo > ul > li:nth-child(2) {border-top-color:#688535}
.my_orga .myinfo > ul > li:nth-child(3) {border-top-color:#63714a}
.my_orga .myinfo > ul > li dt {font-size:15px; color:#666; font-weight:bold}
.my_orga .myinfo > ul > li dt a {display:block; position:relative}
.my_orga .myinfo > ul > li dt a:after {display:block; content:''; position:absolute; right:0; top:50%; transform:translate(0,-50%); width:12px; height:12px; background:url(../img/spr_btn.png) no-repeat -16px 0; background-size:150px 150px}
.my_orga .myinfo > ul > li dd {margin-top:10px; text-align:center}
.my_orga .myinfo > ul > li dd a > span, .my_orga .myinfo > ul > li dd a > strong {margin-right:3px; font-size:18px; font-weight:bold; text-decoration:underline}
.my_orga .myinfo > ul > li dd a > span {color:#999}
.my_orga .myinfo > ul > li ol {display:table; width:100%}
.my_orga .myinfo > ul > li ol li {display:table-cell; padding-left:6px; position:relative; font-size:12px; color:#666}
.my_orga .myinfo > ul > li ol li:first-child {padding-left:0}
.my_orga .myinfo > ul > li ol li:before {display:inline-block; content:''; position:absolute; left:0; top:50%; margin-top:-5px; width:5px; height:9px; background:url(../img/spr_btn.png) no-repeat -35px 0; background-size:150px 150px}
.my_orga .myinfo > ul > li ol li:first-child:before {display:none}
.my_orga .myinfo > ul > li dd ol a > span, .my_orga .myinfo > ul > li dd ol a > strong {display:block; margin-bottom:5px}
.my_orga .myorga_list {padding:15px}
.my_orga .myorga_list dl {margin-top:5px; background:#fff; font-size:15px; color:#999}
.my_orga .myorga_list dl.active {color:#666}
.my_orga .myorga_list dl:first-child {margin-top:0}
.my_orga .myorga_list dl dt {}
.my_orga .myorga_list dl dt a {display:block; position:relative; height:34px; line-height:34px; padding-left:15px; border:1px solid #ddd}
.my_orga .myorga_list dl dt a:after { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-right:14px; background: none; }
.my_orga .myorga_list dl.active dt a:after {margin-top:-6px; border-width:5px 3px 5px 3px; border-color: transparent transparent #4e5357 transparent;}
.my_orga .myorga_list dl dd {display:none; font-size:13px}
.my_orga .myorga_list dl dd a {display:block; padding-left:15px; height:30px; line-height:30px; border:1px solid #ddd; border-top:0}
.my_orga .myorga_list dl.active dd {display:block}
.my_orga .cs_center {padding:18px; border:1px solid #dfdfdf; background:#fff; text-align:center; color:#666}
.my_orga .cs_center dt {font-size:18px; font-weight:bold}
.my_orga .cs_center dd {margin-top:15px}
.my_orga .cs_center dd > strong {font-size:20px}
.my_orga .cs_center dd > ul {margin-top:15px; font-size:14px}
.my_orga .cs_center dd > ul em {font-weight:bold}
.my_orga .cs_center dd > p {margin-top:5px; color:#999; font-size:12px}
.my_orga .cs_center dd.tel a {display:block; height:34px; line-height:34px; background:#9fb23a; font-size:14px; text-align:center; font-weight:bold; color:#fff}
.my_orga .cs_center dd.tel a:before {display:inline-block; content:''; width:10px; height:13px; margin-top:-4px; margin-right:7px; background:url(../img/spr_btn.png) no-repeat -49px 0; background-size:150px 150px; vertical-align:middle}

/* 주문배송조회 */
.my_orga .order_step {overflow:hidden; background:#fff; border-bottom:1px solid #dfdfdf}
.my_orga .order_step li {position:relative; float:left; width:20%; padding:10px 0; border-left:1px solid #dfdfdf; font-size:12px; text-align:center; color:#333}
.my_orga .order_step li:first-child {border-left:0}
.my_orga .order_step li:before {display:inline-block; content:''; position:absolute; left:-4px; top:50%; margin-top:-4px; transform:rotate(-45deg); width:8px; height:8px; border:1px solid #dfdfdf; border-top:0; border-left:0; background:#fff}
.my_orga .order_step li:first-child:before {display:none}
.my_orga .order_step li strong {display:block; margin-bottom:5px; font-size:16px; color:#666; text-decoration:underline}


.my_orga .srch_order {padding:10px 15px; background:#eeeff1}
.my_orga .srch_order .form_group {margin-top:5px}
.my_orga .srch_order .btn_brown {border:0}



/*2016-05-27 수정*/
.my_orga .srch_order .form_group_1_1{display:block;position:relative;padding-right:55px;}
.my_orga .srch_order .form_group_1_1 .form_group_main{display:block;overflow:hidden;position:relative;}
.my_orga .srch_order .form_group_1_1 .form_group_main + .form_group_aside{display:block;position:absolute;top:0;right:0px;width:auto;padding-left:0;}
.my_orga .srch_order .form_group_1_1 .form_group_main .input_col{display:block;float:left;width:48%;}
.my_orga .srch_order .form_group_1_1 .form_group_main .input_col:last-child{float:right;margin-left:0;}
.my_orga .srch_order .form_group_1_1 .form_group_main .input_addon{display:block;position:absolute;top:0;left:50%;margin-left:-5px;float:left;width:auto;line-height:34px;}
.my_orga .srch_order .input_calendar{display:block;position:relative;}
.my_orga .srch_order .input_calendar .input_group_main{display:block;}
.my_orga .srch_order .input_calendar .input_group_main input{}
.my_orga .srch_order .input_calendar .input_group_aside{display:block;position:absolute;top:0;right:0;width:34px;}
.my_orga .srch_order .input_calendar .input_group_aside .btn_calendar{}



.my_orga .btn_area {padding:10px 15px; background:#f1f2f4; border-top:1px solid #dfdfdf}
.my_orga .btn_text {font-weight:bold}
.my_orga .btn_area .btn_text:after {display:inline-block; content:''; width:5px; height:9px; margin-top:-4px; margin-left:7px; background:url(../img/spr_btn.png) no-repeat -66px 0; background-size:150px 150px; vertical-align:middle}
.my_orga .order_list {background:#fff; border:1px solid #dfdfdf}
.my_orga .order_list > p {padding:15px; font-size:12px; color:#666}
.my_orga .list_area li.empty_data {padding:20px 0; border-top:1px solid #dfdfdf}
.my_orga .empty_data .empty_data_title {font-weight:bold}
.my_orga .list_area {padding-bottom:5px}
.my_orga .list_area li {margin-bottom:5px; padding:0 15px}
.my_orga .list_area li:last-child {margin-bottom:0}
.my_orga .list_area li dl {border:1px solid #dfdfdf}
.my_orga .list_area li dl dt a {display:block; padding:10px 15px; background:#f6f6f6; font-size:12px; color:#999}
.my_orga .list_area li dl dt a strong {display:block; margin-top:8px; font-size:15px; color:#666}
.my_orga .list_area li dl dt a strong:after {display:inline-block; content:''; width:6px; height:6px; margin-left:5px; margin-top:-3px; border-right:1px solid #6b6b6b; border-bottom:1px solid #6b6b6b; transform:rotate(-45deg); vertical-align:middle}
.my_orga .list_area li dl dd {padding:10px 15px; border-top:1px solid #dfdfdf}
.my_orga .list_area li dl dd.pro_name {font-size:12px; color:#999}
.my_orga .list_area li dl dd.pro_name span{}
.my_orga .list_area li dl dd.pro_name em {font-weight:bold; color:#666}
.my_orga .list_area li dl dd.pro_name strong {display:block; margin-bottom:5px; font-size:16px; color:#333}
.my_orga .list_area li dl dd.state {font-size:14px; color:#999}
.my_orga .list_area li dl dd.state em {color:#666; font-weight:bold}
.my_orga .order_list + .pagination {border-top:0}
.my_orga .my_order_guide {padding:15px; background:#fff}
.my_orga .my_order_guide ol {margin:15px 0}
.my_orga .my_order_guide ol > li {position:relative; padding:15px 15px 15px 87px; margin-top:5px; border:1px solid #dfdfdf; background:#fafafa}
.my_orga .my_order_guide ol > li:first-child {margin-top:0}
.my_orga .my_order_guide ol > li:before {display:block; content:''; position:absolute; top:50%; left:15px; width:58px; height:58px; margin-top:-28px; background:url(../img/srp_order_info.png) no-repeat 0 0; background-size:58px 459px}
.my_orga .my_order_guide ol > li:nth-child(2):before {background-position:0 -105px}
.my_orga .my_order_guide ol > li:nth-child(3):before {background-position:0 -197px}
.my_orga .my_order_guide ol > li:nth-child(4):before {background-position:0 -289px}
.my_orga .my_order_guide ol > li:nth-child(5):before {background-position:0 -401pxv}
.my_orga .my_order_guide ol > li dl {}
.my_orga .my_order_guide ol > li dl dt {font-size:14px; color:#666; font-weight:bold}
.my_orga .my_order_guide ol > li dl dd {margin-top:10px; font-size:12px}
.my_orga .my_order_guide ol > li dl dd p {padding-left:5px}
.my_orga .my_order_guide ol > li dl dd p:before {display:inline-block; content:''; width:2px; height:3px; margin:4px 3px 0 -5px; background:url(../img/spr_btn.png) no-repeat 0 0; background-size:150px 150px; vertical-align:top}
.my_orga .my_order_guide ol > li dl dd ul {margin-top:5px; padding-left:5px; color:#999}
.my_orga .order_detail_top {padding:15px; background:#fff; border-bottom:1px solid #dfdfdf}
.my_orga .order_detail_top table th {font-weight:bold; color:#000}
.my_orga .order_detail_top table td em {display:block; color:#666; font-weight:bold}
.my_orga .order_detail_top table td .btn_pay {display:inline-block; float:right; height:25px; padding:0 7px; margin-top:-3px; line-height:25px; border:1px solid #ddd; font-weight:bold; color:#000}
.my_orga .order_detail_top table td .btn_pay:after {content: ''; display:inline-block; overflow: hidden; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-left:3px; background: none; vertical-align:middle}
.my_orga .order_detail_top table td .btn_pay.active:after {border-width:0 3px 5px 3px; border-color:transparent transparent #4e5357}
.my_orga .order_detail_top table td .btn_delivery_ch {display:block; width:85px; height:25px;margin-bottom:5px;  line-height:25px; border:1px solid #ddd; font-weight:bold; color:#000;text-align:center;}


.my_orga .order_detail_top table td .side_btn span {line-height:29px}
.my_orga .order_detail_top table td .side_btn .btn_regularly + .btn_edit {float:none; margin-top:5px}
.my_orga .order_detail_top table td .side_btn .btn_edit {float:right}
.my_orga .order_detail_top table td .side_btn .btn_edit a:first-child {margin-right:0}
.my_orga .order_detail_top .panel_button {padding:0; margin-top:15px}
.my_orga .order_detail_top .panel_button .btn {color:#000}
.my_orga .order_detail_top .panel_button .btn_text {font-weight:bold}
.order_detail_list > h2 > a {display:block; position:relative; height:44px; padding:0 15px; line-height:44px; font-size:16px; color:#fff; background:#a37e52}
.order_detail_list > h2 > a:after { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 0; height: 0; border-style: solid; border-width:7px 6px 0 6px; border-color: #fff transparent transparent transparent; margin-top: -4px; margin-right:14px; background: none; }
.order_detail_list > h2.active > a:after {margin-top:-12px; border-width:7px 6px 7px 6px; border-color:transparent transparent #fff transparent; }
.order_detail_list .view_area {display:none; padding:15px; background:#fff}
.order_detail_list > h2.active + .view_area {display:block}
.order_detail_list > h2.action_none {position:relative; height:44px; padding:0 15px; line-height:44px; font-size:16px; color:#fff; background:#a37e52}
.order_detail_list > h2.action_none .btn_edit {position:absolute; top:50%; height:29px; right:15px; margin-top:-16px; font-size:0}
.order_detail_list > h2.action_none .btn_edit a:first-child {margin-right:0}
.order_detail_list > h2.action_none + .view_area {display:block}
.order_detail_list > .view_area + h2 {margin-top:20px}
.order_detail_list .btn_area .btn_text:after {display:none}
.order_detail_list .view_area .pro_list {}
.order_detail_list .view_area .pro_list + .pro_list {margin-top:15px}
.order_detail_list .view_area .pro_list > dt {padding-bottom:10px; margin-bottom:10px; border-bottom:2px solid #bdc949; font-size:16px; color:#333; font-weight:bold}
.order_detail_list .view_area .pro_list > dd {margin-top:5px; border:1px solid #dfdfdf}
.order_detail_list .view_area .pro_list > dd > dl dt {padding:15px; font-size:16px; color:#999; font-weight:bold}
.order_detail_list .view_area .pro_list > dd > dl dt p {display: block;width: 64px;text-align: center;padding: 0 8px;border-radius: 3px;background-color: #ac1a02;font-size: 12px;font-weight: bold;color: #fff;line-height: 17px;}
.order_detail_list .view_area .pro_list > dd > dl dt strong {color:#333}
.order_detail_list .view_area .pro_list > dd > dl dd {padding:10px 15px; border-top:1px solid #dfdfdf; background:#fcfcfc; font-size:12px; color:#999}
.order_detail_list .view_area .pro_list > dd > dl dd em {color:#666; font-weight:bold}

.order_detail_list .view_area .pro_list > dd > dl dd .pdcard_gifts{padding-bottom:0;margin-bottom:0;border-bottom:0;}

.order_detail_list .view_area .pro_list > dd > dl dd.date span {display:block}
.order_detail_list .view_area .pro_list > dd > dl dd.end {overflow:hidden; line-height:28px}
.order_detail_list .view_area .pro_list > dd > dl dd.end em {float:left}
.order_detail_list .view_area .pro_list > dd > dl dd.end .btns {float:right}
.order_detail_list .view_area .pro_list > dd > dl dd.end .btns a {display:inline-block; padding:0 14px; height:28px; line-height:28px; border:1px solid #ddd; background:#fff; font-weight:bold; color:#666; text-align:center}
.order_detail_list .view_area .pay_info {border:1px solid #ddd}
.order_detail_list .view_area .pay_info > dt {}
.order_detail_list .view_area .pay_info > dt a {overflow:hidden; display:block; position:relative; padding:15px; padding-right:30px; font-size:16px; color:#666}
.order_detail_list .view_area .pay_info > dt a:after {content: ''; display:inline-block; overflow: hidden; position:absolute; top:50%; right:15px; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-left:3px; background: none; vertical-align:middle}
.order_detail_list .view_area .pay_info > dt.active a:after {border-width:0 3px 5px 3px; border-color:transparent transparent #4e5357 transparent }
.order_detail_list .view_area .pay_info > dt a > span {float:left}
.order_detail_list .view_area .pay_info > dt a > strong {float:right; font-size:12px}
.order_detail_list .view_area .pay_info > dt a > strong em {font-size:16px}
.order_detail_list .view_area .pay_info > dd {display:none; overflow:hidden; padding:15px; border-top:1px solid #ddd; font-weight:bold; font-size:12px; color:#888}
.order_detail_list .view_area .pay_info dt.active + dd {display:block}
.order_detail_list .view_area .pay_info > dd + dt {border-top:1px solid #ddd}
.order_detail_list .view_area .pay_info > dd ul li {overflow:hidden; margin-top:10px}
.order_detail_list .view_area .pay_info > dd ul li:first-child {margin-top:0}
.order_detail_list .view_area .pay_info > dd ul li span {float:left}
.order_detail_list .view_area .pay_info > dd ul li strong {float:right; font-size:14px; color:#666}
.order_detail_list .view_area .pay_info > dt a > .total_money {color:#798f09}
.order_detail_list .view_area .pay_info > dd > span {float:left; width:30%}
.order_detail_list .view_area .pay_info > dd > div {float:left; width:70%}
.order_detail_list .view_area .pay_info > dd > div .btn_card_bill {display:block; height:25px; line-height:25px; margin-top:10px; background:#fafafa; border:1px solid #ddd; text-align:center; color:#000; font-weight:bold; font-size:13px}
.order_detail_list .view_area .pay_info + .point {overflow:hidden; padding:15px; border:1px solid #dfdfdf; border-top:0}
.order_detail_list .view_area .pay_info + .point > span {float:left}
.order_detail_list .view_area .pay_info + .point > strong {float:right; color:#798f09}
.order_detail_list .view_area .table_default + .table_default {margin-top:15px}
.order_detail_list .view_area .table_default th {width:30%; font-weight:bold; color:#000}
.order_detail_list .view_area .table_default td {width:70%}
.order_detail_list .view_area .table_default th, .order_detail_list .view_area .table_default td {white-space:normal}
.order_detail_list .view_area .btn_block {margin-top:10px}
.my_orga .view_area .list_area li {padding:0}
.my_orga .view_area .list_area li dl dt {overflow:hidden; padding:10px 15px; background:#f6f6f6}
.my_orga .view_area .list_area li dl dt a {float:left; padding:0}
.my_orga .view_area .list_area li dl dt .btn_bill {float:right; padding:0 9px; height:29px; line-height:29px; font-weight:bold; color:#666; background:#fff; border:1px solid #ddd}
.my_orga .view_area .list_area li dl dd.pro_name {font-size:14px}
.my_orga .view_area .list_area li dl dd.pro_name strong {display:inline-block; margin:0; color:#ac1a02}
.my_orga .order_detail_top .pay_area {display:none; padding:15px; background:#fafafa; border:1px solid #dfdfdf; border-top:0}
.my_orga .order_detail_top .pay_area.active {display:block}
.my_orga .order_detail_top .pay_area h2 {font-size:16px}
.my_orga .order_detail_top .pay_area .input_select {margin-top:10px}
.my_orga .order_detail_top .pay_area p {margin-top:10px; color:#999; font-size:12px}
.my_orga .order_detail_top .pay_area h3 {margin-top:15px; font-size:14px; color:#666}
.my_orga .order_detail_top .pay_area .list_default {margin-top:5px; padding-bottom:10px; border-bottom:1px solid #dfdfdf}
.my_orga .order_detail_top .pay_area .agree {margin-top:15px; border:1px solid #dfdfdf; background:#fff}
.my_orga .order_detail_top .pay_area .agree > dt {padding:15px; color:#666; font-weight:bold}
.my_orga .order_detail_top .pay_area .agree > dd {padding:15px; border-top:1px solid #dfdfdf; background:#fcfcfc}
.my_orga .order_detail_top .pay_area .agree > dd dl > dt {font-size:13px; color:#666; font-weight:bold}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd {margin-top:10px; font-size:12px; color:#666; letter-spacing:-1px}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd .input_check {font-size:12px}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd > span {color:#999}
.my_orga .order_detail_top .pay_area .agree > dd dl + dl {margin-top:15px}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd ul li {overflow:hidden; margin-top:10px}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd ul li:first-child {margin-top:0}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd ul li .input_check {float:left}
.my_orga .order_detail_top .pay_area .agree > dd dl > dd ul li a {display:inline-block; float:right; padding:0 10px; height:19px; line-height:19px; background:#a1ad2a; border-radius:8px; color:#fff; font-weight:bold}
.my_orga .order_detail_top .pay_area .agree + a {display:block; margin-top:10px; height:34px; line-height:34px; background:#9fb23a; text-align:center; font-size:14px; color:#fff; font-weight:bold}
.my_orga .btn_cancel {overflow:hidden; margin-top:10px; font-size:0}
.my_orga .btn_cancel a {display:inline-block; float:right; width:48%; height:34px; line-height:34px; background:#9fb23a; text-align:center; color:#fff; font-weight:bold; font-size:14px}
.my_orga .btn_cancel a:first-child {float:left; margin-right:2%; background:#513f29}
.my_orga .order_step.shop_delivery li {width:25%}
.order_detail_list .view_area .pro_list > dt em {text-decoration:underline}
.my_orga .order_step.shop_pick li {width:33%}
.my_orga .order_step.shop_pick li:nth-child(2) {width:34%}
.order_detail_top .btn_green + .table_default{margin-top:10px}
.order_detail_list .repayment {margin-top:20px}
.order_detail_list .repayment > h2 {height:44px; padding:0 15px; background:#a4914d; border:1px solid #927f3d; line-height:44px; font-size:16px; color:#fff; }
.order_detail_list .repayment h2 > span {float:left}
.order_detail_list .repayment h2 > strong {float:right; font-size:12px}
.order_detail_list .repayment h2 > strong em {font-size:16px}
.order_detail_list .repayment h3 {margin-top:15px}
.order_detail_list .repayment h3 a {display:block; position:relative; height:48px; padding:0 15px; line-height:44px; border:2px solid #33353d; color:#333; font-weight:bold; font-size:16px}
.order_detail_list .repayment h3 a:after {content: ''; display:inline-block; overflow: hidden; position:absolute; top:50%; right:15px; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-left:3px; background: none; vertical-align:middle}
.order_detail_list .repayment h3.active a:after {border-width:0 3px 5px 3px; border-color:transparent transparent #4e5357 transparent }
.order_detail_list .repayment h3 + .pay_info {display:none}
.order_detail_list .repayment h3 + .pay_info + .point {display:none}
.order_detail_list .repayment h3.active + .pay_info {display:block}
.order_detail_list .repayment h3.active + .pay_info + .point {display:block}
.order_detail_list .repayment .view_area {display:block}
.order_detail_list .repayment .view_area .btn_green {margin-top:10px}
.order_detail_list .repayment .view_area .pay_info + .point > strong {color:#999}
.order_detail_list .repayment .view_area .pay_info + .point > strong em {color:#ff5a00}
.order_detail_list .cancel_possible h2  {height:44px; padding:0 15px; background:#a37e52; border:1px solid #927f3d; line-height:44px; font-size:16px; color:#fff; }
.order_detail_list .cancel_possible .view_area {display:block}
.order_detail_list .cancel_possible dl dt {color:#333; font-weight:bold; font-size:14px}
.order_detail_list .cancel_possible dl dd {margin-top:10px; font-size:12px; color:#666}
.order_detail_list .cancel_possible dl dd span {color:#999}
.order_detail_list .cancel_possible .table_default {margin-top:15px}
.order_detail_list .cancel_possible .table_default th {color:#999; font-size:12px}
.order_detail_list .cancel_possible .table_default tbody th {width:50%; text-align:left;}
.order_detail_list .cancel_possible th strong {color:#666; font-size:14px; text-decoration:underline}
.order_detail_list .cancel_possible th strong:after {display:inline-block; content:''; width:6px; height:6px; margin-left:5px; margin-top:-3px; border-right:1px solid #6b6b6b; border-bottom:1px solid #6b6b6b; transform:rotate(-45deg); vertical-align:middle}
.order_detail_list .cancel_possible .table_default td {width:25%}
.order_detail_list .cancel_possible td em {font-size:bold}
.order_detail_list .cancel_possible td strong {color:#798f09}
.my_orga .cancel_end {padding:15px; margin-top:20px; background:#fff}
.my_orga .cancel_end > .view_area > strong {display:block; padding-bottom:10px; border-bottom:1px solid #dfdfdf; font-size:15px; text-align:center; color:#666}
.my_orga .cancel_end > .view_area > strong em {color:#9dc24f}
.my_orga .cancel_end .list_default {margin-top:10px}
.my_orga .cancel_end .list_default strong {font-weight:bold}
.my_orga .return_guide {margin-top:20px; padding:15px; background:#fff; border-top:1px solid #dfdfdf}
.my_orga .return_guide h2 {color:#333; font-size:16px}
.my_orga .return_guide .list_type02 {margin-top:10px}
.my_orga .return_guide .list_type02 ul li {color:#666}
.my_orga .return_list .pdcard_type03 .pdcard_action {clear:none; padding-top:0; margin-top:-20px}
.my_orga .why_return {margin-top:15px}
.my_orga .why_return .input_textarea {margin-top:5px; height:124px}
.my_orga .why_return + .btn_green {margin-top:10px}
.my_orga .cancel_list .btn_area {background:#fff; border-bottom:1px solid #dfdfdf}
.my_orga .cancel_list .btn_area .btn_text:after {display:none}
.my_orga .cancel_list .btn_area .input_select {margin-top:5px}
.my_orga .cancel_list .order_list {margin-top:20px; padding-top:15px}
.my_orga .cancel_list .list_area li dl dt a {position:relative; padding-left:65px}
.my_orga .cancel_list .list_area li dl dt em {position:absolute; top:50%; left:15px; display:inline-block; padding:0 8px; height:17px; margin-top:-8px; line-height:17px; background:#7f6f5b; border-radius:3px; color:#fff; font-weight:bold; font-size:12px}
.my_orga .cancel_list .list_area li.empty_data {border-top:0; padding-top:0}
.my_orga .my_order_guide.cancel_guide ol > li:before {background-image:url(../img/srp_cancel_info.png); background-size:58px 910px}
.my_orga .my_order_guide.cancel_guide ol.cancel > li:nth-child(2):before {background-position:0 -94px}
.my_orga .my_order_guide.cancel_guide ol.return > li:nth-child(1):before {background-position:0 -236px}
.my_orga .my_order_guide.cancel_guide ol.return > li:nth-child(2):before {background-position:0 -329px}
.my_orga .my_order_guide.cancel_guide ol.return > li:nth-child(3):before {background-position:0 -423px}
.my_orga .my_order_guide.cancel_guide ol.swap > li:nth-child(1):before {background-position:0 -565px}
.my_orga .my_order_guide.cancel_guide ol.swap > li:nth-child(2):before {background-position:0 -658px}
.my_orga .my_order_guide.cancel_guide ol.swap > li:nth-child(3):before {background-position:0 -752px}
.my_orga .my_order_guide.cancel_guide ol.swap > li:nth-child(4):before {background-position:0 -853px}
.my_orga .regularly_view .order_detail_top .table_default table {table-layout:fixed}
.my_orga .regularly_view .order_detail_top .table_default table th {width:40%}
.my_orga .regularly_view .order_detail_top .table_default table td {width:60%}
.my_orga .regularly_view .btn_regularly {display:block; position:relative}
.my_orga .regularly_view .btn_regularly:after {content: ''; display:inline-block; overflow: hidden; position:absolute; top:50%; right:0; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-left:3px; background: none; vertical-align:middle}
.my_orga .regularly_view .btn_regularly.active:after {border-width: 0 3px 5px 3px; border-color:transparent transparent #4e5357 transparent}
.my_orga .regularly_view .regularly_detail {display:none}
.my_orga .regularly_view .regularly_detail.active {display:table-row}
.my_orga .regularly_view .regularly_detail th {padding-left:30px; background:#fff; border-left:1px solid #efefef; color:#999; font-weight:normal; border-right:0; text-align:left}
.my_orga .regularly_view .regularly_detail td {border-right:1px solid #efefef; color:#666}
.my_orga .regularly_view .regularly_detail th, .my_orga .regularly_view .regularly_detail td {border-top-color:#efefef}
.regularly_view .order_detail_list .cancel_possible .table_default th {width:50%}
.regularly_view .order_detail_list .cancel_possible .table_default td {width:50%; text-align:left}
.my_orga .regularly_view .cancel_possible td a {display:inline-block; padding:0 5px; height:28px; line-height:28px; border:1px solid #ddd; background:#fff; font-weight:bold; color:#666; text-align:center}
.regularly_view .order_detail_list .repayment .view_area > dl > dt {padding-bottom:10px; border-bottom:2px solid #604d44; font-size:14px; color:#333; font-weight:bold}
.regularly_view .order_detail_list .repayment .view_area > dl > dd {margin-top:15px}
.regularly_view .order_detail_list .repayment .view_area > dl > dd + dt {margin-top:15px}
.btn_edit a {display:inline-block; padding:0 7px; height:29px; line-height:29px; background:#fff; border:1px solid #ddd; font-size:13px; font-weight:bold; color:#666}
.btn_edit a:first-child {margin-right:3px}

/* 쇼핑정보 */
.shop_info .my_point {padding:15px; border-bottom:1px solid #dfdfdf; background:#fff}
.shop_info .my_point .point {padding:15px; margin-bottom:5px; border:2px solid #9fb23a; text-align:center; font-size:13px; color:#666; letter-spacing:-1px}
.shop_info .my_point .point em {color:#333; font-weight:bold}
.shop_info .my_point .point strong {font-size:16px; color:#ad1901; text-decoration:underline}
.shop_info .point_list .panel_default {background:#fff}
.shop_info .point_list .pd_count {margin-top:8px}
.shop_info .point_list ul {padding:0 15px}
.shop_info .point_list ul li {border-top:1px solid #dfdfdf}
.shop_info .point_list ul li:first-child {border-top:0}
.shop_info .point_list ul li dl {overflow:hidden; padding:10px 0; font-size:0}
.shop_info .point_list ul li dl dt {display:inline-block; width:40%; padding-left:10px; border-right:1px solid #dfdfdf; vertical-align:middle; font-size:13px; font-weight:bold}
.shop_info .point_list ul li dl dt > em {display:inline-block; height:17px; padding:0 7px; line-height:17px; color:#fff; background:#9fb23a; border-radius:3px; text-align:center}
.shop_info .point_list ul li dl dt > span {color:#999}
.shop_info .point_list ul li dl dt > span em {color:#9fb23a}
.shop_info .point_list ul li dl dt > em.switch {background:#3a83b2}
.shop_info .point_list ul li dl dt > em.switch + span em {color:#ff5a00}
.shop_info .point_list ul li dl dt > em.minus {background:#999}
.shop_info .point_list ul li dl dt > em.minus + span em {color:#ff5a00}
.shop_info .point_list ul li dl dd {display:inline-block; width:60%; padding-left:15px; vertical-align:middle; font-size:12px; color:#999}
.shop_info .point_list ul li dl dd strong {display:block; font-size:13px; color:#666}
.my_orga .my_point > dl dt {margin-top:10px; font-size:14px; color:#000; font-weight:bold}
.my_orga .my_point > dl dd {margin-top:5px}
.my_orga .my_point > dl dd .input_text {font-size:12px}
.shop_info .coupon_list {margin-top:20px}
.shop_info .coupon_list .panel_default {background:#fff; border-bottom:0}
.shop_info .coupon_list ul {padding:0 15px 15px}
.shop_info .coupon_list ul li {margin-top:5px; border:1px solid #dfdfdf}
.shop_info .coupon_list ul li:first-child {margin-top:0}
.shop_info .coupon_list ul li dl dt {padding:10px 15px; color:#666; font-weight:bold; font-size:12px}
.shop_info .coupon_list ul li dl dt strong {display:block; margin-top:6px; font-size:15px; color:#333}
.shop_info .coupon_list ul li dl dd {padding:10px 15px; font-size:12px; color:#999}
.shop_info .coupon_list ul li dl dd p{padding-left:57px;text-indent:-57px;}
.shop_info .coupon_list ul li dl dd em {color:#666; font-weight:bold}
.shop_info .coupon_list ul li dl dd em span {color:#000; font-weight:bold}
.shop_info .coupon_list ul li dl dd.bottom {overflow:hidden; margin-top:5px; padding:10px 15px; background:#f6f6f6; border-top:1px solid #dfdfdf; font-size:15px}
.shop_info .coupon_list ul li dl dd.bottom strong {float:left; color:#ac1a02}
.shop_info .coupon_list ul li dl dd.bottom em {float:right; color:#9fb23a; font-size:13px; font-weight:bold}
.shop_info .coupon_list ul li.end * {color:#c8c8c8}
.shop_info .coupon_list ul li.end dd.bottom * {color:#c8c8c8}
.shop_info .coupon_list ul li.empty_data {border-bottom:0; border-left:0; border-right:0}
.my_orga .guide_top {padding:15px; background:#fafafa; border:1px solid #dfdfdf}
.my_order_guide .list_default + .section_heading_title {margin-top:15px}
.my_order_guide dt {color:#333; font-size:14px; font-weight:bold}
.my_order_guide dd {margin-top:10px}
.my_order_guide dd + dt {margin-top:15px}
.my_order_guide dd .table_default th {color:#333; font-weight:bold}

/*활동정보 */
.oneto_list .panel_default {background:#fff}
.oneto_list .panel_default {border-bottom:0}
.oneto_list .board_list ul {border-top:1px solid #dfdfdf}
.oneto_list .board_list .board_aside {width:10%; font-weight:bold}
.oneto_list .board_accordion .board_container {padding-right:10px; width:70%}
.oneto_list .board_accordion .board_container:after {display:none}
.oneto_list .board_accordion em.state {display:table-cell; width:20%; font-size:13px; color:#999; font-weight:bold; vertical-align:middle}
.oneto_list .board_accordion em.end {color:#9fb23a}
.oneto_list .board_accordion .board_title {color:#333; font-size:13px; font-weight:bold}
.oneto_list .board_accordion .date {font-size:12px; color:#999}
.oneto_list .board_panel_inner {font-size:12px; color:#999}
.oneto_list .board_panel_inner .user_text {margin-bottom:15px; color:#333}
.oneto_list .board_panel_inner.answer {overflow:hidden}
.oneto_list .board_panel_inner.answer > em {float:left; width:10%; font-size:13px; color:#ad1901; font-weight:bold}
.oneto_list .board_panel_inner.answer > dl {float:left; width:90%}
.oneto_list .board_panel_inner.answer > dl dt {color:#888}
.oneto_list .board_panel_inner.answer > dl dt strong {display:block; margin-bottom:3px; color:#333; font-weight:normal}
.oneto_list .board_panel_inner.answer > dl dd {margin-top:15px; color:#666}
.event_list .panel_default {background:#fff}
.event_list .board_list .board_container {width:85%; padding-right:10px; font-size:12px; color:#999; vertical-align:middle}
.event_list .board_list .board_aside {width:15%; font-size:13px; color:#9fb23a; font-weight:bold; vertical-align:middle}
.event_list .board_list .board_field {color:#999}
.event_list .board_list .board_title {font-size:13px; color:#333; font-weight:bold}
.event_list .board_list .board_info {margin-top:5px}
.event_list .board_list .end .board_title {color:#9a9a9a}
.event_list .board_list .end .board_aside {color:#999}
.event_list .board_list .empty_data .btn_block {margin-top:15px}

.active_list .tab_type02 {margin-top:20px}
.my_comment .panel_default {background:#fff; border-bottom:0}
.my_comment .list_area {background:#fff}
.my_orga .my_comment {padding-bottom:5px; background:#fff; border-bottom:1px solid #ddd}
.my_orga .my_comment + .pagination {border-top:0}
.my_orga .my_comment .list_area {padding-bottom:0}
.my_orga .my_comment .list_area li:last-child {padding-bottom:5px}
.my_orga .my_comment .list_area li dl dt a strong {text-decoration:underline}
.my_orga .my_comment .list_area li dl dt a strong:after {display:none}
.my_orga .my_comment .list_area li dl dt a {position:relative; padding-right:40%}
.my_orga .my_comment .list_area li dl dt a > div {}
.my_orga .my_comment .list_area li dl dt a > .date {position:absolute; bottom:10px; right:15px; width:40%}
.my_orga .my_comment .list_area li dl dd.pro_name {position:relative; padding-right:105px}
.my_orga .my_comment .list_area li dl dd.pro_name > a {display:inline-block; position:absolute; bottom:50%; right:15px; padding:0 10px; height:25px; margin-bottom:-13px; line-height:25px; border:1px solid #ddd; border-radius:3px; font-weight:bold; color:#000 }
.my_orga .my_comment .st_total_info dt {display:inline-block;padding:0 7px;border-radius:8px;background-color:#3f301e;line-height:15px;font-size:10px;color:#fff;vertical-align:middle;}
.my_orga .my_comment .st_total_info dd {display:inline-block;position:relative;padding-right:10px;margin-right:10px;font-size:10px;color:#666;vertical-align:middle;}
.my_orga .my_comment .st_total_info dd:after{display:block;content:'';position:absolute;top:50%;right:0;width:1px;height:10px;margin-top:-5px;background-color:#dfdfdf;}
.my_orga .my_comment .st_total_info dd:last-child:after{display:none;}
.my_orga .my_comment .st_total_info dd .st_check p:after{height:18px;}
.my_orga .my_comment .st_detail_info dt{display:inline-block;min-width:34px;padding:0 7px;border-radius:8px;background-color:#7f6f5b;line-height:15px;font-size:10px;color:#fff;vertical-align:middle;text-align:center}
.my_orga .my_comment .st_detail_info dd{display:inline-block;vertical-align:middle;}
.my_orga .my_comment .st_detail_info dd .st_check p:after{height:18px;}
.my_orga .my_comment .board_accordion {border-top:1px solid #dfdfdf}
.my_orga .my_comment .board_accordion .board_title {margin-top:5px; font-weight:bold}
.my_orga .my_comment .board_accordion .date {display:inline-block; margin-top:9px; font-size:12px; color:#999}
.my_orga .my_comment .board_accordion .board_panel_inner {padding:0; border-color:#dfdfdf}
.my_orga .my_comment .board_accordion .board_panel_inner > dl > dt {position:relative; padding:10px 15px; padding-right:100px;  color:#999; font-size:12px}
.my_orga .my_comment .board_accordion .board_panel_inner > dl > dt strong {display:block; margin-bottom:5px; font-size:13px; font-weight:bold; color:#666}
.my_orga .my_comment .board_accordion .board_panel_inner > dl > dt .btn_edit {position:absolute; bottom:50%; right:15px; margin-bottom:-15px; font-size:0}
.my_orga .my_comment .board_accordion .board_panel_inner > dl > dt .btn_edit a {display:inline-block; padding:0 7px; height:29px; line-height:29px; background:#fff; border:1px solid #ddd; font-size:13px; font-weight:bold; color:#666}
.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dt .btn_edit a:first-child {margin-right:3px}
.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dd {padding:0 15px; border-top:1px solid #dfdfdf;}
.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dd ul li {padding:10px 0}
.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dd .comment_text {position:relative;padding:15px 0 40px; border-top:1px solid #dfdfdf; font-size:12px}

.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dd .comment_text .btn_edit {position:absolute; bottom:10px; right:0;font-size:0}
.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dd .comment_text .btn_edit a {display:inline-block; padding:0 7px; height:29px; line-height:29px; background:#fff; border:1px solid #ddd; font-size:13px; font-weight:normal; color:#666}
.my_orga .my_comment .board_accordion .board_panel_inner  > dl > dd .comment_text .btn_edit a:first-child {margin-right:3px}


.my_orga .my_sel_list {border-bottom:1px solid #dfdfdf}
.my_orga .my_sel_list .btn_sel_wrap {padding:0 15px; background:#fff}
.my_orga .btn_sel_wrap a {padding:0 7px; font-size:13px}
.my_orga .btn_sel_wrap .btn_text {font-weight:normal}
.my_orga .btn_sel_wrap > div {overflow:hidden; padding:15px 0; border-bottom:1px solid #dfdfdf}
.my_orga .btn_sel_wrap > div > div {float:left}
.my_orga .btn_sel_wrap > div > .btn_brown {float:right}
.my_orga .my_sel_list .btn_sel_wrap + .panel_default {padding-bottom:0; border-bottom:0}
.my_orga .my_sel_list .btn_sel_wrap + .panel_default .panel_left {width:100%; padding-bottom:15px; border-bottom:1px solid #dfdfdf}
.my_orga .my_sel_list .panel_default {background:#fff}
.my_orga .my_sel_list .input_check {margin-bottom:5px}
.my_orga .my_bottom .btn_large {height:34px; line-height:34px}
.my_orga .my_bottom .btn_text {font-weight:normal}
.my_orga .my_bottom .btn_sel_wrap > div {padding:0; border:0}
.my_orga .my_sel_list .pdcard_list li.empty_data {width:100%; padding:10px 15px}
.my_orga .my_sel_list .pdcard_list li.empty_data .btn_block {margin-top:15px}

/* 나의정보 */
.my_orga .my_banking {padding:0 15px 15px; background:#fff}
.my_orga .my_banking ul li {padding:15px 0; border-bottom:1px solid #dfdfdf}
.my_orga .my_banking .input_radio {display:block}
.my_orga .my_banking .input_radio i {top:50%; margin-top:-9px}
.my_orga .my_banking .input_radio .label_text {display:block; position:relative; margin-left:10px; padding-right:100px}
.my_orga .my_banking .input_radio .label_text .btn_edit {position:absolute; bottom:50%; right:0; margin-bottom:-15px; font-size:0}
.my_orga .my_banking .input_radio .label_text dt {font-size:15px; font-weight:bold; color:#333}
.my_orga .my_banking .input_radio .label_text dt strong {color:#9fb23a}
.my_orga .my_banking .input_radio .label_text dd {margin-top:10px}
.my_orga .my_banking .input_radio .label_text dd em {display:block; margin-top:5px; color:#666; font-weight:bold; font-size:14px}
.my_orga .my_banking .input_radio .label_text dd span {font-size:12px; color:#666}
.my_orga .my_banking .input_radio .label_text dd span:first-child {margin-right:10px}
.my_orga .my_banking .btn_block {margin-top:15px}
.my_orga .my_banking ul li.empty_data {border:0}
.my_orga .my_banking .input_radio .label_text dd p {color:#999}
.my_orga .my_banking .input_radio .label_text dd p span {color:#666; font-weight:bold}
/* 20200324 나의 배송지 목록 - 배송가능유형 아이콘 */
.my_orga .my_banking .input_radio .label_text dd p span.ico_delivery01{display:inline-block;font-size:11px;color:#fff;background:#698b2a;border-radius:50px;padding:0 10px;height:23px;line-height:23px;}
.my_orga .my_banking .input_radio .label_text dd p span.ico_delivery02{display:inline-block;font-size:11px;color:#fff;background:#0099ff;border-radius:50px;padding:0 10px;height:23px;line-height:23px;}
.my_orga .my_banking .input_radio .label_text dd p span.ico_delivery03{display:inline-block;font-size:11px;color:#fff;background:#cc3300;border-radius:50px;padding:0 10px;height:23px;line-height:23px;}

.my_orga .my_info_edit h2 {height:44px; padding:0 15px; background:#a37e52; border:1px solid #927f3d; line-height:44px; font-size:16px; color:#fff; }
.my_orga .my_info_edit .edit_area {padding:15px; background:#fff}
.my_orga .my_info_edit .edit_area + h2 {margin-top:20px}
.my_orga .my_info_edit .edit_area dl + dl {margin-top:20px}
.my_orga .my_info_edit .edit_area dt {font-size:15px; color:#000; font-weight:bold}
.my_orga .my_info_edit .edit_area dd {position:relative;margin-top:15px}
.my_orga .my_info_edit .edit_area dd .table_default th {font-size:bold; color:#666; text-align:left}
.my_orga .my_info_edit .edit_area dd .table_default td {}
.my_orga .my_info_edit .edit_area dd .table_default td em {display:block; margin-bottom:5px; color:#ad1901}
.my_orga .my_info_edit .edit_area dd .btn_mom_secession{position:absolute;top:-40px;right:0;font-size:14px;height:30px;line-height:30px;}
.my_orga .my_info_edit .btn_block {margin-top:15px}

.my_orga .my_info_edit .orgaMomClub .table_default table tbody tr:first-child td .input_radio{margin-top:5px;}
.my_orga .my_info_edit .orgaMomClub .table_default table tbody tr:first-child td .input_radio:first-child{margin-top:0;}

/* 개인정보 수집 동의 추가 */
.my_orga .my_info_edit .PersonalInfor_myInfo {padding: 15px 0 0 0; }
.my_orga .my_info_edit .PersonalInfor_myInfo span {/*display: block;*/  position: relative; font-size: 15px; font-weight: bold; color: #000;}
.my_orga .my_info_edit .PersonalInfor_myInfo tr {}
.my_orga .my_info_edit .PersonalInfor_myInfo td {padding: 6px 0 0 0;}
.my_orga .my_info_edit .PersonalInfor_myInfo .PersonalInfor_txt {width:100%; height:80px; border:1px solid #e2e2e2; font-size:12px; color:#666; padding: 7px 7px; }
.my_orga .my_info_edit .PersonalInfor_myInfo .Personalbox {width:30%; text-align:right; padding-left: 5px;}
.my_orga .my_info_edit .PersonalInfor_myInfo .Personalbox:last-child {width:70%; text-align:left;}
/* 개인정보 수집 동의 끝 */


.my_orga .pageheader + .break_out {margin-top:0; border-top:0}
.my_orga .break_out {margin-top:20px; padding:15px; background:#fff; border:1px solid #dfdfdf}
.my_orga .break_out h2 {color:#000; font-size:16px}
.my_orga .break_out .sel_why li {margin-top:10px}
.my_orga .break_out .why_return {padding-left:25px; padding-bottom:10px; border-bottom:1px solid #dfdfdf}
.my_orga .disable_point {padding:15px; background:#fff; border-bottom:1px solid #dfdfdf}
.my_orga .disable_point em {color:#ad1901; font-size:12px}
.my_orga .disable_point ul {overflow:hidden; margin:10px 15px 0}
.my_orga .disable_point ul li {float:left; width:33%; border-left:1px solid #dfdfdf; text-align:center; color:#333}
.my_orga .disable_point ul li:first-child {border-left:0}
.my_orga .disable_point ul li em {color:#666; font-size:18px; text-decoration:underline; font-weight:bold}
.my_orga .disable_point ul li strong {display:block; margin-bottom:4px; color:#333; font-size:14px}
.my_orga .disable_point ul li strong:before {display:inline-block; content:''; width:24px; height:24px; margin-right:5px; background:url(../img/spr_break_point.png) no-repeat -91px 0; background-size:247px 35px; vertical-align:middle}
.my_orga .disable_point ul li:first-child strong:before {background-position:0 0}
.my_orga .disable_point ul li:last-child strong:before {background-position:-188px 0}
.my_orga .break_out em {display:block; margin:5px 0; color:#ad1901; font-size:12px}
.my_orga .break_out .table_bordered thead tr:first-child th {font-weight:bold; width:25%; font-size:14px}
.my_orga .break_out .table_bordered tr td {width:25%;padding:10px 0; text-align:center}
.my_orga .break_out .table_bordered tr td span {font-size:16px; color:#999; font-weight:bold; text-decoration:underline}
.my_orga .break_out .table_bordered tr td strong {font-size:16px; color:#333; text-decoration:underline}
.my_orga .break_out .list_area {margin-top:10px}
.my_orga .break_out .list_area em {display:inline-block}
.my_orga .break_out .list_area li {padding:0}

/* 임직원 */
.my_orga .pageheader + .staff_guide {margin-top:0; border-top:0}
.my_orga .staff_guide {border-bottom:1px solid #dfdfdf}
.my_orga .staff_guide h2 {margin-bottom:10px}
.my_orga .staff_guide h2 > span {color:#999; font-size:12px}
.my_orga .staff_guide .table_default table tbody th {width:20%; font-weight:bold}
.my_orga .staff_guide .table_default table tbody td {width:80%}
.my_orga .staff_guide .table_bordered {margin-top:10px}
.my_orga .staff_guide .table_bordered table {border-left:0; border-right:0}
.my_orga .staff_guide .table_bordered table thead th {font-weight:bold}
.my_orga .staff_guide .table_bordered table tbody th {width:50%; background:#fff}
.my_orga .staff_guide .table_bordered table tbody td {width:50%}
.my_orga .staff_info {margin-top:0; border-top:0}
.my_orga .staff_info .table_default tbody th {text-align:left; font-weight:bold}
/* popup */
#member_ship {background:#f5f6f8}
.pop_layer .member_list {padding:0; border:1px solid #ddd}
.pop_layer .member_list  ul li:last-child { border-bottom: 0; }
.pop_layer .member_list .board_item_inner {position:relative; padding-left:65px; padding-top: 10px; padding-bottom: 10px; }
.pop_layer .member_list .board_aside {display:block; position:absolute; top:50%; left:0; width:65px; height:36px; margin-top:-18px; text-align:center}
.pop_layer .member_list .board_aside em {display:inline-block; width:36px; height:36px; background:url(../img/spr_ico_grade.png) no-repeat 0 0; background-size:39px 278px}
.pop_layer .member_list .board_aside em.platinum {background-position:0 0}
.pop_layer .member_list .board_aside em.gold {background-position:0 -48px}
.pop_layer .member_list .board_aside em.silver {background-position:0 -96px}
.pop_layer .member_list .board_aside em.bronze {background-position:0 -144px}
.pop_layer .member_list .board_aside em.green {background-position:0 -192px}
.pop_layer .member_list .board_aside em.family {background-position:0 -240px}
.pop_layer .member_list .board_container {display:block}
.pop_layer .member_list .board_container strong {font-size:14px; color:#333; font-weight:bold}
.pop_layer .member_list .board_container .board_title {font-size:12px; color:#999}
.pop_layer .member_list .board_panel_inner {background:#fbfbfb}
.pop_layer .member_list .table_default table { border-color: #dfdfdf; }
.pop_layer .member_list .table_default th {width: auto; white-space:nowrap;font-weight:bold; color:#333;background:#f6f6f6}
.pop_layer .member_list .board_panel_inner ul li {border:0}
.pop_layer .member_list .board_panel_inner>dl {margin-top:20px}
.pop_layer .member_list .board_panel_inner>dl>dt {font-size:13px; color:#666}
.pop_layer .member_list .board_panel_inner>dl>dt strong {color:#333}
.pop_layer .member_list .board_panel_inner>dl>dd {margin-top:10px}
.pop_layer .member_list .board_panel_inner>dl em {font-style:normal}
.pop_layer .member_list .board_panel_inner>dl>dd.disc_text {font-size:12px; color:#666}
.pop_layer .member_list.board_accordion {  }
.pop_layer .member_list.board_accordion .board_item_inner { cursor: pointer; }
.pop_layer .member_list.board_accordion .board_aside { vertical-align: middle; }
.pop_layer .member_list.board_accordion .board_container { position: relative; padding-right: 30px; }
.pop_layer .member_list.board_accordion .board_container:after { content: ''; display: inline-block; overflow: hidden; position: absolute; top: 50%; right: 10px; width: 10px; height: 5px; margin-top: -3px; background: url('../img/ico_chevron.png') no-repeat 0 0; background-size: 10px 5px; }
.pop_layer .member_list.board_accordion .board_field { color: #999; font-size: 13px; }
.pop_layer .member_list.board_accordion .board_title { color: #666; font-size: 14px; line-height: normal; }
.pop_layer .member_list.board_accordion .board_panel { display: none; }
.pop_layer .member_list.board_accordion .board_panel_inner { padding: 15px; border-top: 1px solid #eee; background: #f7f7f7; color: #666; font-size: 14px; word-break: break-word; }
.pop_layer .member_list.board_accordion .active .board_panel {  }
.pop_layer .member_list.board_accordion .active .board_container:after { background-image: url('../img/ico_chevron_top.png'); }
.coupon_img_list ul {}
.coupon_img_list ul:after{display:block;content:'';clear:both;}
.coupon_img_list ul li{float:left;width:50%;padding:10px 0;margin:0 -1px -1px 0;border:1px solid #ddd !important;background:#fff;text-align:center}
.coupon_img_list ul li .coupon_box{display:block;width:106px;height:49px;margin:0 auto;padding:0 0 0 24px;background:url(../img/class_coupon.png) no-repeat 0 0 ;background-size:106px 49px;}
.coupon_img_list ul li .coupon_box:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.coupon_img_list ul li dl{display:inline-block;vertical-align:middle;}
.coupon_img_list ul li dt{font-size:12px;color:#453c33;}
.coupon_img_list ul li dd{margin-top:2px;font-size:14px;font-weight:bold;color:#453c33;}
.coupon_img_list ul li p{margin-top:2px;font-size:11px;color:#666;}


.my_orga .freegift_list>strong{display:block;padding-bottom:10px; margin-bottom:10px; border-bottom:2px solid #bdc949; font-size:16px; color:#333; font-weight:bold}
.my_orga .freegift_list { margin-top:10px;}
.my_orga .freegift_list ul { border: 1px solid #dfdfdf; }
.my_orga .freegift_list ul li {  }
.my_orga .freegift_list ul li + li { border-top: 1px solid #dfdfdf; }
.my_orga .freegift_list .freegift_item {display: table; padding: 10px; }
.my_orga .freegift_list .freegift_item .freegift_item_thumb { display: table-cell; width: 1%; white-space: nowrap; vertical-align: middle; }
.my_orga .freegift_list .freegift_item .freegift_item_image { overflow: hidden; position: relative; width: 79px; height: 79px; border: 1px solid #e2e2e2; }
.my_orga .freegift_list .freegift_item .freegift_item_image img { width: 100%; vertical-align: top; }
.my_orga .freegift_list .freegift_item .freegift_item_title { display: table-cell; padding: 10px 0 10px 10px; vertical-align: middle; text-align: center; font-size:13px;color:#666;}
.my_orga .freegift_list .freegift_item .freegift_item_title .label_text { margin: 0; }




/*.coupon_img_list ul li {float:left; width:50%; padding:10px 5px}
.coupon_img_list ul li > div {width:119px; height:72px; padding-left:15px; background:url(../img/spr_coupon.png) no-repeat 0 0; background-size:262px 166px; text-align:center; letter-spacing:-1px}
.coupon_img_list ul li > div.coupon_01 {background-position:0 0}
.coupon_img_list ul li > div.coupon_02 {background-position:-143px 0}
.coupon_img_list ul li > div.coupon_03 {background-position:0 -94px}
.coupon_img_list ul li > div.coupon_04 {background-position:-143px -94px}
.coupon_img_list ul li > div span {font-size:11px; color:#eaf5d4}
.coupon_img_list ul li > div.coupon_02 span {color:#e8dab2}
.coupon_img_list ul li > div.coupon_03 span {color:#f5e3d4}
.coupon_img_list ul li > div.coupon_04 span {color:#f5d4d6}
.coupon_img_list ul li > div strong {display:block; font-size:13px; color:#fff}
.coupon_img_list ul li > div em {font-size:10px; color:#6c8b2c; font-weight:bold}
.coupon_img_list ul li > div.coupon_02 em {color:#907932}
.coupon_img_list ul li > div.coupon_03 em {color:#8f5c32}
.coupon_img_list ul li > div.coupon_04 em {color:#a03b41}
.coupon_img_list ul li .coupon_01{}*/





.pop_layer .discription_text {font-size:12px; color:#666}
.pop_layer .discription_text li {margin:5px 0}
.pop_layer .discription_text li em {font-weight:bold; font-style:normal}
.pop_layer .discription_text li span {color:#999}
#active_point_switch .pop_content,
#return_bank .pop_content,
#return_bank_edit .pop_content,
#mycash_swap .pop_content,
#mycash_swap_state .pop_content,
#my_place .pop_content,
#my_place_edit .pop_content {padding:0}
.pop_layer .point_top {padding:15px; border-bottom:1px solid #dfdfdf; text-align:center; font-size:12px; color:#000}
.pop_layer .point_top span {font-weight:bold}
.pop_layer .point_top strong {display:block; font-size:15px}
.pop_layer .point_top strong em {color:#9fb23a; font-style:normal}
.pop_layer .point_input {margin:15px; padding:15px; background:#f9f9f9; border:1px solid #dfdfdf}
.pop_layer .point_input p {color:#000; font-weight:bold; font-size:13px}
.pop_layer .point_input p + .input_group {margin-top:10px}
.pop_layer .point_input .input_group_aside {background:#fff}
.pop_layer .btn_bottom_wrap {padding:15px; background:#f9f9f9; border:1px solid #dfdfdf}
.pop_layer .btn_bottom_wrap {position:fixed; width:100%; bottom:0; left:0; z-index:700}

.pop_layer .btn_bottom_wrap.v2 {overflow:hidden;}
.pop_layer .btn_bottom_wrap.v2 a{float:right;width:49%;}
.pop_layer .btn_bottom_wrap.v2 a:first-child{float:left;}

.pop_layer .edit_area {padding:15px 15px 0}
.pop_layer .edit_area table input, .pop_layer .edit_area table select {font-size:13px}
.pop_layer .edit_area .input_list li {margin-top:5px}
.pop_layer .edit_area .input_list li:first-child {margin-top:0}
.pop_layer .swap_state_list {margin-top:15px}
.pop_layer .swap_state_list li {position:relative; padding:10px 0; padding-left:75px; border-top:1px solid #dfdfdf}
.pop_layer .swap_state_list li.empty_data {width:100%; padding:0;  margin-top:50%; transform:translate(0 ,-50%);border:0}
.pop_layer .swap_state_list li dt {position:absolute; top:50%; left:0; width:75px; margin-top:-9px; text-align:center}
.pop_layer .swap_state_list li em {font-style:normal}
.pop_layer .swap_state_list li dt em {display:inline-block; padding:0 7px; height:18px; line-height:18px; border-radius:8px; background:#9fb23a; color:#fff; font-weight:bold; font-size:12px}
.pop_layer .swap_state_list li dt em.ing {background:#3a83b2}
.pop_layer .swap_state_list li dd {position:relative; padding-right:80px; color:#999; font-size:12px}
.pop_layer .swap_state_list li dd em {position:absolute; top:50%; margin-top:-9px; right:10px; color:#333; font-weight:bold; font-size:13px}
.pop_layer .swap_state_list li dd strong {display:block; margin-bottom:5px; color:#333; font-size:14px}
.pop_layer .pagination {background:#f5f6f8}
.pop_layer .input_list .address input {background:#fafafa}
.pop_layer .guide {padding:15px; background:#f9f9f9; border:1px solid #dfdfdf}
.pop_layer .guide li {color:#666}
.pop_layer .guide li span {color:#999}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}