@charset "utf-8";

/* Cart */
.cart_infobox_inner {padding:15px;background:none;border-bottom:0px;background:none;}
.cart_infobox + .cart_infobox .cart_infobox_inner {border-top:1px solid #dfdfdf;}
.cart_infobox_inner .cart_date_ch {margin: 0px;}
.cart_date_ch .cart_date_header {display:block;margin-bottom: 15px;padding:0px;border:0px;text-align:left;}
.cart_date_ch .cart_date_heading {display:block;height:auto;padding:0px;text-align:left;}
.cart_date_ch .cart_date_heading .cart_date_title {padding:0px;color:#383838;font-size:15px;font-weight:700;text-align:left;}
.cart_date_ch .cart_date_header:after {display:none;}
.cart_date_ch .cart_date_body {height:auto;padding:0px !important;}
.cart_date_ch .cart_date_body table {margin: 0px;}
.cart_date_ch .cart_date_body table th {height:40px;color:#383838;font-weight:normal;background:#f6f6f6;border-color:#dfdfdf;border-width:0 0 1px 1px;}
.cart_date_ch .cart_date_body table td {height:40px;font-size:13px;border-color:#dfdfdf;border-width:0 0 1px 1px;}
.cart_date_ch .cart_date_body table th:first-child,
.cart_date_ch .cart_date_body table td:first-child {border-left:0px;}
.cart_date_ch .cart_date_body table thead th {border-top: 1px solid #dfdfdf;font-weight:700;}
.cart_date_ch .cart_date_body table thead th small {font-weight:normal;}
.cart_date_ch .cart_date_body table td#dawnInput {overflow:hidden;padding: 5px 0px 5px 10px;text-align:left;}
.cart_date_ch .cart_date_body table td#dawnInput label {float: left;width:50%;min-width:130px;max-width:270px;margin:5px 0;padding-left: 22px;}
.cart_date_ch .cart_date_body table tr.password_view td {position:relative;text-align:left;padding: 10px 90px 10px 10px;text-align:right;}
.cart_date_ch .cart_date_body table tr.password_view td input[type="text"] {width:100%;height: 30px;padding: 5px;border:1px solid #dfdfdf;}
.cart_date_ch .cart_date_body table tr.password_view td .input_check {position:absolute;right:10px;top: 15px;}
.cart_date_ch .cart_date_body table tr.password_view td .input_check span {margin-left: 5px;}
.cart_date_ch .cart_date_body table tr.etcinput_view td {height: auto;padding: 10px;}
.cart_date_ch .cart_date_body table tr.etcinput_view td textarea {width: 100%;padding: 5px;border:1px solid #dfdfdf;resize:none}
.cart_date_ch .cart_date_footer {padding: 10px;font-size: 13px;color: #666;}
.cart_date_ch .cart_date_footer p strong {display: block;margin-bottom: 5px;}
.cart_sum .cart_sum_header {padding-right: 30px;}
.cart_sum .cart_sum_title {overflow: hidden;display: table;width: 100%;}
.cart_sum .cart_sum_title p {display: table-cell;vertical-align:middle;width: 50%;color:#323337;font-weight: bold;}
.cart_sum .cart_sum_title strong {display: table-cell;vertical-align:middle;width: 50%;text-align: right;}
.cart_sum .cart_sum_title strong span {display: block;font-size: 12px;}
/*.cart_sum.active .cart_sum_header:after {display: none;}*/
.cart_sum .cart_sum_info tbody .cart_sum_total th {font-weight: bold;color:#323337;}
.cart_sum .cart_sum_info tbody .cart_sum_total td {font-weight: bold;color:#ac1a02;}
.cart_panel_type02.type_color02 {margin-top: 10px;}
.cart_pdlist_sum .cart_sum_info tbody th small {font-weight: normal}
.cart_panel_type02[data-ui-toggle] > .cart_panel_header:after {border-color: #c4b5ab transparent transparent transparent;}
.cart_panel_type02[data-ui-toggle].active > .cart_panel_header:after {border-color: transparent transparent #c4b5ab transparent;}

/* Order */
.shopping_cart.payment .cart_panel_default {padding: 15px; background: #fff;}
.shopping_cart.payment .cart_panel_default + .cart_panel_default {margin-top:0px;padding-top: 0px;}
.shopping_cart.payment .cart_panel_default > .cart_panel_body > .cart_panel_container {padding: 0; border: 0px; background: none;}
.shopping_cart.payment .cart_panel_default > .cart_panel_header + .cart_panel_body > .cart_panel_container {padding: 10px; border: 1px solid #dfdfdf;border-top:0px;}
.shopping_cart.payment .deliveryaddr_addr dl dt {display:none;}
.shopping_cart.payment .deliveryaddr_addr dl dd {display: block;color:#676767;font-size:13px; line-height: 1.5em}
.shopping_cart.payment .deliveryaddr_addr dl dd span:last-child {display: block;}
.shopping_cart.payment .cart_panel_type02 > .cart_panel_header {background: #a37e52;box-shadow:none;border:0px;}
.shopping_cart.payment .form_section .form_section_description {margin-bottom: 0px;}
.shopping_cart.payment .form_section .form_section_description li {position:relative; padding-left:10px;line-height: 1.7em}
.shopping_cart.payment .form_section .form_section_description li:before {content:'';position:absolute; left: 0px; top:8px; width: 2px; height: 2px;border-radius:50%;background: #383838}
.shopping_cart.payment .cart_panel_default.type_color04 > .cart_panel_header {background: #fff; border: 2px solid #343434; }
.shopping_cart.payment .cart_panel_default.type_color04 > .cart_panel_header .cart_panel_title {float: left;color: #343434;font-weight:700;}
.shopping_cart.payment .cart_panel_default.type_color04 > .cart_panel_header .cart_panel_description {float: right;color: #ae1901;font-size: 15px;}
.shopping_cart.payment .cart_panel_default.type_color04 > .cart_panel_header .cart_panel_description {font-weight:700;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 {position:relative;padding-right: 90px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header {border:0px;background:none;padding-left: 130px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount[data-ui-toggle] > .cart_panel_header:after {border-color: #666 transparent transparent transparent;}
.shopping_cart.payment .cart_panel_default.type_color04.discount[data-ui-toggle].active > .cart_panel_header:after {border-color: transparent transparent #666 transparent;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading,
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading + .cart_panel_heading_aside {padding: 0px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading {position:absolute;left:0px;display: table;height:34px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading em {display:block; font-size: 12px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading + .cart_panel_heading_aside {display: block;width:100%}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading + .cart_panel_heading_aside .color_orange {display: inline-block;border: 1px solid #ddd;width: 100%;height: 34px;padding: 7px 10px 0 10px;text-align: right;border-radius: 0;background: none;color: #666 !important;font: inherit;letter-spacing: -1px;vertical-align: top;-webkit-appearance: none;resize: none;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading + .cart_panel_heading_aside .won {color: #666;line-height: 34px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header > .cart_panel_heading > .cart_panel_title {display: table-cell; vertical-align: middle; font-size:13px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_body {position: absolute;right: 0px;top: 0px;width: 70px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_body >.cart_panel_container {padding:0px;border:0px;background:none}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_body >.cart_panel_container .form_description {display:none; font-size: 12px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_body .btn_green,
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_body .cart_panel_button {width: 70px;}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_body >.cart_panel_container .form_description {}
.shopping_cart.payment .cart_panel_default.type_color04.discount .cart_panel_type03 > .cart_panel_header .input_text_label input {border:1px solid #ddd}
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum {margin: 0px;}
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tbody th,
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tfoot th {color: #878787;font-size: 13px;}
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tfoot th,
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tfoot td {padding: 10px 5px 2px; border: 0px;}
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tfoot td {color: #33353d;font-size: 13px;}
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tbody tr:first-child th,
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_info tbody tr:first-child td {padding-top: 0px;}
.shopping_cart.payment .cart_panel_default.type_color04 .cart_sum .cart_sum_title strong span {font-weight: normal;}
.shopping_cart.payment .cart_panel_default.payment_select_area > .cart_panel_header + .cart_panel_body > .cart_panel_container {background: #fafafa;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select {border: 0px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select > .form_group {padding: 10px 0 0; background: #fafafa;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select > .form_group .input_check {display: block;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select > .form_group .input_check .label_text {padding-top:0px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select > .form_group a {color: #383838;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_card .payment_card_form {margin-top:15px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list {border-left:1px solid #c9c9c9;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list li {margin-top:-1px;border-top:1px solid #c9c9c9;border-right:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list ul li .input_radio {height: 40px;border:0px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list ul li .input_radio > i {background:#fff;line-height: 38px;color:#646464;font-weight: 700;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list ul li .input_radio > input[type='radio']:checked + i {background: #9fb23a; color:#fff;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list ul li .input_radio > i:before {display:none;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_card {padding:0px;border-top:0px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .cart_panel_action {padding:0px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .cart_panel_action .form_group {padding:20px 15px 0;}
.shopping_cart.payment .cart_panel_default.payment_select_area .cart_panel_action .form_group label {display: block;}
.shopping_cart.payment .cart_panel_default.payment_select_area .cart_panel_action p {padding:10px 15px;color: #383838;font-size: 13px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .accordion_list {margin:0px;padding-top: 15px;text-align: right;border-bottom: 0px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .accordion_list .tit_payment {display:  inline-block;vertical-align: top;padding: 0px;padding-right: 23px;font-size: 13px;background: url(../img/btn_arrow_down.png) no-repeat right 6px; border-bottom: 1px solid #33353d;}
.shopping_cart.payment .cart_panel_default.payment_select_area .accordion_list .list_type02 {margin-top:7px;text-align:left;}
.shopping_cart.payment .cart_panel_default.payment_select_area .accordion_list.show .tit_payment {background: url(../img/btn_arrow_up.png) no-repeat right 6px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] {margin-bottom: 10px;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 {border:0px;background: none;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 > .cart_panel_header,
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 > .cart_panel_body >.cart_panel_container {padding-bottom:0px;background: none;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 > .cart_panel_body >.cart_panel_container .input_text {background:none;text-align: left !important;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 > .cart_panel_body >.cart_panel_container .input_text_label {overflow:hidden;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 > .cart_panel_body >.cart_panel_container .input_text_label input {float:left;width:90%; border-right: 1px solid #ddd;text-align: right !important;letter-spacing: 0px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_type05 > .cart_panel_body >.cart_panel_container .input_text .won {float:left;width:10%;margin-top:5px;text-align: center;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_button {margin:20px 0 10px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_button + .cart_panel_type05 > .cart_panel_header > .cart_panel_heading > .cart_panel_title {font-weight: 700;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_button + .cart_panel_type05 > .cart_panel_body >.cart_panel_container {padding: 0px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .cart_panel_button + .cart_panel_type05 .list_type02 {margin: 0px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"]#welfareCardFormDiv {margin-bottom:0px;border-bottom: 0px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .publication_use {margin-top: 10px; padding-bottom: 10px;background:#fafafa}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .publication_use .input_check_group {margin: 0px;}
.shopping_cart.payment div[class^="cart_innerpanel_body"] .publication_use .input_check_group .input_radio {margin-left; 0px;}
.shopping_cart.payment .cart_panel_type03 + .cart_panel_type03 {margin-top: 0px;}
.normal-delivery-table, .dawn-delivery-table, .direct-delivery-table, .reserve-delivery-table {display:inline-block; vertical-align: top; margin: 0 0 0 5px}
.normal-delivery-table span { color:#fff; display: inline-block; margin-bottom: 4px; padding: 0px 7px; vertical-align: middle;font-size: 10px;text-align: center; letter-spacing: 0px;line-height: 15px; border-radius: 20px; background: #527d16;text-decoration:none !important}
.dawn-delivery-table span {color:#fff;display: inline-block;margin-bottom: 4px;padding: 0px 7px;vertical-align: middle;font-size: 10px;text-align: center;letter-spacing: 0px;line-height: 15px;border-radius: 20px;background: #599cf2;text-decoration:none !important;}
.direct-delivery-table span { color:#fff; display: inline-block; margin-bottom: 4px; padding: 0px 7px; vertical-align: middle;font-size: 10px;text-align: center; letter-spacing: 0px;line-height: 15px; border-radius: 20px; background: #f66d3a;text-decoration:none !important}
.reserve-delivery-table span {color:#fff; display: inline-block; margin-bottom: 4px; padding: 0px 7px; vertical-align: middle;font-size: 10px;text-align: center; letter-spacing: 0px;line-height: 15px; border-radius: 20px; background: #872900;text-decoration:none !important}
.shopping_cart .cart_pdlist > ul > li .pdcard {padding-right:10px;}
.shopping_cart.payment .cart_panel_default.payment_select_area .payment_select_list.v2 li {width: 50%;}

/* Mypage */
.my_orga .break_out h2 {margin-bottom: 10px;}
em.txt_red_small {color: #ad1901;font-size: 12px;letter-spacing: -1px;}
.my_orga .btn_cancel a.full {float: none; width: 100%;}
.my_orga .disable_point em {letter-spacing: -1px;}

/* Main Layer */
.pop_today.popupLayerNew {position: fixed !important;bottom: auto !important;top: 10% !important;left: 50% !important;margin: 0px !important;margin-left: -150px !important;padding-top: 30px;padding-bottom: 20px;box-shadow: 1px 1px 10px rgba(0,0,0,0.3);background: #fff;z-index: 99999999999;}
.pop_today.popupLayerNew .pop_today_content {overflow-y:auto;overflow-x:hidden;}
.pop_today.popupLayerNew .pop_today_content img {width: 300px !important;height: auto !important;}
.pop_today.popupLayerNew .pop_today_footer {position: absolute;top: 0px;bottom: auto;padding-top: 5px;line-height: 20px;background: #fff;border-bottom: 2px solid #4f473d;}
.pop_today.popupLayerNew .pop_today_footer a {position:relative;display: inline-block; vertical-align: top;}
.pop_today.popupLayerNew .pop_today_footer label {display: inline-block; vertical-align: top;margin-right: 10px;}
.pop_today.popupLayerNew .pop_today_footer .input_check i {top: 1px;}
.pop_today.popupLayerNew .pop_today_footer .input_check span {color: #000;}
.pop_today.popupLayerNew .pop_today_footer img {margin-bottom: 0px !important;width: 20px;height: 20px;}

/* Footer */
.footer .company_info .company_name {display:inline-block;vertical-align:top; color: #949393; font-size: 14px !important;font-weight: bold;padding-top: 7px;margin-top: 5px;margin-bottom: 10px;padding-left: 84px;background: url(../img/logo_pulmuone.png) no-repeat 0 center;}


@media screen and (max-width: 367px) {
    .normal-delivery-table, .dawn-delivery-table, .direct-delivery-table, .reserve-delivery-table {display: block;margin: 5px 0 0 0}
}

/* 임직원 인증하기 20190823 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.group_check_wrap {padding-bottom: 10px;text-align: center;letter-spacing: -1px;}
.group_check_wrap * {color: #000;font-family: 'Noto Sans KR', sans-serif;font-size: 15px;box-sizing: border-box;}
.group_check_wrap h2 {margin-bottom: 30px;font-size: 16px;text-align: left;}
.group_check_wrap h3 {margin-bottom: 30px;font-size: 22px;}
.group_check_wrap h3 span {display: block;font-size: 22px;font-weight: 300;}
.group_check_wrap .g_check_title {margin-bottom: 30px; font-size: 17px;}
.group_check_wrap .g_check_title p {font-weight: normal}
.group_check_wrap .g_check_message.red {color: #ff0000;font-size: 14px;text-align: left;}
.group_check_wrap .check_input {margin: 0 auto 12px;width: 100%;border-bottom: 1px solid #000;text-align: left;}
.group_check_wrap .check_input label {display: block;vertical-align: middle;width:140px;padding-left: 10px;font-weight:700;}
.group_check_wrap .check_input input {vertical-align: middle;width: 100%;height: 44px;padding: 0 10px;border: 0px;}
.group_check_wrap .check_input input:-webkit-input-placeholder {color: #999;}
.group_check_wrap .check_input input:-ms-input-placeholder {color: #999;}
.group_check_wrap .check_input input:placeholder {color: #999;}
.g_check_box {margin-top: 30px;margin-bottom: 15px;padding: 10px 15px 10px;text-align: left;border: 1px solid #555;}
.g_check_box.agree label {display: block;padding-bottom: 10px;border-bottom: 1px solid #000;}
.g_check_box.agree .input_check .label_text {padding:0 0 0 5px;color: #000;font-size: 17px;line-height: 1.5em;font-weight: 600;}
.g_check_box.agree .input_check i {margin-top: 4px;}
.g_check_box.agree > div {padding: 10px 0;}
.g_check_box.agree > div ol + p {margin-top: 15px;font-weight: 700;}
.g_check_box .list_bullet {margin-top: 10px}
.g_check_box .list_bullet li {position: relative; padding-left: 20px;}
.g_check_box .list_bullet li i {position: absolute; left: 0px; top: 0;}
.group_check_wrap .btn_wrap {margin: 20px 0}
.group_check_wrap .btn_confirm {display: inline-block;vertical-align: top; width: 45%; height: 40px; margin: 0 1%;line-height: 36px; border-radius: 30px;color: #fff; font-size: 18px; font-weight: 600; background: #8ea706;}
.group_check_wrap .btn_edit {display: inline-block;vertical-align: top; width: 45%; height: 40px; margin: 0 1%;line-height: 36px; border-radius: 30px;color: #333; font-size: 18px; font-weight: 600; border: 2px solid #000}

/* 종이 쇼핑백 구매 옵션 UI 20191127 */
.category_detail .detail_bottom .option_info .option_list.option_add {
    overflow-y: auto;
    height:150px;
}
.category_detail .detail_bottom .option_info .option_list.option_add > h3{
    font-size: 14px;
    margin-bottom:5px;
}
.category_detail .detail_bottom .option_info .option_list.option_add ul li:first-child{
    margin-top: 0;
}
.category_detail .detail_bottom .option_info .option_list.option_add ul li{
    margin-top: -1px;
}
.category_detail .detail_bottom .option_info .option_list ul li .list_money dd{
    padding-right: 25px !important;
}
.category_detail .detail_bottom .option_info .option_list ul li .btn_list_del{
    width:15px !important;
    height: 15px !important;
    background-size:15px 15px !important;
    top:initial !important;
    bottom:30px !important;
}




/* [S] 202007 올가 이용약관 동의 팝업 */
.layer_pop.terms_agree_layerpop .dim{position:fixed;opacity:.4}
.terms_agree_layerpop .trems_agree_wrap{position:fixed;top:50%;left:50%;width:320px;background:#fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.terms_agree_layerpop .trems_agree_wrap .inner{padding:24px 14px 30px}
.terms_agree_layerpop p,.terms_agree_layerpop .terms_list li{font-size:11px;color:#000;line-height:18px}
.terms_agree_layerpop .terms_title{display:block;height:33px;padding-left:12px;font-size:14px;background:#a37e52;font-weight:400;color:#fff;line-height:34px;letter-spacing:-.5px;-webkit-box-sizing:border-box;box-sizing:border-box}
.terms_agree_layerpop .tems_info_wrap{position:relative;padding-top:24px;text-align:center}
.terms_agree_layerpop .btn_terms_detail{display:inline-block;position:absolute;top:-3px;right:0;min-width:95px;height:22px;padding:0 6px;border:1px solid #dedede;;font-size:10px;color:#666;line-height:22px;text-align:center;letter-spacing:-.5px;-webkit-border-radius:2px;border-radius:2px}
.terms_agree_layerpop .terms_text{display:block;margin-top:15px;font-size:12px;color:#000;line-height:16px}
.terms_agree_layerpop .terms_text:first-child{margin:0}
.terms_agree_layerpop .modify_terms_wrap{border:1px solid #e2e2e2;font-size:0;text-align:left}
.terms_agree_layerpop .terms_area{display:inline-block;width:50%;border-left:1px solid #e2e2e2}
.terms_agree_layerpop .terms_area:first-child{border-left:0}
.terms_agree_layerpop .terms_area strong{display:block;background:#f9f9f9;font-size:10px;color:#666;text-align:center;line-height:27px}
.terms_agree_layerpop .terms_box{overflow:hidden;overflow-y:auto;max-height:82px;padding:10px 9px;font-size:9px;color:#666;line-height:13px}
.terms_agree_layerpop .ip_chk{position:relative;display:inline-block;margin-top:16px}
.terms_agree_layerpop input{position:absolute;top:0;left:0;z-index:-1;border:0;background:0;opacity:0}
.terms_agree_layerpop .ip_chk span{display:inline-block;padding-left:15px;font-size:10px;color:#000;vertical-align:top}
.terms_agree_layerpop .ip_chk span:after{display:block;content:'';position:absolute;top:50%;left:0;width:13px;height:13px;margin-top:-9px;background:url(../img/sp_input.png) 0 0 no-repeat;background-size:100% auto}
.terms_agree_layerpop .ip_chk input:checked + span:after{background-position:0 100%}
.terms_agree_layerpop .btn_wrap{margin-top:7px;font-size:0;text-align:center}
.terms_agree_layerpop .btn_wrap a{display:inline-block;width:auto;min-width:28.716216%;height:35px;padding:0 10px;background-color:#604d44;font-size:13px;color:#fff;line-height:35px;margin-left:8px}
.terms_agree_layerpop .btn_wrap a:first-child{margin-left:0;}
.terms_agree_layerpop .btn_wrap .btn_gray{background-color:#a2a2a2}
.terms_agree_layerpop .btn_wrap .btn_green{width:43.581081%;background-color:#8a993a}
.terms_agree_layerpop .btn_close{position:absolute;top:9px;right:9px;width:15px;height:15px;font-size:1px;color:transparent;background:url(../img/btn_pop_close.png) 0 0 no-repeat;background-size:100% auto;}
/* [E] 202007 올가 이용약관 동의 팝업 */

