﻿﻿@charset "utf-8";

.top_visual {margin-top:5px}
.top_visual img {display:block; width:100%}
.top_visual .reaularly_area{position:relative;}
.top_visual .reaularly_area a{position:absolute;top: 24%;left: 5%;height:auto;border-radius:5px;line-height:18px;}

.top_visual .br_area {margin-top:-1px}
.br_area a, .br_area {display:block}
.br_area img {display:block; width:100%}
.slide_area {position:relative; border-bottom:1px solid #e3ded4}
.orga_swiper_pagination {width: 100%; left:0;}
.pdcard_list  + .subheading {margin-top:20px}

.difference .pdcard_list {border:1px solid #ddd; border-top:0}
.difference .pdcard_list > p img {display:block; width:100%}
.difference .pdcard_list > ul {margin-top:5px}

.orga_pb .section_heading_title {font-size:15px}
.orga_pb .slide_area {border-top:1px solid #ddd}
.orga_pb .detail {margin-top:15px}
.orga_pb .detail li {position:relative; padding-left:70px; border:1px solid #d1b698; border-bottom:0}
.orga_pb .detail li:first-child {border-color:#d4cfad}
.orga_pb .detail li:last-child {border-color:#b7bfa7; border-bottom:1px solid #b7bfa7}
.orga_pb .detail li:before {display:block; content:''; position:absolute; top:0; left:0; width:70px; height:100%; background:#e8caa8; border-right:1px solid #d1b698}
.orga_pb .detail li:first-child:before {background-color:#e6e1ba; border-right:1px solid #d4cfad}
.orga_pb .detail li:last-child:before {background-color:#cbd4b9; border-right:1px solid #d4cfad}
.orga_pb .detail li dl {padding:15px; background:#fff6ec}
.orga_pb .detail li:first-child dl {background-color:#fffdef}
.orga_pb .detail li:last-child dl {background-color:#fafff1}
.orga_pb .detail li dl dt {font-size:14px; color:#333; font-weight:bold}
.orga_pb .detail li dl dd {margin-top:10px; font-size:13px}
.orga_pb .detail li:after {display:block; content:''; position:absolute; top:50%; left:20px; width:30px; height:30px; transform:translate(0,-50%); background:url(../img/ico_orge_pb.png) no-repeat 0 -33px; background-size:30px 105px}
.orga_pb .detail li:first-child:after {background-position:0 0}
.orga_pb .detail li:last-child:after {background-position:0 -69px}



.event_list .pdcard_list{}
.event_list .pdcard_list ul{font-size:0;}
.event_list .pdcard_list ul .pdcard_item{display:inline-block;float:none;vertical-align:top;}
.event_list .pdcard_type02 .pdcard_content {height:auto}
.event_list .pdcard_title {min-height:36px}
.event_list .pdcard_type02 .end_txt {display:inline-block; margin:10px auto 0; width:auto; height:20px; padding:0 20px;  line-height:20px; background:#b0b0b0; border-radius:10px; font-size:13px; color:#fff; font-style:normal}


/* 160428 */
.board_detail_container{}
.board_comment {background:#fff;padding:15px 15px;font-size:14px;}
.board_comment.v2{padding-bottom:0;}
.board_comment.v2>div{border-bottom:1px solid #dfdfdf;}
.total{margin-bottom:5px;color:#999999;}
.total strong{color:#000;}
.board_comment .form_group{margin-bottom:10px;}
.board_comment .comment_list li{position:relative;width:100%;height:100%;padding:12px 15px;border:1px solid #dddddd;margin-bottom:10px;box-sizing:border-box;color:#666666;}
.board_comment .comment_list li .id_date{color:#999999;}
.board_comment .comment_list li em{margin-right:10px;font-style:normal;}
.board_comment .comment_list li .date{}
.board_comment .comment_list li .date:before{display:inline-block;vertical-align:middle;content:"";width:1px;height:11px;background-color:#dfdfdf;margin-right:10px;}
.board_comment .comment_list .id_date{padding-bottom:12px;border-bottom:1px solid #efefef;}
.board_comment .comment_list .contents{padding-top:10px;}
.board_comment .comment_list .delete{position:absolute;top:12px;right:15px;width:13px;height:13px;background:url(../img/comment_delete.png);background-size:13px 13px}
.emtpy{width:100%;height:20px;background:#f1f2f4;border:1px solid #dfdfdf;border-width:1px 0 1px 0;}
.emtpy.v2{border:none;}
.empty{width:100%;height:20px;background:#f1f2f4;border:1px solid #dfdfdf;border-width:1px 0 1px 0;}
.empty.v2{border:none;}
.event_list .pagination {border-bottom:1px solid #ddd;}
.event_list .empty_data{border-bottom:1px solid #ddd;padding-top:5px;padding-bottom:30px;background:#fff;}
.event_list .input_file{margin-bottom:10px}
.event_list .input_file.v2{margin-bottom:5px;}
.event_list .input_file_list li{margin-top:0;margin-bottom:10px;}
.event_list .top{margin-bottom:6px;border-bottom:1px solid #dfdfdf;}

.event_list .pdcard_list .pdcard_textarea{position:relative;font-size:12px;color:#666666;text-align:left;}
.event_list .pdcard_list .pdcard_textarea .id_date{color:#999999;}
.event_list .pdcard_list .pdcard_textarea .id_date p{margin-bottom:5px;}
.event_list .pdcard_list .pdcard_textarea .id_date:after{display:block;content:"";width:100%;height:1px;margin-top:10px;background:#efefef;}
.event_list .pdcard_list .pdcard_textarea .id_date .delete{position:absolute;top:12px;right:15px;width:13px;height:13px;background:url(../img/comment_delete.png);background-size:13px 13px}
.event_list .pdcard_list .pdcard_textarea .contents{padding-top:10px;}

/*logo*/
.brand_shop .brand_list img{vertical-align:top;}
.brand_shop .brand_list .brand01{widwth:44px;height:41px;}
.brand_shop .brand_list .brand02{widwth:31px;height:41px;}
.brand_shop .brand_list .brand03{widwth:43px;height:41px;}
.brand_shop .brand_list .brand04{widwth:39px;height:41px;}
.brand_shop .brand_list .brand05{widwth:49px;height:41px;}
.brand_shop .brand_list .brand06{widwth:39px;height:41px;}
/*logo*/

/*slide*/
.brand_shop .pdcard_list.v2{margin-top:15px;padding-top:20px;border-top:1px solid #ddd;background:#f0f1f3;margin-bottom:12px;}
.brand_shop .pdcard_list.v2 .pdcard{background:#fff;}
.brand_shop .pdcard_list.v2 .pdcard_price{background:#f8f8f8;}


/* brand01{e} */
.brand_shop .top_visual.v2{margin:0;}


/*orgamom*/
.orga_mom{background:#fff}
.orga_mom .contents{padding:15px;}
.orga_mom .contents img{display:block;width:100%}
.orga_mom .contents a{margin-top:15px;}

/*present*/
.present .banner{display:block;width:100%;margin-bottom:15px;}

/*tab_arrow_down*/

/*shop_order*/
.shop_order{overflow:hidden;}
.shop_order .top_visual{padding-bottom:20px;}
.shop_order .top_visual.v3{border-bottom:1px solid #dddddd;}
.shop_order .contents {padding:15px;background:#fff;}
.shop_order .contents img{display:block;width:100%}

.shop_order .board_accordion {margin-bottom:15px;}
.shop_order .board_accordion.v2 {margin-bottom:0;}
.shop_order .board_accordion .title{color:#fff;font-size:15px;font-weight:bold;padding:15px 10px;}
.shop_order .board_accordion .board_panel_inner{border:1px solid #dfdfdf;border-top:none;text-align:center;font-size:15px;padding:15px 10px;background:#fff}
.shop_order .board_accordion .board_container{background:#604d44}
.shop_order .board_accordion .active .board_container{background:#604d44;}
.shop_order .board_accordion .active .board_container:after{width:7px;height:7px;background:url('../img/tab_arrow_up.png') no-repeat;background-size:7px 7px;}
.shop_order .board_accordion .board_container:after{width:7px;height:7px;background:url('../img/tab_arrow_down.png') no-repeat;background-size:7px 7px;}
.shop_order .board_accordion .board_panel_inner strong{color:#333333;}
.shop_order .board_accordion .board_panel_inner em{font-style:normal;font-size:11px;}
.shop_order .board_accordion .board_panel_inner a{position:relative;display:block;margin:15px 0;padding:10px 0;text-align:center;background:#fff;border:1px solid #dddddd;font-size:15px;font-weight:bold;}

.shop_order .board_accordion .board_panel{display:block;}



/*store_order*/
.store_order{overflow:hidden;}
.store_order .top_visual{position:relative;overflow:hidden;padding:40px 15px 80px;background:url(../img/img_store_order.jpg) no-repeat 0 0;background-size:100% auto}
.store_order .top_visual .visual_info{text-align:center}
.store_order .top_visual .visual_info>strong{display:block;overflow:hidden;width:242px;height:109px;margin:0 auto 24px;background:url(../img/txt_store_order.png) no-repeat 0 0;background-size:242px 109px;text-indent:-999em;}
.store_order .top_visual .visual_info>.btn{padding:0 45px;border-radius:3px;font-size:13px;font-weight:bold;}


.store_order .top_visual .store_order_adr{padding:15px 10px;background-color:#fff;}
.store_order .top_visual .store_order_adr>dl{text-align:left}
.store_order .top_visual .store_order_adr>dl dt{font-size:12px;font-weight:bold;color:#000;line-height:12px;}
.store_order .top_visual .store_order_adr>dl dd{margin-top:7px;font-size:11px;color:#666;line-height:11px;letter-spacing:-1px;}
.store_order .top_visual .store_order_adr>p{margin-top:10px;padding:15px 0 10px;background-color:#f2f2f2;font-size:12px;color:#666;line-height:17px;letter-spacing:-1px;}
/*.store_order .top_visual .store_order_adr>p strong{font-size:14px;font-weight:bold;color:#000;}*/

.store_order .top_visual .store_order_adr>p strong{color:#8a9c20;font-size:16px;text-decoration:underline;}

.store_order .top_visual .store_order_adr>p a{display:inline-block;font-size:16px;font-weight:bold;color:#8db044;}
.store_order .top_visual .store_order_adr>p a em{ border-bottom: 1px solid #8db044;/* color: #8db044; font-size: 16px; */}
.store_order .top_visual .store_order_adr>p a em:before{display: inline-block; content:''; position: relative; top: -1px; left: 0;  width: 7px; height: 10px; margin-right:3px;background: url('../img/ico_card_getshop_marker.png') no-repeat 0 0; background-size: 7px 10px; vertical-align: middle;  }

.store_order .top_visual .store_order_adr .btn_wrap{overflow:hidden;margin-top:10px;}
.store_order .top_visual .store_order_adr .btn_wrap .btn{float:right;width:49%;font-size:12px;font-weight:bold;}
.store_order .top_visual .store_order_adr .btn_wrap.v2 .btn{width:100%;}
.store_order .top_visual .store_order_adr .btn_wrap .btn:first-child{float:left;}


.store_order .top_visual .store_order_adr .sel_shop{margin-top:10px;}
.store_order .top_visual .store_order_adr .sel_shop p{margin-bottom:10px;font-size:12px;color:#666;}
.store_order .top_visual .store_order_adr .sel_shop .btn{display:block;font-size:12px;}
.store_order .top_visual .store_order_adr .sel_shop .input_select{font-size:12px;}

.store_order .top_visual .store_step{position:absolute;bottom:0;left:0;width:100%;height:54px;background-color:rgba(0,0,0,0.5);}
.store_order .top_visual .store_step ul{height:54px;font-size:0;text-align:center;}
.store_order .top_visual .store_step ul:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.store_order .top_visual .store_step ul li{display:inline-block;position:relative;margin-left:12px;padding-left:19px;font-size:11px;color:#fff;vertical-align:middle;}
.store_order .top_visual .store_step ul li:first-child{margin-left:0;padding-left:0;}
.store_order .top_visual .store_step ul li:after{display:block;content:'';position:absolute;top:50%;left:0;width:7px;height:13px;background:url(../img/bul_arr3.png) no-repeat 0 0;background-size:7px 13px;transform:translateY(-50%);}
.store_order .top_visual .store_step ul li:first-child:after{display:none;}
.store_order .top_visual .store_step ul li span{display:inline-block;width:34px;height:34px;margin-right:7px;vertical-align:middle;}
.store_order .top_visual .store_step ul li em{display:inline-block;vertical-align:middle;}
.store_order .top_visual .store_step ul li .ico_store_step{background:url(../img/lst_store_order.png) no-repeat 0 0;background-size:34px 34px;}
.store_order .top_visual .store_step ul li .ico_store_step2{background:url(../img/lst_store_order2.png) no-repeat 0 0;background-size:34px 34px;}
.store_order .top_visual .store_step ul li .ico_store_step3{background:url(../img/lst_store_order3.png) no-repeat 0 0;background-size:34px 34px;}

.store_order .store_order_info{margin-top:5px;}
.store_order .pageheader +.store_order_info{margin-top:0;}


.store_order .store_order_heading { position: relative; padding-top:10px;padding-bottom:5px;font-size: 22px; text-align: center; letter-spacing: -1px; }
.store_order .store_order_heading em {display:block;margin-bottom:2px;color:#b2b2b4;font-size:12px;font-style:normal;text-transform:uppercase;}
.store_order .store_order_heading .section_title { display: inline-block; border-bottom: 2px solid #151515; color: #141414; font-size: 22px; line-height: 26px; letter-spacing: -2px; }
.store_order .store_order_heading .section_title .ico { vertical-align: top; }
.store_order .store_order_heading .section_title .user_name { color: #a0ab36; }
.store_order .store_order_heading p{margin-top:14px;font-size:11px;color:#666;font-weight:normal;}
.store_order .store_order_heading .btn_more{display:block;position:absolute;top:10px;right:15px;width:33px;height:33px;line-height:33px;font-family:helvetica;font-size:10px;color:#fff;background-color:#887564;border-radius:50%;text-align:center;}

.store_order .pdcard_list{background-color:transparent;}
.store_order .pdcard_list .pdcard_item{background-color:#fff;}
/* .store_order .pdcard_list .pdcard_item:first-child{padding-top:0;} */

.store_order .store_order_bnr{position:relative;}
.store_order .store_order_bnr.v2{margin-top:10px;}
.store_order .store_order_bnr a{display:block;}
.store_order .store_order_bnr a img{display:block;}
.store_order .store_order_bnr.bnr_slide{margin-bottom:5px}
.store_order .store_order_bnr + .subheading{margin-top:5px;}
.store_order .store_order_bnr .swiper-container{}
.store_order .store_order_bnr .swiper-wrapper{}
.store_order .store_order_bnr .swiper-slide{}
.store_order .store_order_bnr .swiper-slide img{display:block;width:100%;}
.store_order .store_order_bnr .orga_swiper_pagination{position:absolute;bottom:0;left:0;width:100%;}
.store_order .store_order_guide{margin-top:5px;}
.store_order .store_order_guide .store_order_like{padding:25px 15px 20px;background-color:#fce0c8;}
.store_order .store_order_guide .store_order_like>dt{font-size:21px;color:#534a47;font-weight:500;line-height:20px;text-align:center;letter-spacing:-1px;}
.store_order .store_order_guide .store_order_like>dd{}
.store_order .store_order_guide .store_order_like>dd dl{margin-top:16px;}
.store_order .store_order_guide .store_order_like>dd dt{background-color:#f3744a;font-size:12px;font-weight:bold;color:#fff;line-height:23px;text-align:center}
.store_order .store_order_guide .store_order_like>dd dd{margin-top:15px;}
.store_order .store_order_guide .store_order_like>dd dd ul{overflow:hidden;}
.store_order .store_order_guide .store_order_like>dd dd ul li{float:left;position:relative;width:33.3%;font-size:12px;color:#666;line-height:15px;text-align:center;letter-spacing:-1px;}
.store_order .store_order_guide .store_order_like>dd dd ul li:after{display:block;content:'';position:absolute;top:2px;bottom:2px;left:0;border-left:1px dashed #b4a79c;}
.store_order .store_order_guide .store_order_like>dd dd ul li:first-child:after{display:none;}
.store_order .store_order_guide .store_order_like>dd dd ul li span{display:block;width:39px;height:34px;margin:0 auto 15px;}
.store_order .store_order_guide .store_order_like>dd dd ul li .ico_like{background:url(../img/lst_like.png) no-repeat 0 0;background-size:39px 34px}
.store_order .store_order_guide .store_order_like>dd dd ul li .ico_like2{background:url(../img/lst_like2.png) no-repeat 0 0;background-size:39px 34px}
.store_order .store_order_guide .store_order_like>dd dd ul li .ico_like3{background:url(../img/lst_like3.png) no-repeat 0 0;background-size:39px 34px}

.store_order .store_order_guide .lst_caution{padding:17px 15px 26px;}
.store_order .store_order_guide .lst_caution dt{font-size:14px;font-weight:bold;color:#000;line-height:20px;letter-spacing:-1px;}
.store_order .store_order_guide .lst_caution dd{margin-top:10px;}
.store_order .store_order_guide .lst_caution dd ol{}
.store_order .store_order_guide .lst_caution dd ol li{margin-top:3px;padding-left:13px;font-size:12px;color:#666;line-height:17px;text-indent:-13px}
.store_order .store_order_guide .lst_caution dd ol li:first-child{margin-top:0;}

.store_order .lst_option{}
.store_order .lst_option .form_group{display:none;}
.store_order .lst_option .form_group.active{display:block;}
.store_order .lst_option .form_group .input_select{display:none;}
.store_order .lst_option .form_group .input_select.active{display:block;}
.store_order .lst_option .input_group{}
.store_order .lst_option .palnning_title{padding-top:10px;font-size:14px;font-weight:bold;color:#000}
.store_order .lst_option .palnning_date{padding-top:5px;font-size:12px;color:#666;line-height:12px;}

.store_order .board_accordion{display:none;}
.store_order .board_accordion.active{display:block;}
.store_order .board_accordion .board_item{padding:15px;}

.store_order .board_accordion .board_container{background:#604d44;border:1px solid #493a33;}
.store_order .board_accordion .board_container:after{width:7px;height:7px;background:url('../img/tab_arrow_down.png') no-repeat;background-size:7px 7px;}
.store_order .board_accordion .active .board_container:after{width:7px;height:7px;background:url('../img/tab_arrow_up.png') no-repeat;background-size:7px 7px;}
.store_order .board_accordion .title{padding:0 10px;color:#fff;font-size:14px;font-weight:bold;line-height:41px;}
.store_order .board_accordion .title span{display:inline-block;position:relative;padding-left:5px;margin-left:3px;}
.store_order .board_accordion .title span:after{display:block;content:'';position:absolute;top:50%;left:0;width:2px;height:12px;margin-top:-7px;background-color:#fff;}

.store_order .board_accordion .board_panel{display:block;padding:15px 10px;border:1px solid #dfdfdf;border-top:0;background-color:#fff;}
.store_order .address{letter-spacing:-1px;}
.store_order .address .panel_default{padding:0;border:0;background:none;}
.store_order .address .address_info{}
.store_order .address .address_info dt{font-size:12px;font-weight:bold;color:#000;}
.store_order .address .address_info dd{margin-top:3px;font-size:11px;color:#666;}
.store_order .address .btn{margin-top:10px;font-weight:bold;letter-spacing:0;}
.store_order .address .change{margin-top:10px;margin-bottom:5px;text-align:center;font-size:11px;color:#999999;}



.store_order .lst_category{}
.store_order .lst_category ul{background-color:#fff;border:1px solid #dfdfdf;border-width:0 0 1px 1px;}
.store_order .lst_category ul:after{display:block;content:'';clear:both;}
.store_order .lst_category ul li{float:left;width:25%;height:55px;border:1px solid #dfdfdf;border-width:1px 1px 0 0;text-align:center}
.store_order .lst_category ul li a{display:block;position:relative;height:100%;padding-top:6px;font-size:12px;font-weight:bold;color:#999;}
.store_order .lst_category ul li.active a:after{display:block;content:'';position:absolute;top:-1px;bottom:-1px;left:-1px;right:-1px;border:1px solid red;}
.store_order .lst_category ul li span{display:block;height:22px;margin:0 auto 5px;background:url(../img/img_best_tab.png) no-repeat;background-size:30px 300px;}
.store_order .lst_category ul li em{font-style: normal;}
.store_order .lst_category ul li .best_category{width:17px;background-position:0 0;}
.store_order .lst_category ul li .best_category2{width:18px;background-position:0 -25px;}
.store_order .lst_category ul li .best_category3{width:22px;background-position:0 -50px;}
.store_order .lst_category ul li .best_category4{width:22px;background-position:0 -75px;}
.store_order .lst_category ul li .best_category5{width:20px;background-position:0 -100px;}
.store_order .lst_category ul li .best_category6{width:27px;background-position:0 -125px;}
.store_order .lst_category ul li .best_category7{width:17px;background-position:0 -150px;}
.store_order .lst_category ul li .best_category8{width:22px;background-position:0 -175px;}
.store_order .lst_category ul li .best_category9{width:20px;background-position:0 -200px;}
.store_order .lst_category ul li .best_category10{width:20px;background-position:0 -225px;}
.store_order .lst_category ul li .best_category11{width:29px;background-position:0 -250px;}
.store_order .lst_category ul li .best_category12{width:18px;background-position:0 -275px;}







/* popup */
.shop_order .board_item{position:relative;}
.shop_order .board_accordion .board_panel_inner .shop_pop{display:none;position:absolute;z-index:2;left:0;width:100%;top:28%;padding:15px 5px;background:#f1f1f1;border:1px solid #dfdfdf;text-align:center;}
.shop_order .board_accordion .board_panel_inner .shop_pop.open{display:block;}
.shop_order .board_accordion .board_panel_inner .shop_pop .close{position:absolute;;top:10px;right:10px;width:25px;height:25px;background:url(../img/ico_layer_close.png) no-repeat 50% 50%;background-size:15px 15px; cursor: pointer;}
.shop_order .board_accordion .board_panel_inner .shop_pop > strong{display:block;margin-bottom:15px;}
.shop_order .board_accordion .board_panel_inner .shop_pop .shop_list{background:#fff;padding:10px;border:1px solid #dfdfdf;text-align:left;}
.shop_order .board_accordion .board_panel_inner .shop_pop .shop_list li{padding-left:32px;color:#999;font-weight:normal;font-size:13px;}
.shop_order .board_accordion .board_panel_inner .shop_pop .shop_list li{margin-bottom:10px;}
.shop_order .board_accordion .board_panel_inner .shop_pop .shop_list li:last-child{margin-bottom:0;}
.shop_order .board_accordion .board_panel_inner .shop_pop .shop_list li>strong{margin-left:-31px;margin-right:5px;}
/* //shop_popup */

.shop_order .board_panel_inner .advantage{text-align:left;overflow:hidden;padding-bottom:15px;}
.shop_order .board_panel_inner dt{font-weight:bold;color:#000;margin-bottom:7px;}
.shop_order .board_panel_inner .advantage dd{position:relative;float:left;width:33.33%;text-align:center;font-size:13px;}
.shop_order .board_panel_inner .advantage dd:after{position:absolute;top:12px;right:0;content:"";width:1px;height:50px;background:#dfdfdf;}
.shop_order .board_panel_inner .advantage dd:last-child:after{width:0;height:0;}
.shop_order .board_panel_inner .advantage dd img{margin:0 auto 5px auto;vertical-align:top;}
.shop_order .board_panel_inner .advantage dd .shop_ico01{width:35px;height:46px;}
.shop_order .board_panel_inner .advantage dd .shop_ico02{width:36px;height:46px;}
.shop_order .board_panel_inner .advantage dd .shop_ico03{width:35px;height:46px;}
.shop_order .board_panel_inner .advantage dd .shop_ico04{width:31px;height:46px;}
.shop_order .board_panel_inner .advantage dd .shop_ico05{width:32px;height:46px;}
.shop_order .board_panel_inner .advantage dd .shop_ico06{width:26px;height:46px;}


.shop_order .board_panel_inner .caution{margin-top:15px;text-align:left;}
.shop_order .board_panel_inner .caution ol{padding-left:15px;}
.shop_order .board_panel_inner .caution ol li{list-style-type:decimal;font-size:13px;margin-bottom:10px;}
.shop_order .board_panel_inner .caution ol li:last-child{margin-bottom:0;}

.shop_order .address{letter-spacing:-1px;}
.shop_order .address .title{background:#604d44;font-weight:bold;color:#fff;padding:15px 10px;font-size:15px;}
.shop_order .address .container{padding:15px 10px;border:1px solid #dfdfdf;border-top:0;text-align:center;font-size:14px;}
.shop_order .btn1{display:block;margin-top:10px;padding:10px 0;text-align:center;background:#fff;border:1px solid #dddddd;font-size:15px;font-weight:bold;}
.shop_order .address .container.v2{text-align:left;border-bottom:0;font-size:14px;}
.shop_order .address .container.v3{border-bottom:1px solid #dddddd;}
.shop_order .address .container.v3 a{margin-bottom:10px;}
.shop_order .address .container.v3>div{text-align:center;font-size:13px;color:#999999;}
.shop_order .address .container.v2>strong{font-size:15px;}
.shop_order .address .container.v2 .my_address{width:100%;height:100%;margin-top:10px;border:1px solid #dfdfdf;background-color:#f8f8f8;text-align:center;}
.shop_order .address .container.v2 .my_address ul{overflow:hidden;padding:15px 10px;background-color:#fff;border-bottom:1px solid #dfdfdf;}
.shop_order .address .container.v2 .my_address li:first-child{float:left;width:65%;}
.shop_order .address .container.v2 .my_address li:last-child{float:right;width:30%;}
.shop_order .address .container.v2 .my_address li:last-child a{margin-top:0;}
.shop_order .address .container.v2 .my_address>span{display:block;padding:15px 0;margin:0 10px;border-bottom:1px solid #dfdfdf;font-weight: bold;}
.shop_order .address .container.v2 .my_address .input_check_group{margin:10px 0 15px 0;}

.shop_order .address .container.v2 dl {overflow:hidden;}
.shop_order .address .container.v2 dl dt{margin-bottom:10px;}
.shop_order .address .container.v2 dd:nth-child(2){float:left;width:65%;vertical-align:middle}
.shop_order .address .container.v2 dd:nth-child(3){float:right;width:30%;vertical-align:middle}
.shop_order .address .container.v2 dd:nth-child(3) a {display:block;margin-top:0;}
.shop_order .address .container.v2 .input_check_group {margin-top:20px !impo;}

.shop_order .address .go_shopping{border:1px solid #dddddd;border-top:0;padding:10px}
.shop_order .address .go_shopping .btn2{display:block;padding:10px 0;text-align:center;background:#9fb23a;color:#fff;font-size:16px;font-weight:bold;}
.shop_order .address .delivery{background:#f8f8f8;border:1px solid #dfdfdf;border-width:0 1px 1px 1px;text-align:center;font-size:12px;padding:15px 0;}
.shop_order .address .delivery p{font-size: 14px;font-weight: bold;}

.shop_order .address .delivery>span{display:block;margin:0 10px;padding-bottom:15px;border-bottom:1px solid #dfdfdf;}
.shop_order .address .delivery .input_check_group{padding-top:10px;}

.shop_order .address .delivery.v2{border-bottom:0;}
.shop_order .address .delivery strong{color:#8a9c20;font-size:16px;text-decoration:underline;}
/*.shop_order .address .delivery em{font-style:normal;font-weight:bold;color:#333333;font-size:13px;}*/
.shop_order .address .delivery em { border-bottom: 1px solid #8db044; color: #8db044; font-size: 16px; }
.shop_order .address .delivery em:before{display: inline-block; content:''; position: relative; top: -1px; left: 0;  width: 7px; height: 10px; margin-right:3px;background: url('../img/ico_card_getshop_marker.png') no-repeat 0 0; background-size: 7px 10px; vertical-align: middle;  }
.shop_order .address .container .input_select{width:100%;}

.shop_order .panel_default{border-top:1px solid #dddddd;}
.shop_order .panel_default.v2{border-bottom:0;}
.shop_order .panel_default.v3{background:#fff;border:1px solid #dfdfdf;border-width:0 1px 1px 1px;}
.shop_order .change{margin-top:10px;margin-bottom:5px;text-align:center;font-size:11px;color:#999999;}


.shop_order .caution_box {  }
.shop_order .caution_box .caution{margin-top:15px;text-align:left;}
.shop_order .caution_box .caution dt{font-weight:bold;color:#000;margin-bottom:7px;}
.shop_order .caution_box .caution ol{padding-left:15px;}
.shop_order .caution_box .caution ol li{list-style-type:decimal;font-size:13px;margin-bottom:10px;}
.shop_order .caution_box .caution ol li:last-child{margin-bottom:0;}

/* shop_order_index */
.shop_order .shop_order_index { padding-top: 5px; }
.shop_order .shop_order_index .shop_order_index_box { position: relative; }
.shop_order .shop_order_index .shop_order_index_bg { width: 100%; vertical-align: top; }
.shop_order .shop_order_index .shop_order_index_menu { position: absolute; bottom: 4.06%; left: 5%; right: 5%; }
.shop_order .shop_order_index .shop_order_index_menu ul { overflow: hidden; }
.shop_order .shop_order_index .shop_order_index_menu ul li { float: left; width: 50%; vertical-align: bottom; }
.shop_order .shop_order_index .shop_order_index_menu ul li a { display: block; }
.shop_order .shop_order_index .shop_order_index_menu ul li a img { width: 100%; vertical-align: top; }


/* fm_main */
.fm_main{}

.fm_main .orga_promise{padding:25px 20px 20px;background:url(../img/bg_fm_promise.png) no-repeat 0 0;background-size:100% 100%;}
.fm_main .orga_promise .promise_title{}
.fm_main .orga_promise .promise_title img{display:block;width:90%;max-width:180px;margin:0 auto;}
.fm_main .orga_promise .slide_temp{position:relative;margin-top:20px;}
.fm_main .orga_promise .slide_temp img{width:100%;}
.fm_main .orga_promise .slide_temp .orga_swiper_pagination{bottom:10px !important;}
.fm_main .orga_promise .slide_temp .swiper-button-prev,.fm_main .orga_promise .slide_temp .swiper-button-next{width:12px;height:23px;margin-top:-12px;opacity:1 !important;}
.fm_main .orga_promise .slide_temp .swiper-button-next{background:url(../img/ico_chevron_left2_active.png) no-repeat 0 0;background-size:12px 23px;}
.fm_main .orga_promise .slide_temp .swiper-button-prev{background:url(../img/ico_chevron_right2_active.png) no-repeat 0 0;background-size:12px 23px;}
.fm_main .orga_promise .slide_temp .swiper-button-prev.swiper-button-disabled{background:url(../img/ico_chevron_left2.png) no-repeat 0 0;background-size:12px 23px;}
.fm_main .orga_promise .slide_temp .swiper-button-next.swiper-button-disabled{background:url(../img/ico_chevron_right2.png) no-repeat 0 0;background-size:12px 23px;}

.fm_main .fm_visual{position:relative;}
.fm_main .fm_visual .fm_visual_tab{overflow:hidden;position:absolute;top:15px;left:0;width:100%;padding:0 15px;z-index:2;}
.fm_main .fm_visual .fm_visual_tab li{float:left;width:25%;line-height:41px;text-align:center;}
.fm_main .fm_visual .fm_visual_tab li a{display:block;height:100%;background-color:rgba(0,0,0,0.4);font-size:14px;color:#fff;border:1px solid rgba(255,255,255,0.3);}
.fm_main .fm_visual .fm_visual_tab li a.active{background-color:#9fb23a;font-weight:bold;}
.fm_main .fm_visual .slide_temp{position:relative;}
.fm_main .fm_visual .slide_temp img{display:block;width:100%;}
.fm_main .fm_visual .slide_temp .fm_visual_txt{position:absolute;top:50%;left:0;width:100%;transform:translate(0,-50%);text-align:center;}
.fm_main .fm_visual .slide_temp .fm_visual_txt span{font-size:14px;font-weight:bold;color:#fff;}
.fm_main .fm_visual .slide_temp .fm_visual_txt p{margin-top:18px;font-size:18px;font-weight:bold;color:#fff;line-height:24px;}
.fm_main .fm_visual .slide_temp .fm_visual_txt .btn_fm_visual{display:inline-block;margin-top:32px;padding:0 45px;background-color:#89a831;border:1px solid #a2c348;border-radius:33px;font-size:14px;color:#fff;font-weight:bold;line-height:31px;}
.fm_main .fm_visual .slide_temp .orga_swiper_pagination .swiper-pagination-bullet-active{background-color:#fff;}

.fm_main .orga_find{padding:15px;}
.fm_main .orga_find>dl{}
.fm_main .orga_find>dl>dt{font-size:15px;font-weight:bold;color:#000;text-align:center;line-height:20px;}
.fm_main .orga_find>dl>dt span{display:block;font-size:12px;font-weight:bold;color:#999;}
.fm_main .orga_find>dl>dd{margin-top:12px;}
.fm_main .orga_find>dl>dd ul{overflow:hidden;}
.fm_main .orga_find>dl>dd ul li{float:left;width:49%;margin-top:10px;}
.fm_main .orga_find>dl>dd ul li:nth-child(1),.fm_main .orga_find>dl>dd ul li:nth-child(2){margin-top:0;}
.fm_main .orga_find>dl>dd ul li:nth-child(2n+2){float:right;}
.fm_main .orga_find>dl>dd ul li>img{display:block;width:100%;}
.fm_main .orga_find>dl>dd .txt_box{position:relative;padding:10px;border:1px solid #ddd;}
.fm_main .orga_find>dl>dd .txt_box:after{display:block;content:'';position:absolute;top:-10px;left:50%;width:19px;height:10px;margin-left:-10px;background:url(../img/ico_triangle.png) no-repeat 0 0;background-size:19px 10px;}
.fm_main .orga_find>dl>dd .txt_box dl{text-align:center}
.fm_main .orga_find>dl>dd .txt_box dt{}
.fm_main .orga_find>dl>dd .txt_box dt img{display:block;width:55px;margin:0 auto;}
.fm_main .orga_find>dl>dd .txt_box dd{margin-top:5px;font-size:15px;font-weight:bold;color:#000;}
.fm_main .orga_find>dl>dd .txt_box .fm_view{display:block;margin-top:10px;border:1px solid #ddd;font-size:12px;font-weight:bold;color:#000;line-height:24px;text-align:center;}


.fm_main .fm_like{}
.fm_main .fm_like img{display:block;width:100%;}


/* orgamom_join */
.orga_mom.member .orgamom_join_top{width:100%;height:11px;background:url(../img/orgamom_bg_top.png) no-repeat;background-size:100% auto;margin-bottom:-1px;}
.orga_mom.member .orgamom_join_middle{padding:0 16px 3px 16px;width:100%;background:url(../img/orgamom_bg_middle.png) repeat-y;background-size: 100% auto;}
.orga_mom.member .orgamom_join_bottom{width:100%;height:13px;background:url(../img/orgamom_bg_bottom.png) no-repeat;background-size:100% auto;margin-bottom:-1px;}


.orga_mom.member .orgamom_join_middle img{width:174px;height:33px;margin: 10px auto 0 auto}
.orga_mom.member .contents.member{background:#f0ebd5;text-align:center;font-size:13px;}

.orga_mom.member .contents>a{display:block;margin-top:0;}
.orga_mom.member .contents>a>img{dispaly:block;}
.orga_mom.member .contents>a:first-child>img{margin-bottom:15px;}

.orga_mom.member .contents.member .info{margin-bottom:10px;}
.orga_mom.member .contents.member .info>img{display:inline-block;padding:0;margin:0;width:48px;height:47px;vertical-align:middle;margin-right:10px;}
.orga_mom.member .contents.member .info p{display:inline-block;vertical-align:middle;text-align:left;margin-right:28px;font-size:13px;}
.orga_mom.member .contents.member .info .btn{display:inline-block;margin: 10px 0;vertical-align:middle;font-size:13px;line-height:22px;}

.orga_mom.member .contents.member .table_default th{font-weight:bold;color:#333333;}
.orga_mom.member .contents.member .table_default table{border-left:none;border-right:none;}


.orga_mom.member .contents.v2{text-align:center;font-size:13px;}
.orga_mom.member .contents.v2 .coupon{margin-top:15px;padding:15px;width:100%;background:#fafafa;border:1px solid #dfdfdf;}
.orga_mom.member .contents.v2 .coupon dl:first-child dt{margin-bottom:15px;}
.orga_mom.member .contents.v2 .coupon dl:first-child .step{overflow:hidden;margin-bottom:15px;}
.orga_mom.member .contents.v2 .coupon dl:first-child .step li{float:left;width:25%;}
.orga_mom.member .contents.v2 .coupon dl:first-child .step li img{width:76px;height:76px;margin:0 auto;}
.orga_mom .txt{text-align:left;border-bottom:1px solid #dfdfdf;padding: 10px 0 10px 0;}
.orga_mom .txt li{margin-bottom:10px;background:url(../img/list_deco.png) no-repeat 0 4px;background-size:8px 8px;padding-left:15px;font-size:13px;;}
.orga_mom .txt li em{color:#999999;font-style:normal;}


.orga_mom.member .contents.v2 .coupon dl:nth-child(2){margin-top:15px;}
.orga_mom.member .contents.v2 .coupon dl:nth-child(2) dt{margin-bottom:13px;}
.orga_mom.member .contents.v2 .coupon dl:nth-child(2) dd .benefit{overflow:hidden;}
.orga_mom.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li{float:left;width:50%; margin: -20px 0 0 0;}
.orga_mom.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li img{width:68px;height:68px;margin:20px auto 10px auto;}
.orga_mom.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li:nth-child(3) img, .orga_mom.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li:last-child img{margin-top:20px;}


.orga_mom .panel_tab{padding:10px 15px;background:#f1f2f4;}
.orga_mom .panel_tab .orgamom_tab{width:100%;height:53px;border:1px solid #d2d2d2;background:#fff;}
.orga_mom .panel_tab .orgamom_tab li{float:left;padding:10px 0;width:25%;height:100%;text-align:center;border-left:1px solid #dfdfdf;}
.orga_mom .panel_tab .orgamom_tab li:first-child{border-left:none;}
.orga_mom .panel_tab .orgamom_tab li a{display:block;font-size:13px;margin-top: 8px;color:#999999;}
.orga_mom .panel_tab .orgamom_tab li a:last-child{}
.orga_mom .panel_tab .orgamom_tab li a strong{font-size:15px;}
.orga_mom .panel_tab .orgamom_tab li.acitve{background:url(../img/orgamom_tab_active.png);background-size:100% 100%;}
.orga_mom .panel_tab .orgamom_tab li.acitve a{color:#505050;}
.orga_mom .panel_tab .orgamom_tab li.acitve a strong{color:#d95d46;}

.orga_mom .orgamom_tab_content{}
.orga_mom .orgamom_tab_content>ul{}
.orga_mom .orgamom_tab_content>ul>li{display:none;}
.orga_mom .orgamom_tab_content>ul>li:first-child{display:block;}
.orga_mom .top_visual{padding:0;margin:0;padding-bottom:20px;background:#f5f6f8;}
.orga_mom .orgamomheading{background:#f4c9bf url(../img/orgmom_title_pattern.png);text-align:left;border:1px solid #dcb3b1;padding:10px 15px;color:#573f33;font-size:13px;}
.orga_mom .contents{font-size:13px;color:#666666;}
.orga_mom .contents .coupon_slide{position:relative;margin-top:15px;border:1px solid #dddddd;padding:15px 33px;}

.orga_mom .contents .coupon_slide .slide_temp{}

.orga_mom .contents .swiper-container{margin-bottom:10px;}
.orga_mom .contents .orga_swiper_pagination{position:absolute;bottom:0;}

.orga_mom .contents .orgamom_coupon_list {margin-top:15px;border:1px solid #dddddd;padding:15px 15px 5px 5px}
.orga_mom .contents .orgamom_coupon_list ul { overflow: hidden;}
.orga_mom .contents .orgamom_coupon_list ul li { float: left; width: 100%; padding:0 0 10px 10px;}
.orga_mom .contents .orgamom_coupon_list ul li a { display: block; margin:0;}
.orga_mom .contents .orgamom_coupon_list ul li a img { width: 100%; vertical-align: top; }

.orga_mom .txt.infant{margin-top:10px;border-bottom:none;}
.orga_mom .pdcard_list{background:#f5f6f8;}
.orga_mom .pdcard_list ul{margin-bottom:10px}
.orga_mom .pdcard_list .more{width:100%;border-top:1px solid #dfdfdf;}
.orga_mom .pdcard_list .more a{display:block;margin-top:10px;padding:10px 0;text-align:center;background:#fff;border:1px solid #ddd;font-size:13px;color:#666666;font-weight:bold;}

.orga_mom.join{background:#f5f6f8;}
.orga_mom.join .orgamomheading.v2{margin-top:5px;}
.orga_mom.join .contents{background:#fff;}
.orga_mom.join .contents .agree{margin-top:0;}
.orga_mom.join .coupon_slide{padding-left:15px;}
.orga_mom.join .coupon_slide .input_check{font-size:13px;}
.orga_mom.join .coupon_slide strong{text-decoration:underline;}

.orga_mom.join .form {padding-bottom:10px;border-bottom:1px solid #dfdfdf;margin-bottom:10px;}
.orga_mom.join .form.v2{margin-bottom:20px;}
.orga_mom.join .form h3{margin-bottom:10px;color:#000;font-size:15px;}
.orga_mom.join .form span{color:#999999;}
.orga_mom.join .form.v2 .input_radio{width:100%;}
.orga_mom.join .form .input_radio.v2{margin-top:10px;margin-bottom:10px;}
.orga_mom.join .form.v3 .input_text{margin-top:0;}
.orga_mom.join .form.v3.m{margin-bottom:20px;}
.orga_mom.join .form.v2.m .input_text:nth-child(2){margin-bottom:5px;}

.orga_mom.join .list_receive{overflow:hidden;}
.orga_mom.join .list_receive li{margin-top:5px;}
.orga_mom.join .list_receive li:first-child{margin-top:0;}
.orga_mom.join .list_receive li>span{display:inline-block;width:100px;line-height:18px;vertical-align:middle;}
.orga_mom.join .list_receive li label{margin-right:10px;}

.orga_mom.join .txt {border-bottom:none;}
.orga_mom.join .txt li{margin-bottom:0;}
.orga_mom.join a{display:block;}

/* 풀비타클럽가입추가2017-03-07박순욱 */
.Fulvita_Club{background:#fff}
.Fulvita_Club .contents{padding:15px;}
.Fulvita_Club .contents img{display:block;width:100%}
.Fulvita_Club .contents a{margin-top:15px;}

.Fulvita_Club.member .orgamom_join_top{width:100%;height:11px;background:url(../img/orgamom_bg_top.png) no-repeat;background-size:100% auto;margin-bottom:-1px;}
.Fulvita_Club.member .orgamom_join_middle{padding:0 16px 3px 16px;width:100%;background:url(../img/orgamom_bg_middle.png) repeat-y;background-size: 100% auto;}
.Fulvita_Club.member .orgamom_join_bottom{width:100%;height:13px;background:url(../img/orgamom_bg_bottom.png) no-repeat;background-size:100% auto;margin-bottom:-1px;}


.Fulvita_Club.member .orgamom_join_middle img{width:174px;height:33px;margin: 10px auto 0 auto}
.Fulvita_Club.member .contents.member{background:#f0ebd5;text-align:center;font-size:13px;}

.Fulvita_Club.member .contents>a{display:block;margin-top:0;}
.Fulvita_Club.member .contents>a>img{dispaly:block;}
.Fulvita_Club.member .contents>a:first-child>img{margin-bottom:15px;}

.Fulvita_Club.member .contents.member .info{margin-bottom:10px;}
.Fulvita_Club.member .contents.member .info>img{display:inline-block;padding:0;margin:0;width:48px;height:47px;vertical-align:middle;margin-right:10px;}
.Fulvita_Club.member .contents.member .info p{display:inline-block;vertical-align:middle;text-align:left;margin-right:28px;font-size:13px;}
.Fulvita_Club.member .contents.member .info .btn{display:inline-block;margin: 10px 0;vertical-align:middle;font-size:13px;line-height:22px;}

.Fulvita_Club.member .contents.member .table_default th{font-weight:bold;color:#333333;}
.Fulvita_Club.member .contents.member .table_default table{border-left:none;border-right:none;}


.Fulvita_Club.member .contents.v2{text-align:center;font-size:13px;}
.Fulvita_Club.member .contents.v2 .coupon{margin-top:15px;padding:15px;width:100%;background:#fafafa;border:1px solid #dfdfdf;}
.Fulvita_Club.member .contents.v2 .coupon dl:first-child dt{margin-bottom:15px;}
.Fulvita_Club.member .contents.v2 .coupon dl:first-child .step{overflow:hidden;margin-bottom:15px;}
.Fulvita_Club.member .contents.v2 .coupon dl:first-child .step li{float:left;width:33.33%;}
.Fulvita_Club.member .contents.v2 .coupon dl:first-child .step li img{width:76px;height:76px;margin:0 auto;}
.Fulvita_Club .txt{text-align:left;border-bottom:1px solid #dfdfdf;padding-bottom:5px;}

.Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2){margin-top:15px;}
.Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2) dt{margin-bottom:13px;}
.Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2) dd .benefit{overflow:hidden;}
.Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li{float:left;width:50%; margin: -20px 0 0 0;}
.Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li img{width:68px;height:68px;margin:20px auto 10px auto;}
.Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li:nth-child(3) img, .Fulvita_Club.member .contents.v2 .coupon dl:nth-child(2) dd .benefit li:last-child img{margin-top:20px;}


.Fulvita_Club .panel_tab{padding:10px 15px;background:#f1f2f4;}
.Fulvita_Club .panel_tab .orgamom_tab{width:100%;height:53px;border:1px solid #d2d2d2;background:#fff;}
.Fulvita_Club .panel_tab .orgamom_tab li{float:left;padding:10px 0;width:33.33%;height:100%;text-align:center;border-left:1px solid #dfdfdf;}
.Fulvita_Club .panel_tab .orgamom_tab li:first-child{border-left:none;}
.Fulvita_Club .panel_tab .orgamom_tab li a{display:block;font-size:13px;color:#999999;}
.Fulvita_Club .panel_tab .orgamom_tab li a strong{font-size:15px;}
.Fulvita_Club .panel_tab .orgamom_tab li.acitve{background:url(../img/orgamom_tab_active.png);background-size:100% 100%;}
.Fulvita_Club .panel_tab .orgamom_tab li.acitve a{color:#505050;}
.Fulvita_Club .panel_tab .orgamom_tab li.acitve a strong{color:#d95d46;}

.Fulvita_Club .orgamom_tab_content{}
.Fulvita_Club .orgamom_tab_content>ul{}
.Fulvita_Club .orgamom_tab_content>ul>li{display:none;}
.Fulvita_Club .orgamom_tab_content>ul>li:first-child{display:block;}
.Fulvita_Club .top_visual{padding:0;margin:0;padding-bottom:20px;background:#f5f6f8;}
.Fulvita_Club .orgamomheading{background:#7bc192 url(../img/orgmom_title_pattern.png);text-align:left;border:1px solid #3a9a6e;padding:10px 15px;color:#573f33;font-size:13px;}
.Fulvita_Club .contents{font-size:13px;color:#666666;}
.Fulvita_Club .contents .coupon_slide{position:relative;margin-top:15px;border:1px solid #dddddd;padding:15px 33px;}

.Fulvita_Club .contents .coupon_slide .slide_temp{}

.Fulvita_Club .contents .swiper-container{margin-bottom:10px;}
.Fulvita_Club .contents .orga_swiper_pagination{position:absolute;bottom:0;}

.Fulvita_Club .contents .orgamom_coupon_list {margin-top:15px;border:1px solid #dddddd;padding:15px 15px 5px 5px}
.Fulvita_Club .contents .orgamom_coupon_list ul { overflow: hidden;}
.Fulvita_Club .contents .orgamom_coupon_list ul li { float: left; width: 50%; padding:0 0 10px 10px;}
.Fulvita_Club .contents .orgamom_coupon_list ul li a { display: block; margin:0;}
.Fulvita_Club .contents .orgamom_coupon_list ul li a img { width: 100%; vertical-align: top; }

.Fulvita_Club .txt.infant{margin-top:10px;border-bottom:none;}
.Fulvita_Club .pdcard_list{background:#f5f6f8;}
.Fulvita_Club .pdcard_list ul{margin-bottom:10px}
.Fulvita_Club .pdcard_list .more{width:100%;border-top:1px solid #dfdfdf;}
.Fulvita_Club .pdcard_list .more a{display:block;margin-top:10px;padding:10px 0;text-align:center;background:#fff;border:1px solid #ddd;font-size:13px;color:#666666;font-weight:bold;}

.Fulvita_Club.join {background:#f5f6f8;}
.Fulvita_Club.join .orgamomheading.v2{margin-top:5px;}
.Fulvita_Club.join .contents{background:#fff;}
.Fulvita_Club.join .contents .agree{margin-top:0;}
.Fulvita_Club.join .coupon_slide{padding-left:15px;}
.Fulvita_Club.join .coupon_slide .input_check{font-size:13px;}
.Fulvita_Club.join .coupon_slide strong{text-decoration:underline;}

.Fulvita_Club.join .coupon{background:#fff; padding:15px;width:100%;}
.Fulvita_Club.join .coupon dl:first-child dt{margin-bottom:15px;text-align: center;}
.Fulvita_Club.join .coupon dl:first-child .step{overflow:hidden;margin-bottom:15px; font-size: 13px;}
.Fulvita_Club.join .coupon dl:first-child .step li{float:left;width:33.33%;text-align: center;}
.Fulvita_Club.join .coupon dl:first-child .step li img{width:76px;height:76px;margin:0 auto;}
.Fulvita_Club .txt{text-align:left;border-bottom:1px solid #dfdfdf;padding-bottom:5px;}


.Fulvita_Club.join .form {padding-bottom:10px;border-bottom:1px solid #dfdfdf;margin-bottom:10px;}
.Fulvita_Club.join .form.v2{margin-bottom:20px;}
.Fulvita_Club.join .form h3{margin-bottom:10px;color:#000;font-size:15px;}
.Fulvita_Club.join .form span{color:#999999;}
.Fulvita_Club.join .form.v2 .input_radio{width:100%;}
.Fulvita_Club.join .form .input_radio.v2{margin-top:10px;margin-bottom:10px;}
.Fulvita_Club.join .form.v3 .input_text{margin-top:0;}
.Fulvita_Club.join .form.v3.m{margin-bottom:20px;}
.Fulvita_Club.join .form.v2.m .input_text:nth-child(2){margin-bottom:5px;}

.Fulvita_Club.join .list_receive{overflow:hidden;}
.Fulvita_Club.join .list_receive li{margin-top:5px;}
.Fulvita_Club.join .list_receive li:first-child{margin-top:0;}
.Fulvita_Club.join .list_receive li>span{display:inline-block;width:100px;line-height:18px;vertical-align:middle;}
.Fulvita_Club.join .list_receive li label{margin-right:10px;}

.Fulvita_Club.join .txt {border-bottom:none;}
.Fulvita_Club.join .txt li{margin-bottom:0;padding-left: 15px; font-size: 13px;}
.Fulvita_Club.join a{display:block;}

.Fulvita_Club.join .attention {padding:15px; background-color:#695a4c; color: #fff; line-height: 19px;}


/* orgastory */
.orgastory .tab_default ul li a{border-top:none;}
.orgastory .top_visual{margin-top:0;}
/*orgamom*/
.orgastory{background:#fff;overflow:hidden;}
.orgastory .contents{padding:15px;}
.orgastory .contents img{display:block;width:100%}
/*.orgastory .contents .story_visual{margin-bottom:20px;}*/
.orgastory .contents a{margin-top:15px;}
.orgastory .contents .story{padding:20px 0;border-bottom:1px solid #dfdfdf;}
.orgastory .contents .story.end{border-bottom:none;}
.orgastory .contents .story + .story_visual{margin-top:20px;}
.orgastory .contents .story h3{font-size:16px;color:#333333;margin-bottom:15px;}
.orgastory .contents .story p{font-size:14px;color:#666666;}
.orgastory .contents .story ol{margin-top:15px;}
.orgastory .contents .story ol li strong{font-size:15px;color:#8b9a3a;}
.orgastory .contents .story ol li{font-size:14px;margin-bottom:10px;color:#666;}
.orgastory .contents .story ol li:last-child{margin-bottom:0;}
.orgastory .contents.m{padding:0;margin:0;padding: 15px;/* padding-bottom:15px; */}

.orgastory .contents.center{text-align:center;font-size:14px;letter-spacing:-1px}
.orgastory .contents.center dl{margin-bottom:15px;}
.orgastory .contents.center dl dt{font-size:13px;color:#999;}
.orgastory .contents.center dl dt h3{margin-bottom:15px;font-size:24px;text-decoration:underline;color:#141414;}
.orgastory .contents.center dl dd{font-size:13px;}
.orgastory .contents.center>strong{display:block;margin:15px 0 10px;font-size:16px;}
.orgastory .contents.center ol{}
.orgastory .contents.center ol li{margin-top:3px;line-height:20px;}
.orgastory .contents.center ol li:first-child{margin-top:0;}


.orgastory .contents.center .orgastory_contents{display:block;margin-top:15px;line-height:20px;}
.orgastory .contents.center .animal_benefit{margin-top:15px;}
.orgastory .contents.center .btn_green{margin-top:15px;}

.orgastory .contents{letter-spacing:-1px;}
.orgastory .contents h3{margin-bottom:10px;}
.orgastory .contents p{margin-bottom:10px;}
.orgastory .contents .safe_process li{position:relative;padding:15px;margin-bottom:12px;border:1px solid #dfdfdf;background:#fafafa;}


.orgastory .contents .safe_process li:after{position:absolute;content:"";bottom:-10px;left:50%;margin-left:-5px;width:10px;height:5px;background:url(../img/ico_openshop_terms_arr.png);background-size:10px 5px;}
.orgastory .contents .safe_process li:last-child:after{display:none;}
.orgastory .contents .safe_process img{display:inline-block;vertical-align:middle;width:20%;height:auto;}
.orgastory .contents .safe_process li .txt{display:inline-block;margin-left:10px;width:74%;vertical-align:middle;font-size:14px;}
.orgastory .contents .safe_process li .txt strong{display:block;margin-bottom:10px;color:#681d00;font-size:15px;}
.orgastory .contents.process{padding-bottom:0;}
.orgastory .contents p{font-size:14px;line-height: 20px;}
.orgastory .board_panel_inner{font-size:14px;line-height: 20px;}

.orgastory .test, .orgastory .desc{font-size:13px;letter-spacing:-1px}
.orgastory .test{border:1px solid #ddd;}
.orgastory .test:after{ content: ''; display: table; clear: both; }
.orgastory .test li a{position:relative;float:left;width:33.33%;box-sizing:border-box;}
.orgastory .test li a{display:block;padding:8px 0;margin:0;text-align:center;border:3px solid #fff;border-bottom-color:#f4f4f4;border-left:1px solid #ddd;}
.orgastory .test li:first-child a{border-left:none;}

.orgastory .test li.active a{border:3px solid #d0a674;color:#333333;}
.orgastory .test li.active a:after{position:absolute;content:"";width:15px;height:10px;bottom:-10px;left:50%;margin-left:-7px;background:url(../img/process_tab_down.png);background-size: 15px 10px;}

.orgastory .desc li{display:none;padding:15px 17px;background:#ebe7dc;}
.orgastory .desc li.active{display:block;}

.orgastory .test li span{display:block;height:29px;margin:0 auto;margin-bottom:10px;}
.orgastory .test1 .test li .test_icon1{width:20px;background:url(../img/test_icon01.png) no-repeat;background-size:20px 28px;}
.orgastory .test1 .test li .test_icon2{width:32px;background:url(../img/test_icon02.png);background-size:32px 28px;}
.orgastory .test1 .test li .test_icon3{width:24px;background:url(../img/test_icon03.png);background-size:24px 28px;}

.orgastory .test2 .test li .test_icon4{width:19px;background:url(../img/test_icon04.png);background-size:19px 28px;}
.orgastory .test2 .test li .test_icon5{width:27px;background:url(../img/test_icon05.png);background-size:27px 28px;}
.orgastory .test2 .test li .test_icon6{width:14px;background:url(../img/test_icon06.png);background-size:14px 28px;}

.orgastory .test3 .test li .test_icon7{width:20px;background:url(../img/test_icon07.png);background-size:20px 28px;}
.orgastory .test3 .test li .test_icon8{width:18px;background:url(../img/test_icon08.png);background-size:18px 28px;}
.orgastory .test3 .test li .test_icon9{width:29px;background:url(../img/test_icon09.png);background-size:29px 28px;}

.orgastory .contents.culture {font-size:14px;line-height: 20px;}
.orgastory .contents.culture span{display:block;margin:0;padding:0;margin-bottom:10px;}
.orgastory .contents.culture strong{display:block;margin-left:-5px;}
.orgastory .contents.culture {overflow:hidden;}
.orgastory .contents.culture li{float:left;width:50%;padding-right:5px;}
.orgastory .contents.culture li img{width:100%;margin-right:-5px;margin-bottom:5px;}
.orgastory .board_accordion{padding:0;border:1px solid #ddd;border-width:1px 0;}
/*.orgastory .test li.active a{width:100%;height:100%;border:4px solid #d0a674;}*/

/*.orgastory .safe_area {padding-top:40px}*/
.orgastory .safe_area h4 {margin-top:70px; font-size:22px; color:#33353d}
.orgastory .safe_area h4:first-child {margin-top:0}
.orgastory .safe_area .sub {margin: 20px 0px;}
.orgastory .safe_area .sub table {border: 1px solid #cac9c9; text-align: center; width: 100%;}
.orgastory .safe_area .sub table th {border-bottom:1px solid #cac9c9; border-right:1px solid #cac9c9; padding: 10px 0;}
.orgastory .safe_area .sub table th:last-child {border-bottom:1px solid #cac9c9; border-right:0; padding: 10px 0;}
.orgastory .safe_area .sub table td {padding: 10px 0px;border-right:1px solid #cac9c9;}
.orgastory .safe_area .sub table td:last-child {padding: 10px 0px; border-right:0;}
.orgastory .safe_area .sub table td a {display: block;height:100%; width:100%; border:0;}
.orgastory .safe_area .detail {margin: 20px 0px;}
.orgastory .safe_area .detail table {border-top: 1px solid #cac9c9; width: 100%;text-align: center;}
.orgastory .safe_area .detail table th {border-bottom:1px solid #cac9c9; border-right:1px solid #cac9c9; padding: 10px 0;}
.orgastory .safe_area .detail table th:last-child {border-bottom:1px solid #cac9c9; border-right:0; padding: 10px 0;}
.orgastory .safe_area .detail table td {padding: 10px 20px; border-bottom:1px solid #cac9c9;border-right:1px solid #cac9c9;}
.orgastory .safe_area .detail table td:last-child {padding: 10px 20px; border-bottom:1px solid #cac9c9;border-right:0;}





/* ==========================================================================
   main_quick : 3. 퀵 메뉴
   ========================================================================== */
.brand .main_quick .main_section_heading em{color:#777559;}
.brand .main_quick { padding-bottom:20px;border-top:none;border-bottom:1px solid #ddd;background:#f3f4f6;}
.brand .main_section_heading{padding-top:0;}
.brand .main_quick_list { padding: 15px; background: rgb(234,231,189); background: -webkit-linear-gradient(top,  rgba(234,231,189,1) 0%,rgba(219,217,192,1) 100%); background: linear-gradient(to bottom,  rgba(234,231,189,1) 0%,rgba(219,217,192,1) 100%); }
.brand .main_quick_list ul { border-top: 1px solid #ddd; border-left: 1px solid #ddd; background: #fff; }
.brand .main_quick_list ul:after { content: ''; display: table; clear: both; }
.brand .main_quick_list ul li { float: left;position:relative; width: 33.33%;height:70px; border: 1px solid #ddd; border-top: 0; border-left: 0;l}
.brand .main_quick_list ul li a { display: block; height:100%;border-bottom: 3px solid #f4f4f4; color: #4e5359; font-size: 13px; letter-spacing: -1px; text-align: center; }
.brand .main_quick_list ul li a span { display: block; position:absolute;bottom:10px;left:0;width:100%;white-space: nowrap; height:15px;}
.brand .main_quick_list .img_box{}
.brand .main_quick_list .ico_quick {display:block;max-width:64px;max-height:45px;margin:0 auto;}

/*.brand .main_quick_list .ico_quick01 { background-image: url('../img/ico_brand01.png'); }
.brand .main_quick_list .ico_quick02 { background-image: url('../img/ico_brand02.png'); }
.brand .main_quick_list .ico_quick03 { background-image: url('../img/ico_brand03.png'); }
.brand .main_quick_list .ico_quick04 { background-image: url('../img/ico_brand04.png'); }
.brand .main_quick_list .ico_quick05 { background-image: url('../img/ico_brand05.png'); }
.brand .main_quick_list .ico_quick06 { background-image: url('../img/ico_brand06.png'); }
.brand .main_quick_list .ico_quick07 { background-image: url('../img/ico_brand07.png'); }
.brand .main_quick_list .ico_quick08 { background-image: url('../img/ico_brand08.png'); }
.brand .main_quick_list .ico_quick09 { background-image: url('../img/ico_brand09.png'); }
.brand .main_quick_list .ico_quick10 { background-image: url('../img/ico_brand10.png'); }*/
.brand .main_quick_list .btn_block{margin-top:5px;}
.brand .main_quick_list .btn_block .btn_text:after {display:inline-block; content:''; width:5px; height:9px; margin-top:-4px; margin-left:7px; background:url(../img/spr_btn.png) no-repeat -66px 0; background-size:150px 150px; vertical-align:middle;}
.brand .pdcard_list{background:#f5f6f8;padding-top:5px;padding-bottom:0;}

/* ==========================================================================
   main_latest : 7. 신상품 , 8. 제철상품
   ========================================================================== */
.brand .main_latest { padding: 10px 15px; background: #f1f1f2; box-shadow: 0 1px 0 #fff; }
.brand .main_latest:before { content: ''; overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background: #fff; }

/* main_latest_section */
.brand .main_latest_section { padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #fff; border-bottom: 1px solid #cdcdcd; }
.brand .main_latest_section:first-child { border-top: 0; }
.brand .main_latest_section:last-child { border-bottom: 0; }
.brand .main_latest_list { margin: -10px 0 0 -10px; }
.brand .main_latest_list:after { content: ''; display: table; clear: both; }
.brand .main_latest_item { float: left; position: relative; width: 50%; padding: 10px 0 0 10px; }
.brand .main_latest_item.type_left { float: left; }
.brand .main_latest_item.type_right { float: right; }
.brand .main_latest_item_inner { position: relative; }
.brand .main_latest_item_inner:before { z-index: 1; content: ''; display: block; width: 100%; height: 0; padding-bottom: 100%; }
.brand .main_latest_item_inner:after { z-index: 1; content: ''; display: block; width: 100%; height: 142px; }
.brand .main_latest_item_box { z-index: 2; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 1px solid #ddd; background: #fff; }

/* main_latest_heading */
.brand .main_latest_heading { padding-left: 15px; border: 3px solid; background: none; }
.brand .main_latest_icon { display: inline-block; position: absolute; top: -2px; left: 10px; width: 57px; height: 55px; line-height: 55px; background: gray; color: #fff; font-size: 16px; font-style: normal; letter-spacing: -1px; text-align: center; }
.brand .main_latest_title { display: block; padding: 82px 0 0 0; color: #000; font-size: 22px; letter-spacing: -2px; }
.brand .main_latest_title:after { content: ''; display: block; overflow: hidden; width: 27px; height: 5px; margin: 20px 0; border-radius: 5px; background: #000; }
.brand .main_latest_description { color: #4e5357; font-size: 13px; letter-spacing: -1px; }
.brand .main_latest_section.main_new{padding-bottom:27px;border-bottom:1px solid #dfdfdf;}
.brand .orga_swiper_pagination{bottom:5px !important;}
.brand .main_latest_section{padding:20px 15px;}
/* type */
.brand .type_new { border-color: #c0c58e; }
.brand .type_new .main_latest_icon { background: #2d2727; }
.brand .type_new .main_latest_title:after { background: #2d2727; }

.brand .type_left.v2 .type_new .main_latest_icon { background: #cfa774; }
.brand .type_left.v2 .type_new .main_latest_title:after { background: #cfa774; }


.brand .type_season { border-color: #cbd4b9; }
.brand .type_season .main_latest_icon { background: #afbd9c; }
.brand .type_season .main_latest_title:after { background: #cbd4b9; }

/* product card */
.brand .main_latest_item_box .pd_image { overflow: hidden; position: relative; top: 0; left: 0; width: 100%; height: 0; padding-bottom: 100%; }
.brand .main_latest_item_box .pdcard_tag { position: absolute; top: -1px; margin: 0; }
.brand .main_latest_item_box .pdcard_tag.left { left: -1px; }
.brand .main_latest_item_box .pdcard_tag.right { right: -1px; }
.brand .main_latest_item_box .pdcard_tag .tag{ display: block; float: none; margin: 0; }






.brand .main_latest_item_box .pd_image img { width: 100%; vertical-align: top; }
.brand .main_latest_item_box .pd_container { overflow: hidden; height: 142px; }
.brand .main_latest_item_box .pd_content { overflow: hidden; height: 112px; border-top: 1px solid #ddd; color: #4e5357; padding: 8px 8px 0 8px; }
.brand .main_latest_item_box .pd_footer { overflow: hidden; height: 30px; line-height: 30px; padding: 0 8px; background: #f8f8f8; }
.brand .main_latest_item_box .pd_subtitle { overflow: hidden; margin-top: 10px;line-height: 18px; font-size: 12px; letter-spacing: -1px; text-overflow: ellipsis; white-space: nowrap; }
.brand .main_latest_item_box .pd_title { overflow: hidden;line-height: 18px; color: #4e5357; font-size: 14px; letter-spacing: -1px; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-weight:bold;}
.brand .main_latest_item_box .weight{font-size:11px;color:#999999;}
.brand .main_latest_item_box .pd_price { display: inline-block; color: #8a9c20; font-size: 10px; svertical-align: middle; }
.brand .main_latest_item_box .pd_price em { display: inline-block; position: relative; bottom: -1px; font-size: 15px; font-style: normal; letter-spacing: -1px; svertical-align: middle; }
.brand .main_latest_item_box .pd_price_original { display: inline-block; margin-right: 2px; color: #4e5357; font-size: 9px; text-decoration: line-through; svertical-align: middle; }
.brand .main_latest_item_box .pd_price_original em { position: relative; bottom: -1px; font-size: 11px; font-style: normal; letter-spacing: -2px; svertical-align: middle; }


/* main_latest_heading */
.brand .main_latest_heading { padding-left: 15px; border: 3px solid; background: none; }
.brand .main_latest_icon { display: inline-block; position: absolute; top: -2px; left: 10px; width: 57px; height: 55px; line-height: 55px; background: gray; color: #fff; font-size: 16px; font-style: normal; letter-spacing: -1px; text-align: center; }
.brand .main_latest_title { display: block; padding: 82px 0 0 0; color: #000; font-size: 22px; letter-spacing: -2px; }
.brand .main_latest_title:after { content: ''; display: block; overflow: hidden; width: 27px; height: 5px; margin: 20px 0; border-radius: 5px; background: #000; }
.brand .main_latest_description { color: #4e5357; font-size: 13px; letter-spacing: -1px; }
.brand .brand_lst_btn{position:absolute;display:block;bottom:15px;left:50%;background:#2d2727;color:#fff;font-size:12px;padding:6px 0;width:106px;margin-left:-53px;text-align:center;border-radius:30px;}
.type_left.v2 .brand_lst_btn{background:#cfa774}
/* type */
.brand .type_new { border-color: #2d2727; }
.type_left.v2 .type_new { border-color: #cfa774; }
.brand .type_new .main_latest_icon { background: #2d2727; }
.brand .type_new .main_latest_title:after { background: #2d2727; }
.brand .type_season { border-color: #cbd4b9; }
.brand .type_season .main_latest_icon { background: #afbd9c; }
.brand .type_season .main_latest_title:after { background: #cbd4b9; }
.brand .main_latest_title strong{display:block;}

.brand .main_section_heading { position: relative; padding-top:10px;padding-bottom:15px;font-size: 22px; text-align: center; letter-spacing: -1px; }
.brand .main_section_heading em {display:block;margin-bottom:2px;color:#b2b2b4;font-size:10px;font-style:normal;text-transform:uppercase;}
.brand .main_section_heading .main_section_title { display: inline-block; border-bottom: 2px solid #151515; color: #141414; font-size: 22px; line-height: 26px; letter-spacing: -2px; }
.brand .main_section_heading .main_section_title .ico { vertical-align: top; }
.brand .main_section_heading .main_section_title .user_name { color: #a0ab36; }
.brand .main_section_heading p{margin-top:14px;font-size:11px;color:#666;font-weight:normal;}


/* // orgastory */

/* 05_recipe */

/* ==========================================================================
   main_recipe : 10. 레시피
   ========================================================================== */
   /* main_section */

.recipe .main_section { position: relative; margin-top: 20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; }
.recipe .main_section:first-child { margin-top: 0; border-top: 0; }
.recipe .main_section_heading { position: relative; padding: 15px 0; font-size: 22px; text-align: center; letter-spacing: -1px; }
.recipe .main_section_heading em { display: block; margin-bottom: 2px; color: #b2b2b4; font-size: 13px; font-style: normal; }
.recipe .main_section_heading .main_section_title { display: inline-block; border-bottom: 2px solid #151515; color: #141414; font-size: 22px; line-height: 26px; letter-spacing: -2px; }
.recipe .main_section_heading .main_section_title .ico { vertical-align: top; }
.recipe .main_section_heading .main_section_title .user_name { color: #a0ab36; }
.recipe .main_section_more { display: block; position: relative; padding-top: 5px; border-top: 1px solid #ddd; background: #f6f6f7; }
.recipe .main_section_more .btn_main_section_more { display: block; position: relative; width: 100%; height: 40px; line-height: 40px; margin: 0; border-top: 1px solid #ddd; background: #fff; color: #4e5357; font-size: 15px; letter-spacing: -1px; text-align: center; }
.recipe .main_section_more .btn_main_section_more .ico { margin-left: 2px; }

/* main_pd_card */
.recipe .main_pd_card_inner { position: relative; display: table; width: 100%; background: #fff; }
.recipe .main_pd_card_inner > a { display: table; width: 100%; height: 100%; }
.recipe .main_pd_card .pd_thumb { display: table-cell; width: 50%; vertical-align: top; }
.recipe .main_pd_card .pd_image { border: 1px solid #ddd; }
.recipe .main_pd_card .pd_image img { max-width: 100%; width: 100%; vertical-align: top; }
.recipe .main_pd_card .pd_container { display: table-cell; position: relative; padding: 8px 0 0 10px; vertical-align: top;  }
.recipe .main_pd_card .pd_title { overflow: hidden; max-height: 40px; line-height: 20px; margin-bottom: 12px; color: #4e5357; font-size: 16px; letter-spacing: -1px; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  }
.recipe .main_pd_card .pd_price_info {  }
.recipe .main_pd_card .pd_price_original { display: inline-block; margin-right: 2px; color: #4e5357; font-size: 9px; text-decoration: line-through; }
.recipe .main_pd_card .pd_price_original em { position: relative; bottom: -1px; font-size: 11px; font-style: normal; letter-spacing: -2px; }
.recipe .main_pd_card .pd_price { display: block; color: #8a9c20; font-size: 10px; }
.recipe .main_pd_card .pd_price em { display: inline-block; position: relative; bottom: -1px; font-size: 15px; font-style: normal; letter-spacing: -1px; }
.recipe .main_pd_card .pd_cart { position: absolute; bottom: 5px; right: 5px; }



.recipe .main_recipe_visual { position: relative; padding: 0 15px 15px 15px; background: #e7e4be; }
.recipe .main_recipe:before { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; background: none; border: 1px dashed rgba(0, 0, 0, 0.1); border-radius: 5px; }
.recipe .main_recipe .main_section_heading { z-index: 2; }
.recipe .main_recipe .main_section_heading em { color: #777559; }
.recipe .main_recipe_visual_content { z-index: 2; position: relative; }
.recipe .main_recipe_visual_bg { z-index: 1; border: 1px solid #ccc1b2; }
.recipe .main_recipe_visual_bg > img { width: 100%; vertical-align: top; }
.recipe .main_recipe_visual_bg .swiper-slide img { width: 100%; vertical-align: top; }
.recipe .main_recipe_visual_slide { z-index: 2; position: absolute; bottom: 0; left: 0; right: 0; padding: 10px;  }
.recipe .main_recipe_visual_slide_inner { width: 100%; height: 100%; padding: 15px 0 0 0; border: 1px solid #ddd; background: #fff; }
.recipe .main_recipe_visual_slide .swiper-container { width: 100%; height: 100%; padding-bottom: 25px; }
.recipe .main_recipe_visual_slide .swiper-slide { padding: 0 15px; }
.recipe .main_recipe_visual_slide .orga_swiper_pagination { bottom: 5px; }
.recipe .main_recipe_visual_slide .main_pd_card .pd_thumb { width: 41.66666666666667%; }

.recipe{letter-spacing:-1px}
.recipe .main_section{margin-top:5px;margin-bottom:20px;}
.recipe .swiper-container-horizontal>.swiper-pagination-bullets {}
.recipe .top_visual a{display:block}
.recipe .top_visual{margin-bottom:20px;border-bottom:1px solid #eff0f2;}
.recipe .main_recipe_visual {padding-top:15px;}
.recipe .slide_area{position:relative;border-bottom:none;}
.recipe .orga_swiper_pagination{bottom:5px !important;}

.recipe .slide_area .main_pd_card{position:absolute;top:0;z-index:3;}

.recipe .pdcard_list.recipe .pdcard_content{height:103px;}
.recipe .pdcard_list.recipe .pdcard_textarea{text-align:center;}
.recipe .pdcard_list.recipe .pdcard_textarea .pdcard_field{font-size:15px;color:#333333;font-weight:bold;margin-bottom:5px;}
.recipe .pdcard_list.recipe .pdcard_textarea .category{padding:4px 5px;color:#fff;font-size:12px;background:#d0a674;border-radius:30px;}
.recipe .pdcard_list.recipe .recipe_info {position:relative;margin-top:10px;font-size:11px;text-align: center;letter-spacing:-1px;}
.recipe .pdcard_list.recipe .recipe_info .portion .ico{display:inline-block;vertical-align:middle;width:14px;height:11px;background:url(../img/recipe_ico_portion.png);background-size:14px 11px;}
.recipe .pdcard_list.recipe .recipe_info .portion:after{position:absolute;content:'';top:3px;width:1px;height:8px;background:#e2e2e2;;}
.recipe .pdcard_list.recipe .recipe_info .portion em{margin-left:4px;margin-right:7px;font-style:normal}
.recipe .pdcard_list.recipe .recipe_info .time{padding-left:7px;}
.recipe .pdcard_list.recipe .recipe_info .time .ico{display:inline-block;vertical-align:middle;width:11px;height:11px;background:url(../img/recipe_ico_time.png);background-size:11px 11px;}
.recipe .pdcard_list.recipe .recipe_info .time em{margin-left:4px;font-style:normal;}

.recipe>.contents{position:relative;background:#fff;padding:15px;margin-top:5px;margin-bottom:20px;border:1px solid #dfdfdf;border-width:1px 0 1px 0;}
.recipe .contents img{width:100%;display:block;margin-bottom:10px;}
.recipe .contents h3{font-size:18px;margin-bottom:15px;padding-right:40px;font-weight:normal;letter-spacing: -1px;}
.recipe .contents>a{display:block;position:absolute;top:15px;right:15px;}
.recipe .contents .sns{width:36px;height:36px;}

.recipe .recipe_detail_info { margin-bottom: 10px; padding: 4px; border: 1px solid #ded9cd; background: #ebe7dc; }
.recipe .recipe_detail_info .recipe_detail_info_cate { margin-bottom: 5px; border: 1px solid transparent; }
.recipe .recipe_detail_info .recipe_detail_info_cate ul { display: table; table-layout: fixed; overflow: hidden; width: 100%; }
.recipe .recipe_detail_info .recipe_detail_info_cate ul li { display: table-cell; overflow: hidden; position: relative; border-left: 1px solid #c4b5a0; color: #6b4216; font-size: 11px; letter-spacing: -1px; text-align: center; vertical-align: middle; word-break: break-all; }
.recipe .recipe_detail_info .recipe_detail_info_cate ul li:first-child { border-left: 0; }
.recipe .recipe_detail_info .recipe_detail_info_list { border: 1px solid #dfdfdf; background: #fff; }
.recipe .recipe_detail_info .recipe_detail_info_list ul { display: table; table-layout: fixed; overflow: hidden; width: 100%; }
.recipe .recipe_detail_info .recipe_detail_info_list ul li { display: table-cell; overflow: hidden; padding: 10px 0; border-left: 1px solid #dfdfdf; color: #4e5357; font-size: 11px; letter-spacing: -1px; text-align: center; vertical-align: top; word-break: break-all; }
.recipe .recipe_detail_info .recipe_detail_info_list ul li:first-child { border-left: 0; }
.recipe .recipe_detail_info .recipe_detail_info_list ul li .item_box {  }
.recipe .recipe_detail_info .recipe_detail_info_list ul li .item_icon { display: inline-block; width: 36px; height: 32px; background: url('../img/recipe_detail_info_list_icon01.png') no-repeat 0 0; background-size: 36px 32px; }
.recipe .recipe_detail_info .recipe_detail_info_list ul li .item_icon01 { background-image: url('../img/recipe_detail_info_list_icon01.png'); }
.recipe .recipe_detail_info .recipe_detail_info_list ul li .item_icon02 { background-image: url('../img/recipe_detail_info_list_icon02.png'); }
.recipe .recipe_detail_info .recipe_detail_info_list ul li .item_icon03 { background-image: url('../img/recipe_detail_info_list_icon03.png'); }
.recipe .recipe_detail_info .recipe_detail_info_list ul li .item_text { display: block; margin-top: 3px; }
.recipe .contents .recipe_info_txt{padding:10px;border: 1px solid #ded9cd; background: #ebe7dc;font-size:14px;color:#604d44;line-height:20px;}

.recipe .recipeheading {background:#a37e52;padding:10px 15px;border:1px solid #977349;}
.recipe .recipeheading .recipe_title{font-size:16px;color:#fff;font-weight:bold;}
.recipe .info_txt{background:#fff;padding:15px 25px;font-size:14px;line-height:20px;border-bottom:1px solid #dddddd;margin-bottom:20px;}
.recipe .pdcard_list .select_box{overflow:hidden;border-bottom:2px solid #dfdfdf;margin-bottom:10px;padding-bottom:10px;}
.recipe .pdcard_list .select_box div:first-child{float:left;}
.recipe .pdcard_list .select_box div:last-child{float:right;papdding:0;margin:0;}
.recipe .pdcard_list .pdcard_item .input_check{margin-bottom:5px;}
.recipe .panel_button{border:1px solid #dfdfdf;border-width:1px 0 1px 0;margin-bottom:20px;}

.recipe .recipe_step{overflow:hidden;margin:-10px -10px 15px -20px;}
.recipe .recipe_step li{float:left;width:100%;padding:10px 0 0 10px;}
.recipe .recipe_step li img{width:100%;}
.recipe .info_txt ol{padding-left:5px;}
.recipe .info_txt ol li{list-style-type:decimal;font-size:11px;margin-bottom:10px;}
.recipe .info_txt ol li:last-child{margin-bottom:0;}

.recipe .sub_recipe_slide{position:relative;background:#fff;margin-bottom:20px;padding-bottom:27px;border-bottom:1px solid #dddddd;}
.recipe .sub_recipe_slide img{width:100%;}
.recipe .sub_recipe_slide .orga_swiper_pagination{position:absolute;bottom:10px !important;}

.recipe .board_comment{border-top:1px solid #dddddd;}
.recipe .panel_button.v2{margin-bottom:0;}
.recipe .panel_button .close{display:inline-block;vertical-align:middle;margin-top:-2px;margin-left:8px;width:10px;height:5px;background:url(../img/ico_close.png);background-size:10px 5px;}

.recipe .select_box.close{margin-top:10px;border-top:2px solid #dfdfdf;border-bottom:none;padding:10px 0;margin-bottom:0;}
.recipe .pdcard_list.more{padding-bottom:0;}
.recipe .pdcard_more_list {  }
.recipe .pdcard_more_list li { display: none; }
.recipe .pdcard_more_list li:nth-of-type(1),
.recipe .pdcard_more_list li:nth-of-type(2) { display: block; }
.recipe .pdcard_more_list.active { }
.recipe .pdcard_more_list.active li { display: block; }
.recipe .pdcard_more_list.active li:nth-of-type(1) {  }
.recipe .pdcard_more_list.active li:nth-of-type(2) {  }
.recipe .pdcard_more_btn {  }
.recipe .pdcard_more_btn .more_btn_txt1 {  }
.recipe .pdcard_more_btn .more_btn_txt2 { display: none; }
.recipe .pdcard_more_btn.active {  }
.recipe .pdcard_more_btn.active .more_btn_txt1 { display: none; }
.recipe .pdcard_more_btn.active .more_btn_txt2 { display: inline; }



/* recipe popup*/
.pop_layer.recipe .pop_content{padding-bottom:10px;}
.pop_layer.recipe .pop_content dl {margin-top:5px; background:#fff; font-size:15px; color:#999}
.pop_layer.recipe .pop_content dl.active {color:#666}
.pop_layer.recipe .pop_content dl:first-child {margin-top:0}

.pop_layer.recipe .pop_content dl dt {position:relative;;}
.pop_layer.recipe .pop_content dl dt:before{position:absolute;content:"";left:10px;top:3px;width:28px;height:28px;}

.pop_layer.recipe .pop_content dl dt.v1:before{background:url(../img/ico_recipe_srch01.png);background-size:28px 28px;}
.pop_layer.recipe .pop_content dl dt.v2:before{background:url(../img/ico_recipe_srch02.png);background-size:28px 28px;}
.pop_layer.recipe .pop_content dl dt a {display:block;position:relative; height:34px; line-height:34px; padding-left:49px; border:1px solid #ddd}
.pop_layer.recipe .pop_content dl dt a:after { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-right:14px; background: none; }
.pop_layer.recipe .pop_content dl.active dt a:after {margin-top:-6px; border-width:5px 3px 5px 3px; border-color: transparent transparent #4e5357 transparent;}
.pop_layer.recipe .pop_content dl dd {display:none; font-size:13px}
.pop_layer.recipe .pop_content dl dd ul{overflow:hidden;}
.pop_layer.recipe .pop_content dl dd li{float:left;width:25%;padding-top:10px;padding-bottom:8px;text-align:center;border:1px solid #dfdfdf;font-size:11px;border-width:0 0 1px 1px;}
.pop_layer.recipe .pop_content dl dd li:nth-child(4), .pop_layer.recipe .pop_content dl dd li:last-child{border-right:1px solid #dfdfdf;}
.pop_layer.recipe .pop_content dl dd .type2{padding-top:17px;}
.pop_layer.recipe .pop_content dl dd li label:first-child{display:block;margin-bottom:5px;}
.pop_layer.recipe .pop_content dl dd .type2 label:first-child{display:block;margin-bottom:11px;}
.pop_layer.recipe .pop_content dl.active dd {display:block}
.pop_layer.recipe .pop_content .form_group{margin:5px 0;}
.pop_layer.recipe .pop_content .form_search{overflow:hidden;padding-left:10px;font-size:11px;}
.pop_layer.recipe .pop_content .form_search .panel_left{padding-top: 12px;font-weight:bold;}
.pop_layer.recipe .pop_content .form_search .panel_right{width:75%;}
.pop_layer.recipe .pop_content .form_search .panel_right .input_text{width:100%;}
.pop_layer.recipe .panel_button.v2{overflow:hidden;padding:10px 15px;}
.pop_layer.recipe .panel_button.v2 a{float:right;width:49%}
.pop_layer.recipe .panel_button.v2 a:first-child{float:left;border-color:#1a1512;background:#513f29;color:#fff;}


/* sns_pop */
.layer_pop{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}
.layer_pop .dim{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);}
.layer_pop .sns_share{position:absolute;top:100px;left:0;width:100%;padding:0 15px;}
.layer_pop .sns_share dl{padding:10px 15px 14px;border:1px solid #604e44;background-color:#fff;text-align:center}
.layer_pop .sns_share dt{font-size:19px;font-weight:bold;color:#000;}
.layer_pop .sns_share dd{margin-top:13px;padding-top:15px;border-top:1px solid #dfdfdf;}
.layer_pop .sns_share dd ul{overflow:hidden;display:inline-block;vertical-align:top;}
.layer_pop .sns_share dd li{float:left;margin-left:5px;}
.layer_pop .sns_share dd li:first-child{margin-left:0;}
.layer_pop .sns_share dd li a{display:block;width:40px;height:40px;background:url(../img/ico_sns.png) no-repeat;background-size:250px 40px}
.layer_pop .sns_share dd li a.sns_kakao{background-position:0 0;}
.layer_pop .sns_share dd li a.sns_facebook{background-position:-45px 0;}
.layer_pop .sns_share dd li a.sns_twitter{background-position:-90px 0;}
.layer_pop .sns_share dd li a.sns_pinterest{background-position:-135px 0;}
.layer_pop .sns_share dd li a.sns_blog{background-position:-180px 0;}
.layer_pop .sns_share.type2 dd li a{background:url(../img/ico_sns2.png) no-repeat;background-size:220px 40px}
.layer_pop .sns_share.type2 dd li a.sns_facebook{background-position:0 0;}
.layer_pop .sns_share.type2 dd li a.sns_blog{background-position:-45px 0;}
.layer_pop .sns_share.type2 dd li a.sns_kakao{background-position:-90px 0;}
.layer_pop .sns_share.type2 dd li a.sns_shares{background-position:-135px 0;}
.layer_pop .sns_share .btn_more{margin-top:15px;}
.layer_pop .layer_pop_content .btn_layer_close{display:block;overflow:hidden;position:absolute;top:15px;right:30px;width:15px;height:15px;background:url(../img/ico_layer_close.png) no-repeat 0 0;background-size:15px 15px;text-indent:-999em}

/* user_adr */

.pop_layer .my_banking {background:#fff;margin-top:-15px;}
.pop_layer .my_banking ul li {position:relative;padding:15px 25px 15px 0; border-bottom:1px solid #dfdfdf}
.pop_layer .my_banking .input_radio {display:block}
.pop_layer .my_banking .input_radio i {top:50%; margin-top:-9px}
.pop_layer .my_banking .input_radio .label_text {display:block; position:relative; margin-left:10px;}

.pop_layer .my_banking .input_radio .label_text dt {font-size:15px; font-weight:bold; color:#333}
.pop_layer .my_banking .input_radio .label_text dt strong {color:#9fb23a}
.pop_layer .my_banking .input_radio .label_text dd {margin-top:5px}
.pop_layer .my_banking .input_radio .label_text dd em {display:block; margin-top:5px; color:#666; font-weight:bold; font-size:14px}
.pop_layer .my_banking .input_radio .label_text dd span {font-size:12px; color:#666}
.pop_layer .my_banking .input_radio .label_text dd span:first-child {margin-right:10px}
.pop_layer .my_banking ul li.empty_data {border:0}
.pop_layer .my_banking .input_radio .label_text dd p {color:#999}
.pop_layer .my_banking .input_radio .label_text dd p span {color:#666; font-weight:bold}
.pop_layer .my_banking .input_radio .label_text dd strong{display:block;margin-bottom:5px;color:#999;font-weight:normal;}

.pop_layer .my_banking .star_radio {position:absolute;top:50%;right:0;transform:translateY(-50%);}


.pop_layer .btn_bottom_wrap {position:fixed; width:100%; bottom:0; left:0;padding:15px; background:#f9f9f9; border:1px solid #dfdfdf z-index:700}


/* pop_totalbrand */
.pop_totalbrand_wrapper {  }
.pop_totalbrand_wrapper .totalbrand_item {  }
.pop_totalbrand_wrapper .totalbrand_item + .totalbrand_item { margin-top: 10px; }
.pop_totalbrand_wrapper .totalbrand_item .totalbrand_item_heading { display: block; overflow: hidden; position: relative; height: 33px; line-height: 33px; padding: 0 25px 0 15px; border: 1px solid #ddd; color: #666; font-size: 12px; cursor: pointer; }
.pop_totalbrand_wrapper .totalbrand_item .totalbrand_item_heading:after { z-index: 1; content: ''; display: block; overflow: hidden; position: absolute; top: 50%; right: 0; width: 0; height: 0; border-style: solid; border-width: 5px 3px 0 3px; border-color: #4e5357 transparent transparent transparent; margin-top: -2px; margin-right: 8px; background: none; }
.pop_totalbrand_wrapper .totalbrand_item .totalbrand_item_heading .totalbrand_item_title {  }
.pop_totalbrand_wrapper .totalbrand_item .totalbrand_item_panel { overflow: hidden; height: 0; }

.pop_totalbrand_wrapper .totalbrand_item_list { overflow: hidden; margin-top: -1px; border: 1px solid #ddd; }
.pop_totalbrand_wrapper .totalbrand_item_list ul { overflow: hidden; margin: 0 -1px -1px 0; }
.pop_totalbrand_wrapper .totalbrand_item_list ul li { float: left; width: 33.33%; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.pop_totalbrand_wrapper .totalbrand_item_list ul li a { display: block; height: 66px; }
.pop_totalbrand_wrapper .totalbrand_item_list ul li i { display: block; overflow: hidden; height: 42px; text-align: center; }
.pop_totalbrand_wrapper .totalbrand_item_list ul li i > img { max-width:80%;max-height: 100%; }
.pop_totalbrand_wrapper .totalbrand_item_list ul li span { display: block; overflow: hidden; max-height: 22px; line-height: 12px; color: #666; font-size: 11px; letter-spacing: -1px; text-align: center; }

.pop_totalbrand_wrapper .totalbrand_item.active {  }
.pop_totalbrand_wrapper .totalbrand_item.active .totalbrand_item_heading {  }
.pop_totalbrand_wrapper .totalbrand_item.active .totalbrand_item_heading:after { border-width: 0 3px 5px 3px; border-color: transparent transparent #4e5357 transparent; }
.pop_totalbrand_wrapper .totalbrand_item.active .totalbrand_item_panel { height: auto; }

/* pop_reatstandard */
.pop_reatstandard_wrap {   }
.pop_reatstandard_wrap .reatstandard_item {  }
.pop_reatstandard_wrap .reatstandard_item + .reatstandard_item { margin-top: 10px; }
.pop_reatstandard_wrap .reatstandard_item .reatstandard_title { height: 33px; line-height: 33px; padding: 0 15px; border: 1px solid #ddd; }
.pop_reatstandard_wrap .reatstandard_item .reatstandard_title h2 { color: #666; font-size: 13px; }
.pop_reatstandard_wrap .reatstandard_item .reatstandard_panel { padding: 15px; border: 1px solid #ddd; border-top: 0; }
.pop_reatstandard_wrap .reatstandard_item .reatstandard_panel h3 { margin-bottom: 10px; color: #000; font-size: 12px; }
.pop_reatstandard_wrap .reatstandard_item .reatstandard_panel .hr { display: block; height: 1px; margin: 15px 0; padding: 0; background: #dfdfdf; }
.pop_reatstandard_wrap .list_reatstandard {   }
.pop_reatstandard_wrap .list_reatstandard > ul {   }
.pop_reatstandard_wrap .list_reatstandard > ul > li { position: relative; line-height: 16px; margin: 5px 0; padding-left: 6px; color: #666; font-size: 12px; letter-spacing: -1px; }
.pop_reatstandard_wrap .list_reatstandard > ul > li:before { content: ''; display: inline-block; position: absolute; top: 5px; left: 0; width: 8px; height: 8px; background: url('../img/bul_list02.png') no-repeat 0 0; background-size: 2px 3px; vertical-align: middle; }
.pop_reatstandard_wrap .list_reatstandard > ul > li .number { display: table-cell; width: 22px; padding-right: 4px; white-space: nowrap; font-style: normal; text-align: right; }
.pop_reatstandard_wrap .list_reatstandard > ul > li .define { display: table-cell; padding-right: 4px; white-space: nowrap; }
.pop_reatstandard_wrap .list_reatstandard > ul > li .describe { display: table-cell; padding-right: 3px; }
.pop_reatstandard_wrap .list_reatstandard > ul > li > ul {   }
.pop_reatstandard_wrap .list_reatstandard > ul > li > ul > li { position: relative; line-height: 16px; margin: 5px 0; padding-left: 6px; color: #999; font-size: 12px; letter-spacing: -1px; }
.pop_reatstandard_wrap .list_reatstandard > ul > li > ul > li:before { content: '-'; display: inline-block; position: absolute; top: 5px; left: 0; width: 4px; height: 4px; line-height: 4px; vertical-align: top; }

.pop_store_change{padding:10px;}
.pop_store_change>p{margin-bottom:10px;font-size:13px;font-weight:bold;color:#33353d;text-align:center}
.pop_store_change .store_change_box{border-top:1px solid #e2e2e2;text-align:center;color:#666;}
.pop_store_change .store_change_box p {padding:15px; background:#f9f9f9; border-bottom:1px solid #e2e2e2; font-size:12px; font-weight:bold; line-height:22px}
.pop_store_change .store_change_box p em {font-size:16px; color:#8b9a3a; font-weight:bold; text-decoration:underline}
.pop_store_change .store_change_box p em:before {display:inline-block; content:''; width:15px; height:18px; margin-right:6px; background:url(../img/sp_ico.png) no-repeat -550px -46px }
.pop_store_change .store_change_box .store_sel{padding:15px; background:#f9f9f9; border-bottom:1px solid #e2e2e2; font-size:13px; font-weight:bold; line-height:24px}
.pop_store_change .store_change_box .store_sel span{display:block;}
.pop_store_change .store_change_box .store_sel ul{display:inline-block;}
.pop_store_change .store_change_box .store_sel ul li{text-align:left}
.pop_store_change .store_change_box .store_sel ul li label i{top:4px;}
.pop_store_change .store_change_box .store_sel ul li label span{font-size:13px;}

/* 20200324 장바구니 - 배송지변경 */
.pop_layer .my_banking .input_radio .label_text dd span.ico_delivery01{display:inline-block;font-size:11px;color:#fff;background:#698b2a;border-radius:50px;padding:0 10px;height:23px;line-height:23px;}
.pop_layer .my_banking .input_radio .label_text dd span.ico_delivery02{display:inline-block;font-size:11px;color:#fff;background:#0099ff;border-radius:50px;padding:0 10px;height:23px;line-height:23px;}
.pop_layer .my_banking .input_radio .label_text dd span.ico_delivery03{display:inline-block;font-size:11px;color:#fff;background:#cc3300;border-radius:50px;padding:0 10px;height:23px;line-height:23px;}




/* brand */
/* .brand .swiper-container-horizontal>.swiper-pagination-bullets{left:50%;} */


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}