﻿@charset "utf-8";

.color_dark { color: #666; }
.color_green { color: #8b9a3a; }
.color_gray { color: #999; }

/* ==========================================================================
   helpcenter
   ========================================================================== */
.helpcenter {  }
.helpcenter .ico_center_tel { width: 56px; height: 56px; background: url('../img/ico_center_tel.png') no-repeat 0 0; background-size: 56px 56px; }
.helpcenter .ico_tel02 { width: 10px; height: 15px; background: url('../img/ico_tel02.png') no-repeat 0 0; background-size: 10px 13px; }
.helpcenter .ico_center_menu { width: 46px; height: 45px; background: url('../img/ico_center_menu01.png') no-repeat 0 0; background-size: 46px 45px; }
.helpcenter .ico_center_menu01 { background-image: url('../img/ico_center_menu01.png'); }
.helpcenter .ico_center_menu02 { background-image: url('../img/ico_center_menu02.png'); }
.helpcenter .ico_center_menu03 { background-image: url('../img/ico_center_menu03.png'); }
.helpcenter .ico_center_menu04 { background-image: url('../img/ico_center_menu04.png'); }
.helpcenter .ico_center_menu05 { background-image: url('../img/ico_center_menu05.png'); }
.helpcenter .ico_center_menu06 { background-image: url('../img/ico_center_menu06.png'); }
.helpcenter .helpcenter_heading { position: relative; margin-bottom: 12px; padding: 0 0 0 80px; }
.helpcenter .helpcenter_heading .ico_center_tel { position: absolute; top: 0; left: 10px; }
.helpcenter .helpcenter_heading .helpcenter_heading_title { color: #333; font-size: 17px; font-weight: bold; letter-spacing: -1px; }
.helpcenter .helpcenter_heading .helpcenter_heading_tel { color: #333; font-size: 23px; letter-spacing: -2px; }
.helpcenter .helpcenter_heading .helpcenter_heading_description { color: #666; font-size: 13px; letter-spacing: -1px; }
.helpcenter .helpcenter_time { margin-top: 25px; }
.helpcenter .helpcenter_time ul { display: table; width: 100%; margin-bottom: 10px; padding: 8px 0 6px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.helpcenter .helpcenter_time ul li { display: table-cell; position: relative; padding: 0 5px; text-align: center; }
.helpcenter .helpcenter_time ul li { border-left: 1px solid #ddd; }
.helpcenter .helpcenter_time ul li .item { display: inline-block; position: relative; padding-left: 50px; text-align: left; }
.helpcenter .helpcenter_time ul li .item_lunch { display: inline-block; position: relative; padding-left: 10px; text-align: left; }
.helpcenter .helpcenter_time ul li .item_holy { display: inline-block; position: relative; padding: 0 25px 0 25px; text-align: left; }
.helpcenter .helpcenter_time ul li .item .label { position: absolute; top: 0; left: 0; }
.helpcenter .helpcenter_time ul li .item > span { display: inline-block; padding-top: 2px; padding-left: 10px; line-height: 14px; color: #666; font-size: 13px; letter-spacing: -1px; vertical-align: top; }
.helpcenter .helpcenter_time ul li .item_lunch > span { display: inline-block; padding-top: 4px; padding-left: 10px; line-height: 14px; color: #666; font-size: 13px; letter-spacing: -1px; vertical-align: top; }
.helpcenter .helpcenter_time ul li .item_holy > span { display: inline-block; padding-top: 4px; padding-left: 10px; line-height: 14px; color: #666; font-size: 13px; letter-spacing: -1px; vertical-align: top; }
.helpcenter .helpcenter_time ul li:first-child { border: 0;  }
.helpcenter .helpcenter_time ul li:first-child .label { left: 0; }
.helpcenter .helpcenter_time p { color: #999; font-size: 12px; }
.helpcenter .helpcenter_menu {  }
.helpcenter .helpcenter_menu ul { overflow: hidden; background: #fff; border-left: 1px solid #ccc; border-top: 1px solid #ccc; }
.helpcenter .helpcenter_menu ul li { float: left; width: 33.333%; line-height: 20px; border: 1px solid #ccc; border-left: 0; border-top: 0; color: #333; font-size: 13px; text-align: center; }
.helpcenter .helpcenter_menu ul li .ico {  }
.helpcenter .helpcenter_menu ul li a { display: block; height: 67px; color: inherit; }
.helpcenter .helpcenter_menu ul li a > span { display: block; }


/* ==========================================================================
   shopfind
   ========================================================================== */
/*
  component.css 로 이동
*/
/* .shopfind .ico_tel { width: 18px; height: 20px; background: url('../img/ico_tel.png') no-repeat 0 0; background-size: 18px 18px; }
.shopfind .btn_tel { height: 24px; line-height: 24px; padding-left: 25px; font-size: 13px; border-color: #96a83a; border-radius: 24px; background: #9fb33a; color: #fff; }
.shopfind .btn_tel .ico_tel { position: absolute; top: 2px; left: 2px; }
.shopfind_list_wrapper {  background: #fff; }
.shopfind_list_hading { padding: 15px; color: #333; font-size: 14px; letter-spacing: -1px; text-align: center; }
.shopfind_list { position: relative; padding: 0 15px; background: #fff; }
.shopfind_list ul {  }
.shopfind_list ul li { padding: 10px 0; border-top: 1px solid #ddd; }
.shopfind_list .shopfind_item { display: table; position: relative; width: 100%; }
.shopfind_list .shopfind_container { display: table-cell; padding-right: 10px; vertical-align: middle; vertical-align: middle; }
.shopfind_list .shopfind_container > a { display: block; }
.shopfind_list .shopfind_aside { display: table-cell; width: 1%; white-space: nowrap; vertical-align: middle; }
.shopfind_list .shopfind_title { display: inline-block; line-height: 20px; margin-right: 5px; font-size: 14px; letter-spacing: -1px; }
.shopfind_list .shopfind_field { display: inline-block; margin-right: 5px; color: #999; }
.shopfind_list .shopfind_field:after { content: ''; display: inline-block; position: relative; width: 1px; height: 10px; margin-left: 8px; background: #ddd; }
.shopfind_list .shopfind_name { display: inline-block; color: #666; }
.shopfind_list .shopfind_addr { color: #666; font-size: 13px; letter-spacing: -1px; }
.shopfind_list .empty_data { padding: 20px 0; }
.shopfind_list .empty_data .empty_data_title { font-size: 12px; }
.shopfind_detail { position: relative; padding: 15px; background: #fff; }
.shopfind_detail .shopfind_detail_header { position: relative; min-height: 35px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
.shopfind_detail .shopfind_detail_header .shopfind_title { padding: 3px 120px 0 0;  color: #000; font-size: 18px; font-weight: bold; letter-spacing: -1px; }
.shopfind_detail .shopfind_detail_header .shopfind_tel { position: absolute; top: 0; right: 0; }
.shopfind_detail .shopfind_photo { oveflow: hidden; margin-top: 10px; border: 1px solid #dfdfdf; }
.shopfind_detail .shopfind_photo img { width: 100%; vertical-align: top; }
.shopfind_detail .shopfind_info { margin-top: 10px; }
.shopfind_detail .shopfind_info .table_default table { border-color: #efefef; }
.shopfind_detail .shopfind_info .table_default th,
.shopfind_detail .shopfind_info .table_default td { border-color: #efefef; font-size: 13px; }
.shopfind_detail .shopfind_info .table_default th { border-right: 0; background: none; color: #000; vertical-align: top; }
.shopfind_detail .shopfind_info .table_default td { white-space: normal; }
.shopfind_detail .shopfind_info .table_default td strong { color: #333; font-weight: normal; }
.shopfind_detail .shopfind_service { margin-top: 10px; }
.shopfind_detail .shopfind_service .ico_shopfind_truck { width: 19px; height: 16px; background: url('../img/ico_shopfind_truck.png') no-repeat 0 0; background-size: 19px 15px; }
.shopfind_detail .shopfind_service .ico_shopfind_shop { width: 20px; height: 16px; background: url('../img/ico_shopfind_shop.png') no-repeat 0 0; background-size: 19px 15px; }
.shopfind_detail .shopfind_service ul { display: table; table-layout: fixed; position: relative; width: 100%; }
.shopfind_detail .shopfind_service ul li { z-index: 1; display: table-cell; position: relative; text-align: center; }
.shopfind_detail .shopfind_service ul li .service_text { margin-left: 5px; }
.shopfind_detail .shopfind_service ul li > span { display: block; overflow: hidden; position: relative; height: 35px; line-height: 35px; padding: 0 5px; border: 1px solid #dfdfdf; background: #fff; color: #cac5be; font-size: 13px; letter-spacing: -1px; white-space: nowrap; text-overflow: ellipsis; }
.shopfind_detail .shopfind_service ul li + li > span { margin-left: -1px; }
.shopfind_detail .shopfind_service ul li.active { z-index: 2; }
.shopfind_detail .shopfind_service ul li.active > span { border: 1px solid #4b3c34; background: #604d44; color: #fff; }
.shopfind_detail .shopfind_service ul li.active .ico_shopfind_truck { background-image: url('../img/ico_shopfind_truck02.png'); }
.shopfind_detail .shopfind_service ul li.active .ico_shopfind_shop { background-image: url('../img/ico_shopfind_shop02.png'); }
.shopfind_detail .shopfind_location { margin-top: 10px; }
.shopfind_detail .shopfind_location .shopfind_map { position: relative; padding-bottom: 61%; border: 1px solid #dfdfdf; background: #eee; }
.shopfind_detail .shopfind_location .shopfind_map_inner { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.shopfind_detail .shopfind_location .shopfind_map_box { position: relative; width: 100%; height: 100%; }
.shopfind_detail .shopfind_location .shopfind_map_box > img { width: 100%; vertical-align: top; } */


/* ==========================================================================
   ccm
   ========================================================================== */
.ccm {  }
.ccm .list_desc {  }
.ccm .list_desc ul {  }
.ccm .list_desc ul li { margin: 5px 0; color: #515254; font-size: 13px; }
.ccm .list_desc ul li .define { display: table-cell; padding-right: 4px; white-space: nowrap; font-weight: bold; }
.ccm .list_desc ul li .describe { display: table-cell; padding-right: 3px; color: #666; }
.ccm_header { margin-bottom: 10px; text-align: center; }
.ccm_header_title { color: #000; font-size: 16px; letter-spacing: -1px; }
.ccm_header_title strong { }
.ccm_header_description { margin-top: 2px; color: #666; font-size: 14px; }
.ccm_info {  }
.ccm_info .ccm_info_image { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #dfdfdf; text-align: center; }
.ccm_info .ccm_info_image img { width: 92px }
.ccm_info .ccm_info_title { color: #333; font-size: 16px; }
.ccm_info .ccm_info_subtitle { margin-bottom: 10px; color: #333; font-size: 14px; }
.ccm_info .ccm_info_text { color: #666; font-size: 13px; }
.ccm_info .ccm_info_text p { margin-bottom: 12px; }
.ccm_info .btn {  }
.ccm_center {  }
.ccm_center .ccm_center_heading {  }
.ccm_center .ccm_center_title { margin-bottom: 2px; color: #333333; font-size: 14px; }
.ccm_center .ccm_center_description { color: #666666; font-size: 14px; }
.ccm_center .ccm_center_process { position: relative; margin-top: 15px; }
.ccm_center .ccm_center_process .swiper-container {  }
.ccm_center .ccm_center_process .swiper-wrapper {  }
.ccm_center .ccm_center_process .swiper-slide {  }
.ccm_center .ccm_center_process .process_item { text-align: center; }
.ccm_center .ccm_center_process .process_title { margin-top: 5px; color: #4b590a;font-size: 14px;font-weight: bold; }
.ccm_center .ccm_center_process .process_description { color: #666; font-size: 13px; }
.ccm_center .ccm_center_process .ico_ccmcenter_step1,
.ccm_center .ccm_center_process .ico_ccmcenter_step2,
.ccm_center .ccm_center_process .ico_ccmcenter_step3,
.ccm_center .ccm_center_process .ico_ccmcenter_step4,
.ccm_center .ccm_center_process .ico_ccmcenter_step5 { width: 112px; height: 112px; background: url('../img/ico_ccmcenter_step1.png') no-repeat 0 0; background-size: 112px 112px; }
.ccm_center .ccm_center_process .ico_ccmcenter_step1 { background-image: url('../img/ico_ccmcenter_step1.png'); }
.ccm_center .ccm_center_process .ico_ccmcenter_step2 { background-image: url('../img/ico_ccmcenter_step2.png'); }
.ccm_center .ccm_center_process .ico_ccmcenter_step3 { background-image: url('../img/ico_ccmcenter_step3.png'); }
.ccm_center .ccm_center_process .ico_ccmcenter_step4 { background-image: url('../img/ico_ccmcenter_step4.png'); }
.ccm_center .ccm_center_process .ico_ccmcenter_step5 { background-image: url('../img/ico_ccmcenter_step5.png'); }
.ccm_center .ccm_center_process .orga_swiper_pagination { position: relative; margin-top: 20px; margin-bottom: 0 !important; }
.ccm_center .ccm_center_process .orga-swiper-button-prev,
.ccm_center .ccm_center_process .orga-swiper-button-next { z-index: 999; position: absolute; top: 0; width: 26px; height: 100%; margin-top: -13px; background: url('../img/ico_swiper_prev.png') no-repeat 0 50%; background-size: 13px 26px; }
.ccm_center .ccm_center_process .orga-swiper-button-prev { left: 0; background-image: url('../img/ico_swiper_prev.png'); background-position: 0 50%; }
.ccm_center .ccm_center_process .orga-swiper-button-next { right: 0; background-image: url('../img/ico_swiper_next.png'); background-position: 100% 50%; }
.ccm_center .ccm_center_process .orga-swiper-button-prev.swiper-button-disabled,
.ccm_center .ccm_center_process .orga-swiper-button-next.swiper-button-disabled { opacity: 0.3 }
.ccm_help {  }
.ccm_help .panel_button { padding: 0; }
.ccm_help .ccm_help_info { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #e1e1e1; text-align: center; }
.ccm_help .ccm_help_info .help_tel { margin-bottom: 2px; color: #333; font-size: 23px; letter-spacing: -2px; }
.ccm_help .ccm_help_info .help_tel a { color: inherit; }
.ccm_help .ccm_help_info .help_info { color: #333; font-size: 14px; }
.ccm_help .ccm_help_info .help_info strong { color: #4e5357; }
.ccm_help .ccm_help_info .help_info em { color: #999; font-size: 12px; font-style: normal; }
.ccm_help .list_type02 { margin-bottom: 10px; }
.ccm_help .list_type02 ul li { color: #4e5357; }
.popup_cert {  }
.popup_cert_image {  }
.popup_cert_image img { width: 100%; vertical-align: top; }


/* ==========================================================================
   openshop
   ========================================================================== */
.openshop {  }
.openshop_info { padding: 15px; border: 1px solid #dfdfdf; background: #fafafa; }
.openshop_info_text { color: #666; font-size: 14px; }
.openshop_info_step > ul { display: table; table-layout: fixed; margin: 10px 0; width: 100%; }
.openshop_info_step > ul > li { display: table-cell; width: 50%; /*height: 70px;*/ border: 1px solid #dfdfdf; background: #fff; }
.openshop_info_step > ul > li.arrow { display: table-cell; width :18px; border: 0; background: url('../img/ico_openshop_info_step_arr.png') no-repeat 50% 50%; background-size: 7px 13px; }
.openshop_info_step .step_item { padding: 10px; }
.openshop_info_step .step_title { color: #8b9a3a; font-size: 13px; }
.openshop_info_step .step_description { color: #666; font-size: 13px; }
.openshop_terms { }
.openshop_terms > ul { }
.openshop_terms > ul > li { }
.openshop_terms > ul > li:after { content: ''; display: block; height: 18px; background: url('../img/ico_openshop_terms_arr.png') no-repeat 50% 50%; background-size: 13px 7px; }
.openshop_terms > ul > li:last-child:after { display: none; }
.openshop_terms .terms_item { display: table; position: relative;  width: 100%; border: 1px solid #dfdfdf; background: #fafafa; }
.openshop_terms .ico_openshop_step { position: absolute; top: 50%; left: 10px; width: 57px; height: 57px; margin-top: -28px; background: url('../img/ico_openshop_step1.png') no-repeat 0 0; background-size: 57px 57px; }
.openshop_terms .ico_openshop_step1 { background-image: url('../img/ico_openshop_step1.png'); }
.openshop_terms .ico_openshop_step2 { background-image: url('../img/ico_openshop_step2.png'); }
.openshop_terms .ico_openshop_step3 { background-image: url('../img/ico_openshop_step3.png'); }
.openshop_terms .ico_openshop_step4 { background-image: url('../img/ico_openshop_step4.png'); }
.openshop_terms .ico_openshop_step5 { background-image: url('../img/ico_openshop_step5.png'); }
.openshop_terms .ico_openshop_step6 { background-image: url('../img/ico_openshop_step6.png'); }
.openshop_terms .terms_container { display: table-cell; height: 60px; padding: 15px 15px 15px 80px; vertical-align: middle; }
.openshop_terms .terms_title { margin-bottom: 5px; color: #681d00; font-size: 13px; }
.openshop_terms .terms_list { }
.openshop_terms .terms_list ul { }
.openshop_terms .terms_list ul li { position: relative; margin: 2px 0; padding-left: 6px; color: #333; font-size: 13 px; letter-spacing: -1px; }
.openshop_terms .terms_list ul li:before { content: ''; display: inline-block; position: absolute; top: 5px; left: 0; width: 8px; height: 8px; background: url('../img/bul_list02.png') no-repeat 0 0; background-size: 2px 3px; vertical-align: middle; }
.openshop_terms .terms_list ul li .define { display: table-cell; white-space: nowrap; }
.openshop_terms .terms_list ul li .describe { display: table-cell; color: #666; }
.openshop_terms .terms_list ul li.none { padding-left: 0; }
.openshop_terms .terms_list ul li.none:before { display: none; }
.openshop_counsel {  }
.openshop_counsel_header { margin-bottom: 20px; padding: 15px; border-bottom: 1px solid #dfdfdf; background: #fff; }
.openshop_counsel_title { margin-bottom: 15px; padding-bottom: 12px; border-bottom: 1px solid #dfdfdf; color: #000; font-size: 19px; letter-spacing: -2px; text-align: center; }


/* ==========================================================================
   popup_breakdown
   ========================================================================== */
.popup_breakdown .pop_content { padding: 0; }
.popup_breakdown .breakdown {  }
.popup_breakdown .breakdown_header {  }
.popup_breakdown .breakdown_header .panel_default{table-layout:fixed;}
.popup_breakdown .breakdown_header .panel_default.tab_default ul{table-layout:auto}
.popup_breakdown .breakdown_container { padding-bottom: 65px; }
.popup_breakdown .breakdown_content {  }
.popup_breakdown .breakdown_footer { position: fixed; bottom: 0; left: 0; width: 100%; height: 65px; border-top: 1px solid #dfdfdf; z-index:1000}
.popup_breakdown .breakdown_list { background: #fff; }
.popup_breakdown .breakdown_list > ul {  }
.popup_breakdown .breakdown_list > ul > li { border-top: 1px solid #dfdfdf; }
.popup_breakdown .breakdown_list > ul > li:first-child { border-top: 0; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item { padding: 10px 15px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item .input_radio { display: block; padding: 0 0 0 30px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item .input_radio > i { top: 50%; left: 0; margin-top: -9px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item .item_date { margin-bottom: 4px; color: #999; font-size: 12px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item .item_title { color: #333; font-size: 15px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item .item_price { color: #333; font-size: 15px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_item {  }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub { overflow: hidden; height: 0; }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub > ul { border-top: 1px solid #dfdfdf; background: #fbfbfb; }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub > ul > li {; padding: 5px 0 5px 47px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub > ul > li .input_check { padding: 0 0 0 28px; color: #666; font-size: 13px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub > ul > li .input_check > i {   }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub > ul > li .input_check .label_text { padding-top: 3px; }
.popup_breakdown .breakdown_list > ul > li .breakdown_sub > ul > li.totalcheck { padding-bottom: 10px; border-bottom: 1px solid #dfdfdf; }
.popup_breakdown .breakdown_list > ul > li.empty_data { padding: 50px 0; }
.popup_breakdown .breakdown_list > ul > li.active {  }
.popup_breakdown .breakdown_list > ul > li.active .breakdown_sub { height: auto; }



.srch{}


.srch .srch_keyword{position:relative;}
.srch .srch_keyword dl{overflow:hidden;position:relative;padding:10px 50px 10px 15px;border-bottom:1px solid #dfdfdf;background-color:#fff;}
.srch .srch_keyword dt{position:absolute;top:12px;left:15px;padding:0 7px;background-color:#9fb23a;border-radius:2px;font-size:12px;font-weight:bold;color:#fff;line-height:18px;}
.srch .srch_keyword dd{}
.srch .srch_keyword dd ul{overflow:hidden;height:20px;}
.srch .srch_keyword.active dd ul{height:auto;}
.srch .srch_keyword dd ul li{float:left;position:relative;margin-right:5px;padding-right:5px;line-height:20px;}
.srch .srch_keyword dd ul li:first-child{margin-left:50px;}
.srch .srch_keyword dd ul li:last-child{margin-right:0;padding-right:0;}
.srch .srch_keyword dd ul li:after{display:block;content:'';position:absolute;top:3px;right:0;width:1px;height:15px;background-color:#e2e2e2;}
.srch .srch_keyword dd ul li:last-child:after{display:none;}
.srch .srch_keyword dd ul li a{font-size:14px;color:#666;}
.srch .srch_keyword .btn_list_view{position:absolute;top:0;bottom:0;right:0;width:55px;}
.srch .srch_keyword .btn_list_view:after{display:block;content:'';position:absolute;top:15px;left:50%;margin:0 0 0 -2px;border-style:solid;border-width:8px 4px 0 4px;border-color:#666 transparent transparent transparent;}
.srch .srch_keyword.active .btn_list_view:after{border-width:0 4px 8px 4px;border-color: transparent transparent #666 transparent;}




.srch .tab_default{padding:10px;}
.srch .board_list .empty_data{font-size:12px;color:#999;}
.srch .re_orga_best{margin-top:15px;padding-top:15px;border-top:1px solid #dfdfdf;background-color:#fff;}
.srch .re_orga_best dt{background-color:#fff;font-size:14px;color:#333;text-align:center}
.srch .re_orga_best dd{}
.srch .re_orga_best .pdcard_list{}
.srch .panel_default .input_select{}
.srch .panel_default .select_content{display:none;overflow: hidden;overflow-y: auto;position:absolute;top:33px;left:0;width:100%;max-height: 180px;background-color:#fff;border:1px solid #ddd;border-top:0;z-index:100;-webkit-overflow-scrolling: touch; }
.srch .panel_default .select_content.active{display:block;}
.srch .panel_default .select_content dl{padding:15px;border-top:1px solid #ddd;}
.srch .panel_default .select_content dt{font-size:12px;font-weight:bold;color:#333;}
.srch .panel_default .select_content dt span{color:#872900;}
.srch .panel_default .select_content dd{position:relative;margin-top:5px;padding-left:10px;font-size:12px;color:#666;}
.srch .panel_default .select_content dd:after{display:block;content:'';position:absolute;top:4px;left:0;width:7px;height:7px;background:url(../img/ico_arrow_l.png) no-repeat 0 0;background-size:7px 7px}



.search_wrap{position:absolute;top:0;left:0;width:100%;min-height:100%;padding:56px 0 0 0;background-color:#f5f6f8;}
.search_wrap .total_search{position:fixed;top:0;left:0;width:100%;padding:12px 15px 12px 40px;background-color:#453c33;-webkit-transform: translateZ(0); transform: translateZ(0);box-shadow: inset 0 0 5px #000}
.search_wrap .total_search .input_total_search .btn_total_search:after{display:none;}
.search_wrap .total_search .input_total_search .input_cell{position:relative;}
.search_wrap .total_search .input_total_search .input_cell .btn_srch_del{overflow:hidden;position:absolute;top:50%;right:12px;width:12px;height:12px;margin-top:-6px;background:url(../img/srch_delete.png) no-repeat;background-size:12px 12px}
.search_wrap .total_search .pageback{background:url(../img/ico_pageback2.png) no-repeat 50% 50%;background-size:8px 16px;}

.search_wrap .search_content{display:none;overflow:hidden;background-color:#fff;}
.search_wrap .search_content.active{display:block;}
.search_wrap .search_content .list_keyword{float:left;width:50%;}
.search_wrap .search_content .list_keyword dt{border:1px solid #dedbc1;background-color:#ebe8ce;font-size:14px;font-weight:bold;color:#333;line-height:38px;text-align:center}
.search_wrap .search_content .list_keyword:last-child dt{border-left:0;}
.search_wrap .search_content .list_keyword dd{}
.search_wrap .search_content .list_keyword dd ul{}
.search_wrap .search_content .list_keyword dd ul li{position:relative;border:1px solid #f3f3f3;border-width:0 1px 1px 0;}
.search_wrap .search_content .list_keyword:last-child dd ul li{border-right:0;}
.search_wrap .search_content .list_keyword dd ul li a{display:block;padding:0 20px;font-size:12px;font-weight:bold;color:#666;line-height:38px;}
.search_wrap .search_content .list_keyword span{display:inline-block;overflow:hidden;width:20px;height:10px;margin-right:10px;border-right:1px solid #e2e2e2;background:url(../img/srch_rank_num.png) no-repeat;background-size:15px 150px;text-indent:-999em;vertical-align:middle;}
.search_wrap .search_content .list_keyword dd ul li.no_keyword{padding:40px 0;font-size:12px;font-weight:bold;color:#666;text-align:center}

.search_wrap .search_content .list_keyword .rank_num1{background-position:0 0;}
.search_wrap .search_content .list_keyword .rank_num2{background-position:0 -15px;}
.search_wrap .search_content .list_keyword .rank_num3{background-position:0 -30px;}
.search_wrap .search_content .list_keyword .rank_num4{background-position:0 -45px;}
.search_wrap .search_content .list_keyword .rank_num5{background-position:0 -60px;}
.search_wrap .search_content .list_keyword .rank_num6{background-position:0 -75px;}
.search_wrap .search_content .list_keyword .rank_num7{background-position:0 -90px;}
.search_wrap .search_content .list_keyword .rank_num8{background-position:0 -105px;}
.search_wrap .search_content .list_keyword .rank_num9{background-position:0 -120px;}
.search_wrap .search_content .list_keyword .rank_num10{background-position:0 -135px;}

.search_wrap .search_content .list_keyword .btn_keyword_del{overflow:hidden;position:absolute;top:50%;right:20px;width:10px;height:10px;padding:0;margin-top:-5px;background:url(../img/ico_file_delete.png) no-repeat 0 0;background-size:10px 10px;line-height:normal;text-indent:-99em}


.search_wrap .search_content .list_recommend{}
.search_wrap .search_content .list_recommend:last-child{border-bottom:1px solid #b2b2b1;}
.search_wrap .search_content .list_recommend dt{border:1px solid #deccb6;border-top:1px solid #fff;padding-left:20px;background-color:#ebe8ce;font-size:14px;font-weight:bold;color:#333;line-height:38px}
.search_wrap .search_content .list_recommend.re_category dt{border:1px solid #deccb6;border-top:1px solid #9f946c;background-color:#dbd1ac;}
.search_wrap .search_content .list_recommend.re_planning dt{border:1px solid #ceb9a0;border-top:1px solid #b7a085;background-color:#deccb6;}
.search_wrap .search_content .list_recommend dd{}
.search_wrap .search_content .list_recommend dd ul{}
.search_wrap .search_content .list_recommend dd ul li{}
.search_wrap .search_content .list_recommend dd ul li.no_srch{display:block;padding:0 20px;border-top:1px solid #e9e5e0;font-size:12px;font-weight:bold;color:#666;line-height:38px;}
.search_wrap .search_content .list_recommend dd ul li a{display:block;padding:0 20px;border-top:1px solid #e9e5e0;font-size:12px;font-weight:bold;color:#666;line-height:38px;}
.search_wrap .search_content .list_recommend dd ul li a span{color:#872900;}

.login{}

.login .tab_default{margin-top:10px;}
.login .login_area{padding:32px 25px 30px;background-color:#fff;text-align:center}
.login .login_area dl{}
.login .login_area dt{font-size:17px;color:#666;}
.login .login_area dt strong{position:relative;font-weight:bold;color:#000;}
.login .login_area dt strong:after{display:block;content:'';position:absolute;top:-8px;right:0;width:8px;height:9px;background:url(../img/ico_login.png) no-repeat 0 0;background-size:8px 9px;}
.login .login_area dd{margin-top:5px;font-size:13px;color:#999;}
.login .login_area dd a{display:inline-block;border-bottom:1px solid #b2b2b2;font-weight:bold;color:#666}
.login .login_area .btn{margin-top:15px;font-weight:bold;}

.login .orga_join{padding:15px 25px;background-color:#fbf9e4;}
.login .orga_join .join_wrap{position:relative;min-height:42px;padding-left:65px;}
.login .orga_join .join_wrap:after{display:inline-block;content:'';min-height:42px;height:100%;vertical-align:middle;}
.login .orga_join img{display:block;width:53px;position:absolute;top:50%;left:0;margin-top:-18px;}
.login .orga_join dl{display:inline-block;width:98%;vertical-align:middle;}
.login .orga_join dt{font-size:14px;font-weight:bold;color:#000;}
.login .orga_join dd{font-size:13px;color:#666;}
.login .orga_join .btn{margin-top:15px;font-weight:bold;}

.login .nm_order_agree{padding:0 15px 30px;background-color:#fff;}
.login .nm_order_agree ul{}
.login .nm_order_agree ul li{padding:7px 0 10px;border-bottom:1px solid #dfdfdf;}
.login .nm_order_agree ul li dl{}
.login .nm_order_agree ul li dt{margin-top: 15px;font-size:15px;font-weight:bold;color:#000;}
.login .nm_order_agree ul li dd{margin-top:5px;font-size:14px;color:#666;}
.login .nm_order_agree ul li .input_check{margin-top:10px;font-size:13px;color:#666;line-height:20px;}
.login .nm_order_agree ul li .btn_block{font-weight:bold;margin-top:10px;}
.login .nm_order_agree .btn_green{margin-top:15px;font-weight:bold;}

.login .nm_order_inquiry{padding:15px 15px 30px;background-color:#fff;}
.login .nm_order_inquiry>p{margin-bottom:10px;font-size:14px;color:#666;line-height:20px}
.login .nm_order_inquiry .btn{font-weight:bold;}
.login .btn_inquiry{margin-top:10px;padding-top:10px;border-top:1px solid #dfdfdf;}



.reception_box{}
.reception_box +.reception_box{margin-top:10px;}
.reception_box>div>span{display:inline-block;width: 130px;font-size:13px;color:#666;vertical-align:middle;}

.reception_box .check_area{}
.reception_box .check_area label{font-size:13px;}




.pop_layer .list_filter{}
.pop_layer .list_filter>li{margin-top:5px;}
.pop_layer .list_filter>li:first-child{margin-top:0;}
.pop_layer .list_filter>li .panel_default{padding:0;border:0;background:none;}
.pop_layer .list_filter>li .select_content{display:none;padding:15px 15px;border:1px solid #ddd;border-top:0;}
.pop_layer .list_filter>li:last-child .select_content{padding:25px 15px 15px;}
.pop_layer .list_filter>li .input_select.active + .select_content{display:block;}
.pop_layer .list_filter>li .select_content ul{overflow:hidden;}
.pop_layer .list_filter>li .select_content ul li{float:left;width:50%;margin-top:10px;}
.pop_layer .category_srch_footer{ z-index: 800; position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 15px; border-top: 1px solid #dfdfdf; background: #fff; }

.pop_layer .price_range{position:relative;width:260px;height:5px;margin:0 auto;background-color:#e2e2e2;border-radius:2px;border:1px solid #c2c2c2;}
.pop_layer .price_range .btn_price{position:absolute;top:-11px;width:21px;height:29px;background:url(../img/ico_price.png) no-repeat 0 0;background-size:21px 29px;z-index:10}
.pop_layer .price_range .btn_price_left{left:0;}
.pop_layer .price_range .btn_price_right{left:238px;}
.pop_layer .price_range .price_bar{position:absolute;top:0;left:0;width:100%;height:5px;background-color:#8b9a3a;}

.pop_layer .price_txt{overflow:hidden;margin-top:25px;text-align:center;font-size:0;}
.pop_layer .price_txt span{float:left;position:relative;width:45%;padding-right:20px;}
.pop_layer .price_txt span input{}
.pop_layer .price_txt span strong{position:absolute;top:6px;right:0;font-size:12px;color:#909090;}
.pop_layer .price_txt em{float:left;width:10%;font-size:16px;color:#666;line-height:34px;}


.breakdown_header .srch_order {padding:10px 15px; background:#eeeff1}
.breakdown_header .srch_order .form_group {margin-top:5px}
.breakdown_header .srch_order .btn_brown {border:0}

.breakdown_header .srch_order .form_group_1_1{display:block;position:relative;padding-right:55px;}
.breakdown_header .srch_order .form_group_1_1 .form_group_main{display:block;overflow:hidden;position:relative;}
.breakdown_header .srch_order .form_group_1_1 .form_group_main + .form_group_aside{display:block;position:absolute;top:0;right:0px;width:auto;padding-left:0;}
.breakdown_header .srch_order .form_group_1_1 .form_group_main .input_col{display:block;float:left;width:48%;}
.breakdown_header .srch_order .form_group_1_1 .form_group_main .input_col:last-child{float:right;margin-left:0;}
.breakdown_header .srch_order .form_group_1_1 .form_group_main .input_addon{display:block;position:absolute;top:0;left:50%;margin-left:-5px;float:left;width:auto;line-height:34px;}
.breakdown_header .srch_order .input_calendar{display:block;position:relative;}
.breakdown_header .srch_order .input_calendar .input_group_main{display:block;}
.breakdown_header .srch_order .input_calendar .input_group_main input{}
.breakdown_header .srch_order .input_calendar .input_group_aside{display:block;position:absolute;top:0;right:0;width:34px;}
.breakdown_header .srch_order .input_calendar .input_group_aside .btn_calendar{}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}