@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec7{background:#c3e9fe;padding-bottom:19.4444vw}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:5%;right:5%;bottom:0}

/* 아코디언 탭메뉴 */
.event_wrap .tab_wrap{margin:0 5.5555vw}
.event_wrap .tab_wrap li{margin-bottom:1.3888vw}
.event_wrap .tab_wrap .tab{position:relative;cursor:pointer}
.event_wrap .tab_wrap .tab:after{content:'';position:absolute;top:11.9444vw;right:5.5555vw;width:6.6666vw;height:6.6666vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202304/0403_norwegian_mackerel/img/btn_down.svg) no-repeat 0/100%}
.event_wrap .tab_wrap li.on .tab:after{transform:rotate(180deg)}
.event_wrap .tab_wrap .tab_content{display:none;position:relative}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:88.8888vw;height:50vw;background:url(https://i.vimeocdn.com/video/1642579691-f70e68ee3e557b864631147f548831087313a936cf11d65ff24a708d7a6aa450-d?mw=1920&mh=929) 50%;background-size:100% auto}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* 상단모션 */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box .bluebox{position:absolute;top:19.4444vw;left:0;width:49.4444vw;height:37.5vw;background:#05055f}
.motion_box .hashtag{position:absolute;top:26vw;left:18.0555vw;font-size:4.1666vw;line-height:5vw;color:#fff;letter-spacing:-0.7px}
.motion_box .title{position:absolute;top:39vw;left:18.0555vw;font-size:12.5vw;font-weight:700;line-height:13.3333vw;color:#fff;letter-spacing:-2.5px}

.motion_box .motion1{-webkit-animation:slide-left 0.6s 0s ease-in-out both;animation:slide-left 0.6s 0s ease-in-out both}
.motion_box .motion2{-webkit-animation:slide-top 0.8s 0.4s ease-in-out both;animation:slide-top 0.8s 0.4s ease-in-out both}
.motion_box .motion3{-webkit-animation:slide-top 0.8s 0.7s ease-in-out both;animation:slide-top 0.8s 0.7s ease-in-out both}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform:translate(-200px, 0);
            transform:translate(-200px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform:translate(-200px, 0);
            transform:translate(-200px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 40px);
            transform:translate(0, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 40px);
            transform:translate(0, 40px);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
