@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;bottom:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:1090px;height:613px;background:url(https://i.vimeocdn.com/video/1642579691-f70e68ee3e557b864631147f548831087313a936cf11d65ff24a708d7a6aa450-d?mw=1920&mh=929) 50%;background-size:100% auto;margin:0 auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* 상단모션 */
.motion_box{overflow:hidden}
.motion_box .bluebox{position:absolute;top:170px;left:-370px;width:649px;height:419px;background:#00004f}
.motion_box .hashtag{position:absolute;top:230px;left:0;font-size:30px;line-height:40px;color:#fff;letter-spacing:-1px}
.motion_box .title{position:absolute;top:312px;left:0;font-size:100px;font-weight:700;line-height:110px;color:#fff;letter-spacing:-4px}

.motion_box .motion1{-webkit-animation:slide-left 0.7s 0s ease-in-out both;animation:slide-left 0.7s 0s ease-in-out both}
.motion_box .motion2{-webkit-animation:slide-top 0.8s 0.4s ease-in-out both;animation:slide-top 0.8s 0.4s ease-in-out both}
.motion_box .motion3{-webkit-animation:slide-top 0.8s 0.8s ease-in-out both;animation:slide-top 0.8s 0.8s ease-in-out both}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform:translate(-300px, 0);
            transform:translate(-300px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform:translate(-300px, 0);
            transform:translate(-300px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 50px);
            transform:translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform:translate(0, 50px);
            transform:translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
