@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti.noti1{background-color:#5dbbff}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:0 5.5555vw 15.2778vw}
.event_wrap .p_evt_noti.noti2{background-color:#f4f4f4}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:15.2778vw 5.5555vw 13.8889vw}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* template */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{background:#5dbbff !important;text-align:center}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:55.5556vw;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe_member/img/p_evt_btn.jpg) center center no-repeat;background-size:100%}
