@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti.noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe_member/img/p_evt_sec3.jpg) 50% 0 no-repeat}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding:138px 40px 188px}
.event_wrap .p_evt_noti.noti2{background-color:#f4f4f4}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:100px 40px 90px}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;min-width:1168px;max-width:1920px;padding:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe_member/img/p_evt_sec2.jpg) 50% 0 no-repeat}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe_member/img/p_evt_btn.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
