@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .btn_lnk1{top:13%;left:9%;width:82%;height:38%}
.event_wrap .btn_lnk2{top:56%;left:9%;width:82%;height:38%}
.event_wrap .btn_lnk3{top:0;left:9%;width:82%;height:40%}
.event_wrap .btn_lnk4{top:46.5%;left:9%;width:82%;height:40%}

/* mobile */
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn_lnk1{top:auto;left:13.5%;bottom:10.2%;width:72.5%;height:11.4%}