@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:440px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:440px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:#7ccc14 url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1231_dawn_delivery/img/p_bg_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:#7ccc14 url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1231_dawn_delivery/img/p_bg_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#f2fae7}
.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1231_dawn_delivery/img/p_bg_sec2_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1231_dawn_delivery/img/p_bg_sec2_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#357849}
.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1231_dawn_delivery/img/p_bg_sec4.jpg) 0 0 no-repeat}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:14.8%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{position:relative;float:left;width:33.333334%;height:100%;margin:0;padding:0}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .btn_opened{top:73%;left:32%;width:36%;height:5.5%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;margin:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:60px;height:60px;border:none;background:none}
 