@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_coupon{top:44%;left:23.8%;width:52.5%;height:35.5%}
.event_wrap .btn_lnk1{top:80.4%;left:22.22%;width:55.55%;height:8.88%}

.event_wrap .benefit_list{position:absolute;top:29%;right:18%;left:18%;bottom:19%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{width:100%;height:19%}
.event_wrap .benefit_list li:first-child{height:44%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#25b427}
.event_wrap .evt_notice{padding:0 5.555555% 50px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) -24px 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#f4f4f4}
.event_wrap .noti2 .notice_title{border-top:2px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background-position:0 0}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* product */
.event_wrap .p_evt_sec3{background:#d1f369}
.event_wrap .p_evt_sec3 .desc{padding:0 5.555556% 50px;text-align:center;font-size:13px;color:#333;line-height:20px}
.event_wrap .product_list{position:relative;padding:0 5.555556%;display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:46.875%;vertical-align:top;border-radius:6px;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:center}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .product_info{overflow:hidden;display:block;width:100%;padding:12px 2% 25px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;max-height:36px;font-size:13px;font-weight:500;color:#333;line-height:18px;word-break:break-all}
.event_wrap .percent{position:absolute;top:0;left:0;width:40px;height:40px;font-size:0;background:#ff752a;line-height:40px;border-top-left-radius:6px;border-bottom-right-radius:6px}
.event_wrap .percent .num{display:inline-block;font-size:17px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:12px;;color:#fff}
.event_wrap .original{display:inline-block;margin:6px 2.77777% 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:12px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:12px;font-weight:600;color:#999}
.event_wrap .sale{display:inline-block;margin-top:6px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:12px;font-weight:600;color:#111;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:12px;font-weight:600;color:#111}
.event_wrap .coupon{display:block;margin-top:5px;font-size:0;letter-spacing:-1.2px;}
.event_wrap .coupon .txt{display:inline-block;margin-right:4px;font-size:13px;color:#ff752a}
.event_wrap .coupon ins{display:inline-block;font-size:20px;font-weight:600;color:#ff752a;text-decoration:none;font-family:'Lato'}
.event_wrap .coupon .won{display:inline-block;font-size:13px;color:#ff752a}

/* animation */
.title_ani{position:absolute;width:48.88888%;height:30%;top:11.6279%;left:5.41666%;
    -webkit-mask-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/object/m_txt_fullfesta.png);
    mask-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/object/m_txt_fullfesta.png);
    -webkit-mask-size:100%;-webkit-mask-repeat:no-repeat;
    mask-size:100%;mask-repeat:no-repeat;
    background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/object/txt_fullfesta_bg.png);
    animation:titani 20s linear infinite;
}
@keyframes titani {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

.ani_box{}
.ani_box img{margin:0 !important}
.ani_box .object1{position:absolute;bottom:0;left:58.6111%;width:41.3888%;z-index:2}
.ani_box .object2{position:absolute;top:53.8372%;left:37.9166%;width:34.5833%;z-index:1}
.ani_box .object3{position:absolute;top:41.8604%;left:70%;width:30%;z-index:0}

.object2.motion{animation:bounce-infi 4s 0s ease-in-out infinite both}
.object3.motion{animation:bounce-infi 2.5s 2.0s ease-in-out infinite both}

@keyframes bounce-infi {
    0% {
      opacity:1;
      -webkit-transform:translateY(0px);
              transform:translateY(0px);
    }
    50% {
      opacity:1;
      -webkit-transform:translateY(-20px);
              transform:translateY(-20px);
    }
    100% {
      opacity:1;
      -webkit-transform:translateY(0);
              transform:translateY(0);
    }
  }

/* template */
.mobile .fb__event .event .event__roulette__wrap{min-height:auto;padding-top:104.1666666%;background:#25b427}
.mobile .fb__event .event .event__roulette__wrap .roulette__background{display:none} /* PC배경 삭제 */
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-1.5vw;width:11.5vw;margin-left:-5.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}
