@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_coupon{top:47.8%;left:38.8%;width:22.5%;height:32%}
.event_wrap .btn_lnk1{top:795px;left:35%;width:30%;height:80px}

.event_wrap .benefit_list{position:absolute;top:43%;right:10%;left:10%;bottom:27%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{display:inline-block;width:33.33334%;height:50%}
.event_wrap .benefit_list li:first-child{display:block;width:100%;padding-left:50%;box-sizing:border-box}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#25b427}
.event_wrap .evt_notice{padding:0 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) -24px 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#f4f4f4}
.event_wrap .noti2 .notice_title{border-top:4px solid #333;color:#333}
.event_wrap .noti2 .notice_title:before{background-position:0 0}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* product */
.event_wrap .p_evt_sec3{background:#d1f369}
.event_wrap .p_evt_sec3 .desc{padding-bottom:100px;text-align:center;font-size:16px;color:#333}
.event_wrap .product_list{display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:260px;vertical-align:top;border-radius:12px}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0;text-align:center}

.event_wrap .product_img{display:block;}
.event_wrap .product_info{display:block;min-height:250px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:70px;max-height:70px;font-size:24px;font-weight:500;color:#222;line-height:34px;letter-spacing:-1.5px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:0;left:0;width:64px;height:64px;font-size:0;background:#ff752a;line-height:64px;border-top-left-radius:12px;border-bottom-right-radius:12px}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:18px;;color:#fff}
.event_wrap .original{display:inline-block;margin:15px 2px 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:20px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:20px;color:#999}
.event_wrap .sale{display:inline-block;margin-top:15px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:20px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#222}
.event_wrap .coupon{display:block;margin-top:5px;font-size:0;letter-spacing:-1.5px;}
.event_wrap .coupon .txt{display:inline-block;margin-right:8px;font-size:24px;color:#ff752a}
.event_wrap .coupon ins{display:inline-block;font-size:36px;font-weight:600;color:#ff752a;text-decoration:none;font-family:'Lato'}
.event_wrap .coupon .won{display:inline-block;font-size:24px;color:#ff752a}

/* animation */
@media screen and (min-width:0\0){
    .title_ani{display:none;} /* IE9,10 애니메이션 삭제 */
}
.title_ani{position:absolute;width:352px;height:224px;top:100px;left:0;
    -webkit-mask:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/object/txt_fullfesta.png) no-repeat;
    mask:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/object/txt_fullfesta.png) no-repeat;
    background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/object/txt_fullfesta_bg.png);
    animation:titani 20s linear infinite;
}
@keyframes titani {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

.ani_box{position:relative}
.ani_box img{margin:0 !important}
.ani_box .object1{position:absolute;top:450px;left:681px;width:357px;z-index:2}
.ani_box .object2{position:absolute;top:233px;left:551px;z-index:1}
.ani_box .object3{position:absolute;top:130px;left:782px;z-index:0}

.object2.motion{animation:bounce-infi 4s 0s ease-in-out infinite both}
.object3.motion{animation:bounce-infi 2.5s 2.0s ease-in-out infinite both}

@keyframes bounce-infi {
    0% {
      opacity:1;
      -webkit-transform:translateY(0px);
              transform:translateY(0px);
    }
    50% {
      opacity:1;
      -webkit-transform:translateY(-20px);
              transform:translateY(-20px);
    }
    100% {
      opacity:1;
      -webkit-transform:translateY(0);
              transform:translateY(0);
    }
  }

/* template */
.desktop .fb__event .roulette__wrapper ul li{overflow:hidden} /* 가로스크롤바 제거 */
.desktop .fb__event .event .event__roulette__wrap{height:700px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202111/1108_full_festa/img/p_bg_roulette.jpg) 50% 0 no-repeat}
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:600px;height:600px;margin:0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{top:-8px}
.desktop .detail-wrapper__bottom{padding:0}
