@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2,
.event_wrap .p_evt_sec4{background:#f6f4ed;padding-bottom:60px}
.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec5{background:#fff;padding-bottom:60px}
.event_wrap .p_evt_sec6{background:#c4d4d4}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:13.5%;display:flex;justify-content:space-between}
.event_wrap .evt_tab_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:49.4%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(4),
.event_wrap .evt_nav_wrap li:nth-child(5){width:50%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:33.61vw} /* nav height */

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202201/0107_orga_seollal/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:200% 100%;background-size:200% auto}
.event_wrap .p_evt_nav li:nth-child(5).on:after{background-position:300% 100%;background-size:200% auto}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:20px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_more{display:block;width:58.333333%;height:45px;margin:40px auto 0;background:#333;font-size:14px;font-weight:500;color:#fff;line-height:45px;text-align:center}

.event_wrap .button_list{position:absolute;top:24.8%;right:5.5%;left:5.5%;bottom:21.2%;border:0;padding:0;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .button_list li{width:47.5%;height:45.5%}
.event_wrap .btn_coupon{display:block;width:100%;height:100%}

/* product */
.event_wrap .product_list{position:relative;z-index:5;font-size:0;font-family:'Lato', 'NotoSans', sans-serif}
.event_wrap .product_list li{display:inline-block;width:50%;padding:0 4.166666666%;vertical-align:top;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:left}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .product_info{overflow:hidden;position:relative;display:block;width:100%;padding:0 4.66666666%;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;padding-top:30px;font-size:14px;font-weight:400;color:#333;line-height:17px;word-break:break-all}
.event_wrap .percent{position:absolute;top:5px;left:4.66666666%;font-size:0;color:#333;line-height:22px}
.event_wrap .percent .num{display:inline-block;font-size:18px;font-weight:600}
.event_wrap .percent .unit{display:inline-block;font-size:13px;font-weight:600}
.event_wrap .original{display:inline-block;margin:4px 10.526315% 0 0;font-size:13px;color:#333;letter-spacing:-.5px}
.event_wrap .sale{display:inline-block;margin-top:4px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:18px;font-weight:600;color:#ee432c;letter-spacing:-.5px;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:15px;font-weight:600;color:#ee432c}
