@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event_wrap .product_img img{margin:0 !important}

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec2,
.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec4{background:#f6f4ed}
.event_wrap .p_evt_sec5{background:#f6f4ed;padding-bottom:100px;}
.event_wrap .p_evt_sec6{background:#c4d4d4}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:14.5%;display:flex;justify-content:space-between}
.event_wrap .evt_tab_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:90px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:90px;background:#f6f4ed}
.event_wrap .p_evt_nav img{margin:0 auto !important}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202201/0107_orga_seollal/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-233px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-467px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-700px 0}
.event_wrap .p_evt_nav li:nth-child(5).on:after{background-position:-934px 0}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#fff;content:''}
.event_wrap .evt_notice{padding:0 0 100px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_more{display:block;width:300px;height:65px;margin:30px auto 0;background:#333;font-size:20px;font-weight:500;color:#fff;text-align:center;line-height:65px}

.event_wrap .button_list{position:absolute;top:36.8%;right:0;left:0;bottom:27%;border:0;padding:0;display:flex;justify-content:space-between}
.event_wrap .button_list li{width:22.4%;height:100%}
.event_wrap .btn_coupon{display:block;width:100%;height:100%}

/* product */
.event_wrap .product_list{position:relative;z-index:5;background:#fff;font-size:0;font-family:'Lato', 'NotoSans', sans-serif}
.event_wrap .product_list li{display:inline-block;width:50%;padding:35px 0 55px 30px;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:250px;font-size:0;text-align:left}

.event_wrap .product_img{display:inline-block;width:54.1516245%;height:100%;vertical-align:top}
.event_wrap .product_info{overflow:hidden;position:relative;display:inline-block;width:45.8483755%;height:100%;padding-left:10px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:50px;max-height:50px;padding-top:95px;font-size:18px;font-weight:400;color:#333;line-height:24px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:62px;left:10px;font-size:0;color:#333;line-height:22px}
.event_wrap .percent .num{display:inline-block;font-size:30px;font-weight:600}
.event_wrap .percent .unit{display:inline-block;font-size:16px}
.event_wrap .original{margin:9px 16px 0 0;font-size:18px;color:#333;letter-spacing:-1px}
.event_wrap .sale{display:inline-block;margin-top:9px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:30px;font-weight:600;color:#ee432c;letter-spacing:-1px;text-decoration:none}
.event_wrap .sale .won{display:inline-block;margin-left:2px;font-size:28px;font-weight:600;color:#ee432c}
