@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1112_healthy_living_diet/img/m_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:49vw;left:5vw;right:5vw;display:flex;flex-wrap:wrap}
.event_wrap .items_list li{width:45vw;height:86vw}
.event_wrap .items_list li:nth-child(3){width:100%;margin-bottom:4vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .btn_lnk1{top:22%;left:10%;right:10%;height:75%}

/* coupon */
.event_wrap .copuon_list{position:absolute;top:46.6667vw;left:0;right:0}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background:#00464f}

/* page */
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:80.2778vw;left:80vw;width:6.9444vw;height:6.3889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1112_healthy_living_diet/img/object.png) 100%/100% no-repeat}
