@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1112_healthy_living_diet/img/p_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:16%;left:0;right:0;height:35%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list li{width:33%;height:100%}
.event_wrap .items_list li:nth-child(n+4){width:24%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .btn_lnk1{top:42%;left:6%;right:6%;height:50%}

/* coupon */
.event_wrap .copuon_list{position:absolute;top:323px;left:0;right:0}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background:#00464f url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1112_healthy_living_diet/img/p_img_noti.jpg) 50% 0 no-repeat}
