@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:16px;right:16px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav{padding-top:60px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:50}
.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/p_evt_nav_on.jpg) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* notice */
.event_wrap .p_evt_noti{background-color:#f5f5f5}

/* slide */
.event_wrap .slide_box_wrap{position:absolute;top:477px;width:1200px}
.event_wrap .slide_box{position:absolute;z-index:1;top:0;right:0;left:0;width:1136px;overflow-x:hidden;-webkit-backface-visibility:hidden;margin:0 auto}
.event_wrap .slide_list_wrap{border-radius:8px;overflow:hidden}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list .inner{position:relative}

.slide_box_wrap .slide_btn_box button{position:absolute;width:50px;height:50px;top:373px;background-color:#fff;border-radius:6px;border:1px solid #c2c2c2 !important;cursor:pointer;touch-action:none;z-index:20;}
.slide_box_wrap .slide_btn_box .slide_btn_prev{left:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon_prev.jpg) #fff center center no-repeat}
.slide_box_wrap .slide_btn_box .slide_btn_next{right:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon_next.jpg) #fff center center no-repeat}
.slide_box_wrap .slide_pagination{display:none}

.slide_box .slide_thumb{position:relative;display:flex;justify-content:center;margin-bottom:43px}
.slide_box .slide_thumb .thumb{position:relative;width:127px;height:170px;margin:0 10px;background:#fff;border-radius:15px;background-position:center center;background-repeat:no-repeat;background-size:100% auto}
.slide_box .slide_thumb .thumb:nth-child(1){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon1.jpg)}
.slide_box .slide_thumb .thumb:nth-child(2){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon2.jpg)}
.slide_box .slide_thumb .thumb:nth-child(3){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon3.jpg)}
.slide_box .slide_thumb .thumb:nth-child(4){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon4.jpg)}
.slide_box .slide_thumb .thumb:nth-child(5){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon5.jpg)}

.slide_box .slide_thumb .thumb.thumb_active:nth-child(1){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon1_on.jpg)}
.slide_box .slide_thumb .thumb.thumb_active:nth-child(2){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon2_on.jpg)}
.slide_box .slide_thumb .thumb.thumb_active:nth-child(3){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon3_on.jpg)}
.slide_box .slide_thumb .thumb.thumb_active:nth-child(4){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon4_on.jpg)}
.slide_box .slide_thumb .thumb.thumb_active:nth-child(5){background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1203_kimchi_refrigerator/img/slide/icon/icon5_on.jpg)}
.slide_box .slide_thumb .thumb.thumb_active.thumb_active:after{content:'';position:absolute;width:100%;height:100%;top:0;left:0;box-sizing:border-box;border:2px solid #80c342;border-radius:15px}
.slide_box .slide_thumb a{display:flex;align-content:center;flex-wrap:wrap;width:100%;height:100%}

.event_wrap .product_img{display:block}
.event_wrap .product_img img{width:100%;margin:0 !important}
