@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:40.9722vw;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#ddf5ab}
.event_wrap .p_evt_sec2{background:#ebffc0;padding-bottom:13.8888vw}
