@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:262px;right:167px}

/* notice */
.event_wrap .p_evt_noti{background:#fff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0507_food_safe_day/img/p_img_noti.jpg) 50% 0}
