@charset "utf-8";

/* wide common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:34.7222vw;left:50%;transform:translateX(-50%);width:80.5555vw;height:45.42vw;background:url(https://i.vimeocdn.com/video/1667720617-93219711c43bea748a776e19510da7635dd2685e7b99c38eff0f808685bd54c2-d?mw=600&mh=347) 50%;background-size:100% auto;overflow:hidden;border-radius:10px}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
.event_wrap .video_wrap:nth-of-type(2){top:116.1111vw;background:url(https://i.vimeocdn.com/video/1667721623-0f3110fd72f5346abd14a8868771a60374d65732952303b745b38886dd7abd52-d?mw=600&mh=347) 50%}

/* notice */
.event_wrap .evt_notice{background:#f4f4f4;padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .notice_list > strong{display:block;font-size:12px;font-weight:500;margin:0.6944vw 0 1.111vw}
.event_wrap .notice_list > strong:nth-of-type(n+2){margin-top:4.1666vw}
