@charset "utf-8";

/* wide common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:220px;left:67px;width:510px;height:287px;background:url(https://i.vimeocdn.com/video/1667720617-93219711c43bea748a776e19510da7635dd2685e7b99c38eff0f808685bd54c2-d?mw=600&mh=347) 50%;background-size:100% auto;margin:0 auto;overflow:hidden;border-radius:20px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
.event_wrap .video_wrap:nth-of-type(2){left:593px;background:url(https://i.vimeocdn.com/video/1667721623-0f3110fd72f5346abd14a8868771a60374d65732952303b745b38886dd7abd52-d?mw=600&mh=347) 50%}

/* notice */
.event_wrap .evt_notice{background:#f4f4f4;padding:80px 46px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
.event_wrap .notice_list > strong{display:block;font-weight:500;margin:5px 0 8px}
.event_wrap .notice_list > strong:nth-of-type(n+2){margin-top:30px}
