@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon_list */
.event_wrap .coupon_list{margin-top:5.5556vw}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5;margin-top:11.1111vw}
