@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

.event_wrap .mov_txt{position:absolute;bottom:0;left:0}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:110vw;left:4.8611vw;right:4.8611vw;height:50.9vw;background:url(https://i.vimeocdn.com/video/1765670338-1a15af13d2e4e346e1590dc093d1e0e828adc4c6a803a5bea63f02640140db14-d?mw=1700&mh=956) 50% 0/100%}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
.event_wrap .video2{background:url(https://i.ytimg.com/vi/fjiPWNKNJIU/maxresdefault.jpg) 50% 0/100%}