@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:5%;right:5%;height:24%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9}
.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:5.5555vw;right:5.5555vw;height:100%;margin:0 auto;background:#282d36;border-radius:0 0 12px 12px;z-index:0}
.event_wrap .evt_notice{position:relative;padding:0 11.1111vw 13.8888vw;box-sizing:border-box;z-index:1}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2::after{background:#fff}
.event_wrap .noti3 .evt_notice{min-height:68vw}
.event_wrap .noti3::after{height:56vw;background:#f3f1d1}

.event_wrap :is(.noti2, .noti3) .notice_title{border-top:2px solid #333;color:#333}
.event_wrap :is(.noti2, .noti3) .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat;}
.event_wrap :is(.noti2, .noti3) .notice_list{border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap :is(.noti2, .noti3) .notice_list li{color:#333}
.event_wrap :is(.noti2, .noti3) .notice_list li:before{background-color:#333}

/* 사용방법 slide */
.event_wrap .slide_box{position:absolute;top:41.6666vw;left:5.5555vw;right:5.5555vw;overflow-x:hidden;-webkit-backface-visibility:hidden;user-select:none;padding-bottom:8.6111vw}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}

.event_wrap .slide_box .slide_btn_box button{position:absolute;width:11.1111vw;height:11.1111vw;top:69.7222vw;font-size:4.1vw;color:#fff;border-radius:2.2222vw 0 0 2.2222vw;background:rgba(0,0,0,.4);cursor:pointer;touch-action:none}
.event_wrap .slide_box .slide_btn_box .slide_btn_prev{left:0;border-radius:0 2.2222vw 2.2222vw 0}
.event_wrap .slide_box .slide_btn_box .slide_btn_next{right:0}

.event_wrap .slide_box .slide_pagination{position:absolute;width:100%;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 1.3889vw;background:#c6c4ab;border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#ff7713}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}
