@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:80px;right:80px;height:160px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9}
.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:0;right:0;width:1000px;height:100%;margin:0 auto;background:#282d36;border-radius:0 0 12px 12px;z-index:0}
.event_wrap .evt_notice{padding:0 124px 80px;box-sizing:border-box;z-index:1}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2::after{background:#fff}
.event_wrap .noti3 .evt_notice{min-height:312px}
.event_wrap .noti3::after{height:230px;background:#f3f1d1}

.event_wrap :is(.noti2, .noti3) .notice_title{border-top:4px solid #333;color:#333}
.event_wrap :is(.noti2, .noti3) .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat}
.event_wrap :is(.noti2, .noti3) .notice_list{border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap :is(.noti2, .noti3) .notice_list li{color:#333}
.event_wrap :is(.noti2, .noti3) .notice_list li:before{background-color:#333}

/* 사용방법 slide */
.event_wrap .slide_box_wrap{position:absolute;top:279px;left:84px;right:84px}
.event_wrap .slide_box{position:relative;width:640px;overflow-x:hidden;-webkit-backface-visibility:hidden;user-select:none;margin:0 auto;padding-bottom:62px}
.event_wrap .slide_box .slide_list{display:flex;width:640px}
.event_wrap .slide_box .slide_list li{position:relative}
.event_wrap .slide_box .slide_list li img{margin:0 !important}

.event_wrap .slide_box_wrap .slide_btn_box button{position:absolute;width:80px;height:80px;top:502px;font-size:20px;color:#fff;border-radius:0 8px 8px 0;border:0;background:rgba(0,0,0,.4);cursor:pointer;touch-action:none}
.event_wrap .slide_box_wrap .slide_btn_box .slide_btn_prev{left:0}
.event_wrap .slide_box_wrap .slide_btn_box .slide_btn_next{right:0;border-radius:8px 0 0 8px}

.event_wrap .slide_box .slide_pagination{position:absolute;width:100%;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:16px;height:16px;margin:0 10px;background:#c6c4ab;border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#ff7713}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}
