@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto}

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* coupon */
.event_wrap .p_evt_sec1{padding-bottom:3.9vw;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0509_sparkling_new/img/m_evt_sec1.jpg') center bottom no-repeat;background-size:100% auto;}

/* notice */
.event_wrap .p_evt_noti{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0509_sparkling_new/img/m_evt_sec2.jpg') center top no-repeat;background-size:100% auto;}
.event_wrap .evt_notice{padding:8.333vw 5.556vw 13.889vw;}
