@charset "utf-8";

@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* coupon */
.event_wrap .p_evt_sec1{padding-bottom:35px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0509_sparkling_new/img/p_evt_sec1.jpg') center top no-repeat;}

/* notice */
.event_wrap .p_evt_noti{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0509_sparkling_new/img/p_evt_sec2.jpg') center top no-repeat;}
.event_wrap .evt_notice{padding-top:60px;}
