@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:24%}
.event_wrap .btn_lnk2{top:0;left:0;right:0;height:24%}
.event_wrap .btn_lnk3{top:0;left:0;right:0;height:24%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:21%;left:3%;right:3%;height:100%;display:flex;flex-wrap:wrap;justify-content:center;align-content:flex-start}
.event_wrap .evt_nav_wrap li{position:relative;width:32%;height:37%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:39.1666vw;left:0;right:0}
.event_wrap .info_desc{padding-bottom:5vw}

/* page */
.event_wrap :is(.p_evt_sec3, .p_evt_sec4, .p_evt_sec5) {background:#eee}
