@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;max-width:1920px;min-width:1200px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:14%;left:0;right:0;height:30%}
.event_wrap .btn_lnk2{top:0;left:0;right:0;height:35%}
.event_wrap .btn_lnk3{top:0;left:0;right:0;height:35%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:30%;left:3%;right:5%;height:60%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:80px;left:670px}

/* page */
.event_wrap :is(.p_evt_sec3, .p_evt_sec4, .p_evt_sec5) {background:#eee}
.event_wrap .p_evt_sec3::before{content:'';position:absolute;top:-120px;left:0;right:0;height:120px;background:#eee;}
.event_wrap .p_evt_noti{padding-bottom:120px}
