@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom, .tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;position:absolute;top:0;left:0;width:100%;height:100%;background:#000}
.event_wrap .evt_nav_wrap li{position:relative;flex:1}
.event_wrap .evt_nav_wrap li:not(:last-child)::after{content:'';position:absolute;top:3.3333vw;right:0;width:1px;height:10vw;background:#333}
.event_wrap .evt_nav_wrap li a{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:4.1666vw;line-height:1.2;font-weight:600;color:#8d8d8d;text-align:center}
.event_wrap .evt_nav_wrap li.on a{color:#fff}

.event_wrap .p_evt_nav{padding-top:16.6667vw}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;height:16.6667vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}

/* button */
.event_wrap .btn_move{top:0;left:16vw;right:16vw;height:11vw}

/* product */
.event_wrap .p_evt_sec2{background:#46cb18}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#fff04e}

/* page */
.event_wrap .p_evt_noti{background:#f9f9f9}
.event_wrap .p_evt_sec1{padding-bottom:11.1111vw}
.event_wrap .p_evt_sec2 .info_desc span{color:#fff}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:#f5f5f5 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202503/0304_start_spring/img/stamp/mo_bg.jpg) !important;background-size:contain !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw !important;height:25vw !important;margin-left:4.1666vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#009333}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#009333 !important;color:#fff !important;line-height:4.66667vw !important}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:14.0278vw;left:50%;transform:translateX(-50%);width:53.3333vw;height:13.4722vw;z-index:5}
.event_wrap .evt_mov video{display:block;width:100%;height:100%}

/* motion */
.ani_box{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}
.ani_box .object1{position:absolute;width:88.8vw;top:49vw;left:5.8vw;z-index:3}
.ani_box .object2{position:absolute;width:22vw;top:48vw;left:5.5vw;z-index:4;}
.ani_box .object3{position:absolute;width:19vw;top:50vw;left:70vw;z-index:4;animation-delay:1s !important}
.ani_box .object4{position:absolute;width:32vw;top:90vw;left:58vw;z-index:4;animation-delay:1.4s !important}

.ani_box .motion{animation:bounce-infi 4s 0s ease-in-out infinite both}
@keyframes bounce-infi {
  0%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  50% {
    -webkit-transform:translateY(-15px);
            transform:translateY(-15px);
  }
}

.motion_box_wrap{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}
.motion_box1{position:absolute;z-index:2;top:30vw;left:-8vw;width:36vw;height:36vw;font-size:3vw}
.motion_box2{position:absolute;z-index:2;top:-13vw;left:5vw;width:30vw;height:30vw;font-size:1vw}
.motion_box3{position:absolute;z-index:2;top:-3vw;right:-10vw;width:36vw;height:36vw;font-size:1.8vw}
.motion1{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.3s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion2{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.4s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion3{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.5s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion4{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.6s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion5{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.8s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion6{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.9s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion1::before,.motion2::before,.motion3::before,.motion4::before,.motion5::before,.motion6::before{content:'';position:absolute;z-index:4;width:100%;height:100%;top:0;left:0;background:#b1e232;border-radius:100% 0 75% 25% / 75% 0 100% 25%;transform:rotate(-45deg);transform-origin:center}

.object1_1 {animation-name:object1_1;transform:translate(0, 2.8em) rotate(0deg);}
.object1_2 {animation-name:object1_2;transform:translate(-2em, 2em) rotate(45deg)}
.object1_3 {animation-name:object1_3;transform:translate(2em, 2em) rotate(-45deg);}
.object1_4 {animation-name:object1_4;transform:translate(-3em, 0) rotate(90deg);}
.object1_5 {animation-name:object1_5;transform:translate(3em, 0) rotate(-90deg);}
.object1_6 {animation-name:object1_6;transform:translate(-2em, -2em) rotate(135deg);}
.object1_7 {animation-name:object1_7;transform:translate(2em, -2em) rotate(-135deg);}
.object1_8 {animation-name:object1_8;transform:translate(0, -2.8em) rotate(180deg);}

.object2_1 {animation-name:object2_1;transform:translate(0, 5em) rotate(0deg);}
.object2_2 {animation-name:object2_2;transform:translate(-2.1em, 4em) rotate(30deg);}
.object2_3 {animation-name:object2_3;transform:translate(2.1em, 4em) rotate(-30deg);}
.object2_4 {animation-name:object2_4;transform:translate(-4.2em, 2.1em) rotate(60deg);}
.object2_5 {animation-name:object2_5;transform:translate(4.2em, 2.1em) rotate(-60deg);}
.object2_6 {animation-name:object2_6;transform:translate(-5em, 0) rotate(90deg);}
.object2_7 {animation-name:object2_7;transform:translate(5em, 0) rotate(-90deg);}
.object2_8 {animation-name:object2_8;transform:translate(-4.2em, -2.1em) rotate(120deg);}
.object2_9 {animation-name:object2_9;transform:translate(4.2em, -2.1em) rotate(-120deg);}
.object2_10 {animation-name:object2_10;transform:translate(-2.1em, -4em) rotate(150deg);}
.object2_11 {animation-name:object2_11;transform:translate(2.1em, -4em) rotate(-150deg);}
.object2_12 {animation-name:object2_12;transform:translate(0, -5em) rotate(180deg);}

/* object1 */
@keyframes object1_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 2.8em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(45deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, 2em) rotate(45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-45deg) scale(0);}
  70%{opacity:1;transform:translate(2em, 2em) rotate(-45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform:translate(-3em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform:translate(3em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, -2em) rotate(135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-135deg) scale(0);}
  70%{opacity:1;transform:translate(2em, -2em) rotate(-135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(0, -2.8em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}

/* object2 */
@keyframes object2_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 5em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(30deg) scale(0);}
  70%{opacity:1;transform:translate(-2.1em, 4em) rotate(30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-30deg) scale(0);}
  70%{opacity:1;transform:translate(2.1em, 4em) rotate(-30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(60deg) scale(0);}
  70%{opacity:1;transform:translate(-4.2em, 2.1em) rotate(60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-60deg) scale(0);}
  70%{opacity:1;transform:translate(4.2em, 2.1em) rotate(-60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform:translate(-5em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform:translate(5em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(120deg) scale(0);}
  70%{opacity:1;transform:translate(-4.2em, -2.1em) rotate(120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_9 {
  0%{opacity:0;transform:translate(0, 0) rotate(-120deg) scale(0);}
  70%{opacity:1;transform:translate(4.2em, -2.1em) rotate(-120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_10 {
  0%{opacity:0;transform:translate(0, 0) rotate(150deg) scale(0);}
  70%{opacity:1;transform:translate(-2.1em, -4em) rotate(150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_11 {
  0%{opacity:0;transform:translate(0, 0) rotate(-150deg) scale(0);}
  70%{opacity:1;transform:translate(2.1em, -4em) rotate(-150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_12 {
  0%{opacity:0;transform:translate(0, 0) rotate(180deg) scale(0);}
  70%{opacity:1;transform:translate(0, -5em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}
