@charset "utf-8";

@font-face {
    font-family:'Pulmuone';
    font-style:normal;
    font-display: swap;
    src: local('Pulmuone'),
    url(../lib/fonts/Pulmuone.woff2) format('woff2'),
    url(../lib/fonts/Pulmuone.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:300;
    font-display: swap;
    src:local('PulmuoneLOHASLight'),
    url(../lib/fonts/PulmuoneLOHASLight.woff2) format('woff2'),
    url(../lib/fonts/PulmuoneLOHASLight.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:400;
    font-display: swap;
    src:local('PulmuoneLOHASLight'),
    url(../lib/fonts/PulmuoneLOHASLight.woff2) format('woff2'),
    url(../lib/fonts/PulmuoneLOHASLight.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:500;
    font-display: swap;
    src:local('PulmuoneLOHASMedium'),
    url(../lib/fonts/PulmuoneLOHASMedium.woff2) format('woff2'),
    url(../lib/fonts/PulmuoneLOHASMedium.woff) format('woff');
}
@font-face {
    font-family:'PulmuoneLOHAS';
    font-style:normal;
    font-weight:700;
    font-display: swap;
    src:local('PulmuoneLOHASBold'),url(../lib/fonts/PulmuoneLOHASBold.woff2) format('woff2'),
    url(../lib/fonts/PulmuoneLOHASBold.woff) format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-style:normal;
    font-weight:300;
    font-display: swap;
    src:local('NotoSansKR-DemiLight'),
    url(../lib/fonts/NotoSansKR-DemiLight.woff2) format('woff2'),
    url(../lib/fonts/NotoSansKR-DemiLight.woff) format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-style:normal;
    font-weight:400;
    font-display: swap;
    src:local('NotoSansKR-DemiLight'),
    url(../lib/fonts/NotoSansKR-DemiLight.woff2) format('woff2'),
    url(../lib/fonts/NotoSansKR-DemiLight.woff) format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-style:normal;
    font-weight:700;
    font-display: swap;
    src:local('NotoSansKR-Bold'),
    url(../lib/fonts/NotoSansKR-Bold.woff2) format('woff2'),
    url(../lib/fonts/NotoSansKR-Bold.woff) format('woff');
}

@font-face {
    font-family:'NotoSans';
    font-style:normal;
    font-weight:500;
    font-display: swap;
    src:local('NotoSansKR-Medium'),
    url(../lib/fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(../lib/fonts/NotoSansKR-Medium.woff) format('woff');
}

@font-face {
    font-family:'Lato';
    font-style:normal;
    font-weight:300;
    font-display: swap;
    src:local('Lato-Regular'),
    url(../lib/fonts/Lato-Regular.woff2) format('woff2'),
    url(../lib/fonts/Lato-Regular.woff) format('woff');
}

@font-face {
    font-family:'Lato';
    font-style:normal;
    font-weight:400;
    font-display: swap;
    src:local('Lato-Regular'),
    url(../lib/fonts/Lato-Regular.woff2) format('woff2'),
    url(../lib/fonts/Lato-Regular.woff) format('woff');
}
@font-face {
    font-family:'Lato';
    font-style:normal;
    font-weight:700;
    font-display: swap;
    src:local('Lato-Bold'),
    url(../lib/fonts/Lato-Bold.woff2) format('woff2'),
    url(../lib/fonts/Lato-Bold.woff) format('woff');
}

@font-face {
    font-family:'NanumSquareRound';
    font-style:normal;
    font-weight:200;
    font-display: swap;
    src:local('NanumSquareRoundL'),
    url(../lib/fonts/NanumSquareRoundL.woff2) format('woff2'),
    url(../lib/fonts/NanumSquareRoundL.woff) format('woff');
}
@font-face {
    font-family:'NanumSquareRound';
    font-style:normal;
    font-weight:400;
    font-display: swap;
    src:local('NanumSquareRoundR'),
    url(../lib/fonts/NanumSquareRoundR.woff2) format('woff2'),
    url(../lib/fonts/NanumSquareRoundR.woff) format('woff');
}
@font-face {
    font-family:'NanumSquareRound';
    font-style:normal;
    font-weight:600;
    font-display: swap;
    src:local('NanumSquareRoundB'),
    url(../lib/fonts/NanumSquareRoundB.woff2) format('woff2'),
    url(../lib/fonts/NanumSquareRoundB.woff) format('woff');
}
@font-face {
    font-family:'NanumSquareRound';
    font-style:normal;
    font-weight:700;
    font-display: swap;
    src:local('NanumSquareRoundEB'),
    url(../lib/fonts/NanumSquareRoundEB.woff2) format('woff2'),
    url(../lib/fonts/NanumSquareRoundEB.woff) format('woff');
}

/* 20240701 추가 */
@font-face {
    font-family: 'Pretendard';
    font-style: lighter;
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard-ExtraLight"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraLight.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraLight.subset.woff) format("woff")
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard-Regular"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-Regular.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-Regular.subset.woff) format("woff")
}
@font-face {
    font-family: 'Pretendard';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard-SemiBold"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-SemiBold.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-SemiBold.subset.woff) format("woff")
}
@font-face {
    font-family: 'Pretendard';
    font-style: bolder;
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard-ExtraBold"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraBold.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraBold.subset.woff) format("woff")
}

.evt_wide_wrap, .event_wrap{font-family:"Pretendard", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:400;}
