@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec{background:#f4f4f4;padding:16.6666vw 0}
.event_wrap .cards_title{font-size:7.7777vw;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;letter-spacing:-0.3vw;text-align:center;margin-bottom:5.5555vw}
.event_wrap .cards_list{display:flex;flex-wrap:wrap;box-sizing:border-box;margin:0 5.5555vw;font-family:'Lato', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif}
.event_wrap .cards_list li{width:100%;margin-top:2.7777vw}
.event_wrap .cards_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .cards_txt{position:absolute;top:6.5vw;left:5.5vw;font-size:5.5555vw;letter-spacing:-0.5px;color:#fff;line-height:1.4}