@charset "utf-8";

html{scroll-behavior:smooth;}
.privacy *{margin:0;padding:0;color:#222;line-height:1.5;font-weight:400;word-break:keep-all;box-sizing:border-box;}
.privacy ul, .privacy li{list-style:none;margin:0;padding:0;}
.privacy a{text-decoration:none;font:inherit;color:inherit}
.privacy table{width:100%;border-collapse:collapse;border-spacing:0;}

.privacy .section-top h1{margin:48px 0 24px;font-size:18px;font-weight:800;}
.privacy .section-top .top-main{display:flex;justify-content:space-evenly;margin:15px 0;}
.privacy .section-top .top-main li{text-align:center;}
.privacy .section-top .top-main li p{margin:10px 0;font-size:18px;font-weight:600;}
.privacy .section-top .top-main li span{display:block;color:#444;}
.privacy .section-top .top-main li a{text-decoration:underline;}
.privacy .section-top .top-list a{display:block;}
.privacy .section-top .top-list a:hover{text-decoration:underline;}

.privacy .section{margin-top:50px;}
.privacy .section dt{display:flex;align-items:center;position:relative;padding:11px 0 6px 0;}
.privacy .section dt > span{flex:1;font-size:24px;font-weight:800;line-height:1.2;order:2;}
.privacy .section dd{margin-top:24px;}
.privacy .section dd p{padding-left:20px;text-indent:-20px;font-weight:600;}
.privacy .section dd p.text{padding-left:0;text-indent:0;}
.privacy .section dd > .list-type{margin:8px 0 0 20px;padding-left:16px;text-indent:-16px;}
.privacy .section dd > .list-type li{margin-top:4px;color:#666;}

.privacy .section .list-table{margin:10px 20px 30px;box-sizing:border-box;}
.privacy .section .list-table table{border-top:2px solid #666;color:#000;}
.privacy .section .list-table th{background:#fafafa;font-weight:600;}
.privacy .section .list-table th, .privacy .section .list-table td{border:1px solid #B9B9B9;padding:7px 10px;text-align:center;} 
.privacy .section .list-table th:first-child, .privacy .section .list-table td:first-child{border-left:0;}
.privacy .section .list-table th:last-child, .privacy .section .list-table td:last-child{border-right:0;}
.privacy .section .list-table.table-left td{text-align:left;}
.privacy .section .list-table .keywordLayerBtn{border:0;background:none;text-decoration:underline;cursor:pointer;}

/* 아이콘 */
.privacy .section-top .top-main li::before{content:'';display:block;position:relative;width:64px;height:72px;margin:0 auto;background-repeat:no-repeat;}
.privacy .section-top .top-main li:nth-child(1)::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon01.png);}
.privacy .section-top .top-main li:nth-child(2)::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon02.png);}
.privacy .section-top .top-main li:nth-child(3)::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon03.png);width:72px;}

.privacy .section > dt::before{content:'';display:block;position:relative;width:42px;height:48px;background-repeat:no-repeat;background-size:100%;margin-right:8px;order:0;}
.privacy .section > dt::after{content:'';display:block;position:relative;width:42px;height:48px;background-repeat:no-repeat;background-size:100%;margin-right:8px;order:1;}

.privacy #section1 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon01.png);}
.privacy #section1 > dt::after{width:42px;height:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon04.png);}

.privacy #section2 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon05.png);}
.privacy #section3 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon06.png);}
.privacy #section4 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon07.png);}
.privacy #section5 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon08.png);}

.privacy #section6 > dt::before{width:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon09.png);}
.privacy #section6 > dt::after{width:48px;height:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon10.png);}

.privacy #section7 > dt::before{width:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon11.png);}
.privacy #section8 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon12.png);}
.privacy #section9 > dt::before{background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon13.png);}
.privacy #section10 > dt::before{width:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon14.png);}
.privacy #section10 > dt::after{width:48px;height:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon03.png);}
.privacy #section11 > dt::before{width:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon15.png);}
.privacy #section12 > dt::before{width:48px;background-image:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/static/202408_privacy/img/icon16.png);}

.privacy :is(#section2, #section3, #section4, #section5, #section7, #section8, #section9, #section11, #section12) > dt::after{display:none;}

/* mobile only */
@media all and (max-width:720px) {
  .privacy .section-top .top-main{flex-wrap:wrap;justify-content:center;}
  .privacy .section-top .top-main li{position:relative;margin-bottom:6vw;}

  .privacy .section .list-table{margin:10px 0 30px;}

  .privacy .section .scroll-table {position: relative; overflow-x: scroll; -webkit-overflow-scrolling: touch; white-space: nowrap; width: 100%; }
  .privacy .section .scroll-table table{width: max-content;}
  .privacy .section .scroll-table::-webkit-scrollbar { height: 8px; background-color: #f4f4f4; }
  .privacy .section .scroll-table::-webkit-scrollbar-thumb { background-color: #ddd; }
}
