@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{margin-top:-422px;z-index:10}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:86.2%;left:30.2%;right:30.2%;height:8.7%}

/* notice */
.event_wrap .p_evt_noti{background:#e1d5c2}
.event_wrap .evt_notice{padding:40px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.motion_box{position:absolute;min-width:1920px;height:1032px;top:0;left:50%;transform:translateX(-50%);overflow:hidden;z-index:10}
.motion_box img{margin:0 !important}
.motion_box .object{position:absolute;width:100%;top:0;left:0}
.motion_box .object.motion1{-webkit-animation:fade-in 6s ease-in-out infinite both;animation:fade-in 6s ease-in-out infinite both}
.motion_box .object.motion2{-webkit-animation:fade-out 6s ease-in-out infinite both;animation:fade-out 6s ease-in-out infinite both}

@-webkit-keyframes fade-in {
  0%, 80%, 100% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
}
@keyframes fade-in {
  0%, 80%, 100% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0%, 80%, 100% {
      opacity: 1;
  }
  30% {
      opacity: 0;
  }
}
@keyframes fade-out {
  0%, 80%, 100% {
      opacity: 1;
  }
  30% {
      opacity: 0;
  }
}
