@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;margin:0 auto;box-sizing:border-box}


/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:79.7%;left:0%;width:100%;height:20.4%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:100%;height:50%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:32px 5.555555% 41px;background:#9b212e;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

/* button */
.event_wrap .btn_lnk1{top:81.6%;left:21%;width:58%;height:10%}
.event_wrap .btn_lnk2{top:60.5%;left:21%;width:58%;height:6%}
.event_wrap .btn_lnk3{top:60.6%;left:21%;width:58%;height:6%}
.event_wrap .btn_lnk4{top:63.6%;left:21%;width:58%;height:7%}
.event_wrap .btn_lnk5{top:24.5%;left:4%;width:45%;height:58%}
.event_wrap .btn_lnk6{top:24.5%;left:51%;width:45%;height:58%}
.event_wrap .btn_lnk7{top:77.6%;left:19%;width:62%;height:9%}

.event_wrap .prd_items{position:absolute;top:12%;left:3%;width:94%;height:84%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .prd_items li{display:inline-block;width:50%;height:33.3333%}
.event_wrap .prd_items li a{display:block;width:100%;height:100%}

/* item tab */
.event_wrap .item_tab_wrap{overflow:hidden;position:absolute;top:0;left:4%;width:92%;height:8%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .item_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .item_tab_wrap li a{display:block;width:100%;height:100%}
