@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:63%;left:10%;width:30.5%;height:28%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:100%;height:50%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_lnk1{top:73.5%;left:355px;width:312px;height:12.1%}
.event_wrap .btn_lnk2{top:53%;left:355px;width:312px;height:7.1%}
.event_wrap .btn_lnk3{top:59%;left:355px;width:312px;height:6%}
.event_wrap .btn_lnk4{top:56.7%;left:355px;width:312px;height:6%}
.event_wrap .btn_lnk5{top:74%;left:149px;width:312px;height:10%}
.event_wrap .btn_lnk6{top:74%;left:554px;width:312px;height:10%}
.event_wrap .btn_lnk7{top:84%;left:330px;width:360px;height:8%}

.event_wrap .prd_items{position:absolute;top:20%;left:10.6%;width:78.7%;height:32%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .prd_items li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .prd_items li a{display:block;width:100%;height:100%}
.event_wrap .prd_items.items2{top:62%}

/* item tab */
.event_wrap .item_tab_wrap{overflow:hidden;position:absolute;top:3%;left:10%;width:80%;height:8%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .item_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .item_tab_wrap li a{display:block;width:100%;height:100%}
.event_wrap #item2 .item_tab_wrap{top:9.5%}
.event_wrap #item3 .item_tab_wrap{top:10.5%}

/* notice */
.event_wrap .evt_notice{padding:50px 50px 70px;background:#9b212e;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-11px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}
