@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap{background:#f7f7f7}
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;background:#f7f7f7;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;background:#f7f7f7;content:''}
.event_wrap .p_evt_tit:before{background:#445963 url(https://www.pulmuoneshop.co.kr/upload/images/event/202011/1109_brand_matchup/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:#445963 url(https://www.pulmuoneshop.co.kr/upload/images/event/202011/1109_brand_matchup/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#f7f7f7}

.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#9dd24c}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#abe05a}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#556f2b}
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:#abe05a}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#f7f7f7}
.event_wrap .p_evt_tab:before,.event_wrap .p_evt_tab:after{background:#6aa21d}

/* brand */
.event_wrap .brand_list_wrap{position:relative;max-width:1020px;margin:0 auto;}

.event_wrap .evt_brand_wrap{overflow:hidden;position:absolute;left:27.450980%;bottom:0;width:66.96078431%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_brand_wrap li{float:left;height:100%}
.event_wrap .evt_brand_wrap .brand1{width:22.1083455%}
.event_wrap .evt_brand_wrap .brand2{width:19.3265%}
.event_wrap .evt_brand_wrap .brand3{width:19.3265%}
.event_wrap .evt_brand_wrap .brand4{width:22.547584%}
.event_wrap .evt_brand_wrap .brand5{width:16.6910705%}
.event_wrap .evt_brand_wrap li a{display:block;width:100%;height:100%}


.p_evt_brand .evt_section{position:absolute;top:-140px;left:0;z-index:10}

.p_evt_brand .img{display:block}
.p_evt_brand .img_fixed{display:none}

.p_evt_brand.is_fixed .evt_section{position:fixed;z-index:10;top:15px;left:50%;width:100%;margin:0 auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
/* .p_evt_brand.is_fixed ~ .p_evt_sec1 .brand_list_wrap h3 img{padding-top:85px} */
.p_evt_brand.is_fixed .img{display:none}
.p_evt_brand.is_fixed .img_fixed{display:block}


.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:14%;bottom:0;width:72%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.p_evt_tab{height:129px}
/* .p_evt_tab .evt_section{position:absolute;left:0;bottom:0;z-index:10} */
.p_evt_tab.is_tab_fixed .evt_section{position:fixed;z-index:10;top:0;left:50%;bottom:auto;width:100%;margin:0 auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
/* .p_evt_tab.is_tab_fixed ~ #event1 h2 img{padding-top:65px}
.p_evt_tab.is_tab_fixed ~ #event2 h2 img{padding-top:65px}
.p_evt_tab.is_tab_fixed ~ #event3 h2 img{padding-top:65px} */

/* prd items */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list li{display:inline-block;width:250px;height:auto;margin-left:6px;vertical-align:top}
.event_wrap .product_list li:first-child{margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .item_soldout a{pointer-events:none}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;height:50px;margin-top:8px;font-size:18px;font-weight:400;color:#333;line-height:24px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:58px;height:58px;background:#87bf31;font-size:16px;color:#fff;text-align:center;line-height:58px}
.event_wrap .percent .num{margin-right:2px;font-size:24px}
.event_wrap .original{margin-right:7px;font-size:16px;color:#333}
.event_wrap .sale{display:inline-block;font-size:26px;color:#333}
.event_wrap .sale ins{text-decoration:none}

.event_wrap .btn_wrap{position:relative;padding:49px 0;text-align:center}
.event_wrap .btn_wrap .btn_lnk{top:50%;left:50%;width:24%;height:40%;transform:translate(-50%,-50%)}
.event_wrap .btn_lnk2{top:44%;right:37%;left:37%;bottom:36%}
.event_wrap .btn_lnk3{top:35%;right:50%;left:20%;bottom:35%}
.event_wrap .btn_lnk4{top:35%;right:20%;left:50%;bottom:35%}
.event_wrap .btn_lnk5{top:68%;right:35%;left:35%;bottom:17%}

/* notice */
.p_evt_noti .inner{padding:70px 0}
.p_evt_noti .inner .notice_title{display:block;width:100%;height:54px;padding-left:30px;background:#333;font-size:20px;font-weight:600;color:#fff;line-height:54px}
.p_evt_noti .sub_notice_title{display:block;margin-top:38px;font-size:20px;color:#333}
.p_evt_noti .evt_notice{padding:0 29px}
.p_evt_noti .notice_list{margin-top:9px}
.p_evt_noti .notice_list li{position:relative;margin-top:6px;padding-left:11px;color:#333;font-size:16px;font-weight:400;line-height:1.5;word-break:keep-all}
.p_evt_noti .notice_list li:first-child{margin-top:0}
.p_evt_noti .notice_list li:before{position:absolute;top:11px;left:3px;width:3px;height:3px;background-color:#333;content:''}



 

