@charset "utf-8";

/* common */
.evt_wide_wrap,.event_wrap{position:relative;max-width:none;margin:0 auto;background:#f7f7f7}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto;background:#f7f7f7}

/* prd items */
.event_wrap .product_list{padding:0 5.55556%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:48.28125%;height:auto;margin:0 0 36px 3.4375%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .item_soldout a{pointer-events:none}
.event_wrap .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;height:2.9em;margin-top:9px;font-size:13px;color:#333;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:39px;height:39px;background:#87bf31;font-size:11px;color:#fff;text-align:center;line-height:39px}
.event_wrap .percent .num{margin-right:2px;font-size:16px}
.event_wrap .original{margin-right:7px;font-size:12px;color:#333}
.event_wrap .sale{display:inline-block;font-size:18px;color:#333}
.event_wrap .sale ins{text-decoration:none}

.event_wrap .btn_wrap{position:relative;padding-bottom:37px;text-align:center}
.event_wrap .btn_wrap img{width:53.888888%}
.event_wrap .btn_wrap .btn_lnk{left:50%;bottom:0;width:55%;height:100%;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);}
.event_wrap .btn_lnk2{top:40%;right:28%;left:28%;bottom:39%}
.event_wrap .btn_lnk3{top:29%;right:50%;left:9%;bottom:40%}
.event_wrap .btn_lnk4{top:29%;right:9%;left:50%;bottom:38%}
.event_wrap .btn_lnk5{top:73%;right:17%;left:17%;bottom:20%}


/* brand */
.event_wrap .brand_list_wrap{position:relative;max-width:720px;margin:0 auto;}

.event_wrap .evt_brand_wrap{overflow:hidden;position:absolute;left:5.5555555%;bottom:19.1%;width:88.888889%;height:58.9%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_brand_wrap li{float:left;height:50%}
.event_wrap .evt_brand_wrap .brand1{width:50%}
.event_wrap .evt_brand_wrap .brand2{width:50%}
.event_wrap .evt_brand_wrap .brand3{width:33.33333%}
.event_wrap .evt_brand_wrap .brand4{width:33.33333%}
.event_wrap .evt_brand_wrap .brand5{width:33.33333%}
.event_wrap .evt_brand_wrap li a{display:block;width:100%;height:100%}

.p_evt_brand .img{display:block}
.p_evt_brand .img_fixed{display:none}

.p_evt_brand.is_fixed .evt_brand_wrap{left:0;bottom:0;width:100%;height:100%}
.p_evt_brand.is_fixed .evt_brand_wrap .brand1,
.p_evt_brand.is_fixed .evt_brand_wrap .brand2,
.p_evt_brand.is_fixed .evt_brand_wrap .brand3,
.p_evt_brand.is_fixed .evt_brand_wrap .brand4,
.p_evt_brand.is_fixed .evt_brand_wrap .brand5{width:20%;height:100%}

.p_evt_brand.is_fixed .evt_section{position:fixed;z-index:10;top:0;left:50%;width:100%;margin:0 auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
/* .p_evt_brand.is_fixed ~ .p_evt_sec1 .brand_list_wrap h3 img{padding-top:58px} */
.p_evt_brand.is_fixed .img{display:none}
.p_evt_brand.is_fixed .img_fixed{display:block}


.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* .p_evt_tab .evt_section{position:absolute;left:0;bottom:0;z-index:10} */
.p_evt_tab.is_tab_fixed .evt_section{position:fixed;z-index:10;top:0;left:50%;bottom:auto;width:100%;margin:0 auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
.p_evt_tab.is_tab_fixed ~ #event1 h2 img,
.p_evt_tab.is_tab_fixed ~ #event2 h2 img,
.p_evt_tab.is_tab_fixed ~ #event3 h2 img{padding-top:40px;background:#abe05a}

.p_evt_noti .inner{padding:50px 5.555556%}
.p_evt_noti .inner .notice_title{display:block;height:40px;padding-left:8px;background:#333;font-size:12px;font-weight:600;color:#fff;line-height:40px}
.p_evt_noti .sub_notice_title{display:block;margin-top:24px;font-size:12px;color:#333}
.p_evt_noti .evt_notice{padding:0 7px}
.p_evt_noti .notice_list{margin-top:7px}
.p_evt_noti .notice_list li{position:relative;margin-top:3px;padding-left:8px;color:#333;font-size:12px;font-weight:400;line-height:1.6;word-break:keep-all}
.p_evt_noti .notice_list li:first-child{margin-top:0}
.p_evt_noti .notice_list li:before{position:absolute;top:8px;left:3px;width:2px;height:2px;background-color:#333;content:''}


