@charset "utf-8";

.evt_wide_wrap,.event_wrap,.evt_section,.evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk1{top:7%;left:5.5%;width:88.8%;height:80.8%}
.event_wrap .btn_lnk2{top:7%;left:5.5%;width:88.8%;height:80%}
.event_wrap .btn_lnk3{top:5%;left:5.5%;width:88.8%;height:85.2%}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:77%;left:5.5%;width:88.8%;height:12%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.3%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:32px 5.555555% 41px;background:#fff3cc;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;background-position:0 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
