@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section,.evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk1{top:42px;left:122px;width:920px;height:21.2%}
.event_wrap .btn_lnk2{top:412px;left:122px;width:920px;height:21.2%}
.event_wrap .btn_lnk3{top:780px;left:122px;width:920px;height:36%}

/* notice */
.event_wrap .evt_notice{padding:50px 50px 70px;background:#fff3cc;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
