@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#74c244}
.event_wrap .p_evt_sec2{background:#ecf6e3}

/* button */
.event_wrap .btn_lnk1{top:0;left:5%;right:6%;bottom:45%;}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:33vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards/img/m_evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}

/* coupon */
.event_wrap .coupon_list li{margin-bottom:8.3333vw}
.event_wrap .coupon_desc{margin-top:-3vw}
.event_wrap .coupon_desc span{color:#fff}

/* notice */
.event_wrap .p_evt_noti{background:#74c244}
.event_wrap .p_evt_noti.noti2{background:#449dc2}

/* product  */
.event_wrap .product_list .original{flex-basis:auto;margin-right:1.3889vw}
.event_wrap .product_list .sale ins{color:#ff752a}
.event_wrap .product_list .percent{position:absolute;top:0;left:0;width:12vw;height:12vw;margin:0;background:#5f9f0c;border-radius:0 0 3.8889vw 0;display:flex;justify-content:center;align-items:center}
.event_wrap .product_list .percent .num{font-size:4.722vw;color:#fff}
.event_wrap .product_list .percent .unit{font-size:2.778vw;color:#fff;margin:1vw 0 0 0.2vw}

/* motion */
.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box::after{content:'';position:absolute;top:71.1111vw;left:15.7vw;width:72.2222vw;height:72.2222vw;background:#b6e300;border-radius:100%}

.motion_box .object{position:absolute;width:95%;top:42%;left:5%;z-index:1}

.motion_box .motion1_1{width:80%;top:45%;left:5%;-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:2}
.motion_box .motion1_2{width:80%;top:44%;left:9.8%;-webkit-animation:bounce-up 9s ease-in-out 0.7s infinite both;animation:bounce-up 9s ease-in-out 0.7s infinite both;z-index:3}

.motion_box .motion2_1{width:95%;top:44%;left:4%;-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:2}
.motion_box .motion2_2{width:95%;top:44%;left:1%;-webkit-animation:bounce-up 9s ease-in-out 3.7s infinite both;animation:bounce-up 9s ease-in-out 3.7s infinite both;z-index:3}

.motion_box .motion3_1{width:95%;top:42%;left:2%;-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:3}
.motion_box .motion3_2{width:95%;top:39%;left:2%;-webkit-animation:bounce-up 9s ease-in-out 6.7s infinite both;animation:bounce-up 9s ease-in-out 6.7s infinite both;z-index:2}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { 
        opacity:0 
    }
    6% {
        opacity:1;
        -webkit-transform:translateY(-15px);
                transform:translateY(-15px);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity:1;
        -webkit-transform:translateY(-15px);
                transform:translateY(-15px);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}
