@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif}

/* mobile */
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}

.event_wrap .evt_noti{padding:0 10% 60px;background-color:#f6f6f6}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:22px;color:#333;font-size:12px;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li span{position:absolute;left:0;font-weight:700}

.event_wrap .btn_lnk1{top:0;bottom:15%;left:12%;width:76%}
.event_wrap .btn_lnk2{top:43.5%;left:10%;width:45%;height:7%}
.event_wrap .btn_lnk3{top:81.3%;left:10%;width:45%;height:7%}
.event_wrap .btn_lnk4{top:45.5%;left:10%;width:45%;height:7%}
.event_wrap .btn_lnk5{top:81.3%;left:10%;width:45%;height:7%}
.event_wrap .btn_download {bottom:13%;left:14%;width:72%;height:17%}