@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.1vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand_member/img/0617/m_evt_nav_on.jpg);background-size:auto 100%}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* items_list */
.event_wrap .items_list{position:absolute;top:0;left:5%;right:5%;height:100%}
.event_wrap .items_list li{width:100%;height:33%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:34.1667vw;left:0;right:0}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f07d00}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand_member/img/0617/m_img_noti.jpg) 50% 0/100%}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100vw;height:56.25vw;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 !important;background:#000 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand_member/img/0617/stamp/mo_pc.jpg) 50% 0/100% !important}
.mobile .fb .event__stamp .stamp__step__heading, .tablet .fb .event__stamp .stamp__step__heading{font-size:5.5556vw;font-weight:600}
.mobile .fb .event__stamp .stamp__step__heading em, .tablet .fb .event__stamp .stamp__step__heading em{color:#333 !important}
.mobile .fb .event__stamp .stamp__step ul, .tablet .fb .event__stamp .stamp__step ul{padding:0 !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:31.9444vw !important;height:31.9444vw !important;margin:0 4.1667vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(1){margin:5.5556vw 20vw 7vw !important}
