@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:662px;left:210px;right:210px;height:112px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:0;left:0;right:5%;height:90%;display:flex}
.event_wrap .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_desc{margin-top:8px}
.event_wrap .coupon_desc span{color:#fff}
.event_wrap .coupon_desc span::before{display:none}

/* page */
.event_wrap .p_evt_sec5{background-color:#00463c}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f07d00}
.event_wrap .noti2{background:#00463c}
.event_wrap .noti3{background:#f4f4f4}
.event_wrap .noti3 .evt_notice{padding-top:60px}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:98px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.vimeocdn.com/video/1853766284-cee3d1eea41e0d540833c80f1676cd1a55b967a5ba70bfde6141328f844c9be5-d?mw=4700&mh=2644&q=70) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;min-width:1168px;width:auto !important;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand_member/img/p_survey_bg.jpg) 50% 0}
.desktop .fb__event .event__survey .survey form{width:897px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:31%;margin-top:280px !important;padding:0 4px;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:86%;font-size:32px !important;line-height:44px !important;color:#000 !important;letter-spacing:-1px;}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 46px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:10px !important;width:32px !important;height:32px !important;border:2px solid #8d8d8d !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:2px solid #444 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:18px !important;left:8px !important;width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#444 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;margin-top:65px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0527_healthy_living_brand_member/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}

