@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:93px;right:134px}
.event_wrap .p_evt_tit .evt_section::after{content:'';position:absolute;top:233px;right:100px;width:67px;height:67px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1016_health_function/img/object.png) no-repeat;z-index:1}

/* notice */
.event_wrap .evt_notice{background:#fff4e5}
