@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}

.event_wrap .items_list{z-index:2;position:absolute;top: 10%;left:2%;right:2%;height: 72%;display:flex;align-content:space-between;justify-content:space-between}
.event_wrap .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}
.event_wrap .items_list:nth-of-type(2){top:58%;left:5%;right:5%;height:36%}

/*notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0708_daily_summer/img/m_evt_sec2_1.jpg) #bfe9ff center top no-repeat;background-size:100% auto}
.event_wrap .noti1 .evt_notice{padding:6.9444vw 5.5556vw 11.8056vw}
.event_wrap .noti2 .evt_notice{padding-top:8.3333vw;background:#fff6df}

/* 녹즙 slide */
.event_wrap .slide_box{position:absolute;top:0;left:0;width:100%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}

.event_wrap .slide_box .slide_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 0.6944vw;background:rgba(255, 255, 255, 0.4);border-radius:13.8889vw;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#fff}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}

/* page */
.event_wrap .p_evt_sec2 .coupon_item{z-index:2;position:absolute;top:12.5vw;left:0;right:0}
