@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:4%;right:4%;height:80%}

.event_wrap .items_list{position:absolute;top: 10%;left: 10%;right: 10%;height: 75%;display:flex;justify-content:space-between}
.event_wrap .items_list li{width:100%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/*notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0708_daily_summer/img/p_evt_sec2_1.jpg) center top no-repeat}
.event_wrap .noti1 .evt_notice{padding:0 40px 80px}
.event_wrap .noti2 .evt_notice{background:#fff6df}

/* page */
.event_wrap .p_evt_sec2 .coupon_item{z-index:2;position:absolute;top:90px;left:0;right:0}
