@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* product */
.event_wrap .product_item{justify-content:center}
.event_wrap .product_item.type_col1 .item_thumbnail{height:54.5833vw}
.event_wrap .product_item.type_col1 .item_thumbnail img{height:54.5833vw}

/* coupon */
.event_wrap .info_desc span{color:#59872e}

/* page */
.event_wrap .p_evt_sec1{background-color:#f4f4f4}
.event_wrap .p_evt_sec3{background-color:#80c342}
.event_wrap .p_evt_sec3 .evt_section{padding-bottom:11.1111vw}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;min-height:147.9167vw;padding:0 !important;background:#f5c630 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1202_earth/img/m_survey_bg.jpg) 50% 0/100% no-repeat;padding-bottom:11.1111vw !important}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:center;padding:0 6.9444vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:39.0278vw;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:8.3333vw}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(even), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(even), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(even), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(even){margin-left:5.5556vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{width:100%;line-height:1 !important;font-size:3.8889vw !important;font-weight:500 !important;color:#333 !important;padding:42.2vw 2vw 1.9444vw;margin:0;text-align:center;word-break:keep-all !important;box-sizing:border-box !important;}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{flex-direction:column-reverse;align-items:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{width:4.4444vw !important;height:4.4444vw !important;margin-top:0vw !important;border:0.2778vw solid #fff !important;background-color:#fff !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:0.2778vw solid #fff !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#111;width:2.5vw;height:2.5vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:66.6667vw !important;height:11.1111vw !important;font-size:0 !important;line-height:0 !important;margin:12.333vw auto 0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1202_earth/img/p_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
