@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* product */
.event_wrap .product_item{justify-content:center}
.event_wrap .product_item:last-child{padding-bottom:60px}

/* coupon */
.event_wrap .info_desc span{color:#59872e}

/* page */
.event_wrap .p_evt_sec1{background-color:#f4f4f4}
.event_wrap .p_evt_sec3{background-color:#80c342}
.event_wrap .p_evt_sec3 .evt_section{padding-bottom:80px}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;min-width:1200px;width:auto !important;min-height:507px;padding:0 0 80px 0 !important;background:#f5c630 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1202_earth/img/p_survey_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__survey .survey form{width:1200px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:center;width:923px !important;margin:0 auto;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{margin-top:0 !important;width:281px;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox:nth-child(2), .desktop .fb__event .event__survey .survey__question .fb__radio:nth-child(2){margin: 0 40px 53px;}
.desktop .fb__event .event__survey .survey__question .fb__checkbox:last-child, .desktop .fb__event .event__survey .survey__question .fb__radio:last-child{margin-left:40px;}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:100%;padding-top:300px !important;font-size:28px !important;font-weight:500;line-height:1 !important;text-align:center;color:#333 !important;letter-spacing:-1px}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:0 10px 54px !important;box-sizing:border-box}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:auto !important;bottom:0;left:50% !important;transform:translatex(-50%);width:35px !important;height:35px !important;border:2px solid #111 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:auto !important;bottom:9.5px;left:50% !important;transform:translatex(-50%);width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#111 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1202_earth/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
