@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 버튼 */
.event_wrap .items_list{position:absolute;top:32vw;left:5vw;right:5vw;height:115vw}
.event_wrap .items_list li{width:100%;height:100%;margin-bottom:8vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;bottom:0;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0402_california_walnut/img/m_img_noti.jpg) 50% 0/100%}

/* 이미지 모션 */
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:0;left:0;width:100%;height:2.6388vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0402_california_walnut/img/object/object_bg.png) 50% 0/100%}
.event_wrap .flow_box{display:flex;overflow:hidden}
.event_wrap .flow{flex-shrink:0;display:flex;min-width:100%;animation:scroll-left 10s linear infinite}
.event_wrap .flow img{width:66.6666vw;height:55.5555vw}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
