@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* 버튼 */
.event_wrap .items_list{position:absolute;top:192px;left:0;width:100%;height:73.5%;display:flex;justify-content:space-between}
.event_wrap .items_list li{width:49.5%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;bottom:0;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0402_california_walnut/img/p_img_noti.jpg) 50% 0}
