@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .event_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}
.event_wrap .btn{position:absolute;top:0;left:11.7%;width:76.5%;height:25%;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk2{top:32.3%}
.event_wrap .btn_lnk3{top:64.4%}

/* mobile */
.event_wrap.mevt .event_wrap,.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn{left:5.7%;width:89%;height:27%}
.event_wrap.mevt .btn_lnk2{top:32%}
.event_wrap.mevt .btn_lnk3{top:64.4%}