@charset "utf-8";

/* common */
.dorp_shipment_wrap li{list-style:none;} /* list-type reset */
.dorp_shipment_wrap div{-webkit-text-size-adjust:none;word-break:keep-all}

.category .product_detail .detail_view .lazy{max-width:900px;margin:0 auto}
.banner_wrap{position:relative;max-width:1020px;margin:0 auto;text-align:left}
.banner_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.banner_wrap img{vertical-align:top}
.banner_wrap br{display:none}
.banner_head_wrap img{width:100%;margin:0 auto}
.banner_head_wrap .mobile{display:none}

.dorp_shipment_wrap h1{margin:0;padding-top:23.72549%;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/static/img/p_banner_title.jpg) 0 0 no-repeat;background-size:100% auto}
.dorp_shipment_wrap .dorp_shipment{padding:0 6.666667% 9.296148%;background:#291303 url(https://shop-pulmuone.edge.naverncp.com/newProduct21/static/img/banner_bg.jpg) 0 0 no-repeat;background-size:contain}
.dorp_shipment_wrap .dorp_shipment .inner{padding:43px 4.17607223% 39px;background:#fff;border-radius:10px;-webkit-border-radius:10px}
.dorp_shipment_wrap .banner_title{display:block;position:relative;margin-top:41px;padding-left:14px;font-size:23px;font-weight:400;color:#3d3c3c;letter-spacing:-1.5px}
.dorp_shipment_wrap .banner_title:before{position:absolute;top:50%;left:0;width:5px;height:5px;margin-top:-4px;background:#3d3c3c;border-radius:100%;-webkit-border-radius:100%;content:''}
.dorp_shipment_wrap .banner_title:first-child{margin:0}
.dorp_shipment_wrap .table_wrap{margin-top:13px;border-top:1px solid #b9b5b5;border-bottom:1px solid #b9b5b5;font-size:22px}
.dorp_shipment_wrap .table_wrap table{width:100% !important;table-layout:fixed;border-collapse:collapse}
.dorp_shipment_wrap .table_wrap th,
.dorp_shipment_wrap .table_wrap td{border-top:1px solid #b9b5b5;border-left:1px solid #b9b5b5;box-sizing:border-box;-webkit-box-sizing:border-box;color:#3d3c3c;text-align:center;vertical-align:middle}
.dorp_shipment_wrap .table_wrap thead th{border-top:none}
.dorp_shipment_wrap .table_wrap th{height:39px;background-color:#f8f7f7;font-size:20px}
.dorp_shipment_wrap .table_wrap td{height:42px;padding:0 10px;font-size:18px;font-weight:300;text-align:center}
.dorp_shipment_wrap .table_wrap td:first-child,
.dorp_shipment_wrap .table_wrap th:first-child{border-left:none}
.dorp_shipment_wrap .banner_list{margin-top:6px;/*padding:0 16px*/padding:0 16px 0 10px}
.dorp_shipment_wrap .banner_list li{font-size:18px;color:#3d3c3c;line-height:30px;letter-spacing:-1.5px}

@media all and (max-width:720px){
  .banner_head_wrap{max-width:none;width:100%}
  .banner_head_wrap .pc{display:none}
  .dorp_shipment_wrap{max-width:none;width:100%}
  .dorp_shipment_wrap img{width:100%}
  .dorp_shipment_wrap h1{padding-top:29.113924%;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/static/img/banner_title.jpg) 0 0 no-repeat;background-size:100% auto}
  .dorp_shipment_wrap .dorp_shipment{padding:0 3.3684210% 4.230769%}
  .dorp_shipment_wrap .dorp_shipment .inner{padding:20px 4.176072%}
  .dorp_shipment_wrap .banner_title{margin-top:17px;padding-left:8px;font-size:13px}
  .dorp_shipment_wrap .banner_title:before{width:3px;height:3px;margin-top:-2px}
  .dorp_shipment_wrap .table_wrap{margin-top:10px}
  .dorp_shipment_wrap .table_wrap th{height:20px;font-size:11px}
  .dorp_shipment_wrap .table_wrap td{height:21px;padding:0 5px;font-size:11px}
  .dorp_shipment_wrap .banner_list{margin-top:6px;padding:0 9px}
  .dorp_shipment_wrap .banner_list li{font-size:11px;line-height:18px;letter-spacing:-.5px}
}
