@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section img{display:block;width:100%;vertical-align:top}

.evt_wide_wrap,.event_wrap{background-color:#1b1918}

/* coupon */
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:19.4444vw;left:0;right:0}
.event_wrap .info_desc span{color:#fff}

/* notice */
.event_wrap .p_evt_noti{background:#dfdddd}
