@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* coupon */
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:55px;right:215px;z-index:1;}
.event_wrap .p_evt_sec2 .info_desc{position:absolute;top:220px;left:224px;z-index:1;padding:0;text-align:left;}
.event_wrap .p_evt_sec2 .info_desc span{font-size:20px;line-height:30px;color:#fff}
.event_wrap .coupon_item_info .info_type{font-size:26px;}

/* notice */
.event_wrap .p_evt_noti .evt_notice{background:#dfdddd;}
