@charset "utf-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Black.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Black.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-ExtraBold.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Bold.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-SemiBold.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Medium.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Regular.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Light.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Light.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-ExtraLight.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Thin.woff2) format('woff2'), url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/font/Pretendard-Thin.woff) format('woff');
}

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1172px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap{background:#f5f5f5;font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1172px;margin:0 auto} /* 본문가로 사이즈 1172px */
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;left:3.5%;right:3.5%;height:400px}
.event_wrap .btn_lnk1{top:25.5%}
.event_wrap .btn_lnk2{top:63.7%}
.event_wrap .btn_lnk3{top:23%}
.event_wrap .btn_lnk4{top:58.5%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;top:562px;left:796px;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:1}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:1}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/img/p_img_noti.jpg) 50% 0}
.event_wrap .evt_notice{padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:1172px;height:660px;background:url(https://i.vimeocdn.com/video/1774392236-0a14ba07cc835f9fdfacdbac70f6cbd91f8e571375280c3996f43a50ba9ebf45-d?mw=1800&mh=1013) 50%/100%;z-index:2}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* 텍스트 */
.event_wrap figure{position:relative;z-index:1}
.event_wrap figure img{margin:0 auto !important}

.event_wrap .txt_wrap{position:relative;font-size:26px;color:#000;font-weight:350;letter-spacing:-.4px;line-height:1.5;word-break:keep-all;box-sizing:border-box;z-index:1}
.event_wrap .txt_wrap dt{font-weight:700}
.event_wrap .txt_wrap dt .question{display:block;width:72px;line-height:72px;font-size:38px;background:#222;color:#fff;font-weight:900;text-align:center}
.event_wrap .txt_wrap dd{margin-top:50px}
.event_wrap .txt_wrap dd .answer{display:block;width:70px;line-height:70px;font-size:38px;background:#fff;border:2px solid #222;color:#222;font-weight:900;text-align:center;box-sizing:border-box}
.event_wrap .txt_wrap .txt{display:block;margin-top:32px}

.event_wrap .p_evt_tit .txt_wrap{padding:90px 0 40px 56px}
.event_wrap .p_evt_tit .txt_wrap > p{font-size:28px;font-weight:600}
.event_wrap .p_evt_tit .txt_wrap > h1{font-size:58px;font-weight:800;margin:-4px 0 13px}
.event_wrap .p_evt_tit .txt_wrap > span{display:block;font-size:30px}

.event_wrap .p_evt_sec1{min-height:1539px}
.event_wrap .p_evt_sec1::after{content:'';position:absolute;top:485px;left:50%;margin-left:40px;width:545px;height:960px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec1 .txt_wrap{margin:56px 0 0 56px;display:flex}
.event_wrap .p_evt_sec1 .txt_wrap > p{width:45%}
.event_wrap .p_evt_sec1 .txt_wrap > p:nth-child(2){width:40%;margin-left:120px}
.event_wrap .p_evt_sec1 figure > span{display:block}
.event_wrap .p_evt_sec1 figure .img2{width:396px;position:absolute;top:0;right:0 !important}
.event_wrap .p_evt_sec1 figure .img3{width:396px;position:absolute;top:485px;right:0}

.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:435px;left:50%;margin-left:-586px;width:631px;height:1050px;background:#f7e41a;z-index:1}
.event_wrap .p_evt_sec2 .txt_wrap{width:550px;padding:120px 0 0 56px;z-index:2}
.event_wrap .p_evt_sec2 .txt_wrap > h2{position:relative;font-size:40px;font-weight:800;line-height:56px;padding-bottom:205px}
.event_wrap .p_evt_sec2 .txt_wrap > h2::before{content:'';position:absolute;top:222px;left:0;width:2px;height:150px;background:#000}
.event_wrap .p_evt_sec2 .txt_wrap > p{margin-top:55px}
.event_wrap .p_evt_sec2 .txt_wrap > p strong{display:block}
.event_wrap .p_evt_sec2 figure{position:absolute;top:0;right:0;z-index:2}

.event_wrap .p_evt_sec3{margin-top:-130px;z-index:0}

.event_wrap .p_evt_sec4{min-height:1193px}
.event_wrap .p_evt_sec4::after{content:'';position:absolute;top:642px;left:50%;margin-left:20px;width:570px;height:455px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec4 .txt_wrap{padding:225px 0 0 740px}
.event_wrap .p_evt_sec4 .txt_wrap::before{content:'';position:absolute;top:590px;left:960px;width:161px;height:155px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202312/1229_habcheon_egg/img/p_evt_sec4_object.png)}
.event_wrap .p_evt_sec4 .txt_wrap > h2{font-size:40px;font-weight:800;line-height:56px;padding-bottom:20px}
.event_wrap .p_evt_sec4 .txt_wrap > span{font-size:26px;font-weight:700}
.event_wrap .p_evt_sec4 .txt_wrap > div{margin-top:150px}
.event_wrap .p_evt_sec4 .txt_wrap > div strong{display:block}
.event_wrap .p_evt_sec4 .txt_wrap > div span{display:block;font-size:22px;line-height:36px;margin-left:12px}
.event_wrap .p_evt_sec4 figure{position:absolute;top:96px;left:0}

.event_wrap .p_evt_sec5{min-height:1213px}
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:0;left:50%;margin-left:-586px;width:824px;height:1117px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec5 .txt_wrap{width:440px;padding:56px 0 0 56px}
.event_wrap .p_evt_sec5 figure{position:absolute;top:0;right:0}

.event_wrap .p_evt_sec6{min-height:1441px}
.event_wrap .p_evt_sec6::after{content:'';position:absolute;top:320px;left:50%;margin-left:-316px;width:1276px;height:1025px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec6 .txt_wrap{padding:56px 0 0 56px;display:flex}
.event_wrap .p_evt_sec6 .txt_wrap dt{width:280px}
.event_wrap .p_evt_sec6 .txt_wrap dd{width:800px;margin-top:0}

.event_wrap .p_evt_sec7{min-height:1163px}
.event_wrap .p_evt_sec7::after{content:'';position:absolute;top:156px;left:50%;margin-left:-960px;width:1920px;height:911px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec7 .txt_wrap{padding:715px 0 0 56px;display:flex}
.event_wrap .p_evt_sec7 .txt_wrap dt{width:390px}
.event_wrap .p_evt_sec7 .txt_wrap dd{width:780px;margin-top:0}

.event_wrap .p_evt_sec8{min-height:1006px}
.event_wrap .p_evt_sec8::after{content:'';position:absolute;top:0;left:50%;margin-left:-586px;width:1172px;height:990px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec8 .txt_wrap{width:96%;padding:56px 0 0 800px}
.event_wrap .p_evt_sec8 figure{position:absolute;top:0;left:0}

.event_wrap .p_evt_sec9{min-height:1269px}
.event_wrap .p_evt_sec9::after{content:'';position:absolute;top:570px;left:50%;margin-left:-586px;width:1172px;height:603px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec9 .txt_wrap{padding:56px 0 0 56px;display:flex}
.event_wrap .p_evt_sec9 .txt_wrap dt{width:330px}
.event_wrap .p_evt_sec9 .txt_wrap dd{width:740px;margin-top:0}

.event_wrap .p_evt_sec10{min-height:1285px}
.event_wrap .p_evt_sec10::after{content:'';position:absolute;top:156px;left:50%;margin-left:-960px;width:1920px;height:1033px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec10 .txt_wrap{padding:715px 0 0 56px;display:flex}
.event_wrap .p_evt_sec10 .txt_wrap dt{width:350px}
.event_wrap .p_evt_sec10 .txt_wrap dd{width:740px;margin-top:0}

.event_wrap .p_evt_sec11{min-height:1418px}
.event_wrap .p_evt_sec11::after{content:'';position:absolute;top:786px;left:50%;margin-left:-186px;width:1146px;height:536px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec11 .txt_wrap{padding:56px 0 0 56px;display:flex}
.event_wrap .p_evt_sec11 .txt_wrap dt{width:400px}
.event_wrap .p_evt_sec11 .txt_wrap dd{width:690px;margin-top:0}

.event_wrap .p_evt_sec12{margin-bottom:-290px}

.event_wrap .p_evt_sec13{min-height:730px}
.event_wrap .p_evt_sec13::after{content:'';position:absolute;top:0;left:50%;margin-left:-586px;width:1172px;height:714px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec13 .txt_wrap{width:650px;padding:56px 0 0 56px}
.event_wrap .p_evt_sec13 figure{position:absolute;top:0;right:0}

.event_wrap .p_evt_sec14{min-height:1309px}
.event_wrap .p_evt_sec14::after{content:'';position:absolute;top:570px;left:50%;margin-left:-586px;width:1172px;height:644px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec14 .txt_wrap{padding:56px 0 0 56px;display:flex}
.event_wrap .p_evt_sec14 .txt_wrap dt{width:370px}
.event_wrap .p_evt_sec14 .txt_wrap dd{width:700px;margin-top:0}

.event_wrap .p_evt_sec15{min-height:1123px}
.event_wrap .p_evt_sec15::after{content:'';position:absolute;top:376px;left:50%;margin-left:16px;width:570px;height:641px;background:#f7e41a;z-index:0}
.event_wrap .p_evt_sec15 .txt_wrap{width:98%;padding:116px 0 0 756px}
.event_wrap .p_evt_sec15 .txt_wrap dd{margin-top:110px}
.event_wrap .p_evt_sec15 figure{position:absolute;top:0;left:0}

/* 모션 */
.motion_top{opacity:0}
.motion_top.active{opacity:1;animation:silde-top 0.6s 0s ease-in-out both}
@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.motion_left{opacity:0}
.motion_left.active{opacity:1;animation:silde-left 0.6s 0s ease-in-out both}
@keyframes silde-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-80px, 0);
            transform: translate(-80px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.motion_right{opacity:0}
.motion_right.active{opacity:1;animation:silde-right 0.6s 0s ease-in-out both}
@keyframes silde-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
            transform: translate(80px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.delay01.active{animation-delay:0.1s}
.delay02.active{animation-delay:0.2s}
.delay03.active{animation-delay:0.3s}
.delay04.active{animation-delay:0.4s}
.delay05.active{animation-delay:0.5s}
.delay06.active{animation-delay:0.6s}
.delay08.active{animation-delay:0.8s}
