@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#f5f7f9}
.event_wrap .p_evt_sec4{background:#f1faf5}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:50%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;width:100%;top:0;left:0;z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:25vw;z-index:20}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 100%}

/* button */
.event_wrap .btn{position:absolute;top:0;left:25%;right:25%;border:0;padding:0}
.event_wrap .btn_lnk1{height:26%}
.event_wrap .btn_lnk2{height:30%}

/* 쿠폰리스트 */
.event_wrap .coupon_list li{padding-bottom:8.0555vw}
.event_wrap .coupon_list li:last-child{padding-bottom:0}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:0 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center;padding-top:11.1111vw}
.event_wrap .coupon_desc span{display:block;font-size:3.3333vw;margin-top:0.4vw;color:#232323}
.event_wrap .coupon_desc span:before{content:'·';margin-right:1vw}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 2.777vw;margin-left:5.555vw}
.event_wrap .product_list li{width:43.055vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_list .plus{background-color:#ff752a;margin-right:1.6666vw;padding:1vw 1.6vw;border-radius:4px;text-align:center;color:#fff;font-size:3.1vw;font-weight:600;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .product_thumb:before{position:absolute;top:30.2vw;right:13.7222vw;width:8.3333vw;height:8.3333vw;background-color:#8fc744;border-radius:50%;color:#fff;font-size:8.3333vw;display:flex;justify-content:center;align-items:center;z-index:1;content:'\002B'}
.event_wrap .thumb_box{position:absolute;top:26.8vw;right:1.3889vw;display:inline-block;width:14.0556vw;height:14.0556vw;background:#fff;border:2px #8fc744 solid;border-radius:1.6666vw;overflow:hidden}
.event_wrap .thumb_box img{height:100%;margin:0 !important}
.event_wrap .thumb_box:after{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.05);content:''}

.event_wrap .product_list.list1{position:absolute;top:57.5000vw}
.event_wrap .product_list.list1 .product_title{color:#fff;letter-spacing:0}
.event_wrap .product_list.list1 .sale{margin-top:1.4vw}
.event_wrap .product_list.list1 .sale ins{color:#fff}
.event_wrap .product_list.list1 .sale .won{color:#fff}

.event_wrap .product_img{display:block;overflow:hidden;width:43.055vw;height:43.055vw;background:#fff;border-radius:1.6666vw}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#ff7828;font-family:'Lato'}

/* soldout */
.event_wrap .product_list .dimm_soldout{display:block;position:absolute;width:100%;height:59%;border-radius:1.6666vw;background:rgba(0,0,0,.6);color:#fff;pointer-events:none;cursor:not-allowed;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:5.5556vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;z-index:2}
.event_wrap .product_list .dimm_soldout strong{font-size:7vw;margin-top:1.3889vw;text-decoration:underline;text-underline-position:under}
.event_wrap .product_list .dimm_soldout + a{cursor:default;pointer-events:none}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9}
.event_wrap .evt_notice{padding:13.8888vw 5.555555% 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5555vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:3.4722vw 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#285bb8 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/img_noti.jpg) 100% 100%/100%}
.event_wrap .noti2 .notice_title{border-top:2px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti2 .notice_list li{color:#fff}
.event_wrap .noti2 .notice_list li:before{background-color:#fff}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 25.6944vw !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/btn_bg.jpg) 0 100%/100% !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/img_btn.png) 0 100%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.event_wrap .flow_box1{position:relative;width:100%;height:125.5555vw;background:#000 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/img_flow1.webp) center center repeat-y;background-size:cover;animation:move-up 9s linear infinite}
.event_wrap .flow_box2{position:absolute;top:0;left:0;width:100%;height:125.5555vw;background: url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/img_flow2.webp) center center repeat-y;background-size:cover;animation:move-up 18s linear infinite}

@keyframes move-up {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -265.2778vw;
  }
}

.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box:after{position:absolute;top:0;bottom:0;left:0;right:0;background:linear-gradient(to top,#16171c 4%,transparent);z-index:10;content:''}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .txt{width:80vw;top:82vw;left:10vw;z-index:20}
.motion_box .object1{width:55vw;top:25.1666vw;left:32.6388vw;z-index:19}
.motion_box .object2{width:45vw;top:39.6111vw;left:6.6667vw;z-index:18}
.motion_box .object3{width:38vw;top:14.1944vw;left:49.4444vw;z-index:17}
.motion_box .object4{width:16.5278vw;top:27.2500vw;left:17.7778vw;z-index:16}
.motion_box .object5{width:26.3889vw;top:11.2778vw;left:28.0556vw;z-index:15}
.motion_box .object6{width:12.7778vw;top:16vw;left:15.5vw;z-index:14}
.motion_box .object7{width:23.8889vw;top:46.5556vw;left:65.2778vw;z-index:13}
.motion_box .object8{width:12.2222vw;top:10.1667vw;left:3.4722vw;z-index:12}
.motion_box .object9{width:22.7778vw;top:44.0556vw;left:80vw;z-index:11}

.motion_box .motion1{animation:bounce 8s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0px);
            transform:translate(0, 0px);
  }
  50% {
    -webkit-transform:translate(0, -10px);
            transform:translate(0, -10px);
  }
}
.motion_box .motion2{animation:bounce 3s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -10px);
            transform:translate(0, -10px);
  }
}
.motion_box .motion3{animation:bounce 2s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
.motion_box .motion5{animation:bounce 6s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
