@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec4{background:#f1faf5}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:90px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:90px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-272px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-546px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-816px 0}

/* button */
.event_wrap .btn{position:absolute;top:0;left:408px;right:408px;height:79px}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:absolute;top:374px;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content: center;flex-wrap:nowrap}
.event_wrap .coupon_list li{height:100%;margin:0 10px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size: 30px;font-family: 'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

/* soldout */
.dimm_soldout{display:block;position:absolute;width:100%;height:250px;border-radius:12px;background:rgba(0,0,0,.8);color:#fff;pointer-events:none;cursor:not-allowed;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:26px;font-family:'Lato';z-index:2}
.event_wrap .product_list .dimm_soldout strong{margin-top:10px;font-size:44px;text-decoration:underline;text-underline-position:under}
.event_wrap .product_list .dimm_soldout + a{cursor:not-allowed;pointer-events:none}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 29px;margin-left:40px}
.event_wrap .product_list li{width:250px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_list .plus{background-color:#ff752a;margin-right:8px;padding:2px 6px;border-radius:4px;text-align:center;color:#fff;font-size:17px;font-weight:600;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .product_thumb:before{position:absolute;top:180px;right:70px;width:40px;height:40px;background-color:#8fc744;border-radius:50%;color:#fff;font-size:40px;display:flex;justify-content:center;align-items:center;z-index:1;content:'\002B'}
.event_wrap .thumb_box{position:absolute;top:158px;right:10px;display:block;width:80px;height:80px;background:#fff;border:2px #8fc744 solid;border-radius:12px;overflow:hidden}
.event_wrap .thumb_box img{height:100%;margin:0 !important}
.event_wrap .thumb_box:after{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.05);content:''}

.event_wrap .product_list.list1{position:absolute;top:373px}
.event_wrap .product_list.list1 .product_title{color:#fff}
.event_wrap .product_list.list1 .sale ins{color:#fff}
.event_wrap .product_list.list1 .sale .won{color:#fff}

.event_wrap .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:250px;background:#fff;border-radius:12px}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:56px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{margin-top:4px}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:18px;font-weight:500;color:#222;margin-left:-3px}
.event_wrap .percent{margin:4px 0 0 8px}
.event_wrap .percent .num{font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{font-size:24px;font-weight:600;color:#ff7828;margin-left:-4px;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#285bb8 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/p_img_noti.jpg) top center}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap .noti2 .notice_list li{color:#fff !important}
.event_wrap .noti2 .notice_list li:before{background-color:#fff !important}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:80px;margin:0 auto;padding:0;background:#25749c url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/p_btn_bg.jpg) 50% 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:350px;height:80px;padding:0;font-size:0;border-radius:100px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* 상단 모션 */
.event_wrap .flow_box1{position:relative;max-width:1920px;height:740px;background:#16171c url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/p_img_flow1.webp) center center repeat-y;animation:move-up 9s linear infinite}
.event_wrap .flow_box2{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202308/0801_2nd_birth/img/0814/p_img_flow2.webp) center center repeat-y;animation:move-up 18s linear infinite}

.event_wrap .p_evt_tit .motion_box{overflow:hidden}
.event_wrap .p_evt_tit .motion_box:after{position:absolute;top:0;bottom:0;left:0;right:0;background:linear-gradient(to top,#16171c 1%,transparent);content:''}

.motion_box{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:1920px;height:740px;z-index:10}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .txt{top:255px;left:278px;z-index:1}
.motion_box .object1{top:200px;left:1173px;z-index:9}
.motion_box .object2{top:325px;left:944px;z-index:8}
.motion_box .object3{top:100px;left:1312px;z-index:7}
.motion_box .object4{top:214px;left:1042px;z-index:6}
.motion_box .object5{top:74px;left:1118px;z-index:5}
.motion_box .object6{top:129px;left:1016px;z-index:4}
.motion_box .object7{top:385px;left:1464px;z-index:3}
.motion_box .object8{top:100px;left:910px;z-index:2}
.motion_box .object9{top:366px;left:1582px;z-index:1}
.motion_box .object10{top:100px;left:938px;z-index:1}

@keyframes move-up {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -1910px;
  }
}

.motion_box .motion1{animation:bounce 8s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0px);
            transform:translate(0, 0px);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
.motion_box .motion2{animation:bounce 3s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
.motion_box .motion3{animation:bounce 2s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -25px);
            transform:translate(0, -25px);
  }
}
.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -30px);
            transform:translate(0, -30px);
  }
}
.motion_box .motion5{animation:bounce 6s ease-in-out 0s infinite both, 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -30px);
            transform:translate(0, -30px);
  }
}

/* 스크롤 모션 */
.event_wrap :is(.p_evt_sec2, .p_evt_sec3) .motion_box{height:auto}
.event_wrap .p_evt_sec2 .motion_box img{position:absolute;top:-260px;left:120px}
.event_wrap .p_evt_sec3 .motion_box img{position:absolute;top:-255px;right:0}
.motion{opacity:0}
.motion.active{opacity:1;animation:silde-top 0.6s ease-in-out both}

@keyframes silde-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.delay01.active{animation-delay:0.1s}
