@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#fbfae4}
.event_wrap .p_evt_sec2{background:#93cb02}
.event_wrap .p_evt_sec4{background:#f5f5f5}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:125px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:125px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0502_39anniversary/img/0515/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-272px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-544px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-816px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:145px;right:145px;height:200px}
.event_wrap .btn_lnk2{top:0;left:40px;right:40px;height:200px}
.event_wrap .btn_lnk3{top:0;left:0;right:0;height:100%}

/* 쿠폰리스트 */
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content: center;flex-wrap:nowrap}
.event_wrap .coupon_list li{height:100%;margin:0 10px}

/* 쿠폰 */
.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size: 30px;font-family: 'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px;letter-spacing:-1px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:50px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:10px;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:20px;color:#fff}
.event_wrap .coupon_desc span{display:block;line-height:1.4;margin:0 5px}
.event_wrap .coupon_desc span small{font-size:16px;line-height:80%;vertical-align:text-bottom}

/* product - 깜짝특가 */
.event_wrap .special_list{position:absolute;top:282px;left:0;display:flex;flex-wrap:wrap;justify-content:center;box-sizing:border-box}
.event_wrap .special_list li{position:relative;width:400px;margin:0 40px;vertical-align:top}
.event_wrap .special_list a{position:relative;display:block;width:100%;height:100%}
.event_wrap .special_list a .special_img{opacity:1;transition:all 0.4s}
.event_wrap .special_list a:hover .special_img{opacity:0.6}
.event_wrap .special_list .inner{position:relative}
.event_wrap .special_list li:nth-child(-n+2){margin-bottom:70px}

.event_wrap .special_img{overflow:hidden;display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:400px;border-radius:8px;background:#fff}
.event_wrap .special_img img{width:100%}
.event_wrap .btn_view{position:absolute;top:87%;left:50%;transform:translateX(-50%);font-size:16px;font-weight:300;color:#fff;padding:6px 14px;background:rgba(0,0,0,0.45);border-radius:100px}
.event_wrap .special_info{display:block;padding:20px 0 0;box-sizing:border-box}
.event_wrap .special_title{display:block;font-size:26px;font-weight:500;color:#133210;line-height:30px;letter-spacing:-1.8px;word-break:keep-all;text-align:center;border-top:2px solid #5a4a40;border-bottom:1px dotted #999;padding:18px 0}

.event_wrap .special_cost{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 20px 16px 20px;font-weight:500;color:#5b4939;border-bottom:2px solid #5a4a40}
.event_wrap .special_cost dt{width:55%;padding:6px 0 0;font-size:20px;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .special_cost dd{width:auto;padding:3px 0;font-size:28px;box-sizing:border-box;display:flex;align-items:center}
.event_wrap .special_cost dd .cost{font-family:'Lato'}
.event_wrap .special_cost dd .won{font-size:20px;padding-top:3px}
.event_wrap .special_cost dd ins{text-decoration:none}
.event_wrap .special_cost .original{font-size:18px;color:#999}
.event_wrap .special_cost .original .cost{font-size:22px}
.event_wrap .special_cost .original .won{font-size:18px}

.event_wrap .special_totalcost{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-top:14px;font-size:32px;font-weight:600;color:#433629;letter-spacing:-2px}
.event_wrap .special_totalcost dd{display:flex;align-items:center}
.event_wrap .special_totalcost dd .cost{font-family:'Lato';font-size:40px}
.event_wrap .special_totalcost dd .num{margin-left:8px;font-family:'Lato';font-size:40px;color:#f97f09}
.event_wrap .special_totalcost dd .unit{font-family:'Lato';font-size:40px;color:#f97f09}

.event_wrap .coupon_special_btn{position:relative;width:100%;height:80px;padding-right:50px;margin-top:30px;border:2px solid #ddd;border-radius:8px;background:#fff;color:#333;font-size:28px;font-weight:500;letter-spacing:-2px;box-sizing:border-box}
.event_wrap .coupon_special_btn:before{position:absolute;top:36%;left:260px;width:36px;height:24px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;background-size:100%;content:''}

/* soldout */
.event_wrap .special_list .dimm_soldout{display:block;position:absolute;width:100%;height:400px;border-radius:8px;background:rgba(0,0,0,.6);color:#fff;pointer-events:none;cursor:not-allowed;z-index:1;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:42px;font-family:'Lato'}
.event_wrap .special_list .dimm_soldout + a{cursor:not-allowed;pointer-events:none}
.event_wrap .special_list .dimm_soldout ~ .coupon_special_btn{background:#ccc;color:#aaa;border:#ccc;cursor:not-allowed;pointer-events:none}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin-left:40px;margin-top:-180px;box-sizing:border-box;z-index:20}
.event_wrap .product_list li{width:250px;margin-right:29px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:250px;background:#fff}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:block;padding-top:20px;margin-bottom:56px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:5px}
.event_wrap .percent{display:inline-block;margin-left:8px}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .original{display:block;margin:15px 0 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:3px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* notice */
.event_wrap .p_evt_noti{background:#fbfae4 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0502_39anniversary/img/0515/p_img_noti.jpg) center top}
.event_wrap .evt_notice{padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#93cb02;padding-top:60px}
.event_wrap .noti3{background:#5a4a40;padding-top:80px}

.event_wrap :is(.noti2, .noti3) .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap :is(.noti2, .noti3) .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap :is(.noti2, .noti3) .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap :is(.noti2, .noti3) .notice_list li{color:#fff !important}
.event_wrap :is(.noti2, .noti3) .notice_list li:before{background-color:#fff !important}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;height:80px;margin:0 auto;padding:0;background:#5a4a40;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(-50%);width:401px;height:80px;padding:0;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0502_39anniversary/img/0515/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:822px;top:0;left:50%;transform:translateX(-50%);overflow:hidden;z-index:10}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .txt_count{width:400px;top:250px;left:760px;font-family:'Oswald',sans-serif;font-size:300px;font-weight:700;color:#5a4a40;text-align:center;transform:rotate(0.04deg) translate3d(0, 0, 0);z-index:10}
.motion_box .txt_bar1{top:558px;left:908px;width:5px;height:19px;background:#725946;border-radius:0 0 10px 0}
.motion_box .txt_bar2{top:558px;left:1038px;width:5px;height:19px;background:#725946;border-radius:0 0 0 16px}
.motion_box .txt_candle1{width:80px;height:100px;top:236px;left:870px}
.motion_box .txt_candle2{width:80px;height:100px;top:236px;left:1000px}
.motion_box .txt{top:98px;left:580px;z-index:10}

.motion_box .item1{top:555px;left:-20px;z-index:8}
.motion_box .item2{top:540px;left:198px;z-index:9;animation-delay:1.6s !important}
.motion_box .item3{top:680px;left:455px;z-index:10;animation-delay:2s !important}
.motion_box .item4{top:577px;left:1320px;z-index:7;animation-delay:1.4s !important}
.motion_box .item5{top:535px;left:1555px;z-index:8;animation-delay:1.8s !important}
.motion_box .item6{top:570px;left:1640px;z-index:9;animation-delay:2.2s !important}

.motion_box .object1{top:-300px;left:-20px;animation-delay:1s !important}
.motion_box .object2{top:-300px;left:280px;animation-delay:4s !important}
.motion_box .object3{top:-300px;left:430px}
.motion_box .object4{top:-300px;left:1380px;animation-delay:0.4s !important}
.motion_box .object5{top:-300px;left:1560px;animation-delay:2s !important;z-index:2}
.motion_box .object6{top:-400px;left:1320px;animation-duration:20s !important;animation-delay:2s !important}
.motion_box .object7{top:-300px;left:1800px;animation-delay:4.5s !important}

.motion_box .object10{top:335px;left:170px}
.motion_box .object11{top:275px;left:400px;animation-delay:2.2s !important}
.motion_box .object12{top:185px;left:230px}
.motion_box .object13{top:130px;left:1420px;animation-delay:1.4s !important}
.motion_box .object14{top:125px;left:1660px;z-index:1}
.motion_box .object15{top:335px;left:1570px;animation-delay:2s !important}

.motion_box.box2{height:465px;z-index:0}
.motion_box .balloon1{top:50px;left:120px;animation-duration:15s !important;animation-delay:2s !important}
.motion_box .balloon2{top:-50px;left:370px;animation-delay:3s !important}
.motion_box .balloon3{top:320px;left:200px}
.motion_box .balloon4{top:-190px;left:1200px;animation-duration:20s !important;animation-delay:3s !important}
.motion_box .balloon5{top:-10px;left:1560px;animation-delay:1s !important}
.motion_box .balloon6{top:220px;left:1430px;animation-delay:4s !important}

.motion_box .motion1{animation:fade 1s ease-in-out 2s both}
@keyframes fade {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.motion_box .motion5{animation:fade 0.5s ease-in-out 2s both, skew 1s 0s infinite both}
.motion_box .motion6{animation:fade 1s ease-in-out 2.2s both, skew 1.5s 2s infinite both}
@keyframes skew {
  0%, 100% {
    -webkit-transform: skew(2deg, 10deg);
            transform: skew(2deg, 10deg);
  }
  50% {
    -webkit-transform: skew(-5deg, 0deg);
            transform: skew(-5deg, 0deg);
  }
}

.motion_box .motion2{animation:bounce-top 0.8s ease-in-out 1.2s both}
@keyframes bounce-top {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, -60px);
            transform:translate(0, -60px);
    opacity: 1;
  }
}

.motion_box .motion3{animation:wobble 2s ease-in-out 0s infinite both, rise 15s linear 0s infinite both}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}
@keyframes rise {
  0% {
    top: calc(100% + 200px);
  }
  100% {
    top: -500px;
  }
}

.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, fade 1s 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -30px);
            transform:translate(0, -30px);
  }
}

.motion_box .motion7{animation:wobble2 2s ease-in-out 0s infinite both, rise2 12s linear 0s infinite both}
@keyframes wobble2 {
  0%, 100% {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}
@keyframes rise2 {
  0% {
    top: calc(100% + 100px);
  }
  100% {
    top: -350px;
  }
}
