@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.p_evt_sec1{background:#f1faf5;padding-bottom:20px}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6667vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_brand_coupon/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* 쿠폰리스트 */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .coupon_list{position:relative;display:flex;align-content:space-between;justify-content:space-between;flex-wrap:wrap}
.event_wrap .coupon_list li{width:43.61%;height:100%;margin-bottom:11.5vw}
.event_wrap .coupon_list li:nth-child(odd){margin-left:5vw}
.event_wrap .coupon_list li:nth-child(2n){margin-right:5vw}
.event_wrap .coupon_list .coupon_item{width:100%}

.event_wrap .brand_lnk{display:block;position:relative;text-align:center;font-size:3.333vw;color:#999;letter-spacing:-0.3vw;padding:3vw 2.5vw 3vw 0;box-sizing:border-box}
.event_wrap .brand_lnk:after{position:absolute;top:4vw;left:31.5vw;;width:3vw;height:3vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_brand_coupon/img/p_icon_arrow.png) 0 0 no-repeat;background-size:50% auto;content:''}
.event_wrap .brand_lnk:before{position:absolute;bottom:2.2vw;left:10.5vw;width:22.5vw;height:1px;background:#ccc;content:''}

/* 한번에 다운받기 */
.event_wrap .btn_all_coupon{position:relative;width:66.666vw;height:13.194vw;left:50%;transform:translateX(-50%);line-height:13.194vw;padding-right:8vw;margin:0;background:#111;font-size:4.166vw;font-weight:700;color:#fff;letter-spacing:-.3px;border-radius:100px}
.event_wrap .btn_all_coupon:before{position:absolute;top:4.6vw;left:44.8vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down_white.svg) 0 0 no-repeat;background-size:100%;content:''}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.25vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-0.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;background-size:100%;content:''}

.event_wrap .coupon_item .coupon_brand{width:26vw;height:9vw}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat;background-size:85vw auto}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:3.33vw 0}
.event_wrap .coupon_item .coupon_brand .bi_orga{width:32.8vw;background-position:-47vw 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kitchen{background-position:-21.9vw 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_care{background-position:3.33vw -13.5vw}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_kids{background-position:-21.9vw -13.5vw}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_danone{background-position:-47vw -13.5vw}
.event_wrap .coupon_item .coupon_brand .bi_eatslim{background-position:3.33vw -27vw}
.event_wrap .coupon_item .coupon_brand .bi_imreal{background-position:-21vw -27vw}
.event_wrap .coupon_item .coupon_brand .bi_babymeal{background-position:-47vw -27vw}
.event_wrap .coupon_item .coupon_brand .bi_designmeal{background-position:3.33vw -40.5vw}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .p_evt_noti.noti2{background:#eef9e7;padding-top:40px;}
.event_wrap .evt_notice{padding:60px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:6.5%;right:5%;left:5%;bottom:9.5%;border:0;padding:0;display:flex;flex-direction:column;justify-content:space-between}
.event_wrap .benefit_list li{width:100%;height:29.5%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}
