@charset "utf-8";
@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{position:relative;font-size:3.8889vw;line-height:6.1111vw;font-weight:400;color:#000;letter-spacing:-.4px;word-break:keep-all}
.event_wrap .evt_section{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0)} /* 아이폰 13이후 transition 오류 추가 */
.event_wrap .evt_section .title{font-size:6.1111vw;font-weight:600;margin-bottom:4.7222vw}
.event_wrap .evt_section .con_box{padding:0 11.1111vw 16.6666vw 11.1111vw}

/* 상단 */
.event_wrap .p_evt_tit{display:flex;flex-direction:column;justify-content:center;align-items:center;background:#29b9a3}
.event_wrap .p_evt_tit .evt_section{margin-bottom:0}
.event_wrap .p_evt_tit .top_tit_box{position:absolute;top:6.25vw;left:0;right:0;margin:0px;color:#fff;text-align:center;z-index:1;}
.event_wrap .p_evt_tit .top_tit_box > h1{font-size:12.5vw;line-height:13.8888vw;font-family:'WavvePADO-Regular';font-weight:normal;margin:2.6vw 0 2.7778vw}
.event_wrap .p_evt_tit .top_tit_box > p{font-size:4.4444vw;line-height:6.1111vw}
.event_wrap .p_evt_tit .bi{position:relative;width:28.1944vw;height:10.6944vw;margin:0 auto;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0902_withfarmers_shrimp/img/bi_white.png) 100%/100% no-repeat}
.event_wrap .p_evt_tit .top_img_box{z-index:1}
.event_wrap .p_evt_tit .top_img_box .top_img{position:absolute;top:72.6388vw;left:5.5555vw;width:88.8888vw;height:auto}
.event_wrap .p_evt_tit .top_img_box .top_text{font-size:4.1667vw;line-height:6.1111vw;color:#fff;padding:42.5vw 5.5555vw 9vw 5.5555vw}
.event_wrap .p_evt_tit .top_img_box .top_text p:nth-child(1){margin-bottom:5vw}

/* 위드파머스 */
.event_wrap .farmers_text{font-size:4.1667vw;line-height:6.1111vw;background:#f9f9f9;padding:13.8889vw 0 13.8889vw 11.1111vw;box-sizing:border-box}
.event_wrap .farmers_text .bi{width:21.3888vw;height:7.2222vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0902_withfarmers_shrimp/img/bi.png) 100%/100% no-repeat;margin-bottom:3.0556vw}

.event_wrap .product_box{position:relative;margin:16.6666vw 11.1111vw}
.event_wrap .product_box a{position:relative;display:block}
.event_wrap .product_box .product_img{margin:4.8611vw 0 4.8611vw}
.event_wrap .product_box .product_title{display:block;font-weight:600}
.event_wrap .product_box .product_price{display:block;margin-bottom:2.7778vw;font-size:4.4444vw;font-weight:800}
.event_wrap .product_box .product_price em{font-size:6.1111vw}
.event_wrap .product_box .product_sale{position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;width:13.8888vw;height:13.8888vw;background:#29b9a3;font-size:3.8888vw;font-weight:600;color:#fff}
.event_wrap .product_box .product_sale em{font-size:6.1111vw}
.event_wrap .desc_list li{position:relative;padding-left:3.8889vw}
.event_wrap .desc_list li::before{content:'';position:absolute;top:2.5vw;left:0;width:2.5vw;height:1.8056vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0902_withfarmers_shrimp/img/icon_check.png) 100%/100%}
.event_wrap .desc_list li a{display:block}

/* 내용 */
.event_wrap .p_evt_sec2 .title{position:relative;padding-left:19.4444vw}
.event_wrap .p_evt_sec2 .title::after{content:'';position:absolute;top:0;left:0;width:17.2222vw;height:5.5556vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0902_withfarmers_shrimp/img/bi_farmer.jpg) 100%/100% no-repeat}
.event_wrap .p_evt_sec2 .img1{margin-bottom:5.5555vw}
.event_wrap .p_evt_sec2 .con_box .title{margin-top:5.5555vw}
.event_wrap .p_evt_sec2 .img3{margin-top:-13.8888vw}
.event_wrap .p_evt_sec2 .con_box:nth-of-type(5) p{margin-top:7.7777vw}
.event_wrap .p_evt_sec2 .con_box:nth-of-type(7){margin-top:7.7777vw;padding-bottom:4vw}

.event_wrap .p_evt_sec3{background:#29b9a3;padding:15.2777vw 0 0}
.event_wrap .p_evt_sec3 .title{color:#fff}
.event_wrap .p_evt_sec3 p{margin-top:5vw;color:#fff}
.event_wrap .p_evt_sec3 .img1{width:88.8888vw}

.event_wrap .p_evt_sec4{background:#305ac4;padding:15.2777vw 0 0}
.event_wrap .p_evt_sec4 .title{color:#fff}
.event_wrap .p_evt_sec4 p{margin-top:5vw;color:#fff}
.event_wrap .p_evt_sec4 .img2{margin-bottom:5.5555vw}

.event_wrap .p_evt_sec5{background:#29b9a3;padding:15.2777vw 0}
.event_wrap .p_evt_sec5 .title{color:#fff}
.event_wrap .p_evt_sec5 p{margin-top:5vw;color:#fff}

.event_wrap .p_evt_sec6{padding-top:13.8888vw}
.event_wrap .p_evt_sec6 .img2{margin:5.5555vw 0}

.event_wrap .p_evt_sec7{padding-bottom:16.6667vw;background:#f9f9f9;box-sizing:border-box}
.event_wrap .p_evt_sec7 .con_box{padding:16.6667vw 11.1111vw 2.7778vw}
.event_wrap .review_list{padding:0 11.1111vw}
.event_wrap .review_list li{display:flex;align-items:flex-start;padding-top:10.4167vw}
.event_wrap .review_list li img{width:11.1111vw}
.event_wrap .review_list li span{margin-left:3.4722vw}


/* 모션 */
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

/* 아이폰13이상 사용 */
.event_wrap .motion_up{opacity:0;transition:opacity 0.6s ease-in-out, transform 0.5s ease-in-out;transform:translateY(35px)}
.event_wrap .motion_up.active{opacity:1;transform:translateY(0)}

/* 상단 타이틀 모션만 사용 */
.event_wrap .silde_up{opacity:0}
.event_wrap .silde_up.active{opacity:1;-webkit-animation:silde-up 0.5s ease-in-out both;animation:silde-up 0.5s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 35px);
            transform: translate(0, 35px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 0.8s ease-in-out both;animation:fade-blur 0.8s ease-in-out both}
@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{transition-delay:0.05s !important;animation-delay:0.05s !important}
.delay01.active{transition-delay:0.1s !important;animation-delay:0.1s !important}
.delay015.active{transition-delay:0.15s !important;animation-delay:0.15s !important}
.delay02.active{transition-delay:0.2s !important;animation-delay:0.2s !important}
.delay025.active{transition-delay:0.25s !important;animation-delay:0.25s !important}
.delay03.active{transition-delay:0.3s !important;animation-delay:0.3s !important}
.delay035.active{transition-delay:0.35s !important;animation-delay:0.35s !important}
.delay04.active{transition-delay:0.4s !important;animation-delay:0.4s !important}
.delay05.active{transition-delay:0.5s !important;animation-delay:0.5s !important}
.delay06.active{transition-delay:0.6s !important;animation-delay:0.6s !important}
.delay07.active{transition-delay:0.7s !important;animation-delay:0.7s !important}
.delay08.active{transition-delay:0.8s !important;animation-delay:0.8s !important}
