@charset "utf-8";

.lohas__wrapper{position:relative;width:100%;margin:0 auto;font-family:"Lato","NotoSans", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:500;text-align:left}
.lohas__wrapper .lohas-section{position:relative;width:100%;margin:0 auto}
.lohas__wrapper .lohas-section img{width:100%;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:88.889vw;font-size:5vw;color:#333;transform:translate(-50%, -50%);box-sizing:border-box;}
.lohas__wrapper .hashtag{display:block;font-weight:400;font-size:3.611111vw;color:#fff;line-height:5.555555vw}
.lohas__wrapper .point{display:block;margin:3.4722222vw 0 0 -0.694444vw;font-weight:400;font-size:13.888888vw}
.lohas__wrapper .title{display:block;margin-top:8.056vw;font-size:6.944444vw;font-weight:300;letter-spacing:-0.277777vw}
.lohas__wrapper .title .point{margin:2.5vw 0 0 -0.694444vw;font-weight:700;letter-spacing:-0.833333vw;line-height:16.66666vw}
.lohas__wrapper .description{margin:0;font-size:5.277777vw;font-weight:300;color:#a9a9a9;letter-spacing:-0.555555vw;text-align:left;line-height:6.944444vw}
.lohas__wrapper .description2{margin:0;font-size:5.277777vw;font-weight:700;color:#333;line-height:6.944444vw}
.lohas__wrapper .point2{display:block;font-size:6.944vw;font-weight:300;color:#a9a9a9;letter-spacing:-0.555555vw;text-align:left;line-height:8.333vw}
.lohas__wrapper .text{margin-top:2.5vw;font-weight:300;font-size:3.6111111vw;letter-spacing:-0.146vw;line-height:5.555555vw}

.lohas__wrapper .add-text{position:relative;margin-top:27.222vw;padding-left:7.22222vw}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:0;width:6.25vw;height:0.2777777vw;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:56.25vw}
.lohas__wrapper .lohas-box:first-child{margin-top:-45.555555vw}
.lohas__wrapper .lohas-box .text{margin-top:2.2222222vw}

.lohas__wrapper .lohas-footer{height:37.5vw;background-color:#79ca20;text-align:center}
.lohas__wrapper .lohas-footer:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;background-color:#79ca20;transform:translate(-50%,0);content:''}
.lohas__wrapper .lohas-footer .lohas-inner{width:100%;padding:0 5.5555vw}
.lohas__wrapper .lohas-footer .lohas-logo{display:block;margin-top:1.667vw;font-size:3.6111111vw;font-weight:700;color:#fff;line-height:4.305555vw}
.lohas__wrapper .lohas-footer .text{margin-top:3.05555555vw;color:#fff;word-break:keep-all}

/* style line modify */
.lohas-section1 .lohas-inner{margin-top:-5.278vw}
.lohas-section1 .title{margin-top:6.667vw;color:#fff}
.lohas-section2 .lohas-inner{margin-top:-27.778vw;padding-left:30.694vw}
.lohas-section3 .lohas-inner{margin-top:29.167vw}

.lohas-section3 .point2{margin-top:3.611vw;font-weight:700}
.lohas-section4 .lohas-inner{padding-left:30.694vw}
.lohas-section5 .lohas-inner{margin-top:11.111vw}
.lohas-section5 .title{font-size:5.278vw;line-height:6.944vw}
.lohas-section5 .title .point{margin-top:1.667vw}
.lohas-section5 .text{margin-top:16.944vw}
.lohas-section6 .lohas-inner{margin-top:-18.611vw;padding-left:4.444vw}
.lohas-section7 .lohas-inner{margin-top:20vw;padding-left:4.444vw}
.lohas-section8 .lohas-inner{margin-top:37.500vw;padding-left:4.444vw}
