@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__footer{margin-top:0}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* nav */
.event_wrap .p_evt_nav .evt_section{position:relative;z-index:3}
.event_wrap .p_evt_nav .evt_section::before{content:'';position:absolute;z-index:1;top:0;left:-360px;right:-360px;height:100%;background-color:#ececec}
.event_wrap .evt_nav_wrap{position:relative;z-index:2;display:flex}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;padding:16px 0;font-size:20px;line-height:1;font-weight:600;color:#a7a7a7;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#000}

.event_wrap .p_evt_nav.is_fixed{padding-top:52px}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5;top:0;left:0;right:0}

/* title */
.event_wrap .title{padding-top:80px;color:#333;box-sizing:border-box}
.event_wrap .title > h2{font-size:54px;line-height:1;font-weight:800;text-align:center;letter-spacing:-0.2px}
.event_wrap .title > p{padding-top:20px;font-size:20px;line-height:1;font-weight:600;text-align:center;letter-spacing:-0.2px;box-sizing:border-box}

/* coupon */
.event_wrap .coupon_list{margin-top:50px}

/* page */
.event_wrap .p_evt_sec2{background-color:#f6f6f6}
.event_wrap .p_evt_sec3 .title{padding-bottom:53px;box-sizing:border-box}
.event_wrap .p_evt_sec3 .sub_title{position:absolute;z-index:2;top:230px;left:0;font-size:25px;line-height:1;font-weight:800}
.event_wrap .p_evt_sec3 .item_list{display:flex;justify-content:space-between;position:absolute;top:370px;left:0;padding:0 4px;box-sizing:border-box}
.event_wrap .p_evt_sec3 .item_list li{flex:1;width:383px;padding-left:130px;font-size:16px;line-height:16px;letter-spacing:-0.3px;font-weight:600;box-sizing:border-box}
.event_wrap .p_evt_sec3 .item_list li:not(:first-child){margin-left:21px}
.event_wrap .p_evt_sec3 .item_list li span{display:block;margin-top:9px;font-size:22px;line-height:1;font-weight:800;color:#333;}

.event_wrap .p_evt_sec4{background-color:#fceabc}
.event_wrap .p_evt_sec4 .title{padding-bottom:50px}
.event_wrap .p_evt_sec4 .sub_title{position:absolute;z-index:1;top:248px;left:100px;font-size:34px;line-height:1;font-weight:800;color:#333;letter-spacing:-0.4px}
.event_wrap .p_evt_sec4 .sub_title span{display:block;font-size:20px;line-height:1;font-weight:600;color:inherit;margin-bottom:10px;}

.event_wrap .p_evt_sec5{background-color:#73c40b}
.event_wrap .p_evt_sec5 .title{color:#fff}
.event_wrap .p_evt_sec5 .info_list{display:flex;width:660px;margin:0 auto}
.event_wrap .p_evt_sec5 .info_list li{flex:1;font-size:28px;line-height:1;font-weight:800;color:#fff;text-align:center;padding-bottom:90px;box-sizing:border-box}

/* notice */
.event_wrap .evt_notice{padding-top:50px}
.event_wrap .noti2{background-color:#f6f6f6}
.event_wrap .noti3{background-color:#fceabc}

/* button */
.event_wrap .btn_lnk1{position:relative;display:block;width:400px;height:80px;margin:50px auto 80px;padding:28px 0;font-size:26px;line-height:1;font-weight:800;color:#fff;text-align:center;background-color:#000;box-sizing:border-box}
