@charset "utf-8";


@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;font-family:'Noto Sans KR','NanumBarunGothic','Nanum Barun Gothic',Tahoma,sans-serif}

.event_wrap .evt_sec1{padding-bottom:60px;background-color:#e6d6b7}

/* product */
.event_wrap .product_list{padding:0 7.5%;font-size:0}
.event_wrap .product_list:after{content:'';display:block;clear:both}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list img{vertical-align:top;line-height:0}
.event_wrap .product_list li{position:relative;display:block;float:left;width:calc((100% - 12px) / 2);margin-left:12px;text-align:center}
.event_wrap .product_list li:nth-child(2) ~ li{margin-top:50px}
.event_wrap .product_list li:nth-child(2n-1){margin-left:0}
.event_wrap .product_list .flag{display:inline-block}
.event_wrap .product_list .product_img{display:inline-block;vertical-align:top}
.event_wrap .product_list .product_title{display:block;height:40px;margin:15px 0 8px;color:#3b3b3b;font-size:14px;font-weight:400;letter-spacing:-.02em;line-height:1.4;word-break:keep-all}
.event_wrap .product_list .percent{position:absolute;top:auto;bottom:70.7%;left:0;width:67px;height:28px;padding-left:12px;background:url(https://www.orga.co.kr/images/promo/202012/1217_best_orga/img/bg_badge.png) 0 0 no-repeat;background-size:cover;color:#513a0c;font-size:12px;font-weight:500;text-align:left;line-height:28px;letter-spacing:-.02em;box-sizing:border-box;-webkit-box-sizing:border-box}
.event_wrap .product_list .percent .num{margin-right:-3px;font-size:17px;font-weight:700;letter-spacing:-.04em}
.event_wrap .product_list .original{margin-right:2px;color:#776d5a;font-size:14px;font-weight:400}
.event_wrap .product_list .sale {font-size:15px;font-weight:400}
.event_wrap .product_list .sale ins{margin-right:-3px;color:#3a3a3a;font-size:20px;font-weight:500;text-decoration:none;letter-spacing:-.04em}

.event_wrap .product_list li:nth-child(7) .flag{width:120%;margin-left:-8%}
.event_wrap .product_list li:nth-child(8) .flag{width:120%;margin-left:-4%}
.event_wrap .product_list li:nth-child(9) .flag, 
.event_wrap .product_list li:nth-child(11) .flag{width:105%;margin-left:-2%}
.event_wrap .product_list li:nth-child(10) .flag, 
.event_wrap .product_list li:nth-child(12) .flag{width:105%;margin-right:-2%}

/* more */
.event_wrap .btn_wrap{margin:65px 20% 30px;text-align:center}
.event_wrap .btn_more{display:inline-block}
.event_wrap .notice_text{padding:0 4%;color:#8a7d64;font-size:11px;font-weight:300;text-align:center;letter-spacing:-.04em;word-break:keep-all}


@media all and (max-width:320px){
    .event_wrap .product_list{padding:0 5%}
    .event_wrap .product_list .product_title{height:50px}
    .event_wrap .product_list .percent{bottom:72%}
}