@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;font-family:'Noto Sans KR','NanumBarunGothic','Nanum Barun Gothic',Tahoma,sans-serif;font-weight:500}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202012/1217_best_orga/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202012/1217_best_orga/img/p_tit_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec1,
.event_wrap .p_evt_sec1:before,
.event_wrap .p_evt_sec1:after{padding-bottom:195px;background-color:#e6d6b7}

/* product */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list:after{content:'';display:block;clear:both}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list img{vertical-align:top;line-height:0}
.event_wrap .product_list li{position:relative;display:block;float:left;width:340px;text-align:center}
.event_wrap .product_list li:nth-child(3) ~ li{margin-top:105px}
.event_wrap .product_list .product_img{display:inline-block;padding:0 20px;vertical-align:top}
.event_wrap .product_list .product_title{display:block;margin:22px 0 8px;color:#3b3b3b;font-size:26px;font-weight:400;letter-spacing:-.02em;line-height:1.4}
.event_wrap .product_list .percent{position:absolute;top:116px;left:20px;width:134px;height:56px;padding-left:26px;background:url(https://www.orga.co.kr/images/promo/202012/1217_best_orga/img/bg_badge.png) 0 0 no-repeat;color:#513a0c;font-size:22px;font-weight:500;text-align:left;line-height:56px;letter-spacing:-.02em;box-sizing:border-box;-webkit-box-sizing:border-box}
.event_wrap .product_list .percent .num{margin-right:-3px;font-size:32px;font-weight:700;letter-spacing:-.04em}
.event_wrap .product_list .original{margin-right:4px;color:#776d5a;font-size:24px;font-weight:400}
.event_wrap .product_list .sale {font-size:26px;font-weight:400}
.event_wrap .product_list .sale ins{margin-right:-5px;color:#3a3a3a;font-size:36px;font-weight:500;text-decoration:none;letter-spacing:-.04em}
.event_wrap .product_list li:nth-child(3n) .product_img{padding:0 25px 0 15px}
.event_wrap .product_list li:nth-child(3n) .percent{left:15px}
.event_wrap .product_list li:nth-child(3n+1) .product_img{padding:0 15px 0 25px}
.event_wrap .product_list li:nth-child(3n+1) .percent{left:25px}

/* more */
.event_wrap .btn_wrap{margin:120px 0 30px;text-align:center}
.event_wrap .btn_more{display:inline-block;width:418px;height:108px}
.event_wrap .notice_text{color:#8a7d64;font-size:20px;font-weight:300;text-align:center}
