@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:13.5%;display:flex;justify-content:space-between}
.event_wrap .evt_tab_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .p_evt_noti.noti2{background:#fdf1c6}
.event_wrap .evt_notice{padding:40px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_coupon{top:81.2%;left:33%;width:34%;height:7%}
.event_wrap .btn_lnk1{bottom:11.9%;left:22%;width:55.6%;height:9.8%}
.event_wrap .btn_lnk2{top:0;left:0;width:100%;height:100%}
.event_wrap .btn_category{top:18%;left:5.5%;right:5.5%;bottom:7.5%}
.event_wrap .btn_price{top:18.5%;left:10%;right:10%;bottom:7.8%}

.event_wrap .btn_price2{top:86.2%;left:20.5%;right:20.5%;bottom:7.8%}
.event_wrap .item_list{position:absolute;top:18%;left:5.5%;right:5.5%;bottom:7.6%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .item_list li{width:46.2%;height:31%}
.event_wrap .item_list li a{display:block;width:100%;height:100%}
.event_wrap .item_list.type2{top:18.2%;left:10%;right:10%;bottom:16.2%;display:flex;flex-wrap:nowrap;flex-direction:column;align-items:center}
.event_wrap .item_list.type2 li{width:100%;height:22%}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 22.2vw !important;background:#fdf1c6}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:14vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202201/0110_seollal/img/0117/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}