@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .product_img img{margin:0}

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .evt_section .product_img img{margin:0}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:14.5%;display:flex;justify-content:space-between}
.event_wrap .evt_tab_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#fff;content:''}
.event_wrap .p_evt_noti.noti2,
.event_wrap .p_evt_noti.noti2:after{background:#fdf1c6}
.event_wrap .evt_notice{padding:80px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_coupon{top:77.7%;left:42.7%;width:14.6%;height:8.5%}
.event_wrap .btn_lnk1{top:74.5%;left:35%;width:30%;height:13%}
.event_wrap .btn_lnk2{top:0;left:0;width:100%;height:100%}
.event_wrap .btn_category{top:23%;left:9.8%;right:9.8%;bottom:9%}
.event_wrap .btn_price{top:27.5%;left:0;right:0;bottom:11%}

.event_wrap .btn_price2{top:81.7%;left:37.2%;right:37.2%;bottom:11%}
.event_wrap .item_list{position:absolute;top:22.8%;left:9.5%;right:9.5%;bottom:9.2%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .item_list li{width:31.8%;height:48.3%;}
.event_wrap .item_list li a{display:block;width:100%;height:100%;}
.event_wrap .item_list.type2{top:27.6%;left:0%;right:0%;bottom:21.5%}
.event_wrap .item_list.type2 li{width:49%;height:47.3%}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;margin:0 auto;padding:0;background:#fdf1c6;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202201/0110_seollal/img/0117/p_img_btn.png) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}
