@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .p_evt_sec1{background:#ffd162}
.event_wrap .info_desc{margin-top:10px}
.event_wrap .info_desc span{font-size:3.3333vw;color:#fff;font-weight:600}
.event_wrap .info_desc span:before{content:'';margin:0}

.event_wrap .p_evt_noti{background:#ffd162}

/* motion */
.motion_box .object1{position:absolute;top:46vw;left:54vw;width:22.5vw}
.motion_box .object2{position:absolute;top:4vw;left:68vw;width:12.6vw;-webkit-animation-delay:1.4s !important;animation-delay:1.4s !important}
.motion_box .object3{position:absolute;top:2vw;left:53vw;width:9.4vw;-webkit-animation-delay:0.6s !important;animation-delay:0.6s !important}
.motion_box .motion{-webkit-animation:bounce 4s 0s infinite ease-in-out both;animation:bounce 4s 0s ease-in-out infinite both}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -12px);
            transform:translate(0, -12px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -12px);
            transform:translate(0, -12px);
  }
}
