@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;max-width:1920px;min-width:1200px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:96px;left:510px;right:0}
.event_wrap .info_desc{margin-top:10px}
.event_wrap .info_desc span{font-size:18px;color:#fff;font-weight:600}
.event_wrap .info_desc span:before{content:'';margin:0}

.event_wrap .p_evt_noti{background:#ffd162}

/* motion */
.motion_box img{margin:0 !important;width:100%}

.motion_box .object1{position:absolute;top:270px;left:88px;width:148px}
.motion_box .object2{position:absolute;top:202px;left:5px;-webkit-animation-delay:0.6s !important;animation-delay:0.6s !important}
.motion_box .object3{position:absolute;top:-10px;left:171px;-webkit-animation-delay:0.3s !important;animation-delay:0.3s !important}
.motion_box .motion{-webkit-animation:bounce 4s 0s infinite ease-in-out both;animation:bounce 4s 0s ease-in-out infinite both}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -25px);
            transform:translate(0, -25px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -25px);
            transform:translate(0, -25px);
  }
}
