@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

/* 녹즙 slide */
.event_wrap .slide_box{position:absolute;top:0px;left:0;width:100%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}

.event_wrap .slide_box .slide_pagination{position:absolute;bottom:0;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 5px;background:rgba(255, 255, 255, 0.4);border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#fff}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}

/* page */
.event_wrap .p_evt_sec1{background:#f5f5f5}
.event_wrap .noti1{background:#f5f5f5}
.event_wrap .noti2{background:#faf1dd}
