@charset "utf-8";
@import url("../../../common/css/m_common_2024.css");
/* @import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css"); */

/* 폰트적용 테스트 실제 사용시 삭제 */
.event_wrap *{font-family:"Pretendard", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:400;}
.com_title{text-align: center; font-size:7vw; font-weight:800; padding:40px 0 20px}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#eee;padding:11.1111vw 0}
.event_wrap .p_evt_sec3{background:#eee;padding-bottom:11.1111vw}


.event_wrap{padding-top:9vw}

.tab_list{position:fixed;display:flex;justify-content:center;width:100%;top:0;padding:5vw 0;z-index:10;background:#fff;}
.tab_list a{display:block;font-size:4.6vw;font-weight:600;padding:5vw 4vw;margin:0 0.5vw;border:1px solid #bbb;}
.tab_list a.on{background:#333;color:#fff;border:0;}
