@charset "utf-8";
@import url("../../../common/css/p_common_2024.css");
/* @import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css"); */

/* 폰트적용 테스트 실제 사용시 삭제 */
.event_wrap *{font-family:"Pretendard", "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;font-weight:400;}
.com_title{text-align: center; font-size: 36px; font-weight:800; margin:80px 0 20px}

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#eee;padding:80px 0}
.event_wrap .p_evt_sec2{background:#eee;padding:40px 0}

.event_wrap{padding-top:80px}

.tab_list{position:fixed;display:flex;justify-content:center;width:100%;top:0;padding:30px 0;z-index:10;background:#fff;}
.tab_list a{display:block;font-size:18px;font-weight:600;padding:14px 30px;margin:0 4px;border:1px solid #bbb;}
.tab_list a.on{background:#333;color:#fff;border:0;}
