@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:25vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards_member/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* notice */
.event_wrap .evt_notice{padding:11.1111vw 5.5555vw 16.6667vw;}
.event_wrap .p_evt_noti.noti1{background:#1c241c}
.event_wrap .p_evt_noti.noti2{background:#eeeeee}

/* motion */
.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box .object{position:absolute;width:95%;top:42%;left:5%;z-index:1}
.motion_box .object_light{position:absolute;top:37.7777%;left:0;width:100%;height:93.3333vw;opacity:0;z-index:1}

.motion_box .motion1_0{-webkit-animation:light-up 4s ease-in-out 0.7s infinite both;animation:light-up 4s ease-in-out 0.3s infinite both;z-index:1}
.motion_box .motion1_1{width:93%;top:35%;left:4%;-webkit-animation:bounce-up 12s ease-in-out 1.1s infinite both;animation:bounce-up 12s ease-in-out 1.1s infinite both;z-index:3}
.motion_box .motion1_2{width:93%;top:37%;left:4%;-webkit-animation:bounce-up 12s ease-in-out 0.9s infinite both;animation:bounce-up 12s ease-in-out 0.9s infinite both;z-index:2}

.motion_box .motion2_0{-webkit-animation:light-up 4s ease-in-out 3.8s infinite both;animation:light-up 4s ease-in-out 4.3s infinite both;z-index:1}
.motion_box .motion2_1{width:93%;top:35%;left:12%;-webkit-animation:bounce-up 12s ease-in-out 3.9s infinite both;animation:bounce-up 12s ease-in-out 4.5s infinite both;z-index:2}
.motion_box .motion2_2{width:93%;top:42%;left:4%;-webkit-animation:bounce-up 12s ease-in-out 4s infinite both;animation:bounce-up 12s ease-in-out 4.7s infinite both;z-index:3}
.motion_box .motion2_2 img{transform:rotate(90deg);margin-left:-50% !important;}

.motion_box .motion3_0{-webkit-animation:light-up 4s ease-in-out 6.8s infinite both;animation:light-up 4s ease-in-out 8.3s infinite both;z-index:1}
.motion_box .motion3_1{width:93%;top:42%;left:12%;-webkit-animation:bounce-up 12s ease-in-out 6.9s infinite both;animation:bounce-up 12s ease-in-out 8.5s infinite both;z-index:2}
.motion_box .motion3_2{width:93%;top:35%;left:0;-webkit-animation:bounce-up 12s ease-in-out 7s infinite both;animation:bounce-up 12s ease-in-out 8.7s infinite both;z-index:3}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    3% {
        opacity: 1;
        -webkit-transform:translateY(-15px);
        transform:translateY(-15px);
    }
    10%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }
    3% {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    3% {
        opacity: 1;
        -webkit-transform:translateY(-15px);
        transform:translateY(-15px);
    }
    10%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }
    3% {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@-webkit-keyframes light-up {
    0%, 100% { opacity:0 }
    20%, 80% {opacity:1}
}
@keyframes light-up {
    0%, 100% { opacity:0 }
    20%, 80% {opacity:1}
}

/* page */
.event_wrap .p_evt_tit .evt_section{position:relative;}
.event_wrap .p_evt_tit .evt_section:before{content:'';position:absolute;top:0;left:0;width:100%;height:66.6667vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards_member/img/m_evt_tit_text.png) 0 0 / 100% auto no-repeat;z-index:2}

/* template */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{padding:0 16.6667vw !important;background:#74c244 !important;}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:66.6667vw;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards_member/img/m_evt_btn.jpg) 0 0 no-repeat;background-size:100%;border-radius:35px}
