@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;min-width:1168px;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:160px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:-389px}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:-778px}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#1c241c}
.event_wrap .p_evt_noti.noti2{background:#eeeeee}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding-top:97px}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .object{position:absolute;top:16px;left:560px;z-index:1}
.motion_box .object_light{position:absolute;top:0;right:-167px;opacity:0;z-index:1}

.motion_box .motion1_0{-webkit-animation:light-up 4s ease-in-out 0.7s infinite both;animation:light-up 4s ease-in-out 0.3s infinite both;z-index:1}
.motion_box .motion1_1{-webkit-animation:bounce-up 12s ease-in-out 0.9s infinite both;animation:bounce-up 12s ease-in-out 0.5s infinite both;z-index:2}
.motion_box .motion1_2{-webkit-animation:bounce-up 12s ease-in-out 1.1s infinite both;animation:bounce-up 12s ease-in-out 0.7s infinite both;z-index:3}

.motion_box .motion2_0{-webkit-animation:light-up 4s ease-in-out 3.8s infinite both;animation:light-up 4s ease-in-out 4.3s infinite both;z-index:1}
.motion_box .motion2_1{-webkit-animation:bounce-up 12s ease-in-out 3.9s infinite both;animation:bounce-up 12s ease-in-out 4.5s infinite both;z-index:3}
.motion_box .motion2_2{-webkit-animation:bounce-up 12s ease-in-out 4s infinite both;animation:bounce-up 12s ease-in-out 4.7s infinite both;z-index:2}

.motion_box .motion3_0{-webkit-animation:light-up 4s ease-in-out 6.8s infinite both;animation:light-up 4s ease-in-out 8.3s infinite both;z-index:1}
.motion_box .motion3_1{-webkit-animation:bounce-up 12s ease-in-out 6.9s infinite both;animation:bounce-up 12s ease-in-out 8.5s infinite both;z-index:2}
.motion_box .motion3_2{-webkit-animation:bounce-up 12s ease-in-out 7s infinite both;animation:bounce-up 12s ease-in-out 8.7s infinite both;z-index:3}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    3% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
        transform:translateY(-30px);
    }
    10%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }
    3% {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    3% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
        transform:translateY(-30px);
    }
    10%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }
    3% {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@-webkit-keyframes light-up {
    0%, 100% { opacity:0 }
    20%, 80% {opacity:1}
}
@keyframes light-up {
    0%, 100% { opacity:0 }
    20%, 80% {opacity:1}
}

/* page */
.event_wrap .p_evt_tit .evt_section{position:relative;}
.event_wrap .p_evt_tit .evt_section:before{content:'';position:absolute;top:0;left:0;width:595px;height:745px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards_member/img/p_evt_tit_text.png) 0 0 no-repeat;z-index:5}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;min-width:1168px;max-width:1920px;padding:0;background:#74c244}
.desktop .fb__event .fb__event-comment__join-btn button{width:480px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_awards_member/img/p_evt_btn.jpg) 0 0 no-repeat;border-radius:40px}
.desktop .detail-wrapper__bottom{padding-top:0}
