@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;position:absolute;top:0;left:0;width:100%;height:100%;background:#0bb32b}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;font-size:4.1666vw;line-height:12.5vw;font-weight:600;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#f8ff2c}

.event_wrap .p_evt_nav{padding-top:12.5vw}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;height:12.5vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}

/* page */
.event_wrap h3{display:block;font-weight:600;text-align:center;padding:16.6666vw 0 9.7222vw}
.event_wrap h3 > p{display:inline-block;padding:1vw 3vw;margin-bottom:2vw;background:#1cbf3c;border-radius:100vw;font-size:3.6111vw;color:#fff}
.event_wrap h3 > span{display:block;font-size:8.8888vw;color:#333;line-height:1.1;letter-spacing:-1px}

.event_wrap .p_evt_sec2{background:#f5f5f5}

.event_wrap .info_desc{padding:9vw 0 0}
.event_wrap .info_desc span{font-weight:400;color:#333}
.event_wrap .info_desc span::before{content:'※'}

.event_wrap .coupon_list .coupon_full{width:100%}

/* button */
.event_wrap .btn_lnk1{top:0;left:16vw;right:16vw;height:11vw}
.event_wrap .btn_lnk2{top:0;left:16vw;right:16vw;height:11vw}

/* product */
.event_wrap .product_item .item_thumbnail{position:relative}
.event_wrap .product_item .item_thumbnail:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, .03);z-index:2}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#f5f5f5 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1111_full_festa/img/m_img_noti.jpg) 50% 100%/100% no-repeat}
.event_wrap .p_evt_noti.noti2{background:#3a6adf url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1111_full_festa/img/m_img_noti2.jpg) 50% 100%/100% no-repeat}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:3.4722vw 5.5555vw 15.8333vw}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1111_full_festa/img/roulette/m_bg_roulette.jpg) 50% 0/100% no-repeat}
.mobile .fb__event .event__roulette__wrap .roulette{width:88.8888vw;height:88.8888vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-3vw;width:6.3888vw;margin-left:-3.1vw}
.mobile .fb__event .roulette__action{width:14.0277vw;height:14.0277vw;margin:0;transform:translate(-50%,-50%)}
.mobile .fb__event .roulette__action img{width:100%;height:100%;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding:0}
