@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{position:relative;overflow:hidden;min-width:1200px}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;height:100%;}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;font-size:20px;line-height:68px;font-weight:600;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#f8ff2c}

.event_wrap .p_evt_nav{background:#0bb32b;padding-top:68px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;transform:translateX(-50%);z-index:5}

.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;height:68px;z-index:5}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:1920px;height:100%;background:#0bb32b;z-index:-1}

/* page */
.event_wrap h3{position:absolute;top:134px;left:0;width:100%}
.event_wrap h3 > span{display:block;font-size:50px;color:#333;font-weight:600;letter-spacing:-1px;text-align:center}

/* button */
.event_wrap .btn_lnk1{top:73.5%;left:30%;right:30%;height:80px}
.event_wrap .btn_lnk2{top:78.5%;left:30%;right:30%;height:80px}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:235px;left:0;right:0}

/* product */
.event_wrap .product_item{position:absolute;top:235px;left:0;right:0}
.event_wrap .product_item .item_thumbnail{position:relative}
.event_wrap .product_item .item_thumbnail:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, .03);z-index:2}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#f5f5f5 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1111_full_festa/img/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .p_evt_noti.noti1 .evt_notice{padding-bottom:100px}
.event_wrap .p_evt_noti.noti2{background:#3a6adf url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1111_full_festa/img/p_img_noti2.jpg) 50% 100% no-repeat}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:7px 40px 100px}

/* template */
.desktop .fb__event .event__roulette__wrap{min-width:1200px;height:700px;overflow:hidden;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1111_full_festa/img/roulette/p_bg_roulette.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:640px;height:640px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action{width:101px;height:101px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__action img{width:100%;height:100%}
.desktop .fb__event .roulette__arrow{width:51px;margin-left:-23px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}
