@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.1667vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0207_edward_lee/img/m_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* 상품리스트 */
.event_wrap .product_item{padding-bottom:8.3333vw}
.event_wrap .product_item.type_col1 .item_thumbnail{height:auto}
.event_wrap .product_item.type_col1 .item_thumbnail img{height:auto}
.event_wrap .product_item .tag{position:absolute;top:0;left:0;width:13.8889vw;height:13.8889vw;background:#f44336;color:#fff;font-size:4.4444vw;font-weight:600;display:flex;justify-content:center;align-items:center}
.event_wrap .product_item .tag.tag_new{background:#7db232}

/* page */
.event_wrap .p_evt_sec1{background:#a4cb14}
.event_wrap .p_evt_sec2{background:#7db232}
.event_wrap .p_evt_noti{background:#7db232}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:79.4444vw;left:11.3889vw;right:11.3889vw}
.event_wrap .evt_mov li{width:44.4444vw}
.event_wrap .evt_mov li:nth-child(1){margin:0 0 19.4444vw 32.7778vw}
.event_wrap .evt_mov video{display:block;width:100%;height:100%;object-fit:cover}
