@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:29%}
.event_wrap .evt_nav_wrap li:nth-child(2){width:31.5%}
.event_wrap .evt_nav_wrap li:nth-child(3){width:39.5%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* 상품리스트 */
.event_wrap .product_item{gap:20px;padding-bottom:100px}
.event_wrap .product_item li{width:590px}
.event_wrap .product_item .item_thumbnail{height:auto}
.event_wrap .product_item .item_thumbnail img{width:600px;height:auto}
.event_wrap .type_slide .item_info{margin-bottom:0}
.event_wrap .product_item .tag{position:absolute;top:0;left:0;width:100px;height:100px;background:#f44336;color:#fff;font-size:32px;font-weight:600;display:flex;justify-content:center;align-items:center}
.event_wrap .product_item .tag.tag_new{background:#7db232}

/* page */
.event_wrap .coupon_list{position:absolute;top:260px;left:0;right:0}
.event_wrap .p_evt_sec1{background:#a4cb14}

/* notice */
.event_wrap .p_evt_noti{background:#7db232}
.event_wrap .p_evt_noti .evt_notice{padding:0 40px 80px}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:339px;left:50%;transform:translate(-50%);display:flex;gap:0 16px}
.event_wrap .evt_mov li{width:320px}
.event_wrap .evt_mov video{display:block;width:100%;height:100%;object-fit:cover}
