@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .p_evt_sec1{background:#eb604d}
.event_wrap .event_coupon_wrap{padding:0 5.555555%;font-size:0}
.event_wrap .input_radio_wrap{display:inline-block;position:relative;width:50%;height:100%;margin-bottom:7.500vw;font-size:0;}
.event_wrap .input_radio_wrap:first-child{margin-left:0;}
.event_wrap .input_radio{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.event_wrap .input_radio+label{display:inline-block;position:relative;width:100%;font-size:14px;color:#fff;line-height:18px;text-align:center;cursor:pointer}
.event_wrap .input_radio_wrap .text{display:block;font-size:3.750vw;font-weight:600;color:#fff;line-height:8.333vw}
.event_wrap .input_radio+label .text:after{display:inline-block;width:5.556vw;height:5.556vw;margin:1.389vw 0 0 1.389vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202110/1025_weclome_gift/img/sp_radio.png) 0 0 no-repeat;background-size:100% auto;vertical-align:top;content:''}
.event_wrap .input_radio:checked+label .text:after{background-position:0 100%}
.event_wrap .input_radio:focus+label{position:relative;height:100%}
.event_wrap .input_radio:focus+label:after{position:absolute;top:0;left:0;width:100%;height:89.445438%;border:5px solid #04ab00;box-sizing:border-box;content:''}
.event_wrap .is_soldout:after{position:absolute;top:0;right:0;left:0;bottom:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202110/1025_weclome_gift/img/img_soldout.png) 0 50% no-repeat;background-size:100% auto;content:''}

/* button */
.event_button_wrap{padding:4.167vw 13.125vw 16.667vw}
.event_button_wrap .btn_coupon{display:block;width:73.594vw;height:17.500vw;margin:0 auto;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202110/1025_weclome_gift/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}

.event_wrap .btn_lypop{position:absolute;top:14.7%;left:5.5%;width:89.5%;height:35%}

/* notice */
.event_wrap .p_evt_noti{background:#ededed}
.event_wrap .evt_notice{padding:30px 5.555555% 41px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}


/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:4.167vw 13.125vw 0;background:#eb604d}
.mobile .fb .event .reply__join-btn button{width:73.594vw;height:17.500vw;padding:0;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202110/1025_weclome_gift/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:88.8888888vw;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{position:relative}
.layer_popup_wrap .header_bx{height:11.115vw;background:#eb604d}
.layer_popup_wrap .header_bx h1{font-size:15px;font-weight:600;color:#fff;letter-spacing:0;line-height:11.115vw} 
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;margin:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:11.115vw;height:11.5vw;border:none;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202110/1025_weclome_gift/img/btn_close.png) 0 0 no-repeat;background-size:100% auto}
.layer_popup_wrap .scroll_bx{overflow:hidden;overflow-y:auto;max-height:150vw}
.layer_popup_wrap .btn_confirm{position:absolute;left:34%;bottom:7%;width:32%;height:6%}
