@charset "utf-8";

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:81%;left:15%;right:15%;height:10%}
.event_wrap .btn_lnk2{top:77%;left:15%;right:15%;height:8%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_member/img/evt_nav_off.jpg);background-size:100% auto}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:34.7222vw;z-index:60}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_member/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_member/img/img_noti.jpg) 50% 0/100%}
.event_wrap .evt_notice{padding:0 5.5556vw 15.2777vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #fff;font-size:5.5555vw;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0/100% no-repeat;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(255,255,255,.15);border-bottom:1px solid rgba(255,255,255,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#fff;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_member/img/img_noti2.jpg) 50% 0/100%}
.event_wrap :is(.noti2,.noti4) .notice_title{border-top:2px solid #333;color:#333}
.event_wrap :is(.noti2,.noti4) .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0/100% no-repeat}
.event_wrap :is(.noti2,.noti4) .notice_list{border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap :is(.noti2,.noti4) .notice_list li{color:#333}
.event_wrap :is(.noti2,.noti4) .notice_list li:before{background-color:#333}

.event_wrap .noti3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_member/img/img_noti3.jpg) 50% 0/100%}
.event_wrap .noti4{background:#f4f4f4}
.event_wrap .noti4 .evt_notice{padding-top:16.6666vw}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202401/0115_seollal_member/img/stamp/mo_bg.jpg) 0 0/100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw !important;height:25vw !important;margin-left:12.5vw !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#6acc0c}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#6acc0c !important;color:#fff !important;line-height:4.66667vw !important}
