@charset "utf-8";

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* goods */
.event_wrap .goods_list{overflow:hidden;position:absolute;top:15.6%;left:5%;width:90%;height:67%;font-size:0}
.event_wrap .goods_list li{position:relative;display:inline-block;width:50%;height:50%}
.event_wrap .goods_list li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:86.6%;left:25%;width:50%;height:6%}
.event_wrap .btn_lnk2{top:82.2%;left:25%;width:50%;height:7.5%}

/* notice */
.event_wrap .evt_notice{padding:20px 5.555555% 47px;background:#f4f4f4;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .evt_notice.noti2{background:#eef9e9}
