@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 auto;vertical-align:top}

/* goods */
.event_wrap .goods_list{overflow:hidden;position:absolute;top:23.6%;left:6%;width:88%;height:50%;font-size:0}
.event_wrap .goods_list li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .goods_list li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:78.2%;left:35%;width:30%;height:11%}
.event_wrap .btn_lnk2{top:70.2%;left:58.3%;width:30%;height:12%}

/* notice */
.event_wrap .evt_notice{padding:14px 70px 73px 80px;background:#edece8;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:8px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
.event_wrap .evt_notice.noti2{background:#eef9e9}
