@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .btn{position:absolute;padding:0;border:0;background:url(about:blank) 0 0 no-repeat;}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

/* bg */
.event_wrap .p_evt_sec1{background:#35302c}
.event_wrap .p_evt_sec2{background:#f4f4f4}
.event_wrap .p_evt_sec3{background:#eae8e5}
.event_wrap .p_evt_sec4{background:#898b49}
.event_wrap .p_evt_sec5{background:#f4f4f4}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec5{padding-bottom:50px}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:72%;left:3.3%;width:93%;height:28%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:50%}
.event_wrap .tit_tab_wrap li:nth-child(4),.event_wrap .tit_tab_wrap li:nth-child(5){width:50%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.coupon_wrap{position:relative}
.coupon_wrap .btn_coupon{top:76.161616%;left:8.61111111%;width:40%;padding-top:12.5%}
.coupon_wrap .btn_buy{top:76.161616%;right:8.61111111%;width:40%;padding-top:12.5%}

.event_wrap .items_wrap{margin-top:30px;padding:0 4.4444444%;font-size:0}
.event_wrap .items_wrap:first-of-type{margin:0}
.event_wrap .items_title{display:block}
.event_wrap .items_title a{display:block;width:100%;height:100%}


/* product */
.event_wrap .product_list{margin-top:20px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:48.780487%;height:auto;margin:0 0 0 2.43902439%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;padding:91.25% 9.375% 11px;background:#fff;border-radius:12px}
.event_wrap .product_img{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:11px;font-size:11px;font-weight:400;color:#333;line-height:15px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;right:6.25%;width:30px;height:30px;background:#87bf31;font-size:10px;color:#fff;text-align:center;line-height:30px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:3px;font-size:0}
.event_wrap .original del{font-size:9px;color:#999}
.event_wrap .original .won{display:inline-block;font-size:9px;color:#999}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:15px;font-weight:600;color:#87bf31;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:13px;font-weight:600;color:#87bf31}

.event_wrap .apply_wrap{position:relative}
.event_wrap .apply_list{position:absolute;top:0;right:4%;left:4%;bottom:0;font-size:0}
.event_wrap .apply_list li{display:inline-block;width:50%;height:33.3333%}
.event_wrap .apply_list button{display:block;width:100%;height:15%;margin-top:128%;border:0;background:0}

/* notice */
.event_wrap .evt_notice{margin-top:40px;padding:0 5.5555556%}
.event_wrap .notice_title{display:block;position:relative;padding-left:20px;border-top:2px solid #000;font-size:14px;font-weight:600;color:#221f1f;line-height:34px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:3px;width:15px;height:15px;margin-top:-8px;background:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:15px 0;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd}
.event_wrap .notice_list li{position:relative;padding-left:8px;font-size:12px;color:#221f1f;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}

.event_wrap .p_evt_sec1 .notice_title{border-top-color:#fff;color:#fff}
.event_wrap .p_evt_sec1 .notice_title:before{background-image:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/ico_notice2.png)}
.event_wrap .p_evt_sec1 .notice_list{border-top-color:#5b5754;border-bottom-color:#5b5754}
.event_wrap .p_evt_sec1 .notice_list li{color:#fff}
.event_wrap .p_evt_sec1 .notice_list li:before{background-color:#fff}

.event_wrap .p_evt_sec4 .notice_title{border-bottom-color:#787945}
.event_wrap .p_evt_sec4 .notice_list{border-bottom-color:#787945}

.event_wrap .btn_lnk{top:92%;left:25%;width:50%;height:8.2%}
.event_wrap .btn_coupon2{top:75%;left:25%;width:50%;height:12.4%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:40px;border-top:2px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:13px;color:#373737;text-align:center;line-height:42px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:15px}
.layer_popup_wrap .btn-layerClose img{width:11px;height:11px;}
.layer_popup_contents{height:auto;padding:0 15px 23px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:15px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:75px;height:29px;font-size:12px;color:#fff;border:1px solid #71a715;background:#85b81f}
