@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_wide_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#35302c}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f4f4f4}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#eae8e5}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#898b49}
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:#f4f4f4}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec5{padding-bottom:100px}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:82%;left:0;width:100%;height:18%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:20%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_wrap{position:relative}
.event_wrap .coupon_wrap .btn_coupon{top:320px;right:45px;width:310px;height:83px;padding:0}
.event_wrap .coupon_wrap .btn_buy{top:418px;right:45px;width:310px;height:80px;padding:0}

.event_wrap .items_wrap{margin-top:60px;font-size:0}
.event_wrap .items_wrap:first-of-type{margin:0}
.event_wrap .items_title{display:inline-block}
.event_wrap .items_title a{display:block;width:100%;height:100%}

/* product */
.event_wrap .product_list{display:inline-block;font-size:0;vertical-align:top}
.event_wrap .product_list li{display:inline-block;width:320px;height:auto;margin:0 0 0 30px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;padding:292px 29px 30px;background:#fff;border-radius:30px}
.event_wrap .product_img{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:3em;margin-top:22px;font-size:20px;font-weight:300;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:2px}
.event_wrap .percent{position:absolute;top:0;right:20px;width:60px;height:60px;background:#87bf31;font-size:20px;color:#fff;text-align:center;line-height:60px}
.event_wrap .percent .num{font-size:26px}
.event_wrap .original{display:inline-block;margin-right:16px;font-size:0}
.event_wrap .original del{font-size:16px;color:#999}
.event_wrap .original .won{display:inline-block;font-size:14px;color:#999}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:30px;font-weight:600;color:#87bf31;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;color:#87bf31} 

.event_wrap .apply_wrap{position:relative}
.event_wrap .apply_list{position:absolute;top:0;right:0;left:0;bottom:0;font-size:0}
.event_wrap .apply_list li{display:inline-block;width:33.3333%;height:50%}
.event_wrap .apply_list button{display:block;width:100%;height:14%;margin-top:125%;}

/* notice */
.event_wrap .evt_notice{margin-top:80px;padding:0 32px;}
.event_wrap .notice_title{display:block;position:relative;padding-left:37px;border-top:4px solid #000;border-bottom:1px solid #cdcdcd;font-size:22px;font-weight:600;color:#221f1f;line-height:64px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:10px;width:24px;height:24px;margin-top:-10px;background:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/ico_notice.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:21px 16px 23px;border-bottom:1px solid #cdcdcd}
.event_wrap .notice_list li{position:relative;padding-left:15px;font-size:16px;color:#221f1f;line-height:31px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:5px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}

.event_wrap .p_evt_sec1 .notice_title{border-top-color:#fff;color:#fff}
.event_wrap .p_evt_sec1 .notice_title:before{background:url(https://www.orga.co.kr/images/promo/202104/0430_40th_anniversary/img/ico_notice2.png) 0 0 no-repeat}
.event_wrap .p_evt_sec1 .notice_list{border-bottom-color:#5b5754}
.event_wrap .p_evt_sec1 .notice_list li{color:#fff}
.event_wrap .p_evt_sec1 .notice_list li:before{background-color:#fff}

.event_wrap .p_evt_sec4 .notice_title{border-bottom-color:#787945}
.event_wrap .p_evt_sec4 .notice_list{border-bottom-color:#787945}


.event_wrap .btn_lnk{top:92%;left:32%;width:368px;height:8.2%}
.event_wrap .btn_coupon2{top:76%;left:32%;width:368px;height:12.4%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .layer_popup_header{position:relative;height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_wrap .layer_popup_title{font-size:21px;color:#373737;text-align:center;line-height:62px}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;padding:19px}
.layer_popup_wrap .btn-layerClose img{width:22px;height:22px;}
.layer_popup_contents{height:auto;padding:0 30px 30px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background:#85b81f}
