@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202205/0506_greenjuice/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{position:absolute;top:84%;left:16%;right:16%;height:9%}

.event_wrap .item_list{position:absolute;top:20.6%;right:5%;left:5%;bottom:41%;border:0;padding:0;display:flex;justify-content:space-between}
.event_wrap .item_list li{width:48.6%;height:100%}
.event_wrap .item_list a{display:block;width:100%;height:100%}
.event_wrap .item_list.link2{top:15.6%;bottom:43%}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:relative;display:flex;align-content:space-between;justify-content:space-between;flex-wrap:wrap}
.event_wrap .coupon_list li{width:43.61%;height:100%}
.event_wrap .coupon_list li:nth-child(odd){margin-left:5vw}
.event_wrap .coupon_list li:nth-child(2n){margin-right:5vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:100%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:4vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.25vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-0.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:530% auto;background-position:0 22%;content:''}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:50px 5.555555% 50px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 녹즙 pick swiper */
.event_wrap .swiper-container{position:absolute;top:0;left:0;width:100%}
.event_wrap .swiper-slide{position:relative;box-sizing:border-box}
.event_wrap .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{bottom:9% !important}
.event_wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px !important}
.event_wrap .swiper-pagination-bullet{background:#000 !important}
.event_wrap .swiper-pagination-bullet-active{background:#000 !important}

/* top animation */
.event_wrap .motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.event_wrap .motion_box img{-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .motion_box div{position:absolute;left:50%;transform:translate(-50%, 0)}
.event_wrap .motion_box .month{width:16.666%;margin-top:-4.1%}
.event_wrap .motion_box .txt1{width:64.4%;margin-top:19.7%}
.event_wrap .motion_box .txt2{width:73.19%;margin-top:32%}
.event_wrap .motion_box span{display:block;-webkit-animation:slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation:slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both}
.event_wrap .motion_box .delay-0{-webkit-animation-delay:0.1s;animation-delay:0.1s}
.event_wrap .motion_box .delay-1{-webkit-animation-delay:0.7s;animation-delay:0.7s}
.event_wrap .motion_box .delay-2{-webkit-animation-delay:0.9s;animation-delay:0.9s}
.event_wrap .motion_box .object{position:absolute;width:100%;top:51.25vw;-webkit-animation:text-focus-in 1s 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;animation:text-focus-in 1s 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(4.1vw);
            transform: translateY(4.1vw);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(4.1vw);
            transform: translateY(4.1vw);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes text-focus-in {
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}