@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:100}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202205/0506_greenjuice/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk{position:absolute;top:86%;left:35%;right:35%;height:6%}

.event_wrap .item_list{position:absolute;top:16.6%;right:20.3%;left:20.3%;bottom:43.4%;border:0;padding:0;display:flex;justify-content:space-between}
.event_wrap .item_list li{width:48.5%;height:100%}
.event_wrap .item_list a{display:block;width:100%;height:100%}

/* 쿠폰리스트 */
.event_wrap .coupon_list{position:relative;display:flex;justify-content:center;flex-wrap:wrap;box-sizing:border-box}
.event_wrap .coupon_list li{height:100%;margin:0 20px 0 20px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-0.5px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .evt_notice{padding:80px 0 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* top animation */
.event_wrap .motion_box{position:absolute;width:100%;height:100%;top:0;left:0}
.event_wrap .motion_box img{margin:0 !important}
.event_wrap .motion_box div{margin-left:-60px}
.event_wrap .motion_box .txt1{margin-top:79px}
.event_wrap .motion_box .txt2{margin-top:13px}
.event_wrap .motion_box .txt3{margin-top:36px}
.event_wrap .motion_box span{display:inline-block;-webkit-animation:slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation:slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both}
.event_wrap .motion_box .delay-0{-webkit-animation-delay:0.1s;animation-delay:0.1s}
.event_wrap .motion_box .delay-1{-webkit-animation-delay:0.5s;animation-delay:0.5s}
.event_wrap .motion_box .delay-2{-webkit-animation-delay:0.7s;animation-delay:0.7s}
.event_wrap .motion_box .delay-3{-webkit-animation-delay:0.9s;animation-delay:0.9s}
.event_wrap .motion_box .object{position:absolute;top:0;right:0;-webkit-animation:text-focus-in 1.1s 1.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;animation:text-focus-in 1.1s 1.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes text-focus-in {
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}