@charset "utf-8";

@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* common */
.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{position:relative;font-size:3.8889vw;line-height:6.1111vw;font-weight:400;color:#000;letter-spacing:-.4px;word-break:keep-all}
.event_wrap .evt_section{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0)} /* 아이폰 13이후 transition 오류 추가 */
.event_wrap .evt_section .title{font-size:6.1111vw;font-weight:600;margin-bottom:4.7222vw}
.event_wrap .evt_section .sub_title{font-size:5.5556vw;font-weight:600;margin-bottom:3.6111vw}
.event_wrap .evt_section .con_box{padding:5.5556vw 11.1111vw 15.2778vw 11.1111vw }

/* 포인트 칼라박스 */
.event_wrap .point_box{position:relative;width:88.8889vw;background:#f55166;color:#fff;padding:16.6667vw 6vw 16.667vw 11.1111vw;box-sizing:border-box}
.event_wrap .point_box .title{color:#fff}
.event_wrap .p_evt_sec4 .point_box{position:absolute;top:-16.6667vw;left:0}
.event_wrap .p_evt_sec6 .point_box{margin:-16.6667vw 0 5.5556vw 11.1111vw}

/* 상단 */
.event_wrap .p_evt_tit{display:flex;flex-direction:column;justify-content:center;align-items:center;background:#f55166}
.event_wrap .p_evt_tit::after{content:'';position:absolute;top:130.5556vw;right:0;width:34.3056vw;height:37.3611vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/m_tit_object.png) 100%/100%;z-index:1}
.event_wrap .p_evt_tit .evt_section{margin-bottom:0}
.event_wrap .p_evt_tit .top_tit_box{position:absolute;top:8.8889vw;left:0;right:0;margin:0px;color:#fff;text-align:center;z-index:1;}
.event_wrap .p_evt_tit .top_tit_box > h1{font-size:11.1111vw;line-height:14.4444vw;font-family:'WavvePADO-Regular';font-weight:normal;margin:1.3889vw 0 2.7778vw}
.event_wrap .p_evt_tit .top_tit_box > p{font-size:4.4444vw;line-height:6.1111vw}
.event_wrap .p_evt_tit .bi{position:relative;width:28.1944vw;height:10.6944vw;margin:0 auto;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi_white.png) 100%/100% no-repeat}
.event_wrap .p_evt_tit .top_img_box{z-index:1}
.event_wrap .p_evt_tit .top_img_box .top_img{position:absolute;top:57.7778vw;left:11.1111vw;width:77.7778vw;height:42%}
.event_wrap .p_evt_tit .top_img_box .top_text{font-size:4.1667vw;line-height:6.1111vw;color:#fff;padding:23.3333vw 11.1111vw 15.9722vw 11.1111vw}
.event_wrap .p_evt_tit .top_img_box .top_text p:nth-child(1){margin-bottom:5vw}

/* 위드파머스 */
.event_wrap .farmers_text{font-size:4.1667vw;line-height:6.1111vw;background:#f9f9f9;padding:13.8889vw 0 13.8889vw 11.1111vw;box-sizing:border-box}
.event_wrap .farmers_text .bi{width:21.3888vw;height:7.2222vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi.png) 100%/100% no-repeat;margin-bottom:3.0556vw}

.event_wrap .product_box{position:relative;margin:15.2778vw 11.1111vw}
.event_wrap .product_box a{position:relative;display:block}
.event_wrap .product_box .product_img{margin:4.8611vw 0 4.8611vw}
.event_wrap .product_box .product_title{display:block;font-weight:600}
.event_wrap .product_box .product_price{display:block;margin-bottom:2.7778vw;font-size:4.4444vw;font-weight:800}
.event_wrap .product_box .product_price em{font-size:6.1111vw}
.event_wrap .product_box .product_sale{position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;width:13.8888vw;height:13.8888vw;background:#f62b46;font-size:3.8888vw;font-weight:600;color:#fff}
.event_wrap .product_box .product_sale em{font-size:6.1111vw}
.event_wrap .desc_list li{position:relative;padding-left:3.8889vw}
.event_wrap .desc_list li::before{content:'';position:absolute;top:2.5vw;left:0;width:2.5vw;height:1.8056vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/icon_check.png) 100%/100%}
.event_wrap .desc_list li a{display:block}

/* 내용 */
.event_wrap .p_evt_sec2 .title{position:relative;padding-left:19.4444vw}
.event_wrap .p_evt_sec2 .title::after{content:'';position:absolute;top:0;left:0;width:17.2222vw;height:5.5556vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi_farmer.jpg) 100%/100% no-repeat}
.event_wrap .p_evt_sec2 .con_box p:nth-of-type(2){margin-top:5.5556vw}

.event_wrap .p_evt_sec3{background:#fce1e5;padding:5.5556vw;margin-bottom:33.3333vw}
.event_wrap .p_evt_sec3 div:nth-child(1){border-radius:1.3888vw 1.3888vw 0 0;overflow:hidden}
.event_wrap .p_evt_sec3 .con_box{background:#f6f6f6;padding:10.4166vw 0 9.7222vw 9.7222vw;border-radius:0 0 1.3888vw 1.3888vw}
.event_wrap .p_evt_sec3 .con_box .title{position:relative;font-size:6.1111vw;line-height:6.9444vw;padding-left:44vw}
.event_wrap .p_evt_sec3 .con_box .title::after{content:'';position:absolute;top:0;left:0;width:42.3611vw;height:7.7777vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi_knowledge.png) 100%/100% no-repeat}

.event_wrap .p_evt_sec4{background:#fce1e5;padding-bottom:51.1111vw}

.event_wrap .p_evt_sec5{margin-top:-51.1111vw}
.event_wrap .p_evt_sec5 .img{margin-left:11.1111vw}

.event_wrap .p_evt_sec6{position:relative}
.event_wrap .p_evt_sec6::before{content:'';position:absolute;top:16.6667vw;left:0;width:100vw;height:100%;background:#d9edb2;z-index:-1}
.event_wrap .p_evt_sec6::after{content:'';position:absolute;bottom:0;left:11.1111vw;width:0;height:0;border-bottom:5.8333vw solid #f9f9f9;border-left:7.2222vw solid transparent;border-right:0 solid transparent}
.event_wrap .p_evt_sec6 .img{margin-right:11.1111vw}

.event_wrap .p_evt_sec7{padding-bottom:16.6667vw;background:#f9f9f9;box-sizing:border-box}
.event_wrap .p_evt_sec7 .con_box{padding:16.6667vw 11.1111vw 2.7778vw}
.event_wrap .review_list{padding:0 11.1111vw}
.event_wrap .review_list li{display:flex;align-items:flex-start;padding-top:10.4167vw}
.event_wrap .review_list li img{width:11.1111vw}
.event_wrap .review_list li span{margin-left:3.4722vw}


/* 모션 */
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

/* 아이폰13이상 사용 */
.event_wrap .motion_up{opacity:0;transition:opacity 0.6s ease-in-out, transform 0.5s ease-in-out;transform:translateY(40px)}
.event_wrap .motion_up.active{opacity:1;transform:translateY(0)}

/* 상단 타이틀 모션만 사용 */
.event_wrap .silde_up{opacity:0}
.event_wrap .silde_up.active{opacity:1;-webkit-animation:silde-up 0.5s ease-in-out both;animation:silde-up 0.5s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 0.8s ease-in-out both;animation:fade-blur 0.8s ease-in-out both}
@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{transition-delay:0.05s !important;animation-delay:0.05s !important}
.delay01.active{transition-delay:0.1s !important;animation-delay:0.1s !important}
.delay015.active{transition-delay:0.15s !important;animation-delay:0.15s !important}
.delay02.active{transition-delay:0.2s !important;animation-delay:0.2s !important}
.delay025.active{transition-delay:0.25s !important;animation-delay:0.25s !important}
.delay03.active{transition-delay:0.3s !important;animation-delay:0.3s !important}
.delay035.active{transition-delay:0.35s !important;animation-delay:0.35s !important}
.delay04.active{transition-delay:0.4s !important;animation-delay:0.4s !important}
.delay05.active{transition-delay:0.5s !important;animation-delay:0.5s !important}
.delay06.active{transition-delay:0.6s !important;animation-delay:0.6s !important}
.delay07.active{transition-delay:0.7s !important;animation-delay:0.7s !important}
.delay08.active{transition-delay:0.8s !important;animation-delay:0.8s !important}
