@charset "utf-8";

@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap{position:relative;text-align:left}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;vertical-align:top}

/* 공통 */
.event_wrap .evt_wide_wrap{margin-bottom:100px}
.event_wrap .evt_section{font-size:20px;line-height:34px;font-weight:400;color:#000;letter-spacing:-.4px;word-break:keep-all}
.event_wrap .evt_section .title{font-size:32px;font-weight:600;margin-bottom:34px}
.event_wrap .evt_section .sub_title{font-size:30px;font-weight:600;margin-bottom:34px}

.event_wrap .half_sec .evt_section{display:flex}
.event_wrap .half_sec .evt_section > div:nth-of-type(1){margin-right:40px}

/* 포인트 칼라박스 */
.event_wrap .point_box{position:absolute;top:0;left:0;width:584px;background:#f55166;color:#fff;padding:80px 40px;box-sizing:border-box;z-index:1}
.event_wrap .point_box .title{color:#fff}
.event_wrap .p_evt_sec4 .point_box{top:-142px}
.event_wrap .p_evt_sec6 .point_box{width:704px;top:-240px;left:auto;right:0;margin-right:0 !important}

/* 상단 */
.event_wrap .p_evt_tit .evt_section{display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:#fff}
.event_wrap .p_evt_tit .top_tit_box{position:absolute;top:76px;left:0;right:0;z-index:1}
.event_wrap .p_evt_tit .top_tit_box > h1{font-size:96px;line-height:96px;font-family:'WavvePADO-Regular';font-weight:normal;margin:14px 0}
.event_wrap .p_evt_tit .top_tit_box > p{font-size:32px;line-height:44px}
.event_wrap .p_evt_tit .top_tit_box > .bi{position:relative;width:203px;height:79px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi_white.png) 100%/100% no-repeat;margin:0 auto}
.event_wrap .p_evt_tit .top_img_box{position:relative;margin-top:418px;z-index:1}
.event_wrap .p_evt_tit .top_img_box .top_text{padding:45px 0}
.event_wrap .p_evt_tit .top_img_box .top_text p:nth-child(1){margin-bottom:32px}
.event_wrap .p_evt_tit .top_text{font-size:26px;line-height:34px;background:#f55166}
.event_wrap .p_evt_tit .top_bg{position:absolute;width:100%;height:100%;top:0;left:0;z-index:0;margin-left:-376px}

/* 위드파머스 */
.event_wrap .farmers_img{margin-left:-376px}
.event_wrap .farmers_text{position:absolute;top:0;left:624px;width:920px;height:363px;background:#f9f9f9;padding:74px 0 0 80px;box-sizing:border-box}
.event_wrap .farmers_text .bi{width:168px;height:64px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi.png) 100%/100% no-repeat;margin-bottom:18px}

.event_wrap .product_box{position:relative;margin:450px 0 0 80px}
.event_wrap .product_box .product_img{margin:32px 0 30px}
.event_wrap .product_box .product_title{display:block;font-weight:600}
.event_wrap .product_box .product_price{display:block;margin-bottom:16px;font-size:22px;font-weight:800}
.event_wrap .product_box .product_price em{font-size:32px}
.event_wrap .product_box .product_sale{position:absolute;top:68px;left:0;display:flex;align-items:center;justify-content:center;width:70px;height:70px;background:#f62b46;font-size:20px;font-weight:600;color:#fff}
.event_wrap .product_box .product_sale em{font-size:32px}
.event_wrap .desc_list li{position:relative;padding-left:26px}
.event_wrap .desc_list li::before{content:'';position:absolute;top:10px;left:0;width:18px;height:13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/icon_check.png)}
.event_wrap .desc_list li a{display:block}

/* 내용 */
.event_wrap .p_evt_sec2 .title{position:relative;margin-left:40px;padding-left:110px}
.event_wrap .p_evt_sec2 .title::after{content:'';position:absolute;top:0;left:0;width:102px;height:30px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi_farmer.jpg) 100%/100% no-repeat}
.event_wrap .p_evt_sec2 p{margin-left:40px}
.event_wrap .p_evt_sec2 .left p:nth-of-type(1){margin-bottom:100px}
.event_wrap .p_evt_sec2 .left p:nth-of-type(2){margin-top:100px}
.event_wrap .p_evt_sec2 .right p:nth-of-type(1){margin-top:100px}
.event_wrap .p_evt_sec2 .left div:nth-of-type(1){margin-bottom:40px}
.event_wrap .p_evt_sec2 .right img:nth-child(3){margin-bottom:40px}

.event_wrap .p_evt_sec3 .evt_section{background:#fce1e5;padding:40px;border-radius:8px;box-sizing:border-box}
.event_wrap .p_evt_sec3 .left{margin-right:0 !important;border-radius:4px 0 0 4px;overflow:hidden}
.event_wrap .p_evt_sec3 .right{flex:1;background:#f6f6f6;padding:65px 0 0 120px;border-radius:0 4px 4px 0}
.event_wrap .p_evt_sec3 .right .title{position:relative;font-size:36px;line-height:50px;padding-top:24px;margin-bottom:30px}
.event_wrap .p_evt_sec3 .right .title::after{content:'';position:absolute;top:0;left:0;width:176px;height:30px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0626_withfarmers_strawberry/img/bi_knowledge.png) 100%/100% no-repeat}

.event_wrap .p_evt_sec4{background:#fce1e5;padding-bottom:100px;margin-top:240px}
.event_wrap .p_evt_sec4 .left{flex:1;margin:244px 0 0 40px}
.event_wrap .p_evt_sec4 .right{margin-top:-100px}

.event_wrap .p_evt_sec5.half_sec .evt_section{flex-wrap:wrap}
.event_wrap .p_evt_sec5 .full{width:100%}
.event_wrap .p_evt_sec5 .left{width:424px;margin-right:40px;margin-top:40px}
.event_wrap .p_evt_sec5 .right{width:704px;margin-top:40px}
.event_wrap .p_evt_sec5 .sub_title, .event_wrap .p_evt_sec5 p{margin-left:40px}

.event_wrap .p_evt_sec6{background:#d9edb2;padding-bottom:100px;margin-top:340px;margin-bottom:0}
.event_wrap .p_evt_sec6.half_sec .evt_section{flex-wrap:wrap}
.event_wrap .p_evt_sec6 .full{width:100%;margin:-200px 0 40px}
.event_wrap .p_evt_sec6 .left{width:584px}
.event_wrap .p_evt_sec6 .left .sub_title{margin-top:40px;margin-left:40px}
.event_wrap .p_evt_sec6 .left p{margin-left:40px}
.event_wrap .p_evt_sec6 .right{width:584px}
.event_wrap .p_evt_sec6 .evt_section::after{content:'';position:absolute;bottom:-100px;left:48px;width:0;height:0;border-bottom:48px solid #f9f9f9;border-left:58px solid transparent;border-right:0 solid transparent}

.event_wrap .p_evt_sec7{position:relative;padding-top:100px;min-height:585px;background:#f9f9f9;box-sizing:border-box}
.event_wrap .review_list{display:flex;flex-wrap:wrap}
.event_wrap .review_list li{display:flex;align-items:center;width:50%;padding:28px 0 36px}
.event_wrap .review_list li:nth-child(-n+2){border-bottom:1px solid #eaeaea}
.event_wrap .review_list li span{margin-left:20px}

/* 모션 */
.p_evt_tit .top_img{position:relative;width:1168px;height:600px}
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.6s ease-in-out both;animation:silde-up 0.6s ease-in-out both}

@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 1s ease-in-out both;animation:fade-blur 1s ease-in-out both;}

@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{animation-delay:0.05s !important}
.delay01.active{animation-delay:0.1s !important}
.delay015.active{animation-delay:0.15s !important}
.delay02.active{animation-delay:0.2s !important}
.delay025.active{animation-delay:0.25s !important}
.delay03.active{animation-delay:0.3s !important}
.delay035.active{animation-delay:0.35s !important}
.delay04.active{animation-delay:0.4s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}
