@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;margin:0 auto;box-sizing:border-box}

/* bg */
.event_wrap .p_evt_sec1{padding-bottom:90px;background:#e5e8e0}
.event_wrap .p_evt_sec2{padding-bottom:90px;background:#d6e4be}
.event_wrap .p_evt_sec3{padding-bottom:90px;background:#e5e8e0}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:79%;left:3.3%;width:93%;height:17%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* more button */
.event_wrap .btn_more,.event_wrap .btn_view,.event_wrap .btn_apply{display:block;position:relative;width:55%;height:45px;margin:0 auto;background:#333;font-size:13px;color:#fff;text-align:center;line-height:45px}
.event_wrap .btn_more:after{display:inline-block;width:3px;height:6px;margin:0 0 0 8px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/ico_arrow.png) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''}
.event_wrap .btn_view{margin-top:0}

/* notice */
.event_wrap .evt_notice{margin-top:40px;padding:0 5.83333333%}
.event_wrap .notice_list{padding:14px 0 16px;border-top:1px solid #ced0c9;border-bottom:1px solid #ced0c9}
.event_wrap .notice_list li{position:relative;padding-left:7px;color:#333;font-size:12px;font-weight:300;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}

/* product */
.event_wrap .product_list{padding:0 3.75%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:49.549549%;height:auto;margin:0 0 31px 0.9009009%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
/* .event_wrap .product_img img{position:absolute;top:0;left:0;width:100%;height:100%} */

.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:4px;font-size:13px;font-weight:400;color:#333;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:35px;height:35px;background:#82cf1e;font-size:10px;color:#fff;text-align:center;line-height:35px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:5px;font-size:12px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:16px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#333}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:69.444444%;vertical-align:middle;z-index:510;border-top-left-radius:100%;border-top-right-radius:100%}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;padding-top:14%;margin:0;border:none;background:none;cursor:pointer}


