@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1{padding-bottom:100px;background:#e5e8e0}
.event_wrap .p_evt_sec1:before{background:#e5e8e0 url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:#e5e8e0 url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2{padding-bottom:120px;background:#d6e4be}
.event_wrap .p_evt_sec2:before{background:#d6e4be url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:#d6e4be url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3{padding-bottom:120px;background:#e5e8e0}
.event_wrap .p_evt_sec3:before{background:#e5e8e0 url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_sec3_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:#e5e8e0 url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/p_sec3_bg_r.jpg) 0 0 no-repeat}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:65%;left:23%;width:55%;height:11%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.333333%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* more button */
.event_wrap .btn_more,.event_wrap .btn_view,.event_wrap .btn_apply{display:block;position:relative;width:270px;height:60px;margin:3px auto 0;background:#333;font-size:20px;color:#fff;text-align:center;line-height:60px}
.event_wrap .btn_more:after{display:inline-block;width:6px;height:11px;margin:-4px 0 0 10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0401_1day_1care/img/ico_arrow.png) 0 0 no-repeat;vertical-align:middle;content:''}
.event_wrap .btn_view{margin-top:0}

/* notice */
.event_wrap .evt_notice{margin-top:100px;padding:21px 0 24px;border-top:1px solid #ced0c9;border-bottom:1px solid #ced0c9}
.event_wrap .notice_list li{position:relative;padding-left:14px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:4px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}

/* product */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list li{display:inline-block;width:500px;height:auto;margin:0 0 42px 20px;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:10px;font-size:20px;font-weight:400;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:70px;height:70px;background:#82cf1e;font-size:18px;color:#fff;text-align:center;line-height:70px}
.event_wrap .percent .num{font-size:30px}
.event_wrap .original{margin-right:5px;font-size:18px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:30px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{margin-left:2px;font-size:30px;font-weight:600;color:#333}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;vertical-align:middle;z-index:510;border-top-left-radius:100%;border-top-right-radius:100%}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;height:88px;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;height:100%;margin:0;padding:0;border:none;background:none}
