@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#e8dcc3 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_orga_new/img/m_evt_sec1.jpg)}

/* product  */
.event_wrap .product_banner{padding:18.0555vw 5.5555vw 8.3333vw 5.5555vw}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .item1 .product_info{}
.event_wrap .item2 .product_info{}

.event_wrap .product_info{position:relative;display:flex;flex-wrap:wrap;padding:5vw 0 5vw 24.3055vw;margin-bottom:8.3333vw;background:#fff}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_info:before{content:'NEW';position:absolute;top:5.5555vw;left:5.5555vw;width:15.2777vw;height:15.2777vw;background:#80c342;font-family:'Lato';color:#fff;font-weight:700;display:flex;align-items:center;justify-content:center}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:1vw}
.event_wrap .original{margin-right:1.6666vw}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .sale_name{font-size:3.33333vw;font-weight:600;color:#222;margin-right:1.1vw}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:5}
.motion_box::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0601_orga_new/img/object_bg.png) 100%/1.6%;opacity:0.2}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_bi{width:55vw;top:23.8vw;left:22.6vw;z-index:10}
.motion_box .object{top:0;left:0;right:0}
