@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .input_radio_wrap img{margin:0 auto}
.event{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .evt_section .event_coupon_wrap img{margin:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .p_evt_sec1{background:#eb604d}
.event_wrap .p_evt_sec1:after{position:absolute;top:0;left:0;z-index:-1;width:1920px;height:100%;background:#eb604d;content:''}
.event_wrap .event_coupon_wrap{font-size:0}
.event_wrap .input_radio_wrap{display:inline-block;position:relative;width:292px;height:100%;font-size:0;}
.event_wrap .input_radio_wrap:first-child{margin-left:0;}
.event_wrap .input_radio{position:absolute;top:2px;left:2px;width:16px;height:16px;background:#fff;opacity:0}
.event_wrap .input_radio+label{display:inline-block;position:relative;width:100%;font-size:18px;color:#fff;line-height:20px;text-align:center;cursor:pointer}
.event_wrap .input_radio_wrap .text{display:block;font-size:18px;font-weight:600;color:#fff;line-height:44px}
.event_wrap .input_radio+label .text:after{display:inline-block;width:26px;height:26px;margin:9px 0 0 4px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_welcome_gift/img/sp_radio.png) 0 0 no-repeat;background-size:100% auto;vertical-align:top;content:''}
.event_wrap .input_radio:checked+label .text:after{background-position:0 100%}
.event_wrap .input_radio:focus+label{position:relative;height:371px;}
.event_wrap .input_radio:focus+label:after{position:absolute;top:0;left:0;width:100%;height:100%;border:10px solid #04ab00;box-sizing:border-box;content:''}
.event_wrap .is_soldout:after{position:absolute;top:0;right:0;left:0;bottom:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_welcome_gift/img/img_soldout.png);content:''}

/* button */
.event_wrap .event_button_wrap{padding:58px 0 100px}
.event_wrap .event_button_wrap .btn_coupon{display:block;width:380px;height:90px;margin:0 auto;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_welcome_gift/img/p_img_btn.png) 0 0 no-repeat;font-size:0;color:transparent}
.event_wrap .btn_view{position:absolute;top:26%;left:0;width:49.5%;height:48%}
.event_wrap .btn_lnk{position:absolute;top:26%;left:50%;width:49.5%;height:48%}

/* notice */
.event_wrap .p_evt_noti{background:#ededed}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;width:1920px;height:100%;background:#ededed;content:''}
.event_wrap .evt_notice{padding:22px 0 30px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-8px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button template */
.desktop .fb__event .event .fb__event-comment__join-btn{position:relative;max-width:1920px;margin:0 auto;padding:58px 0 0;background:#eb604d;text-align:center}
.desktop .fb__event .event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:1920px;height:100%;background:#eb604d;transform:translate(-50%,0);content:''}
.desktop .fb__event .event .fb__event-comment__join-btn button{width:380px;height:90px;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1201_welcome_gift/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
