@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:40.5555vw;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#a7e252 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1209_designmeal/img/m_img_noti.jpg) 50% 0/100% no-repeat}
.event_wrap .evt_notice{padding:10vw 9.7222vw}

/* item_list */
.event_wrap .item_list{position:absolute;top:61.5277vw;left:8.3333vw;right:8.3333vw}
.event_wrap .item_list li{position:relative;width:100%;height:76.7vw;margin-bottom:4.1666vw}
.event_wrap .item_list li:nth-child(2){margin-bottom:26.3888vw}
.event_wrap .item_list li a{display:block;width:100%;height:100%}
