@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .info_desc{position:absolute;top:294px;left:85px}
.event_wrap .coupon_item{position:absolute;top:80px;right:80px}

/* notice */
.event_wrap .evt_notice{padding:40px 80px}

/* item_list */
.event_wrap .item_list{position:absolute;top:425px;left:0;right:0;height:71.5%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .item_list li{position:relative;width:49%}
.event_wrap .item_list li:nth-child(n+3){margin-top:15%}
.event_wrap .item_list li a{display:block;width:100%;height:100%}
