@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;position:absolute;top:0;left:0;width:100%;height:100%;background:#d8244f}
.event_wrap .evt_nav_wrap li{position:relative;flex:1}
.event_wrap .evt_nav_wrap li:not(:last-child)::after{content:'';position:absolute;top:3.3333vw;right:0;width:1px;height:10vw;background:#e05072}
.event_wrap .evt_nav_wrap li a{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:4.4444vw;line-height:1.2;font-weight:600;color:#fff;text-align:center;cursor:default}

.event_wrap .p_evt_nav{padding-top:16.6667vw}

/* items_list */
.event_wrap .items_list{position:absolute;top:40vw;left:15vw;right:15vw}
.event_wrap .items_list li{width:100%;height:120vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .info_desc span{color:#dde1e0}
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .p_evt_sec1{background:#003c32;padding-bottom:13.8889vw}
