@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;height:100%;background:#d8244f}
.event_wrap .evt_nav_wrap li{position:relative;flex:1}
.event_wrap .evt_nav_wrap li:not(:last-child)::after{content:'';position:absolute;top:24px;right:0;width:1px;height:32px;background:#e05072}
.event_wrap .evt_nav_wrap li a{display:block;font-size:28px;line-height:80px;font-weight:600;color:#fff;text-align:center;box-sizing:border-box;cursor:default}

.event_wrap .p_evt_nav{background:#003c32;padding-top:80px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;transform:translateX(-50%);z-index:5}

/* page */
.event_wrap .info_desc span{color:#dde1e0}
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .p_evt_sec1{background:#003c32;padding-bottom:80px}
