@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* button */
.event_wrap .btn_lnk1{position:absolute;top:0;left:0;right:0;bottom:0;border:0;padding:0}
