@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:relative;width:100vw;height:18.0555vw;display:flex;z-index:2}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .evt_nav_wrap li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1002_earth_diet_new/img/m_evt_nav_on.jpg) no-repeat;background-size:300% auto}
.event_wrap .evt_nav_wrap li:nth-child(2).on{background-position-x:50%}
.event_wrap .evt_nav_wrap li:nth-child(3).on{background-position-x:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute;z-index:0}
.event_wrap .p_evt_nav.is_fixed{position:relative;padding-top:18.0555vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5;top:14.4444vw;left:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202410/1002_earth_diet_new/img/m_evt_nav.jpg) 50% 0/100% no-repeat}

.event_wrap .evt_tab_wrap{position:absolute;top:65vw;left:5vw;right:5vw;height:25vw;display:flex;z-index:2}
.event_wrap .evt_tab_wrap li{width:100%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding-bottom:13.8888vw}
.event_wrap .noti1{background:#20a331}

/* 제품 */
.event_wrap .item_list li{position:absolute;top:0;left:5.5555vw;right:0}
.event_wrap .item_list li:nth-child(1){top:138.8888vw}
.event_wrap .item_list li:nth-child(2){top:276.9444vw}
.event_wrap .item_list li a{display:block;width:100%}
.event_wrap .item_info{color:#333;letter-spacing:-.6px;font-weight:600}
.event_wrap .item_info .name{font-size:6.1111vw;font-weight:800;line-height:1;margin-bottom:2vw}
.event_wrap .item_info .desc{font-size:3.3333vw;line-height:1.3;border-bottom:1px solid #d5d5d5;padding-bottom:2.2vw;margin-bottom:2.6vw}
.event_wrap .item_info .price_area{display:flex;align-items:flex-end}
.event_wrap .item_info .price_area .original{font-size:3.8888vw;margin-right:2vw}
.event_wrap .item_info .price_area .price{font-size:6.1111vw;color:#f23718;font-weight:800;margin-right:2vw}
.event_wrap .item_info .price_area .discount{font-size:6.1111vw;color:#fff;font-weight:800;margin-right:2vw;background:#f23718;padding:0 2vw}
.event_wrap .item_info .price_area .discount small{font-size:3.8888vw}

/* page */
.event_wrap .p_evt_sec2{background:#20a331}
.event_wrap .btn_lnk1{top:215vw;left:16vw;right:16vw;height:12vw}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100%;height:56vw;background:url(https://i.ytimg.com/vi/fjiPWNKNJIU/maxresdefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
