@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:60%;left:24%;right:24%;height:10%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding-bottom:100px}
.event_wrap .noti1{background:#20a331}

/* 제품 */
.event_wrap .item_list li{position:absolute;top:0;left:0}
.event_wrap .item_list li:nth-child(1){top:760px}
.event_wrap .item_list li:nth-child(2){top:285px;left:570px}
.event_wrap .item_info{width:450px;margin-left:164px;color:#333;letter-spacing:-.6px;font-weight:600}
.event_wrap .item_info .name{font-size:30px;font-weight:800;line-height:1;margin-bottom:14px}
.event_wrap .item_info .desc{font-size:20px;line-height:25px;border-bottom:1px solid #d5d5d5;padding-bottom:13px;margin-bottom:10px}
.event_wrap .item_info .price_area{display:flex;align-items:flex-end}
.event_wrap .item_info .price_area .original{font-size:18px;margin-right:10px}
.event_wrap .item_info .price_area .price{font-size:28px;color:#f23718;font-weight:800;margin-right:10px}
.event_wrap .item_info .price_area .discount{font-size:24px;color:#fff;font-weight:800;margin-right:10px;background:#f23718;padding:0 6px}
.event_wrap .item_info .price_area .discount small{font-size:18px}

/* page */
.event_wrap .p_evt_sec2{background:#20a331}
.event_wrap .btn_lnk1{top:86.5%;left:33%;right:33%;height:9%}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:1160px;height:653px;margin-top:-225px;background:url(https://i.ytimg.com/vi/fjiPWNKNJIU/maxresdefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
