@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .goods_list{position:absolute;top:15.2%;left:0;width:100%;height:85.8%;font-size:0}
.event_wrap .goods_list li{display:inline-block;position:relative;width:50%;height:33.333334%}
.event_wrap .goods_list a{display:block;width:100%;height:100%}
.event_wrap .goods_list .item_soldout a{position:absolute;top:0;right:0;left:0;bottom:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/img_soldout.png) 50% 29% no-repeat;background-size:69.444444% auto;pointer-events:none}

/* notice */
.event_wrap .p_evt_noti{background:#eb604d}
.event_wrap .evt_notice{padding:30px 5.555555% 41px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 6px 22px;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 17.222222222vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/bg_btn.png) 0 0 no-repeat;background-size:cover}
.mobile .fb .event .reply__join-btn button{height:auto;padding-top:15.5555555vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/btn_finish.png) 0 0 no-repeat;background-size:100% auto;line-height:initial;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
