@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .goods_list{position:absolute;top:15.5%;left:7.7%;width:84.7%;height:76.5%;font-size:0}
.event_wrap .goods_list li{display:inline-block;position:relative;width:33.333334%;height:50%}
.event_wrap .goods_list a{display:block;width:100%;height:100%}
.event_wrap .goods_list .item_soldout a{position:absolute;top:0;right:0;left:0;bottom:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/img_soldout.png) 50% 21px no-repeat;pointer-events:none}

/* notice */
.event_wrap .p_evt_noti{background:#ededed}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;width:1920px;height:100%;background:#ededed;content:''}
.event_wrap .evt_notice{padding:22px 0 30px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-8px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button template */
.desktop .fb__event .event .fb__event-comment__join-btn{position:relative;padding:0;background:#eb604d url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/p_bg_btn.png) 0 0 no-repeat}
.desktop .fb__event .event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:1920px;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/img_bg.jpg) 0 0 no-repeat;transform:translate(-50%,0);content:''}
.desktop .fb__event .event .fb__event-comment__join-btn button{width:380px;height:90px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_welcome_gift/img/p_btn_finish.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
