@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6667vw}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}

.event_wrap .button_list{position:absolute;top:20.4%;right:24%;left:24%;bottom:12%;border:0;padding:0;display:flex;justify-content:space-between;flex-direction:column;}
.event_wrap .button_list li{width:100%;height:30.5%}
.event_wrap .btn_coupon{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .evt_notice{padding:0 5.555555% 50px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#dde4f1 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/evt_bg.jpg)}

/* product */
.event_wrap .p_evt_sec3{background:#f4f4f4}
.event_wrap .p_evt_sec3 .desc{padding:0 5.555556% 50px;text-align:center;font-size:13px;color:#333;line-height:20px}
.event_wrap .product_list{position:relative;padding:0 5.555556%;display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:46.875%;vertical-align:top;border-radius:6px;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:center}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .product_info{overflow:hidden;display:block;width:100%;padding:12px 2% 25px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;max-height:36px;font-size:14px;font-weight:500;color:#333;line-height:18px;letter-spacing:-.3px;word-break:break-all}
.event_wrap .percent{position:absolute;top:0;left:0;width:40px;height:40px;font-size:0;background:#b54a62;line-height:40px;border-top-left-radius:6px;border-bottom-right-radius:6px}
.event_wrap .percent .num{display:inline-block;font-size:17px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:12px;;color:#fff}
.event_wrap .original{display:inline-block;margin:6px 2.77777% 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:12px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:12px;font-weight:600;color:#999}
.event_wrap .sale{display:inline-block;margin-top:6px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:18px;font-weight:600;color:#111;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:13px;font-weight:600;color:#111}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 22.2vw !important;background:#dde4f1 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/evt_bg.jpg) !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:14vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* animation */
.ani_box{overflow:hidden}
.ani_box img{margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 
/* 아이폰 이미지 클릭 방지 */
.ani_box .object1{position:absolute;top:68%;left:16%;width:56.944%;height:35%;overflow:hidden}
.ani_box .object2{position:absolute;top:48.5%;left:54%;width:40.277%}

.object1.motion{animation:rotate 1.5s ease infinite both}
.object2.motion{animation:rotate 2s ease infinite both}

@keyframes rotate {
	0%{transform:rotate(0);-webkit-transform:rotate(0)}
	50%{transform:rotate(-7deg);-webkit-transform:rotate(-7deg)}
}