@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:90px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:90px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-389px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-778px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}

.event_wrap .button_list{position:absolute;top:47.5%;right:13.8%;left:13.8%;bottom:19%;border:0;padding:0;display:flex;justify-content:space-between}
.event_wrap .button_list li{width:31%;height:100%}
.event_wrap .btn_coupon{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .evt_notice{padding:0 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#dde4f1 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/evt_bg.jpg)}

/* product */
.event_wrap .p_evt_sec3{background:#f4f4f4}
.event_wrap .p_evt_sec3 .desc{padding-bottom:100px;text-align:center;font-size:16px;color:#999}
.event_wrap .product_list{display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:260px;vertical-align:top;border-radius:12px}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0;text-align:center}

.event_wrap .product_img{display:block;}
.event_wrap .product_info{display:block;min-height:250px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:70px;max-height:70px;font-size:24px;font-weight:500;color:#222;line-height:34px;letter-spacing:-1.5px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:0;left:0;width:64px;height:64px;font-size:0;background:#b54a62;line-height:64px;border-top-left-radius:12px;border-bottom-right-radius:12px}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:18px;;color:#fff}
.event_wrap .original{display:inline-block;margin:15px 2px 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:20px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:20px;color:#999}
.event_wrap .sale{display:inline-block;margin-top:15px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:36px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#222}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;margin:0 auto;padding:0;background:#dde4f1 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/evt_bg.jpg) !important;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202112/1216_year_end_buy/img/p_img_btn.png) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* animation */
.ani_box{overflow:hidden}
.ani_box img{margin:0 !important}
.ani_box .object1{position:absolute;top:-81px;left:-286px}
.ani_box .object2{position:absolute;top:9px;left:962px}
.ani_box .object3{position:absolute;top:390px;left:310px}

.object1.motion{animation:rotate 1.5s ease infinite both}
.object2.motion{animation:rotate 2s ease infinite both}
.object3.motion{animation:rotate 2.5s ease infinite both}

@keyframes rotate {
	0%{transform:rotate(0);-webkit-transform:rotate(0)}
	50%{transform:rotate(-7deg);-webkit-transform:rotate(-7deg)}
}