@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* mobile */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .btn_lnk{top:85%;left:25%;width:50%;height:7%}
.event_wrap .btn_lnk2{left:25%;bottom:0;width:50%;height:16%}

/* notice */
.event_wrap .evt_notice{padding:6px 4.44444444% 46px;background-color:#7ccc13;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:12px;font-weight:500;color:#d8efb9}
.event_wrap .notice_list{margin-top:3px}
.event_wrap .notice_list li{position:relative;padding-left:9px;font-size:12px;font-weight:300;color:#d8efb9;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:2px;width:2px;height:2px;background-color:#d8efb9;border-radius:50%;-webkit-border-radius:50%;content:''}

/* slide */
.order_step_slide{overflow:hidden;position:absolute;top:26.79611%;left:4.44444444%;width:91.1111111%;height:57.864077669%;font-size:0}
.order_step_slide .swiper-slide{display:inline-block;position:relative;width:100%;height:100%;white-space:nowrap}
.order_step_slide .controls [class^="btn_"]{display:inline-block;position:absolute;top:50%;z-index:1;width:8px;height:20px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0331_green_vegetable_juice/img/ico_arrow.png) 0 0 no-repeat;transform:translate(0,-50%)} 
.order_step_slide .controls .btn_prev{left:0}
.order_step_slide .controls .btn_next{right:0;background-position:100% 0;}
.order_step_slide .controls .hide{display:none}

.event_wrap .items_list{position:absolute;top:7%;left:4%;width:92%;height:85%;font-size:0}
.event_wrap .items_list li{display:inline-block;width:50%;height:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}
