@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,
.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}

.event_wrap .btn_lnk{top:85.5%;left:328px;width:362px;height:6.5%}
.event_wrap .btn_lnk2{left:326px;bottom:0;width:366px;height:16%}

/* notice */
.event_wrap .evt_notice{padding:13px 32px 100px;background-color:#7ccc13;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:20px;font-weight:500;color:#d8efb9}
.event_wrap .notice_list{margin-top:7px}
.event_wrap .notice_list li{position:relative;padding-left:15px;font-size:20px;font-weight:300;color:#d8efb9;line-height:34px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:2px;width:3px;height:3px;background-color:#d8efb9;border-radius:50%;-webkit-border-radius:50%;content:''}

/* slide */
.event_wrap .order_step_slide{overflow:hidden;position:absolute;top:166px;left:182px;width:656px;height:248px;font-size:0}
.event_wrap .order_step_slide .swiper-slide{display:inline-block;position:relative;width:100%;height:100%;white-space:nowrap}
.event_wrap .order_step_slide .controls [class^="btn_"]{position:absolute;top:50%;display:inline-block;width:12px;height:60px;margin-top:-10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0331_green_vegetable_juice/img/ico_arrow.png) 0 0 no-repeat} 
.event_wrap .order_step_slide .controls .btn_prev{left:0}
.event_wrap .order_step_slide .controls .btn_next{right:0;background-position:100% 0;}
.event_wrap .order_step_slide .controls .hide{display:none}

.event_wrap .items_list{position:absolute;top:80px;left:180px;width:657px;height:912px;font-size:0}
.event_wrap .items_list li{display:inline-block;width:50%;height:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}
