@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1104_natto/img/m_evt_nav.jpg) 0 0/300% no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position:50% 0}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position:100% 0}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:20}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1104_natto/img/m_evt_nav_on.jpg) 0 0/300% no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:100% 0}

/* page */
.event_wrap .p_evt_sec2{background-color:#ebdfd3}
.event_wrap .p_evt_sec2.basic{background-color:#fff}
.event_wrap .p_evt_sec2 h2{display:block;padding:16.1111vw 0 5.5555vw;font-size:6.9444vw;font-weight:600;color:#333;text-align:center}

.event_wrap .noti1{background-color:#c6e167}

/* button */
.event_wrap .items_list{position:absolute;top:8.5%;left:5%;right:5%;height:51%}
.event_wrap .items_list li{width:100%;height:59%}
.event_wrap .items_list li a{display:block;width:100%;height:100%}

/* 영상 */
.event_wrap .evt_mov{width:83.3333vw;height:148.19444vw;margin:0 auto;padding-bottom:16.6666vw}
.event_wrap .evt_mov video{display:block;width:100%;height:100%;object-fit:cover}
