@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;display:flex;top:0;left:-50px;right:-50px;height:120px}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1104_natto/img/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position-x:50%}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position-x:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav{position:absolute;top:502px;left:50%;min-width:auto;padding-top:120px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:188px;z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1300px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1104_natto/img/p_evt_nav_on.png) 0 0 no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;z-index:5;top:100px;right:100px}
.event_wrap .info_desc{position:absolute;z-index:5;top:280px;left:70px;text-align:left}
.event_wrap .info_desc span{color:#000}

/* notice */
.event_wrap .noti1{background-color:#ebdfd3}
.event_wrap .noti1 .evt_notice{padding-top:0}
.event_wrap .noti2 .evt_notice{padding:0 40px 50px}

/* items_list */
.event_wrap .items_list{position:absolute;display:flex;justify-content:space-between;flex-wrap:wrap;top:12%;left:0;right:0;height:87%}
.event_wrap .items_list li{width:49%}
.event_wrap .items_list li a{display:block;width:100%;height:100%}

/* movie */
.event_wrap .evt_mov{position:absolute;top:210px;left:50%;transform:translateX(-50%);width:412px;height:732px}
.event_wrap .evt_mov video{display:block;width:100%;height:100%;object-fit:cover}
