@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
/* @import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css"); */

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* header */
.event_wrap .p_evt_header{background-color:#000}
.event_wrap .p_evt_header ul{display:flex}
.event_wrap .p_evt_header ul li{flex:1}
.event_wrap .p_evt_header ul li a{display:block;padding:3.8889vw 0;font-size:3.6111vw;line-height:4.4444vw;letter-spacing:-0.1vw;font-weight:200;text-align:center;color:#979797;box-sizing:border-box}
.event_wrap .p_evt_header ul li.on a{color:#fff;font-weight:800}

/* button */
.event_wrap .btn_lnk1{top:49%;left:9%;right:9%;height:8%}
.event_wrap .btn_lnk2{top:82%;left:9%;right:9%;height:8%}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 쿠폰  */
.event_wrap .coupon_list{position:absolute;top:39.5833vw;left:0;right:0}
.event_wrap .coupon_list .coupon_one{margin-bottom:8.3333vw}
.event_wrap .coupon_list .info_desc span{color:#337a3b}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

/* 제품 슬라이드 */
.event_wrap .slide_box_ver2{position:absolute;width:100%;top:126.6667vw;left:0;right:0;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box_ver2 .slide_list2{display:flex;width:100%;margin-left:25vw}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2{display:block;position:relative;width:100%}
.event_wrap .slide_box_ver2 .slide_list2 .slide_content2 img{width:100%;margin:0 !important}

.slide_box_ver2 .slide_btn_box2 button{display:none}
.slide_box_ver2 .slide_btn_show2 button{display:none}
.slide_box_ver2 .slide_pagination2{display:none}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 !important;background:#eee !important}
.mobile .fb .event__stamp .stamp__step__heading, .tablet .fb .event__stamp .stamp__step__heading{font-size:5.5556vw;font-weight:600}
.mobile .fb .event__stamp .stamp__step__heading em, .tablet .fb .event__stamp .stamp__step__heading em{color:#333 !important;margin-left:1vw !important}
.mobile .fb .event__stamp .stamp__step ul, .tablet .fb .event__stamp .stamp__step ul{padding:3.0556vw 0 11.1111vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:21.3889vw !important;height:21.3889w !important;margin:0 2.7778vw !important}
