@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;margin:0;padding:0;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:720px;margin:0 auto}


.event_wrap .move_wrap{position:absolute;top:14.8264984%;right:48.88888888%;left:24.7222%;bottom:38.485804%}
.event_wrap .move_wrap span{position:absolute;top:0;right:0;left:0;bottom:0}
.event_wrap .imgand{position:absolute;top:60.2523659%;right:53.888888%;left:26.111111%;bottom:16.088328%}

.evt_stamp_wrap{position:absolute;top:41.4634146%;right:8.8888888%;left:8.8888888%;bottom:10.922587%}
.evt_stamp_wrap .stamp_list{font-size:0;text-align:center}
.evt_stamp_wrap .stamp_list li{position:relative;display:inline-block;width:23.3333333%;height:100%;margin-left:7.432432%}
.evt_stamp_wrap .stamp_list li.active:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://www.orga.co.kr/images/promo/202007/0708_dog_days/img/stamp_on.png) 0 0 no-repeat;background-size:100% auto;content:''}
.evt_stamp_wrap .stamp_list li:first-child{margin:0}
.evt_stamp_wrap .stamp_list li.finish{width:63.51351351%;margin-top:7.77027027%}
.evt_stamp_wrap .stamp_list li.finish.active:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://www.orga.co.kr/images/promo/202007/0708_dog_days/img/stamp_finish.png) 0 0 no-repeat;background-size:100% auto;content:''}

/* link */
.event_wrap .btn_stamp{top:58%;left:0;width:100%;height:32%}
.event_wrap .btn_enroll{top:75%;left:0;width:100%;height:15%}

/* notice */
.event_wrap .evt_notice{padding:35px 5.555556%;background-color:#44a6b0}
.event_wrap .notice_list li{position:relative;margin-top:3px;padding-left:6px;font-size:12px;font-weight:400;color:#fff;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-weight:600}
.event_wrap .notice_list li:before{position:absolute;top:6px;left:0;width:2px;height:2px;background-color:#fff;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:1100}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:1000;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap .btn_area{text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:100%;height:33px;font-size:12px;color:#fff;border:1px solid #333;background:#333}

