@charset "utf-8";


/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 auto;vertical-align:top}

.event_wrap .btn_lnk{position:absolute;bottom:0;left:30.6%;width:38.8%;height:5.2%}

/* notice */
.event_wrap .evt_notice{padding:70px 67px 70px 100px;background:#58bbe4;box-sizing:border-box;text-align:left;}
.event_wrap .notice_title{display:block;position:relative;padding:8px 10px 8px 26px;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
