@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .evt_notice{padding-bottom:13.8888vw}
.event_wrap .noti1{background:#dbcbb3}
.event_wrap .noti2{background:#44513f}

/* 제품 슬라이드 */
.event_wrap .slide_box_wrap{position:absolute;width:100%;top:68vw;left:0;right:0;overflow:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex;width:100%}
.event_wrap .slide_box .slide_list li{display:block;position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}
            
.slide_box_wrap .slide_btn_box button{display:none}
.slide_box_wrap .slide_pagination{display:none}

/* motion */
.motion_box span{position:absolute}
.motion_box .object_bg{width:100%;bottom:0;left:0;z-index:2}
.motion_box .object1{width:11.6667vw;height:9.0278vw;top:146.6667vw;left:5.2778vw}
.motion_box .object2{width:10vw;height:12.9167vw;top:139.7222vw;left:83.0556vw;animation-delay:0.5s !important}
.motion_box .object3{width:10.9722vw;height:10.2778vw;top:135.5556vw;left:17.0833vw;animation-delay:1s !important}

.motion_box .motion1{animation:bounce-in-bottom 2s 0s ease infinite both}
@keyframes bounce-in-bottom {
  0%, 30%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(5px, -14px);
            transform: translate(5px, -14px);
  }
}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 !important;background:#eee url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1120_wonderland_taste_detective/img/stamp/bg_mo.jpg) 100%/100% !important}
.mobile .fb .event__stamp .stamp__step__heading, .tablet .fb .event__stamp .stamp__step__heading{font-size:5.5556vw;font-weight:600;display:none}
.mobile .fb .event__stamp .stamp__step__heading em, .tablet .fb .event__stamp .stamp__step__heading em{color:#333 !important;margin-left:1vw !important}
.mobile .fb .event__stamp .stamp__step ul, .tablet .fb .event__stamp .stamp__step ul{padding:8.3333vw 0 13.8888vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:27.7778vw !important;height:27.7778vw !important;margin:0 1.6667vw !important}
