@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
/* .desktop .fb__event .event{overflow:visible;min-width:1168px;max-width:1920px;margin:0 auto;}   템플릿 배경 테스트때만 사용 */
.desktop .fb__event .event{overflow:visible;min-width:1200px;max-width:1920px;margin:0 auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto} 
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* notice */
.event_wrap .evt_notice{padding-bottom:100px}
.event_wrap .noti1{background:#dbcbb3}
.event_wrap .noti2{background:#44513f}

/* notice 템플릿 reset */
.event_wrap .notice_list{width:auto !important;padding:0 !important;flex-direction:column !important;align-items:flex-start !important}
.event_wrap .notice_list li{width:auto !important;height:auto !important;margin:0 !important}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_bg{bottom:0;left:50%;transform:translateX(-50%);z-index:2}
.motion_box .object1{top:620px;left:286px}
.motion_box .object2{top:564px;left:948px;animation-delay:1s !important}
.motion_box .object3{top:620px;left:1418px;animation-delay:0.5s !important}

.motion_box .motion1{animation:bounce-in-bottom 2s 0s ease infinite both}
@keyframes bounce-in-bottom {
  0%, 30%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(10px, -36px);
            transform: translate(10px, -36px);
  }
}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{padding:0 !important;background-repeat:no-repeat !important;background-size:unset !important}
.desktop .fb__event .event__stamp .stamp__step__heading{line-height:1 !important;color:#000;display:none}
.desktop .fb__event .event__stamp .stamp__step__heading em{color:#000 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:auto !important;padding:75px 0 103px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:300px !important;height:300px !important;margin-left:65px !important} /* w:120, h:120 */
