@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;bottom:0}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:0;left:5%;right:5.5%;height:88%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .benefit_list li{width:50%;height:47%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

