@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;;box-sizing:border-box}


/* bg */
.event_wrap .p_evt_sec1{padding-bottom:80px;background:#262e5e}
.event_wrap .p_evt_sec2{padding-bottom:25px;background:#e95884}
.event_wrap .p_evt_sec3{padding-bottom:80px;background:#2f3768}
.event_wrap .p_evt_sec4{padding-bottom:42px;background:#35c55d}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:80%;left:3%;width:93%;height:13%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* 행사종료 대응 CSS */
.event_wrap .evt_tit_img1{display:block}
.event_wrap .evt_tit_img2{display:none}
.event_wrap .tit_tab_wrap li:nth-child(4){display:none}
.event_wrap .event_end .evt_tit_img1{display:none}
.event_wrap .event_end .evt_tit_img2{display:block}
.event_wrap .event_end .tit_tab_wrap li:nth-child(4){display:inline-block}
.event_wrap .event_end .tit_tab_wrap li:nth-child(1){display:none}
.event_wrap .event_end + .p_evt_sec1{display:none}

/* present list */
.event_wrap .present_wrap{position:relative}
.event_wrap .present_list{position:absolute;top:32.5%;left:5%;width:90%;height:62%;font-size:0}
.event_wrap .present_list li{width:100%;height:33.333334%}
.event_wrap .present_list a{display:block;width:100%;height:100%}

/* 선착순 마감 CSS */
.event_wrap .event_soldout .present_list{position:absolute;top:30%;bottom:0;left:5%;height:auto;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202105/0503_37th_anniversary/img/evt_soldout4.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .event_soldout .present_list a{pointer-events: none;}
.event_wrap .event_soldout .present_list a:active,.event_wrap .present_list a:focus{display:none}

/* 선착순 마감 수기 수정 이미지 경로 */
/* 
1차 (선착순 마감 2차 증정행사 예정) : https://www.pulmuoneshop.co.kr/upload/images/event/202105/0503_37th_anniversary/img/evt_soldout.png 
2차 (선착순 마감 3차 증정행사 예정) : https://www.pulmuoneshop.co.kr/upload/images/event/202105/0503_37th_anniversary/img/evt_soldout2.png 
3차 (선착순 마감 4차 증정행사 예정) : https://www.pulmuoneshop.co.kr/upload/images/event/202105/0503_37th_anniversary/img/evt_soldout3.png
4차 (선착순 마감 성원에 감사드립니다): https://www.pulmuoneshop.co.kr/upload/images/event/202105/0503_37th_anniversary/img/evt_soldout4.png
 */

/* relay */
.event_wrap .relay_wrap .inner{position:relative}
.event_wrap .relay_list{display:none;position:absolute;top:5%;left:5.5%;width:89%;height:82%;font-size:0}
.event_wrap .relay_list li{display:inline-block;width:50%;height:100%}
.event_wrap .relay_list a{display:block;width:100%;height:100%}

/* week 1 */
.event_wrap .relay_week1 .relay1 .is_end,
.event_wrap .relay_week1 .relay2 .is_open,
.event_wrap .relay_week1 .relay2 .is_end,
.event_wrap .relay_week1 .relay3 .is_open,
.event_wrap .relay_week1 .relay3 .is_end,
.event_wrap .relay_week1 .relay4 .is_open,
.event_wrap .relay_week1 .relay4 .is_end{display:none}

.event_wrap .relay_week1 .relay1 .relay_list{display:block}

/* week 2 */
.event_wrap .relay_week2 .relay1 .is_open,
.event_wrap .relay_week2 .relay2 .is_coming,
.event_wrap .relay_week2 .relay2 .is_end,
.event_wrap .relay_week2 .relay3 .is_open,
.event_wrap .relay_week2 .relay3 .is_end,
.event_wrap .relay_week2 .relay4 .is_open,
.event_wrap .relay_week2 .relay4 .is_end{display:none}

.event_wrap .relay_week2 .relay1 .is_end,
.event_wrap .relay_week2 .relay2 .is_open,
.event_wrap .relay_week2 .relay2 .relay_list{display:block}

/* week 3 */
.event_wrap .relay_week3 .relay1 .is_open,
.event_wrap .relay_week3 .relay2 .is_coming,
.event_wrap .relay_week3 .relay2 .is_open,
.event_wrap .relay_week3 .relay3 .is_coming,
.event_wrap .relay_week3 .relay3 .is_end,
.event_wrap .relay_week3 .relay4 .is_open,
.event_wrap .relay_week3 .relay4 .is_end{display:none}

.event_wrap .relay_week3 .relay1 .is_end,
.event_wrap .relay_week3 .relay2 .is_end,
.event_wrap .relay_week3 .relay3 .is_open,
.event_wrap .relay_week3 .relay3 .relay_list{display:block}

/* week 4 */
.event_wrap .relay_week4 .relay1 .is_open,
.event_wrap .relay_week4 .relay2 .is_coming,
.event_wrap .relay_week4 .relay2 .is_open,
.event_wrap .relay_week4 .relay3 .is_coming,
.event_wrap .relay_week4 .relay3 .is_open,
.event_wrap .relay_week4 .relay4 .is_coming,
.event_wrap .relay_week4 .relay4 .is_end{display:none}

.event_wrap .relay_week4 .relay1 .is_end,
.event_wrap .relay_week4 .relay2 .is_end,
.event_wrap .relay_week4 .relay3 .is_end,
.event_wrap .relay_week4 .relay4 .is_open,
.event_wrap .relay_week4 .relay4 .relay_list{display:block}

/* more button */
.event_wrap .btn_coupon{position:absolute;border:0;left:24%;bottom:17%;width:52%;height:21%;padding:0;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{padding:0 5.5555556%}
.event_wrap .notice_title{display:block;position:relative;padding-left:18px;border-top:2px solid #fff;font-size:13px;font-weight:600;color:#fff;line-height:38px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:2px;width:15px;height:15px;margin-top:-7px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202105/0503_37th_anniversary/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:20px 0;border-top:1px solid #595f86;border-bottom:1px solid #595f86}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* product */
.event_wrap .product_list{padding:0 3.88888888%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:49.6240601%;height:auto;margin:0 0 36px 0.75187969%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:4px;font-size:13px;font-weight:400;color:#fff;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:35px;height:35px;background:#118431;font-size:10px;color:#fff;text-align:center;line-height:35px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:5px;font-size:12px;color:#fff}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:16px;font-weight:600;color:#fff;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#fff}
