@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;max-width:1920px;min-width:1200px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:244px;left:0;right:0;}

/* notice */
.event_wrap .evt_notice{padding:80px 40px 190px}
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0909_korean_snack/img/p_evt_sec2.jpg) 50% 0 no-repeat}
