@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto;font-family:'notokr'}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto;box-sizing:border-box}
.event_wrap .evt_wide_wrap{background:#816e63}
.event_wrap .p_evt_items{background:#897a71}

/* tab */
.event_wrap .evt_tab_wrap a{overflow:hidden;position:absolute;top:65%;left:20%;width:58%;height:10%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap .evt_tab2{top:78%}

/* prd items */
.event_wrap .product_list{padding:0 6.944445%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:48.387096%;height:auto;margin:0 0 38px 3.22580%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:20px;margin-top:8px;font-size:14px;font-weight:400;color:#fff;line-height:1.3;text-align:center;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:3px;font-size:13px;color:#fff;text-align:center;word-break:keep-all}

.event_wrap .items_wrap3{padding-bottom:70px}
/* btn */
.event_wrap .btn_coupon{top:44%;left:50%;width:48%;height:7%;padding:0}
.event_wrap .btn_coupon2{top:68.5%;left:50%;width:48%;height:7%;padding:0}
.event_wrap .btn_coupon3{top:92.5%;left:50%;width:48%;height:7%;padding:0}
.event_wrap .btn_more{display:block;width:67.741935%;height:50px;margin:0 auto;border:1px solid #fff;background:#fff;font-size:18px;font-weight:600;color:#897a71;letter-spacing:-2px;text-align:center;line-height:50px;border-radius:12px;box-sizing:border-box}

/* notice */
.event_wrap .p_evt_noti .evt_notice{padding:50px 6.9444% 70px}
.event_wrap .notice_list li{position:relative;padding-left:7px;color:#fff;font-size:13px;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:50%;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:19px 0 28px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap img{width:62.115384%}
.layer_popup_wrap .popup_tit{display:block;font-size:14px;color:#333;line-height:1.5}
.layer_popup_wrap .popup_txt{display:block;margin-top:5px;font-size:12px;color:#333;line-height:1.5}
.layer_popup_wrap .btn_area{margin-top:20px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:31.730769%;height:32px;background:#333;font-size:13px;color:#fff;letter-spacing:-1px;vertical-align:middle;line-height:32px;text-indent:0;border-radius:6px;}
 