@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat;text-indent: initial}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;background:#897a71;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background:#897a71;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background:#897a71;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202101/0106_resolve_7days/img/bg_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202101/0106_resolve_7days/img/bg_tit_r.jpg) 0 0 no-repeat}

/* tab */
.event_wrap .evt_tab_wrap a{overflow:hidden;position:absolute;left:2%;top:48.5%;width:22%;height:11%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap .evt_tab2{left:auto;right:2%;height:17%}

/* prd items */
.event_wrap .product_list{padding:0 30px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:300px;height:auto;margin:0 0 38px 30px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:9px;font-size:22px;font-weight:400;color:#fff;line-height:30px;text-align:center;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:3px;font-size:18px;color:#fff;text-align:center}

.event_wrap .items_wrap3{padding-bottom:180px}

/* btn */
.event_wrap .btn_coupon{top:84%;left:5%;width:26%;height:8.5%}
.event_wrap .btn_coupon2{top:84%;left:37%;width:26%;height:8.5%}
.event_wrap .btn_coupon3{top:84%;left:69%;width:26%;height:8.5%}
.event_wrap .btn_more{display:block;width:300px;height:80px;margin:18px auto 0;border:1px solid #fff;background:#fff;font-size:24px;font-weight:500;color:#837065;text-align:center;letter-spacing:-1px;line-height:80px;border-radius:17px;box-sizing:border-box}

/* notice */
.event_wrap .p_evt_noti{padding-bottom:180px}
.event_wrap .p_evt_noti .evt_notice{padding:42px 29px;background:#928278;border-radius:12px}
.p_evt_noti .notice_list li{position:relative;padding-left:10px;color:#fff;font-size:16px;font-weight:300;line-height:30px;word-break:keep-all}
.p_evt_noti .notice_list li:before{position:absolute;top:14px;left:1px;width:3px;height:3px;background-color:#fff;border-radius:50%;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-family:'Noto Sans KR',sans-serif;font-weight:400;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:560px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_content{padding:35px 0;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:26px;font-weight:500;color:#333;line-height:1.5;letter-spacing:-1px}
.layer_popup_wrap .popup_txt{display:block;margin-top:5px;font-size:20px;color:#333;line-height:1.5;letter-spacing:-1px}
.layer_popup_wrap .btn_area{margin-top:40px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:31.730769%;height:63px;background:#333;font-size:24px;color:#fff;letter-spacing:-1px;vertical-align:middle;line-height:63px;text-indent:0;border-radius:12px;}
 