@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background-color:#fff9e1}
.event_wrap .p_evt_noti .evt_notice{padding:16.9444vw 5.5556vw 20.1389vw}

/* btn */
.event_wrap .p_evt_sec1 .btn{position:absolute;z-index:1;top:106vw;left:12vw;right:12vw;height:19vw}
