@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* items_list */
.event_wrap .items_list{position:absolute;top:17%;left:2%;right:2%;height:52%;display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .items_list li{width:49%;height:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#005631}
.event_wrap .evt_notice{padding:0 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto !important;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202212/1214_earth_week_prize/img/bg_roulette.png);background-size:100% auto}
.mobile .fb__event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none} /* PC배경 삭제 */
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .object_img{position:absolute;top:73.6111vw;left:0;right:0;bottom:0}
.motion_box .object_img.motion1_1{-webkit-animation:scale 9s ease-in-out 0.1s infinite both;animation:scale 9s ease-in-out 0.1s infinite both}
.motion_box .object_img.motion1_2{-webkit-animation:fade 9s ease-in-out 0s infinite both;animation:fade 9s ease-in-out 0s infinite both}
.motion_box .object_img.motion2_1{-webkit-animation:scale 9s ease-in-out 3.1s infinite both;animation:scale 9s ease-in-out 3.1s infinite both}
.motion_box .object_img.motion2_2{-webkit-animation:fade 9s ease-in-out 3s infinite both;animation:fade 9s ease-in-out 3s infinite both}
.motion_box .object_img.motion3_1{-webkit-animation:scale 9s ease-in-out 6.1s infinite both;animation:scale 9s ease-in-out 6.1s infinite both}
.motion_box .object_img.motion3_2{-webkit-animation:fade 9s ease-in-out 6s infinite both;animation:fade 9s ease-in-out 6s infinite both}

@-webkit-keyframes scale {
  0%, 31%, 100% { opacity:0 }
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  4%, 28% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes scale {
  0%, 31%, 100% { opacity:0 }
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  4%, 28% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@-webkit-keyframes fade {
  0%, 31%, 100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5%, 28% {
    opacity: 1;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@keyframes fade {
  0%, 31%, 100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5%, 28% {
    opacity: 1;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}