@charset "utf-8";

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* items_list */
.event_wrap .items_list{position:absolute;top:20%;left:0;right:0;height:73%;display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .items_list li{width:36%;height:50%}
.event_wrap .items_list li:nth-child(n+3){width:31%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#005631}
.event_wrap .evt_notice{padding:0 40px 80px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* template */
.desktop .fb__event .event__roulette__wrap{min-width:1168px;height:710px;overflow:hidden}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:657px;height:657px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:57px;margin-left:-28px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .object_img{position:absolute;top:74px;left:614px}
.motion_box .object_img.motion1_1{-webkit-animation:scale 9s ease-in-out 0.1s infinite both;animation:scale 9s ease-in-out 0.1s infinite both}
.motion_box .object_img.motion1_2{-webkit-animation:fade 9s ease-in-out 0s infinite both;animation:fade 9s ease-in-out 0s infinite both}
.motion_box .object_img.motion2_1{-webkit-animation:scale 9s ease-in-out 3.1s infinite both;animation:scale 9s ease-in-out 3.1s infinite both}
.motion_box .object_img.motion2_2{-webkit-animation:fade 9s ease-in-out 3s infinite both;animation:fade 9s ease-in-out 3s infinite both}
.motion_box .object_img.motion3_1{-webkit-animation:scale 9s ease-in-out 6.1s infinite both;animation:scale 9s ease-in-out 6.1s infinite both}
.motion_box .object_img.motion3_2{-webkit-animation:fade 9s ease-in-out 6s infinite both;animation:fade 9s ease-in-out 6s infinite both}

@-webkit-keyframes scale {
  0%, 31%, 100% { opacity:0 }
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  4%, 28% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes scale {
  0%, 31%, 100% { opacity:0 }
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  4%, 28% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@-webkit-keyframes fade {
  0%, 31%, 100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5%, 28% {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes fade {
  0%, 31%, 100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5%, 28% {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}