@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .event_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .video_wrap{position:absolute;z-index:10;top:0;left:95px;width:830px;height:466px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%}

.event_wrap .btn_lnk1{top:11%;left:32%;width:62%;height:20%}
.event_wrap .btn_lnk2{top:41.5%;left:32%;width:62%;height:20%}
.event_wrap .btn_lnk3{top:72.5%;left:32%;width:62%;height:20%}

/* mobile */
.event_wrap.mevt .event_wrap{max-width:none}
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .video_wrap{top:0;left:3.194444444%;width:93.75%;height:82.7510917%}
.event_wrap.mevt .btn_lnk1{top:23%;left:15%;width:70%;height:9%}
.event_wrap.mevt .btn_lnk2{top:54%;left:15%;width:70%;height:9%}
.event_wrap.mevt .btn_lnk3{top:86%;left:15%;width:70%;height:9%}
