@charset "utf-8";

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap img{vertical-align:top}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:66%;left:9%;width:52%;height:11%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* prd list */
.event_wrap .product_list{overflow:hidden;position:absolute;top:29.5%;left:86px;width:850px;height:58%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:25%;height:100%}
.event_wrap .product_list li a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat;}

/* notice */
.event_wrap .evt_notice{padding:46px 124px 90px;background:#72be60;box-sizing:border-box}
.event_wrap .notice_list li{position:relative;padding-left:9px;font-size:16px;font-weight:300;color:#fff;line-height:35px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:17px;left:0;width:3px;height:3px;background-color:#fff;border-radius:50%;-webkit-border-radius:50%;content:''}

/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{max-width:720px}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .tit_tab_wrap{width:82%}
.event_wrap.mevt .product_list{top:21%;left:9%;width:82%;height:70%}
.event_wrap.mevt .product_list li{width:50%;height:50%}
.event_wrap.mevt .product_list.list2{top:19%;height:74%}
.event_wrap.mevt .evt_notice{padding:64px 5.5555555%}
.event_wrap.mevt .notice_list li{padding-left:6px;font-size:12px;font-weight:300;line-height:22px}
.event_wrap.mevt .notice_list li:before{top:11px;width:2px;height:2px}

