@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap{background:#3e535d}
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;background:#3e535d;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;background:#3e535d;content:''}
.event_wrap .p_evt_tit:before{background:#445963 url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:#445963 url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_tit_bg_r.jpg) 0 0 no-repeat}
/* .event_wrap .p_evt_deal:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_deal_bg_l.jpg) 0 0 no-repeat} */
/* .event_wrap .p_evt_deal:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_deal_bg_r.jpg) 0 0 no-repeat} */

.event_wrap .p_evt_deal:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_deal_0917_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_deal:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_deal_0917_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#445963}
.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#445963}
.event_wrap .p_evt_sec7:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_sec7_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec7:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_sec7_bg_r.jpg) 0 0 no-repeat}


/* deal */
.event_wrap .deal_area{position:relative;}
.event_wrap .deal_area .deal_buy{display:none}
.event_wrap .deal_opened .deal_buy{display:block;position:absolute;top:272px;left:101px;width:308px;height:80px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_btn_buy.png) 0 0 no-repeat}
.event_wrap .deal_soldout .deal_buy{display:block;position:absolute;top:272px;left:101px;width:308px;height:80px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_btn_buy.png) 0 0 no-repeat;background-position:0 100%;pointer-events:none;cursor:not-allowed;text-decoration:none}

/* .event_wrap .deal_finish:before{position:absolute;top:0;left:-450px;z-index:10;width:450px;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_deal_0917_bg_l.jpg) 0 0 no-repeat;content:'';}
.event_wrap .deal_finish:after{position:absolute;top:0;right:-450px;z-index:10;width:450px;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_deal_0917_bg_r.jpg) 0 0 no-repeat;content:'';} */

/* btn */
.event_wrap .btn_apply{left:34.8%;bottom:5.3%;width:309px;height:82px}
.event_wrap .btn_more{position:absolute;left:34%;bottom:0;width:328px;height:100px}
.event_wrap .btn_more2{position:absolute;left:34%;bottom:14%;width:328px;height:100px}

/* notice */
.event_wrap .evt_notice{padding:88px 0 158px}
.event_wrap .notice_list li{position:relative;margin-top:6px;padding-left:15px;color:#fff;font-size:16px;font-weight:300;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:-1px;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* prd items */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list li{display:inline-block;width:336px;height:auto;margin:0 6px 62px 0;vertical-align:top}
.event_wrap .product_list li:nth-child(3n){margin-right:0}
.event_wrap .product_title{overflow:hidden;height:54px;margin:14px 0 0;font-size:18px;font-weight:400;color:#fff;line-height:1.6}
.event_wrap .product_info{display:block}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .original{margin-right:8px;font-size:18px;color:#fff}
.event_wrap .sale{display:inline-block;font-size:30px;color:#fff}
.event_wrap .open{display:inline-block;font-size:16px;color:#ccc}
.event_wrap .sale ins{text-decoration:none}

/* evt tabmenu */
/* .event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:123px;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}
.event_wrap .sticky{position:fixed;width:100%;top:0;z-index:100;border-top:0;}
.event_wrap .sticky + .p_evt_sec2{padding-top:63px} */

/* evt tabmenu */
.event_wrap .tab1,.event_wrap .tab2,.event_wrap .tab3,.event_wrap .tab4,.event_wrap .tab5{overflow:visible;display:inline-block;margin:0;border:0}
.event_wrap .evt_tab_wrap{position:absolute;top:0;right:0;left:0;bottom:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}
.p_evt_tab.is_fixed{padding-top:157px}
.p_evt_tab.is_fixed .evt_section{position:fixed;z-index:10;top:0;width:100%;margin:0 auto}

.p_evt_tab .evt_tab_wrap li a{position:relative}
.p_evt_tab .evt_tab_wrap li.on a:after{position:absolute;top:0;left:0;width:100%;height:157px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/p_evt_tab_on.png) 0 0 no-repeat;content:''}
.p_evt_tab .evt_tab_wrap .tab1.on a:after{background-position:0 0}
.p_evt_tab .evt_tab_wrap .tab2.on a:after{background-position:25% 0}
.p_evt_tab .evt_tab_wrap .tab3.on a:after{background-position:50% 0}
.p_evt_tab .evt_tab_wrap .tab4.on a:after{background-position:75% 0}
.p_evt_tab .evt_tab_wrap .tab5.on a:after{background-position:100% 0}


/* lypop */
/* .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box} */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width: 560px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn_area{margin-top: 53px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;width:317px;height:78px;background:#333;font-size:24px;color:#fff;vertical-align:middle;line-height:78px}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:47px 76px 61px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;font-size:40px;color:#333;line-height:1.4;letter-spacing:-5px}
.layer_popup_contents .popup_txt{display:block;margin:0;font-size:24px;color:#333;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{font-size:24px;color:#333;margin-top:2px;letter-spacing:-2px;line-height:1.2}
.layer_popup_contents .popup_desc em{font-weight:700}
.layer_popup_contents .inner{margin-top:47px;padding:21px 0;border-top:4px solid #333;border-bottom:1px solid #333;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .inner .popup_desc{line-height:1.4}
.layer_popup_contents .notice{margin-top:16px;font-size:24px;color:#333;letter-spacing:-2.5px}
 

