@charset "utf-8";

/* common */
.event_wrap{width:100%;max-width:none;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto;background:#445963}
.evt_wide_wrap{background:#445963}

/* deal */
.event_wrap .deal_area{position:relative;}
.event_wrap .deal_area .deal_buy{display:none}
.event_wrap .deal_opened .deal_buy{display:block;position:absolute;top:57.97317436%;left:25%;width:50%;padding-top:12.5%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/btn_buy.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .deal_soldout .deal_buy{display:block;position:absolute;top:57.97317436%;left:25%;width:50%;padding-top:12.5%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/btn_buy.png) 0 0 no-repeat;background-position:0 100%;background-size:100% auto;pointer-events:none;cursor:not-allowed;text-decoration:none}
.event_wrap .deal_area.deal_finish .deal_buy{top:80.62176165%}
.event_wrap .deal_finish:before{position:absolute;left:0;bottom:0;z-index:10;width:9.7222222%;height:100px;background:#445963;content:''}
.event_wrap .deal_finish:after{position:absolute;right:0;bottom:0;z-index:10;width:9.7222222%;height:100px;background:#445963;content:'';}

/* btn */
.event_wrap .btn_apply{left:22%;bottom:3%;width:55%;height:8%}
.event_wrap .btn_more{position:absolute;left:23%;bottom:0;width:55%;height:4%}
.event_wrap .btn_more2{position:absolute;left:22%;bottom:15%;width:56%;height:18%}

/* notice */
.event_wrap .evt_notice{padding:46px 5.555555% 96px}
.event_wrap .notice_list li{position:relative;padding-left:8px;color:#fff;font-size:12px;font-weight:300;line-height:1.7;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:3px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}

/* prd items */
.event_wrap .product_list{padding:0 5.555555555%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:48.75%;height:auto;margin:0 2.5% 38px 0;vertical-align:top}
.event_wrap .product_list li:nth-child(2n){margin-right:0}
.event_wrap .product_title{overflow:hidden;height:32px;margin:5px 0 0;font-size:13px;font-weight:400;color:#fff;line-height:15px}
.event_wrap .product_info{display:block}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .original{margin-right:8px;font-size:12px;color:#fff}
.event_wrap .sale{display:inline-block;font-size:17px;color:#fff}
.event_wrap .open{display:inline-block;font-size:12px;color:#ccc}
.event_wrap .sale ins{text-decoration:none}

/* evt tabmenu */
/* .event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:123px;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}
.event_wrap .sticky{position:fixed;width:100%;top:0;z-index:100;border-top:0;}
.event_wrap .sticky + .p_evt_sec2{padding-top:17.08333%;background:#445963} */

.event_wrap .evt_tab_wrap{position:absolute;top:0;right:0;left:0;bottom:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.p_evt_tab.is_fixed{padding-top:28.5%}
.p_evt_tab.is_fixed .evt_section{position:fixed;z-index:10;top:0;left:50%;width:100%;margin:0 auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}

.p_evt_tab .evt_tab_wrap li a{position:relative}
.p_evt_tab .evt_tab_wrap li.on a:after{position:absolute;top:0;left:0;width:100%;height:124%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0909_chuseok/img/evt_tab_on.png) 0 0 no-repeat;background-size:500% auto;content:''}
.p_evt_tab .evt_tab_wrap .tab1.on a:after{background-position:0 0}
.p_evt_tab .evt_tab_wrap .tab2.on a:after{background-position:25% 0}
.p_evt_tab .evt_tab_wrap .tab3.on a:after{background-position:50% 0}
.p_evt_tab .evt_tab_wrap .tab4.on a:after{background-position:75% 0}
.p_evt_tab .evt_tab_wrap .tab5.on a:after{background-position:100% 0}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn_area{margin-top:26px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;width:159px;height:39px;background:#333;font-size:12px;color:#fff;vertical-align:middle;line-height:39px}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:25px 30px 30px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;font-size:20px;color:#333;line-height:1.4}
.layer_popup_contents .popup_txt{display:block;margin:0;font-size:12px;color:#333;text-align:center;line-height:1.4}
.layer_popup_contents .popup_desc{font-size:12px;color:#333;line-height:1.2}
.layer_popup_contents .popup_desc em{font-style:normal;font-weight:700}
.layer_popup_contents .inner{margin-top:24px;padding:11px 0;border-top:2px solid #333;border-bottom:1px solid #333;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .notice{margin-top:10px;font-size:12px;color:#333}