@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:83.5%;left:30%;width:40%;height:7.5%}
.event_wrap .btn_lnk2{top:77.5%;left:30%;width:40%;height:11%}
