@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#f4f4f4}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk1{top:84.5%;left:21%;right:21%;height:5%}
.event_wrap .btn_lnk2{top:85%;left:21%;right:21%;height:5%}
.event_wrap .coupon_down_btn{position:absolute;display:block;top:90.6%;left:20.7%;width:59%;height:5%}

/* nav */
.event_wrap .p_evt_nav .evt_section:after{content:'';position:absolute;top:0;right:0;width:8vw;height:100%;background:linear-gradient(90deg, rgba(35,146,65,1) 0%, rgba(7,29,13,1) 100%);opacity:0.4;z-index:0}
.event_wrap .nav_swiper{position:relative;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none}
.event_wrap .nav_swiper::-webkit-scrollbar{display:none}
.event_wrap .evt_nav_wrap{position:relative;display:flex;z-index:10}
.event_wrap .evt_nav_wrap li{height:12.6vw;flex-shrink:0;display:flex;align-items:center}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%;font-size:3.6111vw;font-weight:700;letter-spacing:-.6;color:#fff;padding:0 8vw 0 5.1vw;display:flex;align-items:center;justify-content:center}
.event_wrap .evt_nav_wrap li a:before{content:'';position:absolute;top:44%;right:13.7%;width:2.2222vw;height:1.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/ico_down.png) 0 0 no-repeat;background-size:200%}
.event_wrap .evt_nav_wrap li a:after{content:'';position:absolute;top:33%;left:0;width:1px;height:4.1667vw;background:#91c9a0}
.event_wrap .evt_nav_wrap li:first-child a:after{width:0}
.event_wrap .p_evt_nav li.on a{color:#ebff46}
.event_wrap .p_evt_nav li.on a:before{background-position:100% 0}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;background:#239241}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.44444vw}
.event_wrap .p_evt_nav{padding-top:12.5vw;z-index:50}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:43.61%;top:44.0277vw;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) no-repeat;background-size:530% auto;background-position:0 22%;content:''}

.event_wrap .coupon_desc{position:absolute;bottom:0;left:0;width:100%;text-align:center;margin-top:2.3vw}
.event_wrap .coupon_desc span{display:block;color:#fff;font-size:3.4vw;font-weight:500;margin-top:1vw}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .evt_notice{padding:60px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/evt_sec5.jpg) 0 0/100% no-repeat}
.event_wrap .noti2 .notice_title{border-top:2px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti2 .notice_list li{color:#fff}
.event_wrap .noti2 .notice_list li:before{background-color:#fff}

/* product */
.event_wrap .product_list{position:absolute;top:76.25vw;left:0;display:flex;flex-wrap:wrap;width:calc(100vw - 5.556vw);margin:0 5.556vw}
.event_wrap .product_list li{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw}
.event_wrap .product_img_coupon{position:absolute;top:37.2222vw;left:24.1666vw;width:18.8888vw;height:10.1388vw}
.event_wrap .product_info{display:block;min-height:25.3333vw;padding-top:1.389vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.6px;word-break:keep-all;margin:0 0 1vw}

.event_wrap .tag{position:absolute;top:0;left:0;width:9.861vw;height:9.861vw;line-height:3.056vw;text-align:center;background:#239241;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:3.6111vw;font-weight:600;color:#fff;letter-spacing:-.3px;}
.event_wrap .percent{display:inline-block;margin-left:1.111vw}
.event_wrap .percent .num{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

.event_wrap .p_evt_sec2 .product_list{top:44.3055vw}
.event_wrap .p_evt_sec2 .product_info{min-height:25.3333vw}
.event_wrap .p_evt_sec3 .product_list{top:44.4444vw}
.event_wrap .p_evt_sec3 .product_info{min-height:29vw}
.event_wrap .p_evt_sec3 .product_list del{color:#ffbcbf}
.event_wrap .p_evt_sec3 .product_list ins,
.event_wrap .p_evt_sec3 .product_list span{color:#fff}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 20.8333% !important;background:#e0ffe5 !important;background:#5db430 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/btn_bg.jpg) !important;background-size:100% auto !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:11.8vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* 모션 */
.event_wrap .motion_box{position:absolute;top:20.8333vw;left:33.05555vw;width:21.5277vw;height:25.1388vw}
.event_wrap .motion_box img{width:100%}