@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#f4f4f4}
.event_wrap .p_evt_tit{margin-bottom:-80px}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:75.6%;left:35%;width:30%;height:8%}
.event_wrap .btn_lnk2{top:76.1%;left:35%;width:30%;height:8%}
.event_wrap .coupon_down_btn{position:absolute;display:block;top:730px;left:409px;width:350px;height:70px}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;width:100%;height:80px;display:flex;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/p_evt_nav.png) 0 0 no-repeat}
.event_wrap .evt_nav_wrap li{position:relative;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:235px}
.event_wrap .evt_nav_wrap li:nth-child(2){width:237px}
.event_wrap .evt_nav_wrap li:nth-child(3){width:228px}
.event_wrap .evt_nav_wrap li:nth-child(4){width:255px}
.event_wrap .evt_nav_wrap li:nth-child(5){width:213px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;left:50%;width:1920px;height:81px;background:#239241;z-index:100}
.event_wrap .p_evt_nav.is_fixed .evt_section .evt_nav_wrap{width:1168px;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav{padding-top:80px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/p_evt_nav_on.png) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-235px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-472px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-700px 0}
.event_wrap .p_evt_nav li:nth-child(5).on:after{background-position:-955px 0}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:266px;top:272px;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

.event_wrap .coupon_desc{position:absolute;bottom:0;left:0;width:100%;text-align:center}
.event_wrap .coupon_desc span{display:block;color:#fff;font-size:18px;font-weight:500;letter-spacing:-0.5px;margin-top:5px}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .evt_notice{padding:80px 40px 110px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/p_evt_sec5.jpg) top center no-repeat}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap .noti2 .notice_list li{color:#fff !important}
.event_wrap .noti2 .notice_list li:before{background-color:#fff !important}

/* product */
.event_wrap .product_list{position:absolute;top:351px;left:0;display:flex;flex-wrap:wrap;width:calc(100% + 8px);margin:0 0 0 40px;box-sizing:border-box}
.event_wrap .product_list li{width:266px;margin-right:8px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;width:100%;height:200px}
.event_wrap .product_img img{width:100%;margin:-30px 0 0 0 !important}
.event_wrap .product_img_coupon{position:absolute;top:150px;left:175px;width:90px;height:52px}
.event_wrap .product_img_coupon img{margin:0 !important}
.event_wrap .product_info{display:block;padding-top:20px;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:5px}
.event_wrap .tag{position:absolute;top:0;left:0;width:62px;height:62px;line-height:20px;text-align:center;background:#239241;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:22px;font-weight:500;color:#fff}
.event_wrap .percent{display:inline-block;margin-left:8px}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#019233;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#019233;font-family:'Lato'}
.event_wrap .original{display:inline-block;margin:10px 8px 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:10px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

.event_wrap .p_evt_sec2 .product_list{top:277px}
.event_wrap .p_evt_sec3 .product_list{top:300px}
.event_wrap .p_evt_sec3 .product_list del{color:#ffbcbf}
.event_wrap .p_evt_sec3 .product_list ins,
.event_wrap .p_evt_sec3 .product_list span{color:#fff}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1920px !important;width:100%;margin:0 auto;padding:0;background:#f4f4f4 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/p_btn_bg.jpg) top center no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:70px;font-size:0;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202208/0801_1st_anniversary/img/p_img_btn.png) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}

/* 모션 */
.event_wrap .motion_box{position:absolute;top:145px;left:854px}
