@charset "utf-8";

/* .event_wrap{padding-top:14.44444vw} */
.evt_wide_wrap,.event_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .btn{position:absolute;left:4.4%;width:91.1%;height:45.4%;border:0}

.event_wrap .btn_lnk1{top:0}
.event_wrap .btn_lnk2{top:48.4%}
