@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}
.event_wrap .btn{position:absolute;top:0;width:448px;height:745px;border:0}

.event_wrap .btn_lnk1{left:120px;}
.event_wrap .btn_lnk2{right:120px}
