@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom, .tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20vw;z-index:50}

.event_wrap .p_evt_nav li.on::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0106_seollal_member/img/m_evt_nav_on.jpg);background-size:200% auto}
.event_wrap .p_evt_nav li:nth-child(2).on::after{background-position-x:100%}

/* notice */
.event_wrap .p_evt_noti{background:#3f76f2}
.event_wrap .evt_notice{padding:0 5.5555vw}
.event_wrap .notice_title{padding:4.4444vw 0}
.event_wrap .p_evt_noti:nth-of-type(2) .notice_list{padding-bottom:11.1111vw}
.event_wrap .p_evt_noti:nth-of-type(3){padding-bottom:11.1111vw}

.event_wrap .tab_wrap .tab_btn{position:relative;display:block}
.event_wrap .tab_wrap .tab_btn::after{content:'';position:absolute;top:50%;transform:translateY(-50%);right:8.3333vw;width:4.0278vw;height:2.3611vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0106_seollal_member/img/icon_arrow.png) 0 0/100% no-repeat}
.event_wrap .tab_wrap.on .tab_btn::after{content:'';position:absolute;top:50%;transform:translateY(-50%) rotate(180deg);right:8.3333vw;width:4.0278vw;height:2.3611vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0106_seollal_member/img/icon_arrow.png) 0 0/100% no-repeat}
.event_wrap .p_evt_noti:nth-of-type(3) .tab_wrap .notice_title{border-bottom:0.2777vw solid #fff}
.event_wrap .p_evt_noti:nth-of-type(3) .tab_wrap.on .notice_title{border-bottom:0}
.event_wrap .tab_wrap .tab_content{display:none}

#dummy{padding-top:10vw}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 5.5556vw !important;background:#3f76f2 !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important;padding:5.5556vw 0 0}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:27.3611vw !important;height:27.2222vw !important;margin-left:8.3333vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#3f76f2}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#3f76f2 !important;color:#fff !important;line-height:4.66667vw !important}
