@charset "utf-8";

/* common */
.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{position:relative;font-size:3.8889vw;line-height:5.8333vw;font-weight:400;color:#333;letter-spacing:-.5px;word-break:keep-all}
.event_wrap .evt_section{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0)} /* 아이폰 13이후 transition 오류 추가 */
.event_wrap .evt_section .title{font-size:6.9444vw;font-weight:800;margin-bottom:4.7222vw}

/* 공통 정보박스 */
.event_wrap .info_box_item{display:flex;align-items:center;margin-top:8.3333vw}
.event_wrap .info_box_item .item_price{margin-left:4.1667vw;font-size:6.9444vw;font-weight:800}
.event_wrap .info_box_item .item_price > span small{font-size:3.8889vw}
.event_wrap .info_box_item .item_more{position:relative;min-width:27.7778vw;padding:2vw 4vw;border:1px solid #4e4e4e;font-size:3.8889vw;font-weight:800;box-sizing:border-box;background:#fff}
.event_wrap .info_box_item .item_more::before { content:''; position: absolute; top:50%;left:90%;width:0.5556vw; height: 2.2222vw; background: #333; transform:translate(-50%, -50%)}
.event_wrap .info_box_item .item_more::after { content:''; position: absolute; top:50%;left:90%;width: 2.2222vw; height:0.5556vw; background: #333; transform:translate(-50%, -50%)}

/* 공통 레이아웃 */
.event_wrap :is(.p_evt_sec1, .p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5) .evt_section{margin-bottom:22.2222vw}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .info_box{position:relative;margin:0 4.4444vw 22.2222vw 4.4444vw;z-index:2}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .img{position:absolute;top:-5vw;right:0;width:77.7778vw;z-index:1}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .bg{flex:1;width:100%;z-index:0}
.event_wrap :is(.p_evt_sec3, .p_evt_sec5) .img{left:0}

/* 상단 */
.event_wrap .p_evt_tit .evt_section{color:#fff}
.event_wrap .p_evt_tit .top_tit{position:absolute;top:29.1667vw;left:0;right:0;text-align:center;font-weight:800;line-height:1;z-index:4}
.event_wrap .p_evt_tit .top_tit > h1{font-size:31.9444vw}
.event_wrap .p_evt_tit .top_tit > h1::after{content:'';display:inline-block;width:20.8333vw;height:22.5000vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0225_farm_direct/img/object/object5.png) 100%/100% no-repeat}
.event_wrap .p_evt_tit .top_tit > p{font-size:9.7222vw}
.event_wrap .p_evt_tit .top_tit > span{display:inline-block;font-size:6.9444vw;padding:0 5vw;border:0.9722vw solid #fff;border-radius:100px;margin-top:1vw}
.event_wrap .p_evt_tit .top_object{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3}
.event_wrap .p_evt_tit .top_object .object2{position:absolute;top:4.4444vw;right:4.4444vw;width:19.3056vw;height:19.3056vw}

/* 내용 */
.event_wrap .p_evt_sec1 .info_box {text-align:center;background:#f8f8f8;padding-top:22.2222vw}
.event_wrap .p_evt_sec1 .info_box > h2{font-size:6.9444vw;font-weight:800}
.event_wrap .p_evt_sec1 .info_box > p{margin:6.9444vw 0 2vw}
.event_wrap .p_evt_sec1 .info_box > span{font-size:2.7778vw}

.event_wrap .p_evt_sec7{background:#f6f1ea;padding-top:16.6667vw}
.event_wrap .p_evt_sec7 .sub_title{text-align:center}
.event_wrap .p_evt_sec7 .sub_title > h2{font-size:9.7222vw;line-height:1.6;font-weight:800}
.event_wrap .p_evt_sec7 .sub_title > h2::before{content:'';display:block;width:32.3611vw;height:9.1667vw;margin:0 auto;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0225_farm_direct/img/object/object3.svg) no-repeat}
.event_wrap .p_evt_sec7 .sub_title .line{display:inline-block;width:9.7222vw;height:1px;background:#333}
.event_wrap .p_evt_sec7 .info_box{text-align:center;margin:13.3333vw 0 16.6667vw}
.event_wrap .p_evt_sec7 .info_box > h3{font-size:6.9444vw;font-weight:800;margin-bottom:6.9444vw}
.event_wrap .p_evt_sec7 .info_box > ul li:not(:first-child){position:relative;padding-top:6.9444vw;margin-top:6.9444vw}
.event_wrap .p_evt_sec7 .info_box > ul li:not(:first-child)::after{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:38.1944vw;border-top:1px solid #d0cbc2}
.event_wrap .p_evt_sec7 .info_box > ul li strong{font-weight:800}

/* 모션 */
.p_evt_tit .top_img{position:relative;width:100%;height:108.3333vw}
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

/* 아이폰13이상 사용 */
.event_wrap .motion_up{opacity:0;transition:opacity 0.6s ease-in-out, transform 0.5s ease-in-out;transform:translateY(40px)}
.event_wrap .motion_up.active{opacity:1;transform:translateY(0)}

/* 상단 타이틀 모션만 사용 */
.event_wrap .silde_up{opacity:0}
.event_wrap .silde_up.active{opacity:1;-webkit-animation:silde-up 0.5s ease-in-out both;animation:silde-up 0.5s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 0.8s ease-in-out both;animation:fade-blur 0.8s ease-in-out both}
@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{transition-delay:0.05s !important;animation-delay:0.05s !important}
.delay01.active{transition-delay:0.1s !important;animation-delay:0.1s !important}
.delay015.active{transition-delay:0.15s !important;animation-delay:0.15s !important}
.delay02.active{transition-delay:0.2s !important;animation-delay:0.2s !important}
.delay025.active{transition-delay:0.25s !important;animation-delay:0.25s !important}
.delay03.active{transition-delay:0.3s !important;animation-delay:0.3s !important}
.delay035.active{transition-delay:0.35s !important;animation-delay:0.35s !important}
.delay04.active{transition-delay:0.4s !important;animation-delay:0.4s !important}
.delay05.active{transition-delay:0.5s !important;animation-delay:0.5s !important}
.delay06.active{transition-delay:0.6s !important;animation-delay:0.6s !important}
.delay07.active{transition-delay:0.7s !important;animation-delay:0.7s !important}
.delay08.active{transition-delay:0.8s !important;animation-delay:0.8s !important}
