@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;max-width:none !important;vertical-align:top}

/* 공통 */
.event_wrap .evt_section{font-size:20px;line-height:30px;font-weight:400;color:#333;letter-spacing:-.6px}
.event_wrap .evt_section .title{font-size:30px;line-height:1.2;font-weight:800;margin-bottom:12px}

/* 공통 정보박스 */
.event_wrap .info_box_item{display:flex;align-items:center;margin-top:30px}
.event_wrap .info_box_item .item_price{margin-left:20px;font-size:30px;font-weight:800}
.event_wrap .info_box_item .item_price > span small{font-size:20px}
.event_wrap .info_box_item .item_more{position:relative;min-width:140px;padding:3px 14px;border:1px solid #4e4e4e;font-size:20px;font-weight:800;box-sizing:border-box;transition:background 0.3s ease, color 0.3s ease}
.event_wrap .info_box_item .item_more::before { content:''; position: absolute; top:50%;left:90%;width:2px; height: 10px; background: #333; transform:translate(-50%, -50%)}
.event_wrap .info_box_item .item_more::after { content:''; position: absolute; top:50%;left:90%;width: 10px; height:2px; background: #333; transform:translate(-50%, -50%)}
.event_wrap .info_box_item .item_more:hover{background:#4e4e4e;color:#fff}

/* 공통 레이아웃 */
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .evt_section{display:flex;flex-wrap:wrap}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .info_box{width:600px;z-index:1}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .img{z-index:1}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3, .p_evt_sec4, .p_evt_sec5, .p_evt_sec6) .bg{flex:1;width:100%;margin:-580px 0 160px -360px;z-index:0}

.event_wrap :is(.p_evt_sec2, .p_evt_sec4, .p_evt_sec6) .evt_section{flex-direction:row-reverse}
.event_wrap :is(.p_evt_sec2, .p_evt_sec4, .p_evt_sec6) .img{width:560px;margin-right:40px}
.event_wrap :is(.p_evt_sec3, .p_evt_sec5) .info_box{width:560px;margin-right:40px}

/* 상단 */
.event_wrap .p_evt_tit .evt_section{display:flex;flex-direction:column;justify-content:center;align-items:center;color:#fff}
.event_wrap .p_evt_tit .top_tit{position:absolute;top:130px;left:622px;text-align:center;font-weight:800;line-height:1;z-index:4}
.event_wrap .p_evt_tit .top_tit > h1{font-size:130px}
.event_wrap .p_evt_tit .top_tit > h1::after{content:'';display:inline-block;width:79px;height:96px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0225_farm_direct/img/object/object5.png) no-repeat}
.event_wrap .p_evt_tit .top_tit > p{font-size:40px}
.event_wrap .p_evt_tit .top_tit > span{display:inline-block;font-size:30px;padding:0 20px;border:4px solid #fff;border-radius:100px;margin-top:14px}
.event_wrap .p_evt_tit .top_object{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3}
.event_wrap .p_evt_tit .top_object .object1{position:absolute;top:0;right:0;width:121px;height:121px}
.event_wrap .p_evt_tit .top_object .object2{position:absolute;top:66px;left:246px;width:342px;height:342px}

/* 내용 */
.event_wrap .p_evt_sec1{margin-bottom:160px}
.event_wrap .p_evt_sec1 .info_box{position:absolute;top:120px;left:80px}
.event_wrap .p_evt_sec1 .bg{margin:0 -360px}
.event_wrap .p_evt_sec1 .info_box > h2{font-size:50px;font-weight:800}
.event_wrap .p_evt_sec1 .info_box > p{margin:56px 0 44px}
.event_wrap .p_evt_sec1 .info_box > span{font-size:16px}

.event_wrap .p_evt_sec7{position:relative;margin-top:-160px;padding-top:100px}
.event_wrap .p_evt_sec7::after{content:'';position:absolute;top:0;left:0;width:1920px;height:574px;background:#f6f2ea;z-index:0}
.event_wrap .p_evt_sec7 .evt_section{z-index:1}
.event_wrap .p_evt_sec7 .sub_title{text-align:center}
.event_wrap .p_evt_sec7 .sub_title > h2{font-size:50px;line-height:1.6;font-weight:800}
.event_wrap .p_evt_sec7 .sub_title > h2::before{content:'';display:inline-block;width:157px;height:45px;vertical-align:middle;margin-right:10px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0225_farm_direct/img/object/object3.svg) no-repeat}
.event_wrap .p_evt_sec7 .sub_title .line{display:inline-block;width:54px;height:1px;background:#333}
.event_wrap .p_evt_sec7 .info_box{text-align:center;margin:60px 0 96px}
.event_wrap .p_evt_sec7 .info_box > h3{font-size:30px;font-weight:800;margin-bottom:20px}
.event_wrap .p_evt_sec7 .info_box > ul{display:flex}
.event_wrap .p_evt_sec7 .info_box > ul li{width:33.3%}
.event_wrap .p_evt_sec7 .info_box > ul li:not(:first-child){border-left:1px solid #d0cbc2}
.event_wrap .p_evt_sec7 .info_box > ul li strong{font-weight:800}

/* 모션 */
.p_evt_tit .top_img{position:relative;width:1920px;height:475px;z-index:0}
.p_evt_tit .top_img .top_fade{display:block;position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;opacity:0;transition:opacity 1.4s ease-in-out}
.p_evt_tit .top_img .top_fade.active{opacity:1}

.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.6s ease-in-out both;animation:silde-up 0.6s ease-in-out both}

@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
            transform: translate(0, 80px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.event_wrap .motion_fade{opacity:0}
.event_wrap .motion_fade.active{opacity:1;-webkit-animation:fade-blur 1s ease-in-out both;animation:fade-blur 1s ease-in-out both}

@keyframes fade-blur {
  0% {
    opacity: 0;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }  
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.delay005.active{animation-delay:0.05s !important}
.delay01.active{animation-delay:0.1s !important}
.delay015.active{animation-delay:0.15s !important}
.delay02.active{animation-delay:0.2s !important}
.delay025.active{animation-delay:0.25s !important}
.delay03.active{animation-delay:0.3s !important}
.delay035.active{animation-delay:0.35s !important}
.delay04.active{animation-delay:0.4s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}
