@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom, .tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:48vw;left:0;right:0;height:16%;display:flex;z-index:10}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

/* button */
.event_wrap .btn_move{top:0;left:29vw;right:26vw;height:11vw}

/* product */
.event_wrap .product_item{position:absolute;top:30.5556vw;left:0;right:0}

/* page */
.event_wrap .p_evt_sec1,
.event_wrap .p_evt_noti{background:#79c53e}
.event_wrap .info_desc{padding:5vw 0 0 0}
.event_wrap .info_desc span{color:#fff}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:#79c53e url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0102_new_year/img/stamp/mo_bg.jpg) !important;background-size:contain !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:26.3888vw !important;height:26.3888vw !important;margin-left:4.1666vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#009333}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#009333 !important;color:#fff !important;line-height:4.66667vw !important}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:5}
.motion_box img{width:100%;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object_bg{width:265vw;bottom:0;left:-84vw;z-index:5}
.motion_box .object_dragon{width:105.4167vw;top:66.3889vw;left:-17.4vw;z-index:1}
.motion_box .object_cloud1{width:15.2778vw;top:73.4722vw;left:15.6944vw;z-index:2;animation-delay:0.6s !important}
.motion_box .object_cloud2{width:13.8889vw;top:85.1389vw;left:54.4444vw;z-index:2;animation-delay:1.2s !important}
.motion_box .object_cloud3{width:8.0556vw;top:73.4722vw;left:87.5vw;z-index:2;animation-delay:1.8s !important}

.motion_box .motion1{animation:bounce 4.5s 0s ease-in-out infinite both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(5px, 25px);
            transform: translate(5px, 25px);
  }
}
