@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:260px;left:280px;right:280px;height:140px;display:flex;z-index:10}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_move{top:0;left:31%;right:31%;height:38%}

/* product */
.event_wrap .product_item{position:absolute;top:240px;left:0;right:0}

/* page */
.event_wrap .p_evt_sec1,
.event_wrap .p_evt_noti{background:#79c53e}
.event_wrap .info_desc{padding:40px 10px 0 10px}
.event_wrap .info_desc span{color:#fff}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:0}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step, .tablet .fb__event .event__stamp .stamp__step{position:relative;background-color:#79c53e;background-size:unset !important;background-repeat:no-repeat;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3, .tablet .fb__event .event__stamp .stamp__step ul.col3{width:1000px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li, .tablet .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area, .tablet .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before, .tablet .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply__desc em, .tablet .fb__event .event__stamp .stamp__apply__desc em{color:#009333}
.desktop .fb__event .event__stamp .stamp__apply--purchase, .tablet .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#009333 !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:869px;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:5}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_bg{bottom:0;left:0;z-index:5}
.motion_box .object_dragon{top:426px;left:422px;z-index:1}
.motion_box .object_cloud1{top:449px;left:715px;z-index:2;animation-delay:0.6s !important}
.motion_box .object_cloud2{top:535px;left:972px;z-index:2;animation-delay:1.2s !important}
.motion_box .object_cloud3{top:423px;left:1230px;z-index:2;animation-delay:1.8s !important}

.motion_box .motion1{animation:bounce 4s 0s ease-in-out infinite both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(5px, 40px);
            transform: translate(5px, 40px);
  }
}
