@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:40px;right:40px;height:140px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;bottom:7px;right:80px}

/* notice */
.event_wrap .p_evt_noti{background:#e7a857}
.event_wrap .noti2{background:#ea5d56}

/* 선착순마감 */
.event_wrap .dimm_close{display:block;position:absolute;top:10%;left:40px;right:40px;height:800px;border-radius:20px;background:rgba(0,0,0,.7);color:#fff;pointer-events:none;cursor:not-allowed;z-index:1;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:62px;line-height:60px}
