@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* button */
.event_wrap .btn_move{top:0;left:30%;right:30%;height:40%}

/* page */
.event_wrap .coupon_list{position:absolute;top:210px;left:0;right:0}
.event_wrap .product_item{position:absolute;top:368px;left:0;right:0}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .p_evt_sec2 .info_desc{position:absolute;top:286px;left:0;right:0}
.event_wrap .info_desc span{color:#fff;opacity:.5}

/* notice */
.event_wrap .p_evt_noti{background:#096d46 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_fulstmas/img/p_img_noti.jpg) 50% 100% no-repeat}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:763px;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:10}
.motion_box img{margin:0 !important}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:412px;left:280px;right:280px;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:80px;z-index:10}
.event_wrap .dday_count > span{display:block;width:140px}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .evt_lottie1{position:absolute;width:100%;height:110%;top:0;left:15%;z-index:-1}
.event_wrap .evt_lottie3{position:absolute;width:100%;height:100%;top:0;left:-20%;z-index:-1}
.event_wrap .evt_lottie4{position:absolute;width:100%;height:100%;top:-10%;left:0;z-index:-1}

.event_wrap .p_evt_sec3{background:#282d36;height:668px;overflow:hidden}
.event_wrap .p_evt_sec3 h2{position:absolute;z-index:1}
.event_wrap .p_evt_sec3 .evt_lottie2{position:absolute;width:2500px;height:1000px;top:0;left:-550px;right:0;z-index:0}
