@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,
.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-weight:500}

.event_wrap .evt_notice{padding:0 120px;background:#f1ece9;box-sizing:border-box}
.event_wrap .notice_title{display:block;font-size:24px;font-weight:500;color:#6f6965}
.event_wrap .notice_list{margin-top:17px;padding:20px 0 94px;border-top:2px solid #c8c3c0;}
.event_wrap .notice_list li{position:relative;padding-left:11px;font-size:20px;font-weight:400;color:#6f6965;line-height:32px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:3px;height:3px;background-color:#6f6965;border-radius:50%;-webkit-border-radius:50%;content:''}

.event_wrap .evt_tab_wrap{position:absolute;top:0;right:11.7%;left:11.7%;;bottom:0;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:33.333334%;height:100%}
.event_wrap .evt_tab_wrap a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}

.event_wrap .product_list{position:absolute;top:0;right:14%;left:11.7%;;bottom:0;font-size:0}
.event_wrap .product_list li{display:inline-block;width:100%;height:25%}
.event_wrap .product_list a{display:block;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}

.event_wrap .list2{top:27%;right:11.7%;left:11.7%;bottom:6%}
.event_wrap .list2 li{width:50%;height:50%}

.event_wrap .list3{top:18.5%;right:11.7%;left:11.7%;bottom:6%}
.event_wrap .list3 li{width:50%;height:50%}


/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{font-family:-apple-system-font,'Apple SD Gothic Neo',Helvetica,sans-serif;}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .notice_title{font-size:13px}
.event_wrap.mevt .evt_notice{padding:0 10%}
.event_wrap.mevt .notice_list{margin-top:6px;padding:8px 0 40px;border-top-width:1px}
.event_wrap.mevt .notice_list li{padding-left:8px;font-size:12px;line-height:1.5}
.event_wrap.mevt .notice_list li:before{top:7px;width:2px;height:2px}

.event_wrap.mevt .evt_tab_wrap{right:10%;left:10%}
.event_wrap.mevt .product_list{right:9%;left:10%}
.event_wrap.mevt .list2{top:20%;right:10%;left:10%;bottom:1%}
.event_wrap.mevt .list3{top:17%}