@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.5833vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0508_39anniversary_member/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:91.5%;left:15%;right:15%;height:4%}

/* notice */
.event_wrap .p_evt_noti{background:#03df6b}
.event_wrap .evt_notice{padding:0 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#fe86a1}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:#9545ff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0508_39anniversary_member/img/bg_roulette.png) 100% 0/100%}
.mobile .fb__event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:146.1111vw;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .txt_count{width:50vw;top:54vw;left:25vw;font-family:'Oswald',sans-serif;font-size:31.6666vw;font-weight:700;color:#01b749;text-align:center;transform:rotate(0.04deg) translate3d(0, 0, 0);z-index:10}
.motion_box .txt_bar1{top:87vw;left:42vw;width:0.5555vw;height:3vw;background:#7d2b8b;border-radius:0 0 10px 0}
.motion_box .txt_bar2{top:87vw;left:58vw;width:0.5555vw;height:3vw;background:#7d2b8b;border-radius:0 0 0 16px}
.motion_box .txt_candle1{width:9vw;top:52vw;left:38vw}
.motion_box .txt_candle2{width:9vw;top:52vw;left:54vw}
.motion_box .txt{width:100%;top:35vw;left:0;z-index:12}
.motion_box .txt_cake{width:100%;bottom:0;left:0;z-index:10}
.motion_box .mark{width:24%;top:7.5%;right:11.5%;z-index:20}

.motion_box .item1{width:100%;top:102vw;left:0;z-index:20}
.motion_box .item2{width:100%;top:102vw;left:0;z-index:21;animation-delay:4s !important}

.motion_box .object1{width:16vw;top:0vw;left:16vw;z-index:1;animation-delay:1s !important}
.motion_box .object2{width:16vw;top:-7vw;left:68vw;animation-delay:4s !important}
.motion_box .object3{width:13vw;top:19vw;left:-6vw}
.motion_box .object4{width:14vw;top:0vw;left:95vw;animation-delay:0.4s !important}
.motion_box .object5{width:13vw;top:16vw;left:80vw;animation-delay:2s !important}
.motion_box .object6{width:15vw;top:-5vw;left:8vw;animation-duration:20s !important;animation-delay:2s !important}

.motion_box .object10{width:6vw;top:120vw;left:3vw}
.motion_box .object11{width:4vw;top:65vw;left:1vw;animation-delay:2.2s !important}
.motion_box .object12{width:7vw;top:110vw;right:-2vw}
.motion_box .object13{width:4vw;top:55vw;left:92vw;animation-delay:1.4s !important}
.motion_box .object14{width:4vw;top:95vw;left:-1vw;animation-delay:2.4s !important}
.motion_box .object15{width:4vw;top:25vw;left:75vw;animation-delay:2s !important}
.motion_box .object16{width:3.5vw;top:85vw;left:95vw;animation-delay:1s !important}

.motion_box.box2{position:relative;height:56.9444vw;background:#80c342;z-index:0}
.motion_box .txt2{z-index:1}
.motion_box .balloon1{width:22vw;top:-10vw;left:-4vw;animation-duration:15s !important;animation-delay:2s !important}
.motion_box .balloon2{width:26vw;top:10vw;left:6vw;animation-delay:4s !important}
.motion_box .balloon3{width:26vw;top:35vw;left:-3vw}
.motion_box .balloon4{width:22vw;top:-10vw;left:62vw;animation-duration:20s !important;animation-delay:3s !important}
.motion_box .balloon5{width:24vw;top:4vw;left:82vw;animation-delay:1s !important}
.motion_box .balloon6{width:24vw;top:22vw;left:70vw;animation-delay:2s !important}
.motion_box .balloon7{width:22vw;top:40vw;left:86vw;animation-delay:7s !important}

.motion_box .motion1{animation:fade 1s ease-in-out 1.2s both}
@keyframes fade {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.motion_box .motion5{animation:fade 0.5s ease-in-out 1.4s both, skew 1s 0s infinite both}
.motion_box .motion6{animation:fade 1s ease-in-out 1.8s both, skew 1.5s 2s infinite both}
@keyframes skew {
  0%, 100% {
    -webkit-transform: skew(2deg, 15deg);
            transform: skew(2deg, 15deg);
  }
  50% {
    -webkit-transform: skew(-5deg, 0deg);
            transform: skew(-5deg, 0deg);
  }
}

.motion_box .motion2{animation:bounce-up 8s ease-in-out 0s infinite both}
@keyframes bounce-up {
  0%, 50%, 100% { opacity:0 }
  6% {
    -webkit-transform:translate(0, -10px);
            transform:translate(0, -10px);
    opacity: 1;
  }
  12%, 49% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  0% {
    opacity: 0;
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
  7% {
      opacity: 1;
      -webkit-filter: blur(0px);
              filter: blur(0px);
  }
}

.motion_box .motion3{animation:wobble 2s ease-in-out 0s infinite both, rise 15s linear 0s infinite both}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@keyframes rise {
  0% {
    top: calc(100% + 100px);
  }
  100% {
    top: -500px;
  }
}

.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, fade 1s 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}

.motion_box .motion7{animation:wobble2 2s ease-in-out 0s infinite both, rise2 12s linear 0s infinite both}
@keyframes wobble2 {
  0%, 100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@keyframes rise2 {
  0% {
    top: calc(100% + 5vw);
  }
  100% {
    top: -60vw;
  }
}
