@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');

/* reset */
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#0ae571}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:100%;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:33.333%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:125px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0508_39anniversary_member/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-362px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-734px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:75px;left:380px;right:380px;height:80px}

/* notice */
.event_wrap .p_evt_noti{background:#0ae571}
.event_wrap .evt_notice{padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#ff81a1 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0508_39anniversary_member/img/p_img_noti.jpg) center top no-repeat}

.event_wrap .roulette_desc{text-align:center;color:#333;margin-bottom:76px}

/* template */
.desktop .fb__event .event__roulette__wrap{height:710px;overflow:hidden}
.desktop .fb__event .event__roulette__wrap .roulette__background{position:absolute;max-width:none;left:50%;margin:0 -960px auto} /* 배경 1920 bos등록시 사용 */
.desktop .fb__event .roulette__wrapper{overflow:initial;top:0;width:657px;height:657px;margin:20px 0 0;transform:translate(-50%,0)}
.desktop .fb__event .roulette__action img{width:186px;height:186px;margin:0;transform:translate(-50%,-50%)}
.desktop .fb__event .roulette__arrow{width:57px;margin-left:-28px;top:-20px}
.desktop .detail-wrapper__bottom{padding:0}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:822px;top:0;left:50%;transform:translateX(-50%);overflow:hidden;z-index:10}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .txt_count{width:400px;top:250px;left:760px;font-family:'Oswald',sans-serif;font-size:300px;font-weight:700;color:#01b749;text-align:center;transform:rotate(0.04deg) translate3d(0, 0, 0);z-index:10}
.motion_box .txt_bar1{top:563px;left:882px;width:5px;height:19px;background:#7e2a8a;border-radius:0 0 10px 0}
.motion_box .txt_bar2{top:562px;left:1038px;width:5px;height:19px;background:#7e2a8a;border-radius:0 0 0 16px}
.motion_box .txt_candle1{width:80px;height:100px;top:236px;left:840px}
.motion_box .txt_candle2{width:80px;height:100px;top:236px;left:995px}
.motion_box .txt{top:88px;left:580px;z-index:10}
.motion_box .mark{top:58px;left:1367px;z-index:10}

.motion_box .item1{top:478px;left:0px;z-index:8}
.motion_box .item2{top:612px;left:265px;z-index:9;animation-delay:1.6s !important}
.motion_box .item3{top:514px;left:304px;z-index:7;animation-delay:2s !important}
.motion_box .item4{top:610px;left:1298px;z-index:10;animation-delay:1.4s !important}
.motion_box .item5{top:490px;left:1463px;z-index:9;animation-delay:1.8s !important}
.motion_box .item6{top:490px;left:1710px;z-index:8;animation-delay:2.2s !important}

.motion_box .object1{top:-300px;left:-20px;animation-delay:1s !important}
.motion_box .object2{top:-300px;left:280px;animation-delay:4s !important}
.motion_box .object3{top:-300px;left:430px}
.motion_box .object4{top:-300px;left:1380px;animation-delay:0.4s !important}
.motion_box .object5{top:-300px;left:1560px;animation-delay:2s !important;z-index:2}
.motion_box .object6{top:-400px;left:1320px;animation-duration:20s !important;animation-delay:2s !important}
.motion_box .object7{top:-300px;left:1800px;animation-delay:4.5s !important}

.motion_box .object10{top:335px;left:170px}
.motion_box .object11{top:275px;left:400px;animation-delay:2.2s !important}
.motion_box .object12{top:185px;left:230px}
.motion_box .object13{top:130px;left:1420px;animation-delay:1.4s !important}
.motion_box .object14{top:125px;left:1660px;z-index:1}
.motion_box .object15{top:335px;left:1570px;animation-delay:2s !important}

.motion_box.box2{height:465px;z-index:0}
.motion_box .balloon1{top:50px;left:120px;animation-duration:15s !important;animation-delay:2s !important}
.motion_box .balloon2{top:-50px;left:370px;animation-delay:3s !important}
.motion_box .balloon3{top:320px;left:200px}
.motion_box .balloon4{top:-190px;left:1200px;animation-duration:20s !important;animation-delay:3s !important}
.motion_box .balloon5{top:-10px;left:1560px;animation-delay:1s !important}
.motion_box .balloon6{top:220px;left:1430px;animation-delay:4s !important}

.motion_box .motion1{animation:fade 1s ease-in-out 2s both}
@keyframes fade {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.motion_box .motion5{animation:fade 0.5s ease-in-out 2s both, skew 1s 0s infinite both}
.motion_box .motion6{animation:fade 1s ease-in-out 2.2s both, skew 1.5s 2s infinite both}
@keyframes skew {
  0%, 100% {
    -webkit-transform: skew(2deg, 10deg);
            transform: skew(2deg, 10deg);
  }
  50% {
    -webkit-transform: skew(-5deg, 0deg);
            transform: skew(-5deg, 0deg);
  }
}

.motion_box .motion2{animation:bounce-top 0.8s ease-in-out 1.2s both}
@keyframes bounce-top {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, -60px);
            transform:translate(0, -60px);
    opacity: 1;
  }
}

.motion_box .motion3{animation:wobble 2s ease-in-out 0s infinite both, rise 15s linear 0s infinite both}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}
@keyframes rise {
  0% {
    top: calc(100% + 200px);
  }
  100% {
    top: -500px;
  }
}

.motion_box .motion4{animation:bounce 4s ease-in-out 0s infinite both, fade 1s 0s both}
@keyframes bounce {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -30px);
            transform:translate(0, -30px);
  }
}

.motion_box .motion7{animation:wobble2 2s ease-in-out 0s infinite both, rise2 12s linear 0s infinite both}
@keyframes wobble2 {
  0%, 100% {
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}
@keyframes rise2 {
  0% {
    top: calc(100% + 100px);
  }
  100% {
    top: -350px;
  }
}
