@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .items_list{position:absolute;top:0;right:0;left:0;bottom:0;display:flex;justify-content:space-between;flex-wrap:wrap}
.event_wrap .items_list li{width:50%;height:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}