@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 쿠폰 */
.event_wrap .p_evt_sec2{background:#8faa88}
.event_wrap .coupon_desc span{color:#e5e5e5}

/* notice */
.event_wrap .p_evt_noti{background:#8faa88}

