@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;margin:0 auto;box-sizing:border-box}

/* list */
.event_wrap .prd_list{position:absolute;top:18.7%;left:7%;width:86%;height:81%;background:url(about:blank) 0 0 no-repeat;font-size:0;text-align:center}
.event_wrap .prd_list li{display:inline-block;width:50%;height:50%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%}
.event_wrap .prd_list.list2{top:32%;height:68%}
.event_wrap .prd_list.list2 li{height:100%}
.event_wrap .prd_list.list3{top:9.5%;height:85%}
.event_wrap .prd_list.list3 li{height:25%}
