@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* common */
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

/* list */
.event_wrap .prd_list{position:absolute;top:34.7%;left:7%;width:86.4%;height:65%;background:url(about:blank) 0 0 no-repeat;font-size:0;text-align:center}
.event_wrap .prd_list li{display:inline-block;width:25%;height:100%}
.event_wrap .prd_list li a{display:block;width:100%;height:100%}
.event_wrap .prd_list.list3{top:18.5%;height:71%}
.event_wrap .prd_list.list3 li{height:50%}
