@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{border:0;margin:0;padding:0;list-style:none;text-decoration:none;color:#fff;font-family: "Pretendard Variable", Pretendard;}
img{transform:translateZ(0);backface-visibility:hidden;} /* image-rendering:-webkit-optimize-contrast; */
input, button{font-size:inherit;font-weight:bold;}

.thumb-wrap{position:relative;height:100vh;background:#444;overflow-x:hidden;font-size:16px;font-weight:600;}
.thumb-wrap .title{font-size:14px;padding:20px 0 0 150px;}
.thumb-wrap .title h3{font-size:20px;}

.thumb-wrap nav{position:fixed;top:0;left:0;width:120px;height:100vh;background:#eee;box-shadow:rgba(0, 0, 0, 0.3) 0 10px 30px;z-index:11;overflow-y:auto;-ms-overflow-style:none;scrollbar-width:none;}
.thumb-wrap nav::-webkit-scrollbar {display:none;}
.thumb-wrap nav a{display:block;color:#000;padding:10px;font-weight:bold;text-align:center;}
.thumb-wrap nav a:nth-child(-n+2){padding:24px 10px;}
.thumb-wrap nav a span{display:block;color:#000;}
.thumb-wrap nav a.is-active{background:#444;color:#fff;border-radius:10px 0 0 10px;margin-left:10px;}
.thumb-wrap nav a.is-active span{color:#fff;}
.thumb-wrap nav img{height:52px;}

.btn-box-wrap{position:sticky;top:0;left:0;max-width:1200px;width:100%;padding:20px 0 10px 20px;margin-left:120px;background:#444;display:flex;flex-wrap:wrap;justify-content:space-between;z-index:10;}
.btn-box{padding-bottom:8px;display:flex;align-items:center;}
.btn-normal{line-height:48px;background:#bbb;color:#000;border-radius:10px;cursor:pointer;text-align:center;margin:0 3px;padding:0 12px;box-shadow:rgba(0, 0, 0, 0.2) 2px 5px 10px;}
.btn-small{line-height:38px;background:yellowgreen;font-size:14px;color:#000;border-radius:10px;cursor:pointer;text-align:center;margin:0 3px;padding:0 8px;box-shadow:rgba(0, 0, 0, 0.2) 2px 5px 10px;}
.btn-small:nth-child(n+6){background:skyblue}
.btn-upload{background: hotpink;}
.real-upload{display:none;} 

/* BI */
.image-preview p{position:absolute;top:40px;right:40px;width:200px;height:220px;background:url(./logo/bi-pulmuone.png) 50% 50%/100% no-repeat;overflow:hidden;} 
.image-preview .bi-pulmuone{background:url(./logo/bi-pulmuone.png) 50% 50%/100% no-repeat;}
.image-preview .bi-orga{background:url(./logo/bi-orga.png) 50% 50%/100% no-repeat;}
.image-preview .bi-water{background:url(./logo/bi-water.png) 50% 50%/100% no-repeat;}
.image-preview .bi-foodmerce{background:url(./logo/bi-foodmerce.png) 50% 50%/100% no-repeat;}
.image-preview .bi-danone{background:url(./logo/bi-danone.png) 50% 50%/100% no-repeat;width:240px;}
.image-preview .bi-pulmuone-basic{background:url(./logo/bi-pulmuone-basic.png) 0 0/100% no-repeat;width:240px;}
.image-preview .bi-orga-basic{background:url(./logo/bi-orga-basic.png) 0 0/100% no-repeat;width:210px;}
.image-preview .bi-water-basic{background:url(./logo/bi-water-basic.png) 0 0/100% no-repeat;width:241px;}
.image-preview .bi-foodmerce-basic{background:url(./logo/bi-foodmerce-basic.png) 0 0/100% no-repeat;width:241px;}
.image-preview .bi-danone-basic{background:url(./logo/bi-danone-basic.png) 0 0/100% no-repeat;width:241px;}
.image-preview .bi-none{background:none;}

/* 수량,파일명 */
.input-box{width:100%;display:flex;flex-wrap:wrap;align-items:center;}
.input-box label{font-size:20px;font-weight:bold;margin:0 10px 0 20px;}
.input-box label:nth-of-type(1){margin-left:10px;}
.image-preview .number{display:none;}
.image-preview .number-show{position:absolute;bottom:40px;right:40px;width:240px;height:240px;background:#8cc63f;font-size:120px;letter-spacing:-8px;font-weight:500;border-radius:100%;display:flex;align-items:center;justify-content:center;overflow:hidden;}
.input{width:60px;height:46px;color:#000;font-size:18px;text-align:center;border-radius:10px;box-shadow:rgba(0, 0, 0, 0.2) 2px 5px 10px;}
.image-preview .number-show::before{content:'X';font-size:80px;margin:5px 10px 0 0;}
.input-name{width:40%;text-align:left;}

/* 이미지박스 */
.image-preview-box{min-width:1000px;margin-left:170px;padding-bottom:40px;}
.image-preview{width:100%;height:100%;display:flex;flex-wrap:wrap;gap:20px 40px;} 
.image-preview.del{display:none;}

.image-preview .img-box{position:relative;padding:130px;width:1000px;height:1000px;background:#fff;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;box-sizing:border-box;align-content:center;} /* overflow:hidden; */
.image-preview .img-box img{display:block;max-width:100%;max-height:100%;background:none;overflow:hidden;}

/* 가로형 전체 */
.image-preview .img-box-row p{position:absolute;top:20px;right:20px;width:100px;height:110px;} 
.image-preview .img-box-row{position:relative;padding:35px;width:640px;height:320px;background:#fff;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;box-sizing:border-box;align-content:center;overflow:hidden;} 
.image-preview .img-box-row:nth-of-type(6) img{max-width:90%;max-height:90%;}
.image-preview .img-box-row img{display:block;max-width:100%;max-height:100%;background:none;overflow:hidden;}
.image-preview .img-box-row .number-show{bottom:20px;right:20px;width:100px;height:100px;font-size:52px;letter-spacing:-4px;}
.image-preview .img-box-row .number-show::before{font-size:36px;margin:5px 4px 0 0;}

/* 체크박스 */
.check-box{position:absolute;top:0;left:-35px;width:30px;height:30px;cursor:pointer;}
