@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20vw;z-index:50}

.event_wrap .p_evt_nav li.on::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0104_seollal/img/0120/m_evt_nav_on.jpg);background-size:200% auto}
.event_wrap .p_evt_nav li:nth-child(2).on::after{background-position-x:100%}

/* page */
.event_wrap .coupon_list{position:absolute;top:36.1111vw;left:0;right:0}
.event_wrap .coupon_list ul{gap:4.4444vw 0}
.event_wrap .coupon_list ul li:first-child{width:100%}
.event_wrap .coupon_item_btn{width:43.3333vw;margin:6.9444vw auto 0}
.event_wrap .info_desc{padding:1.2vw 0 0}
.event_wrap .info_desc span{font-size:3.0556vw;font-weight:600;color:#fff}
.event_wrap .info_desc span::before{content:'';margin:0}
.event_wrap .p_evt_noti{background:#578b48}
