@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:130px;left:850px;right:50px;height:115px}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* page */
.event_wrap .coupon_list{position:absolute;top:233px;left:0;right:0}
.event_wrap .coupon_item_btn{width:312px;margin:50px auto 0}
.event_wrap .info_desc{padding:12px 0 0}
.event_wrap .info_desc span{font-size:18px;font-weight:600;color:#fff}
.event_wrap .info_desc span::before{content:'';margin:0}
.event_wrap .p_evt_noti{background:#3f76f2}
.event_wrap .evt_notice{padding:40px 40px 100px}
