@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR'}

.event_wrap .prd_item_list{position:absolute;top:47.3%;bottom:17%;left:98px;right:98px;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:400px;height:100%;margin-left:24px}
.event_wrap .prd_item_list li:first-child{margin-left:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_sec1 .btn{bottom:90px;left:283px;width:454px;height:106px}
.event_wrap .p_evt_sec2 .prd_item_list{top:233px;bottom:275px}
.event_wrap .p_evt_sec2 .prd_item_list li{width:33.33%;height:49%;margin-left:0}
.event_wrap .p_evt_sec2 .prd_item_list li:nth-child(3) ~ li{height:51%}
.event_wrap .p_evt_sec2 .btn{bottom:115px;left:283px;width:454px;height:106px}