@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;font-family:'notokr'}

.event_wrap .prd_item_list{position:absolute;top:32.4%;bottom:10%;left:0;right:0;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:100%;height:48%}
.event_wrap .prd_item_list li:not(:first-child){margin-top:7%}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}

.event_wrap .m_evt_sec1 .btn{top:91.6%;bottom:4.2%;width:63.6%;margin:0 18.2%}
.event_wrap .m_evt_sec2 .prd_item_list{top:13%;bottom:14.5%;left:5%;right:5%}
.event_wrap .m_evt_sec2 .prd_item_list li{width:50%;height:33.2%}
.event_wrap .m_evt_sec2 .prd_item_list li:not(:first-child){margin-top:0}
.event_wrap .m_evt_sec2 .btn{top:89.3%;bottom:5.5%;width:63.6%;margin:0 18.2%}