@charset "utf-8";

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:49.8%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:33.611vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0404_april_spring/img/evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 100%}

/* button */
.event_wrap .button_list{position:absolute;top:2%;left:5.5%;right:5.5%;bottom:12.6%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .button_list li{width:100%;height:31.4%}
.event_wrap .button_list li a{display:block;width:100%;height:100%}

.event_wrap .item_list{position:absolute;top:18.5%;left:5.5%;right:5.5%;bottom:40.1%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .item_list li{width:50%;height:50%}
.event_wrap .item_list li a{display:block;width:100%;height:100%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:43.61%;bottom:0;left:50%;transform:translateX(-50%);-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:11.388vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:8.333vw;font-family:'PulmuoneLOHAS', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;letter-spacing:-2px;}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.25vw}

.coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-0.35vw;box-sizing:border-box}
.coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:530% auto;background-position:0 22%;content:''}

/* 쿠폰 발급완료 팝업 */
.p_evt_sec1 .is_done{display:none;position:absolute;top:46.666vw;right:5.555vw;left:5.555vw;height:48.611vw;background:rgba(0,0,0,.7);border-radius:6px;pointer-events:none;cursor:not-allowed;text-align:center;z-index:20}
.p_evt_sec1 .is_done p{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;color:#fff;font-size:4.166vw;font-weight:300;line-height:5.972vw;letter-spacing:-0.75px;}
.p_evt_sec1 .is_done p em{color:#21ce40;font-weight:600;}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .evt_notice{padding:40px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#00ca40}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background-position:-24px 0}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti2 .notice_list li{color:#fff}
.event_wrap .noti2 .notice_list li:before{background-color:#fff}
.event_wrap .noti3{background:#e4f5eb}

/* product */
.event_wrap .p_evt_sec2{background:#def3d1}
.event_wrap .product_list{position:relative;padding:0 5.555556%;display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:46.875%;vertical-align:top;border-radius:6px;box-sizing:border-box}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;height:auto;font-size:0;text-align:center}

.event_wrap .product_img{display:block;width:100%}
.event_wrap .product_info{overflow:hidden;display:block;width:100%;padding:12px 2% 25px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;max-height:36px;font-size:15px;font-weight:500;color:#333;line-height:18px;letter-spacing:-.3px;word-break:break-all}
.event_wrap .percent{display:inline-block;margin:6px 2.7777% 0 0;font-size:0}
.event_wrap .percent .num{display:inline-block;font-size:20px;font-weight:600;color:#fe7a28;letter-spacing:-.4px;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:15px;font-weight:600;color:#fe7a28}
.event_wrap .sale{display:inline-block;margin-top:6px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:20px;font-weight:600;color:#111;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:14px;font-weight:600;color:#111}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:3vw 4.44444vw 5vw !important;background:#e4f5eb !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw !important;height:25vw !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#21ce40}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#21ce40 !important;color:#fff !important;line-height:4.66667vw !important}
