@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:100}
.event_wrap .p_evt_nav{padding-top:100px;z-index:100}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0404_april_spring/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-292px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-584px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-876px 0}

/* button */
.event_wrap .button_list{position:absolute;top:6.5%;left:0;right:0;bottom:30%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .button_list li{width:31%;height:100%;}
.event_wrap .button_list li a{display:block;width:100%;height:100%;}

.event_wrap .item_list{position:absolute;top:31.4%;left:0;right:0;bottom:31.2%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .item_list li{width:25%;height:100%;}
.event_wrap .item_list li a{display:block;width:100%;height:100%;}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:266px;bottom:0;left:50%;transform:translateX(-50%);-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 22px 20px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'PulmuoneLOHAS', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;letter-spacing:-2px;}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

/* 쿠폰 발급완료 팝업 */
.p_evt_sec1 .is_done{display:none;position:absolute;top:296px;right:0;left:0;bottom:0;width:100%;height:304px;background:rgba(0,0,0,.7);border-radius:12px;text-align:center;pointer-events:none;cursor:not-allowed;z-index:20}
.p_evt_sec1 .is_done p{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;color:#fff;font-size:26px;font-weight:300;line-height:38px;letter-spacing:-0.75px}
.p_evt_sec1 .is_done p em{color:#21ce40;font-weight:600;}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#fff;content:''}
.event_wrap .evt_notice{padding:80px 0 50px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#00ca40}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti2 .notice_title:before{background-position:-24px 0}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap .noti2 .notice_list li{color:#fff !important}
.event_wrap .noti2 .notice_list li:before{background-color:#fff !important}
.event_wrap .noti3{background:#e4f5eb}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0 0 50px;padding:12px 20px 33px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* product */
.event_wrap .p_evt_sec2{background:#def3d1}
.event_wrap .product_list{display:flex;justify-content:space-between;align-items:stretch;flex-wrap:wrap}
.event_wrap .product_list li{width:280px;vertical-align:top;border-radius:12px}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0;text-align:center}

.event_wrap .product_img{display:block}
.event_wrap .product_img img{margin:0 !important}
.event_wrap .product_info{display:block;min-height:210px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:70px;max-height:70px;font-size:26px;font-weight:500;color:#222;line-height:34px;letter-spacing:-1.5px;word-break:keep-all}
.event_wrap .percent{display:inline-block;margin:15px 12px 0 0;font-size:0}
.event_wrap .percent .num{display:inline-block;font-size:36px;font-weight:600;color:#fe7a28;letter-spacing:-.4px;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:28px;font-weight:600;color:#fe7a28;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:15px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:36px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:500;color:#222}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:180px !important;height:180px !important}
.desktop .fb__event .event__stamp .stamp__action__area{background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#21ce40}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#21ce40 !important;color:#fff !important}

.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}
