@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1168px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec2{background:#eee}

/* product */
.event_wrap .product_item{display:flex;flex-wrap:wrap;justify-content:center;gap:0 48px}
.event_wrap .product_item li{width:520px}
.event_wrap .product_item a{display:block;width:100%;height:100%}
.event_wrap .product_item .inner{position:relative;width:100%;height:100%}

.event_wrap .product_item .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:420px;background:#fff;overflow:hidden}
.event_wrap .product_item .item_thumbnail img{position:relative;width:100%;height:520px;margin:0 !important}
.event_wrap .product_item .item_info{padding:26px 0 56px;color:#000;letter-spacing:-.4px;text-align:center}
.event_wrap .product_item .desc{font-size:24px;font-weight:600;margin-bottom:10px;color:#614f41}
.event_wrap .product_item .name{font-size:28px;line-height:26px;word-break:keep-all;margin-bottom:20px}
.event_wrap .product_item .price_area{display:flex;align-items:center;justify-content:center;font-size:36px}
.event_wrap .product_item .price_area .discount{font-weight:600;color:#f44336;margin-right:20px}
.event_wrap .product_item .price_area .price{font-weight:600}

.event_wrap .product_desc{font-size:16px;color:#999;text-align:center;padding-bottom:100px}
