@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0 !important}
.event_wrap .btn_lnk1{top:0;left:5.5%;right:5.5%;height:33%}
.event_wrap .btn_lnk2{top:93.5%;left:5.5%;right:5.5%;height:6.5%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6667vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe/img/m_evt_nav_on.jpg) no-repeat;background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:100% 0}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;justify-content:space-between;margin:0 5.555vw;padding-bottom:1.3889vw}
.event_wrap .product_list li{width:43.055vw}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{position:relative;display:block;width:100%;height:43.055vw;background:#fff}
.event_wrap .product_list .product_img img{display:block;width:100%;height:100%}
.event_wrap .product_list .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_list .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_list .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-0.4167vw;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .product_list .original{flex-basis:100%}
.event_wrap .product_list .original del{font-size:3.33333vw;color:#999;letter-spacing:-0.4167vw;font-family:'Lato'}
.event_wrap .product_list .sale{display:flex;align-items:center}
.event_wrap .product_list .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-0.4167vw;text-decoration:none;font-family:'Lato'}
.event_wrap .product_list .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .product_list .percent{display:flex;margin-left:1.1vw}
.event_wrap .product_list .percent .num{font-size:4.44444vw;font-weight:600;color:#56c000;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:4.44444vw;font-weight:600;color:#56c000;font-family:'Lato'}

/* coupon */
.event_wrap .coupon_list ul + ul{margin-top:5.5556vw}
.event_wrap .coupon_item.coupon_type2{margin-bottom:7.3611vw}
.event_wrap .coupon_desc{margin-top:1.3889vw}

/* notice */
.event_wrap .evt_notice{padding:9.7222vw 5.5555vw 16.6666vw;background-color:#f0fbd6}

/* page */
.event_wrap .p_evt_sec1{background-color:#f0fbd6}
.event_wrap .p_evt_sec2{background-color:#f4f4f4}

/* button */
.event_wrap .btn_lnk1{top:0;left:5.5555vw;right:5.5555vw;height:11vw}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
