@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:10}
.event_wrap .p_evt_nav{padding-top:100px;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-584px 0}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 29px;margin-left:40px}
.event_wrap .product_list li{width:250px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:250px !important;background:#fff}
.event_wrap .product_list .product_img img{height:100%;margin:0 !important}
.event_wrap .product_list .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:56px}
.event_wrap .product_list .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px}
.event_wrap .product_list .original{flex-basis:100%}
.event_wrap .product_list .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_list .sale{margin-top:4px}
.event_wrap .product_list .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_list .sale .won{font-size:18px;font-weight:500;color:#222;margin-left:-3px}
.event_wrap .product_list .percent{margin:4px 0 0 8px}
.event_wrap .product_list .percent .num{font-size:24px;font-weight:600;color:#56c000;font-family:'Lato'}
.event_wrap .product_list .percent .unit{font-size:24px;font-weight:600;color:#56c000;margin-left:-4px;font-family:'Lato'}

/* coupon */
.event_wrap .coupon_list ul + ul{margin-top:50px}
.event_wrap .coupon_desc{margin-top:40px;padding-bottom:44px}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe/img/p_evt_sec3.jpg) center bottom no-repeat}
.event_wrap .evt_notice{padding-top:0;padding-bottom:248px}

/* page */
.event_wrap .p_evt_sec1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_summer_vibe/img/p_evt_sec2.jpg) center 414px no-repeat}
.event_wrap .p_evt_sec2{background-color:#f4f4f4}

/* button */
.event_wrap .btn_lnk1{top:0;left:245px;right:245px;height:60px}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
