@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* header */
.event_wrap .p_evt_header{background-color:#000}
.event_wrap .p_evt_header ul{display:flex}
.event_wrap .p_evt_header ul li{flex:1}
.event_wrap .p_evt_header ul li a{display:block;padding:3.8889vw 0;font-size:3.6111vw;line-height:4.4444vw;letter-spacing:-0.1vw;font-weight:200;text-align:center;color:#979797;box-sizing:border-box}
.event_wrap .p_evt_header ul li.on a{color:#fff;font-weight:800}

/* nav */
.event_wrap .evt_nav_wrap{display:flex}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;padding:3.8889vw 0;font-size:3.6111vw;line-height:4.4444vw;font-weight:200;letter-spacing:-0.1vw;color:#a7a7a7;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#fff;font-weight:800}

.event_wrap .p_evt_nav .evt_section{background-color:#000}

.event_wrap .p_evt_nav.is_fixed{padding-top:16.6667vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.44444vw;left:0;right:0;z-index:10}

/* button */
.event_wrap .btn_lnk1{top:95%;left:14.5%;right:14.5%;height:5%}
.event_wrap .btn_lnk2{top:49%;left:9%;right:9%;height:8%}
.event_wrap .btn_lnk3{top:82%;left:9%;right:9%;height:8%}

/* 배지 */
.event_wrap .badge_box{position:absolute;top:61.5vw;left:0;width:100%;display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .badge_box > div{width:27.5vw;margin:0 auto}
.event_wrap .badge_box::after{content:'1회';position:absolute;bottom:4.2vw;left:50%;transform:translateX(-50%);width:8.8889vw;height:3.8vw;background:#fff;border:1px solid #d7d7d7;border-radius:100px;font-size:3vw;font-weight:600;line-height:3.8vw;text-align:center;z-index:2;}

/* 장보기 스와이프 */
.event_wrap .slide_wrap_ver1{position:absolute;top:40.1389vw;left:0;right:0;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_wrap_ver1 .slide_list1{display:flex;flex-wrap:nowrap;width:100vw;margin:0}
.event_wrap .slide_wrap_ver1 .slide_list1 li{width:100%;margin:0}

.slide_wrap_ver1 .slide_btn_box1 > button{position:absolute;width:11.1111vw;height:11.1111vw;top:52.5vw;color:#ccc;border:none;cursor:pointer;touch-action:none;font-size:0}
.slide_wrap_ver1 .slide_btn_box1 .slide_btn_prev1{left:3vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_renewal_intro/img/btn_arrow.png) 50% 50%/45% no-repeat}
.slide_wrap_ver1 .slide_btn_box1 .slide_btn_next1{right:3vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_renewal_intro/img/btn_arrow.png) 50% 50%/45% no-repeat;transform:rotate(180deg)}

.slide_wrap_ver1 .slide_pagination1{position:absolute;top:0;left:4.4444vw;display:flex}
.slide_wrap_ver1 .slide_pagination1 .dot1{position:relative;width:auto;height:10.5vw;line-height:10.5vw;border:1px solid #fff;border-radius:100px;padding:0 4.4vw;margin-right:1.1111vw;font-size:3.8889vw;font-weight:600;color:#fff;display:flex;transition:0.3s}
.slide_wrap_ver1 .slide_pagination1 .dot1:nth-child(1):after{content:'할인특가'}
.slide_wrap_ver1 .slide_pagination1 .dot1:nth-child(2):after{content:'알뜰장보기'}
.slide_wrap_ver1 .slide_pagination1 .dot1:nth-child(3):after{content:'골라담아 할인'}
.slide_wrap_ver1 .slide_pagination1 .dot1.dot_active1{background:#fff;color:#333}
.slide_wrap_ver1 .slide_pagination1 .dot1 a{display:block;width:auto;height:100%}

/* 모바일 알림센터 */
.event_wrap .dockbar_wrap{position:absolute;top:40.2778vw;left:11.8056vw;right:11.8056vw;height:140.9722vw}

.event_wrap .dockbar_wrap > div{position:absolute;top:0;left:0}
.event_wrap .dockbar_wrap .dockbar{top:auto;bottom:-1px;z-index:5}

.event_wrap .dockbar_wrap .dockbar_click{top:124.8611vw;left:31.25vw;width:18.4722vw;z-index:6;opacity:0}
.event_wrap .dockbar_wrap .dockbar_click.active{animation:fade 0.7s 0.2s ease-in-out both;opacity:1}

.event_wrap .dockbar_wrap .dockbar_panel{position:relative;overflow:hidden}
.event_wrap .dockbar_wrap .dockbar_panel_inner{position:relative;z-index:2;opacity:0;transition:transform 0.6s 0.6s ease-in-out;transform:translateY(500px)}
.event_wrap .dockbar_wrap .dockbar_panel_inner.active{opacity:1;transform:translateY(0)}

.event_wrap .dockbar_wrap .dockbar_panel_bg{position:absolute;top:0;left:0;right:0;height:100%;background:rgba(0, 0, 0, .5);z-index:1;opacity:0}
.event_wrap .dockbar_wrap .dockbar_panel_bg.active{animation:fade 0.5s 0.7s ease-in-out both;opacity:1}

.event_wrap .dockbar_wrap .dockbar_alarm1{width:91.1111vw;margin-left:-7.3611vw;top:50vw;z-index:4;opacity:0}
.event_wrap .dockbar_wrap .dockbar_alarm1.active{animation:fade 0.6s 1.5s ease-in-out both;opacity:1}

.event_wrap .dockbar_wrap .dockbar_alarm2{width:91.1111vw;margin-left:-7.3611vw;top:86.9444vw;z-index:4}
.event_wrap .dockbar_wrap .dockbar_alarm2.active{animation:fade 0.6s 1.7s ease-in-out both}

.event_wrap .dockbar_wrap .dockbar_alarm_bg{position:absolute;top:0;left:0;right:0;height:100%;background:rgb(0,0,0,.6);background:linear-gradient(180deg, rgba(0,0,0,0.6), rgba(0,0,0,0));z-index:3}
.event_wrap .dockbar_wrap .dockbar_alarm_bg.active{animation:fade 0.6s 1.3s ease-in-out both}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
