@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:22%}
.event_wrap .evt_nav_wrap li:nth-child(2){width:24%}
.event_wrap .evt_nav_wrap li:nth-child(3){width:27%}
.event_wrap .evt_nav_wrap li:nth-child(4){width:27%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.5833vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_healthy_living_all/img/m_evt_nav_on.jpg);background-size:auto 100%}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:292% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:200% 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:100% 0}

/* items_list */
.event_wrap .items_list1{position:absolute;top:7%;left:6%;right:6%;height:75%}
.event_wrap .items_list1 li{width:100%;height:26%}
.event_wrap .items_list1 li:nth-child(-n+2){height:33%}
.event_wrap .items_list1 a{display:block;width:100%;height:100%}

.event_wrap .items_list2{position:absolute;top:10%;left:6%;right:6%;height:89%}
.event_wrap .items_list2 li{width:100%;height:30%}
.event_wrap .items_list2 a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:42.2222vw;left:0;right:0}

/* page */
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:75.9722vw;left:80vw;width:6.9444vw;height:6.3889vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_healthy_living_all/img/object.png) 100%/100% no-repeat}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f07d00}
.event_wrap .noti2{background:#00463c}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:100vw;height:56.25vw;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;background:#f07d00 !important;text-align:center}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:50.5555vw;height:14.4444vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_healthy_living_all/img/m_img_btn.jpg) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
