@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:103px;right:103px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:20%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:310px}
.event_wrap .evt_nav_wrap li:nth-child(2){width:240px}
.event_wrap .evt_nav_wrap li:nth-child(3){width:210px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:10}
.event_wrap .p_evt_nav{padding-top:111px;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_healthy_living_all/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-310px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-550px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-760px 0}

/* items_list */
.event_wrap .items_list1{position:absolute;top:13%;left:8%;right:8%;height:44%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list1 li{width:49%;height:75%}
.event_wrap .items_list1 li:nth-child(-n+2){width:100%;height:53%}
.event_wrap .items_list1 a{display:block;width:100%;height:100%}

.event_wrap .items_list2{position:absolute;top:33%;left:5%;right:5%;height:55%;display:flex}
.event_wrap .items_list2 li{width:33%;height:100%}
.event_wrap .items_list2 a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .copuon_list{position:absolute;top:273px;left:0;right:0}

/* page */
.event_wrap .p_evt_sec5::after{content:'';position:absolute;top:452px;left:50%;width:50px;height:46px;margin-left:168px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_healthy_living_all/img/object.png) no-repeat}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .noti1{background:#f07d00}
.event_wrap .noti2{background:#00463c}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:85px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;min-width:1200px;max-width:1920px;padding:0;background:#f07d00}
.desktop .fb__event .fb__event-comment__join-btn button{width:334px;height:84px;font-size:0;padding:0;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_healthy_living_all/img/p_img_btn.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
