@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:18.0555vw;z-index:50}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1118_amio_winter/img/m_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

.event_wrap .p_evt_sec2{background:#80c342;padding-bottom:11.1111vw}
.event_wrap .info_desc span{color:#59872e}

/* 증정품 소진 */
.event_wrap .soldout{position:absolute;top:44.4444vw;left:50%;transform:translate(-50%, 0);width:44.4444vw;height:44.4444vw;background:rgba(000, 000, 000, 0.45);border-radius:100%;display:flex;align-items:center;justify-content:center;text-align:center;pointer-events:none}
.event_wrap .soldout::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:38.8888vw;height:38.8888vw;background:rgba(000, 000, 000, 0.45);border-radius:100%}
.event_wrap .soldout p{font-size:5vw;font-weight:600;color:#fff;letter-spacing:-.5px;line-height:1.4;z-index:1}
