@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:60}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:80px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1118_amio_winter/img/p_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f5f5f5}

.event_wrap .p_evt_sec2{background:#80c342;padding-bottom:80px}
.event_wrap .info_desc span{color:#59872e}

/* 증정품 소진 */
.event_wrap .soldout{position:absolute;top:70px;right:183px;width:320px;height:320px;background:rgba(000, 000, 000, 0.45);border-radius:100%;display:flex;align-items:center;justify-content:center;text-align:center;pointer-events:none}
.event_wrap .soldout::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:280px;height:280px;background:rgba(000, 000, 000, 0.45);border-radius:100%}
.event_wrap .soldout p{font-size:36px;font-weight:600;color:#fff;letter-spacing:-.5px;line-height:1.2;z-index:1}
