@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;bottom:0}
.event_wrap .btn_lnk2{top:40%;left:14%;right:14%;height:57%}
.event_wrap .btn_lnk3{top:0;left:14%;right:14%;height:95%}
.event_wrap .btn_lnk4{top:0;left:14%;right:14%;height:86.5%}