@charset "UTF-8";
.line__banner { position: relative; width: 100%; max-height: 500px; -webkit-transition: all 0.5s; transition: all 0.5s; }
.line__banner.is-hidden { overflow: hidden; max-height: 0; }
.line__banner-img { width: 100%; }
.line__banner-close { position: absolute; top: 0; bottom: 0; right: 1.3em; margin: auto 0; width: 2.3em; height: 2.3em; background: url("/front/mInclude/img/common/top_banner_close.png"); background-size: 100%; }

.top__btn { position: fixed; display: none; right: 10px; bottom: 60px; z-index: 9999; width: 40px; height: 40px; background: url("/front/mInclude/img/common/top_btn.png"); background-size: 40px 40px; }
.top__btn a { overflow: hidden; display: inline-block; width: 100%; height: 100%; text-indent: -999px; }

.section__header{display:inline-block;position:relative;width:100%;min-height:46px;border-top:1px solid #ededed;border-bottom:1px solid #ededed;background:#fff;text-align:center;vertical-align:middle;line-height:48px}
.section__tit{overflow:hidden;font-size:15px;color:#000;font-weight:700;text-align:center}
.section__tit .back__btn{position:absolute;top:50%;left:10px;width:28px;height:46px;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/back_btn_20200212.png) 50% 50% no-repeat;background-size:50% auto;font-size:0;color:transparent;transform:translate(0,-50%);-webkit-transform:translate(0,-50%)}
.section__header + .prod__slide{border-top:0}
.section__banner img {width:100%;}
.select__title {padding-top: .6em;}
.section.type-fix { padding-top: 38px; box-sizing: border-box; }
.section.type-fix .section__header { position: fixed; top: 0; max-width: 640px; z-index: 300; }
.section__box {position: relative;
    height: 4em;
    border-top: 1px solid #c8c8c8;
    box-sizing: border-box;}
.section__box.type-border { border-top: none; }
.section__box:after { display: block; clear: both; content: ''; }
.section__top { height: 35px; padding: 0px 10px;  margin-bottom: 15px;background-color: #a7b335; color: #fff; }
.section__top:after { display: block; clear: both; content: ''; }
.section__top-tit { display: inline-block; font-size: 15px; font-weight: 700; line-height: 35px; }
.section__top-btn { position: relative; display: inline-block; padding-right: 10px; font-size: 12px; line-height: 35px; }
.section__top-btn:after { position: absolute; top: 0; bottom: 2px; right: 0; display: block; width: 7px; height: 4px; margin: auto 0; background-image: url("/front/mInclude/img/content/top_icon.png"); content: ''; background-size: 7px 4px; }
.section__bottom + .section__top { margin-top: 15px; }

.event__menu {margin-top: 1em; line-height: 2.5em;}
.event__menu:after { display: block; clear: both; content: ''; }
.event__menu-btn { float: left; display: inline-block; width: 50%; border-top: 1px solid #c8c8c8; border-bottom: 1px solid #000; background-color: #f5f5f5; font-size: 1em; color: #999; text-align: center; }
.event__menu-btn:first-child.is-active { width: 50%; border-top: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #fff; background-color: #fff; box-sizing: border-box; color: #000; font-weight: 700; }
.event__menu-btn:last-child.is-active { width: 50%; border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #fff; background-color: #fff; box-sizing: border-box; color: #000; font-weight: 700; }
.event__content { margin-top: 10px; }
.event__content li img {width:100%;}
.event__content-box { margin-top: 10px; padding: 0px 10px; }
.event__content-box:after { display: block; clear: both; content: ''; }
.event__content-item + .event__content-item { margin-top: 10px; border-top: 2px solid #878787; }
.event__content-tit { font-size: 13px; font-weight: 700; }
.event__content-date { margin-top: 10px; font-size: 12px; line-height: 20px; }
.event__announcement { float: right; display: inline-block; width: 93px; height: 20px; font-size: 12px; border: 1px solid #7ab023; color: #7ab023; box-sizing: border-box; line-height: 20px; text-align: center; }
.event__announcement.type-wait { border: 1px solid #c8c8c8; background-color: #f5f5f5; color: #999; }
.event__list { position: relative; overflow: hidden; }
.event__list .main__slide-btn { bottom: 56px; }

.prod__slide { position: relative; overflow: hidden; border: 1px solid #c8c8c8; box-sizing: border-box; }
.prod__slide img {width:100%;}

.detail__header { padding-bottom: 10px; }
.detail__tit {     padding: .7em 0 .7em .7em; font-size: 1.2em; color: #000; border-bottom: 1px solid #c8c8c8; box-sizing: border-box; }
.detail__dl { font-size: 1em; }
.detail__info { padding: 12px 10px; box-sizing: border-box; }
.detail__dt {float: left; width: 28%;padding: .5em 0 .5em .4em;}
.detail__dt.type-line { line-height: 27px; }
.detail__dd { box-sizing: border-box;padding: .5em 0;}
.detail__dd + a { margin-left: 5px; }
.detail__price { position: relative; font-size: 1.8em; color: #000; font-weight: 700; line-height: 27px;}
.detail__price .detail__before { margin-left:.5em; }
.detail__won { font-size: 20px; }
.detail__before { font-size: .7em;color: #999; text-decoration: line-through; font-weight: 400; }
.detail__sale { position: absolute; top: 0; right: .2em; font-size:  1.2em; color: #ff7200; font-weight: 700; font-style: italic; }
.detail__sale span { font-size: 16px; }
.detail__banner + .detail__banner { margin-top: 5px; }
.detail__banner img {width:100%;}
.detail__content-set { position: relative; padding: 0px 10px; box-sizing: border-box; }
.detail__content-set.is-active .prod_set-btn { background: url("/front/mInclude/img/common/prod_set_down.png") no-repeat center center; background-size: 12px 6px; }
.detail__content-set.is-active .content-set__list { height: auto; }
.detail__delivery { margin-top: 10px; padding: 0px 10px; font-size: 11px; }
.detail__content-img img {width:100%;}

/*아코디언1*/
.accordian1_tit { position: relative; font-size: 15px; color: #595959; font-weight: 700; }

.accordian1_tit:after { position: absolute; top: 0; bottom: 0; right: 0; display: inline-block; width: 11px; height: 7px; background: url("/front/mInclude/img/content/accordian_btn.png") 0px -7px; background-size: 11px 14px; margin: auto 0; content: ''; }

.accordian1_item { border-top: 1px solid #c8c8c8; }
.accordian1_item.on .accordian1_tit:after { background-position: 0px 0px; }

.accordian1_item_header { display: table-cell; width: 1%; height: 35px; vertical-align: middle; cursor: pointer; background-color: #eeeeee; }

.accordian1_item_header_wrap { padding: 0px 10px; box-sizing: border-box; }

.accordian1_item_body { display: none; padding: 5px 10px; box-sizing: border-box; }

/*아코디언2*/
.accordian2_tit { position: relative;
    font-size: 1em;
    color: #595959;
    font-weight: normal;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 20px;
    line-height: 20px;
}
.accordian2_tit.review__file:after {    position: absolute;
    right: .5em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(/front/mInclude/img/common/btn_file.png);
    background-size: 100%;
    content: '';}

.accordian2_list { border-bottom: 1px solid #c8c8c8; }

.accordian2_item { border-top: 1px solid #c8c8c8; }
.accordian2_item.on .accordian2_tit:after { background-position: 0px 0px; }

.accordian2_id { display: block; word-break: break-all; }

.accordias2_state { color: #f98c2b; }

.accordian2_date { display: block; }

.accordian2_item_header { padding: 0px 10px; box-sizing: border-box; cursor: pointer; }

.accordian2_item_q p { position: relative; padding-left: 13px; box-sizing: border-box; }
.accordian2_item_q p:before { position: absolute; top: 1px; left: 0; display: inline-block; content: 'Q'; }
.accordian2_item_q + .accordian2_item_a { margin-top: 8px; }

.accordian2_item_a h4 { position: relative; padding-left: 13px; box-sizing: border-box; }
.accordian2_item_a h4:before { position: absolute; top: 1px; left: 0; display: inline-block; content: 'A'; }
.accordian2_item_a h4 + p { margin-top: 8px; }
.accordian2_item_a p { padding-left: 13px; }

.accordian2_table { width:100%; vertical-align: middle; border-spacing: 0; border-collapse: collapse; }
.accordian2_table th { vertical-align: middle; padding: 1em 0; }
.accordian2_table td { vertical-align: middle; padding: 8px 0px; font-size: .9em; }

.accordian2_th { width: auto; }

.accordian2_td1 { width: 60px; }

.accordian2_td2 { width: 80px; }

.accordian2_item_body { display: none; padding: 10px; box-sizing: border-box; border-top: 1px solid #e1e1e1; background-color: #f1ece8;font-size: 1em;
    line-height: 1.5em;}

.accordian2_item_bottom { margin-top: 10px; text-align: right; font-size: 0; }

/*아코디언3*/
.accordian3_tit { position: relative; font-size: 13px; box-sizing: border-box; }
.accordian3_tit strong { color: #000; }

.accordian3_txt { margin-top: 10px; font-size: 12px; box-sizing: border-box; }

.accordian3_tit:after { position: absolute; top: 5px; right: 0; display: inline-block; width: 11px; height: 7px; background: url("/front/mInclude/img/content/accordian_btn.png") 0px -7px; background-size: 11px 14px; margin: auto 0; content: ''; }

.accordian3_item + .accordian3_item { border-top: 1px solid #c8c8c8; }
.accordian3_item.on .accordian3_tit:after { background-position: 0px 0px; }

.accordian3_item_header { position: relative; padding: 12px 10px 12px 40px; box-sizing: border-box; }

.accordian3_item_body { display: none; padding: 10px 10px 10px 40px; box-sizing: border-box; background-color: #f1ece8; }

.accordian3_item_body label { font-size: 12px !important; color: #555; }

.accordian3_prod_item { font-size: 12px !important; color: #555; }

.accordian3_prod_item + .accordian3_prod_item { margin-top: 8px; }

/*아코디언4*/
.accordian4_no { position: absolute; left: 10px; }

.accordian4_date { position: absolute; top: 15px; right: 10px; font-size: 12px; }

.accordian4_tit { padding-left: 35px; font-size: 13px; box-sizing: border-box; }

.accordian4_txt { margin-top: 10px; font-size: 12px; box-sizing: border-box; }

.accordian4_list { border-top: 1px solid #c8c8c8; }

.accordian4_item { border-bottom: 1px solid #c8c8c8; }

.accordian4_item_header { position: relative; font-size: 13px; padding: 12px 10px; box-sizing: border-box; cursor: pointer; }

.accordian4_item_body { display: none; padding: 10px 10px 10px 45px; box-sizing: border-box; background-color: #f1ece8; border-top: 1px solid #e1e1e1; font-size: 13px; }

.accordian4_list.type-notice .accordian4_tit { padding-left: 0px; padding-right: 68px; }
.accordian4_list.type-notice .accordian4_item_body { padding: 10px; }

/*아코디언5*/
.accordian5_tit { position: relative; font-size: 15px; color: #595959; font-weight: 700; }

.accordian5_tit:after { position: absolute; top: 0; bottom: 0; right: 0; display: inline-block; width: 11px; height: 7px; background: url("/front/mInclude/img/content/accordian_btn.png") 0px -7px; background-size: 11px 14px; margin: auto 0; content: ''; }

.accordian5_item { border-top: 1px solid #c8c8c8; }
.accordian5_item.on .accordian5_tit:after { background-position: 0px 0px; }

.accordian5_item_header { display: table-cell; width: 1%; height: 35px; vertical-align: middle; cursor: pointer; background-color: #eeeeee; }

.accordian5_item_header_wrap { padding: 0px 10px; box-sizing: border-box; }

.accordian5_item_body { display: none; }

/*아코디언6*/
.accordian6_item { border-top: 1px solid #c8c8c8; }
.accordian6_item.on .accordian6_tit:after { background-position: 0px 0px; }

.accordian6_item_header_wrap { padding: 0px 10px; box-sizing: border-box; }

.accordian6_item_body { display: none; padding: 5px 10px; box-sizing: border-box; }

.content__wrap { padding: 0% 13px; }
.content__list { margin-top: 12px; }
.content__item + .content__item { margin-top: 4px; }
.content__tit { margin-top: 13px; font-size: 18px; font-weight: 700; color: #000; }

.buytab { padding: 14px 10px 0px 10px; box-sizing: border-box; background-color: #f1ece8; border: 1px solid #c8c8c8; width: 100%; }
.buytab__tit { margin-bottom: 10px; font-size: 12px; }
.buytab__list { overflow: auto; max-height: 150px; }
.buytab__item { position: relative; }
.buytab__item.type-del .buytab__subject { padding-right: 15px; }
.buytab__del { position: absolute; top: 5px; bottom: 0; right: 5px; width: 20px; height: 20px; border: 1px solid #c8c8c8; background: url("/front/mInclude/img/content/file_close.gif") center center; background-size: 19px 19px; box-sizing: border-box; }
.buytab__content { position: relative; max-height: 0px; overflow: hidden; -webkit-transition: all 0.5s; transition: all 0.5s; }
.buytab.is-active .buytab__content { max-height: 600px; }
.buytab.is-active .buytab__open { background-position-y: -11px; }
.buytab.is-active .buytab__btn-list.type-open { display: block; }
.buytab.is-active .buytab__btn-list.type-close { display: none; }
.buytab__wrap { height: auto; }
.buytab__wrap.is-active { height: 350px; }
.buytab__wrap + .buytab__option { margin-top: 5px; }
.buytab__btn-list { padding-bottom: 14px; }
.buytab__btn-list.type-close { display: block; }
.buytab__btn-list.type-open { display: none; }
.buytab__btn-list:after { display: block; clear: both; content: ''; }
.buytab__btn-list.type-soldout .buytab__btn-link { background-color: #f5f5f5; border: 1px solid #c8c8c8; color: #999; box-sizing: border-box; cursor: default; }
.buytab__btn-list.type-multi { margin-left: -6px; }
.buytab__btn-list.type-multi .buytab__btn-item { float: left; width: 36%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-multi .buytab__btn-item:first-child { width: 28%; }
.buytab__btn-list.type-multi .buytab__btn-item:first-child .buytab__btn-link { background-color: #fff; border: 1px solid #fe9821; color: #fe9821; box-sizing: border-box; }
.buytab__btn-list.type-multi .buytab__btn-item .buytab__btn-link { border: 1px solid #fe9821; }
.buytab__btn-list.type-two { margin-left: -6px; }
.buytab__btn-list.type-two .buytab__btn-item { float: left; width: 50%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-two .buytab__btn-item:first-child .buytab__btn-link { background-color: #fff; border: 1px solid #fe9821; color: #fe9821; box-sizing: border-box; }
.buytab__btn-list.type-two .buytab__btn-item .buytab__btn-link { border: 1px solid #fe9821; }
.buytab__btn-list.type-two2 { margin-left: -6px; }
.buytab__btn-list.type-two2 .buytab__btn-item { float: left; width: 72%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-two2 .buytab__btn-item:first-child { width: 28%; }
.buytab__btn-list.type-two2 .buytab__btn-item:first-child .buytab__btn-link { background-color: #fff; border: 1px solid #fe9821; color: #fe9821; box-sizing: border-box; }
.buytab__btn-list.type-two2 .buytab__btn-item .buytab__btn-link { border: 1px solid #fe9821; }
.buytab__btn-list.type-two3 { margin-left: -6px; }
.buytab__btn-list.type-two3 .buytab__btn-item { float: left; width: 28%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-two3 .buytab__btn-item:first-child { width: 72%; }
.buytab__btn-list.type-two3 .buytab__btn-item:first-child .buytab__btn-link { background-color: #fff; border: 1px solid #c8c8c8; color: #999; box-sizing: border-box; cursor: default; }
.buytab__btn-list.type-two3 .buytab__btn-item .buytab__btn-link { border: 1px solid #fe9821; }
.buytab__btn-list.type-two4 { margin-left: -6px; }
.buytab__btn-list.type-two4 .buytab__btn-item { float: left; width: 50%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-two4 .buytab__btn-item .buytab__btn-link { background-color: #fe9821; border: 1px solid #fe9821; color: #fff; box-sizing: border-box; }
.buytab__btn-list.type-two4 .buytab__btn-item .buytab__btn-link { border: 1px solid #fe9821; }
.buytab__btn-list.type-two5 .buytab__btn-item { float: left; width: 50%; padding-left: 6px; box-sizing: border-box; }
.buytab__btn-list.type-two5 .buytab__btn-item .buytab__btn-link { background-color: #f5f5f5; border: 1px solid #c8c8c8; color: #999; box-sizing: border-box; }
.buytab__btn-list.type-two5 .buytab__btn-item .buytab__btn-link { border: 1px solid #c8c8c8; }
.buytab__btn-list.type-two5 .buytab__btn-item .buytab__btn-link.re { background-color: #fe9821; border: 1px solid #fe9821; color: #fff; box-sizing: border-box; }
.buytab__btn-list.type-two5 .buytab__btn-item .buytab__btn-link.re { border: 1px solid #fe9821; }
.buytab__btn-link { display: inline-block; width: 100%; padding: 10px 0px; background-color: #fe9821; color: #fff; font-size: 17px; font-weight: 700; text-align: center; }
.buytab__open { position: absolute; top: -10px; left: 0; right: 0; display: inline-block; margin: 0px auto; width: 40px; height: 11px; background: url("/front/mInclude/img/buytab_btn.png"); background-size: 40px 22px; }
.buytab__item { width: 100%; padding: 10px; box-sizing: border-box; background-color: #fff; border: 1px solid #c8c8c8; }
.buytab__item + .buytab__item { margin-top: 5px; }
.buytab__option { margin-bottom: 8px; }
.buytab__subject { font-size: 13px; color: #000; }
.buytab__box { margin-top: 15px; }
.buytab__box:after { display: block; clear: both; content: ''; }
.buytab__price { float: right; display: inline-block; font-size: 16px; color: #000; font-weight: 700; line-height: 25px; }
.buytab__price-won { font-size: 14px; }
.buytab__total { margin-top: 10px; }
.buytab__total:after { display: block; clear: both; content: ''; }
.buytab__total .counter__wrap { margin-left: 10px; }
.buytab__total-sub { display: inline-block; font-size: 15px; font-weight: 700; vertical-align: bottom; }
.buytab__total-wrap { display: inline-block; float: right; line-height: 27px; }
.buytab__total-subject { display: inline-block; float: left; font-size: 15px; font-weight: 700; line-height: 27px; }
@media only screen and (max-width: 330px) { .buytab__total-subject { font-size: 13px; } }
.buytab__total-price { display: inline-block; color: #fe9821; font-size: 20px; font-weight: 700; }
@media only screen and (max-width: 330px) { .buytab__total-price { font-size: 18px; } }
.buytab__total-price-won { font-size: 18px; }
@media only screen and (max-width: 330px) { .buytab__total-price-won { font-size: 16px; } }

.option__tit { margin-bottom: 10px; font-size: 12px; }

.content-set__wrap { position: relative; height: 62px; margin: 10px 0px; }
.content-set__list { position: absolute; overflow: hidden; width: 100%; height: 62px; transition: all 0.2s; }
.content-set__item + .content-set__item .prod_info { border-top: none; }

.review__wrap { display: table-cell; width: 1%; height: 3.5em; vertical-align: middle; padding: 0px 10px; box-sizing: border-box; }
.review__tit { position: relative; display: inline-block; padding-right: 20px; font-size: 1.3em; color: #555; vertical-align: middle; line-height: 34px; }
.review:after { display: block; clear: both; content: ''; }
.review__btn { float: right; display: inline-block; padding: 7px 10px; border: 2px solid #77a22e; color: #77a22e; font-size: 13px; box-sizing: border-box; text-align: center; font-weight: 700; }
.review__more {display: block;
    width: 100%;
    margin-top: 1em;
    padding: 1em 0;
    border: 1px solid #c8c8c8;
    text-align: center;
    font-size: 1.0em;
}
.review__inquiry { display: block; width: 100%; margin-top: 10px; padding: 7px 0px; border: 2px solid #81b823; color: #77a22e; text-align: center; font-size: 13px; font-weight: 700; }
.review__list { width: 100%; margin-left: -4px; }
.review__list:after { display: block; clear: both; content: ''; }
.review__item { float: left; display: inline-block; width: 33.33%; padding-left: 4px; box-sizing: border-box; }
.review__item-wrap { position: relative; overflow: hidden; width: 100%; height: 0; padding-bottom: 74.4%; }
.review__img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.popup { display: none; position: fixed; top: 0; right: 0; left: 0; margin: auto; z-index: 9999; width: 100%; max-width: 640px; padding: 0px 10px; box-sizing: border-box; }
.popup.type-sns { width: 300px; bottom: 0; height: 120px; background-color: #fff; }
.popup.type-tooltip { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 240px; padding: 30px 0px; font-size: 14px; font-weight: 700; background-color: rgba(0, 0, 0, 0.7); box-sizing: border-box; color: #fff; text-align: center; border-radius: 5px; }
.popup.type-address { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-calendar { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-custom { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-order { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-edit { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-add { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-refund { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-coupon { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-event { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-login { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-message { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup.type-message2 { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.popup__responsive { background-color: #fff; }
.popup__header { position: relative; height: 40px; border-bottom: 1px solid #888888; text-align: center; }
.popup__tit { font-size: 18px; font-weight: 700; line-height: 40px; }
.popup__tit.type-another { font-size: 18px; }
.popup__tit.type-cal { font-size: 15px; }
.popup__sns { padding: 10px 16px; box-sizing: border-box; text-align: justify; }
.popup__sns:after { display: inline-block; width: 100%; content: ''; }
.popup__link { display: inline-block; width: 57px; height: 57px; background: url("/front/mInclude/img/common/sns_icon.png"); background-size: 57px 228px; }
.popup__link.nth-1 { background-position-y: -114px; }
.popup__link.nth-2 { background-position-y: 0px; }
.popup__link.nth-3 { background-position-y: -57px; }
.popup__link.nth-4 { background-position-y: -171px; }
.popup__close { overflow: hidden; position: absolute; top: 0; bottom: 0; right: 10px; width: 13px; height: 13px; margin: auto 0; background: url("/front/mInclude/img/common/sns_close.png"); background-size: 13px 13px; text-indent: -999px; }
.popup__menu { padding: 5px 10px; border-bottom: 1px solid #c8c8c8; }
.popup__menu:after { display: block; clear: both; content: ''; }
.popup__menu-btn { float: left; display: inline-block; padding: 5px; box-sizing: border-box; font-size: 12px; border: 1px solid #c8c8c8; color: #999; background-color: #f5f5f5; }
.popup__menu-btn.is-active { border: 1px solid #fe9821; color: #fe9821; background-color: #fff; }
.popup__menu-btn + .popup__menu-btn { margin-left: 5px; }
.popup__list { overflow: auto; padding-bottom: 10px; box-sizing: border-box; }
.popup__item { position: relative; padding: 1em; border-bottom: 1px solid #c8c8c8; box-sizing: border-box; }
.popup__item-btn { position: absolute; top: 50%; right: 10px; transform: translateY(-50%); padding: 7px 10px; border: 1px solid #c8c8c8; font-size: 12px; color: #555; box-sizing: border-box; line-height: 1; }
.popup__address { font-size: 12px; color: #555; }
.popup__address-box { display: none; }
.popup__address-box.is-active { display: block; }
.popup__calender-list { margin-left: -10px; margin-top: -10px; padding: 10px; box-sizing: border-box; }
.popup__calender-list:after { display: block; clear: both; content: ''; }
.popup__calender-item { float: left; display: inline-block; width: 25%; margin-top: 10px; padding-left: 10px; box-sizing: border-box; font-size: 13px; }
.popup__calender-item.is-active { font-weight: 700; }
.popup__calender-item.is-active .popup__calender-link { border: none; color: #fe9821; background-color: #fff; box-shadow: 1px 1px 0px 2px #fe9821 inset, -1px -1px 0px 2px #fe9821 inset; -webkit-box-shadow: 1px 1px 0px 2px #fe9821 inset, -1px -1px 0px 2px #fe9821 inset; box-sizing: border-box; -webkit-box-sizing: border-box; }
.popup__wrap { padding: 10px; box-sizing: border-box; }
.popup__wrap.type-another { padding-top: 0px; }
.popup__calender-link { display: table-cell; width: 1%; height: 50px; border: 1px solid #c8c8c8; background-color: #f5f5f5; text-align: center; vertical-align: middle; box-sizing: border-box; -webkit-box-sizing: border-box; }
.popup .counter { float: left !important; }
.popup .prod_detail { padding-top: 11px !important; padding-bottom: 11px !important; height: 100px; }
.popup .prod_img img { width: 100px !important; height: 100px !important; }
.popup__box { padding: 10px; box-sizing: border-box; border-top: 1px solid #c8c8c8; }
.popup__info { margin-top: 10px; }
.popup__info__item { position: relative; padding-left: 7px; font-size: 12px; }
.popup__info__item:before { position: absolute; top: 0px; left: 0px; content: '·'; }
.popup__info__item + .popup__info__item { margin-top: 5px; }
.popup__txt { font-size: 13px; }
.popup__header-sub { padding: 10px 0px; text-align: center; border-bottom: 1px solid #c8c8c8; }
.popup__header-sub.type-another { border-bottom: none; }
.popup__sub-tit { font-size: 13px; color: #555; font-weight: 700; }
.popup__sub-txt { margin-top: 6px; font-size: 13px; }
.popup__header-tit { margin: 10px 0px; padding: 10px; border-top: 1px solid #888888; border-bottom: 1px solid #888888; }
.popup__textarea { width: 100%; height: 120px; padding: 9px; border: 1px solid #c8c8c8; color: #555; box-sizing: border-box; }

.tooltip__btn { display: inline-block; margin-top: 10px; padding: 5px 10px; border: 2px solid #fff; box-sizing: border-box; font-size: 13px; }
.tooltip__btn.type-another { float: left; width: 100px; }
.tooltip__btn.type-another + .tooltip__btn { margin-left: 5px; }

.tooltip__date { margin-bottom: 5px; }

.tooltip__wrap { display: inline-block; }

.tooltip__wrap:after { display: block; clear: both; content: ''; }

.popup.type-tooltip .popup__content { position: relative; }

.tooltip__close { overflow: hidden; position: absolute; top: -20px; right: 10px; width: 13px; height: 13px; background: url("/front/mInclude/img/content/tooltip_close.png"); text-indent: -9999px; background-size: 13px 13px; }

.nonmember__tit { font-size: 16px; color: #000; text-align: center; }
.nonmember__box { padding: 15px 10px; box-sizing: border-box; }
.nonmember__box + .nonmember__box { border-top: 1px solid #c8c8c8; }
.nonmember__wrap { padding: 0px 25px; box-sizing: border-box; }
.nonmember__wrap:after { display: block; clear: both; content: ''; }
.nonmember__info { position: relative; margin-top: 15px; padding-left: 8px; font-size: 12px; line-height: 1.4; }
.nonmember__info:before { position: absolute; top: 1px; left: 0px; content: '·'; }
.nonmember__cs { position: relative; padding-right: 15px; }
.nonmember__cs:after { position: absolute; top: -1px; right: 0; display: inline-block; width: 10px; height: 19px; background: url("/front/mInclude/img/common/mobile_icon.png"); background-size: 10px 19px; content: ''; }
.nonmember__benefit-tit { width: 100%; height: 40px; border-top: 2px solid #c8c8c8; background-color: #eeeeee; box-sizing: border-box; font-size: 16px; line-height: 38px; font-weight: 700; text-align: center; }
.nonmember__img { position: relative; padding-left: 67px; box-sizing: border-box; }
.nonmember__img:before { position: absolute; top: 0; left: 0; bottom: 0; display: inline-block; width: 36px; height: 36px; margin: auto 0; background: url("/front/mInclude/img/common/nonmember_icon.png"); background-size: 36px 108px; content: ''; }
.nonmember__img.nth-2:before { background-position-y: -36px; }
.nonmember__img.nth-3:before { background-position-y: -72px; }
.nonmember__item { border-bottom: 1px solid #c8c8c8; }
.nonmember__item-wrap { display: table-cell; width: 1%; height: 85px; padding: 0px 35px; box-sizing: border-box; vertical-align: middle; }
.nonmember__item-tit { font-size: 13px; font-weight: 700; }
.nonmember__item-txt { margin-top: 4px; font-size: 13px; }
.nonmember__list { padding: 10px 25px 0px 25px; box-sizing: border-box; text-align: justify; margin-bottom: -15px; }
.nonmember__list:after { display: inline-block; width: 100%; content: ''; }
.nonmember__icon { position: relative; display: inline-block; font-size: 13px; padding-top: 46px; }
.nonmember__icon:before { position: absolute; top: 0; left: 0; right: 0; display: inline-block; width: 36px; height: 36px; margin: 0 auto; background: url("/front/mInclude/img/common/nonmember_icon.png"); background-size: 36px 108px; content: ''; }
.nonmember__icon.nth-2:before { background-position-y: -36px; }
.nonmember__icon.nth-3:before { background-position-y: -72px; }

.green__btn { display: block; width: 100%; height: 35px; line-height: 33px; color: #77a22e; border: 1px solid #81b823; font-size: 14px; font-weight: 700; text-align: center; box-sizing: border-box; }
.green__btn + .green__btn { margin-top: 5px; }

.input__box + .input__box { margin-top: 5px; }

.employee { padding: 10px 0px; box-sizing: border-box; }
.employee__tit { margin-top: 5px; font-size: 16px; color: #000; font-weight: 700; text-align: center; }
.employee__box { display: none; padding: 0px 35px; box-sizing: border-box; }
.employee__box.is-active { display: block; }
.employee__wrap { margin-top: 10px; }
.employee__wrap:after { display: block; clear: both; content: ''; }

.section-sub__header { padding: 17px 0px; box-sizing: border-box; border-bottom: 1px solid #888888; font-size: 15px; font-weight: 700; color: #000; text-align: center; }
.section-sub__header.type-another { border-bottom: 1px solid #c8c8c8; color: #555; }
.section-sub__box { margin: 10px 0px; padding: 10px; border-top: 1px solid #888888; border-bottom: 1px solid #888888; }

/*etc*/
.etc__menu { padding: 10px; box-sizing: border-box; border-bottom: 1px solid #c8c8c8; }
.etc__menu dl { float: left; display: inline-block; width: 50%; padding-left: 24px; box-sizing: border-box; }
.etc__menu dt { font-size: 13px; font-weight: 700; }
.etc__menu dd { margin-top: 10px; font-size: 13px; }
.etc__menu dd span { display: inline-block; width: 42px; }
.etc__menu dd + dd { margin-top: 5px; }
.etc__menu ol { margin-top: 15px; }
.etc__menu ol li { font-size: 13px; font-weight: 700; }
.etc__menu ol li + li { margin-top: 8px; }
.etc__menu-txt { font-size: 12px; }
.etc__item { margin-left: -24px; }
.etc__item + .etc__item { margin-top: 15px; }
.etc__item:after { display: block; clear: both; content: ''; }
.etc__content-box:last-child { margin-bottom: 5px; }
.etc__content-wrap { margin: 0px -10px; }
.etc__content { padding: 0px 10px; box-sizing: border-box; font-size: 12px; }
.etc__content h2 { margin-top: 20px; color: #77a22e; font-size: 13px; font-weight: 700; }
.etc__content p { margin-top: 15px; }
.etc__content dt { margin-top: 15px; font-weight: 700; }
.etc__content dd { margin-top: 5px; }
.etc__content .etc__counter { counter-reset: clasue_step; }
.etc__content .etc__counter > li { position: relative; padding-left: 15px; }
.etc__content .etc__counter > li:before { display: block; position: absolute; top: 0px; left: 0; counter-increment: clasue_step; content: counter(clasue_step) "."; }
.etc__content .etc__num li { position: relative; padding-left: 15px; }
.etc__content .etc__num li:before { display: block; position: absolute; top: 0px; left: 0; content: ''; }
.etc__content .etc__num li.nth-1:before { content: '①'; }
.etc__content .etc__num li.nth-2:before { content: '②'; }
.etc__content .etc__num li.nth-3:before { content: '③'; }
.etc__content .etc__num li.nth-4:before { content: '④'; }
.etc__content .etc__num li.nth-5:before { content: '⑤'; }
.etc__content .etc__num li.nth-6:before { content: '⑥'; }
.etc__content .etc__num li.nth-7:before { content: '⑦'; }
.etc__content .etc__num li.nth-8:before { content: '⑧'; }
.etc__content .etc__num li.nth-9:before { content: '⑨'; }
.etc__content .etc__num li.nth-10:before { content: '⑩'; }
.etc__content .etc__num li.nth-11:before { content: '⑪'; }
.etc__content .etc__num li.nth-12:before { content: '⑫'; }
.etc__content .etc__num li.nth-13:before { content: '⑬'; }
.etc__content .etc__num li.nth-14:before { content: '⑭'; }
.etc__content ul { margin-top: 2px; }
.etc__content ul li { position: relative; padding-left: 10px !important; }
.etc__content ul li:before { display: block; position: absolute; top: 0px; left: 0; content: '-' !important; }
.etc__table { margin-top: 7px; border-top: 1px solid #c8c8c8; border-spacing: 0; border-collapse: collapse; width: 100%; }
.etc__table tr { border-bottom: 1px solid #c8c8c8; }
.etc__table th { padding: 12px 25px; font-size: 14px; font-weight: 700; background-color: #eeeeee; text-align: left; box-sizing: border-box; }
.etc__table th:last-child { padding-left: 0px; }
.etc__table td { padding: 12px 25px; font-size: 13px; text-align: left; }
.etc__table td:last-child { padding-left: 0px; }

.custom__body .prod_tit { height: 14px !important; -webkit-line-clamp: 1 !important; }

.search__tit { display: inline-block; font-size: 11px; padding: 5px 5px 3px 5px; color: #fff; background-color: #888888; font-weight: 700; }
.search__list:after { display: block; clear: both; content: ''; }
.search__item { position: relative; display: inline-block; float: left; margin-top: 5px; font-size: 12px; }
.search__item:after { margin: 0px 5px; content: '|'; }
.search__item:last-child:after { display: none; }

.recipe__search { padding: 15px 10px; border: 1px solid #c8c8c8; background: url("/front/mInclude/img/content/recipe_bg.jpg") center center; background-size: cover; box-sizing: border-box; text-align: center; }
.recipe__search-tit { font-size: 19px; color: #fff; font-weight: 400; }
.recipe__search-area { margin-top: 10px; }
.recipe__search-box { position: relative; margin-top: 20px; }
.recipe__search-box input::-webkit-input-placeholder { color: #555; }
.recipe__search-box input:-moz-input-placeholder { color: #555; }
.recipe__search-box input::-moz-input-placeholder { color: #555; }
.recipe__search-box input:-ms-input-placeholder { color: #555; }
.recipe__tit { font-size: 16px; color: #000; line-height: 1.5; }
.recipe__tit-sub { font-size: 14px; }
.recipe__list { position: relative; overflow: hidden; margin: 11px -10px 0px; }
.recipe__header { border: 1px solid #c8c8c8; box-sizing: border-box; }
.recipe__info { margin: 5px -10px 0px -10px; padding: 10px; border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; font-size: 13px; box-sizing: border-box; }
.recipe__box { padding: 10px; box-sizing: border-box; }
.recipe__content { padding: 7px 10px 15px 10px; font-size: 13px; }

.story__bg { display: block; overflow: hidden; position: absolute; top: -1px; left: -1px; width: 100%; height: 100%; padding: 1px; z-index: 60; background-color: rgba(255, 255, 255, 0.7); text-indent: -999px; }
.story__box { display: none; margin-top: 10px; }
.story__box.is-active { display: block; }
.story__list { overflow: hidden; width: 130% !important; }
.story__zoom { display: none; text-align: center; }
.story__zoom.is-active { display: block; }
.story__zoom-img { width: 100%; }
.story__header { position: relative; border-top: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; box-sizing: border-box; color: #555555; background-color: #f1ece8; }
.story__header:after { display: block; clear: both; content: ''; }
.story__header-wrap { padding-left: 83px; }
.story__bi { position: absolute; top: 0px; left: 0; width: 70px; height: 70px; border-right: 1px solid #c8c8c8; }
.story__bi img { width: 100%; }
.story__tit { font-size: 19px; }
.story__txt { display: table-cell; width: 1%; height: 70px; font-size: 13px; padding-right: 12px; vertical-align: middle; box-sizing: border-box; }
.story__link { overflow: hidden; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-indent: -9999px; }
.story__content { overflow: hidden; padding: 10px 10px 5px 10px; }
.story__item-box { border: 1px solid #c8c8c8; }
.story__item-txt { padding: 5px; box-sizing: border-box; border-top: 1px solid #c8c8c8; color: #000; font-size: 13px; font-weight: 700; }

.storyP__wrap { display: table; width: 100%; height: 80%; }
.storyP__box { display: table-cell; width: 1%; vertical-align: middle; }
.storyP__list { margin-top: 10px; }
.storyP__item { position: relative; width: 100%; height: 0; overflow: hidden; padding-bottom: 69.44%; color: #fff; }
.storyP__item.nth-1 .storyP__bg { background: url("/front/mInclude/img/story/storyP_banner1.jpg") no-repeat center center; background-size: cover; }
.storyP__item.nth-2 .storyP__bg { background: url("/front/mInclude/img/story/storyP_banner2.jpg") no-repeat center center; background-size: cover; }
.storyP__item.nth-3 .storyP__bg { background: url("/front/mInclude/img/story/storyP_banner3.jpg") no-repeat center center; background-size: cover; }
.storyP__item.nth-4 { top: -1px; }
.storyP__item.nth-4 .storyP__bg { background: url("/front/mInclude/img/story/storyP_banner4.jpg") no-repeat center center; background-size: cover; }
.storyP__item.type-another { color: #333; }
.storyP__item.type-another .storyP__sub-txt:after { background-position-y: 0px; }
.storyP__bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 10px; box-sizing: border-box; }
.storyP__txt { display: inline-block; vertical-align: middle; font-size: 14px; line-height: 1.7; }
.storyP__txt.shoadow { text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.29); }
.storyP__sub-txt { font-size: 12px; }
.storyP__sub-txt:after { display: inline-block; width: 5px; height: 12px; margin-left: 5px; background: url("/front/mInclude/img/story/story_btn.png"); content: ''; background-size: 5px 24px; vertical-align: middle; background-position-y: -12px; }
.storyP__sub-txt.shoadow { text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.29); }

.swiper-slide-active .story__bg { display: none; }

.fullpass__prod { border-top: 1px solid #c8c8c8; }

.notice__list { margin-top: 10px; border-top: 1px solid #c8c8c8; }
.notice__item { padding: 10px; border-bottom: 1px solid #c8c8c8; box-sizing: border-box; font-size: 13px; }
.notice__txt { overflow: hidden; margin-top: 3px; text-overflow: ellipsis; white-space: nowrap; }
.notice__tit { color: #000; font-weight: 700; }
.notice__date { margin-top: 8px; }


.videowrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 비율인 경우 */
/* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
padding-top: 25px;
height: 0;
}

.videowrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/* 모바일 장바구니 바로가기 통일 작업 20180523 김희규 START */
.cart_popupwrap { display: none; position: fixed; z-index: 9999; top: 25%; left: 2.7777%; margin-top: auto; width: 94.4444%; height: auto; max-height: 90%; overflow: auto; overflow-y: auto; -webkit-overflow-scrolling: touch; font-family: '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif; letter-spacing: -0.5px; background: #fff; }
.cart_popupwrap img { width: 100%; height: auto !important; vertical-align: bottom; }
.cart_popup_header { height: 3rem; position: relative; }
.cart_popup_btn_close { position: absolute; padding: 0; top: 34.0909%; right: 3.0555%; width: 4.1666%; border: none; background: none; outline: 0; cursor: pointer; }
.cart_popup_contents { padding: 1rem 0 4rem 0; border-bottom: 1px solid #e1e1e1; }
.cart_popup_contents_text { text-align: center; margin-top: 1rem; font-size: 1.2rem; line-height: 1.6rem; }
.cart_popup_bottom_btn { width: 94.0397%; margin: 0 auto; padding: 1.3rem 0; }
.cart_popup_bottom_btn::after { content: ""; display: block; clear: both; }
.btn_common_bottom { float: left; padding-top: 0.1rem; margin-right: 3%; display: block; width: 47%; height: 3.5rem; line-height: 3.5rem; text-align: center; font-size: 1.2rem; font-weight: bold; color: #fff; text-decoration: none; background: #81b53a; border: 2px solid #81b823; }
#btn_goShopping { margin-right: 0; background: #fff !important; color: #77a22e !important; }
.cart_popup_mask { display: none; z-index: 301; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: #000; opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" }
/* 모바일 장바구니 바로가기 통일 작업 20180523 김희규 END */