.cs__box { padding: 10px 0px; box-sizing: border-box; }
.cs__body { margin-top: 10px; }
.cs__header { font-size: 14px; font-weight: 700; border-top: 1px solid #c8c8c8; }
.cs__header .accordian4_tit { text-align: center; }
.cs__search { position: relative; margin-bottom: 10px; padding: 0px 10px; box-sizing: border-box; }
.cs__search-input { display: inline-block; width: 100%; padding-right: 50px; box-sizing: border-box; }
.cs__btn { position: absolute; top: 0; right: 10px; }