.custom__header { padding: 15px 10px; font-size: 13px; }
.custom__body { padding: 10px; box-sizing: border-box; }
.custom__list { margin-left: -5px; margin-top: -5px; }
.custom__list.type-two .custom__item { width: 50%; }
.custom__list.type-two2 .custom__item { width: 50%; }
.custom__list.type-two2 .custom__link { height: 30px; }
.custom__list.type-three .custom__item { width: 33.33%; }
.custom__list:after { display: block; clear: both; content: ''; }
.custom__item { float: left; display: inline-block; margin-top: 5px; padding-left: 5px; box-sizing: border-box; }
.custom__link { display: table-cell; width: 1%; height: 50px; border: 1px solid #c8c8c8; box-sizing: border-box; background-color: #f5f5f5; vertical-align: middle; text-align: center; font-size: 14px; color: #999; }
.custom__link.is-active { border: 1px solid #fe9821; color: #fe9821; font-weight: 700; background-color: #fff; box-shadow: 1px 1px 0px 0px #fe9821 inset, -1px -1px 0px 0px #fe9821 inset; -webkit-box-shadow: 1px 1px 0px 0px #fe9821 inset, -1px -1px 0px 0px #fe9821 inset; }
.custom__link.is-active-on { border: 1px solid #fe9821; color: #fff; font-weight: 700; background-color: #fe9821; box-shadow: 1px 1px 0px 0px #fe9821 inset, -1px -1px 0px 0px #fe9821 inset; -webkit-box-shadow: 1px 1px 0px 0px #fe9821 inset, -1px -1px 0px 0px #fe9821 inset; }
.custom__prod { padding: 10px; border-top: 1px solid #888888; box-sizing: border-box; }
.custom__prod-list { margin-top: -5px; margin-left: -5px; }
.custom__prod-list:after { display: block; clear: both; content: ''; }
.custom__prod-item { float: left; display: inline-block; width: 33.33%; margin-top: 5px; padding-left: 5px; box-sizing: border-box; }
.custom__tit { padding: 10px 0px; box-sizing: border-box; }
.custom__total { border-top: 1px solid #888888; }
.custom__total-wrap { display: table-cell; width: 1%; padding: 0px 10px; height: 50px; vertical-align: middle; }
.custom__total-wrap:after { display: block; clear: both; content: ''; }
.custom__subject { float: left; display: inline-block; font-size: 14px; line-height: 26px; font-weight: 700; }
.custom__money { float: right; display: inline-block; font-size: 20px; color: #f98c2b; font-weight: 700; }
.custom__money span { font-size: 18px; }
.custom__wrap { padding: 10px 10px 0px 10px; box-sizing: border-box; }