@charset "UTF-8";
/*헤더*/
.header-fix { position: relative; }

/* 20190306 수정 start */
.header {overflow: hidden;position: relative;height: 5em;/* width: 100%; */background-color: #fff;text-align: left;}
.header__menu-btn { position: absolute; top: .5em; padding: 1.2em 1.3em; z-index: 50; }
.header__menu-bar {height: .22em; width: 2.3em;background:#11491a; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s;border-radius: .2em; }
.header__menu-bar + p { margin-top: 5px; }
.header__logo { position: absolute; z-index: 50; display: inline-block; width: 2.4em;  height: 2.7em; margin-left: 2.1em; background-image: url("https://www.pulmuoneshop.co.kr/front/mInclude/img/logo.png"); background-repeat: no-repeat; background-size: 100%; background-position: center center; }
.header__logo a {display: block;
    width: 2em;
    height: 2em;
    text-indent: -9999px; }
.header__search {position: absolute;/* left: 0; */display: inline-block;padding:1em 0 0 10em;box-sizing: border-box;}
.header__search .input1 { padding-right: 25px; box-sizing: border-box; }
.header__search-wrap {position: relative;left: 2em;height: 80%!important;}
.header__search-wrap:after{display:block;position:absolute;bottom:0;left:0;width:65%;height:3px;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/bg_green_bar1.png) repeat-x bottom;background-size:auto 3px;content:""}
.header__search-btn { position: absolute;  top: .5em; right: 7.7em; display: inline-block; width: 2em; height: 2em; background: url(https://www.pulmuoneshop.co.kr/front/mInclude/img/search_btn1.png) no-repeat center left; background-size: 100%;  text-indent: -9999px; }
.header__search-close { display: none; position: absolute; top: .2em; right: 8.2em; width: 1em; height: 2.5em; background: url(https://www.pulmuoneshop.co.kr/front/mInclude/img/search_close.png) no-repeat center center; background-size: 100%;  text-indent: -9999px;}
.header__after { display: block; clear: both; content: ''; }
.header__input {border-color: transparent!important;}
/*.header__gnb { border-bottom: 1px solid #a5a5a5; }*/

.basket__btn {position: relative;display: inline-block;float: right;margin-right: 1em;width: 2.6em;margin-top: 1.4em;}
.basket__btn img {width: 3em;height: 100%;}
.basket__num { position: absolute; display: inline-block; top: -0.45em;  left: -.5em;  width: 1.8em; height: 1.8em; background-color: #fe9821;  border-radius: 200px;  font-size: 1em;  color: #fff; line-height: 2em;  text-align: center;}
/* 20190306 수정 end */

.gnb__wrap li a, .hero__list__item-over a { display: block; width: 100%; height: 100%; }

.gnb { position: fixed; overflow-y:auto;top: 0; bottom: 0; left: -100%; height: 100%; width: 100%; z-index: 999; transition: all 0.3s; -webkit-transition: all 0.3s; }
.gnb.is-active { left: 0; }
.gnb__wrap { position: absolute; width: 100%; }
.gnb__1depth { border-bottom: 1px solid #e4e4e4; }
.gnb__1depth-list{font-size:14px;color:#1b1b1b;font-weight:bold;border-top:1px solid #e4e4e4;box-sizing: border-box}
.gnb__1depth-list.on{color:#619f10}
.gnb__1depth-list a{position:relative;height:40px;line-height:40px}
.gnb__1depth-list a:after{position:absolute;top:50%;right:20px;width:10px;height:6px;margin:-3px auto 0;background: url(https://www.pulmuoneshop.co.kr/front/mInclude/img/menu_btn.png);background-size:100% auto;content:'';}
.gnb__1depth-list.on a:after{transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.gnb__1depth-cont { background-color: #63ade7; color: #fff; border-bottom: none; }
.gnb__1depth-cont > a:before { display: none; }
.gnb__1depth-cont > a:after { display: none; }
.gnb__1depth .on > a:after { background-position: 0px 0px; }
.gnb__1depth .on .gnb__icon { background-position-x: 100%; }
.gnb__2depth { display: none; background-color: #f1ece8; border-top: 1px solid #e1e1e1; }
.gnb__2depth li{border-bottom:1px solid #e1e1e1;background-color:#f5f5f5;font-size:12px;text-align:center}
.gnb__2depth li a { float: left; display: inline-block; width: 50%; padding: 1em; border-right: 1px solid #e1e1e1; box-sizing: border-box; }
.gnb__2depth li a + a { border-right: none; }
.gnb__2depth li:after { display: block; clear: both; content: ''; }
.gnb__2depth li:last-child { border-bottom: none; }
.gnb__2depth:after { display: block; clear: both; content: ''; }
.gnb__content { margin-right: 3.2em; background-color: #fff; }

/*
.gnb__icon { float: left; display: inline-block; width: 2.8em; height: 2.7em; background: url("https://www.pulmuoneshop.co.kr/front/mInclude/img/menu_icon.png") no-repeat; background-size: 201%; text-indent: -999px;margin-right: .8em;}
.gnb__icon.nth-002 { background-position-y: 12%; }
.gnb__icon.nth-003 { background-position-y: 23%; }
.gnb__icon.nth-004 { background-position-y: 33%; }
.gnb__icon.nth-005 { background-position-y: 45%; }
.gnb__icon.nth-006 { background-position-y: 56%; }
.gnb__icon.nth-007 { background-position-y: 67%; }
.gnb__icon.nth-008 { background-position-y: 78%; }
.gnb__icon.nth-009 { background-position-y: 89%; }
.gnb__icon.nth-010 { background-position-y: 100%; }
*/
/* [S] 카테고리 개편 */
.gnb__icon{display:inline-block;width:40px;height:40px;background:url("https://www.pulmuoneshop.co.krhttps://www.pulmuoneshop.co.kr/front/mInclude/img/menu_icon-20200212.png") no-repeat;background-size:200% auto;font-size:0;color:transparent;vertical-align:top}
.gnb__icon.nth-011{background-position:0 0}
.gnb__icon.nth-012{background-position:0 -40px}
.gnb__icon.nth-013{background-position:0 -80px}
.gnb__icon.nth-014{background-position:0 -120px}
.gnb__icon.nth-015{background-position:0 -160px}
.gnb__icon.nth-016{background-position:0 -200px}
.gnb__icon.nth-017{background-position:0 -240px}
.gnb__icon.nth-018{background-position:0 -280px}
.gnb__icon.nth-019{background-position:0 -320px}
.gnb__icon.nth-020{background-position:0 -360px}
.gnb__icon.nth-021{background-position:0 -400px}
.gnb__icon.nth-022{background-position:0 -440px}
.gnb__icon.nth-023{background-position:0 -480px}
.gnb__icon.nth-024{background-position:0 -520px}
.gnb__icon.nth-025{background-position:0 -560px}
.gnb__1depth .on .gnb__icon.nth-011{background-position:-40px 0}
.gnb__1depth .on .gnb__icon.nth-012{background-position:-40px -40px}
.gnb__1depth .on .gnb__icon.nth-013{background-position:-40px -80px}
.gnb__1depth .on .gnb__icon.nth-014{background-position:-40px -120px}
.gnb__1depth .on .gnb__icon.nth-015{background-position:-40px -160px}
.gnb__1depth .on .gnb__icon.nth-016{background-position:-40px -200px}
.gnb__1depth .on .gnb__icon.nth-017{background-position:-40px -240px}
.gnb__1depth .on .gnb__icon.nth-018{background-position:-40px -280px}
.gnb__1depth .on .gnb__icon.nth-019{background-position:-40px -320px}
.gnb__1depth .on .gnb__icon.nth-020{background-position:-40px -360px}
.gnb__1depth .on .gnb__icon.nth-021{background-position:-40px -400px}
.gnb__1depth .on .gnb__icon.nth-022{background-position:-40px -440px}
.gnb__1depth .on .gnb__icon.nth-023{background-position:-40px -480px}
.gnb__1depth .on .gnb__icon.nth-024{background-position:-40px -520px}
.gnb__1depth .on .gnb__icon.nth-025{background-position:-40px -560px}
/* [E] 카테고리 개편 */

.gnb__menu { height: 3em; line-height: 3em; font-size: 1.2em; background-color: #37987a; color: #fff; text-align: center; }	/* 19.03.11 수정 */
/* .gnb__menu { height: 3em; line-height: 3em; font-size: 1.2em; background-color: #00400f; color: #fff; text-align: center; } */
.gnb__menu-item { float: left; display: inline-block; width: 33.33%; line-height: 3em;}
.gnb__menu-item:nth-child(2) { position: relative; }
.gnb__menu-item:nth-child(2):before { position: absolute; left: 0; top: 1px; bottom: 0; margin: auto 0; width: 0; height: 11px; border-left: 1px solid #909491; content: ''; }
.gnb__menu-item:nth-child(2):after { position: absolute; right: 0; top: 1px; bottom: 0; margin: auto 0; width: 0; height: 11px; border-left: 1px solid #909491; content: ''; }
.gnb__tit { margin-top: 1em; font-size: 1.4em; color: #000; font-weight: 700; }
.gnb__menu-list:after { display: block; clear: both; content: ''; }
.gnb__best { padding: 0px 15px; box-sizing: border-box; }
.gnb__best-list { margin-top: 10px; margin-left: -8px; }
.gnb__best-list:after { display: block; clear: both; content: ''; }
.gnb__best-item { float: left; width: 33.33%; padding-left: 8px; box-sizing: border-box; text-align: center; }
.gnb__best-item img { width: 100%; max-width: 200px; border: 1px solid #c8c8c8;}
.gnb__best-link { border: 1px solid #c8c8c8; }
.gnb__list { margin-top: 20px; }
.gnb__box { margin-top: 10px; }
.gnb__btn {overflow: hidden; position: absolute; top: .2em;right: .4em; display: inline-block; width: 2.4em;height: 2.4em; z-index: 999; background: url(https://www.pulmuoneshop.co.kr/front/mInclude/img/close_btn.png) no-repeat center center; background-size: 100%; text-indent: -999px;}
.gnb__footer { padding: 16px 0px; text-align: center; }
.gnb__link {display: inline-block; width: 11.5em; height: 2em; background-color: #37987a; color: #fff;  font-size: 1em; line-height: 2em;}		/* 19.03.11 수정 */
/* .gnb__link {display: inline-block; width: 11.5em; height: 2em; background-color: #00400f; color: #fff;  font-size: 1em; line-height: 2em;} */
.gnb__center { position: relative; display: inline-block; padding-right: 12px; }
.gnb__center:after { position: absolute; top: .4em;right: -.5em; display: block; width: .6em; height: 1.1em; background: url(https://www.pulmuoneshop.co.kr/front/mInclude/img/gnb_icon.png); background-size: 100%;  content: '';}
.gnb__num { display: inline-block; width: 25px; height: 18px; margin-left: 6px; background-color: #fe9821; border-radius: 10%; font-size: 14px; color: #fff; line-height: 18px; text-align: center; vertical-align: middle; }

/*검색*/
.search-bar { overflow: auto; position: fixed; top: 0px; right: 0; bottom: 0; z-index: 999; width: 0%; height: 100%; box-sizing: border-box; padding-left: 0px; transition: width 0.3s; -webkit-transition: width 0.3s; background-color: #fff; background-clip: content-box; }
.search-bar.is-active { padding-left: 30px; width: 100%; }
.search-bar__list { overflow: auto; max-height: 365px; padding: 5px 10px; padding: 5px 10px; box-sizing: border-box; }
.search-bar__wrap { position: relative; width: 100%; box-sizing: border-box; }
.search-bar__area { width: 100%; height: 100%; padding: 10px; background-color: #fff; box-sizing: border-box; }
.search-bar__header { position: relative; }
.search-bar__content { margin-top: 10px; }
.search-bar__item + .search-bar__item { margin-top: 15px; }

.search-layer { display: none; position: absolute; top: 4.3em; width: 100%; border-top: 1px solid #888888; background-color: #fff; z-index: 180; }
.search-layer__box { padding: 12px 10px; box-sizing: border-box; border-bottom: 1px solid #c8c8c8; }
.search-layer__tit { font-size: 14px; color: #000; font-weight: 700; }
.search-layer__item { border-bottom: 1px solid #e1e1e1; }
.search-layer__link { display: block; padding: 1.2em 1em; font-size: 13px; box-sizing: border-box;}
.search-layer__point { color: #f98c2b; }

/*푸터*/
.footer {position: absolute;right: 0;bottom: 0px;left: 0;background-color: #4baa8d;text-align: center;padding-top: 11px;padding-bottom: 51px;}
.footer.is-active { margin-bottom: 50px; }
.footer__wrap { padding: 0px 20px; box-sizing: border-box; }
.footer__menu1 {background-color: #eff7f5;color: #555;font-weight: 700;}
.footer__menu1-list {vertical-align: middle; box-sizing: border-box;}
.footer__menu1-list:after { display: block; clear: both; content: ''; }
.footer__menu1-link { font-size: 1em; }
.footer__menu1-item {  float: left; width: 25%;box-sizing: border-box; vertical-align: middle;text-align: center;padding: .8em 0;}
.footer__menu2 { color: #164614; font-weight: 700; }
.footer__menu2-list { padding: 1em 0; vertical-align: middle; box-sizing: border-box; }
.footer__menu2-list:after { display: block; clear: both; content: ''; }
.footer__menu2-link { font-size: 1em; }
.footer__menu2-item {position: relative;display: inline-block;padding: 0px 10px;color: #ffffff;}
.footer__menu2-item + li:before { position: absolute; top: 3px; bottom: 0; left: 0; width: 0; height: 9px; margin: auto 0; border-left: 1px solid #eaeddc; content: ''; }
.footer__menu2-item:first-child { padding-left: 0px; }
.footer__menu2-item:last-child { padding-right: 0px; }
.footer__txt {display: inline-block;font-size: .8em;color: #ffffff;}

.footer-fix { display: block; position: fixed; bottom: -50px; z-index: 300; transition: all 1s; -webkit-transition: all 1s; }
.footer-fix.is-active { bottom: 0; }
.footer-fix__list {display: table-cell;width: 1%;height: 50px;vertical-align: middle;text-align: center;background-color: #37987a;font-size: 12px;color: #fff;}
.footer-fix__list:after { display: block; clear: both; content: ''; }
.footer-fix__item { float: left; width: 33.333334%; line-height: 1; }
.footer-fix__link { display: block; width: 100%; height: 100%; }
.footer-fix__link:before { display: block; width: 27px; height: 19px; margin: 0px auto 5px; background: url("https://www.pulmuoneshop.co.kr/front/mInclude/img/footer_icon.png"); background-size: 27px 76px; content: ''; }
.footer-fix__link.nth-2:before { background-position: 0px -19px; }
.footer-fix__link.nth-3:before { background-position: 0px -38px; }
.footer-fix__link.nth-4:before { background-position: 0px -57px; }
.white { display: none; position: absolute; z-index: 100; top: 0px; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.7); }

.black { display: none; position: fixed; z-index: 150; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.3); }

/*--------- 20180328: top 바로가기 버튼 추가  --------*/
.btn-top { position: fixed; right: 0.9rem; bottom: 6.2rem; z-index: 301; }
.btn-top button { display: block; width: 100%; padding: 0; background: none; border: none; outline: none; cursor: pointer;  }
.btn-top button img {width: 4.1rem; height: 4.1rem; }


/* ios safe area */
.footer-fix .footer-fix__list,
.buyfix .buytab{padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom)}
