@charset "UTF-8";

.lohas__wrap{padding-bottom:110px}
/* uio */
.lohas-life .title:after,
.lohas-group .item-name:after{overflow:hidden;display:block;width:1px;height:1px;font-size:1px;color:transparent;background:url(https://pulmuoneshop.co.kr/front/mInclude/img/lohas/sp_arrow.png) 0 0 no-repeat;background-size:21px auto;content:''}

/* theme */
.lohas__wrap .lohas-theme{overflow:hidden;position:relative}
.lohas-theme .theme-swiper{font-size:0;white-space:nowrap}
.lohas-theme .theme-swiper.disabled{transform:translate3d(0px,0,0) !important}
.lohas-theme .theme-slide{overflow:hidden;display:inline-block;width:100%;height:100%;vertical-align:middle}
.lohas-theme .theme-slide:after{display:inline-block;width:0;height:100%;vertical-align:middle;content:''}
.lohas-theme .theme-slide a{display:block;width:100%;height:100%}
.lohas-theme .theme-slide img{display:block;width:100%}
.lohas-theme .swiper-pagination{position:absolute;left:10.416667%;bottom:39.9%;margin:0 -3px;padding:7px 0;font-size:0}
.lohas-theme .swiper-pagination.disabled{display:none}
.lohas-theme > .swiper-pagination-bullets .swiper-pagination-bullet{width:10px;height:10px;margin:0 3px;background:#000;opacity:.2}
.lohas-theme > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fff}

/* life */
.lohas__wrap .lohas-life{position:relative;margin-top:-30px;border-radius:30px;background:#fff;text-align:center}
.lohas-life .lohas-headline{width:270px;height:21px;margin:0 auto;padding-top:43px}
.lohas-life .lohas-headline span{display:block;width:100%;height:100%;color:transparent;background:url(https://pulmuoneshop.co.kr/front/mInclude/img/lohas/lohas_title.png) 0 0 no-repeat;background-size:100% auto}
.lohas-life .life__tab-list{overflow:hidden;margin-top:15px;padding:0 11.66667%;font-size:0}
.lohas-life .life__tab-item{display:inline-block;width:33.33334%}
.lohas-life .life__tab-item a{display:block;width:100%;height:100%}
.lohas-life .icon{display:block;width:62px;margin:0 auto}
.lohas-life .icon img{width:100%}
.lohas-life .title{display:block;font-size:13px;color:#8b8b8b}
.lohas-life .title:after{width:11px;height:11px;margin:3px auto 0;background-position:0 100%}

/* product banner */
.lohas-group{padding-top:40px}
.lohas-group .lohas-banner__wrap{padding:0 5.55555%}
.lohas-group .lohas-banner__wrap a{display:block;width:100%;height:100%}
.lohas-group .lohas__content{position:relative}
.lohas-group .item-title{overflow:hidden;display:block;width:100%;border-radius:28px}
.lohas-group .item-title img{width:100%}
.lohas-group .item-name{position:absolute;left:6.25%;bottom:11.243243%;font-size:13px;color:#fff}
.lohas-group .item-name em{display:block;font-style:normal;font-weight:700}
.lohas-group .item-name:after{width:21px;height:9px;margin-top:6px;background-position:0 0}

/* product list */
.lohas-product__wrap{overflow:hidden;position:relative;margin:15px 0 18px;padding-left:5.55555%;background-color:#fff}
.lohas-product__wrap .frame{overflow:hidden}
.lohas-product__wrap .lohas-product__list{font-size:0;white-space:nowrap}
.lohas-product__wrap .lohas-product__item{overflow:hidden;display:inline-block;width:145px;height:auto;padding-right:15px}
.lohas-product__wrap .lohas-product__item a{display:block;position:relative;width:100%;height:100%;background:#fff}
.lohas-product__wrap .product-thumb{display:block;position:relative;width:100%;padding-top:100%}
.lohas-product__wrap .product-thumb .img{overflow:hidden;position:absolute;top:0;left:0;width:145px;height:145px;text-align:center;white-space:nowrap;border-radius:5px}
.lohas-product__wrap .product-thumb .img:before{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.04;content:''}
.lohas-product__wrap .product-thumb .img:after{display:inline-block;width:0;height:100%;vertical-align:middle;content:''}
.lohas-product__wrap .product-thumb img{max-width:100%;max-height:100%;vertical-align:middle}
.lohas-product__wrap .product-info{display:inline-block;position:relative;width:100%;height:104px;max-height:100%;-webkit-box-sizing:border-box;box-sizing:border-box}
.lohas-product__wrap .product-info .name{overflow:hidden;display:block;display:-webkit-box;-webkit-box-orient:vertical;min-height:40px;max-height:40px;margin-top:14px;font-size:14px;font-weight:600;color:#212121;line-height:1.45;letter-spacing:-.5px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-sizing:border-box;box-sizing:border-box;;word-wrap:break-word;white-space:normal}
.lohas-product__wrap .product-info .original{display:block;margin-top:10px;font-size:0;color:#bcbcbc}
.lohas-product__wrap .product-info .sale{position:absolute;left:0;bottom:0;font-size:0;color:#212121}
.lohas-product__wrap .product-info .won{display:inline-block;font-size:15px}
.lohas-product__wrap .product-info del{display:inline-block;font-size:15px;font-weight:300}
.lohas-product__wrap .product-info ins{display:inline-block;text-decoration:none;font-size:17px;font-weight:700;vertical-align:-1px;line-height:17px}
