.login__box { overflow: hidden; height: 3em; line-height: 3em; padding:0 1.5em; box-sizing: border-box; }
.login__tit { float: left; position: relative; display: inline-block; padding-left: 13px; font-size: 1.2em; vertical-align: middle; }
.login__tit:before { position: absolute; top: 0; bottom: 0;left: -.5em; display: block; width: .9em; height: 1.4em; margin: auto 0; background: url(/front/mInclude/img/login_icon.png) no-repeat;  background-size: 100%; content: '';}
.login__tit.type-login { padding-left: 25px; font-size: 15px; }
.login__tit.type-login span { font-size: 13px; }
.login__tit.type-login:before { width: 21px; height: 21px; top: 4px; bottom: auto; background: url("/front/mInclude/img/member_icon.png") no-repeat; background-size: 21px 21px; }
.login__txt { float: left; display: inline-block; font-size: 12px; vertical-align: middle; }
.login__txt + .login__txt { margin-left: 13px; }
.login__icon { overflow: hidden; display: inline-block; width: 30px; height: 30px; text-indent: -9999px; }
.login__icon.nth-1 { background: url("/front/mInclude/img/notice_icon.png") no-repeat center center; background-size: 13px 15px; }
.login__icon.nth-2 { background: url("/front/mInclude/img/setting_icon.png") no-repeat center center; background-size: 15px 15px; }

.main__slide { overflow: hidden; position: relative; }
.main__banner {margin-top:1em;margin-bottom:1em;}
.main__banner img {width:100%;}
.main__banner-area { overflow: hidden; position: relative; width: 100%; height: 0%; padding-bottom: 34.44%; text-indent: -999px; }
.main__banner-img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url("/front/mInclude/img/main/main_banner02.jpg"); background-size: cover; }
.main__banner-link { position: absolute; bottom: 10px; right: 10px; width: 22px; height: 22px; background-image: url("/front/mInclude/img/main/setting_btn.png"); background-size: cover; }
.main__item { text-align: center; }
.main__item img { width: 100%; }
.main__slide-btn { position: absolute; top: 0; bottom: 0; display: inline-block; width: 34px; height: 40px; margin: auto 0; background: url("/front/mInclude/img/main/main_slide_btn.png"); background-size: 68px 40px; z-index: 10; cursor: pointer; }
.main__btn-prev { left: 0; }
.main__btn-next { right: 0; background-position-x: 34px; }
.main__btn-more {position: absolute;bottom: 1em; right: 1em; width: 2.5em; height: 2.5em; background: url(/front/mInclude/img/main/main_slide_more.png); background-size: 100%; z-index: 10; }

.main__tit { display: block; margin: 0px auto; padding-left: .3em;}
.main__tit.nth-tit {margin-top: 1em;margin-bottom: .7em;}
.main__tit img { height: 1em; }

.main_full_tit { display: block; margin: 0px auto; padding-left: .3em;}
.main_full_tit.nth-full-tit {margin-top: 1em;margin-bottom: .7em;}
.main_full_tit img { height: 1em; }

.main__content { position: relative; margin-top: 10px; }
.main__content.type-border { border-top: 1px solid #e1e1e1; }
.main__content.type-border2 { border-top: 1px solid #888;padding-top: 1.3em;}
.main__content.type-bg1 { padding: 13px 0px; background-color: #fafafa; box-sizing: border-box; border-top:1px solid #e1e1e1;}
.main__content.type-bg2 { padding: .1em 0 1em 0; background-color: #eaeddc; }
.main__content-list { margin-left: -10px; box-sizing: border-box; text-align: center; }
.main__content-list:after { display: block; clear: both; content: ''; }
.main__content-list.type-wide .main__content-item { width: 100%; }

.pop__content-list { box-sizing: border-box; text-align: center; }
.pop__content-list:after { display: block; clear: both; content: ''; }
.pop__content-list.type-wide .pop__content-item { width: 100%; }

.main_full_content-list { margin-left: -10px; box-sizing: border-box; text-align: center; margin-top: 1em;}
.main_full_content-list:after { display: block; clear: both; content: ''; }
.main_full_content-list.type-wide .main__content-item { width: 100%; }

.main__content-item { float: left; display: inline-block; width: 50%;    padding-left: 10px; box-sizing: border-box; }
.main__sub-tit { margin: 1em 0 .3em 0;font-size: 1.2em; color: #000; text-align: center; }
.main__best-list:after { display: block; clear: both; content: ''; }
.main__best-item { float: left; margin: 1em 0; display: inline-block; width: 30.33%; padding: 0 1.5%; text-align: center; }
.main__best-txt { font-size: 1em; }
.main__best-img {margin-bottom: .5em; width:90%;}
.main__more {overflow: hidden; position: absolute; top: 1.5em; right: 1em; display: block; width: 1.2em; height: 1.2em; background-image: url(/front/mInclude/img/main/main_more.png); background-size: 100%;  text-indent: -999px;}
.main__board { padding: 6px; border: 1px solid #c8c8c8; box-sizing: border-box; }
.main__board-list { border-top: 1px solid #c8c8c8; }
.main__board-item { padding: .5em 0 .2em 1em; box-sizing: border-box; border-bottom: 1px solid #c8c8c8; }
.main__board-tit { font-size: 1em; color: #000; font-weight: 700; }
.main__board-txt {overflow: hidden; font-size: .9em; color: #333; padding: .5em 0 .3em 0;  white-space: nowrap; text-overflow: ellipsis;}
.main__sale { text-align: center; }
.main__sale .main__tit { position: relative; margin: 12px 0 0; }
.main__sale .main_full_tit { position: relative;    text-align: left; margin: .3em 0 0; }
.main__sale-date { margin: .8em 0 .2em; font-size:1.5em; font-weight: 700; color: #fe9821; }
.main__sale-number { position: absolute; top: .3em; left: 10em; font-size: .6em; color: #000; }

.remind { border: 1px solid #c8c8c8; }
.remind img { width: 100%; }
.remind__box { padding: 4px 0px; border-top: 1px solid #c8c8c8; text-align: center; }
.remind__txt { font-size: .9em; color: #000; line-height: 1.3; }
.remind__txt span { font-size: 1em; font-weight: 700; }
.remind__wrap { position: relative; height: 0 !important; overflow: hidden; padding-bottom: 45.54%; }

.review__banner { position: relative; height: 4em;line-height: 4em; margin: 13px -10px 0px -10px; padding-left: 8%; background-image: url("/front/mInclude/img/main/review_bg.jpg"); font-size: 12px; color: #fff; }
@media only screen and (max-width: 330px) { .review__banner { font-size: 10px; } }
.review__banner-point { margin-left: 5px; font-size: 1.3em; font-weight: 700; }
@media only screen and (max-width: 330px) { .review__banner-point { font-size: 12px; } }
.review__banner-link { position: absolute; top: 0; bottom: 0; right: 2em; overflow: hidden; display: inline-block; width: 8em; height: 2em; margin: auto 0; background: url(/front/mInclude/img/main/review_btn.jpg); background-size: 100%;  text-indent: -999px;}

.brand__header { position: relative; width: 21em; height: 4em; background-color: #b4a48e; border: 2px solid #9e8b71; border-radius: 5px; margin: 1em auto; box-sizing: border-box; }
.brand__btn { overflow: hidden; display: inline-block; width:4em; height:3.8em; text-indent: -999px; box-sizing: border-box; }
.brand__btn-prev { position: absolute; top: 0; left: 0; border-right: 1px solid #9e8b71; background: url("/front/mInclude/img/main/brand_prev.png") no-repeat center center; background-size:21%; }
.brand__btn-next { position: absolute; top: 0; right: 0; border-left: 1px solid #9e8b71; background: url("/front/mInclude/img/main/brand_next.png") no-repeat center center; background-size:21%; }
.brand__logo-list { overflow: hidden; width: 12.8em; height: 3.8em; margin: 0px auto 0px; }
.brand__logo-item { width: 12.8em; height: 3.8em; }
.brand__logo-item img { width: 100%; height: 3.65em; }
.brand__content { overflow: hidden; }

.more__list { text-align: justify; padding: 0px 2%; box-sizing: border-box; margin-top: 12px; margin-bottom: -8px; }
.more__list:after { display: inline-block; width: 100%; content: ''; }
.more__item { float: left; width: 33.3%; padding: 0 1.3em; box-sizing: border-box;}
.more__item img { width: 100%; }

.sale__wrap { position: relative; }
.sale__list { overflow: hidden; }
.sale__item { display: inline-block; width: 50%; padding: 0px 15px; box-sizing: border-box; }
.sale__bg { display: block; position: absolute; top: -1px; left: -1px; width: 100%; height: 100%; padding: 1px; z-index: 60; background-color: rgba(255, 255, 255, 0.7); }

.slick-center .sale__bg { display: none; }

.plan__list { margin-top: 10px; }
.plan__item + .plan__item { margin-top: 2px; }
.plan__item img {width:100%;}