

/* Button */
.btn_gray {display: inline-block;vertical-align:top;font-family:"돋움",dotum, sans-serif;font-size: 15px;min-width: 46px;height: 32px;color: #555;line-height: 1em;border: 1px solid #c8c8c8;background: #fff;}
.btn_default {display: inline-block;vertical-align:top;padding: 0px 10px;font-family:'notokr-medium', sans-serif;color: #fe9821;font-size: 12px;line-height: 25px;text-align:center;border: 1px solid #fe9821;background: #fff;box-sizing: border-box;}
td .btn_gray {height:auto;padding: 0 5px;border: 1px solid #c8c8c8;box-sizing: border-box;font-size: 12px;color: #555;line-height: 23px;}

.icon_lock {display: inline-block;vertical-align: top;width: 12px;height: 16px;margin-top: 0px;background: url(../img/content/icon_lock.png) no-repeat 0 0;background-size: 100% auto;}
.accordian2_td0 {width: 14px;}

.my_tbl_ty02 td .checkbox1 + label {vertical-align: middle}
.boxWrap1.inpuit_form {padding: 10px 0px;}
.boxWrap1.inpuit_form .my_tbl_ty02 td {padding: 0px 9px 0px 16px;}
.prod_post li .post_title a p.review__file:after {top: 11px;right: 0px;width: 14px;height: 14px;background-size: 14px auto;}
.prod_post li .icon_lock {position: absolute;top: 9px;right: 172px;}

.order__content .prod_detail_bottom {clear: both;}
.order__content .prod_detail_bottom .counter__wrap {position: absolute;left: 5px;top: 50%;margin-top: -16px;}
.order__content .prod_detail_bottom .counter__wrap .prod_sub {padding-left: 10px;color: #5e5956;font-size: 13px;line-height:28px;}
.order__content .prod_detail_bottom .counter__wrap .prod_sub strong {color: #0e0000;}
.order__content .prod_detail_bottom .counter {display: inline-block; vertical-align:top;}
.order__content .prod_delivery-info strong + span {display: block;}
.order__content .prod_delivery-info strong + span:before {display: none;}
.order__content .prod__order {text-align:right;}
.order__content .prod__order .prod__order-price-sale-a {padding-left: 10px;font-size: 17px;font-weight:400;line-height: 21px;text-align:right;text-decoration: line-through;color: #999;}
.order__content .prod__order-price-wrap {display: block; text-align:right}
.order__content .prod__order-price {margin-left: 5px}
.order__price-box {float: none; display:block;}
.order__price-box.nth-1 {width: 100%;}
.order__price-box.nth-2 {width: 100%;}
.order__price-box__dl + .order__price-box__dl:before,
.order__price-box__dl + .order__price-box__dl:after,
.order__price__dl:before {display: none;}
.order__price-box.nth-2 {padding: 10px;}
.order__price__dt {}
.order__price-box.nth-2 > a {display: block;margin-top:10px;padding-top: 10px;font-size: 1.1em;color: #ff9821;text-align:right;border-top: 1px solid #dedede;}
.order__price-box.nth-2 > a span {display: block;margin-top: 3px;font-size: 0.9em;color: #999;}

.order__content .cont-slide {border:1px solid #ff702d}
.order__content .cont-slide .title1 {padding: 0 .6em;border-top:0px; background:none}
.order__content .cont-slide .title1:after {margin-top:10px; border-bottom:1px solid #ffd4c0;}
.order__content .cont-slide .title1 .title1__tit {color:#000;font-size:13px;line-height: 1.3em;font-weight:700;padding-left: 5px;}
.order__content .cont-slide .title1 .title1__tit span {font-size:13px;}
.order__content .cont-slide .title1 .title1__txt {height:auto}
.order__content .cont-slide .title1__wrap {padding-left:95px;letter-spacing:-2px;}
.order__content .cont-slide .title1__wrap .title1__txt {display:block;width:auto;padding-right: 5px;}
.order__content .cont-slide .cont-slide__item {width:100% !important}
.order__content .cont-slide .cont-slide__content {padding:.6em;}
.order__content .cont-slide .cont-slide__prod {position:relative;border:0px;float:left;min-height:0;}
.order__content .cont-slide .responsive-img {position:static;width:7.8em;height:7.8em;top: auto;left: auto;}
.order__content .cont-slide .cont-slide__header {position:absolute;left:0px;top:0px; z-index:2;padding: 0px;}
.order__content .cont-slide .cont-slide__header label {text-indent:-999px;}
.order__content .cont-slide .cont-slide__footer {position: relative;margin-top: 0;padding: 1em;display: grid;box-sizing: border-box;height: 9em;}
.order__content .cont-slide .cont-slide__txt {margin-top:0px;font-size:1em;}
.order__content .cont-slide .cont-slide__txt span {display: block;}
.order__content .cont-slide .cont-slide__tit {margin-top:0px;}
.order__content .cont-slide .cont-slide__item {padding-left: .6em;}
.order__content .cont-slide .cont-slide__footer > div {margin: .6em;}
.order__content .cont-slide .cont-slide__list {margin-left: -.6em;}

.order__content .prod_info.type-wide .prod_tit {padding-right: 15px;display: block;}
.order__content .prod_info.type-wide .prod_tit span {display: block;}
.order__content .prod_info.type-wide .prod_img .prod_block_status {position:absolute;top: 0;bottom: 0;left:0;width: 100%;background:rgba(0,0,0,0.5);font-style: normal;text-align: center;}
.order__content .prod_info.type-wide .prod_img .prod_block_status > span {display: table;width: 100%;height: 100%;}
.order__content .prod_info.type-wide .prod_img .prod_block_status > span > span {display:table-cell;vertical-align:middle;color:#fff;font-family:'notokr-medium', sans-serif;font-size:21px;line-height:26px;}

.order__content .prod_info.type-close .prod_detail_top {display: block;}

.table1.type-another .table1__th {color: #000;font-weight: bold;}
.table1.type-another .table1__price_indent .table1__th {padding: 0px 3.5em;color: #555;font-size: 0.9em;line-height: 1.9em;font-weight: normal;}
.table1.type-another .table1__price_indent .table1__th:before {content:'';display:inline-block;vertical-align: top;width: .5em;height: .5em;margin: .6em .3em;border:1px solid #5e5956;border-color: transparent transparent #5e5956 #5e5956;}
.table1.type-another .table1__price_indent .table1__td {padding: 0px 10px 0px 0;}
.table1.type-another .table1__price_indent .table1__td .table1__price {font-size: 1.1em;font-weight:normal;line-height: 1.5em;}

.order__content .cart_none {text-align:center;padding: 30px 0;}
.order__content .cart_none p {margin-bottom: 10px;color:#626262;font-size: 17px;}
.order__content .cart_none .btn1__link.type-1 {display: inline-block;width: auto;padding: 0 70px;}

.order__content .prod_info.type-close .prod_detail_top {padding-right:10px !important}
.order__content .prod_info.type-wide .prod_detail_box,
.order__content .prod_info.type-wide .prod_detail.order {min-height: 9em;height:auto;}
.order__content .prod_info.type-close .prod_detail_top {padding-right: 30px !important}
.order__content .prod_delivery-info {margin-top:3px;}
.order__content .prod_info.type-wide .prod_detail_box .prod_img,
.order__content .prod_info.type-wide .prod_detail.order .prod_img {margin:0 .6em .6em;}
.order__content .prod_detail_box .cart_info,
.order__content .prod_detail.order .cart_info {margin-top:3px;color:#989898;}
/*.order__content .prod_detail_box .cart_info {position:relative;z-index:2;margin-top:-.3em;min-height:3em;}
.order__content .prod_detail_box .cart_info span {overflow:hidden;position:absolute;z-index:2;width:100%;height:2em;padding:0px 20px 0px 0px;color:#989898;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}
.order__content .prod_detail_box .cart_info span:after {content:'';position:absolute;right:7px;top:1px;width:8px;height:8px;border:1px solid #c8c8c8;border-color:transparent  #c8c8c8 #c8c8c8 transparent;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);}
.order__content .prod_detail_box .cart_info.more span {height:auto;border:1px solid #c8c8c8;background:#fff;padding:2px 20px 2px 2px;text-overflow:unset;white-space:normal;}
.order__content .prod_detail_box .cart_info.more span:after {top:8px;right:5px;transform: rotate(225deg);-webkit-transform: rotate(225deg);-moz-transform: rotate(225deg);-ms-transform: rotate(225deg);}*/

.order__content .delivery_datetime_select_wrap {padding:10px;box-sizing: border-box;border-top:1px solid #c9c9c9;border-bottom:0}
.order__content .delivery_datetime_select_wrap table {margin-bottom: 0px;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8}
.order__content .delivery_datetime_table .delivery_datetime_th {font-size: 1.2rem;vertical-align:middle;}
.order__content .delivery_datetime_table tbody .delivery_datetime_th {background: #f3f3f3}
.order__content .delivery_datetime_td label {}
.order__content .normal-delivery-table span {padding: 0px 10px 2px;}
.order__content .delivery_datetime_td label::before {top:0px;}

.order__content .dawn_delivery_info_wrap {margin-top:10px;padding-bottom:10px;border-bottom:0px;border:1px solid #c8c8c8;}
.order__content .dawn_delivery_info_wrap .title1 {margin-top: 0px;border-top:0px;color:#000;}
.order__content .union_enter_method_li {float:none;width:100%;padding:0 20px;font-size:1.1em}
.order__content .union_enter_method_li:nth-child(4),
.order__content .union_enter_method_li:nth-child(5),
.order__content .union_enter_method_li:nth-child(6) {margin-bottom:0.75rem;padding-left: 20px;}
.order__content .union_enter_add_view {margin-top:0px;padding:0 20px 0.9rem;border-top:0px;}
.order__content .union_enter_password_wrap .password_input_wrap {position:relative;}
.order__content .union_enter_password_wrap .password_input_wrap textarea {width:100%;height: 120px; margin-bottom: 10px; padding: 5px;box-sizing:border-box;resize: none}
.order__content .union_enter_password_wrap .password_input_wrap .text_count {position:absolute;bottom: 35px;right: 5px;color: #999998;font-family:"돋움",dotum, sans-serif;font-weight:normal;font-style:normal;}
.order__content .enter_method_common_guide {margin:-10px 20px 5px;}

.order__content .table1.type-another .table1__th {padding-bottom: 5px;color: #000;}
.order__content .table1.type-another .table1__td {padding-bottom: 5px;}

.order__content .input2__wrap1.type-number {overflow:hidden;}
.order__content .number-box.auth {float:right;margin-top:5px;}
.order__content .number-box.auth:before {display: none;}

.order__content .prod_delivery-price {margin-top: 10px;color:#5e5956;font-size: 12px;font-weight: bold;}

.order__content .dawn_delivery_info_wrap .checkbox1 + label:before {position: absolute;top: 0;bottom: 0;left: 0;box-sizing: border-box;width: 22px;height: 22px; margin: auto; border: 1px solid #c8c8c8; background-color: #fff;background-image:none;content: '';cursor: pointer;}
.order__content .dawn_delivery_info_wrap .checkbox1:checked + label:before {border-color: #aba58e;}
.order__content .dawn_delivery_info_wrap .checkbox1:checked + label:after {background-image: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/common/check_on.gif);}
.order__address-box .order__address-box .order__body-wrap {margin:0px;}
.order__content .order__cart-wrap > .order__body-header {overflow:hidden;padding-top:0px; padding-bottom: 10px; text-align:left;}
.order__content .order__cart-wrap > .order__body-header .order__body-header-txt {line-height:25px;}
.order__content .order__cart-wrap > .order__body-header .order__btn1 {float:right}

.order__content .order__header .title1 .table1__price-total {float:right;line-height: 44px;}
.order__content .order__terms {margin-top: 0px;border-top:1px solid #c9c9c9;border-bottom:0px;}
.order__content td.table1__td.type-price .table1__add,
.order__content td.table1__td.type-price .input2__wrap2 {display: block;overflow:hidden;text-align:left;margin: 0px;}
.order__content td.table1__td.type-price .table1__add {padding:0 10px 0;color: #5e5956;font-size: 13px}
.order__content td.table1__td.type-price .table1__add span {color: #f98c2b;}
.order__content td.table1__td.type-price .input2__wrap2 {padding:10px 0 10px 10px;text-align: right;}
.order__content td.table1__td.type-price .input2__wrap2 a {float: right;}
.order__content td.table1__td.type-price .input2__wrap2 input[type="text"].input2 {vertical-align: top;}
.order__content td.table1__td.type-price .input2__wrap2 input[type="text"].input2 + span {display: inline-block;vertical-align: top;margin-top:5px;}
.order__content td.table1__td.type-price .input2__wrap2 input[type="text"].input2 + span span {display: block;}

.order__address-btn {height: 27px; line-height:27px;}
.order__means-list {margin-bottom: -4px;}
.order__means-list .order__means-item {margin-top:0px;margin-bottom: 4px;}

.order__content .order__cart-wrap .order__cart-wrap {padding: 0px;}

::-webkit-input-placeholder {color: #999998;font-family:"돋움",dotum, sans-serif;}
::-moz-placeholder {color: #999998;font-family:"돋움",dotum, sans-serif;}
:-ms-input-placeholder {color: #999998;font-family:"돋움",dotum, sans-serif;}
:-moz-placeholder {color: #999998;font-family:"돋움",dotum, sans-serif;}

/*
.order__content #delivList .input2__wrap1.order_adr_nm {position:relative;padding-right:120px;}
.order__content #delivList .input2__wrap1.order_adr_nm .order_adr_ck {position:absolute;top:2px;right:0px;}
*/
/*
.order__content .prod_detail_bottom .counter_ipt {width: 100%!important; padding-right: 34px;background: url(../img/content/bul_arr.png) no-repeat right 10px center; background-size: 11px auto; box-sizing: border-box;}
.order__content .prod_detail_bottom .counter > .counter_ipt:before {display: none}
.order__content .prod_detail_bottom .counter > .counter_ipt:after {right:34px;}
*/

/* Dialog */
.ui-dialog button {border: 0px; box-shadow:none;}
.ui-dialog .ui-dialog-titlebar-close {background:none;}
.ui-dialog .ui-dialog-titlebar-close span {position: absolute;top: 50%;left: 50%;margin-top: -8px; margin-left: -8px;width:1px;height:16px;border-left:1px solid #000;transform:rotate( 45deg );}
.ui-dialog .ui-dialog-titlebar-close span.ui-icon-closethick {transform:rotate( 135deg );}
.ui-dialog .ui-dialog-titlebar-close span.ui-button-icon-space {transform:rotate( 45deg );}
.ui-dialog .ui-dialog-buttonpane button {border-radius: 0px;color: #fff;line-height: 23px;}

/* Main Layer */
#popupArea .dim-layer1.layer60 {position:fixed;top:0;left:0;width:100%;height:100% !important;z-index:99999;/* padding: 0 10px; */box-sizing: border-box;}
#popupArea .dim-layer1.layer60 .dimBg {bottom: 0px; right: 0px; }
#popupArea .dim-layer1.layer60 .popup_box {position: absolute;width:  300px;margin-top:  0px;padding-top: 30px;padding-bottom: 20px;top: 10%;left: 50%;bottom: 20%;height:  auto;margin-left: -150px;box-sizing: border-box;}
#popupArea .dim-layer1.layer60 .popup_box > a {display: block; height: 100%; overflow-x: hidden;overflow-y:auto;}
#popupArea .dim-layer1.layer60 .popup_box img {width: 320px !important;height: auto !important}
#popupArea .dim-layer1.layer60 .pop-layer-btn {position: absolute;top: 0px;right: 0px;width: 100%;height: auto;padding: 5px 10px;line-height: 20px;text-align: right;border-bottom: 2px solid #4f473d;box-sizing: border-box;}
#popupArea .dim-layer1.layer60 .pop-layer-btn .btn-l {float:none;display:  inline-block;vertical-align: top;line-height: 20px;margin-right: 10px;}
#popupArea .dim-layer1.layer60 .pop-layer-btn img {width: 20px !important;}
#popupArea .dim-layer1.layer60 .pop-layer-btn .btn-r {margin: 0;}
#popupArea .dim-layer1.layer60 .pop-layer-btn .btn-l .checkbox1 + label {font-size: 11px;line-height: 20px;}


.my_stitWrap2 .d_text {color: #858585;font-size: 11px;display: block;vertical-align: top;margin: 0px;}
.my_accordian1_list .my_prod_info header {padding: 10px 0 10px;text-align: center; color: #000; font-size: 13px; font-weight: bold}

/* Footer */
.footer__menu2-item {padding: 0px 5px 0 10px;}
strong.footer__txt {font-size: 14px;padding-top: 7px;margin-top: 5px;margin-bottom: 10px;padding-left: 84px;background: url(../img/common/logo_pulmuone.png) no-repeat 0 center;}

/* Layer */
#dim-layer-change-num.dim-layer {top: 0;left: 0; width: 100%;height: 100%;}
#dim-layer-change-num.dim-layer .pop-type4 {margin:0px}

#dim-layer-change-num.dim-layer {}
#dim-layer-change-num.dim-layer .pop-layer {width: 240px;height: auto;margin: -123px 0 0-120px;}
#dim-layer-change-num.dim-layer .pop-list-content {overflow-y: auto;max-height: 165px;padding: 5px 15px 15px;font-size: 14px;z-index:1;background:#fff;}
#dim-layer-change-num.dim-layer li {position:relative;overflow: hidden;display: block;height: 36px;padding-top: 5px;box-sizing: border-box;}
#dim-layer-change-num.dim-layer input[type="radio"] {right: 0px;margin-top: 11px;}
#dim-layer-change-num.dim-layer input[type="radio"] + label {display: block;margin-right: 0px;padding-left: 0px;}
#dim-layer-change-num.dim-layer .radio1 + label:before {right: 0px;left: auto;}
#dim-layer-change-num.dim-layer .radio1:checked + label:after {right: 6px;left: auto}
#change_num.pop_layer #change_edit_num {display: none;}
#dim-layer-change-num.dim-layer input[type="text"] {width:100px;height: 32px;line-height: 32px;margin: 0 5px 0 0;padding: 0 10px;border: 1px solid #c8c8c8;border-radius: 0;background: #fff;color: #666;font-size: 13px;}
#dim-layer-change-num.dim-layer .btn_defualt {display: inline-block;overflow: visible;position: relative;width: auto;height: 34px;line-height: 29px;margin: 0;padding: 0 10px;background: #fff;font-size: 13px;font-weight: normal;letter-spacing: -1px;text-align: center;vertical-align: top;text-decoration: none;white-space: nowrap;box-sizing: border-box;border: 2px solid #fe9821;background-color: #fe9821;color: #fff;}
#dim-layer-change-num.dim-layer #editNum p {position:absolute;left:0px;top:0px;}
#dim-layer-change-num.dim-layer a.btn-layerClose.img {top: 0;}
#dim-layer-change-num.dim-layer a.btn-layerClose.img img {margin-top: 10%;}

/* 메인 */
.main__slide .swiper-pagination {position: absolute; width: 100%; left: 0px; bottom: 1em;}
.main__content.planBanner {padding: 10px 10px 0;} /* 20190805 수정 */
.main__content.planBanner img {width: 100%;}
.gnb__plan-link {margin: 15px 15px 0 0}
.gnb__plan-link ul {overflow:hidden;}
.gnb__plan-link li {float: left;width: 50%;padding-left: 15px;box-sizing: border-box}
.gnb__plan-link li img {width: 100%;}
.main__content .main__content-item .prod__date {display:none}

/* 20190730 추가 */
/* Header Banner */
.top_banner { position: relative; text-align: center}
.top_banner a { display: block; }
.top_banner a img {width: 100%;}
/* Header */
.header__logo {width: 2.23em;margin-left: 1.6em;background-image: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/logo2.png);}
.header__menu-btn {top:0.7em;padding: 1.2em 0.8em;}
.header__menu-bar {width: 1.67em; height: .15em;background: #003805;}
.header__menu-bar + p { margin-top: 0.5em;}
.basket__num {left: auto;right: -.5em;background-color: #ff0000;line-height: 2em;}
.header__gnb {background: #fff;}
.header__gnb:before {content:'';position:absolute;left: 0.8em;right: 0.8em;border-top: 1px solid #f2f5f2;}
.tab-v1__list {background: #fff;}
.tab-v1__item:before {display: none;}
/*.tab-v1__item {width: auto;height: auto;margin: 0 3%;flex-grow: 0;} */

/* [S] lohas */
.tab-v1__item{width:auto;height:40px;color:#000;}
.tab-v1__link{display:inline-block;width:auto;font-size:14px;line-height:40px}
.tab-v1__item.is-active .tab-v1__link{font-weight:700;color:#000}
.tab-v1__item.is-active .tab-v1__link:after{bottom:0;width:100%;border-bottom:2px solid #7bcc12;border-radius:0}
.tab-v1__item:first-child .tab-v1__link:before{display:inline-block;width:15px;height:15px;margin:-4px 2px 0 0;background:url(https://pulmuoneshop.co.kr/front/mInclude/img/lohas/icon/new.gif) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''}
.tab-v1__item:first-child .tab-v1__link:after{display:none}
/* [E] lohas */

.basket__btn {margin-right: 1.2em;margin-top: 1.6em;}
.basket__btn img {width: 2.6em;}
.header__search-wrap {left: 0px;width: 80%;height: 73%!important;}
.header__search-wrap:after {width: 100%; height: .15em;background: #7bcc12;}
.header__search-wrap .input_sh {width: 100%!important;height: 100%;padding-right: 3em;font-size: 4vmin;}
.header__search-close {right: 2.7em}
.header__search-btn {width: 1.7em;right: 6px;background: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/search_btn2.png) no-repeat center left;background-size: 100% auto;}
.header__search {padding: 1em 0 0 9em;}
.search-layer {top: 5em;border-color: #f2f5f2}
.search-layer__item {border-color: #f2f5f2}

.main_full_content-list + .main__content.type-border2 {margin-top: 1em;}
/* Footer */
.footer {padding-top: 3%;background-color: #f7f7f7;}
.footer__wrap {padding: 0px 1.2em 0 1.2em;}
.footer__menu1-list {text-align: center;}
.footer__menu1-item {float: none; display: inline-block; vertical-align: top; width: auto; padding: .8em 1.4em;}
.footer__menu1 {background-color: #fff;}
.footer__menu2-item {color: #555; padding: 0px 0.8em 0 0.8em;}
.footer__txt {color: #555}
strong.footer__txt {font-size: 4vmin;padding: 1% 0 1% 20%;background: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/common/logo_pulmuone2.png) no-repeat 0 center !important;background-size: 40% auto !important;}
.footer__menu2-link {font-size: 0.9em;}
.footer-fix__list {background-color: #7bcc12}

/* Main */
.section.main__section {padding-bottom: 0px;}
.main__content {margin-top: 0;overflow: hidden;padding-bottom: 2.3em;border-bottom: .5em solid #eaeaea; }
.main__content.mt12 {margin-top: 0 !important; border-bottom: 0; }
.main__content#lineBanner1 {padding-bottom: 0px }
.main__content#divRealTitle {padding-bottom: 1em}
/*.section__wrap {overflow: hidden;}*/
.main__content.type-bg1 {padding-top: 0px;background-color: #f7f7f7;}
.main__tit.nth-tit {margin-top: 2em;margin-bottom: 1em;}
.main__content-item .prod_info .prod_detail {position: relative;height: 18%;margin-top: 0.8em;}
.main__content-item .prod_btn-wrap {line-height: 1.2em;}
#divMainBest .section__wrap {padding-left: 5px;}
#divMainBest .main__content-list.column_3 {margin-left: 5px}
.main__content-list.column_3 .main__content-item {width:41% !important; padding:0px;}
.main__content-list.column_3 .main__content-item .prod_info.box{height: 23.5em}
.main__content-list.column_3 .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev {position: absolute;left: 0;}
.main__content-list.column_3 .main__content-item .prod_info .prod_btn_cart{top:10em;right:.6em;z-index: 55;}
.main__content-list.column_3 .main__content-item .prod_info .prod_btn_alarm{top:10em;right:.6em;z-index: 102;}
.main__content-list.column_3 .main__content-item .prod_info .prod_detail .prod_detail_top{padding: 0 .2em .8em;}
.main__content-list.column_3 .prod_info .prod_detail .prod_detail_top .prod_tit { -webkit-line-clamp: 2;}
.main__content-list.column_3 .main__content-item .prod_detail_top .prod_price .prod_percent{margin: 1.5em 0 0 0;}
.main__content-list.column_3 .main__content-item .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now{margin: 1.8em 0 0 .7em;font-size: 3.2vmin;}
.main__more {top: 3.1em}
.main__content .prod_info .prod_detail .prod_detail_top .prod_tit {font-size: 4.2vmin;height: 2.3em;}
.main__content .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now{margin: 0 0 0 0.7em;}
.main__content .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now span {font-size: 4vmin;}
.main__content .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev {margin: 0.1em 0 0 0.5em;font-size: 3.2vmin;}
.main__content .prod_info.box {height:27em;min-width: 0px;border:0;}
.main__content .cont-slide__content {padding: 0;}
.main__content#divMainBest .prod_btn {margin-left: 0px;}
.main-swiper-wrap {padding-bottom: 0; height: auto !important;}
.main__item img {position: static;}
.main__content .prod_info .prod_img:before{content:"";display: block;position:absolute;top:0;left:0;background:#000;z-index:2;width: 100%;height: 100%;opacity: 0.04;}
/* 20191115:Main */
.main__content .prod_info .prod_btn_cart{position: absolute;top:12em;right:1em;z-index: 50;}
.main__content .prod_info .prod_btn_cart img{width:2.3em;z-index: 50;}
.main__content .prod_info .prod_btn_alarm{position: absolute;top:12em;right:1em;z-index: 102;}
.main__content .prod_info .prod_btn_alarm img{width:2.3em;z-index: 102;}
.main__content .prod_info .prod_detail .prod_detail_top{overflow: hidden;}
.main__content .prod_info .prod_detail .prod_detail_top .prod_price{position: inherit;}
.main__content .prod_info .prod_detail .prod_detail_top .prod_price .prod_percent{float:left;color:#4ac912;font-size: 4vmin;}
.main__content .prod_info .prod_detail .prod_detail_bottom,
.main__content .prod_info .prod_detail .prod_label_bottom{display: block;}
.main__content .soldout{background: url(../img/soldout_txt02.png) no-repeat;background-position:0 0;background-size: 100%;z-index: 101;}
.main__content .bestplan_list .soldout{height: 100%;}
@media (min-width: 768px) {
    .main__content .soldout{height: 100%;}


}
/* 브랜드 */
.swipe-tabLst-wrap { overflow-y: hidden; overflow-x: auto !important; width: 100%; padding-top: 10%; }
.swipe-tabLst { display: flex; flex-wrap: nowrap; position: relative; bottom: 1.5em; width: 830px; margin: 0px auto 20px; text-align: center; }
.swipe-tabLst a { position: relative; display: inline-block; width: 5.5em; height: 5em; margin: 0 1%; border: 2px solid #dfdfdf; border-radius: 50%; font-size: 11.25px; }
.swipe-tabLst a.active { border: 2px solid #a7c738; }
.swipe-tabLst a .tab-brand { display: flex; align-items:center; justify-content: center; width:100%; height:100%; margin-bottom: .9rem; }
.swipe-tabLst a .tab-brand img { width: 80%; }
@media (min-width: 768px) {

}

/* label 새로추가 */
.main__content .prod_info .prod_detail .prod_label_bottom .label{display: inline-block;width: 4em;height: 2em;text-align: center;box-sizing:border-box;color:#fff;background: #4ac912;font-family:"돋음",Dotum;font-size: 3.2vmin;letter-spacing:-0.1em;padding: .5em 0;margin-left: .1em;overflow: hidden;}
.main__content .prod_info .prod_detail .prod_label_bottom .label:first-child{margin-left: 0;}
.main__content .prod_info .prod_detail .prod_label_bottom .label.ty02{color:#4ac912;background: #fff;border:1px solid #4ac912;}

/* 20191118:기획전 */
.main__content#divBestPlan .bestplan_list{box-sizing:border-box;}
.main__content#divBestPlan .bestplan_list li{width:calc(100% - 10%);box-sizing:border-box;margin:0 auto;}
.main__content#divBestPlan .bestplan_list li .prod_info.box{min-height: 10em;height: 10em;padding: .5em;}
.main__content#divBestPlan .bestplan_list li .prod_info .prod_img{position: absolute;left:.5em;top:.5em;width: 35%;height: calc(100% - 1em);padding-bottom: 0;}
.main__content#divBestPlan .bestplan_list li .prod_info .prod_detail{padding: .5em 0em 0em 11em;margin: 0;box-sizing:border-box;}
.main__content#divBestPlan .bestplan_list li .prod_info .prod_detail .prod_detail_top{padding: 0 0 .8em 0;}
.main__content#divBestPlan .bestplan_list li .prod_info.box .prod_btn_cart{top:initial;right:.5em;bottom:1em;z-index: 30;}
.main__content#divBestPlan .bestplan_list li .prod_info.box .prod_btn_alarm{top:initial;right:.5em;bottom:1em;z-index: 102;}

/*센스만점 추천상품*/
.main__content .tab-v2{margin-bottom: 1em;}
.main__content .tab-v2__list{border: 1px solid #2f2f2e;}
.main__content .tab-v2__item.is-active{background: #2f2f2e;}
.main__content .tab-v2__item.is-active:before{border-left: 1px solid #2f2f2e;left:0;}
.main__content .tab-v2__item:after{height: 100%;}
.main__content .tab-content .prod_info.box{height: 23.5em;}

/* 리얼상품평 */
.main__content .main__board{background:#f3d429;border:0;padding: 1.8em;}
.main__content .main__board .main__board-list{border-top: 0;}
.main__content .main__board .main__board-item{border-bottom: 1px solid #d4b924;padding:.5em;}
.main__content .main__board .main__board-item:last-child{border-bottom: 0;}
.main__content .main__board .main__board-tit{font-size:4vmin;}
.main__content .main__board .main__board-txt{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:normal;font-size:3.5vmin;padding: .5em 0 0 0;}
.main__content .main__board .review__banner-btn{display: block;position: relative;width: 100%;height: 3em;color: #675808;font-size: 4vmin;line-height:3.2em;background: #fef3b8;text-align: center;}
.main__content .main__board .review__banner-btn:before{content: "";display: inline-block;position: absolute;top:42%;right:7%;border: solid #ddd191;
    border-width: 0 2px 2px 0;padding: 4px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}

/*쉐프도 탐내는 레시피*/
.cont-slide__list.column_3 .cont-slide__item{width:41% !important;padding:0;margin-right:10px;}
.cont-slide__list.column_3 .cont-slide__prod{border: 0;}
.cont-slide__list.column_3 .cont-slide__txt{-webkit-line-clamp:1;height:1.2em;}
.cont-slide__list.column_3 .cont-slide__tit{font-weight: 600;color:#000;}


/* Main 심콩특 .main__content .main__board  */
.main__tit.nth-tit.ani_txt{font-size: 1.2em;}
.main__tit.nth-tit.ani_txt img{height: 2.63em;}
.main__tit.nth-tit.ani_txt > span {display: inline-block;font-family: 'notokr', sans-serif;font-weight:400;padding-top: 1em;padding-left: .3em;}

.body__wrap .main__slide-btn {display:none}
.wiper-pagination-bullet {width: 10px;height: 10px;margin: 0 3px;background: #bcc4df;border-radius:5px;-webkit-transition: .3s ease-out;-moz-transition: .3s ease-out;-ms-transition: .3s ease-out;transition: .3s ease-out;opacity:1;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background: #6fc500;opacity:1;}

.prod_anniversary {background-color: #5fb300 !important;border-color: #5fb300 !important;}/* 추석 선물 태그 색상수정 */
.prod_img_per {width: 5em;padding: 0.5em;}

/* 임직원 로그인 */
.section__header + .employee {padding: 10px;}

/* 임직원 한도초과 팝업 *
/* Popup Table */
.popup_table3 {width:100%; text-align:center;}
.popup_table3 th{height: 26px;color:#000; font-family:"돋움",dotum, sans-serif; font-size:12px; font-weight:600; vertical-align:middle;background: #e7e7e7;border-left:1px solid #fff}
.popup_table3 th:first-child {border-left: 0px; text-align: left;padding: 0 10px;}
.popup_table3 tbody tr:first-child td {padding-top: 10px;}
.popup_table3 td {padding:2px 0; color:#000; font-family:"돋움",dotum, sans-serif; font-size:12px; vertical-align:middle; line-height:1.6;}
.popup_table3 td:first-child {text-align: left;padding:2px 10px;}

/* 임직원 한도초과 팝업 */
#dim-layer5.limitMinus .pop-type4 {width: 320px;height: 310px;margin: -155px 0 0 -160px;padding: 0 15px;border-top: 3px solid #82b824;box-sizing: border-box;}
#dim-layer5.limitMinus .pop-list-container h3 {height: 40px;line-height: 40px;color: #373737;font-size: 15px;border-bottom: 2px solid #82b824;}
#dim-layer5.limitMinus .pop-list-wrap {padding: 10px 0 0 0;}
#dim-layer5.limitMinus .popup_close_but {top: 10px; right: 10px; width: 22px; height: 22px; background: url(https://www.pulmuoneshop.co.kr/front/include/img/popup/btn_calendar_close2.png) no-repeat center;}
#dim-layer5.limitMinus p.txt_c {font-size: 13px;letter-spacing: -1.5px;line-height: 1.5em;}
#dim-layer5.limitMinus p.txt_c strong {color: #ff0000; font-weight: 500;}
#dim-layer5.limitMinus .popup_table_xscroll {height: 150px; margin: 13px 0 0; overflow-y: auto; border: 1px solid #b7b7b7}
#dim-layer5.limitMinus a.btn-layerClose.img {top: 5px; right: -10px; width: 11px; height: 11px;}
#dim-layer5.limitMinus a.btn-layerClose.img img {width:100%;}


/***** myPage coupon ******/
/* 20191023 추가 */
.my_prodWrap .my_coupon_info .coupon_tit{height: 34px;line-height:17px;padding-right: 10px;}
.my_prodWrap .my_coupon_info .coupon_tit strong{font-weight: normal;}
.my_prodWrap .my_coupon_info .coupon_img{left:14px;}
.my_prodWrap .my_coupon_info .coupon_img p.tt1{font-size: 11px;}



/***** displayView ******/
.buytab__option + .buytab__tit{border-top:1px solid #c5c6c6;margin-top: 10px;padding-top: 10px;}
.buytab__option + .buytab__total{border-top:1px solid #c5c6c6;margin-top: 10px;padding-top: 10px;}



/* 20200309 */
.blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
table{width:100%;margin:0;padding:0;border:0;border-spacing:0;border-collapse:collapse;table-layout:fixed}

.limit_info{font-size:0;color:#fb3824;line-height:16px;text-align:right}
.limit_txt{display:inline-block;height:15px;margin-right:8px;padding:0 2px;font-size:10px;font-weight:600;color:#fff;background:#fb3824;text-align:center;vertical-align:middle;border-radius:2px;-webkit-border-radius:2px}
.limit_price{display:inline-block;font-size:15px;font-weight:600;vertical-align:middle}
.limit_info .prod__order-won{font-size:12px;vertical-align:top}
.table1.type-another .table1__td .table1__price.limit_price{font-weight:700;color:#fb3824}

.layer_popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}

.layer_popup_header{position:relative;height:40px;border-top:2px solid #81b824}
.layer_popup_wrap .layer_popup_title{font-size:13px;color:#373737;line-height:42px}
.layer_popup_wrap a.btn-layerClose.img{top:0}
.layer_popup_wrap .btn-layerClose{width:15px;height:15px;padding:12px 15px}

.layer_popup_contents{padding:0 15px 23px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:11px;font-size:12px;font-weight:500;color:#373737;text-align:center;line-height:1.4;word-break:keep-all}
.layer_popup_contents .point{display:inline-block;color:#fb3824}

.popup_table{position:relative;width:100%;margin-top:11px;border:1px solid #b7b7b7;background:#fff;font-size:12px;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.popup_table .view_tit{width:100%;height:25px;border-bottom:1px solid #d5d8dc;background:#e7e7e7}
.popup_table .view_cont{overflow-x:hidden;overflow-y:auto;max-height:70px}
.popup_table table .col1{width:55.76%}
.popup_table table th{height:25px;border-left:1px solid #fff;line-height:27px}
.popup_table table th:first-child{border-left:0}
.popup_table table td{min-height:25px;padding:7px 8px;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.popup_table table tr:first-child td{border-top:0}

.popup_table .prd_tit{text-align:left}

.popup_table .limit_info{display:block;font-size:12px;color:#000;text-align:center;line-height:14px}
.popup_table .limit_txt{display:block;margin:2px auto;width:36px;height:14px;line-height:14px}
.popup_table .limit_price{margin:0 auto;font-size:12px}
.popup_table .unit{display:inline-block;vertical-align:top}

.layer_popup_contents .btn_area{margin-top:15px;text-align:center}
.layer_popup_contents .btn_area .btn_confirm{width:75px;height:29px;font-size:12px;color:#fff;border:1px solid #71a715;background-color:#85b81f}


/* 20200317 장바구니 주문실패 */
.blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.order_fail_wrap{padding:42px 2.5%}
.order_fail_wrap .title{font-size:21px;color:#000;text-align:center;line-height:1.3;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_fail_wrap .notice{display:block;margin-top:9px;font-size:13px;font-weight:500;color:#6b6b6b;line-height:1.4;text-align:center;}
.order_fail_wrap .notice .point{color:#ff0000}
.fail_list_wrap{margin-top:16px}
.fail_list li{position:relative;min-height:106px;margin-top:9px;border:1px solid #c7c7c7;background:#fff}
.fail_list li:first-child{margin:0}
.fail_list li a{display:block;width:100%;/*height:100%*/}
.fail_list .thumb{position:absolute;top:50%;left:5px;width:95px;transform:translate(0,-50%)}
.fail_list .thumb .img{display:block;max-width:95px;width:100%}
.fail_list .thumb img{max-width:100%;max-height:100%;vertical-align:middle}
.fail_list .info_wrap{overflow:hidden;display:block;position:relative;min-height:106px;/*height:100%;*/padding:36px 5px 36px 115px;font-size:12px;color:#353535;box-sizing:border-box;-webkit-box-sizing:border-box}
.fail_list .info_wrap .prd_tit{display:inline-block;vertical-align:middle;word-break:keep-all}
.fail_list .info_wrap .prd_info{display:block;margin-top:6px;font-weight:500;color:#ff0000}
.fail_list .state{text-align:center;}
.fail_list .state span{display:inline-block;font-size:14px;color:#333}

.order_fail_wrap .btn_area{display:block;margin-top:16px;text-align:center}
.order_fail_wrap .btn_area .btn_go{display:block;width:100%;height:44px;margin:0;padding:0 5px;border:1px solid #f38901;background:#ff9821;font-size:18px;font-weight:600;color:#fff;line-height:44px;box-sizing:border-box;-webkit-box-sizing:border-box}


/* 
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:610}
.layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:600;width:100%;height:100%;content:'';filter:alpha(opacity=50);opacity:.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:610}

.layer_popup_header{position:relative;height:40px;border-top:2px solid #81b824}
.layer_popup_wrap .layer_popup_title{font-size:13px;color:#373737;line-height:42px}
.layer_popup_wrap .btn_close3{position:absolute;top:0;right:0;padding:13px}
.layer_popup_wrap .btn_close3 img{width:11px;height:11px;}

.layer_popup_contents{padding:0 15px 23px}
.layer_popup_contents .layer_popup_content{border-top:1px solid #81b824}
.layer_popup_contents .popup_txt{display:block;margin-top:11px;font-size:12px;font-weight:500;color:#373737;text-align:center;line-height:1.4;word-break:keep-all}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
.layer_popup_contents .btn_area{margin-top:15px;text-align:center}
.layer_popup_contents .btn_area .btn_confirm{width:75px;height:29px;font-size:12px;color:#fff;border:1px solid #71a715;background-color:#85b81f;line-height:29px} */


/* [S]sub category */
.cateBestId .main__content-list{margin-top:20px}
.cateBestId .prod_info .prod_detail{position:static}
.cateBestId .prod_info .prod_detail a{display:block;}
.cateBestId .prod_info .prod_detail .prod_detail_top .prod_tit{min-height:30px}
.cateBestId .prod_info .prod_detail .prod_detail_top .prod_price{overflow:hidden;position:static;bottom:auto}
.cateBestId .prod_info .prod_detail .prod_btn_cart{bottom:8px}
.cateBestId .prod_info .prod_detail .prod_btn_cart img{width:25px}
/* [E]sub category */

/* [S] search result */
#mGoodsRL .prod_info .prod_detail{height:auto}
#mGoodsRL .prod_info.box .prod_btn-area-m{top:5px}
#mGoodsRL .prod_info.box .prod_detail .prod_btn_cart{bottom:5px}
/* [E] search result */

/* [S] main modi */
.main__content .main__tit.nth-tit{margin:45px 0 10px}

/* deal goods */
#dealDiv{padding-bottom:11px}
#dealDiv .section__wrap{padding:0 15px}
#dealDiv .main__content-item{float:none;padding-left:14px;vertical-align:top}
#dealDiv .main__tit{margin:17px 0 11px;padding:0;font-size:13px}
#dealDiv .main__tit img{height:43px}
#dealDiv .main__tit > span{margin-top:18px;padding:0 0 0 4px}
#dealDiv .main__content-list{overflow:hidden;margin-left:-14px;font-size:0}
#dealDiv .prod_info{min-height:270px;height:auto}
#dealDiv .prod_img_per{width:46px;padding:6px}
#dealDiv .prod_info .prod_img{padding:100% 0 0 0}
#dealDiv .prod_info .prod_btn_cart{top:auto;right:5px;margin-top:-31px}
#dealDiv .prod_info .prod_btn_cart img{width:26px}
#dealDiv .prod_info .prod_tit{height:auto;min-height:44px;margin-bottom:3px;font-size:15px;color:#000;line-height:22px}
#dealDiv .prod_info .prod_price{overflow:hidden;position:relative;bottom:auto;line-height:20px}
#dealDiv .prod_info .prod_detail{min-height:124px;height:auto;margin:9px 0 21px}
#dealDiv .prod_info .prod_detail a{display:block;width:100%;height:auto}
#dealDiv .prod_detail_top .prod_percent{display:inline-block;float:none;margin:19px 5px 0 0;font-size:14px}
#dealDiv .prod_detail_top .prod_price_now{margin:19px 5px 0 0;font-size:14px}
#dealDiv .prod_detail_top .prod_price_now span{font-size:14px}
#dealDiv .prod_detail_top .prod_price_prev{position:absolute;top:0;left:0;margin:0;font-size:13px}
#dealDiv .prod_detail_top .prod_price_prev span{line-height:20px}
#dealDiv .prod_detail_bottom .prod_txt_detail{max-height:30px;height:auto;font-size:12px;color:#898989}
#dealDiv .prod_detail .prod_detail_bottom{margin:5px 0 11px;padding:7px 0 0 0}
#dealDiv .prod_detail .prod_label_bottom .label{width:auto;min-width:46px;height:18px;margin:0 3px 3px 0;padding:0;border:1px solid #4ac912;font-size:12px;line-height:18px}

/* best top 10 */
#divMainBest{padding-bottom:27px}
#divMainBest .section__wrap{padding:0 15px}
#divMainBest .main__tit.nth-tit{padding:0}
#divMainBest .main__more{top:48px;right:15px;width:12px;height:12px}
#divMainBest .main__content-list.column_3{margin:0}
#divMainBest .prod_info{height:auto;min-height:244px}
#divMainBest .prod_info .prod_btn_cart{top:auto;right:5px;margin-top:-31px}
#divMainBest .prod_info .prod_btn_cart img{width:26px}
#divMainBest .prod_info .prod_tit{height:auto;min-height:44px;margin-bottom:3px;font-size:15px;color:#000;line-height:22px}
#divMainBest .prod_info .prod_price{overflow:hidden;position:static;bottom:auto;line-height:20px}
#divMainBest .prod_info .prod_detail{min-height:108px;height:auto;margin:9px 0 0}
#divMainBest .prod_info .prod_detail a{display:block;width:100%;height:auto}
#divMainBest .prod_detail .prod_label_bottom .label{width:auto;min-width:46px;height:18px;margin:0 3px 3px 0;padding:0;border:1px solid #4ac912;font-size:12px;line-height:18px}
#divMainBest .prod_detail_top{padding:0 0 8px}
#divMainBest .prod_detail_top .prod_percent{display:inline-block;float:none;font-size:14px;margin:19px 6px 0 0}
#divMainBest .prod_detail_top .prod_price_now{font-size:14px;margin:19px 5px 0 0}
#divMainBest .prod_detail_top .prod_price_now span{font-size:14px}
#divMainBest .prod_detail_top .prod_price_prev{left:5px;margin:0;font-size:13px}
#divMainBest .prod_detail_top .prod_price_prev span{line-height:20px}

/* today's best planshop */
#divBestPlan.main__content .bestplan_list{padding:0 15px}
#divBestPlan.main__content .bestplan_list li{width:100%}
#divBestPlan.main__content .bestplan_list li .prod_info.box{min-height:114px;height:114px;padding:0}
#divBestPlan.main__content .bestplan_list li .prod_info .prod_img{top:50%;left:12px;width:90px;height:90px;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)}
#divBestPlan.main__content .bestplan_list li .prod_info.box .prod_btn_cart{top:auto;right:5px;bottom:5px}
#divBestPlan.main__content .bestplan_list li .prod_info .prod_detail{height:auto;margin:0;padding:0 11px 0 117px}
#divBestPlan.main__content .bestplan_list li .prod_info .prod_detail .prod_detail_top{padding:0 0 7px}
#divBestPlan.main__content .prod_info .prod_btn_cart img{width:26px}
#divBestPlan.main__content .prod_info .prod_tit{height:auto;min-height:44px;margin:12px 0 3px;font-size:15px;color:#000;line-height:22px}
#divBestPlan.main__content .prod_info .prod_price{overflow:hidden;position:static;bottom:auto;line-height:20px}
#divBestPlan.main__content .prod_info .prod_detail a{display:block;width:100%;height:auto}
#divBestPlan.main__content .prod_detail_top .prod_price_now{margin:0 5px 0 0;font-size:14px}
#divBestPlan.main__content .prod_detail_top .prod_price_now span{font-size:14px}
#divBestPlan.main__content .prod_detail_top .prod_price_prev{margin:0;font-size:13px}
#divBestPlan.main__content .prod_detail_top .prod_price_prev span{line-height:20px}
#divBestPlan.main__content .prod_detail_top .prod_percent{margin-right:5px;font-size:14px}
#divBestPlan.main__content .prod_detail .prod_label_bottom .label{width:auto;min-width:46px;height:18px;margin:0 3px 3px 0;padding:0;border:1px solid #4ac912;font-size:12px;line-height:18px;}

/* recommend goods */
#rcmmTitle{margin:45px 5px 12px;padding:0}
#rcmmList{margin:0 5px}
#rcmmList .tab-v2__list{border-color:#9e9e9d}
#rcmmList .tab-v2__item{width:100%;height:36px;font-size:14px;color:#000;text-align:center}
#rcmmList .tab-v2__item.is-active,#rcmmList .is-active .tab-v2__link{color:#fff}
#rcmmList .tab-v2__link{display:block;width:auto;height:100%;color:#000;line-height:36px}
#rcmmGoods{margin:0 5px}
#rcmmGoods .main__content-item{width:50%;padding-left:15px}
#rcmmGoods .main__content-list{margin-left:-15px}
#rcmmGoods .prod_info.box{min-height:260px;height:auto;margin-bottom:6px}
#rcmmGoods .prod_info .prod_btn_cart{top:auto;right:5px;margin-top:-31px}
#rcmmGoods .prod_info .prod_btn_cart img{width:26px}
#rcmmGoods .prod_info .prod_detail{min-height:150px;height:auto;margin:0}
#rcmmGoods .prod_info .prod_detail a{display:block;width:100%;height:auto}
#rcmmGoods .prod_info .prod_detail .prod_tit{height:auto;min-height:44px;margin:8px 0 3px;font-size:15px;color:#000;line-height:22px}
#rcmmGoods .prod_info .prod_detail .prod_price{overflow:hidden;position:relative;bottom:auto;line-height:20px}
#rcmmGoods .prod_detail_top{min-height:102px;padding:0 0 8px}
#rcmmGoods .prod_detail_top .prod_percent{display:inline-block;float:none;margin:19px 5px 0 0;font-size:14px}
#rcmmGoods .prod_detail_top .prod_price_now{margin:19px 5px 0 0;font-size:14px}
#rcmmGoods .prod_detail_top .prod_price_now span{font-size:14px}
#rcmmGoods .prod_detail_top .prod_price_prev{position:absolute;top:0;left:0;margin:0;font-size:13px}
#rcmmGoods .prod_detail_top .prod_price_prev span{line-height:20px}
#rcmmGoods .prod_detail .prod_label_bottom .label{width:auto;min-width:46px;height:18px;margin:0 3px 3px 0;padding:0;border:1px solid #4ac912;font-size:12px;line-height:18px}

/* best seller */
#divBestSeller{padding-bottom:32px}
#divBestSeller .main__best-list{overflow:hidden}
#divBestSeller .main__best-item{width:33.33334%;margin:0 0 12px 0;padding:0 2.777778%;-webkit-box-sizing:border-box;box-sizing:border-box}
#divBestSeller .main__best-item a{display:block;width:100%;height:auto}
#divBestSeller .main__best-img{width:100%;margin:0}
#divBestSeller .main__best-txt{margin-top:2px;font-size:14px;color:#000}

/* real review */
#divRealTitle.main__content{padding-bottom:46px}
#divRealTitle .section__wrap{padding:0 15px}
#divRealTitle .main__tit.nth-tit{padding:0}
#divRealTitle .main__more{top:48px;right:15px;width:12px;height:12px}
#divRealTitle .main__board{padding:27px}
#divRealTitle .main__board-item{padding:13px 4px}
#divRealTitle .main__board-item:first-child{padding-top:0}
#divRealTitle .main__board-item a{display:block;width:100%;height:100%}
#divRealTitle .main__board-tit{font-size:14px}
#divRealTitle .main__board-txt{margin-top:3px;padding:0;font-size:13px}
#divRealTitle .review__banner-btn{height:42px;font-size:15px;line-height:42px}
#divRealTitle .review__banner-btn:before{top:18px;right:5%;padding:3px}

/* chef recipe */
#divRecipe{padding-bottom:49px}
#divRecipe .section__wrap{padding:0 15px}
#divRecipe .main__tit.nth-tit{padding:0}
#divRecipe .main__more{top:48px;right:15px;width:12px;height:12px}
#divRecipe .cont-slide__item{margin-right:15px}
#divRecipe .recipe__link{display:block;width:100%}
#divRecipe .cont-slide__prod{min-height:auto}
#divRecipe .cont-slide__footer{min-height:35px;padding:0 5px}
#divRecipe .cont-slide__footer .cont-slide__txt{height:auto;max-height:16px;margin-top:9px;font-size:13px}
#divRecipe .cont-slide__footer .cont-slide__tit{margin-top:1px;font-size:13px}

/* brand shop */
#divBrand{padding-bottom:40px}
#divBrand .section__wrap{padding:0 15px}
#divBrand .main__tit.nth-tit{padding:0}
#divBrand .main__content-list{margin-left:-15px}
#divBrand .main__content-item{padding-left:15px}
#divBrand .prod_info.box{min-height:248px;height:auto;margin:0}
#divBrand .prod_info .prod_btn_cart{top:auto;right:5px;margin-top:-31px}
#divBrand .prod_info .prod_btn_cart img{width:26px}
#divBrand .prod_info .prod_detail{height:auto;margin:0}
#divBrand .prod_info .prod_detail a{display:block;width:100%;height:auto}
#divBrand .prod_info .prod_detail .prod_tit{height:auto;min-height:44px;margin:8px 0 3px;font-size:15px;color:#000;line-height:22px}
#divBrand .prod_info .prod_detail .prod_price{overflow:hidden;position:relative;bottom:auto;line-height:20px}
#divBrand .prod_detail_top{min-height:102px;padding:0 0 8px}
#divBrand .prod_detail_top .prod_percent{display:inline-block;float:none;margin:19px 5px 0 0;font-size:14px}
#divBrand .prod_detail_top .prod_price_now{margin:19px 5px 0 0;font-size:14px}
#divBrand .prod_detail_top .prod_price_now span{font-size:14px}
#divBrand .prod_detail_top .prod_price_prev{position:absolute;top:0;left:0;margin:0;font-size:13px}
#divBrand .prod_detail_top .prod_price_prev span{line-height:20px}
#divBrand .prod_detail .prod_label_bottom .label{width:auto;min-width:46px;height:18px;margin:0 3px 3px 0;padding:0;border:1px solid #4ac912;font-size:12px;line-height:18px}

/* talktalk */
#talkWrap{padding-bottom:10px}
/* [E] main modi */


/* [S]202006 layout */
.prod_detail_bottom.my .select__box,
.my_stitWrap_option .select__box,
#periodShoppingDate .select__box{-webkit-transform:translate(0,0);transform:translate(0,0)}
#periodShoppingDate .input2__wrap2{margin:0}
#delvListInfo .select__box{float:none;-webkit-transform:translate(0,0);transform:translate(0,0)}
#refdAccountId .account_ex,#hidVirtual .account_ex{padding-right:108px}
.receiver .my_tbl_ty02{table-layout:auto}

.section__prod .prod_info.box .prod_tit_wide{max-height:33px}

.popup__wrap .layer_tb__td #refdBankCdLay.select_info{width:100%}
.popup__wrap .layer_tb__td .input2__wrap6{padding:0}
#delivList .select__box{-webkit-transform:translate(0,0);transform:translate(0,0)}
/* [E]202006 layout */

/* [S]20201022 employee modify */
.employee_info_wrap{margin-top:10px;padding:0 3.6111112% 80px}
.employee_info_wrap .employee_title{display:block;font-size:16px;color:#102c15;line-height:24px;letter-spacing:-1px}

.employee_area{margin-top:5px;border:2px solid #e0e0e0;background:#fff;border-radius:10px}
.employee_info_table{width:100%;margin-top:10px;table-layout:fixed}
.employee_info_table th{padding:5px 0px 5px 10px;text-align:left;color:#333;border-top:2px solid #e0e0e0}
.employee_info_table td{padding:5px 10px 5px 10px;border-top:2px solid #e0e0e0;}
.employee_info_table td p{font-size:15px;color:#333;line-height:24px}
.employee_info_table td li{font-size:12px;color:#999;line-height:1.3}
.employee_info_table tr:first-child td{border-top:0}
.employee_info_table tr:first-child th{border-top:0}

.employee_info_wrap .input_box{display:block;position:relative;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/common/bg_form.png) left -98px no-repeat}
.employee_info_wrap .input_box .inner{height:36px;margin-left:5px;padding:8px 10px 0px 5px;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/common/bg_form.png) 100% -147px no-repeat}
.employee_info_wrap .input_box .input{display:inline-block;position:relative;width:100%;height:27px;border:0;padding:0px;border:0;color:#666;}

.employee_info_wrap .disabled{display:block;padding-left:10px;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/common/bg_form.png) no-repeat left 0}
.employee_info_wrap .disabled span{display:block;height:44px;margin-top:4px;font-size:14px;color:#595959;line-height:46px;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/common/bg_form.png) right -49px no-repeat}
.employee_info_wrap .disabled .my_address{display:inline-block;height:auto;margin:0;background:none;font-size:12px;line-height:1.4;vertical-align:middle;word-break:keep-all}
.employee_info_wrap .disabled .my_address:after{display:inline-block;height:100%;vertical-align:middle;content:''}

.employee_info_wrap .divide_box{display:table;width:100%}
.employee_info_wrap .divide_box .cell{display:table-cell;width:33.3334%;vertical-align:top}
.employee_info_wrap .divide_box .cell2{width:50%;display:table-cell;vertical-align:top}
.employee_info_wrap .divide_box .desh{display:table-cell;padding:0px 2px;font-size:14px;line-height:46px;text-align:center}

.employee_info_wrap .btn_wrap{margin:10px 0 0;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/common/btn_bg.gif) no-repeat left 0;text-align:center}
.employee_info_wrap .btn_wrap a{display:block;height:54px;background:url(https://www.pulmuoneshop.co.kr/front/mInclude/img/common/btn_bg.gif) right -74px no-repeat;font-size:16px;color:#fff;line-height:54px}
/* [E]20201022 employee modify */