

/* Footer */
.footer__menu2-item {padding: 0px 5px 0 10px;}
strong.footer__txt {font-size: 14px;padding-top: 7px;margin-top: 5px;margin-bottom: 10px;padding-left: 84px;background: url(../img/common/logo_pulmuone.png) no-repeat 0 center;}



/* 메인 */
.main__slide .swiper-pagination {position: absolute; width: 100%; left: 0px; bottom: 1em;}
.main__content.planBanner {padding: 10px 10px 0;} /* 20190805 수정 */
.main__content.planBanner img {width: 100%;}
.gnb__plan-link {margin: 15px 15px 0 0}
.gnb__plan-link ul {overflow:hidden;}
.gnb__plan-link li {float: left;width: 50%;padding-left: 15px;box-sizing: border-box}
.gnb__plan-link li img {width: 100%;}
.main__content .main__content-item .prod__date {display:none}

/* 20190730 추가 */
/* Header Banner */
.top_banner { position: relative; text-align: center}
.top_banner a { display: block; }
.top_banner a img {width: 100%;}
/* Header */
.header__logo {width: 2.23em;margin-left: 1.6em;background-image: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/logo2.png);}
.header__menu-btn {top:0.7em;padding: 1.2em 0.8em;}
.header__menu-bar {width: 1.67em; height: .15em;background: #003805;}
.header__menu-bar + p { margin-top: 0.5em;}
.basket__num {left: auto;right: -.5em;background-color: #ff0000;line-height: 2em;}
.header__gnb {background: #fff;}
.header__gnb:before {content:'';position:absolute;left: 0.8em;right: 0.8em;border-top: 1px solid #f2f5f2;}
.tab-v1__list {background: #fff;}
.tab-v1__item:before {display: none;}
/*.tab-v1__item {width: auto;height: auto;margin: 0 3%;flex-grow: 0;} */
.tab-v1__item {color: #000; width: auto;}
.tab-v1__item.is-active .tab-v1__link {color: #000; font-weight: 700;}
.tab-v1__item.is-active .tab-v1__link:after {bottom: 0px;border-bottom: .15em solid #7bcc12; border-radius: 0px;}
.tab-v1__link {display: block;width: auto;font-size: 0.93em;line-height: 3em;}
.basket__btn {margin-right: 1.2em;margin-top: 1.6em;}
.basket__btn img {width: 2.6em;}
.header__search-wrap {left: 0px;width: 80%;height: 73%!important;}
.header__search-wrap:after {width: 100%; height: .15em;background: #7bcc12;}
.header__search-wrap .input_sh {width: 100%!important;height: 100%;padding-right: 3em;font-size: 4vmin;}
.header__search-close {right: 2.7em}
.header__search-btn {width: 1.7em;right: 6px;background: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/search_btn2.png) no-repeat center left;background-size: 100% auto;}
.header__search {padding: 1em 0 0 9em;}
.search-layer {top: 5em;border-color: #f2f5f2}
.search-layer__item {border-color: #f2f5f2}

.main_full_content-list + .main__content.type-border2 {margin-top: 1em;}
/* Footer */
.footer {padding-top: 3%;background-color: #f7f7f7;}
.footer__wrap {padding: 0px 1.2em 0 1.2em;}
.footer__menu1-list {text-align: center;}
.footer__menu1-item {float: none; display: inline-block; vertical-align: top; width: auto; padding: .8em 1.4em;}
.footer__menu1 {background-color: #fff;}
.footer__menu2-item {color: #555; padding: 0px 0.8em 0 0.8em;}
.footer__txt {color: #555}
strong.footer__txt {font-size: 4vmin;padding: 1% 0 1% 20%;background: url(http://www.pulmuoneshop.co.kr/front/mInclude/img/common/logo_pulmuone2.png) no-repeat 0 center !important;background-size: 40% auto !important;}
.footer__menu2-link {font-size: 0.9em;}
.footer-fix__list {background-color: #7bcc12}




/* [S]sub category */
.cateBestId .main__content-list{margin-top:20px}
.cateBestId .prod_info .prod_detail{position:static}
.cateBestId .prod_info .prod_detail a{display:block;}
.cateBestId .prod_info .prod_detail .prod_detail_top .prod_tit{min-height:30px}
.cateBestId .prod_info .prod_detail .prod_detail_top .prod_price{overflow:hidden;position:static;bottom:auto}
.cateBestId .prod_info .prod_detail .prod_btn_cart{bottom:8px}
.cateBestId .prod_info .prod_detail .prod_btn_cart img{width:25px}
/* [E]sub category */

/* [S] search result */
#mGoodsRL .prod_info .prod_detail{height:auto}
#mGoodsRL .prod_info.box .prod_btn-area-m{top:5px}
#mGoodsRL .prod_info.box .prod_detail .prod_btn_cart{bottom:5px}
/* [E] search result */