@charset "UTF-8";

/* iPhone5 기준 */

/* common source */
html { font-size: 10px; }
#pro_trace_wrap { width: 100%; max-width: 1000px; height: auto; margin: 0 auto; font-family: '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif; letter-spacing: -0.12rem; font-weight: normal; color: #555; }
#pro_trace_wrap > div { width: 100%; }
#pro_trace_wrap img { width: auto !important; max-width: 100% !important; height: auto !important; vertical-align: bottom; }
#pro_trace_wrap button { padding: 0; border: none; cursor: pointer; overflow: visible; white-space: nowrap; outline: none; }
#pro_trace_wrap table caption { overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; font-size: 0; line-height: 0; }

/* header wrap */
.pro_trace_header { position: relative; height: 3.95rem; background-color: #8dcc6e; }

/* header > all element */
.pro_trace_header * { height: 100%; }

/* header > 뒤로가기 버튼 */
.pro_trace_header .but_before { position: absolute; left: 0.8rem; width: 2.15rem; background: url(/front/mInclude/img/prodhist/but_gobefore.png) no-repeat; background-size: 100%; text-indent: -9999px; }

/* header > 풀무원 로고 */
.pro_trace_header .logo_pulmuone { width: 5.9rem; margin: 0 auto; }

/* header > 다운로드 버튼 */
.pro_trace_header .but_download { position: absolute; top: 0; right: 0.95rem; width: 2.15rem; background: url(/front/mInclude/img/prodhist/but_download.png) no-repeat; background-size: 100%; text-indent: -9999px; }

/* contents wrap */
.pro_trace_cont { height: auto; }

/* contents > 상품 기본 정보 */
.basic_info { height: auto; }

/* contents > 상품 기본 정보 > 생산이력 정보시스템 로고 */
.basic_info h1 { width: 15.1rem; height: 2.9rem; margin: 1.3rem auto 1.4rem auto; }

/* 20170816 수정 (상품썸네일 사이즈 조정) */
/* contents > 상품 기본 정보 > 상품 썸네일 이미지 */
.basic_info .pro_thumbnail { position: relative; box-sizing: border-box; width: 16rem; height: 16rem; margin: 0 auto; padding: 1rem; background: url(/front/mInclude/img/prodhist/title_pro_thumbnail_bg.png) no-repeat; background-size: 100%; }
.basic_info .pro_thumbnail img { position: relative; z-index: -1; }

/* contents > 상품 기본 정보 > 상품명 */
.basic_info .pro_name { margin: 1.5rem 0.95rem; line-height: 2.7rem; text-align: center; font-size: 1.8rem; font-weight: bold; color: #000; }

/* 20170828 수정  */
/* 20170816 수정  */
/* contents > 상품 기본 정보 > 기본정보 리스트 */
.pro_basic_info_list { margin: 0 auto; width: 30.75rem; table-layout: fixed; text-align: center; font-size: 1rem; }
.pro_basic_info_list th { padding-left: 0.35rem; padding-right: 0.3rem; }
.pro_basic_info_list th::after { content: ""; display: inline-block; margin-top: 0.55rem; margin-bottom: 0.3rem; width: 9.6rem; height: 2rem;
 background: url(/front/mInclude/img/prodhist/basic_info_icon1.jpg) no-repeat; background-size: 100%; vertical-align: bottom; }
.pro_basic_info_list th:nth-child(2)::after { background: url(/front/mInclude/img/prodhist/basic_info_icon2.jpg) no-repeat; background-size: 100%; }
.pro_basic_info_list td { position: relative; padding: 0.75rem 0.3rem 1rem 0.35rem; line-height: 1.4rem; vertical-align: top; font-size: 1.3rem; }
.pro_basic_info_list td::after { content: ""; display: inline-block; width: 9.6rem; height: 0.3rem; position: absolute; left: 0.35rem; bottom:0; background-color: #6ecc95; }
.pro_basic_info_list td:nth-child(2)::after { background-color: #6eadcc; }

/* contents > 상품 생산 스텝 */
.pro_step { height: auto; background-color: #ebebeb; }

/* contents > 상품 생산 스텝 > common source */
.step_cont { height: auto; background: url(/front/mInclude/img/prodhist/step_repeat_bg.png) repeat-y; background-size: 100%; }
.step_cont table { margin: 0 2.2rem; text-align: left; }
.step_cont table th { position: relative; width: 7.5rem; padding-bottom: 2.55rem; font-size: 1.3rem; }
.step_cont table th::after { position: absolute; top: 0.2rem; right: 0; content: ""; display: inline-block; width: 0.95rem; height: 0.95rem; border-radius: 50% 50%; }
.step_cont table td { padding: 0 0 2.55rem 2.75rem; font-size: 1.7rem; vertical-align: middle; }
.step_bottom_bg { height: 0.8rem; background: url(/front/mInclude/img/prodhist/step_bottom_bg.png) no-repeat; background-size: 100%; }

/* step1. 재배 */
.each_step_wrap:nth-child(1) { padding-top: 0.8rem; }
.step1_cont .circle1::after { background-color: #0088cc; }
.step1_cont .circle2::after { background-color: #a1cfe6;}
.step1_cont .circle3::after { background-color: #a1cfe6; }
.step1_cont .circle4::after { background-color: #a1cfe6;}

/* step2. 선별 */
.step2_cont .circle5::after { background-color: #a1e0e6; }
.step2_cont .circle6::after { background-color: #00bbcc; }

/* step2. 선별 > 선별결과: 농림부 1등급 기준 */
.step2_cont .first_standard { position: relative; }
.step2_cont .first_standard > span { display: block; }
.step2_cont .first_standard .iconpass { position: absolute; top:-1.5rem; margin-left: 0.7rem; content: ""; display: inline-block; width: 3.95rem; height: 3.95rem; }

/* step2. 선별 > 선별결과: 농림부 1등급 기준 > detail */
.first_standard_detail { margin-top : 0.75rem; font-size: 1.45rem; }
.first_standard_detail dt,.first_standard_detail dd { display: inline-block; margin-top: 0.9rem; }
.first_standard_detail dt::before { content: ""; display: inline-block; width: 1.6rem; height: 2rem; margin-right: 0.6rem; vertical-align: text-bottom; }
.first_standard_detail .bean1::before { background: url(/front/mInclude/img/prodhist/icon_bean1.jpg) no-repeat; background-size: 100%; background-position: 50%; }
.first_standard_detail .bean2::before { background: url(/front/mInclude/img/prodhist/icon_bean2.jpg) no-repeat; background-size: 100%; }
.first_standard_detail dt { width:7.5rem; min-width: 6rem; }
.first_standard_detail dd { color: #00bbcc; }

/* step3. 보관&입고 */
.step3_cont .circle7::after { background-color: #a1e6da; }
.step3_cont .circle8::after { background-color: #a1e6da; }
.step3_cont .circle9::after { background-color: #a1e6da; }

/* step4. 제조 */
.step4_cont .circle10::after { background-color: #a1e6bd; }
.step4_cont .circle11::after { background-color: #20bf62; }
.step4_cont .circle12::after { background-color: #20bf62; }

/* step5. 생산 */
.step5_cont .circle13::after { background-color: #b8e6b8; }
.step5_cont .circle14::after { background-color: #b8e6b8; }
.step5_cont .circle15::after { background-color: #50ba4b; }

/* step6. 유통 */
.step6_cont .circle16::after { background-color: #b8e6a1; }
.step6_cont .circle17::after { background-color: #b8e6a1; }
.pro_step .step6_bottom_bg { height: 0.8rem; background: url(/front/mInclude/img/prodhist/step6_bottom_bg.png) no-repeat; background-size: 100%; }

/* step6. 유통 --> 유통정보 그래픽 */
.step6_cont2 { height: auto; background: url(/front/mInclude/img/prodhist/step6_repeat_bg.png) repeat-y; background-size: 100%; }
.distribution_graphic_wrap { padding-left: 12.4rem; padding-bottom: 2.3rem; }
.distribution_graphic { font-size: 1.2rem; padding-left: 12.4rem; width: 16.5rem; height: 11.9rem; }
.distribution_graphic tr:nth-child(1) { height: 10.55rem; }
.distribution_graphic tr:nth-child(2) { height: 1.45rem; }
.distribution_graphic th { text-align: left; width: 6.4rem; }
.distribution_graphic tr:nth-child(2) th { vertical-align: bottom; }
.distribution_graphic td { text-align: center; vertical-align: bottom; font-weight: bold; color: #6ecc6e; }
.distribution_graphic tr:nth-child(2) td { padding-top: 0.5rem; font-size: 1.35rem; }
.distribution_graphic tr:nth-child(1) th { position: relative; }
.distribution_graphic .text_position { position: absolute; top: 1.75rem; }

/* step6. 유통 --> 중간 라인 가리개 */
.step6_cont .circle17 { position: relative; }
.step6_cont .line_cover { position: absolute; top: 1.1rem; left: 6.8rem; display: inline-block; width: 0.4rem; height: 3.2rem; background-color: #fff;}

/* 관련 정보 > wrap */
.relation_info_wrap { margin-top: 0.8rem; }

/* 관련 정보 > 닫힘/펼침 공통 코드 */
.relation_info_tit { height: 4.7rem; background: url(/front/mInclude/img/prodhist/dropdown_before_tit.png) no-repeat; background-size: 100%; }
.relation_info_bottom { height: 0.8rem; background: url(/front/mInclude/img/prodhist/dropdown_bottom_bg.png) no-repeat; background-size: 100%; }

/* 관련 정보 > 펼침 > wrap */
.relation_info_cont { display: none; height: auto; background: url(/front/mInclude/img/prodhist/relation_info_repeat_bg.png) repeat-y; background-size: 100%; }

/* 관련 정보 > 펼침 > table */
.relation_info_cont .dropdown_cont_top_bg { height: 3.2rem; background: url(/front/mInclude/img/prodhist/dropdown_cont_top_bg.png) no-repeat; background-size: 100%; }
.relation_info_cont table { margin: 0 2.2rem; text-align: left; }
.relation_info_cont table tr { border-bottom: 1px solid #ddd; }
.relation_info_cont table th { position: relative; top: -0.25rem; box-sizing: border-box; padding-top: 2.55rem; padding-right: 1.3rem; width: 7.05rem; line-height: 1.6rem; font-weight: bold; font-size: 1.3rem; color: #5fb336; }
.relation_info_cont table td { padding-top: 2.55rem; }
.relation_info_cont table tr:nth-child(1) th, .relation_info_cont table tr:nth-child(1) td { padding-top: 0; }
.relation_info_cont table tr:last-child { border-bottom: 0; }

/* 관련 정보 > 펼침 > info depth wrap */
.relation_info_cont .info_depth_wrap { position: relative; margin-bottom: 2rem; padding-left: 3.2rem; border-left: 1px solid #ddd; }
.relation_info_cont .info_depth_wrap::before { position: absolute; top: 0; left: -0.28rem; content: ""; display: inline-block; width: 0.5rem; height: 0.9rem; background: url(/front/mInclude/img/prodhist/relation_info_circle.jpg) no-repeat; background-size: 100%; }

/* 관련 정보 > 펼침 > info depth wrap > p */
.relation_info_cont .info_1depth { margin-bottom: 1.1rem; font-size: 1.6rem; color: #000; font-weight: bold; }
.relation_info_cont .info_2depth { margin-bottom: 1.05rem; line-height: 1.6rem; font-size: 1.3rem; }
.relation_info_cont .info_3depth { line-height: 1.5rem; font-size: 1.2rem; color: #9d9d9d; }

/* 하단 '제품 보러가기' 버튼 */
.page_bottom_but { width: 12.1rem; height: 6.3rem; margin: 0 auto; }
.page_bottom_but img { vertical-align: top !important; }


/* media query */

/* 갤럭시S5 */
@media screen and (device-width: 360px) and (orientation: portrait) { html { font-size: 11.4px } }

/* 20170828 수정  */
/* iPhone6 */
@media screen and (device-width: 375px) and (orientation: portrait) {
  html { font-size: 11.8px }
  .pro_basic_info_list td { padding: 0.55rem 0.3rem 0.9rem 0.35rem; line-height: 1.6rem; font-size: 1.5rem; }
}

/* LG 옵티머스G */
@media screen and (device-width: 384px) and (orientation: portrait) { html { font-size: 12.1px } }

/* Nexus 5X, iPhone6 plus  */
@media screen and (min-width: 412px) and (max-width: 414px) and (orientation: portrait) { html { font-size: 13px; } }

/* iPhone6s 기준 */
@media screen and (min-width: 540px) and (orientation: portrait) { html { font-size: 17.05px; } }

/* 킨들 파이어 HD 8.9 기준 */
@media screen and (min-width: 600px) and (orientation: portrait) { html { font-size: 18.8px; } }

/* MS 서피스 프로 기준  */
@media screen and (min-width: 720px) and (orientation: portrait) { html { font-size: 22.6px; } }

/* iPad 기준  */
@media screen and (min-width: 768px) and (orientation: portrait) { html { font-size: 24px; } }

/* 갤럭시탭 기준  */
@media screen and (min-width: 800px) and (orientation: portrait) { html { font-size: 25.1px; } }

/* iPad Pro 기준  */
@media screen and (min-width: 1024px) and (orientation: portrait) { html { font-size: 31.4px; } }

/*  20170925 최선경 신규 모바일쿠폰관련 추가 */
/* wrap */
.coupon_wrap { width: 100%; height: auto; margin: 0 auto; }
.btn_registorwrap a { text-decoration: none; color: #755645; }
.btn_registor_coupon_area a { text-decoration: none; color: #755645; }

/* new button area */
.btn_registorwrap { margin-top: 0.5rem; width: 100%; height: 2.9rem; line-height: 2.9rem; text-align: center;
font-size: 1.1rem; font-weight: bold; color: #755645; }
.btn_ecoupon_registor { width: 100%; display: block; background: #fff; border: 1px solid #755645 ;border-width: 1px 0; }

/* btn area */
.btn_registor_coupon_area { margin: 1rem 0.9rem; box-sizing: border-box; text-align: center; font-size: 1.1rem; color: #755645; font-weight: bold; border: 2px solid #755645; }
.btn_registor_coupon {height: 2.8rem;line-height: 2.8rem; }

/* contents area */
.coupon_contents { margin-top: 1rem; }
.common_title_tab { padding-left: 0.9rem; line-height: 4rem; background: #eee; border-top: 2px solid #c8c8c8; font-size: 1.3rem; font-weight: bold; color: #555; }
.common_registor_area { padding: 1rem 0.9rem; }
.common_registor_area input[type="text"] { box-sizing: border-box; margin-bottom: 0.8rem; padding-left: 0.6rem; width: 100%; height: 2.5rem;
background: #fff; border: 1px solid #c8c8c8; font-size: 1rem; color: #999; }
.common_registor_area .btn_registor { cursor: pointer; width: 100%; line-height: 2.8rem; border: 2px solid #755645; background: #fff;
font-size: 1.1rem; font-weight: bold; color: #755645; }
.coupon_voucher_addexplain { margin: 0 0.9rem 1.25rem 0.9rem; padding: 0.4rem 0.65rem; line-height: 1.35rem; font-size: 0.9rem; color: #555; background: #f1ece8; }