@charset "utf-8";

.evt_wide_wrap,.event_wrap,.evt_section{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .btn{position:absolute;top:48%;left:3%;width:94%;height:23%;border:0}
.event_wrap .btn_lnk2{top:74%}

