@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#e8dcc3 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1201_orga_new/img/m_evt_sec1.jpg)}

/* item_list */
.event_wrap .item_list{position:absolute;z-index:5;top:80vw;left:0;right:0;bottom:10vw;display:flex;}
.event_wrap .item_list li{position:relative;width:33.3333%}
.event_wrap .item_list li a{position:absolute;left:2vw;bottom:10vw;width:9vw;height:10vw;}
.event_wrap .item_list li:nth-child(2) a{left:13vw}
.event_wrap .item_list li:nth-child(3) a{left:auto;right:2vw}

.event_wrap .p_evt_sec2 .item_list{top:55vw;}
