@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{min-width:1200px}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* item_list */
.event_wrap .item_list{position:absolute;z-index:5;top:0;left:0;right:0;bottom:80px;display:flex;}
.event_wrap .item_list li{width:16.66%}
.event_wrap .item_list li a{display:block;height:100%}
