@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{margin:5.5556vw 0 0}
.event_wrap .p_evt_sec2{position:relative}

/* notice */
.event_wrap .p_evt_noti{background-color:#fdfae3}

/* page */
.event_wrap .p_evt_sec1{background-color:#fdfae3}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:18.0555vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0101_amio/img/m_evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:46.5555vw;right:9.7222vw;left:9.7222vw}
.event_wrap .items_list li{width:100%}
.event_wrap .items_list li + li{margin-top:8.4444vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .items_list .item_thumbnail{display:flex;justify-content:center;align-items:center;width:100%;height:61.3889vw;overflow:hidden}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{width:69.4444vw;margin:0 auto;padding:5.9722vw 0 0;color:#222;letter-spacing:-0.0556vw}

.event_wrap .items_list .text{font-size:3.8889vw;font-weight:400;color:#666;text-align:center;line-height:1}
.event_wrap .items_list .name{margin:1.9444vw 0 10.5556vw;font-size:5.5556vw;font-weight:600;text-align:center;line-height:1.2;letter-spacing:-1.5px}
.event_wrap .items_list .name small{font-size:4.1667vw;font-weight:300}
.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:1.3889vw 0}

.event_wrap .items_list .price_area{font-size:4.4444vw;font-weight:400;line-height:4.1667vw}
.event_wrap .items_list .item_info > dl.price_area :is(dt, dd){padding-top:0}

.event_wrap .items_list .sale_area{font-size:4.4444vw;font-weight:600;line-height:4.1667vw}
.event_wrap .items_list .coupon_area{padding:8.0556vw 0 6vw;font-size:5.5556vw;font-weight:700;line-height:1}
.event_wrap .items_list .discount{display:inline-block;margin-right:0.6944vw;color:#f31000}
.event_wrap .items_list .desc{margin-top:5.5556vw;font-size:3.3333vw;color:#fff;line-height:1;font-weight:200;text-align:center;opacity:0.8}
