@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list .info_desc{margin-top:35px;padding-bottom:53px;}
.event_wrap .coupon_item_btn{z-index:2}

/* notice */
.event_wrap .evt_notice{padding-top:63px}
.event_wrap .p_evt_noti{background:#fdfae3}

/* page */
.event_wrap .p_evt_sec1{background-color:#fdfae3}
.event_wrap .p_evt_sec1::after{content:'';position:absolute;top:487px;left:50%;width:536px;height:182px;margin-left:-240px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202501/0101_amio/img/object.png) no-repeat;z-index:1}

/* items_list */
.event_wrap .items_list{position:absolute;top:363px;display:grid;grid-template-columns:repeat(2, 1fr);gap:80px 40px}
.event_wrap .items_list a{display:block;width:100%;height:100%}
.event_wrap .items_list .inner{width:580px}

.event_wrap .items_list .item_thumbnail{width:100%;height:100%}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}
.event_wrap .items_list .item_info{width:500px;margin:0 auto;padding:40px 0 47px;color:#222;letter-spacing:-.4px;box-sizing:border-box}

.event_wrap .items_list .text{font-size:28px;font-weight:400;color:#666;text-align:center;line-height:1}
.event_wrap .items_list .name{margin:8px 0 80px;font-size:40px;font-weight:600;text-align:center;line-height:1.25;letter-spacing:-1.5px}
.event_wrap .items_list .name small{font-size:30px;font-weight:300}

.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list .item_info > dl :is(dt, dd){padding:10px 0}

.event_wrap .items_list .price_area{font-size:32px;font-weight:400;line-height:30px}
.event_wrap .items_list .item_info > dl.price_area :is(dt, dd){padding-top:0}

.event_wrap .items_list .sale_area{font-size:32px;font-weight:600;line-height:30px}
.event_wrap .items_list .coupon_area{padding-top:58px;font-size:40px;font-weight:700;line-height:1}
.event_wrap .items_list .discount{display:inline-block;margin-right:5px;color:#f31000}
.event_wrap .items_list .desc{margin-top:38px;font-size:24px;color:#fff;line-height:1;font-weight:200;text-align:center}
