@charset "utf-8";

.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .items_list{position:absolute;top:11%;right:22%;left:22%;bottom:5%;font-size:0}
.event_wrap .items_list li{display:inline-block;width:100%;height:33.3333%;margin-top:5%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .video_wrap{position:absolute;top:34.562841%;left:5.555555%;width:88.88888889%;height:49.1803278%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
