@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;vertical-align:top}

.event_wrap .items_list{position:absolute;top:35%;right:13%;left:13%;bottom:13%;font-size:0}
.event_wrap .items_list li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

.event_wrap .video_wrap{position:absolute;top:129px;left:157px;width:854px;height:480px}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
