@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;;box-sizing:border-box}
.event_wrap input[type="number"]::-webkit-outer-spin-button,
.event_wrap input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.event_wrap .shop_pulmuone{display:inline-block;word-break:break-word}

.event_wrap .apply_wrap{padding:0 5.555555%}
.event_wrap .title{display:block;font-size:32px;font-weight:600;color:#333;letter-spacing:-1.5px;line-height:1.2;word-break:keep-all}
.event_wrap .text{display:block;margin-top:9px;font-size:14px;font-weight:300;color:#333;line-height:20px}
.event_wrap .img_coupon{display:block;max-width:192px;margin:38px auto 0}
.event_wrap .img_coupon img{width:100%}
.event_wrap .input_box{margin-top:35px}

.event_wrap .input_text_wrap{margin-top:17px}
.event_wrap .input_text_wrap:first-child{margin:0}
.event_wrap .input_text_wrap label{display:block;position:relative;width:100%;height:100%;padding-left:9px;font-size:14px;font-weight:600;color:#333;line-height:20px;box-sizing:border-box}
.event_wrap .input_text_wrap label:before{position:absolute;top:10px;left:3px;width:2px;height:2px;background:#333;border-radius:100%;content:''}
.event_wrap .input_text_wrap .input_text{display:block;width:100%;height:40px;margin-top:5px;padding:0 10px;font-size:14px;color:#333;border:1px solid #e6e6e6;background:#f3f3f3;box-sizing:border-box}
.event_wrap .input_box .notice{margin-top:3px;font-size:12px;color:#ff0000;word-break:keep-all}

.event_wrap .input_check_wrap{display:block;position:relative;margin-top:33px;font-size:0;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;width:20px;height:20px;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:100%;font-size:12px;color:#333;font-weight:300;vertical-align:middle;cursor:pointer;}
.event_wrap .input_check+label:before{display:inline-block;width:20px;height:20px;margin:0 4px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_coming_soon/img/sp_chk.png) -13px 0 no-repeat;background-size:33px auto;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:-13px -22px}

/* more button */
.event_wrap .btn_wrap{margin-top:20px;text-align:center}
.event_wrap .btn_apply{display:inline-block;position:relative;max-width:74.53125%;height:54px;padding:0 4.375% 0 9.375%;border:0;background:#e15441;font-size:16px;font-weight:600;color:#fff;text-align:center;letter-spacing:-1px;line-height:54px;border-radius:27px}
.event_wrap .btn_apply:after{display:inline-block;width:24px;height:24px;margin:-4px 0 0 10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_coming_soon/img/ico_arrow.png) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''}
/* .event_wrap .btn_apply{display:block;position:relative;width:74.53125%;height:55px;margin:20px auto 0;border:0;background:#e15441;font-size:16px;font-weight:600;color:#fff;text-align:center;line-height:55px;border-radius:27px}
.event_wrap .btn_apply:after{display:inline-block;width:24px;height:24px;margin:-3px 0 0 3px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_coming_soon/img/ico_arrow.png) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''} */
.event_wrap .btn_lnk{position:absolute;border:0;left:31.1111111%;bottom:12.5%;width:37.5%;height:18%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{margin-top:60px;padding:0 5.5555556%}
.event_wrap .notice_title{display:block;position:relative;padding-left:20px;border-top:2px solid #000;font-size:14px;font-weight:600;color:#221f1f;line-height:34px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:3px;width:15px;height:15px;margin-top:-8px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_coming_soon/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:15px 0;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd}
.event_wrap .notice_list li{position:relative;padding-left:8px;font-size:12px;color:#221f1f;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:88.8888888%;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0 4.6875%}
.layer_popup_wrap .layer_popup_content{padding:39px 0 45px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}

.layer_popup_wrap .popup_tit{display:block;font-size:17px;font-weight:600;color:#333;line-height:1.5;letter-spacing:-.5px}
.layer_popup_wrap .popup_tit .point{color:#ff0000}
.layer_popup_wrap .agree_list{display:table;width:100%;font-size:0;margin:13px auto 0;table-layout:fixed}
.layer_popup_wrap .agree_list li{display:table-cell;width:33.33334%;min-height:65px;border-left:1px solid #fff;background:#f3f3f3;font-size:13px;color:#333;line-height:20px;vertical-align:top;box-sizing:border-box}
.layer_popup_wrap .agree_list li:first-child{border:0}
.layer_popup_wrap .agree_list .agree_title{display:block;height:33px;background:#666;font-size:14px;font-weight:600;color:#fff;line-height:33px} 
.layer_popup_wrap .agree_list .agree_text{display:table-cell;width:33.33334%;height:52px;padding:0 4%;vertical-align:middle;box-sizing:border-box}
.layer_popup_wrap .lypop_notice{margin-top:30px;font-size:14px;color:#333;line-height:20px;word-break:keep-all}
.layer_popup_wrap .btn_area{margin-top:25px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:47.413793%;height:42px;margin:0 3px;padding:0;border:0;background:#39ad30;font-size:15px;font-weight:600;color:#fff;letter-spacing:-1px;vertical-align:middle;line-height:42px;border-radius:27px}
.layer_popup_wrap .btn_area .btn_close{background:#666}
.layer_popup_wrap .lypop_notice + .btn_area{margin-top:13px}

.layer_popup_wrap .input_verify_wrap{margin-top:22px;font-size:0}
.layer_popup_wrap .input_verify{width:100%;height:40px;padding:0 1.5625%;border:0;background:#f3f3f3;font-size:13px;color:#333;box-sizing:border-box}
.layer_popup_wrap .btn_verify{display:block;width:100%;height:32px;border:0;background:#333;font-size:13px;color:#fff;line-height:32px}
.layer_popup_wrap .btn_verify.disabled{background:#adadad}

.layer_popup_wrap .ico_close{position:absolute;top:0;right:0;width:34px;height:34px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0426_coming_soon/img/ico_close.png) 7px 10px no-repeat;background-size:17px auto}
