@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:77.7777vw;left:50%;transform:translateX(-50%);width:91.1111vw;height:51.25vw;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* 제품 */
.event_wrap .item_list{margin:0 4.4444vw}
.event_wrap .item_list li{margin-bottom:13.8889vw}
.event_wrap .item_list .item_info{display:flex;flex-wrap:wrap;margin-top:8.0556vw;font-size:3.6111vw;line-height:1.5;color:#333;letter-spacing:-.5px}
.event_wrap .item_list .item_info h3{width:52%;padding-left:3.6111vw;font-size:6.3889vw;font-weight:800;box-sizing:border-box}
.event_wrap .item_list .item_info > div{width:48%}
.event_wrap .item_list li:nth-child(1) h3{color:#fd7b01}
.event_wrap .item_list li:nth-child(2) h3{color:#d79c1c}
.event_wrap .item_list li:nth-child(3) h3{color:#7e0a97}
.event_wrap .item_list li:nth-child(4) h3{color:#0e74c5}

/* 모션 */
.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.5s ease-in-out both;animation:silde-up 0.5s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.delay005.active{transition-delay:0.05s !important;animation-delay:0.05s !important}
.delay01.active{transition-delay:0.1s !important;animation-delay:0.1s !important}
.delay015.active{transition-delay:0.15s !important;animation-delay:0.15s !important}
.delay02.active{transition-delay:0.2s !important;animation-delay:0.2s !important}
.delay025.active{transition-delay:0.25s !important;animation-delay:0.25s !important}
.delay03.active{transition-delay:0.3s !important;animation-delay:0.3s !important}
.delay035.active{transition-delay:0.35s !important;animation-delay:0.35s !important}
.delay04.active{transition-delay:0.4s !important;animation-delay:0.4s !important}
.delay05.active{transition-delay:0.5s !important;animation-delay:0.5s !important}
.delay06.active{transition-delay:0.6s !important;animation-delay:0.6s !important}
.delay07.active{transition-delay:0.7s !important;animation-delay:0.7s !important}
.delay08.active{transition-delay:0.8s !important;animation-delay:0.8s !important}
