@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}
 
.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:276px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.ytimg.com/vi/llb-YG-DdsE/sddefault.jpg) 50%/100%}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* 제품 */
.event_wrap .item_list{display:grid;grid-template-columns:repeat(2, minmax(0, 1fr));gap:0 10px}
.event_wrap .item_list li{margin-bottom:100px}
.event_wrap .item_list li:nth-child(even){margin-top:100px}
.event_wrap .item_list img{margin:0}
.event_wrap .item_list .item_info{margin:38px 0 0 104px;font-size:20px;line-height:1.5;color:#333;letter-spacing:-.5px}
.event_wrap .item_list .item_info h3{margin-bottom:18px;font-size:36px;font-weight:800}
.event_wrap .item_list li:nth-child(1) h3{color:#fd7b01}
.event_wrap .item_list li:nth-child(2) h3{color:#d79c1c}
.event_wrap .item_list li:nth-child(3) h3{color:#7e0a97}
.event_wrap .item_list li:nth-child(4) h3{color:#0e74c5}

/* 모션 */
.event_wrap .motion_up{opacity:0}
.event_wrap .motion_up.active{opacity:1;-webkit-animation:silde-up 0.6s ease-in-out both;animation:silde-up 0.6s ease-in-out both}
@keyframes silde-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 70px);
            transform: translate(0, 70px);
  }  
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.delay005.active{animation-delay:0.05s !important}
.delay01.active{animation-delay:0.1s !important}
.delay015.active{animation-delay:0.15s !important}
.delay02.active{animation-delay:0.2s !important}
.delay025.active{animation-delay:0.25s !important}
.delay03.active{animation-delay:0.3s !important}
.delay035.active{animation-delay:0.35s !important}
.delay04.active{animation-delay:0.4s !important}
.delay05.active{animation-delay:0.5s !important}
.delay06.active{animation-delay:0.6s !important}
.delay07.active{animation-delay:0.7s !important}
.delay08.active{animation-delay:0.8s !important}
