@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#0460a3}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:89%;left:16%;right:16%;height:5%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:5.5555vw;right:5.5555vw;height:18.8888vw;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day_member/img/0415/m_evt_nav.png) 0 0/300% no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2){background-position:50% 0}
.event_wrap .evt_nav_wrap li:nth-child(3){background-position:100% 0}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw;height:18.8888vw;margin-top:2vw}
.event_wrap .p_evt_nav{position:absolute;top:123.19444vw;left:0;padding-top:18.8888vw}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day_member/img/0415/m_evt_nav_on.png) 0 0/300% no-repeat}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position:100% 0}

/* product */
.event_wrap .product_list :is(span,ins,del){color:#fff !important}
.event_wrap .product_list .original{flex-basis:auto}
.event_wrap .product_list .sale{margin:0 0 0 1.6666vw}
.event_wrap .product_list_desc{font-size:3.3333vw;color:#fff;text-align:center;}

/* notice */
.event_wrap .p_evt_noti{background:#fdc526}
.event_wrap .noti2{background:#009f4f}
.event_wrap .noti3{background:#0c5da2}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day_member/img/0415/stamp/mo_bg.jpg) 0 0/100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw !important;height:25vw !important;margin-left:12.5vw !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#6acc0c}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#6acc0c !important;color:#fff !important;line-height:4.66667vw !important}
