@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:86%;left:29.5%;right:29.5%;height:80px}
.event_wrap .btn_lnk2{top:0;left:29.5%;right:29.5%;height:80px}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;bottom:33px;left:40px;right:40px;height:136px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* product - stamp */
.desktop .fb__event .event__stamp ul.product_list{position:absolute;top:428px;left:40px;right:40px;width:100%;gap:0 8px;padding:0}
.desktop .fb__event .event__stamp ul.product_list.list2{top:967px}
.desktop .fb__event .event__stamp ul.product_list.list3{top:1506px}
.desktop .fb__event .event__stamp ul.product_list li{width:266px;height:auto;margin:0}
.desktop .fb__event .event__stamp ul.product_list a{display:block;width:100%;height:100%}

.desktop .fb__event .event__stamp .stamp__step ul.product_list span{position:relative;-webkit-transform:rotate(0);transform:rotate(0deg);width:auto}
.desktop .fb__event .event__stamp .stamp__step ul.centerStamp, .desktop .fb__event .event__stamp .stamp__step ul li span{justify-content:flex-start}

.desktop .fb__event .event__stamp .stamp__step ul li figure{padding:0}
.desktop .fb__event .event__stamp ul.product_list .product_img{width:100%;height:266px;background:#fff}
.desktop .fb__event .event__stamp ul.product_list .product_img img{height:266px}
.desktop .fb__event .event__stamp ul.product_list .product_info{display:flex;flex-wrap:wrap;align-items:center;padding-top:20px;margin-bottom:56px}
.desktop .fb__event .event__stamp ul.product_list .product_title{font-size:20px;font-weight:400;color:#fff;line-height:26px;letter-spacing:-1px}
.desktop .fb__event .event__stamp ul.product_list .original{flex-basis:auto}
.event_wrap .original{flex-basis:auto}
.desktop .fb__event .event__stamp ul.product_list .original del{font-size:18px;color:#fff;letter-spacing:-.6px;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .sale{margin:0 0 0 8px}
.desktop .fb__event .event__stamp ul.product_list .sale ins{font-size:24px;font-weight:600;color:#fff;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .sale .won{font-size:18px;font-weight:500;color:#fff;margin-left:0}
.desktop .fb__event .event__stamp ul.product_list .percent{margin:4px 0 0 8px}
.desktop .fb__event .event__stamp ul.product_list .percent .num{font-size:24px;font-weight:600;color:#fff;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .percent .unit{font-size:24px;font-weight:600;color:#fff;margin-left:0;font-family:'Lato'}

/* notice */
.event_wrap .evt_notice{padding-top:0}
.event_wrap .p_evt_noti{background:#fdc526 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day_member/img/0401/p_img_noti.jpg) 50% 100% no-repeat}
.event_wrap .noti2{background:#009f4f url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day_member/img/0401/p_img_noti2.jpg) 50% 100% no-repeat}
.event_wrap .noti3{background:#0460a3 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0401_earth_day_member/img/0401/p_img_noti3.jpg) 50% 0 no-repeat}

/* stemp css 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:12px 20px 33px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.desktop .fb__event .event__stamp :is(.noti2,.noti3) .notice_title{border-top:4px solid #fff;color:#fff}
.desktop .fb__event .event__stamp :is(.noti2,.noti3) .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.desktop .fb__event .event__stamp :is(.noti2,.noti3) .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.desktop .fb__event .event__stamp :is(.noti2,.noti3) .notice_list li{color:#fff}
.desktop .fb__event .event__stamp :is(.noti2,.noti3) .notice_list li:before{background-color:#fff}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:480px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#6acc0c}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#6acc0c !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}
