@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#80c342}
.event_wrap .p_evt_sec2{background:#ecf6e3}
.event_wrap .p_evt_sec3{background:#222222}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:0;right:0;bottom:0}
.event_wrap .btn_lnk2{top:0;left:0;right:0;bottom:0}
.event_wrap .btn_lnk3{top:0;left:0;right:0;bottom:0}

/* nav */
.event_wrap .nav_swiper{position:relative;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none}
.event_wrap .nav_swiper::-webkit-scrollbar{display:none}
.event_wrap .evt_nav_wrap{position:relative;display:flex}
.event_wrap .evt_nav_wrap li{height:16.9vw;flex-shrink:0;display:flex;align-items:center}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:9.7222vw;font-size:4.1667vw;font-weight:500;letter-spacing:-.4;color:#fff;border:1px solid #fff;border-radius:100px;padding:0 30px 0 15px;margin:0 5px;display:flex;align-items:center;justify-content:center}
.event_wrap .evt_nav_wrap li a:after{content:'';position:absolute;top:42%;right:14px;width:10px;height:6px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202206/0602_awards/img/ico_down.png) 0 0/100%}
.event_wrap .p_evt_nav li.on a{color:#9eff00;border:1px solid #9eff00}
.event_wrap .p_evt_nav li.on a:after{background-position:0 6px}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;background:#333}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

/* 쿠폰리스트 */
.event_wrap .coupon_list{box-sizing:border-box;padding:8.3333vw 0;margin:0 5.555vw;background:#fff}
.event_wrap .coupon_list li{margin-bottom:5.5555vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:49.0625%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;min-height:11.6vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:4vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.25vw}

.event_wrap .coupon_item_btn{position:relative;width:55.5555vw;line-height:13.888vw;left:50%;transform:translateX(-50%);border-radius:4px;background:#111 !important;color:#fff;font-size:5.5555vw !important;font-weight:700;letter-spacing:-0.35vw;box-sizing:border-box}

.event_wrap .coupon_item .coupon_brand{width:26vw;height:9vw}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat;background-size:85vw auto}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:3.33vw 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_greenjuice{background-position:-21.67vw -40vw}

.event_wrap .coupon_desc{text-align:center;margin-top:2.4vw}
.event_wrap .coupon_desc span{display:block;font-size:3.4vw;margin-top:1vw;color:#222}

/* notice */
.event_wrap .p_evt_noti{background:#73c40b}
.event_wrap .evt_notice{padding:40px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* product - 카테고리 */
.event_wrap .product_list{display:flex;flex-wrap:wrap;width:calc(100vw - 5.556vw);margin:0 5.556vw}
.event_wrap .product_list li{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw}
.event_wrap .product_info{display:block;min-height:33.3333vw;padding-top:1.389vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 3.694vw}

.event_wrap .tag{position:absolute;top:0;left:0;width:9.861vw;height:9.861vw;line-height:3.056vw;text-align:center;background:#ff752a;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:2.222vw;font-weight:600;color:#fff;letter-spacing:-.3px;}
.event_wrap .percent{display:inline-block;margin-left:1.111vw}
.event_wrap .percent .num{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

/* product - BEST AWARDS */
.event_wrap .p_evt_sec3 .product_title{color:#fff}
.event_wrap .p_evt_sec3 .tag{background:#80c342}
.event_wrap .p_evt_sec3 .sale ins{color:#fff}
.event_wrap .p_evt_sec3 .sale .won{color:#fff}

/* product - 한식교자 */
.event_wrap .product_banner{position:absolute;top:81.778vw;left:0;right:0;margin-bottom:9.722vw}
.event_wrap .product_banner.type2{top:33vw}
.event_wrap .product_banner li{vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{display:block;max-width:100%;height:52.778vw}
.event_wrap .product_banner .product_img img{min-width:74.111vw;max-width:74.111vw;margin:0}
.event_wrap .product_banner .product_brand{display:block;font-size:2.778vw;font-weight:700;color:#333;line-height:3.333vw;margin-top:3.4vw}
.event_wrap .product_banner .product_title{margin-top:0.5vw}
.event_wrap .product_banner .view{position:relative;display:inline-block;font-size:2.7777vw;font-weight:700;color:#333;letter-spacing:-.3px;margin-top:3.6vw;padding-right:15px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202206/0602_awards/img/ico_arrow.png) 88% 61%/6.5% no-repeat}
.event_wrap .product_banner .view:after{content:'';position:absolute;top:3.6vw;left:0;width:15vw;height:1px;background:#333}
.event_wrap .product_banner .item1 .product_img{overflow:hidden}
.event_wrap .product_banner .item1 .product_img img{float:right;margin-right:-1vw}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:11.95vw;left:5.250vw}
.event_wrap .product_banner .item2 .product_img img{margin:-14.167vw 0 0 -9vw}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:15vw;left:67.583vw}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#80c342;border-radius:50px}

/* motion */
.motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.motion_box img{margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .object_img{position:absolute;width:95%;top:43%;left:6%;z-index:10;-webkit-backface-visibility:hidden}
.motion_box .object_img.motion1_1{-webkit-animation:fade 9s ease-in-out 0s infinite both;animation:fade 9s ease-in-out 0s infinite both;z-index:5}
.motion_box .object_img.motion1_2{width:84%;top:49%;left:7%;-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:20}
.motion_box .object_img.motion1_3{width:84%;top:49%;left:7%;-webkit-animation:bounce-up 9s ease-in-out 0.7s infinite both;animation:bounce-up 9s ease-in-out 0.7s infinite both;z-index:10}
.motion_box .object_img.motion1_4{top:8.9%;left:-44%;-webkit-animation:fade 9s ease-in-out 0s infinite both;animation:fade 9s ease-in-out 0s infinite both;z-index:30}

.motion_box .object_img.motion2_1{-webkit-animation:fade 9s ease-in-out 3s infinite both;animation:fade 9s ease-in-out 3s infinite both;z-index:5}
.motion_box .object_img.motion2_2{width:84%;top:47%;left:13%;-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both;z-index:10}
.motion_box .object_img.motion2_3{width:84%;top:46%;left:13%;-webkit-animation:bounce-up 9s ease-in-out 3.7s infinite both;animation:bounce-up 9s ease-in-out 3.7s infinite both;z-index:20}
.motion_box .object_img.motion2_4{top:8.9%;left:-44%;-webkit-animation:fade 9s ease-in-out 3s infinite both;animation:fade 9s ease-in-out 3s infinite both;z-index:30}

.motion_box .object_img.motion3_1{-webkit-animation:fade 9s ease-in-out 6s infinite both;animation:fade 9s ease-in-out 6s infinite both;z-index:5}
.motion_box .object_img.motion3_2{width:82%;top:58.5%;left:13%;-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:20}
.motion_box .object_img.motion3_3{width:83%;top:41%;left:16%;-webkit-animation:bounce-up 9s ease-in-out 6.7s infinite both;animation:bounce-up 9s ease-in-out 6.7s infinite both;z-index:10}
.motion_box .object_img.motion3_4{top:8.9%;left:-44%;-webkit-animation:fade 9s ease-in-out 6s infinite both;animation:fade 9s ease-in-out 6s infinite both;z-index:30}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { 
        opacity:0 
    }
    6% {
        opacity:1;
        -webkit-transform:translateY(-15px);
                transform:translateY(-15px);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity:1;
        -webkit-transform:translateY(-15px);
                transform:translateY(-15px);
    }
    12%, 22% {
        opacity:1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@-webkit-keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}

@keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}