@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#80c342}
.event_wrap .p_evt_sec2{background:#ecf6e3}
.event_wrap .p_evt_sec3{background:#222222}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:40px;right:40px;height:72%}
.event_wrap .btn_lnk2{top:0;left:40px;right:40px;height:72%}
.event_wrap .btn_lnk3{top:0;left:40px;right:40px;height:72%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:160px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:100}
.event_wrap .p_evt_nav{padding-top:160px}

/* 쿠폰리스트 */
.event_wrap .coupon_list{box-sizing:border-box;padding:60px 0;margin:0 40px;background:#fff}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:wrap}
.event_wrap .coupon_list li{height:100%;margin:0 20px 0 20px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;min-height:76px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-.5px}

.event_wrap .coupon_item_btn{position:relative;width:350px;height:80px;left:50%;transform:translateX(-50%);margin-top:40px !important;border-radius:8px;background:#111 !important;color:#fff;font-size:30px !important;font-weight:700;letter-spacing:-1px;box-sizing:border-box}

.event_wrap .coupon_item .coupon_brand{width:150px;height:50px}
.event_wrap .coupon_item .coupon_brand span{display:block;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/sp_logo.png) 0 0 no-repeat}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone{background-position:24px 0}
.event_wrap .coupon_item .coupon_brand .bi_pulmuone_greenjuice{background-position:-125px -240px}

.event_wrap .coupon_desc{text-align:center;margin-top:14px}
.event_wrap .coupon_desc span{display:block;margin-top:4px;color:#222;letter-spacing:-.8px}

/* notice */
.event_wrap .p_evt_noti{background:#80c342}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* product - 카테고리 */
.event_wrap .product_list{display:flex;flex-wrap:wrap;width:calc(100% + 7px);margin-left:40px;box-sizing:border-box}
.event_wrap .product_list li{width:358px;margin-right:7px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;width:100%;height:300px}
.event_wrap .product_img img{width:100%;margin:-29px 0 0 0 !important}
.event_wrap .product_info{display:block;min-height:190px;padding-top:20px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1.5px;word-break:keep-all;margin-bottom:5px}
.event_wrap .tag{position:absolute;top:0;left:0;width:60px;height:60px;line-height:20px;text-align:center;background:#ff752a;display:flex;align-content:center;justify-content:center;flex-wrap:wrap}
.event_wrap .tag .txt{display:inline-block;font-size:16px;font-weight:600;color:#fff;letter-spacing:-.3px;}
.event_wrap .percent{display:inline-block;margin-left:8px}
.event_wrap .percent .num{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block;margin:15px 0 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:3px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* product - BEST AWARDS */
.event_wrap .p_evt_sec3 .product_title{color:#fff}
.event_wrap .p_evt_sec3 .tag{background:#80c342}
.event_wrap .p_evt_sec3 .sale ins{color:#fff}
.event_wrap .p_evt_sec3 .sale .won{color:#fff}

/* product - 한식교자 */
.event_wrap .product_banner{position:absolute;top:570px;left:40px;right:40px;display:flex}
.event_wrap .product_banner.type2{top:240px}
.event_wrap .product_banner li{width:50%;vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{height:528px}
.event_wrap .product_banner .product_img img{margin:0 !important}
.event_wrap .product_banner .product_info{width:100%}
.event_wrap .product_banner .product_brand{display:block;font-size:16px;font-weight:700;color:#333;line-height:24px;margin-top:20px}
.event_wrap .product_banner .product_title{margin-top:5px}
.event_wrap .product_banner .view{position:relative;display:block;font-size:18px;font-weight:700;color:#333;letter-spacing:-.3px;margin-top:15px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202206/0602_awards/img/p_ico_arrow.png) 16.4% 55% no-repeat}
.event_wrap .product_banner .view:after{content:'';position:absolute;top:20px;left:0;width:95px;height:1px;background:#333}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:351px;left:60px}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:18px;left:50px}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:12px;left:0;width:80px;height:4px;background:#80c342;border-radius:50px}

/* motion */
.motion_box img{margin:0 !important}
.motion_box .object_img{position:absolute;top:-50px;left:540px;z-index:10}
.motion_box .object_img.motion1_1{-webkit-animation:fade 9s ease-in-out 0s infinite both;animation:fade 9s ease-in-out 0s infinite both;z-index:5}
.motion_box .object_img.motion1_2{-webkit-animation:bounce-up 9s ease-in-out 0.5s infinite both;animation:bounce-up 9s ease-in-out 0.5s infinite both;z-index:20}
.motion_box .object_img.motion1_3{-webkit-animation:bounce-up 9s ease-in-out 0.7s infinite both;animation:bounce-up 9s ease-in-out 0.7s infinite both;z-index:10}
.motion_box .object_img.motion1_4{-webkit-animation:fade 9s ease-in-out 0s infinite both;animation:fade 9s ease-in-out 0s infinite both;z-index:30}

.motion_box .object_img.motion2_1{-webkit-animation:fade 9s ease-in-out 3s infinite both;animation:fade 9s ease-in-out 3s infinite both;z-index:5}
.motion_box .object_img.motion2_2{-webkit-animation:bounce-up 9s ease-in-out 3.5s infinite both;animation:bounce-up 9s ease-in-out 3.5s infinite both}
.motion_box .object_img.motion2_3{-webkit-animation:bounce-up 9s ease-in-out 3.7s infinite both;animation:bounce-up 9s ease-in-out 3.7s infinite both}
.motion_box .object_img.motion2_4{-webkit-animation:fade 9s ease-in-out 3s infinite both;animation:fade 9s ease-in-out 3s infinite both;z-index:30}

.motion_box .object_img.motion3_1{-webkit-animation:fade 9s ease-in-out 6s infinite both;animation:fade 9s ease-in-out 6s infinite both;z-index:5}
.motion_box .object_img.motion3_2{-webkit-animation:bounce-up 9s ease-in-out 6.5s infinite both;animation:bounce-up 9s ease-in-out 6.5s infinite both;z-index:20}
.motion_box .object_img.motion3_3{-webkit-animation:bounce-up 9s ease-in-out 6.7s infinite both;animation:bounce-up 9s ease-in-out 6.7s infinite both;z-index:10}
.motion_box .object_img.motion3_4{-webkit-animation:fade 9s ease-in-out 6s infinite both;animation:fade 9s ease-in-out 6s infinite both;z-index:30}

@-webkit-keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@keyframes bounce-up {
    0%, 30%, 100% { opacity:0 }
    6% {
        opacity: 1;
        -webkit-transform:translateY(-30px);
                transform:translateY(-30px);
    }
    12%, 22% {
        opacity: 1;
        -webkit-transform:translateY(0px);
                transform:translateY(0px);
    }
    0% {
        opacity: 0;
        -webkit-filter: blur(12px);
                filter: blur(12px);
    }
    6% {
        opacity: 1;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

@-webkit-keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}

@keyframes fade {
    0%, 34%, 100% {
        opacity: 0;
    }
    1%, 33.9% {
        opacity: 1;
    }
}