@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .evt_notice{padding:11.1111vw 5.5556vw 16.6667vw;background:#eceade}
.event_wrap .notice_list .bold{font-weight:700}

/* template */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{padding:0 16.6667vw !important;background:#eceade !important;}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:66.6667vw;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member_entry/img/0528/p_evt_btn.jpg) 0 0 no-repeat;background-size:100%;}
