@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;max-width:1920px;padding:0;background:#dff1f9;}
.desktop .fb__event .fb__event-comment__join-btn button{width:480px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202405/0501_40anniversary_member_entry/img/0517/p_evt_btn.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* button */
.event_wrap .btn_banner{position:absolute;z-index:1;top:145px;left:138px;right:138px;bottom:0;}

/* notice */
.event_wrap .p_evt_noti{background:#dbeff7}
.event_wrap .notice_list .bold{font-weight:700;}
