@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/static/today_price/img/p_tit_bg_l.jpg) 0 0 no-repeat;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/static/today_price/img/p_tit_bg_r.jpg) 0 0 no-repeat;content:''}
