@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.p_evt_sec1{background:#180667}
.coupon_list .info_desc{padding:6.3889vw 0 0}

/* notice */
.event_wrap .p_evt_noti{background:#180667}
.event_wrap .evt_notice{padding:9.0278vw 5.5555vw}
.event_wrap .notice_title{color:#999;border-color:#999}
.event_wrap .notice_list li{color:#999}
.event_wrap .notice_list li:before{background-color:#999}
