@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* coupon */
.p_evt_sec1{background:#180667}
.coupon_list .info_desc{padding:42px 0 0}

/* notice */
.event_wrap .p_evt_noti{background:#180667}
.event_wrap .evt_notice{padding:62px 40px 74px}
.event_wrap .notice_title{color:#999;border-color:#999}
.event_wrap .notice_list li{color:#999}
.event_wrap .notice_list li:before{background-color:#999}
