@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:37.5vw;right:0;left:0}

/* notice */
.event_wrap .p_evt_noti{background-color:#1fb626}
.event_wrap .p_evt_noti .evt_notice{padding-top:0}

/* items_list */
.event_wrap .items_list{position:absolute;top:31.9444vw;right:0;left:0;margin:auto}
.event_wrap .items_list li{text-align:center}
.event_wrap .items_list li + li{margin-top:13.8889vw}

.event_wrap .items_list .item_thumbnail{display:block;width:70vw;margin:0 auto}
.event_wrap .items_list li:not(:first-child) .item_thumbnail{width:68.6111vw}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}

.event_wrap .items_list .item_info{display:flex;flex-direction:column;justify-content:center;flex:1;margin-top:2.7778vw;color:#222;letter-spacing:-.4px;box-sizing:border-box}
.event_wrap .items_list .item_info .name{font-size:3.8889vw;font-weight:400;line-height:3.4722vw;letter-spacing:-1px}
.event_wrap .items_list .item_info > dl{display:flex;justify-content:center;margin-top:4vw}

.event_wrap .items_list .sale_area{margin-top:1.9444vw;font-size:5vw;font-weight:400;line-height:1}
.event_wrap .items_list .sale_area dt{display:none}
.event_wrap .items_list .sale_area .discount{display:inline-block;font-weight:600;color:#f31000}
.event_wrap .items_list .sale_area .price{font-weight:600}

/* button */
.event_wrap .p_evt_sec2 .btn_move{position:absolute;z-index:1;bottom:11.1111vw;right:0;left:0;margin:auto;width:70.1389vw;padding:4.3056vw 0;font-size:5.5556vw;line-height:1;font-weight:600;text-align:center;color:#fff;background-color:#000;box-sizing:border-box;}
