@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:99px;right:162px}

/* notice */
.event_wrap .p_evt_noti{background-color:#1fb626}
.event_wrap .p_evt_noti .evt_notice{padding-top:0}

/* items_list */
.event_wrap .items_list{position:absolute;top:237px;right:0;display:flex;flex-direction:column;width:590px}
.event_wrap .items_list li{display:flex;gap:25px;padding:0 37px;box-sizing:border-box;}
.event_wrap .items_list li + li{margin-top:95px}

.event_wrap .items_list .item_thumbnail{display:block;width:274px}
.event_wrap .items_list .item_thumbnail img{position:relative;width:100%;height:100%;margin:0 !important}

.event_wrap .items_list .item_info{display:flex;flex-direction:column;justify-content:center;flex:1;color:#222;letter-spacing:-.4px;box-sizing:border-box}
.event_wrap .items_list .item_info .name{font-size:20px;font-weight:400;line-height:1;letter-spacing:-1px}
.event_wrap .items_list .item_info > dl{display:flex;justify-content:space-between}
.event_wrap .items_list  .item_info .view_btn{margin-top:30px}
.event_wrap .items_list  .item_info .view_link{display:inline-block;padding:5px 11px;font-size:18px;font-weight:600;line-height:1;border:2px solid #111;box-sizing:border-box}

.event_wrap .items_list .sale_area{margin-top:14px;font-size:24px;font-weight:400;line-height:1}
.event_wrap .items_list .sale_area dt{display:none}
.event_wrap .items_list .sale_area .discount{display:inline-block;font-weight:600;margin-right:5px;color:#f31000}
.event_wrap .items_list .sale_area .price{font-weight:600}

/* button */
.p_evt_sec1 .btn_move{position:absolute;right:145px;bottom:143px;width:300px;padding:23px 0;font-size:26px;line-height:1;font-weight:600;text-align:center;color:#fff;background-color:#000;box-sizing:border-box;}
