@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_tit_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_sec1_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_sec2_bg_l.png) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_sec2_bg_l.png) 0 0 no-repeat}
.event_wrap .p_evt_sec2{background:#f8f8f8}

.event_wrap .p_evt_comment:before,.event_wrap .p_evt_comment:after{background:#90cb50}
.event_wrap .p_evt_comment{background:#90cb50}
.event_wrap .p_evt_comment .evt_section:before{position:absolute;top:0;left:50%;width:31px;height:21px;margin-left:-15px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/bg_arrow.png) 0 0 no-repeat;content:''}

.event_wrap .p_evt_sec3:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_sec3_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/p_sec3_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#ffc954}
.event_wrap .p_evt_sec11:before,.event_wrap .p_evt_sec11:after{background:#ffeabd}
.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background:#ffeabd}
.event_wrap .p_evt_noti{padding:059px 0 106px;background:#ffeabd}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:37%;width:71.5%;height:8%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* tabmenu */
.tabmenu_wrap .tab_list{background:#68a228;font-size:0;text-align:center}
.tabmenu_wrap .tab_list li{display:inline-block;width:25%;height:103px;border-left:1px solid #a4c77e;box-sizing:border-box;-webkit-box-sizing:border-box}
.tabmenu_wrap .tab_list li:first-child{border:0}
.tabmenu_wrap .tab_list .tab{display:block;position:relative;width:100%;height:100%;padding:25px 0;font-size:19px;font-weight:700;color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.tabmenu_wrap .tab_list .tab:before{position:absolute;left:50%;bottom:100%;width:40px;height:40px;margin-left:-20px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/tab_bg.png) 0 0 no-repeat;content:''}
.tabmenu_wrap .tab_list .is_active{background:#fff;color:#68a228}
.tabmenu_wrap .tab_list .is_active:before{background-position:0 100%}

.tabmenu_wrap .tabpanel{padding:34px 26px 14px 26px;background:#fff}
.tabmenu_wrap .beverage_list{overflow:hidden}
.tabmenu_wrap .beverage_list li{position:relative;float:left;width:204px;height:234px;margin:0 0 20px 50px}
.tabmenu_wrap .beverage_list li:nth-child(4n+1){margin:0}
.tabmenu_wrap .beverage_list a{display:block;width:100%;height:100%}
.tabmenu_wrap .beverage_list .img{display:block}
.tabmenu_wrap .beverage_list .img_active{display:none}
.tabmenu_wrap .beverage_title{display:block;position:relative;z-index:10;padding:6px 0;font-size:18px;font-weight:700;color:#333;text-align:center}

.tabmenu_wrap .is_selected:after{position:absolute;top:0;right:0;left:0;bottom:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/beverage_active.png) 0 0 no-repeat;content:''}
.tabmenu_wrap .is_selected .img{display:none}
.tabmenu_wrap .is_selected .img_active{display:block}
.tabmenu_wrap .is_selected .beverage_title{color:#fff}

.recommend_menu_wrap .tab_list{background:#e09800}
.recommend_menu_wrap .tab_list li{width:50%;height:86px;border:0}
.recommend_menu_wrap .tab_list .tab{padding:28px 0}
.recommend_menu_wrap .tab_list .tab:before{background-position:0 50%}
.recommend_menu_wrap .tab_list .is_active:before{background-position:0 100%}
.recommend_menu_wrap .tab_list .is_active{color:#333}
.recommend_menu_wrap .tabpanel{padding:0}

.event_wrap .comment_wrap{padding:48px 0 25px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/evt_sec2_bg.png) 0 0 no-repeat;text-align:right}
.event_wrap .comment_wrap .inner{overflow:hidden}
.event_wrap .comment_wrap .inner:after{display:block;clear:both;content:''}
.event_wrap .textarea_wrap{float:left;width:79.803921568%;margin-right:1.5686274%;border-bottom:1px solid #979797}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled{width:100%;height:48px;padding:12px 15px;border:0;background:none;font-size:18px;font-weight:800;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:18px;color:#333}
.event_wrap .comment_wrap .btn_enroll{overflow:hidden;width:18.627451032%;height:50px;background:#ea463e;font-size:18px;font-weight:700;color:#fff;line-height:48px;white-space:nowrap}


.event_wrap .input_check_wrap{display:inline-block;position:relative;margin:8px 12px 0 0}
.event_wrap .input_check{position:absolute;top:2px;left:2px;z-index:-1;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:32px;padding-right:4px;font-size:18px;color:#333;font-weight:700;line-height:26px;vertical-align:top;cursor:pointer;}
/* .event_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_check+label:before{display:inline-block;width:20px;height:20px;margin:3px 6px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 100%}

.event_wrap .comment_list{margin-top:68px;border-bottom:1px solid #63942d}
.event_wrap .comment_list li{border-top:1px solid #63942d}
.event_wrap .comment_list .inner{position:relative;padding:12px 0;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:16px;color:#457016;vertical-align:middle}
.event_wrap .comment_list .comment_product{width:168px;height:34px;background:#457016;font-size:15px;color:#fff;text-align:center;line-height:34px}
.event_wrap .comment_list .comment_title{overflow:hidden;position:relative;width:57.8%;padding-right:30px}
.event_wrap .comment_list .comment_title span{overflow:hidden;width:100%;margin-left:8px;font-size:18px;font-weight:700;color:#000;letter-spacing:-2.5px;text-overflow:ellipsis;white-space:nowrap;}
.event_wrap .comment_list .comment_writer{width:100px;text-align:center}
.event_wrap .comment_list .comment_date{width:100px;text-align:right}
.event_wrap .comment_list .cont_area{overflow:hidden;height:0}

.event_wrap .comment_list .btn_more{position:absolute;top:0;right:0;padding:5px 10px}
.event_wrap .comment_list .btn_more .ico{width:9px;height:5px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/sp_arrow.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}

.event_wrap .inner.is_expanded .btn_more .ico{background-position:0 100%}
.event_wrap .inner.is_expanded .cont_area{height:auto}
.event_wrap .inner .cont_area .comment_title{overflow:hidden;width:100%;margin-top:10px;font-size:18px;font-weight:700;color:#000}

.event_wrap .paginate{margin:22px 0 100px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;width:30px;height:30px;margin:0 10px;font-weight:400;font-size:18px;color:#457016;line-height:30px;vertical-align:middle}
.event_wrap .paginate .num{position:relative}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-20px;width:3px;height:2px;background:#457016;content:''}
.event_wrap .paginate .on{display:block;background:#457016;color:#fff;border-radius:50%;-webkit-border-radius:50%}
.event_wrap .paginate .sp{display:inline-block;width:6px;height:10px;margin-top:-5px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/sp_paginate.png) 0 0 no-repeat;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-left:14px}
.event_wrap .paginate .sp_next{margin-right:14px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}

/* link */
.event_wrap .info_wrap{position:relative}
.event_wrap .info_wrap .btn_lnk1{top:70%;right:14%;width:29%;height:16%}
.event_wrap .info_wrap .btn_lnk2{left:0;bottom:16%;width:50%;height:66%}
.event_wrap .info_wrap .btn_lnk3{right:0;bottom:16%;width:50%;height:66%}
.event_wrap .btn_apply{left:35%;bottom:4%;width:30%;height:16%}

/* notice */
.event_wrap .evt_notice{padding:28px 35px 35px;border:1px solid #ccbb97}
.event_wrap .notice_title{font-size:22px;font-weight:700;color:#333}
.event_wrap .notice_list{margin-top:9px}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:11px;font-size:18px;font-weight:500;color:#333;letter-spacing:-2px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;content:''}

.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:697px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:0;right:0;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:42px;height:42px;}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:57px 47px 54px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;padding:8px 0 13px;border-top:4px solid #000;border-bottom:1px solid #c1c1c1;font-size:30px;color:#333;line-height:1.4}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;font-weight:500;color:#333;text-align:center;letter-spacing:-1px;line-height:1.4;}
.layer_popup_contents .popup_txt .point{display:block;font-size:20px;font-weight:600;color:#333}
.layer_popup_contents .point{display:inline-block;color:#fb3824}
 
.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .u_btn.btn_cancel{margin:0 10px;border-color:#dedede;background-color:#dedede;color:#333;vertical-align:middle}
.layer_popup_wrap .btn_area .u_btn.btn_agree{width:108px;height:38px;margin:0 10px;border:0;background:#d72f2f;color:#fff;vertical-align:middle}