@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:30%;width:71.5%;height:28%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:100%;height:33.33%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* tabmenu */
.event_wrap .evt_sec2 .tabmenu_wrap{padding:0 5.555556%;background:#90cb50}
.event_wrap .tabmenu_wrap{background:#e09800}
.tabmenu_wrap .tab_list{background:#68a228;font-size:0;text-align:center}
.tabmenu_wrap .tab_list li{display:inline-block;width:50%;height:63px;border-top:4px solid #90cb50;border-left:4px solid #90cb50;box-sizing:border-box;-webkit-box-sizing:border-box}
.tabmenu_wrap .tab_list li:nth-child(2n+1){border-left:0}
.tabmenu_wrap .tab_list .tab{display:block;position:relative;width:100%;height:100%;padding:12px 0;font-size:15px;font-weight:700;color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.tabmenu_wrap .tab_list .is_active{background:#fff;color:#68a228}
.tabmenu_wrap .tab_list .is_active:before{background-position:0 100%}

.tabmenu_wrap .tabpanel{margin-top:13px;background:#fff}
.tabmenu_wrap .product_list{padding:27px 6.5625%}
.tabmenu_wrap .beverage_list{overflow:hidden}
.tabmenu_wrap .beverage_list li{position:relative;float:left;width:49.0625%;padding:0 0 16px 0.9375%}
.tabmenu_wrap .beverage_list li:nth-child(2n+1){padding-left:0}
.tabmenu_wrap .beverage_list a{display:block;position:relative;width:100%;height:100%}
.tabmenu_wrap .beverage_list .img{display:block}
.tabmenu_wrap .beverage_list .img_active{display:none}
.tabmenu_wrap .beverage_title{display:block;position:relative;z-index:10;padding:6px 0;font-size:14px;font-weight:700;color:#333;text-align:center}

.tabmenu_wrap .is_selected .img{display:none}
.tabmenu_wrap .is_selected .img_active{display:block}
.tabmenu_wrap .is_selected .beverage_title{color:#fff}

.recommend_menu_wrap .tab_list{padding:0 5.555556%;background:#ffc954}
.recommend_menu_wrap .tab_list li{width:50%;height:48px;border:0;background:#e09800}
.recommend_menu_wrap .tab_list .tab{padding:14px 0}
.recommend_menu_wrap .tab_list .tab:before{background-position:0 50%}
.recommend_menu_wrap .tab_list .is_active:before{background-position:0 100%}
.recommend_menu_wrap .tab_list .is_active{color:#333}
.recommend_menu_wrap .tabpanel{margin:0;padding:0}
.recommend_menu_wrap .product_list{padding:0}

.event_wrap .comment_wrap{padding:0 5.555556% 50px;background:#90cb50}
.event_wrap .comment_wrap .inner{padding:0 6.5625%;background:#fff}
.event_wrap .product_title{height:33px;background:#90cb50;text-align:center}
.event_wrap .product_title .title{font-size:15px;color:#fff;line-height:33px}
.event_wrap .textarea_wrap{border:1px solid #c5c5c5}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled
{width:100%;height:100px;padding:10px 5px;border:0;background:none;font-size:13px;font-weight:500;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:13px;color:#333}
.event_wrap .comment_wrap .btn_enroll{display:block;margin:15px auto 0;width:49.53125%;height:40px;border:0;background:#ea463e;font-size:15px;font-weight:700;color:#fff;line-height:40px}

.event_wrap .input_check_wrap{display:block;position:relative;padding:15px 0 52px;background:#fff;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;z-index:-1;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:26px;font-size:12px;color:#333;font-weight:700;line-height:26px;vertical-align:top;cursor:pointer;}
/* .event_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_check+label:before{display:inline-block;width:20px;height:20px;margin:2px 6px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 100%}

.event_wrap .comment_list{padding:0 5.555556%;border-bottom:1px solid #63942d;background:#90cb50}
.event_wrap .comment_list li{border-top:1px solid #63942d}
.event_wrap .comment_list .inner{position:relative;padding:12px 0;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:12px;color:#457016;vertical-align:middle}
.event_wrap .comment_list .comment_product{width:140px;height:25px;background:#457016;font-size:12px;color:#fff;text-align:center;line-height:25px}
.event_wrap .comment_list .comment_title{overflow:hidden;width:94.6875%;margin-top:6px;font-size:14px;font-weight:700;color:#000;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap;}
.event_wrap .comment_list .comment_writer{position:absolute;top:14px;right:81px;min-width:69px;text-align:right}
.event_wrap .comment_list .comment_date{position:absolute;top:14px;right:0;width:81px;text-align:right}

.event_wrap .comment_list .btn_more{position:absolute;top:34px;right:0;padding:10px}
.event_wrap .comment_list .btn_more .ico{width:9px;height:5px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/sp_arrow.png) 0 0 no-repeat;background-size:100% auto;font-size:0;color:transparent}
.event_wrap .inner.is_expanded .btn_more .ico{background-position:0 100%}
.event_wrap .inner.is_expanded .cont_area{}
.event_wrap .inner.is_expanded .comment_title{text-overflow:clip;white-space:normal}

.event_wrap .paginate{padding:23px 0 50px;background:#90cb50;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;margin:0 10px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:26px;padding-top:2px;font-weight:400;font-size:16px;color:#457016;line-height:24px}
.event_wrap .paginate .num:before{position:absolute;top:50%;left:-10px;width:2px;height:2px;background:#457016;content:''}
.event_wrap .paginate .num.on{display:block;background:#457016;color:#fff;border-radius:50%;-webkit-border-radius:50%}
.event_wrap .paginate .num.on:before{left:-10px}
.event_wrap .paginate .sp{display:inline-block;width:6px;height:10px;margin-top:-2px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/20200422_brand_week/img/sp_paginate.png) 0 0 no-repeat;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin-left:14px}
.event_wrap .paginate .sp_next{margin-right:14px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}

/* link */
.event_wrap .info_wrap{position:relative}
.event_wrap .info_wrap .btn_lnk1{top:26%;right:14%;width:46%;height:16%}
.event_wrap .info_wrap .btn_lnk2{left:0;bottom:30%;width:50%;height:57%}
.event_wrap .info_wrap .btn_lnk3{right:0;bottom:30%;width:50%;height:57%}
.event_wrap .btn_apply{left:29%;bottom:9%;width:44%;height:10%}

/* notice */
.event_wrap .evt_notice{padding:49px 5.555556% 54px;background:#ffeabd}
.event_wrap .notice_title{font-size:15px;font-weight:700;color:#333}
.event_wrap .notice_list{margin-top:9px}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:6px;font-size:12px;font-weight:500;color:#333;letter-spacing:-1px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:5px;left:0;width:2px;height:2px;background-color:#333;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter: alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:320px;margin:0;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .btn-layerClose{position:absolute;top:-46px;right:0;z-index:120;width:auto;height:auto;padding:8px;border:0;background:0}
.layer_popup_wrap .btn-layerClose img{width:30px;height:30px}

.layer_popup_contents{height:auto;padding:0}
.layer_popup_contents .layer_popup_content{padding:39px 15px 42px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_contents .popup_tit{display:block;padding:4px 0 2px;border-top:2px solid #000;border-bottom:1px solid #c1c1c1;font-size:23px;color:#333;line-height:1.4}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:14px;font-weight:500;color:#333;text-align:center;letter-spacing:-1px;line-height:1.4;word-break:keep-all}
.layer_popup_contents .popup_txt .point{display:block;font-size:16px;font-weight:600;color:#333}
 
.layer_popup_wrap .btn_area{margin-top:27px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .u_btn{display:inline-block;width:91px;height:37px;margin:0 2px;font-size:14px;font-weight:600;color:#333;border:1px solid #dedede;background-color:#dedede;line-height:37px;vertical-align:middle;border-radius:0;-webkit-border-radius:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .btn_area .btn_agree{background:#d72f2f;color:#fff}