@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* lnk */
.event_wrap .btn_lnk{left:26%;bottom:6%;width:48%;height:8%}

/* mobile */
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn_lnk{left:10%;bottom:3%;width:80%;height:6%}