.footer_content{text-align:center;}
.footer_content__list{border-bottom:1px solid #555555;}
.footer_content__list:after{display:block; clear:both; content:'';}
.footer_content__item{float:left; width:50%; border-bottom:4px solid #d3d3d3;padding-top:22px;}
.footer_content__item.on{border-bottom:4px solid #758f4b;}

.footer_clause_menu{padding:20px 10px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; text-align:left;}
.footer_clause_menu:after{display:block; clear:both; content:'';}
.footer_clause_menu p{font-size:14px; color:#555; line-height:1.4;}
.footer_clause_menu ol{margin-top:40px; font-size:15px; font-weight:500; color:#000;}
.footer_clause_menu ol span{display:inline-block; width:18px;}
.footer_clause_menu ol li + li{margin-top:25px;}

.footer_clause_tit{padding:30px 0px;}
.footer_clause_col{float:left; width:33.33%;}
.footer_clause_col dt{color:#000; font-size:15px;}
.footer_clause_col dt + dd{margin-top:15px;}
.footer_clause_col dt span{display:inline-block; margin-right:18px;}
.footer_clause_col dd{padding-left:10px; color:#555; font-size:13px; font-weight:300;}
.footer_clause_col dd span{display:inline-block; margin-right:15px;}
.footer_clause_col dl + dl{margin-top:30px;}
.footer_clause_col a{color:inherit;}

.footer_clause_content{text-align:left; font-family:'Malgun Gothic', sans-serif;}
.footer_clause_content h2{color:#3a6701; font-weight:700; font-size:18px;}

.footer_clasue_box{margin-top:70px;}
.footer_clasue_box h2 + p{margin-top:35px;}
.footer_clasue_box p{padding:0px 10px;color:#555; font-size:14px; line-height:1.4;}
.footer_clasue_box dl{padding:0px 10px;}
.footer_clasue_box dt{margin:35px auto 25px; color:#333; font-weight:700; font-size:14px;}
.footer_clasue_box dd, .footer_clasue_box li{color:#555; font-size:14px; line-height:1.4;}
.footer_clasue_box ol{margin-top:5px; counter-reset: clasue_step;}
.footer_clasue_box ol li{position:relative; padding-left:20px;}
.footer_clasue_box ol li + li{margin-top:5px;}
.footer_clasue_box ol > li:before{position:absolute; top:0; left:0; display:block; content:'';  counter-increment: clasue_step;  content: counter(clasue_step)".";}
.footer_clasue_box ul{margin-top:5px;}
.footer_clasue_box ul li{position:relative; padding-left:10px;}
.footer_clasue_box ul li + li{margin-top:5px;}
.footer_clasue_box ul > li:before{position:absolute; top:0; left:0; display:block; content:'';  content:'-';}
.footer_clasue_box table{width:546px; margin-top:30px; margin-left:30px; text-align:left; vertical-align:middle;}
.footer_clasue_box th{height:40px; padding-left:40px; background-color:#f0f0f0; color:#333; border-bottom:1px solid #a1a1a1; vertical-align:middle; box-sizing:border-box;}
.footer_clasue_box td{height:40px; padding-left:40px; border-bottom:1px solid #ddd; color:#555; vertical-align:middle; box-sizing:border-box;}


.footer_clause_content.type-another ol{padding-left:20px;}
.footer_clause_content.type-another ol li{position:relative; padding-left:20px;}
.footer_clause_content.type-another ol li + li{margin-top:5px;}
.footer_clause_content.type-another ol > li:before{position:absolute; top:0; left:0; display:block; content:'';  counter-increment: clasue_step;  content: counter(clasue_step)")";}


.footer_clause_content.type-another li > ol.type-one{padding:0;}
.footer_clause_content.type-another ol.type-one li{padding:0;}
.footer_clause_content.type-another ol.type-one > li:before{display:none;}
.footer_clause_content.type-another p + ul{margin-top:30px;}
.footer_clause_content.type-another dd + dd{margin-top:30px;}
.footer_clause_content.type-another li + ul + li{margin-top:30px;}
.footer_clasue_box > ol.type-one{margin-top:30px; padding-left:30px !important;}
.footer_clasue_box  ol.type-multi > li + li{margin-top:25px;}


.footer_tit{border-bottom:2px solid #555;margin-top:27px;}
.footer_login_wrap{display:inline-block; width:380px; margin:10px 0px;}
.footer_login_wrap .input3 + .input3{margin-top:10px;}
.footer_login_link{display:inline-block; margin-top:10px;}

.footer_sub_content{padding-top:50px;margin-top:40px;border-top:1px solid #dedede;}
.footer_employees_info{position:relative; margin-top:40px; padding-top:40px; border-top:1px solid #bbbbbb; padding-left:240px; text-align:left;}
.footer_employees_info + .footer_employees_info{margin-top:50px;}
.footer_employees_info dt{position:absolute; top:40px; left:0; color:#363636; font-size:26px; font-weight:500; line-height:1;}
.footer_employees_info dd{font-size:16px;}
.footer_img{margin-top:40px; text-align:center;}
.footer_info-item{position:relative; margin-top:50px; padding-left:90px;}
.footer_info-item:before{position:absolute; width:70px; height:69px; top:0; left:0; background:url('/front/include/img/footer/footer_icon.png'); content:'';}
.footer_info-item.nth-2:before{background-position:0px -69px;}
.footer_info-item.nth-3:before{background-position:0px -138px;}
.footer_info-item.nth-4:before{background-position:0px -207px;}
.footer_info-item.nth-5:before{background-position:0px -276px;}
.footer_info-tit{font-size:18px; color:#000; line-height:1;}
.footer_info-txt{margin-top:24px; font-size:16px; color:#7d7d7d;}
.footer_info-dd{margin-left:-13px;}
.footer_info-dd:after{display:block; clear:both; content:'';}
.footer_info-box{float:left; display:inline-block; width:33.33%; padding-left:13px; font-size:18px; color:#7d7d7d; box-sizing:border-box;}
.footer_info-box span{display:table-cell; width:1%; height:125px; background-color:#fdf4d7; vertical-align:middle; text-align:center;}


.footer_sub_wrap{display:inline-block;width:920px; margin-left:-40px;}
.footer_sub_wrap:after{display:block; clear:both; content:'';}
.footer_sub_item{float:left; width:50%; padding-left:40px; box-sizing:border-box;}
.footer_sub_header{width:439px;border-bottom:1px solid #34251f;}
.footer_sub_body{width:439px;padding-top:30px; box-sizing:border-box;}