@charset "utf-8";

.sub.cart .btn_gray,
.sub.cart .cart_menu p,
.sub.cart .txt_status,
.sub.cart .lack_proname.pname,
.sub.cart .blpopup_wrap.new .bottombtn_main_text,
.sub.cart .blpopup_wrap.new .bottombtn_sub_text,
.sub.cart .cart_table_tr_freebie .freebie_tx,.cart_area.step2_deliinfo .payment_box small {font-family:"돋움",dotum, sans-serif;}
.sub.cart .btn_default, .sub.cart .cart_tit {font-family:'notokr-medium', sans-serif;}
.sub.cart .cart_none p, .bookmark_tit, .blpopup_header_tit.txt {font-family:'notokr-demilight', sans-serif;}
.sub.cart .txt_arial {font-family:Arial, sans-serif; letter-spacing:-1px;}

/* Button */
.btn_gray {display: inline-block; vertical-align:top; font-family:"돋움",dotum, sans-serif; font-size: 13px; width: 78px;padding: 6px 0 4px;color: #555;line-height: 1em;border: 1px solid #b7b7b7;background: #fff;}
.btn_default {display: inline-block;vertical-align:top;font-family:'notokr-medium', sans-serif;font-size: 18px;padding: 12px 65px;color: #ff702d;line-height: 22px;border: 1px solid #ff702d;background: #fff;}
.cart_select {overflow:hidden;}
.cart_select_item.right {float: right;}
.cart_area.step2_deliinfo button {padding: 0px;}

/* Form */
.cart_area.step2_deliinfo .checkbox02 + label.solo {vertical-align:top; margin-top: 5px;}
.cart_area.step2_deliinfo .radio02:checked + .label02:before, .cart_area.step2_deliinfo .radio02 + .label02:before {top:4px;}
.cart_area.step2_deliinfo .radio02:checked + .label02:after, .cart_area.step2_deliinfo .radio02 + .label02:after {top:7px;}

/* Location */
.location img {vertical-align:top;}

/* Tab */
.tab_number {display:inline-block;vertical-align:top;}
.cart_tab.on .tab_number {margin-top:2px;}
.cart_menu p {position:absolute;right:0px;bottom:8px;color:#838383;font-size: 14px;}

/* Cart */
/* Text */
.txt_status {display:inline-block;vertical-align:top;margin-top:6px;color:#f96c2b;font-size:13px;line-height:1em;}
.cart_none {text-align:center;padding:95px 50px;}
.cart_none p {margin-bottom:30px;color:#626262;font-family:'notokr-demilight', sans-serif;font-size:28px;}
.counter > .counter_ipt input[type="text"] {vertical-align:top; cursor: pointer;}
.cart_area {margin-top: 20px;}
.cart_sub_tit .txt_status {margin-left: 12px;}
.cart_table_tr a.prod_img {position:relative;float: left;margin-left: 17px;}
.cart_table_tr a.prod_img .block_status {position:absolute;top:10px;bottom:0px;left:0;display:table;width:95px;height:95px;background:rgba(0,0,0,0.5);}
.cart_table_tr a.prod_img .block_status span {display:table-cell;vertical-align:middle;color:#fff;font-family:'notokr-medium', sans-serif;font-size:22px;line-height:26px;}
.cart_table_tr .cart_box {margin-left:137px;}
.cart_table_tr .cart_box + .cart_box {margin-left:137px;}

.cart_table_tr_freebie td {}
.cart_freebie {z-index:10;margin-top:-1px;padding:10px 13px;border: 1px solid #b7b7b7;}
.cart_freebie:before {top:-18px;border-width:9px;border-color: transparent  transparent #767676 transparent;}
.cart_freebie:after {top:-17px;border-width:9px;}
.cart_table_tr_freebie .freebie_header {border-bottom: 1px solid #eee;}
.cart_table_tr_freebie .freebie_tit {margin-bottom: 10px;color:#000;font-size: 15px;font-weight:bold;line-height:22px;}
.cart_table_tr_freebie .freebie_txt {margin-left: 12px;color: #777;font-size: 12px;font-weight:normal;}
.cart_table_tr_freebie .freebie_list {margin-top: 5px;}
.cart_table_tr_freebie .freebie_item {position: relative;width: 50%;margin-top: 5px;padding: 0 0 0 6px;}
.cart_table_tr_freebie .freebie_item input, .cart_table_tr_freebie .freebie_item label, .cart_table_tr_freebie .checkbox02 + label.solo.type-cart {position: absolute; top: 50%;left: 6px; margin-top: -8px;}
.cart_table_tr_freebie .checkbox02 + label.solo.type-cart {padding-left: 14px;position: absolute;top: 50%;left: 6px;margin-top: -8px;}
.cart_table_tr_freebie .freebie_info {padding-left: 50px;}
.cart_table_tr_freebie .freebie_info_box {margin-left: 24px;width: 243px;margin-top: 0px;color: #363636;font-size: 16px;line-height:1.5em}
/*.cart_table_tr_freebie .freebie_info_box .freebie_info_txt {overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}*/
.cart_table_tr_freebie .freebie_info_box .freebie_info_txt span {display:inline-block;vertical-align:top;}
.cart_table_tr_freebie label.solo {display:inline-block;}
.cart_table_tr_freebie .cart_thumbnail {margin-top: 0px;}
.bookmark_tit {font-family:'notokr-demilight', sans-serif;}
.cart_area.step2_deliinfo .bottom_btn_wrap {width: 100%; text-align: center;}

/* .counter > .counter_ipt {float: none;display: block;width: 100%;}
.counter > .counter_ipt input[type="text"] {width: 100%;}
.counter > .counter_ipt:before, .counter > .counter_ipt:after {display: none;} */

/* 주문결제 */
.cart_area.step2_deliinfo .cart_tit.delivery_receive_area .address_select {margin-top: 0px;}
.cart_area.step2_deliinfo .cart_tit.delivery_receive_area .select2 {font-size: 13px;}
.cart_area.step2_deliinfo .btn_add_address {padding: 0px; float: right;}
.cart_area.step2_deliinfo input.cart_calendar_date.cart_date {width:auto;height: auto;padding: 0px;margin-bottom: 2px;border: 0px;font-size: 12px;line-height: 1.6em;letter-spacing: -1px;}
.cart_area.step2_deliinfo .direct-delivery-table span,.cart_area.step2_deliinfo .normal-delivery-table span, .cart_area.step2_deliinfo .dawn-delivery-table span {padding-top: 0px; padding-bottom: 2px; line-height: 16px;}
.cart_area.step2_deliinfo .cart_table.type-another .cart_table_tr a.prod_img {margin: 0px;}
.cart_area.step2_deliinfo .cart_table.type-another .cart_table_tr .cart_box {margin-left: 120px;}
.cart_area.step2_deliinfo .dawn_dalivery_addinfo_wrap {padding-left: 12px;}
/* Radio Button */
.cart_area.step2_deliinfo .tbl_div .tbl_ty04 th {padding-right: 0px;}
.cart_area.step2_deliinfo .payment_box .radio_list {letter-spacing:-2px;}
.cart_area.step2_deliinfo .payment_box small {color: #555;font-size: 11px;letter-spacing: -1px;}

.cart_area.step2_deliinfo .dawndelivery_tr td {letter-spacing: -2px;}
.cart_area.step2_deliinfo .dawn_delivery_sub_tit.fr_r {color: #838383;}
.cart_area.step2_deliinfo .input1.wd240.main_address {width:720px !important; margin-top: 0px;}

/* Layer Popup */
.blpopup_subwrap {}
.blpopup_btn_close {top:-6px;right:-19px;background: none;}
.blpopup_header_tit.txt {color:#373737;font-family:'notokr-demilight', sans-serif;font-size:21px;line-height: 25px;margin-top: -4px;margin-bottom: 7px;}
.lack_proname.pname {color:#4e7609;font-size: 16px;}
.blpopup_wrap.new {margin-top: -160px}
.blpopup_wrap.new .blpopup_contents {padding: 25px 0;border-bottom: 0px;}
.blpopup_wrap.new .lack_guide_emphasis {font-weight:normal}
.blpopup_wrap.new .lack_guide {margin-top: 13px;}
.blpopup_wrap.new .blpopup_btn {margin-top: 0px;}
.blpopup_wrap.new .blpopup_bottom_btn {height: 73px;}
.blpopup_wrap.new .blpopup_bottombtn_textwrap {padding: 15px 0;}
.blpopup_wrap.new .bottombtn_main_text {margin-bottom: 4px;font-size:14px;line-height: 18px;}
.blpopup_wrap.new .bottombtn_sub_text {font-size:14px;line-height: 18px;}

.blpopup_wrap.new .counter > .counter_ipt {float: left;display: inline-block;width: 38px;}
.blpopup_wrap.new .counter > .counter_ipt input[type="text"] {width: 34px;}
.blpopup_wrap.new .counter > .counter_ipt:before, .blpopup_wrap.new .counter > .counter_ipt:after {display: block;}

.ui-dialog button {border: 0px; box-shadow:none;}
.ui-dialog .ui-dialog-titlebar-close {background:none;}
.ui-dialog .ui-dialog-titlebar-close span {position: absolute;top: 50%;left: 50%;margin-top: -8px; margin-left: -8px;width:1px;height:16px;border-left:1px solid #000;transform:rotate( 45deg );}
.ui-dialog .ui-dialog-titlebar-close span.ui-icon-closethick {transform:rotate( 135deg );}
.ui-dialog .ui-dialog-titlebar-close span.ui-button-icon-space {transform:rotate( 45deg );}

#change_num.blpopup_wrap.new {width:700px;margin-left: -400px;margin-top:-180px;}
#change_num.blpopup_wrap.new .blpopup_contents {padding-top:0px}
#change_num.blpopup_wrap.new .cart_table_th,
#change_num.blpopup_wrap.new .cart_table_td {position: relative;padding-left: 20px;padding-right: 10px;/*background-repeat: repeat-y;background-position: 0 0;background-image: url(https://www.pulmuoneshop.co.kr/front/include/img/cart/td_bg.jpg);*/}
#change_num.blpopup_wrap.new .cart_table_th:first-child,
#change_num.blpopup_wrap.new .cart_table_td:first-child {background: none}
#change_num.blpopup_wrap.new .blpopup_btn {text-align: center;}
#change_num.blpopup_wrap.new .blpopup_btn a {display: inline-block;vertical-align: top;width: 178px;height: 47px;margin-right: 9px;color: #fff;font-weight: bold;font-size: 17px;line-height: 42px;letter-spacing: -1px;text-decoration: none;background: #81b824;border: 1px solid #71a815;color: #fff;box-sizing: border-box;}
#change_num.blpopup_wrap.new .blpopup_btn a.btn_calcel {width: 115px;background: #fff;border: 1px solid #81b824;color: #71a815;}
.cart_box {width:235px;}
.btn_order_back {position: absolute;top: 27px;right: 130px;height: 25px;padding: 5px 15px;font-family: 'Nanum Barun Gothic', sans-serif;color: #6e4a36;font-weight: bold;line-height: 11px;border: 1px solid #6e4a36;box-sizing: border-box;}
.btn_order_back.other {right: 110px;}

.main_bottom_cont > div h2,
.main_noti .main_noti_list li,
.main_benefit .main_benefit_btn,
.main_benefit_info .tit_txt {font-family: "notokr", sans-serif;line-height: 18px;}
.main_benefit_info .txt {line-height:24px;}
.main_benefit_info .txt .won {line-height:54px;}
.main_benefit_info .txt .sub_txt {margin-top:0px;}
.main_benefit .main_benefit_btn {line-height: 25px;}
.main_mobile_shop .tit {padding:15px 0 16px 0; font-family: "notokr", sans-serif; line-height: 18px; border-bottom:0px}

/* Footer */
.footer_bottom address .info_confirm {cursor: pointer}
.footer_bottom address {line-height:20px;}
.footer_bottom address strong {font-size: 15px;display: block;margin-bottom: 5px;}

/* Main Layer */
#popupArea .pop-layer.layer59 {position: fixed !important;bottom: 100px !important;top: 50px !important;left: 100px !important;width: auto !important;height: auto !important;margin: 0px !important;padding: 0px;box-shadow: 1px 1px 10px rgba(0,0,0,0.3);background: #fff;z-index: 99999999999;}
#popupArea .pop-layer.layer59 .layer-close {position:absolute;top:0px;right:0px}
#popupArea .pop-layer.layer59 .pop-container {height:100%;padding: 30px 0;box-sizing:border-box}
#popupArea .pop-layer.layer59 .pop-content {overflow-y:auto;overflow-x:hidden;min-height: 0px;height:100%;padding: 0px;}
#popupArea .pop-layer.layer59 .pop-content img {width: auto !important;height: auto !important;}
#popupArea .pop-layer.layer59 .pop-layer-btn {position: absolute;bottom: 0;height: 30px;padding-top: 5px;line-height: 22px;background: #fff;border-top: 1px solid #4f473d;}
#popupArea .pop-layer.layer59 .pop-layer-btn .btn-l {float: none;}
#popupArea .pop-layer.layer59 .pop-layer-btn a {position:relative;display: inline-block; vertical-align: top;}
#popupArea .pop-layer.layer59 .pop-layer-btn label {display: inline-block; vertical-align: top;margin-right: 20px;}
#popupArea .pop-layer.layer59 .pop-layer-btn .input_check i {top: 1px;}
#popupArea .pop-layer.layer59 .pop-layer-btn label span {color: #000;font-size: 13px;}
#popupArea .pop-layer.layer59 .pop-layer-btn img {margin-bottom: 0px !important;}

.order_prod_list li .delivery_date {padding: 15px 8px 15px 23px; font-size: 14px; font-weight: bold; line-height: 1.2em; text-align: center;}
.order_prod_list li .delivery_date .txt02 {font-size: 14px;}

.dawndelivery_tr_message th, .dawndelivery_tr_message td {padding-bottom: 5px !important; border-bottom: 0px !important;}
.dawndelivery_tr_message + .dawndelivery_tr th {vertical-align: top}
.dawndelivery_tr_message + .dawndelivery_tr td {padding-top: 0px !important;}
.dawndelivery_tr_message + .dawndelivery_tr td p.password_view,
.dawndelivery_tr_message + .dawndelivery_tr td p.etcinput_view {height: 30px;}
.dawndelivery_tr_message + .dawndelivery_tr td input[type="text"] {vertical-align: top}
.password_view .count, .etcinput_view .count {display: inline-block;vertical-align: top;margin-top: 6px;margin-left: 7px;font-size: 14px;line-height: 1em;letter-spacing: -1px;}
.password_view .count em, .etcinput_view .count em {color: #f96c2b;}

.address_box + .address_box {margin-top: 85px;}
.cart_area.step2_deliinfo > div {margin-top: 85px;}
.cart_area.step2_deliinfo > div#dayBreakGenCart {margin-top: 45px;}
.cart_area.step2_deliinfo .cart_table,
.cart_area.step2_deliinfo .tbl_div .tbl_ty04 {border-collapse: collapse;}
.cart_area.step2_deliinfo #couponSelectGroup.table_coupon {padding-top: 0px;}
.cart_area.step2_deliinfo #couponSelectGroup.table_coupon:before {display: none}
.cart_area.step2_deliinfo #couponSelectGroup.table_coupon > .table_coupon_txt {position: static; padding-bottom: 10px;}

/* Header */
.ark_wrap {left: -355px !important; width: 313px !important;}
body #header_wrap {position: relative;height: 124px;background: none;}
body #header_wrap:before {content:'';position: absolute;left: 0px;top: 82px;right: 0px;height: 1px;border-bottom: 1px solid #ededed;}
body #header_wrap:after {content:'';position: absolute;left: 0px;top: 123px;right: 0px;height: 1px;border-bottom: 1px solid #ededed;}
body #header_wrap .header {width: 1020px;}
body #header_wrap .header h1 {top:17px; left: 0px;}
body #header_wrap .header_bottom {height: 83px;margin-left: 330px;padding: 0;box-sizing: border-box;}
body #header_wrap .header_bottom .header_sch input {height: 31px;width: 310px;}
body #header_wrap .header_bottom_link ul li + li {margin-left: 30px;}
body #header_wrap .header_bottom_link ul li a {font-size: 17px;color: #37987a;}
body #header_wrap .header_bottom .header_sch {width: 356px;height: 36px;margin-top: 29px;background: none;border-bottom: 2px solid #7bcc12}
body #header_wrap .header_bottom .header_sch_btn {overflow: hidden;display: inline-block;vertical-align: top;width: 29px;height: 29px;background: url(https://www.pulmuoneshop.co.kr/front/include/img/btn_sch_58.png) no-repeat left bottom;background-size: cover;text-indent: -999px;}

body #header_wrap .util_menu {float:right;height: 40px; padding: 0px 0 1px 0;}
body #header_wrap .util_menu ul li { padding: 15px 0 0 19px;line-height: 1em;}
body #header_wrap .util_menu ul li:first-child {padding-left: 0px;}
body #header_wrap .util_menu ul li.cart { padding: 7px 0 0 18px; }
body #header_wrap .util_menu ul li.name.ty02 a {padding-left: 0px;}
body #header_wrap .util_menu ul li a {color: #6e6e6e;}
body #header_wrap .util_menu ul li.cart a {background: url(https://www.pulmuoneshop.co.kr/front/include/img/bg_cart2.png) no-repeat left center;padding: 0px 0px 0 19px;color: #fff;line-height: 32px;text-align: center;width: 18px;}

/* 카테고리 UI 불필요한 CSS 제거 
body #header_wrap .category {top:83px;}
body #header_wrap .category .cate_tit {height: 41px;line-height: 41px;background: #7bcc12;}
body #header_wrap .category .cate_cont {top: 41px;width: 1020px;border-color: #7bcc12;}
*/
body #header_wrap .cate_brand {border-color: #7bcc12;}
body #header_wrap .cate_brand .cate_brand_tit {width: 93px;background: #7bcc12;}
body #header_wrap .cate_brand .cate_brand_list {width: 927px;}
body #header_wrap .cate_list > ul > li {margin-left: 30px;}
body #header_wrap .cate_brand .cate_brand_list ul {width: 100%;}
body #header_wrap .cate_brand .cate_brand_list ul li {width: 102px;}
body #header_wrap .nav ul li {padding: 8px 0 8px;}
body #header_wrap .nav ul li a {padding: 0 0 0 54px;color: #454545}
body #header_wrap .nav ul.column_5 li a {padding: 0 0 0 95px;}

/* 20201217 테마별 헤더 변경 */
#header_wrap.header-theme{background-repeat:no-repeat;background-size:1920px 83px;background-position:50% 0}
#header_wrap.header-theme .header h1{top:0;left:-22px}
/* //20201217 테마별 헤더 변경 */

body .main_sub_list {display: none}
body .main_sub_list .user_best .user_best_item.full {height: 64px;padding: 0px;}
body .main_sub_list .user_best .user_best_item.full a {display: block;width: 100%;}
body .main_sub_list .user_best .user_best_item.full a img {vertical-align: top}

body .top_banner { position: relative; height: 100px; text-align: center}
body .top_banner a { display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);}
body .top_banner .closeBtn { position: absolute; bottom: 5px; right: 15px; color: #fff; }
body .top_banner .closeBtn button { color: #fff; margin-left: 10px; }

body .quick_area {top: 54px;}
body .quick_box {border-color: #e1e1e1}

.search-layer {border: 0px;}
#ark {top: 21px !important; left: 0 !important; width: 354px !important;}
#ark .ark_wrap {top: 0px !important; left: 0 !important; width: 354px !important;}
.search-layer__price {margin-top: 0px;}

/* Footer */
body .footer_top .footer_link li a {padding: 0px;font-family: 'notokr', sans-serif;}
body .footer_top .footer_link li + li {margin-left: 25px;}
body .footer_top .footer_family {right: 0px;}

/* Location */
body .location {padding: 42px 0 20px 0;font-weight: 400;}

/* Main */
/*.main_sub_list .user_best .user_best_item.full {height: 64px;padding: 0px;}
.main_sub_list .user_best .user_best_item.full a {display: block;width: 100%;}
.main_sub_list .user_best .user_best_item.full a img {vertical-align: top}*/

/* Main Slide Banner */
body .gallery_wrap, body .gallery_sub_wrap {height: 610px;}
body .gallery_wrap .gallery_sub_wrap {top: -580px;}
body .gallery_wrap .bx-viewport {height: 580px !important;}
body .gallery_wrap .baneerlink_wrap {height: 580px; }
body .gallery_wrap .bannerbg_li {height: 580px !important;}
body .gallery_wrap #bx-pager {left: 0px;width: 100%;height: 31px;text-align: center;bottom: 0px;}
body .gallery_wrap .bxpager_ul {display: inline-block;vertical-align: top;padding-top: 20px;}
body .gallery_wrap .bxpager_li {display: inline-block; vertical-align: top; float: none; width: auto !important; height: auto; margin: 0 5px;background: none;}
body .gallery_wrap .bxpager_li > a {width: 10px;height: 10px;background: #e1e1e1;border-radius: 5px; -webkit-transition: .3s ease-out; -moz-transition: .3s ease-out; -ms-transition: .3s ease-out; transition: .3s ease-out; text-indent: -999px;}
body .gallery_wrap .bxpager_li > a.active {width: 20px;background: #7bcc12;}
body .gallery_wrap .control_direction_wrap {display: none;}
body .gallery_wrap .bx-controls-auto {display: inline-block; vertical-align: top;}
body .gallery_wrap #bx-controls .bx-start,
body .gallery_wrap #bx-controls .bx-stop {display: none;vertical-align: top;overflow: hidden;width: 9px;height: 14px;margin-top: 20px;margin-left: 5px;text-indent: -999px;background: none;box-sizing: border-box;cursor: pointer;-webkit-transition: .5s ease-out;-moz-transition: .2s ease-out;-ms-transition: .2s ease-out;transition: .2s ease-out;}
body .gallery_wrap #bx-controls .bx-start {width: 0px; height: 0px; margin-top: 18px; border-top: 7px solid transparent; border-bottom: 7px solid  transparent; border-right: 7px solid transparent; border-left: 7px solid #e1e1e1;}
body .gallery_wrap #bx-controls .bx-stop {display: inline-block;margin-right: 5px;border-left: 3px solid #e1e1e1;border-right: 3px solid #e1e1e1;box-sizing: border-box;}
body .gallery_wrap #bx-controls .bx-start.active + .bx-stop  {display: none;}
body .gallery_wrap #bx-controls .bx-start:hover {border-left-color: #7bcc12}
body .gallery_wrap #bx-controls .bx-stop:hover {border-color: #7bcc12}
body .gallery_wrap #bx-controls .bx-start.active,
body .gallery_wrap #bx-controls .bx-stop.active {display: inline-block;}
body .gallery_wrap #bx-controls .btn_prev,
body .gallery_wrap #bx-controls .btn_next {opacity: 0; position: absolute; top: 50%; z-index: 999; overflow: hidden; width: 34px; height: 66px; margin-top: -33px; text-indent: -999px; cursor: pointer; -webkit-transition: opacity .5s ease-out; -moz-transition: opacity .2s ease-out; -ms-transition: opacity .2s ease-out; transition: opacity .2s ease-out;}
body .gallery_wrap #bx-controls .btn_prev {left: -86px; background: url(https://www.pulmuoneshop.co.kr/front/include/img/btn_left_main.png) no-repeat center;}
body .gallery_wrap #bx-controls .btn_next {right: -86px; background: url(https://www.pulmuoneshop.co.kr/front/include/img/btn_right_main.png) no-repeat center;}
body .gallery_wrap:hover #bx-controls .btn_prev,
body .gallery_wrap:hover #bx-controls .btn_next  {opacity: 1;}

/* Main Content */
body .main_cont {width: 1020px;box-sizing: border-box; padding: 55px 0 0 0;}
body .goods_content > .main_cont{}
body .main_cont + .main_cont {padding: 85px 0 0;margin-top: 85px;}
body .main_cont.other {margin-top: 10px;padding: 0;}
body .main_cont_bnr01 {padding: 0;}
body .brand_shop, body .brand_shop_cont, body .main_daily, body .event_item, body .brand_shop, body .main_spc {padding: 0px;}
body .main_cont h2 {padding: 0 0 25px 0;}
body .main_cont h2 img {vertical-align: top}
body ul.event_item {margin-left: -15px}
body .prod_info .prod_img .prod_img_02 {position: absolute;top: 10px;left: 10px;width: 64px; height: 64px; margin-left: 0; margin-top: 0;}
body .main_new_prod {margin-left: 0px;}

/* Main Deal:191028 수정 */
body .main_cont .main_deal_prod {overflow: hidden;margin-left:  -20px;margin-bottom: -40px;}
body .main_cont .main_deal_prod li {float: left; width: 240px;min-height: 395px;box-sizing: border-box;margin-left: 20px;margin-bottom: 40px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_bottom{margin-bottom: 0;padding-top: 0;}
body .main_deal_prod .prod_info .prod_spc_cart{position: absolute;top:200px;right:10px;z-index:50;}
body .main_deal_prod .prod_info .prod_img{margin: 0 auto 20px auto;}
body .main_deal_prod .prod_info .prod_img:before{content:"";display: block;position:absolute;top:0;left:0;background:#000;z-index:2;width: 100%;height: 100%;opacity: 0.04;}
body .main_deal_prod .prod_info .prod_detail{padding: 0 5px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top.spc{margin-bottom:5px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_bottom .prod_txt_detail{color:#898989;text-overflow:ellipsis;white-space:nowrap;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_tit{height:36px;font-size: 15px;color:#000;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_price{height: 29px;line-height: 29px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now{float:none;padding-right: 10px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now span{font-size:14px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_percent{color:#4ac912;font-size:14px;padding-top: 5px;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev{position: static;top:0;left:0;}
body .main_deal_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev span{font-size: 12px;}

/* SoldOut:191113 */
body .soldout__border{border:0;}
body .main_cont .main_best_prod .prod_info .prod_img .soldout__img{width:70% !important;background: none;}

/* label 새로추가 */
body .prod_info .prod_label_bottom{display:block;}
body .prod_info .prod_label_bottom .label{display: inline-block;width: 52px;height: 22px;line-height: 13px;text-align: center;box-sizing:border-box;color:#fff;background: #4ac912;font-family:"돋음",Dotum;font-size: 12px;letter-spacing:-0.1em;padding: 5px 0;margin-left: 3px;overflow: hidden;}
body .prod_info .prod_label_bottom .label:first-child{margin-left: 0;}
body .prod_info .prod_label_bottom .label.ty02{color:#4ac912;background: #fff;border:1px solid #4ac912;}

/* Main Best:20191028수정 */
body .main_cont.main_best {position: relative;background: #f1f3ed;border: 0px; width: 100%; padding-bottom: 45px;}
body .main_cont.main_best > h2 {width: 1020px; margin: 0 auto;}
body .main_cont.main_best > .btn_plus.big {top: 85px;right: 50%; margin-right: -490px;}
body .main_cont .main_best_prod {width: 1020px; margin: 0 auto; overflow: hidden;}
body .main_cont .main_best_prod li {float: left; width: 194px;min-height: 345px;box-sizing: border-box;margin-right: 10px;margin-bottom: 40px;}
body .main_cont .main_best_prod .prod_info .prod_img{margin: 0 auto 20px auto;}
body .main_cont .main_best_prod .prod_info .prod_img,
body .main_cont .main_best_prod .prod_info .prod_img img {width: 194px; height:194px;background: #fff;}
body .main_cont .main_best_prod .prod_spc_cart{position: absolute;top:150px;right:10px;z-index: 50;}
body .main_cont .main_best_prod .prod_delivery {top:185px;}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_tit {height:36px;font-size: 15px;color:#000;}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_price{height: 29px;line-height: 29px;}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now{float: none;padding-right:10px}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now span{font-size:14px;}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_percent{color:#4ac912;font-size:14px;padding-top: 5px;}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev{position: static; top:0;left:0;}
body .main_cont .main_best_prod .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev span{font-size: 12px;}

body .main_cont.main_best .prod_info .prod_detail .prod_btn_cart {top: 80px; right: 14px;}
body .main_cont.main_best .prod_info .prod_detail{padding: 0 5px;}
body .main_cont.main_best .prod_info .prod_detail .prod_detail_top.spc{background: none;margin-bottom: 5px;}
body .main_cont.main_best .prod_info .prod_detail .prod_detail_bottom{border-top: 1px solid #d8dad5;margin-bottom:0;padding-top: 0;}
body .main_cont.main_best .prod_info .prod_detail .prod_detail_bottom .prod_txt_detail{text-overflow:ellipsis;white-space:nowrap;}

/* Main Banner */
body .main_cont.main_best + .main_bnr_area {margin: 0px;}

/* main_new:20191029추가 */
body .main_bnr_area + .main_cont.main_new{padding-top: 85px;}
body .main_cont.main_new + .main_cont{margin-top:0;border: 0;}
body .main_cont.main_new{width: 100%;background: #f1f3ed;padding-bottom: 54px;}
body .main_cont.main_new > h2{width: 1020px;margin: 0 auto;}
body .main_cont.main_new .main_new_prod li.big{width: 450px;height: 915px;border: 0;background: none;text-align: center;padding: 0;}
body .main_cont.main_new .main_new_prod li{width: 240px;min-height: 404px;border: 0;background: #fff;padding:24px;}
body .main_cont.main_new .main_new_prod li:nth-child(2),
body .main_cont.main_new .main_new_prod li:nth-child(3){height: auto;margin-top: 18px;padding-bottom: 0;}
body .main_cont.main_new .main_new_prod li:nth-child(3),
body .main_cont.main_new .main_new_prod li:nth-child(5){padding-left: 0;}
body .main_cont.main_new .main_new_prod li .prod_img{padding: 0;margin: 0 auto 20px auto;}
body .main_cont.main_new .main_new_prod li .prod_img:before{content:"";display: block;position:absolute;top:0;left:0;background:#000;z-index:2;width: 100%;height: 100%;opacity: 0.04;}
body .main_cont.main_new .main_new_prod .prod_info .prod_spc_cart{position: absolute;top:200px;right:10px;z-index: 50;}
body .main_cont.main_new .main_new_prod li .prod_info .prod_detail{padding: 0 5px;}
body .main_cont.main_new .main_new_prod .prod_info .prod_detail .prod_detail_top.spc{margin-bottom: 5px;}
body .main_cont.main_new .main_new_prod .prod_info .prod_detail .prod_detail_top .prod_tit{height:36px;font-size: 15px;color:#000;}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_top .prod_price{height: 29px;line-height: 29px;}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_top .prod_price .prod_percent{color:#4ac912;font-size:14px;padding-top: 5px;}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now{float: none;padding-right:10px;}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now span{font-size: 14px;}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev{position: static;top:0;left:0}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev span{font-size: 12px;}
body .main_cont.main_new .prod_info .prod_detail .prod_detail_bottom{margin-bottom:0;padding-top:0}
body .main_cont.main_new  .prod_info .prod_detail .prod_detail_bottom .prod_txt_detail{color:#898989;text-overflow:ellipsis;white-space:nowrap;}

/* 풀무원의 바른제안  */
body .brand_shop_cont .brand_shop_list{border: 0;margin-top: 0;overflow: hidden;margin-left: -20px;}
body .brand_shop_cont .brand_shop_list li{width:240px;height: 100%;min-height: 391px;box-sizing: border-box;border: 0;margin-left:20px;margin-bottom: 40px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_img{margin: 0 auto 20px auto;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_bottom{margin-bottom: 0;padding-top: 0;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_spc_cart{position: absolute;top:200px;right:10px;z-index: 50;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_img{margin: 0 auto 20px auto;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_img:before{content:"";display: block;position:absolute;top:0;left:0;background:#000;z-index:2;width: 100%;height: 100%;opacity: 0.04;}
body .brand_shop_cont .brand_shop_list li .prod_info .prod_detail{padding: 0 5px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top.spc{margin-bottom:5px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_bottom .prod_txt_detail{color:#898989;text-overflow:ellipsis;white-space:nowrap;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_tit{height:36px;font-size: 15px;color:#000;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_price{height: 29px;line-height: 29px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now{float:none;padding-right: 10px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_now span{font-size:14px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_price .prod_percent{color:#4ac912;font-size:14px;padding-top: 5px;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev{position: static;top:0;left:0;}
body .brand_shop_cont .brand_shop_list .prod_info .prod_detail .prod_detail_top .prod_price .prod_price_prev span{font-size: 12px;}

/* Main 심콩특가:20191001 */
body .main_cont > .ani_txt {font-size:24px;font-weight: 300;font-family: 'notokr', sans-serif;}
body .main_cont > .ani_txt > span {display: inline-block;padding: 20px 0 0 10px;}

/* 상품 목록 */
.brand_shop.column_7 li {width: 14.38% !important}

/* Pagination */
.pagination {height: 45px;margin-bottom: 15px;display: block;overflow: hidden;}
.pagination span {height: 30px;display:  inline-block;vertical-align: top;margin: 0 10px;}
.pagination span a {margin: 0px}
.pagination_number {top:-1px;}

/* 20190808 추가 */
/* Popup */
.layer_popup_mask {z-index: 998}

/* Popup Table */
.popup_table3 {width:100%; text-align:center;}
.popup_table3 th{height: 38px;color:#000; font-family:"돋움",dotum, sans-serif; font-size:14px; font-weight:600; vertical-align:middle;background: #e7e7e7;border-left:1px solid #fff}
.popup_table3 th:first-child {border-left: 0px; text-align: left;padding: 0 20px;}
.popup_table3 tbody tr:first-child td {padding-top: 15px;}
.popup_table3 td {padding:5px 20px; color:#000; font-family:"돋움",dotum, sans-serif; font-size:14px; vertical-align:middle; line-height:1.6;}
.popup_table3 td:first-child {text-align: left}

/* 임직원 한도초과 팝업 */
#limitMinus {width: 600px; height: 427px; padding: 0 30px; border-top: 3px solid #82b824; box-sizing: border-box;}
#limitMinus .layer_popup_header {height: 60px;}
#limitMinus .layer_popup_content {height: auto;padding: 21px 0 0 0;}
#limitMinus p.layer_popup_title {font-size: 21px; color: #373737; font-weight: 500;}
#limitMinus .popup_close_but {top: 10px; right: 10px; width: 22px; height: 22px; background: url(https://www.pulmuoneshop.co.kr/front/include/img/popup/btn_calendar_close2.png) no-repeat center;}
#limitMinus p.ta_c {font-size: 18px;}
#limitMinus p.ta_c strong {color: #ff0000; font-weight: 500;}
#limitMinus p.ta_r {color:#000; font-family:"돋움",dotum, sans-serif; font-size: 14px;}
#limitMinus p.ta_r a {color:#000; font-weight: bold;}
#limitMinus .popup_table_xscroll {height: 210px; margin: 21px 0 13px; overflow-y: auto; border: 1px solid #b7b7b7}


/***** myPage coupon ******/
/* 20191023 추가 */
.three_list>li{padding: 10px;}
.three_list .coupon_box{height:80px !important;}
.three_list .coupon_tit{height: 73px;overflow: hidden;}
.three_list .coupon_txt{margin-top: 5px;}
.three_list .coupon_area{height: 91px;}


/***** displayView ******/
/* 20191024 수정 */
.prod_order table td .coupon{top:0;padding: 8px !important;}
.counter.ty02{vertical-align: middle;}


/* 20200309 */
#container{z-index:auto}
.blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0,0,0,0)}
table{width:100%;margin:0;padding:0;border:0;border-spacing:0;border-collapse:collapse;table-layout:auto}

.payment_dd#totalLimitPrice, .payment_dd#totalLimitPrice span{font-size:16px;color:#f96c2b;font-weight:500;}
.type-another .limit_price{color:#fb3824}

.limit_info{font-size:0;text-align:center}
.limit_txt{display:inline-block;padding:0 5px;font-size:12px;color:#fff;background:#fb3824;text-align:center;line-height:15px;vertical-align:middle;border-radius:2px;-webkit-border-radius:2px}
.limit_price{display:inline-block;margin-left:6px;font-size:14px;vertical-align:middle}
.unit{display:inline-block;font-size:14px;vertical-align:middle}

.layer_popup_mask{margin:0 auto !important;}
.layer_popup_wrap{display:none;position:fixed;top:50%;left:50%;z-index:1000;width:600px;height:auto;margin:0 auto !important;background:#fff;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}
.layer_popup_header{height:60px;border-top:3px solid #81b824;border-bottom:0}
.layer_popup_title{font-size:21px;font-weight:600;color:#373737;text-align:center}
.layer_popup_contents{height:auto;min-height:auto;padding:0 30px 30px}
.layer_popup_contents .popup_txt{display:block;margin-top:22px;font-size:18px;font-weight:500;color:#373737;text-align:center;line-height:1.4}
.layer_popup_contents .point{display:inline-block;color:#ff0000}
.layer_popup_content{width:100%;padding:0;height:auto;border-top:2px solid #81b824;}
.layer_popup_wrap .close{top:22px;width:22px;height:22px;background:url(../img/popup/lypop_close.png) 0 0 no-repeat}

.deliver_table .cart_table_td{padding:10px 20px 10px 10px;box-sizing:border-box;-webkit-box-sizing:border-box}

.popup_table{position:relative;width:100%;margin-top:22px;border:1px solid #b7b7b7;background:#fff;font-size:14px;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box}
.popup_table .view_tit{width:100%;height:36px;border-bottom:1px solid #d5d8dc;background:#e7e7e7}
.popup_table .view_cont{overflow-x:hidden;overflow-y:auto;max-height:88px;}
.popup_table table .col1{width:60%}
.popup_table table th{height:36px;border-left:1px solid #fff;line-height:37px}
.popup_table table th:first-child{border-left:0}
.popup_table table td{min-height:36px;padding:10px 16px;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box}
.popup_table table tr:first-child td{border-top:0}

.popup_table .limit_info{display:block;font-size:12px;color:#000;text-align:right}
 
.layer_popup_wrap .btn_area{margin-top:27px;text-align:center}
.layer_popup_wrap .btn_area a.u_btn{display:inline-block;width:108px;height:38px;margin:0 2px;font-size:14px;color:#fff;border:1px solid #71a715;background-color:#85b81f;line-height:38px;border-radius:0;-webkit-border-radius:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .btn_area .btn_confirm{width:109px;height:38px;font-size:14px;color:#fff;border:1px solid #71a715;background-color:#85b81f}
.layer_popup_wrap .btn_area a.btn_cancel{background-color:#fff;color:#71a715}


/* 20200317 장바구니 주문실패 */
.order_fail_wrap{padding:13px 0 88px}
.order_fail_wrap .title{height:80px;padding-top:23px;border:1px solid #cc5923;background-color:#fa6c2c;font-size:28px;color:#fff;text-align:center;line-height:1.3;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_fail_wrap .notice{display:block;margin-top:69px;font-size:22px;font-weight:500;color:#626262;line-height:30px;text-align:center;}
.order_fail_wrap .notice .point{color:#fa6c2c}

.order_tbl_wrap{max-width:730px;margin:44px auto 0}
.order_tbl_wrap table{width:100%}
.order_tbl_wrap table .col1{width:32.1917%}
.order_tbl_wrap table th{padding:10px 0;border-top:2px solid #666;border-bottom:1px solid #b7b7b7;font-size:14px;color:#626262}
.order_tbl_wrap table td{padding:19px 19px;border-bottom:1px solid #b7b7b7;color:#333;vertical-align:middle}
.order_tbl_wrap a{display:block;position:relative;width:100%;min-height:95px;padding-left:111px;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.order_tbl_wrap a:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.order_tbl_wrap .thumb{position:absolute;top:50%;left:0;width:95px;padding-top:95px;transform:translate(0,-50%);-webkit-transform:translate(0,-50%)}
.order_tbl_wrap .thumb .img{position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #dedede;text-align:center;white-space:nowrap}
.order_tbl_wrap .thumb .img:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.order_tbl_wrap .thumb img{max-width:100%;max-height:100%;vertical-align:middle}
.order_tbl_wrap .info_wrap{display:inline-block;position:relative;height:100%;font-size:14px;color:#333}
.order_tbl_wrap .info_wrap:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.order_tbl_wrap .info_wrap .prd_tit{display:inline-block;margin-top:35px;vertical-align:middle;word-break:keep-all}
.order_tbl_wrap .info_wrap .prd_tit:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.order_tbl_wrap .state{text-align:center;}
.order_tbl_wrap .state span{display:inline-block;font-size:14px;color:#333}
.order_fail_wrap .btn_area{display:block;margin-top:40px;text-align:center}
.order_fail_wrap .btn_area .btn_go{display:inline-block;min-width:234px;height:48px;margin:0;padding:0 5px;border:1px solid #ff702d;background:#fff;font-size:18px;color:#ff702d;text-align:center;line-height:48px}


