@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* 상품상세 템플릿 - 2020 */

/* PC */
.product_detail_wrap{max-width:948px;width:100%;margin:0 auto;padding-bottom:60px;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.product_detail_wrap .blind{overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;color:transparent;clip:rect(0,0,0,0)}
.product_detail_wrap .inner img{width:100%;vertical-align:top}
.product_detail_wrap .detail_wrap{position:relative;text-align:center}
.product_detail_wrap .detail_wrap > img{width:100%;vertical-align:top}
.product_detail_wrap .detail_wrap.line{margin-top:100px;padding-top:100px;border-top:1px solid #cbcbcb}
.product_detail_wrap .detail_wrap.line .product_info_wrap{margin-top:0}
.product_detail_wrap .next_section{margin-top:72px !important}
.product_detail_wrap .next_content{margin-top:40px !important}
.product_detail_wrap .thin_text{font-weight:300 !important}

.product_detail_wrap .bi{height:80px;text-align:left;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .bi_wrap{display:block;width:150px;height:80px}
.product_detail_wrap .bi img{max-height:100%}
.product_detail_wrap .bi_wrap [class^="bi_"]{display:inline-block;width:150px;height:80px}

/* logo */
.product_detail_wrap .bi_pulmuone{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi.png) no-repeat center center} /* 풀무원 */
.product_detail_wrap .bi_foodmerce{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi_foodmerce.png) no-repeat center center} /* 풀무원푸드머스 */
.product_detail_wrap .bi_pulmuone_greenjuice{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi_greenjuice.png) no-repeat center center} /* 풀무원녹즙 */
.product_detail_wrap .bi_pulmuone_health{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi_health.png) no-repeat center center} /* 풀무원건강생활 */
.product_detail_wrap .bi_pulmuone_water{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi_water.png) no-repeat center center} /* 풀무원샘물 */

.product_detail_wrap .intro_img{display:block}

.product_detail_wrap .pmo:before{position:absolute;left:0;bottom:-100px;z-index:1;width:200px;height:162px;background:url(https://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_pattern1.png) 0 0 no-repeat;content:''}
.product_detail_wrap .pmo:after{position:absolute;right:0;bottom:-55px;z-index:1;width:164px;height:322px;background:url(https://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_pattern2.png) 0 0 no-repeat;content:''}

.product_detail_wrap .detail_subtitle{display:block;margin-top:72px;font-size:30px;font-weight:300;color:#1b1b1b;line-height:1.2;word-break:keep-all}
.product_detail_wrap .detail_title{display:block;margin-top:30px;font-size:42px;font-weight:500;color:#1b1b1b;line-height:1.2;word-break:keep-all}
.product_detail_wrap .detail_point_title{display:inline-block;margin-top:4px;font-size:36px;font-weight:500;color:#1b1b1b;line-height:1}
.product_detail_wrap .detail_text{margin-top:40px;font-size:21px;font-weight:100;color:#323131;line-height:1.6}
.product_detail_wrap .small_text{font-size:22px}

.product_detail_wrap .product_info_wrap{margin-top:60px;padding:0 60px}
.product_detail_wrap .product_list{overflow:hidden;position:relative;font-size:0}
.product_detail_wrap .product_list:before{position:absolute;top:0;left:50%;width:1px;height:100%;background:#1b1b1b;content:''}
.product_detail_wrap .product_list li{display:inline-block;position:relative;width:50%;height:100%;padding:0 10px 36px;min-height:300px;vertical-align:top;box-sizing:border-box;-webkit-box-sizing:border-box}
.product_detail_wrap .product_list li:nth-child(n+3):before{position:absolute;left:0;top:0;width:100%;height:1px;background:#1b1b1b;content:''}
.product_detail_wrap .product_icon{display:block;max-width:300px;height:150px;max-height:150px;margin:0 auto}
.product_detail_wrap .product_title{display:block;font-size:28px;font-weight:500;color:#323131;line-height:1.4}
.product_detail_wrap .product_text{margin-top:6px;font-size:22px;font-weight:100;color:#323131;line-height:1.4}
.product_detail_wrap .product_text.small_text{font-size:16px}
.product_detail_wrap .product_text + .product_text{margin-top:10px}

.product_detail_wrap .is_odd_type{padding:0}
.product_detail_wrap .is_odd_type .product_list:before{left:33.3%}
.product_detail_wrap .is_odd_type .product_list:after{position:absolute;top:0;left:66.6%;width:1px;height:100%;background:#1b1b1b;content:''}
.product_detail_wrap .is_odd_type .product_list li{width:33.3%}
.product_detail_wrap .is_odd_type .product_list li:first-child{width:33.4%}
.product_detail_wrap .is_odd_type .product_list li:nth-child(n+3):before{display:none}

/* 상품상세 */
.product_detail_wrap .product_info_title{position:relative;margin-top:100px;padding-top:100px;border-top:1px solid #cbcbcb;font-size:32px;font-weight:500;color:#323131;text-align:left}
.product_detail_wrap .product_info_title:before{display:inline-block;width:12px;height:12px;margin:-10px 8px 0 18px;background:#3bcc29;vertical-align:middle;border-radius:50%;-webkit-border-radius:50%;content:''}

.product_detail_wrap .product_info_subtitle{display:block;position:relative;margin-top:40px;margin-left:40px;padding-left:20px;font-size:28px;font-weight:500;color:#323131;text-align:left;line-height:1.4}
.product_detail_wrap .product_info_subtitle:before{position:absolute;top:17px;left:0;width:6px;height:6px;background:#323131;border-radius:50%;-webkit-border-radius:50%;content:''}
.product_detail_wrap li.product_info_subtitle{margin-top:40px}
.product_detail_wrap .product_info_subtitle.bullet_none{padding-left:0}
.product_detail_wrap .product_info_subtitle.bullet_none:before{display:none}

.product_detail_wrap .product_info_text{display:block;margin-top:10px;margin-left:60px;padding-right:40px;/*padding:0 60px;*/font-size:22px;font-weight:100;color:#323131;text-align:left;line-height:1.5}
.product_detail_wrap .product_info_text.bullet{position:relative;padding-left:12px}
.product_detail_wrap .product_info_text.bullet .dot,
.product_detail_wrap .product_info_text.bullet .dash{position:absolute;left:0}
.product_detail_wrap .product_info_text .dot{top:16px;display:inline-block;width:3px;height:3px;border-radius:100%;-webkit-border-radius:100%;background:#323131;vertical-align:middle}
.product_detail_wrap .product_info_text .dash{top:16px;display:inline-block;width:6px;height:1px;margin:0;background:#323131;vertical-align:middle}
.product_detail_wrap .product_info_text.bullet_num{position:relative;padding-left:20px}
.product_detail_wrap .product_info_text.bullet_num .num{position:absolute;left:0}

.product_detail_wrap .icon_tip{display:inline-block;vertical-align:top;width:52px;height:41px;margin-left:-6px;margin-right:6px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_tip.gif) no-repeat center}
.product_detail_wrap .icon_star{display:inline-block;vertical-align:top;width:35px;height:32px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_star.gif) no-repeat center}
.product_detail_wrap .icon_star.sm{width:20px;background-size:20px}
.product_detail_wrap .icon_recomend{display:inline-block;vertical-align:top;width:70px;height:55px;margin-top:-6px;margin-bottom:-8px;margin-left:6px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_recomend.gif) no-repeat center}
.product_detail_wrap .t_line{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_line_or.jpg) repeat-x left bottom}
.product_detail_wrap .icon_check{display:inline-block;width:22px;height:22px;margin-right:6px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_check.png) no-repeat center;vertical-align:-2px}

.product_detail_wrap .product_info_text strong{font-weight:400}
.product_detail_wrap .point{color:#6da920}
.product_detail_wrap .text_red{color:#dc1c1c}
.product_detail_wrap em{color:#000;font-weight:500}
.product_detail_wrap .product_info_subtitle strong{font-weight:500}
.product_detail_wrap .product_notice_text{margin-top:120px;padding:0 16px;color:#323131;font-size:22px;font-weight:100;text-align:left}

.product_detail_wrap .icon_recipe{display:inline-block;margin-right:8px;vertical-align:top}
.product_detail_wrap .icon_recipe.fryfan{width:58px;height:44px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/icon/icon_recipe_frypan.png) no-repeat left top}
.product_detail_wrap .icon_recipe.oven{width:40px;height:50px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/icon/icon_recipe_oven.png) no-repeat left top}
.product_detail_wrap .icon_recipe.airfryer{width:32px;height:42px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/icon/icon_recipe_airfryer.png) no-repeat left top}
.product_detail_wrap .icon_recipe.microwave{width:40px;height:26px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/icon/icon_recipe_microwave.png) no-repeat left top;vertical-align:0}
.product_detail_wrap .icon_recipe.pot{width:42px;height:34px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/icon/icon_recipe_pot.png) no-repeat left top;vertical-align:0}

.product_detail_wrap .product_info_image{display:block}
.product_detail_wrap .product_info_image img{width:100%;vertical-align:top}
.product_detail_wrap .product_info_image.sub_image{margin-top:12px}

.product_detail_wrap .product_player_wrap{position:relative;margin-top:60px;padding-top:56.25%}
.product_detail_wrap .product_player_wrap > iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none}
.product_detail_wrap .player_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:none}

.product_detail_wrap .product_info_table{margin-top:24px;margin-left:60px}
.product_detail_wrap .product_info_table{margin-top:24px;margin-left:60px}
.product_detail_wrap .product_info_table table{width:100%;border-top:2px solid #000;border-bottom:2px solid #000;font-size:22px;table-layout:fixed;border-collapse:collapse}
.product_detail_wrap .product_info_table th,
.product_detail_wrap .product_info_table td{border-top:1px solid #000;border-left:1px solid #000;box-sizing:border-box;-webkit-box-sizing:border-box;color:#000;text-align:center;vertical-align:middle}
.product_detail_wrap .product_info_table th{height:48px;background-color:#eee;font-size:22px;font-weight:700}
.product_detail_wrap .product_info_table td{height:48px;padding:10px 10px;font-size:20px;font-weight:300;text-align:center}
.product_detail_wrap .product_info_table td:first-child,
.product_detail_wrap .product_info_table th:first-child{border-left:none}
.product_detail_wrap .product_info_table tbody th{padding:10px 10px;background-color:#fff;font-size:20px;font-weight:300}
.product_detail_wrap .product_info_table .bg_none{background-color:none}
.product_detail_wrap .product_info_table .text_left{text-align:left}
.product_detail_wrap .product_info_table .text_right{text-align:right}
.product_detail_wrap .product_info_table .table_text{margin-top:20px;color:#323131;font-size:22px;font-weight:100;text-align:right}
.product_detail_wrap .product_info_table.point_box_center{position:relative}
.product_detail_wrap .product_info_table.point_box_center:after{content:'';display:block;width:calc(36% + 1px);height:100%;border:3px solid #6dbb00;position:absolute;top:0;left:calc(28% + 1px);box-sizing:border-box;-webkit-box-sizing:border-box}

/* 간격 */
.product_detail_wrap .product_info_title + .product_info_subtitle{margin-top:30px}
.product_detail_wrap .product_info_title + .product_info_image{margin-top:30px}
.product_detail_wrap .product_info_title + .product_image_wrap{margin-top:30px}
.product_detail_wrap .product_info_subtitle + .product_info_image{margin-top:30px}
.product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:40px}
.product_detail_wrap .product_info_image + .product_info_image{margin-top:20px}
.product_detail_wrap .product_info_text + .product_info_image{margin-top:60px}
.product_detail_wrap .product_info_text + .product_info_image.sub_image{margin-top:30px}
.product_detail_wrap .product_info_image + .product_image_wrap{margin-top:0}
.product_detail_wrap .product_image_wrap + .product_info_image{margin-top:12px}

/* 이미지 템플릿 */
.product_image_wrap{margin-top:30px}
.product_image_wrap ul li{margin-top:12px}
.product_image_wrap ul img{width:100%;height:100%}

.product_image_wrap .is_resize{overflow:hidden;margin-left:-12px;font-size:0;text-align:left}
.product_image_wrap .is_resize li{display:inline-block;width:50%;padding-left:12px;vertical-align:top;-webkit-box-sizing:border-box;box-sizing:border-box}
.product_image_wrap .is_resize img{height:252px}

.product_image_wrap .vertical_type img{height:630px}

.product_image_wrap .divide_type li{width:33.3333334%}
.product_image_wrap .divide_type img{height:390px}

.product_image_wrap .complex_type li{float:left}
.product_image_wrap .complex_type img{height:360px}
.product_image_wrap .complex_type li:nth-child(3n+1){clear:left}
.product_image_wrap .complex_type li:nth-child(3n+1) img{height:732px}

.product_image_wrap .image_notice{margin-top:16px;font-size:22px;color:#323131;text-align:right}

/* 인증 사항 */
.product_detail_wrap .authentic_wrap{padding:0 5.9071729%;text-align:left}
.product_detail_wrap .authentic_list{margin-top:25px}
.product_detail_wrap .authentic_list li{margin-top:20px}
.product_detail_wrap .authentic_list li:first-child{margin:0}
.product_detail_wrap .authentic_area:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.product_detail_wrap .authentic_area{position:relative;vertical-align:middle;white-space:nowrap}
.product_detail_wrap .authentic_mark{display:inline-block;width:110px;height:110px;vertical-align:middle}
.product_detail_wrap .authentic_mark img{display:block;width:100%;height:100%}
.product_detail_wrap .authentic_title{display:inline-block;width:74.6835443%;margin-left:2.1097046%;font-size:22px;color:#696969;line-height:1.55;vertical-align:middle;white-space:normal;word-break:keep-all}

/* qna */
.product_detail_wrap .product_qna_list{margin-top:52px;margin-left:60px;text-align:left;}
.product_detail_wrap .product_qna_list i{position:absolute;top:-12px;display:inline-block;width:50px;height:50px;line-height:50px;border-radius:50%;box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;font-size:32px;font-weight:500;font-style:normal;text-align:center;}
.product_detail_wrap .product_qna_list p{position:relative;z-index:1;display:inline-block;padding:30px 36px;border-radius:16px;background-color:#ededed;color:#131313;font-size:22px;vertical-align:top;text-align:left;line-height:1.5;}
.product_detail_wrap .product_qna_list p strong{font-weight:500;}
.product_detail_wrap .product_qna_list dt{position:relative;padding-left:84px;margin-bottom:24px;}
.product_detail_wrap .product_qna_list dt:before{content:'';position:absolute;z-index:0;top:18px;left:52px;width:0;height:0;border-top:29px solid #ededed;border-bottom:36px solid transparent;border-right:36px solid transparent;border-left:48px solid  transparent;}
.product_detail_wrap .product_qna_list dt i{left:0;font-family:arial;background:#3bcc29;}
.product_detail_wrap .product_qna_list dd{position:relative;text-align:right;margin-bottom:24px;padding-right:84px;}
.product_detail_wrap .product_qna_list dd:before{content:'';position:absolute;z-index:0;top:18px;right:52px;width:0;height:0;border-top:29px solid #ededed;border-bottom:36px solid transparent;border-right:48px solid transparent;border-left:36px solid  transparent;}
.product_detail_wrap .product_qna_list dd i{right:0;background:#dd664e;}


/* Mobile */
@media all and (max-width:720px){
    .product_detail_wrap{overflow:hidden;max-width:720px;padding:0 3.335% 64px}
    .product_detail_wrap .detail_wrap{margin:0}
    .product_detail_wrap .detail_wrap.line{margin-top:50px;padding-top:50px;border-top:1px solid #cbcbcb}
    .product_detail_wrap .detail_wrap.full{margin:0}
    .product_detail_wrap .detail_wrap.bi{height:auto;margin:0}
    .product_detail_wrap .bi_wrap{display:block;max-width:75px;height:40px}
    .product_detail_wrap .bi_sub_wrap{display:block;float:right;height:40px;padding-right:2.5%}
    .product_detail_wrap .bi_wrap [class^="bi"]{display:inline-block;width:75px;height:40px;background-size:contain}
    .product_detail_wrap .bi_wrap [class^="logo_"]{display:inline-block;width:75px;height:40px;background-size:contain;background-position:left 9px center}
    .product_detail_wrap .bi_sub_wrap [class^="logo_"]{display:inline-block;width:75px;height:40px;background-size:contain}
    .product_detail_wrap .intro_img{margin:0 -6.605%}
    .product_detail_wrap .next_section{margin-top:36px !important}
    .product_detail_wrap .next_content{margin-top:20px !important}

    .product_detail_wrap .pmo{margin:0}
    .product_detail_wrap .pmo:before{display:none;bottom:-37px;width:100px;height:81px;background-size:100% auto}
    .product_detail_wrap .pmo:after{bottom:-19%;width:100%;height:100%;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/bg_pmo_pattern.png) no-repeat left bottom;background-size:100% auto}

    .product_detail_wrap br{display:none}
    .product_detail_wrap .paragraph_block br{display:block}
    .product_detail_wrap .detail_subtitle{margin-top:36px;font-size:18px}
    .product_detail_wrap .detail_title{margin-top:15px;font-size:24px}
    .product_detail_wrap .detail_point_title{margin-top:2px;font-size:22px;line-height:22px}
    .product_detail_wrap .detail_text{margin-top:20px;padding:0 9.43396226%;font-size:14px;line-height:1.5;word-break:keep-all}
    .product_detail_wrap .small_text{font-size:11px}
    .product_detail_wrap .product_text.small_text{font-size:11px}
    .product_detail_wrap .product_text + .product_text{margin-top:5px}

    .product_detail_wrap .product_info_wrap{margin-top:30px;padding:0}
    .product_detail_wrap .product_list li{min-height:170px;padding:0 3% 5.6603773%}
    .product_detail_wrap .product_icon{width:auto;height:75px;max-height:75px}
    .product_detail_wrap .product_icon img{width:auto;max-height:100%}
    .product_detail_wrap .product_title{font-size:14px;line-height:1.3}
    .product_detail_wrap .product_text{margin-top:4px;font-size:12px;line-height:1.3}

    .product_detail_wrap .is_odd_type .product_list li{padding:0 1% 2%;word-break:keep-all}

    /* 상품상세 */
    .product_detail_wrap .product_info_title{margin-top:50px;padding:50px 10px 0;margin-left:8px;font-size:18px}
    .product_detail_wrap .product_info_title:before{position:absolute;left:0;top:60px;width:6px;height:6px;margin:0}
    .product_detail_wrap .product_info_subtitle{margin:15px 20px 0;padding-left:10px;font-size:16px}
    .product_detail_wrap .product_info_subtitle:before{top:10px;left:0;width:3px;height:3px}
    
    .product_detail_wrap .product_info_text{margin-top:4px;margin-left:30px;padding-right:20px;font-size:14px;word-break:keep-all}
    .product_detail_wrap .product_info_text.bullet{position:relative;padding-left:8px}
    .product_detail_wrap .product_info_text.bullet .dot,
    .product_detail_wrap .product_info_text.bullet .dash{position:absolute;left:0}
    .product_detail_wrap .product_info_text .dot{top:10px;display:inline-block;width:2px;height:2px;background:#323131;vertical-align:middle}
    .product_detail_wrap .product_info_text .dash{top:10px;display:inline-block;width:3px;height:1px;margin:0;background:#323131;vertical-align:middle}
    .product_detail_wrap .product_info_text.bullet_num{position:relative;padding-left:12px}
    
    .product_detail_wrap .icon_tip{display:inline-block;vertical-align:top;width:26px;height:21px;margin-left:-3px;margin-right:3px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_tip.gif) no-repeat center;background-size:cover}
    .product_detail_wrap .icon_star{display:inline-block;vertical-align:top;width:17.5px;height:16px;margin:0 2px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_star.gif) no-repeat center;background-size:cover}
    .product_detail_wrap .icon_star.sm{width:20px;background-size:20px}
    .product_detail_wrap .icon_recomend{display:inline-block;vertical-align:top;width:35px;height:27.5px;margin-top:-3px;margin-bottom:-4px;margin-left:3px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_recomend.gif) no-repeat center;background-size:cover}
    .product_detail_wrap .t_line{background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_line_or.jpg) repeat-x left bottom}
    .product_detail_wrap .icon_check{display:inline-block;width:14px;height:14px;margin-right:3px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_check.png) no-repeat center;background-size:cover}
    
    .product_detail_wrap .product_notice_text{margin:60px 18px 0 36px;padding:0;font-size:13px;text-indent:-18px}
    .product_detail_wrap .product_info_image.sub_image{margin:0 9%}
    
    .product_detail_wrap .icon_recipe{display:inline-block;margin-right:4px;vertical-align:top}
    .product_detail_wrap .icon_recipe.fryfan{width:29px;height:22px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.oven{width:20px;height:25px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.airfryer{width:16px;height:21px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.microwave{width:20px;height:13px;background-size:100% 100%}
    .product_detail_wrap .icon_recipe.pot{width:21px;height:17px;background-size:100% 100%}

    .product_detail_wrap .product_info_table{margin-top:12px;margin-left:20px}
    .product_detail_wrap .product_info_table table{font-size:13px}
    .product_detail_wrap .product_info_table th{height:36px;padding:5px 5px;font-size:13px}
    .product_detail_wrap .product_info_table td{height:36px;padding:5px 5px;font-size:13px}
    .product_detail_wrap .product_info_table tbody th{padding:5px 5px;font-size:13px}
    .product_detail_wrap .product_info_table .table_text{margin-top:10px;font-size:12px}
    .product_detail_wrap .product_player_wrap{position:relative;margin-top:30px;padding-top:0}
    .product_detail_wrap .product_player_wrap > iframe{position:static}
    .product_detail_wrap .product_player_wrap br{display:block}
    .product_detail_wrap .player_wrap br{display:block}

    /* 간격 */
    .product_detail_wrap .product_info_title + .product_info_subtitle{margin-top:15px}
    .product_detail_wrap .product_info_title + .product_info_image{margin-top:15px}
    .product_detail_wrap .product_info_title + .product_image_wrap{margin-top:15px}
    .product_detail_wrap .product_info_subtitle + .product_info_image{margin-top:15px}
    .product_detail_wrap .product_info_image + .product_info_subtitle{margin-top:20px}
    .product_detail_wrap .product_info_image + .product_info_image{margin-top:10px}
    .product_detail_wrap .product_info_text + .product_info_image{margin-top:30px}
    .product_detail_wrap .product_info_text + .product_info_image.sub_image{margin-top:15px}

    /* 이미지 템플릿 */
    .product_image_wrap{margin-top:15px}
    .product_image_wrap .is_resize img{height:126px}
    
    .product_image_wrap .vertical_type img{height:315px}
    .product_image_wrap .divide_type img{height:195px}
    .product_image_wrap .complex_type img{height:180px}
    .product_image_wrap .complex_type li:nth-child(3n+1) img{height:372px}
    .product_image_wrap .image_notice{margin-top:8px;font-size:13px}

    /* 인증 사항 */
    .product_detail_wrap .authentic_wrap{padding:0}
    .product_detail_wrap .authentic_list{margin-top:11px}
    .product_detail_wrap .authentic_list li{margin-top:25px}
    .product_detail_wrap .authentic_list li:first-child{margin-top:0}
    .product_detail_wrap .authentic_mark{width:75px;height:75px}
    .product_detail_wrap .authentic_title{width:59.5238095%;margin-left:2.97619%;font-size:13px}

    /* qna */
    .product_detail_wrap .product_qna_list {margin-top:23px;margin-left:30px;margin-right:20px}
    .product_detail_wrap .product_qna_list i {position:absolute;top:-6px;width:25px;height:25px;border-radius:50%;color:#fff;font-size:16px;font-weight:500;text-align:center;line-height:25px;}
    .product_detail_wrap .product_qna_list p {position:relative;z-index:1;display:inline-block;vertical-align:top;max-width:80%;padding:15px 16px;font-size:15px;line-height:1.5;text-align:left;border-radius:8px;background:#ededed;}
    .product_detail_wrap .product_qna_list p strong {display:block;font-weight:500;}
    .product_detail_wrap .product_qna_list dt {position:relative;padding-left:42px;margin-bottom:12px;}
    .product_detail_wrap .product_qna_list dt:before {content:'';position:absolute;z-index:0;top:9px;left:26px;width:0;height:0;border-top:14px solid #ededed;border-bottom:18px solid transparent;border-right:18px solid transparent;border-left:24px solid  transparent;}
    .product_detail_wrap .product_qna_list dt i {left:0;font-family:arial;background:#3bcc29;      }
    .product_detail_wrap .product_qna_list dd {position:relative;text-align:right;margin-bottom:12px;padding-right:42px;}
    .product_detail_wrap .product_qna_list dd:before {content:'';position:absolute;z-index:0;top:9px;right:26px;width:0;height:0;border-top:14px solid #ededed;border-bottom:18px solid transparent;border-right:24px solid transparent;border-left:18px solid  transparent;}
    .product_detail_wrap .product_qna_list dd i {right:0;background:#dd664e;}
}


/* 공통 레이아웃 외 개별페이지 스타일 */

/* [4220] 풀무원로하스 로젠빈 */
.meal_ten_commandment{margin:40px 0 0 40px;color:#323131;font-size:0;text-align:left}
.meal_ten_commandment > .info_wrap{display:inline-block;width:50%;min-height:310px;margin-bottom:50px;padding:0 40px;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top}
.meal_ten_commandment > .info_wrap.positive{border-right:1px solid #cbcbcb;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/4220_lohas_rosenbean/bg_o.png) no-repeat center top 50px}
.meal_ten_commandment > .info_wrap.negative{padding-left:80px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/4220_lohas_rosenbean/bg_x.png) no-repeat center top 70px}
.meal_ten_commandment > .info_wrap .tit{margin-top:10px;font-size:23px;font-weight:500}
.meal_ten_commandment > .info_wrap li{font-size:23px;line-height:1.6}
.meal_ten_commandment > .text_source{margin-left:40px;color:#000;font-size:20px;font-weight:100}

/* [5038/5039] 마시는 그린샐러드/마시는 오렌지샐러드 */
.baleunseon_info_wrap .img_wrap{display:inline-block;height:118px}
.baleunseon_info_wrap .img_wrap img{max-height:100%}
.baleunseon_info_wrap .img_wrap + .info_wrap{margin-top:40p} 
.baleunseon_info_wrap .info_wrap{margin-top:70px}
.baleunseon_info_wrap .info_wrap .tit{color:#1b1b1b;font-size:36px;font-weight:500}
.baleunseon_info_wrap .info_wrap .sub_tit{margin-top:30px;color:#323131;font-size:21px;font-weight:400}
.baleunseon_info_wrap .info_wrap .sub_text,
.baleunseon_info_wrap .info_wrap .sub_text li{margin-top:40px;color:#323131;font-size:21px;font-weight:100;line-height:1.6}

/* [12459] 바릴라 */
.barilla_info_wrap{margin:100px 0}
.barilla_info_wrap .info_wrap{margin-top:32px;line-height:1.1} 
.barilla_info_wrap .sub_tit{color:#323131;font-size:21px;font-weight:100}
.barilla_info_wrap .sub_tit .text_source{color:#1b1b1b;font-size:15px}
.barilla_info_wrap .tit{margin:15px 0 35px;color:#1b1b1b;font-size:30px;font-weight:400}
.barilla_info_wrap .sub_text{color:#323131;font-size:21px;font-weight:100;line-height:1.6}

/* [16321/16322/16323] 자연은 맛있다 */
.brand_info_wrap{margin:100px 0;padding:0 120px 0 130px}
.brand_info_wrap:after{content:'';display:block;clear:both}
.brand_info_wrap dt{float:left;width:126px;height:126px;margin-right:20px}
.brand_info_wrap dd{color:#202020;font-size:23px;line-height:1.4;text-align:left}

@media all and (max-width:720px){
    /* [4220] 풀무원로하스 로젠빈 */
    .meal_ten_commandment{margin:15px 0 0 20px;color:#323131;font-size:0;text-align:left}
    .meal_ten_commandment > .info_wrap{display:inline-block;width:50%;min-height:155px;margin-bottom:20px;padding:0 10px 0 0;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top}
    .meal_ten_commandment > .info_wrap.positive{border-right:1px solid #cbcbcb;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/4220_lohas_rosenbean/bg_o.png) no-repeat left 35% top 32px;background-size:50%}
    .meal_ten_commandment > .info_wrap.negative{padding-left:20px;background:url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/4220_lohas_rosenbean/bg_x.png) no-repeat center top 35px;background-size:50%}
    .meal_ten_commandment > .info_wrap .tit{margin-top:5px;font-size:13px;font-weight:500}
    .meal_ten_commandment > .info_wrap li{font-size:12px;line-height:1.6}
    .meal_ten_commandment > .text_source{margin-left:0;color:#000;font-size:12px;font-weight:100}
    
    /* [5038/5039] 마시는 그린샐러드/마시는 오렌지샐러드 */
    .baleunseon_info_wrap .img_wrap{display:inline-block;width:110px;height:59px}
    .baleunseon_info_wrap .img_wrap img{max-height:100%}
    .baleunseon_info_wrap .img_wrap + .info_wrap{margin-top:20p} 
    .baleunseon_info_wrap .info_wrap{margin-top:35px}
    .baleunseon_info_wrap .info_wrap .tit{color:#1b1b1b;font-size:18px;font-weight:500}
    .baleunseon_info_wrap .info_wrap .sub_tit{margin-top:15px;color:#323131;font-size:14px;font-weight:400}
    .baleunseon_info_wrap .info_wrap .sub_text,
    .baleunseon_info_wrap .info_wrap .sub_text li{margin-top:20px;color:#323131;font-size:14px;font-weight:100;line-height:1.6}

    /* [12459] 바릴라 */
    .barilla_info_wrap{margin:50px 0}
    .barilla_info_wrap .img_wrap{display:inline-block;margin:0 50px}
    .barilla_info_wrap .info_wrap{margin-top:16px;padding:0 3%;line-height:1.1;word-break:keep-all} 
    .barilla_info_wrap .sub_tit{color:#323131;font-size:14px;font-weight:100}
    .barilla_info_wrap .sub_tit .text_source{color:#1b1b1b;font-size:12px}
    .barilla_info_wrap .tit{margin:12px 0 20px;color:#1b1b1b;font-size:18px;font-weight:400}
    .barilla_info_wrap .sub_text{color:#323131;font-size:14px;font-weight:100;line-height:1.5}
    
    /* [16321/16322/16323] 자연은 맛있다 */
    .brand_info_wrap{margin:50px 0;padding:0 20px;font-size:0}
    .brand_info_wrap dt{float:none;display:inline-block;width:63px;height:63px;margin-right:10px;vertical-align:middle}
    .brand_info_wrap dd{display:inline-block;width:calc(100% - 73px);color:#202020;font-size:14px;font-weight:100;line-height:1.4;text-align:left;vertical-align:middle;word-break:keep-all}
}