

.recipe{font-family:'Nanum Barun Gothic', sans-serif;}
.recipe__area{display:none;}
.recipe__area.is-active{display:block;}

.recipe__main-tit{margin-top:20px; padding-bottom:20px; font-size:26px; color:#333; border-bottom:1px solid #b7b7b7;}
.recipe__main-txt{margin-top:35px; font-size:14px; color:#636363; line-height:1.5;}

.recipe__main{position:relative; padding:5px; border:1px solid #dadada; box-sizing:border-box;}
.recipe__main:after{display:block; clear:both; content:'';}
.recipe__main-img{float:left;display:inline-block; border:1px solid #efefef; width:399px; height:399px;}
.recipe__main-conent{float:left; width:607px; padding:37px 40px; box-sizing:border-box;}
.recipe__main-top{font-size:18px; color:#555;}
.recipe__main-tit{font-size:26px; color:#333;}
.recipe__video{margin-top:40px; text-align:center;}

.recipe__box{margin-top:40px;}
.recipe__box p{font-size:14px; color:#555; line-height:2;padding-left: 10px;}
.recipe__box-tit{padding:0px 10px 10px 10px; margin-bottom:20px; border-bottom:1px solid #b7b7b7; font-family:'notokr', Dotum, sans-serif; font-size:24px; color:#333; font-weight:400;}
.recipe__box-txt.type-another{margin-top:13px; line-height:2;}
.recipe__box-num{margin-left:5px; font-size:18px; color:#636363;}

.recipe_section{padding:0px 20px;}
.recipe_section:after{display:block; clear:both; content:'';}
.recipe_search{float:right; width:200px; margin-top:10px;  color:#363636; font-family:"Nanum Barun Gothic", sans-serif; text-align:center;}
.recipe_search:after{display:block; clear:both; width:200px; height:0; margin-top:3px; border-bottom:1px solid #515151; content:'';}
.recipe_search input{width:170px; height:25px; padding:3px; box-sizing:border-box;margin:0px 5px; border:1px solid transparent; background:transparent; outline:none; font-family:"Nanum Barun Gothic", sans-serif; font-size:12px; color:#363636;}

.recipe-search__tit{margin-top:40px; padding-bottom:20px; border-bottom:1px solid #b7b7b7; font-size:24px; font-family:'notokr', Dotum, sans-serif; font-weight:500;}
.recipe-search__tit span{margin-right:5px;}
.recipe__data-box{padding:25px 0px; color:#767676; border-bottom:1px solid #dddddd; text-align:center;}
.recipe__data-tit{position:relative; padding-top:60px; font-size:24px; font-weight:400;}
.recipe__data-tit:before{position:absolute; top:0; left:0; right:0; display:inline-block; width:48px; height:43px; margin:0px auto; background-image:url('/front/include/img/recipe/data_none_icon.png'); content:'';}
.recipe__data-txt{margin-top:15px; font-size:14px; line-height:1.3;}
.recipe__data-link{display:inline-block; margin-top:20px; font-size:14px; color:#555; font-family:"Nanum Barun Gothic", sans-serif;}

.comment2{padding:20px; box-sizing:border-box;}
.comment2__box{}
.comment2__box:after{display:block; clear:both; content:'';}
.comment2__textarea{float:left; width:840px; height:100px; padding:5px; border:1px solid #e1e1e1; box-sizing:border-box; color:#555555;}
.comment2__btn{position:relative; float:left; display:inline-block; width:140px; height:100px;
	border:1px solid #e1e1e1; border-left:none; background-color:#00400f; color:#fff; font-size:18px; font-family:'notokr', Dotum, sans-serif; text-align:center;
	 -webkit-box-sizing:border-box; box-sizing:border-box;
	vertical-align: middle;  cursor: pointer; line-height:1; text-indent:0
}
.comment2__btn:before{display:inline-block;height:100%; vertical-align:middle; content:'';}
.comment2__btn > span { display:inline-block; vertical-align:middle; }

.comment2__table{width:100%; margin-top:20px; border-top:1px solid #e1e1e1; font-size:12px; color:#555555;}
.comment2__table tr{border-bottom:1px solid #e1e1e1;}
.comment2__table td{padding:23px 0px 23px 20px; }
.comment2__close{overflow:hidden; display:inline-block; width:18px; height:18px; margin-left:10px; background-image:url('/front/include/img/recipe/recipe_btn.jpg'); vertical-align:middle; text-indent: -9999px;}

.list__btn{position:relative; float:left; display:inline-block; width:80px; height:25px;
	border:1px solid #aaaaaa; background-color:#fff; color:#636363; font-size:14px; font-family:'notokr', Dotum, sans-serif; text-align:center;
	 -webkit-box-sizing:border-box; box-sizing:border-box;
	vertical-align: middle;  cursor: pointer; line-height:1; text-indent:0
}
.list__btn:before{display:inline-block;height:100%; vertical-align:middle; content:'';}
.list__btn > span { display:inline-block; vertical-align:middle; }