@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/NanumBarunGothicUltraLight.eot');
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url('../fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumBarunGothicUltraLight.woff2') format('woff2'),
       url('../fonts/NanumBarunGothicUltraLight.woff') format('woff'),
       url('../fonts/NanumBarunGothicUltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NanumBarunGothicLight.eot');
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url('../fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumBarunGothicLight.woff2') format('woff2'),
       url('../fonts/NanumBarunGothicLight.woff') format('woff'),
       url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumBarunGothic.eot');
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumBarunGothic.woff2') format('woff2'),
       url('../fonts/NanumBarunGothic.woff') format('woff'),
       url('../fonts/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumBarunGothicBold.eot');
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
       url('../fonts/NanumBarunGothicBold.woff') format('woff'),
       url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
}


@font-face {
	font-family:'Nanum Gothic';
	src:url('../fonts/NanumGothic-Regular.eot');
	src:local('Nanum Gothic'),
      	local('NanumGothic'),  
	    url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
      	url('../fonts/NanumGothic-Regular.woff2') format('woff2'),
		url('../fonts/NanumGothic-Regular.woff') format('woff');
	font-weight:400;
	font-style: normal;
}

@font-face {
	font-family:'Nanum Gothic';
	src:url('../fonts/NanumGothic-Bold.eot');
  	src:local('Nanum Gothic Bold'),
      	local('NanumGothicBold'),
		url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
      	url('../fonts/NanumGothic-Bold.woff2') format('woff2'),
  		url('../fonts/NanumGothic-Bold.woff') format('woff');
	font-weight:700;
	font-style: normal;
}

@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-thin.eot');
    src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-thin.woff2') format('woff2'),
         url('../fonts/notokr-thin.woff') format('woff'),
         url('../fonts/notokr-thin.ttf') format('truetype'),
         url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-light.woff2') format('woff2'),
         url('../fonts/notokr-light.woff') format('woff'),
         url('../fonts/notokr-light.ttf') format('truetype'),
         url('../fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('..../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-regular.woff2') format('woff2'),
         url('../fonts/notokr-regular.woff') format('woff'),
         url('../fonts/notokr-regular.ttf') format('truetype'),
         url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-medium.woff2') format('woff2'),
         url('../fonts/notokr-medium.woff') format('woff'),
         url('../fonts/notokr-medium.ttf') format('truetype'),
         url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-bold.woff2') format('woff2'),
         url('../fonts/notokr-bold.woff') format('woff'),
         url('../fonts/notokr-bold.ttf') format('truetype'),
         url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../fonts/notokr-black.eot');
    src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-black.woff2') format('woff2'),
         url('../fonts/notokr-black.woff') format('woff'),
         url('../fonts/notokr-black.ttf') format('truetype'),
         url('../fonts/notokr-black.svg#notokr-black') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Reset
html, body {font-family: 'Nanum Barun Gothic', sans-serif; font-size:12px; letter-spacing:-1px;}
2017-03-22 서브텍스트 폰트 변경
 */
 
html, body {font-family:'notokr', sans-serif; font-weight: 400; font-size:12px; letter-spacing:-1px;}
html, body, div, span, applet, object, iframe,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;vertical-align:baseline;}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;border:0;font-weight: 700;}
strong, th	{font-weight: 700;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {display:block;}
ul, ol, li, dl, dt, dd {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
table {border-collapse: collapse; border-spacing: 0;}
td {word-break:break-all;}
hr {display:none;}
button,label {cursor:pointer; _cursor /**/:hand; margin:0; border:0 none;}
:root legend {margin-top:-1px;font-size:0;line-height:0;}
input, select, img {vertical-align:middle;}
em, address{font-style:normal;}
textarea {overflow:auto; resize:none;}
legend {*width:0;}
legend, caption{overflow:hidden; text-indent:-9999999px; height:0 !important; width:0 !important; line-height:0 !important;}

a {text-decoration:none;}
a:hover {text-decoration:none;}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset;
}