@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('./product_detail.css'); /* 상품상세 템플릿 2020 */

.prod_info_detail {
    width: 948px;
    margin: 0 auto;
    text-align: left;
}
.prod_info_detail.w720 {
	width: 720px;
}
.prod_info_detail * {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}
.prod_info_detail img {
    vertical-align: top;
}
.prod_info_detail button {
    background: none;
    cursor: pointer;
    box-shadow: none;
}
.prod_info_detail em,
.prod_info_detail i {
    font-style: normal;
}
.prod_info_detail .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px
}
.prod_info_detail .prod_info_header {
    position: relative;
    margin-bottom: 100px;
    text-align: center
}
.prod_info_detail .prod_info_header .prod_info_section .prod_cont_title {
	padding-bottom: 18px;
	font-size: 36px;
}
.prod_info_detail .prod_info_header .prod_info_section .prod_cont_title:before {
	display: none;
}
.prod_info_detail .prod_info_logo {
    overflow: hidden;
}
.prod_info_detail .logo_pulmuone {
    float: left;
    width: 150px;
    height: 80px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi.png) no-repeat center;
}
.prod_info_detail .logo_foodmerce {
    float: left;
    width: 150px;
    height: 80px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/pmo_bi_foodmerce.png) no-repeat center;
}
.prod_info_detail .prod_info_header {
    position: relative;
}
.prod_info_detail .prod_info_header:before {
    content: '';
    position: absolute;
    top: 330px;
    left: 33px;
    width: 915px;
    height: 369px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_header_symbol.png) no-repeat center;    
}
.prod_info_detail .prod_info_header h2 {
    margin-top: 70px;
    margin-bottom: 40px;
    color: #1b1b1b;
    font-size: 42px;
    font-weight: 500;
    line-height: 1em
}
.prod_info_detail .prod_info_header h2 span {
    display: block;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 30px;
}
.prod_info_detail .prod_info_header .prod_cont {
    margin-bottom: 60px;
    color: #323131;
    font-size: 21px;
    line-height: 1.8em;
}
.prod_info_detail .prod_info_list {
    overflow: hidden;
}
.prod_info_detail .prod_info_list li {
    float: left;
    width: 50%;
    height: 330px;
    font-size: 22px;
    line-height: 1.5em;
    border: 0px;
}
.prod_info_detail .prod_info_list li.line_r {
    border-right: 1px solid #000;
}
.prod_info_detail .prod_info_list li.line_b {
    border-bottom: 1px solid #000;
}
.prod_info_detail .prod_info_list li strong {
    display: block;
    margin-bottom: 10px;
    color: #323131;
    font-size: 28px;
    font-weight: 500;
}
.prod_info_detail .prod_info_section {
    position: relative;
    margin-bottom: 99px;
    padding-top: 99px;
    border-top: 1px solid #cbcbcb;
}
.prod_info_detail .prod_info_section h3 {
    position: relative;
    padding-left: 40px;
    color: #323131;
    font-size: 32px;
    font-weight: 500;
    line-height: 1em;
}
.prod_info_detail .prod_info_section h3 + .prod_cont {
    margin-top: 27px;
}
.prod_info_detail .prod_info_section h3:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 18px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3bcc29;
}
.prod_info_detail .prod_info_section .prod_cont_title {
    display: block;
    position: relative;
    margin-top: 40px;
    padding-bottom: 17px;
    padding-left: 60px;
    color: #323131;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5em;
}
.prod_info_detail .prod_info_section .prod_cont_title:before {
    content: '';
    position: absolute;
    top: 18px;
    left: 42px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #323131;
}
.prod_info_detail .prod_info_section .prod_cont_title.red {
	color: #dc1c1c
}
.prod_info_detail .prod_info_section .prod_cont_title.red:before {
    background: #dc1c1c;
}
.prod_info_detail .prod_info_section .prod_cont_title em {
    color: #6da920;
    font-weight: 500;
}
.prod_info_detail .prod_info_section .prod_cont_title em.t2 {
    color: #ec008c;
}
.prod_info_detail .prod_info_section .prod_thumb {
    margin-top: 44px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb.tip {
	margin-top: 25px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb.tip + .prod_cont {
	margin-top: 25px;
}
.prod_info_detail .prod_info_section h3 + .prod_thumb {
    margin-top: 60px;
}
.prod_info_detail .prod_info_section .prod_cont {
    padding-left: 60px;
    color: #323131;
    font-size: 22px;
    line-height: 1.5em;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_cont_title {
    margin-top: 35px;
}
.prod_info_detail .prod_info_section .prod_cont + .prod_thumb {
    margin-top: 55px;
}
.prod_info_detail .prod_info_section .prod_thumb + .prod_thumb {
    margin-top: 12px;
}
.prod_info_detail .prod_info_section .prod_thumb + .prod_cont {
    margin-top: 35px;
}
.prod_info_detail .prod_info_section .prod_cont em {
    font-weight: 500;
}
.prod_info_detail .prod_info_section .prod_cont.red {
	color: #dc1c1c
}
.prod_info_detail .prod_info_section .prod_cont .icon_tip {
    display: inline-block;
    vertical-align: top;
    width: 52px;
    height: 41px;
    margin-left: -6px;
    margin-right: 6px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_tip.gif) no-repeat center;
}
.prod_info_detail .prod_info_section .prod_cont span.t_line {
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_line_or.jpg) repeat-x left bottom;
}
.prod_info_detail .prod_info_section .icon_star {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 32px;
    margin-left: 6px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_star.gif) no-repeat center;
}
.prod_info_detail .prod_info_section .icon_star.sm {
    width: 20px;
    background-size: 20px;
}
.prod_info_detail .prod_info_section .icon_recomend {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 55px;    
    margin-top: -6px;
    margin-bottom: -8px;
    margin-left: 6px;
    background: url(http://www.pulmuoneshop.co.kr/upload/images/goods_contents/common/img_recomend.gif) no-repeat center;
}
.prod_info_detail .prod_info_section .prod_cont.bullet {
    position: relative;
    padding-left: 80px;
}
.prod_info_detail .prod_info_section .prod_cont.bullet i {
    position: absolute;
    top: 0px;
    left: 60px;
    font-style: normal;
}
.prod_info_detail .prod_info_section .prod_cont.bullet i[class^="icon_"] {
    position: static
}
.prod_info_detail .prod_info_section .prod_cont.bullet.ty02 {
    position: relative;
    padding-left: 90px;
}
.prod_info_detail .prod_info_section .prod_cont.bullet.ty02 i {
    position: absolute;
    top: 6px;
    left: 60px;
    font-style: normal;
}
.prod_info_detail .prod_info_section .prod_cont_table {
    margin-top: 7px;
    margin-left: 60px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.prod_info_detail .prod_info_section .prod_cont_table table {
    width: 100%;
}
.prod_info_detail .prod_info_section .prod_cont_table thead th {
    height: 48px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 48px;
    background: #eee;
    border-left: 1px solid #000;
    text-align: center;
}
.prod_info_detail .prod_info_section .prod_cont_table thead th:first-child {
    border-left: 0px;
}
.prod_info_detail .prod_info_section .prod_cont_table tbody td {
    height: 38px;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    vertical-align: middle;
}
.prod_info_detail .prod_info_section .prod_cont_table tbody td:first-child {
    border-left: 0px;
}
.prod_info_detail .prod_info_section .txt_source {
    margin-top: 10px;
    color: #000;
    font-size: 22px;
    font-weight: 100;
    text-align: right;
}
.prod_info_detail .prod_qna_list {
    margin-top: 52px;
    margin-left: 60px;
}
.prod_info_detail .prod_qna_list i {
    position: absolute;
    top: -12px;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    color: #fff;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    line-height: 100%;
    border-radius: 50%;
}
.prod_info_detail .prod_qna_list p {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    padding: 30px 36px;
    font-size: 22px;
    line-height: 1.5em;
    text-align: left;
    border-radius: 16px;
    background: #ededed;
}
.prod_info_detail .prod_qna_list p strong {
    font-weight: 500;
}
.prod_info_detail .prod_qna_list dt {
    position: relative;
    padding-left: 84px;
    margin-bottom: 24px;
}
.prod_info_detail .prod_qna_list dt:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 18px;
    left: 52px;
    width: 0px;
    height: 0px;
    border-top: 29px solid #ededed;
    border-bottom: 36px solid transparent;
    border-right: 36px solid transparent;
    border-left: 48px solid  transparent;
}
.prod_info_detail .prod_qna_list dt i {
    left: 0px;
    font-family: arial;
    background: #3bcc29;      
}
.prod_info_detail .prod_qna_list dd {
    position: relative;
    text-align: right;
    margin-bottom: 24px;
    padding-right: 84px;
}
.prod_info_detail .prod_qna_list dd:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 18px;
    right: 52px;
    width: 0px;
    height: 0px;
    border-top: 29px solid #ededed;
    border-bottom: 36px solid transparent;
    border-right: 48px solid transparent;
    border-left: 36px solid  transparent;
}
.prod_info_detail .prod_qna_list dd i {
    right: 0px;
    background: #dd664e;
}
.prod_info_detail .prod_cont_list {
    padding-left: 60px;
}
.prod_info_detail .prod_cont_list li {
    display: table;
}
.prod_info_detail .prod_cont_list li > * {
    display: table-cell;  
    padding-right: 12px;
    color: #323131;
    font-size: 22px;
    line-height: 1.5em;
}
.prod_info_detail .prod_cont_list li > strong {
    white-space: nowrap;
}
.prod_info_detail .prod_cont_list li strong {
    font-weight: 400
}
.prod_info_detail .prod_cont_list li .prod_cont {
    padding-left: 0px;
}
.prod_info_detail .prod_cont_list .prod_cont.bullet {
    padding-left: 20px;
}
.prod_info_detail .prod_cont_list .prod_cont.bullet i {
    left: 0px;
}

.prod_info_detail.w720 .prod_video {
	text-align: center;
	background: #473529;
}
.prod_info_detail.w720 .prod_video iframe {
	vertical-align: top;
}

.prod_info_section .prod_info_list {
    margin-top: 5%;
}
.prod_info_section .prod_info_list li {
    min-height: 210px;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .prod_info_detail .prod_info_section {
        padding-top: 100px;
    }
    .prod_info_detail .prod_info_section .prod_thumb {
        margin-top: 43px;
    }
    .prod_info_detail .prod_info_section .prod_cont_title {
        margin-top: 27px;
        padding-bottom: 9px;
    }
    .prod_info_detail .prod_info_section h3 + .prod_thumb {
        margin-top: 60px;
    }
    .prod_info_detail .prod_info_section .prod_cont + .prod_cont_title {
        margin-top: 29px;
    }
}


