@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* link */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:88%;left:5%;right:5%;height:12%}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9}
.event_wrap .evt_notice{padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#282d36}
.event_wrap .noti2 .notice_title{border-top:2px solid #fff;color:#fff;}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto !important}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti2 .notice_list li{color:#fff}
.event_wrap .noti2 .notice_list li:before{background-color:#fff}

/* 후기작성방법 slide */
.event_wrap .p_evt_sec3{background:#def3d1}
.event_wrap .slide_box{position:relative;width:100%;overflow-x:hidden;-webkit-backface-visibility:hidden}
.event_wrap .slide_box .slide_list{display:flex}
.event_wrap .slide_box .slide_list li{position:relative;width:100%}
.event_wrap .slide_box .slide_list li img{width:100%;height:100%}

.event_wrap .slide_box .slide_btn_box button{position:absolute;width:11.1111vw;height:11.1111vw;top:58.3333vw;font-size:4.1vw;color:#fff;border-radius:2.2222vw 0 0 2.2222vw;background:rgba(0,0,0,.4);cursor:pointer;touch-action:none}
.event_wrap .slide_box .slide_btn_box .slide_btn_prev{left:0;border-radius:0 2.2222vw 2.2222vw 0}
.event_wrap .slide_box .slide_btn_box .slide_btn_next{right:0}

.event_wrap .slide_box .slide_pagination{position:absolute;width:100%;top:119.4444vw;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 1.3889vw;background:#bbc2ca;border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#7fc242}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}
