@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{bottom:0;left:264px;right:264px;height:100px}

/* notice */
.event_wrap .p_evt_noti{background:#f5f7f9}
.event_wrap .evt_notice{padding:100px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#282d36}
.event_wrap .noti2 .notice_title{border-top:4px solid #fff;color:#fff;}
.event_wrap .noti2 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti2 .notice_list{border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .noti2 .notice_list li{color:#fff}
.event_wrap .noti2 .notice_list li:before{background-color:#fff}

/* 후기작성방법 slide */
.event_wrap .p_evt_sec3{background:#def3d1}
.event_wrap .slide_box{position:relative;width:720px;overflow-x:hidden;-webkit-backface-visibility:hidden;margin:0 auto}
.event_wrap .slide_box .slide_list{display:flex;width:720px}
.event_wrap .slide_box .slide_list li{position:relative}
.event_wrap .slide_box .slide_list li img{margin:0 !important}

.event_wrap .slide_box .slide_btn_box button{position:absolute;width:40px;height:40px;top:440px;font-size:20px;color:#333;border:1px solid #ebebeb !important;border-radius:8px;border:0;background:#fff;cursor:pointer;touch-action:none}
.event_wrap .slide_box .slide_btn_box .slide_btn_prev{left:50px}
.event_wrap .slide_box .slide_btn_box .slide_btn_next{right:50px}

.event_wrap .slide_box .slide_pagination{position:absolute;width:100%;bottom:100px;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .slide_box .slide_pagination .dot{display:inline-block;width:16px;height:16px;margin:0 10px;background:#bbc2ca;border-radius:100px;transition:0.3s}
.event_wrap .slide_box .slide_pagination .dot.dot_active{background:#7fc242}
.event_wrap .slide_box .slide_pagination .dot a{display:block;width:100%;height:100%}
