@charset "utf-8";

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("NotoSansKR-DemiLight"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-DemiLight.woff2) format("woff2"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-DemiLight.woff) format("woff");
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NotoSansKR-DemiLight"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-DemiLight.woff2) format("woff2"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-DemiLight.woff) format("woff");
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("NotoSansKR-Bold"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-Bold.woff2) format("woff2"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-Bold.woff) format("woff");
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("NotoSansKR-Medium"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-Medium.woff2) format("woff2"),url(http://static.pulmuone.info/shop_goods/common/css/font/NotoSansKR-Medium.woff) format("woff");
}

@font-face {
  font-family: 'Pulmuone';
  font-style: normal;
  font-display: swap;
  src: local("Pulmuone"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Pulmuone.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Pulmuone.woff) format("woff");
}
@font-face {
  font-family: 'PulmuoneLOHAS';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("PulmuoneLOHASLight"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASLight.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASLight.woff) format("woff");
}
@font-face {
  font-family: 'PulmuoneLOHAS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PulmuoneLOHASLight"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASLight.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASLight.woff) format("woff");
}
@font-face {
  font-family: 'PulmuoneLOHAS';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("PulmuoneLOHASMedium"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASMedium.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASMedium.woff) format("woff");
}
@font-face {
  font-family: 'PulmuoneLOHAS';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PulmuoneLOHASBold"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASBold.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/PulmuoneLOHASBold.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lato-Regular"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Lato-Regular.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Lato-Regular.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato-Regular"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Lato-Regular.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Lato-Regular.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato-Bold"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Lato-Bold.woff2) format("woff2"),url(https://shop.pulmuone.co.kr/assets/pc/fonts/Lato-Bold.woff) format("woff");
}

.product_detail_wrap *{font-family:'NotoSans', sans-serif;-webkit-text-size-adjust:100%}