@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(http://www.orga.co.kr/images/promo/202006/0616_best_orga/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(http://www.orga.co.kr/images/promo/202006/0616_best_orga/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(http://www.orga.co.kr/images/promo/202006/0616_best_orga/img/p_sec1_bg_l.jpg) 0 -1px no-repeat}
.event_wrap .p_evt_sec1:after{background:url(http://www.orga.co.kr/images/promo/202006/0616_best_orga/img/p_sec1_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec1{background:#f3ece2}
.event_wrap .p_evt_sec2,
.event_wrap .p_evt_sec2:before,
.event_wrap .p_evt_sec2:after{background:#f3ece2}

.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec3:before,
.event_wrap .p_evt_sec3:after{background:#607135}

.event_wrap .p_evt_noti,
.event_wrap .p_evt_noti:before,
.event_wrap .p_evt_noti:after{background:#6f8043}

.event_wrap .product_list{margin-top:-120px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:312px;height:auto;margin:0 42px 48px 0;vertical-align:top}
.event_wrap .product_list li:nth-child(3n){margin-right:0}
.event_wrap .product_title{height:54px;margin:12px 0 2px;font-size:18px;font-weight:600;color:#333}
.event_wrap .product_info{display:block;text-align:right}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .percent{float:left;font-size:16px;color:#333}
.event_wrap .percent .num{font-size:26px;font-weight:600}
.event_wrap .original{font-size:18px;color:#707070}
.event_wrap .sale{display:inline-block;margin-left:8px;font-size:26px;font-weight:600;color:#333}
.event_wrap .sale ins{text-decoration:none}
.event_wrap .btn_area{display:block;margin-top:9px}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:33%;left:20%;width:60%;height:8%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* link */
.event_wrap .btn_lnk1{left:0;bottom:22%;width:100%;height:56%}
.event_wrap .btn_coupon{left:31.5%;bottom:19%;width:37%;height:14%}

/* notice */
.event_wrap .evt_notice{padding:40px 35px}
.event_wrap .notice_list li{position:relative;margin-top:3px;padding-left:13px;font-size:18px;font-weight:400;color:#e1e7d3;letter-spacing:-2px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-weight:600}
.event_wrap .notice_list li:before{position:absolute;top:12px;left:0;width:3px;height:3px;background-color:#e1e7d3;content:''}
