@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;margin:0;padding:0;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice
{overflow:hidden;position:relative;max-width:720px;margin:0 auto}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:31%;left:14%;width:70%;height:18%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:100%;height:50%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* tabmenu */
.event_wrap .tabmenu_wrap{padding:0 5.555556%;background:#f3ece2}
.tabmenu_wrap .tab_list{background:url(http://www.orga.co.kr/images/promo/202006/0616_best_orga/img/tab_bg.jpg) 0 0 repeat;font-size:0;text-align:center}
.tabmenu_wrap .tab_list li{display:inline-block;width:16.6666667%;height:72px;border-left:1px solid #f3ece2;box-sizing:border-box;-webkit-box-sizing:border-box}
.tabmenu_wrap .tab_list li:first-child{border:0}
.tabmenu_wrap .tab_list .tab{display:block;position:relative;width:100%;height:100%;font-size:12px;color:#fff;box-sizing:border-box;-webkit-box-sizing:border-box}
.tabmenu_wrap .tab_list .tab span{display:inline-block;vertical-align:middle;text-shadow:1px -1px 1px #888}
.tabmenu_wrap .tab_list .tab:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.tabmenu_wrap .tab_list .is_active{background:url(http://www.orga.co.kr/images/promo/202006/0616_best_orga/img/tab_bg_active.jpg) 0 0 repeat}
.tabmenu_wrap .tab_list .is_active:before{position:absolute;top:-22px;left:50%;width:32px;height:22px;margin-left:-16px;background:url(../img/ico_active.png) 0 0 no-repeat;background-size:100% auto;content:''}

.tabmenu_wrap .tabpanel{padding:9px 0 87px;background:#f3ece2}
.tabmenu_wrap .product_list a{display:block;position:relative;width:100%;height:100%}
.tabmenu_wrap .product_title{margin:12px 0 8px;font-size:14px;font-weight:600;color:#333;text-align:center}
.tabmenu_wrap .product_info{overflow:hidden;position:absolute;right:15%;left:15%;line-height:30px;text-align:right}
.tabmenu_wrap .product_img{display:block;width:100%;height:100%}
.tabmenu_wrap .percent{float:left;font-size:11px;color:#333}
.tabmenu_wrap .percent .num{font-size:18px;font-weight:600}
.tabmenu_wrap .original{font-size:14px;color:#707070}
.tabmenu_wrap .sale{font-size:19px;font-weight:600;color:#333}
.tabmenu_wrap .sale ins{text-decoration:none}
.tabmenu_wrap .btn_area{display:block;padding-top:42px}

/* link */
.event_wrap .btn_lnk1{left:0;bottom:0;width:100%;height:100%}
.event_wrap .btn_coupon{left:23%;bottom:23%;width:54%;height:44%}

/* notice */
.event_wrap .evt_notice{padding:49px 5.555556% 54px;background:#6f8043}
.event_wrap .notice_list li{position:relative;margin-top:7px;padding-left:6px;font-size:13px;font-weight:500;color:#e1e7d3;letter-spacing:-1px;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:0;width:2px;height:2px;background-color:#e1e7d3;content:''}
