@charset "utf-8";

/* .event_wrap{padding-top:14.44444vw} */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:33.333334%;height:58%}
.event_wrap .evt_nav_wrap li:first-child{display:block;width:100%;height:42%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .button_list{position:absolute;top:21.230769%;right:5.55555%;left:5.55555%;font-size:0}
.event_wrap .button_list li{position:relative;display:inline-block;width:49.0625%;padding-top:58.4375%;margin-left:1.5625%;text-align:center}
.event_wrap .button_list li:first-child{margin:0}
.event_wrap .btn_coupon{position:absolute;top:0;left:0;width:100%;height:78.877005%}
.event_wrap .brand_lnk{position:absolute;left:0;bottom:0;width:100%;height:21.122995%}

.event_wrap .cart_coupon .btn_coupon{height:100%}
.event_wrap .cart_coupon li{padding-top:46.09375%}

.event_wrap .brand_coupon1{top:71.23076923%}
.event_wrap .brand_coupon2{top:4.545454545%}
.event_wrap .brand_coupon2 li:last-child{position:relative;z-index:1;margin:17.2% 0 0 0}
.event_wrap .brand_coupon3{top:24.5454545%}
.event_wrap .brand_coupon3 li{margin:17.2% 0 0 0}
.event_wrap .brand_coupon3 li:first-child{margin-left:50.625%}
.event_wrap .brand_coupon3 li:last-child{margin-left:1.5625%}
.event_wrap .brand_coupon4{top:64.5454545%}
.event_wrap .brand_coupon4 li:last-child{margin:17.2% 0 0 0}

.event_wrap .btn_all_coupon{position:absolute;top:19.8%;left:16.5%;width:66.8%;height:33.77%;padding:0}

/* notice */
.event_wrap .p_evt_noti{background:#eff8e9}
.event_wrap .evt_notice{padding:44px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:29%;right:18%;left:18%;bottom:19%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{width:100%;height:19%}
.event_wrap .benefit_list li:first-child{height:44%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}
.event_wrap .benefit_list li.item1{width:100%;height:100%;padding:0}
