@charset "utf-8";
/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}


.event_wrap .button_list{position:absolute;top:196px;left:25.4280821%;width:49.1438356%;height:30.266%;font-size:0}
.event_wrap .button_list li{display:inline-block;width:45.8188153%;height:100%;margin-left:8.3623693%;text-align:center}
.event_wrap .button_list li:first-child{margin:0}
.event_wrap .btn_coupon{display:block;width:100%;height:82.491582492%}
.event_wrap .brand_lnk{display:block;width:100%;height:17.508417508%}

.event_wrap .cart_coupon .btn_coupon{height:100%}
.event_wrap .cart_coupon{height:25.4%}

.event_wrap .button_list2{position:absolute;left:12%;width:76%;height:26.5%;font-size:0}
.event_wrap .button_list2 li{display:inline-block;width:29.7%;height:100%;margin-left:5.45%;text-align:center}
.event_wrap .button_list2 li:first-child{margin:0}
.event_wrap .brand_coupon1{top:685px}
.event_wrap .brand_coupon2{top:78px}
.event_wrap .brand_coupon3{top:452px}
.event_wrap .brand_coupon4{top:826px}

.event_wrap .btn_all_coupon{position:absolute;top:74px;left:32.87%;width:34.32%;height:31%;padding:0}

/* sprite 
.event_wrap button{margin:0;padding:0;line-height:0;cursor:pointer}
.event_wrap .sp_button{overflow:hidden;display:inline-block;width:172px;height:48px;background:url(../img/pc_button.png) 0 0 no-repeat;font-size:1px;color:transparent;line-height:0} 
.event_wrap .all_download{width:400px;height:80px;background-position:0 -52px}
.event_wrap .btn_wrap{height:263px;padding-top:65px;background:url(../img/p_sec2_bg.jpg) 50% 0 no-repeat;text-align:center;box-sizing:border-box}
*/

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:50%;z-index:-1;min-width:1920px;width:100%;height:100%;background:#eff8e9;transform:translate(-50%,0);content:''}
.event_wrap .evt_notice{padding:110px 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:43%;right:10%;left:10%;bottom:27%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{display:inline-block;width:33.33334%;height:50%}
.event_wrap .benefit_list li:first-child{display:block;width:100%;padding-left:50%;box-sizing:border-box}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

.event_wrap .benefit_list li.item1{width:100%;height:100%;padding:0}
