@charset "utf-8";
/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .btn{position:absolute;border:0}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:4%;width:100%;height:16%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

.event_wrap .button_list{position:absolute;top:196px;left:25.4280821%;width:49.1438356%;height:30.266%;font-size:0}
.event_wrap .button_list li{display:inline-block;width:45.8188153%;height:100%;margin-left:8.3623693%;text-align:center}
.event_wrap .button_list li:first-child{margin:0}
.event_wrap .btn_coupon{display:block;width:100%;height:82.491582492%}
.event_wrap .brand_lnk{display:block;width:100%;height:17.508417508%}

.event_wrap .cart_coupon .btn_coupon{height:100%}
.event_wrap .cart_coupon{height:25.4%}

.event_wrap .button_list2{position:absolute;left:12%;width:76%;height:26.5%;font-size:0}
.event_wrap .button_list2 li{display:inline-block;width:29.7%;height:100%;margin-left:5.45%;text-align:center}
.event_wrap .button_list2 li:first-child{margin:0}
.event_wrap .brand_coupon1{top:685px}
.event_wrap .brand_coupon2{top:78px}
.event_wrap .brand_coupon3{top:452px}
.event_wrap .brand_coupon4{top:826px}

.event_wrap .btn_all_coupon{position:absolute;top:54%;left:32.87%;width:34.32%;height:46%;padding:0}

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:50%;z-index:-1;min-width:1920px;width:100%;height:100%;background:#eff8e9;transform:translate(-50%,0);content:''}
.event_wrap .evt_notice{background:#fff;padding:110px 0 0;box-sizing:border-box;border-bottom-right-radius:30px;border-bottom-left-radius:30px}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px 45px;border-top:1px solid rgba(3,51,51,.2);/*border-bottom:1px solid rgba(3,51,51,.2)*/}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:17%;right:0;left:0;bottom:18%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

