@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:75%;left:10%;right:10%;height:9%}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0620_pyongyang_naengmyeon/img/m_img_noti.jpg) 50% 0/100%}
.event_wrap .evt_notice{padding-top:0}

/* 이벤트 참여 방법 스크롤 */
.p_evt_sec1 .scroll_con{position:absolute;top:29vw;left:0;overflow-y:hidden}
.p_evt_sec1 .scroll_con img{width:160%;min-width:160%;z-index:1;}
.p_evt_sec1 .scroll_con{-ms-overflow-style:none;scrollbar-width:none}
.p_evt_sec1 .scroll_con::-webkit-scrollbar{display:none}

/* .p_evt_sec1 .scroll_tooltip{display:block;position:absolute;top:50%;left:50%;padding:3vw 5vw;background:rgba(0, 0, 0, .7);border-radius:100px;color:#fff;animation:toast-motion 0.8s infinite both;z-index:99;}
@keyframes toast-motion {
  0%, 100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    transform: translate(-40%, -50%);
    opacity: 1;
  }
} */

.p_evt_sec1 .scroll_con::after{content:'좌우로 스크롤 하세요';position:absolute;top:50%;left:50%;padding:3vw 5vw;background:rgba(0, 0, 0, .7);border-radius:100px;color:#fff;animation:toast-motion 2.8s 0s ease-in-out both}
@keyframes toast-motion {
  0%, 20%, 40%, 60%, 100% {
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    opacity: 1;
  }
  10%, 30%, 50% {
    -webkit-transform:translate(-40%, -50%);
    transform:translate(-40%, -50%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
