@charset "utf-8";

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#f4f4f4}
.event_wrap .p_evt_sec2{background:#efddce}
.event_wrap .p_evt_sec2 .evt_section:before{content:'';position:absolute;top:277px;left:-248px;width:556px;height:2971px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202204/0429_arga_anniversary/img/0429/evt_left_bg.png) 0 0 no-repeat;}
.event_wrap .p_evt_sec2 .evt_section:after{content:'';position:absolute;top:400px;left:1168px;width:216px;height:1688px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202204/0429_arga_anniversary/img/0429/evt_right_bg.png) 0 0 no-repeat;}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:120px;display:flex;justify-content:space-between}
.event_wrap .evt_nav_wrap li{position:relative;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:120px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0429_arga_anniversary/img/0429/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-292px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-584px 0}
.event_wrap .p_evt_nav li:nth-child(4).on:after{background-position:-876px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .item_btn{position:relative}
.event_wrap .btn_move{top:0;left:0;width:100%;height:100%}

/* benefit list */
.event_wrap .benefit_list{position:absolute;top:0;right:0;left:0;bottom:19%;border:0;padding:0;display:flex;flex-direction:column;justify-content: space-between;}
.event_wrap .benefit_list li{width:100%;height:46%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

.event_wrap .coupon_desc{text-align:left;margin:12px 0 0 456px}
.event_wrap .coupon_desc span{display:block;font-size:16px;color:#222;margin-top:12px}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .evt_notice{padding:80px 0 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* product */
.event_wrap .p_evt_sec2 .product_desc{padding:20px 0 110px;text-align:center;font-size:16px;color:#827972}
.event_wrap .product_list{display:flex;justify-content:center;flex-wrap:wrap;padding-bottom:60px;background:#fff}
.event_wrap .product_list li{width:320px;vertical-align:top;border-radius:12px;margin:0 15px;background:#f4f4f4}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0;text-align:center}

.event_wrap .product_img{display:block;}
.event_wrap .product_img img{margin:0 !important}
.event_wrap .product_info{display:block;min-height:160px;text-align:left;padding:30px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;min-height:68px;font-size:20px;font-weight:400;color:#222;line-height:30px;word-break:keep-all}
.event_wrap .percent{position:absolute;top:0;right:20px;width:60px;height:60px;line-height:60px;font-size:0;text-align:center;background:#87bf31}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:20px;;color:#fff}
.event_wrap .original{display:inline-block;margin:15px 16px 0 0;font-size:0}
.event_wrap .original del{display:inline-block;font-size:16px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .original .won{display:inline-block;font-size:16px;color:#999}
.event_wrap .sale{display:inline-block;margin-top:15px;font-size:0}
.event_wrap .sale ins{display:inline-block;font-size:30px;font-weight:600;color:#87bf31;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#87bf31}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;min-width:1168px;width:100%;height:61px;margin:0 auto;padding:0;background:#f4f4f4 url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0429_arga_anniversary/img/0429/p_btn_bg.jpg) 50% 0 no-repeat;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{position:absolute;top:0;left:50%;transform:translateX(168px);width:385px;height:61px;padding:0;font-size:0;border-radius:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0429_arga_anniversary/img/0429/p_img_btn.jpg) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
