@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom, .tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}
/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0201_pick_member/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* product */
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#eaff00}

.event_wrap .product_area{position:absolute;top:77.7778vw;left:4.4444vw;width:94%;display:flex}
.event_wrap .product_area li{width:50%}
.event_wrap .product_area a{display:block;font-weight:600;color:#fff;letter-spacing:-.5px}
.event_wrap .product_area .name{font-size:3.8889vw}
.event_wrap .product_area .price_area{display:flex;align-items:center;font-size:5vw;margin-top:1vw}
.event_wrap .product_area .discount{color:#eaff00;margin-right:8px}
.event_wrap .product_area .more{display:inline-block;padding:1vw 4.2vw;margin-top:3vw;font-size:3.3333vw;color:#fff;border:0.2778vw solid #fff}

.event_wrap .p_evt_sec1 .info_desc{padding-bottom:0;margin-top:-3vw}
.event_wrap .p_evt_sec1 .info_desc span{font-size:3.3333vw;color:#004d1b;font-weight:800}

/* page */
.event_wrap .p_evt_sec1{background:#009333}
.event_wrap .noti1,.event_wrap .noti3{background:#009333}
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:31.9444vw;left:0;right:0}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{padding:0 4.44444vw 4vw !important;background:#f9f9f9 !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:98% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:26.3888vw !important;height:26.3888vw !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#009333}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#009333 !important;color:#fff !important;line-height:4.66667vw !important}
