@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* coupon */
.event_wrap .p_evt_sec2 .coupon_list{position:absolute;top:153px;left:0;right:0}
.event_wrap .p_evt_sec3 .coupon_list{position:absolute;top:236px;left:0;right:0}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:45px}

/* product */
.event_wrap .p_evt_sec1{background:#009333}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#eaff00}

.event_wrap .product_area{position:absolute;top:398px;left:0;display:flex;flex-direction:column}
.event_wrap .product_area a{display:block;font-weight:600;color:#333;letter-spacing:-.5px}
.event_wrap .product_area .name{font-size:20px}
.event_wrap .product_area .price_area{display:flex;align-items:center;font-size:24px;margin-top:2px}
.event_wrap .product_area .discount{color:#f65333;margin-right:8px}
.event_wrap .product_area .more{display:inline-block;padding:4px 15px;margin-top:10px;font-size:18px;color:#222;border:2px solid #000}

.event_wrap .product_area li:nth-child(2){margin-top:30px}
.event_wrap .product_area li:nth-child(1) .discount{top:-23px;left:550px}
.event_wrap .product_area li:nth-child(2) .discount{top:60px;left:726px}

.event_wrap .p_evt_sec1 .info_desc span{font-size:20px;color:#004d1b;font-weight:800}

/* notice */
.event_wrap .noti1{background:#009333}
.event_wrap .p_evt_noti  .evt_notice{padding:40px 40px 100px}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:0}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step, .tablet .fb__event .event__stamp .stamp__step{position:relative;background-color:#f9f9f9;background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3, .tablet .fb__event .event__stamp .stamp__step ul.col3{width:1000px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li, .tablet .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area, .tablet .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before, .tablet .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply__desc em, .tablet .fb__event .event__stamp .stamp__apply__desc em{color:#009333}
.desktop .fb__event .event__stamp .stamp__apply--purchase, .tablet .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#009333 !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

.desktop .fb__event .event__stamp .stamp__step::after{content:'';position:absolute;top:47px;left:50%;transform:translateX(-50%);width:255px;height:249px;margin-left:480px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0201_pick_member/img/object.png) no-repeat;z-index:2} /* 스탬프 템플릿 오브젝트 추가 */
