@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.templete_wrap{background:#fff;transition:.5s}
/* .templete_wrap.bgcolor{max-width:2200px;margin:0 -590px auto;background:#7174a3;transition:1s} */
/* .templete_wrap.bgcolor:before{position:absolute;top:0;left:-540px;width:590px;height:100%;background:#7174a3;transition:1s 2s;content:''} */
/* .templete_wrap.bgcolor:after{position:absolute;top:0;right:-550px;width:590px;height:100%;background:#7174a3;transition:1s 2s;content:''} */

.event_wrap .btn{position:absolute;left:11.7%;width:74%;height:13.7%;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk1{top:6.3%}
.event_wrap .btn_lnk2{top:24.8%}
.event_wrap .btn_lnk3{top:43.4%}
.event_wrap .btn_lnk4{top:62%}
.event_wrap .btn_lnk5{top:80.5%}

/* mobile */
.event_wrap.mevt .event_wrap,.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}

.event_wrap.mevt .btn{left:11.7%;width:74%;height:15.9%}
.event_wrap.mevt .btn_lnk1{top:0}
.event_wrap.mevt .btn_lnk2{top:19.6%}
.event_wrap.mevt .btn_lnk3{top:39.2%;height:16.8%}
.event_wrap.mevt .btn_lnk4{top:59.7%}
.event_wrap.mevt .btn_lnk5{top:79.2%;height:16.9%}