@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.5833vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_dental_gum/img/m_evt_nav_on.jpg);background-size:200% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:100%}

/* page */
.event_wrap .p_evt_sec2{min-height:58.4722vw}
.event_wrap .p_evt_sec3 .coupon_list{margin-top:5.5556vw}

/* 모션 */
.event_wrap .flow_box{position:absolute;top:0;left:0;width:100%;height:58.4722vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0715_dental_gum/img/p_evt_sec2.jpg) 0 center / auto 58.4722vw repeat-x;animation:move 8s linear infinite}
.event_wrap .object{position:absolute;z-index:1;top:-4.4444vw;left:5.5556vw;width:55.4167vw;height:12.3611vw}
.event_wrap .object img{margin:0 !important}
@keyframes move {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -266.6667vw center;
  }
}
