@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_tit_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_tit_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec1_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec1_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec2_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec2_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec3_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec3_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec4_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec4:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec4_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec5:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec5_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec5:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec5_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec6:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec6_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec6:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/bg_sec6_r.jpg) 0 0 no-repeat}


/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:16%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* recipe */
.event_wrap .p_evt_sec5{height:890px}
.event_wrap .recipe_step_slide{position:absolute;top:150px;left:40px;width:941px;height:740px;padding-bottom:0}
.event_wrap .recipe_step_slide .swiper-container{overflow:hidden;width:100%;height:100%;}
.event_wrap .recipe_step_slide .swiper-slide{width:100%;height:100%;float:left}
.event_wrap .recipe_step_slide .controls [class^="btn_"]{position:absolute;display:inline-block;top:50%;width:70px;height:70px;transform:translate(0,-50%)} 
.event_wrap .recipe_step_slide .controls .btn_prev{left:-32px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/p_btn_prev.png) 0 0 no-repeat}
.event_wrap .recipe_step_slide .controls .btn_next{right:-32px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/p_btn_next.png) 0 0 no-repeat}
.event_wrap .recipe_step_slide .controls .hide{display:none}
.event_wrap .recipe_step_slide .controls .pagination{position:absolute;left:0;bottom:70px;width:100%;height:12px;margin:0;text-align:center}
.event_wrap .recipe_step_slide .controls .pagination .swiper-pagination-switch{display:inline-block;width:12px;height:12px;margin:0 12px;background-color:#e1e1e1;border-radius:100%;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:middle;cursor:pointer}
.event_wrap .recipe_step_slide .controls .pagination .swiper-active-switch{background-color:#313131}


/* slide */
.event_wrap .order_step_slide{position:absolute;top:210px;right:115px;left:115px;bottom:204px}
.event_wrap .order_step_slide .swiper-container{overflow:hidden}
.event_wrap .order_step_slide .swiper-wrapper{overflow:hidden;font-size:0;white-space:nowrap}
.event_wrap .order_step_slide .swiper-slide{display:inline-block;width:100%;height:100%;}
.event_wrap .order_step_slide .swiper-slide img{display:block;width:100%;height:auto}
.event_wrap .order_step_slide .controls .btn{position:absolute;display:inline-block;top:50%;width:70px;height:70px;transform:translate(0,-50%)} 
.event_wrap .order_step_slide .controls .btn_prev2{left:-102px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/p_btn_prev.png) 0 0 no-repeat}
.event_wrap .order_step_slide .controls .btn_next2{right:-102px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/p_btn_next.png) 0 0 no-repeat}

/* lnk */
.event_wrap .btn_lnk1{left:11%;bottom:0;width:36%;height:10%}
.event_wrap .btn_lnk2{right:11%;bottom:0;width:36%;height:10%}
.event_wrap .btn_lnk3{top:28%;left:11%;width:78%;height:26%}
.event_wrap .btn_lnk4{right:11%;bottom:19%;width:78%;height:26%}
.event_wrap .btn_lnk5{left:26%;bottom:9%;width:48%;height:11%}
