@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:12.5%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:50%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* slide */
.event_wrap .recipe_step_slide{position:absolute;top:17.8236397%;right:11.944444444%;left:11.944444444%;bottom:0;z-index:100}
.event_wrap .recipe_step_slide [class^="swiper-button-"]{width:48px;height:48px;top:50%;margin-top:0;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)} 
.event_wrap .recipe_step_slide .swiper-button-prev{left:-24px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/btn_prev.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .recipe_step_slide .swiper-button-next{right:-24px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/btn_next.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .recipe_step_slide .swiper-button-prev.swiper-button-disabled,
.event_wrap .recipe_step_slide .swiper-button-next.swiper-button-disabled {opacity:1}
.event_wrap .recipe_step_slide .swiper-pagination-bullets{position:absolute;bottom:27px;left:0;width:100%;height:7px;z-index:10}
.event_wrap .recipe_step_slide .swiper-pagination-bullet{display:inline-block;width:7px;height:7px;margin:0 6px;border-radius:100%;background-color:#e1e1e1;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top}
.event_wrap .recipe_step_slide .swiper-pagination-bullet-active{width:8px;height:8px;background-color:#313131;opacity:1;margin-top:0}


/* slide */
.event_wrap .order_step_slide{position:absolute;top:33.8061465%;right:11.944444444%;left:11.944444444%;bottom:18.91252955%;z-index:100;text-align:center}
.event_wrap .order_step_slide .swiper-btn{position:absolute;width:48px;height:48px;top:50%;z-index:10;margin-top:0;-webkit-transform:translate(0,-50%);transform:translate(0,-50%)} 
.event_wrap .order_step_slide .swiper-button-prev2{left:-24px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/btn_prev.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .order_step_slide .swiper-button-next2{right:-24px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202009/0916_summer_vacation/img/btn_next.png) 0 0 no-repeat;background-size:100% auto}
.event_wrap .order_step_slide .swiper-button-prev2.swiper-button-disabled,
.event_wrap .order_step_slide .swiper-button-next2.swiper-button-disabled {opacity:1}
.event_wrap .order_step_slide .swiper-pagination-bullets{position:absolute;bottom:-35px;left:0;width:100%;height:7px;z-index:10}
.event_wrap .order_step_slide .swiper-pagination-bullet{display:inline-block;width:7px;height:7px;margin:0 6px;border-radius:100%;background-color:#83b6e1;box-sizing:border-box;-webkit-box-sizing:border-box;vertical-align:top}
.event_wrap .order_step_slide .swiper-pagination-bullet-active{width:8px;height:8px;background-color:#313131;opacity:1;margin-top:0}

/* lnk */
.event_wrap .btn_lnk1{left:5.5%;bottom:0;width:42%;height:9%}
.event_wrap .btn_lnk2{right:5.5%;bottom:0;width:42%;height:9%}
.event_wrap .btn_lnk3{top:28%;left:5.5%;width:89%;height:28%}
.event_wrap .btn_lnk4{top:58%;left:5.5%;width:89%;height:28%}
.event_wrap .btn_lnk5{left:12%;bottom:9%;width:76%;height:10%}
