@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

@keyframes cloud_ani{0%{opacity:1;transform:translateX()}100%{opacity:.6;transform:translateX(10px)}}
@-webkit-keyframes cloud_ani{0%{opacity:1;-webkit-transform:translateX()}100%{opacity:.6;-webkit-transform:translateX(10px)}}
@keyframes cloud_ani2{0%{opacity:.7;transform:translateX(-20px)}100%{opacity:1;transform:translateX(8px)}}
@-webkit-keyframes cloud_ani2{0%{opacity:.7;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(8px)}}

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .evt_wide_wrap{position:relative;width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_sec1_bg_r.jpg) 0 0 no-repeat}

.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background-color:#fbfbfb}
.event_wrap .p_evt_noti2,.event_wrap .p_evt_noti2:before,.event_wrap .p_evt_noti2:after{background-color:#fbfbfb}

.event_wrap .p_evt_next:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_sec2_bg_l.jpg) 0 bottom no-repeat}
.event_wrap .p_evt_next:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_sec2_bg_r.jpg) 0 bottom no-repeat}

/* .event_wrap .p_evt_sec2 .img_expect:after{position:absolute;right:-450px;bottom:0;z-index:1;width:450px;height:30px;background:#fbfbfb;content:''} */

.event_wrap .p_evt_sec3:before{background-color:#65c3cd}
.event_wrap .p_evt_sec3:after{background-color:#65c3cd}

.event_wrap .p_evt_noti,.event_wrap .p_evt_noti:before,.event_wrap .p_evt_noti:after{background-color:#44a6b0}

.event_wrap .cloud_ani{position:absolute;top:95px;left:10px;z-index:1;animation:cloud_ani 2s linear infinite alternate}
.event_wrap .cloud_ani2{position:absolute;top:145px;left:0;z-index:1;animation:cloud_ani2 3s linear infinite alternate}

.event_wrap .move_wrap{position:absolute;top:87px;left:327px;width:174px;height:262px}
.event_wrap .move_wrap span{position:absolute;top:0;right:0;left:0;bottom:0}
.event_wrap .imgand{position:absolute;left:327px;bottom:88px}

.evt_stamp_wrap{position:absolute;right:87px;left:89px;bottom:142px;height:154px}
.evt_stamp_wrap .stamp_list{font-size:0}
.evt_stamp_wrap .stamp_list li{display:inline-block;width:155px;height:154px;margin-left:75px}
.evt_stamp_wrap .stamp_list li:last-child{margin-left:74px}
.evt_stamp_wrap .stamp_list li.active{width:155px;height:154px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202007/0708_dog_days/img/p_sp_stamp.png) 0 0 no-repeat}
.evt_stamp_wrap .stamp_list li:last-child.active{background-position:100% 0}
.evt_stamp_wrap .stamp_list li:first-child{margin:0}

/* link */
.event_wrap .btn_stamp{top:155px;right:0;width:44%;height:17%;margin:0;padding:0}
.event_wrap .btn_enroll{top:60%;right:0;width:40%;height:20%;margin:0;padding:0}

/* notice */
.event_wrap .evt_notice{padding:50px 0}
.event_wrap .notice_list li{position:relative;margin-top:3px;padding-left:13px;font-size:16px;font-weight:300;color:#fff;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li em{font-weight:600}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:0;width:3px;height:3px;background-color:#fff;content:''}

/* notice2 */
.event_wrap .p_evt_noti2 .evt_notice{padding-bottom:120px}
.event_wrap .p_evt_noti2 .notice_list li{position:relative;margin-top:3px;padding-left:13px;font-size:16px;font-weight:300;color:#333;word-break:keep-all}
.event_wrap .p_evt_noti2 .notice_list li:first-child{margin:0}
.event_wrap .p_evt_noti2 .notice_list li em{font-weight:600}
.event_wrap .p_evt_noti2 .notice_list li:before{position:absolute;top:11px;left:0;width:3px;height:3px;background-color:#333;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:auto;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:1100}
.layer_popup_wrap  .layer_popup_content{border:0}
.layer_popup_wrap  .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{margin:0;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{width:100%;height:65px;font-size:24px;color:#fff;border:1px solid #333;background:#333}



