@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#f1f6db}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:23.6111vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0908_amio_brand/img/evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:90.5%;left:10.5%;right:10.5%;height:3.7%}
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* product */
.event_wrap .product_list{margin:0 9.7222vw;padding-bottom:11.1111vw}
.event_wrap .product_list li{margin-bottom:5.5555vw;border-radius:1.1111vw;background:#fff}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{width:100%}
.event_wrap .product_img img{display:block;width:100%;margin:0 !important}
.event_wrap .product_info{display:block;position:relative;min-height:52.7777vw;padding-left:8.3333vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:5vw;font-weight:400;color:#111;line-height:6.2vw;letter-spacing:-1.5px;padding:7.6388vw 0 10vw}
.event_wrap .product_title:after{content:'';position:absolute;top:25vw;left:8.3333vw;width:8.3333vw;height:1.1111vw;background:#72be2d}
.event_wrap .product_desc{display:block;font-size:3.3333vw;font-weight:400;color:#999;line-height:5vw;letter-spacing:-1px}
.event_wrap .product_tag{position:absolute;top:66.6666vw;right:5.5555vw;height:11.25vw;display:flex;gap:5px}
.event_wrap .product_tag .tag_dog{width:11.1111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0908_amio_brand/img/item/tag_dog.png) no-repeat 100%/100%}
.event_wrap .product_tag .tag_cat{width:11.1111vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0908_amio_brand/img/item/tag_cat.png) no-repeat 100%/100%}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
