@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#f1f6db}
.event_wrap #event1{background:#f1f6db}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:40px;right:40px;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:33.3334%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:50}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:2}
.event_wrap .p_evt_nav{padding-top:155px;z-index:2}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0908_amio_brand/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:-362px 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:-725px 0}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:84.7%;left:17%;right:17%;height:103px}
.event_wrap .btn_banner{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%} /* 띠배너 */

/* product */
.event_wrap .product_list{margin:0 40px;padding-bottom:40px}
.event_wrap .product_list li{margin-bottom:20px;border-radius:8px;background:#fff}
.event_wrap .product_list .inner{position:relative;display:flex}

.event_wrap .product_img{width:580px;height:400px;background:#fff}
.event_wrap .product_img img{display:block;width:100%;margin:0 !important}
.event_wrap .product_info{display:block;position:relative;width:45%;padding-left:40px;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:36px;font-weight:400;color:#111;line-height:46px;letter-spacing:-1.5px;padding:53px 0 78px}
.event_wrap .product_title:after{content:'';position:absolute;top:182px;left:40px;width:60px;height:8px;background:#72be2d}
.event_wrap .product_desc{display:block;font-size:24px;font-weight:400;color:#999;line-height:34px;letter-spacing:-1px}
.event_wrap .product_tag{position:absolute;top:60px;right:40px;height:100px;display:flex;gap:10px}
.event_wrap .product_tag .tag_dog{width:80px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0908_amio_brand/img/item/tag_dog.png) no-repeat}
.event_wrap .product_tag .tag_cat{width:80px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202309/0908_amio_brand/img/item/tag_cat.png) no-repeat}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}
