@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* item_list */
.event_wrap .item_list{position:absolute;top:38vw;left:11vw;right:11vw;height:62.5vw}
.event_wrap .item_list li{position:relative;width:100%;height:100%;margin-bottom:6vw}
.event_wrap .item_list li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:33.8888vw;left:0;right:0}
.event_wrap .info_desc span{color:#fff}

/* notice */
.event_wrap .p_evt_noti .evt_notice{background:#f5f5f5}
