@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* item_list */
.event_wrap .item_list{position:absolute;top:236px;left:158px;right:158px;height:50%;display:flex}
.event_wrap .item_list li{position:relative;width:100%;height:100%}
.event_wrap .item_list li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:72px;right:215px}
.event_wrap .coupon_item_info .info_type{letter-spacing:-1.5px}
.event_wrap .info_desc{position:absolute;top:242px;left:218px}
.event_wrap .info_desc span{color:#fff;text-align:left}

/* notice */
.event_wrap .p_evt_noti .evt_notice{background:#dfdddd;padding:40px 158px}
