@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0902_amio_ppl/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* button */
.event_wrap .btn{position:absolute;z-index:1;width:80%;height:31%;left:10%;right:10%;}
.event_wrap .btn_lnk1{top:31.8%}
.event_wrap .btn_lnk2{top:64.5%}

/* video */
.video_wrap{position:absolute;z-index:1;top:29.1667vw;left:50%;right:auto;width:76.3889vw;height:135.8333vw;transform:translateX(-50%);}
.video_wrap iframe{width:100%;height:100%;}

/* page */
.event_wrap .p_evt_sec1 .obj{position:absolute;z-index:2;}
.event_wrap .p_evt_sec1 .obj1{top:20.2778vw;left:2.6389vw;width:48.0556vw;height:15.2778vw}
.event_wrap .p_evt_sec1 .obj2{top:15.4167vw;right:3.0556vw;width:51.3889vw;height:20.8333vw}
.event_wrap .p_evt_sec1 .obj5{bottom:-6.6667vw;right:0;width:41.9444vw;height:62.9167vw}

