@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;z-index:5;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5}
.event_wrap .p_evt_nav{padding-top:80px;z-index:5}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0902_amio_ppl/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:50%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* button */
.event_wrap .btn{position:absolute;z-index:1;top:41.8%;width:49%;height:46.5%;}
.event_wrap .btn_lnk1{left:0.4%;}
.event_wrap .btn_lnk2{right:0;}

/* video */
.video_wrap{position:absolute;z-index:1;top:175px;left:50%;right:auto;width:431px;height:766px;transform:translateX(-50%);}
.video_wrap iframe{width:100%;height:100%;}

/* page */
.event_wrap .p_evt_sec1 .obj{position:absolute;z-index:2;}
.event_wrap .p_evt_sec1 .obj1{top:116px;left:669px}
.event_wrap .p_evt_sec1 .obj2{z-index:3;top:84px;left:938px}
.event_wrap .p_evt_sec1 .obj3{top:auto;right:25px;bottom:288px;left:auto}
.event_wrap .p_evt_sec1 .obj4{top:auto;right:19px;bottom:188px;left:auto}
