@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

.lohas__wrapper{position:relative;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;}
.lohas__wrapper .lohas-section{position:relative;width:100%;margin:0 auto}
.lohas__wrapper .lohas-section img{width:100%;vertical-align:top}
.lohas__wrapper .lohas-inner{position:absolute;top:50%;left:50%;width:88.889vw;padding-left:7.500vw;font-size:5vw;color:#fff;transform:translate(-50%, -50%);box-sizing:border-box}
.lohas__wrapper .hashtag{display:block;font-weight:300;font-size:3.611111vw;line-height:5.555555vw}
.lohas__wrapper .point{display:block;margin:3.4722222vw 0 0 -0.694444vw;font-weight:300;font-size:16.666666vw}
.lohas__wrapper .title{display:block;margin-top:10.6944444vw;font-size:6.944444vw;font-weight:300;letter-spacing:-0.277777vw}
.lohas__wrapper .title .point{margin:1.388888vw 0 0 -0.694444vw;font-weight:700;letter-spacing:-0.833333vw}
.lohas__wrapper .description{margin:0;font-size:5.277777vw;font-weight:300;color:#bbbcbd;letter-spacing:-0.555555vw;line-height:6.944444vw}
.lohas__wrapper .text{margin-top:3.611111vw;font-weight:300;font-size:3.6111111vw;line-height:5.555555vw;word-break:keep-all}

.lohas__wrapper .add-text{position:relative;margin-top:45.6944444vw;padding-left:7.22222vw}
.lohas__wrapper .add-text:before{position:absolute;top:50%;left:0;width:6.25vw;height:0.2777777vw;background:#333;content:""}

.lohas__wrapper .lohas-box{margin-top:56.25vw}
.lohas__wrapper .lohas-box:first-child{margin-top:-45.555555vw}
.lohas__wrapper .lohas-box .text{margin-top:2.2222222vw}

/* style line modify */
.lohas-section1:after{position:absolute;left:50%;bottom:0;z-index:1;width:1.388888vw;height:45.8333333vw;background:#fff;transform:translate(-50%,12.361111vw);content:''}
.lohas-section1 .lohas-inner{margin-top:-0.83333vw;padding-bottom:30.5555555vw}

.lohas-section5 .lohas-inner .title{margin-top:18.88888vw}
.lohas-section5 .title .point{margin-left:-2vw;letter-spacing:-.9vw}

.lohas-section5 .lohas-inner,
.lohas-section6 .lohas-inner{padding-left:0;color:#333}

.lohas-section5 .description,
.lohas-section6 .description,
.lohas-section7 .description{font-weight:700;color:#333}

.lohas-section7 .lohas-inner{padding:0;color:#333}
.lohas-section7 .lohas-inner .description{margin-top:59.166666vw}
.lohas-section7 .lohas-inner .text{margin-top:1.66666vw}

.lohas-section8{height:37.5vw;background-color:#79ca20;text-align:center}
.lohas-section8:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;background-color:#79ca20;transform:translate(-50%,0);content:''}
.lohas-section8 .lohas-inner{width:100%;padding:0 5.5555vw}
.lohas-section8 .lohas-logo{display:block;width:118px;margin:0 auto;line-height:4.305555vw}
.lohas-section8 .text{margin-top:3.05555555vw}
