@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section, .event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none !important;margin:0 -360px auto !important;vertical-align:top}
.event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* nav */
.event_wrap .evt_nav_wrap{position:relative;z-index:2;display:flex}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;padding:16px 0;font-size:22px;line-height:1;font-weight:200;color:#979797;text-align:center;box-sizing:border-box}
.event_wrap .evt_nav_wrap li.on a{color:#fff;font-weight:800}

.event_wrap .p_evt_nav .evt_section{position:absolute;z-index:0}

.event_wrap .p_evt_nav.is_fixed{position:relative;padding-top:52px}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5;top:0;left:0;right:0}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;z-index:1;top:0;left:-360px;right:-360px;height:100%;background-color:#000}

/* button */
.event_wrap .btn_lnk1{top:91%;left:28%;right:28%;height:10%}
.event_wrap .btn_lnk2{top:67%;left:8.5%;width:16.5%;height:17%}

/* 배지 */
.event_wrap .badge_box{position:absolute;top:442px;left:215px;display:flex;flex-wrap:wrap;justify-content:center}
.event_wrap .badge_box > div{width:180px;margin:0 auto}
.event_wrap .badge_box::after{content:'1회';position:absolute;bottom:25px;left:50%;transform:translateX(-50%);width:64px;height:25px;background:#fff;border:2px solid #d7d7d7;border-radius:100px;font-size:18px;font-weight:600;line-height:25px;text-align:center;z-index:2}
