@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Rubik:wght@500&display=swap');

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:50}

.event_wrap .p_evt_nav li.on::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_fulstmas_member/img/m_evt_nav_on.jpg);background-size:200% auto}
.event_wrap .p_evt_nav li:nth-child(2).on::after{background-position-x:100%}

/* button */
.event_wrap .btn_move{top:0;left:16%;right:16%;height:50%}

/* page */
.event_wrap .coupon_list{position:absolute;top:52.6389vw;left:0;right:0}
.event_wrap .product_item{position:absolute;top:58.8889vw;left:0;right:0}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .p_evt_sec1 .info_desc{padding:4.7222vw 0 0}
.event_wrap .p_evt_sec2 .info_desc{position:absolute;top:47.5vw;left:0;right:0}
.event_wrap .info_desc span{color:#fff;font-size:3.3333vw}

/* notice */
.event_wrap .p_evt_noti.noti1{background:#d0ad50 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_fulstmas_member/img/m_img_noti.jpg) 50% 100% no-repeat;background-size:100% auto}
.event_wrap .p_evt_noti.noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_fulstmas_member/img/m_img_noti2.jpg) 50% 0 no-repeat;background-size:100% auto}
.event_wrap .p_evt_noti.noti2 .evt_notice{padding:0 5.5555vw 10vw}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0;z-index:10}
.motion_box img{width:100%;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

/* count */
.event_wrap .dday_count{display:flex;justify-content:space-between;position:absolute;top:58vw;left:5.6vw;right:5.6vw;text-align:center;font-family:'Rubik', sans-serif;color:#000;font-size:10vw;z-index:10}
.event_wrap .dday_count > span{display:block;width:19.4444vw}
.event_wrap .dday_count #seconds{color:#b32a2a}

/* 로띠 motion */
.event_wrap .evt_lottie1{position:absolute;width:250vw;height:160vw;top:0vw;left:-10vw;right:0;z-index:-1}
.event_wrap .evt_lottie3{position:absolute;width:300vw;height:180vw;top:-20vw;right:-10vw;right:0;z-index:-1}

.event_wrap .p_evt_sec3{background:#282d36;height:92.7777vw;overflow:hidden}
.event_wrap .p_evt_sec3 h2{position:absolute;z-index:1}
.event_wrap .p_evt_sec3 .evt_lottie2{position:absolute;width:160vw;height:100vw;top:-10vw;left:-5vw;right:0;z-index:0}

/* template */
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{background:#d0ad50 !important;text-align:center;padding:0 22vw !important}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:55.5556vw;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_fulstmas_member/img/m_evt_btn.jpg) center center no-repeat;background-size:100%;border-radius:0 !important}
