@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap img{vertical-align:top}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box}

/* notice */
.event_wrap .evt_notice{padding:54px 98px;background:#eee}
.event_wrap .notice_list li{position:relative;margin-top:3px;padding-left:12px;color:#1c1c1c;font-size:18px;font-weight:400;line-height:1.8;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:2px;height:2px;background-color:#1c1c1c;content:''}

/* lnk */
.event_wrap .btn_link{top:83%;left:28%;width:44%;height:11%}

/* mobile */
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .evt_notice{padding:25px 5.5555%}
.event_wrap.mevt .notice_list li{padding-left:7px;font-size:12px}
.event_wrap.mevt .notice_list li:before{top:9px}
.event_wrap .btn_link{top:85%;left:20%;width:60%;height:9%}
