@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;;box-sizing:border-box}

.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec5{background:#f5f5f5}
.event_wrap .p_evt_sec4{background:#e53a77}
.event_wrap .p_evt_sec5{padding:75px 0}

.event_wrap .apply_wrap{position:absolute;top:76.8506056%;right:11.11111%;left:11.11111%}
.event_wrap .input_check_wrap{display:block;position:relative;font-size:0;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;width:20px;height:20px;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:100%;font-size:12px;color:#fff;font-weight:300;vertical-align:middle;cursor:pointer;}
.event_wrap .input_check+label:before{display:inline-block;width:20px;height:20px;margin:0 4px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/sp_chk.png) -13px 0 no-repeat;background-size:33px auto;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:-13px -22px}

/* more button */
.event_wrap .btn_apply{position:absolute;left:11.11111%;bottom:10.0942126%;width:77.7777778%;height:8.0753701%;padding:0;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk{position:absolute;border:0;left:0;bottom:0;width:100%;height:16.4%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{padding:44px 5.972222% 41px;background:#ececec}
.event_wrap .notice_title{display:block;position:relative;padding-left:16px;font-size:14px;font-weight:600;color:#333;line-height:15px}
.event_wrap .notice_title:before{position:absolute;top:0;left:1px;width:14px;height:14px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/ico_notice.png) 0 0 no-repeat;background-size:14px auto;content:''}
.event_wrap .notice_list{margin-top:9px}
.event_wrap .notice_list li{position:relative;padding-left:7px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}

/* qna */
.event_wrap .qna_wrap{padding:0 5.555556%}
.event_wrap .qna{border-bottom:1px solid #bababa}
.event_wrap .qna_title{display:block;position:relative;padding-left:19px;border-top:2px solid #000;border-bottom:1px solid #bababa;font-size:17px;font-weight:600;color:#333;line-height:44px}
.event_wrap .sp{position:absolute;left:2px;width:15px;height:15px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/sp_qna.png) 0 0 no-repeat;background-size:100% auto;font-size:1px;color:transparent}
.event_wrap .sp.ico_question{top:15px}
.event_wrap .sp.ico_answer{top:24px;background-position:0 100%}
.event_wrap .qna_text{position:relative;padding:21px 10px 23px 20px;font-size:14px;font-weight:300;color:#333;line-height:20px;word-break:keep-all}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:88.8888888%;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0 7.8125%}
.layer_popup_wrap .layer_popup_content{padding:42px 0 45px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:22px;font-weight:600;color:#333;line-height:1.5;letter-spacing:-.5px}
.layer_popup_wrap .lypop_notice{margin-top:11px;font-size:14px;color:#333;line-height:20px;word-break:keep-all}
.layer_popup_wrap .btn_area{margin:19px -3px 0;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:47.413793%;height:42px;margin:0 3px;padding:0;border:0;background:#39ad30;font-size:14px;font-weight:600;color:#fff;letter-spacing:-1px;vertical-align:middle;line-height:42px;border-radius:27px}
.layer_popup_wrap .btn_area .btn_close{background:#666}
