@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button,.event_wrap input,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}
.event_wrap input[type="number"]::-webkit-outer-spin-button,
.event_wrap input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1,.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#f5f5f5}
.event_wrap .p_evt_sec2:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#f5f5f5}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#e53a77}
.event_wrap .p_evt_sec5,.event_wrap .p_evt_sec5:before,.event_wrap .p_evt_sec5:after{background:#f5f5f5}
.event_wrap .p_evt_sec5{padding:120px 0}

.event_wrap .apply_wrap{position:absolute;top:820px;right:275px;left:275px}
.event_wrap .input_check_wrap{display:block;position:relative;height:30px;font-size:0;text-align:center}
.event_wrap .input_check{position:absolute;top:2px;left:2px;width:22px;height:22px;background:#fff;opacity:0}
.event_wrap .input_check+label{display:inline-block;position:relative;height:100%;font-size:20px;color:#fff;font-weight:300;vertical-align:middle;cursor:pointer;}
/* .event_wrap .input_check:focus+label{outline:solid 1px;outline:-webkit-focus-ring-color auto 5px;} */
.event_wrap .input_check+label:before{display:inline-block;width:22px;height:22px;margin:5px 5px 0 0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/sp_chk.png) 0 0 no-repeat;vertical-align:top;content:''}
.event_wrap .input_check:checked+label:before{background-position:0 -26px}

/* more button */
.event_wrap .btn_apply{position:absolute;left:27%;bottom:11%;width:46%;height:9.2%;padding:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_lnk{position:absolute;top:42.5%;right:3.8%;width:28%;height:15%;border:0;background:url(about:blank) 0 0 no-repeat}

.event_wrap .p_evt_sec4 .apply_wrap{top:577px}
.event_wrap .p_evt_sec4 .btn_apply{bottom:14.2%;height:11.8%}

/* notice */
.event_wrap .evt_notice{padding:33px 36px 33px;background:#ececec}
.event_wrap .notice_title{display:block;position:relative;padding-left:32px;font-size:22px;font-weight:600;color:#333;line-height:31px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:4px;width:24px;height:24px;margin-top:-10px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/ico_notice.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{margin-top:6px}
.event_wrap .notice_list li{position:relative;padding-left:13px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:4px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#333;border-radius:50%;content:''}

/* qna */
.event_wrap .qna{border-bottom:1px solid #bababa}
.event_wrap .qna_title{display:block;position:relative;padding-left:24px;border-top:4px solid #000;border-bottom:1px solid #bababa;font-size:20px;font-weight:600;color:#333;line-height:52px}
.event_wrap .sp{position:absolute;left:3px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202104/0419_woman_code/img/sp_qna.png) 0 0 no-repeat;font-size:1px;color:transparent}
.event_wrap .sp.ico_question{top:18px;width:16px;height:18px;background-size:100% auto}
.event_wrap .sp.ico_answer{top:39px;width:20px;height:20px;background-size:20px auto;background-position:0 100%}
.event_wrap .qna_text{position:relative;padding:34px 0 36px 23px;font-size:20px;font-weight:300;color:#333;line-height:30px;word-break:keep-all}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:640px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:52px 72px 60px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:24px;font-weight:600;color:#333;line-height:1.5;letter-spacing:-.5px}
.layer_popup_wrap .lypop_notice{margin-top:16px;font-size:18px;color:#333;letter-spacing:-1px;line-height:30px;word-break:keep-all}
.layer_popup_wrap .btn_area{margin-top:24px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn{display:inline-block;width:160px;height:48px;margin:0 3px;padding:0;background:#39ad30;font-size:18px;font-weight:600;color:#fff;letter-spacing:-1px;vertical-align:top;line-height:46px;border-radius:26px}
.layer_popup_wrap .btn_area .btn_close{background:#666}
