@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

 /* font */
@font-face {font-family:'PyeongChangPeace-Bold';src:url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');font-weight:700;font-style:normal;}


/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/m_evt_nav_on.jpg);background-size:auto 100%}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* coupon */
.event_wrap .coupon_desc{margin:4.1667vw -3vw 0}
.event_wrap .coupon_list ul + ul{margin-top:6vw}
.event_wrap .coupon_list li{margin-bottom:0;}

.event_wrap .p_evt_sec2 .coupon_item{position:absolute;top:57.7778vw;left:0;right:0}
.event_wrap .p_evt_sec2 .coupon_desc span{color:#999}
.event_wrap .p_evt_sec3 .coupon_list{position:absolute;top:40vw;left:0;right:0}

/* page */
.event_wrap .p_evt_sec1{background-color:#f5daad}
.event_wrap .p_evt_sec4{background-color:#cd9a70}

/* notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/m_evt_noti1.jpg) 50% 100% no-repeat;background-size:100% auto}
.event_wrap .noti1 .evt_notice{padding:0 5.5555vw 16vw;}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/m_evt_noti2.jpg) 50% 0;background-size:100% auto}
.event_wrap .noti2 .evt_notice{padding:13.4722vw 5.5555vw 16.6667vw;}
.event_wrap .noti3{background-color:#cd9a70}
.event_wrap .noti3 .evt_notice{padding:11.1111vw 5.5555vw 16.6667vw;}

/* 상품리스트 1 */
.event_wrap .product_banner{width:100%}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}
.event_wrap .product_banner .product_img{display:block;width:100%}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:11.1111vw;left:59.7222vw}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:16.6667vw;left:11.5278vw}
.event_wrap .product_banner .product_info{display:flex;flex-wrap:wrap;padding-top:2vw}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#80c342;border-radius:6.9444vw}
.event_wrap .product_banner .product_title{flex-basis:100%;font-size:3.6111vw;font-weight:400;color:#333;line-height:4.1667vw;letter-spacing:-.0.6944vw;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .product_banner .original{flex-basis:100%}
.event_wrap .product_banner .original del{font-size:3.0556vw;color:#7a7a7a;letter-spacing:-0.4167vw;font-family:'Lato'}
.event_wrap .product_banner .product_price{display:flex;}
.event_wrap .product_banner .product_price .sale{margin-left:0.6944vw;}
.event_wrap .product_banner .sale{display:flex;align-items:center}
.event_wrap .product_banner .sale ins{font-size:3.8889vw;font-weight:600;color:#169633;letter-spacing:-0.4167vw;text-decoration:none;font-family:'Lato'}
.event_wrap .product_banner .sale .won{font-size:3.0556vw;font-weight:500;color:#169633}
.event_wrap .product_banner .percent{position:absolute;width:11.1111vw;height:11.1111vw;padding:3.4vw 0;font-size:0;text-align:center;border-radius:50%;background-color:#169633;box-sizing:border-box}
.event_wrap .product_banner .item1 .percent{top:15vw !important;left:33.3333vw !important;}
.event_wrap .product_banner .item2 .percent{bottom:18.4722vw;right:10.6944vw;}
.event_wrap .product_banner .percent .num{font-size:4.1667vw;line-height:1;font-weight:800;color:#fff;font-family:'Lato'}
.event_wrap .product_banner .percent .unit{font-size:2.7778vw;line-height:1;font-weight:800;color:#fff;font-family:'Lato'}

/* 상품리스트 2 */
.event_wrap .product_list{padding-bottom:5.5547vw;}
.event_wrap .product_list .product_img{border-radius:1.1111vw;}
.event_wrap .product_list .percent .num{color:#169633}
.event_wrap .product_list .percent .unit{color:#169633}
.event_wrap .product_list .original del .won{font-size:2.7778vw;}

/* title */
.animation_wrap{position:absolute;top:22.2222vw;width:52.5vw;height:35.5556vw;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.animation_wrap .inner{height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.obj{position:relative;display:inline-block;width:15.2778vw;height:15.2778vw;font-family:'PyeongChangPeace-Bold';font-size:15vw;line-height:1;vertical-align:top !important;color:#83c743}
.obj1{margin-right:3.3333vw;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj1.png') no-repeat 100%;font-size:0;background-size:100% auto;}
.obj2{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj2.png') no-repeat 100%;font-size:0;background-size:100% auto;}
.obj3{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj3.png') no-repeat 100%;font-size:0;background-size:100% auto;}
.obj4{top:4.7222vw;left:-2.0833vw;width:62.5vw;height:15.5556vw;font-size:0}
.obj4 span{position:relative;display:inline-block;height:inherit}
.obj4-1{width:14vw;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj4-1.png') center top no-repeat;background-size:100% auto;}
.obj4-2{width:11.1111vw}
.obj4-3{width:3.6111vw;margin-right:0.6944vw !important}
.obj4-4{width:12.0833vw}
.obj4-5{width:11.5278vw}
.obj5{position:absolute;top:12.6389vw;left:-3.1944vw;width:53.8889vw;height:11.5278vw;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj5.png') no-repeat 100%;background-size:100% auto;font-size:0}
.obj6{position:absolute;top:-9vw;left:48vw;width:16.8056vw;height:16.1111vw;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj6.png') no-repeat 100%;background-size:100% auto;font-size:0}

/* animation - default */
.animation_wrap .inner{-webkit-animation:scale .6s 0.4s cubic-bezier(1,0,0.8,1) both;animation:scale .6s 0.4s cubic-bezier(1,0,0.8,1) both}
.obj4-1{-webkit-animation:bounce 1s 1.7s cubic-bezier(.19,0.9,.9,1) both;animation:bounce 1s 1.7s cubic-bezier(.19,0.9,.9,1) both}
.obj4-2{-webkit-animation:bounce 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 1.8s ease-in-out both;animation:bounce 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 1.8s ease-in-out both}
.obj4-3{-webkit-animation:bounce 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 1.9s ease-in-out both;animation:bounce 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 1.9s ease-in-out both}
.obj4-4{-webkit-animation:bounce 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 2s ease-in-out both;animation:bounce 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 2s ease-in-out both}
.obj4-5{-webkit-animation:bounce 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 2.1s ease-in-out both;animation:bounce 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 2.1s ease-in-out both}
.obj5{-webkit-animation:mask .4s 3.3s ease-out both;animation:mask .4s 3.3s ease-out both}

/* animation - on */
.animation_wrap .inner.on{-webkit-animation:scale2 .6s 0.4s cubic-bezier(1,0,0.8,1) both;animation:scale2 .6s 0.4s cubic-bezier(1,0,0.8,1) both}
.obj4-1.on{-webkit-animation:bounce2 1s 1.7s cubic-bezier(.19,0.9,.9,1) both;animation:bounce2 1s 1.7s cubic-bezier(.19,0.9,.9,1) both}
.obj4-2.on{-webkit-animation:bounce2 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 1.8s ease-in-out both;animation:bounce2 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 1.8s ease-in-out both}
.obj4-3.on{-webkit-animation:bounce2 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color2 1.5s 1.9s ease-in-out both;animation:bounce2 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color2 1.5s 1.9s ease-in-out both}
.obj4-4.on{-webkit-animation:bounce2 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 2s ease-in-out both;animation:bounce2 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 2s ease-in-out both}
.obj4-5.on{-webkit-animation:bounce2 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color2 1.5s 2.1s ease-in-out both;animation:bounce2 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color2 1.5s 2.1s ease-in-out both}
.obj5.on{-webkit-animation:mask2 .4s 3.3s ease-out both;animation:mask2 .4s 3.3s ease-out both}

/* scale */
@-webkit-keyframes scale {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(1.6667vw);filter:blur(1.6667vw);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0vw);filter:blur(0vw);opacity:1}
}
@keyframes scale {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(1.6667vw);filter:blur(1.6667vw);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0vw);filter:blur(0vw);opacity:1}
}
/* scale2 */
@-webkit-keyframes scale2 {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(1.6667vw);filter:blur(1.6667vw);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0vw);filter:blur(0vw);opacity:1}
}
@keyframes scale2 {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(1.6667vw);filter:blur(1.6667vw);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0vw);filter:blur(0vw);opacity:1}
}

/* bounce */
@-webkit-keyframes bounce {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg); transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-2.7778vw) rotate(3deg) scale(1.1); transform:translateY(-2.7778vw) rotate(3deg) scale(1.1)}
}
@keyframes bounce {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg); transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-2.7778vw) rotate(3deg) scale(1.1); transform:translateY(-2.7778vw) rotate(3deg) scale(1.1)}
}
/* bounce2 */
@-webkit-keyframes bounce2 {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg); transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-2.7778vw) rotate(3deg) scale(1.1); transform:translateY(-2.7778vw) rotate(3deg) scale(1.1)}
}
@keyframes bounce2 {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg); transform:rotateX(20deg) translateY(0.2778vw) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-2.7778vw) rotate(3deg) scale(1.1); transform:translateY(-2.7778vw) rotate(3deg) scale(1.1)}
}

/* change-color */
@-webkit-keyframes change-color {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
@keyframes change-color {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
/* change-color2  */
@-webkit-keyframes change-color2  {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
@keyframes change-color2  {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}

/* return-color */
@-webkit-keyframes return-color {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
@keyframes return-color {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
/* return-color2 */
@-webkit-keyframes return-color2 {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
@keyframes return-color2 {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}

/* mask */
@-webkit-keyframes mask {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
@keyframes mask {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
/* mask2 */
@-webkit-keyframes mask2 {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
@keyframes mask2 {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/m_evt_sec4_2.jpg) #cd9a70 50% 0 / 100% no-repeat;}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:53.3333vw 6.9444vw 0 6.9444vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:45%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:57.3333vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{line-height:4.6666vw !important;color:#fff !important;padding:0;margin:0;word-break:keep-all !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{flex-direction:column-reverse;align-items:center;text-align:center}
.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{width:4.4444vw !important;height:4.4444vw !important;margin-top:2.4vw;border:0.2778vw solid #fff !important;background-color:transparent !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:0.2778vw solid #fff !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#444;width:2.3611vw;height:2.3611vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:70.9722vw !important;height:11.9444vw !important;font-size:0 !important;line-height:0 !important;margin:4vw auto 0 !important;border-radius:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_btn.jpg) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
