@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

 /* font */
@font-face {font-family:'PyeongChangPeace-Bold';src:url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');font-weight:700;font-style:normal;}

/* reset */
.desktop .fb__event .event__survey img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .detail-wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:100px}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_nav_on.jpg) 0 0 no-repeat;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:50% 0}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:100% 0}

/* coupon */
.event_wrap .coupon_desc{margin-top:40px}
.event_wrap .coupon_list ul + ul{margin-top:40px}

.event_wrap .p_evt_sec2 .coupon_desc span{color:#999}
.event_wrap .p_evt_sec2 .coupon_item{position:absolute;z-index:5;top:272px;left:0;right:0;}
.event_wrap .p_evt_sec3 .coupon_desc span{color:#564933}
.event_wrap .p_evt_sec3 .coupon_list{position:absolute;z-index:5;top:302px;left:0;right:0;}


/* notice */
.event_wrap .noti1{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_noti1.jpg) 50% 0 no-repeat}
.event_wrap .noti2{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_noti2.jpg) 50% 0 no-repeat}
.event_wrap .noti1 .evt_notice{padding-top:50px;padding-bottom:210px}
.event_wrap .noti2 .evt_notice{padding-top:115px}
.event_wrap .noti3{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_noti3.jpg) 50% 0 no-repeat}

/* page */
.event_wrap .p_evt_sec1{background-color:#f5daad}

/* 상품리스트 1 */
.event_wrap .product_banner{display:flex;justify-content:space-between;margin:0 34px 0 150px;padding-bottom:28px}
.event_wrap .product_banner li{width:480px;height:540px}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}
.event_wrap .product_banner .product_img{display:block;width:480px}
.event_wrap .product_banner .product_img img{margin:0 !important}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:413px;left:56px}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:53px;left:80px}
.event_wrap .product_banner .product_info{display:flex;flex-wrap:wrap;padding-top:15px}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:80px;height:4px;background:#80c342;border-radius:50px}
.event_wrap .product_banner .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#333;line-height:26px;letter-spacing:-.5px;word-break:keep-all;margin-bottom:10px}
.event_wrap .product_banner .original{flex-basis:100%}
.event_wrap .product_banner .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_banner .sale{margin-top:4px}
.event_wrap .product_banner .sale ins{font-size:24px;font-weight:600;color:#169633;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_banner .sale .won{font-size:18px;font-weight:500;color:#169633;margin-left:-3px}
.event_wrap .product_banner .percent{position:absolute;width:60px;height:60px;padding:16px 0;text-align:center;border-radius:50%;background-color:#169633;box-sizing:border-box}
.event_wrap .product_banner .percent .num{font-size:26px;line-height:1;font-weight:800;color:#fff;font-family:'Lato'}
.event_wrap .product_banner .percent .unit{font-size:14px;line-height:1;font-weight:800;color:#fff;margin-left:-4px;font-family:'Lato'}
.event_wrap .product_banner .item1 .percent{top:57px;right:157px;}
.event_wrap .product_banner .item2 .percent{bottom:52px;right:112px;}

/* 상품리스트 2 */
.event_wrap .product_list .product_img{border-radius:8px;}
.event_wrap .product_list .percent .num{color:#169633}
.event_wrap .product_list .percent .unit{color:#169633}
.event_wrap .product_list .product_info{margin-bottom:30px}
.event_wrap .product_list .original del .won{font-size:16px;}

/* title - animation */
.animation_wrap{position:absolute;top:115px;width:378px;height:256px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.obj{position:relative;display:inline-block;vertical-align:top !important;width:110px;height:110px;font-family:'PyeongChangPeace-Bold';font-size:111.64px;line-height:1;vertical-align:top !important;color:#83c743}
.obj1{margin-right:24px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj1.png') no-repeat 100%;font-size:0}
.obj2{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj2.png') no-repeat 100%;font-size:0}
.obj3{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj3.png') no-repeat 100%;font-size:0}
.obj4{top:34px;left:-15px;width:450px;height:112px;font-size:0}
.obj4 span{position:relative;display:inline-block;height:inherit}
.obj4-1{background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj4-1.png') no-repeat 100%}
.obj4-2{width:80px}
.obj4-3{width:26px;margin-right:5px !important;}
.obj4-4{width:87px}
.obj4-5{width:83px}
.obj5{position:absolute;top:91px;left:-23px;width:388px;height:83px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj5.png') no-repeat 100%;font-size:0} 
.obj6{position:absolute;top:-50px;left:350px;width:121px;height:116px;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/title/obj6.png') no-repeat 100%;font-size:0}

/* animation - default */
.animation_wrap .inner{height:100%;-webkit-animation:scale .6s cubic-bezier(1,0,0.8,1);animation:scale .6s cubic-bezier(1,0,0.8,1)}
.obj4-1{-webkit-animation:bounce 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both;animation:bounce 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both}
.obj4-2{-webkit-animation:bounce 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 1.8s ease-in-out both;animation:bounce 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 1.8s ease-in-out both}
.obj4-3{-webkit-animation:bounce 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 1.9s ease-in-out both;animation:bounce 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 1.9s ease-in-out both}
.obj4-4{-webkit-animation:bounce 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 2s ease-in-out both;animation:bounce 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color 1.5s 2s ease-in-out both}
.obj4-5{-webkit-animation:bounce 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 2.1s ease-in-out both;animation:bounce 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color 1.5s 2.1s ease-in-out both}
.obj5{-webkit-animation:mask .4s 3s ease-out both;animation:mask .4s 3s ease-out both}

/* animation - on */
.animation_wrap .inner.on{-webkit-animation:scale2 .6s cubic-bezier(1,0,0.8,1);animation:scale2 .6s cubic-bezier(1,0,0.8,1)}
.obj4-1.on{-webkit-animation:bounce2 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both;animation:bounce2 1.2s 1.7s cubic-bezier(.19,0.9,.9,1) both}
.obj4-2.on{-webkit-animation:bounce2 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 1.8s ease-in-out both;animation:bounce2 1.2s 1.8s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 1.8s ease-in-out both}
.obj4-3.on{-webkit-animation:bounce2 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 1.9s ease-in-out both;animation:bounce2 1.2s 1.9s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 1.9s ease-in-out both}
.obj4-4.on{-webkit-animation:bounce2 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 2s ease-in-out both;animation:bounce2 1.2s 2s cubic-bezier(.19,0.9,.9,1) both, return-color2 1.5s 2s ease-in-out both}
.obj4-5.on{-webkit-animation:bounce2 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 2.1s ease-in-out both;animation:bounce2 1.2s 2.1s cubic-bezier(.19,0.9,.9,1) both, change-color2  1.5s 2.1s ease-in-out both}
.obj5.on{-webkit-animation:mask2 .4s 3s ease-out both;animation:mask2 .4s 3s ease-out both}

/* scale */
@-webkit-keyframes scale {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}
@keyframes scale {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}
/* scale2 */
@-webkit-keyframes scale2 {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}
@keyframes scale2 {
  0% {-webkit-transform:scale(0);transform:scale(0);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}
  100% {-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0px);filter:blur(0px);opacity:1}
}

/* bounce */
@-webkit-keyframes bounce {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}
@keyframes bounce {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}
/* bounce2 */
@-webkit-keyframes bounce2 {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}
@keyframes bounce2 {
  0%,100%{ -webkit-transform:translate(0); transform:translate(0)}
  25%{ -webkit-transform:rotateX(20deg) translateY(2px) rotate(-3deg); transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ -webkit-transform:translateY(-20px) rotate(3deg) scale(1.1); transform:translateY(-20px) rotate(3deg) scale(1.1)}
}

/* change-color */
@-webkit-keyframes change-color {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
@keyframes change-color {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
/* change-color2  */
@-webkit-keyframes change-color2  {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}
@keyframes change-color2  {0%, 15%, 100%{color:#83c743}
  10% {color:#169533}
}

/* return-color */
@-webkit-keyframes return-color {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
@keyframes return-color {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
/* return-color2 */
@-webkit-keyframes return-color2 {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}
@keyframes return-color2 {
  0%, 15% {color:#83c743}
  10% {color:#169533}
  95%, 100% {color:#169533}
}

/* mask */
@-webkit-keyframes mask {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
@keyframes mask {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
/* mask2 */
@-webkit-keyframes mask2 {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}
@keyframes mask2 {
  0% {opacity:0;-webkit-clip-path:rect(0 0 100% 0);clip-path:rect(0 0 100% 0)}
  100%{opacity:1;-webkit-clip-path:rect(0 100% 100% 0);clip-path:rect(0 100% 100% 0)}
}

/* motion */
.event_wrap .motion_wrap{position:absolute;z-index:3;min-width:1920px;height:1000px;top:0;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);right:0;overflow:hidden;}
.event_wrap .motion img{margin:0 !important}
.event_wrap .motion{-webkit-animation:updown 3s 0s ease-in-out infinite both;animation:updown 3s 0s ease-in-out infinite both}
.event_wrap .motion.object1{position:absolute;z-index:10;top:50px;left:-37px;height:1500px;}
.event_wrap .motion.object2{position:absolute;z-index:10;top:282px;right:0;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.event_wrap .motion.object3{position:absolute;z-index:10;top:50px;left:-37px;-webkit-animation-delay:0.6s;animation-delay:0.6s}

@-webkit-keyframes updown {
  0%, 100% {
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(10px, -30px);
    transform:translate(10px, -30px);
  }
}
@keyframes updown {
  0%, 100% {
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(10px, -30px);
    transform:translate(10px, -30px);
  }
}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1920px;min-width:1168px;width:auto !important;padding:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_sec4_1.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__survey .survey form{width:1168px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{margin-top:0 !important;width:24%;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{width:100%;padding-top:340px !important;font-size:24px !important;line-height:36px !important;text-align:center;color:#fff !important;letter-spacing:-1px}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:0 10% 46px !important;box-sizing:border-box}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:auto !important;bottom:0;left:50% !important;transform:translatex(-50%);width:32px !important;height:32px !important;border:2px solid #fff !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:auto !important;bottom:8px;left:50% !important;transform:translatex(-50%);width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#444 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;margin-top:49px !important;font-size:0 !important;border-radius:0 !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0603_pick/img/p_evt_btn.jpg) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
