.brand_area .list_delivery {margin-right: 10px;}

/* Cart */
.txt_status {display:inline-block;vertical-align:top;margin-top: 5px;color:#f96c2b;font-size:13px;line-height:1em;}
.cart_payment .tble_type tbody tr td a {font-family:"Nanum Gothic",sans-serif;}

.cart_payment .null_cart {padding: 110px 0}
.cart_payment  .ip_rdo {vertical-align: middle;}
.cart_payment  .ip_rdo span {padding: 0 0 0 25px;}

.cart_payment .pro_info p em.txt_status {margin-top: 2px;margin-left:5px;color:#f96c2b !important;font-size:13px;font-weight:normal;}
.cart_payment .title_wrap.v2 {margin-bottom: 0px;}

.cart_payment .buy_total {height: 120px;padding:0px;border: 4px solid #898989;}
.cart_payment .buy_total ul {height: 100%;}
.cart_payment .buy_total .amount_item {float:left;position:relative;display:inline-block;height:100%;padding: 15px 40px 20px 25px;box-sizing:border-box;}
.cart_payment .buy_total .amount_item .ico_cal {width:40px;height:40px;background:url('../img/cart_plus.png') no-repeat 0 0}
.cart_payment .buy_total .amount_item .ico_cal.equal {width:40px;height:40px;background:url('../img/cart_sum.png') no-repeat 0 0}
.cart_payment .buy_total .amount_item.nth-1 {width: 310px;border-right:1px solid #d7d7d7;}
.cart_payment .buy_total .amount_item.nth-1:after {position:absolute; top:46px; right:-20px; display:inline-block; width:40px; height:40px; background-image:url('../img/cart_plus.png'); content:''; z-index:10;}
.cart_payment .buy_total .amount_item.nth-2 {width: 330px;border-right:1px solid #d7d7d7;}
.cart_payment .buy_total .amount_item.nth-2:after {position:absolute; top:46px; right:-20px; display:inline-block; width:40px; height:40px; background-image:url('../img/cart_sum.png'); content:''; z-index:10;}
.cart_payment .buy_total .amount_item.nth-3 {width: 372px;background-color:#f5f5f5;}
.cart_payment .buy_total .amount_item dl {position:relative; display:block; height:100%;}
.cart_payment .buy_total .amount_item dt {display: block;margin: 0px;font-size:16px;color:#636363;font-weight:500;text-align: left;}
.cart_payment .buy_total .amount_item dd {position:absolute;display: block;margin: 0px;bottom:0px;right:0px;font-size:20px;color:#333333;font-weight:700;font-family:'Nanum Barun Gothic', sans-serif;text-align: right;}
.cart_payment .buy_total .amount_item dd strong {font-size: 24px;}
.cart_payment .buy_total .amount_item .amount_sale {display: block;margin-bottom: 10px; font-size: 15px; color: #636363; text-decoration: line-through;font-weight: 400;text-align: right;}
.cart_payment .buy_total .amount_item .amount_sale strong {color: #33353d !important;font-size: 15px;font-weight: normal;}
.cart_payment .buy_total .amount_item .amount_dd {font-size:30px; color:#f96c2b;}
.cart_payment .buy_total .amount_item.type-total dd em {color: #f96c2b;}
.cart_payment .buy_total .amount_item.type-total dd em strong {font-size: 30px;color: #f96c2b;}
.cart_payment .buy_total .amount_item.nth-3 .amount_sale {margin-bottom: 4px;font-size: 14px;color: #f96c2b; text-decoration: none;}
.cart_payment .buy_total .amount_item.nth-3 .amount_sale strong {font-size: 15px;color: #f96c2b !important;}

.cart_payment .pro_info {position:relative;}
.cart_payment .pro_info .block_status {position:absolute;top: 0px;bottom:0px;left:0;display:table;width: 94px;height: 94px;background:rgba(0,0,0,0.5);text-align:center;}
.cart_payment .pro_info .block_status span {display:table-cell;vertical-align:middle;color:#fff;font-family:'notokr-medium', sans-serif;font-size:22px;line-height:26px;}

.cart_payment .delivery_info.simple {overflow:hidden;padding: 12px 10px;background:#ebe6c0;border-top:1px solid #d5cfa5;border-bottom:1px solid #d5cfa5;} 
.cart_payment .delivery_info.simple strong {float:left;padding:0px;color:#2f302e;font-size: 18px;font-weight: bold;line-height:27px;}
.cart_payment .delivery_info.simple span {float:left;margin-left: 3px;padding:0px;color:#2f302e;font-size: 18px;font-weight: bold;line-height:27px;}
.cart_payment .delivery_info.simple span.address + a {float:right;}
.cart_payment .delivery_info.simple.none span {color: #5e5c4d;font-weight:normal;}

.cart_area.step2_deliinfo table { box-sizing: border-box; }
.delivery_table_tit {margin-top:40px;margin-bottom: 15px;font-family: 'notokr', sans-serif;font-size: 23px;color: #33353d;font-weight: normal;line-height: 23px;}
.delivhead .cart_table_th { border-top: 2px solid #898989; }

.dawndelivery_tr.password_view, .dawndelivery_tr.etcinput_view, .dawn_delivery_wrap { display: none; }
.datetime_choose_table { width: 100%; }
.datetime_select_th { padding: 12px 0; border-top: 2px solid #898989; border-bottom: 1px solid #898989; font-family: 'Nanum Barun Gothic'; font-weight: 700; font-size: 14px; color: #555; }
.datetime_select_td { vertical-align: middle; text-align: center; padding: 15px 0; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; font-family: 'Nanum Barun Gothic'; font-weight: 400; }
.datetime_select_td.title_time { font-size: 13px; font-weight: 600; color: #555; }
.datetime_select_td.reser_deadline { color: #999; }
.datetime_select_td.right_last { border-right: none; }
.datetime_select_tr td:nth-child(1) { position: relative; z-index: -999; padding-right: 12px; background: url(../img/delivery_date_time_gradation_bg.png) repeat-y right top; border: none; }
.datetime_select_tr td:nth-child(1)::after { z-index: 999; position: absolute; left: 0; bottom: -1px; content: ""; display: inline-block; width: 100%; height: 1px; background: #ddd }
.datetime_select_tr:last-child td:nth-child(1)::after { display: none; }
.datetime_select_tr:last-child td:nth-child(1) { border-bottom: 1px solid #ddd; }
.dawndeli_icon_wrap { margin-bottom: 4px; }
.dawndeli_icon { display: inline-block; width: 50px; height: 16px; background: #549cf6; color: #ffffff; line-height: 16px; border-radius: 10px; padding: 1px 3px; font-size: 12px; }

.delivery_datetime_select_wrap .dawn_delivery_sub_tit,
.cart_payment .tit_payment_sub_tit{ float: right;margin-top: 10px;margin-left: 10px; font-size: 14px; color: #555;}
.dawn_delivery_wrap .dawn_delivery_sub_tit {margin-left: 10px; font-size: 14px; font-family: dotum, sans-serif; color: #555;}

.dawn_delivery_wrap input:focus::-webkit-input-placeholder, .dawn_delivery_wrap textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; } 
.dawn_delivery_wrap input:focus:-moz-placeholder, .dawn_delivery_wrap textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; } 
.dawn_delivery_wrap input:focus::-moz-placeholder, .dawn_delivery_wrap textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; } 
.dawn_delivery_wrap input:focus:-ms-input-placeholder, .dawn_delivery_wrap textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }
.dawn_delivery_wrap textarea, .dawn_delivery_wrap input[type="text"] { font-family: 'Nanum Barun Gothic'; color: #999; }
.dawndelivery_tr td { font-family: 'Nanum Barun Gothic'; font-size: 12px; color: #555;}
.dawndelivery_tr td:nth-child(1) {padding:0 65px 0 10px; font-size:13px; font-weight:700;}
.dawndelivery_tr:nth-child(1) td {border-top: 2px solid #898989;}
.dawndelivery_tr td {line-height:40px; border-bottom:1px solid #dfdfdf;letter-spacing:-2px;}
.dawndelivery_tr.etcinput_view td {line-height:78px;}
.dawndelivery_tr.etcinput_view textarea { width: 365px; height: 60px; padding: 5px 0 0 5px; vertical-align: middle; border: 1px solid #bbb; font-size: 12px; }

.dawndelivery_tr.password_view input[type="password"] { box-sizing: border-box; width: 235px; height: 30px; padding-left: 5px; margin-right: 20px; line-height: 28px; border: 1px solid #bbb; font-size: 12px; }
.dawndelivery_tr.password_view input[type="text"] { box-sizing: border-box; width: 235px; height: 30px; padding-left: 5px; margin-right: 20px; line-height: 28px; border: 1px solid #bbb; font-size: 12px; }

.dawn_dalivery_addinfo_wrap { margin-top: 11px; padding-left: 12px; line-height: 18px; font-family: 'Nanum Barun Gothic'; color: #7c7c7c; }
.dawn_dalivery_addinfo_wrap .emphasis_text { font-weight: 700; }

.cart_payment .tble_type .hasDatepicker + .normal-delivery-table {margin-top:5px}
.normal-delivery-table span { color:#fff; display: inline-block; margin-bottom: 4px; padding: 2px 10px; vertical-align: middle; text-align: center; letter-spacing: 0px; border-radius: 20px; background: #527d16;}
.dawn-delivery-table span { color:#fff; display: inline-block; margin-bottom: 4px; padding: 2px 10px; vertical-align: middle; text-align: center; letter-spacing: 0px; border-radius: 20px; background: #599cf2;}
.direct-delivery-table span { color:#fff; display: inline-block; margin-bottom: 4px; padding: 2px 10px; vertical-align: middle; text-align: center; letter-spacing: 0px; border-radius: 20px; background: #f66d3a;}
.reserve-delivery-table span {color:#fff; display: inline-block; margin-bottom: 4px; padding: 2px 10px; vertical-align: middle; text-align: center; letter-spacing: 0px; border-radius: 20px; background: #872900}

.cart_payment .gift_select dd ul {padding: 30px 0px 25px;}
.cart_payment .gift_select dd ul li {width: 16.6%;margin-left: 0px;}
.cart_payment .gift_select dd ul li label {display: block;padding: 0 20px;}
.cart_payment .gift_select dd ul li label span img {width:94px;margin:0 auto 8px;}
.cart_payment .gift_select dd ul li label span:after {left: 25px;}


/* Payment */
.cart_payment.payment .tble_type thead th,
.cart_payment.payment .tble_type2,
.cart_payment.payment .tble_price {border-top: 1px solid #33353d;}
.cart_payment .orderer_adr {margin: 40px 0;}
.cart_payment.payment .accordion_list .tble_type2,
.cart_payment.payment .accordion_none .tble_type2 {border-top:0px;}

.refund_select .refund_choose {border-top:1px solid #d5cfa5;border-bottom: 1px solid #d5cfa5;}
.refund_select .refund_choose>strong {display:block;margin-bottom:5px;font-size:16px;font-weight:bold;color:#33353d;line-height:16px;}
.refund_select .refund_choose>ul>li {position:relative;float:none;width:100%;color:#888;padding-left:7px;line-height:1.5em;font-weight:bold;}
.refund_select .refund_choose>ul>li:before {content:'';width:2px;height:2px;border-radius:50%;background:#888;position:absolute;left:0px;top:50%;margin-top:-1px;}
.refund_select .refund_choose>ul>li strong {color:#f96c2b}
.refund_select .refund_choose .laypop_boon {top: 96px;left: 337px;width:285px;border-color:#767676;}
.refund_select .refund_choose .laypop_boon:after{background:url(../img/bg_arr2.png) no-repeat 0 0;}

.cart_payment.payment .tit_payment {margin-bottom:10px; padding-left:10px;}
.cart_payment.payment .accordion_list .tit_payment {border-bottom: 1px solid #33353d;margin: 0px;padding-bottom: 10px;background: url('../img/btn_arrow_down.png') no-repeat right 10px top 7px; cursor:pointer}
.cart_payment.payment .accordion_none .tit_payment {border-bottom: 1px solid #33353d;margin: 0px;padding-bottom: 10px;}
.cart_payment.payment .accordion_list.show .tit_payment {background: url('../img/btn_arrow_up.png') no-repeat right 10px top 7px;}
.cart_payment.payment .accordion_list .tit_payment_info {float:right;margin-top: 0px;padding-right:35px;font-size:16px;font-weight:bold;color:#33353d;}
.cart_payment.payment .accordion_list .tit_payment_info em {color: #f96c2b;}
.cart_payment.payment .tble_type tbody td a.datePickerOpen {text-align:center;}

.cart_payment.payment .payment_select {overflow:hidden;}
.cart_payment.payment .payment_box {float: left;}
.cart_payment.payment .payment_box + .payment_box {float:right;}
.cart_payment.payment .payment_box.wd574 {width:574px}
.cart_payment.payment .payment_box.wd390 {width:390px; margin-top:30px;}


.cart_payment.payment .payment_select .payment_area {position:relative; padding:0 20px 20px; border-top:2px solid #f97639; background-color:#f5f5f5; font-size:14px; color:#555;}
.cart_payment.payment .payment_select .payment_area dl{overflow:hidden;position:relative; padding:0px 7px; border-bottom:1px solid #dfdfdf; line-height:50px;}
.cart_payment.payment .payment_select .payment_area dt {float:left; clear:left;font-size:15px;font-weight: 700;}
.cart_payment.payment .payment_select .payment_area dt #sale_open {margin-left:10px;}
.cart_payment.payment .payment_select .payment_area dd {float:right;}
.cart_payment.payment .payment_select .payment_area dd.money_sale_num {font-size:17px;color:#f96c2b;font-weight:700;}
.cart_payment.payment .payment_select .payment_area > p {margin-bottom:5px;}
.cart_payment.payment .payment_select .payment_area > a.img_btn {display: block;margin-top: 20px;}
.cart_payment.payment .payment_select .payment_area > p .ip_chk span {font-weight:normal}
.cart_payment.payment .payment_select .payment_area > p .ip_chk button {margin-left: 10px;margin-top:-4px;color: #000; font-weight: bold;}
.cart_payment.payment .payment_select .payment_price2 {font-size: 12px;font-weight: normal;}

.cart_payment.payment .payment_select .payment_area dl.accordion_list dt {padding-right: 30px;cursor:pointer;background: url('../img/btn_sale.png') no-repeat 81px 20px;}
.cart_payment.payment .payment_select .payment_area dl.accordion_list.show dt {cursor:pointer;background: url('../img/btn_sale_on.png') no-repeat 81px 20px;}
.cart_payment.payment .payment_select .payment_area dl.accordion_list dt.payment_sale_dt {display: none; cursor:default; background: url(../img/bg_reply.png) no-repeat 24px 13px;}
.cart_payment.payment .payment_select .payment_area dl.accordion_list dd.payment_sale_dd {display: none; cursor:default;}
.cart_payment.payment .payment_select .payment_area dl.accordion_list.show dt.payment_sale_dt,
.cart_payment.payment .payment_select .payment_area dl.accordion_list.show dd.payment_sale_dd {display: block;}
.cart_payment.payment .payment_select .payment_area .payment_total {padding:40px 7px;border-bottom:none;}
.cart_payment.payment .payment_select .payment_area .payment_total dt {font-size:18px;color:#333;}
.cart_payment.payment .payment_select .payment_area .payment_total dd {font-size:36px;color:#f96c2b;line-height:normal;text-align:right}
.cart_payment.payment .payment_select .payment_area .payment_total dd span span {font-size:18px;color:#f96c2b;font-weight:700;}
.cart_payment.payment .payment_select .payment_area .payment_total dd p {color:#555;font-size: 12px;}


.cart_payment.payment .payment_select .payment_area .payment_sale{position:relative;}
.cart_payment.payment .payment_select .payment_area .payment_sale_tit{position:relative;}
.cart_payment.payment .payment_select .payment_area .payment_sale_tit .img_btn img{position:absolute;  top: 2px; right:0; margin:auto 0;}
.cart_payment.payment .payment_select .payment_area .payment_sale_dt {margin-top: -16px;padding-left:40px;color:#555;font-size: 14px;font-weight:  normal;line-height: 40px;background: url('../img/bg_reply.png') no-repeat 24px 13px;}
.cart_payment.payment .payment_select .payment_area .payment_sale_dd {margin-top: -10px;font-size:14px;line-height: 30px;clear: right;}

.cart_payment .payment_select>dl>dd {border: 0px;}
.cart_payment.payment .payment_select .payment_card .list_arr {padding: 0px; border:0px;}
.cart_payment .payment_select .tab_payment {background:none;}
.cart_payment .payment_select .tab_payment li {width: 130px;padding:0;line-height:26px;}
.cart_payment .payment_select .tab_payment li span {font-size: 12px;color: #555;font-weight: normal}

.price_table.discount .tble_type2 .input_area{display:inline-block;position:relative;padding-right: 20px;margin-right:20px;vertical-align:middle;}
.price_table.discount .tble_type2 .input_area strong{font-size:13px;font-weight:bold;color:#888;}
.price_table.discount .tble_type2 .input_area strong span{color:#ad1901;}
.price_table.discount .tble_type2 .input_area strong i{font-style:normal;color:#33353d;}
.price_table.discount .tble_type2 .input_area .ip_txt{width: 160px;font-size:16px;font-weight:bold;color:#33353d;text-align:right;}
.price_table.discount .tble_type2 .input_area .ip_txt:disabled{background-color:#fff;border:1px solid #e2e2e2;}
.price_table.discount .tble_type2 .input_area em{position:absolute;bottom:4px;right: 0px;font-size:12px;font-weight:bold;color: #33353d;}
.price_table.discount .tble_type2 label{position:relative;margin-left: 10px;}
.price_table.discount .tble_type2 label input{top:6px\9;margin-top:0\9;}
.price_table.discount .tble_type2 label span{font-size: 13px;color:#666;}
.price_table.discount .tble_type2 label span:after{top: 1px;margin-top:0;}
.price_table.discount .tble_type2 .btn_inquiry + em,
.price_table.discount .tble_type2 label span em {display:block;margin: 5px 0 0 -27px;font-size:12px;font-weight:normal;color:#919191;}
.price_table.discount .tble_type2 .btn_inquiry + em {display: inline-block;margin-left: 7px;font-weight:normal;}
.price_table.discount .tble_type2 .btn_inquiry{display:inline-block;width:82px;height:27px;border-radius:2px;background-color:#666;font-size:12px;font-weight:bold;text-align:center;color:#fff;vertical-align:middle;line-height:27px;}

.cart_payment .payment_select tr[class^="payment_"] .list_arr {padding:0px; border: 0px;}
.cart_payment .payment_select tr[class^="payment_"] .list_arr li{position:relative;padding-left:20px;margin-top:9px;font-size:13px;font-weight:bold;color:#888; line-height: 20px;}
.cart_payment .payment_select tr[class^="payment_"] .list_arr li:after{display:block;content:'';position:absolute;top:2px;left:0;width:13px;height:13px;background:url(http://www.orga.co.kr/websrc/orga/w/img/sp_ico.png) no-repeat -203px 0;}
.cart_payment .payment_select tr[class^="payment_"] .list_arr li:first-child{margin-top:0;}
.cart_payment .payment_select tr[class^="payment_"] .list_arr strong{color:#33353d;}

.cart_payment.payment .promoGiftCostArea .tit_payment {border-bottom: 1px solid #33353d;margin: 0px;padding-bottom: 10px;}
.cart_payment.payment .promoGiftCostArea .tit_payment .tit_payment_sub_tit {margin-top: 0px;}
.cart_payment.payment .promoGiftCostArea .gift_select dd dl {border-top: 0px;}

.cart_payment.payment .payment_select .tble_type2 .accordion_list {padding: 20px 0;text-align: right;border-bottom: 0px;}
.cart_payment.payment .payment_select .tble_type2 .accordion_list .tit_payment {display:  inline-block;vertical-align: top;padding: 0px;padding-right: 23px;font-size: 13px;background-position: right 7px;}
.cart_payment.payment .payment_select .tble_type2 .accordion_list .list_arr {margin-top: 7px;padding: 25px 20px;text-align: left;background: #f9f9f9;border-top:1px solid #dfdfdf;}


/* Main Layer */
.pop_today.popupLayerNew  {box-shadow: 1px 1px 10px rgba(0,0,0,0.3);background: #fff;z-index: 99999999999;border-top: 3px solid #604d44;border-bottom: 3px solid #ebebeb;}
.pop_today.popupLayerNew  .layer-close {float: right;}
.pop_today.popupLayerNew  .pop_today_content {overflow-y:auto;overflow-x:hidden;}
.pop_today.popupLayerNew  .pop_today_content img {width: auto !important;height: auto !important;}
.pop_today.popupLayerNew  .pop_today_footer {position: absolute;bottom: 0;padding-top: 5px;line-height: 22px;background: #fff;border-top: 1px solid #4f473d;}
.pop_today.popupLayerNew  .pop_today_footer a {position:relative;display: inline-block; vertical-align: top;}
.pop_today.popupLayerNew  .pop_today_footer label {display: inline-block; vertical-align: top;margin-right: 20px;} 
.pop_today.popupLayerNew  .pop_today_footer .input_check i {top: 1px;}
.pop_today.popupLayerNew  .pop_today_footer label span {color: #000;font-size: 13px;}
.pop_today.popupLayerNew  .pop_today_footer img {margin-bottom: 0px !important;}

/* Footer */
.footer_wrap .company_info .list_company {width:450px;}
.footer_wrap .company_info .list_company li {margin: 0px;line-height:20px;}
.footer_wrap .company_info .list_company li.company {width:100%; margin-bottom: 5px;font-size: 15px;font-weight: bold;}
.footer_wrap .company_info .list_company li > a {display: inline-block; vertical-align: top;margin-top: 2px;margin-left: 5px;height: 16px;cursor: pointer}

/* 임직원 정보 등록 20190823 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.group_check_wrap {padding: 20px; text-align: center; letter-spacing: -1px;}
.group_check_wrap * {color: #000; font-family: 'Noto Sans KR', sans-serif; font-size: 18px; box-sizing: border-box}
.group_check_wrap h2 {margin-bottom: 70px; font-size: 19px; text-align: left}
.group_check_wrap h3 {margin-bottom: 30px; font-size: 56px;}
.group_check_wrap h3 span {display: block; font-size: 40px; font-weight: 300}
.group_check_wrap .g_check_title { margin-bottom: 25px; font-size: 19px;}
.group_check_wrap .g_check_title p {margin-bottom: 30px; font-weight: normal}
.group_check_wrap .g_check_message.red {color: #ff0000; font-size: 17px;}
.group_check_wrap .check_input {display: table; width: 520px; margin: 0 auto 12px; width: 520px; height: 48px; border: 1px solid #000; text-align: left;}
.group_check_wrap .check_input label {display: table-cell; vertical-align: middle; width:140px; padding-left: 20px; font-weight:700}
.group_check_wrap .check_input input {display: table-cell; vertical-align: middle; width:380px; height: 44px; padding-left: 20px; border: 0px;}
.group_check_wrap .check_input input:-webkit-input-placeholder {color: #999;}
.group_check_wrap .check_input input:-ms-input-placeholder {color: #999;}
.group_check_wrap .check_input input:placeholder {color: #999;}
.g_check_box {margin-top: 60px; margin-bottom: 15px;padding: 25px 40px 15px;text-align: left;border: 1px solid #555;}
.g_check_box.agree label {display: block;padding-bottom: 15px;border-bottom: 1px solid #000;}
.g_check_box.agree .ip_chk span {padding:0px 0 0px 33px;color: #000;font-size: 24px;line-height: 1.5em;font-weight: 600;}
.g_check_box.agree .ip_chk span:after {margin-top: -7px;}
.g_check_box.agree > div {padding: 20px;}
.g_check_box.agree > div ol + p {margin-top: 30px; font-weight: 700;}
.g_check_box .list_bullet {margin-top: 10px}
.g_check_box .list_bullet li {position: relative; padding-left: 20px;}
.g_check_box .list_bullet li i {position: absolute; left: 0px; top: 0;}
.group_check_wrap .btn_wrap {margin: 60px 0}
.group_check_wrap .btn_confirm {display: inline-block;vertical-align: top; width: 320px; height: 60px;margin: 0 10px;line-height: 60px; border-radius: 30px;color: #fff; font-size: 28px; font-weight: 600; background: #8ea706;}
.group_check_wrap .btn_edit {display: inline-block;vertical-align: top; width: 320px; height: 60px;margin: 0 10px;line-height: 60px; border-radius: 30px;color: #333; font-size: 28px; font-weight: 600; border: 2px solid #000}

/* 종이 쇼핑백 구매 옵션 UI 20191127 */
.category .product_info .list_product_option{margin-bottom: -35px;}
.category .product_info .list_product_option:after{content:"";display: block;clear: both;}
.category .product_info .list_product_option .count_select + .txt{padding-left: 20px;}
.option_add{width: 334px;box-sizing: border-box;border: 1px solid #e2e2e2;float: right;padding: 12px;}
.option_add dd{overflow: hidden;}
.option_add dd .count_select{float: left;}
.option_add dd .info{float: right;padding-top: 4px;}
.option_add dd .info a{padding: 0 0 0 5px}
.option_add .option_count + .option_count{border-top: 1px solid #e2e2e2;padding-top: 12px;margin-top: 14px;}
.category .product_info .option_add .option_count dt{margin-bottom: 2px;}

/* [S] 202007 올가 이용약관 동의 팝업 */
.terms_agree_layerpop .dim{opacity:.4}
.terms_agree_layerpop .trems_agree_wrap{position:fixed;top:50%;width:435px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.terms_agree_layerpop .trems_agree_wrap .inner{padding:34px 20px 40px}
.terms_agree_layerpop p,.terms_agree_layerpop .terms_list li{font-size:12px;color:#000;line-height:20px}
.terms_agree_layerpop .terms_title{display:block;padding-left:16px;font-size:18px;background:#a37e52;font-weight:400;color:#fff;line-height:44px;letter-spacing:-.5px;-webkit-box-sizing:border-box;box-sizing:border-box}
.terms_agree_layerpop .tems_info_wrap{position:relative;padding-top:31px}
.terms_agree_layerpop .btn_terms_detail{display:inline-block;position:absolute;top:0;right:0;min-width:116px;height:25px;padding:0 6px;border:1px solid #dedede;font-size:11px;color:#666;line-height:24px;text-align:center;-webkit-border-radius:2px;border-radius:2px}
.terms_agree_layerpop .terms_text{display:block;margin-top:19px;font-size:14px;color:#000;line-height:20px}
.terms_agree_layerpop .terms_text:first-child{margin:0}
.terms_agree_layerpop .modify_terms_wrap{border:1px solid #e2e2e2;font-size:0}
.terms_agree_layerpop .terms_area{display:inline-block;width:50%;border-left:1px solid #e2e2e2}
.terms_agree_layerpop .terms_area:first-child{border-left:0}
.terms_agree_layerpop .terms_area strong{display:block;background:#f9f9f9;font-size:12px;color:#666;text-align:center;line-height:34px}
.terms_agree_layerpop .terms_box{overflow:hidden;overflow-y:auto;max-height:140px;padding:14px 12px;font-size:11px;color:#666;line-height:18px}
.terms_agree_layerpop .ip_chk{display:block;margin-top:24px;text-align:center}
.terms_agree_layerpop .ip_chk span{display:inline-block;min-height:18px;height:18px;padding:0 0 0 24px;font-size:14px;color:#000}
.terms_agree_layerpop .ip_chk span:after{margin-top:-9px}
.terms_agree_layerpop .btn_wrap{margin-top:11px;font-size:0;text-align:center}
.terms_agree_layerpop .btn_wrap a{display:inline-block;width:auto;min-width:115px;height:47px;padding:0 10px;-webkit-border-radius:2px;;border-radius:2px;background-color:#604d44;font-size:14px;color:#fff;line-height:47px;margin-left:12px;margin-right:0;}
.terms_agree_layerpop .btn_wrap a:first-child{margin-left:0;}
.terms_agree_layerpop .btn_wrap .btn_gray{background-color:#a2a2a2}
.terms_agree_layerpop .btn_wrap .btn_green{width:175px;background-color:#8a993a}
/* [E] 202007 올가 이용약관 동의 팝업 */