@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 auto} 

/* common */
.event_wrap .evt_section{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{max-width:none;margin:0 0 auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk{position:absolute;top:86.6%;left:35%;width:30%;height:6.8%;padding:0;border:0}
