@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap ul,.event_wrap li{list-style:none}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;width:100%;margin:0 auto;;box-sizing:border-box}
.event_wrap .shop_pulmuone{display:inline-block;word-break:break-word}

.event_wrap .p_evt_sec1{padding-bottom:30px;background:#f3f3f3}
.event_wrap .p_evt_sec2{padding-bottom:60px;background:#fff}

.event_wrap .logo{display:none;width:88px;height:15px;background:url(https://www.orga.co.kr/images/promo/202104/0426_member_authority/img/img_logo.png) 0 0 no-repeat;background-size:100% auto;font-size:1px;color:transparent}
.event_wrap em{font-style:normal;font-weight:600}
.event_wrap .inner{padding:0 11.3888888%}
.event_wrap .authority_step .logo{display:block}
.event_wrap .authority_step .title{display:block;width:100%;height:44px;font-size:16px;font-weight:600;color:#333;background:#80c342;line-height:44px;text-align:center;border-radius:10px}
.event_wrap .authority_step .title .point{color:#fff}
.event_wrap .authority_step .step1{background:#f3f3f3}
.event_wrap .authority_step .step2{width:100%;background:url(https://www.orga.co.kr/images/promo/202104/0426_member_authority/img/sec2_bg.jpg) 0 0 no-repeat;background-size:100% auto}
.event_wrap .authority_step .desc{min-height:128px;padding:10px 0 58px;font-size:14px;color:#333;box-sizing:border-box;word-break:keep-all}
.event_wrap .authority_step .step2 .inner{padding-top:60px}
.event_wrap .authority_step .step2 .title{background-color:#009233}
.event_wrap .authority_step .step2 .desc{padding-bottom:0}
.event_wrap br{display:none}

.event_wrap .info_wrap{margin-top:53px}
.event_wrap .info_title{display:block;font-size:16px;font-weight:600;color:#333;line-height:20px}
.event_wrap .info_text{margin-top:16px;font-size:13px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .info_list{margin-top:12px}
.event_wrap .info_list li{position:relative;margin-top:10px;padding-left:25px;font-size:14px;color:#333;line-height:20px}
.event_wrap .info_list li:first-child{margin:0}
.event_wrap .info_list .num{display:inline-block;position:absolute;top:2px;left:0;width:19px;height:19px;background:#c6c6c6;font-size:11px;color:#fff;line-height:19px;text-align:center;border-radius:50%}

/*  */
/* .event_wrap .p_evt_sec3 .info_wrap{position:absolute;top:13.015184%;left:11.388888%;width:77.222222%;margin:0} */
.event_wrap .p_evt_sec3 .info_wrap{margin-top:0;padding-top:16.666667%;background:#f3f3f3 url(https://www.orga.co.kr/images/promo/202104/0426_member_authority/img/sec3_bg.jpg) 100% 0 no-repeat;background-size:100% auto}
.event_wrap .p_evt_sec3 .info_title{width:100%;min-height:44px;padding:10px 15px;font-size:16px;font-weight:600;color:#fff;background:#80c342;letter-spacing:-.5px;line-height:22px;word-break:keep-all;border-radius:10px;box-sizing:border-box}

/* counon info */
.event_wrap .coupon_list{margin-top:57px}
.event_wrap .coupon_list .coupon_item{margin-top:60px}
.event_wrap .coupon_list .coupon_item:first-child{margin:0}
.event_wrap .coupon_list .coupon_img{display:block;max-width:188px;margin:0 auto -30px}
.event_wrap .coupon_list .coupon_img img{width:100%}
.event_wrap .coupon_list .coupon_area{padding:46px 7.5539568% 27px;background:#f3f3f3;border-radius:12px;box-sizing:border-box}
.event_wrap .coupon_list .coupon_title{display:block;font-size:16px;font-weight:600;color:#333;line-height:20px}
.event_wrap .coupon_list .coupon_info{margin-top:14px}
.event_wrap .coupon_list .coupon_info li{position:relative}
.event_wrap .coupon_list .coupon_info p{position:relative;padding-left:67px;font-size:14px;color:#333;line-height:20px;word-break:break-word}
.event_wrap .coupon_list .coupon_info .point{display:inline-block;position:absolute;top:0;left:1px;width:70px;font-size:14px;font-weight:600;color:#333}
.event_wrap .coupon_list .coupon_info .point:before{display:inline-block;width:3px;height:3px;margin:-3px 3px 0 0;background:#333;vertical-align:middle;border-radius:100%;content:''}

/* more button */
.event_wrap .btn{position:absolute;top:80.5%;left:11%;width:78%;height:7.4%;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .btn_wrap{margin-top:60px;text-align:center}
.event_wrap .btn_apply{display:inline-block;position:relative;height:54px;padding:0 14px 0 35px;background:#e15441;font-size:16px;font-weight:600;color:#fff;text-align:center;letter-spacing:-1px;line-height:54px;border-radius:27px}
.event_wrap .btn_apply:after{display:inline-block;width:24px;height:24px;margin:-4px 0 0 8px;background:url(https://www.orga.co.kr/images/promo/202104/0426_member_authority/img/ico_arrow.png) 0 0 no-repeat;background-size:100% auto;vertical-align:middle;content:''}
.event_wrap .btn_lnk{position:absolute;border:0;left:30%;bottom:6%;width:40%;height:12%;background:url(about:blank) 0 0 no-repeat}

/* notice */
.event_wrap .evt_notice{margin-top:60px;padding:0 5.5555556%}
.event_wrap .notice_title{display:block;position:relative;padding-left:20px;border-top:2px solid #000;font-size:14px;font-weight:600;color:#221f1f;line-height:34px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:3px;width:15px;height:15px;margin-top:-8px;background:url(https://www.orga.co.kr/images/promo/202104/0426_member_authority/img/ico_notice.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:15px 0;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd}
.event_wrap .notice_list li{position:relative;padding-left:8px;font-size:12px;color:#221f1f;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:9px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#221f1f;border-radius:50%;content:''}


