@charset "utf-8";

/* common */
.evt_wide_wrap,.event_wrap{position:relative;max-width:none;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto}

.event_wrap .p_evt_sec3.is_soldout .dummy{position:absolute;top:4.6%;left:0;right:0;bottom:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/img_soldout.png) 0 0 repeat-y;background-size:100% auto}
.event_wrap .p_evt_noti.is_soldout .dummy{position:absolute;top:0;left:0;right:0;bottom:0;background:#111;opacity:.5;}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* prd items */
.event_wrap .p_evt_items1,.event_wrap .p_evt_items2{background:#112724}
.event_wrap .p_evt_items1:before{position:absolute;top:0;right:0;width:153px;height:252px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/item_bg1.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .product_list{padding:0 4.444445%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:47.5609756097561%;height:auto;margin:0 0 28px 4.878048%;vertical-align:top}
.event_wrap .product_list li:first-child{display:block;margin-left:0}
.event_wrap .product_list li:nth-child(2n){margin-left:0}

.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:40px;margin-top:8px;font-size:14px;font-weight:400;color:#fff;line-height:20px}
.event_wrap .product_info{display:block;margin-top:3px}
.event_wrap .percent{position:absolute;top:0;left:0;width:30px;height:30px;background:#87bf31;font-size:11px;color:#fff;text-align:center;line-height:30px}
.event_wrap .percent .num{font-size:13px}
.event_wrap .original{margin-right:4px;font-size:12px;color:#999}
.event_wrap .sale{display:inline-block;font-size:16px;font-weight:600;color:#fff}
.event_wrap .sale ins{text-decoration:none}

.event_wrap .p_evt_items2:before{position:absolute;top:0;left:0;width:153px;height:252px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/item_bg2.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .p_evt_items2 li:first-child{margin-left:auto}

/* notice */
.p_evt_noti{background:#f4f4f4}
.p_evt_noti2{background:#e8ebd5}
/* .p_evt_noti .inner{padding:7px 5% 47px}
.p_evt_noti .inner .notice_title{display:block;width:100%;height:54px;padding-left:30px;background:#333;font-size:20px;font-weight:600;color:#fff;line-height:54px} */
.p_evt_noti .evt_notice{padding:7px 5% 47px}
.p_evt_noti .sub_notice_title{display:block;font-size:13px;color:#111}
.p_evt_noti .notice_list{margin-top:3px}
.p_evt_noti .notice_list li{position:relative;padding-left:4px;color:#111;font-size:13px;font-weight:400;line-height:1.5;word-break:keep-all}
.p_evt_noti .notice_list li:before{position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#111;content:''}

/* radio check */
.event_wrap .evt_check_wrap{position:relative}
/* .event_wrap .items_wrap{overflow:hidden;position:absolute;top:23.9583333%;right:9.0277777%;left:9.0277777%;bottom:10.416666%;font-size:0} */
.event_wrap .items_wrap{overflow:hidden;position:absolute;top:22.77227%;right:7.222222%;left:7.222222%;bottom:6.60066%;font-size:0}
.event_wrap .items_wrap li{position:relative;display:inline-block;width:44.805194%;margin-left:10.389610%;vertical-align:top}
.event_wrap .items_wrap li:first-child{margin:0}
.event_wrap .items_wrap input[type="radio"]{position:absolute;top:0;left:0;opacity:0}
.event_wrap .items_wrap input[type="radio"] + label{display:block;padding-bottom:25px;text-align:center}
.event_wrap .items_wrap input[type="radio"] + label:before{position:absolute;left:50%;bottom:0;width:20px;height:20px;margin-left:-10px;border:none;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/sp_radio.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .items_wrap input[type="radio"]:checked + label:before{background-position:0 100%}
.event_wrap .items_wrap .sub_title{display:block;font-size:12px;color:#111;letter-spacing:-1.5px}
.event_wrap .items_wrap .title{display:block;font-size:12px;color:#111;word-break:keep-all}
.event_wrap .items_wrap .img_area{overflow:hidden;position:relative;display:block;width:100%;height:100%}
.event_wrap .items_wrap .img_area img{width:100%}
.event_wrap .items_wrap .cont_area{display:block;/*min-height:88px;*/padding-top:5px;box-sizing:border-box}
.event_wrap .items_wrap .label{position:relative;color:#333;text-align:center;line-height:1.4;}
.event_wrap .items_wrap li .img_area:before{position:absolute;top:0;left:-210px;width:88px;height:100%;background-color:#fff;transform:skewX(-45deg) translateX(0);opacity:.25;content:''}
.event_wrap .items_wrap li:hover .img_area:before{transform:skewX(-45deg) translateX(800px);transition: all 1s ease-in-out}

/* step */
.event_wrap .p_evt_step{height:75px}
.event_wrap .p_evt_step .evt_section{height:75px;background:#365e4d;border-bottom:3px solid #305344;box-sizing:border-box}
.event_wrap .p_evt_step .evt_section.is_fixed{position:fixed;top:0;z-index:1;width:100%}

.event_wrap .step_wrap{overflow:hidden;display:table;width:100%;height:75px;font-size:0;table-layout:fixed}
.event_wrap .step{position:relative;display:table-cell;height:100%;padding:0 10px;font-size:14px;font-weight:300;color:#fff;text-align:center;line-height:1.25;vertical-align:middle;word-break:keep-all;opacity:.6;}
.event_wrap .step_wrap .step:first-child:before{display:none}
.event_wrap .step_wrap .step:before{position:absolute;top:50%;left:0;width:13px;height:13px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/step_arrow.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .step_wrap .step .point{display:block}
.event_wrap .step_wrap .step.is_active{font-weight:500;opacity:1}


/* enroll */
.event_wrap .evt_enroll_wrap{position:relative;}
.event_wrap .btn_enroll{top:11%;left:19%;width:62%;height:44%}

.event_wrap .btn_lnk{top:35%;left:16%;width:67%;height:10%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;border:8px solid #365e4d;background:#112724;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:44px 0;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:23px;color:#fff;letter-spacing:-1px;letter-spacing:normal;line-height:1.4}
.layer_popup_wrap .popup_txt{margin-top:11px;font-size:13px;color:#fff;letter-spacing:-1px;line-height:1.4}
.layer_popup_wrap .btn_area{margin-top:18px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:33.478%;height:38px;padding:0;border:0;background:#fff;font-size:13px;color:#112724;letter-spacing:-1px;vertical-align:middle;line-height:38px;text-indent:0}