@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:500;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-440px;width:440px;height:100%;background:#f7f7f7;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-440px;width:440px;height:100%;background:#f7f7f7;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab,
.event_wrap .p_evt_tab:before,
.event_wrap .p_evt_tab:after{background:#1b433e}
.event_wrap .p_evt_sec1,
.event_wrap .p_evt_sec1:before,
.event_wrap .p_evt_sec1:after{background:#112724}
.event_wrap .p_evt_items1,
.event_wrap .p_evt_items1:after{background:#112724}
.event_wrap .p_evt_items1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_items_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2,
.event_wrap .p_evt_sec2:before{background:#112724}
.event_wrap .p_evt_sec2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_items2,
.event_wrap .p_evt_items2:before{background:#112724}
.event_wrap .p_evt_items2:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_items_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec3:before,
.event_wrap .p_evt_sec3:after{background:#f4f4f4}
.event_wrap .p_evt_noti,
.event_wrap .p_evt_noti:before,
.event_wrap .p_evt_noti:after{background:#f4f4f4}
.event_wrap .p_evt_step,
.event_wrap .p_evt_step:before,
.event_wrap .p_evt_step:after{background:#365e4d;border-bottom:3px solid #305344}
.event_wrap .p_evt_sec4,
.event_wrap .p_evt_sec4:before{background:#e8ebd5}
.event_wrap .p_evt_sec4:after{background:#e8ebd5 url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_sec4_bg_r.jpg) 0 100% no-repeat}
.event_wrap .p_evt_sec5:before{background:#e8ebd5 url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_sec5_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec5:after{background:#e8ebd5 url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_sec5_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_noti2,
.event_wrap .p_evt_noti2:before,
.event_wrap .p_evt_noti2:after{background:#e8ebd5}

.event_wrap .is_soldout .dummy{position:absolute;top:0;left:0;right:0;bottom:0;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/p_img_soldout.png) 0 0 no-repeat;}
.event_wrap .is_soldout .dummy:before{position:absolute;top:0;left:-440px;z-index:1;width:440px;height:100%;background:#868686;content:''}
.event_wrap .is_soldout .dummy:after{position:absolute;top:0;right:-440px;z-index:1;width:440px;height:100%;background:#868686;content:''}

/* tab */
/* .event_wrap .p_evt_tab{height:129px} */
/* .event_wrap .p_evt_tab.is_tab_fixed .evt_section{position:fixed;z-index:10;top:0;left:50%;bottom:auto;width:100%;margin:0 auto;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)} */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.33%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* prd items */
.event_wrap .product_list{padding:0 20px;font-size:0}
.event_wrap .product_list li{display:inline-block;width:300px;height:auto;margin:0 0 55px 40px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:90px;margin-top:14px;font-size:20px;font-weight:400;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block;margin-top:5px}
.event_wrap .percent{position:absolute;top:0;left:0;width:58px;height:58px;border:1px solid #87bf31;background:#87bf31;font-size:16px;color:#fff;text-align:center;line-height:58px}
.event_wrap .percent .num{margin-right:2px;font-size:24px}
.event_wrap .original{margin-right:7px;font-size:16px;color:#999}
.event_wrap .sale{display:inline-block;font-size:30px;font-weight:600;color:#fff}
.event_wrap .sale ins{text-decoration:none}


/* notice */
/* .p_evt_noti .inner{padding:70px 0}
.p_evt_noti .inner .notice_title{display:block;width:100%;height:54px;padding-left:30px;background:#333;font-size:20px;font-weight:600;color:#fff;line-height:54px} */
.p_evt_noti .evt_notice{padding:13px 20px 93px}
.p_evt_noti .sub_notice_title{display:block;font-size:20px;color:#111}
.p_evt_noti .notice_list{margin-top:10px}
.p_evt_noti .notice_list li{position:relative;padding-left:14px;color:#111;font-size:20px;font-weight:300;line-height:35px;word-break:keep-all}
.p_evt_noti .notice_list li:before{position:absolute;top:17px;left:1px;width:3px;height:3px;background-color:#111;border-radius:50%;content:''}


/* radio check */
.event_wrap .evt_check_wrap{position:relative}
.event_wrap .items_wrap{overflow:hidden;position:absolute;top:138px;right:215px;left:215px;bottom:60px;font-size:0}
.event_wrap .items_wrap li{position:relative;display:inline-block;width:250px;margin-left:90px;vertical-align:top}
.event_wrap .items_wrap li:first-child{margin:0}
.event_wrap .items_wrap input[type="radio"]{position:absolute;top:0;left:0;opacity:0}
.event_wrap .items_wrap input[type="radio"] + label{display:block;padding-bottom:40px;text-align:center}
.event_wrap .items_wrap input[type="radio"] + label:before{position:absolute;left:50%;bottom:0;width:40px;height:40px;margin-left:-20px;border:none;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/sp_radio.png) 0 0 no-repeat;content:''}
.event_wrap .items_wrap input[type="radio"]:checked + label:before{background-position:0 100%}
.event_wrap .items_wrap .sub_title{display:block;font-size:20px;color:#111;letter-spacing:-1.5px}
.event_wrap .items_wrap .title{display:block;font-size:20px;color:#111;word-break:keep-all}
.event_wrap .items_wrap .img_area{overflow:hidden;position:relative;display:block;width:100%;height:100%}
.event_wrap .items_wrap .img_area img{width:100%}
.event_wrap .items_wrap .cont_area{display:block;min-height:88px;padding-top:15px;box-sizing:border-box}
.event_wrap .items_wrap .label{position:relative;color:#333;text-align:center;line-height:1.4;}
.event_wrap .items_wrap li .img_area:before{position:absolute;top:0;left:-210px;width:88px;height:100%;background-color:#fff;transform:skewX(-45deg) translateX(0);opacity:.25;content:''}
.event_wrap .items_wrap li:hover .img_area:before{transform:skewX(-45deg) translateX(800px);transition: all 1s ease-in-out}

/* step */
.event_wrap .p_evt_step{height:120px;}
.event_wrap .p_evt_step .evt_section{height:120px;background:#365e4d;border-bottom:3px solid #305344;box-sizing:border-box}
.event_wrap .p_evt_step .evt_section.is_fixed{position:fixed;top:0;z-index:1;width:100%}

.event_wrap .step_wrap{overflow:hidden;display:table;width:100%;height:120px;font-size:0;table-layout:fixed}
.event_wrap .step{position:relative;display:table-cell;height:100%;padding:0 10px;font-size:24px;font-weight:300;color:#fff;text-align:center;line-height:1.25;vertical-align:middle;word-break:keep-all;opacity:.6;}
.event_wrap .step_wrap .step:first-child:before{display:none}
.event_wrap .step_wrap .step:before{position:absolute;top:47px;left:-13px;width:26px;height:26px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1204_home_party/img/step_arrow.png) 0 0 no-repeat;content:''}
.event_wrap .step_wrap .step .point{display:block}
.event_wrap .step_wrap .step.is_active{font-weight:500;opacity:1;}

/* enroll */
.event_wrap .evt_enroll_wrap{position:relative;}
.event_wrap .btn_enroll{top:10%;left:27%;width:46%;height:45%}

.event_wrap .btn_lnk{top:35%;left:27%;width:46%;height:11%}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:560px;margin:0 10px;border:8px solid #365e4d;background:#112724;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:47px 76px 61px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:32px;color:#fff;line-height:44px;letter-spacing:-1px}
.layer_popup_wrap .popup_txt{margin-top:18px;font-size:22px;color:#fff;letter-spacing:-1px;line-height:1.2}
.layer_popup_wrap .btn_area{margin-top:30px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area a.btn_cancel{display:inline-block;position:relative;width:154px;height:54px;background:#fff;font-size:24px;color:#112724;letter-spacing:-1px;vertical-align:middle;line-height:54px;text-indent:0}
 