@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec2,
.event_wrap .p_evt_sec4{background:#e8ece9}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:640px;left:40px;width:1088px;display:flex;justify-content:space-between;flex-wrap:wrap;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa/img/1101/object/p_nav_bg.png) no-repeat}
.event_wrap .evt_nav_wrap li{position:relative;width:200px;height:250px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li img{margin:0 !important}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:27.3%;right:27.3%;height:60px}
.event_wrap .btn_lnk2{top:0;left:27.3%;right:27.3%;height:60px}

/* 쿠폰리스트 */
.event_wrap .coupon_list{padding-bottom:80px}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;gap:0 8px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;border:1px solid #e1e1e1;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{margin-top:30px;text-align:center}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#333}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* soldout */
.event_wrap .product_list .dimm_soldout{display:block;position:absolute;width:100%;height:250px;background:rgba(0,0,0,.8);font-size:22px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;color:#fff;pointer-events:none;cursor:not-allowed;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;z-index:2}
.event_wrap .product_list .dimm_soldout strong{margin-top:10px;font-size:36px;text-decoration:underline;text-underline-position:under}
.event_wrap .product_list .dimm_soldout + a{cursor:not-allowed;pointer-events:none}

/* product */
.desktop .fb__event .event__stamp ul.product_list{display:flex;flex-wrap:wrap;gap:0 29px;margin-left:40px;margin-top:-61px;width:auto;padding:0}
.desktop .fb__event .event__stamp ul.product_list li{width:250px;height:auto;margin:0;vertical-align:top}
.desktop .fb__event .event__stamp ul.product_list a{display:block;width:100%;height:100%}
.desktop .fb__event .event__stamp ul.product_list .inner{position:relative}

.desktop .fb__event .event__stamp .stamp__step ul.product_list span{position:relative;-webkit-transform:rotate(0);transform:rotate(0deg);width:auto;justify-content:flex-start;line-height:26px;font-weight:normal}

.desktop .fb__event .event__stamp ul.product_list .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:250px;background:#fff;padding:0}
.desktop .fb__event .event__stamp ul.product_list .product_img img{position:relative;height:100%;margin:0 !important}
.desktop .fb__event .event__stamp ul.product_list .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:56px}
.desktop .fb__event .event__stamp ul.product_list .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#333;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px;letter-spacing:-1.8px}
.desktop .fb__event .event__stamp ul.product_list .original{flex-basis:100%}
.desktop .fb__event .event__stamp ul.product_list .original del{font-size:18px;color:#333;letter-spacing:-.6px;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .sale{margin-top:4px}
.desktop .fb__event .event__stamp ul.product_list .sale ins{font-size:24px;font-weight:600;color:#333;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .sale .won{font-size:18px;font-weight:500;color:#333;margin-left:0}
.desktop .fb__event .event__stamp ul.product_list .percent{margin:4px 0 0 8px}
.desktop .fb__event .event__stamp ul.product_list .percent .num{font-size:24px;font-weight:600;color:#ff752a;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .percent .unit{font-size:24px;font-weight:600;color:#ff752a;margin-left:0;font-family:'Lato'}
.desktop .fb__event .event__stamp ul.product_list .tag{position:absolute;top:0;left:0;width:64px;height:64px;background:#ff752a;font-size:26px;color:#fff;font-weight:700;;font-family:'Lato';display:flex;justify-content:center;align-items:center}

/* product 선착순특가 */
.desktop .fb__event .event__stamp ul.product_list.list1{position:absolute;top:373px;margin-top:0}
.desktop .fb__event .event__stamp ul.product_list.list1 .original{flex-basis:auto;margin:6px 8px 0 0}
.desktop .fb__event .event__stamp ul.product_list.list1 .sale{margin-top:0}

/* notice */
.event_wrap .p_evt_noti{background:#e8ece9 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa/img/1101/p_img_noti.jpg) bottom center no-repeat}
.event_wrap .evt_notice{padding:0 40px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#5dd5dd url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202311/1101_full_festa/img/1101/p_img_noti2.jpg) bottom center no-repeat}
.event_wrap .noti3{background:#6479e3}
.event_wrap .noti3 .notice_title{border-top:4px solid #fff;color:#fff}
.event_wrap .noti3 .notice_title:before{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat}
.event_wrap .noti3 .notice_list{border-top:1px solid rgba(255,255,255,.2) !important;border-bottom:1px solid rgba(255,255,255,.2) !important}
.event_wrap .noti3 .notice_list li{color:#fff !important}
.event_wrap .noti3 .notice_list li:before{background-color:#fff !important}

/* stemp css 추가 */
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0 0 50px;padding:12px 20px 33px;border-top:1px solid  rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step{background-size:unset !important;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:480px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:197px !important;height:196px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc{font-weight:300 !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em{color:#6acc0c}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#6acc0c !important;color:#fff !important}

.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}
.nav_motion.motion3{-webkit-animation-delay:1.2s;animation-delay:1.2s}
.nav_motion.motion4{-webkit-animation-delay:1.8s;animation-delay:1.8s}
.nav_motion.motion5{-webkit-animation-delay:2.4s;animation-delay:2.4s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}

/* motion */
.motion_box{overflow:hidden}
.motion_box img{margin:0 !important}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 7s 0s ease-in-out infinite both;animation:bounce-left 7s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 7s 0s ease-in-out infinite both;animation:bounce-right 7s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:-16px;left:264px}
.motion_box .object2{position:absolute;top:285px;left:200px;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:214px;left:301px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:85px;left:155px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
.motion_box .object5{position:absolute;top:225px;left:26px;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object6{position:absolute;top:110px;left:775px;-webkit-animation-delay:0.3s;animation-delay:0.3s}
.motion_box .object7{position:absolute;top:-90px;left:145px}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -20px);
            transform:translate(0, -20px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-100px, -140px);
            transform:translate(-100px, -140px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-100px, -140px);
            transform:translate(-100px, -140px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(80px, -150px);
            transform:translate(80px, -150px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(80px, -150px);
            transform:translate(80px, -150px);
    opacity: 0;
  }
  15%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
