@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* 게릴라 날짜 */
.event_wrap .date_wrap{padding-bottom:6.25vw;text-align:center;box-sizing:border-box}
.event_wrap .date_wrap:before{position:absolute;top:5.1vw;left:10.833vw;width:24vw;height:1px;background-color:#333;content:''}
.event_wrap .date_wrap:after{position:absolute;top:5.1vw;right:10.833vw;width:24vw;height:1px;background-color:#333;content:''}
.event_wrap .date_wrap .date{display:block;font-size:8.333vw;color:#333;font-weight:900;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .date_wrap .desc{display:block;margin-right:5px;font-size:3.5vw;color:#333;font-weight:500;letter-spacing:-0.8px}

/* 쿠폰 */
.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 3.88vw;margin-bottom:1vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw}
.event_wrap .coupon_item_info .info_name.lspacing{letter-spacing:-0.1vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-0.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:530% auto;background-position:0 22%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:2.3vw}
.event_wrap .coupon_desc span{display:block;font-size:3.4vw;margin-top:2vw}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:45px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 28.194vw}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:9.3vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202202/0221_guerrilla_coupon/img/btn_download.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}

.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}