@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:3.5%;right:3.5%;height:280px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:60px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
