@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;position:absolute;top:0;left:0;width:100%;height:100%;background:#ff879b}
.event_wrap .evt_nav_wrap li{position:relative;flex:1}
.event_wrap .evt_nav_wrap li a{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:4.4444vw;line-height:1.2;font-weight:600;color:#fff;text-align:center}
.event_wrap .evt_nav_wrap li:not(:last-child)::after{content:'';position:absolute;top:0;right:0;width:1px;height:100%;background:#ffc3cd}
.event_wrap .evt_nav_wrap li.on a{color:#fff}

.event_wrap .p_evt_nav{padding-top:13.8889vw}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:10;width:100%;height:13.8889vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}

/* items_list */
.event_wrap .items_list{position:absolute;top:44vw;left:14vw;right:14vw}
.event_wrap .items_list li{width:100%;height:106vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* page */
.event_wrap .p_evt_tit::after{content:'';position:absolute;top:70.8vw;left:59.3056vw;width:29.4444vw;height:40.6944vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202503/0303_amio_springtime/img/object/object.png) 100%/100% no-repeat;z-index:15}
.event_wrap .p_evt_sec2{background:#fff8db;padding-bottom:5.5556vw}
.event_wrap .p_evt_noti{background:#fff8db}
