@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;align-items:center;height:100%}
.event_wrap .evt_nav_wrap li{position:relative;flex:1}
.event_wrap .evt_nav_wrap li a{display:block;font-size:26px;line-height:58px;font-weight:600;color:#fff;text-align:center}
.event_wrap .evt_nav_wrap li:not(:last-child)::after{content:'';position:absolute;top:0;right:0;width:1px;height:100%;background:#ffc3cd}
.event_wrap .evt_nav_wrap li.on a{color:#fff}

.event_wrap .p_evt_nav{background:#ff879b;padding-top:58px}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;transform:translateX(-50%);height:100%;z-index:6}

.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:0;height:58px;z-index:5}
.event_wrap .p_evt_nav.is_fixed .evt_section::before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);width:1920px;height:100%;background:#ff879b;z-index:-1}

/* items_list */
.event_wrap .items_list{position:absolute;top:21%;left:5%;right:5%;height:70%;display:flex}
.event_wrap .items_list li{width:50%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* page */
.event_wrap .p_evt_tit::after{content:'';position:absolute;top:270px;left:50%;width:212px;height:293px;margin-left:68px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202503/0303_amio_springtime/img/object/object.png) no-repeat;z-index:5}
.event_wrap .p_evt_sec2{background:#fff8db;padding-bottom:16px}
.event_wrap .p_evt_noti{background:#fff8db}
