@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#f4f4f4}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:90.5555vw;left:5.5555%;right:5.5555%;height:26.5%;display:flex;justify-content:space-between;align-content:space-between;flex-wrap:wrap;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1116_full_festa_member/img/object/m_nav_bg.png) no-repeat;background-size:100% auto}
.event_wrap .evt_nav_wrap li{position:relative;width:48.4%;height:52.8%;margin:0}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:5%;right:5%;height:50%}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;width:calc(100vw - 5.556vw);margin:-14.027vw 5.556vw 0 5.556vw}
.event_wrap .product_list li{width:43.056vw;margin-right:2.778vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:43.056vw;max-width:43.056vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw;margin-left:-2.2vw !important}
.event_wrap .product_info{display:block;padding:2.7777vw 0 8.3333vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0 0 2vw}
.event_wrap .percent{display:inline-block;margin-left:1.111vw}
.event_wrap .percent .num{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:4.44444vw;font-weight:600;color:#ff7828;font-family:'Lato'}
.event_wrap .original{display:block}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

/* notice */
.event_wrap .p_evt_noti{background:#8bc23e}
.event_wrap .evt_notice{padding:50px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#f4f4f4}
.event_wrap .noti2 .evt_notice{padding-top:0}
.event_wrap .notice_list strong{color:#f6ff00}

.event_wrap .roulette_desc{font-size:3.3333vw;text-align:center;color:#fff}

/* template */
.mobile .fb .event__roulette__wrap, .tablet .fb .event__roulette__wrap{overflow:hidden;min-height:auto;padding-top:100%;background:#8bc23e}
.mobile .fb__event .event__roulette__wrap .roulette{width:91.388vw;height:91.388vw}
.mobile .fb .event__roulette__wrap .roulette__background, .tablet .fb .event__roulette__wrap .roulette__background{display:none}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-2.5vw;width:7.916vw;margin-left:-3.8vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}

/* nav motion */
.nav_motion{-webkit-animation:bounce-nav 3s 0s ease-in-out infinite both;animation:bounce-nav 3s 0s ease-in-out infinite both}
.nav_motion.motion1{-webkit-animation-delay:0s;animation-delay:0s}
.nav_motion.motion2{-webkit-animation-delay:0.6s;animation-delay:0.6s}

@-webkit-keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}
@keyframes bounce-nav {
  0%, 16%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  7% {
    -webkit-transform:translateY(-10px);
            transform:translateY(-10px);
  }
}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box .motion1{-webkit-animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both;animation:text-focus-in 1s ease-in-out both, bounce-top 5s 1s infinite both}
.motion_box .motion2{-webkit-animation:bounce-bottom 5s 0s infinite both;animation:bounce-bottom 5s 0s infinite both}
.motion_box .motion4{-webkit-animation:bounce-left 6s 0s ease-in-out infinite both;animation:bounce-left 6s 0s ease-in-out infinite both}
.motion_box .motion5{-webkit-animation:bounce-right 6s 0s ease-in-out infinite both;animation:bounce-right 6s 0s ease-in-out infinite both}
.motion_box .object1{position:absolute;top:5.2%;left:9%;width:82%}
.motion_box .object2{position:absolute;top:36.5%;left:2%;width:95%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object3{position:absolute;top:28.9%;left:13%;width:75%;-webkit-animation-delay:0.6s;animation-delay:0.6s}
.motion_box .object4{position:absolute;top:15%;left:-6%;width:34%;-webkit-animation-delay:0.2s;animation-delay:0.2s}
.motion_box .object5{position:absolute;top:14%;left:70%;width:50%;-webkit-animation-delay:0.4s;animation-delay:0.4s}
.motion_box .object7{position:absolute;top:-10.5%;left:0;width:100%;}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}
@keyframes bounce-top {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, -15px);
            transform:translate(0, -15px);
  }
}

@-webkit-keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}
@keyframes bounce-bottom {
  0%, 100% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
  50% {
    -webkit-transform:translate(0, 15px);
            transform:translate(0, 15px);
  }
}

@-webkit-keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-left {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(-50px, -70px);
            transform:translate(-50px, -70px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
@keyframes bounce-right {
  0%, 10% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    -webkit-transform:translate(50px, -80px);
            transform:translate(50px, -80px);
    opacity: 0;
  }
  16%, 85% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
