@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:24%}
.event_wrap .btn_lnk2{top:0;left:0;right:0;height:24%}

/* product */
.event_wrap .p_evt_tit .product_item{position:absolute;top:100vw;left:0;right:0}

/* page */
.event_wrap .p_evt_sec1{background:#5b6743;padding-bottom:11.1111vw}
.event_wrap :is(.p_evt_sec2, .p_evt_sec3){background:#eee}
