@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{position:relative;min-width:1200px;max-width:1920px;margin:0 auto;overflow:hidden}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:35%}
.event_wrap .btn_lnk2{top:0;left:0;right:0;height:35%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:80px;right:40px}
.event_wrap .info_desc{position:absolute;top:282px;left:32px;text-align:left}

/* product */
.event_wrap .p_evt_tit .product_item{position:absolute;top:623px;left:0;right:0}

/* page */
.event_wrap :is(.p_evt_sec2, .p_evt_sec3){background:#eee}
.event_wrap .p_evt_sec2::before{content:'';display:block;height:120px;background:#eee}
