@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{position:absolute;top:19%;bottom:0;width:100%}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 16.6666vw !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:13.0555vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202204/0418_greenjuice/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* top animation */
.event_wrap .motion_box{position:absolute;width:100%;height:100%;top:0;left:0;overflow:hidden}
.event_wrap .motion_box img{-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.event_wrap .motion_box div{position:absolute;left:50%;transform:translate(-50%, 0)}
.event_wrap .motion_box .month{width:16.666%;margin-top:-4.1vw}
.event_wrap .motion_box .txt1{width:62.5%;margin-top:18.2%}
.event_wrap .motion_box .txt2{width:46.6%;margin-top:33%}
.event_wrap .motion_box span{display:block;animation:slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both}
.event_wrap .motion_box .delay-0{animation-delay:0.5s !important}
.event_wrap .motion_box .delay-1{animation-delay:1s !important}
.event_wrap .motion_box .delay-2{animation-delay:1.2s !important}
.event_wrap .motion_box .object{position:absolute;width:100%;bottom:0;animation:text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}

@keyframes slide-left {
    0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    }
    100% {
    opacity: 1;
    -webkit-transform: translateY(4.1vw);
            transform: translateY(4.1vw);
    }
}
@keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}
