@charset "utf-8";


/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .product_img img{margin:0}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap .slide_wrap img{margin:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}
.event_wrap .evt_section .product_img img{margin:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* tab */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:15%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .p_evt_noti.noti2,
.event_wrap .p_evt_noti.noti2:after{background:#f4f4f4}
.event_wrap .evt_notice{padding:60px 0 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_coupon{top:41%;left:38.7%;width:22.6%;height:32.3%}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{position:relative;max-width:1920px;width:100%;margin:0 auto;padding:0;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:100%;height:100%;background:#80c342;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202110/1004_shopping/img/btn_apply.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* list */
.event_wrap .prd_list{position:absolute;top:38.5%;left:0;width:100%;height:50%}
.event_wrap .prd_list li{width:100%;height:50%}
.event_wrap .prd_list a{display:block;width:100%;height:100%}

