@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

/* link */
.event_wrap .btn_lnk1{top:92.5%;left:14.5%;width:71%;height:5%}
.event_wrap .btn_lnk2{top:83.5%;left:26.5%;width:48%;height:10.5%}

/* mobile */
.event_wrap.mevt .evt_section{max-width:720px}
.event_wrap.mevt img{width:100%}

/* link */
.event_wrap.mevt .btn_lnk1{top:92.5%;left:5.5%;width:92%;height:5%}
.event_wrap.mevt .btn_lnk2{top:84.5%;left:5.5%;width:92%;height:9%}
