@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#63c2f5}
.event_wrap .p_evt_sec2{background:#70c007}
.event_wrap .p_evt_sec3{background:#f4f4f4}

/* button */
.event_wrap .btn_move{display:block;position:relative;width:66.6666vw;margin-left:27.7777vw;overflow:hidden}
.event_wrap .btn_move .txt{position:absolute;top:0;left:0}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;z-index:80}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:28.0555vw}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;width:22.2222vw;height:100vh;background:#f4f4f4;z-index:10}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
/* .event_wrap .p_evt_nav{padding-top:13.8889vw} */

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202304/0403_earth_day/img/0403/evt_nav_on.jpg);background-size:100% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position:0 50%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position:0 100%}

/* 쿠폰리스트 */
.event_wrap .coupon_list{padding-bottom:13.6111vw;margin-left:22.2222vw}
.event_wrap .coupon_list ul li:nth-child(2){margin-top:8.0555vw}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61vw;margin-left:16.9444vw}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:4.8611vw;color:#fff}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:0.1vw}
.event_wrap .coupon_desc span small{font-size:3.6vw;vertical-align:sub}

/* notice */
.event_wrap .p_evt_noti{background:#63c2f5}
.event_wrap .evt_notice{padding:0 5.555555%;margin-left:22.2222vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto !important;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#70c007}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin:0 5.5555vw 0 27.7777vw}
.event_wrap .product_list li{width:100%;margin-bottom:5.556vw;vertical-align:top;background:#fff}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;display:flex;align-items:center;font-size:0}

.event_wrap .product_img{display:block;overflow:hidden;min-width:33.3333vw;max-width:33.3333vw;height:33.3333vw}
.event_wrap .product_img img{min-width:100%;max-width:100%}
.event_wrap .product_info{display:block;padding:0 3vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:3.6111vw;font-weight:500;color:#222;line-height:4.8611vw;letter-spacing:-.4px;word-break:keep-all;margin:0.2vw 0 0.694vw}
.event_wrap .percent{display:inline-block;margin-left:1.111vw}
.event_wrap .percent .num{display:inline-block;font-size:3.8888vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:3.8888vw;font-weight:600;color:#ff752a;font-family:'Lato'}
.event_wrap .original{display:block;margin:1.389vw 0 0.5vw 0}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale ins{display:inline-block;font-size:3.8888vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.6111vw;font-weight:500;color:#222}

.event_wrap .item_desc{font-size:3.33333vw;text-align:center;letter-spacing:-.2px;padding:8.3333vw 0 13.8888vw 22.2222vw}

/* motion */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .txt1{width:55%;top:49%;left:22%;z-index:31}
.motion_box .txt2{width:100%;bottom:0;left:0;z-index:32}
.motion_box .object1{width:72%;top:43%;left:14.5%;z-index:30}
.motion_box .object2{width:33%;top:39%;left:7%;z-index:5}
.motion_box .object3{width:8.5%;top:50%;left:9.5%;z-index:31}
.motion_box .object4{width:6.5%;top:45%;left:26%;z-index:31;-webkit-animation-duration:8s !important;animation-duration:8s !important;-webkit-animation-direction:reverse !important;animation-direction:reverse !important;}
.motion_box .object5{width:7.2%;top:37.3%;left:56.6%;z-index:31;-webkit-animation-delay:1s !important;animation-delay:1s !important}
.motion_box .object6{width:7%;top:63%;left:83%;z-index:32}
.motion_box .object7{width:17%;top:38.5%;left:66%;z-index:31}
.motion_box .item1{width:45%;top:24.5%;left:-8%;z-index:10}
.motion_box .item2{width:43%;top:-100%;left:21.5%;z-index:9}
.motion_box .item3{width:65%;top:-4%;left:46%;z-index:7}
.motion_box .item4{width:42%;top:49%;left:75%;z-index:4}
.motion_box .item5{width:38%;top:4.4%;left:-12%;z-index:5}
.motion_box .item7{width:22.5%;top:23%;left:85%;z-index:8}
.motion_box .item8{width:17%;top:-100%;left:67%;z-index:5}
.motion_box .curcle{border-radius:500px;background:#fff;z-index:31}
.motion_box .curcle1{width:18.5vw;height:18.5vw;top:68%;left:4%}
.motion_box .curcle2{width:12vw;height:12vw;top:71%;left:20%;-webkit-animation-delay:-2s !important;animation-delay:-2s !important}
.motion_box .curcle3{width:17vw;height:17vw;top:69%;left:28.2%}
.motion_box .curcle4{width:16vw;height:16vw;top:70.5%;left:42.2%}
.motion_box .curcle5{width:11vw;height:11vw;top:70%;left:55%}
.motion_box .curcle6{width:9vw;height:9vw;top:71%;left:61%;-webkit-animation-delay:1s !important;animation-delay:1s !important}
.motion_box .curcle7{width:29vw;height:29vw;top:66%;left:67%}
.motion_box .dimm{width:100%;height:30%;top:73.5%;left:0;background:#fff;z-index:31}

.motion_box .motion1{animation:rotate-center 45s 0s linear infinite both}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.motion_box .motion2{animation:curcle-scale 2.8s 0s ease-in-out infinite both}
@keyframes curcle-scale {
  0%, 100% {
    -webkit-transform: scale(0.9) translate(4px, 0);
            transform: scale(0.9) translate(4px, 0);
  }
  50% {
    -webkit-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }
}

.motion_box .motion3{animation:curcle-scale2 3s 0s ease-in-out infinite both}
@keyframes curcle-scale2 {
  0%, 100% {
    -webkit-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }
  50% {
    -webkit-transform: scale(0.9) translate(-3px, 0);
            transform: scale(0.9) translate(-3px, 0);
  }
}

.motion_box .motion4{animation:fade 4s 0s ease-in-out infinite both, rotate-center 35s 0s linear infinite both}
@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.motion_box .motion5{animation:slide-up 4s 0s ease-in-out infinite both}
@keyframes slide-up {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(-5px, 15px);
            transform: translate(-5px, 15px);
  }
}

.motion_box .motion6{animation:scale 1.5s 0s ease-in-out infinite both}
@keyframes scale {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.motion_box .motion10{animation:wobble 3s 0s ease-in-out infinite, rise10 8s 0s linear forwards}
.motion_box .motion20{animation:wobble 3s 0s ease-in-out infinite, rise 14s 0s linear infinite}

.motion_box .motion21{animation:wobble2 3s 0s ease-in-out infinite, rise2 16s 0s linear infinite}

.motion_box .motion12{animation:wobble2 4s 0s ease-in-out infinite, rise30 6s 0.5s linear forwards}
.motion_box .motion22{animation:wobble2 4s 0s ease-in-out infinite, rise 10s 0.5s linear infinite}

.motion_box .motion13{animation:wobble 2s 0s ease-in-out infinite, rise40 14s 2s linear infinite}

.motion_box .motion14{animation:wobble 4s 0.1s ease-in-out infinite, rise50 10s 1s linear forwards}
.motion_box .motion24{animation:wobble 4s 0.1s ease-in-out infinite, rise2 24s 1s linear infinite}

.motion_box .motion16{animation:wobble3 2s 0s ease-in-out infinite, rise70 4.5s 1.5s linear forwards}
.motion_box .motion26{animation:wobble3 2s 0s ease-in-out infinite, rise 7.5s 1.5s linear infinite}

.motion_box .motion27{animation:wobble3 2.5s 0s ease-in-out infinite, rise2 20s 0s linear infinite}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(35px) rotate(-3deg);
            transform: translateX(35px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateX(-15px) rotate(8deg);
            transform: translateX(-15px) rotate(8deg);
  }
}
@keyframes wobble2 {
  0%, 100% {
    -webkit-transform: translateX(20px) rotate(-7deg);
            transform: translateX(20px) rotate(-7deg);
  }
  50% {
    -webkit-transform: translateX(-5px) rotate(9deg);
            transform: translateX(-5px) rotate(9deg);
  }
}
@keyframes wobble3 {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-17px) rotate(9deg);
            transform: translateX(-17px) rotate(9deg);
  }
}

@keyframes rise {
  0% {
    top: calc(100% + 43%);
  }
  100% {
    top: -500px;
  }
}
@keyframes rise2 {
  0% {
    top: calc(100% + 40%);
  }
  100% {
    top: -300px;
  }
}

@keyframes rise10 {
  0% {
    top: 43%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise30 {
  0% {
    top: -4%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise40 {
  0% {
    top: 49%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise50 {
  0% {
    top: 4.4%;
  }
  100% {
    top: -600px;
  }
}
@keyframes rise70 {
  0% {
    top: 23%;
  }
  100% {
    top: -600px;
  }
}
