@charset "utf-8";

/* common */
.event_wrap{max-width:720px;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto}

/* tab */
.event_wrap .evt_tab_wrap{position:absolute;top:76%;left:15%;width:70%;height:23%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .evt_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .evt_tab_wrap a{display:block;width:100%;height:100%}

.event_wrap .evt_tab_0123{display:none}
.event_wrap .evt_tab{display:block}

.event_wrap .evt_0123 .evt_tab_0123{display:block}
.event_wrap .evt_0123 .evt_tab{display:none}
.event_wrap .evt_0123 .evt_tab_wrap{top:75%;height:25%}
.event_wrap .evt_0123 .evt_tab_wrap li:first-child{display:none}
.event_wrap .evt_0123 .evt_tab_wrap li{width:50%}
.event_wrap .evt_0123 + .p_evt_deal{display:none}

/* deal */
.event_wrap .p_evt_deal{background:#375d4f}
.event_wrap .btn_wrap{position:relative}
.event_wrap .btn_buy{position:absolute;right:22.222223%;left:22.222223%;bottom:0;padding-top:13.3333333333%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/deal_btn.png) 0 0 no-repeat;background-size:100% auto;pointer-events:none;cursor:not-allowed;text-decoration:none}
.event_wrap .deal_opened .btn_buy{background-position:0 50%;pointer-events:auto;cursor:pointer}
.event_wrap .deal_soldout .btn_buy{background-position:0 100%}
.event_wrap .deal_notice{padding:33px 6.52777% 36px;font-size:11px;color:#333;text-align:center;letter-spacing:-1px}

/* prduct list */
.event_wrap .product_list{position:absolute;top:15.2%;left:7%;width:86%;height:76.2%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .product_list li{width:100%;height:16.66666%}
.event_wrap .product_list a{display:block;width:100%;height:100%}

/* btn */
.event_wrap .btn_lnk{top:52.3%;left:30%;width:40%;height:21.2%}
.event_wrap .btn_apply{top:84%;left:22%;width:56%;height:6.7%}

/* notice */
.event_wrap .p_evt_sec3{background:#2b323c}
.event_wrap .evt_notice{padding:23px 5.83333333% 72px}
.event_wrap .notice_list{padding-bottom:24px;border-bottom:1px solid #555b63}
.event_wrap .notice_list li{position:relative;padding-left:8px;color:#eae7e2;font-size:12px;font-weight:300;line-height:24px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:2px;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#eae7e2;border-radius:50%;content:''}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;padding-top:13%;margin:0;border:none;background:none}