@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_deal{background:#35564a}
.event_wrap .p_evt_deal:before{background:#35564a url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_deal_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_deal:after{background:#35564a url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_deal_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before,.event_wrap .p_evt_sec1:after{background:#e6e3da}
.event_wrap .p_evt_sec2:before{background:#35564a url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:#35564a url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#2b323c}


/* tab */
.event_wrap .evt_tab_wrap{position:absolute;top:46%;left:6%;width:22%;height:25%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{width:100%;height:33.33334%}
.event_wrap .evt_tab_wrap a{display:block;width:100%;height:100%}

.event_wrap .evt_tab_0123{display:none}
.event_wrap .evt_tab{display:block}

.event_wrap .evt_0123 .evt_tab_0123{display:block}
.event_wrap .evt_0123 .evt_tab{display:none}
.event_wrap .evt_0123 .evt_tab_wrap li:first-child{display:none}
.event_wrap .evt_0123 + .p_evt_deal{display:none}


/* deal */
.event_wrap .btn_wrap{position:relative}
.event_wrap .btn_buy{position:absolute;right:107px;bottom:45px;width:333px;height:80px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202101/0118_seollal/img/p_deal_btn.png) 0 0 no-repeat;pointer-events:none;cursor:not-allowed;text-decoration:none}
.event_wrap .deal_opened .btn_buy{background-position:0 50%;pointer-events:auto;cursor:pointer}
.event_wrap .deal_soldout .btn_buy{background-position:0 100%}
.event_wrap .deal_notice{padding:10px 0 56px;font-size:16px;color:#333;text-align:center;letter-spacing:-.5px}

/* prduct list */
.event_wrap .product_list{position:absolute;top:17%;left:0;width:100%;height:73.2%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .product_list li{width:100%;height:16.66666%}
.event_wrap .product_list a{display:block;width:100%;height:100%}

/* btn */
.event_wrap .btn_lnk{top:55%;left:40%;width:20%;height:18%}
.event_wrap .btn_apply{top:83.8%;left:33%;width:34%;height:6.5%}

/* notice */
.event_wrap .evt_notice{padding:44px 0 160px}
.event_wrap .notice_list{padding-bottom:44px;border-bottom:1px solid #555b63}
.event_wrap .notice_list li{position:relative;padding-left:16px;color:#eae7e2;font-size:16px;font-weight:300;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:13px;left:6px;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#eae7e2;border-radius:50%;content:''}


/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:455px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;height:57px;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;height:100%;margin:0;padding:0;border:none;background:none}
 