@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec2{background:#add061}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk1{top:0;left:19%;right:19%;bottom:52%}

/* nav */
.event_wrap .nav_swiper{position:relative;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none}
.event_wrap .nav_swiper::-webkit-scrollbar{display:none}
.event_wrap .evt_nav_wrap{position:relative;display:flex}
.event_wrap .evt_nav_wrap li{height:16.9vw;flex-shrink:0;display:flex;align-items:center}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%;font-size:4.1667vw;font-weight:700;letter-spacing:-.6;color:#fff;padding:0 35px 0 20px;display:flex;align-items:center;justify-content:center}
.event_wrap .evt_nav_wrap li a:after{content:'';position:absolute;top:40.6%;right:20px;width:3.4722vw;height:3.4722vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202206/0617_animal_festival/img/ico_down.png) 0 0/100%}
.event_wrap .p_evt_nav li.on a{background:#8ebc2c}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;background:#a9cd5b}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.44444vw}
.event_wrap .p_evt_nav{padding-top:16.6666vw;z-index:50}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:43.61%;top:37.5%;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10} /* 720: margin-bottom:0.6vw; */
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) no-repeat;background-size:530% auto;background-position:0 22%;content:''}

/* notice */
.event_wrap .p_evt_noti{background:#4a88c0}
.event_wrap .evt_notice{padding:60px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}
.event_wrap .noti2{background:#a66555}
.event_wrap .noti2 .evt_notice{padding-top:44px}
.event_wrap .noti3{background:#4a88c0}

/* product */
.event_wrap .product_banner li{vertical-align:top}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative;font-size:0}
.event_wrap .product_banner .product_img{display:block;height:56.9vw}
.event_wrap .product_banner .product_img img{min-width:100vw;max-width:100vw;margin:0}
.event_wrap .product_banner .item1{padding-top:16.6666vw}
.event_wrap .product_banner .item1 .product_img{overflow:hidden}
.event_wrap .product_banner .item1 .product_img img{float:right}
.event_wrap .product_banner .item1 .product_info{position:absolute;top:11.5277vw;left:8.6111vw}
.event_wrap .product_banner .item2{}
.event_wrap .product_banner .item2 .product_info{position:absolute;top:16.1111vw;left:61.5277vw}
.event_wrap .product_banner .product_info:before{content:'';position:absolute;top:0;left:0;width:11.111vw;height:0.556vw;background:#5b453b;border-radius:50px}
.event_wrap .product_banner .percent{position:absolute;top:0;left:0;width:13.3333vw;height:13.3333vw;line-height:13.3333vw;text-align:center;background:#169633;border-radius:100px}
.event_wrap .product_banner .percent .num{display:inline-block;font-size:5.5555vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .product_banner .percent .unit{display:inline-block;font-size:3.3333vw;color:#fff}
.event_wrap .product_banner .item1 .percent{top:-36%;left:180%}
.event_wrap .product_banner .item2 .percent{top:-26%;left:-164%}

.event_wrap .product_img{display:block;overflow:hidden;min-width:100%;max-width:100%;height:47.222vw}
.event_wrap .product_img img{min-width:88.889vw;max-width:88.889vw;margin-top:-20.833vw}
.event_wrap .product_info{display:block;min-height:33.3333vw;padding-top:1.389vw;box-sizing:border-box}
.event_wrap .product_brand{display:block;font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 0.694vw}
.event_wrap .original{display:inline-block;margin:1.389vw 2.222vw 0 0}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#566b27;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block;margin-top:1.389vw}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.88889vw;font-weight:500;color:#222}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 19.7222vw !important;background:#4a88c0 !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:15.2777vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202206/0617_animal_festival/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
