@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* items_list */
.event_wrap .items_list{position:absolute;top:50vw;left:5vw;right:5vw;display:flex}
.event_wrap .items_list li{width:100%;height:15vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* page */
.event_wrap .p_evt_sec1{background:#c7b7a4}
.event_wrap .product_item .price_area .discount{color:#57130c}
.event_wrap .product_item .price_area{color:#fff}
