@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:60.5%;left:50.7%;width:23.5%;height:80px}
.event_wrap .btn_lnk2{top:0;left:9%;right:9%;bottom:17.5%} /* 유투부 바로가기 */
.event_wrap .btn_lnk3{top:69.5%;left:50.7%;width:23.5%;height:80px}
.event_wrap .btn_lnk4{top:46.3%;left:50.7%;width:23.5%;height:80px} /* 3차 */
.event_wrap .btn_lnk5{top:74.7%;left:50.7%;width:23.5%;height:80px}
.event_wrap .btn_lnk6{top:43.8%;left:51.7%;width:23.5%;height:80px} /* 4차 */
.event_wrap .btn_lnk7{top:78.4%;left:51.7%;width:23.5%;height:80px}
.event_wrap .btn_lnk8{top:59.1%;left:50.7%;width:23.5%;height:80px} /* 5차 */
.event_wrap .btn_lnk9{top:43.6%;left:50.7%;width:23.5%;height:80px} /* 6차 */
.event_wrap .btn_lnk10{top:74.6%;left:50.7%;width:23.5%;height:80px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:absolute;width:266px;top:100px;left:780px}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:266px;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

/* 레이어팝업 */
.event_wrap .btn_pop{position:absolute;top:345px;left:9%;right:9%;height:524px}

.event_wrap .pop_wrap{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8);opacity:0;visibility:hidden;transition:opacity 250ms 250ms ease, transform 300ms 250ms ease}
.event_wrap .pop_wrap.on{opacity:1;z-index:10;visibility:visible;overflow:auto;-webkit-overflow-scrolling:touch}
.event_wrap .pop_wrap .pop_inner{position:relative;width:100%;min-height:100%;display:flex;justify-content:center;align-items:center;box-sizing:border-box}
.event_wrap .pop_wrap .pop_close{display:block;position:absolute;width:80px;height:80px;top:10px;right:10px;z-index:2}
.event_wrap .pop_wrap .pop_close:before{content:'';display:block;position:absolute;width:40px;height:2px;left:25%;top:47%;background-color:#fff;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg)}
.event_wrap .pop_wrap .pop_close:after{content:'';display:block;position:absolute;width:40px;height:2px;left:25%;top:47%;background-color:#fff;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg)}

/* 동영상 */
.event_wrap .video_wrap{position:relative;width:400px;height:710px;margin:0 auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

.event_wrap .video_wrap.ver3{position:absolute;top:345px;left:107px;width:956px;height:537px;border-radius:6px 6px 0 0;overflow:hidden}
.event_wrap .video_wrap.ver4{position:absolute;top:345px;left:106px;width:957px;height:538px;border-radius:6px 6px 0 0;overflow:hidden}

/* 모션 */
.motion_box{position:absolute;top:555px;left:535px;animation:fade 3s 0s ease-in-out infinite both}
.motion_box img{margin:0 !important}
@keyframes fade {
	0%, 100% {
		opacity: 1;
	}
  40%, 60% {
    opacity: 0;
  }
}

/* notice */
.event_wrap .evt_notice{padding:100px 120px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}
