@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:17.0833vw;z-index:50}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_amio_christmas/img/m_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:40vw;left:10vw;right:10vw}
.event_wrap .items_list li{width:100%;height:120vw}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .noti1{background:#fff9e3}
.event_wrap .noti2{background:#104982 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_amio_christmas/img/m_evt_noti.jpg) 50% 0/100% no-repeat}

/* 선착순마감 */
.event_wrap .soldout{position:absolute;top:47vw;left:50%;transform:translate(-50%, 0);width:58.8889vw;height:58.8889vw;background:rgba(000, 000, 000, 0.7);border-radius:100%;display:flex;align-items:center;justify-content:center;text-align:center;pointer-events:none}
.event_wrap .soldout p{font-size:9.7222vw;font-weight:800;color:#fff;letter-spacing:-.5px;line-height:1.4;z-index:1}
