@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:50%;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px);z-index:30}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important}
.event_wrap .p_evt_nav{padding-top:64px}

.event_wrap .p_evt_nav li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_amio_christmas/img/p_evt_nav_on.jpg);background-size:300% auto}
.event_wrap .p_evt_nav li:nth-child(2).on{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on{background-position-x:100%}

/* items_list */
.event_wrap .items_list{position:absolute;top:23%;left:9%;right:9%;height:70%;display:flex;flex-wrap:wrap;justify-content:space-between}
.event_wrap .items_list li{width:47%}
.event_wrap .items_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding-bottom:92px}
.event_wrap .noti1{background:#fff9e3}
.event_wrap .noti2{background:#104982 url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202412/1216_amio_christmas/img/p_evt_noti.jpg) 50% 0 no-repeat}

/* 산착순마감 */
.event_wrap .soldout{position:absolute;top:223px;right:132px;width:325px;height:325px;background:rgba(000, 000, 000, 0.7);border-radius:100%;display:flex;align-items:center;justify-content:center;text-align:center;pointer-events:none}
.event_wrap .soldout p{font-size:54px;font-weight:800;color:#fff;letter-spacing:-.5px;line-height:1.2;z-index:1}
