@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:10%;left:22.5%;right:22.5%;height:50%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:80px;right:80px;height:100px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* coupon */
.event_wrap .coupon_item{position:absolute;top:265px;left:0;right:0}
.event_wrap .coupon_desc span{color:#999}

.event_wrap .p_evt_sec3 .coupon_desc{position:absolute;top:436px;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:#282c36}
.event_wrap .evt_notice{padding:0 124px 80px;z-index:1;}

.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:0;right:0;width:1000px;height:100%;margin:0 auto;background:#fff;border-radius:0 0 12px 12px;z-index:0}
.event_wrap .noti2::after{background:#cfe9b9}
