@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in/img/1002/m_evt_nav_on.jpg) no-repeat;background-size:200% auto}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:100%}

/* page */
.event_wrap .p_evt_sec1{background:#d9edfd}
.event_wrap .p_evt_sec2{background:#f8c244}
.event_wrap .p_evt_noti{background:#d9edfd}
.event_wrap .coupon_list .coupon_type2 .coupon_item_info{border:0.2777vw solid #ddd}
.event_wrap .p_evt_sec1 .info_desc span{color:#1c5e7f;letter-spacing:-.15vw}
.event_wrap .p_evt_sec2 .info_desc span{color:#000;opacity:.8;letter-spacing:-.15vw}

/* button */
.event_wrap .btn_move{top:0;left:16vw;right:16vw;height:11vw}
