@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{position:relative;width:787px;height:100px;display:flex;z-index:2}
.event_wrap .evt_nav_wrap li{width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li.on{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in/img/0919/p_evt_nav_on.png) no-repeat}
.event_wrap .evt_nav_wrap li:nth-child(2).on{background-position-x:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute;z-index:0}

.event_wrap .p_evt_nav.is_fixed{position:relative}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;z-index:5;top:0;left:50%;margin-left:-393px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in/img/0919/p_evt_nav.png) no-repeat}

/* product */
.event_wrap .product_item{position:absolute;top:370px;left:0;right:0}
.event_wrap .p_evt_sec2 .info_desc{position:absolute;top:284px;left:0;right:0}
.event_wrap .info_desc span{color:#000;opacity:.8}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:260px;left:0;right:0}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in/img/0919/p_img_noti.jpg) 50% 0 no-repeat}
.event_wrap .evt_notice{padding-top:0;min-height:341px}

/* button */
.event_wrap .btn_move{top:0;left:30%;right:30%;height:80px}
