@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:75%;left:0;right:0;bottom:0;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

/* button */
.event_wrap .btn_lnk1{top:82%;left:16%;right:16%;height:8.5%}
.event_wrap .btn_move{display:block;position:relative;width:100%;line-height:8.8888vw;margin-top:2.2222vw;border:0.2778vw solid #ddd;text-align:center;color:#fff;font-size:3.8889vw;font-weight:600;letter-spacing:-.1vw}

/* notice */
.event_wrap .noti_type2{background:#01713e}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:54.4444vw;left:0;right:0}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:30.8333vw}

.event_wrap .coupon_all_btn{height:13.3333vw;margin-top:16.8055vw;border-radius:0;font-size:6.1111vw;z-index:3}
.event_wrap .coupon_all_btn:after{display:none}

/* page */
.event_wrap .p_evt_sec3::before{content:'';position:absolute;top:58.6111vw;left:44.3055vw;width:8.75vw;height:18.888vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0909_earth_diet_miraen/img/object2.png) 100%/100% no-repeat;z-index:2}
.event_wrap .p_evt_sec3::after{content:'';position:absolute;top:163.4vw;left:54.1666vw;width:29.0277vw;height:6.3888vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0909_earth_diet_miraen/img/object3.png) 100%/100% no-repeat;z-index:3}
