@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .promotion{width:auto;min-width:1200px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}
.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto !important;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:77.2%;left:8%;width:33.3%;height:7.1%}
.event_wrap .btn_move{display:block;position:relative;width:100%;line-height:58px;margin-top:16px;border:2px solid #ddd;text-align:center;color:#fff;font-size:28px;font-weight:600;letter-spacing:-0.4px;box-sizing:border-box}

/* notice */
.event_wrap .evt_notice{padding-bottom:120px}
.event_wrap .noti_type2{background:#01713e}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:284px;left:0;right:0}
.event_wrap .coupon_list ul:nth-of-type(2){margin-top:164px}

.event_wrap .coupon_all_btn{width:400px;border-radius:0;z-index:3}
.event_wrap .coupon_all_btn:after{display:none}

/* page */
.event_wrap .p_evt_sec2::after{content:'';position:absolute;top:984px;left:50%;width:492px;height:208px;margin-left:86px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0909_earth_diet_miraen/img/object1.png) no-repeat;z-index:2}
