@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR'}

.event_wrap .evt_notice{padding:0 120px 100px;background:#f5e6d7;box-sizing:border-box}
.event_wrap .notice_list{display:none;padding:25px 25px 0}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:18px;font-weight:400;color:#333;line-height:36px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:16px;left:0;width:3px;height:3px;background-color:#333;-webkit-border-radius:50%;border-radius:50%;content:''}
.event_wrap .notice_btn{padding-bottom:18px;border-bottom:2px solid #5a5754;}
.event_wrap .notice_btn button{padding:0 20px 0 0;background:transparent url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0821_green_vegetable_juice/img/icon_open.png) no-repeat right center;background-size:16px 16px;color:#333;font-size:20px;font-weight:700}
.event_wrap .notice_btn.on + .notice_list{display:block}
.event_wrap .notice_btn.on button{background-image:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0821_green_vegetable_juice/img/icon_close.png)}

.event_wrap .prd_item_list{position:absolute;top:13%;bottom:37%;left:120px;right:120px;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:250px;height:100%;margin-left:15px}
.event_wrap .prd_item_list li:first-child{margin:0}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{left:31.2%;bottom:12.5%;width:382px;height:82px}
.event_wrap .p_evt_sec6 .prd_item_list{bottom:40%}
.event_wrap .p_evt_sec6 .btn_lnk{bottom:16%}

.prd_tabmenu{position:absolute;top:0;left:120px;right:120px;width:780px;font-size:0}
.prd_tabmenu li{display:inline-block;width:25%;height:80px}
.prd_tabmenu li a{display:block;width:100%;height:100%}