@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:720px;margin:0 auto;font-family:'notokr'}

/* notice */
.event_wrap .evt_notice{padding:0 5.55556% 70px;background:#f5e6d7;box-sizing:border-box}
.event_wrap .notice_list{display:none;padding:20px 12px 0}
.event_wrap .notice_list li{position:relative;margin-top:4px;padding-left:5px;font-size:13px;font-weight:500;color:#333;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin:0}
.event_wrap .notice_list li:before{position:absolute;top:7px;left:0;width:2px;height:2px;background-color:#333;content:''}
.event_wrap .notice_btn{padding-bottom:12px;border-bottom:1px solid #5a5754;text-align: center}
.event_wrap .notice_btn button{padding:0 16px 0 0;border:none;background:transparent url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0821_green_vegetable_juice/img/icon_open.png) no-repeat right 55%;background-size:13px 13px;color:#333;font-family:'notokr';font-size:16px;font-weight:700}
.event_wrap .notice_btn.on + .notice_list{display:block}
.event_wrap .notice_btn.on button{background-image:url(https://www.pulmuoneshop.co.kr/upload/images/event/202008/0821_green_vegetable_juice/img/icon_close.png)}

.event_wrap .prd_item_list{position:absolute;top:23%;right:5%;left:5%;bottom:35%;font-size:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .prd_item_list li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .prd_item_list li a{display:block;width:100%;height:100%}
.event_wrap .btn_lnk{top:81%;right:5%;left:5%;bottom:9%}
.event_wrap .m_evt_sec6 .prd_item_list{top:22%;bottom:37%}
.event_wrap .m_evt_sec6 .btn_lnk{top:78%;bottom:12%}

.prd_tabmenu{position:absolute;top:0;left:5.5%;right:5.5%;bottom:79%;width:89%;font-size:0}
.prd_tabmenu li{display:inline-block;width:50%;height:50%}
.prd_tabmenu li a{display:block;width:100%;height:100%}