@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member_survey/img/m_img_noti.jpg) 50% 0/100%}

/* template */
.mobile .fb .event__survey .survey, .tablet .fb .event__survey .survey{position:relative;padding:0 !important;background:#a0362d url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member_survey/img/m_survey_bg.jpg) 50% 0/100% no-repeat}
.mobile .fb .event__survey .survey__question, .tablet .fb .event__survey .survey__question{margin-top:0 !important}
.mobile .fb .event__survey .survey__question__title, .tablet .fb .event__survey .survey__question__title{display:none}
.mobile .fb .event__survey .survey__question__list, .tablet .fb .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:41vw 9vw 0 9vw !important}
.mobile .fb .event__survey .survey__question .fb__checkbox, .mobile .fb .event__survey .survey__question .fb__radio, .tablet .fb .event__survey .survey__question .fb__checkbox, .tablet .fb .event__survey .survey__question .fb__radio{width:48%;margin-top:0 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .mobile .fb .event__survey .survey__question .fb__radio:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__checkbox:nth-child(n+3), .tablet .fb .event__survey .survey__question .fb__radio:nth-child(n+3){padding-top:45vw}
.mobile .fb .event__survey .survey__question .fb__checkbox span, .mobile .fb .event__survey .survey__question .fb__radio span, .tablet .fb .event__survey .survey__question .fb__checkbox span, .tablet .fb .event__survey .survey__question .fb__radio span{display:flex !important;    align-items:center;min-height:11vw;color:#fff !important;word-break:keep-all !important;font-size:3.3333vw !important;line-height:1.4 !important}
.mobile .fb .event__survey .survey__question .fb__checkbox label, .mobile .fb .event__survey .survey__question .fb__radio label, .tablet .fb .event__survey .survey__question .fb__checkbox label, .tablet .fb .event__survey .survey__question .fb__radio label{align-items:center}

.mobile .fb__radio input[type=radio], .tablet .fb__radio input[type=radio]{border:2px solid #878787 !important}
.mobile .fb__radio input[type=radio]:checked, .tablet .fb__radio input[type=radio]:checked{border:2px solid #444 !important;background-color:#fff !important}
.mobile .fb__radio input[type='radio']:checked:before, .tablet .fb__radio input[type='radio']:checked:before{background:#444;width:2.63vw;height:2.63vw;transform:translate(-50%, -50%);margin:0}

.mobile .fb .event__survey .survey__apply, .tablet .fb .event__survey .survey__apply{display:block;width:66.6666vw !important;height:11.1111vw !important;font-size:0 !important;line-height:0 !important;margin:9vw auto 0 !important;border-radius:100px !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member_survey/img/m_img_btn.png) 50% 50%/100% no-repeat !important}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
