@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member_survey/img/p_img_noti.jpg) 50% 0}
.event_wrap .evt_notice{padding-top:110px}

/* template */
.desktop .fb__event .event__survey .survey{position:relative;max-width:1168px;min-width:1168px;width:auto !important;padding:0 !important;background:#a0362d url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member_survey/img/p_survey_bg.jpg) 50% 0 no-repeat}
.desktop .fb__event .event__survey .survey form{width:1088px;margin:0 auto}
.desktop .fb__event .event__survey .survey__question{margin-top:0 !important}
.desktop .fb__event .event__survey .survey__question__title{display:none}
.desktop .fb__event .event__survey .survey__question__list{display:flex;flex-wrap:wrap;justify-content:space-between;padding:0 !important}
.desktop .fb__event .event__survey .survey__question .fb__checkbox, .desktop .fb__event .event__survey .survey__question .fb__radio{width:23%;margin-top:268px !important;word-break:keep-all;box-sizing:border-box}
.desktop .fb__event .event__survey .survey__question .fb__checkbox span, .desktop .fb__event .event__survey .survey__question .fb__radio span{display:flex !important;align-items:center;width:83%;font-size:22px !important;line-height:30px !important;min-height:60px;color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span{padding:2px 0 2px 40px !important}
.desktop .fb__event .fb__radio input[type=radio]+span:before{top:16px !important;width:32px !important;height:32px !important;border:2px solid #c3c3c3 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:before{border:2px solid #444 !important;background-color:#fff !important}
.desktop .fb__event .fb__radio input[type=radio]+span:after{top:24px !important;left:8px !important;width:16px !important;height:16px !important;background-color:transparent !important}
.desktop .fb__event .fb__radio input[type=radio]:checked+span:after{background-color:#444 !important}

.desktop .fb__event .event__survey .survey__apply{width:480px !important;height:80px !important;padding:0;margin-top:75px !important;font-size:0 !important;border-radius:100px !important;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_fall_in_member_survey/img/p_img_btn.png) 0 0 no-repeat !important}
.desktop .detail-wrapper__bottom{padding-top:0}
