@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:5.5555vw;right:5.5555vw;height:25vw;display:flex;flex-wrap:wrap}
.event_wrap .evt_nav_wrap li{position:relative;width:50%;height:50%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .evt_tab_wrap{position:absolute;top:106vw;left:5.5555vw;right:5.5555vw;height:30vw;display:flex;flex-wrap:wrap}
.event_wrap .evt_tab_wrap li{position:relative;width:33.3%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_sec9{background:#fafafa}
.event_wrap .p_evt_noti{background:#fafafa}

/* product */
.event_wrap .product_wrap{position:absolute;bottom:11.1111vw;left:5.5555vw;right:5.5555vw}
.event_wrap .product_wrap li{background:#fff}
.event_wrap .product_wrap .inner{position:relative}

.event_wrap .product_wrap .product_info{display:block;position:relative;padding:8.3333vw 0 0 8.3333vw;min-height:44.4444vw;margin:0;box-sizing:border-box;flex:1}
.event_wrap .product_wrap .product_title{display:block;font-size:5vw;font-weight:600;color:#111;line-height:6.6667vw;letter-spacing:-1.5px;padding:0 0 2vw}
.event_wrap .product_wrap .product_tag{position:absolute;top:0;right:0}
.event_wrap .product_wrap .product_tag span{display:block;width:13.8889vw}
.event_wrap .product_wrap .original{display:block}
.event_wrap .product_wrap .original del{font-size:3.6111vw;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_wrap .original .won{font-size:2.7778vw;color:#999;margin-left:-4px}
.event_wrap .product_wrap .sale{margin-top:4px}
.event_wrap .product_wrap .sale ins{font-size:5.5556vw;font-weight:600;color:#333;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_wrap .sale .won{font-size:4.4444vw;font-weight:500;color:#333;margin-left:-4px}
.event_wrap .product_wrap .percent{margin:4px 0 0 8px}
.event_wrap .product_wrap .percent .num{font-size:5.5556vw;font-weight:600;color:#ea5720;font-family:'Lato'}
.event_wrap .product_wrap .percent .unit{font-size:4.4444vw;font-weight:600;color:#ea5720;margin-left:-4px;font-family:'Lato'}

.event_wrap .product_thumb{position:absolute;top:0;left:0;right:0;z-index:5}
.event_wrap .p_evt_sec3 .product_thumb{width:24.0278vw;top:84.3055vw;left:64.3056vw}
.event_wrap .p_evt_sec4 .product_thumb{width:29.8611vw;top:41.6667vw;left:10vw}
.event_wrap .p_evt_sec5 .product_thumb{width:23.3333vw;top:41.3889vw;left:68.0556vw}
.event_wrap .p_evt_sec6 .product_thumb{width:19.1667vw;top:40vw;left:11.1111vw}

.event_wrap .product_talk{position:absolute;top:11.3888vw;left:15.2777vw;right:15.2777vw;min-height:25vw}
.event_wrap .p_evt_sec3 .product_talk{top:53.75vw}
.event_wrap .motion{position:absolute;top:0;left:0;width:100%;height:100%;animation:fade 9s ease-in-out 0s infinite both}
.event_wrap .motion1{animation-delay:0}
.event_wrap .motion2{animation-delay:3s !important}
.event_wrap .motion3{animation-delay:6s !important}
@keyframes fade {
  0%, 31%, 100% {
    opacity: 0;
  }
  5%, 29% {
    opacity: 1;
  }
}

/* 상품이미지 slide */
.event_wrap .item_box{position:relative;overflow-x:hidden;-webkit-backface-visibility:hidden;user-select:none}
.event_wrap .item_box .item_list{display:flex}
.event_wrap .item_box .item_list li{position:relative;width:100%}
.event_wrap .item_box .item_list li img{width:100%;height:100%}

.event_wrap .item_box .item_btn button{position:absolute;width:11.1111vw;height:11.1111vw;top:26vw;font-size:4.1vw;color:#fff;border-radius:2.2222vw 0 0 2.2222vw;background:rgba(0,0,0,.6);cursor:pointer;touch-action:none}
.event_wrap .item_box .item_btn .prev{left:0;border-radius:0 2.2222vw 2.2222vw 0}
.event_wrap .item_box .item_btn .next{right:0}

.event_wrap .item_box .item_pagination{position:absolute;width:100%;bottom:1vw;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .item_box .item_pagination .dot{display:inline-block;width:2.2222vw;height:2.2222vw;margin:0 1.3889vw;background:rgba(0,0,0,.6);border-radius:100px;transition:0.3s}
.event_wrap .item_box .item_pagination .dot a{display:block;width:100%;height:100%}
.event_wrap .item_box .item_pagination .dot1.dot_active1{background:#fff}
.event_wrap .item_box .item_pagination .dot2.dot_active2{background:#fff}
.event_wrap .item_box .item_pagination .dot3.dot_active3{background:#fff}
.event_wrap .item_box .item_pagination .dot4.dot_active4{background:#fff}
.event_wrap .item_box .item_pagination .dot5.dot_active5{background:#fff}
.event_wrap .item_box .item_pagination .dot6.dot_active6{background:#fff}

/* 동영상 탭메뉴 */
.tab_wrap{position:absolute;top:42.5vw;left:25vw;right:25vw;border-radius:1.6667vw;overflow:hidden}
.tab_wrap.tab2{top:148.0556vw}
.tab_wrap img{margin:0 !important}
.tab_wrap .tab_list{display:flex;}
.tab_wrap .tab_list a{display:flex;align-items:center;justify-content:center;width:50%;height:11.1111vw;background:rgba(17, 17, 17, 0.45);color:#fff;font-size:4vw;font-weight:700;letter-spacing:-1px;transition:all 0.2s ease-in-out}
.tab_wrap .tab_list a.on{background:#81c643;border-radius:1.6667vw 1.6667vw 0 0}
.tab_wrap .tab_content{display:none;width:50vw;height:88.8889vw}
.tab_wrap .tab_content.on{display:block;}
.tab_wrap .tab_content video{display:block;width:auto;height:100%;object-fit:cover}

/* 한눈에보는 테이블 스크롤 */
.p_evt_sec2 .scroll_con{overflow-y:hidden;padding-bottom:16.6667vw;background:#fafafa}
.p_evt_sec2 .scroll_con::-webkit-scrollbar{width:1.4vw;height:1.4vw}
.p_evt_sec2 .scroll_con::-webkit-scrollbar-track{background-color:#eee;}
.p_evt_sec2 .scroll_con::-webkit-scrollbar-thumb{background-color:#ccc;}
.p_evt_sec2 .scroll_con::-webkit-scrollbar-button{display:none}
.p_evt_sec2 .scroll_con img{width:170%;min-width:170%;}
