@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{position:absolute;border:0;padding:0;margin:0;top:0;left:0;right:0;height:100%}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:0;left:0;right:0;height:100px;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li:nth-child(1){width:120%}

.event_wrap .evt_tab_wrap{position:absolute;top:450px;left:80px;right:80px;height:170px;display:flex}
.event_wrap .evt_tab_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_sec9{background:#fafafa}
.event_wrap .p_evt_noti{background:#fafafa}

/* product */
.event_wrap .product_wrap{position:absolute;bottom:40px;left:40px;right:40px}
.event_wrap .p_evt_sec6 .product_wrap{bottom:140px}
.event_wrap .product_wrap li{background:#fff}
.event_wrap .product_wrap .inner{position:relative;display:flex}
.event_wrap .product_wrap img{margin:0 !important}

.event_wrap .product_wrap .product_info{display:block;position:relative;padding:60px 0 0 60px;margin:0;box-sizing:border-box;flex:1}
.event_wrap .product_wrap .product_title{display:block;font-size:36px;font-weight:600;color:#111;line-height:46px;letter-spacing:-1.5px;padding:53px 0 28px}
.event_wrap .product_wrap .product_tag{display:flex}
.event_wrap .product_wrap .product_tag span{display:block}
.event_wrap .product_wrap .original{display:block}
.event_wrap .product_wrap .original del{font-size:24px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .product_wrap .original .won{font-size:20px;color:#999;margin-left:-4px}
.event_wrap .product_wrap .sale{margin-top:4px}
.event_wrap .product_wrap .sale ins{font-size:32px;font-weight:600;color:#333;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .product_wrap .sale .won{font-size:26px;font-weight:500;color:#333;margin-left:-4px}
.event_wrap .product_wrap .percent{margin:4px 0 0 8px}
.event_wrap .product_wrap .percent .num{font-size:32px;font-weight:600;color:#ea5720;font-family:'Lato'}
.event_wrap .product_wrap .percent .unit{font-size:26px;font-weight:600;color:#ea5720;margin-left:-4px;font-family:'Lato'}

.event_wrap .product_thumb_img{position:absolute;bottom:490px;left:0;right:0;z-index:5}
.event_wrap .product_thumb_img img{margin:0 !important}
.event_wrap .p_evt_sec3 .product_thumb_img{left:700px}
.event_wrap .p_evt_sec4 .product_thumb_img{left:286px}
.event_wrap .p_evt_sec5 .product_thumb_img{bottom:486px;left:726px}
.event_wrap .p_evt_sec6 .product_thumb_img{bottom:590px;left:292px}

/* 상품이미지 slide */
.event_wrap .item_box_wrap{position:relative}
.event_wrap .item_box{position:relative;width:640px;height:460px;overflow-x:hidden;-webkit-backface-visibility:hidden;user-select:none;margin:0 auto}
.event_wrap .item_box .item_list{display:flex;width:100%}
.event_wrap .item_box .item_list li{position:relative}

.event_wrap .item_box_wrap .item_btn button{position:absolute;width:60px;height:60px;top:45%;font-size:26px;color:#fff;border-radius:0 12px 12px 0;border:0;background:rgba(0,0,0,.6);cursor:pointer;touch-action:none}
.event_wrap .item_box_wrap .item_btn .prev{left:0}
.event_wrap .item_box_wrap .item_btn .next{right:0;border-radius:12px 0 0 12px}

.event_wrap .item_box .item_pagination{position:absolute;width:100%;bottom:20px;left:50%;transform:translateX(-50%);text-align:center}
.event_wrap .item_box .item_pagination .dot{display:inline-block;width:16px;height:16px;margin:0 10px;background:rgba(0,0,0,.6);border-radius:100px;transition:0.3s}
.event_wrap .item_box .item_pagination .dot a{display:block;width:100%;height:100%}
.event_wrap .item_box .item_pagination .dot1.dot_active1{background:#fff}
.event_wrap .item_box .item_pagination .dot2.dot_active2{background:#fff}
.event_wrap .item_box .item_pagination .dot3.dot_active3{background:#fff}
.event_wrap .item_box .item_pagination .dot4.dot_active4{background:#fff}
.event_wrap .item_box .item_pagination .dot5.dot_active5{background:#fff}
.event_wrap .item_box .item_pagination .dot6.dot_active6{background:#fff}

/* 동영상 탭메뉴 */
.tab_wrap{position:absolute;top:286px;left:204px;border-radius:12px;overflow:hidden}
.tab_wrap.tab2{left:604px}
.tab_wrap img{margin:0 !important}
.tab_wrap .tab_list{display:flex}
.tab_wrap .tab_list a{display:flex;align-items:center;justify-content:center;width:50%;height:80px;background:rgba(17, 17, 17, 0.45);color:#fff;font-size:26px;font-weight:700;letter-spacing:-1px;transition:all 0.2s ease-in-out}
.tab_wrap .tab_list a.on{background:#81c643;border-radius:12px 12px 0 0}
.tab_wrap .tab_content{display:none;width:360px;height:640px}
.tab_wrap .tab_content.on{display:block;}
.tab_wrap .tab_content video{display:block;width:auto;height:100%;object-fit:cover}
