@charset "utf-8";

@font-face {
  font-family: 'Pretendard';
  font-style: lighter;
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard-ExtraLight"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraLight.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraLight.subset.woff) format("woff")
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard-Regular"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-Regular.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-Regular.subset.woff) format("woff")
}

@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard-SemiBold"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-SemiBold.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-SemiBold.subset.woff) format("woff")
}

@font-face {
  font-family: 'Pretendard';
  font-style: bolder;
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard-ExtraBold"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraBold.subset.woff2) format("woff2"),url(https://shop-pulmuone.edge.naverncp.com/fonts/Pretendard-ExtraBold.subset.woff) format("woff")
}

.product_detail_wrap *{font-family: "Pretendard","맑은 고딕","malgun gothic","Apple SD Gothic Neo","Apple SD 산돌고딕 Neo","Microsoft NeoGothic","Droid sans",sans-serif;-webkit-text-size-adjust:100%}
.wrap *{font-family: "Pretendard","맑은 고딕","malgun gothic","Apple SD Gothic Neo","Apple SD 산돌고딕 Neo","Microsoft NeoGothic","Droid sans",sans-serif;-webkit-text-size-adjust:100%}
/* 통합몰 리셋 */
img{max-width:100%;}
html,body{margin:0;padding:0;border:0}
