@charset "utf-8";

/* 앰블럼 */
.product_detail_wrap .emblem_holiday{position:absolute;top:32px;right:25px;width:176px;height:273px;background:url(https://shop-pulmuone.edge.naverncp.com/newProduct21/common/img/emblem_holiday.webp) 0 0/100% no-repeat}

/* 구성정보 */
.product_detail_wrap .product_item_wrap{background-color:#ffddad;padding:40px 32px 32px 32px;margin-bottom:80px}
.product_detail_wrap .product_item_wrap > .product_info_subtitle{margin:12px 0 24px 0 !important}
.product_detail_wrap .product_item_list{display:flex;flex-wrap:wrap;justify-content:space-around;background-color:#fff;margin:0;padding:16px;line-height:1.4}
.product_detail_wrap .product_item_list li{font-size:22px;color:#323131}
.product_detail_wrap .product_item_list .item_image{display:block;margin-bottom:16px}
.product_detail_wrap .product_item_list .item_image img{margin:0 auto}
.product_detail_wrap .product_item_list .item_title{display:block}
.product_detail_wrap .product_item_list .item_desc{display:block}
.product_detail_wrap .product_item_list .item_desc_list > li:before{content:'ㆍ'}

.product_detail_wrap .product_item_list.type_2image > li{width:45%} /* 2, 4개 */
.product_detail_wrap .product_item_list.type_2image > li:nth-child(n+3){margin-top:24px}
.product_detail_wrap .product_item_list.type_3image > li{width:30%} /* 3,5,6개 */
.product_detail_wrap .product_item_list.type_3image > li:nth-child(n+4){margin-top:24px}

.product_detail_wrap .product_item_list.type_list{display:block}
.product_detail_wrap .product_item_list.type_list > li{display:block;width:100%;text-align:left}
.product_detail_wrap .product_item_list.type_list > li:nth-child(n+2){margin-top:24px}
.product_detail_wrap .product_item_list.type_list .item_desc_list > li{text-indent:-24px;padding-left:24px;margin:0}

/* Mobile */
@media all and (max-width:720px){
  /* 앰블럼 */
  .product_detail_wrap .emblem_holiday{top:2.2222vw;right:2.2222vw;width:20.5555vw;height:31.9444vw;}

  /* 구성정보 */
  .product_detail_wrap .product_item_wrap{padding:4.4444vw;margin-bottom:10.2777vw}
  .product_detail_wrap .product_item_wrap > .product_info_subtitle{margin:4.4444vw 0 !important}
  .product_detail_wrap .product_item_list{display:block;padding:4.4444vw;text-align:left}
  .product_detail_wrap .product_item_list li{position:relative;font-size:4.4444vw}
  .product_detail_wrap .product_item_list > li:nth-child(n+2){margin-top:4.4444vw}
  
  /* .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) > li{width:100%}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_image{position:absolute;top:50%;transform:translateY(-50%);left:0;width:27.7777vw;margin-bottom:0;border:1px solid red}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_title{margin-left:30.5555vw;width:60vw}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc{margin-left:30.5555vw}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc_list{margin-left:30.5555vw}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc_list  > li{text-indent:-4.4444vw;padding-left:4.4444vw} */

  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) > li{width:100%;display:grid;align-items:center;grid-template-columns:27vw auto}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_image{margin-right:2vw;margin-bottom:0;grid-row:1 / span 2}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_title{grid-column:2}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc{grid-column:2}
  /* .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc .brnone{display:inline !important} */
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc_list{grid-column:2}
  .product_detail_wrap :is(.product_item_list.type_2image, .product_item_list.type_3image) .item_desc_list  > li{text-indent:-4.4444vw;padding-left:4.4444vw}

  .product_detail_wrap .product_item_list.type_list > li:nth-child(n+2){margin-top:4.4444vw}
  .product_detail_wrap .product_item_list.type_list .item_desc_list > li{text-indent:-4.4444vw;padding-left:4.4444vw}
}
