@charset "utf-8";

/* logo */
.product_detail_wrap .bi_sub_wrap .bi_amio{background-position:-294px -160px}

/* 아미오 브랜드 자연담은 브랜드 */
.product_amio_wrap{background:#7C7E43;margin-top:120px;padding-bottom:56px}
.product_amio_wrap > .product_info_image:nth-child(1){padding-bottom:16px}
.product_amio_wrap .product_amio_info{background:#fff;margin:24px 40px;padding:40px 40px;box-sizing:border-box}
.product_amio_wrap .product_amio_brand{display:flex;margin:24px 0 0}
.product_amio_wrap .product_amio_brand:nth-child(1){margin-top:0}
.product_amio_wrap .product_amio_brand dt{width:308px}
.product_amio_wrap .product_amio_brand dd{width:470px}
.product_amio_wrap .product_amio_brand .product_info_subtitle{margin-top:0 !important}
.product_amio_wrap .product_amio_brand .product_amio_image{text-align:left;margin-top:14px}
.product_amio_wrap .amio_info_list > li{text-align:left;font-size:22px;color:#323131;line-height:1.5;text-indent:-24px;padding-left:24px;margin:0}
.product_amio_wrap .amio_info_list > li:before{content:'ㆍ'}

/* 아미오 아이콘 */
.product_detail_wrap .amio_info_wrap{margin:0 0 30px}
.product_detail_wrap .amio_info_wrap .info_list{display:flex;justify-content:center;flex-wrap:wrap}
.product_detail_wrap .amio_info_wrap .info_list li{margin:30px 32px}
.product_detail_wrap .amio_info_wrap .info_list .info_icon{width:112px}
.product_detail_wrap .amio_info_wrap .info_list .info_title{display:block;text-align:center;font-size:22px;font-weight:600;color:#323131;line-height:1.4;margin-top:8px}

.product_detail_wrap .image_txt{display:flex;align-items:center;justify-content:center;position:absolute;top:0;left:0;right:0;bottom:0}
.product_detail_wrap .image_txt img{display:block !important}

/* 아미오 상단 공통배너(3개월) */
.top_banner{display:block;}

/* Mobile */
@media all and (max-width:720px){
  /* logo */
  .product_detail_wrap .bi_sub_wrap .bi_amio{background-position:-40vw -21.5vw}

  /* 아미오 브랜드 자연담은 브랜드 */
	.product_amio_wrap{margin-top:12vw !important;padding-bottom:8vw}
	.product_amio_wrap > .product_info_image:nth-child(1){padding-bottom:0}
	.product_amio_wrap .product_amio_info{margin:1.3888vw 2.6vw;padding:2.6vw}
	.product_amio_wrap .product_amio_brand{display:block;margin:6.6666vw 0 6.6666vw}
	.product_amio_wrap .product_amio_brand:nth-child(1){margin-top:6.6666vw}
	.product_amio_wrap .product_amio_brand dt{width:auto}
	.product_amio_wrap .product_amio_brand dt img{width:50vw}
	.product_amio_wrap .product_amio_brand dd{display:flex;flex-direction:column;width:auto;margin:0}
	.product_amio_wrap .product_amio_brand .product_info_subtitle{margin:1.6vw 0 0 0 !important;text-align:center}
	.product_amio_wrap .product_amio_brand .product_info_text{text-align:center;word-break:keep-all !important}
	.product_amio_wrap .amio_info_list{order:10}
	.product_amio_wrap .amio_info_list > li{font-size:4.4444vw;text-indent:-4.4444vw;padding-left:4.4444vw}

	.product_amio_wrap .product_amio_brand .product_amio_image{margin:3vw 0 2vw;order:9}
	.product_amio_wrap .product_amio_brand .product_amio_image{text-align:left}

	/* 아미오 아이콘 */
	.product_detail_wrap .amio_info_wrap{margin:0 0 11.1111vw 1vw}
	.product_detail_wrap .amio_info_wrap .info_list{justify-content:flex-start}
	.product_detail_wrap .amio_info_wrap .info_list li{display:flex;align-items:center;width:50%;margin:2vw 0}
	.product_detail_wrap .amio_info_wrap .info_list .info_icon{width:16vw;height:16vw;padding-right:2vw;}
	.product_detail_wrap .amio_info_wrap .info_list .info_title{font-size:3.8461vw;line-height:1.6;letter-spacing:-.6px;text-align:left;margin-top:0}
}
