@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* page */
.event_wrap :is(.noti1, .p_evt_sec1){background:#d9edfd}
.event_wrap .evt_notice{padding:11.1111vw 8.8888vw}

.event_wrap .coupon_one .flag{background:#000}
.event_wrap .p_evt_sec1 .info_desc span{color:#1c5e7f}

.event_wrap .savings_list{display:flex;flex-wrap:wrap;width:75%;margin:3.5vw auto 0}
.event_wrap .savings_list li{margin-top:4.8611vw;font-size:5vw;color:#6e6e6e;letter-spacing:-.1vw}
.event_wrap .savings_list strong{display:inline-block;background:#82b62b;padding:0.9vw 2vw;margin-right:1vw;border-radius:100vw;font-size:3.8888vw;color:#fff}
.event_wrap .savings_list span{font-size:3.8888vw;color:#999}

.event_wrap .p_evt_sec2{background:#d9edfd}
.event_wrap .btn_lnk{display:inline-block;width:82.2222vw;height:15.2777vw;line-height:15.2777vw;background:#000;border-radius:0;margin:0 8.8888vw 11.1111vw;font-size:6.6666vw;font-weight:600;color:#fff;text-align:center}
