@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background-color:#fffde4;}
.p_evt_noti.noti_type2{background-color:#143e2e;}

/* product */
.event_wrap .product_list{display:block;width:72.9167vw;margin:0 auto;padding:0;}
.event_wrap .product_list li{width:100%;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list li + li{margin-top:5.5556vw;}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{align-items:center;width:100%;height:58.3333vw;}
.event_wrap .product_list .product_img img{position:relative;width:100%;height:auto;margin:0 !important}
.event_wrap .product_list .product_info{justify-content:center;margin-bottom:0;padding-top:4.7222vw;padding-bottom:4.7222vw;text-align:center;background-color:#fff;}
.event_wrap .product_list .product_etc{flex-basis:100%;margin-bottom:1.3889vw;font-size:3.3333vw;font-weight:400;line-height:1.2;color:#999;letter-spacing:-0.1667vw;word-break:keep-all;}
.event_wrap .product_list .product_title{margin-bottom:1.3889vw;font-size:4.4444vw;font-weight:700;line-height:1.2;}
.event_wrap .product_list .original del{font-size:3.6111vw;}
.event_wrap .product_list .original .won{margin-left:-0.3472vw;font-size:3vw;line-height:1.2;color:#999;}
.event_wrap .product_list .sale ins{font-size:5.5556vw;}
.event_wrap .product_list .sale .won{font-size:4.4444vw;}
.event_wrap .product_list .percent{align-items:baseline;margin-left:0;}
.event_wrap .product_list .sale + .percent, .event_wrap .product_list .percent + .sale{margin-left:1.1vw;}
.event_wrap .product_list .percent .num{font-size:5.5556vw}
.event_wrap .product_list .percent .unit{font-size:4.4444vw;}

/* page */
.event_wrap .p_evt_sec2{background-color:#fffde4}
.event_wrap .p_evt_sec2 .coupon_item{position:absolute;z-index:1;top:49.3056vw;right:0;left:0;}
.event_wrap .coupon_item_info .info_type{letter-spacing:-0.2vw;}
.event_wrap .p_evt_sec3{padding-bottom:16.6667vw;background-color:#ffd000;}

/* button template */
.mobile .fb .fb__event .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;padding:0 16.6667vw !important;background:#143e2e}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:66.6667vw;height:11.1111vw;margin:2.7778vw 0 auto;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0415_salady_earth_diet/img/btn_apply.png) 50% 50%/100% no-repeat;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
