@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{position:relative;overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec2{background-color:#fffde4}
.event_wrap .p_evt_sec2 .coupon_item{position:absolute;z-index:1;top:102px;right:40px;}
.event_wrap .coupon_item_info .info_type{letter-spacing:-1px;}
.event_wrap .p_evt_sec3{padding-bottom:100px;background-color:#ffd000;}

/* notice */
.event_wrap .p_evt_noti{background-color:#fffde4;}
.p_evt_noti.noti_type2{background-color:#143e2e;}


/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;gap:0 40px;padding:0 40px;box-sizing:border-box;}
.event_wrap .product_list li{width:524px;height:auto;margin:0;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_list .product_img{align-items:center;width:100%;height:420px;}
.event_wrap .product_list .product_img img{position:relative;width:100%;height:auto;margin:0 !important}
.event_wrap .product_list .product_info{justify-content:center;margin-bottom:0;padding-top:32px;padding-bottom:32px;text-align:center;background-color:#fff;}
.event_wrap .product_list .product_etc{flex-basis:100%;margin-bottom:10px;font-size:24px;font-weight:400;line-height:30px;color:#979393;letter-spacing:-1.2px;word-break:keep-all;}
.event_wrap .product_list .product_title{margin-bottom:10px;font-size:32px;font-weight:700;line-height:38px;}
.event_wrap .product_list .original del{font-size:24px;}
.event_wrap .product_list .original .won{margin-left:-4px;font-size:18px;line-height:22px;font-weight:500;color:#999;}
.event_wrap .product_list .sale ins{font-size:32px;}
.event_wrap .product_list .sale .won{font-size:26px;}
.event_wrap .product_list .percent{margin: 4px 0 0 0;}
.event_wrap .product_list .sale + .percent{margin: 4px 0 0 8px;}
.event_wrap .product_list .percent + .sale{margin: 4px 0 0 8px;}
.event_wrap .product_list .percent .num{font-size:32px}
.event_wrap .product_list .percent .unit{font-size:28px;}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{position:relative;max-width:1920px;width:100%;margin:0 auto;padding:20px 0 0 0;text-align:center;}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;max-width:1920px;width:100%;height:100%;background:#143e2e;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:480px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202404/0415_salady_earth_diet/img/btn_apply.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}
