@charset "utf-8";

/* Pretendard 폰트(200,400,600,800) : 리뉴얼 후에 삭제예정 */
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/pretendard.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* product */
.event_wrap .product_banner{display:flex;position:absolute;top:88px;left:0;right:0}
.event_wrap .product_banner li{width:50%}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}
.event_wrap .product_banner img{margin:0 !important}

.event_wrap .item1{height:480px}
.event_wrap .item1 .product_info{position:absolute;top:65px;left:653px}
.event_wrap .item2{margin-top:280px}
.event_wrap .item2 .product_info{position:absolute;top:252px;left:-584px;justify-content:flex-end;text-align:right}
.event_wrap .item2 .product_info:before{left:auto;right:0}

.event_wrap .product_img{display:block;width:580px}
.event_wrap .product_info{position:relative;display:flex;flex-wrap:wrap;width:500px;padding-top:12px}
.event_wrap .product_info:before{content:'';position:absolute;top:0;left:0;width:50px;height:4px;background:#80c342;border-radius:50px}
.event_wrap .product_brand{font-size:16px;font-weight:800;color:#333;line-height:26px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-.5px;word-break:keep-all;margin-bottom:15px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:18px;color:#999;letter-spacing:-.6px}
.event_wrap .sale{margin-top:4px}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none}
.event_wrap .sale .won{font-size:18px;font-weight:400;color:#222;margin-left:-3px}
.event_wrap .sale_name{font-size:18px;font-weight:600;color:#222}
.event_wrap .percent{margin:4px 0 0 8px}
.event_wrap .percent .num{font-size:24px;font-weight:600;color:#ff752a}
.event_wrap .percent .unit{font-size:24px;font-weight:600;color:#ff752a;margin-left:-4px}
.event_wrap .view{display:block;flex-basis:100%;margin-top:12px}

/* motion */
.motion_box{position:absolute;min-width:1920px;height:100%;top:0;left:50%;transform:translateX(-50%);right:0;overflow:hidden;z-index:5}
.motion_box::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202407/0701_orga_new/img/object_bg.png);opacity:0.1}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object_bi{top:106px;left:789px;z-index:10}
.motion_box .object{top:0;left:0;right:0}
