@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .event_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .btn_lnk{display:block;top:55%;left:47%;bottom:17%;width:46%}

/* notice */
.event_wrap .evt_notice{padding:49px 98px;background:#eee}
.event_wrap .notice_list li{position:relative;margin-top:8px;padding-left:12px;color:#1c1c1c;font-size:20px;font-weight:400;line-height:1.5;word-break:keep-all}
.event_wrap .notice_list li:first-child{margin-top:0}
.event_wrap .notice_list li:before{position:absolute;top:13px;left:-1px;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#1c1c1c;border-radius:50%;content:''}


/* mobile */
.event_wrap.mevt .event_wrap{max-width:none}
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .btn_lnk{top:77%;left:13%;bottom:6%;width:74%}
.event_wrap.mevt .evt_notice{padding:25px 5.555556%}
.event_wrap.mevt .notice_list li{margin-top:4px;padding-left:7px;font-size:12px}
.event_wrap.mevt .notice_list li:first-child{margin-top:0}
.event_wrap.mevt .notice_list li:before{position:absolute;top:7px;left:-1px;width:2px;height:2px}
