@charset "utf-8";

@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

.event_wrap .blind, .event_wrap .blind > *{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}

/* page */
.p_evt_sec1{background-color:#0e5d9f;}
.p_evt_noti.noti_type2{background-color:transparent;}
.p_evt_noti.noti_type2 .evt_notice{background-color:#0e5d9f}
.event_wrap .coupon_desc span{color:#fff;}
