@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom, .tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{display:flex;position:absolute;top:0;left:0;width:100%;height:100%;background:#009333}
.event_wrap .evt_nav_wrap li{flex:1}
.event_wrap .evt_nav_wrap li a{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:4.7222vw;line-height:1.2;font-weight:600;color:#fff;text-align:center}
.event_wrap .evt_nav_wrap li.on a{color:#fff000}

.event_wrap .p_evt_nav{padding-top:15.2778vw}
.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%;height:15.2778vw}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}

/* button */
.event_wrap .btn_move{top:0;left:16vw;right:16vw;height:11vw}

/* product */
.event_wrap .p_evt_sec2{background:#14a747}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#fff04e}

/* page */
.event_wrap .p_evt_noti{background:#f9f9f9}
.event_wrap .p_evt_sec1{background:#f9f9f9}

/* stemp 템플릿 */
.mobile .fb .event__stamp .stamp__step, .tablet .fb .event__stamp .stamp__step{position:relative;padding:0 4.44444vw 4vw !important;background:#f9f9f9!important;background-size:contain !important}
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100% !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:26.3888vw !important;height:26.3888vw !important;margin-left:4.1666vw !important}
.mobile .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.mobile .fb .event__stamp .stamp__action__area, .tablet .fb .event__stamp .stamp__action__area{left:1vw !important;right:1vw !important;width:auto !important;padding:4vw 0 0 0 !important;background:rgba(0,0,0,.7) !important;border-radius:6px !important}
.mobile .fb .event__stamp .stamp__apply__desc em, .tablet .fb .event__stamp .stamp__apply__desc em{color:#009333}
.mobile .fb .event__stamp .stamp__apply__desc em:before, .tablet .fb .event__stamp .stamp__apply__desc em:before{z-index:-1}
.mobile .fb .event__stamp .stamp__apply, .tablet .fb .event__stamp .stamp__apply{background:#009333 !important;color:#fff !important;line-height:4.66667vw !important}

/* 스탬프 템플릿 오브젝트 추가 */
:is(.mobile, .tablet) .fb .event__stamp .stamp__step::after{content:'';position:absolute;top:-10.5556vw;left:72vw;width:28vw;height:31.2vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202502/0217_double_benefit_member/img/object.png) 100%/100% no-repeat;z-index:1} 

