@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;margin:0 auto;box-sizing:border-box}

.event_wrap .p_evt_sec3{padding-bottom:80px;background:#5ab4dc}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:66%;left:3.3%;width:93%;height:18%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* more button */
.event_wrap .btn_coupon{top:71%;left:31%;width:40%;height:14%;padding:0}
.event_wrap .btn_more{display:block;position:relative;z-index:10;width:55%;height:45px;margin:0 auto;background:#333;font-size:13px;color:#fff;text-align:center;line-height:45px}
.event_wrap .btn_apply{top:85.3%;left:17%;width:66%;height:6%;padding:0}
.event_wrap .btn_lnk1{top:81.3%;left:17%;width:66%;height:7.1%}
.event_wrap .btn_lnk2{top:44%;left:31%;width:38%;height:10%}
.event_wrap .btn_lnk3{top:78%;left:31%;width:38%;height:10%}

/* notice */
.event_wrap .p_evt_noti1{background:#5c9e63}
.event_wrap .p_evt_noti2{background:#34a2d3}
.event_wrap .evt_notice{padding:32px 5.555555% 41px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:6px 9px 6px 22px;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}

/* product */
.event_wrap .product_list{position:relative;z-index:5;padding:0 3.75%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:49.549549%;height:auto;margin:0 0 31px 0.9009009%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
/* .event_wrap .product_img img{position:absolute;top:0;left:0;width:100%;height:100%} */
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:4px;font-size:13px;font-weight:400;color:#fff;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:35px;height:35px;background:#1f81ac;font-size:10px;color:#fff;text-align:center;line-height:35px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:5px;font-size:12px;color:#fff}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:16px;font-weight:600;color:#fff;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#fff}

.event_wrap .bg_wrap{position:relative}
.event_wrap .bg_img1{position:absolute;top:67.913385%;left:74.0277777%;z-index:1;width:25.972222222%;padding-top:33.8888888%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img1.png) 0 0 no-repeat;background-size:cover}
.event_wrap .bg_img2{position:absolute;top:43.252595%;left:66.1111111%;z-index:1;width:33.888888%;padding-top:40.1388888%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img2.jpg) 0 0 no-repeat;background-size:cover}
.event_wrap .bg_img3{position:absolute;top:25.347222%;left:64.7222222%;z-index:1;width:35.2777777%;padding-top:49.7222222%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img3.jpg) 0 0 no-repeat;background-size:cover}
.event_wrap .bg_img4{position:absolute;top:-6.9204152%;left:64.166666%;z-index:1;width:35.833333%;padding-top:57.5%;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img4.jpg) 0 0 no-repeat;background-size:cover}
