@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

body .quick_area{z-index:10}

/* common */
.event_wrap,.event_wrap button{font-family:'Noto Sans KR',sans-serif;font-weight:400}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap,.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto;;box-sizing:border-box}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_noti1,.event_wrap .p_evt_noti1:before,.event_wrap .p_evt_noti1:after{background:#5c9e63}
.event_wrap .p_evt_sec2,.event_wrap .p_evt_sec2:before,.event_wrap .p_evt_sec2:after{background:#f6e8cc}
.event_wrap .p_evt_sec3,.event_wrap .p_evt_sec3:before,.event_wrap .p_evt_sec3:after{background:#5ab4dc}
.event_wrap .p_evt_noti2,.event_wrap .p_evt_noti2:before,.event_wrap .p_evt_noti2:after{background:#34a2d3}
.event_wrap .p_evt_sec4,.event_wrap .p_evt_sec4:before,.event_wrap .p_evt_sec4:after{background:#40aad9}
.event_wrap .p_evt_sec3{padding-bottom:130px}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:81%;left:2.6%;width:90.5%;height:15%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.333333%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* button */
.event_wrap .btn_coupon{top:385px;left:716px;width:194px;height:90px;padding:0}
.event_wrap .btn_more{display:block;position:relative;width:270px;height:60px;margin:3px auto 0;background:#333;font-size:20px;color:#fff;text-align:center;line-height:60px}
.event_wrap .btn_apply{top:644px;left:331px;width:358px;height:76px;padding:0}
.event_wrap .btn_lnk1{top:679px;left:330px;width:360px;height:76px}
.event_wrap .btn_lnk2{top:308px;left:150px;width:200px;height:76px}
.event_wrap .btn_lnk3{top:308px;right:150px;width:200px;height:76px}

/* notice */
.event_wrap .evt_notice{padding:30px 0 33px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:4px 10px 9px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-12px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .p_evt_noti2 .notice_title,
.event_wrap .p_evt_noti2 .notice_list li{color:#333}
.event_wrap .p_evt_noti2 .notice_title:before{background-position:0 0}
.event_wrap .p_evt_noti2 .notice_list li:before{background-color:#333}


/* product */
.event_wrap .product_list{position:relative;z-index:5;font-size:0}
.event_wrap .product_list li{display:inline-block;width:500px;height:auto;margin:0 0 42px 20px;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:10px;font-size:20px;font-weight:400;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:70px;height:70px;background:#1f81ac;font-size:18px;color:#fff;text-align:center;line-height:70px}
.event_wrap .percent .num{font-size:30px}
.event_wrap .original{margin-right:5px;font-size:18px;color:#fff}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:30px;font-weight:600;color:#fff;text-decoration:none}
.event_wrap .sale .won{margin-left:2px;font-size:30px;font-weight:600;color:#fff}

.event_wrap .bg_img1{position:absolute;top:271px;right:-180px;z-index:1;width:329px;height:270px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img1.png) 0 0 no-repeat}
.event_wrap .bg_img2{position:absolute;top:89px;right:-147px;z-index:1;width:378px;height:289px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img2.jpg) 0 0 no-repeat}
.event_wrap .bg_img3{position:absolute;top:43px;right:-148px;z-index:1;width:367px;height:398px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img3.jpg) 0 0 no-repeat}
.event_wrap .bg_img4{position:absolute;top:-25px;right:-80px;z-index:1;width:312px;height:416px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202107/0705_hello_summer/img/bg_img4.jpg) 0 0 no-repeat}
