@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

.event_wrap .p_evt_sec3{background:#ffd000}
.event_wrap .p_evt_sec4{background:#f4f4f4}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:12.5vw;z-index:50}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}

/* product */
.event_wrap .product_img{background:none}
.event_wrap .product_info{padding-bottom:10.5555vw}
.event_wrap .product_brand{font-size:3.88889vw;color:#000}
.event_wrap .product_title{color:#000;margin-top:1vw}
.event_wrap .percent .num{color:#ea5720}
.event_wrap .percent .unit{color:#ea5720}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:44vw;left:5.5555vw;right:5.5555vw;height:50vw;background:url(https://i.ytimg.com/vi_webp/cHXpDgk7Dq0/maxresdefault.webp) 50%/100%;box-shadow:5px 7px 10px 0px rgba(0, 0, 0, .2);border-radius:3.3333vw;overflow:hidden}
.event_wrap .video_wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}

/* 모션 */
.event_wrap .flow_box{display:flex;overflow:hidden}
.event_wrap .flow{flex-shrink:0;display:flex;min-width:100%;animation:scroll-left 10s linear infinite}
.event_wrap .flow img{width:66.6666vw;height:55.5555vw}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
