@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common.css");

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

.event_wrap .p_evt_sec3{background:#ffd000}
.event_wrap .p_evt_sec4{background:#f4f4f4}

/* nav */
.event_wrap .evt_nav_wrap{position:absolute;top:620px;left:104px;width:320px}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:60px}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#f4f4f4}

/* product */
.event_wrap .product_img{background:none}
.event_wrap .product_info{margin-bottom:100px}
.event_wrap .product_brand{font-size:24px;color:#000}
.event_wrap .product_title{font-size:24px;color:#000;margin-top:8px}
.event_wrap .percent .num{color:#ea5720}
.event_wrap .percent .unit{color:#ea5720}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:280px;left:50%;transform:translateX(-50%);width:1080px;height:608px;background:url(https://i.ytimg.com/vi_webp/cHXpDgk7Dq0/maxresdefault.webp) 50%/100%;box-shadow:7px 11px 18px 0px rgba(0, 0, 0, .2);border-radius:12px;overflow:hidden}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}
