@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:20.8333vw;z-index:50}

.event_wrap .p_evt_nav li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_amio_fall/img/m_evt_nav_on.jpg);background-size:300% auto;content:''}
.event_wrap .p_evt_nav li:nth-child(2).on:after{background-position-x:200%}
.event_wrap .p_evt_nav li:nth-child(3).on:after{background-position-x:100%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:44.4444vw;left:0;right:0}

/* page */
.event_wrap .p_evt_sec1::before{content:'';position:absolute;top:58.8888vw;right:3.0555vw;width:23.75vw;height:29.5833vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_amio_fall/img/m_object1.png) 100%/100% no-repeat;z-index:1}
.event_wrap .p_evt_sec1::after{content:'';position:absolute;top:78.8888vw;left:0;width:31.5277vw;height:30vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202409/0919_amio_fall/img/m_object2.png) 100%/100% no-repeat}
