@charset "utf-8";

/* reset */
/* .desktop .fb__event .promotion__content img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 
.event,.event_wrap{overflow:hidden} */

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:6.7%;right:3.4%;width:150px;height:150px}

/* notice */
.event_wrap .p_evt_noti{background:#6c44ff}
.event_wrap .evt_notice{padding:80px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1168px !important;width:100%;margin:0 auto;padding:0;background:#6c44ff;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:266px;height:52px;font-size:0;padding:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202211/1101_full_festa_payback/img/p_img_btn.png) 0 0 no-repeat;border-radius:0}
.desktop .detail-wrapper__bottom{padding-top:0}
