@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:33%;left:5%;right:5%;height:68%}

/* notice */
.event_wrap .p_evt_noti{background:#ff81a1}
.event_wrap .evt_notice{padding:60px 5.555555%;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 15.2777vw !important;background:#ff81a1 !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:11.25vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202305/0508_39anniversary_entry/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
