@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* nav */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;display:flex}
.event_wrap .evt_nav_wrap li{position:relative;width:100%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.event_wrap .p_evt_nav .evt_section{position:absolute !important;top:0;left:0;z-index:50;width:100%}
.event_wrap .p_evt_nav.is_fixed .evt_section{position:fixed !important;top:14.4444vw}
.event_wrap .p_evt_nav{padding-top:19.4444vw;z-index:50}

/* notice */
.event_wrap .noti1{background:#f7f7f7}
.event_wrap .noti2{background:#d7d4d4}

/* 영상 */
.event_wrap .movie_box{position:absolute;width:100%;height:100%;top:0;left:0;z-index:-1;overflow:hidden}
.event_wrap .movie_box .movie{display:flex;justify-content:center;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover;opacity:0;transition:opacity 1.4s ease-in-out}
.event_wrap .movie_box .movie video{width:auto;height:100%}
.event_wrap .movie_box .movie.active{opacity:1}

/* template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_chuseock_member/img/m_btn_bg.jpg) 50% 50%/100% !important;text-align:center}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:66.6666vw;height:11.1111vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202408/0826_chuseock_member/img/m_img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:100px}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
