@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec3{background:#f6cb26}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0%;left:0;right:0;height:100%}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:20px;color:#333}
.event_wrap .coupon_desc span{display:block;margin:0 5px;font-size:20px}
.event_wrap .coupon_desc span:before{content:'*';vertical-align:text-bottom;margin-right:5px}

/* product */
.event_wrap .item{position:absolute;top:39.3%;left:64.2%;width:377px;background:#f5f5f5;box-shadow:6px 6px 10px rgba(0, 0, 0, 0.15)}
.event_wrap .item:nth-of-type(2){top:73.4%}
.event_wrap .item a{display:block;width:100%;height:100%}
.event_wrap .item a .product_btn{transition:all 0.5s}
.event_wrap .item a:hover .product_btn{background:#539300}
.event_wrap .item img{margin:0 !important}

.event_wrap .product_img{width:100%;height:300px}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:16px 10px 0 18px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-.5px;word-break:keep-all;margin-bottom:10px}
.event_wrap .product_title strong{display:block;font-weight:700;}
.event_wrap .original{margin:6px 8px 0 0}
.event_wrap .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:18px;font-weight:500;color:#222;margin-left:-3px}
.event_wrap .percent{position:absolute;top:0;left:0;width:60px;height:60px;background:#78c80f;display:flex;justify-content:center;align-items:center}
.event_wrap .percent .num{font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{font-size:14px;color:#fff;margin:6px 0 0 1px}
.event_wrap .tag{position:absolute;top:-16px;right:-19px}
.event_wrap .product_btn{display:flex;justify-content:center;align-items:center;width:100%;height:50px;background:#78c80f;font-size:20px;font-weight:700;color:#fff;margin-top:34px}

/* 품절 */
.event_wrap .dimm_soldout{display:block;position:absolute;width:100%;height:100%;background:rgba(0,0,0,.7);font-size:36px;line-height:1.4;color:#fff;z-index:1;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center}
.event_wrap .dimm_soldout + a{cursor:not-allowed;pointer-events:none}

/* notice */
.event_wrap .p_evt_noti{background:#f6cb26}
.event_wrap .evt_notice{padding:70px 80px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.event_wrap .p_evt_tit{z-index:1}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object1{top:320px;left:890px}
.motion_box .object2{top:630px;left:0px;-webkit-animation-delay:1s !important;animation-delay:1s !important}
.motion_box .object3{top:320px;left:306px}

.motion_box .evt_lottie{position:absolute;top:-10px;left:-400px;width:100%;height:500px}
.motion_box .evt_lottie2{position:absolute;top:-50px;right:-400px;width:900px;height:500px}

.motion_box .motion1{-webkit-animation:bounce-up 2.5s 0s ease-in-out infinite both;animation:bounce-up 2.5s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

.motion_box .motion2{-webkit-animation:blink-effect 1s step-end infinite;animation:blink-effect 1s step-end infinite}
@-webkit-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
