@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn_move{display:block;position:relative;width:100%;line-height:9.28vw;padding-right:4.8vw;margin-top:1.94vw;border:1px solid #ddd;border-radius:4px;background:#fff;color:#333;font-size:3.88vw;font-weight:500;text-align:center;letter-spacing:-0.35vw;box-sizing:border-box}
.event_wrap .btn_move:before{position:absolute;top:40%;left:33vw;width:5vw;height:1.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) no-repeat;background-size:530% auto;background-position:-2% 20%;content:''}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw;letter-spacing:-.15vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon.png) no-repeat;background-size:530% auto;background-position:0 22%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:3.6111vw}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:1vw}
.event_wrap .coupon_desc span small{font-size:3.6vw;color:#222;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#fff}
.event_wrap .evt_notice{padding:50px 5.555555% 0;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}
.event_wrap .noti2{background:#779de0}

/* button template */
.mobile .fb .event .reply__join-btn{position:relative;padding:0 27.7777vw 0 28.6111vw !important;background:#779de0 !important}
.mobile .fb .event .reply__join-btn button{width:100%;height:auto;padding-top:9.1666vw;font-size:0;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/202207/0722_chuseok_reservation/img/img_btn.png) 0 0 no-repeat;background-size:100% auto;line-height:0;border-radius:0}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}
