@charset "utf-8";

/* wide common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;width:100%;margin:0 auto;vertical-align:top}

/* 쿠폰영역 배경칼라 샘플 */
.bgcolor{display:flex;flex-wrap:wrap;width:1168px;margin:100px auto}
.bgcolor > p{width:100%;padding:40px 10px 10px;font-size:24px;border-top:1px solid #ddd}
.bgcolor > div{display:flex;justify-content:center;align-items:center;width:130px;height:130px;margin:5px;font-size:20px}
.bgcolor .bg01{background:#fff;border:1px solid #eee}
.bgcolor .bg02{background:#eee}
.bgcolor .bg03{background:#f3f8f1}
.bgcolor .bg04{background:#f7f0d3}
.bgcolor .bg05{background:#d9d2ca}
.bgcolor .bg06{background:#ddccba}
.bgcolor .bg07{background:#cbb999}
.bgcolor .bg08{background:#846b5b}


/* 쿠폰리스트 */
.event_wrap .coupon_list{background:#eee;padding:80px 0}
.event_wrap .coupon_list ul{position:relative;display:flex;justify-content:center;flex-wrap:wrap;box-sizing:border-box}
.event_wrap .coupon_list ul li{margin:0 20px}
.event_wrap .coupon_list .coupon_title{font-size:56px;font-family:'Lato', 'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;letter-spacing:-1px;text-align:center;margin-bottom:40px}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 22px 20px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:500;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;content:''}

.event_wrap .coupon_item.positive .coupon_item_info{background:#fff}
.event_wrap .coupon_item.positive .coupon_item_info:before{background-position:-86px 0}
.event_wrap .coupon_item.positive .coupon_item_info .info_type{font-weight:700;color:#232323}
.event_wrap .coupon_item.positive .coupon_item_info .info_discount{color:#73c40b}
.event_wrap .coupon_item.positive .coupon_item_info .info_name{color:#727272}
