@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_bg.jpg) 0 0 repeat}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_bg.jpg) 0 0 repeat;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_bg.jpg) 0 0 repeat;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:before{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_tab_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tab:after{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_tab_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:before{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_sec2_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec2:after{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_sec2_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:before{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_sec3_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec3:after{background:url(https://www.orga.co.kr/images/promo/202012/1224_newyear_preorder/img/p_sec3_bg_r.jpg) 0 0 no-repeat}

/* evt tabmenu */
.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_tab_wrap li{float:left;width:33.333334%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .notice_list{padding:0 32px 74px}
.event_wrap .notice_list li{position:relative;padding-left:14px;font-size:20px;font-weight:300;color:#666;letter-spacing:-1px;line-height:34px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:15px;left:0;width:2px;height:2px;background-color:#666;content:''}


/* mobile */
.mevt.event_wrap .evt_wide_wrap{max-width:720px;font-family:-apple-system-font,'Apple SD Gothic Neo',Helvetica,sans-serif;font-weight:500}
.mevt.event_wrap .evt_wide_wrap:before,.mevt.event_wrap .evt_wide_wrap:after{display:none}
.mevt.event_wrap .notice_list{padding:0 4.444444% 37px}
.mevt.event_wrap .notice_list li{padding-left:5px;font-size:13px;font-weight:400;line-height:17px}
.mevt.event_wrap .notice_list li:before{top:7px}
