@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,
.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:36%;left:21%;width:38%;height:12%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:100%;height:50%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* lnk */
.event_wrap .btn_lnk{top:82%;left:310px;width:400px;height:10%}

/* notice */
.event_wrap .evt_notice{padding:27px 100px 96px;background-color:#f4eaef;box-sizing:border-box}
.event_wrap .notice_title{position:absolute;top:30px;max-width:42px;font-size:22px;font-weight:600;color:#242424;line-height:29px}
.event_wrap .notice_list{padding:0 22px 0 124px}
.event_wrap .notice_list li{position:relative;padding-left:22px;font-size:18px;color:#242424;line-height:29px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:3px;width:3px;height:3px;background-color:#242424;border-radius:50%;-webkit-border-radius:50%;content:''}

/* mobile */
.event_wrap.mevt .evt_section,.event_wrap.mevt .evt_notice{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap.mevt .tit_tab_wrap{top:40%;left:9%;width:41%;height:11%}
.event_wrap.mevt .btn_lnk{left:17%;width:66%;height:11%}
.event_wrap.mevt .evt_notice{padding:14px 10.4166666% 33px} 
.event_wrap.mevt .notice_title{display:block;position:static;max-width:none;font-size:12px;line-height:15px}
.event_wrap.mevt .notice_list{margin-top:8px;padding:0}
.event_wrap.mevt .notice_list li{padding-left:8px;font-size:12px;line-height:18px}
.event_wrap.mevt .notice_list li::before{top:8px;left:2px;width:2px;height:2px}
