@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap{max-width:720px;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,
.event_wrap .evt_notice{position:relative;max-width:720px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}

/* bg */
.event_wrap .p_evt_sec1 .evt_notice{background:#f98d63}
.event_wrap .p_evt_sec2{padding-bottom:30px;background:#efdfd7}
.event_wrap .p_evt_sec3{background:#6db56d}
.event_wrap .p_evt_noti{background:#5aab5a}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:70%;left:10%;width:80%;height:21%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:33.33334%;height:100%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* prd_view_list */
.event_wrap .prd_view_list{position:absolute;top:49%;right:7%;left:7%;bottom:8%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .prd_view_list li{display:inline-block;width:50%;height:24%;margin-top:57%}
.event_wrap .prd_view_list li:first-child{display:block;margin:0 auto}
.event_wrap .prd_view_list li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:34px 5.83333333% 36px}
.event_wrap .notice_list li{position:relative;padding-left:5px;color:#fff;font-size:12px;font-weight:300;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:0;width:2px;height:2px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}
.event_wrap .p_evt_sec3 .notice_list li{color:#fff}
.event_wrap .p_evt_sec3 .notice_list li:before{background-color:#fff}

/* product */
.event_wrap .product_list{padding:0 3.88888888%;font-size:0}
.event_wrap .product_list li{display:inline-block;width:49.6240601%;height:auto;margin:0 0 31px 0.75187969%;vertical-align:top}
.event_wrap .product_list li:nth-child(2n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:36px;margin-top:4px;font-size:13px;font-weight:400;color:#333;line-height:18px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:35px;height:35px;background:#f98d63;font-size:10px;color:#fff;text-align:center;line-height:35px}
.event_wrap .percent .num{font-size:15px}
.event_wrap .original{margin-right:5px;font-size:12px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:16px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:16px;font-weight:600;color:#333}

/* stamp */
.event_wrap .stamp_wrap{position:relative}
.event_wrap .stamp_wrap .inner{position:absolute;top:0;right:5.5555555%;left:5.5555555%;bottom:0;font-size:0}
.event_wrap .stamp_list{width:100%;height:50.6%;font-size:0;vertical-align:top}
.event_wrap .stamp_list li{display:inline-block;width:33.3333334%;height:100%}
.event_wrap .stamp_list .on{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/stamp_on.png) 50% 0 no-repeat;background-size:300% auto}
.event_wrap .stamp_info{width:40%;height:21.1%;margin:0 auto;background:#509f50;text-align:center}
.event_wrap .stamp_info:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.event_wrap .stamp_info span{display:inline-block;font-size:17px;color:#fff;vertical-align:middle}
.event_wrap .stamp_info .stamp_number,.event_wrap .stamp_info .unit{font-weight:600}
.event_wrap .stamp_info .stamp_number{margin-left:5px}
.event_wrap .btn_stamp{top:80.5%;left:22%;width:56.4%;height:20%;background:none;cursor:pointer}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;padding-top:18%;margin:0;border:none;background:none;cursor:pointer}


