@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wide_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

/* wide bg */
.event_wrap .evt_wide_wrap:before{position:absolute;top:0;left:-450px;width:450px;height:100%;content:''}
.event_wrap .evt_wide_wrap:after{position:absolute;top:0;right:-450px;width:450px;height:100%;content:''}
.event_wrap .p_evt_tit:before{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/p_tit_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_tit:after{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/p_tit_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:before{background:#efdfd7 url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/p_sec1_bg_l.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1:after{background:#efdfd7 url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/p_sec1_bg_r.jpg) 0 0 no-repeat}
.event_wrap .p_evt_sec1 .evt_notice{background:#f98d63 url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/p_noti_bg.jpg) 0 100% no-repeat}
.event_wrap .p_evt_sec2,
.event_wrap .p_evt_sec2:before,
.event_wrap .p_evt_sec2:after{padding-bottom:50px;background:#efdfd7}
.event_wrap .p_evt_sec3,
.event_wrap .p_evt_sec3:before,
.event_wrap .p_evt_sec3:after{background:#6db56d}
.event_wrap .p_evt_noti,
.event_wrap .p_evt_noti:before,
.event_wrap .p_evt_noti:after{background:#5aab5a}

/* title tab */
.event_wrap .tit_tab_wrap{overflow:hidden;position:absolute;top:48%;right:0;width:26%;height:28%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .tit_tab_wrap li{display:inline-block;width:100%;height:33.33334%}
.event_wrap .tit_tab_wrap li a{display:block;width:100%;height:100%}

/* prd_view_list */
.event_wrap .prd_view_list{position:absolute;top:74%;right:7%;left:7%;bottom:10%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .prd_view_list li{display:inline-block;width:33.3333%;height:100%}
.event_wrap .prd_view_list li a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .evt_notice{padding:72px 42px 70px}
.event_wrap .notice_list li{position:relative;padding-left:10px;font-size:16px;font-weight:300;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;-webkit-border-radius:100%;border-radius:100%;background-color:#fff;border-radius:50%;content:''}
.event_wrap .p_evt_noti .evt_notice{padding:75px 0}

/* product */
.event_wrap .product_list{font-size:0}
.event_wrap .product_list li{display:inline-block;width:330px;height:auto;margin:0 0 64px 15px;vertical-align:top}
.event_wrap .product_list li:nth-child(3n+1){margin-left:0}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;text-align:center}
.event_wrap .product_img{display:block;width:100%;height:100%}
.event_wrap .product_title{overflow:hidden;display:block;min-height:30px;margin-top:10px;font-size:20px;font-weight:400;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .product_info{display:block}
.event_wrap .percent{position:absolute;top:0;left:0;width:70px;height:70px;background:#f98d63;font-size:16px;color:#fff;text-align:center;line-height:70px}
.event_wrap .percent .num{font-size:22px}
.event_wrap .original{margin-right:5px;font-size:18px;color:#333}
.event_wrap .sale{display:inline-block;font-size:0}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#333;text-decoration:none}
.event_wrap .sale .won{display:inline-block;font-size:24px;font-weight:600;color:#333} 

/* stamp */
.event_wrap .stamp_wrap{overflow:hidden;position:relative}
.event_wrap .stamp_wrap .inner{position:absolute;top:0;right:0;left:0;bottom:0;font-size:0}
.event_wrap .stamp_list{display:inline-block;width:787px;height:340px;font-size:0;vertical-align:top}
.event_wrap .stamp_list li{display:inline-block;width:33.3333334%;height:100%}
.event_wrap .stamp_list .on{background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202103/0302_spring/img/stamp_on.png) 0 0 no-repeat}
.event_wrap .stamp_list .stamp2.on{background-position:50% 0}
.event_wrap .stamp_list .stamp3.on{background-position:100% 0}
.event_wrap .stamp_info{display:inline-block;width:233px;margin-top:130px;background:#509f50;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box}
.event_wrap .stamp_info span{display:block;color:#fff}
.event_wrap .stamp_info .my_stamp{display:block;font-size:22px}
.event_wrap .stamp_info .stamp_number,.event_wrap .stamp_info .unit{display:inline-block;font-size:40px;font-weight:500;vertical-align:top;line-height:50px}
.event_wrap .btn_stamp{left:360px;bottom:0;width:29.5%;height:18%;padding:0}

/* lypop */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;vertical-align:middle;z-index:510}
.layer_popup_wrap .layer_popup_content{border:0}
.layer_popup_wrap .layer_popup_contents{padding:0}
.layer_popup_wrap .btn_area{position:absolute;left:0;bottom:0;width:100%;height:88px;margin:0;padding:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:100%;height:100%;margin:0;padding:0;border:none;background:none}
