@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:90%;left:5%;right:5%;height:3%}

/* product */
.event_wrap .product_list{position:absolute;top:40vw;left:0;display:flex;flex-wrap:wrap;gap:0 2.777vw;margin-left:5.555vw}
.event_wrap .product_list li{width:43.055vw;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{display:block;overflow:hidden;width:43.055vw;height:43.055vw;background:#fff}
.event_wrap .product_img img{width:100%;height:100%}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding:2.9777vw 0 8.3333vw}
.event_wrap .product_brand{font-size:3.3333vw;font-weight:700;color:#333;line-height:5vw}
.event_wrap .product_title{flex-basis:100%;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.5px;word-break:keep-all;margin-bottom:0.8vw}
.event_wrap .lspacing{letter-spacing:-1.2px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:flex;align-items:center}
.event_wrap .sale ins{font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:3.33333vw;font-weight:500;color:#222}
.event_wrap .percent{display:flex;margin-left:1.1vw}
.event_wrap .percent .num{font-size:4.44444vw;font-weight:600;color:#56c000;font-family:'Lato'}
.event_wrap .percent .unit{font-size:4.44444vw;font-weight:600;color:#56c000;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#ebebeb}
.event_wrap .evt_notice{padding:11.1111vw 5.555555% 16.6666vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:2.5vw 2.5vw 2.5vw 6.1111vw;border-top:2px solid #333;font-size:5.5556vw;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:5.2777vw;height:5.2777vw;margin-top:-2.5vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:6.9444vw 0;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:1.6666vw;font-size:3.3333vw;color:#333;line-height:5.5555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.7777vw;left:1px;width:0.5555vw;height:0.5555vw;background-color:#333;border-radius:100%;content:''}
