@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:76.8%;left:320px;right:320px;height:4%}

/* product */
.event_wrap .product_list{position:absolute;top:305px;left:40px;display:flex;flex-wrap:wrap;gap:0 29px;margin-left:40px}
.event_wrap .product_list li{width:250px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative}

.event_wrap .product_img{display:flex;overflow:hidden;justify-content:center;align-items:center;width:100%;height:250px;background:#fff}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:20px;margin-bottom:56px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:15px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:18px;color:#999;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{margin-top:4px}
.event_wrap .sale ins{font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{font-size:18px;font-weight:500;color:#222;margin-left:-3px}
.event_wrap .percent{margin:4px 0 0 8px}
.event_wrap .percent .num{font-size:24px;font-weight:600;color:#56c000;font-family:'Lato'}
.event_wrap .percent .unit{font-size:24px;font-weight:600;color:#56c000;margin-left:-4px;font-family:'Lato'}

/* notice */
.event_wrap .p_evt_noti{background:#fff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benepia_promotion/img/p_img_noti.jpg) center top}
.event_wrap .evt_notice{min-height:378px;padding:0 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(0,0,0,.15);border-bottom:1px solid rgba(0,0,0,.15)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.event_wrap .noti2{background:#fff url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202310/1001_benepia_promotion/img/p_img_noti2.jpg) center top}
.event_wrap .noti2 .evt_notice{min-height:495px}
