@charset "utf-8";

    /* .sub #container{max-width:1020px;width:auto;background:#fff;transition:.5s} */
    .product_detail_wrap{max-width:1020px;padding:0}
    /* .product_detail_wrap .start{transition:.5s;-webkit-transition:.5s} */
    /* .product_detail_wrap .start .image1{display: block;} */
    .product_detail_wrap .start .image2{position:absolute;top:0;left:0;opacity:0;-webkit-transition:.3s;transition:.3s}
    .product_detail_wrap .start[data-isFixed=true]{background:#cfbfaf;opacity:1;-webkit-transition:.3s;transition:.3s}
    /* .product_detail_wrap .start[data-isFixed=true] .image2{opacity:1;-webkit-transition:.3s;transition:.3s} */
    .product_detail_wrap .player_wrap{position:relative;width:100%;height:100%;}
    .product_detail_wrap .player_wrap:before{position:absolute;top:0;left:0;z-index:10;width:100%;height:40px;background:url(img/bg.png) 0 0 no-repeat;content:''}
    .product_detail_wrap .player_wrap:after{position:absolute;bottom:0;left:0;z-index:10;width:100%;height:40px;background:url(img/bg.png) 0 100% no-repeat;content:''}
    .product_detail_wrap .player_area{position:relative;padding-top:56.25%;background-position:0 0;background-repeat:no-repeat;background-size:100% auto}
    .product_detail_wrap .frame{position:absolute;top:0;right:80px;left:80px}
    /* .product_detail_wrap .player{position:absolute;top:0;left:0;width:100%;height:100%} */