@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}
.event_wrap .btn_move{top:93%;left:19%;right:19%;height:15vw}

/* coupon */
.event_wrap .info_desc{padding:3.4722vw 0 6.9444vw}
.event_wrap .info_desc span::before{content:'※'}

/* notice */
.event_wrap .noti1{background:#8dc63f}
.event_wrap .noti2{background:#f5f5f5}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:90.2777vw;height:50.8333vw;background:url(https://i.ytimg.com/vi/bkF8fj_hacc/maxresdefault.jpg) 50%/100%;box-shadow:5px 7px 10px 0px rgba(0, 0, 0, .2)}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.mobile .fb .event .reply__join-btn, .tablet .fb .event .reply__join-btn{position:relative;background:#8dc63f !important;text-align:center}
.mobile .fb .event .reply__join-btn button, .tablet .fb .event .reply__join-btn button{width:63.0555vw;height:14.1666vw;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1105_earth_week_muleungdowon/img/m_img_btn.png) 50% 50%/100% no-repeat;line-height:0;border-radius:100px}
.mobile .detail-wrapper__bottom, .tablet .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box span{position:absolute}

.motion_box .motion{animation:move 1.6s 0s ease-in-out infinite both}
.motion_box .object1{top:-1vw;left:60.1vw;width:13.5vw}
.motion_box .object2{top:16.5vw;left:18.5vw;width:8.5vw;animation-delay:1.5s}
.motion_box .object3{top:24vw;left:84.5vw;width:10.5vw;animation-delay:0.5s}
.motion_box .object4{top:56.2vw;left:3.5vw;width:14.5vw;animation-delay:2s}

@keyframes move {
  40% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}
