@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .promotion__content img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto} 
.event,.event_wrap{position:relative;overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:0;left:0;right:0;height:100%}
.event_wrap .btn_move{top:81.5%;left:34.5%;right:34.5%;height:7%}

/* coupon */
.event_wrap .evt_notice{padding:80px 40px 100px}
.event_wrap .info_desc{padding:22px 0 0}
.event_wrap .info_desc span::before{content:'※'}

/* notice */
.event_wrap .noti1{background:#8dc63f}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.ytimg.com/vi/bkF8fj_hacc/maxresdefault.jpg) 50%/100%;box-shadow:5px 11px 18px 0px rgba(0, 0, 0, .2)}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}

/* template */
.desktop .fb__event .fb__event-comment__join-btn{width:100%;min-width:1200px;max-width:1920px;padding:0;background:#8dc63f}
.desktop .fb__event .fb__event-comment__join-btn button{width:371px;height:74px;font-size:0;padding:0;border-radius:100px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202411/1105_earth_week_muleungdowon/img/p_img_btn.png) 0 0 no-repeat}
.desktop .detail-wrapper__bottom{padding-top:0}

/* motion */
.motion_box img{margin:0 !important;width:100%}
.motion_box span{position:absolute}

.motion_box .motion{animation:move 1.5s 0s ease-in-out infinite both}
.motion_box .object1{top:110px;left:118px}
.motion_box .object2{top:85px;left:925px;width:80px;animation-delay:1.5s}
.motion_box .object3{top:316px;left:-101px;width:60px;animation-delay:0.5s}
.motion_box .object4{top:290px;left:1220px;width:105px;animation-delay:2s}

@keyframes move {
  40% {
    opacity: 0.8;
  }
  0%, 100% {
    opacity: 0;
  }
}
