@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* coupon */
.event_wrap .coupon{position:absolute;z-index:2;left:0;right:0;top:31.1111vw;padding-top:5.5556vw;box-sizing:border-box;}
.event_wrap .coupon_item_budge{position:absolute;z-index:1;top:-5.5556vw;right:-5.5556vw;width:15.2778vw;height:15.2778vw;padding:2.7778vw 0;border-radius:8vw;background-color:#ffb400;font-size:4.4444vw;line-height:1.1;font-weight:500;color:#fff;text-align:center;box-sizing:border-box}
.event_wrap .coupon_desc span{color:#999;}

/* notice */
.event_wrap .p_evt_noti{background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_fnc/img/m_evt_sec2.jpg) #65bc00 0 0 / 100% auto no-repeat}
.event_wrap .evt_notice{padding:11.1111vw;}

/* page */
.event_wrap .p_evt_sec1{position:relative}
.event_wrap .p_evt_sec2{padding:11.1111vw 0;background-color:#65bc00;box-sizing:border-box;}

/* button */
.event_wrap .btn_lnk1{position:relative;display:block;width:77.7778vw;height:13.8889vw;margin:0 auto;background:url('https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202406/0617_fnc/img/m_evt_btn.jpg') center center no-repeat;background-size:100% auto;}
