@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400;letter-spacing:-1px}

/* notice */
.event_wrap .evt_notice{padding:45px 5.555555%;background:#67bdde;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn_coupon1{top:22.5%;left:13%;width:38%;height:10.5%;padding:0}
.event_wrap .btn_coupon2{top:70.2%;left:13%;width:38%;height:10.5%;padding:0}

.event_wrap .btn_lnk1{top:4%;left:56%;width:37%;height:42%}
.event_wrap .btn_lnk2{top:53%;left:56%;width:37%;height:42%}

/* lypop (new.css Overriding) */
.event_wrap .layer_popup_wrap .popup_desc{display:block;margin-top:11px;font-size:12px;color:#373737;text-align:center;line-height:1.4}
.event_wrap .layer_popup_wrap .btn_close{position:absolute;top:0;right:0;padding:10px 20px;border:0;background:0}
.event_wrap .layer_popup_wrap .btn_close .icon{display:inline-block;width:11px;height:11px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202106/0610_cold_noodles/img/btn_close.png) 0 0 no-repeat;background-size:100% auto;font-size:0;vertical-align:middle}
