@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400;box-sizing:border-box}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap button,.event_wrap .layer_popup_wrap{font-family:'Noto Sans KR',sans-serif;font-weight:400;letter-spacing:-1px}

/* notice */
.event_wrap .evt_notice{padding:40px;background:#67bdde;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://s.pulmuone.app/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* button */
.event_wrap .btn_coupon1{top:224px;left:154px;width:280px;height:63px;padding:0}
.event_wrap .btn_coupon2{top:644px;left:535px;width:280px;height:63px;padding:0}

.event_wrap .btn_lnk1{top:58px;left:516px;width:336px;height:334px}
.event_wrap .btn_lnk2{top:490px;left:143px;width:336px;height:334px}

/* lypop (new.css Overriding) */
.event_wrap .layer_popup_wrap{top:0;left:0;width:100%;height:100%;background:0;text-align:center;-webkit-transform:none;transform:none}
.event_wrap .layer_popup_wrap:before{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:.5;background-color:#000;content:''}
.event_wrap .layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.event_wrap .layer_inner_wrap{position:relative;display:inline-block;width:500px;margin:0 10px;background:#fff;vertical-align:middle;z-index:510}
.event_wrap .layer_popup_wrap .layer_popup_header{position:relative}
.event_wrap .layer_popup_wrap .layer_popup_title{line-height:60px}
.event_wrap .layer_popup_wrap .popup_desc{display:block;margin-top:22px;font-size:18px;color:#373737;text-align:center;line-height:1.4}
.event_wrap .layer_popup_wrap .btn_close{position:absolute;top:0;right:0;padding:20px;background:0}
.event_wrap .layer_popup_wrap .btn_close .icon{display:inline-block;width:22px;height:22px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202106/0610_cold_noodles/img/btn_close.png) 0 0 no-repeat;font-size:1px;color:transparent;vertical-align:top}
