@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* tab */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:33.333334%;height:58%}
.event_wrap .evt_nav_wrap li:first-child{display:block;width:100%;height:42%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li.item1{width:100%;height:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_apply{top:850px;left:35%;width:30%;padding-top:6.9%}
.event_wrap .btn_lnk1{top:104px;left:35%;width:30%;padding-top:10%}

.event_wrap .benefit_list{position:absolute;top:29%;right:18%;left:18%;bottom:19%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{width:100%;height:19%}
.event_wrap .benefit_list li:first-child{height:44%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#abd135}
.event_wrap .evt_notice{padding:20px 5.555555% 65px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* template */
.mobile .fb__event .event .event__roulette__wrap{min-height:auto;padding-top:104.1666666%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_roulette/img/bg_roulette.jpg);background-size:100% auto}
.mobile .fb__event .roulette__arrow,.tablet .fb__event .roulette__arrow{top:-3vw}
.mobile .fb__event .roulette__action img{width:28.333vw;height:28.333vw;margin:0;transform:translate(-50%,-50%)}
.mobile .detail-wrapper__bottom,
.tablet .detail-wrapper__bottom{padding:0}
