@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img,
.desktop .fb__event .event__roulette__visual img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

/* tab */
.event_wrap .evt_nav_wrap{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:90px;font-size:0}
.event_wrap .evt_nav_wrap li{position:relative;display:inline-block;width:25%;height:100%}
.event_wrap .evt_nav_wrap li a{display:block;width:100%;height:100%}
.event_wrap .evt_nav_wrap li.item1{width:100%}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_apply{top:850px;left:35%;width:30%;padding-top:6.9%}
.event_wrap .btn_lnk1{top:104px;left:35%;width:30%;padding-top:10%}
.event_wrap .btn_lypop{top:228px;left:41%;width:18%;height:31%}


.event_wrap .benefit_list{position:absolute;top:43%;right:10%;left:10%;bottom:27%;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{display:inline-block;width:33.33334%;height:50%}
.event_wrap .benefit_list li:first-child{display:block;width:100%;padding-left:50%;box-sizing:border-box}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{background:#abd135}
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#abd135;content:''}
.event_wrap .evt_notice{padding:40px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-11px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/*  */
#lypop1 .img img{width:100%;margin:0 auto}
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:432px;vertical-align:middle;z-index:510}
.layer_popup_wrap .img{display:block;width:100%}
.layer_popup_wrap .btn_area{position:absolute;top:0;right:0;margin:0}
.layer_popup_wrap .btn_area .btn_close{display:block;width:60px;height:60px;border:none;background:none}
.layer_popup_wrap .items_list{position:absolute;top:36%;left:6%;width:88%;height:57%;font-size:0}
.layer_popup_wrap .items_list li{display:inline-block;width:33.333334%;height:50%}
.layer_popup_wrap .items_list a{display:block;width:100%;height:100%}
