@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_wrap{position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:300;box-sizing:border-box}
.event_wrap .evt_section{position:relative;max-width:1020px;margin:0 auto}

.event_wrap .video_wrap{position:absolute;top:22.596964%;right:9.70588235%;left:10.2941176%;bottom:0}
.event_wrap .video_wrap iframe{width:100%;height:100%}
.event_wrap .video_wrap.video2{top:19.00709%;bottom:15.886524%}

.event_wrap.mevt img{width:100%}
.event_wrap.mevt .video_wrap{top:22.8758169%;right:6.25%;left:6.25%}
.event_wrap.mevt .video_wrap.video2{top:18.71657754%;bottom:18.181818%}
