@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/p_common_2024.css");

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -360px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -360px auto;vertical-align:top}

/* button */
.event_wrap .btn_move{top:0;left:30%;right:30%;height:38%}

/* product */
.event_wrap .p_evt_sec2{background:#46cb18}
.event_wrap .product_item .item_info{color:#fff}
.event_wrap .product_item .price_area .discount{color:#fff04e !important}

/* page */
.event_wrap .p_evt_tit{background:#000}
.event_wrap .p_evt_tit p{position:relative;font-size:26px;line-height:80px;font-weight:600;color:#fff;text-align:center;background:#000;z-index:5}
.event_wrap .p_evt_tit p span{color:#fff600}
.event_wrap .p_evt_noti{background:#f5f5f5}
.event_wrap .p_evt_sec2 .info_desc span{color:#fff}

/* stemp product 추가 - html2 있을때 틀어짐 */
.event_wrap .product_item{width:100% !important;align-items:flex-start !important;padding:0 !important}
.event_wrap .product_item li{width: 285px !important;height:auto !important;margin:0 !important}
.event_wrap .product_item .item_thumbnail{padding:0 !important}
.event_wrap .product_item .item_thumbnail img{position:relative !important}
.event_wrap .product_item .price_area > span{position:relative !important;display:block !important;width:auto !important;transform:rotate(0deg) !important;font-size:24px !important;color:#fff !important}
.event_wrap .product_item .price_area .won{font-weight:400 !important}

/* stemp notice 추가 */
.desktop .fb__event .event__stamp .stamp__visual{position:relative}
.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0;padding:0}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0}

/* stemp 템플릿 */
.desktop .fb__event .event__stamp .stamp__step, .tablet .fb__event .event__stamp .stamp__step{position:relative;background-color:#f5f5f5;background-size:unset !important;background-repeat:no-repeat;padding:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3, .tablet .fb__event .event__stamp .stamp__step ul.col3{width:1000px !important;padding:30px 0}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1), .tablet .fb__event .event__stamp .stamp__step ul.col3 li:nth-child(3n+1){margin-left:0 !important}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li, .tablet .fb__event .event__stamp .stamp__step ul.col3 li{width:180px !important;height:180px !important;margin-left:80px !important}
.desktop .fb__event .event__stamp .stamp__action__area, .tablet .fb__event .event__stamp .stamp__action__area{left:40px !important;right:40px !important;width:auto !important;background:rgba(0,0,0,.7) !important}
.desktop .fb__event .event__stamp .stamp__apply__desc em:before, .tablet .fb__event .event__stamp .stamp__apply__desc em:before{z-index:-1}
.desktop .fb__event .event__stamp .stamp__apply__desc em, .tablet .fb__event .event__stamp .stamp__apply__desc em{color:#009333}
.desktop .fb__event .event__stamp .stamp__apply--purchase, .tablet .fb__event .event__stamp .stamp__apply--purchase{font-size:24px !important;background:#009333 !important;color:#fff !important}
.desktop .detail-wrapper__bottom, .detail-wrapper__bottom{padding-top:0}

/* 영상 */
.event_wrap .evt_mov{position:absolute;top:80px;left:50%;transform:translateX(-50%);width:384px;height:97px;z-index:5}
.event_wrap .evt_mov video{display:block;width:100%;height:100%}

/* motion */
.ani_box{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden}
.ani_box img{margin:0 !important}
.ani_box .object1{position:absolute;top:335px;left:283px;z-index:3}
.ani_box .object2{position:absolute;top:342px;left:282px;z-index:4;}
.ani_box .object3{position:absolute;top:300px;left:742px;z-index:4;animation-delay:1s !important}
.ani_box .object4{position:absolute;top:630px;left:662px;z-index:4;animation-delay:1.4s !important}

.ani_box .motion{animation:bounce-infi 4s 0s ease-in-out infinite both}
@keyframes bounce-infi {
  0%, 100% {
    -webkit-transform:translateY(0px);
            transform:translateY(0px);
  }
  50% {
    -webkit-transform:translateY(-20px);
            transform:translateY(-20px);
  }
}

.motion_box1{position:absolute;z-index:2;top:-1%;left:-1%;width:150px;height:150px;font-size:28px}
.motion_box2{position:absolute;z-index:2;top:3%;right:1%;width:150px;height:150px;font-size:12px}
.motion_box3{position:absolute;z-index:2;top:40%;right:20%;width:150px;height:150px;font-size:18px}
.motion1{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.3s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion2{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.4s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion3{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.5s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion4{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.6s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion5{position:absolute;z-index:3;top:50%;left:50%;width:.8em;height:.8em;animation:object1_1 1.1s infinite 0.8s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion6{position:absolute;z-index:3;top:50%;left:50%;width:1em;height:1em;animation:object2_1 1.1s infinite 0.9s cubic-bezier(0.415, 0.547, 0, 0.809) both}
.motion1::before,.motion2::before,.motion3::before,.motion4::before,.motion5::before,.motion6::before{content:'';position:absolute;z-index:4;width:100%;height:100%;top:0;left:0;background:#b1e232;border-radius:100% 0 75% 25% / 75% 0 100% 25%;transform:rotate(-45deg);transform-origin:center}

.object1_1 {animation-name:object1_1;transform:translate(0, 2.8em) rotate(0deg);}
.object1_2 {animation-name:object1_2;transform:translate(-2em, 2em) rotate(45deg)}
.object1_3 {animation-name:object1_3;transform:translate(2em, 2em) rotate(-45deg);}
.object1_4 {animation-name:object1_4;transform:translate(-3em, 0) rotate(90deg);}
.object1_5 {animation-name:object1_5;transform:translate(3em, 0) rotate(-90deg);}
.object1_6 {animation-name:object1_6;transform:translate(-2em, -2em) rotate(135deg);}
.object1_7 {animation-name:object1_7;transform:translate(2em, -2em) rotate(-135deg);}
.object1_8 {animation-name:object1_8;transform:translate(0, -2.8em) rotate(180deg);}

.object2_1 {animation-name:object2_1;transform:translate(0, 5em) rotate(0deg);}
.object2_2 {animation-name:object2_2;transform:translate(-2.1em, 4em) rotate(30deg);}
.object2_3 {animation-name:object2_3;transform:translate(2.1em, 4em) rotate(-30deg);}
.object2_4 {animation-name:object2_4;transform:translate(-4.2em, 2.1em) rotate(60deg);}
.object2_5 {animation-name:object2_5;transform:translate(4.2em, 2.1em) rotate(-60deg);}
.object2_6 {animation-name:object2_6;transform:translate(-5em, 0) rotate(90deg);}
.object2_7 {animation-name:object2_7;transform:translate(5em, 0) rotate(-90deg);}
.object2_8 {animation-name:object2_8;transform:translate(-4.2em, -2.1em) rotate(120deg);}
.object2_9 {animation-name:object2_9;transform:translate(4.2em, -2.1em) rotate(-120deg);}
.object2_10 {animation-name:object2_10;transform:translate(-2.1em, -4em) rotate(150deg);}
.object2_11 {animation-name:object2_11;transform:translate(2.1em, -4em) rotate(-150deg);}
.object2_12 {animation-name:object2_12;transform:translate(0, -5em) rotate(180deg);}

/* object1 */
@keyframes object1_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 2.8em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(45deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, 2em) rotate(45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-45deg) scale(0);}
  70%{opacity:1;transform:translate(2em, 2em) rotate(-45deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform:translate(-3em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform:translate(3em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(-2em, -2em) rotate(135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-135deg) scale(0);}
  70%{opacity:1;transform:translate(2em, -2em) rotate(-135deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object1_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(135deg) scale(0);}
  70%{opacity:1;transform:translate(0, -2.8em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}

/* object2 */
@keyframes object2_1 {
  0%{opacity:0;transform:translate(0, 0) rotate(0deg) scale(0);}
  70%{opacity:1;transform:translate(0, 5em) rotate(0deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_2 {
  0%{opacity:0;transform:translate(0, 0) rotate(30deg) scale(0);}
  70%{opacity:1;transform:translate(-2.1em, 4em) rotate(30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_3 {
  0%{opacity:0;transform:translate(0, 0) rotate(-30deg) scale(0);}
  70%{opacity:1;transform:translate(2.1em, 4em) rotate(-30deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_4 {
  0%{opacity:0;transform:translate(0, 0) rotate(60deg) scale(0);}
  70%{opacity:1;transform:translate(-4.2em, 2.1em) rotate(60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_5 {
  0%{opacity:0;transform:translate(0, 0) rotate(-60deg) scale(0);}
  70%{opacity:1;transform:translate(4.2em, 2.1em) rotate(-60deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_6 {
  0%{opacity:0;transform:translate(0, 0) rotate(90deg) scale(0);}
  70%{opacity:1;transform:translate(-5em, 0) rotate(90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_7 {
  0%{opacity:0;transform:translate(0, 0) rotate(-90deg) scale(0);}
  70%{opacity:1;transform:translate(5em, 0) rotate(-90deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_8 {
  0%{opacity:0;transform:translate(0, 0) rotate(120deg) scale(0);}
  70%{opacity:1;transform:translate(-4.2em, -2.1em) rotate(120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_9 {
  0%{opacity:0;transform:translate(0, 0) rotate(-120deg) scale(0);}
  70%{opacity:1;transform:translate(4.2em, -2.1em) rotate(-120deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_10 {
  0%{opacity:0;transform:translate(0, 0) rotate(150deg) scale(0);}
  70%{opacity:1;transform:translate(-2.1em, -4em) rotate(150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_11 {
  0%{opacity:0;transform:translate(0, 0) rotate(-150deg) scale(0);}
  70%{opacity:1;transform:translate(2.1em, -4em) rotate(-150deg) scale(1);}
  100%{opacity:0;}
}
@keyframes object2_12 {
  0%{opacity:0;transform:translate(0, 0) rotate(180deg) scale(0);}
  70%{opacity:1;transform:translate(0, -5em) rotate(180deg) scale(1);}
  100%{opacity:0;}
}
