@charset "utf-8";

/* reset - 202411 와이드 */
.desktop .fb__event .promotion{min-width:1200px}
.desktop .fb__event .promotion__content, .tablet .fb__event .promotion__content{display:block}

.event_wrap, .event_wrap .evt_wide_wrap{position:relative}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1200px;margin:0 auto;text-align:left}
.event_wrap .evt_section img{display:block;margin: 0 -360px auto;vertical-align:top}

.event_wrap .p_evt_sec2{background:#eee}

/* product */
.event_wrap .product_banner{display:flex;margin:0 40px}
.event_wrap .product_banner li{width:50%;height:540px}
.event_wrap .product_banner a{display:block;width:100%;height:100%}
.event_wrap .product_banner .inner{position:relative}

.event_wrap .product_img{display:block;width:544px}
.event_wrap .product_img img{margin:0 !important}
.event_wrap .item1 .product_info{position:absolute;top:350px;left:40px}
.event_wrap .item2 .product_info{position:absolute;top:0;left:40px}

.event_wrap .product_info{display:flex;flex-wrap:wrap;padding-top:30px;font-weight:600}
.event_wrap .product_info:before{content:'';position:absolute;top:0;left:0;width:80px;height:4px;background:#80c342;border-radius:50px}
.event_wrap .product_brand{font-size:16px;font-weight:800;color:#333;line-height:26px}
.event_wrap .product_title{flex-basis:100%;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-.5px;word-break:keep-all;margin-bottom:15px}
.event_wrap .original{flex-basis:100%}
.event_wrap .original del{font-size:18px;color:#999;letter-spacing:-.6px}
.event_wrap .sale{margin-top:4px}
.event_wrap .sale ins{font-size:24px;color:#222;letter-spacing:-.6px;text-decoration:none}
.event_wrap .sale .won{font-size:18px;color:#222;margin-left:-3px}
.event_wrap .sale_name{font-size:18px;color:#222;margin-right:2px}
.event_wrap .percent{margin:4px 0 0 8px}
.event_wrap .percent .num{font-size:24px;color:#ff752a}
.event_wrap .percent .unit{font-size:24px;color:#ff752a;margin-left:-4px}

.event_wrap .banner_desc{font-size:16px;color:#999;text-align:center;padding-bottom:100px}
