@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* mobile */
.event_wrap.mevt .event_wrap.mevt{max-width:none}
.event_wrap.mevt .evt_section{max-width:none}
.event_wrap.mevt img{width:100%}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap.mevt .evt_section,
.event_wrap.mevt .evt_notice{position:relative;font-family:'Noto Sans KR',sans-serif;font-weight:400}

/* notice */
.event_wrap.mevt .evt_notice{padding:50px 7.5%;background-color:#ececec}
.event_wrap.mevt .evt_notice > .notice_title:first-child{margin-top:0}
.event_wrap.mevt .notice_title{display:inline-block;margin-top:50px;color:#333;font-size:15px;font-weight:700}
.event_wrap.mevt .notice_list{margin-top:12px;padding:0;border-top-width:1px}
.event_wrap.mevt .notice_list li{position:relative;padding-left:8px;color:#333;font-size:12px;line-height:1.5;word-break:keep-all}
.event_wrap.mevt .notice_list li:before{content:'';position:absolute;top:7px;left:0;width:2px;height:2px;background-color:#333}

.event_wrap.mevt .evt_sec1{background-color:#455761;padding-bottom:70px}
.event_wrap.mevt .evt_sec1 .inner_section{text-align: center}
.event_wrap.mevt .evt_sec2, .evt_sec3, .evt_sec4{background-color:#f2f2f2}
.event_wrap.mevt .evt_sec2 .btn_lnk{display:block;position:absolute;bottom: 10%;left: 20%;width: 59%;height: 8%}


/* slide */
.vote_slide_wrap {position:relative;padding:0 32px;font-size:0}
.vote_slide_wrap .swiper-container{overflow:hidden}
.vote_slide_wrap .swiper-slide{display:inline-block;text-align: center}
.vote_slide_wrap .swiper-slide .pick_cont{position:relative;display:inline-block;width:calc(50% - 3px);margin-left:3px}
.vote_slide_wrap .swiper-slide .btn_vote{display:inline-block;width:120px;height:40px;margin-top:24px;padding:0;border:0;cursor:pointer}
.vote_slide_wrap .swiper-slide .btn_vote.type1{background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_vote1.png') no-repeat 0 0;background-size:100%}
.vote_slide_wrap .swiper-slide .btn_vote.type2{background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_vote2.png') no-repeat 0 0;background-size:100%}
.vote_slide_wrap .swiper-button-prev,
.vote_slide_wrap .swiper-button-next{top:21%;width:15px;height:28px;margin-top:0} 
.vote_slide_wrap .swiper-button-prev{left:2.8% !important;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_prev.png') 0 0 no-repeat;background-size:100% auto}
.vote_slide_wrap .swiper-button-next{right:2.8% !important;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_next.png') 0 0 no-repeat;background-size:100% auto}
.vote_slide_wrap .swiper-button-prev.swiper-button-disabled,
.vote_slide_wrap .swiper-button-next.swiper-button-disabled {opacity:0}
.vote_slide_wrap  .vote_count {display:inline-block;min-width:140px;height:44px;margin-top:40px;padding:0px 20px 0 80px;-webkit-border-radius:22px;border-radius:22px;background:#fff url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/bg_vote_count.png') no-repeat left 6px center;background-size:auto 32px;-webkit-box-sizing:border-box;box-sizing:border-box;color:#333;font-size:14px;font-weight:500;text-align:center;line-height:44px}


/* comment */
.event_wrap.mevt .comment_wrap{padding:0 7.5%;font-size:0}
.event_wrap.mevt textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap.mevt .textarea_wrap{position:relative;border:1px solid #ebebeb;background:#fff;vertical-align:top}
.event_wrap.mevt .textarea_wrap textarea,
.event_wrap.mevt .textarea_wrap textarea:disabled{width:100%;height:100px;padding:15px;border:0;background:none;font-size:13px;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none;font-family:'Noto Sans KR',sans-serif}
.event_wrap.mevt .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap.mevt .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:13px;color:#666;font-family:'Noto Sans KR',sans-serif}
.event_wrap.mevt .comment_wrap .btn_enroll{display:block;width:31.85%;height:37px;margin:8px auto 0;border:0;background-color:#6fbb1d;color:#fff;font-size:13px;font-weight:700;cursor:pointer}

.event_wrap.mevt .comment_list{padding:32px 6% 0}
.event_wrap.mevt .comment_list li{border-bottom:1px solid #cbcbcb}
.event_wrap.mevt .comment_list li:first-child{border-top:1px solid #cbcbcb}
.event_wrap.mevt .comment_list .inner{position:relative;padding:15px 6px;font-size:0}
.event_wrap.mevt .comment_list span{display:inline-block;font-size:13px;color:#333;vertical-align:middle}
.event_wrap.mevt .comment_list .comment_writer{min-width:75px;color:#333}
.event_wrap.mevt .comment_list .comment_date{color:#333}
.event_wrap.mevt .comment_list .comment_title{display:block;width:100%;margin-top:18px;font-weight:500;color:#333;line-height:1.5;word-break:keep-all}
.event_wrap.mevt .comment_list .btn_close{top:20px;right:11px;width:11px;height:11px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_close.png) 0 0 no-repeat;background-size:100% auto}

.event_wrap.mevt .paginate{padding:20px 0 70px;font-size:0;text-align:center}
.event_wrap.mevt .paginate a{display:inline-block;margin:0 4px;width:22px;height:22px;vertical-align:middle}
.event_wrap.mevt .paginate .num{display:block;position:relative;width:22px;height:22px;font-weight:400;font-size:15px;color:#333;line-height:22px}
.event_wrap.mevt .paginate .num:before{position:absolute;top:5px;left:-4px;width:1px;height:13px;background:#b6b6b6;content:''}
.event_wrap.mevt .paginate .num.on{display:block;color:#6fbb1d}
.event_wrap.mevt .paginate .sp{display:inline-block;width:5px;height:8px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/sp_arrow.png) left center no-repeat;background-size:200% auto;vertical-align:middle}
.event_wrap.mevt .paginate .sp_prev{margin:7px 2px 0 0}
.event_wrap.mevt .paginate .sp_next{margin:7px 0 0 2px;background-position:100% 0}
.event_wrap.mevt .paginate a:first-child + a .num:before{display:none}


/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:300px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:60px 10px 22px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:17px;font-weight:700;font-family:'Noto Sans KR',sans-serif;color:#333;line-height:1.4}
/* .layer_popup_wrap .popup_txt{width:56.8441064%;margin:14px auto 0;font-size:15px;color:#fff;line-height:1.5} */
.layer_popup_wrap .btn_area{margin-top:38px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{display:inline-block;position:relative;width:90px;height:40px;-webkit-border-radius:20px;border-radius:20px;background:#6fbb1d;font-size:16px;color:#fff;vertical-align:middle;line-height:40px;text-indent:0}
.layer_popup_wrap .btn_area .btn_cancel{display:inline-block;position:relative;width:90px;height:40px;margin-left:8px;-webkit-border-radius:20px;border-radius:20px;background:#666;font-size:16px;color:#fff;vertical-align:middle;line-height:40px;text-indent:0}