@charset "utf-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{vertical-align:top;}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section,
.event_wrap .evt_notice{overflow:hidden;position:relative;max-width:1020px;margin:0 auto;font-family:'Noto Sans KR',sans-serif;font-weight:400}

/* notice */
.event_wrap .evt_notice{padding:80px 125px;background-color:#ececec;box-sizing:border-box}
.event_wrap .evt_notice > .notice_title:first-child{margin-top:0}
.event_wrap .notice_title{display:block;margin-top:40px;font-size:20px;font-weight:700;color:#333}
.event_wrap .notice_list{margin-top:12px}
.event_wrap .notice_list li{position:relative;padding-left:11px;font-size:16px;font-weight:400;color:#333;line-height:26px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:11px;left:2px;width:3px;height:3px;background-color:#333;border-radius:50%;-webkit-border-radius:50%;content:''}

.p_evt_sec1 .inner_section{padding:0 125px;background-color:#f2f2f2;text-align:center;}
.p_evt_sec2 .btn_lnk{display:block;position:absolute;bottom:100px;left:342px;width:336px;height:83px;}
.p_evt_sec3, .p_evt_sec4{padding:0 125px;background-color:#f2f2f2;box-sizing:border-box}


/* slide */
.vote_slide_wrap {position:relative;width:770px;margin-top:-9px;padding:0 81px 100px;background-color:#455761;font-size:0;box-sizing:border-box;}
.vote_slide_wrap .swiper-container{overflow:hidden;width:602px;height:484px;}
.vote_slide_wrap .swiper-slide{display:inline-block;}
.vote_slide_wrap .swiper-slide .pick_cont{position:relative;display:inline-block;margin-left:6px;}
.vote_slide_wrap .swiper-slide .btn_vote{display:block;width:120px;height:40px;margin:24px auto 0;padding:0}
.vote_slide_wrap .swiper-slide .btn_vote.type1{background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_vote1.png') no-repeat 0 0;background-size:100%;}
.vote_slide_wrap .swiper-slide .btn_vote.type2{background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_vote2.png') no-repeat 0 0;background-size:100%;}
.vote_slide_wrap .controls [class^="btn_"]{position:absolute;top:116px;display:inline-block;width:30px;height:56px;} 
.vote_slide_wrap .controls .btn_prev{left:32px;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_prev.png') no-repeat left top}
.vote_slide_wrap .controls .btn_next{right:32px;background:url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_next.png') no-repeat right top}
.vote_slide_wrap .controls .hide{display:none}
.vote_slide_wrap  .vote_count {display:inline-block;min-width:200px;height:60px;padding:0 30px 0 116px;-webkit-border-radius:30px;border-radius:30px;background:#fff url('https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/bg_vote_count.png') no-repeat 11px 50%;-webkit-box-sizing:border-box;box-sizing:border-box;color:#333;font-size:22px;font-weight:500;text-align:center;line-height:61px;}
.vote_slide_wrap  .vote_count .num{font-weight:700;}


/* comment */
.event_wrap .comment_wrap{font-size:0}
.event_wrap textarea{appearance:none;-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.event_wrap .textarea_wrap{position:relative;display:inline-block;width:calc(100% - 180px);border:1px solid #ebebeb;background-color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;vertical-align:top}
.event_wrap .textarea_wrap textarea,
.event_wrap .textarea_wrap textarea:disabled{width:100%;height:108px;padding:20px;border:0;background:none;font-size:16px;font-family:'Noto Sans KR',sans-serif;color:#111;-webkit-box-sizing:border-box;box-sizing:border-box;opacity:1;resize:none;-webkit-appearance:none}
.event_wrap .textarea_wrap textarea::-webkit-input-placeholder, 
.event_wrap .textarea_wrap textarea:disabled::-webkit-input-placeholder{font-size:16px;color:#666;font-family:'Noto Sans KR',sans-serif;}
.event_wrap .comment_wrap .btn_enroll{display:inline-block;width:172px;height:108px;margin-left:8px;border:0;background-color:#6fbb1d;color:#fff;font-size:18px;font-weight:700;}

.event_wrap .comment_list{margin:36px 0 0;border-top:1px solid #cbcbcb}
.event_wrap .comment_list li{border-bottom:1px solid #cbcbcb}
.event_wrap .comment_list .inner{position:relative;padding:16px 100px 16px 30px;font-size:0}
.event_wrap .comment_list span{display:inline-block;font-size:16px;color:#231f1d;vertical-align:middle}
.event_wrap .comment_list .comment_writer{min-width:146px;color:#333}
.event_wrap .comment_list .comment_date{color:#333}
.event_wrap .comment_list .comment_title{display:block;width:100%;margin-top:6px;color:#333;line-height:1.5;word-break:keep-all}
.event_wrap .comment_list .btn_close{top:30px;right:32px;width:22px;height:22px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/btn_close.png) 0 0 no-repeat}

.event_wrap .paginate{padding:30px 0 96px;font-size:0;text-align:center}
.event_wrap .paginate a{display:inline-block;width:22px;height:22px;margin:0 8px;vertical-align:middle}
.event_wrap .paginate .num{display:block;position:relative;width:22px;height:22px;font-size:16px;color:#333;line-height:22px}
.event_wrap .paginate .num:before{position:absolute;top:5px;left:-9px;width:1px;height:16px;background:#b6b6b6;content:''}
.event_wrap .paginate .num.on{display:block;color:#6fbb1d}
.event_wrap .paginate .sp{display:inline-block;width:10px;height:15px;background:url(https://www.pulmuoneshop.co.kr/upload/images/event/202012/1223_green_vegetable_juice/img/sp_arrow.png) 0 0 no-repeat;background-size:200% auto;vertical-align:middle}
.event_wrap .paginate .sp_prev{margin:5px -8px 0 0}
.event_wrap .paginate .sp_next{margin:5px 0 0 -8px;background-position:100% 0}
.event_wrap .paginate a:first-child + a .num:before{display:none}


/* layer popup */
.layer_popup_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;text-align:center;font-size:0;letter-spacing:-4px;z-index:510;background:none;transform:translate(0,0);-webkit-transform:translate(0,0)}
.layer_popup_wrap .dimmed{position:absolute;top:0;left:0;z-index:500;width:100%;height:100%;filter:alpha(opacity=50);opacity:0.5;background-color:#000}
.layer_popup_wrap:after{display:inline-block;overflow:hidden;height:100%;vertical-align:middle;content:''}
.layer_popup_wrap.is_opened{display:block}
.layer_popup_wrap .layer_inner_wrap{position:relative;display:inline-block;width:520px;margin:0 10px;background:#fff;vertical-align:middle;letter-spacing:-.05px;z-index:510}
.layer_popup_wrap .layer_popup_contents{height:auto;padding:0}
.layer_popup_wrap .layer_popup_content{padding:120px 10px 44px;border:0;box-sizing:border-box;-webkit-box-sizing:border-box}
.layer_popup_wrap .popup_tit{display:block;font-size:34px;font-weight:700;color:#333;font-family:'Noto Sans KR',sans-serif;letter-spacing:-.05em;line-height:1.4}
/* .layer_popup_wrap .popup_txt{margin-top:30px;font-size:26px;font-weight:300;color:#fff;letter-spacing:-1px;line-height:37px} */
.layer_popup_wrap .btn_area{margin-top:76px;font-size:0;text-align:center}
.layer_popup_wrap .btn_area .btn_confirm{display:inline-block;position:relative;width:180px;height:80px;-webkit-border-radius:40px;border-radius:40px;background-color:#6fbb1d;font-size:32px;color:#fff;letter-spacing:-.05em;vertical-align:middle;line-height:80px;text-indent:0}
.layer_popup_wrap .btn_area >.btn_cancel{display:inline-block;position:relative;width:180px;height:80px;margin-left:16px;-webkit-border-radius:40px;border-radius:40px;background-color:#666 !important;font-size:32px;color:#fff !important;letter-spacing:-.05em;vertical-align:middle;line-height:80px;text-indent:0}
