@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_lnk1{top:15%;left:6%;right:6%;height:39%}

/* coupon */
.event_wrap .coupon_list{position:absolute;top:40.2778vw;left:0;right:0}
.event_wrap .coupon_item_info .info_name{letter-spacing:-0.4vw;}

/* notice */
.event_wrap .p_evt_noti{background:#689540}
.event_wrap .p_evt_noti::after{content:'';position:absolute;top:0;left:5.5555vw;right:5.5555vw;height:100%;margin:0 auto;background:#ebe592;border-radius:0 0 12px 12px;z-index:0}
.event_wrap .evt_notice{position:relative;padding:0 11.1111vw 13.8888vw;box-sizing:border-box;z-index:1}
