@charset "utf-8";

/* common */
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}
.event_wrap .btn{position:absolute;border:0;background:url(about:blank) 0 0 no-repeat}
.event_wrap .evt_section{overflow:hidden;position:relative;max-width:1020px;margin:0 auto}

.event_wrap .planshop_list{position:absolute;top:0;left:0;width:100%;height:7.5%;background:url(about:blank) 0 0 no-repeat;font-size:0}
.event_wrap .planshop_list li{display:inline-block;width:20%;height:100%}
.event_wrap .planshop_list a{display:block;width:100%;height:100%}

.event_wrap .btn_lnk{left:17%;bottom:4%;width:67%;height:14%}

/* mobile */
.event_wrap.mevt .planshop_list{height:11.5%}
.event_wrap.mevt .btn_lnk{left:0;bottom:0;width:100%;height:21%;padding:0}
