@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px;margin:0 auto}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto !important;vertical-align:top}

/* 무비 */
.event_wrap .evt_mov{position:absolute;top:0;left:50%;transform:translateX(-50%);min-width:100%;min-height:100%;width:auto;height:100%}
.event_wrap .evt_mov video{display:block;width:auto;height:100%;object-fit:cover}

/* 동영상 */
.event_wrap .video_wrap{position:absolute;top:563px;left:50%;transform:translateX(-50%);width:992px;height:558px;background:url(https://i.vimeocdn.com/video/1765670338-1a15af13d2e4e346e1590dc093d1e0e828adc4c6a803a5bea63f02640140db14-d?mw=1700&mh=956) 50%/100%;margin:0 auto}
.event_wrap .video_wrap iframe{display:block;width:100%;height:100%;border:0}