@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* link */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0 !important}
.event_wrap .btn_lnk1{top:13%;left:7%;right:7%;height:5%}

/* notice */
.event_wrap .p_evt_noti{background:#7dc23f}
.event_wrap .evt_notice{padding:0 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.motion_box{overflow:hidden;position:absolute;width:100%;height:100%;top:0;left:0}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .chat1{top:82.4vw;left:33vw;width:37vw}
.motion_box .chat2{top:98vw;left:30.5vw;width:25.5vw;-webkit-animation-delay:0.8s !important;animation-delay:0.8s !important}
.motion_box .chat3{top:109vw;left:38vw;width:32.2vw;-webkit-animation-delay:1.6s !important;animation-delay:1.6s !important}
.motion_box .chat4{top:120.5vw;left:45.3vw;width:25vw;-webkit-animation-delay:2s !important;animation-delay:2s !important}
.motion_box .chat5{top:132.2vw;left:50.5vw;width:20vw;-webkit-animation-delay:2.4s !important;animation-delay:2.4s !important}
.motion_box .chat6{top:143vw;left:30vw;width:22vw;-webkit-animation-delay:3s !important;animation-delay:3s !important}

.motion_box .motion_click{top:35.9vw;left:74.7vw;width:20vw}
.motion_box .evt_lottie{position:absolute;top:138vw;left:27vw;width:30vw;height:30vw;-webkit-animation-delay:3s !important;animation-delay:3s !important}
.motion_box .evt_lottie2{position:absolute;top:50vw;left:-1vw;width:48vw;height:48vw}

.motion_box .motion2{-webkit-animation:silde-right 2s 0.4s both;animation:silde-right 2s 0.4s both}
@-webkit-keyframes silde-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(40px, 0);
            transform: translate(40px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
}
@keyframes silde-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(40px, 0);
            transform: translate(40px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
}

.motion_box .motion3{-webkit-animation:silde-left 2s 0s both;animation:silde-left 2s 0s both}
@-webkit-keyframes silde-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40px, 0);
            transform: translate(-40px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
}
@keyframes silde-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-40px, 0);
            transform: translate(-40px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
}

.motion_box .motion4{-webkit-animation:click 2s 0s infinite both;animation:click 2s 0s infinite both}
@-webkit-keyframes click {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes click {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
