@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#7dc23f}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:16%;right:16%;height:53%}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;width:43.61%;top:95.4166vw;left:50%;transform:translateX(-50%);z-index:20}
.event_wrap .coupon_item_info{position:relative;background:#fff;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 1vw 3.33vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-position:101% 0;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:3.8vw;font-weight:700;line-height:3.5vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#73c40b;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#727272;font-size:3vw;line-height:3vw}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;line-height:9.28vw;left:50%;transform:translateX(-50%);border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;margin-top:1.9444vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:5vw;height:3.6vw;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;margin-left:1.5vw;content:''}

.event_wrap .coupon_desc{position:absolute;width:100%;top:72%;left:50%;transform:translateX(-50%);text-align:center;margin-top:4.8611vw;color:#333}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:0.1vw}
.event_wrap .coupon_desc span small{font-size:3.6vw;vertical-align:sub}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin:0 5.556vw}
.event_wrap .product_list li{width:100%;margin-bottom:5.556vw;vertical-align:top;background:#fff}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;display:flex;align-items:center;font-size:0}

.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;min-width:44.444vw;max-width:44.444vw;height:47.222vw}
.event_wrap .product_img img{min-width:47.222vw;max-width:47.222vw}
.event_wrap .product_info{display:block;width:44.444vw;padding:0 3.889vw;box-sizing:border-box}
.event_wrap .product_title{display:block;font-size:3.88889vw;font-weight:500;color:#222;line-height:5.55556vw;letter-spacing:-.3px;word-break:keep-all;margin:0.2vw 0 0.694vw}
.event_wrap .percent{position:absolute;top:0;left:0;width:9.722vw;height:9.722vw;line-height:9.722vw;text-align:center;background:#ff752a}
.event_wrap .percent .num{display:inline-block;font-size:4.722vw;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:2.778vw;color:#fff}
.event_wrap .original{display:block;margin-top:1.6vw}
.event_wrap .original del{display:inline-block;font-size:3.33333vw;color:#999;letter-spacing:-.3px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale .price{display:inline-block;font-size:3.33333vw;margin-right:4px;letter-spacing:-.3px}
.event_wrap .sale ins{display:inline-block;font-size:4.44444vw;font-weight:600;color:#222;letter-spacing:-.3px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:3.33333vw;font-weight:500;color:#222}

/* notice */
.event_wrap .p_evt_noti{background:#a7e8ab url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202306/0607_member_recommend2/img/friend/img_noti.jpg) center top/100%}
.event_wrap .evt_notice{padding:0 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.motion_box{overflow:hidden;position:absolute;width:100%;height:110%;top:0;left:0;z-index:1}
.motion_box img{width:100%;margin:0 !important;-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.motion_box span{position:absolute}

.motion_box .object1{top:111vw;left:60vw;width:52vw}

.motion_box .motion1{-webkit-animation:bounce-up 4s 0s ease-in-out infinite both;animation:bounce-up 4s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 20px);
            transform:translate(0, 20px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
