@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#7dc23f}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0}
.event_wrap .btn_lnk1{top:0;left:37.5%;right:37.5%;height:35%}

/* 쿠폰 */
.event_wrap .coupon_item{position:absolute;width:266px;top:525px;left:50%;transform:translateX(-50%)}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#fff;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:-86px 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#232323;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#73c40b;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#727272;font-size:17px;line-height:22px}

.event_wrap .coupon_item_btn{position:relative;display:inline-block;width:100%;height:52px;left:50%;transform:translateX(-50%);margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:after{position:relative;display:inline-block;width:26px;height:16px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon_down.svg) 0 0 no-repeat;margin-left:6px;content:''}

.event_wrap .coupon_desc{position:absolute;top:75%;left:50%;transform:translateX(-50%);text-align:center;margin-top:20px;color:#333}
.event_wrap .coupon_desc span{display:block;margin:0 5px}
.event_wrap .coupon_desc span small{font-size:16px;vertical-align:text-bottom}

/* product */
.event_wrap .product_list{display:flex;flex-wrap:wrap;margin-left:40px;box-sizing:border-box;z-index:20}
.event_wrap .product_list li{width:250px;margin-right:29px;vertical-align:top}
.event_wrap .product_list a{display:block;width:100%;height:100%}
.event_wrap .product_list .inner{position:relative;font-size:0}

.event_wrap .product_img{display:flex;justify-content:center;align-items:center;overflow:hidden;width:100%;height:250px;background:#fff}
.event_wrap .product_img img{height:100%;margin:0 !important}
.event_wrap .product_info{display:block;padding-top:20px;margin-bottom:56px;box-sizing:border-box}
.event_wrap .product_title{overflow:hidden;display:block;font-size:20px;font-weight:400;color:#222;line-height:26px;letter-spacing:-1px;word-break:keep-all;margin-bottom:5px}
.event_wrap .percent{position:absolute;top:0;left:0;width:60px;height:60px;line-height:60px;text-align:center;background:#ff752a}
.event_wrap .percent .num{display:inline-block;font-size:26px;font-weight:600;color:#fff;font-family:'Lato'}
.event_wrap .percent .unit{display:inline-block;font-size:14px;color:#fff}
.event_wrap .original{display:block;margin:15px 0 0 0}
.event_wrap .original del{display:inline-block;font-size:18px;color:#6b6b6b;letter-spacing:-.6px;font-family:'Lato'}
.event_wrap .sale{display:inline-block}
.event_wrap .sale .price{display:inline-block;font-size:18px;margin-right:8px;letter-spacing:-.6px}
.event_wrap .sale ins{display:inline-block;font-size:24px;font-weight:600;color:#222;letter-spacing:-.6px;text-decoration:none;font-family:'Lato'}
.event_wrap .sale .won{display:inline-block;font-size:18px;font-weight:500;color:#222}

/* notice */
.event_wrap .p_evt_noti{background:#a7e8ab url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202306/0607_member_recommend2/img/friend/p_img_noti.jpg) center top}
.event_wrap .evt_notice{padding:0 80px 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:12px 10px 16px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.event_wrap .p_evt_tit{z-index:1}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object1{top:230px;left:910px}
.motion_box .object2{top:340px;left:-245px;-webkit-animation-delay:1s !important;animation-delay:1s !important}

.motion_box .motion1{-webkit-animation:bounce-up 4s 0s ease-in-out infinite both;animation:bounce-up 4s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
