@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto} 

/* wide common */
.event,.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0 !important}
.event_wrap .btn_lnk1{top:52.7%;left:18%;right:18%;height:5.8%;border-radius:100px}

/* notice */
.event_wrap .p_evt_noti{background:#7dc23f}
.event_wrap .evt_notice{padding:80px 0 120px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/icon.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* 모션 */
.event_wrap .p_evt_tit{z-index:1}
.motion_box img{margin:0 !important}
.motion_box span{position:absolute}

.motion_box .object1{top:200px;left:940px}
.motion_box .object2{top:690px;left:-260px;-webkit-animation-delay:0.8s !important;animation-delay:0.8s !important}

.motion_box .chat1{top:326px;left:478px}
.motion_box .chat2{top:420px;left:466px;-webkit-animation-delay:0.8s !important;animation-delay:0.8s !important}
.motion_box .chat3{top:484px;left:507px;-webkit-animation-delay:1.6s !important;animation-delay:1.6s !important}
.motion_box .chat4{top:554px;left:550px;-webkit-animation-delay:2s !important;animation-delay:2s !important}
.motion_box .chat5{top:625px;left:588px;-webkit-animation-delay:2.4s !important;animation-delay:2.4s !important}
.motion_box .chat6{top:690px;left:465px;-webkit-animation-delay:3s !important;animation-delay:3s !important}

.motion_box .motion_click{top:730px;left:880px}
.motion_box .evt_lottie{position:absolute;top:660px;left:445px;width:180px;height:180px;-webkit-animation-delay:3s !important;animation-delay:3s !important}
.motion_box .evt_lottie2{position:absolute;top:620px;left:1030px;width:250px;height:250px}

.motion_box .motion1{-webkit-animation:bounce-up 4s 0s ease-in-out infinite both;animation:bounce-up 4s 0s ease-in-out infinite both}
@-webkit-keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}
@keyframes bounce-up {
  0%, 100% {
    -webkit-transform:translate(0, 30px);
            transform:translate(0, 30px);
  }
  50% {
    -webkit-transform:translate(0, 0);
            transform:translate(0, 0);
  }
}

.motion_box .motion2{-webkit-animation:silde-right 2s 0.4s both;animation:silde-right 2s 0.4s both}
@-webkit-keyframes silde-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}
@keyframes silde-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

.motion_box .motion3{-webkit-animation:silde-left 2s 0s both;animation:silde-left 2s 0s both}
@-webkit-keyframes silde-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}
@keyframes silde-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

.motion_box .motion4{-webkit-animation:click 2s 0s infinite both;animation:click 2s 0s infinite both}
@-webkit-keyframes click {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes click {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
