@charset "utf-8";
@import url("https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/css/m_common_2024.css");

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* btn */
.event_wrap .btn{display:inline-block;width:88.8888vw;height:12.5vw;line-height:12.5vw;padding-right:4.7222vw;border-radius:2.5vw;font-size:4.1666vw;font-weight:800;text-align:center;box-sizing:border-box}
.event_wrap .btn::before{content:'';display:block;position:absolute;width:8px;height:2px;left:81%;top:51%;background-color:#fff;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.event_wrap .btn::after{content:'';display:block;position:absolute;width:8px;height:2px;left:81%;top:40%;background-color:#fff;transform:rotate(45deg);-webkit-transform:rotate(45deg)}

.event_wrap .btn_lnk1::before{left:76%;background-color:#6e8c44}
.event_wrap .btn_lnk1::after{left:76%;background-color:#6e8c44}

.event_wrap .btn_lnk1{position:absolute;top:6.1111vw;left:5.5555vw;background:#f0f0f0;color:#6e8c44}
.event_wrap .btn_lnk2{position:relative;margin-bottom:11.1111vw;background:#6e8c44;color:#fff}

.event_wrap .p_evt_sec2{text-align:center}
