@charset "utf-8";

/* .event_wrap{padding-top:14.44444vw} */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_tab{height:25vw}
.event_wrap .p_evt_tab .evt_section{position:absolute;top:0;left:50%;z-index:50;width:100%;height:25vw;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;top:14.44444vw}

.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;left:0;bottom:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.p_evt_tab .evt_tab_wrap li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_member_launch_guide/img/evt_tab_on.jpg) 0 0 no-repeat;background-size:500% auto;content:''}
.p_evt_tab .evt_tab_wrap .tab1.on:after{background-position:0 0}
.p_evt_tab .evt_tab_wrap .tab2.on:after{background-position:25% 0}
.p_evt_tab .evt_tab_wrap .tab3.on:after{background-position:50% 0}
.p_evt_tab .evt_tab_wrap .tab4.on:after{background-position:75% 0}
.p_evt_tab .evt_tab_wrap .tab5.on:after{background-position:100% 0}

.event_wrap .btn{position:absolute;left:15%;width:70%;height:13%}
.event_wrap .btn_lnk1{top:55%}
.event_wrap .btn_lnk2{top:73.5%}
