@charset "utf-8";

.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{vertical-align:top}
.event_wrap .btn{position:absolute;border:0}

.event_wrap .evt_wide_wrap:after{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;content:''}
.event_wrap .p_evt_tit:after{background:#009333}
.event_wrap .p_evt_tab:after{background:#00852e}
.event_wrap .p_evt_sec1:after,.event_wrap .p_evt_sec3:after,.event_wrap .p_evt_sec5:after{background:#f4f4f4}
.event_wrap .p_evt_sec7:after{background:#eaf7d9}

.event_wrap .p_evt_tab{height:100px}
.event_wrap .p_evt_tab .evt_section{position:absolute;top:0;left:50%;z-index:50;-webkit-transform:translate3d(-50%,0px,0px);transform:translate3d(-50%,0px,0px)}
.event_wrap .p_evt_tab.is_fixed .evt_section{position:fixed;}

.event_wrap .p_evt_tab.is_fixed .evt_section:before{position:absolute;top:0;left:-376px;width:376px;height:100px;background:#00852e;content:'';}
.event_wrap .p_evt_tab.is_fixed .evt_section:after{position:absolute;top:0;right:-376px;width:376px;height:100px;background:#00852e;content:'';}

.event_wrap .evt_tab_wrap{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;font-size:0}
.event_wrap .evt_tab_wrap li{position:relative;display:inline-block;width:20%;height:100%}
.event_wrap .evt_tab_wrap li a{display:block;position:relative;z-index:1;width:100%;height:100%}

.p_evt_tab .evt_tab_wrap li.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0802_member_launch_guide/img/p_evt_tab_on.jpg) 0 0 no-repeat;content:''}
.p_evt_tab .evt_tab_wrap .tab1.on:after{background-position:0 0}
.p_evt_tab .evt_tab_wrap .tab2.on:after{background-position:-233px 0}
.p_evt_tab .evt_tab_wrap .tab3.on:after{background-position:-467px 0}
.p_evt_tab .evt_tab_wrap .tab4.on:after{background-position:-701px 0}
.p_evt_tab .evt_tab_wrap .tab5.on:after{background-position:-934px 0}
