@charset "utf-8";

/* reset */
.mobile .fb .event__stamp .stamp__step + .detail-wrapper__bottom,
.tablet .fb .event__stamp .stamp__step + .detail-wrapper__bottom{padding-top:0}

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;padding:0}
.event_wrap .btn_lnk{position:absolute;top:0;left:0;width:100%;height:100%}
.event_wrap .benefit_list{position:absolute;top:0;right:4.4%;left:4.4%;bottom:0;border:0;padding:0;font-size:0}
.event_wrap .benefit_list li{width:100%;height:33.3%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti{}
.event_wrap .evt_notice{padding:40px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #333;font-size:20px;font-weight:600;color:#333;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/m_icon.png) 0 0 no-repeat;background-size:100px auto;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#333;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#333;border-radius:100%;content:''}

/* stemp buttom size */
.mobile .fb .event__stamp .stamp__step ul.col3, .tablet .fb .event__stamp .stamp__step ul.col3{width:100vw;}
.mobile .fb .event__stamp .stamp__step ul.col3 li, .tablet .fb .event__stamp .stamp__step ul.col3 li{width:25vw;height:25vw;margin-left:3vw}

/* 상단 animation */
.event_wrap .fade_motion > span{position:absolute;top:0;left:0;right:0;bottom:0;opacity:1;overflow:hidden}
.event_wrap .fade_motion > span.on{opacity:0;}
/* 아이폰 이미지 클릭 방지 */
.event_wrap .fade_motion > span img{-webkit-touch-callout:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/* 녹즙 pick swiper */
.event_wrap .swiper-container{position:absolute;top:0;left:0;width:100%}
.event_wrap .swiper-slide{position:relative;box-sizing:border-box}
.event_wrap .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{bottom:9% !important}
.event_wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px !important}
.event_wrap .swiper-pagination-bullet{background:#fff !important}
.event_wrap .swiper-pagination-bullet-active{background:#fff !important}
