@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .event__stamp .stamp__step__area + .desktop .detail-wrapper__bottom{padding:0}
.desktop .fb__event .event__stamp .stamp__step{padding-bottom:0}

/* wide common */
.event_wrap{overflow:hidden}
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;min-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{display:block;max-width:none;margin:0 -376px auto;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;}
.event_wrap .btn_lnk{position:absolute;top:68.5%;left:0;width:100%;height:23.2%}
.event_wrap .benefit_list{position:absolute;top:0;right:0;left:0;top:0;bottom:0;font-size:0}
.event_wrap .benefit_list li{width:100%;height:33.3%}
.event_wrap .benefit_list a{display:block;width:100%;height:100%}

.desktop .fb__event .event__stamp ul.benefit_list{position:absolute;top:0;left:0;bottom:0;width:auto;height:auto;margin:0;padding:0;border:0;font-size:0}
.desktop .fb__event .event__stamp ul.benefit_list li{display:inline-block;width:100%;height:33.3%;margin:0}
.desktop .fb__event .event__stamp ul.benefit_list a{display:block;width:100%;height:100%}

/* notice */
.event_wrap .p_evt_noti:after{position:absolute;top:0;left:0;z-index:-1;max-width:1920px;height:100%;background:#f4f4f4;content:''}
.event_wrap .evt_notice{padding:60px 0 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #333;font-size:22px;font-weight:600;color:#333;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#333;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

.desktop .fb__event .event__stamp ul.notice_list{display:block;width:auto;margin:0 0 50px;padding:12px 20px 33px;border-top:1px solid  rgba(3,51,51,.2);border-bottom:1px solid rgba(3,51,51,.2)}
.desktop .fb__event .event__stamp ul.notice_list li{position:relative;width:auto;height:auto;margin:0;padding-left:16px;font-size:16px;color:#333;letter-spacing:-.5px;line-height:30px;word-break:keep-all}
.desktop .fb__event .event__stamp ul.notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#333;border-radius:100%;content:''}

/* stemp buttom size */
.desktop .fb__event .event__stamp .stamp__step ul.col3{width:1160px}
.desktop .fb__event .event__stamp .stamp__step ul.col3 li{width:180px;height:180px;margin-left:20px}

/* top animation */
.event_wrap .fade_motion > span{position:absolute;top:0;left:0;right:0;bottom:0}
.event_wrap .fade_motion > span img{margin:0 !important}
