@charset "utf-8";

/* reset */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn{position:absolute;border:0;padding:0;margin:0}
.event_wrap .btn_lnk1{top:83%;left:20%;right:20%;height:10%}
.event_wrap .btn_lnk2{top:41%;left:20%;right:20%;height:6%}
.event_wrap .btn_lnk3{top:88%;left:20%;right:20%;height:6%}
