@charset "utf-8";

/* reset */
.desktop .fb__event .event__detail__wrapper .detail .event_wrap img{max-width:none} 

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1168px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;max-width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;vertical-align:top}

/* notice */
.event_wrap .p_evt_noti{background:#604e40}
.event_wrap .evt_notice{padding:70px 80px 73px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:3px 10px 8px 26px;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:22px;height:22px;margin-top:-13px;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:-24px 0;content:''}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}

.event_wrap .noti2{background:#fffceb}
.event_wrap .noti2 .notice_title{color:#333;}
.event_wrap .noti2 .notice_title:before{background-position:0 0}
.event_wrap .noti2 .notice_text{margin-top:30px;padding-left:16px;font-size:16px;font-weight:600;color:#333;line-height:30px;}
.event_wrap .noti2 .notice_text:first-of-type{margin:0}
.event_wrap .noti2 .notice_list li{color:#333}
.event_wrap .noti2 .notice_list li:before{background-color:#333}

/* button template */
.desktop .fb__event .fb__event-comment__join-btn{overflow:hidden;position:relative;max-width:1168px;margin:0 auto;padding:0;background:#604e40;text-align:center}
.desktop .fb__event .fb__event-comment__join-btn:after{position:absolute;top:0;left:50%;z-index:-1;width:100%;height:100%;transform:translate(-50%,0);content:''}
.desktop .fb__event .fb__event-comment__join-btn button{width:350px;height:80px;font-size:0;background:url(https://shop-pulmuone.edge.naverncp.com/MALL/planshop/202108/0817_orga_buy/img/img_btn.png) 0 0 no-repeat}

.desktop .detail-wrapper__bottom{padding-top:0}
