@charset "utf-8";

/* wide common */
.evt_wide_wrap,.event_wrap{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{width:100%;vertical-align:top}

.event_wrap .p_evt_sec1{background:#58209e}

/* button */
.event_wrap .item_list{position:absolute;top:17.14%;left:15.2%;right:15.2%;height:75.5%;display:flex;flex-wrap:wrap;align-content:space-between}
.event_wrap .item_list li{position:relative;width:100%;height:47.95%}
.event_wrap .item_list a{display:block;width:100%;height:100%}

.event_wrap .item_list .dimm{display:block;position:absolute;width:100%;height:55.72%;border-radius:1.6666vw;background:rgba(0,0,0,.5);color:#fff;pointer-events:none;cursor:not-allowed;z-index:20;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center}
.event_wrap .item_list .dimm_desc{font-size:9.1666vw;line-height:9.1666vw;font-weight:300}
.event_wrap .item_list .dimm_desc strong{display:block;width:100%;font-weight:700}
.event_wrap .item_list .dimm_soldout{font-size:6.25vw;font-weight:500}
.event_wrap .item_list .dimm + a{cursor:default;pointer-events:none}

.event_wrap .item_list2{position:absolute;top:17.18%;left:5.5%;right:5.5%;height:74.78%;display:flex;flex-wrap:wrap;align-content:space-between}
.event_wrap .item_list2 li{position:relative;width:100%;height:18.3%}
.event_wrap .item_list2 a{display:block;width:100%;height:100%}

.event_wrap .item_list2 .dimm_soldout{display:block;position:absolute;width:100%;height:100%;border-radius:1.6666vw;background:rgba(0,0,0,.5);color:#fff;pointer-events:none;cursor:not-allowed;z-index:20;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:6.25vw;font-weight:500}
.event_wrap .item_list2 .dimm_soldout + a{cursor:default;pointer-events:none}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:43.61%;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;background:#73c40b;border-radius:0.83vw;display:flex;flex-direction:column;padding:3.33vw 0.5vw 3.13vw 3.88vw;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:13.8vw;height:13.8vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_mark.png) 0 0 no-repeat;background-size:200% auto;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:3.8vw;font-weight:500;line-height:3.5vw;letter-spacing:-0.3vw;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{margin-bottom:0.9vw;margin-left:-2px;color:#fff;font-weight:900;line-height:10vw;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:10vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:5.2vw;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;color:#fff;font-size:3vw;line-height:3vw;letter-spacing:-0.1vw}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:9.28vw;padding-right:7.8vw !important;margin-top:1.94vw !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:3.88vw !important;font-weight:500;letter-spacing:-.35vw;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:32%;left:30.2vw;width:5vw;height:3.6vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_down.svg) no-repeat;background-size:100%;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:5vw}
.event_wrap .coupon_desc span{display:block;font-size:3.6vw;margin-top:1vw;color:#fff}
.event_wrap .coupon_desc span small{font-size:3.6vw;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#58209e}
.event_wrap .evt_notice{padding:50px 5.555555% 60px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:9px 9px 9px 22px;border-top:2px solid #fff;font-size:20px;font-weight:600;color:#fff;line-height:1.5}
.event_wrap .notice_title:before{position:absolute;top:50%;left:0;width:19px;height:19px;margin-top:-9px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;background-size:100% auto !important;content:''}
.event_wrap .notice_list{padding:25px 0;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:6px;font-size:12px;color:#fff;line-height:20px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:10px;left:1px;width:2px;height:2px;background-color:#fff;border-radius:100%;content:''}
