@charset "utf-8";

/* reset - 기획전 와이드형 */
.desktop .fb__event .promotion__content .event_wrap img{max-width:none;margin:0 -376px auto}
.desktop .fb__event .promotion{width:auto;min-width:1168px;max-width:1920px}
.desktop .fb__event .promotion .event_wrap{overflow:hidden}

/* wide common */
.event_wrap .evt_wide_wrap{position:relative;max-width:1920px;margin:0 auto;text-align:left}
.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:1168px;margin:0 auto}
.event_wrap .evt_section img{max-width:none;margin:0 -376px auto;vertical-align:top}

.event_wrap .p_evt_sec1{background:#58209e}

/* button */
.event_wrap .item_list{position:absolute;top:23.4%;left:12.8%;right:13%;height:61%;display:flex;justify-content:space-between}
.event_wrap .item_list li{position:relative;width:400px;height:100%}
.event_wrap .item_list a{display:block;width:100%;height:100%}

.event_wrap .item_list .dimm{display:block;position:absolute;width:100%;height:400px;border-radius:8px;background:rgba(0,0,0,.5);color:#fff;pointer-events:none;cursor:not-allowed;z-index:20;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center}
.event_wrap .item_list .dimm_desc{font-size:45px;line-height:45px;font-weight:300}
.event_wrap .item_list .dimm_desc strong{display:block;width:100%;font-weight:700}
.event_wrap .item_list .dimm_soldout{font-size:32px;font-weight:500}
.event_wrap .item_list .dimm + a{cursor:default;pointer-events:none}

.event_wrap .item_list2{position:absolute;top:16.75%;left:40px;right:40px;height:72%;display:flex;flex-wrap:wrap;justify-content:space-between;align-content:space-between}
.event_wrap .item_list2 li{position:relative;width:49.6%;height:48%}
.event_wrap .item_list2 li:nth-child(n+3){width:32.6%}
.event_wrap .item_list2 a{display:block;width:100%;height:100%}

.event_wrap .item_list2 .dimm_soldout{display:block;position:absolute;width:100%;height:378px;background:rgba(0,0,0,.5);color:#fff;pointer-events:none;cursor:not-allowed;z-index:20;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;text-align:center;font-size:32px;font-weight:500}
.event_wrap .item_list2 li:nth-child(n+3) .dimm_soldout{height:356px}
.event_wrap .item_list2 .dimm_soldout + a{cursor:default;pointer-events:none}

/* 쿠폰 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.event_wrap .coupon_item{position:relative;width:266px;margin:0 auto}
.event_wrap .coupon_item_info{position:relative;height:160px;background:#73c40b;border-radius:6px;display:flex;flex-direction:column;padding:22px 10px 20px 22px;box-sizing:border-box}
.event_wrap .coupon_item_info:before{position:absolute;top:0;right:0;width:86px;height:84px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_mark.png) 0 0 no-repeat;background-position:0 0;content:''}
.event_wrap .coupon_item_info .info_type{color:#fff;font-size:22px;font-weight:700;line-height:18px;font-family:'PulmuoneLOHAS', 'NotoSans','맑은 고딕', 'malgun gothic','Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;z-index:10}
.event_wrap .coupon_item_info .info_discount{color:#fff;font-weight:900;line-height:68px;z-index:10}
.event_wrap .coupon_item_info .info_discount em{font-size:57px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_discount small{font-size:30px;font-family:'Lato', 'NotoSans', "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif}
.event_wrap .coupon_item_info .info_name{display:block;margin-top:-2px;color:#fff;font-size:17px;line-height:22px;letter-spacing:-1px}

.event_wrap .coupon_item_btn{position:relative;width:100%;height:53px;padding-right:38px;margin-top:12px !important;border:1px solid #ddd !important;border-radius:4px;background:#fff !important;color:#333;font-size:20px !important;font-weight:500;letter-spacing:-1px;box-sizing:border-box}
.event_wrap .coupon_item_btn:before{position:absolute;top:36%;left:178px;width:26px;height:16px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/p_icon.png) 0 0 no-repeat;background-position:0 -25px;content:''}

.event_wrap .coupon_desc{text-align:center;margin-top:10px}
.event_wrap .coupon_desc span{display:block;margin:0 5px;color:#fff}
.event_wrap .coupon_desc span small{font-size:16px;vertical-align:text-bottom}

/* notice */
.event_wrap .p_evt_noti{background:#58209e}
.event_wrap .evt_notice{padding:60px 40px 100px;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:13px 10px 18px 46px;border-top:4px solid #fff;font-size:22px;font-weight:600;color:#fff;line-height:30px}
.event_wrap .notice_title:before{position:absolute;top:50%;left:20px;width:22px;height:22px;margin-top:-12px;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/icon_white.svg) 0 0 no-repeat;content:''}
.event_wrap .notice_list{padding:12px 20px;border-top:1px solid rgba(255,255,255,.2);border-bottom:1px solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:16px;font-size:16px;color:#fff;line-height:30px;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:14px;left:0;width:3px;height:3px;background-color:#fff;border-radius:100%;content:''}