@charset "utf-8";

.event_wrap .evt_section,.event_wrap .evt_notice{position:relative;width:100%;margin:0 auto;text-align:left}
.event_wrap .blind{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;line-height:0;margin:-1px}
.event_wrap img{display:block;width:100%;vertical-align:top}

/* button */
.event_wrap .btn_coupon{position:absolute;top:68.9%;left:24.2%;width:51.4%;height:19.8%;padding:0;border:0}

/* notice */
.event_wrap .evt_notice{background:#3a312c;padding:11.66666vw 5.555555vw;box-sizing:border-box}
.event_wrap .notice_title{display:block;position:relative;padding:0.55555vw 0.55555vw 0.55555vw 6.111111vw;border-top:0.555555vw solid #fff;font-size:5.55555vw;font-weight:600;color:#fff;line-height:8.33333vw}
.event_wrap .notice_title:before{position:absolute;top:2.1vw;left:0;width:5.555555vw;height:5.555555vw;background:url(https://shoppulmuone.cdn.ntruss.com/MALL/planshop/common/img/m_icon2.png) 0 0 no-repeat;background-size:100% auto;content:''}
.event_wrap .notice_list{padding:6.944444vw 0;border-top:0.277777vw solid rgba(255,255,255,.2);border-bottom:0.277777vw solid rgba(255,255,255,.2)}
.event_wrap .notice_list li{position:relative;padding-left:1.666666vw;font-size:3.333333vw;color:#fff;line-height:5.55555vw;word-break:keep-all}
.event_wrap .notice_list li:before{position:absolute;top:2.44444vw;left:0;width:0.555555vw;height:0.555555vw;background-color:#ffff;border-radius:100%;content:''}
.event_wrap .notice_list .point{color:#d8d054}
